<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Why catalogues?</span></a></li>
<li><a href="#200"><span>2.</span><span> Important information on Amazon catalogues</span></a></li>
<li><a href="#300"><span>3.</span><span> Important preparation</span></a></li>
<li><a href="#400"><span>4.</span><span> Creating a catalogue for variation export</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>4.1.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#600"><span>4.2.</span><span> Mapping optional data fields (not in catalogue)</span></a></li>
</ul>
</li>
<li><a href="#700"><span>5.</span><span> Linking sources created in the assistant with variations</span></a></li>
<li><a href="#800"><span>6.</span><span> Activating the variation export</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>6.1.</span><span> Activating a catalogue for an existing export</span></a></li>
<li><a href="#1000"><span>6.2.</span><span> Activating a catalogue for a new export</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>7.</span><span> Exporting the Amazon catalogue to a CSV file</span></a></li>
<li><a href="#1200"><span>8.</span><span> Troubleshooting</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up catalogs for variation export to Amazon (BETA)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The Amazon catalogue is here! Amazon is the first big market to be offered for variation export via catalogues. However, if you prefer you can still use the old export.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Why catalogues?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Your catalogues will quickly become your control centre for all variation exports.</p>
</li>
<li>
<p>The catalogue provides the data structure of the flatfile. As such, you know exactly which variation data is necessary to sell your products on Amazon.</p>
</li>
<li>
<p>You decide what variation data is exported for each flatfile and each platform. At the same time, suggestions help you to set up additional catalogues more quickly: Because once you have mapped a source to a field, this mapping is suggested to you next time.</p>
</li>
<li>
<p>You can transmit data more flexibly because you can map fields in any way you like.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Amazon catalogues are a new feature!</div>
<div class="paragraph">
<p>Catalogues for exporting variation data to Amazon are a new feature.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Important information on Amazon catalogues</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>A separate catalogue is created for each combination of an Amazon account, an Amazon platform and a flatfile.<br>
<strong><em>Note:</em></strong> If Amazon releases a new version of the flatfile, a new catalogue needs to be created. The good news is: You can <a href="/en/data/exporting-data/managing-catalogues#80">copy and edit</a> the catalogue with the old flatfile version with a few convenient clicks.</p>
</li>
<li>
<p>Characteristics and free text fields cannot be transmitted to Amazon in catalogues. You can create properties for the mandatory field of a flatfile in the assistant for the Amazon catalogue. You can create and map additional properties at any time.</p>
</li>
<li>
<p>A separate flatfile exists for Amazon Business (B2B). As such, you need to create a separate catalogue for Amazon Business.</p>
</li>
<li>
<p>BMVD export categories are ignored in the catalogues.</p>
</li>
<li>
<p>All mandatory fields of the flatfile are mapped in the assistant. You can map additional fields in the <strong>Data » Catalogues</strong> menu after the catalogue is created.</p>
</li>
<li>
<p>Do you already sell on Amazon and export variation data to the market? The old variation export for the combination of Amazon account, Amazon platform and flatfile is deactivated automatically when you activate an Amazon catalogue for this combination.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Important preparation</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Set up the Amazon accounts you need. To do so, follow the steps described on the <a href="/en/markets/amazon/amazon-setup">Setting up Amazon</a> page of the manual.</p>
</li>
<li>
<p>Then prepare your variations for exporting them to Amazon. The <a href="/en/markets/amazon/preparing-variations">Preparing variations</a> page will tell you how.</p>
</li>
<li>
<p>Before you create your first Amazon catalogue, familiarise yourself with <a href="/en/data/exporting-data/managing-catalogues">how catalogues are used in plentymarkets</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Creating a catalogue for variation export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon catalogues are created with the <strong>Creating catalogues - Amazon</strong> assistant in the <strong>Setup » Assistants » Omni-Channel</strong> menu.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A separate catalogue is created for each combination of an Amazon account, an Amazon platform and a flatfile.</p>
</li>
<li>
<p>All mandatory fields of the flatfile are mapped in the assistant.</p>
</li>
<li>
<p>Optional fields are mapped in the <strong>Data » Catalogue</strong> menu once the catalogue has been created.</p>
</li>
<li>
<p>Amazon catalogues can only be created in the assistant, not in the <strong>Data » Catalogue</strong> menu.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Free text fields and characteristics are not supported</div>
<div class="paragraph">
<p>Catalogues do not support free text fields or characteristics. Only properties can be transmitted to Amazon in catalogues. You can create properties for all mandatory fields of a flatfile in the assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="500">4.1. Creating a catalogue in the assistant</h3>
<div class="paragraph">
<p>The assistant <strong>Create catalogues - Amazon</strong> allows you to create a catalogue for exporting your variation data to Amazon in a few easy steps. You specify a name for the catalogue and decide on the flatfiles and the Amazon platform to use. You also map all mandatory fields in the catalogue.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">One catalogue per account, plattform and flatfile</div>
<div class="paragraph">
<p>You need a separate catalogue for each combination of Amazon account, Amazon platform and flatfile. This is made easy thanks to suggestions: Because once you have mapped a source to a field, this mapping is suggested to you next time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Create catalogues - Amazon</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Check the summary for any possible errors and click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Map additional, <a href="#600">optional fields</a> in the <strong>Data » Catalogues</strong> menu.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistent</div>
<div class="content">
<table id="table-amazon-catalogue-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: User account</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the amazon account from the drop-down list. A separate catalogue is created for each combination of one Amazon account, one Amazon platform and one Amazon flatfile. You can only select Amazon accounts that are saved in your plentymarkets system. If the account is not shown, go to <strong>Setup » Markets » Amazon » Settings</strong> and create a <a href="/en/markets/amazon/amazon-setup#300">new account</a> or use the assistant <strong>Base settings - Amazon</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> <a href="/en/crm/managing-contacts#15">Create the necessary customer classes</a> in advance, if they don’t already exist in your plentymarkets system.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: Name, flatfile and platform</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the catalogue. If no name is entered, a name is generated automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate item export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activates the export. The export is deactivated by default.<br>
<strong><em>Note:</em></strong> Check all mappings before activating the export. You can also activate the catalogue later in the <strong>Data » Catalogue</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fulfilment method</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select if only MFN variations, only FBA variations or both are to be exported in this catalogue.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Transmit MFN and FBA variations</strong> (default setting) = MFN variations and FBA variations are transmitted (recommended).<br></p>
</li>
<li>
<p><strong>Only transmit MFN variations</strong> = Only variations that you ship yourself are transmitted. As such, a separate catalogue must be created for FBA variations.<br></p>
</li>
<li>
<p><strong>Only transmit FBA variations</strong> = Only variations shipped by Amazon are transmitted. As such, you need to create a separate catalogue for variations that you ship yourself.<br>
<strong><em>Tip:</em></strong> We recommend that you manage both fulfilment methods in the same catalogue.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon flatfile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the flatfile to use for this catalogue.<br>
A flatfile is a file template for specific product categories provided by Amazon. This file template specifies the variation and stock data that needs to be exported to Amazon.<br>
<strong><em>Note:</em></strong> Only flatfiles for platforms that are activated for the Amazon account that you selected in step 1 are shown. If necessary, activate <a href="/en/markets/amazon/amazon-setup#300">additional platforms for the Amazon account</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon platform</strong><br>
(only shown once a flatfile is selected)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the Amazon platform from the drop-down list.<br>
<strong><em>Note:</em></strong> Only Amazon platforms that are activated for the Amazon account that you selected in step 1 are shown. If necessary, activate <a href="/en/markets/amazon/amazon-setup#300">additional platforms for the Amazon account</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flatfile version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates the version of the flatfile used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: Setting up the catalogue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting up the catalogue</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map plentymarkets data fields with the data fields of the selected Amazon flatfile. All data fields shown in this step are mandatory fields and need to be mapped. You can map additional fields in the <strong>Data » Catalogue</strong> menu when the assistant is completed.<br>
* <strong>Create property</strong> = Creates a new property and maps this property to the data field. The properties are grouped in the property group <strong>Amazon Catalog</strong> of the <strong>Setup » Settings » Properties » Groups</strong> menu. The name of the property is based on the source in the flatfile.<br>
* <strong>Create price</strong> = Creates a sales price and maps this sales price to the data field. Automatically created sales prices can be checked and edited in the <strong>Setup » Item » Sales prices</strong> menu. The name of the sales price carries the prefix "Amazon Catalogue".<br>
* <strong>Create barcode</strong> = Creates a new barcode and maps this barcode to the data field. Automatically created barcodes can be checked and edited in the <strong>Setup » Item » Barcodes</strong> menu.<br>
* <strong>Select data source</strong> = A data field in plentymarkets is transmitted to Amazon. Select the data field from the drop-down list <strong>Select source</strong>.<br>
<strong><em>Note:</em></strong> Fields with the option <strong>Map data source manually</strong> cannot be mapped in the assistant. These fields must be mapped manually once the catalogue has been created.
* <strong>Manually map data source</strong> = These fields are not linked in the assistant. You need to map these fields in the catalogue after it is created.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If you have created a catalogue already, sources are shown as suggestions in every catalogue after that. For each field, the source that you mapped to it most often is suggested.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: Summary</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Summary</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows a summary of the catalogue settings. Expand (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) and check your settings.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">4.2. Mapping optional data fields (not in catalogue)</h3>
<div class="paragraph">
<p>The assistant allows you to map all mandatory fields for the selected flatfile. However, you can also map additional fields to send even more information about your products to Amazon.</p>
</div>
<div class="paragraph instruction">
<p>Mapping optional data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Click on the Amazon catalogue.<br>
→ The catalogue opens.<br>
<strong><em>Note:</em></strong> The catalogue appears to be empty at first. Depending on the size of the flatfile, it may take several minutes before the data fields of a flatfile are loaded and shown in the catalogue.<br>
→ The market’s data fields are displayed on the left-hand side.<br>
<strong><em>Tip:</em></strong> Mandatory fields are marked with an asterisk. You have already mapped these mandatory fields in the <strong>Create catalogues - Amazon</strong> assistant.</p>
</li>
<li>
<p>Select a plentymarkets data source for the desired market’s data fields from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Add source</strong> to assign another plentymarkets data source to a data field.<br>
→ A new line is displayed.<br>
<strong><em>Note:</em></strong> Only one value is exported even if you assign more than one data source to a data field. The data is checked in the order in which you assigned it. This means that if the first data field does not provide a value, the second data field is exported etc.</p>
</li>
<li>
<p>Map the desired data fields.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">5. Linking sources created in the assistant with variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you selected the options <strong>Create price</strong>, <strong>Create barcode</strong> and/or <strong>Create property</strong> in the assistant, these prices, barcodes and/or properties are created automatically. You can identify these by the prefix <strong>Amazon Catalogue</strong>. You need to link these newly created sources with the variations that you want to export to Amazon. This is described on the <strong>Item</strong> pages of the manual:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Learn how to link sales prices to variations in the <a href="/en/item/managing-items#240">Linking sales prices</a> chapter.</p>
</li>
<li>
<p>Learn how to link barcodes to variations in the <a href="/en/item/managing-items#250">Linking barcodes</a> chapter.</p>
</li>
<li>
<p>Learn how to link properties to variations in the <a href="/en/item/managing-items#4900">Linking properties and saving a value</a> chapter. + <strong><em>Tip:</em></strong> Properties created in the assistant are automatically added to the property group <strong>Amazon catalog</strong> of the <strong>Setup » Settings » Properties » Groups</strong> menu. Check this group to see which new properties you need to link to your variations.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="800">6. Activating the variation export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have checked all mappings and now want to start the export of your variation data to Amazon?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#900">Activating a catalogue for an existing export</a></p>
</li>
<li>
<p><a href="#1000">Activating a catalogue for a new export</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="900">6.1. Activating a catalogue for an existing export</h3>
<div class="paragraph">
<p>If you created a catalogue for a combination of Amazon account, Amazon platform and flatfile that you already use, the export is automatically switched to catalogue as soon as you activate the catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Activating a catalogue for an existing export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Find the row of the catalogue and move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) in the <strong>Active/Inactive</strong> column to the right.<br>
→ The catalogue is active.<br>
→ The data is transmitted to Amazon once a day at night.<br>
<strong><em>Tip:</em></strong> If incorrect data was transmitted to Amazon during the automatic export, you can correct the mappings in the catalogue, <a href="#2800">export a CSV file of the catalogue</a> and then manually upload the file to Amazon.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">6.2. Activating a catalogue for a new export</h3>
<div class="paragraph">
<p>When you create a catalogue for a Amazon account, platform and flatfile that you are not currently using already, some additional settings are necessary.</p>
</div>
<div class="paragraph instruction">
<p>Activating a catalogue for a new export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Find the row of the catalogue and move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) in the <strong>Active/Inactive</strong> column to the right.<br>
→ The catalogue is active.<br>
<strong><em>Tip:</em></strong> If incorrect data was transmitted to Amazon during the automatic export, you can correct the mappings in the catalogue, <a href="#1100">export a CSV file of the catalogue</a> and then manually upload the file to Amazon.</p>
</li>
<li>
<p>Also check the settings listed below:</p>
</li>
</ol>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="in-the-assistant--strong-base-settings---amazon--strong--tab" data-toggle="tab" href="#in-the-assistant--strong-base-settings---amazon--strong-" role="tab" aria-controls="in-the-assistant--strong-base-settings---amazon--strong-" aria-selected="true">In the assistant <strong>Base settings - Amazon</strong></a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="in-the--strong-setting---markets---amazon--strong--menu-tab" data-toggle="tab" href="#in-the--strong-setting---markets---amazon--strong--menu" role="tab" aria-controls="in-the--strong-setting---markets---amazon--strong--menu" aria-selected="false">In the <strong>Setting » Markets » Amazon</strong> menu</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="in-the-assistant--strong-base-settings---amazon--strong-" role="tabpanel" aria-labelledby="in-the-assistant--strong-base-settings---amazon--strong--tab">
<div class="paragraph">
<p>Carry out the following settings in the assistant <strong>Base settings - Amazon</strong> bevor activating the export of a new catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Settings for new catalogues in the assistant Base settings - Amazon:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on <strong>Base settings - Amazon</strong>.</p>
</li>
<li>
<p>Open the assistant for the Amazon account.<br>
→ The assistant opens.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#assistant-base-settings">Table 1</a>.</p>
</li>
<li>
<p>Complete the assistant.</p>
</li>
</ol>
</div>
<table id="assistant-base-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for new catalogues in the assistant</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: <strong>Basic settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the Amazon platforms that you would like to sell your items on.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The platforms specified for the catalogue must be activate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: <strong>Activate Amazon user account</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate user account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Amazon user account specified for the catalogue must be active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: <strong>Automatic data transfer</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the Amazon platforms that your item data should be transferred to.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation export for the Amazon platforms must be active.<br>
<strong><em>Note:</em></strong> The step <strong>Automatic data transfer</strong> is only visible after you activate the option <strong>Show extended settings</strong> in the step <strong>Marketplace setup</strong>.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="in-the--strong-setting---markets---amazon--strong--menu" role="tabpanel" aria-labelledby="in-the--strong-setting---markets---amazon--strong--menu-tab">
<div class="paragraph">
<p>Carry out the following settings before you activate the export for a new catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Settings in the setup menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Select the Amazon account.</p>
</li>
<li>
<p>Carry out the settings described in <a href="#assistant-menu">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="assistant-menu" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for new catalogues in the menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the <strong>Access data</strong> area, place a check mark for the option <strong>Active</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Item settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop-down list, select the option <strong>Daily</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export categories</strong>;
<strong>BMVD export categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the flatfiles that you created a catalogue for.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">7. Exporting the Amazon catalogue to a CSV file</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can download the catalogue before transmitting the data to Amazon, for example to check the mappings you created. You can export up to 30,000 variations. If you have more variations, you can filter them by item ID, tag ID and/or manufacturer.</p>
</div>
<div class="paragraph instruction">
<p>Exporting the Amazon catalogue to a CSV file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Data exchange » Data export</strong>.</p>
</li>
<li>
<p>In the <strong>Export catalogue</strong> area, select the catalogue from the drop-down list.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter item IDs and/or tag IDs separated by commas to filter the data to exported.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a manufacturer from the drop-down list to filter the data to be exported.</p>
</li>
<li>
<p>Click on <strong>Export</strong> (<span class="icon "><i class="psicon-box_plus"></i></span>).<br>
→ The export starts.<br>
<strong><em>Note:</em></strong> Leave the browser window open whilst the export file is generated. Some flatfiles contain a lot of data. As such, the export can take several minutes.</p>
</li>
<li>
<p>Scroll down to the <strong>Download CSV of the catalogue export</strong> area.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Download</strong> for the catalogue.</p>
</li>
<li>
<p>Save the file on your computer.<br>
<strong><em>Note:</em></strong> The CSV file cannot be imported in plentymarkets. As such, you need to make any changes in the catalogue for them to take effect during the export.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">8. Troubleshooting</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>I mapped fields incorrectly and thus exported incorrect data to Amazon. What can I do?</em></p>
<p>First, correct the incorrect mappings in the catalogue. The data is transmitted to Amazon once a day at night. If you need to change something before this automatic export, you can export the corrected catalogue to a <a href="#1100">CSV file</a> and manually upload this CSV file to Amazon Seller Central.</p>
</li>
</ol>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>I have switched from my old, reliable export to the new catalogues and it’s not working correctly. What can I do?</em></p>
<p>Don’t panic. Go to the <strong>Data » Catalogues</strong> menu and set the catalogue to inactive. Your variation data is transmitted to Amazon with the old export and you can check and correct your settings. Our support team is here to help you if you run into problems or have questions.</p>
</li>
</ol>
</div>
</div>
</div>
</main>