<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_exporting_and_importing_cross_selling_links"><span>1.</span><span> Exporting and importing cross-selling links</span></a>
<ul class="sectlevel2">
<li><a href="#export_CrossSelling"><span>1.1.</span><span> Exporting cross-selling links</span></a>
<ul class="sectlevel3">
<li><a href="#_creating_the_format_in_the_formatdesigner"><span>1.1.1.</span><span> Creating the format in the FormatDesigner</span></a></li>
<li><a href="#_setting_up_the_export_in_the_elastic_export"><span>1.1.2.</span><span> Setting up the export in the elastic export</span></a></li>
<li><a href="#_exporting_data"><span>1.1.3.</span><span> Exporting data</span></a></li>
</ul>
</li>
<li><a href="#Import_CrossSelling"><span>1.2.</span><span> Importing cross-selling links</span></a>
<ul class="sectlevel3">
<li><a href="#_creating_the_format_in_elasticsync"><span>1.2.1.</span><span> Creating the format in ElasticSync</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cross-selling links</h1><div class="sect1">
<h2 id="_exporting_and_importing_cross_selling_links">1. Exporting and importing cross-selling links</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter describes how to export and import cross-selling links.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
To benefit from this best practice, you should be familiar the basic functionality of ElasticSync. Check the <a href="/en/data/importing-data/ElasticSync">Importing data with ElasticSync</a> page of the manual for general information about how the plugin works.
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="export_CrossSelling">1.1. Exporting cross-selling links</h3>
<div class="sect3">
<h4 id="_creating_the_format_in_the_formatdesigner">1.1.1. Creating the format in the FormatDesigner</h4>
<div class="paragraph">
<p>The currently linked cross-selling items can be exported using the FormatDesigner.</p>
</div>
<div class="paragraph">
<p>To do so, go to <strong>Data » FormatDesigner</strong> and create a new format of the type <strong>Item</strong>.</p>
</div>
<div class="paragraph">
<p>After that, select the data fields:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>To allow mapping during import, from the <strong>Item</strong> area select the <strong>ID</strong> of the item or from the <strong>Variation</strong> area select the <strong>ID</strong> or the <strong>Number</strong> of the variation.</p>
</li>
<li>
<p>The actual cross-selling links are added in the <strong>ItemCrossSelling</strong> area. The field <strong>all</strong> returns all linked cross-selling items in the format <strong>ItemID:Type:IsDynamic</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>After you have saved the format, you can set up the export in the elastic export.</p>
</div>
</div>
<div class="sect3">
<h4 id="_setting_up_the_export_in_the_elastic_export">1.1.2. Setting up the export in the elastic export</h4>
<div class="paragraph">
<p>Go to <strong>Data » Elastic export</strong> to set up the export of the format you created.</p>
</div>
<div class="paragraph">
<p>To do so, click on <strong>New export</strong> and save a name, the type <strong>Item</strong>, the format you created, a limit and a file name.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Exporting the file in CSV format</div>
<div class="paragraph">
<p>If you want to download the file in CSV format, specify the suffix <strong>.csv</strong> as part of the file name.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Once you save the format, you are done setting it up.</p>
</div>
</div>
<div class="sect3">
<h4 id="_exporting_data">1.1.3. Exporting data</h4>
<div class="paragraph">
<p>There are several ways of exporting the data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the export, click <strong>Download</strong>.</p>
</li>
<li>
<p>Open the URL in a browser.</p>
</li>
<li>
<p>In the export overview, click <strong>Download</strong>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="Import_CrossSelling">1.2. Importing cross-selling links</h3>
<div class="sect3">
<h4 id="_creating_the_format_in_elasticsync">1.2.1. Creating the format in ElasticSync</h4>
<div class="paragraph">
<p>To import the cross-selling links, you can go to <strong>Data » ElasticSync</strong> and create a sync of the type <strong>Item</strong>. Alternatively, you can add the fields to an existing sync.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The synchronisation can be based on a variation-specific field, for example the <strong>Variation number</strong>, or based on the item ID if the links are imported using a separate sync.</p>
</li>
<li>
<p>In the sync’s mapping, in the <strong>Cross-selling</strong> are, link the field <strong>Add cross-selling links</strong> and assign the corresponding column in the CSV file.</p>
</li>
<li>
<p>You can save more than one cross-selling link per row. The structure will be as follows:</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>ItemID:Type;ItemID2:Type2</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Use the field <strong>Delete all cross-selling links</strong> to delete all links of an item. Specify 1 for yes, 0 for no. This is a good idea if, for example, you want to update your cross-selling items.</p>
</li>
<li>
<p>Using the field <strong>Delete cross-selling links</strong>, you can delete one or more item IDs. The format should look like this:</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>itemID;itemID;etc</strong></p>
</div>
<div class="paragraph">
<p>That is all you need for the link. The sync is now ready to go and you can start linking or unlinking cross-selling items.</p>
</div>
</div>
</div>
</div>
</div>
</main>