<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_exporting_listings"><span>1.</span><span> Exporting listings</span></a></li>
<li><a href="#_importing_ebay_properties_into_plentymarkets_with_elasticsync"><span>2.</span><span> Importing eBay properties into plentymarkets with ElasticSync</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating eBay properties</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice you will learn how to add eBay properties to your listings with ElasticSync.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_exporting_listings">1. Exporting listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First export the listings that you want to add properties to. You need a CSV file containing your listings in order to add the eBay properties. To do so, use the dynamic export in the <strong>Data » Dynamic export</strong> menu to create a data format of the type <strong>ItemListingMarketEbay</strong>. The properties can then be exported with this data format.<br></p>
</div>
<div class="paragraph">
<p>The fields <strong>EbayItemSpecificsName</strong> and <strong>EbayItemSpecificsValue</strong> are required to create eBay properties.</p>
</div>
<div class="paragraph">
<p>Creating a data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New data format</strong>.<br>
→ A view for editing the data format opens.</p>
</li>
<li>
<p>Select <strong>ItemListingMarketEbay</strong> from the <strong>Data format type</strong> drop-down list.</p>
</li>
<li>
<p>Enter a <strong>Data format name</strong>.</p>
</li>
<li>
<p>Place check marks next to <strong>EbayItemSpecificsName</strong>, <strong>EbayItemSpecificsValue</strong>, and <strong>MLID</strong>. These fields are required to export listing properties.</p>
</li>
<li>
<p><strong>Save</strong> the data format after you have carried out further settings, if desired.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After having created the data format <strong>ItemListingMarketEbay</strong>, click on <strong>Export data</strong> to generate the CSV file.<br></p>
</div>
<div class="paragraph">
<p>Save the CSV that you have created on your computer and edit it.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Pay attention to the format of the CSV file</div>
<div class="paragraph">
<p>Pay attention to the format of the entries in the CSV file that should be imported into plentymarkets.<br>
Multiple entries have to be separated by comma.<br>
<em>Example:</em> Enter the values "Colour", "Size" into the <strong>name</strong> column separated by comma. Enter the corresponding values "Green", "XXL" into the <strong>value</strong> column separated by comma.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_importing_ebay_properties_into_plentymarkets_with_elasticsync">2. Importing eBay properties into plentymarkets with ElasticSync</h2>
<div class="sectionbody">
<div class="paragraph">
<p>ElasticSync enables you to import the CSV file containing the new properties into plentymarkets. This is done in the <strong>Data » Import</strong> menu. To import the properties, create a sync of the type <strong>Market listing</strong>.</p>
</div>
<div class="paragraph">
<p>Creating a sync:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.</p>
</li>
<li>
<p>Click on <strong>Add sync</strong>.<br>
→ A section in which the sync can be edited opens.</p>
</li>
<li>
<p>Enter a name for the sync.</p>
</li>
<li>
<p>Select <strong>Market listing</strong> from the <strong>Type</strong> drop-down list.</p>
</li>
<li>
<p>In the <strong>Import</strong> section, you can leave the settings as they are.</p>
</li>
<li>
<p>In the <strong>Separator</strong> section, select the option <strong>Tab</strong> instead of the semicolon.</p>
</li>
<li>
<p>In the <strong>Source</strong> section, select the option <strong>HTTP</strong>.<br>
→ A <strong>URL</strong> input field is displayed.</p>
</li>
<li>
<p>Enter a <strong>URL</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You have uploaded the CSV file successfully. Next, carry out the matching and mapping settings.</p>
</div>
<div class="paragraph">
<p>Carrying out the matching settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Matching</strong> on the left-hand side.</p>
</li>
<li>
<p>Select <strong>MLID</strong> for the matching field <strong>Market listing ID</strong>.</p>
</li>
<li>
<p>In the <strong>Import options</strong> section, select the option <strong>Only import new data</strong>.</p>
</li>
<li>
<p>Select the decimal number and the date format, if required.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, carry out the settings for mapping.</p>
</div>
<div class="paragraph">
<p>Carrying out the mapping settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Mapping</strong> on the left-hand side.</p>
</li>
<li>
<p>Click on the plus sign (<strong>Add mapping</strong>).</p>
</li>
<li>
<p>Enter a <strong>name</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>Import data / plentymarkets data fields</strong> section opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In this area, you assign the fields from your CSV file to the data fields in plentymarkets.<br></p>
</div>
<div class="paragraph">
<p>In the <strong>Import data</strong> section on the left-hand side, you can see the header names from your CSV file. plentymarkets has taken these names automatically from your CSV file. In the <strong>plentymarkets data fields</strong> section on the right-hand side, you have to select the corresponding counterpart from the list.</p>
</div>
<div class="paragraph">
<p>Example: Assigning sources for eBay properties to the appropriate plentymarkets data fields</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>On the left side, you can see the source <strong>MLID</strong>. Click in the same line on the right-hand side and assign the <strong>MLID</strong> data field by placing a check mark.</p>
</li>
<li>
<p>Assign the data field <strong>Market listing property / Name</strong> to the source <strong>EbayItemSpecificsName</strong> by placing a check mark.</p>
</li>
<li>
<p>Assign the data field <strong>Market listing property / Value</strong> to the source <strong>EbayItemSpecificsValue</strong> by placing a check mark.</p>
</li>
<li>
<p>Activate all lines with the toggle button <strong>Activate row</strong> on the left-hand side.<br>
→ <em>Important:</em> The data fields to be imported must all be activated in order for the mapping to work correctly.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> in order to display a preview of the file and to check the content.</p>
</li>
<li>
<p>Click on <strong>Run Sync</strong> in order to import the properties into plentymarkets.</p>
</li>
</ol>
</div>
</div>
</div>
</main>