<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#contact-data"><span>1.</span><span> Importing contact data</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Contact data</h1><div class="sect1">
<h2 id="contact-data">1. Importing contact data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, we describe how to import contact data in plentymarkets. You need a CSV file with the data that you would like to import. Save this file on your computer. Then, proceed as follows.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Structure of the file: Example file with sample data</div>
<div class="paragraph">
<p>Click on this <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/ElasticSync_BestPractice/BP_Musterdaten_Kontaktdaten.csv.zip" target="_blank" rel="noopener">link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to open an example file with sample data that you can use as an example to import contact data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.</p>
</li>
<li>
<p>Click on the plus sign <strong>Add import</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter a name in the area <strong>Basic data</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Type</strong> the option <strong>Contacts, companies, addresses</strong>.</p>
</li>
<li>
<p>In the <strong>Import</strong> section, you can leave the settings as they are.</p>
</li>
<li>
<p>In the <strong>Separator</strong> section, select the option <strong>Tab</strong>.</p>
</li>
<li>
<p>In the <strong>Source</strong> section, select the option <strong>HTTPS</strong>.<br>
→ Two further lines are displayed.</p>
</li>
<li>
<p>In the drop-down list <strong>HTTP options</strong>, select the option <strong>Data upload</strong>.</p>
</li>
<li>
<p>In the line <strong>URL</strong>, click on the button with the three dots (<strong>Select file</strong>).<br>
→ A new window opens.</p>
</li>
<li>
<p>Click on <strong>Upload file</strong>, select the CSV file with the contact data that you would like to import and click on <strong>Open</strong>.</p>
</li>
<li>
<p>Place a check mark in the line of the file or click once in the line of the file.<br>
→ The URL – i.e. the path from that you uploaded the CSV file – is now displayed in grey in the field <strong>URL</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You have uploaded the CSV file successfully. In the following, carry out the matching and mapping settings.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the matching settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Matching</strong> on the left side.</p>
</li>
<li>
<p>In the <strong>Matching</strong> section, you have to assign at least one of the four available options to one of the fields from the CSV file.<br>
→ <strong><em>Note:</em></strong> If there is no contact ID available yet, it makes sense to carry out the matching via the email address.</p>
</li>
<li>
<p>In the <strong>Import options</strong> section, select the option <strong>Only import new data.</strong></p>
</li>
<li>
<p>Select the decimal number and the date format, if required.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now adjust the settings for mapping.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the mapping settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Mapping</strong> on the left side.</p>
</li>
<li>
<p>Click on the plus sign <strong>Add mapping</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Enter a position number.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The <strong>Import data / plentymarkets data fields</strong> section opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In this section, you assign the fields from your CSV file to the fields in plentymarkets. On the left side in the <strong>Import data</strong> section, you can see the header names from your CSV file. plentymarkets has already taken these names automatically from your CSV file.</p>
</div>
<div class="paragraph">
<p>On the right side in the <strong>plentymarkets data fields</strong> section, you have to select the corresponding counterpart from the list.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Mandatory fields for contact data</div>
<div class="paragraph">
<p>When importing contact options, the fields <strong>Type</strong> and <strong>Referrer</strong> are mandatory fields. These two fields are marked with an asterisk (<strong>*</strong>).<br>
We recommend entering ID 1 for the referrer, because ID 1 covers both the referrer <strong>Online store</strong> and all marketplaces. ID 0 (= manual entry) will not be effective, because the entry via the import tool is not a manual entry in the strict sense.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Example: Assigning the source <strong>First name</strong> to the appropriate plentymarkets data field</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>On the left side, you can see the source <strong>First name</strong>. Click on the right side in the same line and enter <strong>First name</strong> in the search field.</p>
</li>
<li>
<p>Click on <strong>First name</strong>.</p>
</li>
<li>
<p>Click on the green tick <strong>Select</strong> (<span class="icon green"><i class="fa fa-check  "></i></span>) below the list.</p>
</li>
<li>
<p>Activate the toggle button <strong>Activate line</strong> in this line on the left side.<br>
→ The toggle button has to be switched from <span class="icon red"><i class="fa fa-toggle-off  "></i></span> to <span class="icon green"><i class="fa fa-toggle-on  "></i></span>.<br>
→ <strong><em>Important:</em></strong> All data fields to be imported have to be activated in order for the mapping to work correctly.</p>
</li>
<li>
<p>Click on the button <strong>Field</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) on the bottom left side.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Own value</strong>.</p>
</li>
<li>
<p>Enter 1 as value.<br>
→ <strong><em>Note:</em></strong> 1 stands for the referrer <strong>Online store</strong> and all other marketplaces.</p>
</li>
<li>
<p>Enter <strong>Referrer</strong> on the right side in the search field.</p>
</li>
<li>
<p>Click on <strong>Referrer</strong>*.</p>
</li>
<li>
<p>Click on the green tick <strong>Select</strong> (<span class="icon green"><i class="fa fa-check  "></i></span>) below the list.</p>
</li>
<li>
<p>Activate the toggle button <strong>Activate line</strong> in this line on the left side.<br>
→ The toggle button has to be switched from <span class="icon red"><i class="fa fa-toggle-off  "></i></span> to <span class="icon green"><i class="fa fa-toggle-on  "></i></span>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) in order to display a preview of the file and to check the content.</p>
</div>
<div class="paragraph">
<p>Last, but not least: click on the play button <strong>Execute import</strong> (<span class="icon "><i class="fa fa-play-circle-o  "></i></span>). Depending on the data volume to be imported, this may take a while. Once the import is carried out, the message <strong>Import finished</strong> is displayed.</p>
</div>
<div class="paragraph">
<p>Now go to <strong>CRM » Contacts</strong> in order to check whether the contact data was successfully imported.</p>
</div>
</div>
</div>
</main>