<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_inhalt_dieses_kapitels"><span>1.</span><span> Inhalt dieses Kapitels</span></a></li>
<li><a href="#_auftragsabwicklung_in_plentymarkets"><span>2.</span><span> Auftragsabwicklung in plentymarkets</span></a></li>
<li><a href="#_verbindungen_zu_anderen_menüs"><span>3.</span><span> Verbindungen zu anderen Menüs</span></a></li>
<li><a href="#_videotutorials"><span>4.</span><span> Videotutorials</span></a></li>
<li><a href="#_wichtige_seiten_zum_thema_direkt_aufrufen"><span>5.</span><span> Wichtige Seiten zum Thema direkt aufrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Aufträge</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Aufträge</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhalt_dieses_kapitels">1. Inhalt dieses Kapitels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zu jeder bei Ihnen eingehenden Bestellung wird in plentymarkets ein Auftrag angelegt. Aufträge können über den <em><strong>Webshop</strong></em> generiert oder von anderen <em><strong>Marktplätzen</strong></em> wie eBay, Amazon oder Yatego importiert werden. Alle Aufträge haben ein identisches Format, werden gesammelt und können im Menü <strong>Aufträge</strong> vollständig oder nach bestimmten Filterkriterien aufgelistet werden. Jeder Auftrag erhält dabei eine eindeutige <strong>Auftrags-ID</strong>. Neben dem gewöhnlichen Auftrag im Rahmen einer normalen Bestellung (Kunde kauft Waren) gibt es in plentymarkets weitere <em><strong>Auftragstypen</strong></em>, die für die typische Vorgänge im Onlinehandel genutzt werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_auftragsabwicklung_in_plentymarkets">2. Auftragsabwicklung in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge</strong> bearbeiten Sie aktuelle Aufträge, Zahlungseingänge und den Versand. In plentymarkets wird zwischen den im Folgenden aufgelisteten Auftragstypen unterschieden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der <strong>Auftrag</strong> ist die üblichste Form der Bestellung (Kunde kauft Ware).</p>
</li>
<li>
<p>Der Kunde erhält ein <strong>Angebot</strong>.</p>
</li>
<li>
<p>Der Kunde kauft per <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#vorbestellungen">Vorbestellungen</a></strong> Artikel, die noch gar nicht erschienen oder aktuell nicht verfügbar sind.</p>
</li>
<li>
<p>Ein Auftrag wird in <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#lieferauftrag">Lieferaufträge</a></strong> aufgeteilt.</p>
</li>
<li>
<p>Eine <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#gewaehrleistung">Gewährleistung</a></strong> wird angelegt, wenn der Kunde fehlerhafte Artikel reklamiert.</p>
</li>
<li>
<p>Der Auftragstyp <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#reparatur">Reparatur</a></strong> wird angelegt, wenn die Ware nach Rücksendung repariert und dann erneut an den Kunden geschickt wird.</p>
</li>
<li>
<p>Bei einer <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#gutschrift">Gutschrift</a></strong> bekommt der Kunde einen Teil oder den gesamten Kaufpreis einer Bestellung erstattet.</p>
</li>
<li>
<p>Bei einer <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#retoure">Retoure</a></strong> wird die Ware vom Kunden zurückgeschickt.</p>
</li>
<li>
<p>In einem <strong><a href="/auftragsabwicklung/auftraege/sammelauftraege">Sammelauftrag</a></strong> werden mehrere Aufträge zusammengefasst (nur Enterprise-Version).</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_verbindungen_zu_anderen_menüs">3. Verbindungen zu anderen Menüs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Je nachdem für welche Verkaufsstrategie Sie sich entscheiden, fließen nach erfolgreicher Einrichtung Aufträge verschiedener <strong><a href="/omni-channel/auftragsherkunft">Herkünfte</a></strong> in Ihr plentymarkets-System ein. Neben dem eigenen Webshop sind dies in erster Linie die verschiedenen <strong><a href="/omni-channel/multi-channel">Marktplätze und Preisportale</a></strong>, die Sie in Ihrem plentymarkets-System z.B. im Menü <strong>Einstellungen » Märkte</strong> konfiguriert haben.</p>
</div>
<div class="paragraph">
<p>plentymarkets verfügt u.a. über eine umfangreiche Schnittstelle zu <strong><a href="/omni-channel/multi-channel/amazon">Amazon</a></strong>, die nicht nur den automatisierten Abgleich mit dem <strong><a href="/omni-channel/multi-channel/amazon">Seller Central</a></strong> gewährleistet, sondern auch weitere Amazon-Angebote wie <strong><a href="/omni-channel/multi-channel/amazon#3300">Fulfillment by Amazon</a></strong> und <strong><a href="/omni-channel/multi-channel/amazon#3700">Amazon Multi-Channel</a></strong> umfasst.</p>
</div>
<div class="paragraph">
<p>Dank der vollständigen eBay-Anbindung in plentymarkets können Sie u. a. Listings starten und eBay-Shop-Artikel bei eBay einstellen, Verkäufe abrufen, automatisch Bewertungen abgeben und Käufer anmahnen. Für ausführliche Informationen zur ebay-Schnittstelle beachten Sie die Handbuchseiten im Kapitel <strong><a href="/omni-channel/multi-channel/ebay">eBay</a></strong>.</p>
</div>
<div class="paragraph">
<p>Darüber hinaus gibt es Schnittstellen zu vielen weiteren Marktplätzen, wie z.B. <strong><a href="/omni-channel/multi-channel/yatego">Yatego</a></strong>, <strong><a href="/omni-channel/multi-channel/allyouneed">Allyouneed</a></strong> oder <strong><a href="/omni-channel/multi-channel/real-de">real.de</a></strong>, über die Sie Aufträge generieren können. Die <strong><a href="/omni-channel/auftragsherkunft">Herkunft</a></strong> des jeweiligen Auftrags ist in der Auftragsübersicht anhand der Herkunfts-ID sofort erkennbar.</p>
</div>
<div class="paragraph">
<p>Nach dem Auftragseingang lassen Sie mit entsprechenden <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktionen</a></strong> die notwendigen Dokumente, wie <a href="/auftragsabwicklung/auftraege/auftragsdokumente/rechnungen-erzeugen"><strong>Rechnung</strong></a> und <a href="/auftragsabwicklung/auftraege/auftragsdokumente/lieferscheine-erzeugen"><strong>Lieferschein</strong></a> automatisch erstellen und informieren den Kunden in dafür vorbereiteten <a href="/crm/e-mails-versenden#1200"><strong>E-Mail-Vorlagen</strong></a> ebenfalls automatisiert über den Status seiner Bestellung. Auch für den Versand stehen, u.a. mit <a href="/auftragsabwicklung/auftraege/auftragsdokumente/pickliste"><strong>Pickliste</strong></a> und <a href="/auftragsabwicklung/auftraege/auftragsdokumente/packliste"><strong>Packliste</strong></a>, die notwendigen Unterlagen zur Verfügung, um ein schnellstmögliches Fulfillment zu gewährleisten.</p>
</div>
<div class="paragraph">
<p>Im <a href="/auftragsabwicklung/fulfillment/versand-center#700"><strong>Versand-Center</strong></a> melden Sie schließlich die Versandaufträge an, bearbeiten diese bei Bedarf oder lassen sich spezielle Versandaufträge anzeigen.</p>
</div>
<div class="paragraph">
<p>Zur effizienten Bearbeitung der Aufträge im plentymarkets-System können Sie außerdem <strong><a href="/basics/automatisierung/prozesse">Prozesse</a></strong> anlegen und diese automatisiert ablaufen lassen. Auf diese Weise wickeln Sie einen oder mehrere gefilterte Aufträge schnellstmöglich und entsprechend Ihrer internen Prozesse ab. Weitere Details dazu finden Sie auf den Handbuchseiten <strong><a href="/basics/automatisierung/prozesse/arbeitsschritte#auftragsbearbeitung">Auftragsbearbeitung</a></strong> und <strong><a href="/basics/automatisierung/prozesse/arbeitsschritte#auftragsabwicklung">Auftragsabwicklung</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_videotutorials">4. Videotutorials</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier finden Sie Videos zu Themen, die in diesem Handbuchkapitel beschrieben werden.</p>
</div>
<div class="paragraph">
<p>Eine Einführung zum Menü <strong>Aufträge</strong> erhalten Sie in den folgenden Videotutorials:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2516/" target="_blank">Die neue Auftragssuche</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2842/" target="_blank">Auftragsherkünfte</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2947/" target="_blank">Lieferaufträge anlegen</a></p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum Menü <strong>Einstellungen » Aufträge » Zahlung</strong> im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2917/" target="_blank">PayPal einrichten</a></p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum Menü <strong>Einstellungen » Aufträge » Dokumente</strong> in den folgenden Videotutorials:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2854/" target="_blank">SEPA-Lastschriftmandat</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2855/" target="_blank">Rechnungsstellung</a></p>
</div>
<div class="paragraph">
<p>Weitere Videos zu diesem Thema finden Sie auf unserer Website im Video-Bereich <a href="https://www.plentymarkets.eu/software/videos/auftraege/dokumente/"><strong>Dokumente</strong></a>.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum Menü <strong>Einstellungen » Aufträge » Ereignisaktionen</strong> in den folgenden Videotutorials:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2827/" target="_blank">Ereignisaktionen einrichten</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2828/" target="_blank">Ereignisaktion Tracking-URL versenden</a></p>
</div>
<div class="paragraph">
<p>Weitere Videos zu diesem Thema finden Sie auf unserer Website im Video-Bereich <a href="https://www.plentymarkets.eu/software/videos/auftraege/ereignis-aktionen/"><strong>Ereignisaktionen</strong></a>.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum Menü <strong>Einstellungen » Aufträge » Versand</strong> in den folgenden Videotutorials:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2720/" target="_blank">Versandoptionen 1/2</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2721/" target="_blank">Versandoptionen 2/2</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2888/" target="_blank">DHL Intraship einrichten</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_wichtige_seiten_zum_thema_direkt_aufrufen">5. Wichtige Seiten zum Thema direkt aufrufen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/auftragsabwicklung/payment/bankdaten-verwalten#200"><strong>SEPA-Zahlungsverkehr</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#suche"><strong>Aufträge suchen</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#neuer-auftrag"><strong>Neuer Auftrag</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#auftrag-aendern"><strong>Auftrag ändern</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/payment/zahlungen-verwalten"><strong>Zahlungseingänge</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftragsdokumente/rechnungen-erzeugen"><strong>Rechnungen erzeugen</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftragsdokumente/lieferscheine-erzeugen"><strong>Lieferscheine erzeugen</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftragsdokumente/pickliste"><strong>Pickliste</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftragsdokumente/packliste"><strong>Packliste</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/fulfillment/versand-center"><strong>Versand-Center</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/gutscheine"><strong>Gutscheine</strong></a></p>
</li>
</ul>
</div>
</div>
</div>
</main>