<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Deprecated: Dynamic data exchange</h1><p>Welcome to the topic Deprecated: Dynamic data exchange. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/data/export-import/exporting-data">Exporting data with the dynamic export</a></li><li><a href="/en/data/export-import/data-formats">Data formats</a></li></ul>
</main>