<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_revenue_by_multishop"><span>1.</span><span> Revenue by multishop</span></a></li>
<li><a href="#_details_about_the_statistic"><span>2.</span><span> Details about the statistic</span></a></li>
<li><a href="#_settings"><span>3.</span><span> Settings</span></a></li>
<li><a href="#_data_export"><span>4.</span><span> Data export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Revenue by multishop</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Item » Edit item » Tab: Statistics → Statistic: Revenue by multishop</strong></p>
</div>
<div class="paragraph">
<p>If you have carried out changes, entered data or changed settings, click on the save icon in order to save your configuration before leaving the area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_revenue_by_multishop">1. Revenue by multishop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This statistic provides an overview of the <strong>revenue</strong> for the particular item, e.g. the <strong>gross revenue</strong> or the <strong>profit</strong> during a selected <strong>time span</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_details_about_the_statistic">2. Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>revenue</strong> will be displayed for each <strong>webshop</strong> or <strong>multishop</strong> that was used during the selected <strong>time span</strong>. The particular <strong>revenue in Euro</strong> and the <strong>percentage</strong> of total revenue for all of the webshops or multishops that were used during the selected time span will be displayed as <strong>information in a mouseover</strong>. In this statistic you can see, e.g. how much <strong>revenue</strong> or <strong>profit</strong> was made from a particular webshop or multishop during the selected time period.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>In image 1, you can see that the <strong>standard webshop</strong> corresponds to a total revenue of <strong>6,390.53 Euros</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/item-statistics/assets/EN-ENG-Artikel-Statistik-UmsatzMultishop01-SI.png" alt="EN ENG Artikel Statistik UmsatzMultishop01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>revenue by multishop</strong> statistic</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_settings">3. Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>settings</strong> described below are available for this statistic.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/item-statistics/assets/EN-ENG-Artikel-Statistik-UmsatzMultishop02-SI.png" alt="EN ENG Artikel Statistik UmsatzMultishop02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>revenue by multishop</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>Explanations of the options</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry/Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In this drop-down menu, you can choose how you want the statistics to be displayed.<br>
<strong>Column and line chart</strong> = Displays the values as columns and lines<br>
<strong>2D pie chart</strong> = Displays the values as a two-dimensional pie chart<br>
<strong>3D pie chart</strong> = Displays the values as a three-dimensional pie chart<br>
<strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <strong>CSV file</strong>. The file contains the same parameters as are displayed with the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Raw data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The raw data export also generates a <strong>CSV file</strong>. However, the file contains a more detailed set of data. For example, instead of simply indicating the number of sales orders that were generated on a specific day, the CSV file includes relevant data fields for each individual sales order, such as the <strong>sales order ID</strong>, <strong>price</strong> etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the <strong>name</strong> of the statistic that was entered when the statistic was created. You can change the name here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Time span</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Each type of statistic has a default setting for <strong>time span</strong> that you can see in table 2 on the <strong>General information</strong> page of the manual. You can choose from a number of predefined time spans in a drop-down menu. In addition for some types of statistics you have the possibility to enter a time span by entering a <strong>start and end date</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change</strong> the <strong>time span</strong> if no or only very few data is shown and then click on the save icon to see the result. Choosing a <strong>larger time span</strong> will give you more information. If there is a lot of data, then a <strong>shorter time span</strong> may make more sense in order to be able to actually interpret the graphic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Starting date …​ Ending date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can enter a specific <strong>starting and ending date</strong> here instead of selecting a <strong>time span</strong> (optional).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status options</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Depending on the type of statistic there are different options available to narrow down the <strong>status</strong>. There are <strong>standard values</strong> set by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>All types of sales orders</strong> are included in the statistical analysis except for <strong>cancellations</strong>. This means that <strong>status 8</strong> and <strong>8.1</strong> are excluded from the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Multishop</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>webshops</strong> or <strong>multishops</strong> that you would like to include into the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can select one or more <strong>sales order referrers</strong>. You can also use the option <strong>All</strong> to select all of the available sales order referrers at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Show amounts</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which <strong>amount</strong> should be calculated for the statistic:<br>
<strong>Net revenue</strong> = Revenue minus VAT and selected additional costs<br>
<strong>Gross revenue</strong> = Revenue including VAT and selected additional costs<br>
<strong>Contribution margin II</strong> = Revenue minus taxes, purchase price and the additional costs that were selected</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <strong>contribution margin II</strong> is the remaining amount once all of the <strong>additional costs have been subtracted</strong>, e.g. the transportation or warehouse costs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item bundles</strong> are <span class="underline">not taken into consideration</span> for the amounts above. Fees for <strong>markets</strong> are added to the gross price (retail price).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtract transportation costs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark if you don’t want the <strong>transportation costs</strong> to be taken into consideration for the items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The costs related to <strong>transportation</strong>, <strong>warehouse</strong>, <strong>operating</strong> and <strong>customs</strong> are only relevant if you saved this information about your items in the <strong>Base</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you saved information about these costs, then they can be displayed in the statistic and can give you a more detailed <strong>overview</strong> of your profits and losses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtract payment commission</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark if you don’t want the <strong>payment commission</strong> to be taken into consideration for the items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtract producer commission</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark if you don’t want the <strong>producer commission</strong> to be taken into consideration for the items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtract warehouse costs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark if you don’t want the <strong>warehouse costs</strong> to be taken into consideration for the items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtract operating costs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark if you don’t want the <strong>operating costs</strong> to be taken into consideration for the items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtract customs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark if you don’t want the <strong>customs</strong> to be taken into consideration for the items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <strong>operating</strong> and <strong>customs</strong> costs are saved as <strong>percentages</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>; <strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_data_export">4. Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described in table 1, you can choose between a simple and a detailed export. An example of each is provided below.</p>
</div>
<div class="paragraph">
<p>Exporting the diagram data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>Multishop</strong> = Webshop or multishop, <strong>QuantityOfOrders</strong> = Quantity of sales orders, <strong>ContributionMarginTwo</strong> = Contribution margin II,<strong>QuantityOfBundleItems</strong> = Quantity of items from item bundles</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/item-statistics/assets/EN-ENG-Artikel-Statistik-UmsatzMultishop03-SI.png" alt="EN ENG Artikel Statistik UmsatzMultishop03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>revenue by multishop</strong> statistic; simple export</em></p>
</div>
<div class="paragraph">
<p>Exporting the raw data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>OrderID</strong> = Sales order ID, <strong>ItemName</strong> = Item name, <strong>Timestamp</strong> = Sales order received on, <strong>SoldItems</strong> = Number of sold items, <strong>PurchasePrice</strong> = Purchase price, <strong>VAT</strong> = VAT, <strong>Price</strong> = Price, <strong>StockCosts</strong> = Warehouse costs, <strong>TransportationCosts</strong> = Transportation costs, <strong>Customs</strong> = Customs, <strong>OperatingCosts</strong> = Operating costs, <strong>ProducerCommission</strong> = Producer commission, <strong>PaymentCommission</strong> = Payment commission</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/item-statistics/assets/EN-ENG-Artikel-Statistik-UmsatzMultishop04-SI.png" alt="EN ENG Artikel Statistik UmsatzMultishop04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>revenue by multishop</strong> statistic; raw data export</em></p>
</div>
</div>
</div>
</main>