<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Processing and automating eBay returns</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once you’ve configured your account settings to import eBay returns, you can process them with the help of event procedures. No more incessant checking of your eBay account!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/ebay/listings/ebay-returns-retrieve#video">Retrieving eBay returns (0:16)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/ebay-returns-create-status#video">Creating and linking eBay statuses (0:54)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/ebay-returns-event-procedure#video">Setting up event procedures to automate eBay returns (1:55)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/239603589#at=16" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>For most people, processing returns is just a fact of e-commerce life - a pesky necessity - and this time in your eBay account. We don’t mean to toot our own horn - <strong>trumpet</strong> - but Lady Event Procedure automates a large portion of that in plentymarkets directly! Which is the missing piece of your eBay puzzle…​</p>
</div>
<div class="paragraph">
<p>Once you’ve configured your account settings to import eBay returns on an hourly basis, you can process them as you would all other returns. No more need to incessantly check your eBay account!</p>
</div>
<div class="paragraph">
<p>Since you’ll be working with reasons for return and return statuses, these must be defined beforehand.</p>
</div>
<div class="paragraph">
<p>Under System » Orders » Order types » Return, enter your reasons for return.</p>
</div>
<div class="paragraph">
<p>If you’re missing a reason for return that has recently been added on eBay or if the reasons have changed, you can initiate the synchronization of these new reasons for return under System » Markets » eBay » Data exchange » Other.</p>
</div>
<div class="paragraph">
<p>And seeing as how the order statuses play an important role in automation, adding order statuses for eBay specifically is essential. Just make sure the statuses you choose are greater than 8 so no other functions are disrupted.</p>
</div>
<div class="paragraph">
<p>Okay! Return reasons? Check! Order statuses? Check! Now it’s time to link them to their counterparts on eBay.</p>
</div>
<div class="paragraph">
<p>Back in the "Return reasons" tab, select the country of your eBay account and link away. And no worries - they don’t have to be worded identically.</p>
</div>
<div class="paragraph">
<p>The same goes for statuses. They don’t have to be worded exactly alike either - so on eBay it’s "Item sent", but in my system it’s "eBay: customer sent return". So as soon as your order is in one of these statuses, that info is sent to eBay automatically in whatever time interval you’ve specified.</p>
</div>
<div class="paragraph">
<p>Now return statuses lie at the heart automating your eBay returns because they are directly linked to the superpowers of Lady Event Procedure.</p>
</div>
<div class="paragraph">
<p>If you don’t know how to create an event procedure yet - so a cause-and-effect automation in which a specific event triggers a specific procedure - you can brush up on those skills here.</p>
</div>
<div class="paragraph">
<p>Alright! So there’s a number of different ways to process returns in plentymarkets - but what happens in this particular example? Well, the short version of the story is your customer sends an item back using an eBay return label and receives a full refund.</p>
</div>
<div class="paragraph">
<p>But let’s break it down into smaller steps…​</p>
</div>
<div class="paragraph">
<p>Your customer requests a return in their My eBay account and that request is automatically imported into plentymarkets. If you’re satisfied with the reasons for return, simply accept it by manually changing the order status to "eBay: accept return, with eBay label".</p>
</div>
<div class="paragraph">
<p><strong>trumpet</strong> Now say hello to our first event procedure! The manual status change triggers a procedure that accepts returns if you’re dealing with order types that are returns from eBay. As soon as you’ve accepted the return request, that info is passed on to eBay and your customer receives an eBay return label for their package.</p>
</div>
<div class="paragraph">
<p>Your customer then sends the item back using the eBay label and marks it as sent in their eBay account which changes the return status to "eBay: purchaser sent return". Once you’ve received and checked the item, select "eBay: Mark return as received" which <strong>trumpet</strong> triggers the second event procedure that lets eBay know the return was received.</p>
</div>
<div class="paragraph">
<p>The rest depends on your customer’s payment method.</p>
</div>
<div class="paragraph">
<p>If they’ve used PayPal, set the return status to 'eBay: issue refund (PayPal)'. Event procedure number 3 talks to eBay so that the refund is booked directly to your customer’s PayPal account and the return is closed.</p>
</div>
<div class="paragraph">
<p>But if your customer used a different payment method, you’ll process the refund yourself - so select "eBay: mark refund as sent (non-PayPal)"…​</p>
</div>
<div class="paragraph">
<p>eBay and plenty communicate…​</p>
</div>
<div class="paragraph">
<p>…​your customer indicates that they’ve received the refund and, as was the case before, the return is marked as closed.</p>
</div>
<div class="paragraph">
<p>The principle is simple: link your reasons for return and return statuses to eBay. Then unleash the powers of Lady Event Procedure. By following the steps we spoke about, your eBay puzzle becomes complete. And for detailed info on event procedures and other ways to process returns, just consult our manual.</p>
</div>
<div class="paragraph">
<p>Soon <strong>trumpet</strong> you’ll be able to toot your own horn!</p>
</div>
</div>
</div>
</main>