<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Use layout templates to individualise your eBay listings</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentymarkets allows you to easily link your listings to layout templates. In this video, you’ll learn how to integrate existing layouts into your system and save them in your listing data. Plus we’ll give you a quick glimpse into how templates are created.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/ebay/listings/layout-templates-import#video">Importing an eBay layout template (0:37)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/layout-templates-add#video">Adding a layout template to your listing (1:12)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/281777329#at=37" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>When you send listings out into the great wide world, they’re ready to start generating lots of revenue.</p>
</div>
<div class="paragraph">
<p>But maybe you want to take it one step further? Maybe you want to give your eBay listings a unique look or display them in your corporate design?</p>
</div>
<div class="paragraph">
<p>Just send your listings behind the magic curtain and have them re-appear the way you want with layout templates.</p>
</div>
<div class="paragraph">
<p>Now your items on eBay are even more unique and appealing to your customers.</p>
</div>
<div class="paragraph">
<p>But where to find these layout templates…​</p>
</div>
<div class="paragraph">
<p>Well of course you can create them yourself, but it’s much easier to have someone do it for you. Turn to web design agencies such as those recommended on our website for professional support.</p>
</div>
<div class="paragraph">
<p>Then once you’ve got the template, go to System and under Listings » Layouts simply IMPORT your pre-designed layout.</p>
</div>
<div class="paragraph">
<p>Since you’re going to link it to your listings down the road, make sure you give it a meaningful name now so that you’ll know what layout you need later.</p>
</div>
<div class="paragraph">
<p>Upload the file …​ and presto, there it is.</p>
</div>
<div class="paragraph">
<p>The preview function is pretty handy to check if everything is okay. But to use it, you’ll need to have linked your template to your listing beforehand, which is actually our next step. If you’ve watched the preceding videos, you probably already know what lies ahead.</p>
</div>
<div class="paragraph">
<p>You can either add your layout to your listing in the "Description and layout" tab via the drop-down field right here.</p>
</div>
<div class="paragraph">
<p>Just keep in mind that the layout you select will overwrite all of your previous design settings.</p>
</div>
<div class="paragraph">
<p>Now one single listing is pretty easy to handle.</p>
</div>
<div class="paragraph">
<p>But if you’ve got several listings, save yourself a bunch of mouse clicks by using the group function and batch processing.</p>
</div>
<div class="paragraph">
<p>Even if you’ve long created your eBay listings and they’re already active, it’s still pretty much the same procedure. Just remember to update your description since active listing aren’t automatically synchronised.</p>
</div>
<div class="paragraph">
<p>On the other hand, if you’re more of a DIY type of person, then just create the template yourself or modify an existing one provided that you know a bit about HTML and CSS.</p>
</div>
<div class="paragraph">
<p>This button here allows you to add or create a new template.</p>
</div>
<div class="paragraph">
<p>Just check out our manual to see what code goes where.</p>
</div>
<div class="paragraph">
<p>It’s also worth mentioning that you can integrate template variables in your layout via this button up here.</p>
</div>
<div class="paragraph">
<p>These variables make your templates nice and dynamic because they access data that’s saved in your system.</p>
</div>
<div class="paragraph">
<p>If you add an item description, for example, then you only need to manage that information in one central location, so in your item data.</p>
</div>
<div class="paragraph">
<p>And if you want, you can export your layout as soon as you’re done and make it available to others.</p>
</div>
<div class="paragraph">
<p>Alright as you can see, layout templates aren’t just a bunch of hocus-pocus. But they can still have a magical effect on your listings. Whether you create them yourself or hire an agency, layouts add more than a bit of colour to your items on eBay. So go ahead and get started!</p>
</div>
</div>
</div>
</main>