<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Modifying several listings at once</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you have lots of listings that need your attention all at once? No problem! Simply use the group function, batch processing or templates to easily apply settings to several different listings at the same time.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/ebay/listings/modify-specific-listings#video">Modifying a few specific listings (0:20)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/modify-listings-criteria#video">Modifying all listings that meet certain criteria (0:40)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/modify-listings-use-templates#video">Using templates to give listings a pre-set configuration (1:13)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/modify-listings-example#video">Example - creating listings for several new items (3:47)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/274877996#at=73" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>So far in this video course, you’ve learned how to create and edit one listing at a time.</p>
</div>
<div class="paragraph">
<p>That’s kind of helpful. But in real-life, you probably have lots of listings that need your attention all at once.</p>
</div>
<div class="paragraph">
<p>No problem! plentymarkets makes it easy to apply settings to several listings at the same time.</p>
</div>
<div class="paragraph">
<p>Essentially, you’ve got a few different options.</p>
</div>
<div class="paragraph">
<p>If you’ve already created a bunch of listings in plentymarkets and now you want to change a few specific ones, then I’d recommend using the so-called "group function".</p>
</div>
<div class="paragraph">
<p>This is a way to tell plentymarkets, hey, for these three specific listings, use a different setting.</p>
</div>
<div class="paragraph">
<p>On the other hand, if you’ve already created a bunch of listings in plentymarkets and now you want to change all of the listings that meet specific filter criteria, then I’d recommend using so-called "batch processing".</p>
</div>
<div class="paragraph">
<p>Here you can tell plentymarkets, for example, that you want to edit all the listings that have a specific flag and are listed on eBay UK within a specific category.</p>
</div>
<div class="paragraph">
<p>Again, you tell plentymarkets, for all the listings that meet these criteria, use a different setting.</p>
</div>
<div class="paragraph">
<p>Last, but certainly not least, I’d like to mention templates.</p>
</div>
<div class="paragraph">
<p>The basic idea is simple. Instead of filling out the settings for every single listing individually create a template for all your run-of-the mill listing settings.</p>
</div>
<div class="paragraph">
<p>Templates are sort of like stencils, moulds or cookie cutters.</p>
</div>
<div class="paragraph">
<p>You can think of them as a pre-set pattern, which helps you create lots of similar listings.</p>
</div>
<div class="paragraph">
<p>Once the basic shape is in place, you can still tweak individual settings to make each listing unique.</p>
</div>
<div class="paragraph">
<p>In plentymarkets, simply enter whatever settings you want the template to control.</p>
</div>
<div class="paragraph">
<p>At first glance, it may seem like this menu contains a lot of listing settings that you’ve never seen before. But appearances can be deceiving!</p>
</div>
<div class="paragraph">
<p>If you take a closer look, you’ll notice that these settings, for example, are the same ones you encountered when creating a new listing and these settings are the same ones that you configured in the listing’s "base" tab.</p>
</div>
<div class="paragraph">
<p>Just one last word to the wise: If you’re ever having trouble finding a particular setting, you can always search for it directly within your browser.</p>
</div>
<div class="paragraph">
<p>Once you’ve finished configuring all the settings you want to use in your template, click on the green plus icon, give your template a name, and save the settings.</p>
</div>
<div class="paragraph">
<p>From here it’s easy to create a second template with similar settings.</p>
</div>
<div class="paragraph">
<p>Perhaps for a different target platform or for a different product line. Once you’ve set up your templates, you’re ready to start applying them to items and listings.</p>
</div>
<div class="paragraph">
<p>Simply click on the "Multi-Channel" tab to link a listing template to a specific item.</p>
</div>
<div class="paragraph">
<p>Here you’ll also notice that you can save eBay category IDs directly within an item data record. So if you’d prefer, then you can create templates that work for all different categories, and then just specify the category ID here.</p>
</div>
<div class="paragraph">
<p>When creating a new listing, you can also select a template here to use its settings.</p>
</div>
<div class="paragraph">
<p>Templates can also be used to change the settings of already existing listings.</p>
</div>
<div class="paragraph">
<p>This is how you apply a template to one individual listing.</p>
</div>
<div class="paragraph">
<p>And this is how you apply a template to several different listings that you hand-picked yourself.</p>
</div>
<div class="paragraph">
<p>Finally, this is how you apply a template to several different listings that meet specific filter criteria.</p>
</div>
<div class="paragraph">
<p>Now that you understand the basic concept, let’s see it in an example.</p>
</div>
<div class="paragraph">
<p>Suppose I’ve just added several new products to my portfolio and now I want to create eBay listings for all these items.</p>
</div>
<div class="paragraph">
<p>If you don’t already have a listing template, then your first stop will be here, where you’ll fill out the settings and save the template.</p>
</div>
<div class="paragraph">
<p>Your second stop will be the item overview, where you’ll find all of the new items that need your attention.</p>
</div>
<div class="paragraph">
<p>Here you’ll click on the "Item group function" and link the listing template to these items.</p>
</div>
<div class="paragraph">
<p>Finally, open up the group function again and create listings for these items.</p>
</div>
<div class="paragraph">
<p>When you open up the listing overview, you’ll see all of your newly created listings.</p>
</div>
<div class="paragraph">
<p>In this video, you learned how to modify several listings at once. You saw how to use batch processing and the group function. And you learned the difference between the two. You also learned how to create templates and use them like cookie cutters to give your listings a pre-set configuration. And you saw a practical example, which taught you how to quickly create listings for several new products at once.</p>
</div>
</div>
</div>
</main>