<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Starting, restarting and ending listings</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">This video teaches you how to start listings manually or plan automatic start times with the listing scheduler. It shows you how to restart expired listings with the endless lister function. And it teaches you how to correctly end listings that are no longer needed.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/ebay/listings/start-listings-manually#video">Starting listings manually (0:07)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/start-listings-automatically#video">Starting listings automatically (0:31)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/start-listings-restart-expired-listings#video">Restarting expired listings (2:34)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/start-listings-end-listings#video">Ending listings (3:02)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/273288179#at=182" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>On your marks, get set, go!</p>
</div>
<div class="paragraph">
<p>It’s time to begin selling items on eBay!</p>
</div>
<div class="paragraph">
<p>Once you’ve created a listing and decided it’s ready for use, click on this icon here to manually start the listing.</p>
</div>
<div class="paragraph">
<p>Simply decide whether you’d like the listing to begin right away or sometime in the future.</p>
</div>
<div class="paragraph">
<p>If you start a listing straight away, then it will show up in an overview here, or if it’s planned for the future, then you’ll see it here.</p>
</div>
<div class="paragraph">
<p>That’s all well and good. But you probably don’t have time to start every single eBay listing manually.</p>
</div>
<div class="paragraph">
<p>Instead, you may want to start listings automatically with the plentymarkets listing scheduler!</p>
</div>
<div class="paragraph">
<p>Simply click on the green plus icon and use these options here to tell plentymarkets when it should automatically begin your listings.</p>
</div>
<div class="paragraph">
<p>For example, you may want your listings to start every Monday, Wednesday and Friday at 9am and 3pm.</p>
</div>
<div class="paragraph">
<p>Or, instead of specific weekdays you may prefer to start listings on the 1st and 15th of each month.</p>
</div>
<div class="paragraph">
<p>The "Runtime" option here specifies how long the listing should last.</p>
</div>
<div class="paragraph">
<p>Either pick a certain number of days or use whatever duration was saved in the listing’s Base tab.</p>
</div>
<div class="paragraph">
<p>If you choose a certain number of days here, then this run time will be used for the listing, even if a different duration is saved in the listing’s Base tab.</p>
</div>
<div class="paragraph">
<p>Next there’s the "Distribution" option. This allows you to begin listings in equal time intervals, rather than starting them all at once.</p>
</div>
<div class="paragraph">
<p>So in this example, suppose you have 10 listings that will start at 9 am.</p>
</div>
<div class="paragraph">
<p>If you use the default setting 0 minutes, then all 10 listings will start exactly at 9 am.</p>
</div>
<div class="paragraph">
<p>But if you select 120 minutes - or 2 hours - then the 10 listings will begin in equal time intervals between 9 and 11 am. All 10 listings will be started within 120 minutes, or in other words, one listing will be started every 12 minutes.</p>
</div>
<div class="paragraph">
<p>Last but not least, give your listing a name, activate it, and save your settings. Now that you’ve told plentymarkets when to start listings, open up this menu here and tell it which listings to start.</p>
</div>
<div class="paragraph">
<p>In other words, link the listings scheduler to the appropriate listing.</p>
</div>
<div class="paragraph">
<p>When you go back to the "Listing scheduler" menu, you’ll be able to see how many listings are currently linked.</p>
</div>
<div class="paragraph">
<p>Now that you know how to start listings, I’d like to show you a tool to automatically re-start listings when they expire.</p>
</div>
<div class="paragraph">
<p>Simply place a check mark next to the "Endless lister" option and then decide how many market listings can be active at the same time.</p>
</div>
<div class="paragraph">
<p>But keep in mind that checking the endless lister function isn’t the same thing as actually starting the listing. You’ll still need to start the listing manually or automatically before the endless lister goes into effect.</p>
</div>
<div class="paragraph">
<p>Alright, you’ve already learned how to start and re-start listings. Now let’s learn how to end and delete them. Because frankly, sometimes it can be a little bit tricky.</p>
</div>
<div class="paragraph">
<p>OK, the first thing to keep in mind is that deleting a listing in plentymarkets isn’t the same thing as actually ending it on eBay, Hood, or Ricardo.</p>
</div>
<div class="paragraph">
<p>So if you want to stop a listing on eBay, for example, then don’t just click on delete.</p>
</div>
<div class="paragraph">
<p>Instead, end the listing on eBay first by clicking on this icon here.</p>
</div>
<div class="paragraph">
<p>The second thing to remember is that you can’t end a listing until you’ve un-checked the endless lister option. This makes sense because it’s the endless lister’s job to automatically re-start ended listings.</p>
</div>
<div class="paragraph">
<p>Even though ending and deleting listings can seem tricky at first, you really just need to remember the correct order of operations.</p>
</div>
<div class="paragraph">
<p>Step 1, un-check the endless lister option.</p>
</div>
<div class="paragraph">
<p>Step 2, end the listing on eBay and step 3, delete it from the overview in plentymarkets.</p>
</div>
<div class="paragraph">
<p>In this video, you learned how to start listings manually or automatically with the listing scheduler. You learned how to use the endless lister function to automatically re-start expired listings. And you learned how to end and delete listings that you no longer need.</p>
</div>
</div>
</div>
</main>