<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Displaying item variants dynamically</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets allows you to assign items to individual attributes. These attributes are then used to create item variations. The individual characteristics of item variations, such as the surcharges and attribute images, can be displayed visually and dynamically in the online store. This means that the displayed information and images will automatically change depending on what is selected.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Important</div>
</td>
<td class="content">
<div class="title">Carry out the settings in all of the relevant templates</div>
<div class="paragraph">
<p>In order for the dynamic display to function in all of the layouts, you have to carry out the steps described below in all of the relevant templates. For example, the dynamic display will only be applied to the search results list if you have also edited the template under <strong>CMS » Web design » Layout » ItemView » ItemViewSearchResultsList</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_inserting_template_variables_for_displaying_attributes">Inserting template variables for displaying attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>$AttributeSelect</strong> template variable displays an item’s attributes as a dropdown menu. Use the template variable <strong>$ImageAttributeList</strong> to display the attributes of an item not only in a drop-down list but also in a list of preview images. The options in the drop-down list will be adjusted dynamically. Use the features <strong>Dynamic item price</strong> and <strong>Dynamic item images</strong> as well. In order for the template variable <strong>$ImageAttributeList</strong> to be effective, you need to assign the attributes to images.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to insert the template variables. Here you can find examples for inserting template variables into the <strong>ItemViewSingleItem</strong> template. However, the same process is used in all other areas where the template variable <strong>$AttributeSelect</strong> can be inserted.</p>
</div>
<div class="paragraph instruction">
<p>Inserting template variables:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Insert the template variables <strong>$AttributeSelect</strong> and <strong>$ImageAttributeList</strong> into the template.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_displaying_the_item_prices_dynamically">Displaying the item prices dynamically</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To display a dynamic item price, replace the template variable <strong>$Price</strong> with <strong>$PriceDynamic</strong> in the template <strong>ItemViewSingleItem</strong>. By using the template variable <strong>$PriceDynamic</strong>, the display of the item price will be adjusted depending on the selected attribute. In order for the item price to be adjusted, items have to be assigned to attributes with suchrcharges. Proceed as described below to display the item price dynamically.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/_cms-syntax/case-examples/assets/EN-CMS-Displaying-Item-Variants-Dynamically-01.png" alt="EN CMS Displaying Item Variants Dynamically 01">
</div>
<div class="title">Figure 1. example of dynamic item prices</div>
</div>
<div class="paragraph instruction">
<p>Displaying the item prices dynamically:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>If not included yet, insert the template variable <strong>$AttributeSelect</strong> into the template.</p>
</li>
<li>
<p>Replace the template variable <strong>$Price</strong> with <strong>$PriceDynamic</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
<div class="title">Deactivating the display of surcharges.</div>
<div class="paragraph">
<p>Go to <a href="/en/omni-channel/online-store/setting-up-clients/item-layouts">Setup » Client » Select client » Item layouts » Settings</a> in order to deactivate the display of surcharges. Choose the setting <strong>Do not show</strong> for the option <strong>Attribute surcharge</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_displaying_item_images_dynamically">Displaying item images dynamically</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following steps in order to display item images dynamically.</p>
</div>
<div class="sect2">
<h3 id="_activating_the_image_link">Activating the image link</h3>
<div class="paragraph">
<p>If you want the displayed <a href="/en/item/managing-items#460">item image</a> to match the selected attribute, then activate the <strong>Image link</strong> option for the attributes. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Activating the image link:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.</p>
</li>
<li>
<p>Click on the <strong>plus icon</strong> in front of the attribute that you would like to edit.</p>
</li>
<li>
<p>Activate the <strong>Image link</strong>.</p>
</li>
<li>
<p>Check whether the necessary attributes were assigned to the desired items and whether the attributes were linked to the item images.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_activating_the_client_check">Activating the client check</h3>
<div class="paragraph">
<p>Now activate the <a href="/en/omni-channel/online-store/setting-up-clients/item-layouts">client check</a> in order to display the attribute images dynamically.</p>
</div>
</div>
<div class="sect2">
<h3 id="_carrying_out_layout_settings">Carrying out layout settings</h3>
<div class="paragraph">
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewSingleItem</strong>. Check whether the template variable <strong>$AttributeSelect</strong> is included in the template. Also add the following <strong>JavaScript</strong> to the template. To do so, proceed as follows.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&lt;script language="javascript" type="text/javascript"&gt;
   var dynamic_article_image = "middle";
&lt;/script&gt;</code></pre>
</div>
</div>
<div class="paragraph instruction">
<p>Inserting the code for displaying attribute images into the web design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Make sure that the template variable <strong>$AttributeSelect</strong> was entered into the template.</p>
</li>
<li>
<p>Insert the JavaScript displayed above into the template.</p>
</li>
<li>
<p>Edit the value of the variable <strong>dynamic_article_image</strong> if you do not want images to be displayed with medium resolution. Replace the value <strong>"middle"</strong> with <strong>"preview"</strong> if you want preview images to be displayed. Replace it with <strong>"normal"</strong> if you want images to be displayed in the highest resolution.</p>
</li>
<li>
<p>Your choice depends on which type of preview image you have selected. You can tell which type was selected by looking at the variable for the item image.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Following is an image of an example code, which contains the JavaScript in lines 5 - 7 and the template variable in line 21.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/_cms-syntax/case-examples/assets/EN-CMS-Displaying-Item-Variants-Dynamically-02.png" alt="EN CMS Displaying Item Variants Dynamically 02">
</div>
<div class="title">Figure 2. example code for dynamic item images</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
<div class="title">Dynamic images</div>
<div class="paragraph">
<p>Dynamic images are also available to you. They can be found by going to <strong>CMS » Web design » Layout » ItemView » ItemViewCategoriesList</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_assigning_more_than_one_image_per_variation">Assigning more than one image per variation</h3>
<div class="paragraph">
<p>You can link more than one image to a variation’s attribute value. This is done in the item’s <strong>Images</strong> tab. In order for the images to be correctly displayed in the ItemViewSingleItem layout, the preview images have to be in a DIV container with the ID <strong>PlentyDynamicPreviewImagesContainer</strong>. Furthermore, the images have to be positioned within an a-tag and given the structure shown below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&lt;div id="PlentyDynamicPreviewImagesContainer" class="articlepicswrapper"&gt;
    &lt;a href="$ImageURL[1]" name="$MiddleSizeImageURL[1]" rel="{gallery: 'gal1', smallimage: '$MiddleSizeImageURL[1]', largeimage: '$ImageURL[1]'}"&gt;
    &lt;img src="$PreviewImageURL[1]" alt="$Name[1] 001" class="previewimages"&gt;
    &lt;/a&gt;
    &#123;&#37; if $ImageURL[2]!="" &#37;&#125;
    &lt;a href="$ImageURL[2]" name="$MiddleSizeImageURL[2]" rel="{gallery: 'gal1', smallimage: '$MiddleSizeImageURL[2]',largeimage: '$ImageURL[2]'}"&gt;
    &lt;img src="$PreviewImageURL[2]" alt="$Name[1] 002" class="previewimages"&gt;
    &lt;/a&gt;
    &#123;&#37; endif &#37;&#125;
&lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>The "large" item image needs to have the following structure (<strong>class</strong> and <strong>rel</strong> are especially important) so that the images correspond with the selected attribute value:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&lt;a href="$ImageURL[1]" class="jqzoom" rel="gal1"&gt;
$MiddleSizeImage[1]
&lt;/a&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_editing_css">Editing CSS</h3>
<div class="paragraph">
<p>Use CSS to modify how the features described here are displayed. CSS codes for doing so are listed below. The codes are examples only and can be modified to fit your needs.</p>
</div>
<div class="sect3">
<h4 id="_editing_css_for_client_check">Editing CSS for client check</h4>
<div class="paragraph">
<p>Go to <strong>CMS » Web design » Layout » CSS » CSSContent</strong> and insert the following <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-editing-the-web-design-css">CSS code</a> at the end of any previously existing code. Be sure to save a copy of the previously existing code before you insert the following code.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Important</div>
</td>
<td class="content">
<div class="title">Note regarding the standard design farbfinal</div>
<div class="paragraph">
<p>If you use one of our farbfinal standard designs in your online store, then make sure that the section /* DROPDOWN RESET FOR FARBFINAL OR OTHER LAYOUTS */ is available in your CSS.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">/* NEW ATTRIBUTE SELECT */



/* clear */
.clear {
clear: both;
}

/* wrapper */
.plentyAttributeSelectWrapper {
margin-bottom: 5px;
}
/* wrapper title */
.plentyAttributeSelectWrapperTitle { }
/* wrapper content */
.plentyAttributeSelectWrapperContent {
display: inline-block;
}

/* ul (all) */

/* ul */
.plentyAttributeSelectWrapperContent ul {
padding-left: 0;
}
/* li */
.plentyAttributeSelectWrapperContent ul &gt; li {
list-style: none;
margin-left: 0;
overflow: hidden;
}

/* disabled */
li.plentyAttributeSelectDisabled {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
cursor: default !important;
}
li.plentyAttributeSelectDisabled a {
cursor: default !important;
}



/* DROPDOWN */

/* dropdown container */
.plentyAttributeSelectHasDropdown {
position: relative;
}
/* height if dropdown closed */
.plentyAttributeSelectHasDropdown,
.plentyAttributeSelectHasDropdown &gt; div,
.plentyAttributeSelectHasDropdown &gt; .plentyAttributeSelectWrapperInnerClosed:hover {
height: 18px;
}
/* openable container */
.plentyAttributeSelectHasDropdown &gt; div {
position: absolute;
/*width: 100%;*/ /*has conflict with parent clearfix*/
overflow: hidden;
background: #ffffff;
border: 1px solid #cccccc;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
/* open dropdown if hovered */
.plentyAttributeSelectHasDropdown:hover &gt; div {
height: auto;
z-index: 10000;
-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

/* selectet item */

/* value (all) */
.plentyAttributeSelectedValue,
.plentyAttributeSelectValue &gt; a {
padding: 0 0 0 7px;
white-space: nowrap;
}
/* value selected */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectedValue {
position: relative;
padding-right: 20px;
}
/* arrow container */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectedValue &gt; .plentyAttributeSelectedArrow {
position: absolute;
right: 2px;
top: 2px;
width: 12px;
height: 12px;
}
/* arrow inner */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectedValue &gt; .plentyAttributeSelectedArrow &gt; span {
display: inline-block;
border-style: solid;
border-width: 5px;
border-color: #999999 transparent transparent;
}
/* arrow hover */
.plentyAttributeSelectHasDropdown &gt; div:hover .plentyAttributeSelectedValue &gt; .plentyAttributeSelectedArrow &gt; span {
border-color: #777777 transparent transparent;
}


/* list */

/* list wrapper */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper {
max-height: 108px; /*adapt to height of li*/
overflow-y: auto;
overflow-x: hidden;
}
/* ul */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper &gt; ul {
}
/* li */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper &gt; ul &gt; li {
height: 18px;
}
/* a */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper &gt; ul &gt; li a {
display: block;
padding-right: 20px;
white-space: nowrap;
}
/* li hover / a focus */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper &gt; ul &gt; li:hover a,
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper &gt; ul &gt; li a:focus {
background: #eeeeee;
color: #000000;
cursor: pointer;
}
/* reset li hover / a focus if disabled */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper &gt; ul &gt; li.plentyAttributeSelectDisabled:hover a,
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper &gt; ul &gt; li.plentyAttributeSelectDisabled a:focus {
background: transparent;
color: #000000;
}
/* li / a selected */
.plentyAttributeSelectHasDropdown .plentyAttributeSelectListWrapper &gt; ul &gt; li.plentyAttributeSelectSelected a {
background: #eeeeee;
}
/* value &amp; markup */
.plentyAttributeSelectValueName {
/*float: left;*/
}
.plentyAttributeSelectValueMarkup {
padding-left: 5px;
/*float: right;*/
}


/* IMAGE GALLERY / TEXT BOX */

/* ul */
.plentyAttributeSelectHasImageGallery ul,
.plentyAttributeSelectHasTextList ul {
margin: 0 -5px -5px 0;
}
/* ul image gallery / text boxes */
.plentyAttributeSelectHasImageGallery ul,
.plentyAttributeSelectHasTextList ul {
line-height: 0;
}
/* ul text boxes */
.plentyAttributeSelectHasTextList ul &gt; li {
line-height: 1.5em;
}
/* image box size */
.plentyAttributeSelectHasImageGallery ul &gt; li,
.plentyAttributeSelectHasImageGallery ul &gt; li &gt; a {
width: 60px; /*adapt box dimension to image dimension*/
height: 60px;
}
/* li */
.plentyAttributeSelectHasImageGallery ul &gt; li,
.plentyAttributeSelectHasTextList ul &gt; li,
.plentyAttributeSelectHasImageGallery ul &gt; li.plentyAttributeSelectDisabled:hover,
.plentyAttributeSelectHasTextList ul &gt; li.plentyAttributeSelectDisabled:hover {
display: inline-block;
margin: 0 5px 5px 0;
border: 1px solid #DDDDDD;
border-radius: 3px;
padding: 3px;
}
/* li hover / selected */
.plentyAttributeSelectHasImageGallery ul &gt; li:hover,
.plentyAttributeSelectHasTextList ul &gt; li:hover,
.plentyAttributeSelectHasImageGallery ul &gt; li.plentyAttributeSelectSelected,
.plentyAttributeSelectHasTextList ul &gt; li.plentyAttributeSelectSelected {
border-color: #999999;
cursor: pointer;
-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
/* li selected image gallery */
.plentyAttributeSelectHasImageGallery ul &gt; li.plentyAttributeSelectSelected {
background: #DDDDDD;
}
/* li selected text box */
.plentyAttributeSelectHasTextList ul &gt; li.plentyAttributeSelectSelected {
background: #eeeeee;
}
/* reset li hover / selected if selected */
.plentyAttributeSelectHasImageGallery ul &gt; li.plentyAttributeSelectDisabled:hover,
.plentyAttributeSelectHasTextList ul &gt; li.plentyAttributeSelectDisabled:hover {
border-color: #DDDDDD;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
/* a */
.plentyAttributeSelectHasImageGallery ul &gt; li &gt; a {
display: block;
overflow: hidden;
}
/* img */
.plentyAttributeSelectHasImageGallery ul &gt; li &gt; a &gt; img {
border: none;
}
/* a hover / a focus text box */
.plentyAttributeSelectHasTextList ul &gt; li a:hover,
.plentyAttributeSelectHasTextList ul &gt; li a:focus {
color: #000000;
}
/* value text boxes */
.plentyAttributeSelectHasTextList .plentyAttributeSelectValue {
padding-left: 5px;
}
/* value text boxes */
.plentyAttributeSelectHasTextList .plentyAttributeSelectValue {
padding-left: 5px;
padding-right: 5px;
}


/* UPDATE (FIX FOR ANY DOCTYPE) */
.plentyAttributeSelectedArrow &gt; span {
position: absolute;
top: 5px;
}


/* DROPDOWN RESET FOR FARBFINAL OR OTHER LAYOUTS  */

.plentyAttributeSelectHasDropdown &gt; div {
text-align: left;
line-height: 18px;
}
#ff01_maincontent .plentyAttributeSelectHasDropdown &gt; div {
right: 0; /* use only if text-align of dropdown parent container is right */
}
.plentyAttributeSelectWrapperContent.plentyAttributeSelectHasDropdown ul {
margin: 0 !important;
padding: 0 !important;
}</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_item_image_sizes">Item image sizes</h4>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
<div class="title">Tip: Container size for the attribute image</div>
<div class="paragraph">
<p>You can use CSS code to set the container size for displaying the attribute image. Make changes in the lines <strong>/*adapt box dimension to image dimension</strong>/* and <strong>/</strong> image box size <strong>/</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Go to <strong>Setup » Item » Images</strong> and save the maximum values for <a href="/en/item/managing-items#450">item attribute images</a> for the options <strong>Maximum width (pixels) of the item attribute image</strong> and <strong>Maximum height (pixels) of the item attribute image</strong>.</p>
</div>
</div>
</div>
</div>
</div>
</main>