<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dein Fulfillment in plentymarkets mit Prozessen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du möchtest mit wenigen Klicks deine Aufträge abarbeiten und schließlich zu Kund:innen schicken: Kein Problem mit Prozessen! Wie es genau funktioniert erfährst du in diesem Video. Lade dir hier und jetzt den Prozess herunter!</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/225368357" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="paragraph">
<p>Datei zu diesem Video:
<a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentyprocess/Pickliste-Rechnung-Versandlabel.plentyprocess">Fulfillment-Prozess</a></p>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Wenn deine Ware gekauft, der Auftrag in dein System importiert wird, liegt ein vielschrittiger Fulfillment-Prozess
vor dir, denn die Ware muss gesucht, gepackt, verschickt und dein Kunde darüber informiert werden.
Dein Glück, dass du plentymarkets hast - denn mit den sogenannten Prozessen heißt Fulfillment für dich bald
nur noch: Klick, Klick, Feierabend!</p>
</div>
<div class="paragraph">
<p>Natürlich musst du selbst entscheiden, wie du dein Fulfillment und die Prozesse aufbaust. Wenn wir allerdings
davon ausgehen, dass dein Auftrag ganz frisch im System gelandet ist und nun auf die Bearbeitung wartet,
machen sicher Rechnung und Versandlabel Sinn.</p>
</div>
<div class="paragraph">
<p>Einen Prozess für genau diesen Zweck findest du in der Beschreibung dieses Videos. Nach Download kannst
du ihn in dein System importieren. Ein kleines aber gibt es schon: Druckereinstellungen und Status konnten
wir dir noch nicht einrichten. Also schau bei jeder Aktion mit dem Namen "Drucken", dass du diese auf deine
Drucker konfigurierst.</p>
</div>
<div class="paragraph">
<p>Wie du siehst, beinhaltet dieser Prozess auch nur einen Arbeitsschritt. Er sucht dir deine versandbereiten
Aufträge heraus, indem er einen Status filtert, der genau das aussagt. Wenn du den Prozess frisch in dein System importiert hast, ist ebendieser Status noch nicht korrekt gewählt;
stelle ihn also bitte im ersten Schritt so ein, dass er auf deine Auftragsabwicklung passt.</p>
</div>
<div class="paragraph">
<p>Auf der rechten Seite stellst du ein, wie deine Aufträge nach Abwicklung markiert werden, beispielsweise mit
dem Status 6. Sobald dein Prozess also im ersten Arbeitsschritt alle versandfertigen Aufträge herausgesucht hat, druckt er dir
zuerst eine Pickliste. Falls du das nicht brauchst oder in einem anderen Prozess abbilden möchtest, lösch es
hier ruhig.</p>
</div>
<div class="paragraph">
<p>Daraufhin geht es dann los mit der eigentlichen Abwicklung und zwar in einer Schleife; solange bis alle Aufträge
abgearbeitet wurden. Was passiert also zwischen Artikel raussuchen und Artikel abschicken?</p>
</div>
<div class="paragraph">
<p>Der Artikel wird gescannt oder anderweitig erfasst und ein Versandetikett wird erstellt und gedruckt. In diesem Beispiel melden wir den Versand über die
direkte Schnittstelle zu DHL Shipping (Versenden) an. Aber egal welcher Dienstleister dir beim Versand zur
Seite steht, entweder kannst du ihn über eine direkte Schnittstelle ansprechen oder über die Aktion "Polling". Rechnung und Lieferschein und alle anderen Dokumente werden nach dem Versandlabel erstellt und gedruckt.</p>
</div>
<div class="paragraph">
<p>Wieso erst danach? Ganz einfach: Wenn bei der Versandanmeldung zum Beispiel ein Fehler bei der Adresse
auffällt, du aber schon die Rechnung erstellt hast, musst du diese Rechnung erst wieder stornieren, bevor du
etwas am Auftrag ändern kannst. Denn damit du rechtskonform arbeiten kannst, wird der Auftrag nach Rechnungserstellung gesperrt. Deshalb:
Erst Versand anmelden, dann Rechnung erstellen.</p>
</div>
<div class="paragraph">
<p>Tollen Kundenservice bietest du, wenn du direkt Rücksendeschein und Retourenlabel ins Paket packst.
Beachte bitte: Ein Label kannst du mit diesem Prozess auch nur erstellen, wenn du den Service DHL Retoure
Online nutzt.</p>
</div>
<div class="paragraph">
<p>Und als letzter Schritt wird dann der Warenausgang gebucht, woran du dann mit einer Ereignisaktion wieder
anknüpfen könntest, damit dein Kunde die Trackingnummer und Rechnung per Mail erhält.</p>
</div>
<div class="paragraph">
<p>So viel zur Theorie! Aber Prozesse machen erst so richtig Spaß, wenn Sie im Einsatz sind.</p>
</div>
<div class="paragraph">
<p>Links ist dein "Liveticker", der dir zeigt, was dein Prozess gerade macht, oben auf Start geht’s los!
Die Aufträge sind gefunden, die Pickliste gedruckt. Die Artikel können also nun aus dem Lager geholt und
gesammelt werden.</p>
</div>
<div class="paragraph">
<p>Ob du scannst oder die ID eingibst, wenn der Artikel erfasst wurde, wird er dir in Grün hervorgehoben.
Nach und nach füllen sich also die Päckchen für deine Kunden, bis du schließlich alle Aufträge abgewickelt
hast. Wie versprochen befinden sich die Aufträge nun im Status 7, der Warenausgang wurde gebucht.</p>
</div>
<div class="paragraph">
<p>Klick Klick Bäm! Schau, wie der Prozess am besten zu dir passt, stimme ihn etwas ab und dann starte in
Richtung Klick, Klick, Feierabend!</p>
</div>
</div>
</div>
</main>