<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lieferauftr채ge anlegen und automatisieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lerne in diesem Video, wie du in plentymarkets mit wenigen Klicks Lieferauftr채ge anlegst und verwaltest, und wie dir Ereignisaktionen dabei deinen Arbeitsalltag noch weiter erleichtern.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/auftragsabwicklung/auftraege-abwickeln/lieferauftraege-was-sind-lieferauftraege#video">Was sind Lieferauftr채ge? (0:27)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/auftraege-abwickeln/lieferauftraege-grundeinstellungen#video">Auftragsbest채tigung versenden (1:21)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/auftraege-abwickeln/lieferauftraege-manuell-anlegen#video">Zahlungen verbuchen (2:27)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/auftraege-abwickeln/lieferauftraege-automatisch-anlegen#video">Mitarbeiter in Kenntnis setzen (2:47)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/232670390#at=27" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</main>