<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Schnellfunktionen in der Auftragsübersicht</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Video bietet dir einen kurzen Überblick über verschiedene Möglichkeiten, die du innerhalb deiner Auftragsübersicht hast.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/219827626" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Weiter gehts mit der Besichtigung des Unternehmens. Hier haben wir unseren Kundendienst. Dort am Schreibtisch nimmt Peter die Anrufe von Kunden an. Und versucht ihnen bei ihren Fragen bestmöglich weiterzuhelfen.
Oh Moment - da kommt ein Kundenanruf rein.</p>
</div>
<div class="paragraph">
<p>Hallo, ich hab bei euch wat bestellt, wann kommt denn das endlich?</p>
</div>
<div class="paragraph">
<p>Natürlich kannst du den Kunden an seine Kaufabwicklung verweisen. Du kannst aber auch deine Auftragsübersicht nutzen.
Im Bereich der Auftragsübersicht hast Du den vollen Überblick und kannst dir sehr schnell mit einigen wenigen Informationen deines Kunden den gewünschten Auftrag suchen.
Egal ob AuftragsID, Kundennummer oder mit dem Namen des Kunden. Der Auftrag ist schnell gefunden und gibt
dir schon in der Übersicht wesentliche Informationen zum Bearbeitungsstatus.</p>
</div>
<div class="paragraph">
<p>Im Falle des Anrufers steht der Auftrag im Status 3.3. Das bedeutet, dass der Kunde den Auftrag noch nicht
vollständig bezahlt hat. Das wiederum siehst du nicht nur am Status, sondern auch an dem Balken hier.</p>
</div>
<div class="paragraph">
<p>Darüber hinaus kannst du im mittleren Bereich sehen, wann der Auftrag eingegangen ist, kannst sehen, wann
die Zahlung eingegangen ist und kannst dir zum Beispiel direkt die Rechnung aufrufen.
Und mit den Buttons darunter hast du sogar verschiedene Interaktionsmöglichkeiten zum Auftrag. Du kannst
zum Beispiel die Zahlung buchen, eine Rechnung erstellen oder den Warenausgang buchen.
Du hast also bereits in der Auftragsübersicht die wichtigsten Aktionen für den einzelenen Auftrag zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Kunde: Ich hab mir überlegt, dass ich den Artikel gern nochmal für meine Schwester bestellen möchte.</p>
</div>
<div class="paragraph">
<p>Du hast in der Auftragsübersicht sogar einen Button, mit dem Du den aktuellen Warenbestand des Artikels
checken kannst. Sollte der Bestand des Artikels nicht mehr ausreichen kannst Du hier direkt eine
Nachbestellung anlegen! Ansonsten kannst Du aber auch innerhalb des jeweiligen Auftrages noch Artikel zum Auftrag hinzufügen solang für den jeweiligen Auftrag dafür noch keine Rechnung erzeugt wurde.</p>
</div>
<div class="paragraph">
<p>Kunde: Können Sie mir denn nochmal die aktualisierte Rechnung zukommen lassen?</p>
</div>
<div class="paragraph">
<p>Auch das ist natürlich in der Auftragsübersicht kein Problem: Du kannst hier eine Rechnung erzeugen und über
den Email-Button navigierst du direkt in den Auftrag und kannst dem Kunden eine Email mit der Rechnung im
Anhang senden.</p>
</div>
<div class="paragraph">
<p>Natürlich sind das noch längst nicht alle Möglichkeiten, die dir die Auftragsübersicht bietet.
Nimm dir am besten einige Minuten und schaue dir die Optionen in diesem Menü genauer an. Es lohnt sich.</p>
</div>
<div class="paragraph">
<p>Vergleichen lässt sich die Auftragsübersicht mit einem Raumplan innerhalb eines Gebäudes. Auf einen Blick
erhälst du eine Übersicht über deine Aufträge und hast außerdem die Möglichkeit den schnellsten Weg zu allen
wesentlichen Einstellungen und Optionen des jeweiligen Auftrags zu gehen.</p>
</div>
<div class="paragraph">
<p>Wenn Du wissen möchtest, welche weiteren Möglichkeiten du in deiner Auftragsabwicklung hast schaue dir doch
ganz einfach die weiteren Videos zu diesem Thema an.</p>
</div>
</div>
</div>
</main>