<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Wie geht man mit gesperrten Aufträgen um? Stornobeleg!</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">In plentymarkets werden Aufträge gesperrt sobald eine Rechnung zum Auftrag erstellt wurde. Wie du einen Auftrag entsperrst, um ihn nachträglich zu bearbeiten, erfährst du in diesem Video</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/217136257" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Eine Betriebsprüfung durch das Finanzamt ist für dich sicherlich stressig, denn es kostet Nerven und Zeit. Wenn es ganz
schlecht läuft kann dir eine solche Prüfung auch teuer zu stehen kommen. Schon deshalb solltest Du so rechtssicher wie möglich arbeiten.</p>
</div>
<div class="paragraph">
<p>Wir wollen dir helfen möglichst sorgenfrei durch genau diese Betriebsprüfungen zu kommen. Darum haben haben wir plentymarkets noch rechtssicherer gemacht.</p>
</div>
<div class="paragraph">
<p>Um rechtssicher zu arbeiten war es nötig einige Anpassungen an plentymarkets vorzunehmen. Die wichstigste Änderung sind dabei die gesperrten Aufträge.
Aufträge werden gesperrt, wenn eine Rechnung am Auftrag erzeugt wurde.</p>
</div>
<div class="paragraph">
<p>Warum ist das so? Sobald eine Rechnung für einen Auftrag erstellt wird ist dieser Auftrag für die Steuer von Bedeutung. Eine nachträgliche
Änderung eines Auftrages mit erstellter Rechnung ist deshalb nicht gesetzeskonform. Stell dir dazu einfach einen Vertrag
vor, der nach der Unterzeichnung verpflichtend ist und nicht mehr geändert werden kann. An diesen Grundsatz haben wir uns gehalten, sodass es nicht mehr möglich ist einen Auftrag mit erstellter Rechnung zu
bearbeiten.</p>
</div>
<div class="paragraph">
<p>Solltest Du häufiger vor dem Problem stehen, dass ein gesperrter Auftrag nachträglich bearbeitet werden muss, solltest
du dich zunächst fragen, ob deine Auftragsabwicklung nicht optimiert werden kann. Die Erfahrung hat gezeigt, dass die Rechnung oft direkt beim Auftragseingang erstellt wird. Das ist natürlich zu früh, denn
die Rechnung ist eben keine Auftragsbestätigung. Deshalb empfehlen wir dir zunächst den Zeitpunkt der Rechnungserzeugung zu überdenken.
Mehr Sinn ergibt es zum Beispiel die Rechnung erst beim Packen deiner Pakete zu erzeugen. Sollte es nämlich vorher zu
Änderungen kommen ist der Auftrag noch nicht gesperrt.</p>
</div>
<div class="paragraph">
<p>Warscheinlich wird auch deine Rechnung durch eine Ereignisaktion erzeugt. Ich zeige dir jetzt noch kurz, wie einfach es
ist, deine Ereignisaktion optimal anzupassen.</p>
</div>
<div class="paragraph">
<p>Dafür öffne ich mir meine Ereignisaktion, die beim Auftragseingang eine Rechnung erzeugt und diese an den
Kunden versendet. Wenn du jetzt einfach beispielsweise statt Neuer Auftrag das Ereignis Statuswechsel und den Status 5 wählst, wird deine Rechnung erst beim Wechsel in Status 5 erstellt und du kannst den Auftrag bis dahin bearbeiten.
Solltest Du dennoch mal einen Auftrag ändern müssen, kannst du dies mithilfe des Stornobelegs tun. Den Stornobeleg
solltest Du als Dokument konfiguriert haben.</p>
</div>
<div class="paragraph">
<p>Wenn Du den Stornobeleg dann erzeugt hast wird dein Auftrag wieder entsperrt. Du kannst also beispielsweise etwas an der Rechnungsadresse ändern.</p>
</div>
<div class="paragraph">
<p>Den Stornobeleg selber kannst Du auch über eine Ereignisaktion direkt an deinen Kunden senden. Dazu legst Du eine Ereignisaktion an und nimmst diese Einstellungen vor.
Dann kannst Du ihn nutzen um die Rechnung zu stornieren und deinen Auftrag wieder zu bearbeiten.</p>
</div>
<div class="paragraph">
<p>Letztlich gibt es also nur zwei Dinge, die du beachten solltest. Erstens: Erstelle deine Rechnung zum richtigen Zeitpunkt,
um während deiner Auftragsabwicklung eingreifen zu können. Zweitens: Solltest Du dennoch einen gesperrten Auftrag
bearbeiten müssen, verwende den Stornobeleg, um einen gesperrten Auftrag zu entsperren. Nach der Bearbeitung des
Auftrages erstellst Du eine neue Rechnung und bist auf der sicheren Seite!</p>
</div>
</div>
</div>
</main>