<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Grobkommissionierung über Mobile Pickliste inkl. Label, Rechnung, Lieferschein und Warenausgang</span></a></li>
<li><a href="#200"><span>2.</span><span> Grobkommissionierung über Papier, Feinkommissionierung über Box-Regal inkl. Label, Rechnung, Lieferschein und Warenausgang</span></a></li>
<li><a href="#300"><span>3.</span><span> Grob- &amp; Fein-Kommissionierung über Papier, dann Auftragssuche und Versand</span></a></li>
<li><a href="#400"><span>4.</span><span> Verschiedene Versanddienstleister, Seriennummern erfassen, Fein-Kommissionierung über Box-Regal</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Praxisbeispiele: Prozesse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du einige Beispielprozesse. Aber auch ein Blick ins plentymarkets Forum lohnt sich: In unserem <a href="https://forum.plentymarkets.com/c/suche-biete/prozess-basar" target="_blank" rel="noopener">Prozessbasar</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> findest du weitere Beispielprozesse von engagierten Händler:innen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Hinweise zum Umgang mit Beispielprozessen</div>
<div class="paragraph">
<p>Die im Folgenden verlinkten Beispielprozesse nehmen dir einige Arbeitsschritte ab und helfen dir so, deine Abwicklungsprozesse in plentymarkets einzurichten. Beachte jedoch, dass sie immer nur eine Basis darstellen. Nachdem du einen Beispielprozess importiert hast, musst du noch einige Einstellungen überprüfen und anpassen. Achte daher auf die Hinweise zu den Beispielprozessen im jeweiligen Kapitel dieser Seite, um Fehlfunktionen zu vermeiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Grobkommissionierung über Mobile Pickliste inkl. Label, Rechnung, Lieferschein und Warenausgang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das folgende Video erklärt, wie du mithilfe der Prozesse für bestimmte Aufträge automatisch eine Mobile Pickliste erzeugst. Die Grob-Kommissionierung erfolgt mithilfe der plentymarkets App. Das Beispiel liefert aktuell nur Aufträge, die aus einer Auftragsposition mit der Artikelmenge 1 bestehen. Wenn du also zuerst solche Aufträge bearbeiten möchtest und danach die komplexeren Aufträge, dann lege einfach zwei unterschiedliche Prozesse an. Importiere dieses Beispiel einfach noch einmal und passe die Filter entsprechend an.</p>
</div>
<div class="paragraph">
<p>Schau dir das folgende Video an, um die einzelnen Einstellungen genauer nachzuvollziehen.
<a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentyprocess/MPickL-Video_2021_04_26_16_33_56.plentyprocess" target="_blank" rel="noopener">Klicke außerdem hier</a>, um den passenden Beispielprozess herunterzuladen und in dein plentymarkets System zu importieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Video-Tutorial</strong></div>
<div class="content">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/131830323" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie importiere ich einen Prozess?</strong></div>
<div class="content">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Prozesse in dein plentymarkets System zu importieren.</p>
</div>
<div class="paragraph instruction">
<p>Prozess importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Prozess ein und klicke auf <strong>Dateien wählen</strong>.</p>
</li>
<li>
<p>Wähle die Prozessdatei auf deinem Computer aus und klicke auf <strong>Öffnen</strong>.
→ Der Prozess wird importiert und zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Einstellungen prüfen</strong></div>
<div class="paragraph">
<p>Prüfe nach dem Import des Prozesses die folgenden Einstellungen und passe sie auf deine Abläufe an:
* Auswahl des Auftragsstatus
* Speicherort
* Lager
<strong><em>Tipp</em></strong> Achte auf das rote Käfer-Symbol (<span class="icon red"><i class="fa fa-debug  "></i></span>). Dieses wird dir automatisch an den Prozesselementen angezeigt, die zu Problemen führen können und somit vor der Nutzung des Prozesses angepasst werden müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Grobkommissionierung über Papier, Feinkommissionierung über Box-Regal inkl. Label, Rechnung, Lieferschein und Warenausgang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieser Prozess ist für dich geeignet, wenn du die Grobkommissionierung mit einer traditionellen Papierliste vornehmen möchten. Die Feinkommissionierung erfolgt durch das Scannen von Artikeln, worauf eine Box-Nummer dargestellt wird. Sobald eine Box vollständig kommissioniert wurde, werden die definierten Dokumente (Rechnung, Lieferschein und Label) ausgedruckt und der Warenausgang für den Auftrag gebucht.</p>
</div>
<div class="paragraph">
<p>Schau dir das folgende Video an, um die einzelnen Einstellungen genauer nachzuvollziehen.
<a href="https://s3.eu-central-1.amazonaws.com/download.plentybase.de/process_configs/boxkomissionierung_video.plentyprocess" target="_blank" rel="noopener">Klicke außerdem hier</a>, um den passenden Beispielprozess herunterzuladen und in dein plentymarkets System zu importieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie importiere ich einen Prozess?</strong></div>
<div class="content">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Prozesse in dein plentymarkets System zu importieren.</p>
</div>
<div class="paragraph instruction">
<p>Prozess importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Prozess ein und klicke auf <strong>Dateien wählen</strong>.</p>
</li>
<li>
<p>Wähle die Prozessdatei auf deinem Computer aus und klicke auf <strong>Öffnen</strong>.
→ Der Prozess wird importiert und zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Video-Tutorial</strong></div>
<div class="content">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/88665194" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einstellungen prüfen</div>
<div class="paragraph">
<p>Prüfe nach dem Import des Prozesses die folgenden Einstellungen und passe sie auf deine Abläufe an:
* Auswahl des Auftragsstatus
* Speicherort
* Lager
<strong><em>Tipp</em></strong> Achte auf das rote Käfer-Symbol (<span class="icon red"><i class="fa fa-debug  "></i></span>). Dieses wird dir automatisch an den Prozesselementen angezeigt, die zu Problemen führen können und somit vor der Nutzung des Prozesses angepasst werden müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Grob- &amp; Fein-Kommissionierung über Papier, dann Auftragssuche und Versand</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Beispiel ist eine weitere Alternative zur Versandabwicklung. In diesem Prozess wird zuerst eine Pickliste und dann eine Packliste ausgedruckt. Danach erwartet das System eine Sucheingabe, um dann für den gefundenen Auftrag den weiteren Versandprozess abwickeln lassen zu können.</p>
</div>
<div class="paragraph">
<p>Die Auftragssuche soll dabei mit einem Barcode-Scanner vorgenommen werden. Auf der Packliste befindet sich dazu der passende Barcode, der die Order-ID enthält und so den gewünschten Auftrag direkt auffindet.</p>
</div>
<div class="paragraph">
<p>Im Beispiel wird der Vorgang in nur einem zusammenhängenden Prozess bestehend aus zwei Arbeitsschritten dargestellt. Denkbar ist natürlich auch, dass du daraus zwei Prozesse erstellst: Der erste Prozess beinhaltet dann nur den ersten Arbeitsschritt, also den Druck der Pick- und Packliste. Der zweite Prozesse umfasst die Auftragssuche und die weitere Abwicklung. Durch eine Aufteilung kann erreicht werden, dass beispielsweise im Büro ein Stapel Pick- und Packlisten erstellt und dann an die Kolleg:innen im Lager verteilt wird. Im Lager wird die Ware gesammelt und am Packtisch wird nur der zweite Prozess, also Auftragssuche etc., ausgeführt.</p>
</div>
<div class="paragraph">
<p>Das Beispiel enthält auch die Aktion <strong>Polling</strong> für das Format DHL-Easylog. Dies bedeutet, dass dabei lediglich für den aktuellen Auftrag eine Exportdatei mit den Lieferinformationen im definierten Ordner auf deinem Rechner gespeichert wird. Dieser Ordner sollte von der Software des Packetdienstleisters (z.B. Easylog) überwacht werden, damit neue Dateien direkt importiert (Polling) werden und ein Label erstellt werden kann.</p>
</div>
<div class="paragraph">
<p>Wenn eine solche Software nicht zum Einsatz kommt, entferne einfach diese Aktion. Füge eine oder mehrere Versand-Center-Aktionen ein, um direkt Label erstellen und drucken lassen zu können.</p>
</div>
<div class="paragraph">
<p>Ebenfalls besonders an diesem Prozess ist, dass erst nach der Auftragssuche eine Änderung des <strong>Auftragsstatus</strong> vorgenommen wird. Dadurch kannst du immer live sehen, welche Aufträge sich gerade im Versand befinden.</p>
</div>
<div class="paragraph">
<p>Schau dir das folgende Video an, um die einzelnen Einstellungen genauer nachzuvollziehen.
<a href="https://s3.eu-central-1.amazonaws.com/download.plentybase.de/process_configs/Packliste_%26_Auftrag_suchen.plentyprocess" target="_blank" rel="noopener">Klicke außerdem hier</a>, um den passenden Beispielprozess herunterzuladen und in dein plentymarkets System zu importieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Video-Tutorial</strong></div>
<div class="content">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/85295741" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie importiere ich einen Prozess?</strong></div>
<div class="content">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Prozesse in dein plentymarkets System zu importieren.</p>
</div>
<div class="paragraph instruction">
<p>Prozess importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Prozess ein und klicke auf <strong>Dateien wählen</strong>.</p>
</li>
<li>
<p>Wähle die Prozessdatei auf deinem Computer aus und klicke auf <strong>Öffnen</strong>.
→ Der Prozess wird importiert und zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einstellungen prüfen</div>
<div class="paragraph">
<p>Prüfe nach dem Import des Prozesses die folgenden Einstellungen und passe sie auf deine Abläufe an:
* Auswahl des Auftragsstatus
* Speicherort
* Lager
<strong><em>Tipp</em></strong> Achte auf das rote Käfer-Symbol (<span class="icon red"><i class="fa fa-debug  "></i></span>). Dieses wird dir automatisch an den Prozesselementen angezeigt, die zu Problemen führen können und somit vor der Nutzung des Prozesses angepasst werden müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Verschiedene Versanddienstleister, Seriennummern erfassen, Fein-Kommissionierung über Box-Regal</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Aktion <strong>Filter</strong> ist ein mächtiges Werkzeug, da sich damit sehr komplexe Prozesse bauen lassen, die auf unterschiedliche Zustände reagieren können.</p>
</div>
<div class="paragraph">
<p>Aus dem Bereich E-Mail-Vorlagen kennst du bereits IF-ELSE, also Fallunterscheidungen. Die Aktion <strong>Filter</strong> ist genau das: Pro Filter können ein oder mehrere Bedingungen definiert werden. Nur wenn diese Bedingungen zutreffen, werden die darauffolgenden Aktionen ausgeführt. Weitere Informationen dazu findest du in den folgenden Videos. link:<a href="https://s3.eu-central-1.amazonaws.com/download.plentybase.de/process_configs/Unterschiedliche_Versanddienstleister.plentyprocess" target="_blank" rel="noopener">Unterschiedliche_Versanddienstleister.plentyprocess[Klicke außerdem hier</a>, um den passenden Beispielprozess herunterzuladen und in dein plentymarkets System zu importieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Video-Tutorials</strong></div>
<div class="content">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/84490940" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/112337730" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/87317994" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie importiere ich einen Prozess?</strong></div>
<div class="content">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Prozesse in dein plentymarkets System zu importieren.</p>
</div>
<div class="paragraph instruction">
<p>Prozess importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Prozess ein und klicke auf <strong>Dateien wählen</strong>.</p>
</li>
<li>
<p>Wähle die Prozessdatei auf deinem Computer aus und klicke auf <strong>Öffnen</strong>.
→ Der Prozess wird importiert und zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einstellungen prüfen</div>
<div class="paragraph">
<p>Prüfe nach dem Import des Prozesses die folgenden Einstellungen und passe sie auf deine Abläufe an:
* Auswahl des Auftragsstatus
* Speicherort
* Lager
<strong><em>Tipp</em></strong> Achte auf das rote Käfer-Symbol (<span class="icon red"><i class="fa fa-debug  "></i></span>). Dieses wird dir automatisch an den Prozesselementen angezeigt, die zu Problemen führen können und somit vor der Nutzung des Prozesses angepasst werden müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
</main>