<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_grob_kommissionierung_über_mobile_pickliste_inkl_label_rechnung_lieferschein_und_warenausgang"><span>1.</span><span> Grob-Kommissionierung über Mobile Pickliste inkl. Label, Rechnung, Lieferschein und Warenausgang</span></a>
<ul class="sectlevel2">
<li><a href="#_video_tutorial_zum_prozess"><span>1.1.</span><span> Video-Tutorial zum Prozess</span></a></li>
<li><a href="#_importdatei_für_den_prozess"><span>1.2.</span><span> Importdatei für den Prozess</span></a></li>
</ul>
</li>
<li><a href="#_grob_kommissionierung_über_papier_fein_kommissionierung_über_box_regal_inkl_label_rechnung_lieferschein_und_warenausgang"><span>2.</span><span> Grob-Kommissionierung über Papier, Fein-Kommissionierung über Box-Regal inkl. Label, Rechnung, Lieferschein und Warenausgang</span></a>
<ul class="sectlevel2">
<li><a href="#_video_tutorial_zum_prozess_2"><span>2.1.</span><span> Video-Tutorial zum Prozess</span></a></li>
<li><a href="#_importdatei_für_den_prozess_2"><span>2.2.</span><span> Importdatei für den Prozess</span></a></li>
</ul>
</li>
<li><a href="#_grob_fein_kommissionierung_über_papier_dann_auftragssuche_und_versand"><span>3.</span><span> Grob- &amp; Fein-Kommissionierung über Papier, dann Auftragssuche und Versand</span></a>
<ul class="sectlevel2">
<li><a href="#_video_tutorial_zum_prozess_3"><span>3.1.</span><span> Video-Tutorial zum Prozess</span></a></li>
<li><a href="#_importdatei_für_den_prozess_3"><span>3.2.</span><span> Importdatei für den Prozess</span></a></li>
</ul>
</li>
<li><a href="#_verschiedene_versanddienstleister_seriennummern_erfassen_fein_kommissionierung_über_box_regal"><span>4.</span><span> Verschiedene Versanddienstleister, Seriennummern erfassen, Fein-Kommissionierung über Box-Regal</span></a>
<ul class="sectlevel2">
<li><a href="#_filter"><span>4.1.</span><span> Filter</span></a></li>
<li><a href="#_versand_center_fehler"><span>4.2.</span><span> Versand-Center &amp; Fehler</span></a></li>
<li><a href="#_prozess_filter"><span>4.3.</span><span> Prozess &amp; Filter</span></a></li>
<li><a href="#_importdatei_für_den_prozess_4"><span>4.4.</span><span> Importdatei für den Prozess</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Beispielprozesse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du einige Beispielprozesse. Aber auch ein Blick ins plentymarkets Forum lohnt sich: In unserem <a href="https://forum.plentymarkets.com/c/suche-biete/prozess-basar" target="_blank" rel="noopener">Prozessbasar</a> findest du weitere Beispielprozesse von engagierten Händlern.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_grob_kommissionierung_über_mobile_pickliste_inkl_label_rechnung_lieferschein_und_warenausgang">1. Grob-Kommissionierung über Mobile Pickliste inkl. Label, Rechnung, Lieferschein und Warenausgang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieser Beispiel-Prozess diente als Vorlage für das folgende Schulungsvideo. Im Video wird die Einrichtung einer Mobilen Pickliste erklärt. Die Grob-Kommissionierung erfolgt mithilfe der plentymarkets App (iOS &amp; Android). Das Beispiel liefert aktuell nur Aufträge, die aus einer Auftragsposition mit der Artikelmenge 1 bestehen. Wenn du also zuerst solche Aufträge bearbeiten möchtest und danach die komplexeren Aufträge, dann lege einfach zwei unterschiedliche Prozesse an. Importiere dieses Beispiel einfach noch einmal und passe die Filter entsprechend an.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/beispielprozess_grobkommissionierung.png" alt="beispielprozess grobkommissionierung">
</div>
<div class="title">Bild 1. Beispielprozess</div>
</div>
<div class="sect2">
<h3 id="_video_tutorial_zum_prozess">1.1. Video-Tutorial zum Prozess</h3>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/131830323" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_importdatei_für_den_prozess">1.2. Importdatei für den Prozess</h3>
<div class="paragraph">
<p><a href="https://s3.eu-central-1.amazonaws.com/download.plentybase.de/process_configs/Mobile_Pickliste.plentyprocess">Mobile_Pickliste.plentyprocess</a> (1,3 KB)</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nicht vergessen</div>
<div class="paragraph">
<p>Nach dem Import müssen die einzelnen Einstellungen geprüft werden (z.B. Auftragsstatus Auswahl, Speicherorte, Lager).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_grob_kommissionierung_über_papier_fein_kommissionierung_über_box_regal_inkl_label_rechnung_lieferschein_und_warenausgang">2. Grob-Kommissionierung über Papier, Fein-Kommissionierung über Box-Regal inkl. Label, Rechnung, Lieferschein und Warenausgang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieser Prozess ist für Händler geeignet, die die Grob-Kommissionierung mit einer traditionellen Papierliste vornehmen möchten. Die Fein-Kommissionierung erfolgt durch das Scannen von Artikeln, worauf eine Box-Nummer dargestellt wird. Sobald eine Box vollständig kommissioniert wurde, werden die definierten Dokumente (Rechnung, Lieferschein und Label) ausgedruckt und der Warenausgang gebucht.</p>
</div>
<div class="sect2">
<h3 id="_video_tutorial_zum_prozess_2">2.1. Video-Tutorial zum Prozess</h3>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/88665194" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_importdatei_für_den_prozess_2">2.2. Importdatei für den Prozess</h3>
<div class="paragraph">
<p><a href="https://s3.eu-central-1.amazonaws.com/download.plentybase.de/process_configs/boxkomissionierung_video.plentyprocess">boxkomissionierung_video.plentyprocess</a> (1,3 KB)</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nicht vergessen</div>
<div class="paragraph">
<p>Nach dem Import müssen die einzelnen Einstellungen geprüft werden (z.B. Auftragsstatus Auswahl, Speicherorte, Lager).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_grob_fein_kommissionierung_über_papier_dann_auftragssuche_und_versand">3. Grob- &amp; Fein-Kommissionierung über Papier, dann Auftragssuche und Versand</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Beispiel ist eine weitere Alternative zur Versandabwicklung. In diesem Prozess wird zuerst eine Pickliste und dann eine Packliste ausgedruckt. Danach erwartet das System eine Sucheingabe, um dann für den gefundenen Auftrag den weiteren Versandprozess abwickeln lassen zu können.</p>
</div>
<div class="paragraph">
<p>Die Auftragssuche soll dabei mit einem Barcode-Scanner vorgenommen werden. Auf der Packliste befindet sich dazu der passende Barcode, der die Order-ID enthält und so den gewünschten Auftrag direkt auffindet.</p>
</div>
<div class="paragraph">
<p>Im Beispiel wird der Vorgang in nur einem zusammenhängenden Prozess bestehend aus zwei Arbeitsschritten dargestellt. Denkbar ist natürlich auch, dass du daraus zwei Prozesse erstellst: Der erste Prozess beinhaltet dann nur den ersten Arbeitsschritt, also den Druck der Pick- und Packliste. Der zweite Prozesse umfasst die Auftragssuche und die weitere Abwicklung. Durch eine Aufteilung kann erreicht werden, dass beispielsweise im Büro ein Stapel Pick- und Packlisten erstellt und dann an die KollegenInnen im Lager verteilt wird. Im Lager wird die Ware gesammelt und am Packtisch wird nur der zweite Prozess, also Auftragssuche etc., ausgeführt.</p>
</div>
<div class="paragraph">
<p>Das Beispiel enthält auch die Aktion <strong>Polling</strong> für das Format DHL-Easylog. Dies bedeutet, dass dabei lediglich für den aktuellen Auftrag eine Exportdatei mit den Lieferinformationen im definierten Ordner auf deinem Rechner gespeichert wird. Dieser Ordner sollte von der Software des Packetdienstleisters (z.B. Easylog) überwacht werden, damit neue Dateien direkt importiert (Polling) werden und ein Label erstellt werden kann.</p>
</div>
<div class="paragraph">
<p>Wenn eine solche Software nicht zum Einsatz kommt, entferne einfach diese Aktion. Füge eine oder mehrere Versand-Center-Aktionen ein, um direkt Label erstellen und drucken lassen zu können.</p>
</div>
<div class="paragraph">
<p>Ebenfalls besonders an diesem Prozess ist, dass erst nach der Auftragssuche eine Änderung des <strong>Auftragsstatus</strong> vorgenommen wird. Dadurch kannst du immer live sehen, welche Aufträge sich gerade im Versand befinden.</p>
</div>
<div class="sect2">
<h3 id="_video_tutorial_zum_prozess_3">3.1. Video-Tutorial zum Prozess</h3>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/85295741" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_importdatei_für_den_prozess_3">3.2. Importdatei für den Prozess</h3>
<div class="paragraph">
<p><a href="https://s3.eu-central-1.amazonaws.com/download.plentybase.de/process_configs/Packliste_%26_Auftrag_suchen.plentyprocess">Packliste_&amp;_Auftrag_suchen.plentyprocess</a> (1,1 KB)</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nicht vergessen</div>
<div class="paragraph">
<p>Nach dem Import müssen die einzelnen Einstellungen geprüft werden (z.B. Auftragsstatus Auswahl, Speicherorte, Lager).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_verschiedene_versanddienstleister_seriennummern_erfassen_fein_kommissionierung_über_box_regal">4. Verschiedene Versanddienstleister, Seriennummern erfassen, Fein-Kommissionierung über Box-Regal</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Aktion <strong>Filter</strong> ist ein mächtiges Werkzeug, da sich damit sehr komplexe Prozesse bauen lassen, die auf unterschiedliche Zustände reagieren können.</p>
</div>
<div class="sect2">
<h3 id="_filter">4.1. Filter</h3>
<div class="paragraph">
<p>Aus dem Bereich E-Mail-Vorlagen oder CMS kennt ihr bereits IF-ELSE, also Fallunterscheidungen. Die Aktion <strong>Filter</strong> ist genau das: Pro Filter können ein oder mehrere Bedingungen definiert werden. Nur wenn diese Bedingungen zutreffen, werden die darauffolgenden Aktionen ausgeführt.</p>
</div>
<div class="paragraph">
<p><strong>Mehr dazu in diesem Video</strong></p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/84490940" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_versand_center_fehler">4.2. Versand-Center &amp; Fehler</h3>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/112337730" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_prozess_filter">4.3. Prozess &amp; Filter</h3>
<div class="paragraph">
<p>Im folgenden Video wird der Beispielprozess <strong>Unterschiedliche_Versanddienstleister.plentyprocess</strong> genauer erklärt.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/87317994" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_importdatei_für_den_prozess_4">4.4. Importdatei für den Prozess</h3>
<div class="paragraph">
<p><a href="https://s3.eu-central-1.amazonaws.com/download.plentybase.de/process_configs/Unterschiedliche_Versanddienstleister.plentyprocess">Unterschiedliche_Versanddienstleister.plentyprocess</a> (1,7 KB)</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nicht vergessen</div>
<div class="paragraph">
<p>Nach dem Import müssen die einzelnen Einstellungen geprüft werden (z.B. Auftragsstatus Auswahl, Speicherorte, Lager).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>