<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Druckerkonfiguration erstellen</span></a></li>
<li><a href="#20"><span>2.</span><span> Drucker mit verschiedenen Papierfächern konfigurieren (nur Windows)</span></a></li>
<li><a href="#30"><span>3.</span><span> Druckerkonfiguration freigeben</span></a></li>
<li><a href="#40"><span>4.</span><span> Fehlerursachen und Fehler beheben</span></a></li>
<li><a href="#50"><span>5.</span><span> Etiketten drucken</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>5.1.</span><span> Zebra GC420d auf deinem Rechner installieren</span></a></li>
<li><a href="#65"><span>5.2.</span><span> Zebra-Drucker mit ZPL-Plugin einrichten (nur Mac OSX)</span></a></li>
<li><a href="#70"><span>5.3.</span><span> Etikettendruck konfigurieren</span></a></li>
<li><a href="#80"><span>5.4.</span><span> Fehlerhaften Etikettendruck korrigieren</span></a></li>
</ul>
</li>
<li><a href="#90"><span>6.</span><span> Druckaufträge verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#_druckverlauf_anzeigen"><span>6.1.</span><span> Druckverlauf anzeigen</span></a></li>
<li><a href="#_dokumente_erneut_drucken"><span>6.2.</span><span> Dokumente erneut drucken</span></a></li>
<li><a href="#_dokumente_manuell_aus_dem_druckverlauf_entfernen"><span>6.3.</span><span> Dokumente manuell aus dem Druckverlauf entfernen</span></a></li>
</ul>
</li>
<li><a href="#100"><span>7.</span><span> Druckerkonfiguration löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Drucker verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Drucker</strong> richtest du lokal oder in deinem Netzwerk installierte Drucker in plentymarkets ein. Um plentymarkets mit lokal installierten Endgeräten zu verbinden, muss das Tool <a href="https://marketplace.plentymarkets.com/plugins/integration/plentybase_5053" target="_blank" rel="noopener">plentyBase</a> auf dem Rechner installiert und gestartet sein.</p>
</div>
<div class="paragraph">
<p>Lerne die Druckereinstellungen spielerisch kennen:</p>
</div>
<div class="videoblock">
<div class="title">Drucker in plentymarkets einrichten</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/227403638" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Druckerkonfiguration erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Druckerkonfiguration zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Druckerkonfiguration erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Drucker</strong>.<br>
<strong><em>Hinweis:</em></strong> Das Menü ist nur sichtbar, wenn <a href="https://marketplace.plentymarkets.com/plugins/integration/plentybase_5053" target="_blank" rel="noopener">plentyBase</a> auf deinem Rechner installiert und gestartet wurde. Ist das Menü weiterhin nicht sichtbar, prüfe ob ein Update für plentyBase verfügbar ist.</p>
</li>
<li>
<p>Klicke auf das Kontextmenü im Menübaum.<br>
→ Die Schaltfläche <strong>Neuer Drucker</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Drucker</strong>.<br>
→ Das Konfigurationsmenü wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-druckerkonfiguration-erstellen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Drucker wird im Menübaum angezeigt.</p>
</li>
<li>
<p>Drucke vor dem Produktiveinsatz einige Testseiten/-etiketten und experimentiere mit verschiedenen Drucker-Plugins, um das Druckergebnis zu optimieren.</p>
</li>
</ol>
</div>
<table id="tabelle-druckerkonfiguration-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Druckerkonfiguration erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Druckereinstellungen durch den Ausdruck einer Testseite prüfen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben. Der Name ist frei wählbar. So lassen sich mehrere gleiche Drucker unterschiedlich benennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Drucker</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Drucker, die lokal oder im Netzwerk verfügbar sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Drucker-Dialog</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Drucker-Dialog vor dem Ausdrucken geöffnet oder nicht geöffnet werden soll.<br>
<strong>öffnen</strong> = Ausrichtungs- und weitere Einstellungen müssen vor jedem Druck vorgenommen werden.<br>
<strong>nicht öffnen</strong> = Ausrichtungs- und weitere Einstellungen werden in diesem Menü vorgenommen und für den Druck verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Papierfach</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Papierfach wählen. Die verfügbare Auswahl ist abhängig vom gewählten Drucker. <br>
<strong><em>Hinweis</em></strong>: Option ist nur für Windows verfügbar.<br>
Zur Konfiguration verschiedener Papierformate die Hinweise im nachfolgenden Unterkapitel beachten. <br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Papierformat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Papierformat wählen. Die Papierformate werden vom Drucker bereitgestellt, daher können die Bezeichnungen abweichen.<br>
Bei Wahl eines benutzerdefinierbaren Papierformats, zum Beispiel <strong>Custom</strong>, werden Eingabefelder für die <strong>Breite</strong> und <strong>Höhe</strong> des Druckmediums eingeblendet.<br>
Wenn mehrere Formate benötigt werden weitere Drucker einrichten und diesen Druckern die unterschiedlichen Formate zuordnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Doppelseitiger Druck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Doppelseitiger Druck wird derzeit nicht unterstützt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skalierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Skalierung wählen. <br>
<strong>Auf Seitengröße (Proportion nicht berücksichtigen)</strong> = Der Ausdruck wird auf die Gesamtgröße des Druckbereichs skaliert. Diese Einstellung kann zu einer verzerrten Darstellung führen. <br>
<strong>Auf Seitengröße (Proportion berücksichtigen)</strong> = Der Ausdruck wird innerhalb des Druckbereichs auf die größtmögliche Größe skaliert, bei der keine Verzerrung auftritt. <br>
<strong>Keine</strong> = Der Ausdruck wird nicht skaliert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausrichtung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ausrichtung wählen, um nur in einer Ausrichtung zu drucken. Die angezeigten Optionen werden vom Drucker bereitgestellt, daher können die Bezeichnungen abweichen. <br>
<strong>portrait</strong> = Ausrichtung im Hochformat <br>
<strong>landscape</strong> = Ausrichtung im Querformat <br>
<strong><em>Tipp:</em></strong> Option <strong>Automatische Seitenausrichtung</strong> markieren, um den Seiteninhalt automatisch auf der Seite auszurichten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Oben, Unten, Links, Rechts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional Abstände in mm eingeben, um die Positionierung des Inhalts auf der Seite zu bestimmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Seitenausrichtung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Seiteninhalt automatisch auf der Seite auszurichten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Drucker-Plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, über welches Plugin plentymarkets den Drucker ansteuern soll.<br>
<strong><em>Tipp:</em></strong> Vor dem Produktiveinsatz Testseiten/-etiketten drucken, um die Druckqualität verschiedener Drucker-Plugins zu testen.<br>
<strong>Standard</strong> = Der Standard für das Betriebssystem wird verwendet.<br>
<strong>Cups</strong>; <strong>PDFBox</strong> = Wählen, wenn die Druckqualität mit der Option <strong>Standard</strong> nicht ausreicht.<br>
<strong>ZPL</strong> (Zebra Programming Language) = Wählen, wenn es sich um einen Zebra-Etikettendrucker handelt.<br>
<strong><em>Hinweis zum ZPL-Plugin:</em></strong> Das ZPL-Plugin ist für eine native Auflösung von 203 dpi optimiert. Bei anderen Auflösungen kann die Größe der Etiketten abweichen. Bei abweichender Etikettengröße <strong>203 dpi</strong> wählen oder ein anderes Drucker-Plugin verwenden.<br>
<strong><em>Hinweis zum ZPL-Plugin:</em></strong> Für eine optimale Nutzung des ZPL-Plugins muss der Drucker unter Mac OSX über das CUPS-Webinterface im <a href="/basics/admin-aufgaben/drucker#65">RAW-Modus</a> hinzugefügt werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Drucker mit verschiedenen Papierfächern konfigurieren (nur Windows)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du über einen Drucker mit verschiedenen Papierfächern verfügst und mit verschiedenen Papierformaten arbeiten möchtest, erstelle ein Druckerprofil pro Papierfach.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispielkonfiguration für verschiedene Formate</div>
<div class="paragraph">
<p>Du möchtest Rechnungen im Format DIN A4 und Etiketten im Format DIN A6 drucken.</p>
</div>
<div class="paragraph">
<p>Richte ein Druckerprofil mit dem Papierformat DIN A4 und ein weiteres Druckerprofil mit dem Papierformat DIN A6 ein. Wähle dabei den gleichen Drucker und ordne das passende Papierfach zu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Druckerkonfiguration freigeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Druckerprofile werden benutzerabhängig auf dem Rechner gespeichert. Druckerprofile stehen also nicht für andere Benutzer eines Rechners zur Verfügung. Wenn ein Druckerprofil auch für andere Benutzer zur Verfügung stehen soll, muss das Profil freigegeben werden. Die Freigabe erfolgt auf deinem Rechner und nicht in plentymarkets. Informationen dazu, wie du Drucker auf deinem Rechner freigibst, findest du in der Hilfe für dein Betriebssystem:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Für Windows zum Beispiel <a href="http://windows.microsoft.com/de-de/windows/share-printer#1TC=windows-7" target="_blank" rel="noopener">hier</a></p>
</li>
<li>
<p>Für Mac zum Beispiel <a href="https://support.apple.com/de-de/HT4670" target="_blank" rel="noopener">hier</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Fehlerursachen und Fehler beheben</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#tabelle-fehlermeldungen-menue-drucker">Tabelle 2</a> enthält Informationen zu Fehlercodes, die beim Einrichten des Druckers auftreten können.</p>
</div>
<table id="tabelle-fehlermeldungen-menue-drucker" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Fehlermeldungen im Menü <strong>Drucker</strong></caption>
<colgroup>
<col style="width: 10%;">
<col style="width: 30%;">
<col style="width: 30%;">
<col style="width: 30%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Code</th>
<th class="tableblock halign-left valign-top">Fehler</th>
<th class="tableblock halign-left valign-top">Ursache</th>
<th class="tableblock halign-left valign-top">Fehler beheben</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unter Mac OS X: Kein CUPS Drucker gefunden.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein angeschlossener Drucker verfügt über eine Netzwerkfreigabe. Diese Freigabe ist für die Druckerkommunikation über CUPS erforderlich.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/basics/admin-aufgaben/drucker#30">Drucker freigeben</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2001</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unter Mac OS X: Unbekannter CUPS Drucker.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unter dem angegebenen Namen konnte kein Drucker im Netzwerk gefunden werden.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/basics/admin-aufgaben/drucker#30">Drucker freigeben</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2101</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fehler beim Drucken.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verschiedene Ursachen möglich.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2102</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Drucker wurde nicht gefunden.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Drucker ist im System nicht mehr vorhanden oder die Konfiguration ist nicht mehr korrekt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neuen Drucker hinzufügen oder anderen Drucker verwenden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. Etiketten drucken</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zum Drucken von Etiketten werden Etikettendrucker eingesetzt, die ein schnelles Ausdrucken großer Etikettenmengen ermöglichen. Dazu sind diese Drucker mit Etikettenrollen ausgestattet sowie, je nach Modell, mit einer Schneidevorrichtung. In den Einstellungen des Menüs <strong>Einrichtung » Einstellungen » Drucker</strong> legst du über die Option <strong>Papierformat</strong> die exakte Größe eines Etiketts fest. Du wählst zwischen Standardformaten und einer frei konfigurierbaren Option, über die du benutzerdefinierte Größen hinterlegst. Weitere Informationen findest du in <a href="#tabelle-fehlermeldungen-menue-drucker">Tabelle 2</a>.</p>
</div>
<div class="paragraph">
<p>Die Druckfunktionen sind mit üblichen Etikettendruckern kompatibel und wurden für Etikettendruckermodelle des Herstellers <a href="http://www.zebra.com" target="_blank" rel="noopener">Zebra</a> optimiert. Für den Einsatz als Desktop-Drucker empfehlen wir das Modell <a href="http://www.zebra.com/gb/en/products-services/printers/printer-type/desktop/g-series-gc.html" target="_blank" rel="noopener">Zebra GC420d</a>.</p>
</div>
<div class="sect2">
<h3 id="60">5.1. Zebra GC420d auf deinem Rechner installieren</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um das Druckermodell Zebra GC420d unter den Betriebssystemen Windows und Mac OSX zu installieren.</p>
</div>
<div class="paragraph instruction">
<p>Zebra GC420d installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die <a href="http://www.zebra.com/gb/en/support-downloads/desktop/gx430t.html#mainpartabscontainer_999b=drivers" target="_blank" rel="noopener">Zebra Setup Utilities</a>-Datei auf deinen Rechner herunter.</p>
</li>
<li>
<p>Installiere diese Datei.</p>
</li>
<li>
<p>Durchlaufe den Installationsassistenten.<br>
→ Windows: Wähle den Drucker ZDesigner GC420d. Hier ist der Druckertreiber ZPL eingestellt.<br>
→ Mac OSX: Stelle den Druckertreiber ZPL ein. Teste die Treibereinstellung für jede Etikettengröße. Um das Drucker-Plugin <strong>ZPL</strong> zu nutzen, richte den Drucker für den <a href="/basics/admin-aufgaben/drucker#65">RAW-Druck</a> ein.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="65">5.2. Zebra-Drucker mit ZPL-Plugin einrichten (nur Mac OSX)</h3>
<div class="paragraph">
<p>Um das ZPL-Plugin unter Mac OSX optimal zu nutzen, muss der Zebra-Drucker so eingerichtet werden, dass er Druckaufträge im RAW-Format empfängt. Beim Drucken im RAW-Format werden Druckdaten in der nativen Sprache des Druckers gesendet. Dabei bleiben die Druckdaten unverändert, da der Druckertreiber des Betriebssystems umgangen wird.</p>
</div>
<div class="paragraph">
<p>Den RAW-Druck richtest du über die CUPS-Webschnittstelle ein. Gehe wie unten beschrieben vor, um die CUPS-Webschnittstelle zu aktivieren und die Konfiguration des Druckers vorzunehmen.</p>
</div>
<div class="paragraph instruction">
<p>ZPL-Plugin - CUPS-Webschnittstelle aktivieren (nur Mac OSX):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne mit der Tastenkombination "cmd" + "Leertaste" die Spotlight-Suche.</p>
</li>
<li>
<p>Gib den Begriff <strong>Terminal</strong> ein.</p>
</li>
<li>
<p>Betätige die Eingabetaste.<br>
→ Das Terminal wird geöffnet.</p>
</li>
<li>
<p>Gib im Terminal den Befehl <strong>sudo cupsctl WebInterface=yes</strong> ein.</p>
</li>
<li>
<p>Betätige die Eingabetaste.<br>
→ Du wirst aufgefordert, dein Passwort einzugeben.</p>
</li>
<li>
<p>Gib dein Passwort ein.<br>
→ Die CUPS-Webschnittstelle ist aktiviert.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>ZPL-Plugin - Raw-Modus für Zebra-Drucker einrichten (nur Mac OSX):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigiere in einem Webbrowser zu der Adresse <strong><a href="http://localhost:631" class="bare">http://localhost:631</a></strong>.<br>
→ Die CUPS-Webschnittstelle wird angezeigt.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Administration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Add Printer</strong>.<br>
→ Du wirst aufgefordert, deine Zugangsdaten einzugeben.</p>
</li>
<li>
<p>Gib Benutzername und Passwort ein.<br>
→ Die Seite <strong>Add Printer</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle den Zebra-Drucker aus der Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Continue</strong>.</p>
</li>
<li>
<p>Gib einen Namen, eine Beschreibung und einen Standort für den Drucker ein.</p>
</li>
<li>
<p>Markiere <strong>Share This Printer</strong>, um den Drucker mit anderen zu teilen.</p>
</li>
<li>
<p>Klicke auf <strong>Continue</strong>.</p>
</li>
<li>
<p>Wähle in der Liste <strong>Make</strong> die Option <strong>Raw</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Continue</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Add Printer</strong>.</p>
</li>
<li>
<p>Lasse die Einstellungen <strong>Starting Banner</strong> und <strong>Ending Banner</strong> auf <strong>none</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Set Default Options</strong>.<br>
→ Dein Zebra-Drucker kann Druckaufträge im RAW-Format empfangen.<br>
<strong><em>Hinweis:</em></strong> Der Zebra-Drucker wird nicht in den Systemeinstellungen angezeigt, ist aber eingerichtet und für plentyBase sichtbar.</p>
</li>
<li>
<p>Wähle im Menü <strong>Einrichtung » Einstellungen » Drucker</strong> das Drucker-Plugin <strong>ZPL</strong>, um den Drucker hinzuzufügen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="70">5.3. Etikettendruck konfigurieren</h3>
<div class="paragraph">
<p>Die Größe und Breite deiner Etiketten konfigurierst du in plentymarkets. Füge hierfür den Etikettendrucker zur Druckerliste hinzu. Gehe dazu wie unten beschrieben vor. Beispielhaft wird das Konfigurieren von Etiketten mit dem Format 104 x 150 beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Drucker mit Etikett 104 x 150 hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Drucker</strong>.</p>
</li>
<li>
<p>Klicke auf das Kontextmenü im Menübaum.<br>
→ Die Schaltfläche <strong>Neuer Drucker</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Drucker</strong>.<br>
→ Das Konfigurationsmenü wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Drucker</strong> den Etikettendrucker.</p>
</li>
<li>
<p>Wähle <strong>nicht öffnen</strong> für den <strong>Druckerdialog</strong>.</p>
</li>
<li>
<p>Wähle <strong>Ungültige Auswahl</strong> für das <strong>Papierfach</strong>.</p>
</li>
<li>
<p>Wähle <strong>Custom</strong> für das <strong>Papierformat</strong>.</p>
</li>
<li>
<p>Gib <strong>150</strong> als <strong>Papierhöhe</strong> ein.</p>
</li>
<li>
<p>Gib <strong>104</strong> als <strong>Papierbreite</strong> ein.</p>
</li>
<li>
<p>Lasse die Option einseitig für doppelseitigen Druck.</p>
</li>
<li>
<p>Wähle <strong>auf Seitengröße (Proportion nicht beachten)</strong> für die <strong>Skalierung</strong>.</p>
</li>
<li>
<p>Wähle <strong>Hochformat</strong> für die <strong>Ausrichtung</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp bei verschiedenen Etikettengrößen</div>
<div class="paragraph">
<p>Wenn du verschiedene Etikettengrößen verwendest, kannst du entweder die Papierhöhe und Papierbreite beim Wechsel der Etikettengröße anpassen oder pro Etikettengröße einen eigenen Drucker erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="80">5.4. Fehlerhaften Etikettendruck korrigieren</h3>
<div class="paragraph">
<p>Wenn der Druck leicht versetzt, der Hauptteil auf dem Label jedoch erkennbar ist, empfehlen wir, die Ausrichtung über die Einstellungen <strong>Oben</strong>, <strong>Links</strong>, <strong>Unten</strong> und <strong>Rechts</strong> anzupassen.</p>
</div>
<div class="paragraph">
<p>Wenn nur ein kleiner Teil der Angaben auf dem Etikett gedruckt wird oder dein Etikett komplett leer bleibt, passe den Druckertreiber an. Insbesondere auf Apple-Rechnern hängt der korrekte Druck häufig vom Treiber ab, aber auch bei Windows-Computern kann der Druckertreiber die Fehlerursache sein. <br>
Für Windows empfehlen wir dir, den Drucker ZDesigner GC420d mit dem Treiber ZPL zu installieren. In einigen Fällen kann aber der ZDesigner GC420d (EPL) mit dem Druckertreiber EPL bessere Druckergebnisse liefern.</p>
</div>
<div class="paragraph">
<p>Wenn das Etikett wieder korrekt gedruckt wird, lege dir einen Drucker mit den korrekten Einstellungen für das Etikett an, sodass du die Einstellungen wiederverwenden kannst. Wir empfehlen dazu, den Drucker mehrfach mit verschiedenen Treibern auf deinem Rechner zu installieren, denn so kannst du den Druck schnell mit einem anderen Treiber noch einmal versuchen, wenn ein Etikett nicht korrekt gedruckt wird.</p>
</div>
<div class="paragraph">
<p>Eine weitere Ursache für einen fehlerhaften Druck kann sein, dass der Prozess statt auf die Etiketteneinstellungen in plentymarkets auf die Etikettenparameter deines Druckers zugreift. Trage eventuell Etikettenparameter in deinen Druckereinstellungen nach.</p>
</div>
<div class="paragraph">
<p>Ab plentymarkets stehen außerdem verschiedene Drucker-Plugins zur Auswahl. Wenn du mit der Druckqualität nicht zufrieden bist, experimentiere mit den verschiedenen Drucker-Plugins.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Druckaufträge verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Druckverlauf werden maximal die Druckaufträge der letzten 14 Tage angezeigt, die vom lokalen Rechner gestartet wurden.</p>
</div>
<div class="sect2">
<h3 id="_druckverlauf_anzeigen">6.1. Druckverlauf anzeigen</h3>
<div class="paragraph instruction">
<p>Druckverlauf anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Druck Historie</strong>.<br>
→ Der Druckverlauf wird geöffnet.<br>
<strong><em>Hinweis:</em></strong> Der Druckverlauf wird lokal gespeichert. Wenn über den lokalen Rechner noch keine Dokumente gedruckt wurden, ist der Druckverlauf leer.<br>
<strong><em>Tipp:</em></strong> Standardmäßig werden 25 Einträge angezeigt. Über die Dropdown-Liste änderst du die Anzahl der angezeigten Einträge.<br>
<strong><em>Hinweis:</em></strong> Druckaufträge werden zwischengespeichert, um die Aufträge an den Drucker weiterzuleiten. Sobald der Druckauftrag zwischengespeichert wurde, wird das Dokument im Druckverlauf aufgeführt. Der Druckverlauf kann also Druckaufträge enthalten, die nicht gedruckt wurden.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_dokumente_erneut_drucken">6.2. Dokumente erneut drucken</h3>
<div class="paragraph">
<p>Du kannst die im Druckverlauf angezeigten Dokumente erneut drucken. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Dokumente erneut drucken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Druck Historie</strong>.<br>
→ Der Druckverlauf wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Kontrollkästchen der Dokumente, die erneut gedruckt werden sollen.</p>
</li>
<li>
<p>Klicke auf <strong>Erneut drucken</strong>.<br>
→ Die Dokumente werden gedruckt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_dokumente_manuell_aus_dem_druckverlauf_entfernen">6.3. Dokumente manuell aus dem Druckverlauf entfernen</h3>
<div class="paragraph">
<p>Im Druckverlauf werden maximal die Druckaufträge der letzten 14 Tage angezeigt. Nach Ablauf von 14 Tagen werden Druckaufträge automatisch aus dem Verlauf entfernt. Gehe wie unten beschrieben vor, um Dokumente manuell aus dem Druckverlauf zu entfernen.</p>
</div>
<div class="paragraph instruction">
<p>Dokumente manuell aus dem Druckverlauf entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Druck Historie</strong>.<br>
→ Der Druckverlauf wird geöffnet.</p>
</li>
<li>
<p><strong>Lösche</strong> die Dokumente.<br>
→ Die Dokumente werden gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Druckerkonfiguration löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Druckerkonfiguration zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Druckerkonfiguration löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Drucker</strong>.</p>
</li>
<li>
<p>Klicke auf den Drucker.<br>
→ Das Konfigurationsmenü wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die Druckerkonfiguration wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</main>