<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wofür benötige ich plentyBase?</span></a></li>
<li><a href="#200"><span>2.</span><span> plentyBase installieren</span></a></li>
<li><a href="#300"><span>3.</span><span> plentyBase Verbindungsdaten im plentymarkets Backend speichern</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Zugriff auf lokale Ordner einschränken</span></a></li>
<li><a href="#500"><span>3.2.</span><span> plentyBase für zusätzliche Domains freigeben</span></a></li>
<li><a href="#600"><span>3.3.</span><span> plentyBase in einem Netzwerk zugänglich machen</span></a>
<ul class="sectlevel3">
<li><a href="#610"><span>3.3.1.</span><span> plentyBase auf Netzwerkrechner installieren</span></a></li>
<li><a href="#620"><span>3.3.2.</span><span> IP-Daten in HOSTS-Datei weiterer Rechner im Netzwerk speichern</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.4.</span><span> plentyBase Verbindungsdaten in der plentymarkets App speichern</span></a></li>
<li><a href="#800"><span>3.5.</span><span> Plugin für plentyBase installieren</span></a></li>
<li><a href="#900"><span>3.6.</span><span> plentyBase Log-Dateien an plentymarkets Support senden</span></a></li>
<li><a href="#1000"><span>3.7.</span><span> plentyBase: FAQ und Fehlerbehebung</span></a>
<ul class="sectlevel3">
<li><a href="#1100"><span>3.7.1.</span><span> "Fehlende plentyBase Authentifizierung. Access-Token-Einstellungen prüfen"</span></a></li>
<li><a href="#1200"><span>3.7.2.</span><span> "plentyBase nicht verbunden. Status prüfen"</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyBase</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentyBase ist ein Tool, das die Kommunikation zwischen deinem eigenen Rechner und plentymarkets ermöglicht.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wofür benötige ich plentyBase?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Tool plentyBase muss für die folgenden Abläufe in plentymarkets auf dem Rechner installiert und gestartet sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Prozesse</p>
<div class="ulist">
<ul>
<li>
<p>Prozesse im plentymarkets Backend erstellen</p>
</li>
<li>
<p>Prozesse im plentymarkets Backend ausführen</p>
</li>
</ul>
</div>
</li>
<li>
<p>Drucken</p>
<div class="ulist">
<ul>
<li>
<p>Dokumente aus dem plentymarkets Backend drucken</p>
</li>
<li>
<p>Druckverlauf im plentymarkets Backend aufrufen</p>
</li>
<li>
<p>plentyPOS Kassenbelege auf lokalen Druckern drucken</p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichern</p>
<div class="ulist">
<ul>
<li>
<p>Dokumente aus dem plentymarkets Backend auf dem lokalen Rechner speichern</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn plentyBase auf dem Rechner installiert ist, können diese Abläufe über das Backend deines plentymarkets Systems ausgeführt werden.</p>
</div>
<div class="paragraph">
<p>Lerne plentyBase spielerisch kennen:</p>
</div>
<div class="videoblock">
<div class="title">plentyBase</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/232837642" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. plentyBase installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beachte vor der Installation, dass für plentyBase dieselben <a href="/willkommen/schnelleinstieg/systemvoraussetzungen">Systemvoraussetzungen</a> wie für plentymarkets Systeme gelten.</p>
</div>
<div class="paragraph">
<p>Die Installationsdateien für plentyBase findest du im <a href="https://marketplace.plentymarkets.com/plugins/integration/plentybase_5053" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Wähle rechts auf der Seite zunächst dein Betriebssystem aus der Dropdown-Liste, bevor du auf <strong>Gratis Download</strong> klickst.</p>
</div>
<div class="paragraph">
<p>Anschließend installierst du plentyBase wie von anderen Programmen gewohnt auf deinem Rechner. Da der Installationsvorgang je nach Betriebssystem abweicht, werden im Folgenden nur für plentyBase spezifische Einstellungen beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>plentyBase installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Führe die Installationsdatei aus.</p>
</li>
<li>
<p>Wähle im Installationsprozess für die Option <strong>Geben Sie einen HTTPS-Port über 1023 ein</strong> den HTTPS-Port, über den der Rechner mit plentyBase kommunizieren soll.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig ist der HTTPS-Port 7331 angegeben, der auf den meisten Rechnern frei ist. Ändere den Standardwert nur, wenn der Port 7331 auf deeinem Rechner belegt ist.<br>
<strong><em>Tipp:</em></strong> Mit den folgenden Befehlen prüfst du über die Befehlszeile, welche Ports deines Rechners belegt sind:</p>
<div class="ulist">
<ul>
<li>
<p>Windows: netstat -ano | find /i „Abhören“<br></p>
</li>
<li>
<p>Mac OSX: sudo lsof -i -P | grep -i LISTEN<br>
<strong><em>Optional:</em></strong> Wenn du plentyBase mit der plentymarkets App verbinden möchtest, um plentyPOS-Belege über plentyBase Drucker zu drucken, aktiviere die Option <strong>HTTP-Server mit folgendem Port hinzufügen:</strong> und gib einen HTTP-Port ein. Standardmäßig ist der HTTP-Port 7332 angegeben, der auf den meisten Rechnern frei ist. Ändere diesen Standardwert nur, wenn der Port 7332 auf dem Rechner belegt ist.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Schließe die Installation ab.<br>
→ plentyBase wird auf dem Rechner installiert.<br>
→ plentyBase wird zu den Autostart-Programmen des Betriebssystems hinzugefügt (gilt für Windows und macOS).</p>
</li>
<li>
<p>Klicke auf das plentyBase Symbol in der Taskleiste des Rechners.</p>
</li>
<li>
<p>Wähle die Option <strong>Konfiguration öffnen</strong> aus der Dropdown-Liste.<br>
→ Das Fenster <strong>Konfiguration</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Beim Start von plentyBase auf Updates prüfen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>OK</strong>, um die Einstellungen zu speichern.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. plentyBase Verbindungsdaten im plentymarkets Backend speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach der Installation speicherst die Verbindungsdaten im plentymarkets Backend. So wird sichergestellt, dass dein plentymarkets System mit plentyBase kommunizieren kann.</p>
</div>
<div class="paragraph instruction">
<p>plentyBase Verbindungsdaten im plentymarkets Backend speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Logge dich im Backend deines plentymarkets Systems ein.</p>
</li>
<li>
<p>Öffne das Menü <strong>Start » plentyBase</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf <strong>plentymarkets Logo (Start)</strong>.<br>
→ Das plentyBase Dashboard wird geöffnet.</p>
</li>
<li>
<p>Wechsle in die Ansicht <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dabei die Erläuterungen in <a href="#tabelle-plentybase-verbindungsdaten">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ plentyBase ist auf dem Rechner aktiviert und stellt die Funktionalität für alle Benuter des plentymarkets Systems bereit.<br>
→ In der Taskleiste des Rechners wird das plentyBase Symbol angezeigt, das zeigt, dass das Tool ausgeführt wird.</p>
</li>
<li>
<p>Kopiere den Access-Token in die Zwischenablage.</p>
</li>
<li>
<p>Klicke auf das plentyBase Symbol in der Taskleiste des Rechners.</p>
</li>
<li>
<p>Wähle die Option <strong>Konfiguration öffnen</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Authentifizierung benutzen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Access-Token verwalten</strong>.<br>
→ Das Fenster <strong>Access-Token verwalten</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Access-Token hinzufügen</strong> wird geöffnet.</p>
</li>
<li>
<p>Füge den Access Token aus der Zwischenablage in das Feld <strong>Access-Token</strong> ein.</p>
</li>
<li>
<p>Gib optional eine Beschreibung des Tokens ein.</p>
</li>
<li>
<p>Klicke auf auf <strong>Hinzufügen</strong>.<br>
→ Der Access-Token wird gespeichert.</p>
</li>
</ol>
</div>
<table id="tabelle-plentybase-verbindungsdaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. plentyBase Verbindungsdaten in plentymarkets Backend speichern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die hier gespeicherte Adresse <code>local.plentybase.de</code> nicht ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der HTTPS-Port, der plentyBase bei der Installation zugeordnet wurde. Der Standardwert ist 7331. Wenn bei der Installation ein anderer HTTPS-Port eingegeben wurde, gib die entsprechende Nummer des Ports ein.<br>
<strong><em>HInweis:</em></strong> Die Ports 0 bis 1023 sind System-Ports und können nicht verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verbindung testen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prüft, ob eine Verbindung zwischen dem plentymarkets System und plentyBase besteht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der API Access-Token dient zur Authentifizierung bei der plentyBase API-Schnittstelle. Klicke auf <strong>Token generieren</strong> und bestätige die Aktion, um einen neuen API Access-Token zu generieren.<br>
<strong><em>Hinweis:</em></strong> Wenn du einen neuen API Access-Token generierst, wird der vorherige Token überschrieben. Speichere den neuen Token direkt nach der Generierung in den Einstellungen von plentyBase.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="400">3.1. Zugriff auf lokale Ordner einschränken</h3>
<div class="paragraph">
<p>plentyBase hat standardmäßig Zugriff auf alle Ordner deines lokalen Rechners. Schränke diese Zugriffsrechte optional ein, indem du nur bestimmte Ordner freigibst. Sobald du einen oder mehrere Ordner freigibst, ist der Zugriff auf alle nicht freigegebenen Ordner des Rechners automatisch gesperrt.</p>
</div>
<div class="paragraph instruction">
<p>Zugriff auf lokale Ordner einschränken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das plentyBase Symbol in der Taskleiste des Rechners.</p>
</li>
<li>
<p>Wähle die Option <strong>Konfiguration öffnen</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Ordnerzugriff verwalten</strong>.<br>
→ Das Fenster <strong>Ordnerzugriff verwalten</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Im Fenster <strong>Öffnen</strong> werden die auf dem Rechner verfügbaren Ordner angezeigt.</p>
</li>
<li>
<p>Klicke auf den Ordner, den du freigeben möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Wählen</strong>.<br>
→ Der Ordner wird in der Liste des Fensters <strong>Ordnerzugriff verwalten</strong> angezeigt. Dabei ist die Option <strong>Zugriff</strong> automatisch aktiviert.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen in der Spalte <strong>Unterordner</strong>, um alle Unterordner des Ordners freizugeben.</p>
</li>
<li>
<p>Füge bei Bedarf weitere Ordner hinzu.</p>
</li>
<li>
<p>Klicke auf <strong>OK</strong>, um die Einstellungen zu speichern.<br>
→ plentyBase kann nun nur auf die in der Spalte <strong>Zugriff</strong> aktivierten Ordner zugreifen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. plentyBase für zusätzliche Domains freigeben</h3>
<div class="paragraph">
<p>plentyBase stellt eine Schnittstelle zwischen plentymarkets und dem Rechner bereit, auf dem plentyBase installiert ist. Um einen potenziellen Zugriff durch unbefugte Dritte zu verhindern, ist per plentyBase standardmäßig nur über die folgenden plentymarkets Domains ein Zugriff auf den lokalen Rechner möglich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>.plentymarkets-cloud-de.com</code></p>
</li>
<li>
<p><code>.plentymarkets-cloud-ie.com</code></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Zusätzliche Domains müssen in den plentyBase Einstellungen freigegeben werden. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>plentyBase für zusätzliche Domains freigeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das plentyBase Symbol in der Taskleiste des Rechners.</p>
</li>
<li>
<p>Wähle die Option <strong>Konfiguration öffnen</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Domainzugriff verwalten</strong>.<br>
→ Das Fenster <strong>Domainzugriff verwalten</strong> wird geöffnet.<br>
→ Eine Liste der gespeicherten Domains wird angezeigt.<br>
<strong><em>Hinweis:</em></strong> Der Zugriff auf folgende Domains ist standardmäßig aktiviert:</p>
<div class="ulist">
<ul>
<li>
<p><code>.plentymarkets-cloud-de.com</code></p>
</li>
<li>
<p><code>.plentymarkets-cloud-ie.com</code></p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Eine zusätzliche leere Zeile wird eingefügt.</p>
</li>
<li>
<p>Doppelklicke in der Spalte <strong>Domain</strong> die leere Zeile.</p>
</li>
<li>
<p>Gib die Domain ein.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen in der Spalte <strong>Zugriff</strong>.</p>
</li>
<li>
<p>Füge bei Bedarf weitere Domains hinzu und aktiviere den Zugriff.</p>
</li>
<li>
<p>Klicke auf <strong>OK</strong>, um die Einstellungen zu speichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">3.3. plentyBase in einem Netzwerk zugänglich machen</h3>
<div class="paragraph">
<p>Du kannst plentyBase auf einem Rechner innerhalb eines Netzwerks installieren und für die anderen Rechner im Netzwerk zugänglich machen. Um plentyBase innerhalb eines Netzwerks zu nutzen, müssen die IP-Adresse und der Host-Name des Rechners, auf dem plentyBase installiert ist, in die HOSTS-Datei der anderen Rechner eingetragen werden, die auf das Netzwerk zugreifen.</p>
</div>
<div class="sect3">
<h4 id="610">3.3.1. plentyBase auf Netzwerkrechner installieren</h4>
<div class="ulist">
<ul>
<li>
<p><a href="#200">Installiere plentyBase</a> auf einem Rechner des Netzwerks.</p>
</li>
<li>
<p>Notiere dir die IP-Adresse des Host-Rechners, auf dem plentyBase installiert wurde.</p>
</li>
<li>
<p><strong><em>Hinweis:</em></strong> Wie empfehlen dir, dem Host-Rechner eine statische IP-Adresse zuzuweisen.</p>
</li>
<li>
<p>Hast du nicht den Standard-HTTPS-Port 7331 verwendet haben, notiere dir außerdem den HTTPS-Port, den du bei der Installation angegeben hast.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="620">3.3.2. IP-Daten in HOSTS-Datei weiterer Rechner im Netzwerk speichern</h4>
<div class="paragraph">
<p>Die HOSTS-Datei ist eine lokale Textdatei des Betriebssystems, in der Hostnamen bestimmten IP-Adressen zugeordnet werden. In die HOSTS-Datei des Client-Rechners trägst du die IP-Adresse und den Host-Namen des Rechners im Netzwerk ein, auf dem plentyBase installiert ist. Nur so kann der Client-Rechner auf plentyBase zugreifen. Zur Bearbeitung der HOSTS-Datei benötigst du Administratorrechte auf dem Client-Rechner.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Bearbeitung der HOSTS-Datei auf eigene Gefahr</div>
<div class="paragraph">
<p>Die HOSTS-Datei ist eine wichtige Systemdatei. Die Bearbeitung dieser Datei erfolgt auf eigene Gefahr. plentymarkets übernimmt keine Gewährleistung oder Haftung für etwaige Schäden, die durch die Bearbeitung der HOSTS-Datei direkt oder mittelbar entstehen können. Beachte auch folgende Hinweise:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Erstelle eine Sicherungskopie der HOSTS-Datei, bevor du die Datei bearbeitest.</p>
</li>
<li>
<p>Lösche oder bearbeite keine Einträge, die bereits in der Datei vorhanden sind.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Der Ablauf zur Bearbeitung der HOSTS-Datei ist je nach verwendetem Betriebssystem unterschiedlich. Klicke auf das passende Tab, um die Anleitung für dein Betriebssystem zu sehen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="windows-tab" data-toggle="tab" href="#windows" role="tab" aria-controls="windows" aria-selected="true">Windows</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="macosx-tab" data-toggle="tab" href="#macosx" role="tab" aria-controls="macosx" aria-selected="false">MacOSX</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="linux-tab" data-toggle="tab" href="#linux" role="tab" aria-controls="linux" aria-selected="false">Linux</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="windows" role="tabpanel" aria-labelledby="windows-tab">
<div class="paragraph instruction">
<p>HOSTS-Datei in Windows bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke unten links auf das Windows-Symbol.<br>
<strong><em>Nur Windows 8:</em></strong> Navigiere zur Kachelansicht.</p>
</li>
<li>
<p>Gib <strong>Editor</strong> in die Suche ein.<br>
→ Der Editor wird in der Liste der Programme aufgeführt.</p>
</li>
<li>
<p>Klicke mit der rechten Maustaste auf die Editor-Verknüpfung und wähle die Option <strong>Als Administrator ausführen</strong>.</p>
</li>
<li>
<p>Bestätige die Abfrage mit <strong>Ja</strong>.<br>
→ Der Editor wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Datei » Öffnen</strong>.</p>
</li>
<li>
<p>Navigiere zum Pfad C:\Windows\System32\Drivers\etc.<br>
<strong><em>Tipp:</em></strong> Wähle aus der Dropdown-Liste rechts unten die Option <strong>Alle Dateien</strong>.<br>
→ Die HOSTS-Datei wird geöffnet und kann bearbeitet werden.</p>
</li>
<li>
<p>Füge am Ende der Datei die IP-Adresse des Rechners hinzu, auf dem plentyBase installiert ist, gefolgt von der Host-Adresse <code>local.plentybase.de</code>. Daraus ergibt sich das folgende Muster:<br>
<strong>[IP-Adresse des Host-Rechners] local.plentybase.de<br>
*<em>Beispiel:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Hinweis:</em></strong> Mit <code><mark></mark></code> beginnende Zeilen sind Kommentare und werde nicht ausgelesen. Dein Eintrag darf daher nicht mit <code></code> beginnen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Datei.<br>
<strong><em>Tipp:</em></strong> Wenn auf dem Rechner plentymarkets im Browser geöffnet ist, lade das Browser-Tab neu.</p>
</li>
<li>
<p>Wenn du bei der Installation auf dem Host-Rechner einen anderen HTTPS-Port als den Standard-Port 7331 gewählt hast, <a href="#300">gib den HTTPS-Port des Host-Rechners</a> im plentymarkets Backend ein.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="macosx" role="tabpanel" aria-labelledby="macosx-tab">
<div class="paragraph instruction">
<p>HOSTS-Datei in MacOSX bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Finder.</p>
</li>
<li>
<p>Klicke in der Task-Leiste auf <strong>Gehe zu » Gehe zum Ordner …​</strong>.<br>
→ Das Fenster <strong>Den folgenden Ordner öffnen:</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib <code>/private/etc</code> in das Feld ein.<br>
→ Der Ordner <strong>etc</strong> wird geöffnet.</p>
</li>
<li>
<p>Kopiere die Datei <strong>hosts</strong>.</p>
</li>
<li>
<p>Lege die Kopie in einem anderen Ordner oder auf dem Desktop ab.</p>
</li>
<li>
<p>Öffne die Kopie der Datei <strong>hosts</strong> mit TextEdit oder einem anderen Editor.</p>
</li>
<li>
<p>Füge am Ende der Datei die IP-Adresse des Rechners hinzu, auf dem plentyBase installiert ist, gefolgt von der Host-Adresse local.plentybase.de`. Daraus ergibt sich das folgende Muster:<br>
<strong>[IP-Adresse des Host-Rechners] local.plentybase.de<br>
*<em>Beispiel:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Hinweis:</em></strong> Mit <code><mark></mark></code> beginnende Zeilen sind Kommentare und werde nicht ausgelesen. Dein Eintrag darf daher nicht mit <code></code> beginnen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Datei.</p>
</li>
<li>
<p>Ziehe die bearbeitete Kopie der Datei in den Ursprungsordner <strong>private.etc</strong><br>
→ Eine Warnung wird angezeigt.</p>
</li>
<li>
<p>Bestätige, dass du die nicht bearbeitete Datei ersetzen möchtest.</p>
</li>
<li>
<p>Gib dein Benutzerkennwort ein, um den Ersetzungsvorgang zu bestätigen.<br>
→ Die Datei wird gespeichert.<br>
<strong><em>Tipp:</em></strong> Wenn auf dem Rechner plentymarkets im Browser geöffnet ist, lade das Browser-Tab neu.</p>
</li>
<li>
<p>Wenn du bei der Installation auf dem Host-Rechner einen anderen HTTPS-Port als den Standard-Port 7331 gewählt hast, <a href="#300">gib den HTTPS-Port des Host-Rechners</a> im plentymarkets Backend ein.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="linux" role="tabpanel" aria-labelledby="linux-tab">
<div class="paragraph instruction">
<p>HOSTS-Datei in Linux bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Dateimanager.</p>
</li>
<li>
<p>Navigiere zum Pfad <code>/etc</code>.<br>
→ Öffne die Datei <strong>hosts</strong> mit einem Texteditor und Administratorrechten.</p>
</li>
<li>
<p>Füge am Ende der Datei die IP-Adresse des Rechners hinzu, auf dem plentyBase installiert ist, gefolgt von der Host-Adresse <code>local.plentybase.de</code>. Daraus ergibt sich das folgende Muster:<br>
<strong>[IP-Adresse des Host-Rechners] local.plentybase.de<br>
*<em>Beispiel:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Hinweis:</em></strong> Mit <code><mark></mark></code> beginnende Zeilen sind Kommentare und werde nicht ausgelesen. Dein Eintrag darf daher nicht mit <code></code> beginnen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Datei.<br>
<strong><em>Tipp:</em></strong> Wenn auf dem Rechner plentymarkets im Browser geöffnet ist, lade das Browser-Tab neu.</p>
</li>
<li>
<p>Wenn du bei der Installation auf dem Host-Rechner einen anderen HTTPS-Port als den Standard-Port 7331 gewählt hast, <a href="#300">gib den HTTPS-Port des Host-Rechners</a> im plentymarkets Backend ein.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div>
<div class="sect2">
<h3 id="700">3.4. plentyBase Verbindungsdaten in der plentymarkets App speichern</h3>
<div class="paragraph">
<p>Du kannst plentyBase auch mit der plentymarkets App verbinden. Damit eine Verbindung zwischen plentyBase und der plentymarkets App hergestellt werden kann, muss in den Konfigurationseinstellungen von plentyBase die Option <strong>HTTP-Port</strong> aktiviert und ein HTTP-Port eingegeben sein. Standardmäßig ist der HTTP-Port 7332 vorausgewählt.</p>
</div>
<div class="paragraph">
<p>Nachdem du die plentyBase Verbindungsdaten in der plentymarkets App gespeichert hast, kannst du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kassenbelege über alle Drucker drucken, auf die über den Rechner zugegriffen werden kann, auf dem plentyBase installiert ist.</p>
</li>
<li>
<p>Plugins, die plentyBase benötigen, in der App benutzen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Du benötigst folgende Daten, um die plentyBase Verbindungsdaten in der plentymarkets App zu speichern:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>IP-Adresse des Rechners, auf dem plentyBase installiert ist</p>
</li>
<li>
<p>HTTP-Port, der plentyBase auf dem Rechner zugewiesen wurde</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Information zu Bondruckern</div>
<div class="paragraph">
<p>Bondrucker werden über ihre IP-Adresse an die plentymarkets App angebunden. Daher ist plentyBase für den Bondrucker nicht erforderlich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>plentyBase Verbindungsdaten in der plentymarkets App speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melde dich in der plentymarkets App an.</p>
</li>
<li>
<p>Tippe in der Menüleiste oben links auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>plentyBase</strong>.<br>
→ Das Einstellungsmenü <strong>plentyBase</strong> wird angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dabei die Erläuterungen in <a href="#tabelle-plentybase-verbindungsdaten-app">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-plentybase-verbindungsdaten-app" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. plentyBase Verbindungsdaten in der plentymarkets App speichern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die IP-Adresse des Rechners ein, auf dem plentyBase installiert ist. Wenn plentyBase in einem Netzwerk installiert und für andere Rechner freigegeben ist, gib die IP-Adresse des Host-Rechners ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HTTP-Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den HTTP-Port ein, der plentyBase auf dem Rechner zugeordnet wurde. Standardmäßig ist der Port 7332 angegeben. Klicke auf das plentyBase Symbol in der Taskleiste des Rechners und dann auf <strong>Konfiguration öffnen</strong>, um den HTTP-Port anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verbindung testen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tippe, um zu testen, ob eine Verbindung zu dem Rechner, auf dem plentyBase installiert ist, hergestellt werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Access-Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Access-Token ein, der in plentyBase für den Rechner gespeichert ist.<br>
<strong><em>Tipp:</em></strong> Der Access-Token wird im Menü <strong>Start » plentyBase » Ansicht: Einstellungen</strong> des plentymarkets Backend als QR-Code dargestellt. Um den QR-Code einzuscannen, tippe oben rechts in der App auf das QR-Code-Symbol und scanne den QR-Code.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Access-Token generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tippe, um einen neuen Access-Token zu generieren.<br>
<strong><em>Hinweis:</em></strong> Wenn du ein neues Access-Token in der plentymarkets App generierst, musst du diesen Token auch in den Einstellungen des plentyBase Tools speichern.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">3.5. Plugin für plentyBase installieren</h3>
<div class="paragraph">
<p>Die folgenden Plugins sind im plentyMarketplace verfügbar und setzen Voraus, dass du plentyBase installiert hast:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plentybaseitemcachepos_6313" target="_blank" rel="noopener">plentyBase ItemCachePOS</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plentybasepackbylight_6367" target="_blank" rel="noopener">plentyBase PackByLIght</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plentybasecustomerdisplaypos_6359" target="_blank" rel="noopener">plentyBase CustomerDisplayPOS</a><span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachte bei der Installation dieser Plugins den folgenden Ablauf.</p>
</div>
<div class="paragraph instruction">
<p>Plugin für plentyBase installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Speichere die Installationsdatei des Plugins auf dem Rechner, auf dem plentyBase ausgeführt wird.<br>
<strong><em>Tipp:</em></strong> Die Installationsdateien von Plugins für plentyBase haben stets die Dateierweiterung <strong>.jar</strong>.</p>
</li>
<li>
<p>Logge dich im Backend deines plentymarkets Systems ein.</p>
</li>
<li>
<p>Öffne das Menü <strong>Start » plentyBase</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf <strong>plentymarkets Logo (Start)</strong>.<br>
→ Das plentyBase Dashboard wird geöfnet.</p>
</li>
<li>
<p>Wechsle in die Ansicht <strong>Plugins</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Plugin installieren</strong>.</p>
</li>
<li>
<p>Navigiere zur Installationsdatei des Plugins.</p>
</li>
<li>
<p>Wähle die Installationsdatei aus.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin wird in der Liste der Plugins angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="900">3.6. plentyBase Log-Dateien an plentymarkets Support senden</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um plentyBase Log-Dateien an den plentymarkets Support zu senden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Log-Dateien erst nach Aufforderung senden</div>
<div class="paragraph">
<p>Sende die Log-Dateien erst nach Aufforderung an den plentymarkets Support. Sende die Dateien immer als private Nachricht an die Gruppe @plenty-prozesse im plentymarkets Forum.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>plentyBase Log-Dateien an plentymarkets Support senden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Starte plentyBase.</p>
</li>
<li>
<p>Führe den Prozess aus, bis das Verhalten auftritt, das du dem plentymarkets Support melden möchtest.</p>
</li>
<li>
<p>Klicke auf das plentyBase Logo.</p>
</li>
<li>
<p>Klicke auf <strong>Log-Dateien anzeigen</strong>.<br>
→ Der Ordner <strong>Logs</strong> wird angezeigt.</p>
</li>
<li>
<p>Packe die Datei <code>plentyBase.log</code> als ZIP-Datei oder RAR-Datei.<br>
<strong><em>Tipp:</em></strong> Die Datei <code>plentyBase.log</code> enthält immer die aktuellsten Log-Daten. Ist das Verhalten an einem anderen Tag aufgetreten? Dann packe die Datei mit dem Datum, an dem das Verhalten aufgetreten ist.</p>
</li>
<li>
<p>Sende die Datei in einer privaten Nachricht an die Gruppe @plenty-prozesse im plentymarkets Forum. Füge, wenn möglich, auch einen Link zu deinem ursprünglichen Forenbeitrag zur privaten Nachricht hinzu.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">3.7. plentyBase: FAQ und Fehlerbehebung</h3>
<div class="paragraph">
<p>Im den folgenden Unterkapiteln findest du eine Liste von häufig auftretenden Fragen und Fehlern im Zusammenhang mit plentyBase.</p>
</div>
<div class="sect3">
<h4 id="1100">3.7.1. "Fehlende plentyBase Authentifizierung. Access-Token-Einstellungen prüfen"</h4>
<div class="paragraph">
<p>Hierbei handelt es sich nicht um eine Fehlermeldung im klassischen Sinn. Vielmehr wirst du darauf hingewiesen, dass noch kein Access Token zur Absicherung der Kommunikation zwischen plentymarkets und dem lokal installierten plentyBase eingerichtet wurde.</p>
</div>
<div class="paragraph">
<p>Damit diese Meldung nicht mehr angezeigt wird und die Verbindung abgesichert ist, muss ein Token in plentymarkets erzeugt und in plentyBase hinterlegt werden. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>plentyBase starten und Menü öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Starte plentyBase.</p>
</li>
<li>
<p>Melde dich im Backend deines plentymarkets Systems an.</p>
</li>
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » plentyBase</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Generiere einen Token und kopiere diesen in die Zwischenablage.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon lightGrey"><i class="fa fa-save  "></i></span>) die Änderungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/accesstoken.png" alt="accesstoken">
</div>
</div>
<div class="paragraph instruction">
<p>Einstellungen öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das plentyBase Logo in der Taskleiste deines Rechners und wähle dort <strong>Konfiguration öffnen</strong>.<br></p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/baseMac.png" alt="baseMac">
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/baseWin.png" alt="baseWin">
</div>
</div>
<div class="paragraph instruction">
<p>Token hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Access Tokens verwalten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.</p>
</li>
<li>
<p>Füge den in die Zwischenablage kopierten Token links ein. Gib rechts zum Beispiel <strong>plentymarkets</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>OK</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1200">3.7.2. "plentyBase nicht verbunden. Status prüfen"</h4>
<div class="paragraph">
<p>Die Fehlermeldung <code>plentyBase nicht verbunden. Status prüfen</code> bezeichnet verschiedene Verbindungsprobleme, die bei plentyBase auftreten können. Stelle zuerst sicher, dass wie oben beschrieben der <a href="#700">plentyBase Access Token</a> korrekt erzeugt <strong>und</strong> hinterlegt wurde.</p>
</div>
<div class="paragraph">
<p>Je nach verwendetem Modell kann es passieren, dass dein Router Verbindungsprobleme bei plentyBase verursacht. Besonders bei Verwendung einer Fritz!Box kann es vermehrt zu Problemen kommen. Anwender:innen mit Fritz!Box finden <a href="https://forum.plentymarkets.com/t/es-kann-keine-verbindung-zu-plentybase-hergestellt-werden-fritzbox-benutzer-loesungsvorschlag/607564" target="_blank" rel="noopener">in diesem Beitrag im Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> die passende Lösung.</p>
</div>
</div>
</div>
</div>
</div>
</main>