<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Prozesse in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Was sind Arbeitsschritte?</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Was sind Aktionen?</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Was sind Steuerelemente?</span></a></li>
<li><a href="#50"><span>1.4.</span><span> Was sind Subaktionen?</span></a></li>
</ul>
</li>
<li><a href="#180"><span>2.</span><span> Sichtbarkeit von Prozessen steuern</span></a></li>
<li><a href="#60"><span>3.</span><span> Prozess erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>3.1.</span><span> Arbeitsschritt erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>3.1.1.</span><span> Arbeitsschritt "Auftragsabwicklung" erstellen</span></a>
<ul class="sectlevel4">
<li><a href="#90"><span>Filter des Arbeitsschritts Auftragsabwicklung</span></a></li>
</ul>
</li>
<li><a href="#100"><span>3.1.2.</span><span> Arbeitsschritt "Auftragsbearbeitung erstellen</span></a></li>
<li><a href="#110"><span>3.1.3.</span><span> Arbeitsschritt "Wareneingang" erstellen</span></a></li>
</ul>
</li>
<li><a href="#120"><span>3.2.</span><span> Arbeitsschritt bearbeiten</span></a></li>
<li><a href="#130"><span>3.3.</span><span> Aktion/Steuerelement zu Arbeitsschritt hinzufügen</span></a></li>
<li><a href="#140"><span>3.4.</span><span> Subaktion zu Aktion hinzufügen</span></a></li>
<li><a href="#150"><span>3.5.</span><span> Fehlerbehandlung verwalten</span></a>
<ul class="sectlevel3">
<li><a href="#160"><span>3.5.1.</span><span> Verfügbare Aktionen für Fehlerfall</span></a></li>
<li><a href="#170"><span>3.5.2.</span><span> Aktion für Fehlerfall hinzufügen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#190"><span>4.</span><span> Prozess wiederverwenden</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>4.1.</span><span> Prozess kopieren</span></a></li>
<li><a href="#210"><span>4.2.</span><span> Prozess exportieren</span></a></li>
<li><a href="#220"><span>4.3.</span><span> Prozess importieren</span></a></li>
<li><a href="#230"><span>4.4.</span><span> Prozesse im Prozessbasar tauschen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Prozesse einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">plentyBase installieren</div>
<div class="paragraph">
<p>Sie benötigen das Tool plentyBase, um Prozesse im plentymarkets Backend zu erstellen und auszuführen. Die Installationsdateien für plentyBase finden Sie im <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Prozesse in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Über Prozesse automatisieren Sie viele komplexe Abläufe in plentymarkets. Hilfreiche Videos zum Thema Automatisierung mit plentymarkets finden Sie auch in unseren
<a href="https://www.plentymarkets.eu/knowledge/video-tutorials/automatisierung">Video-Tutorials zur automatisierten Auftragsabwicklung</a>.</p>
</div>
<div class="paragraph">
<p>Die folgenden Prozesselemente sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Arbeitsschritte</p>
</li>
<li>
<p>Steuerelemente</p>
</li>
<li>
<p>Aktionen</p>
</li>
<li>
<p>Subaktionen</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/prozess.png" alt="prozess">
</div>
<div class="title">Bild 1. Schema eines stark vereinfachten Prozesses</div>
</div>
<div class="sect2">
<h3 id="20">1.1. Was sind Arbeitsschritte?</h3>
<div class="paragraph">
<p>Jeder Prozess besteht aus mindestens einem Arbeitsschritt. Arbeitsschritte bilden den Kern Ihrer Prozesse. Mit Arbeitsschritten definieren Sie, welche Aufgaben und Abläufe automatisiert werden. Je nach Typ des Arbeitsschritts automatisieren Sie die Bearbeitung entweder einzelner oder mehrerer Aufträge oder den Wareneingang. Pro Prozess sind beliebig viele Arbeitsschritte möglich. <a href="#tabelle-prozesse-arbeitsschritte">Tabelle 1</a> zeigt die verfügbaren Typen von Arbeitsschritten.</p>
</div>
<table id="tabelle-prozesse-arbeitsschritte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Arbeitsschritte</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Arbeitsschritt</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsabwicklung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestimmt, welche und wie viele Aufträge den Prozess durchlaufen sollen. Filter ermöglichen es Ihnen, die automatische Bearbeitung auf bestimmte Aufträge zu beschränken. Außerdem wird festgelegt, ob durch den Arbeitsschritt Änderungen an den Aufträgen vorgenommen werden. Sie können den Status, den Eigner und/oder die Markierung von Aufträgen ändern, die diesen Arbeitsschritt durchlaufen haben. Auch die Reihenfolge, in der Aufträge abgearbeitet werden, legen Sie fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsbearbeitung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestimmt, wie einzelne Aufträge weiter bearbeitet werden sollen, nachdem sie z.B. über einen Handscanner erfasst wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wareneingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht u.a. das Suchen und Erfassen von einzelnen Wareneingängen, die Bestellsuche mit anschließender Buchung der Artikel einer Bestellung und die automatische Zuordnung von Nachbestellungen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="30">1.2. Was sind Aktionen?</h3>
<div class="paragraph">
<p>Aktionen werden zu einem Arbeitsschritt hinzugefügt. Mit Aktionen legen Sie fest, welche Vorgänge bei der Prozessausführung automatisch stattfinden sollen.</p>
</div>
<div class="paragraph">
<p>Eine Liste der verfügbaren Aktionen finden Sie auf der Handbuchseite <a href="/automatisierung/prozesse/aktionen">Aktionen</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Was sind Steuerelemente?</h3>
<div class="paragraph">
<p>Steuerelemente sind eine Sonderform der Aktionen. Steuerelemente steuern, wie die Arbeitsschritte eines Prozesses abgearbeitet werden. Steuerelemente fügen Sie also zu einem Arbeitsschritt hinzu, um die Verbindung zu steuern, in der die Aktionen dieses Arbeitsschritts zueinander stehen. Sie können damit z.B. Aktionen wiederholen, zu bestimmten Punkten im Arbeitsschritt springen oder Bedingungen festlegen, die erfüllt sein müssen, damit eine Aktion ausgeführt wird.</p>
</div>
<div class="paragraph">
<p>Folgende Steuerelemente sind verfügbar und werden auf der Handbuchseite <a href="/automatisierung/prozesse/aktionen#_steuerelemente">Aktionen/Steuerelemente</a> näher erläutert:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Steuerelemente</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 50%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Steuerelement</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Arbeitsschritte</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Jump</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Springt zu einem bestimmten Punkt im Prozess.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Auftragsabwicklung</p>
</li>
<li>
<p>Auftragsbearbeitung</p>
</li>
<li>
<p>Wareneingang</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Loop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schleife, die eine Aktion oder Aktionskette wiederholt, bis alle Aufträge den Arbeitsschritt durchlaufen haben.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Auftragsabwicklung</p>
</li>
<li>
<p>Auftragsbearbeitung</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verzweigung, mit der eine Bedingung für ein Ziel hinterlegt wird.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Auftragsabwicklung</p>
</li>
<li>
<p>Auftragsbearbeitung</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt Aktionen auf die gefilterten Aufträge.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Auftragsabwicklung</p>
</li>
<li>
<p>Auftragsbearbeitung</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter auflösen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beendet eine Filterung.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Auftragsabwicklung</p>
</li>
<li>
<p>Auftragsbearbeitung</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beendet einen Arbeitsschritt oder Prozess.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Auftragsabwicklung</p>
</li>
<li>
<p>Auftragsbearbeitung</p>
</li>
<li>
<p>Wareneingang</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dialog</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abfrage mit optionaler Wahlmöglichkeit über bis zu 5 Buttons</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Auftragsabwicklung</p>
</li>
<li>
<p>Auftragsbearbeitung</p>
</li>
<li>
<p>Wareneingang</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">1.4. Was sind Subaktionen?</h3>
<div class="paragraph">
<p>Subaktionen werden zu einer Aktion hinzugefügt. Mit Subaktionen legen Sie also fest, welche Vorgänge bei der Prozessausführung im Rahmen der Aktion automatisch stattfinden sollen. Mit der Subaktion <strong>Drucken</strong> drucken Sie zum Beispiel Dokumente, die in einer Aktion erstellt wurden.</p>
</div>
<div class="paragraph">
<p>Eine Liste der verfügbaren Subaktionen finden Sie auf der Handbuchseite <a href="/automatisierung/prozesse/subaktionen">Subaktionen</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">2. Sichtbarkeit von Prozessen steuern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Ordnerstruktur des Menüs <strong>Einstellungen » Prozesse</strong> entspricht der Sichtbarkeit und Verfügbarkeit der Prozesse für Benutzerkonten. <a href="#tabelle-sichtbarkeit-prozesse">Tabelle 3</a> zeigt die verfügbaren Ordner.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit des Menüs System » Prozesse</div>
<div class="paragraph">
<p>Personen mit Admin-Rechten haben standardmäßig die Berechtigung, das Menü <strong>System » Prozesse</strong> aufzurufen. Personen mit der Benutzerklasse <strong>Variabel</strong> müssen Sie diese Berechtigung erteilen. Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konto öffnen » Tab: Berechtigung » Tab: Menü</strong> und aktivieren Sie die Berechtigung <strong>Prozesse</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-sichtbarkeit-prozesse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ordnerstruktur der Prozesse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ordner</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meine Prozesse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozesse, die die angemeldete Person bearbeiten kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozesse anderer Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozesse anderer Benutzer. Der Ordner ist nur für Konten der Klasse <strong>Admin</strong> sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozesse pro Rolle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozesse für Konten mit der Rolle der angemeldeten Person. Wenn das Konto keiner Rolle zugeordnet ist, wird dieser Ordner angezeigt. Personen mit der Klasse <strong>Admin</strong> werden die Prozesse aller Rollen angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Globale Prozesse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozesse, die für alle Konten zur Verfügung stehen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">3. Prozess erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prozesse erstellen und verwalten Sie im Menü <strong>System » Prozesse</strong>. Gehen Sie wie unten beschrieben vor, um einen Prozess zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Prozess erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse » Neuer Prozess</strong>.<br>
<strong><em>Hinweis:</em></strong> Wenn der Menüpunkt <strong>System » Prozesse</strong> nicht angezeigt wird, installieren Sie das Plugin <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die Erläuterungen in <a href="#tabelle-prozess-einstellungen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Prozess wird im Menübaum angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-prozess-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Prozess erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Namen für den Prozess eingeben.<br>
<strong><em>Tipp:</em></strong> Eindeutigen und sprechenden Namen verwenden, um ein intuitives Arbeiten mit den Prozessen zu ermöglichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, für welche Gruppe der Prozess sichtbar sein soll. Sichtbar bedeutet, dass der Prozess im Menü <strong>Prozesse</strong> zur Verfügung steht und ausgeführt werden kann.<br>
<strong>Global</strong> = Der Prozess ist für alle sichtbar.<br>
<strong>Benutzer</strong> = Der Prozess ist nur für die Person sichtbar, die in der eingeblendeten Dropdown-Liste <strong>Benutzer</strong> gewählt wird.<br>
<strong>Rolle</strong> = Der Prozess ist nur für die <strong>Rolle</strong> sichtbar, die in der eingeblendeten Dropdown-Liste <strong>Rolle</strong> gewählt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur sichtbar, wenn für die Option <strong>Sichtbarkeit</strong> die Einstellung <strong>Benutzer</strong> gewählt wurde. Wählen, für welche Person der Prozess sichtbar sein soll.<br>
<strong><em>Hinweis:</em></strong> Für Personen mit Rechten der Klasse <strong>Admin</strong> sind alle Prozesse sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rolle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur sichtbar, wenn für die Option <strong>Sichtbarkeit</strong> die Einstellung <strong>Rolle</strong> gewählt wurde. Wählen, für welche Rolle der Prozess sichtbar sein soll.<br>
<strong><em>Hinweis:</em></strong> Für Personen mit Rechten der Klasse <strong>Admin</strong> sind alle Prozesse sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Änderbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wer den Prozess ändern darf.<br>
Aktiviert = Personen, die den Prozess sehen können, können ihn auch bearbeiten.<br>
Nicht aktiviert = Nur Personen mit Rechten der Klasse <strong>Admin</strong> können den Prozess bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Lager wählen. Das Lager mit der Lager-ID 1 ist voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Farbe wählen, in der der Prozess im Menü <strong>Prozesse</strong> angezeigt wird.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="70">3.1. Arbeitsschritt erstellen</h3>
<div class="paragraph">
<p>Die folgenden Arbeitsschritte sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsabwicklung</p>
</li>
<li>
<p>Auftragsbearbeitung</p>
</li>
<li>
<p>Wareneingang</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="80">3.1.1. Arbeitsschritt "Auftragsabwicklung" erstellen</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Arbeitsschritt des Typs <strong>Auftragsabwicklung</strong> zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Arbeitsschritt "Auftragsabwicklung" erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse » Ordner wählen » Prozess wählen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Arbeitsschritt</strong>.<br>
→ Das Fenster <strong>Neuer Arbeitsschritt</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie in der Dropdown-Liste den Typ <strong>Auftragsabwicklung</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.<br>
→ Das Fenster <strong>Arbeitsschritt: Auftragsabwicklung</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-prozesse-auftragsabwicklung">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Arbeitsschritt wird erstellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kontextmenü nutzen</div>
<div class="paragraph">
<p>Wenn der Prozess bereits einen Arbeitsschritt enthält, können weitere Arbeitsschritte auch über das Kontextmenü hinzugefügt werden. Klicken Sie dazu mit der rechten Maustaste auf einen Arbeitsschritt und wählen Sie <strong>Schritt davor einfügen</strong> oder <strong>Schritt dahinter einfügen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-prozesse-auftragsabwicklung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Einstellungen des Arbeitsschritts <strong>Auftragsabwicklung</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Namen wählen, der den Arbeitsschritt möglichst eindeutig beschreibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eintragen, wie viele Aufträge pro Durchlauf erfasst werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Folgeschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob ein weiterer Arbeitsschritt manuell oder automatisch gestartet werden soll. Diese Einstellung ist nur relevant, wenn mindestens zwei Arbeitsschritte eingerichtet sind.<br>
<strong>Eingabe abwarten</strong> = Der nächste Arbeitsschritt wird nicht automatisch gestartet. Das System wartet einen erneuten Klick auf <strong>Start</strong> in der Ausführung des Prozesses ab.<br>
<strong>Automatisch starten</strong> = Ein Folgeschritt oder eine Aktion wird automatisch gestartet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wird erst wählbar, nachdem der Arbeitsschritt erstellt wurde.<br>
Standardmäßig wird neuen Arbeitsschritten die nächste verfügbare Position zugewiesen. Andere Position wählen, um bei mehreren Arbeitsschritten die Reihenfolge zu ändern, in der die Arbeitsschritte abgearbeitet werden. Arbeitsschritte werden aufsteigend sortiert. Der Arbeitsschritt mit der niedrigsten Nummer wird also zuerst ausgeführt.<br>
<strong><em>Tipp:</em></strong> Arbeitsschritte lassen sich auch über das Kontextmenü um eine Position verschieben. Dazu mit der rechten Maustaste auf den Arbeitsschritt klicken und <strong>Nach oben verschieben</strong> oder <strong>Nach unten verschieben</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf das grüne <strong>Plus</strong> klicken und Filter wählen, um nur bestimmte Aufträge in diesem Prozess einzubeziehen. <a href="#tabelle-auftragsabwicklung-filter">Tabelle 6</a> erläutert die für den Arbeitsschritt <strong>Auftragsabwicklung</strong> verfügbaren Filter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aufträge markieren</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuer Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn durch diesen Arbeitsschritt der Status der Aufträge geändert werden soll, den Status wählen, der den Aufträgen nach der Bearbeitung zugewiesen werden soll. <strong>Ohne Änderung</strong> wählen, wenn der Status unverändert bleiben soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuer Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Person wählen, der die Aufträge durch diesen Arbeitsschritt zugewiesen werden sollen. <strong>Ohne Änderung</strong> wählen, wenn der Eigner unverändert bleiben soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn durch diesen Arbeitsschritt die Markierung der Aufträge geändert werden soll, die Markierung wählen, die den Aufträgen nach der Bearbeitung zugewiesen werden soll. <strong>Ohne Änderung</strong> wählen, wenn die Markierung unverändert bleiben soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Sortierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Sortierung wählen, um die Reihenfolge festzulegen, in der die Aufträge den Prozess durchlaufen. Sortiert werden kann aufsteigend oder absteigend nach den folgenden Optionen:<br>
<strong>Auftrags-ID</strong> (Standardeinstellung)<br>
<strong>Artikel-ID</strong><br>
<strong>Kunden-ID</strong><br>
<strong>Rechnungsnummer</strong><br>
<strong>Artikelnummer</strong><br>
<strong>Position Lagerort</strong><br>
<strong><em>Hinweis:</em></strong> Bei der Sortierung wird nur die erste Auftragsposition berücksichtigt.</p></td>
</tr>
</tbody>
</table>
<div class="sect4">
<h5 id="90">Filter des Arbeitsschritts Auftragsabwicklung</h5>
<div class="paragraph">
<p>Die Filter verwenden Sie, um nur bestimmte Aufträge mit dem Arbeitsschritt <strong>Auftragsabwicklung</strong> zu bearbeiten. <a href="#tabelle-auftragsabwicklung-filter">Tabelle 6</a> erläutert die für den Arbeitsschritt <strong>Auftragsabwicklung</strong> verfügbaren Filter.</p>
</div>
<table id="tabelle-auftragsabwicklung-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Filter des Arbeitsschritts <strong>Auftragsabwicklung</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragsdaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl Auftragspositionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator aus der Dropdown-Liste wählen und einen Wert in das Feld eingeben. So werden nur Aufträge gefiltert, die eine bestimmte Anzahl an Auftragspositionen (Artikeln) enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragslager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager aus der Dropdown-Liste wählen, um nur Aufträge mit Artikeln aus diesem Lager zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn nur bestimmte Aufträge für den Prozess verwendet werden sollen, den Auftragstyp wählen. Für einige Auftragstypen stehen auch Kombinationen zur Auswahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitpunkt wählen, z.B. <strong>gestern</strong>, oder einen Bereich, z.B. <strong>in der Vergangenheit</strong>, um alle bisherigen Aufträge zu filtern. Mehrfachauswahl möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Person, deren Aufträge gefiltert werden sollen.<br>
<strong>Aktiver Benutzer</strong> = Person, die im System eingeloggt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wählen, um nur Aufträge zu filtern, bei denen eine E-Mail-Adresse <strong>in den Kundenstammdaten enthalten</strong> oder <strong>nicht in den Kundenstammdaten enthalten</strong> ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Expressversand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob nach Expressversand gefiltert werden soll.<br>
<strong>Ja</strong> = Nur Aufträge mit Expressversand<br>
<strong>Nein</strong> = Nur Aufträge ohne Expressversand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamt-Artikelmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator aus der Dropdown-Liste wählen und einen Wert in das Feld eingeben. Auf diese Weise werden nur Aufträge gefiltert, die eine bestimmte Stückzahl einzelner Artikel enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um Aufträge anhand des Gewichts in Gramm zu filtern, für einen festen Betrag den Wert eintragen und als Operator das Gleichheitszeichen  wählen. Für Gewichtsbereiche den Wert eintragen und den passenden Operator wählen. Mit beiden Textfeldern ist die gleichzeitige Anwendung unterschiedlicher Filterbereiche möglich.<br>
<strong><em>Beispiel</em></strong>: Für ein Gewicht von 3,5 kg und darüber <strong>3500</strong> in das Textfeld eintragen und den Operator <strong>&gt;=</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Herkunft der Aufträge wählen, die gefiltert werden sollen. Mehrfachauswahl möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine oder mehrere Kundenklassen wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Lieferland der Aufträge wählen, die gefiltert werden sollen. Es stehen alle Lieferländer zur Verfügung, nicht nur die aktiven Lieferländer des Systems.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Mandant (Shop) wählen, dessen Aufträge gefiltert werden sollen. Mehrfachauswahl möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge anhand einer bestimmten Markierung filtern. Mit der Einstellung <strong>Ohne</strong> werden Aufträge gefiltert, die keine Markierung haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offene Pickliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Offene <a href="/auftraege/einstellungen/dokumente/pickliste"><strong>Picklisten</strong> </a> sind noch nicht fertig abgearbeitete Picklisten. Damit der Filter wirksam wird, muss eine offene Pickliste vorhanden sein. Sonst werden die Aufträge anhand der sonstigen eingestellten Filter geladen. Optionen:<br>
<strong>Verwenden</strong> = Eine offene Pickliste fertig bearbeiten.<br>
<strong>Nicht verwenden</strong> = Mit einer neuen Pickliste beginnen.<br>
Wenn die Aufträge durch den Filter mit der Einstellung <strong>Verwenden</strong> gesucht werden und eine offene Pickliste gefunden wird, werden die Aufträge der offenen Pickliste geladen. Alle anderen Filter des Arbeitsschrittes werden dann ignoriert. Bedingung für die anschließende Abarbeitung der geladenen Pickliste ist die Einstellung eines <a href="/warenwirtschaft/lager-einrichten#700">Box-Regals</a> bei der Aktion <a href="/automatisierung/prozesse/aktionen#140">Artikelerfassung</a>.<br>
Wird der Filter mit der Option <strong>Nicht verwenden</strong> inaktiv gestellt, wird im Prozessdurchlauf automatisch eine neue Pickliste erstellt, wenn die bereits erwähnte Bedingung erfüllt ist. Wenn bei dieser Einstellung jedoch noch eine offene Pickliste vorhanden ist, wird eine Fehlermeldung angezeigt und der Prozess abgebrochen. In diesem Fall muss die bestehende offene Pickliste zuerst mit einem Prozess abgearbeitet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packstation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob nach Packstationen gefiltert werden soll.<br>
<strong>Ja</strong> = Nur Aufträge mit Packstation<br>
<strong>Nein</strong> = Nur Aufträge ohne Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsbetrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um Aufträge anhand des Rechnungsbetrags zu filtern, für einen festen Betrag den Wert eintragen und als Operator das Gleichheitszeichen wählen. Für Rechnungsbetragsbereiche den Betrag eintragen und den passenden Operator wählen. Mit beiden Textfeldern ist die gleichzeitige Anwendung unterschiedlicher Filterbereiche möglich.<br>
<strong><em>Beispiel</em></strong>: Für den Rechnungsbetrag 39,90 Euro und darüber <strong>39,90</strong> in das Textfeld eintragen und den Operator <strong>&gt;=</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status wählen, um nur die Aufträge mit dem gewählten Status zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Treueprogramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Treueprogramm, mehrere oder keines wählen, um nur Aufträge aus diesem oder ohne Treueprogramm abzuwickeln.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddienstleister</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Versanddienstleister wählen, um nur Aufträge mit diesem Versanddienstleister zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um Aufträge anhand der Versandkosten zu filtern, für einen festen Betrag den Wert eintragen und als Operator das Gleichheitszeichen wählen. Für Versandkostenbereiche den Betrag eintragen und den passenden Operator wählen. Mit beiden Textfeldern ist die gleichzeitige Anwendung unterschiedlicher Filterbereiche möglich.<br>
<strong><em>Beispiel</em></strong>: Für den Versandkostenbereich 3,90 Euro und darüber <strong>3,90</strong> in das Textfeld eintragen und den Operator <strong>&gt;=</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein oder mehrere Versandprofile wählen, um nur Aufträge mit diesen Versandprofilen zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandregion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Versandregion wählen, um nur Aufträge dieser Region zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie nach Warenausgang gefiltert werden soll:<br>
<strong>Nicht gebucht</strong> = Nur Aufträge mit nicht gebuchtem Warenausgang<br>
<strong>Gebucht</strong> = Nur Aufträge mit gebuchtem Warenausgang<br>
<strong>Heute</strong> = Nur Aufträge mit heutigem Warenausgang<br>
<strong>Gestern</strong> = Nur Aufträge mit gestrigem Warenausgang</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, nach welchem Zahlungsstatus Aufträge gefiltert werden.<br>
<strong>Zahlung prüfen</strong> = Nur Aufträge, die sich in einem Status befinden, der (manuell) geprüft werden soll, also unbezahlte, teilgezahlte und überzahlte Aufträge.<br>
<strong>Nur unbezahlt</strong> = Nur Aufträge, für die noch keine Zahlung eingegangen ist.<br>
<strong>Nur bezahlt</strong> = Nur vollständig bezahlte Aufträge<br>
<strong>Nur Teilzahlung</strong> = Nur Aufträge, für die eine Teilzahlung eingegangen ist.<br>
<strong>Anzahlung vollständig</strong> = Nur Aufträge, für die eine vollständige Anzahlung eingegangen ist.<br>
<strong>Nur Überzahlung</strong>= Nur Aufträge, für die eine Überzahlung eingegangen ist.<br>
<strong>Unbezahlt und Teilzahlung</strong> = Nur Aufträge, bei denen noch keine oder nur eine teilweise Zahlung eingegangen ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine oder mehrere Zahlungsarten wählen, um nur Aufträge mit diesen Zahlungsarten zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#400">SEPA</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art der Lastschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Aufträge mit <strong>Erstlastschrift</strong> oder mit <strong>Folgelastschrift</strong> gefiltert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art des Mandats</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA-Basis-Lastschrift</strong> = Mandat vergleichbar der Einzugsermächtigung (Standard-Kunden)<br>
<strong>SEPA-Firmen-Lastschrift</strong> = Mandat vergleichbar des Abbuchungsauftrags (Firmen-Kunden, B2B)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausführungsmodalität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einmalige Zahlung</strong> = Standard-Aufträge<br>
<strong>Wiederkehrende Zahlung</strong> = Regelmäßige Abbuchungen, Abo-Verträge etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN &amp; BIC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Aufträge gefiltert werden sollen, bei denen IBAN und BIC <strong>vorhanden</strong> oder <strong>nicht vorhanden</strong> sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA-Lastschriftmandat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert Aufträge danach, ob der Kunde das SEPA-Lastschriftmandat bestätigt und unterschrieben hat.<br>
<strong>nicht vorhanden</strong> = Nur Aufträge von Kunden werden verarbeitet, die das SEPA-Lastschriftmandat bestätigt und unterschrieben haben.<br>
<strong>vorhanden</strong> = Nur Aufträge von Kunden werden verarbeitet, die das SEPA-Lastschriftmandat nicht bestätigt und unterschrieben haben.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Verfügbare Aktionen und Subaktionen</p>
</div>
<div class="paragraph">
<p>Für den Arbeitsschritt <strong>Auftragsabwicklung</strong> stehen folgende <a href="/automatisierung/prozesse/aktionen">Aktionen</a> und <a href="/automatisierung/prozesse/subaktionen">Subaktionen</a> zur Verfügung.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Arbeitsschritt <strong>Auftragsabwicklung</strong>; Aktionen und Subaktionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Subaktionen</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#120">Adressetikett</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#130">Angebot</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#140">Artikelerfassung</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Keine</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#290">Status ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#210">Markierung ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#190">Eigner ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#250">Paketnummer erfassen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#180">Auftragsbestätigung</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#210">Dokumente</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#220">E-Mail</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#330">Versenden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#250">Gutschrift</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#200">Hinweis anzeigen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#240">Notiz zum Kunden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#240">Notiz zum Auftrag</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#270">Korrekturbeleg</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#280">Lager-Pickliste</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#290">Lieferschein</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#300">Mahnung</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#310">Packliste</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#340">Polling</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#350">Rechnung</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#380">Retourenetikett</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#390">Rücksendeschein</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#400">SEPA Pain001</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#410">SEPA Pain008</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#420">Seriennummern</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#260">Seriennummern erfassen</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#440">Warenausgang</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#160">Buchung durchführen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#170">Buchung zurücksetzen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#470">Zahlungseingang anlegen</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Keine</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="100">3.1.2. Arbeitsschritt "Auftragsbearbeitung erstellen</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Arbeitsschritt des Typs <strong>Auftragsbearbeitung</strong> zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Arbeitsschritt "Auftragsbearbeitung" erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse » Ordner wählen » Prozess wählen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Arbeitsschritt</strong>.<br>
→ Das Fenster <strong>Neuer Arbeitsschritt</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie in der Dropdown-Liste den Typ <strong>Auftragsbearbeitung</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.<br>
→ Das Fenster <strong>Arbeitsschritt: Auftragsbearbeitung</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-prozesse-auftragsbearbeitung">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Arbeitsschritt wird erstellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kontextmenü nutzen</div>
<div class="paragraph">
<p>Wenn der Prozess bereits einen Arbeitsschritt enthält, können weitere Arbeitsschritte auch über das Kontextmenü hinzugefügt werden. Klicken Sie dazu mit der rechten Maustaste auf einen Arbeitsschritt und wählen Sie <strong>Schritt davor einfügen</strong> oder <strong>Schritt dahinter einfügen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-prozesse-auftragsbearbeitung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Einstellungen des Arbeitsschritts <strong>Auftragsbearbeitung</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wird erst wählbar, nachdem der Arbeitsschritt erstellt wurde.<br>
Standardmäßig wird neuen Arbeitsschritten die nächste verfügbare Position zugewiesen. Andere Position wählen, um bei mehreren Arbeitsschritten die Reihenfolge zu ändern, in der die Arbeitsschritte abgearbeitet werden. Arbeitsschritte werden aufsteigend sortiert. Der Arbeitsschritt mit der niedrigsten Nummer wird also zuerst ausgeführt.<br>
<strong><em>Tipp:</em></strong> Arbeitsschritte lassen sich auch über das Kontextmenü um eine Position verschieben. Dazu mit der rechten Maustaste auf den Arbeitsschritt klicken und <strong>Nach oben verschieben</strong> oder <strong>Nach unten verschieben</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für den Arbeitsschritt. Einen Namen eingeben, der den Arbeitsschritt möglichst eindeutig beschreibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Folgeschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob ein weiterer Arbeitsschritt manuell oder automatisch gestartet werden soll. Diese Einstellung ist nur relevant, wenn mindestens zwei Arbeitsschritte eingerichtet sind.<br>
<strong>Eingabe abwarten</strong> = Der nächste Arbeitsschritt wird nicht automatisch gestartet. Das System wartet einen erneuten Klick auf den <strong>Start-Button</strong> in der Ausführung des Prozesses ab.<br>
<strong>Automatisch starten</strong> = Ein Folgeschritt oder eine Aktion wird automatisch gestartet.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Verfügbare Aktionen und Subaktionen</p>
</div>
<div class="paragraph">
<p>Für den Arbeitsschritt <strong>Auftragsbearbeitung</strong> stehen die in <a href="#tabelle-auftragsbearbeitung-aktionen">Tabelle 9</a> beschriebenen <a href="/automatisierung/prozesse/aktionen">Aktionen</a> und <a href="/automatisierung/prozesse/subaktionen">Subaktionen</a> zur Verfügung.</p>
</div>
<table id="tabelle-auftragsbearbeitung-aktionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Arbeitsschritt <strong>Auftragsbearbeitung</strong>; Aktionen und Subaktionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Subaktionen</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#120">Adressetikett</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#140">Artikelerfassung</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Keine</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#290">Status ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#210">Markierung ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#190">Eigner ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#250">Paketnummer erfassen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#190">Auftragssuche</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Keine</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#200">Bestellsuche</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#150">Bestellung scannen</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#210">Dokumente</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#220">E-Mail</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#330">Versenden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#250">Gutschrift</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#200">Hinweis anzeigen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#240">Notiz zum Kunden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#240">Notiz zum Auftrag</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#290">Lieferschein</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#310">Packliste</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#340">Polling</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#350">Rechnung</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#380">Retourenetikett</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#390">Rücksendeschein</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#420">Seriennummern</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#260">Seriennummern erfassen</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#440">Warenausgang</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#160">Buchung durchführen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#170">Buchung zurücksetzen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="110">3.1.3. Arbeitsschritt "Wareneingang" erstellen</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Arbeitsschritt des Typs <strong>Wareneingang</strong> zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Arbeitsschritt "Wareneingang" erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse » Ordner wählen » Prozess wählen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Arbeitsschritt</strong>.<br>
→ Das Fenster <strong>Neuer Arbeitsschritt</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie in der Dropdown-Liste den Typ <strong>Wareneingang</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.<br>
→ Das Fenster <strong>Arbeitsschritt: Wareneingang</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-prozesse-wareneingang">Tabelle 10</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Arbeitsschritt wird erstellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kontextmenü nutzen</div>
<div class="paragraph">
<p>Wenn der Prozess bereits einen Arbeitsschritt enthält, können weitere Arbeitsschritte auch über das Kontextmenü hinzugefügt werden. Klicken Sie dazu mit der rechten Maustaste auf einen Arbeitsschritt und wählen Sie <strong>Schritt davor einfügen</strong> oder <strong>Schritt dahinter einfügen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-prozesse-wareneingang" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Einstellungen des Arbeitsschritts <strong>Wareneingang</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wird erst wählbar, nachdem der Arbeitsschritt erstellt wurde.<br>
Standardmäßig wird neuen Arbeitsschritten die nächste verfügbare Position zugewiesen. Andere Position wählen, um bei mehreren Arbeitsschritten die Reihenfolge zu ändern, in der die Arbeitsschritte abgearbeitet werden. Arbeitsschritte werden aufsteigend sortiert. Der Arbeitsschritt mit der niedrigsten Nummer wird also zuerst ausgeführt.<br>
<strong><em>Tipp:</em></strong> Arbeitsschritte lassen sich auch über das Kontextmenü um eine Position verschieben. Dazu mit der rechten Maustaste auf den Arbeitsschritt klicken und <strong>Nach oben verschieben</strong> oder <strong>Nach unten verschieben</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für den Arbeitsschritt. Einen Namen eingeben, der den Arbeitsschritt möglichst eindeutig beschreibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgeschritt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob ein weiterer Arbeitsschritt manuell oder automatisch gestartet werden soll. Diese Einstellung ist nur relevant, wenn mindestens zwei Arbeitsschritte eingerichtet sind.<br>
<strong>Eingabe abwarten</strong> = Der nächste Arbeitsschritt wird nicht automatisch gestartet. Das System wartet einen erneuten Klick auf den <strong>Start-Button</strong> ab.<br>
<strong>Automatisch starten</strong> = Folgeschritt oder Aktion wird automatisch gestartet.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Verfügbare Aktionen und Subaktionen</p>
</div>
<div class="paragraph">
<p>Für den Arbeitsschritt <strong>Wareneingang</strong> stehen die in <a href="#tabelle-wareneingang-aktionen">Tabelle 11</a> aufgelisteten Aktionen und Subaktionen zur Verfügung.</p>
</div>
<table id="tabelle-wareneingang-aktionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Arbeitsschritt <strong>Wareneingang</strong>; Aktionen und Subaktionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Subaktionen</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#150">Artikeletikett</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#160">Artikelsuche</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#120">Artikel scannen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#200">Bestellsuche</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#150">Bestellung scannen</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#200">Hinweis anzeigen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#450">Wareneingang (Bestellung)</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#160">Buchung durchführen</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/automatisierung/prozesse/aktionen#460">Wareneingang (einfach)</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#160">Buchung durchführen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="120">3.2. Arbeitsschritt bearbeiten</h3>
<div class="paragraph">
<p>Bereits vorhandene Arbeitsschritte bearbeiten Sie, indem Sie mit der Maus auf den Arbeitsschritt zeigen und im eingeblendeten Kontextmenü auf den <strong>Stift</strong> klicken.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">3.3. Aktion/Steuerelement zu Arbeitsschritt hinzufügen</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um eine Aktion oder ein Steuerelement zu einem Arbeitsschritt hinzuzufügen. Eine Liste der verfügbaren Aktionen finden Sie auf der Handbuchseite <a href="/automatisierung/prozesse/aktionen">Aktionen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Aktion oder Steuerelement zu Arbeitsschritt hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse » Ordner wählen » Prozess wählen</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf den Arbeitsschritt, zu dem die Aktion oder das Steuerelement hinzugefügt werden soll.<br>
→ Das Kontextmenü des Arbeitsschritts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Hinzufügen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie die Aktion oder das Steuerelement aus der Dropdown-Liste.<br>
Nehmen Sie ggf. weitere Einstellungen vor. Beachten Sie dazu die Informationen auf der Handbuchseite <a href="/automatisierung/prozesse/aktionen">Aktionen</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.<br>
→ Die Aktion oder das Steuerelement wird erstellt.</p>
</li>
<li>
<p>Zeigen Sie ggf. mit der Maus auf die Aktion oder das Steuerelement, um die <strong>Position</strong> oder andere Einstellungen zu bearbeiten.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kontextmenü nutzen</div>
<div class="paragraph">
<p>Wenn der Arbeitsschritt bereits eine Aktion enthält, können weitere Aktionen oder Steuerelemente auch über das Kontextmenü hinzugefügt werden. Klicken Sie dazu mit der rechten Maustaste auf eine Aktion und wählen Sie <strong>Aktion davor einfügen</strong> oder <strong>Aktion dahinter einfügen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">3.4. Subaktion zu Aktion hinzufügen</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um eine Subaktion zu einer Aktion hinzuzufügen. Eine Liste der verfügbaren Subaktionen finden Sie auf der Handbuchseite <a href="/automatisierung/prozesse/subaktionen">Subaktionen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Subaktion zu Aktion hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse » Ordner wählen » Prozess wählen</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf die Aktion, zu der die Subaktion hinzugefügt werden soll.<br>
→ Das Kontextmenü der Aktion wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Hinzufügen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie die Subaktion aus der Dropdown-Liste.<br>
Nehmen Sie ggf. weitere Einstellungen vor. Beachten Sie dazu die Informationen auf der Handbuchseite <a href="/automatisierung/prozesse/aktionen">Aktionen</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Subaktion wird erstellt.</p>
</li>
<li>
<p>Zeigen Sie ggf. mit der Maus auf die Subaktion, um die <strong>Position</strong> oder andere Einstellungen zu bearbeiten.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kontextmenü nutzen</div>
<div class="paragraph">
<p>Wenn die Aktion bereits eine Subaktion enthält, können weitere Subaktionen auch über das Kontextmenü hinzugefügt werden. Klicken Sie dazu mit der rechten Maustaste auf eine Subaktion und wählen Sie <strong>Subaktion davor einfügen</strong> oder <strong>Subaktion dahinter einfügen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="150">3.5. Fehlerbehandlung verwalten</h3>
<div class="paragraph">
<p>Um zu vermeiden, dass bei der Auftragsabwicklung ein Prozess aufgrund fehlerhafter Aufträge abgebrochen wird, können Sie zu bestimmten Aktionen eine der folgenden Kombinationen aus Aktionen und Subaktionen hinzufügen. Diese Aktionen werden nur im Fehlerfall ausgeführt. Wenn Sie zum Beispeil bei einer Aktion die Aktion <strong>Auftrag</strong> mit den beiden Subaktionen <strong>Status ändern</strong> und <strong>Auftragsnotizen hinzufügen</strong> für den Fehlerfall hinterlegen, werden fehlerhafte Aufträge mit einem neuen Status versehen. Zusätzlich wird eine Notiz am Auftrag hinterlegt.</p>
</div>
<div class="sect3">
<h4 id="160">3.5.1. Verfügbare Aktionen für Fehlerfall</h4>
<div class="paragraph">
<p><a href="#tabelle-fehlerfall-aktionen">Tabelle 12</a> zeigt die Aktionen, die im Fehlerfall ausgeführt werden können.</p>
</div>
<table id="tabelle-fehlerfall-aktionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 12. Verfügbare Aktionen für Fehlerfall</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Subaktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit der Aktion <strong>E-Mail</strong> wird im Fehlerfall über die Subaktion <strong>Versenden</strong> eine E-Mail-Vorlage versendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ändert den Status des fehlerhaften Auftrags in den Status, der in der Dropdown-Liste gewählt wurde.<br>
<strong><em>Tipp:</em></strong> Um fehlerhafte Aufträge leicht zu finden einen eigenen Status für den Fehlerfall anlegen. Im Menü <strong>Aufträge</strong> kann dann nach diesem Status gefiltert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsnotizen hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hinterlegt eine Notiz am fehlerhaften Auftrag.<br>
<strong>Individuelle Eingabe</strong> = Ermöglicht die Eingabe einer Nachricht durch die Person, die den Prozess ausführt. Die Notiz wird am Auftrag hinterlegt.<br>
<strong>Vordefinierte Eingabe</strong> = Öffnet ein Fenster, in dem im Bereich Nachricht eine Nachricht hinterlegt werden kann, die im Prozessablauf bei Aufträgen automatisch als Notiz hinterlegt wird.<br>
<strong>Keine</strong> = Legt keine individuelle oder vorgefertigte Notiz am Auftrag an. Empfohlen, wenn nur die Fehlermeldung als Auftragsnotiz hinterlegt werden soll.<br>
<strong>Fehlermeldung als zusätzliche Notiz hinterlegen</strong> = Häkchen setzen, um die im Prozess ausgegebene Fehlermeldung als Notiz am Auftrag zu hinterlegen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="170">3.5.2. Aktion für Fehlerfall hinzufügen</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um eine Aktion für den Fehlerfall hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Aktion für Fehlerfall hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse » Ordner wählen » Prozess wählen</strong>.</p>
</li>
<li>
<p>Klicken Sie mit der rechten Maustaste auf die Aktion.<br>
<strong><em>Tipp:</em></strong> Aktionen, für die Aktionen für Fehlerfall hinterlegt werden können, sind mit einem grauen Käfer gekennzeichnet.<br>
→ Das Kontextmenü wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Aktion für Fehlerfall hinzufügen</strong>.</p>
</li>
<li>
<p>Wählen Sie die Aktion aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie ggf. weitere Einstellungen vor.<br>
→ Die Aktion wird erstellt. Aktionen für den Fehlerfall werden rot umrandet dargestellt.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Aktion wird erstellt. Aktionen für den Fehlerfall werden rot umrandet dargestellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Darstellung der Fehlerbehandlung</div>
<div class="ulist">
<ul>
<li>
<p>Aktionen, denen Sie Aktionen für den Fehlerfall zuweisen können, sind oben rechts mit einem grauen Käfer gekennzeichnet.</p>
</li>
<li>
<p>Wenn für eine Aktion eine Aktion für den Fehlerfall hinterlegt ist, erkennen Sie das an einem roten Käfer.</p>
</li>
<li>
<p>Klicken Sie auf den Käfer, um die Aktionen im Fehlerfall in der Prozessstruktur ein- oder auszublenden.</p>
</li>
<li>
<p>Sie erkennen Aktionen für den Fehlerfall an der roten Umrandung.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="190">4. Prozess wiederverwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kopieren Sie Prozesse, um sie im selben System wiederzuverwenden oder um sie zu exportieren und in ein anderes System zu importieren.</p>
</div>
<div class="sect2">
<h3 id="200">4.1. Prozess kopieren</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Prozess zu kopieren.</p>
</div>
<div class="paragraph instruction">
<p>Prozess kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf den Prozess, den Sie kopieren möchten.</p>
</li>
<li>
<p>Klicken Sie rechts auf den Pfeil nach unten.<br></p>
</li>
<li>
<p>Klicken Sie auf <strong>Prozess kopieren</strong>.<br>
→ Das Fenster <strong>Prozess kopieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen für den Prozess ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Prozess kopieren</strong>.<br>
→ Der Prozess wird erstellt und zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Oder:</em></strong> Klicken Sie im geöffneten Prozess auf <strong>Prozess kopieren</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="210">4.2. Prozess exportieren</h3>
<div class="paragraph">
<p>Zum Austausch von Prozessen zwischen verschiedenen plentymarkets Systemen bietet sich ein Export und Import der Prozesse an. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Prozess exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf den Prozess, den Sie kopieren möchten.</p>
</li>
<li>
<p>Klicken Sie rechts auf den Pfeil nach unten.<br></p>
</li>
<li>
<p>Klicken Sie auf <strong>Prozess exportieren</strong>.<br>
→ Der Prozess wird als ZIP-Datei exportiert und im Ordner <strong>Downloads</strong> (MAC) oder <strong>Eigene Dokumente</strong> (Windows) auf dem Rechner gespeichert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Oder:</em></strong> Klicken Sie im geöffneten Prozess auf <strong>Prozess exportieren</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="220">4.3. Prozess importieren</h3>
<div class="paragraph">
<p>Um einen Prozess in ein plentymarkets System zu importieren, gehen Sie wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Prozess importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf den Ordner <strong>Meine Prozesse</strong>.</p>
</li>
<li>
<p>Klicken Sie rechts auf den Pfeil nach unten.<br>
→ Die Option <strong>Prozess importieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Prozess importieren</strong>.<br>
→ Das Fenster <strong>Prozess importieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen für den Prozess ein und klicken Sie auf <strong>Dateien hochladen</strong>.</p>
</li>
<li>
<p>Wählen Sie die ZIP-Datei auf Ihrem Rechner aus und klicken Sie auf <strong>Öffnen</strong>.<br>
→ Der Prozess wird in den Ordner <strong>Meine Prozesse</strong> importiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Systemspezifische Einstellungen werden nicht importiert</div>
<div class="paragraph">
<p>Systemspezifische Einstellungen im Prozess, z.B. die Druckereinstellung in der Subaktion <strong>Drucken</strong>, werden nicht exportiert und somit auch beim Import nicht übertragen.<br>
<strong><em>Tipp:</em></strong> Um zu prüfen, welche Aktionen oder Subaktionen nicht vollständig importiert wurden, öffnen Sie den importierten Prozess im Menü <strong>Prozesse</strong>. Die Fehlermeldungen zeigen die Aktionen und Subaktionen mit der ID an, bei denen Einstellungen ergänzt werden müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="230">4.4. Prozesse im Prozessbasar tauschen</h3>
<div class="paragraph">
<p>In der Kategorie <a href="https://forum.plentymarkets.com/c/suche-biete/prozess-basar" target="_blank" rel="noopener"><strong>Prozesse</strong></a> des plentymarkets Forum finden Sie den plentymarkets Prozessbasar. Hier stellen engagierte Händlerinnen und Händler ihre Prozesse zur Verfügung.</p>
</div>
</div>
</div>
</div>
</main>