<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Prozess ausführen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Prozesse ausführen</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">plentyBase installieren</div>
<div class="paragraph">
<p>Du benötigst das Tool <a href="/automatisierung/prozesse/plentybase-installieren">plentyBase</a>, um Prozesse im plentymarkets Backend zu erstellen und auszuführen. Die Installationsdateien für plentyBase findest du im <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Über das Menü <strong>Prozesse</strong> führst du die Prozesse aus, die im Menü <a href="/automatisierung/prozesse/prozesse-einrichten">Einrichtung » Prozesse</a> erstellt wurden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Prozess ausführen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um einen Prozess auszuführen. Beachte, dass nur die Prozesse angezeigt werden, die deinem Benutzerkonto oder deiner Rolle <a href="/automatisierung/prozesse/prozesse-einrichten#10">zugeordnet</a> wurden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit des Menüs Prozesse</div>
<div class="paragraph">
<p>Personen mit Admin-Rechten haben standardmäßig die Berechtigung, das Menü <strong>Prozesse</strong> aufzurufen und Prozesse auszuführen. Personen mit der Benutzerklasse <strong>Backend</strong> musst du diese Berechtigung erteilen. Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>. Öffne das Konto und aktiviere in der Ansicht <strong>Rechte</strong> die Menü-Sichtbarkeit <strong>Prozesse</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Prozess ausführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Prozesse</strong>.<br>
→ Die verfügbaren Prozesse werden angezeigt.</p>
</li>
<li>
<p>Klicke auf einen Prozess.<br>
→ Der Prozess wird angezeigt und befindet sich im Status <strong>Wartend</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Start</strong>.<br>
→ Der Prozess wird gestartet.<br>
→ Die Balken im Tab <strong>Arbeitsschritte</strong> zeigen den Fortschritt der einzelnen Prozessschritte an.<br>
→ Abhängig vom gewählten Prozess ist während der Ausführung ein Eingreifen der Person erforderlich, die den Prozess ausführt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>