<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Teile eines Prozesses</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Was sind Arbeitsschritte?</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Was sind Aktionen?</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Was sind Steuerelemente?</span></a></li>
<li><a href="#50"><span>1.4.</span><span> Was sind Subaktionen?</span></a></li>
</ul>
</li>
<li><a href="#180"><span>2.</span><span> Sichtbarkeit von Prozessen steuern</span></a></li>
<li><a href="#65"><span>3.</span><span> Prozess erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>3.1.</span><span> Elemente hinzufügen</span></a></li>
<li><a href="#150"><span>3.2.</span><span> Fehlerbehandlung verwalten</span></a>
<ul class="sectlevel3">
<li><a href="#160"><span>3.2.1.</span><span> Verfügbare Aktionen für Fehlerfall</span></a></li>
<li><a href="#170"><span>3.2.2.</span><span> Aktion für Fehlerfall hinzufügen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#190"><span>4.</span><span> Prozess wiederverwenden</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>4.1.</span><span> Prozess kopieren</span></a></li>
<li><a href="#210"><span>4.2.</span><span> Prozess exportieren</span></a></li>
<li><a href="#220"><span>4.3.</span><span> Prozess importieren</span></a></li>
<li><a href="#230"><span>4.4.</span><span> Prozesse im Prozessbasar tauschen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Prozesse einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Über Prozesse automatisierst du viele komplexe Abläufe in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Lerne die Grundlagen spielerisch kennen:</p>
</div>
<div class="videoblock">
<div class="title">Anlegen und Starten eines Prozesses</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/223603630" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">plentyBase installieren</div>
<div class="paragraph">
<p>Du benötigst das Tool <a href="/automatisierung/prozesse/plentybase-installieren">plentyBase</a>, um Prozesse im plentymarkets Backend zu erstellen und auszuführen. Die Installationsdateien für plentyBase findest du im <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Teile eines Prozesses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Prozesselemente sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Arbeitsschritte</p>
</li>
<li>
<p>Steuerelemente</p>
</li>
<li>
<p>Aktionen</p>
</li>
<li>
<p>Subaktionen</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/prozess.png" alt="prozess">
</div>
<div class="title">Bild 1. Schema eines stark vereinfachten Prozesses</div>
</div>
<div class="sect2">
<h3 id="20">1.1. Was sind Arbeitsschritte?</h3>
<div class="paragraph">
<p>Jeder Prozess besteht aus mindestens einem <a href="/automatisierung/prozesse/arbeitsschritte">Arbeitsschritt</a>. Arbeitsschritte bilden den Kern deiner Prozesse. Mit Arbeitsschritten definierst du, welche Aufgaben und Abläufe automatisiert werden. Je nach Typ des Arbeitsschritts automatisierst du die Bearbeitung entweder einzelner oder mehrerer Aufträge oder den Wareneingang. Pro Prozess sind beliebig viele Arbeitsschritte möglich. Die folgenden Arbeitsschritte sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/arbeitsschritte#auftragsabwicklung">Auftragsabwicklung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/arbeitsschritte#auftragsbearbeitung">Auftragsbearbeitung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/arbeitsschritte#wareneingang">Wareneingang</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Was sind Aktionen?</h3>
<div class="paragraph">
<p><a href="/automatisierung/prozesse/aktionen">Aktionen</a> werden zu einem Arbeitsschritt hinzugefügt. Mit Aktionen legst du fest, welche Vorgänge bei der Prozessausführung automatisch stattfinden sollen.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Was sind Steuerelemente?</h3>
<div class="paragraph">
<p><a href="/automatisierung/prozesse/aktionen#_steuerelemente">Steuerelemente</a> sind eine Sonderform der Aktionen. Steuerelemente steuern, wie die Arbeitsschritte eines Prozesses abgearbeitet werden. Steuerelemente fügst du also zu einem Arbeitsschritt hinzu, um die Verbindung zu steuern, in der die Aktionen dieses Arbeitsschritts zueinander stehen. Du kannst damit z.B. Aktionen wiederholen, zu bestimmten Punkten im Arbeitsschritt springen oder Bedingungen festlegen, die erfüllt sein müssen, damit eine Aktion ausgeführt wird.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">1.4. Was sind Subaktionen?</h3>
<div class="paragraph">
<p><a href="/automatisierung/prozesse/subaktionen">Subaktionen</a> werden zu einer Aktion hinzugefügt. Mit Subaktionen legst du also fest, welche Vorgänge bei der Prozessausführung im Rahmen der Aktion automatisch stattfinden sollen. Mit der Subaktion <strong>Drucken</strong> druckst du zum Beispiel Dokumente, die in einer Aktion erstellt wurden.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">2. Sichtbarkeit von Prozessen steuern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Ordnerstruktur des Menüs <strong>Einrichtung » Prozesse</strong> entspricht der Sichtbarkeit und Verfügbarkeit der Prozesse für Benutzerkonten. <a href="#tabelle-sichtbarkeit-prozesse">Tabelle 1</a> zeigt die verfügbaren Ordner.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit des Menüs Einrichtung » Prozesse</div>
<div class="paragraph">
<p>Personen mit Admin-Rechten haben standardmäßig die Berechtigung, das Menü <strong>Einrichtung » Prozesse</strong> aufzurufen. Personen mit der Benutzerklasse <strong>Backend</strong> musst du diese Berechtigung erteilen. Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>. Öffne das Konto und aktiviere in der Ansicht <strong>Rechte</strong> die Menü-Sichtbarkeit <strong>Einrichtung » Prozesse</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-sichtbarkeit-prozesse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ordnerstruktur der Prozesse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ordner</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozesse, die die angemeldete Person bearbeiten kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Andere</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozesse anderer Personen. Der Ordner ist nur für Konten der Klasse <strong>Admin</strong> sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pro Rolle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozesse für Konten mit der Rolle der angemeldeten Person. Wenn das Konto keiner Rolle zugeordnet ist, wird dieser Ordner angezeigt. Personen mit der Klasse <strong>Admin</strong> werden die Prozesse aller Rollen angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Global</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozesse, die für alle Konten zur Verfügung stehen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="65">3. Prozess erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prozesse erstellst und verwaltest du im Menü <strong>Einrichtung » Prozesse</strong>. Gehe wie unten beschrieben vor, um einen Prozess zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Prozess erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse » Neuer Prozess</strong>.<br>
<strong><em>Hinweis:</em></strong> Wenn der Menüpunkt <strong>Einrichtung » Prozesse</strong> nicht angezeigt wird, installiere das Plugin <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyBase</a>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte die Erläuterungen in <a href="#tabelle-prozess-einstellungen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Prozess wird im Menübaum angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-prozess-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Prozess erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Namen für den Prozess eingeben.<br>
<strong><em>Tipp:</em></strong> Eindeutigen und sprechenden Namen verwenden, um ein intuitives Arbeiten mit den Prozessen zu ermöglichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, für welche Gruppe der Prozess sichtbar sein soll. Sichtbar bedeutet, dass der Prozess im Menü <strong>Prozesse</strong> zur Verfügung steht und ausgeführt werden kann.<br>
<strong>Global</strong> = Der Prozess ist für alle sichtbar.<br>
<strong>Benutzer</strong> = Der Prozess ist nur für die Person sichtbar, die in der eingeblendeten Dropdown-Liste <strong>Benutzer</strong> gewählt wird.<br>
<strong>Rolle</strong> = Der Prozess ist nur für die <strong>Rolle</strong> sichtbar, die in der eingeblendeten Dropdown-Liste <strong>Rolle</strong> gewählt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur sichtbar, wenn für die Option <strong>Sichtbarkeit</strong> die Einstellung <strong>Benutzer</strong> gewählt wurde. Wählen, für welche Person der Prozess sichtbar sein soll.<br>
<strong><em>Hinweis:</em></strong> Für Personen mit Rechten der Klasse <strong>Admin</strong> sind alle Prozesse sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rolle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur sichtbar, wenn für die Option <strong>Sichtbarkeit</strong> die Einstellung <strong>Rolle</strong> gewählt wurde. Wählen, für welche Rolle der Prozess sichtbar sein soll.<br>
<strong><em>Hinweis:</em></strong> Für Personen mit Rechten der Klasse <strong>Admin</strong> sind alle Prozesse sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Änderbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wer den Prozess ändern darf.<br>
Aktiviert = Personen, die den Prozess sehen können, können ihn auch bearbeiten.<br>
Nicht aktiviert = Nur Personen mit Rechten der Klasse <strong>Admin</strong> können den Prozess bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Lager wählen. Das Lager mit der Lager-ID 1 ist voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Farbe wählen, in der der Prozess im Menü <strong>Prozesse</strong> angezeigt wird.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="70">3.1. Elemente hinzufügen</h3>
<div class="paragraph">
<p>Sobald du einen Prozess erstellt hast, kannst du beliebig viele <a href="/automatisierung/prozesse/arbeitsschritte">Arbeitsschritte</a>, <a href="/automatisierung/prozesse/aktionen">Aktionen</a>, <a href="/automatisierung/prozesse/subaktionen">Subaktionen</a> und <a href="/automatisierung/prozesse/aktionen#_steuerelemente">Steuerelemente</a> hinzufügen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kontextmenü nutzen</div>
<div class="paragraph">
<p>Wenn der Prozess bereits einen Element enthält, können weitere Elemente auch über das Kontextmenü hinzugefügt werden. Klicke dazu mit der rechten Maustaste auf einen Element und wähle die gewünschte Option.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="150">3.2. Fehlerbehandlung verwalten</h3>
<div class="paragraph">
<p>Um zu vermeiden, dass bei der Auftragsabwicklung ein Prozess aufgrund fehlerhafter Aufträge abgebrochen wird, kannst du zu bestimmten Aktionen eine der folgenden Kombinationen aus Aktionen und Subaktionen hinzufügen. Diese Aktionen werden nur im Fehlerfall ausgeführt. Wenn du zum Beispiel bei einer Aktion die Aktion <strong>Auftrag</strong> mit den beiden Subaktionen <strong>Status ändern</strong> und <strong>Auftragsnotizen hinzufügen</strong> für den Fehlerfall hinterlegst, werden fehlerhafte Aufträge mit einem neuen Status versehen. Zusätzlich wird eine Notiz am Auftrag hinterlegt.</p>
</div>
<div class="sect3">
<h4 id="160">3.2.1. Verfügbare Aktionen für Fehlerfall</h4>
<div class="paragraph">
<p><a href="#tabelle-fehlerfall-aktionen">Tabelle 3</a> zeigt die Aktionen, die im Fehlerfall ausgeführt werden können.</p>
</div>
<table id="tabelle-fehlerfall-aktionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Aktionen für Fehlerfall</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Subaktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit der Aktion <strong>E-Mail</strong> wird im Fehlerfall über die Subaktion <strong>Versenden</strong> eine E-Mail-Vorlage versendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ändert den Status des fehlerhaften Auftrags in den Status, der in der Dropdown-Liste gewählt wurde.<br>
<strong><em>Tipp:</em></strong> Um fehlerhafte Aufträge leicht zu finden einen eigenen Status für den Fehlerfall anlegen. Im Menü <strong>Aufträge</strong> kann dann nach diesem Status gefiltert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsnotizen hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hinterlegt eine Notiz am fehlerhaften Auftrag.<br>
<strong>Individuelle Eingabe</strong> = Ermöglicht die Eingabe einer Nachricht durch die Person, die den Prozess ausführt. Die Notiz wird am Auftrag hinterlegt.<br>
<strong>Vordefinierte Eingabe</strong> = Öffnet ein Fenster, in dem im Bereich Nachricht eine Nachricht hinterlegt werden kann, die im Prozessablauf bei Aufträgen automatisch als Notiz hinterlegt wird.<br>
<strong>Keine</strong> = Legt keine individuelle oder vorgefertigte Notiz am Auftrag an. Empfohlen, wenn nur die Fehlermeldung als Auftragsnotiz hinterlegt werden soll.<br>
<strong>Fehlermeldung als zusätzliche Notiz hinterlegen</strong> = Häkchen setzen, um die im Prozess ausgegebene Fehlermeldung als Notiz am Auftrag zu hinterlegen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="170">3.2.2. Aktion für Fehlerfall hinzufügen</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Aktion für den Fehlerfall hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Aktion für Fehlerfall hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse » Ordner wählen » Prozess wählen</strong>.</p>
</li>
<li>
<p>Klicke mit der rechten Maustaste auf die Aktion.<br>
<strong><em>Tipp:</em></strong> Aktionen, für die Aktionen für Fehlerfall hinterlegt werden können, sind mit einem grauen Käfer gekennzeichnet.<br>
→ Das Kontextmenü wird geöffnet.</p>
</li>
<li>
<p>Klicke im Kontextmenü auf <strong>Aktion für Fehlerfall hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle die Aktion aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm ggf. weitere Einstellungen vor.<br>
→ Die Aktion wird erstellt. Aktionen für den Fehlerfall werden rot umrandet dargestellt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Aktion wird erstellt. Aktionen für den Fehlerfall werden rot umrandet dargestellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Darstellung der Fehlerbehandlung</div>
<div class="ulist">
<ul>
<li>
<p>Aktionen, denen du Aktionen für den Fehlerfall zuweisen kannst, sind oben rechts mit einem grauen Käfer gekennzeichnet.</p>
</li>
<li>
<p>Wenn für eine Aktion eine Aktion für den Fehlerfall hinterlegt ist, erkennst du das an einem roten Käfer.</p>
</li>
<li>
<p>Klicke auf den Käfer, um die Aktionen im Fehlerfall in der Prozessstruktur ein- oder auszublenden.</p>
</li>
<li>
<p>Du erkennst Aktionen für den Fehlerfall an der roten Umrandung.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="190">4. Prozess wiederverwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kopiere Prozesse, um sie im selben System wiederzuverwenden oder um sie zu exportieren und in ein anderes System zu importieren.</p>
</div>
<div class="sect2">
<h3 id="200">4.1. Prozess kopieren</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um einen Prozess zu kopieren.</p>
</div>
<div class="paragraph instruction">
<p>Prozess kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse</strong>.</p>
</li>
<li>
<p>Öffne den Prozess, den du kopieren möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Prozess kopieren</strong>.<br>
→ Das Fenster <strong>Prozess kopieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für den Prozess ein.</p>
</li>
<li>
<p>Klicke auf <strong>Prozess kopieren</strong>.<br>
→ Der Prozess wird erstellt und zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="210">4.2. Prozess exportieren</h3>
<div class="paragraph">
<p>Zum Austausch von Prozessen zwischen verschiedenen plentymarkets Systemen bietet sich ein Export und Import der Prozesse an. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Prozess exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse</strong>.</p>
</li>
<li>
<p>Öffne den Prozess, den du exportieren möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Prozess exportieren</strong>.<br>
→ Der Prozess wird als ZIP-Datei exportiert und im Ordner <strong>Downloads</strong> (MAC) oder <strong>Eigene Dokumente</strong> (Windows) auf dem Rechner gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="220">4.3. Prozess importieren</h3>
<div class="paragraph">
<p>Du kannst Prozesse, z.B. aus dem <a href="https://forum.plentymarkets.com/c/suche-biete/prozess-basar" target="_blank" rel="noopener">Prozessbasar</a> oder aus dem plentymarkets Handbuch ganz einfach herunterladen und anschließend in deinem eigenen System importieren.</p>
</div>
<div class="paragraph">
<p>Bedenke aber, dass du dabei einige systemspezifische Einstellungen anpassen musst. Lerne spielerisch wie das geht:</p>
</div>
<div class="videoblock">
<div class="title">Prozesse importieren und die systemspezifische Einstellungen anpassen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/229083273" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph instruction">
<p>Prozess importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Prozess ein und klicke auf <strong>Dateien wählen</strong>.</p>
</li>
<li>
<p>Wähle die ZIP-Datei auf deinem Rechner aus und klicke auf <strong>Öffnen</strong>.<br>
→ Der Prozess wird importiert und zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Systemspezifische Einstellungen werden nicht importiert</div>
<div class="paragraph">
<p>Systemspezifische Einstellungen im Prozess, z.B. die Druckereinstellung in der Subaktion <strong>Drucken</strong>, werden nicht exportiert und somit auch beim Import nicht übertragen.<br>
<strong><em>Tipp:</em></strong> Um zu prüfen, welche Aktionen oder Subaktionen nicht vollständig importiert wurden, öffne den importierten Prozess im Menü <strong>Prozesse</strong>. Die Fehlermeldungen zeigen die Aktionen und Subaktionen mit der ID an, bei denen Einstellungen ergänzt werden müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="230">4.4. Prozesse im Prozessbasar tauschen</h3>
<div class="paragraph">
<p>In der Kategorie <a href="https://forum.plentymarkets.com/c/suche-biete/prozess-basar" target="_blank" rel="noopener">Prozesse</a> des plentymarkets Forum findest du den plentymarkets Prozessbasar. Hier stellen engagierte Händlerinnen und Händler ihre Prozesse zur Verfügung.</p>
</div>
</div>
</div>
</div>
</main>