<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_subaktion_zu_aktion_hinzufügen"><span>1.</span><span> Subaktion zu Aktion hinzufügen</span></a></li>
<li><a href="#_verzeichnis_der_subaktionen"><span>2.</span><span> Verzeichnis der Subaktionen</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>2.1.</span><span> Allgemeine Einstellungen</span></a></li>
<li><a href="#120"><span>2.2.</span><span> Artikel scannen</span></a></li>
<li><a href="#130"><span>2.3.</span><span> Auftragsnotizen hinzufügen</span></a></li>
<li><a href="#140"><span>2.4.</span><span> Aus Prozess entfernen</span></a></li>
<li><a href="#150"><span>2.5.</span><span> Bestellung scannen</span></a></li>
<li><a href="#160"><span>2.6.</span><span> Buchung durchführen</span></a></li>
<li><a href="#170"><span>2.7.</span><span> Buchung zurücksetzen</span></a></li>
<li><a href="#180"><span>2.8.</span><span> Drucken</span></a></li>
<li><a href="#190"><span>2.9.</span><span> Eigner ändern</span></a></li>
<li><a href="#195"><span>2.10.</span><span> Entferne Auftrag vom Box</span></a></li>
<li><a href="#200"><span>2.11.</span><span> Hinweis anzeigen</span></a></li>
<li><a href="#210"><span>2.12.</span><span> Markierung ändern</span></a></li>
<li><a href="#230"><span>2.13.</span><span> Notizen zum Auftrag</span></a></li>
<li><a href="#240"><span>2.14.</span><span> Notizen zum Kunden</span></a></li>
<li><a href="#245"><span>2.15.</span><span> Online speichern</span></a></li>
<li><a href="#250"><span>2.16.</span><span> Paketnummer erfassen</span></a></li>
<li><a href="#260"><span>2.17.</span><span> Seriennummern erfassen</span></a></li>
<li><a href="#270"><span>2.18.</span><span> Sounds</span></a></li>
<li><a href="#280"><span>2.19.</span><span> Speichern</span></a></li>
<li><a href="#290"><span>2.20.</span><span> Status ändern</span></a></li>
<li><a href="#300"><span>2.21.</span><span> Versanddienstleister ändern</span></a></li>
<li><a href="#310"><span>2.22.</span><span> Versandpakete</span></a></li>
<li><a href="#320"><span>2.23.</span><span> Versandprofil ändern</span></a></li>
<li><a href="#330"><span>2.24.</span><span> Versenden</span></a></li>
<li><a href="#340"><span>2.25.</span><span> Zahlungsart ändern</span></a></li>
<li><a href="#350"><span>2.26.</span><span> Zwischenspeichern</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Subaktionen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite findest du Erläuterungen zu den Subaktionen, die du im Menü <strong>Einrichtung » Prozesse</strong> zu den Aktionen deiner Prozesse hinzufügen kannst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Tool plentyBase erforderlich</div>
<div class="paragraph">
<p>Um Prozesse zu erstellen und auszuführen benötigst du das Tool <a href="/automatisierung/prozesse/plentybase-installieren">plentyBase</a>. Die Installationsdateien für plentyBase findest du im <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_subaktion_zu_aktion_hinzufügen">1. Subaktion zu Aktion hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Subaktion zu einer Aktion hinzuzufügen. Eine Liste der verfügbaren Subaktionen findest du auf der Handbuchseite <a href="/automatisierung/prozesse/subaktionen">Subaktionen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Subaktion zu Aktion hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse » Ordner wählen » Prozess wählen</strong>.</p>
</li>
<li>
<p>Zeige mit der Maus auf die Aktion, zu der die Subaktion hinzugefügt werden soll.<br>
→ Das Kontextmenü der Aktion wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Hinzufügen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Subaktion aus der Dropdown-Liste.<br>
Nimm ggf. weitere Einstellungen vor. Beachte dazu die Informationen auf der Handbuchseite <a href="/automatisierung/prozesse/aktionen">Aktionen</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Subaktion wird erstellt.</p>
</li>
<li>
<p>Zeige ggf. mit der Maus auf die Subaktion, um die <strong>Position</strong> oder andere Einstellungen zu bearbeiten.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kontextmenü nutzen</div>
<div class="paragraph">
<p>Wenn die Aktion bereits eine Subaktion enthält, können weitere Subaktionen auch über das Kontextmenü hinzugefügt werden. Klicke dazu mit der rechten Maustaste auf eine Subaktion und wähle <strong>Subaktion davor einfügen</strong> oder <strong>Subaktion dahinter einfügen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_verzeichnis_der_subaktionen">2. Verzeichnis der Subaktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Subaktionen sind in alphabetischer Reihenfolge aufgelistet. Der Aufbau der Informationen pro Subaktion folgt diesem Muster:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kurze Erläuterung der Subaktion</p>
</li>
<li>
<p>Aktionen, für die die Subaktion verfügbar ist</p>
</li>
<li>
<p>Einstellungen, die zusätzlich zu den <a href="/automatisierung/prozesse/subaktionen#100">allgemeinen Einstellungen</a> für diese Subaktion verfügbar sind</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Informationen auf dieser Seite dienen als Nachschlagewerk für Benutzerinnen und Benutzer, die mit den Grundprinzipien von plentymarkets Prozessen vertraut sind. Grundlegende Informationen zu Prozessen findest du auf der Handbuchseite <a href="/automatisierung/prozesse/prozesse-einrichten">Prozesse einrichten</a>.</p>
</div>
<div class="sect2">
<h3 id="110">2.1. Allgemeine Einstellungen</h3>
<div class="paragraph">
<p>Bestimmte Einstellungen sind für alle Subaktionen verfügbar. <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a> erläutert diese Einstellungen.</p>
</div>
<table id="tabelle-subaktion-einstellungen-allgemein" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Allgemeine Einstellungen für Subaktionen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die aktuelle Position der Subaktion innerhalb der Aktion an. Die Subaktion mit der niedrigsten Positionsnummer wird als erstes ausgeführt. Andere Position aus der Dropdown-Liste wählen, um die Abfolge der Subaktionen in der Aktion zu ändern.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="120">2.2. Artikel scannen</h3>
<div class="paragraph">
<p>Die Subaktion <strong>Artikel scannen</strong> öffnet eine Eingabemaske zum Scannen von Artikeln mit einem Barcode-Scanner.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#160">Artikelsuche</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">2.3. Auftragsnotizen hinzufügen</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Auftragsnotizen hinzufügen</strong> fügst du einem Auftrag eine Notiz hinzu.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-auftragsnotizen-hinzufuegen">Tabelle 2</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-auftragsnotizen-hinzufuegen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Subaktion <strong>Auftragsnotizen hinzufügen</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notiz</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Art von Notizen zum Auftrag hinzugefügt werden soll.<br>
<strong>Individuelle Eingabe</strong> = Ermöglicht die Eingabe einer Nachricht durch die Person, die den Prozess ausführt, im Prozessablauf. Die Notiz wird am Auftrag hinterlegt.<br>
<strong>Vordefinierte Eingabe</strong> = Öffnet ein Fenster, in dem im Bereich <strong>Nachricht</strong> eine Nachricht hinterlegt werden kann, die im Prozessablauf bei Aufträgen automatisch als Notiz hinterlegt wird.<br>
<strong>Keine</strong> = (Nur bei Aktion im Fehlerfall) Legt keine individuelle oder vorgefertigte Notiz am Auftrag an. Empfohlen, wenn nur die Fehlermeldung als Auftragsnotiz hinterlegt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fehlermeldung als zusätzliche Notiz hinterlegen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(Nur bei Aktion im Fehlerfall) Häkchen setzen, um die im Prozess ausgegebene Fehlermeldung als Notiz am Auftrag zu hinterlegen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="140">2.4. Aus Prozess entfernen</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Aus Prozess entfernen</strong> entfernst du Aufträge aus dem Prozess. Der Auftrag wird auch aus Filtern oder angefangenen Boxkommissionierungen entfernt.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">2.5. Bestellung scannen</h3>
<div class="paragraph">
<p>Die Subaktion <strong>Bestellung scannen</strong> öffnet eine Maske, über die Bestellungen per Barcode-Scanner eingelesen werden.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#200">Bestellsuche</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="160">2.6. Buchung durchführen</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Buchung durchführen</strong> wird automatisch der Wareneingang oder Warenausgang gebucht.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#440">Warenausgang</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#450">Wareneingang (Bestellung)</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="170">2.7. Buchung zurücksetzen</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Buchung zurücksetzen</strong> wird der gebuchte Warenausgang für die gewählten Aufträge zurückgesetzt.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#440">Warenausgang</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="180">2.8. Drucken</h3>
<div class="paragraph">
<p>Für den Druck von Dokumenten, zum Beispiel Lieferscheinen oder Rechnungen, wählst du beim Hinzufügen dieser Subaktion den gewünschten Drucker.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#110">Abhol-/Lieferschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#120">Adressetikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#130">Angebot</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#150">Artikeletikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#180">Auftragsbestätigung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#210">Dokumente</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#240">Gelangensbestätigung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#250">Gutschrift</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#270">Korrekturbeleg</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#280">Lager-Pickliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#290">Lieferschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#300">Mahnung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#310">Packliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#350">Rechnung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#360">Reparaturschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#380">Retourenetikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#390">Rücksendeschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-drucken">Tabelle 3</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-drucken" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Subaktion <strong>Drucken</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Druckereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eines der im Menü <strong>Einrichtung » Einstellungen » Drucker</strong> gespeicherten <a href="/basics/admin-aufgaben/drucker">Druckerprofile</a> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kopien</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Kopien pro Ausdruck eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Sammeldokument</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um alle Dokumente in einem einzigen Dokument zusammenzufassen und gleichzeitig zu drucken.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="190">2.9. Eigner ändern</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Eigner ändern</strong> führst du einen Eignerwechsel durch. Auswählbar sind die in deinem System hinterlegten Eigner.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-eigner-aendern">Tabelle 4</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-eigner-aendern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Subaktion <strong>Eigner ändern</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Eigner aus der Dropdown-Liste wählen, der durch die Subaktion zugewiesen werden soll. Zur Auswahl stehen alle im System angelegten Eigner.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="195">2.10. Entferne Auftrag vom Box</h3>
<div class="paragraph">
<p>Die Subaktion <strong>Entferne Auftrag vom Box</strong> wird für die <a href="#automatisierung/prozesse/rollende-kommissionierung">rollende Kommissionierung</a> verwendet. Mit dieser Subaktion löst du die Verbindung zwischen Auftrag und Box. Somit steht die Box wieder frei zur Verfügung und kann beim nächsten Durchlauf wiederverwendet werden.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="200">2.11. Hinweis anzeigen</h3>
<div class="paragraph">
<p>Die Subaktion <strong>Hinweis</strong> zeigt einen Hinweistext an, den du hinterlegst. Einstellbar ist auch die Zeit, nach der der Hinweis wieder ausgeblendet werden soll.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-hinweis">Tabelle 5</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-hinweis" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Subaktion <strong>Hinweis</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aussagekräftigen Titel für den Hinweis eingeben, der angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch schließen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob der Hinweis automatisch geschlossen werden soll, nachdem er angezeigt wurde.<br>
<strong>Nie</strong> = Der Hinweis muss per Klick geschlossen werden.<br>
<strong>Nach 1 - 5 Sekunden</strong> = Der Hinweis wird danach automatisch geschlossen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachricht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text eingeben, der als Hinweis ausgegeben werden soll.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="210">2.12. Markierung ändern</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Markierung ändern</strong> führst du eine Änderung der Markierung aus. Auswählbar sind die in deinem System hinterlegten Markierungen.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-markierung-aendern">Tabelle 6</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-markierung-aendern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Subaktion <strong>Markierung ändern</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung aus der Dropdown-Liste wählen, die durch die Subaktion zugewiesen werden soll.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="230">2.13. Notizen zum Auftrag</h3>
<div class="paragraph">
<p>Bei der Subaktion <strong>Notizen zum Auftrag</strong> werden während des Prozesses in Verbindung mit der Aktion <a href="/automatisierung/prozesse/aktionen#260">Hinweis</a> die im Menü <a href="/auftraege/auftraege-verwalten#1530">Aufträge » Aufträge bearbeiten » Tab: Übersicht</a> hinterlegten Informationen angezeigt und können vom Bearbeiter berücksichtigt werden. Die Notizen können bei der Bestellung angegeben werden. Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Deinen kostenlosen Werbeartikel bitte nicht senden, habe dafür keine Verwendung!</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Oder trage Notizen selbst ein. Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Keine Werbeartikel beilegen!</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-notizen-auftrag">Tabelle 7</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-notizen-auftrag" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Subaktion <strong>Notizen zum Auftrag</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sichtbarkeit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Notizen angezeigt werden sollen.<br>
<strong>ALLE</strong> = Alle Notizen werden angezeigt.<br>
<strong>Nur Kundennotizen</strong> = Nur Notizen werden angezeigt, die bei einer Bestellung eingegeben wurden.<br>
<strong>Nur Mitarbeiternotizen</strong> = Nur Notizen werden angezeigt, die Mitarbeiter eingegeben haben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="240">2.14. Notizen zum Kunden</h3>
<div class="paragraph">
<p>Bei der Subaktion <strong>Notizen zum Kunden</strong> werden während des Prozesses in Verbindung mit der Aktion <a href="/automatisierung/prozesse/aktionen#260">Hinweis</a> die im Menü <strong>CRM » Kontakte » Ansicht: Notizen</strong> hinterlegten Informationen angezeigt und können vom Bearbeiter berücksichtigt werden.<br>
Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kontakt möchte keine Werbung erhalten.</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="245">2.15. Online speichern</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Online speichern</strong> speicherst du eine Online-Pickliste, die in der plentymarkets App aufgerufen und abgearbeitet werden kann.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="250">2.16. Paketnummer erfassen</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Paketnummer erfassen</strong> erfasst du eine Paketnummer.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-paketnummer-erfassen">Tabelle 8</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-paketnummer-erfassen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Subaktion <strong>Paketnummer erfassen</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketnummern-Format</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketnummern-Format aus der Dropdown-Liste wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="260">2.17. Seriennummern erfassen</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Seriennummern erfassen</strong> erfasst du im Prozessablauf <a href="/artikel/artikel-verwalten#820">Seriennummern</a> per Barcode-Scanner. Wähle, ob du neue Seriennummern erlauben möchtest und ob Seriennummern automatisch gespeichert werden sollen.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#420">Seriennummern</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-seriennummern-erfassen">Tabelle 9</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-seriennummern-erfassen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Subaktion <strong>Seriennummern erfassen</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neue Seriennummern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlauben</strong> = Auch Seriennummern, die im Wareneingang noch nicht erfasst wurden, können im Warenausgang eingescannt werden.<br>
<strong>Nicht erlauben</strong> = Seriennummern müssen bereits beim Wareneingang und beim Warenausgang erneut gescannt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatisches Speichern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Nach erfolgreicher Erfassung der Seriennummern aller Artikelpositionen eines Artikels wird gespeichert und der Prozess automatisch fortgesetzt.<br>
<strong>Nein:</strong> Nach erfolgreicher Erfassung der Seriennummern aller Artikelpositionen eines Artikels muss im Prozessablauf auf <strong>Speichern</strong> geklickt werden, bevor der Prozess fortgesetzt wird.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="270">2.18. Sounds</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Sounds</strong> gibst du zur Bestätigung, dass eine Aktion ausgeführt wurde, ein akustisches Signal aus.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#110">Abhol-/Lieferschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#120">Adressetikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#130">Angebot</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#150">Artikeletikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#160">Artikelsuche</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#180">Auftragsbestätigung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#210">Dokumente</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#220">E-Mail</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#240">Gelangensbestätigung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#250">Gutschrift</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#270">Korrekturbeleg</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#280">Lager-Pickliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#290">Lieferschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#300">Mahnung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#310">Packliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#340">Polling</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#350">Rechnung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#360">Reparaturschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#380">Retourenetikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#390">Rücksendeschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#400">SEPA Pain001</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#410">SEPA Pain008</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#440">Warenausgang</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-sounds">Tabelle 10</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-sounds" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Subaktion <strong>Sounds</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sounds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Akustisches Signal wählen, das ausgegeben werden soll, wenn eine Aktion ausgeführt wurde.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="280">2.19. Speichern</h3>
<div class="paragraph">
<p>Die Dokumente werden in einem Ordner gespeichert, den du beim Erstellen der Subaktion wählst. Wenn mehrere Personen den Prozess verwenden sollen, gib einen für alle verfügbaren Ordner an.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#110">Abhol-/Lieferschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#120">Adressetikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#130">Angebot</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#150">Artikeletikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#180">Auftragsbestätigung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#210">Dokumente</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#220">E-Mail</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#230">FiBu-Export</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#240">Gelangensbestätigung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#250">Gutschrift</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#270">Korrekturbeleg</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#280">Lager-Pickliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#290">Lieferschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#300">Mahnung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#310">Packliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#340">Polling</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#350">Rechnung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#360">Reparaturschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#380">Retourenetikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#390">Rücksendeschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#400">SEPA Pain001</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#410">SEPA Pain008</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-speichern">Tabelle 11</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-speichern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Subaktion <strong>Speichern</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielordner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf den Stift klicken und den Pfad wählen, unter dem die Dokumente gespeichert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dateiname</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, unter welchem Namen die Dokumente gespeichert werden sollen.<br>
<strong>Standard</strong> = Dateien erhalten den Standardnamen.<br>
<strong>Benutzerdefiniert</strong> = Eigenen Namen eingeben. Verfügbare Variable: $PlentyID.<br>
<strong>Unterordner erstellen</strong> = Die Dokumente werden in einem Unterordner angelegt. Dieser Unterordner wird nach dem Muster Zielordner/Typ_Datum_Uhrzeit/ erstellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Sammeldokument</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um alle Dokumente in einem Dokument zusammenzufassen und nur dieses Dokument zu speichern.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="290">2.20. Status ändern</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Status ändern</strong> führst du einen Statuswechsel durch. Auswählbar sind die in deinem System gespeicherten Status.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-status-aendern">Tabelle 12</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-status-aendern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 12. Subaktion <strong>Status ändern</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status aus der Dropdown-Liste wählen, der durch die Subaktion zugewiesen werden soll.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">2.21. Versanddienstleister ändern</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Versanddienstleister ändern</strong> wechselst du den Versanddienstleister.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-auftrag">Tabelle 13</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-auftrag" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 13. Subaktion <strong>Auftrag</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versanddienstleister</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Versanddienstleister aus der Dropdown-Liste wählen, um diesen Versanddienstleister durch die Subaktion zuzuweisen. Zur Auswahl stehen alle im System angelegten Versanddienstleister.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="310">2.22. Versandpakete</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Versandpakete</strong> legst du Versandpakete an und bearbeitest diese Versandpakete.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="320">2.23. Versandprofil ändern</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Versandprofil ändern</strong> wechselst du ein Versandprofil.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-versandprofil-aendern">Tabelle 14</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-versandprofil-aendern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 14. Subaktion <strong>Versandprofil ändern</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Versandprofil aus der Dropdown-Liste wählen, um dieses Versandprofil durch die Subaktion zuzuweisen. Zur Auswahl stehen alle im System angelegten Versandprofile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Checkbox</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um andere Versandkosten als die Versandkosten aus dem gewählten Versandprofil zu verwenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten eingeben. Wenn in der Checkbox ein Häkchen gesetzt ist, werden die eingetragenen Versandkosten verwendet.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="330">2.24. Versenden</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Versenden</strong> versendst du die E-Mail-Vorlage, die für die Aktion <a href="/automatisierung/prozesse/aktionen#220">E-Mail</a> eingestellt wurde.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#220">E-Mail</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="340">2.25. Zahlungsart ändern</h3>
<div class="paragraph">
<p>Mit der Subaktion <strong>Zahlungsart ändern</strong> änderst du die Zahlungsart eines Auftrags.</p>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-subaktion-drucken">Tabelle 3</a> erläutert die zusätzlichen Einstellungen der Subaktion. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
<table id="tabelle-subaktion-drucken" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 15. Subaktion <strong>Drucken</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neue Zahlungsart aus der Dropdown-Liste wählen, die den Aufträgen zugewiesen werden soll.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="350">2.26. Zwischenspeichern</h3>
<div class="paragraph">
<p>Wenn viele Dokumente gespeichert oder gedruckt werden sollen, kann der Prozess sehr lange dauern. Dadurch kommt es zu Wartezeiten im Prozessablauf. Um Wartezeiten zu vermeiden, platziere die Subaktion <strong>Zwischenspeichern</strong> zum Beispiel vor einer Aktion, die mehr Zeit beansprucht als der Speichervorgang. Das Zwischenspeichern läuft dann im Hintergrund ab, während die Aktion ausgeführt wird. Danach kannst du zum Beispiel die Subaktion <strong>Drucken</strong> einbauen. Der Drucker greift dann auf die im Hintergrund geladenen und gespeicherten Dokumente zu und druckt diese Dokumente.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Zwischenspeichern nicht mit Aktion für den Fehlerfall kombinieren</div>
<div class="paragraph">
<p>Konfiguriere die Subaktion Zwischenspeichern nicht für eine Aktion, für die du auch eine Aktion für den Fehlerfall konfigurierst. Da das Zwischenspeichern asynchron läuft, behindern sich diese Vorgänge sonst gegenseitig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Aktionen</p>
</div>
<div class="paragraph">
<p>Die Subaktion steht für folgende Aktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#110">Abhol-/Lieferschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#120">Adressetikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#130">Angebot</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#150">Artikeletikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#180">Auftragsbestätigung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#210">Dokumente</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#240">Gelangensbestätigung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#250">Gutschrift</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#270">Korrekturbeleg</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#280">Lager-Pickliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#290">Lieferschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#300">Mahnung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#310">Packliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#350">Rechnung</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#360">Reparaturschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#380">Retourenetikett</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#390">Rücksendeschein</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p>Für diese Subaktion sind keine zusätzlichen Einstellungen verfügbar. Informationen zu den allgemeinen Einstellungen für Subaktionen findest du in <a href="#tabelle-subaktion-einstellungen-allgemein">Tabelle 1</a>.</p>
</div>
</div>
</div>
</div>
</main>