<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Datenfelder</span></a>
<ul class="sectlevel2">
<li><a href="#_asin"><span>1.1.</span><span> ASIN</span></a>
<ul class="sectlevel3">
<li><a href="#_ordner_ebene"><span>1.1.1.</span><span> Ordner-Ebene</span></a></li>
<li><a href="#_asin_code"><span>1.1.2.</span><span> ASIN Code</span></a></li>
</ul>
</li>
<li><a href="#_moin"><span>1.2.</span><span> Moin</span></a></li>
<li><a href="#_barcode"><span>1.3.</span><span> Barcode</span></a></li>
<li><a href="#_standardkategorie"><span>1.4.</span><span> Standardkategorie</span></a>
<ul class="sectlevel3">
<li><a href="#_kategorie_id"><span>1.4.1.</span><span> Kategorie-ID</span></a></li>
<li><a href="#_kategoriename"><span>1.4.2.</span><span> Kategoriename</span></a></li>
<li><a href="#_kategoriebeschreibung"><span>1.4.3.</span><span> Kategoriebeschreibung</span></a></li>
<li><a href="#_url_name"><span>1.4.4.</span><span> URL-Name</span></a></li>
<li><a href="#_meta_titel"><span>1.4.5.</span><span> Meta-Titel</span></a></li>
<li><a href="#_meta_beschreibung"><span>1.4.6.</span><span> Meta-Beschreibung</span></a></li>
<li><a href="#_meta_keywords"><span>1.4.7.</span><span> Meta-Keywords</span></a></li>
<li><a href="#_pfad"><span>1.4.8.</span><span> Pfad</span></a></li>
<li><a href="#_branch_1"><span>1.4.9.</span><span> Branch 1</span></a></li>
<li><a href="#_branch_2"><span>1.4.10.</span><span> Branch 2</span></a></li>
<li><a href="#_branch_3"><span>1.4.11.</span><span> Branch 3</span></a></li>
<li><a href="#_branch_4"><span>1.4.12.</span><span> Branch 4</span></a></li>
<li><a href="#_branch_5"><span>1.4.13.</span><span> Branch 5</span></a></li>
<li><a href="#_branch_6"><span>1.4.14.</span><span> Branch 6</span></a></li>
</ul>
</li>
<li><a href="#_artikel"><span>1.5.</span><span> Artikel</span></a>
<ul class="sectlevel3">
<li><a href="#_artikel_id"><span>1.5.1.</span><span> Artikel-ID</span></a></li>
<li><a href="#_hersteller_id"><span>1.5.2.</span><span> Hersteller-ID</span></a></li>
<li><a href="#_herstellername"><span>1.5.3.</span><span> Herstellername</span></a></li>
<li><a href="#_externer_herstellername"><span>1.5.4.</span><span> Externer Herstellername</span></a></li>
<li><a href="#_herstellerland_id"><span>1.5.5.</span><span> Herstellerland-ID</span></a></li>
<li><a href="#_herstellerlandname"><span>1.5.6.</span><span> Herstellerlandname</span></a></li>
<li><a href="#_zustands_id"><span>1.5.7.</span><span> Zustands-ID</span></a></li>
<li><a href="#_zustands_api_id"><span>1.5.8.</span><span> Zustands-API-ID</span></a></li>
</ul>
</li>
<li><a href="#_artikeltext"><span>1.6.</span><span> Artikeltext</span></a>
<ul class="sectlevel3">
<li><a href="#_name_1"><span>1.6.1.</span><span> Name 1</span></a></li>
<li><a href="#_name_2"><span>1.6.2.</span><span> Name 2</span></a></li>
<li><a href="#_name_3"><span>1.6.3.</span><span> Name 3</span></a></li>
<li><a href="#_vorschautext"><span>1.6.4.</span><span> Vorschautext</span></a></li>
<li><a href="#_meta_beschreibung_2"><span>1.6.5.</span><span> Meta-Beschreibung</span></a></li>
<li><a href="#_meta_keywords_2"><span>1.6.6.</span><span> Meta-Keywords</span></a></li>
<li><a href="#_artikeltext_2"><span>1.6.7.</span><span> Artikeltext</span></a></li>
<li><a href="#_technische_daten"><span>1.6.8.</span><span> Technische Daten</span></a></li>
<li><a href="#_url_pfad"><span>1.6.9.</span><span> URL-Pfad</span></a></li>
</ul>
</li>
<li><a href="#_attribut"><span>1.7.</span><span> Attribut</span></a></li>
<li><a href="#_sku"><span>1.8.</span><span> SKU</span></a></li>
<li><a href="#_bestand"><span>1.9.</span><span> Bestand</span></a></li>
<li><a href="#_variante"><span>1.10.</span><span> Variante</span></a>
<ul class="sectlevel3">
<li><a href="#_varianten_id"><span>1.10.1.</span><span> Varianten-ID</span></a></li>
<li><a href="#_ist_hauptvariante"><span>1.10.2.</span><span> Ist Hauptvariante</span></a></li>
<li><a href="#_id_der_hauptvariante"><span>1.10.3.</span><span> ID der Hauptvariante</span></a></li>
<li><a href="#_position"><span>1.10.4.</span><span> Position</span></a></li>
<li><a href="#_aktiv"><span>1.10.5.</span><span> Aktiv</span></a></li>
<li><a href="#_grundpreisanzeige"><span>1.10.6.</span><span> Grundpreisanzeige</span></a></li>
<li><a href="#_variantennr"><span>1.10.7.</span><span> Variantennr.</span></a></li>
<li><a href="#_modell"><span>1.10.8.</span><span> Modell</span></a></li>
<li><a href="#_externe_varianten_id"><span>1.10.9.</span><span> Externe Varianten-ID</span></a></li>
<li><a href="#_ek_netto"><span>1.10.10.</span><span> EK netto</span></a></li>
<li><a href="#_kommissionierung"><span>1.10.11.</span><span> Kommissionierung</span></a></li>
<li><a href="#_wb_beschränkung"><span>1.10.12.</span><span> WB-Beschränkung</span></a></li>
<li><a href="#_webshop_sichtbar_wenn_netto_wb_positiv"><span>1.10.13.</span><span> Webshop: sichtbar wenn Netto-WB positiv</span></a></li>
<li><a href="#_webshop_unsichtbar_wenn_kein_netto_wb"><span>1.10.14.</span><span> Webshop: unsichtbar wenn kein Netto-WB</span></a></li>
<li><a href="#_verfügbar_wenn_netto_wb_positiv"><span>1.10.15.</span><span> Verfügbar wenn Netto-WB positiv</span></a></li>
<li><a href="#_nicht_verfügbar_wenn_kein_netto_wb"><span>1.10.16.</span><span> Nicht verfügbar wenn kein Netto-WB</span></a></li>
<li><a href="#_max_bestellmenge"><span>1.10.17.</span><span> Max. Bestellmenge</span></a></li>
<li><a href="#_min_bestellmenge"><span>1.10.18.</span><span> Min. Bestellmenge</span></a></li>
<li><a href="#_intervallbestellmenge"><span>1.10.19.</span><span> Intervallbestellmenge</span></a></li>
<li><a href="#_verfügbar_bis"><span>1.10.20.</span><span> Verfügbar bis</span></a></li>
<li><a href="#_erscheinungsdatum"><span>1.10.21.</span><span> Erscheinungsdatum</span></a></li>
<li><a href="#_variantenname"><span>1.10.22.</span><span> Variantenname</span></a></li>
<li><a href="#_portoaufschlag_1_2"><span>1.10.23.</span><span> Portoaufschlag 1 - 2</span></a></li>
<li><a href="#_vpe"><span>1.10.24.</span><span> VPE</span></a></li>
<li><a href="#_anzahl_der_packstücke"><span>1.10.25.</span><span> Anzahl der Packstücke</span></a></li>
<li><a href="#_transportkosten_netto"><span>1.10.26.</span><span> Transportkosten netto</span></a></li>
<li><a href="#_lagerkosten_netto"><span>1.10.27.</span><span> Lagerkosten netto</span></a></li>
<li><a href="#_zoll"><span>1.10.28.</span><span> Zoll</span></a></li>
<li><a href="#_zolltarifnummer"><span>1.10.29.</span><span> Zolltarifnummer</span></a></li>
<li><a href="#_betriebskosten"><span>1.10.30.</span><span> Betriebskosten</span></a></li>
<li><a href="#_unsichtbar_in_artikelauflistung"><span>1.10.31.</span><span> Unsichtbar in Artikelauflistung</span></a></li>
<li><a href="#_standard_versandkosten"><span>1.10.32.</span><span> Standard-Versandkosten</span></a></li>
<li><a href="#_mehrwertsteuersatz"><span>1.10.33.</span><span> Mehrwertsteuersatz</span></a></li>
<li><a href="#_verfügbarkeits_id"><span>1.10.34.</span><span> Verfügbarkeits-ID</span></a></li>
<li><a href="#_verfügbarkeitstage"><span>1.10.35.</span><span> Verfügbarkeitstage</span></a></li>
<li><a href="#_verfügbarkeitsname"><span>1.10.36.</span><span> Verfügbarkeitsname</span></a></li>
<li><a href="#_inhalt_einheit_iso"><span>1.10.37.</span><span> Inhalt Einheit ISO</span></a></li>
<li><a href="#_inhalt_einheit_name"><span>1.10.38.</span><span> Inhalt Einheit Name</span></a></li>
<li><a href="#_inhalt_menge"><span>1.10.39.</span><span> Inhalt Menge</span></a></li>
<li><a href="#_ceres_produkt_url"><span>1.10.40.</span><span> Ceres Produkt-URL</span></a></li>
<li><a href="#_gewicht_brutto_g"><span>1.10.41.</span><span> Gewicht brutto g</span></a></li>
<li><a href="#_gewicht_netto_g"><span>1.10.42.</span><span> Gewicht netto g</span></a></li>
<li><a href="#_breite"><span>1.10.43.</span><span> Breite</span></a></li>
<li><a href="#_länge"><span>1.10.44.</span><span> Länge</span></a></li>
<li><a href="#_höhe"><span>1.10.45.</span><span> Höhe</span></a></li>
</ul>
</li>
<li><a href="#_eigenschaft"><span>1.11.</span><span> Eigenschaft</span></a></li>
<li><a href="#_bild"><span>1.12.</span><span> Bild</span></a></li>
<li><a href="#_versandkosten"><span>1.13.</span><span> Versandkosten</span></a></li>
<li><a href="#_verkaufspreis"><span>1.14.</span><span> Verkaufspreis</span></a></li>
<li><a href="#_grundpreis"><span>1.15.</span><span> Grundpreis</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Filter</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel (Neu)</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Diese Seite wird gerade erstellt</div>
<div class="paragraph">
<p>Falls du auf dieser Seite gelandet bist, beachte bitte, dass sie sich noch im Aufbau befindet.
Die Informationen auf der Seite erheben keinen Anspruch auf Richtigkeit.
Schau bitte in ein paar Tagen wieder vorbei, nachdem die Seite veröffentlicht wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Diese Seite beschreibt die Datenfelder und Filter, die dir beim Export von Artikel- und Variantendaten über das Katalog-Tool zur Verfügung stehen.
Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-exportieren/kataloge-verwalten">Katalog-Tool</a> hast.</p>
</div>
<h4 id="_format_typ_artikel_neu" class="discrete">Format-Typ: Artikel (Neu)</h4>
<div class="paragraph">
<p>Der auf dieser Seite beschriebene Format-Typ befindet sich im Menü <strong>Daten » Kataloge</strong>.
Beim Erstellen eines neuen Katalogs wählst du zuerst das Standardformat aus der oberen Dropdown-Liste.
Danach kannst du den Format-Typ <strong>Artikel (Neu)</strong> aus der mittleren Dropdown-Liste wählen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-exportieren/kataloge-verwalten/katalog-formate/assets/katalog-artikel.png" alt="katalog artikel">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist ein Standardformat?</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Definition</em></strong>:
Ein Standardformat wird verwendet, um spezifische Daten aus deinem plentymarkets System zu exportieren.
Die Daten kannst du anschließend überarbeiten und wieder importieren.</p>
</li>
<li>
<p><strong><em>Beispiel</em></strong>:
Stell dir vor, du möchtest die Preise und Beschreibungen für mehrere Artikel gleichzeitig aktualisieren.
Du könntest eine CSV-Datei mit den im System gespeicherten Artikeldaten exportieren.
Die Datei könntest du anschließend überarbeiten und wieder importieren.</p>
</li>
<li>
<p><strong><em>Abgrenzung</em></strong>:
Beachte, dass Standardformate lediglich Daten aus deinem System exportieren.
Sie übertragen diese Daten nicht an Marktplätze.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Datenfelder</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Diese Seite wird gerade erstellt</div>
<div class="paragraph">
<p>Falls du auf dieser Seite gelandet bist, beachte bitte, dass sie sich noch im Aufbau befindet.
Die Informationen auf der Seite erheben keinen Anspruch auf Richtigkeit.
Schau bitte in ein paar Tagen wieder vorbei, nachdem die Seite veröffentlicht wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Dieses Kapitel enthält eine Liste aller Artikel-Datenfelder, die mit dem Katalog-Tool exportiert werden können.</p>
</div>
<hr>
<div class="sect2">
<h3 id="_asin">1.1. ASIN</h3>
<div class="sect3">
<h4 id="_ordner_ebene">1.1.1. Ordner-Ebene</h4>
<div class="paragraph">
<p>ASIN-Codes können für jede Amazon-Länderplattform separat gespeichert werden.
Die Ordner hier entsprechen also den verschiedenen Amazon-Länderplattformen, d.h. Amazon Frankreich, Amazon UK oder Amazon Italien.
Öffne den Ordner der Länderplattform, deren ASIN-Code du exportieren willst.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist mit dem Ordner "Asin Default"?</div>
<div class="paragraph">
<p>Erklärung</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_asin_code">1.1.2. ASIN Code</h4>
<div class="paragraph">
<p>Die "Amazon Standard Identification Number" ist eine 10-stellige alphanumerische Produktkennzeichnung von <a href="/maerkte/amazon/amazon-einrichten">Amazon</a>.
Bei Büchern entspricht die ASIN der ISBN-Nummer.
Die ASIN findest du auf der Produktseite bei Amazon.</p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="_moin">1.2. Moin</h3>
<div class="paragraph">
<p>Die "My OTTO Identification Number" ist eine alphanumerische Produktkennzeichnung von <a href="/maerkte/otto/otto-market">OTTO Market</a>.
Seit dem 11. August 2021 muss jedes Produkt auf OTTO Market eine MOIN haben.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die MOIN wird von OTTO Market vergeben.
Du erstellst sie nicht selbst.
Wenn du ein Produkt auf OTTO Market verkaufst und es auch von anderen Händlern erhältlich ist, dann haben alle Angebote dieselbe MOIN.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_barcode">1.3. Barcode</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect2">
<h3 id="_standardkategorie">1.4. Standardkategorie</h3>
<div class="sect3">
<h4 id="_kategorie_id">1.4.1. Kategorie-ID</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_kategoriename">1.4.2. Kategoriename</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_kategoriebeschreibung">1.4.3. Kategoriebeschreibung</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_url_name">1.4.4. URL-Name</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_meta_titel">1.4.5. Meta-Titel</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_meta_beschreibung">1.4.6. Meta-Beschreibung</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_meta_keywords">1.4.7. Meta-Keywords</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_pfad">1.4.8. Pfad</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_branch_1">1.4.9. Branch 1</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_branch_2">1.4.10. Branch 2</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_branch_3">1.4.11. Branch 3</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_branch_4">1.4.12. Branch 4</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_branch_5">1.4.13. Branch 5</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_branch_6">1.4.14. Branch 6</h4>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="_artikel">1.5. Artikel</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Diese Seite wird gerade erstellt</div>
<div class="paragraph">
<p>Falls du auf dieser Seite gelandet bist, beachte bitte, dass sie sich noch im Aufbau befindet.
Die Informationen auf der Seite erheben keinen Anspruch auf Richtigkeit.
Schau bitte in ein paar Tagen wieder vorbei, nachdem die Seite veröffentlicht wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_artikel_id">1.5.1. Artikel-ID</h4>
<div class="paragraph">
<p>Die ID des Artikels.
Die Artikel-ID ist eine eindeutige, fortlaufende Zahl, die plentymarkets zur exklusiven Zuordnung jedes Artikels benötigt.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_hersteller_id">1.5.2. Hersteller-ID</h4>
<div class="paragraph">
<p>Der Hersteller des Artikels.
Wird durch die Hersteller-ID angegeben.
Die Hersteller-IDs findest du im Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Hersteller</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_herstellername">1.5.3. Herstellername</h4>
<div class="paragraph">
<p>Der Hersteller des Artikels.
Wird durch den Hersteller-Namen angegeben.
Die Hersteller-Namen findest du im Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Hersteller</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_externer_herstellername">1.5.4. Externer Herstellername</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_herstellerland_id">1.5.5. Herstellerland-ID</h4>
<div class="paragraph">
<p>Das Land, in dem der Artikel hergestellt wurde.
Wird durch die Länder-ID angegeben.
Eine Liste der Länder-IDs findest du <a href="/daten/interne-IDs#20">hier</a>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Herstellungsland</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_herstellerlandname">1.5.6. Herstellerlandname</h4>
<div class="paragraph">
<p>Das Land, in dem der Artikel hergestellt wurde.
Wird durch den Länder-Namen angegeben.
Eine Liste der Länder-Namen findest du <a href="/daten/interne-IDs#20">hier</a>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Herstellungsland</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_zustands_id">1.5.7. Zustands-ID</h4>
<div class="paragraph">
<p>Der Zustand des Artikels.
Wird durch die Zustand-ID angegeben.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[0] Neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[1] Gebraucht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[2] Neu &amp; OVP</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[3] Neu mit Etikett</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[4] B-Ware</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Zustand</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_zustands_api_id">1.5.8. Zustands-API-ID</h4>
<div class="paragraph">
<p>Der API-Zustand des Artikels.
Wird durch die Zustand-ID angegeben.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[0] Neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[1] Gebraucht wie neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[2] Gebraucht sehr gut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[3] Gebraucht gut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[4] Gebraucht annehmbar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>5</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[5] B-Ware</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Zustand API</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Der API-Zustand wird für den Marktplatz <a href="/maerkte/amazon/amazon-einrichten">Amazon</a> verwendet.</p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="_artikeltext">1.6. Artikeltext</h3>
<div class="sect3">
<h4 id="_name_1">1.6.1. Name 1</h4>
<div class="paragraph">
<p>Der Name 1 des Artikels.
Dies ist der Standardname des Artikels, der im plentyShop und auf Marktplätzen verwendet wird.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nachdem du dieses Datenfeld hinzugefügt hast, kannst du mit Hilfe der Dropdown-Liste angeben, welche Sprachversion des Textes exportiert werden soll.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Name 1</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die Länge des Artikelnamens ist auf 240 Zeichen begrenzt.
Der Artikelname wird für den Aufbau der Artikel-URL verwendet.
Öffne den plentyShop LTS-Assistenten und navigiere zum Schritt SEO, wenn du bestimmen willst, ob Name 1, 2 oder 3 für den Meta-Titel und die Artikel-URL verwendet werden soll.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_name_2">1.6.2. Name 2</h4>
<div class="paragraph">
<p>Der Name 2 des Artikels.
Dies ist ein alternativer Artikelname, der zum Beispiel für Marktplätze verwendet werden kann.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nachdem du dieses Datenfeld hinzugefügt hast, kannst du mit Hilfe der Dropdown-Liste angeben, welche Sprachversion des Textes exportiert werden soll.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Name 2</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die Länge des Artikelnamens ist auf 240 Zeichen begrenzt.
Der Artikelname wird für den Aufbau der Artikel-URL verwendet.
Öffne den plentyShop LTS-Assistenten und navigiere zum Schritt SEO, wenn du bestimmen willst, ob Name 1, 2 oder 3 für den Meta-Titel und die Artikel-URL verwendet werden soll.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_name_3">1.6.3. Name 3</h4>
<div class="paragraph">
<p>Der Name 3 des Artikels.
Dies ist ein alternativer Artikelname, der zum Beispiel für Marktplätze verwendet werden kann.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nachdem du dieses Datenfeld hinzugefügt hast, kannst du mit Hilfe der Dropdown-Liste angeben, welche Sprachversion des Textes exportiert werden soll.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Name 3</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die Länge des Artikelnamens ist auf 240 Zeichen begrenzt.
Der Artikelname wird für den Aufbau der Artikel-URL verwendet.
Öffne den plentyShop LTS-Assistenten und navigiere zum Schritt SEO, wenn du bestimmen willst, ob Name 1, 2 oder 3 für den Meta-Titel und die Artikel-URL verwendet werden soll.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_vorschautext">1.6.4. Vorschautext</h4>
<div class="paragraph">
<p>Der Vorschautext des Artikels.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nachdem du dieses Datenfeld hinzugefügt hast, kannst du mit Hilfe der Dropdown-Liste angeben, welche Sprachversion des Textes exportiert werden soll.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Vorschautext</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Der Vorschautext ist ein kurzer Text, der in Artikellisten angezeigt werden kann.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_meta_beschreibung_2">1.6.5. Meta-Beschreibung</h4>
<div class="paragraph">
<p>Die Meta-Beschreibung des Artikels.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nachdem du dieses Datenfeld hinzugefügt hast, kannst du mit Hilfe der Dropdown-Liste angeben, welche Sprachversion des Textes exportiert werden soll.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Meta-Beschreibung</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die Meta-Beschreibung erleichtert die Auffindbarkeit des Artikels durch Suchmaschinen.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_meta_keywords_2">1.6.6. Meta-Keywords</h4>
<div class="paragraph">
<p>Die Meta-Keywords des Artikels.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nachdem du dieses Datenfeld hinzugefügt hast, kannst du mit Hilfe der Dropdown-Liste angeben, welche Sprachversion des Textes exportiert werden soll.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Meta-Keywords</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die Meta-Keywords erleichtern die Auffindbarkeit des Artikels durch Suchmaschinen.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_artikeltext_2">1.6.7. Artikeltext</h4>
<div class="paragraph">
<p>Der Artikeltext ist ein detaillierter Text, der in der Artikelansicht im plentyShop angezeigt wird.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nachdem du dieses Datenfeld hinzugefügt hast, kannst du mit Hilfe der Dropdown-Liste angeben, welche Sprachversion des Textes exportiert werden soll.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Artikeltext</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_technische_daten">1.6.8. Technische Daten</h4>
<div class="paragraph">
<p>Die technischen Daten des Artikels.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nachdem du dieses Datenfeld hinzugefügt hast, kannst du mit Hilfe der Dropdown-Liste angeben, welche Sprachversion des Textes exportiert werden soll.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Technische Daten</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_url_pfad">1.6.9. URL-Pfad</h4>
<div class="paragraph">
<p>Der URL-Pfad des Artikels im plentyShop, bestehend aus Kategorien und Artikelnamen.</p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="_attribut">1.7. Attribut</h3>
<h5 id="_ordner" class="discrete">Ordner</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ordner</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereits im System angelegte Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Informationen können für jedes Attribut separat gespeichert werden.
Die Ordner hier entsprechen also den verschiedenen Attributen, die du bereits in deinem System angelegt hast.
Öffne den Ordner des Attributs, dessen Informationen du exportieren willst.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h5 id="_felder" class="discrete">Felder</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wert-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wertname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect2">
<h3 id="_sku">1.8. SKU</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Parent-SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect2">
<h3 id="_bestand">1.9. Bestand</h3>
<h5 id="_ordner_2" class="discrete">Ordner</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ordner</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Virtuelles Gesamtlager</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereits im System angelegte Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<h5 id="_feld" class="discrete">Feld</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Physischer Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reservierter Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldebestand Delta</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect2">
<h3 id="_variante">1.10. Variante</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Diese Seite wird gerade erstellt</div>
<div class="paragraph">
<p>Falls du auf dieser Seite gelandet bist, beachte bitte, dass sie sich noch im Aufbau befindet.
Die Informationen auf der Seite erheben keinen Anspruch auf Richtigkeit.
Schau bitte in ein paar Tagen wieder vorbei, nachdem die Seite veröffentlicht wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_varianten_id">1.10.1. Varianten-ID</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_ist_hauptvariante">1.10.2. Ist Hauptvariante</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_id_der_hauptvariante">1.10.3. ID der Hauptvariante</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_position">1.10.4. Position</h4>
<div class="paragraph">
<p>Die Positionsnummer der Variante.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#190">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Grundeinstellungen » Eingabefeld: Position</a></p>
</div>
<div class="paragraph">
<p>Varianten können nach der Positionsnummer im Backend und Frontend sortiert werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Backend</em></strong>: Suche nach Artikeln im Menü <strong>Artikel » Artikel bearbeiten</strong>.
Führe deinen Mauszeiger über die Spaltenüberschrift <strong>Position</strong>.
Klicke auf das kleine Dreieck (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>), um die Artikel in aufsteigender oder absteigender Reihenfolge nach Positionsnummer darzustellen.</p>
</div>
<div class="paragraph">
<p><strong><em>Frontend</em></strong>: Wähle die passende <a href="/willkommen/schnelleinstieg/schnelleinstieg-webshop#120">Sortieroption im plentyShop LTS-Assistenten</a> aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Öffne den plentyShop LTS-Assistenten und navigiere zu <strong>Seitennummerierung und Sortierung » Zusätzliche Sortieroptionen</strong>.
Wenn die Einstellung <strong>Veriantenposition nach monatlichen Verkäufen berechnen</strong> auf <strong>Ja</strong> gesetzt wird, dann werden manuell eingegebene Positionsnummern überschrieben.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_aktiv">1.10.5. Aktiv</h4>
<div class="paragraph">
<p>Gibt an, ob die Variante aktiviert ist.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein. Häkchen ist nicht gesetzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja. Häkchen ist gesetzt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Checkbox: Aktiv</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hintergrund-Info</em></strong>:
Varianten werden erst im plentyShop oder auf Marktplätzen sichtbar, wenn sie aktiviert wurden. Mit anderen Worten, kannst du an inaktiven Varianten arbeiten, ohne dass deine Kunden es merken.</p>
</div>
<div class="paragraph">
<p><strong><em>Backend-Suche</em></strong>: inaktive Varianten werden <em>nicht</em> mit den <a href="/artikel/einleitung/suche#100">Standard-Sucheinstellungen</a> gefunden.
Setze also den Suchfilter <strong>Aktiv</strong> auf <strong>Nein</strong>, um inaktive Artikel in die Suchergebnisse mit einzubeziehen.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_grundpreisanzeige">1.10.6. Grundpreisanzeige</h4>
<div class="paragraph">
<p>Gibt an, ob der Grundpreis im Webshop angezeigt wird.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein. Der Grundpreis wird <em>nicht</em> im Webshop angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja. Der Grundpreis wird im Webshop angezeigt werden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#270">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Checkbox: Grundpreisanzeige</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hintergrund-Info</em></strong>:
Der Grundpreis gibt die Kosten pro Pfund, Liter oder andere Maßeinheit an.
Berechnet wird er auf Grundlage von <a href="/artikel/einstellungen/einheiten">Einheit</a>, <a href="/artikel/artikel-verwalten#intable-inhalt">Inhalt</a> und <a href="/artikel/artikel-verwalten#240">Preis</a> des Artikels.
Der Grundpreis wird angegeben, um Verbrauchern einen einfachen Preisvergleich zu ermöglichen. Die deutsche Grundpreisverordnung schreibt vor, dass für Produkte, die nach Gewicht, Volumen, Länge oder Fläche verkauft werden, der Grundpreis in unmittelbarer Nähe des Endpreises anzugeben ist.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_variantennr">1.10.7. Variantennr.</h4>
<div class="paragraph">
<p>Die Nummer der Variante.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#190">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Grundeinstellungen » Eingabefeld: Variantennr.</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_modell">1.10.8. Modell</h4>
<div class="paragraph">
<p>Der Modellname der Variante.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#190">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Grundeinstellungen » Eingabefeld: Modell</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_externe_varianten_id">1.10.9. Externe Varianten-ID</h4>
<div class="paragraph">
<p>Die externe Varianten-ID.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#190">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Grundeinstellungen » Eingabefeld: Ext. Varianten-ID</a></p>
</div>
<div class="paragraph">
<p><strong><em>Anwendungsfall</em></strong>: Die externe Varianten-ID erleichtert die Übernahme von Artikeln und Varianten aus einem externen System.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_ek_netto">1.10.10. EK netto</h4>
<div class="paragraph">
<p>Der Netto-Einkaufspreis.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#280">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Kosten » Eingabefeld: EK netto</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Abhängig von den Einstellungen im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> wird der Einkaufspreis <a href="/warenwirtschaft/wareneingaenge-verwalten#300">berechnet oder manuell gepflegt</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Artikelpakete</em></strong>: der Nettoeinkaufspreis lässt sich <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">automatisch anhand der Bestandteile berechnen</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_kommissionierung">1.10.11. Kommissionierung</h4>
<div class="paragraph">
<p>Die Art der Kommissionierung.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>single_picking</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einzelkommissionierung möglich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Derzeit ohne Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>no_single_picking</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keine Einzelkommissionierung möglich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Derzeit ohne Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>exclude_from_picklist</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Von Pickliste ausschließen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option eignet sich z.B. für Varianten, auf die keine Barcodes geklebt werden können und die deshalb nicht mit den <a href="/auftraege/auftragsdokumente/pickliste">normalen Picklisten</a> verarbeitet werden können.<br>
<strong><em>Wechselwirkungen</em></strong>: Verwendest du das Plugin <a href="https://marketplace.plentymarkets.com/eafshipableitemcount_6919">Filter für versendbare Artikel</a>?
Schau dir die Beschreibungen der Plugin-Filter an. Einige Filter gelten nämlich nur für Varianten, die von der Pickliste ausgeschlossen/nicht ausgeschlossen sind.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#265">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Versand » Dropdown-Liste: Kommissionierung</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_wb_beschränkung">1.10.12. WB-Beschränkung</h4>
<div class="paragraph">
<p>Gibt an, welche Einstellung zur Bestandsbeschränkung die Variante hat.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine</strong> = Der Warenbestand wird nicht beschränkt.
Die Verfügbarkeit der Variante wird nicht automatisch geprüft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf Netto-WB</strong> = Der Warenbestand wird auf den Nettowarenbestand beschränkt.
Die Verfügbarkeit der Variante wird automatisch geprüft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keinen WB für diese Variante führen</strong> = Wenn diese Einstellung gewählt wird, werden im Tab <strong>Bestand</strong> der Variante die Tabs <strong>Korrektur</strong>, <strong>Warenbestand</strong>, <strong>Zulauf</strong> und <strong>Warenbewegung</strong> ausgeblendet.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Dropdown-Liste: Beschränkung</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_webshop_sichtbar_wenn_netto_wb_positiv">1.10.13. Webshop: sichtbar wenn Netto-WB positiv</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_webshop_unsichtbar_wenn_kein_netto_wb">1.10.14. Webshop: unsichtbar wenn kein Netto-WB</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_verfügbar_wenn_netto_wb_positiv">1.10.15. Verfügbar wenn Netto-WB positiv</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_nicht_verfügbar_wenn_kein_netto_wb">1.10.16. Nicht verfügbar wenn kein Netto-WB</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_max_bestellmenge">1.10.17. Max. Bestellmenge</h4>
<div class="paragraph">
<p>Gibt die maximale Menge an, die pro Bestellung möglich ist.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Eingabefeld: Max. Bestellmenge</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Kommawerte sind möglich, um zum Beispiel Bestellungen nach Gewicht oder Länge abzubilden.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die maximale Bestellmenge kann zum Beispiel bei Vorbestellungen eingesetzt werden, um zu verhindern, dass Varianten zum günstigen Einführungspreis von der Konkurrenz aufgekauft werden.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_min_bestellmenge">1.10.18. Min. Bestellmenge</h4>
<div class="paragraph">
<p>Gibt die minimale Menge an, die pro Bestellung möglich ist.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Eingabefeld: Min.-Bestellmenge</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Kommawerte sind möglich, um zum Beispiel Bestellungen nach Gewicht oder Länge abzubilden.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_intervallbestellmenge">1.10.19. Intervallbestellmenge</h4>
<div class="paragraph">
<p>Gibt an, in welchen Mengenintervallen die Variante bestellbar ist.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Eingabefeld: Intervallbestellmenge</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Kommawerte sind möglich, um zum Beispiel Bestellungen nach Gewicht oder Länge abzubilden.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_verfügbar_bis">1.10.20. Verfügbar bis</h4>
<div class="paragraph">
<p>Gibt an, bis zu welchem Tag die Variante verfügbar ist.
Das Datum wird im folgenden Format exportiert: <code>Y-m-d H:i:s</code></p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: <code>2022-02-25 00:00:00</code></p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Eingabefeld: Verfügbar bis</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_erscheinungsdatum">1.10.21. Erscheinungsdatum</h4>
<div class="paragraph">
<p>Gibt an, ab welchem Datum die Variante verfügbar ist.
Das Datum wird im folgenden Format exportiert: <code>Y-m-d H:i:s</code></p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: <code>2022-02-25 00:00:00</code></p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Eingabefeld: Erscheinungsdatum</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die Variante kann vor diesem Datum bereits im plentyShop sichtbar sein und <a href="/auftraege/auftraege-verwalten#1100">vorbestellt</a> werden.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_variantenname">1.10.22. Variantenname</h4>
<div class="paragraph">
<p>Der Name der Variante.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#190">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Grundeinstellungen » Eingabefeld: Variantenname</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_portoaufschlag_1_2">1.10.23. Portoaufschlag 1 - 2</h4>
<div class="paragraph">
<p>Der Portoaufschlag, d.h. eine Gebühr, die <em>zusätzlich</em> zu den normalen Versandkosten erhoben wird.
Portoaufschläge bieten sich für größere oder sperrige Artikel an, deren Versand teurer ist.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Portoaufschlag 1 gilt für den ersten Artikel.</p>
</li>
<li>
<p>Portoaufschlag 2 gilt für jeden weiteren Artikel.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#270">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Eingabefeld: Portoaufschlag 1 bzw. 2</a></p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>: Gib in jedem deiner <a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a> an, ob die Aufschläge zum Grundporto hinzugefügt werden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Das Handbuch enthält auch einige <a href="/fulfillment/versand-vorbereiten#1100">Rechenbeispiele für Portoaufschläge</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_vpe">1.10.24. VPE</h4>
<div class="paragraph">
<p>Die Verpackungseinheit (VPE) ist die Zusammenfassung mehrerer Verkaufseinheiten.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#270">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Eingabefeld: VPE</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die VPE hat <em>keinen Einfluss</em> auf die Berechnung eines <a href="/artikel/artikel-verwalten#intable-grundpreis">Grundpreises</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_anzahl_der_packstücke">1.10.25. Anzahl der Packstücke</h4>
<div class="paragraph">
<p>Gibt die Anzahl der Packstücke an, wenn der Artikel aus mehreren Paketen besteht.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Verwende dieses Exportfeld zusammen mit <strong>packingUnitTypeId</strong>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#290">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Versand » Packstücke (linke Dropdown-Liste)</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Der Wert 0 bedeutet, dass ein Artikel immer in einem einzigen Paket verschickt werden soll, unabhängig von der Menge.
Diese Einstellung greift auch bei unterschiedlichen Artikeln.
Alle Artikel eines Auftrags mit Wert 0 werden in ein Paket verpackt.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_transportkosten_netto">1.10.26. Transportkosten netto</h4>
<div class="paragraph">
<p>Die Netto-Transportkosten für die Variante.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#280">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Kosten » Eingabefeld: Transport netto</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Dieser Wert wird für Preiskalkulationen und die Berechnung des Einstandspreises verwendet.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_lagerkosten_netto">1.10.27. Lagerkosten netto</h4>
<div class="paragraph">
<p>Die Netto-Lagerkosten für die Variante.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#280">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Kosten » Eingabefeld: Lager netto</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_zoll">1.10.28. Zoll</h4>
<div class="paragraph">
<p>Der für die Variante gespeicherte Zollbetrag in Prozent.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#280">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Kosten » Eingabefeld: Zoll</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_zolltarifnummer">1.10.29. Zolltarifnummer</h4>
<div class="paragraph">
<p>Die Zolltarifnummer der Variante.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#280">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Kosten » Eingabefeld: Zolltarifnummer</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: In plentymarkets ist es möglich, für jede Variante eine unterschiedliche Zolltarifnummer zu speichern.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: In manchen Ländern wird Kinderkleidung je nach Größe unterschiedlich besteuert.
In diesem Fall macht es Sinn, die Zolltarifnummer für jede einzelne Variante zu speichern.</p>
</div>
<div class="paragraph">
<p><strong><em>Vererbung</em></strong>: Die Zolltarifnummer wird automatisch von der Hauptvariante an die Untervarianten <a href="/artikel/einleitung/vererbung">vererbt</a>. Das heißt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>du brauchst <em>keine Zolltarifnummern</em> für deine Untervarianten einzugeben, wenn sie dieselbe Zolltarifnummer wie die Hauptvariante haben sollen.</p>
</li>
<li>
<p>gib eine <em>abweichende Zolltarifnummer</em> für alle Untervarianten ein, die sich von der Hauptvariante unterscheiden sollen.</p>
</li>
</ul>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_betriebskosten">1.10.30. Betriebskosten</h4>
<div class="paragraph">
<p>Die für die Variante gespeicherten Betriebskosten in Prozent.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#280">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Kosten » Eingabefeld: Betriebskosten</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_unsichtbar_in_artikelauflistung">1.10.31. Unsichtbar in Artikelauflistung</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_standard_versandkosten">1.10.32. Standard-Versandkosten</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_mehrwertsteuersatz">1.10.33. Mehrwertsteuersatz</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_verfügbarkeits_id">1.10.34. Verfügbarkeits-ID</h4>
<div class="paragraph">
<p>Gibt die Lieferzeit der Variante an.
Wird durch die ID der Verfügbarkeitsstufe (1-10) angegeben.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Symbole 1-10</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Die Verfügbarkeitsstufen werden im Menü <a href="/artikel/einstellungen/verfuegbarkeiten">Einrichtung » Artikel » Verfügbarkeit</a> konfiguriert.
Dort findest du die Verfügbarkeits-IDs, Texte, Symbole und durchschnittliche Lieferzeiten in Tagen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Die Verfügbarkeitsstufe ist eine statische Einstellung.
Das heißt, dass sich die gewählte Verfügbarkeitsstufe unabhängig vom tatsächlichen Warenbestand nicht ändert.
Die Einstellung ist nur relevant, wenn keine <a href="/warenwirtschaft/lager-einrichten#300">automatische Warenbestandsanzeige</a> eingestellt ist.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_verfügbarkeitstage">1.10.35. Verfügbarkeitstage</h4>
<div class="paragraph">
<p>Gibt die Lieferzeit der Variante an.
Wird durch die durchschnittliche Lieferzeit in Tagen angegeben.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Symbole 1-10</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Die Verfügbarkeitsstufen werden im Menü <a href="/artikel/einstellungen/verfuegbarkeiten">Einrichtung » Artikel » Verfügbarkeit</a> konfiguriert.
Dort findest du die Verfügbarkeits-IDs, Texte, Symbole und durchschnittliche Lieferzeiten in Tagen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Die Verfügbarkeitsstufe ist eine statische Einstellung.
Das heißt, dass sich die gewählte Verfügbarkeitsstufe unabhängig vom tatsächlichen Warenbestand nicht ändert.
Die Einstellung ist nur relevant, wenn keine <a href="/warenwirtschaft/lager-einrichten#300">automatische Warenbestandsanzeige</a> eingestellt ist.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_verfügbarkeitsname">1.10.36. Verfügbarkeitsname</h4>
<div class="paragraph">
<p>Gibt die Lieferzeit der Variante an.
Wird durch den Text der Verfügbarkeitsstufe angegeben.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#200">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verfügbarkeit » Symbole 1-10</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Die Verfügbarkeitsstufen werden im Menü <a href="/artikel/einstellungen/verfuegbarkeiten">Einrichtung » Artikel » Verfügbarkeit</a> konfiguriert.
Dort findest du die Verfügbarkeits-IDs, Texte, Symbole und durchschnittliche Lieferzeiten in Tagen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Die Verfügbarkeitsstufe ist eine statische Einstellung.
Das heißt, dass sich die gewählte Verfügbarkeitsstufe unabhängig vom tatsächlichen Warenbestand nicht ändert.
Die Einstellung ist nur relevant, wenn keine <a href="/warenwirtschaft/lager-einrichten#300">automatische Warenbestandsanzeige</a> eingestellt ist.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_inhalt_einheit_iso">1.10.37. Inhalt Einheit ISO</h4>
<div class="paragraph">
<p>Die Einheit der Variante.
Wird durch den ISO-Code der Einheit angegeben.
Eine Liste der ISO-Codes findest du <a href="/daten/interne-IDs#40">hier</a>.
Alternativ findest du die ISO-Codes im Menü <strong>Einrichtung » Artikel » Einheiten</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Verwende dieses Exportfeld zusammen mit <strong>Inhalt Menge</strong>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#268">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Dropdown-Liste: Inhalt</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_inhalt_einheit_name">1.10.38. Inhalt Einheit Name</h4>
<div class="paragraph">
<p>Die Einheit der Variante.
Wird durch den Einheit-Namen angegeben.
Eine Liste der Einheit-Namen findest du <a href="/daten/interne-IDs#40">hier</a>.
Alternativ findest du die Einheit-Namen im Menü <strong>Einrichtung » Artikel » Einheiten</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Verwende dieses Exportfeld zusammen mit <strong>Inhalt Menge</strong>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#268">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Dropdown-Liste: Inhalt</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_inhalt_menge">1.10.39. Inhalt Menge</h4>
<div class="paragraph">
<p>Gibt den numerischen Inhalt der Variante an.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Verwende dieses Exportfeld zusammen mit <strong>unit.unitId</strong> oder <strong>unit.unitName</strong>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#268">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Eingabefeld: Inhalt</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_ceres_produkt_url">1.10.40. Ceres Produkt-URL</h4>
<hr>
</div>
<div class="sect3">
<h4 id="_gewicht_brutto_g">1.10.41. Gewicht brutto g</h4>
<div class="paragraph">
<p>Das Bruttogewicht der Variante in <em>Gramm</em>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#270">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Eingabefeld: Gewicht brutto</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hintergrund-Info</em></strong>: Bei einzeln verpackten Varianten ist das Bruttogewicht das Gewicht der Variante inklusive Verpackung.
Der Wert wird für die Berechnung der Versandpakete und für gewichtsabhängige Einstellungen der Versandkosten verwendet.</p>
</div>
<div class="paragraph">
<p><strong><em>Artikelpakete</em></strong>: Das Bruttogewicht lässt sich <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">automatisch anhand der Bestandteile berechnen</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_gewicht_netto_g">1.10.42. Gewicht netto g</h4>
<div class="paragraph">
<p>Das Nettogewicht der Variante in <em>Gramm</em>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#270">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Eingabefeld: Gewicht netto</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hintergrund-Info</em></strong>: Das Nettogewicht ist das Gewicht der Variante ohne Verpackung.</p>
</div>
<div class="paragraph">
<p><strong><em>Artikelpakete</em></strong>: Das Nettogewicht lässt sich <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">automatisch anhand der Bestandteile berechnen</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_breite">1.10.43. Breite</h4>
<div class="paragraph">
<p>Die Maße der Variante in <em>Millimetern</em>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#270">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Eingabefeld: Länge/Breite/Höhe</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_länge">1.10.44. Länge</h4>
<div class="paragraph">
<p>Die Maße der Variante in <em>Millimetern</em>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#270">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Eingabefeld: Länge/Breite/Höhe</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_höhe">1.10.45. Höhe</h4>
<div class="paragraph">
<p>Die Maße der Variante in <em>Millimetern</em>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#270">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Eingabefeld: Länge/Breite/Höhe</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="_eigenschaft">1.11. Eigenschaft</h3>
<h5 id="_ordner_3" class="discrete">Ordner</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ordner</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereits im System angelegte Eigenschaftsgruppen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<h5 id="_felder_2" class="discrete">Felder</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaften der Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect2">
<h3 id="_bild">1.12. Bild</h3>
<h5 id="_ordner_4" class="discrete">Ordner</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ordner</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle Bilder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel Bilder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten Bilder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<h5 id="_felder_3" class="discrete">Felder</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bilderliste</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einzelbild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect2">
<h3 id="_versandkosten">1.13. Versandkosten</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect2">
<h3 id="_verkaufspreis">1.14. Verkaufspreis</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect2">
<h3 id="_grundpreis">1.15. Grundpreis</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einheit ISO</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einheit Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Filter</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Diese Seite wird gerade erstellt</div>
<div class="paragraph">
<p>Falls du auf dieser Seite gelandet bist, beachte bitte, dass sie sich noch im Aufbau befindet.
Die Informationen auf der Seite erheben keinen Anspruch auf Richtigkeit.
Schau bitte in ein paar Tagen wieder vorbei, nachdem die Seite veröffentlicht wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Dieses Kapitel enthält eine Liste der Filter, mit denen du einschränken kannst, welche Artikel in die Exportdatei aufgenommen werden sollen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat eine SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Filtert nach dem Artikel mit einer bestimmten ID.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Mehrere IDs müssen durch Kommas und ohne Leerzeichen getrennt werden.
Beispiel: <code>11,12,13</code></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante ist aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Varianten, die entweder <a href="/artikel/artikel-verwalten#intable-aktiv">aktiv oder inaktiv</a> sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für mindestens einen Marktplatz sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, die für <a href="/artikel/artikel-verwalten#350">einen bestimmten Markt</a> verfügbar sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle ein oder mehrere Tags.
Artikel, die mit <em>allen</em> der gewählten <a href="/willkommen/allgemeine-funktionen/tags">Tags</a> verknüpft sind, werden übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit mindestens einem Auswahleigenschaftswert verknüpft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestens eine Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat Markierung 1</strong>;<br>
<strong>Hat Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, die <a href="/artikel/import-export-anlage/anlage/neue-artikel#200">eine bestimmte Markierung</a> haben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel Erstellungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, die an einem bestimmten Datum erstellt wurden.</p>
</div>
<div class="paragraph">
<p><strong><em>Formatierung</em></strong>:
Gib das Datum im Format <code>TT.MM.JJJJ</code> ein.
Klicke alternativ auf das Kalendersymbol (<span class="icon darkGrey"><i class="fa fa-calendar-o  "></i></span>), wenn du das Datum lieber aus dem Kalender wählen möchtest.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Operatoren in der linken Dropdown-Liste</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Heute</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Es werden nur die {was-wird-exportiert} exportiert, die heute {wie-geaendert} wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Anzahl an Tagen in das Feld rechts ein.
Es werden nur die Artikel exportiert, die in den letzten [Anzahl] Tagen erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zeitspanne in das Feld rechts ein.
Es werden nur die Artikel exportiert, die innerhalb dieses Zeitraums erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ist gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die an diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>!=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nicht gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>nicht</em> an diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt;</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Größer als.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>nach</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt;=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Größer oder gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>an oder nach</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&lt;</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kleiner als.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>vor</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&lt;=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kleiner oder gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>an oder vor</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel Änderungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, die an einem bestimmten Datum zuletzt geändert wurden.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Operatoren in der linken Dropdown-Liste</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Heute</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Es werden nur die {was-wird-exportiert} exportiert, die heute {wie-geaendert} wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Anzahl an Tagen in das Feld rechts ein.
Es werden nur die Artikel exportiert, die in den letzten [Anzahl] Tagen erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zeitspanne in das Feld rechts ein.
Es werden nur die Artikel exportiert, die innerhalb dieses Zeitraums erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ist gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die an diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>!=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nicht gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>nicht</em> an diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt;</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Größer als.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>nach</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt;=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Größer oder gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>an oder nach</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&lt;</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kleiner als.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>vor</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&lt;=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kleiner oder gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>an oder vor</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante Erstellungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="openblock collapseBox">
<div class="title"><strong>Operatoren in der linken Dropdown-Liste</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Heute</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Es werden nur die Varianten exportiert, die heute erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Anzahl an Tagen in das Feld rechts ein.
Es werden nur die Artikel exportiert, die in den letzten [Anzahl] Tagen erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zeitspanne in das Feld rechts ein.
Es werden nur die Artikel exportiert, die innerhalb dieses Zeitraums erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ist gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die an diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>!=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nicht gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>nicht</em> an diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt;</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Größer als.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>nach</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt;=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Größer oder gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>an oder nach</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&lt;</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kleiner als.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>vor</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&lt;=</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kleiner oder gleich.
Gib ein Datum in das Feld rechts ein.
Es werden nur die Artikel exportiert, die <em>an oder vor</em> diesem Datum erstellt wurden.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante Änderungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gehört zu mindestens einer Amazon-Produktkategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf einen bestimmten <a href="/artikel/import-export-anlage/anlage/neue-artikel#intable-typ">Artikeltyp</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante ist Hauptvariante</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante hat ein Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, für die <a href="/artikel/artikel-verwalten#90">ein Bild gespeichert</a> ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante ist in Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie zugehören, übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante ist in einer dieser Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie zugehören, übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel hat Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, die <a href="/artikel/artikel-verwalten#_grundeinstellungen">von einer bestimmten Firma hergestellt</a> werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für Marktplätze sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, die für <a href="/artikel/artikel-verwalten#350">einen bestimmten Markt</a> verfügbar sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paket-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Standard-Artikel, <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2000">Artikelpakete</a> und Paketbestandteile.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für einen Mandanten sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, die für <a href="/artikel/artikel-verwalten#360">einen bestimmten Mandanten</a> verfügbar sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für Mandanten sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel, die für <a href="/artikel/artikel-verwalten#360">einen bestimmten Mandanten</a> verfügbar sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit Auswahleigenschaftswerten verknüpft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat mindestens einen Tag</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle ein oder mehrere Tags.
Artikel, die mit <em>mindestens einem</em> der gewählten <a href="/willkommen/allgemeine-funktionen/tags">Tags</a> verknüpft sind, werden übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante hat Kindvarianten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>