<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Verfügbare Datenfelder</span></a></li>
<li><a href="#20"><span>2.</span><span> Filter hinzufügen</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Verfügbare Filter</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Warenbestände</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite enthält Informationen zum Export-Format <strong>Warenbestände</strong>, mit dem du anhand von Katalogen Warenbestandsdaten aus deinem plentymarkets System exportieren kannst.
Solltest du mit der Funktionsweise der Kataloge noch nicht vertraut sein, informiere dich zunächst auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge verwalten</a>. Dort ist beschrieben, wie du Kataloge erstellst und verwaltest.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Export an Marktplätze</div>
<div class="paragraph">
<p>Bei dem Exportformat <strong>Warenbestände</strong> handelt es sich um ein sog. Standardformat, d.h. ein Format, mit dem du Daten exportieren, aber nicht an einen Marktplatz übertragen kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Verfügbare Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der folgenden Tabelle findest du alle verfügbaren Datenfelder des Export-Formats <strong>Warenbestände</strong> sowie eine Erläuterung zur Bedeutung dieser Felder.</p>
</div>
<table id="tabelle-warenbestaende" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder für Warenbestände</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Datenfeld</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Artikel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der ersten Artikelmarkierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der zweiten Artikelmarkierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-Tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Hersteller</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Artikelhersteller:in</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herstellername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Artikelhersteller:in</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Charge / MHD</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Charge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Charge der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MHD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindesthaltbarkeitsdatum der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Warenbestand</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Physischer Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Physischer Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reservierter Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reservierter Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nettobestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachbestellte Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge des nachbestellten Warenbestands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerpriorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchschnittlicher Einkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittlicher EK</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchschnittlicher Verkauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittlicher Verkauf</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Lagerort</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Varianten-Barcode</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1 des Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Variante</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variante ist aktiv (1 = Ja)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Modell</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modell der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EK der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UUID der Preiskalkulation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">UUID der Preiskalkulation. Beim Erstellen der Kalkulation wird die ID automatisch vergeben. Die ID kann nicht geändert werden.<br>
<strong><em>Tipp:</em></strong> Willst du die UUID kopieren? Öffne dazu die Preiskalkulation und klicke auf die UUID unten links. Die UUID wird in die Zwischenablage kopiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zolltarifnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zolltarifnummer der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit berechnetem Paketgewicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Gewicht <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit berechnetem Netto-Paketgewicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Nettogewicht <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit berechnetem Paket-EK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob der Einkaufspreis <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit berechnetem Paket-GLDEK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob der gleitende Durchschnittseinkaufspreis <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Lager</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge an Bestand, die auf dem Lagerort vorhanden ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Filter hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um nur bestimmte Daten von Warenbeständen zu exportieren, kannst du Filter wählen und somit die Daten eingrenzen. Wie du Filter hinzufügst, erfährst du in <a href="/daten/daten-exportieren/kataloge-verwalten#257">diesem Kapitel</a>.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Verfügbare Filter</h3>
<div class="paragraph">
<p>In der folgenden Tabelle findest du alle für das Export-Format <strong>Warenbestände</strong> verfügbaren Filter sowie eine Erläuterung zur Funktion des jeweiligen Filters. Du kannst auch mehrere Filter wählen und somit beispielsweise nach Warenbeständen aus einem bestimmten Lager mit einer bestimmten Markierung filtern.</p>
</div>
<table id="tabelle-filter-warenbestand" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Filter für Warenbestände</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Filter</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach aktiven oder inaktiven Varianten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der an der Variante gespeicherten Markierung 1.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der an der Variante gespeicherten Markierung 2.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach einem bestimmten Datum, das du hier über den Kalender wählen kannst.<br>
Dieser Filter ermöglicht es dir somit, Warenbestand zu einem bestimmten Zeitpunkt zu exportieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach Hersteller:in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach Varianten aus dem gewählten Lager.<br>
<strong><em>Hinweis:</em></strong> Wählst du kein Lager, wird automatisch der Bestand des Lagers mit der kleinsten ID gewählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppieren nach</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht die Gruppierung nach Lager. Der Bestand einer Variante wird gesammelt, d.h. pro Lager in einer Zeile angezeigt (und nicht nach Lagerort, MHD oder Charge).</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Leere Lagerbestandseinträge ausblenden</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerbestandseinträge von 0 nach definiertem Zeitraum ausblenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blendet alle Lagerbestandseinträge von 0 aus, die den im System definierten Zeitraum überschritten haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle Lagerbestandseinträge von 0 ausblenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blendet alle Lagerbestandseinträge von 0 aus.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>