<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_überschreitung_der_maximalen_anzahl_von_gleichzeitig_eingeloggten_benutzern"><span>1.</span><span> Überschreitung der maximalen Anzahl von gleichzeitig eingeloggten Benutzern</span></a></li>
<li><a href="#_was_ist_zu_tun_wenn_die_maximale_anzahl_der_gleichzeitig_eingeloggten_benutzer_erreicht_ist"><span>2.</span><span> Was ist zu tun, wenn die maximale Anzahl der gleichzeitig eingeloggten Benutzer erreicht ist?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Beschränkung von gleichzeitig eingeloggten Benutzern im Backend</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Aufgrund der neuen Tarifmodelle gibt es für Kunden, die neue Verträge abschließen oder einen Tarifwechsel vornehmen, eine Änderung bezüglich der gleichzeitig eingeloggten Benutzer. Je nach Tarif besteht eine bestimmte Beschränkung der Anzahl dieser. <strong>Kunden mit einem bestehenden Tarif sind davon nicht betroffen</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_überschreitung_der_maximalen_anzahl_von_gleichzeitig_eingeloggten_benutzern">1. Überschreitung der maximalen Anzahl von gleichzeitig eingeloggten Benutzern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wird die Anzahl der gleichzeitig eingeloggten Benutzer erreicht bzw. überschritten, bekommt der Benutzer eine der beiden folgenden Fehlermeldungen:</p>
</div>
<div class="paragraph">
<p><strong>Für Variable Benutzer</strong>:
Zu viele Benutzer. Nur x Benutzer können gleichzeitig im Backend eingeloggt sein. Versuchen Sie es erneut oder kontaktieren Sie den Administrator.</p>
</div>
<div class="paragraph">
<p><strong>Für Admins</strong>:
Zu viele Benutzer. Nur x Benutzer können gleichzeitig im Backend eingeloggt sein. Führen Sie ein Upgrade für Ihren Vertrag durch oder öffnen Sie das Session-Verwaltung.</p>
</div>
<table id="tabelle-beschraenkung-je-tarif" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Beschränkung je nach Tarif</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tarif</th>
<th class="tableblock halign-left valign-top">Maximale Anzahl von eingeloggten Benutzern</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STARTER Zero</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">bis zu 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STARTER Basic</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">bis zu 5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STARTER Advanced</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">bis zu 10</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PRO Classic</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">bis zu 50</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PRO Flex</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">bis zu 100</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PLUS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">keine Beschränkung</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_was_ist_zu_tun_wenn_die_maximale_anzahl_der_gleichzeitig_eingeloggten_benutzer_erreicht_ist">2. Was ist zu tun, wenn die maximale Anzahl der gleichzeitig eingeloggten Benutzer erreicht ist?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Über den Link in der Fehlermeldung wird der Admin direkt zur Session-Verwaltung weitergeleitet. Dieses ermöglicht es dem Admin, die bereits laufenden Sessions zu beenden und so den Login eines anderes Benutzers zu ermöglichen. Der Login ist für 10 Minuten gültig. Danach wird der Admin automatisch wieder ausgeloggt.<br>
Zur Session-Verwaltung gelangt der Admin im Backend über das Menü <strong>System » Einstellungen » Benutzer</strong> oder über das User-Icon oben rechts.</p>
</div>
</div>
</div>
</main>