<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einstieg</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Omni-Channel-Online Handel? Mit plentymarkets kein Problem. Wir stellen dir mit plentyPOS ein Werkzeug vor, mit dem Du ganz neue Wertströme erschließen kannst.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/207255129" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Wenn man die Welt aus der Vogelperspektive betrachtet sind die Details oft nicht zu erkennen. Erst mit einem genaueren Blick aus der Nähe werden die Details immer klarer.</p>
</div>
<div class="paragraph">
<p>Das ist das Büro von Malte. Malte betreibt aus seinem Büro einen Onlineshop-Startup. Seine Bartpflegeprodukte sind in letzter Zeit zu einem echten Renner geworden. Sein Geschäft brummt!
Malte möchte sich aber weiterentwickeln und plant schon länger seine Bartpflegeprodukte in einem Laden anzubieten. Alles was Malte dazu noch benötigt ist eine einfach Kassenlösung, die er mit seinem plentymarkets-System verknüpfen kann.</p>
</div>
<div class="paragraph">
<p>Ein paar Straßen weiter findet man den Tante-Emma-Laden von Hildegard. Hildegard bietet Haushaltswaren in Ihrem Laden an.
Sogar selbstgestrickte Socken und selbst eingemachte Marmelade können die Kunden im Laden an der Ecke kaufen. Mit ihrem Geschäft ist Hilde ein fester Bestandteil der Nachbarschaft und zur Legende geworden. Ihre Kunden schicken Hildegards Artikel seit Jahren schon als Geschenke durch das ganze Land.
Eines Tages hat Hildegard die zündende Idee. Warum nicht handgefertigten Artikel in diesem Internet verkaufen?</p>
</div>
<div class="paragraph">
<p>Ingo Schreck ist ein gemachter Mann, der sein ganzes Leben seinem Sportartikelkaufhaus gewidmet hat. Inzwischen hat er sogar weitere Filialen in anderen Städten eröffnet.
Vor einiger Zeit hat Ingo auch einen Onlineshop an den Start gebracht und verkauft zudem auf Marktplätzen wie eBay oder Amazon.
Die Einnahmen sprudeln zwar, allerdings ist der Aufwand recht hoch, da Ingo sich um alle Verkaufskanäle separat kümmern muss.
Die Lösung wäre, wenn Ingo eine Software finden würde, die all seine Anforderungen vereint.</p>
</div>
<div class="paragraph">
<p>Was verbindet aber den trendigen Onlinehandel, den Tante-Emma-Laden von Hildegard und das große Kaufhaus von Ingo?
Alle drei wollen ihr Geschäft mit plentyPOS voranbringen.</p>
</div>
<div class="paragraph">
<p>plentyPOS hilft auch dir dabei dein Geschäft voran zu bringen.
Dein plentymarkets Kassensystem hat alles was Du benötigst um deinen stationären Handel mit deinem Onlinehandel zu verbinden.
Eine praktische Lösung für den einfachen Kaufmann bis hin zum großen Unternehmen.
Dabei ist die Kassenlösung denkbar einfach zu bedienen und das obwohl im Hintergrund eine mächtige Buisness-Software arbeitet.
plentymarkets bietet Omni-Channel-E-Commerce!
plentyPOS ermöglicht es dir ganz einfach Artikel zu verkaufen, Rabatte zu erteilen oder Gutscheine zu verarbeiten, den erhaltenen Betrag zu verarbeiten und ganz einfach Belege und Berichte zu drucken und digital zu archivieren.</p>
</div>
<div class="paragraph">
<p>Bist du bereit dein Geschäft mit plentyPOS in neue Sphären zu katapultieren?
Schaue ganz einfach auf unserer Webseite vorbei und buche die Optionen, die du benötigst.</p>
</div>
<div class="paragraph">
<p>Als nächstes machst du dir am besten Gedanken darüber, mit welcher Hardware du arbeiten willst.
Tablet, Bondrucker und Kartenterminal - Keine Sorge, du musst kein Tekkie sein.
Schaue dir einfach im auf der Webseite bzw. dem Handbuch an, welche Hardware wir empfehlen.
Du findest auf unserer Webseite auch Partner, die das Aufstellen und Einrichten deiner Hardware für dich übernehmen.</p>
</div>
<div class="paragraph">
<p>Wenn du bereits über Hardware verfügst, musst du dir die App nur noch im Google playstore oder im AppStore herunterladen.
Das ist auch schon alles, du kannst dann direkt mit der Konfiguration von plentyPOS loslegen.
Schaue dir aber am besten dazu noch unser Handbuch und die Videos zur Einrichtung des Kassensystems an.
Und wenn du die Einrichtung abgeschlossen hast heiße ich dich herzlich willkommen in der wundervollen Welt von plentymarkets.</p>
</div>
</div>
</div>
</main>