<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 04. August 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 29. Juli 2021 bis zum 04. August 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Für das Reverse-Charge-Verfahren wurde im Menü <strong>Einrichtung » Mandant » Standorte » Buchhaltung</strong> eine neue Einstellungsmöglichkeit hinzugefügt. Zudem gibt es einen neuen Steuerhinweis auf Rechnungsdokumenten für das Reverse-Charge-Verfahren. Diesen kannst du unter <strong>Steuerrechtlicher Hinweis 3</strong> in der Rechnungsvorlage einfügen. Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/buchhaltung#510">Buchhaltung</a>.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_katalog" class="discrete">Katalog</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist jetzt möglich, mehrere benutzerdefinierte Converter für Marktplatz-Exporte zu registrieren. Dabei ist jedoch zu beachten, dass result converters jetzt über die Methode getResultConverterContainer in der <a href="https://developers.plentymarkets.com/en-gb/interface/stable7/Catalog.html#catalog_providers_abstractgroupedtemplateprovider" target="_blank" rel="noopener">template provider-Klasse</a> registriert werden müssen. Weitere Informationen zu den Änderungen sind in der <a href="https://developers.plentymarkets.com/en-gb/developers/main/export-plugins/result-converters.html" target="_blank" rel="noopener">Result converter-Dokumentation</a> zu finden.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::./changelog/_textblocks/otto-master-file.adoc[]</p>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Die Ereignisaktion <strong>Retoure akzeptieren</strong> für OTTO Market kann direkt am Hauptauftrag ausgeführt werden, um den anschließenden Gutschriften-Import auszuführen. Der Gutschriften-Import erstellt selbstständig einen neuen Kindauftrag am Hauptauftrag und fügt dem Kindauftrag den von OTTO erstellten Beleg an.</p>
</li>
</ul>
</div>
<h3 id="_plentyshop" class="discrete">plentyShop</h3>
<div class="ulist">
<ul>
<li>
<p>Die neue Warenkorblogik <strong>Order Preview</strong> wurde aktiviert. Dadurch ändert sich im Hintergrund die Art und Weise, wie Artikelpreise und Summen im Warenkorb berechnet werden. Dadurch werden Rundungsdifferenzen zwischen Warenkorb und Bestellbestätigung vermieden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein Artikel zwei verschiedenen Lagern zugeordnet ist, kann man das passende Lager in der Artikelsuche einer Umbuchung auswählen. Wenn eine Transaktion ausgeführt werden sollte, wurde dann aber nicht das richtige Lager zugeordnet. Dies wurde behoben.</p>
</li>
<li>
<p>Wenn die Menge einer Auftragsposition geändert wurde und man danach noch die Menge einer weiteren Auftragsposition änderte, wurde die Menge der ersten geänderten Auftragsposition fälschlicherweise übernommen. Dies wurde behoben.</p>
</li>
<li>
<p>Unter seltenen Umständen wurde bei Auftragsanlage über den Webshop der falsche Steuersatz über die Zolltarifnummer ermittelt und an den Positionen zugewiesen. Dies wurde behoben.</p>
</li>
<li>
<p>Bei Ausfuhrlieferungen, bei denen die Einstellung bzgl. der Anzeige der MwSt. der Versandkosten auf <strong>Nur Inland und EU</strong> gesetzt ist, wurden die Summen nicht richtig gesetzt, da die Versandkosten keine MwSt. haben. Dadurch kam es beim FiBu-Export bei Gutschriften zu fehlhaften Ausgaben (Aufträge waren auch betroffen, die Summen wurden aber bei Rechnungserzeugung korrigiert, was bei der Gutschrift nicht der Fall ist). Nun werden die Versandkosten ohne MwSt. im Feld <strong>OrderAmount.taxlessAmount</strong> gespeichert und kommen auch entsprechend im FiBu-Export korrekt raus.</p>
</li>
<li>
<p>Bei der letzten Umstellung der Nachbestellung-UI auf die neue Navigation wurde versehentlich für den Filter <strong>Beschränken auf Lieferant</strong> eine falsche Übersetzung genutzt. Dies wurde behoben. Die Funktionalität des Filters war nicht betroffen.</p>
</li>
<li>
<p>Das Intervall in einem Abonnement wurde nach einer Änderung nicht gespeichert. Dies ist nun behoben.</p>
</li>
<li>
<p>Wenn an einem Auftrag eine Zahlung verbucht wird und dieser dadurch als voll bezahlt gilt und für den Auftrag ausreichend Bestand vorhanden ist, konnte es dazu kommen das dem Auftrag nicht die Lagerorte zugewiesen wurden. Dies wurde behoben.</p>
</li>
<li>
<p>Es konnte vorkommen, dass das Order Item Date mit Type ID <code>6</code> (Retourendatum) mit dem Wert <code>0000-00-00 00:00:00</code> gespeichert wurde.</p>
</li>
<li>
<p>Im Menü <strong>CRM » Kontakte » Kontakt » Neues Abonnment</strong> war es nicht möglich ein neues Abonnement anzulegen. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_otto_market_2" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>In einigen Fällen wurden beim Gutschriften-Import Gutschriften mehrfach erstellt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In den Prozessen wurden die englischen Fehlermeldungen falsch dargestellt. Dieses Verhalten wurde behoben. Zusätzlich wurden einige Fehlermeldungen im Menü Daten » Log überarbeitet.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<div class="ulist discrete">
<ul class="discrete">
<li>
<p>Wir haben im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> die Aktion <strong>Kunde &gt; E-Mail</strong> versenden um die folgenden Empfänger:innen erweitert:</p>
<div class="ulist">
<ul>
<li>
<p>Rechnungsadresse aus Auftrag</p>
</li>
<li>
<p>Lieferadresse aus Auftrag</p>
</li>
<li>
<p>Kontakt E-Mail geschäftlich</p>
</li>
<li>
<p>Kontakt E-Mail privat</p>
</li>
<li>
<p>Kontakt E-Mail PayPal</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Du kannst für jeden dieser Empfänger:innen die selbe oder eine separate E-Mail-Vorlage wählen und somit bei Eintritt des gewählten Ereignisses zeitgleich eine E-Mail an die oben genannten Empfänger:innen senden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_export" class="discrete">Export</h3>
<div class="ulist">
<ul>
<li>
<p>Für die Formate <strong>Auftrag</strong> und <strong>Auftragspositionen</strong> im ElasticExport wurde der Filter Mandant hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_plentyshop_2" class="discrete">plentyShop</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben im Kern auf die neue Warenkorblogik OrderPreview umgestellt. Durch die Aktivierung der OrderPreview-Route ändert sich im Hintergrund die Art und Weise, wie Artikelpreise und Summen im Warenkorb berechnet werden. Der Warenkorb bleibt dabei technisch unberührt. Wir übernehmen die berechneten Ergebnisse in das bestehende Warenkorbsystem. Dadurch werden Rundungsdifferenzen zwischen Warenkorb und Bestellbestätigung vermieden.</p>
</li>
</ul>
</div>
<h3 id="_zahlungen" class="discrete">Zahlungen</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Aufträge » Neue Zahlungen (Testphase)</strong> wurde die neue Filterkomponente sowohl für die Übersicht als auch die Ansicht <strong>Zahlung teilen</strong> hinzugefügt.</p>
</li>
<li>
<p>Der Filter <strong>Externe Auftrags-ID</strong> wurde in der Ansicht <strong>Zahlung teilen</strong> hinzugefügt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Anlage von eBay-Aufträgen werden nun die Standort- und Buchhaltungseinstellungen insofern berücksichtigt, als bei einem Auftrag, zu dem laut Einstellungen eine Netto-Rechnung erzeugt werden soll, die Preise von eBay auch als Netto-Preise im Auftrag hinterlegt werden.</p>
<div class="paragraph">
<p>Dadurch wird auch der Fall berücksichtigt, dass du in dem entsprechenden Land gemeldet bist und die MwSt. selbst abführst.</p>
</div>
<div class="paragraph">
<p>Falls in den Buchhaltungseinstellungen für Ausfuhrlieferungen eingestellt ist, dass eine Brutto-Rechnung erstellt werden soll, werden die Preise als Brutto-Preise am Auftrag hinterlegt.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Adressen konnten in manchen Fällen nach dem Ändern der Groß-und Kleinschreibung nicht gespeichert werden. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_export_2" class="discrete">Export</h3>
<div class="ulist">
<ul>
<li>
<p>Im Export-Typ <strong>Bestellwesen</strong> hat die englische Übersetzung für den Filter Lieferdatum des Auftrages gefehlt. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man in einem Plugin-Set den Namen des Plugin-Sets ändert, wird die Änderung jetzt direkt in der Seitennavigation angezeigt.</p>
</li>
<li>
<p>Beim Aktualisieren von Plugins werden die Einträge in der To-Do-Liste jetzt in der richtigen Reihenfolge angezeigt.</p>
</li>
</ul>
</div>
<h3 id="_zahlungen_2" class="discrete">Zahlungen</h3>
<div class="ulist">
<ul>
<li>
<p>Im <strong>Menü Aufträge » Neue Zahlungen (Testphase)</strong> war es in der Suche nicht möglich, ein Datum für die Datumsfilter auszuwählen. Dies wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/axytosinvoice_54780" target="_blank" rel="noopener">axytos Rechnungskauf 3.0</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/b2bshop_6574" target="_blank" rel="noopener">B2B Shop</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.36</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/infinityscroller_6660" target="_blank" rel="noopener">Endlos-Scrollen in Artikellisten</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/etsy_4689" target="_blank" rel="noopener">Etsy</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googleanalyticsgtag_54921" target="_blank" rel="noopener">Google Analytics GTAG</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.5.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googletagmanagerultimate_54789" target="_blank" rel="noopener">Google Tag Manager + Conversion API - 8 Tools in einem</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.2</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Der Konfigurator muss erneut durchlaufen werden.</p>
</li>
<li>
<p>Nutze beim Import im Google Tag Manager die Option <strong>Zusammenführen</strong>, wenn du eigene Anpassungen an der Konfiguration vorgenommen hast</p>
</li>
<li>
<p>Nutze die Option <strong>Überschreiben</strong>, wenn du die Standardkonfiguration verwendest</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.36</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/matrixvarianten_6620" target="_blank" rel="noopener">Mehrere Varianten gleichzeitig in den Warenkorb legen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent Toolbox</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.6.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/payone_5434" target="_blank" rel="noopener">PAYONE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/pospaymentmethodrenaming_6813" target="_blank" rel="noopener">plentyPOS Zahlungsarten</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytcustomitemlistpages_54920" target="_blank" rel="noopener">Quick &amp; Easy Artikelliste für Newsletter Kampagnen, Aktionen, Direktvertrieb u.v.m.</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.9.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/skrill_5142" target="_blank" rel="noopener">Skrill</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.34</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/stripe_4904" target="_blank" rel="noopener">Stripe</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/trackingmanager_54743" target="_blank" rel="noopener">TrackingManager</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div></div>
</main>