<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_schritt_1_datenfelder_anlegen_und_zuordnung_wählen"><span>1.</span><span> Schritt 1: Datenfelder anlegen und Zuordnung wählen</span></a></li>
<li><a href="#_schritt_2_den_physischen_warenbestand_berechnen"><span>2.</span><span> Schritt 2: Den physischen Warenbestand berechnen</span></a></li>
<li><a href="#_schritt_3_den_wert_ändern"><span>3.</span><span> Schritt 3: Den Wert ändern</span></a></li>
<li><a href="#_elastischer_export"><span>4.</span><span> Elastischer Export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Warenbestand täglich sichern</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du möchtest deinen Warenbestand täglich sichern und somit ein Backup deiner Daten erstellen können? In diesen Best Practices zeigen wir dir Schritt für Schritt, wie man den Bestand von zwei Lagern addiert und schließlich den Warenbestand zu einem beliebigen Zeitpunkt ermittelt.</p>
</div>
<div class="paragraph">
<p>Der Prozess geschieht über den Export und beginnt mit der Bearbeitung der Datenfelder im FormatDesigner. In einem ersten Schritt wird hier als Beispiel das Format Warenbestand vom Typ Item angelegt und eine Zuordnung gewählt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_schritt_1_datenfelder_anlegen_und_zuordnung_wählen">1. Schritt 1: Datenfelder anlegen und Zuordnung wählen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » FormatDesigner</strong>.</p>
</li>
<li>
<p>Falls noch nicht vorhanden, lege das Format <strong>Warenbestand</strong> vom Typ Item an.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Übersicht der Datenfelder wird geöffnet.</p>
</li>
<li>
<p>Wähle das Feld <strong>ItemDescription</strong> und in dessen Untermenü das Feld <strong>name</strong>.<br>
→ Das Feld wird auf der linken Seite angelegt.</p>
</li>
<li>
<p>Lege darunter alle weiteren Datenfelder an.</p>
</li>
<li>
<p>Klicke in jeder Spalte auf den Pfeil <strong>Zuordnung</strong> (siehe Screenshot der Datenfelder).</p>
</li>
<li>
<p>Wähle für die Datenfelder Item.id, Variation.id und ItemDescription.name die Zuordnung <strong>Vorgabe durch Export</strong>.</p>
</li>
<li>
<p>Wähle für alle anderen Datenfelder das jeweilige Lager als Zuordnung.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div id="bild-warenwirtschaft" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/einstellungen-zuordnung.png" alt="einstellungen zuordnung">
</div>
<div class="title">Bild 1. Zuordnung wählen</div>
</div>
<div class="paragraph">
<p>Die Übersicht der Datenfelder für den Warenbestand wird angezeigt.</p>
</div>
<div id="bild-warenwirtschaft" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/datenfelder-warenbestand.png" alt="datenfelder warenbestand">
</div>
<div class="title">Bild 2. Datenfelder des Warenbestandes</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_schritt_2_den_physischen_warenbestand_berechnen">2. Schritt 2: Den physischen Warenbestand berechnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In einem nächsten Schritt wird der physische Warenbestand berechnet. Haben beide Lager einen positiven Warenbestand, wird er addiert. Hat aber eines von beiden Lagern einen negativen Warenbestand, wird er subtrahiert.<br>
Weise den Lagern a und b das jeweilige Lager zu und addiere den Netto-Warenbestand und den physischen Warenbestand.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_schritt_3_den_wert_ändern">3. Schritt 3: Den Wert ändern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das folgende Beispiel zeigt, wie der Wert des physischen Warenbestandes VariationStock.physicalStock geändert wird (siehe Screenshot der Datenfelder).</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle in der Übersicht der Datenfelder ein Datenfeld aus dem Bereich Lager (VariationStock).<br>
→ Die Zuordnung für das Lager wird eingeblendet.</p>
</li>
<li>
<p>Klicke rechts auf <strong>Wert ändern</strong>, um den Wert anzupassen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Anschließend kannst du die Lager zuordnen, wie im folgenden Screenshot dargestellt.</p>
</div>
<div id="bild-warenwirtschaft" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/lager-zuordnen.png" alt="lager zuordnen">
</div>
<div class="title">Bild 3. Wert ändern</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_elastischer_export">4. Elastischer Export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Elastischen Export kann eine Uhrzeit festgelegt werden, zu der die Datei täglich auf dem FTP-Server abgelegt wird. Lege dazu im Menü <strong>Daten » Elastischer Export</strong> einen neuen Elastischen Export an. Weitere Infos dazu, wie du einen FTP-Zugang einrichtest, findest du <a href="/basics/admin-aufgaben/ftpz-zugang#_ftp_zugang_einrichten">hier</a>.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke im Menü <strong>Daten » Elastischer Export</strong> auf <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Wähle im Feld <strong>Typ</strong> die Option <strong>Lager</strong>.</p>
</li>
<li>
<p>Wähle im Feld <strong>Bereitstellung</strong> die Option <strong>FTP</strong>.</p>
</li>
<li>
<p>Fülle die übrigen Felder aus wie im folgenden Beispiel aufgeführt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div id="bild-warenwirtschaft" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/elastischer-export.png" alt="elastischer export">
</div>
<div class="title">Bild 4. Elastischen Export anlegen</div>
</div>
<div class="paragraph">
<p>Nun werden deine Warenbestände täglich auf deinem FTP-Server gesichert und du kannst sie dir jederzeit ansehen.</p>
</div>
</div>
</div>
</main>