<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: Bestand umbuchen / korrigieren</h1><div id="best-practice-bestand-korrigieren" class="paragraph adoc">
<p>Unresolved directive in &lt;stdin&gt; - include::../../../_best-practices/warenwirtschaft/best-practice-bestand-korrigieren.adoc[leveloffset=1]</p>
</div>
</main>