<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Inventur per Export und Import erfassen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Warenbestände exportieren</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Warenbestände anpassen</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Warenbestände importieren</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Inventur bei aktiviertem Inventurmodus vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Inventurmodus aktivieren</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Warenbestand exportieren</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Warenbestand im Inventurmodus leeren</span></a></li>
<li><a href="#900"><span>2.4.</span><span> Warenbestand buchen</span></a></li>
<li><a href="#1000"><span>2.5.</span><span> Inventurmodus aufheben</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>3.</span><span> Inventur mit der plentymarkets App durchführen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Inventur vornehmen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Inventur bezeichnet die Erfassung des Lagerbestandes, d.h. sowohl des Soll- als auch des Ist-Bestandes, zu einem bestimmten Zeitpunkt. Dabei wird ein Bestandsverzeichnis angelegt, das alle Artikelbestände auflistet.</p>
</div>
<div class="paragraph">
<p>Diese Seite beschreibt, wie du eine Inventur durchführst. Zum einen wird beschrieben, wie du eine Inventur im Menü <strong>Datenaustausch</strong> durchführst. Zum anderen erfährst du, wie der <strong>Inventurmodus</strong> funktioniert und wie du diesen Modus verwendest, wenn du deinen gesamten Warenbestand löschen und neu einbuchen möchtest.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Inventur nur mit Dynamischem Import und Dynamischem Export</div>
<div class="paragraph">
<p>Die Inventur kann nur anhand des <strong>Dynamischen Imports</strong> und des <strong>Dynamischen Exports</strong> durchgeführt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Inventur per Export und Import erfassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Inventur per Datenaustausch erfolgt in mehreren Schritten. Zunächst exportierst du die aktuellen Warenbestände des Systems. In der Datei oder einer Kopie davon passt du die Bestandsmengen anschließend an den tatsächlichen Istzustand deines Lagers an und importierst die korrigierten Daten wieder in dein System.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Datenformat Stock vorab kennenlernen und Testlauf durchführen</div>
<div class="paragraph">
<p>Beachte die Hinweise im Handbuch zum Datenformat <a href="/daten/export-import/datenformate/stock">Stock</a> – insbesondere bevor du durch einen Import Bestände überschreibst. Anhand eines Testimports mit nur einer Variante kannst du prüfen, ob der Import das gewünschte Ergebnis liefert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Warenbestände exportieren</h3>
<div class="paragraph">
<p>Im ersten Schritt exportierst du deine aktuellen Warenbestände im Menü <strong>Daten » Dynamischer Export</strong> mit dem Datenformat <strong>Stock</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Stock-Export erfolgt nur für ein Lager</div>
<div class="paragraph">
<p>Mit dem Datenformat <strong>Stock</strong> kann nur der Bestand eines Lagers exportiert werden, deshalb muss eine Lager-ID angegeben werden. Das Lager wählst du im Tab <strong>Filter</strong> des Datenformats. Wenn du kein Lager angibst, wird standardmäßig der Bestand des Lagers mit der niedrigsten ID exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Datenexport durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <a href="/daten/export-import/daten-exportieren">Daten » Dynamischer Export</a>.</p>
</li>
<li>
<p>Öffne das Untermenü des Datenformats <a href="/daten/export-import/datenformate/stock">Stock</a>, indem du auf das Plus klickst. Falls noch kein Untermenü existiert, klicke auf <strong>Neues Datenformat</strong>, um dieses <a href="/daten/export-import/datenformate#2-2">Datenformat</a> anzulegen.</p>
</li>
<li>
<p>Hake die folgenden Datenfelder an: VariationID, LocationID, Batch (optional), BestBeforeDate (optional), PurchasePrice, Stock, WarehouseID.</p>
</li>
<li>
<p>Nimm rechts weitere Einstellungen vor, um den Export der Daten weiter einzugrenzen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Hake das Datenfeld <strong>WarehouseID</strong> an und wähle ein Lager aus der Dropdown-Liste.<br>
→ Standardmäßig ist das Lager mit der niedrigsten LagerID (WarehouseID) eingestellt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf das Zahnrad <strong>Daten exportieren</strong>, um eine CSV-Datei zu exportieren.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Unterschied zwischen dem Datenfeld <strong>WarehouseID</strong> und dem Filter <strong>Lager</strong></div>
<div class="paragraph">
<p>Mit dem Filter <strong>Lager</strong> wählst du, für welches Lager der Bestand exportiert wird. Das Datenfeld <strong>WarehouseID</strong> gibt lediglich die ID des Lagers aus. Das Datenfeld <strong>WarehouseID</strong> hat aber keinen Einfluss darauf, für welches Lager Bestand exportiert wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Du erhältst eine CSV-Datei, die du für den anschließenden Import anpassen musst.</p>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Warenbestände anpassen</h3>
<div class="paragraph">
<p>Die Datei, die du soeben exportiert hast, passt du jetzt an. Bei einer Inventur prüfst du den physischen Bestand deiner Lager und gleichst ihn mit dem physischen Bestand ab, der im System gespeichert ist. Die Spalte <strong>Stock</strong> im Datenformat <strong>Stock</strong> enthält den physischen Bestand und ist die Spalte, die du anpassen musst.</p>
</div>
<div class="paragraph instruction">
<p>Stock-Datei anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Ermittele den Ist-Zustand deines Bestandes.</p>
</li>
<li>
<p>Öffne die exportierte Stock-Datei.</p>
</li>
<li>
<p>Trage die aktuellen physischen Bestandswerte in die Spalte <strong>Stock</strong> ein.</p>
</li>
<li>
<p>Speichere die Änderungen an der Datei.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Warenbestände importieren</h3>
<div class="paragraph">
<p>Nun importierst du den in der CSV-Datei berichtigten Bestand in dein plentymarkets System. Der Import erfolgt mit einer CSV- oder Text-Datei.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Physischer Warenbestand wird überschrieben!</div>
<div class="paragraph">
<p>Beim Import werden die aktuellen physischen Warenbestände überschrieben, d.h. dein vorheriger Warenbestand ist nicht wieder herstellbar! Reservierte Warenbestände bleiben erhalten und werden nicht importiert. Wenn du nicht den kompletten physischen Warenbestand importieren möchtest, sondern nur bei einzelnen Varianten den Bestand nach oben korrigieren, kannst du Wareneingänge per Datenimport hinzufügen. Verwende das Spezialformat <a href="/daten/export-import/datenformate/incomingitems">IncomingItems</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Datenimport durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <a href="/daten/export-import/daten-importieren">Daten » Dynamischer Import</a>.</p>
</li>
<li>
<p>Wähle die Einstellungen gemäß Tabelle 1.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Importeinstellungen für dynamischen Import</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldtrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trennzeichen wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenformat Stock wählen.<br>
Wenn du mehrere Stock-Formate hast, achte darauf, dass jedes Format eine Lagereinstellung enthält und nur die Daten dieses Lagers geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn die Spalte <strong>WarehouseID</strong> in der Datei nicht enthalten oder leer ist, wird der Bestand für das hier gewählte Lager importiert. Wenn die Spalte <strong>WarehouseID</strong> Werte enthält, die größer als 0 sind, wird der Bestand für dieses Lager importiert. Auf diese Weise kann gleichzeitig auch Bestand für mehrere Lager importiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode ist ein optionales Abgleichfeld. Ein Barcode-Format wählen, anhand dessen die Varianten aus dem Datenformat mit den Varianten im System abgeglichen werden sollen. Wenn keine Zuordnung zu einer Variante erfolgt, wird die Zeile übersprungen. Wenn die Import-Datei die Varianten-ID enthält, muss kein Barcode gewählt werden, da die ID zur Zuordnung genügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die zu importierende Datei wählen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Unter <strong>Daten » Dynamischer Import » Untermenü: Bearbeitungsstatus</strong> erhältst du detaillierte Meldungen zum Datenimport.</p>
</div>
<div class="paragraph">
<p>Die bei der Inventur vorgenommenen Korrekturen kannst du für einen Artikel im <strong>Tab: Bestand » Tab: Warenbewegung</strong> des Artikels einsehen.
Der Import wird außerdem unter <strong>Waren » Wareneingänge</strong> als ein Eintrag aufgelistet und die geänderten Warenbestände können im Eintrag nachvollzogen werden (Bild 1).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Inventur-vornehmen-01.png" alt="DE Inventur vornehmen 01">
</div>
<div class="title">Bild 1. Variantenliste eines Wareneingangs einsehen</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Inventur bei aktiviertem Inventurmodus vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den Einstellungen eines Lagers gibt es die Option <strong>Inventurmodus aktiv</strong>. Damit kannst du den Warenbestand eines Lagers für die Dauer der Inventur einfrieren. Einfrieren bedeutet, dass der physische Bestand, der für Varianten gespeichert ist, unverändert bleibt und keine Warenbewegungen registriert oder Warenberechnungen durchgeführt werden. <br>
Die Inventur im Inventurmodus erfolgt am besten in vier Schritten. Zunächst wird der Inventurmodus aktiviert. Dann wird der aktuelle Bestand exportiert. Anschließend werden alle Warenbestände geleert und neu eingebucht. Dank des Einfrierens der Bestände werden im Inventurmodus weder die geleerten Bestände noch die neuen Bestände an Varianten übertragen. Wenn du alle Inventurbestände ins System eingebucht hast und den Inventurmodus deaktivierst, werden die neuen Bestände an die Varianten übertragen. Der zuvor eingefrorene Bestand wird also überschrieben. Der reservierte Bestand wird auch im Inventurmodus korrekt geführt. Beim Eingang neuer Aufträge erfolgt also eine Reservierung. Beachte zwei Punkte, wenn der Inventurmodus aktiviert ist:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Da der physische Bestand im Inventurmodus nicht aktualisiert wird, kann es zu Überverkäufen kommen.</p>
</li>
<li>
<p>Buche trotzdem keinen Warenausgang, während der Inventurmodus aktiv ist, da die Warenberechnung nicht erfolgt.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Inventurmodus erst nach Einbuchen der Inventurbestände deaktivieren</div>
<div class="paragraph">
<p>Wenn der Inventurmodus deaktiviert wird, während der Bestand leer ist, können Listings und Verkäufe auf Märkten deaktiviert werden. Deaktiviere deshalb den Inventurmodus erst, wenn du die Bestände, die du bei der Inventur aufgenommen hast, eingebucht hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="600">2.1. Inventurmodus aktivieren</h3>
<div class="paragraph">
<p>Aktiviere den Inventurmodus für Lager, in denen du eine Inventur durchführen möchtest. Der Inventurmodus friert den physischen Warenbestand ein.</p>
</div>
<div class="paragraph instruction">
<p>Inventurmodus aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager » Lager wählen » Untermenü: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Inventur-Modus aktiv</strong> (Häkchen setzen).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Inventur-vornehmen-02.png" alt="DE Inventur vornehmen 02">
</div>
<div class="title">Bild 2. Inventurmodus aktivieren</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Lager im Inventurmodus werden gekennzeichnet</div>
<div class="paragraph">
<p>Der Name deines Lagers wird erweitert. Dabei wird je nach Länge des Lagernamens entweder <strong>(INVENTORY MOD)</strong>, <strong>(INVENTORY)</strong> oder <strong>(I)</strong> an den Namen angehängt, damit an allen Stellen ersichtlich ist, dass sich dieses Lager im Inventurmodus befindet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Inventur-vornehmen-03.png" alt="DE Inventur vornehmen 03">
</div>
<div class="title">Bild 3. Kennzeichnung für Lager im Inventurmodus</div>
</div>
</div>
<div class="sect2">
<h3 id="700">2.2. Warenbestand exportieren</h3>
<div class="paragraph">
<p>Exportiere zunächst die Bestände der Lager, in denen du eine Inventur durchführst. Nutze hierfür das Datenformat <strong>Stock</strong>. Du musst für jedes Lager einen Export durchführen.</p>
</div>
<div class="paragraph instruction">
<p>Bestand exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <a href="/daten/export-import/daten-exportieren">Daten » Dynamischer Export</a>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neues Datenformat</strong>.</p>
</li>
<li>
<p>Wähle den Datenformat-Typ <strong>Stock</strong>.</p>
</li>
<li>
<p>Trage einen Namen für das Datenformat ein.</p>
</li>
<li>
<p>Wähle die Einstellungen gemäß Tabelle 2. <br>
→ Weitere Datenfelder und Filter sind optional.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Notwendige Datenfelder für eine Inventur</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Beschreibung</th>
<th class="tableblock halign-left valign-top">Importaktion</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die plenty-ID einer Variante aus und ist deshalb Pflicht für die Zuordnung des Bestands.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die physische Bestandsmenge aus und durch die Einstellung <strong>Import</strong> im Datenformat wird beim Import der bisherige physische Bestand überschrieben.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die ID des Lagers aus und sorgt dafür, dass der Bestand einem Lager zugeordnet werden kann.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die ID des Lagerorts aus und ist notwendig, damit der Bestand einem Lagerort zugeordnet werden kann.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationString</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt den Namen einer Variante komplett aus. Das Datenfeld hilft häufig beim Erkennen der Variante.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock">Tab Filter des Datenformats</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, von welchem Lager der Bestand exportiert wird. Ohne diesen Filter wird immer der Bestand des Lagers mit der niedrigsten ID exportiert.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.3. Warenbestand im Inventurmodus leeren</h3>
<div class="paragraph">
<p>Im ersten Schritt leerst du nun alle Bestände und Warenbewegungen. Der reservierte Bestand bleibt erhalten. Kopiere die soeben exportierte Datei.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warenbestände vor dem Löschen als Backup exportieren</div>
<div class="paragraph">
<p>Bei diesem Verfahren werden alle Warenbestände gelöscht! Das bedeutet, dass das Lager zunächst komplett geleert wird. Kopiere daher deinen soeben ausgeführten Stock-Export, bevor du mit diesem Verfahren beginnst (siehe Kapitel 2.1). Damit stellst du, wenn nötig, den alten Warenbestand wieder her.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Warenbestand leeren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne eine Kopie deines Stock-Exports.</p>
</li>
<li>
<p>Trage 0 im Datenfeld <strong>Stock</strong> für alle Varianten ein.</p>
</li>
<li>
<p>Speichere die Datei mit dem genullten physischen Bestand.</p>
</li>
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Format</strong> das Datenformat Stock, das du für die Inventur exportiert hast.</p>
</li>
<li>
<p>Beachte für weitere Einstellungen Tabelle 3.</p>
</li>
<li>
<p>Wähle unter <strong>Datei</strong> deine Datei mit den genullten Beständen.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Dynamischer Import des Formats <strong>Stock</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldtrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trennzeichen wählen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenformat Stock wählen.<br>
Wenn du mehrere Stock-Formate hast, achte darauf, dass jedes Format eine Lagereinstellung enthält und nur die Daten dieses Lagers geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kann leer bleiben für diesen Import, da die Spalte WarehouseID im Datenformat enthalten sein sollte. <br>
Wenn die Spalte <strong>WarehouseID</strong> in der Datei nicht enthalten oder leer ist, wird der Bestand für das hier gewählte Lager importiert. Wenn die Spalte <strong>WarehouseID</strong> Werte enthält, die größer als 0 sind, wird der Bestand für dieses Lager importiert. Auf diese Weise kann gleichzeitig auch Bestand für mehrere Lager importiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kann leer bleiben für diesen Import. <br>
Barcode ist ein optionales Abgleichfeld. Ein Barcode-Format wählen, anhand dessen die Varianten aus dem Datenformat mit den Varianten im System abgeglichen werden sollen. Wenn keine Zuordnung zu einer Variante erfolgt, wird die Zeile übersprungen. Wenn die Import-Datei die Varianten-ID enthält, muss kein Barcode gewählt werden, da die ID zur Zuordnung genügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die zu importierende Datei wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.4. Warenbestand buchen</h3>
<div class="paragraph">
<p>Nun überträgst du die aktuellen Lagerbestände, die du bei der Inventur aufgenommen hast, in das System. Hierfür nutzt du wieder das Datenformat Stock. Trage die aktuellen physischen Bestände in die genullte Kopie deines Stock-Exports ein und speichere die Datei mit den aktuellen Beständen. Der physische Bestand muss in der Spalte <strong>Stock</strong> eingetragen werden.</p>
</div>
<div class="paragraph instruction">
<p>Warenbestand buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne eine Kopie deines Stock-Exports.</p>
</li>
<li>
<p>Trage die aktuellen physischen Bestandsmengen im Datenfeld <strong>Stock</strong> für alle Varianten ein.</p>
</li>
<li>
<p>Speichere die Datei mit den aktuellen physischen Beständen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Wähle das Datenformat Stock, das du für die Inventur exportiert hast.</p>
</li>
<li>
<p>Beachte für weitere Einstellungen die Tabelle 3.</p>
</li>
<li>
<p>Wähle unter <strong>Datei</strong> deine Datei mit den aktuellen Beständen.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.5. Inventurmodus aufheben</h3>
<div class="paragraph">
<p>Im letzten Schritt hebst du den Inventurmodus wieder auf und die aktuellen Bestände werden an die Varianten übertragen.</p>
</div>
<div class="paragraph instruction">
<p>Inventurmodus deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager » Lager wählen » Untermenü: Einstellungen</strong>.</p>
</li>
<li>
<p>Entferne das Häkchen bei <strong>Inventur-Modus aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellung. <br>
→ Dein physischer Warenbestand wird neu berechnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Deaktiviere den Inventurmodus erst, wenn die Inventur abgeschlossen ist. Wird der Inventurmodus vorzeitig beendet, kann dies zu Fehlern im Warenbestand führen sowie Angebote auf Märkten oder im Webshop beenden.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">3. Inventur mit der plentymarkets App durchführen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Inventur der Ware kann auch über die plentymarkets App durchgeführt werden. Wie das geht und welche Einstellungen du im Voraus konfigurieren musst, erfährst du auf der Handbuchseite <a href="/app/funktionen/lagerverwaltung/inventur">Inventur durchführen</a>.</p>
</div>
</div>
</div>
</main>