<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Lager planen</span></a></li>
<li><a href="#_lager_einrichten"><span>2.</span><span> Lager einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_allgemeine_lagerdaten_pflegen"><span>2.1.</span><span> Allgemeine Lagerdaten pflegen</span></a></li>
<li><a href="#_dimensionen_erstellen"><span>2.2.</span><span> Dimensionen erstellen</span></a></li>
<li><a href="#_lagerorte_generieren"><span>2.3.</span><span> Lagerorte generieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Lager einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden die Einstellungs- und Bearbeitungsmöglichkeiten für Lager beschrieben.
Sie erfahren, wie Sie ein neues Lager anlegen, um in Ihrem plentymarkets System Ihr Lager 1:1 nachzubilden.
Außerdem erfahren Sie, wie Sie Box-Regale als Zwischenlager für Sammelkommissionierungen erstellen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eine optimale Einrichtung des Lagers ist entscheidend für den Versandprozess und hilft Ihnen, Zeit zu sparen.
Nehmen Sie sich also vorab Zeit, um Ihr Lager sinnvoll und wegeoptimiert abzubilden.</p>
</li>
<li>
<p>Um alle Tools, z.B. auch das Tool <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyBase</a>, optimal zu nutzen, sollte jeder Lagerort mit einem <strong>Label</strong> mit Barcode versehen werden.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mindestens ein Lager wird zur Bestandspflege und für Aufträge benötigt</div>
<div class="paragraph">
<p>Jedes System hat zu Beginn 2 Beispiellager, ein Vertriebslager und ein zugehöriges Reparaturlager. Diese Lager können Sie umbenennen und weiter nutzen oder löschen und eigene Lager anlegen. Sie benötigen mindestens ein Lager in Ihrem System, um Wareneingänge zu buchen und Bestände zu pflegen. Ohne ein Lager können Sie also keine Bestände verwalten. Eingehende Aufträge werden je nach Artikelverfügbarkeit einem Lager zugeordnet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Lager planen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lager werden aus Dimensionen aufgebaut. Alle Dimensionen zusammen bilden das Layout Ihres Lagers. Die Dimensionen sind komplett frei-definierbar. Beim Anlegen der Dimensionen ist es jedoch wichtig, dass Sie Ihre kleinste Dimension als erstes erstellen und dann der Größe nach aufsteigend weitere Dimensionen erstellen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Beispieldimensionen übernehmen</div>
<div class="paragraph">
<p>In jedem Lager, egal ob Beispiellager oder neu-erstelltes Lager werden Ihnen im Layout 2 Beispieldimensionen angezeigt. Diese Dimensionen sind nicht gespeichert. Sie können die Dimensionen übernehmen, umbenennen oder entfernen. Zum Erstellen von Lagerorten benötigen Sie jedoch mindestens eine Dimension.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einteilung eines Lagers</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dimensionen bilden die grundsätzlichen Einteilungselemente Ihres Lagers. Aus den Dimensionen ergeben sich später die tatsächlichen Ebenen eines Lagers. Ebenen sind sozusagen die konkrete Anwendung einer Dimension. Wenn Sie z.B. eine Lagerhalle als Dimension in Ihrem Layout führen, stellen die Lagerhalle 1, Lagerhalle 2 und Lagerhalle 3 die konkrete Anwendung dar.<br>
<em>Hinweis</em>: Mindestens eine Dimension wird benötigt, um Lagerorte zu generieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerorte sind in plentymarkets keine Dimension. Lagerorte sind der konkrete Ablageplatz, an dem Ihre Produkte liegen. Sie benötigen mindestens eine Dimension, um Lagerorte zu generieren. Die Dimension ist dem Lagerort übergeordnet.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Eine wegeoptimierte Pickliste ergibt sich durch die Position der Lagerorte. Ob eine Dimension die Position von Lagerorten beeinflusst, bestimmen Sie durch Ihre Einstellung. Eine Pickliste beginnt mit der niedrigsten Position und wird aufsteigend sortiert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_lager_einrichten">2. Lager einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Einrichten eines Lagers gliedert sich in 3 grundsätzliche Schritte. Zunächst müssen Sie allgemeine Daten wie den Namen und Zweck des Lagers angeben. Anschließend pflegen Sie weitere allgemeine Daten, wie die Adresse des Lagers, ein. Im 2. Schritt richten Sie Dimensionen ein, in die Sie Ihr Lager unterteilen. Im letzten Schritt generieren Sie Ihre Lagerorte.</p>
</div>
<div class="sect2">
<h3 id="_allgemeine_lagerdaten_pflegen">2.1. Allgemeine Lagerdaten pflegen</h3>
<div class="paragraph">
<p>Egal, ob Sie die Beispiellager bearbeiten und zu Ihren Lagern machen oder ob Sie neue Lager hinzufügen, die folgenden Angaben pflegen Sie für jedes Lager.</p>
</div>
<div class="paragraph instruction">
<p>Neues Lager erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neues Lager</strong>.</p>
</li>
<li>
<p>Tragen Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Lagertyp</strong>.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Logistiktyp</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen, um das Lager anzulegen.<br>
→ Die Einstellungen des Lagers, in denen Sie weitere allgemeine Daten pflegen, werden geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das neue Lager wird alphabetisch in die Liste der Lager einsortiert.</p>
</div>
<div class="paragraph instruction">
<p>Allgemeine Lagerdaten pflegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager</strong>.</p>
</li>
<li>
<p>Öffnen Sie ein Lager.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen anhand Tabelle (<em>folgt</em>) vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_dimensionen_erstellen">2.2. Dimensionen erstellen</h3>
<div class="paragraph">
<p>Richten Sie Dimensionen ein, um Ihr Lager in strukturelle Elemente zu gliedern. Mindestens eine Dimension wird zum Generieren von Lagerorten benötigt. Diese Dimension kann z.B. eine Halle sein.</p>
</div>
</div>
<div class="sect2">
<h3 id="_lagerorte_generieren">2.3. Lagerorte generieren</h3>
<div class="paragraph">
<p>Generieren Sie Lagerorte, um die tatsächlichen Plätze zum Lagern Ihrer Ware angeben zu können. Varianten können nur auf konkrete Lagerorte gebucht werden und nicht auf Dimensionen.</p>
</div>
</div>
</div>
</div>
</main>