<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Lager planen</span></a></li>
<li><a href="#200"><span>2.</span><span> Lager einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Lager erstellen</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Lagereinstellungen vervollständigen und bearbeiten</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Regal mit Böden und Lagerorten einrichten</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Regale oder Böden kopieren</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.</span><span> Box-Regale zum Packen einrichten</span></a></li>
<li><a href="#800"><span>4.</span><span> Lagerorte labeln</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Lager einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden verschiedene Einstellungs- bzw. Bearbeitungsmöglichkeiten für Lager beschrieben.
Sie erfahren, wie Sie ein neues Lager anlegen, um in Ihrem plentymarkets System Ihr Lager 1:1 nachzubilden.
Außerdem erfahren Sie, wie Sie Box-Regale als Zwischenlager für Sammelkommissionierungen erstellen.</p>
</div>
<div class="paragraph">
<p>Sie können Ihr Lager 1:1 in Ihrem plentymarkets-System nachbilden. Dies erfordert jedoch etwas Planung.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die optimale Einrichtung des Lagers ist entscheidend für den Versandprozess und hilft Ihnen, Zeit zu sparen.
Nehmen Sie sich also vorab die Zeit, um Ihr Lager sinnvoll und wegeoptimiert abzubilden.</p>
</li>
<li>
<p>Um alle Tools, z.B. auch das Tool <strong><a href="/basics/automatisierung/plentymarkets-client">plentymarkets Client</a></strong>, optimal nutzen zu können, sollte jeder Lagerort mit einem <strong>Label</strong> mit Barcode versehen werden.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Lager planen</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mindestens ein Lager erstellen</div>
<div class="paragraph">
<p>Es muss mindestens ein Lager in Ihrem System angelegt sein, um Wareneingänge zu buchen und Bestände zu pflegen. Eingehende Aufträge werden je nach Artikelverfügbarkeit einem Lager zugeordnet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bei der Aufteilung Ihres Lagers stehen Ihnen verschiedene Einheiten zur Verfügung. Nachfolgend eine Auflistung, die mit der größten Einheit beginnt und dann immer weiter ins Detail geht:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einteilung eines Lagers</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einheit</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erläuterung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das gesamte Lager.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zone</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das Lager wird in verschiedene Zonen unterteilt. Lagern Sie Artikel, die eher selten bestellt werden, oder Saisonartikel in der am weitesten entfernten Zone (in Bild 1 ist das Zone 3). Wenn aus dieser Zone keine Artikel eingelagert oder entnommen werden müssen, kann diese Zone dann beim Weg durch das Lager ausgelassen werden. Häufig benötigte Artikel gehören in die dem Packtisch am nächsten liegende Zone.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Regal</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Jede Zone umfasst ein oder mehrere Regale. Beispielsweise besteht jede Zone in der Illustration aus vier verschiedenen Regalen (Bild 1, unten).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ebene</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Jedes Regal besteht aus einer oder mehreren Ebenen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Regalboden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Je nach Aufbau Ihres Regals besteht eine Ebene aus einem oder mehreren Regalböden. Beispielsweise besteht das Regal in der Illustration aus zwei Regalböden pro Ebene (Bild 1, unten).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ihre Artikel werden an bestimmten Lagerorten aufbewahrt. Jeder Regalboden bietet Platz für ein oder mehrere Lagerorte. Beispielsweise sind in der Illustration drei Lagerorte pro Regalboden zu sehen (Bild 1, unten).</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Eine wegeoptimierte Pickliste orientiert sich an der Reihenfolge der folgenden Parameter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Position des Regals</p>
</li>
<li>
<p>Position des Lagerorts<br>
→ jeweils beginnend bei der niedrigsten Position</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Überlegen Sie sich also, in wie viele Zonen Sie Ihr Lager unterteilen möchten. Bis zu 20 Zonen sind möglich.</p>
</div>
<div class="paragraph">
<p>Wenn Sie den Weg des Lagerwagens durch das Lager ändern möchten, müssen Sie keine Namen, sondern Positionen ändern.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Priorität der Lagerorte einzig über die Position der Lagerorte bestimmen</div>
<div class="paragraph">
<p>Wenn Sie möchten, dass einzig die Position der Lagerorte für die Priorität der Lagerorte berücksichtigt wird, müssen alle Regale die selbe Position haben und alle Böden auf der selben Ebene liegen. Achten Sie dann darauf, dass die Lagerortposition eineindeutig ist und keine Lagerortposition doppelt vergeben wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bild 1 zeigt ein Beispiel einer wegeoptimierten Planung. Sie können die Aufteilung natürlich auch anders vornehmen.
Ein Regal besteht aus mehreren Regalböden. Die Böden können nebeneinander oder übereinander liegen.
Um übereinanderliegende Böden abzubilden, werden den Böden Ebenen zugeordnet.
Im oberen Teil des Bildes wird nur eine Ebene der Regalböden dargestellt.
Für weitere Ebenen ergeben sich weitere Regalböden sowie Lagerorte (Bild 1, unten).
Der Name eines Regals und seine Positionsnummern gelten jeweils für alle Ebenen des Regals.</p>
</div>
<div class="paragraph">
<p>Die Lagerortpositionen in Bild 1 sind bei den weißen Ziffern identisch mit den Namen der Lagerorte und entsprechend der Reihenfolge in Fahrtrichtung des Lagerwagens gewählt.
Wo die Regale gegenläufig zur Systematik der Lagerkonfiguration angefahren werden, wurden die Positionsnummern entsprechend angepasst. Die grünen Ziffern zeigen die wegeoptimiert angepassten Positionen der Lagerorte.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Lager-einrichten-01.png" alt="DE Lager einrichten 01">
</div>
<div class="title">Bild 1. Lager- und Laufwegplanung</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Planen Sie Ihre Konfiguration anhand einer Zeichnung</div>
<div class="paragraph">
<p>Nehmen Sie die Konfiguration Ihres Lagers anhand dieser Illustration vor oder erstellen Sie eine eigene Skizze mit den Gegebenheiten Ihres Lagers. Bauen Sie das Lager nach einer einprägsamen, logischen Systematik auf und vergeben Sie die Positionsnummern der Regale und der Lagerorte entsprechend des Weges, den der Lagerwagen durch das Lager nehmen soll.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Lager einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zum Einrichten eines Lagers gehört das Erstellen des Lagers selbst, aber auch das Erstellen der Regale und Regalböden bis hin zu den eigentlichen Lagerorten.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Lager erstellen</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Lager benennen</div>
<div class="paragraph">
<p>Lagernamen sind frei wählbar und können auch nach dem Anlegen des Lagers noch geändert werden. Allerdings erscheinen Lagernamen auch an anderen Stellen Ihres plentymarkets Systems, z.B. in der Auftragsübersicht oder auf einer Lager-Pickliste.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Neues Lager erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das kleine <strong>Dreieck</strong> rechts in der Zeile (Bild 2, Pos. 1).<br>
→ Der Button <strong>Neues Lager</strong> wird eingeblendet (Bild 2, Pos. 2).</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neues Lager</strong>.<br>
→ Das Fenster <strong>Neues Lager</strong> wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie die Einstellungen im Fenster <strong>Neues Lager</strong> ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen, um das Lager anzulegen.<br>
→ Das Lager wird nun alphabetisch sortiert unter <strong>System » Waren » Lager</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Lager-einrichten-02.png" alt="DE Lager einrichten 02">
</div>
<div class="title">Bild 2. Lager anlegen</div>
</div>
<div class="paragraph">
<p>Nachdem Sie das Lager angelegt haben, klicken Sie auf das kleine <strong>Plus</strong>, um die Untermenüs dieses Lagers zu sehen. Konfigurieren Sie weitere Einstellungen dieses Lagers in den Untermenüs <strong>Einstellungen</strong>, <strong>Regale</strong>, <strong>Box-Regale</strong> und <strong>Label</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Lagereinstellungen vervollständigen und bearbeiten</h3>
<div class="paragraph">
<p>Nachdem das Lager einen Namen erhalten hat, vervollständigen Sie die Informationen zum Lager.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Lager löschen vorsichtig verwenden</div>
<div class="paragraph">
<p>Es ist möglich, bereits angelegte Lager wieder zu löschen. Wenn in das Lager bereits Bestände eingebucht wurden, werden diese Bestände ebenfalls gelöscht. Es besteht außerdem die Möglichkeit alle Warenbestände aus einem Lager zu löschen. In dem Fall bleibt das Lager erhalten, ist aber komplett geleert. Eine Wiederherstellung der Bestände ist nicht möglich. Verwenden Sie die Löschfunktionen in jedem Fall mit Vorsicht, da hier besonders viele Querverbindungen zu anderen Menüs, z.B. Listings, bestehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Lagereinstellungen vervollständigen und bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager » Lager wählen » Einstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die dabei die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Untermenü <strong>Einstellungen</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warenbestände komplett löschen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Löscht alle Warenbestände aus dem Lager. Verwenden Sie diese Funktion mit Vorsicht. Wie Sie im Fall einer Inventur am Besten vorgehen, erfahren Sie unter <strong><a href="/warenwirtschaft/inventur-vornehmen">Inventur vornehmen</a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Speichern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Speichert die Einstellungen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Löschen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Löscht das Lager aus dem System. Mit dem Löschen wird die Option angeboten, alte Nachbestellungen und Aufträge mit Status &lt; 7 des zu löschenden Lagers auf ein anderes Lager zu übertragen. Wird kein Lager gewählt, werden die alten Nachbestellungen mit dem Lager gelöscht und die Aufträge bleiben unverändert. In der Folge finden Sie Aufträge und Nachbestellungen eventuell nicht mehr, da Nachbestellungen eines nicht existentes Lagers im Grunde auch nicht bestehen können.<br>
<strong>Alternative</strong>: Wenn Sie nicht sicher sind, ob Sie ein Lager wirklich löschen sollen, können Sie alternativ das nicht mehr benötigte Lager zunächst auf den Lagertyp <strong>Reparaturlager</strong> umstellen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lager-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID des Lagers.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagername</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name des Lagers.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagertyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Je nach Zweck des Lagers einen Typ wählen: <br>
<strong>Vertrieb</strong> = Standardlager. Lager für den Verkauf mit den entsprechenden Automatismen wie Bestandsreservierung und Statuswechsel bei Aufträgen. <br>
<strong>Reparatur</strong> = Lager für Retourenartikel. Dieses Lager ist für Lager des Typs <strong>Vertrieb</strong> als <strong>Zugeordnetes Reparaturlager</strong> wählbar. <br>
<strong>Vorrat</strong> = Lager für Artikel, die auf Vorrat liegen. <br>
<strong>Umschlag</strong> = Kurzfristiges Lager für die Zuordnung der Artikel zur Zieladresse bei der Umladung von einem Transportmittel auf ein anderes. <br>
<strong>Verteiler</strong> = Auslieferungslager. <br>
<strong>Sonstiges</strong> = Sonderlager.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logistiktyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lagerverwalter. <br>
<strong>Eigenes Lager</strong> = Logistik wird vom eigenen Lager verwaltet. <br>
<strong>Amazon</strong> = Artikel werden über Amazon FBA Multi-Channel vertrieben. <br>
<strong>DHL Fulfillment</strong> = Artikel werden über DHL Fulfillment vertrieben. <br>
<strong>Rhenus</strong> = Artikel werden über Rhenus vertrieben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zugeordnetes Reparaturlager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier sind Lager des Typs <strong>Reparatur</strong> wählbar. Damit wird einem Lager ein Reparaturlager zugeordnet, in dem z.B. <strong>Retouren</strong> zur Reparatur eingelagert werden, damit defekte Artikel nicht mit dem normalen Lagerbestand in Berührung kommen. Wenn die Artikel repariert oder ausgetauscht wurden, ordnen Sie sie wieder dem Vertriebslager zu. <br>
Der Bestand in einem Reparaturlager ist nicht in den Webshop oder auf andere Portale übertragbar. Der Bestand im Reparaturlager bietet eine Übersicht, ob sich Geräte noch in der Reparatur befinden. Der Bestand kann also nicht verkauft werden. <br>
Das gewünschte Reparaturlager anlegen, damit es in diesem Dropdown-Menü verfügbar ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priorität</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Priorität für das Lager festlegen. Von <strong>** (niedrigste Priorität) bis **</strong> (höchste Priorität).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nach Versandprofil splitten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Option ist z.B. für die Erzeugung von <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#lieferauftrag">Lieferaufträgen</a></strong> auf <strong>Ja</strong> zu stellen, insofern damit gearbeitet wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Standort des Lagers. <br>
Hier stehen die Länder zur Auswahl, die als Lieferländer unter <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#100"><strong>System » Aufträge » Versand » Optionen » Tab: Lieferländer</strong></a> eingerichtet wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard-Zone</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Standard-Zone, die bei Lagereinstellungen, z.B. im Tab <strong>Lager</strong> der Artikeleinstellung, automatisch vorgewählt sein soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard-Lagerort-Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Standard-Lagerort-Typ, der bei Lagereinstellungen, z.B. im Tab <strong>Lager</strong> der Artikeleinstellung, automatisch vorgewählt sein soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verfügbarkeit mit Bestand</strong> bzw. <strong>ohne Bestand</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hiermit wird festgelegt, welche Verfügbarkeit angezeigt werden soll, wenn Bestand vorhanden bzw. nicht vorhanden ist. Diese Einstellung ist dominant gegenüber der im Tab <strong>Einstellungen</strong> einer Variante eingestellten Symbol für die <strong>Verfügbarkeit</strong>. Wichtig ist jedoch, dass im <strong>Einstellungen</strong> einer Variante die Einstellungen <strong>Verfügbar, Nicht verfügbar</strong> ebenfalls gewählt wurden. <br>
Nach jeder Änderung muss der Warenbestand neu berechnet werden. Diese Neuberechnung erfolgt im Menü <a href="/warenwirtschaft/warenbestaende-verwalten"><strong>Waren » Warenbestände</strong></a> durch Klick auf <strong>Warenbestände neu berechnen</strong>. <br>
Es werden die Verfügbarkeitssymbole angezeigt, die im Menü <strong>System » Artikel » Verfügbarkeit</strong> im Bereich <strong>Webshop-Symbol</strong> hinterlegt sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Notiz</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Notizen, also alles was Sie zusätzlich als Informationen zum Lager speichern möchten, eintragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inventur-Modus aktiv</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der <strong><a href="/warenwirtschaft/inventur-vornehmen#500">Inventur-Modus</a></strong> friert den Warenbestand des Lagers für die Dauer der Inventur ein.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Regal mit Böden und Lagerorten einrichten</h3>
<div class="paragraph">
<p>Regale sind unterteilt in Regalböden und Lagerorte. Die Regalböden liegen auf verschiedenen Ebenen.
Ihre Artikel und Varianten lagern letztendlich an Lagerorten, die sich auf den Regalböden befinden.
Um den genauen Standort eines Artikel oder einer Variante anzugeben, müssen Sie bis hin zu den Lagerorten alles einrichten.
Damit ein Regal erst einmal gespeichert wird, reicht es einen Namen einzutragen.
Das Regal kann dann jederzeit zur weiteren Bearbeitung geöffnet werden.
Jedoch kann in einem Regal ohne Boden und Lagerort keine Ware eingebucht oder ausgebucht werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Maximale Positionsnummer</div>
<div class="paragraph">
<p>Die höchstmögliche Position für ein Regal beträgt 16349 und für einen Lagerort 130999.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Regal einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager » Lager wählen » Untermenü: Regale</strong>.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü die Option <strong>Neues Regal</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Öffnen</strong>.<br>
→ Ein Bearbeitungsfenster wird geöffnet (Bild 3).</p>
</li>
<li>
<p>Tragen Sie einen <strong>Regalnamen</strong> ein.</p>
</li>
<li>
<p>Tragen Sie eine <strong>Position</strong> für das Regal ein.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Zone</strong> aus.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Bodennamen</strong> ein.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Ebene</strong> für den Regalboden.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Namen</strong> für den Lagerort ein.</p>
</li>
<li>
<p>Tragen Sie eine <strong>Position</strong> für den Lagerort ein.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Typ</strong> für den Lagerort.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Das Regal wird nun im Dropdown-Menü nach ID sortiert angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem Sie einen Regalboden gespeichert haben, wird ein Tab <strong>Neuer Boden</strong> geöffnet und so haben Sie die Möglichkeit, weitere Böden hinzuzufügen. Standardmäßig sind Felder für 3 Lagerorte pro Boden angegeben. Um weitere Lagerorte für einen Boden hinzuzufügen, klicken Sie auf das grüne Plus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Lager-einrichten-03.png" alt="DE Lager einrichten 03">
</div>
<div class="title">Bild 3. Regal einteilen</div>
</div>
</div>
<div class="sect2">
<h3 id="600">2.4. Regale oder Böden kopieren</h3>
<div class="paragraph">
<p>Sie können entweder ganze Regale, d.h. mit allen Böden und Lagerorten, oder nur Böden mit sämtlichen Lagerorten kopieren. Das Kopieren von Böden eignet sich dafür, einem Regal schnell weitere Böden hinzuzufügen. Das Kopieren von Regalen ist hilfreich, um ein Lager schnell mit Regalen zu bestücken.</p>
</div>
<div class="paragraph instruction">
<p>Regal kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager » Lager wählen » Untermenü: Regale</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Regal aus dem Dropdown-Menü.<br>
→ Das gewählte Regal dient als Kopiervorlage.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Öffnen</strong>.<br>
→ Ein Bearbeitungsfenster wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Kopieren</strong>.<br></p>
</li>
<li>
<p>Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen Namen ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen, um das Regal zu kopieren.<br>
→ Laden Sie das Menü neu, um das Regal in der Liste der Regale anzuzeigen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Regalboden kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager » Lager wählen » Untermenü: Regale</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Regal aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Öffnen</strong>.<br>
→ Ein Bearbeitungsfenster wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie einen Boden.<br>
→ Der gewählte Regalboden dient als Kopiervorlage.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Kopieren</strong>.<br></p>
</li>
<li>
<p>Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen Namen ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen, um den Boden zu kopieren.<br>
→ Ein Tab wird hinzugefügt.</p>
</li>
<li>
<p>Schließen Sie das Bearbeitungsfenster oder kopieren Sie den Boden erneut.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">3. Box-Regale zum Packen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Box-Regale dienen als Zwischenlager für Sammelkommissionierungen. Box-Regale stehen nur in <strong><a href="/basics/automatisierung/prozesse/aktionen#140">Prozessen</a></strong> zur Verfügung.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Maximale Boxenanzahl</div>
<div class="paragraph">
<p>Sie können maximal 100 Boxen pro Box-Regal einrichten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Box-Regal einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager » Lager wählen » Untermenü: Box-Regale</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Neues Box-Regal</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Einstellungen für Box-Regale</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bezeichnung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name für das Box-Regal</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Start-Box</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Startnummer der ersten Box des Box-Regals</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>End-Box</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Abschließende Nummer der letzten Box des Box-Regals</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">4. Lagerorte labeln</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Waren beim Einlagern schnell auf einen Lagerort zu buchen, ist es hilfreich, die Waren und den Lagerort zu scannen. Hierfür müssen Sie Ihre Lagerorte mit scanbaren Labels versehen. Bild 4 zeigt z.B. Einstellungen für ein seitenbreites Label.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Lager-einrichten-04.png" alt="DE Lager einrichten 04">
</div>
<div class="title">Bild 4. Label einrichten</div>
</div>
<div class="paragraph instruction">
<p>Labels für Lagerorte einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Lager » Lager wählen » Untermenü: Label</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 4.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nullpunkt des Koordinatensystems</div>
<div class="paragraph">
<p>Der Nullpunkt des Koordinatensystems liegt oben links. Die X-Achse verläuft von links nach rechts und die Y-Achse von oben nach unten.</p>
</div>
<div class="paragraph">
<p>Experimentieren Sie mit den Einstellungen, bis das Label Ihren Vorstellungen entspricht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Labeleinstellungen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Breite und Höhe des Papierformats, das für den Druck genutzt wird, in mm.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seitenrand</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Seitenränder bestimmen den Nullpunkt für die Platzierung der Label auf der Seite.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Label</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Breite und Höhe eines Lagerortlabels in mm.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rahmen zeichnen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Label wird gerahmt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeilen pro Seite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Zeilen pro Seite eintragen, die gedruckt werden sollen. Die Anzahl bestimmt, wie viele Labels auf einer Seite untereinander dargestellt werden. Die Höhe der Labels hat zusätzlich Einfluss auf die Anzahl, die untereinander dargestellt werden kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeilenabstand</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeilenabstand in mm bestimmt den Abstand zwischen den untereinander angeordneten Labels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Spalten pro Zeile</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Spalten pro Zeile eintragen, die gedruckt werden sollen. Die Anzahl bestimmt, wie viele Labels nebeneinander dargestellt werden. Achten Sie darauf, dass die Breite der Labels zulässt, dass die Labels entsprechend der Anzahl nebeneinander dargestellt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Spaltenabstand</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Spaltenabstand in mm bestimmt den Abstand zwischen nebeneinander angeordneten Labels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerort-Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Koordinaten für den Druck des Lagerort-Namens.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerort-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Koordinaten für den Druck der Lagerort-ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerort-Position</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Koordinaten für den Druck der Lagerort-Position.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name Regalboden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Koordinaten für den Druck des Regalbodennamens.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name Regal</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Koordinaten für den Druck des Regalnamens.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong><strong>Lagerort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Koordinaten für den Druck des Lagerort-Barcodes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Darstellung Wert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Barcode kann zusätzlich als alphanumerische Zeichenfolge dargestellt werden.<br>
<strong>unterhalb</strong> = Zeichenkette wird unterhalb des Barcodes dargestellt<br>
<strong>innerhalb</strong> = Zeichenkette wird innerhalb des Barcodes dargestellt<br>
<strong>nicht anzeigen</strong> = Zeichenkette wird nicht dargestellt</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachdem Sie Ihr Lager angelegt haben, ordnen Sie Varianten einem Lagerort zu und buchen anschließend den ersten Wareneingang für eine Variante, damit Bestand im System vorhanden ist.</p>
</div>
</div>
</div>
</main>