<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Lager planen</span></a></li>
<li><a href="#200"><span>2.</span><span> Lager einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Allgemeine Lagerdaten pflegen</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Dimensionen erstellen</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Lagerorte generieren</span></a></li>
<li><a href="#520"><span>2.4.</span><span> Lagerstrukturen anpassen</span></a></li>
<li><a href="#530"><span>2.5.</span><span> Limitierungen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>3.</span><span> Bestände und Lager löschen</span></a>
<ul class="sectlevel2">
<li><a href="#630"><span>3.1.</span><span> Bestände löschen</span></a></li>
<li><a href="#670"><span>3.2.</span><span> Lager löschen</span></a></li>
</ul>
</li>
<li><a href="#700"><span>4.</span><span> Box-Regale zum Packen einrichten</span></a></li>
<li><a href="#800"><span>5.</span><span> Lagerorte labeln</span></a></li>
<li><a href="#900"><span>6.</span><span> Eigenschaften von Lagerorten erstellen</span></a></li>
<li><a href="#1000"><span>7.</span><span> Eigenschaften von Lagerorten bearbeiten</span></a></li>
<li><a href="#1100"><span>8.</span><span> Eigenschaften Lagerorten mit der Gruppenfunktion zuordnen</span></a></li>
<li><a href="#_wo_finde_ich_meine_lager_und_lagerort_ids"><span>9.</span><span> Wo finde ich meine Lager- und Lagerort-IDs?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lager einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden die Einstellungs- und Bearbeitungsmöglichkeiten für Lager beschrieben.
Du erfährst, wie du ein neues Lager anlegst, um in deinem plentymarkets System dein Lager 1:1 nachzubilden.
Außerdem erfährst du, wie du Box-Regale als Zwischenlager für Sammelkommissionierungen erstellst.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eine optimale Einrichtung des Lagers ist entscheidend für den Versandprozess und hilft dir, Zeit zu sparen.
Nimm dir also vorab Zeit, um dein Lager sinnvoll und wegeoptimiert abzubilden.</p>
</li>
<li>
<p>Um alle Tools, z.B. auch das Tool <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyBase</a>, optimal zu nutzen, sollte jeder Lagerort mit einem <strong>Label</strong> mit Barcode versehen werden.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mindestens ein Lager wird zur Bestandspflege und für Aufträge benötigt</div>
<div class="paragraph">
<p>Jedes System hat zu Beginn 2 Beispiellager, ein Vertriebslager und ein zugehöriges Reparaturlager. Diese Lager kannst du umbenennen und weiter nutzen oder löschen und eigene Lager anlegen. Du benötigst mindestens ein Lager in deinem System, um Wareneingänge zu buchen und Bestände zu pflegen. Ohne ein Lager kannst du also keine Bestände verwalten. Eingehende Aufträge werden je nach Artikelverfügbarkeit einem Lager zugeordnet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Lager planen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lager werden aus Dimensionen aufgebaut. Alle Dimensionen zusammen bilden das Layout deines Lagers. Die Dimensionen sind komplett frei-definierbar. Beim Anlegen der Dimensionen ist es jedoch wichtig, dass du deine kleinste Dimension als erstes erstellst und dann der Größe nach aufsteigend weitere Dimensionen erstellst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Beispieldimensionen übernehmen</div>
<div class="paragraph">
<p>In jedem Lager, egal ob Beispiellager oder neu-erstelltes Lager werden dir im Layout 2 Beispieldimensionen angezeigt. Diese Dimensionen sind nicht gespeichert. Du kannst die Dimensionen übernehmen, umbenennen oder entfernen. Zum Erstellen von Lagerorten benötigst du jedoch mindestens eine Dimension.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-Einteilung-Lager" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einteilung eines Lagers</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dimensionen bilden die grundsätzlichen Einteilungselemente deines Lagers. Aus den Dimensionen ergeben sich später die tatsächlichen Ebenen eines Lagers. Ebenen sind sozusagen die konkrete Anwendung einer Dimension. Wenn du z.B. eine Lagerhalle als Dimension in deinem Layout führst, stellen die Lagerhalle 1, Lagerhalle 2 und Lagerhalle 3 die konkrete Anwendung dar.<br>
<strong><em>Hinweis:</em></strong> Mindestens eine Dimension wird benötigt, um Lagerorte zu generieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerorte sind in plentymarkets keine Dimension. Lagerorte sind der konkrete Ablageplatz, an dem deine Produkte liegen. Du benötigst mindestens eine Dimension, um Lagerorte zu generieren. Die Dimension ist dem Lagerort übergeordnet.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Eine wegeoptimierte Pickliste ergibt sich durch die Position der Lagerorte. Ob eine Dimension die Position von Lagerorten beeinflusst, bestimmst du durch deine Einstellung. Eine Pickliste beginnt mit der niedrigsten Position und wird aufsteigend sortiert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Lager einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Einrichten eines Lagers gliedert sich in 3 grundsätzliche Schritte. Zunächst musst du allgemeine Daten wie den Namen und Zweck des Lagers angeben. Anschließend pflegst du weitere allgemeine Daten, wie die Adresse des Lagers, ein. Im 2. Schritt richtest du Dimensionen ein, in die du dein Lager unterteilst. Im letzten Schritt generierst du deine Lagerorte.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Allgemeine Lagerdaten pflegen</h3>
<div class="paragraph">
<p>Egal, ob du die Beispiellager bearbeitest und zu deinen Lagern machst oder ob du neue Lager hinzufügst, die folgenden Angaben pflegst du für jedes Lager.</p>
</div>
<div class="paragraph instruction">
<p>Neues Lager erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Lager</strong>.</p>
</li>
<li>
<p>Gib den Namen ein.</p>
</li>
<li>
<p>Wähle einen <strong>Lagertyp</strong>.</p>
</li>
<li>
<p>Wähle einen <strong>Logistiktyp</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen, um das Lager anzulegen.<br>
→ Die Einstellungen des Lagers, in denen du weitere allgemeine Daten pflegst, werden geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das neue Lager wird alphabetisch in die Liste der Lager einsortiert.</p>
</div>
<div class="paragraph instruction">
<p>Allgemeine Lagerdaten pflegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Öffne ein Lager.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-allgemeine-Lagerdaten">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-allgemeine-Lagerdaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Allgemeine Lagerdaten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers. Wird automatisch durch das System vergeben und ist nicht änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagertyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ nach Zweck des Lagers wählen:<br>
<strong>Vertrieb</strong> = Standardlager. Lager für den Verkauf mit den entsprechenden Automatismen wie Bestandsreservierung und Statuswechsel bei Aufträgen. <br>
<strong>Reparatur</strong> = Lager für Retourenartikel. Dieses Lager ist für Lager des Typs <strong>Vertrieb</strong> als <strong>Zugeordnetes Reparaturlager</strong> wählbar. <br>
<strong>Vorrat</strong> = Lager für Artikel, die auf Vorrat liegen.<br>
<strong>Umschlag</strong> = Kurzfristiges Lager für die Zuordnung der Artikel zur Zieladresse bei der Umladung von einem Transportmittel auf ein anderes. <br>
<strong>Verteiler</strong> = Auslieferungslager.<br>
<strong>Sonstiges</strong> = Sonderlager.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logistiktyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerverwalter. <br>
<strong>Eigenes Lager</strong> = Logistik wird vom eigenen Lager verwaltet. <br>
<strong>Amazon</strong> = Artikel werden über Amazon FBA Multi-Channel vertrieben. <br>
<strong>DHL Fulfillment</strong> = Artikel werden über DHL Fulfillment vertrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugeordnetes Reparaturlager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier sind Lager des Typs <strong>Reparatur</strong> wählbar. Damit wird einem Lager ein Reparaturlager zugeordnet, in dem z.B. <strong>Retouren</strong> zur Reparatur eingelagert werden. So kommen defekte Artikel nicht mit dem normalen Lagerbestand in Berührung. Wenn die Artikel repariert oder ausgetauscht wurden, ordne sie wieder dem Vertriebslager zu. <br>
Der Bestand in einem Reparaturlager ist nicht in den Webshop oder auf andere Portale übertragbar. Der Bestand im Reparaturlager bietet eine Übersicht, ob sich Artikel noch in der Reparatur befinden. Der Bestand kann also nicht verkauft werden.<br>
Das gewünschte Reparaturlager anlegen, damit es in dieser Dropdown-Liste verfügbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Priorität für das Lager festlegen. Von <strong>+</strong> (niedrigste Priorität) bis <strong>+++++</strong> (höchste Priorität).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nach Versandprofil splitten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist z.B. für die Erzeugung von <a href="/auftraege/auftraege-verwalten#300">Lieferaufträgen</a> auf <strong>Ja</strong> zu stellen, insofern damit gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standort des Lagers. <br>
Hier stehen die Länder zur Auswahl, die als Lieferländer unter <a href="/fulfillment/versand-vorbereiten#100">Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</a> eingerichtet wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Lagerort-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Standard-Lagerort-Typ, der bei Lagereinstellungen, z.B. im Tab <strong>Lager</strong> der Artikeleinstellung, automatisch vorgewählt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a id="Meldebestand_Variante_Lager"></a><strong>Dynamischer Meldebestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen zwischen aktiv und inaktiv.<br>
<strong>aktiv</strong> = die Differenz zum Meldebestand, MeldΔ, wird für Varianten in diesem Lager basierend auf dem dynamischen Meldebestand berechnet. Der dynamische Meldebestand selbst wird dir im System noch nicht angezeigt.<br>
Hinweis: Damit für eine Variante die Differenz zum Meldebestand basierend auf dem dynamischen Meldebestand berechnet wird, muss der Meldebestand für das Lager 0 sein.<br>
<strong>inaktiv</strong> = die Differenz zum Meldebestand wird für Varianten in diesem Lager nicht basierend auf dem dynamischen Meldebestand berechnet, sondern basierend auf dem eingetragenen Meldebestand. Du kannst also einen Meldebestand für die Variante eingeben, der größer als 0 ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchschnittspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen wie der Durchschnittspreis für das Lager bestimmt wird.<br>
<strong>EK der Mengen im Bestand</strong> = der Durchschnittseinkaufspreis für Varianten in diesem Lager beruht auf den Einkaufspreisen der vorhandenen Bestandsmenge. Er wird bei jedem Wareneingang und Warenausgang neu berechnet. Diese Berechnungsmethode heißt Livedurchschnittsberechnung.<br>
<strong>EK der Varianten</strong> = als Durchschnittseinkaufspreis für Varianten in diesem Lager wird der Einkaufspreis aus den Variantendaten übernommen.<br>
<strong>Gleitender Durchschnittspreis der Variante</strong> = der Durchschnittseinkaufspreis für Varianten in diesem Lager wird gleitend berechnet. In diesem Fall wird der Einkaufspreis bei jedem Wareneingang berechnet, jedoch nicht bei Warenausgang.<br>
Die Berechnungsmethoden sind ausführlich unter <a href="/warenwirtschaft/wareneingaenge-verwalten#250">Wareneingänge verwalten</a> beschrieben</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit mit Bestand</strong> und<br>
 <strong>Verfügbarkeit ohne Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hiermit wird festgelegt, welche Verfügbarkeit angezeigt wird, wenn Bestand vorhanden bzw. nicht vorhanden ist. Diese Einstellung ist dominant gegenüber dem Symbol, das im Tab <strong>Einstellungen</strong> einer Variante für die <strong>Verfügbarkeit</strong> eingestellt ist. Wichtig ist jedoch, dass im Tab <strong>Einstellungen</strong> einer Variante die Einstellungen <strong>Verfügbar, Nicht verfügbar</strong> ebenfalls gewählt wurden.<br>
Nach jeder Änderung muss der Warenbestand neu berechnet werden. Diese Neuberechnung erfolgt im Menü <a href="/warenwirtschaft/warenbestaende-verwalten">Waren » Warenbestände</a> durch einen Klick auf <strong>Warenbestände neu berechnen</strong>.<br>
Es werden die Verfügbarkeitssymbole angezeigt, die im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> im Bereich <strong>Webshop-Symbol</strong> hinterlegt sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbar für Auftragsherkünfte (bei automatischer Lagerauswahl)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wählst du die Auftragsherkünfte, für die das Lager verfügbar sein soll. Geht über eine der ausgewählten Auftragsherkünfte ein Auftrag ein, wird dieses Lager bei der automatischen Lagerauswahl zugeordnet. <strong><em>Wichtig:</em></strong> Die Einstellungen, die du bei der Option <strong>Automatische Lagerauswahl</strong> im Menü <strong><a href="/auftraege/grundeinstellungen">System » Aufträge » Einstellungen</a></strong> vornimmst, bauen auf dieser Einstellung auf. Das heißt, dass zuerst die aktivierte Auftragsherkunft geprüft und erst dann deine Einstellungen zur automatischen Lagerauswahl zum Tragen kommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notiz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notizen, also alles was du zusätzlich als Informationen zum Lager speichern möchtest, eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inventur-Modus aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <a href="/warenwirtschaft/inventur-vornehmen#500">Inventur-Modus</a> friert den Warenbestand des Lagers für die Dauer der Inventur ein.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Dimensionen erstellen</h3>
<div class="paragraph">
<p>Richte Dimensionen ein, um dein Lager grundlegend in Elemente zu gliedern. Mindestens eine Dimension wird zum Generieren von Lagerorten benötigt. Diese Dimension kann z.B. eine Halle sein. Du kannst bis zu 10 Dimensionen für jedes Lager erstellen. Aus den Dimensionen ergeben sich die Ebenen eines Lagers.<br>
Überlege vorab, welche Dimensionen du erstellen möchtest und beginne mit der kleinsten Dimension. Erstelle die Dimensionen der Größe nach aufsteigend.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Beispieldimensionen übernehmen oder löschen</div>
<div class="paragraph">
<p>In jedem Lager werden im Layout 2 Beispieldimensionen angezeigt. Diese Dimensionen sind nicht gespeichert. Du kannst die Dimensionen übernehmen, umbenennen oder löschen. Zum Erstellen von Lagerorten benötigst du jedoch mindestens eine Dimension.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Dimension erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Öffne ein Lager.</p>
</li>
<li>
<p>Klicke auf <strong>Dimensionen</strong>.</p>
</li>
<li>
<p>Gib den Namen für die Dimension ein.</p>
</li>
<li>
<p>Nimm weitere optionale Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-Einstellungen-Dimensionen">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Dimension hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Eine weitere Dimension kann nun hinzugefügt werden. Folge dazu wieder den Schritten 4 bis 6.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen, um die Dimensionen zu erstellen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Dimension wird als größte Dimension hinzugefügt. Wenn du weitere Dimensionen hinzufügst, sind diese übergeordnet, also größer. Beginne deshalb mit der kleinsten Dimension.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Solange es keine Lagerorte gibt, können alle Dimensionen gelöscht werden. Bestehen Lagerorte, muss es mindestens eine Dimension geben.</p>
</div>
<table id="tabelle-Einstellungen-Dimensionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Dimension erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name ist ein Pflichtfeld. Der Name darf maximal 56 Zeichen lang sein. Du kannst Zahlen, Buchstaben und Sonderzeichen nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Präfix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Präfix eingeben. Möglich sind bis zu 3 Zeichen. Du kannst Zahlen, Buchstaben und Sonderzeichen nutzen. Das Präfix wird vor die Ebenennummerierung gestellt. Wenn die Dimension im Lagerortnamen berücksichtigt wird, wird das Präfix auch im Lagerortnamen angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trenner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trennzeichen wählen, das hinter der Dimension angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Dimension für die Positionen von Lagerorten berücksichtigt wird oder nicht.<br>
<strong>Häkchen gesetzt</strong> = aktiv, sodass die Dimension für die Position von Lagerorten berücksichtigt wird<br>
<strong>ohne Häkchen</strong> = inaktiv, sodass die Dimension für die Position von Lagerorten nicht berücksichtigt wird</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Im Namen anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Dimension im Namen von Lagerorten berücksichtigt wird oder nicht.<br>
<strong>Häkchen gesetzt</strong> = aktiv, sodass die Dimension im Namen von Lagerorten eingefügt wird<br>
<strong>ohne Häkchen</strong> = inaktiv, sodass die Dimension nicht im Namen von Lagerorten berücksichtigt wird</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Lagerorte generieren</h3>
<div class="paragraph">
<p>Generiere Lagerorte, um die tatsächlichen Plätze zum Lagern deiner Ware angeben zu können. Varianten können nur auf konkrete Lagerorte gebucht werden und nicht auf Dimensionen. Besonders das Generieren vieler Lagerorte auf einmal ist sehr einfach. Wenn Lagerorte generiert sind, werden sie nach dem Laufweg sortiert.</p>
</div>
<div class="paragraph instruction">
<p>Lagerorte generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Öffne ein Lager.</p>
</li>
<li>
<p>Klicke auf <strong>Lagerorte</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte hierzu die <a href="#tabelle-Lagerorte-generieren">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Eine Vorschau mit Beispielen der Lagerortnamen wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Generieren</strong>, um die Lagerorte zu generieren.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Lagerorte werden im Hintergrund kontinuierlich generiert. Dir werden schon nach kurzer Zeit die ersten Lagerorte angezeigt, jedoch ist das Generieren noch nicht abgeschlossen. Dir wird eine Erfolgsmeldung angezeigt, wenn das Generieren vollständig abgeschlossen wurde.</p>
</div>
<table id="tabelle-Lagerorte-generieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Lagerorteinstellungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Dimensionen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Präfix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Präfix wird aus den Einstellungen der Dimensionen übernommen und kann dort eingegeben werden. Hier wird es lediglich angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Von</strong><br>
<strong>Bis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Startwert und Endwert für die Dimension eingeben. Zulässig sind Buchstaben und Zahlen sowie einige Kombinationen aus Buchstaben und Zahlen.<br>
Beispiele für zulässige Start- und Endwerte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 bis 10</p>
</li>
<li>
<p>A bis Z</p>
</li>
<li>
<p>A1 bis A10</p>
</li>
<li>
<p>AA bis AZ</p>
</li>
<li>
<p>AA bis ZZ</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Nicht zulässig sind folgende Kombinationen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A1 bis Z1: der Anfangsbuchstabe muss gleich bleiben</p>
</li>
<li>
<p>1A bis 1Z: Zahlen am Anfang können nicht mit nachgestellten Buchstaben kombiniert werden</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startposition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn die Dimension für die Positionen der Lagerorte berücksichtigt werden soll.<br>
Startposition eingeben. Nur Zahlen sind zulässig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Im Namen anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wird lediglich angezeigt, ob die Dimension in den Lagerortnamen übernommen wird oder nicht. Ob die Dimension in den Lagerortnamen übernommen wird, wird in den Einstellungen der Dimension festgelegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Lagerort</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Präfix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Präfix für Lagerorte eingeben. Standardmäßig ist SL, für storage location, voreingetragen. Präfix ist kein Pflichtfeld.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerorte anlegen von</strong><br>
<strong>Lagerorte anlegen bis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Startwert und Endwert für Lagerorte eingeben. Zulässig sind Buchstaben und Zahlen sowie einige Kombinationen aus Buchstaben und Zahlen.<br>
Beispiele für zulässige Start- und Endwerte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 bis 10</p>
</li>
<li>
<p>A bis Z</p>
</li>
<li>
<p>A1 bis A10</p>
</li>
<li>
<p>AA bis AZ</p>
</li>
<li>
<p>AA bis ZZ</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Nicht zulässig sind folgende Kombinationen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A1 bis Z1: der Anfangsbuchstabe muss gleich bleiben</p>
</li>
<li>
<p>1A bis 1Z: Zahlen am Anfang können nicht mit nachgestellten Buchstaben kombiniert werden</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startposition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startposition eingeben. Nur Zahlen sind zulässig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Im Namen anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerorte werden immer im Namen angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweck</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweck der Lagerorte wählen.<br>
Der Zweck <strong>Box</strong> wird für die <a href="https://knowledge.plentymarkets.com/app/funktionen/lagerverwaltung/rollende-kommissionierung">rollende Kommissionierung</a> genutzt.<br>
<strong><em>Hinweis:</em></strong> Der Zweck hat noch keine Auswirkungen auf andere Menüs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen. Aktiv ist voreingestellt.<br>
<strong><em>Hinweis:</em></strong> Der Status hat noch keine Auswirkungen auf andere Menüs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notizen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier können Notizen zum Lagerort vermerkt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Eigenschaften</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft des Lagerortes wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert wählen. Dieses Feld ist nur verfügbar, wenn die Eigenschaft eine Auswahleigenschaft ist.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="520">2.4. Lagerstrukturen anpassen</h3>
<div class="paragraph">
<p>Du kannst die Strukturen deines Lagers anpassen, wie z.B. den Namen der Ebene verändern, die Position der Ebene verändern oder einfach neue Ebenen und Lagerorte hinzufügen und direkt an der gewünschten Stelle platzieren.
Wurde ein Element verschoben, werden alle Positionen automatisch aktualisiert.</p>
</div>
<div class="paragraph instruction">
<p>Ein bestehendes Element verschieben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Wähle ein Lager.</p>
</li>
<li>
<p>Klicke auf <strong>Lagerorte</strong>.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Aufbau anpassen</strong>.<br>
→ Die Lagerstruktur wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Element, das du verschieben möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Verschieben</strong>.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wähle die Platzierung.</p>
</li>
<li>
<p>Wähle den Zielbereich und klicke auf das Häkchen <strong>Auswählen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Element wird verschoben.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Neuen Lagerort in der Lagerstruktur platzieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Wähle ein Lager.</p>
</li>
<li>
<p>Klicke auf Lagerorte.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Aufbau anpassen</strong>.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Lagerorte anlegen</strong>.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-lager-aufbau-anpassen">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Aufbau wird den Einstellungen entsprechend aktualisiert.</p>
</li>
</ol>
</div>
<table id="tabelle-lager-aufbau-anpassen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Lageraufbau anpassen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des neuen Lagerortes eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platzierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob es vor oder nach einem bestehenden Element eingefügt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweck aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Elements eintragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielbereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielbereich wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notizen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier können Notizen zum Lagerort vermerkt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob ein Lagerort verfügbar ist. Grün bedeutet, dass sich in dem Lagerort kein Artikel befindet; rot zeigt an, dass mindestens ein Artikel vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft des Lagerortes wählen.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ebenen und Lagerorte löschen</div>
<div class="paragraph">
<p>Du kannst nur dann eine Ebenen löschen, wenn diese Ebene keine Lagerorte enthält. Wenn du Lageorte löschst, solltest du darauf achten, dass dieser Lagerort keinen Bestand führt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="530">2.5. Limitierungen</h3>
<div class="paragraph">
<p>Beim Erstellen von Dimensionen und beim Generieren von Lagerorten gibt es einige Limitierungen zu beachten. Außerdem sollten bestimmte Buchstaben- und Zahlenkombinationen für Inputs in den Generator verwendet werden.</p>
</div>
<table id="tabelle-Limitierungen-Dimensionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Limitierungen Dimensionen</caption>
<colgroup>
<col style="width: 75%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Limitierung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Anzahl an Dimensionen, die erstellt werden können</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestanzahl an benötigten Dimensionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl an Zeichen für den Namen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">56</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl an Zeichen für das Präfix (keine Zahlen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
</tr>
</tbody>
</table>
<table id="tabelle-Limitierungen-Lagerorte-generieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Limitierungen Lagerorte generieren</caption>
<colgroup>
<col style="width: 75%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Limitierung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Anzahl an Lagerorten pro Dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">200</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Anzahl an Lagerorten pro Generierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">100.000</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Buchstaben oder Zahlen verwenden, keine Sonderzeichen wie *!%</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keine Dezimalzahlen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keine Buchstaben für die Startposition</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Anzahl an Zeichen in der Notizbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">500</p></td>
</tr>
</tbody>
</table>
<table id="tabelle-Limitierungen-Buchstaben-und-Zahlenkombinationen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Buchstaben- und Zahlenkombinationen für Eingaben in den Generator</caption>
<colgroup>
<col style="width: 75%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kann verwendet werden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A bis C<br>
A1 bis A10<br>
A bis AC<br>
AA bis CC</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kann nicht verwendet werden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A1 bis B1<br>
1A bis 1C</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Bestände und Lager löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst entweder nur die Bestände eines Lagers oder ein Lager samt Beständen löschen. In beiden Fällen werden auch die Warenbewegungen gelöscht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bestände können nicht wiederhergestellt werden</div>
<div class="paragraph">
<p>Es spielt keine Rolle, ob du nur Bestände mit Warenbewegungen oder das Lager samt Beständen und Warenbewegungen löschst. Bestände und Warenbewegungen können nicht wiederhergestellt werden. Verwende die Löschfunktionen in jedem Fall vorsichtig, da hier besonders viele Querverbindungen zu anderen Menüs, z.B. Listings, bestehen. Das Löschen von Beständen kann Angebote auf Marktplätzen beenden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="630">3.1. Bestände löschen</h3>
<div class="paragraph">
<p>Das Löschen von Beständen leert ein Lager vollständig. Auch die Warenbewegungen werden gelöscht. Die Dimensionen und Lagerorte bleiben jedoch erhalten.</p>
</div>
<div class="paragraph instruction">
<p>Bestände eines Lagers löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Öffne ein Lager.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>).</p>
</li>
<li>
<p>Wähle ein Lager unter <strong>Lager abändern auf</strong>, um offene Aufträge auf ein neues Lager zu übertragen.</p>
</li>
<li>
<p>Klicke erneut auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>).<br>
→ Das Lager und alle Bestände des Lagers werden gelöscht.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Es wird vom Löschen der Warenbestände in dieser Form abgeraten, da dies nicht GoBD-konform ist. Es wird stattdessen empfohlen, die Bestände per dynamischem Export zu exportieren, die CSV-Datei anzupassen, indem die Bestände auf Null gesetzt werden, und die genullten Bestände anschließend wieder zu importieren. Somit gehen die Warenbewegungen nicht verloren und rechtskonformes Arbeiten ist gewährleistet.</p>
</div>
</div>
<div class="sect2">
<h3 id="670">3.2. Lager löschen</h3>
<div class="paragraph">
<p>Das Löschen des Lagers löscht alle Bestände, Warenbewegungen, Lagerorte und Dimensionen des Lagers.</p>
</div>
<div class="paragraph instruction">
<p>Lager löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Öffne ein Lager.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Warenbestände komplett löschen</strong>.<br>
→ Eine Sicherheitsabfrage wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>OK</strong>, um die Bestände und Warenbewegungen zu löschen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Das Löschen des Lagers löscht auch die Warenbewegungen. Sie können somit nicht wiederhergestellt werden, was nicht GoBD-konform ist.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Box-Regale zum Packen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Box-Regale dienen als Zwischenlager für Sammelkommissionierungen. Box-Regale stehen nur in <a href="/automatisierung/prozesse/aktionen#140">Prozessen</a> zur Verfügung.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Maximale Boxenanzahl</div>
<div class="paragraph">
<p>Du kannst maximal 100 Boxen pro Box-Regal einrichten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Box-Regal einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager » Lager wählen » Untermenü: Box-Regale</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Neues Box-Regal</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-einstellungen-box-regale">Tabelle 9</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-box-regale" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Einstellungen für Box-Regale</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für das Box-Regal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start-Box</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startnummer der ersten Box des Box-Regals</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End-Box</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abschließende Nummer der letzten Box des Box-Regals</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">5. Lagerorte labeln</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Waren beim Einlagern schnell auf einen Lagerort zu buchen, ist es hilfreich, die Waren und den Lagerort zu scannen. Hierfür musst du deine Lagerorte mit scanbaren Labels versehen. Bild 1 zeigt z.B. Einstellungen für ein seitenbreites Label:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Lager-einrichten-04.png" alt="DE Lager einrichten 04">
</div>
<div class="title">Bild 1. Label einrichten</div>
</div>
<div class="paragraph instruction">
<p>Labels für Lagerorte einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager » Lager wählen » Untermenü: Label</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-label-einstellungen">Tabelle 10</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nullpunkt des Koordinatensystems</div>
<div class="paragraph">
<p>Der Nullpunkt des Koordinatensystems liegt oben links. Die X-Achse verläuft von links nach rechts und die Y-Achse von oben nach unten.</p>
</div>
<div class="paragraph">
<p>Experimentiere mit den Einstellungen, bis das Label deinen Vorstellungen entspricht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-label-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Labeleinstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite und Höhe des Papierformats, das für den Druck genutzt wird, in mm.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenrand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seitenränder bestimmen den Nullpunkt für die Platzierung der Label auf der Seite.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite und Höhe eines Lagerortlabels in mm.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rahmen zeichnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Label wird gerahmt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilen pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Zeilen pro Seite eingeben, die gedruckt werden sollen. Die Anzahl bestimmt, wie viele Labels auf einer Seite untereinander dargestellt werden. Die Höhe der Labels hat zusätzlich Einfluss auf die Anzahl, die untereinander dargestellt werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilenabstand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeilenabstand in mm bestimmt den Abstand zwischen den untereinander angeordneten Labels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spalten pro Zeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Spalten pro Zeile eingeben, die gedruckt werden sollen. Die Anzahl bestimmt, wie viele Labels nebeneinander dargestellt werden. Achte darauf, dass die Breite der Labels zulässt, dass die Labels entsprechend der Anzahl nebeneinander dargestellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spaltenabstand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spaltenabstand in mm bestimmt den Abstand zwischen nebeneinander angeordneten Labels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort-Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten für den Druck des Lagerort-Namens.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten für den Druck der Lagerort-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort-Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten für den Druck der Lagerort-Position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name Regalboden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten für den Druck des Regalbodennamens.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name Regal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten für den Druck des Regalnamens.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong> <strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten für den Druck des Lagerort-Barcodes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Darstellung Wert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Barcode kann zusätzlich als alphanumerische Zeichenfolge dargestellt werden.<br>
<strong>unterhalb</strong> = Zeichenkette wird unterhalb des Barcodes dargestellt<br>
<strong>innerhalb</strong> = Zeichenkette wird innerhalb des Barcodes dargestellt<br>
<strong>nicht anzeigen</strong> = Zeichenkette wird nicht dargestellt</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachdem du dein Lager angelegt hast, ordnest du Varianten einem Lagerort zu und buchst anschließend den ersten Wareneingang für eine Variante, damit Bestand im System vorhanden ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">6. Eigenschaften von Lagerorten erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> erstellst du Eigenschaften, die du im Anschluss für die nähere Charakterisierung deiner Lagerorte nutzt.
So kann gezielt nach kleinen, mittleren oder großen Lagerorten gesucht werden und alle Artikel-IDs können damit verknüpft werden. Außerdem kann dir die nähere Charakterisierung deiner Lagerorte dabei helfen, deine Artikel <a href="https://knowledge.plentymarkets.com/artikel/artikel-verwalten#3000">direkt am passenden Ort zu lagern</a>.<br>
Gehe wie im Folgenden beschrieben vor, um eine Eigenschaft zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.<br>
→ Die Übersicht der Eigenschaften wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaft hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Bereich</strong> die Option <strong>Lagerort</strong>.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-eigenschaft-erstellen">Tabelle 11</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Eigenschaft wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-eigenschaft-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Eigenschaften erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereich aus der Dropdown-Liste wählen, in dem die Eigenschaft genutzt werden soll.<br>
<strong>Artikel</strong> = Eigenschaft wird für Artikel verwendet.<br>
<strong>Kontakt</strong> = Eigenschaft wird für Kontakte verwendet.<br>
<strong>Lagerort</strong> = Eigenschaft wird für Lagerorte verwendet.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ der Eigenschaft aus der Dropdown-Liste wählen.<br>
<strong>Kein</strong> = Kein Eigenschaftstyp<br>
<strong>Auswahl</strong> = Ermöglicht es, aus mehreren Optionen zu wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Eigenschaft eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird der Name für die Systemsprache angezeigt. Nachdem die Eigenschaft erstellt wurde, kannst du den Namen in einer beliebigen Sprache speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung der Eigenschaft eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird die Beschreibung für die Systemsprache angezeigt. Nachdem die Eigenschaft erstellt wurde, kannst du die Beschreibung in einer beliebigen Sprache speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional eine Eigenschaftsgruppe aus der Dropdown-Liste wählen, um die Eigenschaft dieser Gruppe zuzuordnen.<br>
<strong><em>Tipp:</em></strong> Auf <strong>Eigenschaftsgruppe hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>) klicken, um eine Gruppe zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer für die Eigenschaft eingeben. Standardmäßig wird aufsteigend nach Positionsnummer sortiert.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in 10er-Schritten vergeben, damit neue Eigenschaften dazwischen eingefügt werden können.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">7. Eigenschaften von Lagerorten bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> findest du alle Eigenschaften. Hier änderst du die in <a href="#tabelle-eigenschaft-erstellen">Tabelle 11</a> beschriebenen Einstellungen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um alle Eigenschaften anzuzeigen oder wähle <strong>Filter</strong>, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Klicke auf die Eigenschaft.<br>
→ Das Tab <strong>Allgemein</strong> wird geöffnet.</p>
</li>
<li>
<p>Bearbeite die Einstellungen. Beachte dazu die Erläuterungen in <a href="#tabelle-eigenschaft-bearbeiten">Tabelle 12</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-eigenschaft-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 12. Eigenschaften bearbeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Allgemein</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neue Position eingeben, um die Anzeigereihenfolge zu ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>;<br>
<strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Mehrsprachigkeit Name und Beschreibung für weitere Sprachen eingeben.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Werte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur bei Eigenschaftstyp <strong>Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Werte eingeben, die in der Dropdown-Liste dargestellt werden sollen.<br>
Auf <strong>Wert hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>) klicken, um einen Wert zu erstellen.<br>
<strong>Name</strong> = Name für den Eigenschaftswert eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">8. Eigenschaften Lagerorten mit der Gruppenfunktion zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Eigenschaften mehreren Lagerorten zuzuordnen, kann die Gruppenfunktion genutzt werden. Es können maximal 3 Eigenschaften hinzugefügt werden.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaften Lagerorten zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Waren » Lager</strong>.<br></p>
</li>
<li>
<p>Wähle ein Lager.</p>
</li>
<li>
<p>Klicke auf <strong>Lagerorte</strong>.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle die Lagerorte, die du den Eigenschaften zuordnen willst.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong>.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wähle bis zu 3 Eigenschaften und die dazugehörigen Werte.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Eigenschaften wurden den Lagerorten zugeordnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_wo_finde_ich_meine_lager_und_lagerort_ids">9. Wo finde ich meine Lager- und Lagerort-IDs?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die IDs findest du im Menü <strong>Einstellungen » Waren » Lager</strong> in den Untermenüs <strong>Einstellungen</strong> und <strong>Regale</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">ID des Standardlagerorts</div>
<div class="paragraph">
<p>Die ID des Standard-Lagerorts ist 0. Der Standardlagerort ist jedoch nur eine Art Platzhalter. Eigene Lagerorte einzurichten ist sinnvoll, um den tatsächlichen Lagerort anzugeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>