<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Vorbereitungen</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>1.1.</span><span> plentyWarehouse App herunterladen</span></a></li>
<li><a href="#200"><span>1.2.</span><span> Einstellungen zur Inventur in der plentyWarehouse App</span></a></li>
<li><a href="#300"><span>1.3.</span><span> Erstellen von Exporten via Katalog</span></a></li>
<li><a href="#400"><span>1.4.</span><span> Bestände per Import nullen</span></a></li>
<li><a href="#500"><span>1.5.</span><span> Bestände komplett nullen oder nicht?</span></a></li>
<li><a href="#600"><span>1.6.</span><span> Daten exportieren</span></a></li>
</ul>
</li>
<li><a href="#700"><span>2.</span><span> Inventur durchführen</span></a></li>
<li><a href="#1000"><span>3.</span><span> Inventur dokumentieren</span></a></li>
<li><a href="#1100"><span>4.</span><span> Inventurergebnisse und Bestände kontrollieren</span></a>
<ul class="sectlevel2">
<li><a href="#1200"><span>4.1.</span><span> Vergleich der Bestände vor und nach der Inventur</span></a></li>
<li><a href="#1300"><span>4.2.</span><span> Vergleich der Gesamtabweichungen pro Variante</span></a></li>
<li><a href="#1400"><span>4.3.</span><span> Vergleich der Abweichungen einer Variante pro Lagerort</span></a></li>
</ul>
</li>
<li><a href="#1500"><span>5.</span><span> Abweichungen zwischen Zählung und vorherigem Bestand feststellen und auswerten</span></a>
<ul class="sectlevel2">
<li><a href="#1600"><span>5.1.</span><span> Kriterium 1: Sind die Bestände eines Artikels vor und nach der Inventur identisch?</span></a></li>
<li><a href="#1700"><span>5.2.</span><span> Kriterium 2: Liegen die Artikel vor und nach der Inventur auf den gleichen Lagerorten?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Leitfaden zur Inventur</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du möchtest eine Inventur durchführen und somit deinen Warenbestand zu einem bestimmten Zeitpunkt erfassen? Dann bist du auf dieser Seite genau richtig. Hier erfährst du, welche Schritte für die Inventur notwendig sind und kannst den Vorgang auf deine Bedürfnisse abstimmen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Vorbereitungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden findest du Informationen darüber, welche Vorbereitungen wir dir für eine möglichst einfache Inventur empfehlen.</p>
</div>
<div class="sect2">
<h3 id="150">1.1. plentyWarehouse App herunterladen</h3>
<div class="paragraph">
<p>Am einfachsten führst du die Inventur mithilfe der <a href="/warenwirtschaft/plentywarehouse">plentyWarehouse App</a> durch. plentyWarehouse enthält eine neu entwickelte Funktion zur Inventur, die in der aktuellsten Version auch den nachträglichen Export von <a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren#600">rechtskonformen Zählprotokollen</a> zu Inventuren in verschiedenen Dateiformaten unterstützt. Außerdem werden die Stückzahlen der mit der plentyWarehouse App gezählten Artikel und Varianten automatisch im Hintergrund mit deinem plentymarkets System synchronisiert.</p>
</div>
<div class="paragraph">
<p>Lade die plentyWarehouse App <a href="https://play.google.com/store/apps/details?id=com.plentysystems.plentywarehouse" target="_blank" rel="noopener">hier im Google Play Store</a> &nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> kostenlos herunter.</p>
</div>
<div class="paragraph">
<p>Arbeitest du zum ersten Mal mit der plentyWarehouse App? Dann schaue dir auch die Informationen auf unserer <a href="/warenwirtschaft/plentywarehouse">Übersichtsseite zu plentyWarehouse</a> an.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktueller Stand der plentyWarehouse App</div>
<div class="paragraph">
<p>Momentan befindet sich die plentyWarehouse App in der offenen Beta-Phase. Das bedeutet, dass fortlaufend Anpassungen und Fehlerbehebungen vorgenommen werden. Fragen und Probleme nehmen wir in dieser Phase gern im <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">Forum</a> entgegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="200">1.2. Einstellungen zur Inventur in der plentyWarehouse App</h3>
<div class="paragraph">
<p>Damit die Inventur genau so abläuft, wie es für dich am besten ist, müssen im Bereich <strong>Einstellungen</strong> der plentyWarehouse App einige vorbereitende Einstellungen vorgenommen werden. Details und Anleitungen dazu findest du auf der Handbuchseite <a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren#200">Inventur durchführen</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="300">1.3. Erstellen von Exporten via Katalog</h3>
<div class="paragraph">
<p>Um eine Inventur durchzuführen und diese später auch dokumentieren und kontrollieren zu können, solltest du vor der Inventur die Bestände und Warenbewegungen deines Systems exportieren.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wie du generell einen Katalog für den Export von Daten erstellst, erfährst du auf der Handbuchseite zu den <a href="/daten/daten-exportieren/dateiexport">Standardformaten von Katalogen</a>.</p>
</li>
<li>
<p>Wie du einen Export der Warenbestände in einem Katalog erstellst, erfährst du auf der Handbuchseite des Formats <a href="/daten/daten-exportieren/katalog-warenbestaende">Warenbestände</a>.</p>
</li>
<li>
<p>Wie du einen Export der Warenbewegungen in einem Katalog erstellst, erfährst du auf der Handbuchseite des Formats <a href="/daten/daten-exportieren/katalog-warenbewegungen">Warenbewegungen</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="400">1.4. Bestände per Import nullen</h3>
<div class="paragraph">
<p>Wie du die Bestände per Import auf 0 setzen kannst, erklären wir dir in diesem Kapitel.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Dieser Schritt ist nur notwendig, wenn du den Inventurmodus verwendest und Warenbestände genullt werden sollen.</p>
</div>
</div>
<div class="sect2">
<h3 id="500">1.5. Bestände komplett nullen oder nicht?</h3>
<div class="paragraph">
<p>Bevor du mit der Inventur startest, solltest du dir die Frage stellen, ob du vor Beginn der Inventur alle Bestände nullen möchtest oder nicht. Hier zeigen wir dir zunächst, was genau du dabei beachten musst.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Solange der Inventurmodus aktiv ist, werden die Warenbewegungen in dieser Zeit zwar gespeichert, es werden aber keine Berechnungen durchgeführt.</p>
</li>
<li>
<p>Mit der Deaktivierung des Inventurmodus werden die ausstehenden Berechnungen durchgeführt.</p>
</li>
<li>
<p>Wenn du mit aktiviertem Inventurmodus die Lagerbestände nullst, dann bekommen Marktplätze und der eigene Webshop davon nichts mit. Wenn nun aber während der Inventur Waren verkauft werden, dann werden die Bestandreservierungen auch nicht berechnet und es kann daher zu Überverkäufen in dieser Zeit kommen.</p>
</li>
<li>
<p>Wenn der Inventurmodus nicht aktiviert ist, laufen die Berechnungen nach Bestandsänderung normal weiter. Wenn dann durch die App ein Lagerort gezählt wurde, werden die Bestände im Anschluss an das System übertragen und ggf. angepasst. Wenn nun also eine Menge eines Artikels sich auf einem Lagerort bestätigt, entsteht keine Warenbewegung.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Entscheide also hier für dich, welches Vorgehen besser zum jeweiligen Ablauf passt.<br>
In der folgenden Tabelle sind noch einmal die Vor- und Nachteile des Nullens aufgeführt.</p>
</div>
<table id="tabelle-vor-und-nachteile" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Vor- und Nachteile des Nullens</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vorteile</th>
<th class="tableblock halign-left valign-top">Nachteile</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zum Stichtag sind alle Bestände aller Varianten in deinem Lager auf 0. Dies hat zur Folge, dass alle Mengen, die während der Inventur gezählt werden, auch eine Warenbewegung mit positivem Wert erhalten.<br>
<em>Beispiel:</em> Variante 123<br>
- Menge vor Inventur: 8<br>
- Menge durch Nullen: 0<br>
-  Warenbewegung: -8<br>
- Menge durch Zählung: 8<br>
- Warenbewegung: +8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du musst daran denken, den Inventurmodus vor der Inventur zu aktivieren und nach der Inventur wieder zu deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du erhältst in jedem Fall eine Warenbewegung für Artikel, die auf Lager sind.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestände müssen nach aktiviertem Inventurmodus, z.B per Import, genullt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Während des Inventurmodus kann es zu Überverkäufen kommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Falls während der Inventur etwas schief geht, müssen die Bestände von vor der Inventur ggf. wieder importiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jeder Lagerort muss vor dem Deaktivieren des Inventurmodus komplett gezählt sein.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">1.6. Daten exportieren</h3>
<div class="paragraph">
<p>Um festzuhalten, welche Artikelmengen vor der Inventur systemseitig auf Lager waren, sollten diese exportiert werden. Dies geschieht über unseren <a href="/daten/daten-exportieren/dateiexport">Katalog</a> und das Exportformat <a href="/daten/daten-exportieren/katalog-warenbestaende">Warenbestände</a>.
Lege die exportierte Datei anschließend bei dir zur späteren Kontrolle und Dokumentation ab.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">2. Inventur durchführen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Je nachdem, ob du vor der Inventur den <a href="/warenwirtschaft/inventur-vornehmen#500">Inventurmodus aktivierst</a>, solltest du bei der Inventur stets die folgenden Schritte durchführen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="bei-nutzung-des-inventurmodus-tab" data-toggle="tab" href="#bei-nutzung-des-inventurmodus" role="tab" aria-controls="bei-nutzung-des-inventurmodus" aria-selected="true">Bei Nutzung des Inventurmodus</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="ohne-nutzung-des-inventurmodus-tab" data-toggle="tab" href="#ohne-nutzung-des-inventurmodus" role="tab" aria-controls="ohne-nutzung-des-inventurmodus" aria-selected="false">Ohne Nutzung des Inventurmodus</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="bei-nutzung-des-inventurmodus" role="tabpanel" aria-labelledby="bei-nutzung-des-inventurmodus-tab">
<div class="ulist">
<ul>
<li>
<p><a href="/warenwirtschaft/inventur-vornehmen#600">Inventurmodus aktivieren</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/inventur-vornehmen#200">Bestände vor der Inventur exportieren</a> und sichern</p>
</li>
<li>
<p><a href="/warenwirtschaft/inventur-vornehmen#800">Bestände per Import leeren</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren#300">Inventur mit plentyWarehouse App durchführen</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/inventur-vornehmen#1000">Inventurmodus deaktivieren</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/inventur-vornehmen#200">Bestände nach der Inventur erneut exportieren</a> und sichern</p>
</li>
<li>
<p>Bei Verwendung der plentyWarehouse App: <a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren#700">Zählprotokoll herunterladen</a></p>
</li>
<li>
<p><a href="#1100">Abweichungen per Katalog exportieren und vergleichen</a></p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="ohne-nutzung-des-inventurmodus" role="tabpanel" aria-labelledby="ohne-nutzung-des-inventurmodus-tab">
<div class="ulist">
<ul>
<li>
<p><a href="/warenwirtschaft/inventur-vornehmen#200">Bestände vor der Inventur exportieren</a> und sichern</p>
</li>
<li>
<p><a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren#300">Inventur mit plentyWarehouse App durchführen</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/inventur-vornehmen#200">Bestände nach der Inventur erneut exportieren</a> und sichern</p>
</li>
<li>
<p>Bei Verwendung der plentyWarehouse App: <a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren#700">Zählprotokoll herunterladen</a></p>
</li>
<li>
<p><a href="#1100">Abweichungen per Katalog exportieren und vergleichen</a></p>
</li>
</ul>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="1000">3. Inventur dokumentieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die Inventur durchgeführt hast, hast du die Möglichkeit, den Inventurvorgang rechtskonform zu protokollieren. Dazu steht dir im Bereich <strong>Waren » Inventur</strong> das Menü <strong>Zählprotokoll-Export</strong> zur Verfügung. Hier kannst du mithilfe verschiedener Filter Zählprotokolle im PDF- oder CSV-Format herunterladen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zählprotokoll: Beschränkung auf plentyWarehouse</div>
<div class="paragraph">
<p>Aktuell beinhalten Zählprotokolle nur Daten zu Inventuren, die mit der <a href="/warenwirtschaft/plentywarehouse">plentyWarehouse App</a> durchgeführt werden. Inventuren, die mit der <a href="/app/funktionen/lagerverwaltung/inventur">plentymarkets App</a> oder lediglich durch den <a href="/warenwirtschaft/inventur-vornehmen">Export und Import von Warenbeständen</a> vorgenommen werden, können also nicht mithilfe des Zählprotokolls dokumentiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wichtige Zusatzinformationen zu möglichen Filtern und eine Anleitung zum Erstellen des Zählprotokolls findest du auf der Handbuchseite <a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren#600">Inventur durchführen.</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">4. Inventurergebnisse und Bestände kontrollieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Inventur im Nachgang zu kontrollieren, wenn z.B. große Abweichungen zwischen den Beständen vor und nach der Inventur vorliegen, bieten sich die folgenden 3 Möglichkeiten.</p>
</div>
<div class="sect2">
<h3 id="1200">4.1. Vergleich der Bestände vor und nach der Inventur</h3>
<div class="paragraph">
<p>Bei dieser Methode vergleichst du die beiden Bestands-Dateien, die du vor und nach der Inventur erstellt hast. Wenn du die jeweiligen Bestände pro Variante vergleichst, kannst du berechnen, wo Abweichungen vorliegen und diese nachkontrollieren und ggf. anpassen. Da du hier nur die Bestände siehst, musst du ggf. im System nachschauen, auf welchen Lagerorten die Artikel liegen.</p>
</div>
</div>
<div class="sect2">
<h3 id="1300">4.2. Vergleich der Gesamtabweichungen pro Variante</h3>
<div class="paragraph">
<p>Erstelle einen Export mit dem Katalogformat <a href="/daten/daten-exportieren/katalog-warenbewegungen">Warenbewegungen</a> und filtere dabei nach dem <a href="/daten/daten-exportieren/katalog-warenbewegungen#30">Datumsbereich</a> und dem <a href="/daten/daten-exportieren/katalog-warenbewegungen#30">Grund</a> für die Warenbewegung (ID 302), um nur die Warenbewegungen zu exportieren, die während und durch die Inventur entstanden sind. Wenn du ebenfalls den Filter für die <a href="/daten/daten-exportieren/katalog-warenbewegungen#30">Summe der Warenbewegungen</a> pro Variante nutzt, dann erhältst du beim Export nur eine Datenzeile pro Variante.
Dies ist allerdings auch nur dann der Fall, wenn bei dieser Variante vor und nach der Inventur eine Abweichung bei den Mengen vorliegt. Sind die Mengen auf allen Lagerorten identisch, dann erhältst du keine Datenzeile. Weichen die Mengen pro Lagerort ab, aber die Gesamtmenge der Bestände dieser Variante ist identisch, dann erhältst du im Export eine Datenzeile mit der Menge 0 im Feld <strong>Warenbewegung</strong>.</p>
</div>
<div class="paragraph">
<p>Diese Art des Exports ermöglicht es dir somit, sehr schnell zu erfassen, bei welchen Artikeln es Abweichungen in der Gesamtmenge pro Variante gegeben hat.
Weitere Details dazu findest du im Kapitel zum Thema <a href="/warenwirtschaft/leitfaden-inventur#1500">Abweichungen feststellen und auswerten</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">4.3. Vergleich der Abweichungen einer Variante pro Lagerort</h3>
<div class="paragraph">
<p>Ein weiterer Export sollte über das Export-Format <a href="/daten/daten-exportieren/katalog-warenbewegungen">Warenbewegungen</a> erstellt werden, allerdings ohne den Filter für die Summe der Warenbewegungen. Es werden also lediglich der Datumsfilter und der Grund für die Warenbewegung (ID 302) benötigt. In diesem Fall erhältst du dann eine Datenzeile, wenn die Menge einer Variante auf einem bestimmten Lagerort vor und nach der Inventur abweicht. Diese Liste ist dann hilfreich, wenn du durch die Liste der Gesamtabweichungen festgestellt hast, dass du eine Variante noch einmal genauer kontrollieren musst. Dann kannst du in der Liste jeden Lagerort prüfen, auf dem es Abweichungen zu dieser Variante gegeben hat und so zügig feststellen, auf welchem Lagerort du noch einmal genauer nachschauen solltest.
Weitere Details dazu findest du im nachfolgenden Kapitel zum Thema <a href="/warenwirtschaft/leitfaden-inventur#1500">Abweichungen feststellen und auswerten</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">5. Abweichungen zwischen Zählung und vorherigem Bestand feststellen und auswerten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Export-Format <a href="/daten/daten-exportieren/katalog-warenbewegungen">Warenbewegungen</a> vereinfacht dir die Auswertung der Inventur. Der Katalog mit diesem Format ermöglicht es, Abweichungen zwischen Zählung und vorherigem Bestand im System pro Variante sowie Abweichungen auf einzelnen Lagerorten festzustellen.<br>
Beachte die nachfolgend beschriebenen Kriterien, um Abweichungen bei Warenbeständen nach der Inventur festzustellen.</p>
</div>
<div class="sect2">
<h3 id="1600">5.1. Kriterium 1: Sind die Bestände eines Artikels vor und nach der Inventur identisch?</h3>
<div class="paragraph">
<p>Um zu prüfen, ob die Bestände eines Artikels vor und nach der Inventur identisch sind, erstelle einen Katalog mit dem Format <a href="/daten/daten-exportieren/katalog-warenbewegungen">Warenbewegungen</a>. Exportiere dir damit alle Warenbewegungen (gruppiert pro Variante), die im Zeitraum der Inventur für den Warenbewegungsgrund <strong>Korrektur durch Inventur</strong> durchgeführt wurden.</p>
</div>
<div class="paragraph">
<p>Um pro Variante zu gruppieren, nutze im Katalog den Filter <a href="/daten/daten-exportieren/katalog-warenbewegungen#30">Summe der Warenbewegungen</a>. Wähle über einen weiteren Filter zusätzlich auch den <a href="/daten/daten-exportieren/katalog-warenbewegungen#30">Datumsbereich</a>, in dem die Inventur stattgefunden hat.
Um nur die Warenbewegungen zu exportieren, die mit der Inventur zu tun haben, setze außerdem den Filter für den <a href="/daten/daten-exportieren/katalog-warenbewegungen#20">Grund</a> <strong>Warenkorrektur durch Inventur</strong> mit der ID <code>302</code>.
Als Ergebnis wird die Gesamtabweichung pro Variante ausgegeben. Im besten Fall ist diese immer 0.<br>
Die exportierte Liste zeigt dir somit auf einen Blick, bei welchen Artikeln es Abweichungen vor und nach der Inventur gegeben hat.</p>
</div>
<div class="paragraph">
<p><strong><em>Beachte:</em></strong> Die Liste zeigt allerdings nicht, ob bei einem Lagerort für einen Artikel 5 Stück mehr gezählt wurden und bei einem anderen Lagerort 3 Stück weniger, denn die Summe ist 0. Die Liste dient somit nur dem Gesamtüberblick der Abweichungen, berücksichtigt Abweichungen auf einzelnen Lagerorten aber nicht.</p>
</div>
</div>
<div class="sect2">
<h3 id="1700">5.2. Kriterium 2: Liegen die Artikel vor und nach der Inventur auf den gleichen Lagerorten?</h3>
<div class="paragraph">
<p>Über einen längeren Zeitraum hinweg kann es vorkommen, dass Ware umgelagert wurde, das Umbuchen im System allerdings nicht stattgefunden hat.<br>
Um Abweichungen von Artikeln auf einzelnen Lagerorten sehen zu können, erstelle einen Katalog mit dem Format <a href="/daten/daten-exportieren/katalog-warenbewegungen">Warenbewegungen</a>. Exportiere dir damit alle Warenbewegungen, die im Zeitraum der Inventur für den Warenbewegungsgrund <strong>Korrektur durch Inventur</strong> durchgeführt wurden.</p>
</div>
<div class="paragraph">
<p>Nutze dafür zunächst den Filter für den <a href="/daten/daten-exportieren/katalog-warenbewegungen#30">Datumsbereich</a>, in dem die Inventur stattgefunden hat. Um nur die Warenbewegungen zu erhalten, die mit der Inventur zu tun haben, verwende außerdem den Filter für den <a href="/daten/daten-exportieren/katalog-warenbewegungen#20">Grund</a> <strong>Korrektur durch Inventur</strong> mit der ID <code>302</code>.
Als Ergebnis bekommst du pro Warenbewegung, also pro Abweichung gegenüber dem Ergebnis vor der Inventur, einen Eintrag in der Liste.<br>
<strong><em>Beispiel:</em></strong> Die Variante mit der ID 123 wurde im System 10 Mal auf Lagerort A gebucht, während der Inventur dort aber nicht gezählt, dafür aber 10 Mal auf Lagerort B. In diesem Fall besteht für diese Variante eine Warenbewegung von -10 für Lagerort A und eine Warenbewegung von +10 für Lagerort B. In der Summe bedeutet das, dass die Gesamtmenge vor und nach der Inventur für diese Variante identisch ist, aber physisch auf einem anderen Lagerort liegt als zuvor.</p>
</div>
<div class="paragraph">
<p>Dank der Liste kannst du somit die genauen Abweichungen pro Lagerort feststellen und gegenprüfen. Außerdem behältst du den Überblick, wie viele Artikel ggf. physisch umgelagert wurden, ohne im System umgebucht worden zu sein.</p>
</div>
</div>
</div>
</div>
</main>