<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_mhdcharge_aktivieren"><span>1.</span><span> MHD/Charge aktivieren</span></a></li>
<li><a href="#_wareneingang"><span>2.</span><span> Wareneingang</span></a></li>
<li><a href="#_umbuchen"><span>3.</span><span> Umbuchen</span></a></li>
<li><a href="#_mindesthaltbarkeit_prüfen"><span>4.</span><span> Mindesthaltbarkeit prüfen</span></a></li>
<li><a href="#_retouren"><span>5.</span><span> Retouren</span></a></li>
<li><a href="#_picklisten_packlisten_und_lager_picklisten"><span>6.</span><span> Picklisten, Packlisten und Lager-Picklisten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>MHD/Charge verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst in plentymarkets Varianten mit Mindesthalbarkeitsdatum (MHD) und/oder Chargen verwalten. Aktuell sind diese Funktionen jedoch nur im plentymarkets Backend produktiv nutzbar.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">MHD/Chargen mit POS nutzen</div>
<div class="paragraph">
<p>Wenn du mit <a href="/pos">plentymarkets POS</a> arbeitest, solltest du die Funktionen zur Verwaltung von MHD/Chargen noch nicht nutzen, da MHD- und Chargen-Daten aktuell noch zu Fehlern führen können. Diese Funktionen werden in Kürze nachgeliefert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_mhdcharge_aktivieren">1. MHD/Charge aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um MHD und/oder Chargen für Varianten zu pflegen, aktivierst du die Optionen <strong>MHD</strong> und/oder <strong>Charge</strong> am Lager einer Variante. Sobald das Lager Bestand hat, ist es nicht mehr möglich, die Option am Lager der Variante zu aktivieren bzw. zu deaktivieren. Ist in diesem Lager der Lagerbestand gleich null, ist eine Änderung möglich. Weitere Informationen findest du im Abschnitt <a href="/warenwirtschaft/wareneingaenge-verwalten#200">Variante mit Lagerort verknüpfen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_wareneingang">2. Wareneingang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Abhängig davon, welche Einstellung du wählst, kannst du Varianten mit MHD, Varianten mit Charge oder Varianten mit MHD und Charge einbuchen. Es wird empfohlen, pro Lager und Variante nur gleiche MHD und Chargen auf einen Lagerort zu buchen. Diese Einstellung ist bereits standardmäßig getroffen. Wenn du unterschiedliche MHD/Chargen auf den gleichen Lagerort buchst, kann dies zu Problemen beim Picken führen, da Picker dann ein spezifisches MHD und/oder eine spezifische Charge suchen müssen. Weitere Informationen findest du im Kapitel <a href="/warenwirtschaft/wareneingaenge-verwalten#810">Wareneingang mit MHD/Charge</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_umbuchen">3. Umbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Artikel mit MHD/Charge in andere Lager umbuchen. Bei der Umbuchung von Varianten mit MHD/Charge kann es jedoch zu Beschränkungen kommen. Informationen zur Umbuchung findest du im Kapitel <a href="/warenwirtschaft/warenbestaende-verwalten#500">Warenbestand über das Backend umbuchen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_mindesthaltbarkeit_prüfen">4. Mindesthaltbarkeit prüfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Waren » Lagerort-Verwaltung</strong> prüfst du den Status von Varianten mit Mindesthalbarkeitsdatum. Die Spalte <strong>Tage haltbar</strong> zeigt, wie viele Tage eine Variante noch haltbar ist.</p>
</div>
<div class="paragraph instruction">
<p>Mindesthaltbarkeit prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Lagerort-Verwaltung</strong>.</p>
</li>
<li>
<p>Wähle Daten für die Filter <strong>MHD von:</strong> und <strong>bis:</strong>.<br>
→ Alle Lagerorte mit Varianten im gewählten MHD werden angezeigt.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Status Mindesthaltbarkeit</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tage haltbar</th>
<th class="tableblock halign-left valign-top">Status</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&lt; 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ware abgelaufen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt;1 &amp; &lt;30</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ware läuft demnächst ab</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt; 30</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ware ok</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_retouren">5. Retouren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Wiedereinbuchen einer Variante mit MHD/Charge wird das Einbuchen verschiedener Chargen und MHD auf den gleichen Lagerort nicht automatisch blockiert. Es wird jedoch empfohlen, pro Variante und Lager nur gleiche MHD/Chargen auf einen Lagerort zu buchen. Bei einer chaotischen Lagerhaltung von MHD- und Chargenartikeln kann es bei der Komissionerung zu Problemen kommen. Weitere Informationen zum Thema Retoure findest du im Kapitel <a href="#warenwirtschaft/waren-ausbuchen">Retoure</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_picklisten_packlisten_und_lager_picklisten">6. Picklisten, Packlisten und Lager-Picklisten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auch auf Picklisten, Packlisten und Lager-Picklisten können optional die MHD-/Chargeninformationen ausgeben werden. Weitere Informationen findest du auf den folgenden Handbuchseiten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/auftraege/auftragsdokumente/pickliste">Pickliste</a></p>
</li>
<li>
<p><a href="#auftraege/auftragsdokumente/lager-pickliste">Lager-Pickliste</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/packliste">Packliste</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>