<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bestellmengenvorschlag, Sortierung und Co vorbereiten</span></a></li>
<li><a href="#200"><span>2.</span><span> Status für Nachbestellungen einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Dokument Nachbestellung einrichten</span></a></li>
<li><a href="#400"><span>4.</span><span> Abschicken der Nachbestellung vorbereiten</span></a></li>
<li><a href="#500"><span>5.</span><span> Meldebestand einer Variante festlegen</span></a></li>
<li><a href="#600"><span>6.</span><span> Mindestabnahme einer Variante festlegen</span></a></li>
<li><a href="#700"><span>7.</span><span> Varianten für die Nachbestellung identifizieren</span></a></li>
<li><a href="#800"><span>8.</span><span> Nachbestellung anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>8.1.</span><span> Nachbestellung für Varianten mit erreichtem oder unterschrittenem Meldebestand anlegen</span></a></li>
<li><a href="#1000"><span>8.2.</span><span> Nachbestellung für Auftragspositionen anlegen</span></a></li>
<li><a href="#1100"><span>8.3.</span><span> Nachbestellung für einzelne Variante anlegen</span></a></li>
<li><a href="#1200"><span>8.4.</span><span> Nachbestellung für einen Lieferanten und ein Lager anlegen</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>9.</span><span> Nachbestellung automatisch abschicken</span></a></li>
<li><a href="#1400"><span>10.</span><span> Nachbestellung bestätigen</span></a></li>
<li><a href="#1500"><span>11.</span><span> Ware einbuchen</span></a>
<ul class="sectlevel2">
<li><a href="#1600"><span>11.1.</span><span> Ware direkt und vollständig einbuchen</span></a></li>
<li><a href="#1700"><span>11.2.</span><span> Teillieferung einbuchen</span></a></li>
</ul>
</li>
<li><a href="#1800"><span>12.</span><span> Ware stornieren</span></a></li>
<li><a href="#1900"><span>13.</span><span> Fehllieferung buchen</span></a></li>
<li><a href="#2000"><span>14.</span><span> Nachbestellungen suchen</span></a></li>
<li><a href="#2100"><span>15.</span><span> Nachbestellungen löschen</span></a></li>
<li><a href="#2200"><span>16.</span><span> Arbeitsschritte für Nachbestellungen einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Nachbestellungen verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Bestellwesen geht es hauptsächlich darum, zu erkennen welche Artikel bestellt werden müssen, diese anschließend zu bestellen und den Überblick zu behalten, wie weit die Bestellung ist. Um diesen Bereich effizient zu nutzen, ist es zu empfehlen, dass Sie im Vorfeld Lager anlegen und die Artikel mit Lieferanten verknüpfen. Nachdem eine Bestellung geliefert wurde, buchen Sie diese über den Wareneingang in Ihr System.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bestellmengenvorschlag, Sortierung und Co vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor Sie die erste Nachbestellung anlegen, legen Sie fest, welcher Zeitraum für die Berechnung des Nachbestellvorschlags verwendet wird.</p>
</div>
<div class="paragraph instruction">
<p>Bestellung vorbereiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Systemeinstellungen » Waren » Bestellwesen » Einstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dabei die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Vorbereitende Einstellungen für das Bestellwesen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abverkaufszeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Zeitraum wählen. Der Zeitraum gibt vor, welcher Zeitraum für die Berechnung des durchschnittlichen Abverkaufs berücksichtigt wird. Dieser Durchschnittsverkauf fließt in die Berechnung des Nachbestellungsvorschlags von Artikeln ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Voreingetragener Wert für Meldebestand/Bestellmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Einstellung bestimmt, wie der Bestellmengenvorschlag berechnet wird.<br>
Sie können wählen zwischen:<br>
<strong>Meldebestand - Nettobestand - bestellte Menge</strong> oder<br>
<strong>(Meldebestand - Nettobestand - bestellte Menge) + (Durchschnittsverbrauch * (Wiederbeschaffungszeit + Lagerreichweite))</strong><br>
<br>
Berechnungsparameter für den Bestellmengenvorschlag:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Meldebestand</strong> = Bestandsmenge, bei der nachbestellt werden soll. Beachten Sie die Erläuterungen zum <a href="#500">statischen und dynamischen Meldebestand</a>.</p>
</li>
<li>
<p><strong>Nettobestand</strong> = Verkaufbare Menge des Lagerbestands.</p>
</li>
<li>
<p><strong>Bestellte Menge</strong> = Bereits nachbestellt, aber noch nicht geliefert.</p>
</li>
<li>
<p><strong>Durchschnittsverbrauch</strong> = Tagesdurchschnittsverkaufsmenge. Den Zeitraum, der zum Ermitteln des Tagesdurchschnitts verwendet wird, legen Sie mit dem Abverkaufszeitraum fest.</p>
</li>
<li>
<p><strong>Wiederbeschaffungszeit</strong> = Lieferzeit eines Lieferanten. In einer Variante im Tab <strong>Lieferant</strong> wird die Lieferzeit in Tagen eingetragen.</p>
</li>
<li>
<p><strong>Lagerreichweite</strong> = Eingetragene Lagerreichweite. Die Lagerreichweite wird pro Variante und Lager im Tab <strong>Lager</strong> einer Variante eingetragen und stellt einen Reichweitenwunsch dar, anhand dessen der Bestellmengenvorschlag ermittelt wird.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelsortierung in einer Nachbestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Sortierungskriterium und zwischen aufsteigender und absteigender Sortierung wählen.<br>
<strong>aufsteigend</strong> = beginnt mit dem niedrigsten Wert<br>
<strong>absteigend</strong> = beginnt mit dem höchsten Wert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Voreingetragener Wert für Buchung/Teilmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zwischen <strong>0</strong> und der nachbestellten <strong>Bestellmenge</strong> einer Variante für den Mengenvorschlag zum Buchen einer Teillieferung wählen.<br>
Weiter unten auf dieser Seite finden Sie alles zum Buchen einer <strong>Teillieferung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpakete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option bestimmt, wie ein Artikelpaket einer Nachbestellung hinzugefügt werden soll.<br>
Wenn die Option auf <strong>splitten</strong> steht, werden die <strong>Basisartikel eines Artikelpakets</strong> einer Nachbestellung hinzugefügt und nicht das komplette Paket. Wenn die Option auf <strong>nicht splitten</strong> steht, wird das <strong>Artikelpaket</strong> komplett einer Nachbestellung hinzugefügt.<br>
<strong>Wichtig:</strong> Beachten Sie bitte folgende Besonderheit für die Option <strong>nicht splitten</strong>. Wenn Sie den <strong>Wareneingang für ein Artikelpaket</strong> buchen, werden die <strong>Basisartikel des Pakets</strong> eingebucht, da es technisch nicht möglich ist, ein Artikelpaket einzubuchen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Ein weiterer Faktor, der Einfluss auf den Bestellmengenvorschlag hat, ist die Mindestabnahme. Wenn Ihr Lieferant eine Mindestabnahme vorgibt und Sie diese Mindestabnahmemenge eintragen, beträgt der Bestellmengenvorschlag bei Unterschreitung des Meldebestands wenigstens die Mindestabnahme. Wo Sie die Mindestabnahme eintragen, erfahren Sie im Kapitel <strong>Mindestabnahme einer Variante festlegen</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Status für Nachbestellungen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neun Status stehen Ihnen für Nachbestellungen zur Verfügung. Die Status können in den Backend-Sprachen Deutsch und Englisch eingetragen werden. Für jeden Status ist bereits eine Standardbenennung in der Systemsprache gespeichert. Sie können auch eigene Benennungen eintragen.</p>
</div>
<div class="paragraph instruction">
<p>Bestellstatus einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Systemeinstellungen » Waren » Bestellwesen » Bestellstatus</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Neue Sprache</strong>.</p>
</li>
<li>
<p>Wählen Sie Deutsch oder Englisch aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Sprache wird im Tab <strong>Sprache</strong> hinzugefügt und das Tab geöffnet.</p>
</li>
<li>
<p>Öffnen Sie die Sprache.</p>
</li>
<li>
<p>Tragen Sie eigene Benennungen für die Status ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Standardbenennung Bestellstatus und Bearbeitungsoptionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Standardbenennung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>0 - Offen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachbestellung ist noch nicht abgeschickt und Artikel können hinzugefügt, entfernt oder die Anzahl geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1 - Bestellt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachbestellung wurde abgeschickt und Artikel können nicht mehr verändert werden. Wird beim Bestellen automatisch eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2 - Bestätigt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Lieferant hat den Empfang der Nachbestellung bestätigt. Nur in diesem Status kann Ware in der Nachbestellung eingebucht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3 - Teilweise geliefert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur ein Teil der nachbestellten Ware wurde geliefert. Wenn nur ein Teil der bestellten Ware gebucht wird, wird dieser Status automatisch eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>4 - Geliefert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Artikel wurden in der bestellten Anzahl geliefert. Wenn die bestellte Ware in mehreren Schritten gebucht wurde, wird der Status automatisch gesetzt, sobald die Nachbestellung vollständig gebucht ist&nbsp;– siehe Kapitel <a href="/warenwirtschaft/nachbestellungen-verwalten#1700">Teillieferung einbuchen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>5 - Eingebucht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn die komplette Nachbestellung auf einmal geliefert und eingebucht wird, wird der Status automatisch eingestellt&nbsp;– siehe Kapitel <strong>Ware einbuchen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>8 - Lieferung nicht möglich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferant kann nicht liefern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>9 - Lieferung storniert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferung wird durch Lieferanten storniert oder durch Sie als Händler.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Standardbenennung wiederherstellen</div>
<div class="paragraph">
<p>Wenn Sie für einen Bestellstatus wieder die Standardbenennung verwenden möchten, löschen Sie den Eintrag unter <strong>Eigene Bezeichnung</strong> und klicken Sie auf Speichern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Dokument Nachbestellung einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie eine Nachbestellung abschicken, wird das Dokument Nachbestellung als PDF an Ihren Lieferanten gesendet. Welche Angaben wo und wie auf dem Dokument dargestellt werden, können Sie zuvor einrichten oder Sie arbeiten zunächst mit den vorhandenen Standardeinstellungen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorlage für das Nachbestellungsdokument mit Standardeinstellungen ist vorhanden</div>
<div class="paragraph">
<p>Der Bestellschein enthält Standardeinstellungen und muss deshalb nicht vorab eingerichtet werden, aber eine Anpassung an Ihr Unternehmen ist ratsam und kann jederzeit erfolgen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Vorlagen anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Systemeinstellungen » Aufträge » Dokumente » Nachbestellung</strong>.</p>
</li>
<li>
<p>Nehmen Sie Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Vorlage.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn Sie von Lieferanten in verschiedensprachigen Ländern bestellen, legen Sie auch die Vorlage in verschiedenen Sprachen an.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Abschicken der Nachbestellung vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe einer Ereignisaktion senden Sie beim Bestellen den Bestellschein automatisch an Ihren Lieferanten. Hierfür richten Sie zunächst eine E-Mail-Vorlage ein, die den Bestellschein als PDF im Anhang enthält. Anschließend richten Sie die Ereignisaktion ein. Die Ereignisaktion wird dann beim Bestellen automatisch ausgeführt und sorgt dafür, dass Ihr Lieferant die Bestellung als PDF erhält.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Systemeinstellungen » Mandant » Mandant wählen » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue E-Mail-Vorlage</strong>.</p>
</li>
<li>
<p>Tragen Sie einen Namen ein.<br>
→
Im Beispiel ist der Name "Bestellschein an Lieferant".</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Wählen Sie aus der Dropdown-Liste <strong>PDF-Anhang</strong> die Option <strong>Nachbestellung (PDF)</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail-Nachricht</strong>.</p>
</li>
<li>
<p>Tragen Sie einen Betreff ein.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Richten Sie anschließend die Ereignisaktion für den automatischen E-Mail-Versand ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Senden des Bestellscheins an Lieferanten automatisieren:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Systemeinstellungen » Waren » Bestellwesen » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>. <br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden eines Bestellscheins an Lieferanten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellscheindruck</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle, eine Auswahl oder einzelnen Lieferanten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragslager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle oder eine Auswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail versenden &gt; Eigene Vorlage "Bestellschein an Lieferant"</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Meldebestand einer Variante festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Meldebestand zeigt an, bei welcher Menge einer Variante eine Nachbestellung veranlasst werden sollte. Sie können feste Werte für den Meldebestand pflegen, d.h. der Meldebestand ist statisch, oder den neuen dynamischen Meldebestand nutzen. Die Implementierung des dynamischen Meldebestands ist jedoch noch nicht vollumfänglich. Beachten Sie den Hinweis am Ende dieses Kapitels.<br>
Im <strong>Tab: Lager</strong> einer Variante können Sie einen statischen <strong>Meldebestand</strong> eintragen. Zunächst ist die Menge 0 gespeichert, sodass erst dann eine Meldung erfolgt, wenn der komplette Bestand verkauft ist. Wenn Sie den Meldebestand bei 0 belassen, unterscheidet er sich im Grunde nicht von einem Nettobestand 0 und bietet Ihnen somit keine zusätzlichen Funktionen. Wenn Sie den Meldebestand sinnvoll nutzen möchten, tragen Sie einen Wert ein, der größer als 0 ist.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Lager hinzufügen, um Meldebestand einzutragen</div>
<div class="paragraph">
<p>Ein statischer Meldebestand lässt sich nur eingeben, wenn der Variante ein Lager zugeordnet ist. Wenn kein Lager zugeordnet ist, fügen Sie zunächst das Lager hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Statischen Meldebestand eintragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Lager</strong>.</p>
</li>
<li>
<p>Tragen Sie eine Menge unter <strong>Meldebestand</strong> ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel, die den Meldebestand unterschreiten, direkt auf der Startseite anzeigen</div>
<div class="paragraph">
<p>Auf der Startseite Ihres Systems können Sie anzeigen, wie viele Varianten eines Lagers den Meldebestand unterschritten haben. Fügen Sie dafür das Element <strong>Artikel unter Meldebestand</strong> hinzu. Ein Klick auf die Anzahl der Varianten öffnet das Menü <strong>Waren » Warenbestände</strong> und filtert nach Varianten unter Meldebestand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn weder eine Mindestabnahme noch ein Meldebestand für eine Variante eingetragen ist, beträgt der Bestellmengenvorschlag 0.</p>
</div>
<div id="dynamischerMeldebestand" class="paragraph subhead">
<p>Aktuelle Umsetzung des dynamischen Meldebestand</p>
</div>
<div class="paragraph">
<p>Pro Lager können Sie entscheiden, ob Sie den dynamischen Meldebestand nutzen oder nicht. Wenn Sie den dynamischen Meldebestand nutzen, berechnet Ihr System den dynamischen Meldebestand jede Nacht im Hintergrund. Dieser berechnete dynamische Meldebestand wird noch in keinem Feld dargestellt, d.h. Sie sehen den Wert nicht. Die Differenz zum Meldebestand, MeldΔ, basiert jedoch auf dem berechneten Meldebestand. Die Differenz wird Ihnen z.B. in der Bestandsübersicht angezeigt. So können Sie anhand der Differenz absehen wann eine Nachbestellung erfolgen sollte.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Wenn dynamischer Meldebestand genutzt wird, keinen statischen Meldebestand pflegen</div>
<div class="paragraph">
<p>Wenn Sie den dynamischen Meldebestand nutzen, dürfen Sie manuell keinen statischen Meldebestand eintragen. Belassen Sie den Meldebestand für die Varianten in dem Lager auf 0. Wenn ein Meldebestand größer als 0 gespeichert ist, wird die Berechnung des dynamischen Meldebestands nicht ausgeführt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Der dynamische Meldebestand wird jede Nacht anhand der folgenden Formel berechnet:</p>
</div>
<div class="paragraph">
<p>\(\mbox{Dynamischer Meldebestand} = {(\mbox{Ø Abverkauf} \cdot \mbox{Lagerreichweite}) + (\mbox{Ø Abverkauf} \cdot \mbox{kürzeste Lieferzeit})}\)</p>
</div>
<div class="paragraph">
<p>Erläuterung der Formelparameter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ø Abverkauf = durschnittlich verkaufte Menge</p>
</li>
<li>
<p>kürzeste Lieferzeit = kürzeste Lieferzeit einer Variante egal von welchem Lieferanten</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Differenz zum dynamischen Meldebestand (MeldΔ) wird im System dargestellt und berechnet sich folgendermaßen:</p>
</div>
<div class="paragraph">
<p>\(\mbox{MeldΔ} = {(\mbox{dynamischer Meldebestand} - (\mbox{Nettobestand} + (\mbox{nachbestellte Menge})}\)</p>
</div>
<div class="paragraph">
<p>Die Einstellung für den dynamischen Meldebestand treffen Sie für jedes Lager in den <a href="/warenwirtschaft/lager-einrichten/#Meldebestand_Variante_Lager">Lagereinstellungen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Mindestabnahme einer Variante festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Mindestabnahme ist die Menge, die Sie Ihrem Lieferanten mindestens abnehmen müssen, wenn Sie bei Ihm bestellen. Wenn Sie eine Mindestabnahme für eine Variante eintragen, entspricht der Bestellmengenvorschlag für die Variante mindestens dieser Mindestabnahme. Ein Bestellmengenvorschlag wird wiederum nur angezeigt, wenn der Meldebestand erreicht wurde.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Lieferant hinzufügen, um Mindestabnahme einzutragen</div>
<div class="paragraph">
<p>Eine Mindestabnahme lässt sich nur eingeben, wenn der Variante ein Lieferant zugeordnet ist. Wenn kein Lieferant zugeordnet ist, fügen Sie zunächst den Lieferanten hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mindestabnahme festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Lieferant</strong>.</p>
</li>
<li>
<p>Tragen Sie eine Menge unter Mindestabnahme ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn weder eine Mindestabnahme noch ein Meldebestand für eine Variante eingetragen ist, beträgt der Vorschlag 0.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Varianten für die Nachbestellung identifizieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Am einfachsten erkennen Sie Varianten, die nachbestellt werden sollten, wenn Sie den Meldebestand in plentymarkets pflegen. Der Meldebestand ist der Bestand, bei dem eine Nachbestellung notwendig oder sinnvoll ist. Sobald also der Meldebestand erreicht oder unterschritten wurde, bestellen Sie am besten nach.<br>
Die Höhe des Meldebestands bestimmen Sie für jede Variante individuell.</p>
</div>
<div class="paragraph">
<p>Wenn Sie nicht mit dem Meldebestand arbeiten, haben Sie die Möglichkeit, Artikel anhand des Netto-Bestands zu filtern und anschließend alle Artikel, die den entsprechenden Bestandswert erreicht oder unterschritten haben, zu bestellen.</p>
</div>
<div class="paragraph instruction">
<p>Varianten für die Nachbestellung identifizieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Wählen Sie für den Filter <strong>Beschränkung</strong> die Option <strong>Meldebestand erreicht/unterschritten</strong>.</p>
</li>
<li>
<p>Wählen Sie für den Filter <strong>Paket</strong> die Option <strong>Ohne</strong>.</p>
</li>
<li>
<p>Wählen Sie für den Filter <strong>Inaktiv</strong> die Option <strong>Nein</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Lager.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn Sie alternativ Artikel anhand des Netto-Bestands filtern möchten, nutzen Sie den Filter <strong>Warenbestand netto</strong> mit der Option <strong>&lt;=</strong> und tragen einen Bestandswert ein.
Setzen Sie außerdem den Filter <strong>Beschränkung</strong> auf <strong>Alle</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Nachbestellung anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es stehen Ihnen vier Wege zur Verfügung, um Nachbestellungen anzulegen.<br>
Sie können zuvor den Warenbestand prüfen und Nachbestellungen für Artikel anlegen, die den Meldebestand erreicht oder unterschritten haben.
Sie können direkt aus einem Auftrag heraus für die im Auftrag enthaltenen Artikel eine Nachbestellung anlegen.
Wenn Sie häufig Produktionsware verkaufen, können Sie so die Artikel direkt bei Ihrem Lieferanten bestellen.<br>
Die dritte Möglichkeit besteht darin, eine Nachbestellung für einzelne Varianten im Datensatz eines Artikels anzulegen und die vierte darin, eine Nachbestellung unabhängig von Artikel, Bestand oder Auftragslage anzulegen.</p>
</div>
<div class="paragraph">
<p>Egal auf welchem Weg Sie eine Nachbestellung anlegen, die folgenden Punkte gelten immer:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Nur Varianten mit einem Lieferanten und einem Lager sind bestellbar.</p>
</li>
<li>
<p>Pro Lager und Lieferant wird eine eigene Nachbestellung angelegt.</p>
</li>
<li>
<p>Angelegt heißt nicht, dass die Ware tatsächlich bestellt ist. So kann die Nachbestellung vor der Bestellung noch einmal geprüft werden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eine angelegte Nachbestellung teilt sich in zwei Tabs, das Tab <strong>Base</strong> und das Tab <strong>Ticket</strong>. Das Tab <strong>Base</strong> einer Nachbestellung teilt sich wiederum in zwei Untermenüs, <strong>Grundeinstellungen</strong> und <strong>Artikeldaten</strong>. In den Grundeinstellungen erhalten Sie so auf einen Blick Informationen zu Status, Liefertermin, Lieferant etc. In den Artikeldaten sehen Sie dann bestellte, gelieferte und stornierte Artikel. Im Tab <strong>Ticket</strong> können Sie das Ticketsystem mit Ihren Nachbestellungen verbinden und so Arbeitsschritte bei einer Nachbestellung in Ihrem System abbilden.</p>
</div>
<div class="sect2">
<h3 id="900">8.1. Nachbestellung für Varianten mit erreichtem oder unterschrittenem Meldebestand anlegen</h3>
<div class="paragraph">
<p>Auf diesem Weg bestellen Sie nur Artikel nach, die eine von Ihnen definierte Stückzahl erreicht haben. Im vorigen Kapitel wurde bereits beschrieben, wie Sie Artikel filtern, die den Meldebestand erreicht oder unterschritten haben. Die folgende Beschreibung schließt an das Filtern an.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bestellung erstellen nicht sichtbar</div>
<div class="paragraph">
<p>Wenn bei Ihnen der Button <strong>Bestellung erstellen</strong> nicht sichtbar ist, prüfen Sie, ob links in den Filtern für <strong>Bestellen</strong> die Option <strong>Ja</strong> eingestellt ist. <strong>Ja</strong> muss eingestellt sein, damit Nachbestellungen ausgeführt werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Nachbestellung für Artikel anlegen, die den Meldebestand erreicht oder unterschritten haben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Führen Sie eine Suche nach Artikeln durch, die den Meldebestand erreicht oder untschritten haben. <br>
→ Siehe Kapitel <strong>Varianten für die Nachbestellung identifizieren</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorschläge übernehmen</strong>, um den errechneten Bestellmengenvorschlag zu übernehmen.<br>
→ Tragen Sie eventuell eigene Werte ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bestellung erstellen</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Nachbestellungen vor Seitenwechsel ausführen</div>
<div class="paragraph">
<p>Führen Sie eine Bestellung immer vor einem Seitenwechsel aus, da beim Seitenwechsel Ihre eingetragenen Mengen zurückgesetzt werden. So lange eine Bestellung für einen Lieferanten noch offen ist, werden weitere Artikel der Bestellung hinzugefügt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn Ihre Ergebnisliste mit Artikeln, die den Meldebestand erreicht oder unterschritten haben, mehrere Seiten umfasst hat, führen Sie die Suche erneut aus und bestellen Sie weitere Artikel. Solange eine Nachbestellung für den gleichen Lieferanten und das gleiche Lager offen ist, werden die Artikel der bereits vorhandenen Nachbestellung hinzugefügt.</p>
</div>
</div>
<div class="sect2">
<h3 id="1000">8.2. Nachbestellung für Auftragspositionen anlegen</h3>
<div class="paragraph">
<p>Sie können aus einem Auftrag eine Nachbestellung anlegen. Im Auftrag haben Sie dann zwei Möglichkeiten für die Nachbestellung. Sie können alle Positionen des Auftrags nachbestellen oder nur ausgewählte Positionen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Unterschiede in der Nachbestellung beim Bestellen aller oder ausgewählter Positionen eines Auftrags</div>
<div class="paragraph">
<p><strong>Alle Positionen nachbestellen</strong></p>
</div>
<div class="paragraph">
<p>Es wird eine auftragsbezogene Nachbestellung erzeugt, die alle Positionen enthält. Weitere Varianten können nachträglich nur noch in der Nachbestellung selbst hinzugefügt werden.</p>
</div>
<div class="paragraph">
<p><strong>Einzelne Positionen wählen und nachbestellen</strong></p>
</div>
<div class="paragraph">
<p>Wenn Sie eine Position wählen, wird ebenfalls eine auftragsbezogene Nachbestellung erzeugt. Jedoch können der Nachbestellung noch über mehrere Wege Varianten hinzugefügt werden: über andere Aufträge, über die Warenbestandssuche sowie in der Nachbestellung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Alle Artikel eines Auftrags nachbestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Auftrag, für den Sie Ware bestellen möchten.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Nachbestellung</strong> des Auftrags.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Alle Positionen nachbestellen</strong>.<br>
→ Die Nachbestellung wird angelegt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Alternativ wählen Sie Auftragspositionen aus und klicken auf <strong>Markierte Positionen nachbestellen</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">8.3. Nachbestellung für einzelne Variante anlegen</h3>
<div class="paragraph">
<p>Wenn Sie genau nur eine Variante eines Artikel bestellen möchten, bietet sich dieser Weg an.</p>
</div>
<div class="paragraph instruction">
<p>Nachbestellung für einzelne Variante anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Artikel, für den Sie Ware bestellen möchten.</p>
</li>
<li>
<p>Öffnen Sie die Variante, die Sie bestellen möchten.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Bestand</strong> der Variante.</p>
</li>
<li>
<p>Öffnen Sie das Untertab <strong>Warenbestand.</strong></p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorschläge übernehmen</strong> oder tragen Sie eine <strong>Menge</strong> ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bestellung erstellen</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">8.4. Nachbestellung für einen Lieferanten und ein Lager anlegen</h3>
<div class="paragraph">
<p>Sie haben auch die Möglichkeit, eine Nachbestellung für einen Lieferanten pro Lager anzulegen. Pro Lieferant und Lager deshalb, weil die Nachbestellung nur an einen Lieferanten geschickt werden kann, und pro Lager, damit eine Lieferadresse gilt. Sie wählen also zunächst den Lieferanten und das Lager und fügen in einem zweiten Schritt die Varianten hinzu. Die Varianten, die zum Hinzufügen angezeigt werden, sind abhängig vom gewählten Lieferanten und dem Lager. Der Lieferant muss also in den Variantendaten als Lieferant gespeichert sein und die Variante muss im gewählten Lager gelagert werden.</p>
</div>
<div class="paragraph instruction">
<p>Nachbestellung anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue Nachbestellung</strong>.<br>
→ Das Tab <strong>Neue Nachbestellung</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Lieferanten</strong>.</p>
</li>
<li>
<p>Wählen Sie ein <strong>Lager</strong>.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Währung</strong>.<br>
→ Der Umrechnungskurs wird automatisch aus dem Menü <strong>System » Systemeinstellungen » Aufträge » Zahlung » Währungen</strong> übernommen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Das Tab <strong>Base</strong> der Nachbestellung wird geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Lassen Sie das Tab <strong>Base</strong> geöffnet und fügen Sie die Varianten hinzu, die Sie nachbestellen möchten.</p>
</div>
<div class="paragraph instruction">
<p>Varianten zur Nachbestellung hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den Bereich <strong>Artikeldaten</strong> durch einen Klick auf das <strong>Plus</strong>. <br>
→ Das Bearbeitungsmenü wird geöffnet.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Artikel hinzufügen</strong>. <br>
→ Das Lager und der Lieferant sind als Filter eingestellt. Sie können weitere Filter wählen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>, um die Artikel aufzulisten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Artikel hinzufügen</strong> (Einkaufswagen), um die Variante zur Nachbestellung hinzuzufügen. <br>
→ Wiederholen Sie diesen Schritt mit weiteren Varianten.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Artikel</strong>.</p>
</li>
<li>
<p>Tragen Sie für jede Variante den <strong>Einkaufspreis</strong> ein.</p>
</li>
<li>
<p>Tragen Sie für jede Variante die <strong>Menge</strong> ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">9. Nachbestellung automatisch abschicken</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem Sie auf einem der zuvor beschriebenen Wege eine Nachbestellung angelegt haben, müssen Sie nun die Bestellung abschicken. Hierfür haben Sie das Dokument und die Ereignisaktion eingerichtet. Jetzt sorgen Sie dafür, dass per Ereignisaktion das Nachbestellungsdokument an den Lieferanten geschickt wird.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Wie wird die Sprachvariante des PDF-Dokuments Nachbestellung gewählt?</div>
<div class="paragraph">
<p>Die Auswahl der Sprachvariante des Dokuments erfolgt anhand der Sprache Ihres Lieferanten. Die Sprache ist im Tab <strong>Kundendaten</strong> des Lieferanten gespeichert. Wenn in der Sprache des Lieferanten keine Vorlage eingerichtet wurde, wird die Vorlage in der Standardsprache Ihres Systems zum Erzeugen des Dokuments verwendet.</p>
</div>
<div class="paragraph">
<p>Beachten Sie dazu auch die Erklärungen auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Dokumente</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Prüfen Sie zunächst noch einmal den Bereich <strong>Grunddaten</strong> und nehmen Sie, wenn nötig, Änderungen vor. Nach der Prüfung und ggf. Korrektur der Grunddaten schicken Sie die Bestellung ab.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Grunddaten einer Nachbestellung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liefertermin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicken Sie auf das <strong>Zahnrad</strong>, um das <strong>Lieferdatum</strong> zu ermitteln.<br>
Zuerst wird geprüft, ob in den Variantendaten ein Liefertermin gespeichert ist. Sind mehrere Artikel in der Nachbestellung enthalten, wird der späteste Liefertermin gesetzt. Sind keine Liefertermine für die Varianten gespeichert, verwendet das System die Lieferzeit, die für den Lieferanten gespeichert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozentualer Rabatt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wird der prozentuale Rabatt angezeigt, der für den Lieferanten gespeichert wurde.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Bestellung abschicken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>.</p>
</li>
<li>
<p>Wählen Sie eine Nachbestellung, die Sie abschicken möchten.</p>
</li>
<li>
<p>Klicken Sie in der Zeile <strong>Bestellen</strong> auf <strong>Nachbestellung abschicken</strong>.<br>
→ Der Status wechselt auf <strong>Bestellt</strong> und die zuvor eingerichtete Ereignisaktion zum Senden des Bestellscheins an den Lieferanten wird ausgeführt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das PDF für die Nachbestellung können Sie sich über die Vorschau in der Zeile <strong>Bestellen</strong> ansehen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">10. Nachbestellung bestätigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem Sie eine Nachbestellung an Ihren Lieferanten gesendet haben, setzen Sie die Bearbeitung fort, indem Sie die Nachbestellung zunächst bestätigen, wenn der Lieferant den Eingang der Bestellung bestätigt hat, und anschließend Ware einbuchen, wenn Ware geliefert wurde.</p>
</div>
<div class="paragraph">
<p>Sie müssen eine Nachbestellung bestätigen, um Ware einzubuchen. Nur im Status <strong>Bestätigt</strong> können Sie Ware in der Nachbestellung einbuchen.<br>
Statt Ware über die Nachbestellung einzubuchen, können Sie auch den <a href="/warenwirtschaft/wareneingaenge-verwalten"><strong>Wareneingang</strong></a> nutzen und anschließend den Status der Nachbestellung manuell auf <strong>Ware eingebucht</strong> stellen. Wenn Sie den Status manuell einstellen, wird dadurch keine Ware am Artikel eingebucht.</p>
</div>
<div class="paragraph instruction">
<p>Nachbestellung bestätigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>.</p>
</li>
<li>
<p>Öffnen Sie eine bestellte Nachbestellung.</p>
</li>
<li>
<p>Setzen Sie den Status auf <strong>Bestätigt</strong>.<br>
→ Unter <strong>Grunddaten</strong> wird die Option <strong>Lieferung</strong> sichtbar.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Händlerzeichen der Bestätigung eintragen</div>
<div class="paragraph">
<p>Mit der Bestellbestätigung wird in der Regel eine Auftragsnummer oder ein ähnliches Händlerzeichen vergeben, das als Händlerzeichen bei der Nachbestellung vermerkt werden kann, um später die Ware korrekt zuzuordnen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Vorschau ermöglicht per Klick auf das <strong>Auge</strong>, das PDF-Dokument der Nachbestellung jederzeit downzuloaden. Bei Änderungen der Vorlage oder der PDF-Vorlage der Nachbestellung auf das Reload-Icon klicken, um das PDF-Dokument zu aktualisieren. <br>
Wenn eine Bestellung bereits ausgelöst wurde, besteht die Möglichkeit, bei nachträglichen Änderungen oder wenn der Empfänger die Bestellung per E-Mail nicht erhalten hat, den Vorgang zu wiederholen. Dazu auf das <strong>Reload-Icon</strong> klicken.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">11. Ware einbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zum Einbuchen der Ware über die Nachbestellung bieten sich Ihnen zwei Möglichkeiten. Sie können die Ware direkt und vollständig einbuchen oder Sie markieren die Ware zunächst als geliefert und buchen Sie dann ein. Der direkte Weg empfiehlt sich, wenn Sie 100%ig sicher sind, dass alles komplett geliefert wurde. Wenn Sie nur eine Teillieferung erhalten haben oder die Ware sowie die gelieferte Anzahl noch einmal genau durchgehen, bietet sich die zweite Möglichkeit an.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Aufträge werden automatisch auf Status 5 gesetzt, wenn in der auftragsbezogenen Nachbestellung die Artikel eingebucht werden</div>
<div class="paragraph">
<p>Wenn Sie eine auftragsbezogene Nachbestellung öffnen und den Wareneingang über die Nachbestellung buchen, wird der Auftrag automatisch auf Status 5 gesetzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1600">11.1. Ware direkt und vollständig einbuchen</h3>
<div class="paragraph">
<p>Nutzen Sie diese Möglichkeit nur, wenn Sie die Ware vollständig erhalten haben. Nach dem Einbuchen, wechselt der Status automatisch in <strong>5 Ware gebucht</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Vollständig und direkt einbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>.</p>
</li>
<li>
<p>Öffnen Sie eine bestätigte Nachbestellung.</p>
</li>
<li>
<p>Tragen Sie in den <strong>Grunddaten</strong> unter <strong>Lieferung</strong> die Lieferscheinnummer ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Einbuchen</strong> hinter der Lieferscheinnummer. <br>
→ Alle Artikel der Nachbestellung werden eingebucht und der Status wechselt automatisch in <strong>5 Ware eingebucht</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">11.2. Teillieferung einbuchen</h3>
<div class="paragraph">
<p>Nachfolgend wird beschrieben, wie Sie eine Teillieferung einbuchen. Diese Vorgehensweise eignet sich nicht nur für Teillieferungen, sondern empfiehlt sich auch, wenn Sie beim Einbuchen die Ware noch einmal genau prüfen und deshalb für jeden Artikel die gelieferte Anzahl einzeln eintragen und bestätigen möchten.</p>
</div>
<div class="paragraph instruction">
<p>Teilmenge eintragen und buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>.</p>
</li>
<li>
<p>Öffnen Sie eine bestätigte Nachbestellung.</p>
</li>
<li>
<p>Öffnen Sie im Tab <strong>Base</strong> den Bereich <strong>Artikeldaten</strong>. <br>
→ Das Tab <strong>Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie unter <strong>Teilmenge</strong> die gelieferte Menge für eine Variante ein. <br>
→ Das kann auch die gesamte Menge sein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Nachbestellung wird aktualisiert. Die Varianten und die gelieferten Mengen sind nun im Tab <strong>Gelieferte Artikel</strong> zur Buchung verfügbar und der Status der Nachbestellung wechselt automatisch auf <strong>Teilweise geliefert</strong> oder <strong>Geliefert</strong>, wenn alle Varianten in der bestellten Menge eingetragen wurden.</p>
</li>
<li>
<p>Öffnen Sie die <strong>Artikeldaten</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Gelieferte Artikel</strong>.</p>
</li>
<li>
<p>Wählen Sie die Artikel, die Sie einbuchen möchten.</p>
</li>
<li>
<p>Wählen Sie einen Lagerort für die Artikel.</p>
</li>
<li>
<p>Tragen Sie unter <strong>Lieferschein</strong> eine Lieferscheinnummer ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Wareneingang buchen</strong>.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Nachbestellungen-verwalten-01.png" alt="DE Nachbestellungen verwalten 01">
</div>
<div class="title">Bild 1. Teilmenge; Lagerort und Lieferschein buchen</div>
</div>
<div class="paragraph">
<p>Wenn Sie zu einer Nachbestellung alle Teillieferungen erhalten und eingebucht haben, wechselt der Status automatisch von <strong>Teilweise geliefert</strong> oder <strong>Geliefert</strong> in den Status <strong>Gebucht</strong>. Der Buchungsvorgang erhält eine ID und durch einen Klick auf die ID gelangen Sie in den dazugehörigen Wareneingang. Wenn Sie für eine Variante mehr eingebucht haben, als bestellt wurde, erhält die Variante in der Nachbestellung automatisch die Kennzeichnung überliefert.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">12. Ware stornieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie können Ware so lange stornieren, wie die Nachbestellung noch im Status <strong>Bestätigt</strong> ist. Sobald Artikel geliefert wurden, kann nicht mehr storniert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Nachbestellungen-verwalten-02.png" alt="DE Nachbestellungen verwalten 02">
</div>
<div class="title">Bild 2. Artikel stornieren</div>
</div>
<div class="paragraph instruction">
<p>Ware stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>.</p>
</li>
<li>
<p>Öffnen Sie eine bestätigte Nachbestellung.</p>
</li>
<li>
<p>Öffnen Sie im Tab <strong>Base</strong> den Bereich <strong>Artikeldaten</strong>. <br>
→ Das Tab <strong>Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie bei dem Artikel, den Sie stornieren möchten, auf <strong>Löschen</strong> (Bild 2, roter Pfeil).<br>
→ Der Artikel wird gelöscht und Sie erhalten die Meldung, dass der Artikel storniert wurde (Bild 2, oranger Pfeil).</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Stornierte Artikel</strong>, um die Stornierung anzuzeigen bzw. die korrekte Buchung dort zu prüfen (Bild 3, Pfeil).</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Nachbestellungen-verwalten-03.png" alt="DE Nachbestellungen verwalten 03">
</div>
<div class="title">Bild 3. Stornierte Varianten in einer Nachbestellung</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">13. Fehllieferung buchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die Sie nicht bestellt hatten, die aber fälschlicherweise geliefert wurden, buchen Sie im Tab <strong>Fehllieferung</strong>. Nur wenn der Artikel im System existiert, können Sie eine Fehllieferung buchen. Wenn Sie den Artikel nicht im Sortiment haben und ihn trotzdem als Fehllieferung buchen möchten, müssen Sie zunächst einen Artikel anlegen. Fehllieferung ist eine reine Kennzeichnung in der Nachbestellung, die nicht in den Warenbestand oder die Warenbewegungen übernommen wird.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Nachbestellungen-verwalten-04.png" alt="DE Nachbestellungen verwalten 04">
</div>
<div class="title">Bild 4. Fälschlicherweise gelieferte Varianten einbuchen</div>
</div>
<div class="paragraph instruction">
<p>Fehllieferung buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>.</p>
</li>
<li>
<p>Öffnen Sie eine Nachbestellung.</p>
</li>
<li>
<p>Öffnen Sie im Tab <strong>Base</strong> den Bereich <strong>Artikeldaten</strong>. <br>
→ Das Tab <strong>Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Fehllieferung</strong>.</p>
</li>
<li>
<p>Suchen Sie die fehlgelieferten Artikel.</p>
</li>
<li>
<p>Wählen Sie den falsch gelieferten Artikel durch einen Klick auf den <strong>Einkaufswagen</strong> (Bild 4, Pfeil).<br>
→ Anschließend tragen Sie im Tab <strong>Artikel</strong> die falsch gelieferte Teilmenge ein und verfahren mit dem Artikel wie mit normal gelieferten Artikeln.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">14. Nachbestellungen suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen des Menüs werden immer alle offenen Nachbestellungen gesucht und angezeigt. Das Ergebnis können Sie durch Verändern der Filter einschränken, um so entweder alle oder ein weiter eingeschränktes Ergebnis anzuzeigen. Die Nachbestellungen werden anhand der Nachbestellungs-ID absteigend sortiert und so indirekt auch zeitlich sortiert.</p>
</div>
<div class="paragraph instruction">
<p>Nachbestellung suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>. <br>
→ Eine initiale Suche nach allen offenen Nachbestellungen wird ausgeführt.</p>
</li>
<li>
<p>Wählen Sie <strong>Filter</strong> für Ihre Suche.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Nachbestellungsfilter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löst die Suche aus und die gefundenen Nachbestellungen werden in der Nachbestellungsübersicht aufgelistet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eingestellte Filter zurücksetzen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachbestellungs-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachbestellungs-ID eintragen, um die Nachbestellung suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID eintragen, um Nachbestellungen zu suchen, die eine Variante des Artikels enthalten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID eintragen, um Nachbestellungen zu suchen, die die Variante enthalten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eintragen, um Nachbestellungen zu suchen, die die Variante enthalten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Händlerzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Händlerzeichen eintragen, um Nachbestellungen mit diesem Händlerzeichen zu suchen. Das Händlerzeichen finden Sie in einer Nachbestellung im Tab <strong>Base</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanten-Artikelnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer eines Lieferanten eintragen, um Nachbestellung zu suchen, die Artikel mit dieser Nummer enthaltenen. Die Lieferanten-Artikelnummer wird im <strong>Tab: Bestand » Tab: Lieferant</strong> einer Variante gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanten wählen, um Nachbestellungen an diesen Lieferanten zu suchen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchbegriffe oder Zahlenwerte eintragen, um Nachbestellungen zu suchen, die Artikel mit diesen Daten enthalten. Durchsucht werden folgende Datenfelder: <strong>Artikel-ID</strong>, <strong>Artikelnummer</strong> und <strong>Name</strong>. Die Beschreibungstexte z.B. Artikeltext und Vorschautext werden nicht durchsucht.<br>
<em><strong>Wichtig</strong></em>: Bei der Suche anhand von Artikeldaten reicht es generell aus, nur den Wortstamm einzugeben. Die Suchwörter können dabei am Ende fast beliebig gekürzt werden, am Wortanfang allerdings nicht! Bei der Suche nach Artikeln mit der Bezeichnung oder Teilbezeichnung <strong>Startersets</strong> führt <strong>Starterset</strong> oder <strong>Starter</strong> oder <strong>Start</strong> zum Ziel. Eine Suche nach <strong>set</strong> hingegen führt zu keinem Ergebnis!</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager wählen, um Nachbestellungen für dieses Lager zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachbestellungen anhand des hinterlegten Eigners suchen. Der Eigner wird in der jeweiligen Nachbestellung im Tab <strong>Base</strong> hinterlegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachbestellungen anhand des aktuellen Bestellstatus suchen.<br>
Im Menü <strong>System » Systemeinstellungen » Waren » Bestellwesen » Bestellstatus</strong> sind die Statusbenennungen änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung wählen, um Nachbestellungen zu suchen, bei denen diese Markierung eingestellt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welches Datum die Grundlage für die Suche bilden soll. Die Optionen sind <strong>Liefertermin</strong> (Standard), <strong>Liefertermin KW</strong> und <strong>Zahlungstermin</strong>. Für <strong>Liefertermin</strong> und <strong>Zahlungstermin</strong> wählen Sie für die Felder <strong>von</strong> und <strong>bis</strong> Angaben aus. Wenn Sie die Option <strong>Liefertermin KW</strong> wählen, tragen Sie die Wochen in die Felder <strong>von KW</strong> und <strong>bis KW</strong> ein.<br>
<em><strong>Beispiel</strong></em>: Wenn als Datum die Option <strong>Liefertermin</strong> gewählt und der Zeitraum vom 15.06.2013 bis 17.06.2013 eingestellt wurde, werden nur Nachbestellungen gesucht, deren Liefertermin innerhalb dieses Zeitraums liegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>von</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startdatum aus dem Kalender wählen. Diese Angabe startet den Zeitraum für das gewählte Datum, Liefertermin oder Zahlungstermin.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enddatum aus dem Kalender wählen. Diese Angabe beendet den Zeitraum für das gewählte Datum, Liefertermin oder Zahlungstermin.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>von KW</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Kalenderwoche für den Beginn des gewünschten Zeitraums eintragen. Diese Option ist nur verwendbar, wenn für die Option <strong>Datum</strong> die Einstellung <strong>Liefertermin KW</strong> gewählt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bis KW</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Kalenderwoche für das Ende des gewünschten Zeitraums eintragen. Diese Option ist nur verwendbar, wenn für die Option <strong>Datum</strong> die Einstellung <strong>Liefertermin KW</strong> gewählt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Sortierungskriterium und die Sortierreihenfolge wählen</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>In der Ergebnisliste erkennen Sie Nachbestellungen aus Aufträgen an einem kleinen Einkaufskorbsymbol neben dem Bestellstatus.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2100">15. Nachbestellungen löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie nachfolgend beschrieben vor, um Bestellungen zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Bestellungen löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Systemeinstellungen » Waren » Bestellwesen » Bestellungen löschen</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Startzeitpunkt</strong> das Datum, ab dem Bestellungen gelöscht werden sollen.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Endzeitpunkt</strong> das Datum, bis zu dem Bestellungen gelöscht werden sollen.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Status</strong>, um nur Bestellungen in dem Status zu löschen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ausführen</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2200">16. Arbeitsschritte für Nachbestellungen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie im Zusammenhang mit einer Nachbestellung bestimmte Vorgänge ausführen, können Sie mit Hilfe von <strong>Vorlagen</strong> bis zu 30 <strong>Arbeitsschritte</strong> erstellen, die mit einer <strong>Nachbestellung</strong> verknüpft werden. Die Arbeitsschritte werden abgebildet, indem jeweils ein <strong>Ticket</strong> angelegt wird. Die Tickets ermöglichen Ihnen, die Entwicklung der Arbeitsschritte zu verfolgen und andere Benutzer in die Bearbeitung mit einzubinden. Das Einrichten einer Vorlage und die Verknüpfung mit einer Nachbestellung wird unter <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-in-arbeitsschritte-gliedern#8"><strong>Nachbestellungen in Arbeitsschritte gliedern</strong></a> beschrieben.</p>
</div>
</div>
</div>
</main>