<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Vorbereitende Einstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> Meldebestand und Bestellmengenvorschlag festlegen</span></a></li>
<li><a href="#120"><span>1.2.</span><span> Status für Nachbestellungen anlegen</span></a></li>
<li><a href="#130"><span>1.3.</span><span> Tags für Nachbestellungen anlegen</span></a></li>
<li><a href="#140"><span>1.4.</span><span> Dokument Nachbestellung einrichten</span></a></li>
<li><a href="#150"><span>1.5.</span><span> Versand des Bestellscheins vorbereiten</span></a></li>
<li><a href="#160"><span>1.6.</span><span> Meldebestand einer Variante festlegen</span></a></li>
<li><a href="#170"><span>1.7.</span><span> Mindestabnahme einer Variante festlegen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Varianten für die Nachbestellung identifizieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Nachbestellung anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#310"><span>3.1.</span><span> Artikel unter Meldebestand nachbestellen</span></a></li>
<li><a href="#320"><span>3.2.</span><span> Artikel pro Lager und Lieferant nachbestellen</span></a></li>
<li><a href="#330"><span>3.3.</span><span> Artikel aus einem Auftrag nachbestellen</span></a></li>
<li><a href="#340"><span>3.4.</span><span> Einzelne Variante nachbestellen</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> Auftragspositionen hinzufügen</span></a></li>
<li><a href="#500"><span>5.</span><span> Auftragspositionen bearbeiten</span></a></li>
<li><a href="#600"><span>6.</span><span> Weitere Informationen hinterlegen</span></a></li>
<li><a href="#700"><span>7.</span><span> Nachbestellung auslösen und übermitteln</span></a>
<ul class="sectlevel2">
<li><a href="#710"><span>7.1.</span><span> Bestellschein manuell erstellen</span></a></li>
<li><a href="#720"><span>7.2.</span><span> Bestellschein automatisch erzeugen</span></a></li>
</ul>
</li>
<li><a href="#800"><span>8.</span><span> Rückstandsliste nutzen</span></a></li>
<li><a href="#900"><span>9.</span><span> Waren einbuchen</span></a>
<ul class="sectlevel2">
<li><a href="#910"><span>9.1.</span><span> Teilmengen einbuchen</span></a></li>
<li><a href="#920"><span>9.2.</span><span> Alle Artikel einbuchen</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>10.</span><span> Nachbestellung abschließen</span></a></li>
<li><a href="#1100"><span>11.</span><span> Nachbestellung suchen</span></a></li>
<li><a href="#1200"><span>12.</span><span> Nachbestellungen automatisieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Nachbestellungen verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Betaversion der neuen Nachbestellung</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt das Anlegen und Verwalten von Nachbestellungen mit der Betaversion der neuen Funktionalitäten zur Nachbestellung. Diese Funktionalitäten werden erst in den kommenden Wochen in allen plentymarkets Systemen sichtbar. Weitere Informationen zur kommenden Veröffentlichung findest du in diesem <a href="https://forum.plentymarkets.com/t/ankuendigung-releaseprozess-neue-nachbestellung/542252" target="_blank" rel="noopener">Forumsbeitrag</a> (Stand 24.05.2019).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Menü <strong>Waren » Bestellwesen » Bestellung</strong> nimmst du nicht nur <a href="/warenwirtschaft/umbuchungen-vornehmen">Umbuchungen</a> vor, sondern legst auch Nachbestellungen an. Über Nachbestellungen bildest du die Bestellung von Waren bei deinen Lieferanten ab.</p>
</div>
<div class="paragraph">
<p>Eine Nachbestellung gliedert sich in folgende Arbeitsschritte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#200">Varianten für die Nachbestellung identifizieren</a></p>
</li>
<li>
<p><a href="#300">Nachbestellung anlegen</a></p>
</li>
<li>
<p><a href="#400">Auftragspositionen hinzufügen</a></p>
</li>
<li>
<p><a href="#500">Auftragspositionen bearbeiten</a></p>
</li>
<li>
<p><a href="#600">Weitere Informatinen hinterlegen</a></p>
</li>
<li>
<p><a href="#700">Nachbestellung auslösen und übermitteln</a></p>
</li>
<li>
<p><a href="#800">Rückstandsliste nutzen</a></p>
</li>
<li>
<p><a href="#900">Waren einbuchen</a></p>
</li>
<li>
<p><a href="#1000">Nachbestellung abschließen</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Vor dem Anlegen der ersten Nachbestellungen solltest du einige vorbereitende Einstellungen vornehmen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Vorbereitende Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Kapitel beschreiben einige vorbereitende Einstellungen, die du vor dem Anlegen einer Nachbestellung vornehmen solltest. In der Regel sind diese Einstellungen nur einmalig notwendig. Richte den Meldebestand und den Bestellmengenvorschlag ein, um festzulegen, wann Artikel nachbestellt werden sollen. Erstelle neue Auftragsstatus speziell für die Nachbestellungen und lege Tags an, um dir die Übersicht zu erleichtern. Verpflichtend ist zudem die Einrichtung einer Dokumentenvorlage für das Dokument <strong>Nachbestellung</strong>.</p>
</div>
<div class="sect2">
<h3 id="110">1.1. Meldebestand und Bestellmengenvorschlag festlegen</h3>
<div class="paragraph">
<p>Vor dem Anlegen der ersten Nachstellung solltest du die Einstellungen zum Meldebestand und zum Abverkaufszeitraum vornehmen. So legst du fest, ab welchem Restbestand Artikel nachbestellt werden</p>
</div>
<div class="paragraph instruction">
<p>Meldebestand und Bestellmengenvorschlag festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Bestellwesen » Nachbestellung » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand der Informationen in <a href="#tabelle-meldebestand-bestellvorschlag-nachbestellung">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-meldebestand-bestellvorschlag-nachbestellung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Vorbereitende Einstellungen für das Bestellwesen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standard-Status, der beim Anlegen einer Nachbestellung vorausgewählt sein soll. Wie du spezielle Status für Nachbestellungen anlegst, erfährst du im Kapitel <a href="#120">Status für Nachbestellungen anlegen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine der verfügbaren Optionen aus.<br>
<strong>Aktiver Benutzer vorausgewählt</strong>: Der Benutzer, der die Nachbestellung im plentymarkets Backend anlegt, wird im Feld <strong>Eigner</strong> vorausgewählt.<br>
<strong>Kein Eigner vorausgewählt</strong>: Bei dieser Auswahl bleibt das Feld <strong>Eigner</strong> beim Anlegen einer Nachbestellung leer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abverkaufszeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Zeitraum wählen. Der Zeitraum gibt vor, welcher Zeitraum für die Berechnung des durchschnittlichen Abverkaufs berücksichtigt wird. Dieser Durchschnittsverkauf fließt in die Berechnung des Nachbestellungsvorschlags von Varianten ein. Der Nachbestellungsvorschlag wird dir im Menü <strong>Waren » Warenbestände</strong> für die einzelnen Varianten angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Voreingetragener Wert für Meldebestand/Bestellmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Einstellung bestimmt, wie die Bestellmenge im Nachbestellungsvorschlag berechnet wird.<br>
Du kannst wählen zwischen:<br>
<strong>Meldebestand - Nettobestand - bestellte Menge</strong> oder<br>
<strong>(Meldebestand - Nettobestand - bestellte Menge) + (Durchschnittsverbrauch * (Wiederbeschaffungszeit + Lagerreichweite))</strong><br>
<br>
Berechnungsparameter für den Bestellmengenvorschlag:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Meldebestand</strong> = Bestandsmenge, bei der nachbestellt werden soll. Du kannst entweder einen statischen oder dynamischen Meldebestand einstellen.</p>
</li>
<li>
<p><strong>Nettobestand</strong> = Verkaufbare Menge des Lagerbestands.</p>
</li>
<li>
<p><strong>Bestellte Menge</strong> = Bereits nachbestellt, aber noch nicht geliefert.</p>
</li>
<li>
<p><strong>Durchschnittsverbrauch</strong> = Tagesdurchschnittsverkaufsmenge. Den Zeitraum, der zum Ermitteln des Tagesdurchschnitts verwendet wird, legst du mit dem Abverkaufszeitraum fest.</p>
</li>
<li>
<p><strong>Wiederbeschaffungszeit</strong> = Lieferzeit eines Lieferanten. In einer Variante im Tab <strong>Lieferant</strong> wird die Lieferzeit in Tagen eingetragen.</p>
</li>
<li>
<p><strong>Lagerreichweite</strong> = Eingetragene Lagerreichweite. Die Lagerreichweite wird pro Variante und Lager im Tab <strong>Lager</strong> einer Variante eingetragen und stellt einen Reichweitenwunsch dar, anhand dessen der Bestellmengenvorschlag ermittelt wird.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="120">1.2. Status für Nachbestellungen anlegen</h3>
<div class="paragraph">
<p>In deinem plentymarkets System sind bestimmte Auftragsstatus voreingestellt. Diese voreingestellten Status stehen dir auch für die Nachbestellungen zur Verfügung. Du kannst aber auch beliebig viele individuelle Status für verschiedene Verwendungszwecke anlegen. Das Anlegen neuer Status wird im dazugehörigen Kapitel auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#1200">Aufträge verwalten</a> beschrieben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eigene Status für Nachbestellungen anlegen</div>
<div class="paragraph">
<p>Wir empfehlen, separate Status anzulegen, die du ausschließlich für den Auftragstyp <strong>Nachbestellung</strong> nutzt. Stelle sicher, dass sich mittels unterschiedlicher Namensgebung die Status der Nachbestellungen von den Status der weiteren Auftragstypen unterscheiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="130">1.3. Tags für Nachbestellungen anlegen</h3>
<div class="paragraph">
<p>Tags sind Kennzeichnungen, die du zentral in deinem plentymarkets System anlegst und anschließend für verschiedene Bereiche nutzen kannst. Möchtest du Nachbestellungen mit Tags versehen, musst du diese Tags zuvor im Menü <strong>Einrichtung » Einstellungen » Tags</strong> anlegen. Folge der Anleitung auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/tags">Tags</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="140">1.4. Dokument Nachbestellung einrichten</h3>
<div class="paragraph">
<p>Als Bestellschein für die Nachbestellung wird der speziell dafür vorgesehene Dokumententyp <strong>Nachbestellung</strong> genutzt. Dieses Dokument enthält alle nachzubestellenden Artikel und wird von dir als Händler an deinen Lieferanten übermittelt.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Dokumentenvorlage muss eingerichtet sein</div>
<div class="paragraph">
<p>Vor der erstmaligen Nutzung des Dokuments <strong>Nachbestellung</strong> muss zwingend die Dokumentenvorlage eingestellt werden. Solange keine Vorlage eingerichtet wurde, kann der Bestellschein nicht erzeugt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Folgenden wird beschrieben, wie du die einfache Standard-Vorlage übernimmst, die in deinem plentymarkets System bereits hinterlegt ist.</p>
</div>
<div class="paragraph instruction">
<p>Dokumentenvorlage für das Dokument <strong>Nachbestellung</strong> einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Bestellwesen » Nachbestellung » Dokumente » Nachbestellung</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Transfer</strong>.</p>
</li>
<li>
<p>Wähle über dem Tab-Titel die Sprache.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Einstellungen aus Standard-Dokumentenvorlage</strong> auf <strong>Übernehmen</strong>.<br>
→ Die Standard-Einstellungen werden auf das Dokument angewendet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Möchtest du das Dokument <strong>Nachbestellung</strong> individueller gestalten, das Logo deiner Firma oder zusätzliche Informationen darauf abbilden, gehe analog zu den Anleitungen auf der Handbuchseite zum Thema <a href="/auftraege/auftragsdokumente#300">Auftragsdokumente</a> vor.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">1.5. Versand des Bestellscheins vorbereiten</h3>
<div class="paragraph">
<p>Nachdem du im vorherigen Schritt die Dokumentenvorlage für den Bestellschein eingerichtet hast, solltest du im Folgenden noch Einstellungen zum Versand des Dokuments vornehmen, damit dein Lieferant die Nachbestellung auch erhält. Hierfür richtest du zunächst eine E-Mail-Vorlage ein, die den Bestellschein als PDF-Anhang enthält.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue E-Mail-Vorlage</strong>.</p>
</li>
<li>
<p>Trage einen Namen ein, z.B. "Bestellschein an Lieferant".</p>
</li>
<li>
<p>Wähle die oder den Eigner aus, für den oder die die E-Mail-Vorlage verfügbar sein soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>PDF-Anhang</strong> die Option <strong>Nachbestellung (PDF)</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>E-Mail-Nachricht</strong>.</p>
</li>
<li>
<p>Trage einen Betreff ein.</p>
</li>
<li>
<p>Trage den Text ein, den die E-Mail-Vorlage enthalten soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im zweiten Schritt kannst du den Versand des Bestellscheins an den Lieferanten automatisieren. So wird direkt nach dem Erzeugen des Bestellscheins das Dokument automatisch per E-Mail an deinen Lieferanten gesendet.</p>
</div>
<div class="paragraph">
<p>Richte dir dazu die folgende Ereignisaktion ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Senden des Bestellscheins an Lieferanten automatisieren:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>. <br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-bestellschein-an-lieferant">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-bestellschein-an-lieferant">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-bestellschein-an-lieferant" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden eines Bestellscheins an Lieferanten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellwesen &gt; Nachbestellungsdokument generiert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp &gt; Bestellung, Typ Nachbestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="160">1.6. Meldebestand einer Variante festlegen</h3>
<div class="paragraph">
<p>Möchtest du zuverlässig benachrichtigt werden, sobald es Zeit wird, einzelne Varianten nachzubestellen, solltest du in deinem plentymarkets System für jede Variante einen Meldebestand pflegen. Der Meldebestand zeigt an, bei welcher Menge einer Variante eine Nachbestellung veranlasst werden sollte.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Lager hinzufügen, um Meldebestand einzutragen</div>
<div class="paragraph">
<p>Ein statischer Meldebestand lässt sich nur eingeben, wenn der Variante ein Lager zugeordnet ist. Wenn kein Lager zugeordnet ist, füge zunächst das Lager hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Statischen Meldebestand eintragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Lager</strong>.</p>
</li>
<li>
<p>Trage eine Menge unter <strong>Meldebestand</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel, die den Meldebestand unterschreiten, direkt auf der Startseite anzeigen</div>
<div class="paragraph">
<p>Auf der Startseite deines Systems kanst du anzeigen, wie viele Varianten eines Lagers den Meldebestand unterschritten haben. Füge dafür das Element <strong>Artikel unter Meldebestand</strong> hinzu. Ein Klick auf die Anzahl der Varianten öffnet das Menü <strong>Waren » Warenbestände</strong> und filtert nach Varianten unter Meldebestand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="dynamischerMeldebestand" class="paragraph subhead">
<p>Aktuelle Umsetzung des dynamischen Meldebestand</p>
</div>
<div class="paragraph">
<p>Pro Lager kannst du entscheiden, ob du den dynamischen Meldebestand nutzt oder nicht. Wenn du den dynamischen Meldebestand nutzt, berechnet dein System den dynamischen Meldebestand jede Nacht im Hintergrund. Dieser berechnete dynamische Meldebestand wird noch in keinem Feld dargestellt, d.h. du siehst den Wert nicht. Die Differenz zum Meldebestand, MeldΔ, basiert jedoch auf dem berechneten Meldebestand. Die Differenz wird Ihnen z.B. in der Bestandsübersicht angezeigt. So kannst du anhand der Differenz absehen, wann eine Nachbestellung erfolgen sollte.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Wenn dynamischer Meldebestand genutzt wird, keinen statischen Meldebestand pflegen</div>
<div class="paragraph">
<p>Wenn du den dynamischen Meldebestand nutzt, darfst du manuell keinen statischen Meldebestand eintragen. Belasse den Meldebestand für die Varianten in dem Lager auf 0. Wenn ein Meldebestand größer als 0 gespeichert ist, wird die Berechnung des dynamischen Meldebestands nicht ausgeführt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Der dynamische Meldebestand wird jede Nacht anhand der folgenden Formel berechnet:</p>
</div>
<div class="paragraph">
<p>\(\mbox{Dynamischer Meldebestand} = {(\mbox{Ø Abverkauf} \cdot \mbox{Lagerreichweite}) + (\mbox{Ø Abverkauf} \cdot \mbox{kürzeste Lieferzeit})}\)</p>
</div>
<div class="paragraph">
<p>Erläuterung der Formelparameter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ø Abverkauf = durschnittlich verkaufte Menge</p>
</li>
<li>
<p>kürzeste Lieferzeit = kürzeste Lieferzeit einer Variante egal von welchem Lieferanten</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Differenz zum dynamischen Meldebestand (MeldΔ) wird im System dargestellt und berechnet sich folgendermaßen:</p>
</div>
<div class="paragraph">
<p>\(\mbox{MeldΔ} = {(\mbox{dynamischer Meldebestand} - (\mbox{Nettobestand} + (\mbox{nachbestellte Menge})}\)</p>
</div>
<div class="paragraph">
<p>Die Einstellung für den dynamischen Meldebestand triffst du für jedes Lager in den <a href="/warenwirtschaft/lager-einrichten#300">Lagereinstellungen</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="170">1.7. Mindestabnahme einer Variante festlegen</h3>
<div class="paragraph">
<p>Die Mindestabnahme ist die Menge, die du deinem Lieferanten mindestens abnehmen musst, wenn du bei ihm bestellst. Wenn du eine Mindestabnahme für eine Variante einträgst, entspricht der Bestellmengenvorschlag für die Variante mindestens dieser Mindestabnahme. Ein Bestellmengenvorschlag wird wiederum nur angezeigt, wenn der Meldebestand erreicht wurde.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Lieferant hinzufügen, um Mindestabnahme einzutragen</div>
<div class="paragraph">
<p>Eine Mindestabnahme lässt sich nur eingeben, wenn der Variante ein Lieferant zugeordnet ist. Wenn kein Lieferant zugeordnet ist, füge zunächst den Lieferanten hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mindestabnahme festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Lieferant</strong>.</p>
</li>
<li>
<p>Trage eine Menge unter Mindestabnahme ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn weder eine Mindestabnahme noch ein Meldebestand für eine Variante eingetragen ist, beträgt der Vorschlag 0.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Varianten für die Nachbestellung identifizieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für eine gut funktionierende Warenwirtschaft ist es wichtig, nachzubestellende Varianten zeitnah zu ermitteln. So vermeidest du, dass dir Artikel ausgehen und verhinderst somit unnötig lange Lieferzeiten bei deinen Kunden.</p>
</div>
<div class="paragraph">
<p>Am einfachsten erkennst du nachzubestellende Varianten daran, dass sie den Meldebestand erreicht haben. Arbeitest du nicht mit dem Meldebestand, kannst du alternativ nach dem Netto-Warenbestand filtern.</p>
</div>
<div class="paragraph instruction">
<p>Varianten für die Nachbestellung identifizieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Wähle für den Filter <strong>Beschränkung</strong> die Option <strong>Meldebestand erreicht/unterschritten</strong>.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Wähle die Option <strong>Negativer Netto-Warenbestand oder Netto-Warenbestand gleich 0</strong>, wenn du den Meldebestand nicht nutzt.</p>
</li>
<li>
<p>Wähle optional ein Lager.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Eine Liste mit Artikeln, die nachbestellt werden sollten, erscheint.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Nachbestellung anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Je nach Bedarf bietet dir dein plentymarkets System verschiedene Möglichkeiten an, Nachbestellungen anzulegen. Die folgenden Kapitel beschreiben kurz diese Möglichkeiten.</p>
</div>
<div class="sect2">
<h3 id="310">3.1. Artikel unter Meldebestand nachbestellen</h3>
<div class="paragraph">
<p>Im Folgenden wird beschrieben, wie du eine Nachbestellung für Artikel anlegst, die den Meldebestand unterschritten haben. Im Kapitel <a href="#200">Varianten für die Nachbestellung identifizieren</a> wurde bereits beschrieben, wie du herausfindest, welche Artikel den Meldebestand erreicht oder unterschritten haben. Die folgenden Schritte schließen sich an das Filtern an.</p>
</div>
<div class="paragraph instruction">
<p>Nachbestellung anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Führe wie im Kapitel <a href="#200">Varianten für die Nachbestellung identifzieren</a> beschrieben eine Suche nach Artikeln durch, die den Meldebestand erreicht oder untschritten haben. <br></p>
</li>
<li>
<p>Klicke auf <strong>Vorschläge übernehmen</strong>, um den errechneten Bestellmengenvorschlag zu übernehmen.<br>
→ Trage bei Bedarf eigene Werte ein.</p>
</li>
<li>
<p>Klicke auf <strong>Bestellung erstellen</strong>.<br>
→ Die Nachbestellung wird geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="320">3.2. Artikel pro Lager und Lieferant nachbestellen</h3>
<div class="paragraph">
<p>Es kann vorkommen, dass du eine Nachbestellung bezogen auf ein spezielles Lager oder einen speziellen Lieferanten anlegen möchtest. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Artikel pro Lager und Lieferant nachbestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Bestellwesen » Bestellung</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>grüne Plus</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Nachbestellung</strong>.</p>
</li>
<li>
<p>Wähle im Feld <strong>Lieferant</strong> den Lieferanten aus dem Dropdown-Menü aus.</p>
</li>
<li>
<p>Wähle im Feld <strong>Lager</strong> das Ziellager aus, an das die Nachbestellung geliefert werden soll.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle ein oder mehrere <strong>Tags</strong> für die neue Nachbestellung aus.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib im Feld <strong>Eigner</strong> einen Eigner, also den bearbeitenden Nutzer, ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Nachbestellung.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Befolge anschließend die in den Kapiteln <a href="#400">Auftragspositionen hinzufügen</a> bis <a href="#1000">Nachbestellung abschließen</a>, um die Nachbestellung vollständig zu durchlaufen.</p>
</div>
</div>
<div class="sect2">
<h3 id="330">3.3. Artikel aus einem Auftrag nachbestellen</h3>
<div class="paragraph">
<p>Es ist möglich, direkt aus einem regulären Auftrag hinaus eine Nachbestellung für eine oder mehrere Artikel anzulegen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Artikel aus einem Auftrag nachbestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag, für den du Artikel nachbestellen möchtest.</p>
</li>
<li>
<p>Öffne das Tab <strong>Nachbestellung</strong> des Auftrags.</p>
</li>
<li>
<p>Klicke auf <strong>Alle Positionen nachbestellen</strong>.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Wenn nicht alle im Auftrag enthaltenen Positionen nachbestellt werden sollen, wähle die nachzubestellenden Auftragspositionen aus und klicke auf <strong>Markierte Positionen nachbestellen</strong>.<br>
→ Die Nachbestellung wird geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Befolge anschließend die in den Kapiteln <a href="#400">Auftragspositionen hinzufügen</a> bis <a href="#1000">Nachbestellung abschließen</a>, um die Nachbestellung vollständig zu durchlaufen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zuordnung der Nachbestellung zum Auftrag</div>
<div class="paragraph">
<p>Bei Artikeln, die du wie oben beschrieben aus einem bestehenden Auftrag bestellst, wird der nachbestellte Bestand direkt dem entsprechenden Auftrag zugeordnet. Dies erkennst du in der Nachbestellung im Bereich <strong>Auftragspositionen</strong> am Einkaufswagen-Icon, das vor der Variante angezeigt wirst. Ein Klick auf das Icon zeigt dir im Tooltip die ID des Auftrags an und öffnet den Tab <strong>Übersicht</strong> des bestehenden Auftrags.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="340">3.4. Einzelne Variante nachbestellen</h3>
<div class="paragraph">
<p>Diese Methode bietet sich an, wenn du gezielt nur eine Variante eines Artikels nachbestellen möchtest. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Einzelne Variante nachbestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel, den du nachbestellen möchtest.</p>
</li>
<li>
<p>Öffne die Variante, die du nachbestellen möchtest.</p>
</li>
<li>
<p>Öffne das Tab <strong>Bestand</strong> der Variante.</p>
</li>
<li>
<p>Öffne das Untertab <strong>Warenbestand</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschläge übernehmen</strong> oder trage eine <strong>Menge</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Bestellung erstellen</strong>.<br>
→ Die Nachbestellung wird geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Befolge anschließend die in den Kapiteln <a href="#400">Auftragspositionen hinzufügen</a> bis <a href="#1000">Nachbestellung abschließen</a>, um die Nachbestellung vollständig zu durchlaufen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Auftragspositionen hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Oben wurden die verschiedenen Wege beschrieben, wie du eine Nachbestellung in deinem plentymarkets System anlegen kannst. Du kannst nun weitere nachzubestellende Artikel in Form von Auftragspositionen hinzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Auftragspositionen hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke im Bereich <strong>Auftragspositionen</strong> auf <strong>Hinzufügen</strong>.<br>
→ Ein Menü zum Hinzufügen der Artikelpositionen öffnet sich.</p>
</li>
<li>
<p>Wähle einen der <a href="#tabelle-filter-artikelsuche-nachbestellung">Tabelle 3</a> beschriebenen Filter zur Artikelsuche.</p>
</li>
<li>
<p>Gib einen zum Filter passenden Suchbegriff im Feld <strong>Artikel suchen</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br></p>
</li>
<li>
<p>Gib die nachzubestellende Anzahl in der Spalte <strong>Menge</strong> der nachzubestellenden Variante ein.</p>
</li>
<li>
<p>Klicke auf das <strong>Warenkorb-Icon</strong>.<br>
→ Die Varianten werden dem Warenkorb hinzugefügt.</p>
</li>
<li>
<p>Wiederhole die oben beschriebenen Schritte, bis alle nachzubestellenden Artikelvarianten in der gewünschten Menge im Warenkorb enthalten sind.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Warenkorb</strong> auf <strong>Speichern</strong>.<br>
→ Der Warenkorb wird gespeichert.<br>
→ Die Nachbestellung wird geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-filter-artikelsuche-nachbestellung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Filter in der Artikelsuche</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Artikel mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um nach der Variante mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eingeben, um nach der Variante mit diesem Code zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnamen eingeben, um nach dem Artikel mit diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer des Lieferanten eingeben, um nach Artikeln mit dieser Lieferantennummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers eingeben, um nach Artikeln zu suchen, die mit diesem Lager verknüpft sind.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Auftragspositionen bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die gewünschten Artikel zum Warenkorb hinzugefügt hast, kannst du sie im Bereich <strong>Auftragspositionen</strong> noch bearbeiten. Für jeden Artikel wird dir beispielsweise die Option <strong>Löschen</strong> angezeigt, mit der du die Auftragspositionen entfernen kannst.
Im Feld <strong>Einkaufspreis</strong> kannst du den voreingetragenen Einkaufspreis ändern, falls dein Lieferant dir beispielsweise kurzfristig einen veränderten Preis zugesagt hat.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einkaufspreis für Varianten bearbeiten</div>
<div class="paragraph">
<p>Das Bearbeiten des Einkaufspreises kann Auswirkungen auf deine im System gespeicherten Preise haben.
Ist im Menü <strong>Einrichtung » Waren » Warenbestand » Wareineingang</strong> für den <strong>Einkaufspreis</strong> eine der Optionen <strong>Einkaufspreis auf Variante übertragen</strong> oder <strong>Einkaufspreis auf Variante und Lieferant übertragen</strong> aktiviert, wird der an der Variante hinterlegte Einkaufspreis durch deine Eingabe während der Nachbestellung überschrieben. Genauere Informationen dazu findest du auf der Handbuchseite <a href="/warenwirtschaft/wareneingaenge-verwalten#300">Wareneingänge verwalten</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Hast du alle notwendigen Änderungen an den Auftragspositionen vorgenommen, drücke im Bereich <strong>Warenkorb</strong> auf <strong>Speichern</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Weitere Informationen hinterlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Bereich <strong>Details</strong> bietet dir die Möglichkeit, zur besseren Übersicht weitere Informationen an der Nachbestellung zu hinterlegen. <a href="#tabelle-weitere-informationen-nachbestellung">Tabelle 4</a> beschreibt die möglichen Informationen.</p>
</div>
<table id="tabelle-weitere-informationen-nachbestellung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Weitere Informationen für die Nachbestellung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manuell das Lieferdatum wählen, soweit es vom Händler mitgeteilt wurde. Alternativ über die Funktion <strong>Lieferdatum ermitteln</strong> nutzen. Das System berechnet dann auf Basis der <strong>Lieferzeit</strong>, die im Tab <strong>Lieferant</strong> der Varianten hinterlegt ist, das voraussichtliche Lieferdatum. Weitere Informationen zum Hinterlegen der Lieferzeit an der Variante findest du auf der Handbuchseite <a href="/artikel/artikel-verwalten#180">Artikel verwalten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Händlerzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das zum Lieferanten gehörende Händlerzeichen eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzer auswählen, der als Eigner der Nachbestellung festgelegt werden soll. Alternativ werden hier, falls festgelegt, der <a href="#200">Standard-Eigner</a> angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist in diesem Feld die Systemwährung voreingestellt. Bei Bedarf eine abweichende <strong>Währung</strong> des Lieferanten plus den geltenden <strong>Wechselkurs</strong> für die gewählte Währung eingeben. Oben im Bereich <strong>Details</strong> der Nachbestellung wird dann der aktuell berechnete <strong>Nettowarenwert</strong> angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. Nachbestellung auslösen und übermitteln</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du alle nachzubestellenden Varianten zur Nachbestellung hinzugefügt hast, setzt du das Bestelldatum. Klicke dazu auf den Button <strong>Bestellung auslösen</strong> im Bereich <strong>Details</strong>.</p>
</div>
<div class="paragraph">
<p>Nach dem Auslösen der Nachbestellung musst du noch deine Nachbestellung an den Lieferanten übermitteln. Dazu erstellst du den Bestellschein in Form des Dokuments <strong>Nachbestellung</strong>. Im Kapitel <a href="#150">Versand der des Bestellscheins vorbereiten</a> wurde bereits beschrieben, wie du die Dokumentenvorlage einrichtest und das Dokument automatisch an deinen Lieferanten übermittelst. Im Folgenden findest du jeweils eine Anleitung zum manuellen und zum automatisierten Erzeugen des Dokuments.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Auftragspositionen nicht mehr editierbar</div>
<div class="paragraph">
<p>Sobald du das Bestelldatum gesetzt hast, kannst du in der Nachbestellung keine Auftragspositionen mehr hinzufügen oder löschen. Setze das Datum also erst nach sorgfältiger Prüfung!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="710">7.1. Bestellschein manuell erstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um den Bestellschein manuell zu erzeugen. Je nach Workflow kannst du auch einen Bestellschein hinterlegen, falls dir das Dokument vom Lieferanten übermittelt wurde.</p>
</div>
<div class="paragraph instruction">
<p>Bestellschein manuell erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Bereich <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Dokument hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle die Option <strong>Bestellschein erzeugen</strong>.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Wähle die Option <strong>Bestellschein hochladen</strong>, um einen vom Lieferanten erstellten Bestellschein hochzuladen.<br>
→ Der Bestellschein wird erstellt und ist im Bereich <strong>Dokumente</strong> verfügbar.</p>
</li>
<li>
<p>Klicke auf <strong>Aktionen</strong>, um das Dokument herunterzuladen oder zu löschen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="720">7.2. Bestellschein automatisch erzeugen</h3>
<div class="paragraph">
<p>Richte die folgende Ereignisaktion ein, um den Bestellschein automatisch zu erzeugen, sobald du das Bestelldatum gesetzt hast.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Erzeugen des Bestellscheins automatisieren:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>. <br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-bestellschein-erzeugen">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-bestellschein-erzeugen">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-bestellschein-erzeugen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Erzeugen des Bestellscheins</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellwesen &gt; Bestellung ausgelöst</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp &gt; Bestellung, Typ Nachbestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Bestellschein automatisch an den Lieferanten senden</div>
<div class="paragraph">
<p>Möchtest du im Anschluss an das automatische Erzeugen des Bestellscheins diesen auch automatisiert an den Lieferanten senden, richte zusätzlich die im Kapitel <a href="#150">Versand des Bestellscheins vorbereiten</a> beschriebene Ereignisaktion ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Rückstandsliste nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du eine große Anzahl von Artikeln nachbestellt hast oder viele Nachbestellungen parallel laufen, nutze die Rückstandsliste, um den Überblick über nachbestellte, aber noch nicht gelieferte Artikel zu behalten. Diese Artikel werden dir im Menü <strong>Waren » Bestellwesen » Rückstandsliste</strong> angezeigt. Weitere Informationen zur Rückstandsliste findest du auf der Handbuchseite <a href="/warenwirtschaft/nachbestellungen-verwalten/rueckstandsliste-verwalten">Rückstandsliste verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Waren einbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald die nachbestellten Artikel in deinem Lager eintreffen, müssen diese eingebucht werden. Je nachdem, ob du alle Artikel der Nachbestellung in einer zusammenhängenden Lieferung oder in separaten Lieferungen erhältst, buchst du entweder Teilmengen oder alle Artikel in einem Schritt ein.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Lagerort für die Einbuchung</div>
<div class="paragraph">
<p>Pflegst du keine separaten Lager und Lagerorte für deine Artikel in deinem plentymarkets System, werden die Artikel beim Einbuchen auf den im System standardmäßig vorhandenen Standard-Lagerort gebucht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="910">9.1. Teilmengen einbuchen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Teilmengen aus verschiedenen Lieferungen derselben Nachbestellung einzubuchen.</p>
</div>
<div class="paragraph instruction">
<p>Teilmengen einbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Bestellwesen » Bestellung</strong>.</p>
</li>
<li>
<p>Öffne die Nachbestellung, zu der Waren eingebucht werden sollen.</p>
</li>
<li>
<p>Öffne den Bereich <strong>Auftragspositionen</strong>.</p>
</li>
<li>
<p>Trage in der Spalte <strong>Teilmenge</strong> die Anzahl der gelieferten Artikelpositionen ein.</p>
</li>
<li>
<p>Klicke auf <strong>Warenbewegungen anlegen</strong>.<br>
→ Die Warenbewegungen werden angelegt.</p>
</li>
<li>
<p>Gehen zum Bereich <strong>Warenbewegungen</strong>. Dort erkennst du an der grünen Markierung die vorbereiteten Wareneingänge.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Lagerort</strong> die ID des Lagerorts an, in den die Artikel eingebucht werden sollen.</p>
</li>
<li>
<p>Setze jeweils ein Häkchen in der Zeile mit der einzubuchenden Artikelvariante.</p>
</li>
<li>
<p>Gib im Feld <strong>Lieferschein-Nr.</strong> die Nummer des Bestellscheins ein, der zur Nachbestellung gehört.</p>
</li>
<li>
<p>Klicke auf <strong>Markierte Warenbewegungen buchen</strong>.<br>
→ Die Teilmenge wird auf die angegebenen Lagerorte gebucht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="920">9.2. Alle Artikel einbuchen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um alle in der Nachbestellung enthaltenen Artikel gleichzeitig einzubuchen.</p>
</div>
<div class="paragraph instruction">
<p>Vollständige Menge einbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Bestellwesen » Bestellung</strong>.</p>
</li>
<li>
<p>Öffne die Nachbestellung, zu der Waren eingebucht werden sollen.</p>
</li>
<li>
<p>Öffne den Bereich <strong>Auftragspositionen</strong>.</p>
</li>
<li>
<p>Trage in der Spalte <strong>Teilmenge</strong> die Anzahl der vollständig gelieferten Artikel ein.</p>
</li>
<li>
<p>Klicke auf <strong>Warenbewegungen anlegen</strong>.<br>
→ Die Warenbewegungen werden angelegt.</p>
</li>
<li>
<p>Gehen zum Bereich <strong>Warenbewegungen</strong>. Dort erkennst du an der grünen Markierung die vorbereiteten Wareneingänge.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Lagerort</strong> die ID des Lagerorts an, in den die Artikel eingebucht werden sollen.</p>
</li>
<li>
<p>Gib im Feld <strong>Lieferschein-Nr.</strong> die Nummer des Bestellscheins ein, der zur Nachbestellung gehört.</p>
</li>
<li>
<p>Klicke auf <strong>Alle Warenbewegungen buchen</strong>.<br>
→ Die vollständige Menge wird auf die angegebenen Lagerorte gebucht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">10. Nachbestellung abschließen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald du alle in der Nachbestellung enthaltenen Artikel erhalten und eingebucht hast, schließt du die Nachbestellung ab. Klicke dazu oben im Bereich <strong>Details</strong> der Nachbestellung auf <strong>Bestellung abschließen</strong>. Das aktuelle Datum wird als Abschlussdatum gesetzt und die Nachbestellung für die Bearbeitung gesperrt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sperrung der Nachbestellung aufheben</div>
<div class="paragraph">
<p>Hast du die Nachbestellung versehentlich abgeschlossen, klicke erneut auf das Icon. So wird die Nachbestellung entsperrt und einzelne Informationen können erneut bearbeitet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Schließe die Nachbestellung auch ab, wenn einzelne Artikel aus der Nachbestellung voraussichtlich nicht mehr nachgeliefert werden können, zum Beipiel aufgrund von Verlust auf dem Versandweg. So werden die ausstehenden Auftragspositionen auch aus der <a href="/warenwirtschaft/nachbestellungen-verwalten/rueckstandsliste-verwalten">Rückstandliste</a> entfernt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">11. Nachbestellung suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>Waren » Bestellwesen » Bestellung</strong> werden dir alle Nachbestellungen und <a href="/warenwirtschaft/umbuchungen-vornehmen">Umbuchungen</a> angezeigt. Das Ergebnis kannst du durch Verändern der Filter einschränken, um so entweder alle oder ein weiter eingeschränktes Ergebnis anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Nachbestellung suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Bestellwesen » Bestellung</strong><br></p>
</li>
<li>
<p>Wähle einen oder mehrere der in <a href="#tabelle-nachbestellung-suchen-filter">Tabelle 6</a> beschriebenen Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.</p>
</li>
</ol>
</div>
<table id="tabelle-nachbestellung-suchen-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Verfügbare Filter zum Suchen einer Nachbestellung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID der Nachbestellung eingeben, um die Nachbestellung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-Typ <strong>Nachbestellung</strong> eingeben, um nur Aufträge vom Typ <strong>Nachbestellung</strong> anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID eingeben, um Nachbestellungen zu suchen, die einen Artikel mit dieser ID enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID eingeben, um Nachbestellungen zu suchen, die eine Variante mit dieser ID enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennumer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um Nachbestellungen zu suchen, die eine Variante mit dieser Nummer enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchbegriffe oder Zahlenwerte eintragen, um Nachbestellungen zu suchen, die Artikel mit diesen Daten enthalten. Durchsucht werden folgende Datenfelder: <strong>Artikel-ID</strong>, <strong>Artikelnummer</strong> und <strong>Name</strong>. Beschreibungstexte wie der Artikeltext und der Vorschautext werden nicht durchsucht.
Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Nachbestellung</strong> setzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status aus der Liste auswählen. Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Nachbestellung</strong> setzen, um Nachbestellungen mit diesem Status zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Eigner aus der Liste auswählen. Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Nachbstellung</strong> setzen, um Nachbestellungen mit diesem Eigner zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsdatum von …​ bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start- und Enddatum aus dem Kalender wählen. Diese Angabe grenzt den Zeitraum auf das Bestelldatum der Nachbestellung ein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">12. Nachbestellungen automatisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe der in plentymarkets verfügbaren Ereignisaktionen kannst du die einzelnen Arbeitsschritte einer Nachbestellung automatisieren. Eine Möglichkeit zur Automatisierung des Bestellscheins wurde bereits im Kapitel <a href="#720">Bestellschein automatisch erzeugen</a> beschrieben. Im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> stehen dir in den Ereignis-, Filter- und Aktionsgruppen <strong>Bestellwesen</strong> weitere Optionen zur Automatisierung einzelner Arbeitsschritte der Nachbestellung zur Verfügung.<br></p>
</div>
<div class="paragraph">
<p>Genauere Informationen zu diesen Einstellungsmöglichkeiten findest du auf der Handbuchseite <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a>. Arbeitest du zum ersten Mal mit den Ereignisaktionen, findest du genauere Informationen zum Anlegen von Ereignisaktionen im Kapitel <a href="/automatisierung/ereignisaktionen#100">Neue Ereignisaktion anlegen</a>.</p>
</div>
</div>
</div>
</main>