<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Warum du die plentyWarehouse App nutzen solltest</span></a></li>
<li><a href="#200"><span>2.</span><span> Welche Funktionen bietet die plentyWarehouse App?</span></a></li>
<li><a href="#300"><span>3.</span><span> Die plentyWarehouse App herunterladen und installieren</span></a></li>
<li><a href="#400"><span>4.</span><span> Welche Schritte gehören zur Einrichtung?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Die plentyWarehouse App (Beta)</h1><div class="sect1">
<h2 id="100">1. Warum du die plentyWarehouse App nutzen solltest</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die neu entwickelte plentyWarehouse App bietet dir zahlreiche Möglichkeiten, die mobile Warenwirtschaft einfach und effizient abzuwickeln.
Nach und nach überführen wir alle Funktionen zur Warenwirtschaft aus der <a href="/app">bereits bekannten plentymarkets App</a> in die neue plentyWarehouse App. Unser Ziel dabei sind die Schaffung intuitiverer Bedienkonzepte, eine stabile Performance und eine zuverlässige, hochaktuelle technische Basis. Von all diesen Vorteilen und einer Reihe ganz neuer Entwicklungen profitierst du, wenn du die plentyWarehouse App herunterlädst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweise zum aktuellen Stand der plentyWarehouse App</div>
<div class="paragraph">
<p>Die plentyWarehouse App befindet sich in der offenen Beta-Phase. Das bedeutet, dass wir fortlaufend Anpassungen und Fehlerbehebungen vornehmen und schrittweise neue Versionen veröffentlichen, die diese Änderungen enthalten. Ebenso werden die enthaltenen Funktionen Schritt für Schritt erweitert. Feedback und Fragen nehmen wir in dieser Phase gern im <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">Forum</a> &nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> entgegen. Dort findest du auch jederzeit aktuelle Informationen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Welche Funktionen bietet die plentyWarehouse App?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktuell sind folgende Funktionen in plentyWarehouse enthalten. Klicke auf die einzelnen Einträge in der Liste, um zu den entsprechenden Handbuchseite mit weiteren Informationen und Anleitungen zu gelangen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/warenwirtschaft/plentywarehouse/artikel-und-lagerorte#100">Artikelsuche</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/plentywarehouse/artikel-und-lagerorte#400">Lagerorte inspizieren</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/plentywarehouse/artikel-umbuchen">Artikel umbuchen</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/plentywarehouse/artikel-verraeumen">Artikel verräumen</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren">Inventur durchführen</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Die plentyWarehouse App herunterladen und installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lade die plentyWarehouse App herunter und installiere sie auf einem passenden Gerät.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://play.google.com/store/apps/details?id=com.plentysystems.plentywarehouse" target="_blank" rel="noopener">Die plentyWarehouse App im Google Play Store</a> &nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du die plentyWarehouse App für die Warenwirtschaft im Lager nutzen möchtest, empfehlen wir die in <a href="#table-requirements-plentywarehouse">Tabelle 1</a> aufgeführte Hardware.</p>
</div>
<table id="table-requirements-plentywarehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Warenwirtschaft mit der plentyWarehouse App</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Hardware</th>
<th class="tableblock halign-left valign-top">Bezugsquelle</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">M3 SM15 Mobile Computer<br>
(Android 7.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/M3-SM15-Mobile-Computer-WiFi-und-LTE" class="bare">https://sys.sundsits.de/M3-SM15-Mobile-Computer-WiFi-und-LTE</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Tel.: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zebra TC 21<br>
(Android 7.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/Zebra-TC21" class="bare">https://sys.sundsits.de/Zebra-TC21</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Tel.: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zebra TC 26<br>
(Android 7.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/Zebra-TC26" class="bare">https://sys.sundsits.de/Zebra-TC26</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Tel.: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Welche Schritte gehören zur Einrichtung?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast die plentyWarehouse App heruntergeladen und auf der passenden Hardware installiert? Dann kannst du mit der Einrichtung fortfahren.</p>
</div>
<div class="paragraph">
<p>Auf der Handbuchseite <a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung">Installation und Ersteinrichtung</a> findest du detaillierte Informationen zum ersten Login in der App, zur allgemeinen Orientierung und zu den grundlegenden Einstellungen, die du vor dem produktiven Einsatz von plentyWarehouse vornehmen musst.</p>
</div>
</div>
</div>
</main>