<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Vorbereitende Einstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Status für Umbuchungen anlegen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Tags für Umbuchungen anlegen</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Standardeinstellungen vornehmen</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Vorlage für PO Lieferschein einrichten</span></a></li>
<li><a href="#550"><span>1.5.</span><span> Messenger nutzen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Umbuchung anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>2.1.</span><span> Auftragspositionen hinzufügen</span></a></li>
<li><a href="#800"><span>2.2.</span><span> PO Lieferschein erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#830"><span>2.2.1.</span><span> PO Lieferschein manuell erstellen</span></a></li>
<li><a href="#870"><span>2.2.2.</span><span> PO Lieferschein automatisch erstellen</span></a></li>
</ul>
</li>
<li><a href="#900"><span>2.3.</span><span> Waren ausbuchen</span></a></li>
<li><a href="#1000"><span>2.4.</span><span> Waren einbuchen</span></a></li>
<li><a href="#1100"><span>2.5.</span><span> Umbuchung abschließen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.</span><span> Umbuchung suchen</span></a></li>
<li><a href="#1300"><span>4.</span><span> Umbuchungen automatisieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Umbuchungen vornehmen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Waren » Bestellwesen » Bestellung</strong> kannst du Waren zwischen verschiedenen Lagern umbuchen.</p>
</div>
<div class="paragraph">
<p>Die Umbuchung gliedert sich in folgende Arbeitsschritte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#600">Umbuchung anlegen</a></p>
</li>
<li>
<p><a href="#700">Auftragspositionen hinzufügen</a></p>
</li>
<li>
<p><a href="#800">Lieferschein erstellen</a></p>
</li>
<li>
<p><a href="#900">Waren ausbuchen</a></p>
</li>
<li>
<p><a href="#1000">Waren einbuchen</a></p>
</li>
<li>
<p><a href="#1100">Umbuchung abschließen</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wir empfehlen dir, vor der Abwicklung der Umbuchungen die folgenden vorbereitenden Einstellungen vorzunehmen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Vorbereitende Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um deine Arbeit mit Lagerumbuchungen optimal zu organisieren, solltest du einige vorbereitende Einstellungen vornehmen. Diese Einstellungen werden im Folgenden beschrieben. Erstelle neue Status speziell für Umbuchungen und lege Tags an, um dir die Übersicht zu erleichtern. Die Einrichtung einer Dokumentenvorlage für den <strong>PO Lieferschein</strong> ist zudem zwingend erforderlich.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Status für Umbuchungen anlegen</h3>
<div class="paragraph">
<p>In deinem plentymarkets System sind bestimmte Auftragsstatus voreingestellt. Diese voreingestellten Status stehen dir auch für Umbuchungen zur Verfügung. Du kannst gesonderte Status für Umbuchungen anlegen, die du dann ausschließlich für diesen Auftragstyp nutzt. Das Anlegen neuer Status wird auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#1200">Aufträge verwalten</a> beschrieben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eigene Status für Umbuchungen anlegen</div>
<div class="paragraph">
<p>Wir empfehlen, separate Status anzulegen, die du ausschließlich für die Umbuchungen nutzt. So kannst du mittels unterschiedlicher Namensgebung die Status der Umbuchungen von den Status der weiteren Auftragstypen unterscheiden, beispielsweise bei der <a href="#1100">Automatisierung der Umbuchungen durch Ereignisaktionen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Tags für Umbuchungen anlegen</h3>
<div class="paragraph">
<p>Tags sind Kennzeichnungen, die du zentral in deinem plentymarkets System anlegst und anschließend für verschiedene Bereiche nutzen kannst. Um Umbuchungen mit Tags zu versehen, musst du diese Tags zuvor im Menü <strong>Einrichtung » Einstellungen » Tags</strong> anlegen. Folge dazu der Anleitung auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/tags">Tags</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Standardeinstellungen vornehmen</h3>
<div class="paragraph">
<p>Um den Aufwand beim Anlegen einer neuen Umbuchung zu verringern, empfiehlt es sich, einige Standardeinstellungen vorzunehmen. Durch diese Einstellungen werden einzelne Felder mit Standardwerten vorausgefüllt, wenn du eine neue Umbuchung erstellst. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Standardeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Bestellwesen » Umbuchung » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle einen <strong>Standard-Status</strong>, der beim Anlegen einer neuen Umbuchung vorausgewählt sein soll.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen zum <strong>Standard-Eigner</strong> vor. Beachte dazu die Informationen in <a href="#tabelle-standard-eigner-umbuchung">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die gewählten Standardeinstellungen werden beim Anlegen neuer Umbuchungen vorausgewählt.</p>
</li>
</ol>
</div>
<table id="tabelle-standard-eigner-umbuchung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Einstellungen zum Standard-Eigner</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiver Benutzer vorausgewählt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Benutzer, der die Umbuchung erstellt, wird im Feld <strong>Eigner</strong> vorausgewählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kein Eigner vorausgewählt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Feld <strong>Eigner</strong> bleibt beim Anlegen einer Umbuchung leer.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">1.4. Vorlage für PO Lieferschein einrichten</h3>
<div class="paragraph">
<p>Für die Umbuchung nutzt du den speziell dafür vorgesehenen Dokumententyp <strong>PO Lieferschein</strong> (PO = Purchase order, dt. Bestellwesen). Dieser Lieferschein listet die in der Umbuchung vorhandenen Auftragspositionen auf. So ist der Inhalt der Umbuchung beim Aus- und Einbuchen in das Empfängerlager für Lagermitarbeiter und Logistikpartner nachvollziehbar.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Dokumentenvorlage muss eingerichtet sein</div>
<div class="paragraph">
<p>Vor der erstmaligen Nutzung des Dokumententyps <strong>PO Lieferschein</strong> muss zwingend die Dokumentenvorlage eingestellt werden. Solange keine Vorlage eingerichtet wurde, wird der Lieferschein bei der Umbuchung nicht erstellt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Folgenden wird beschrieben, wie du die Vorlage übernimmst, die in deinem plentymarkets System standardmäßig hinterlegt ist.</p>
</div>
<div class="paragraph instruction">
<p>Dokumentenvorlage für PO Lieferschein einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Bestellwesen » Umbuchung » Dokumente » PO Lieferschein</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Transfer</strong>.</p>
</li>
<li>
<p>Wähle über dem Tab-Titel die Sprache.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Einstellungen aus Standard-Dokumentenvorlage</strong> auf <strong>Übernehmen</strong>.<br>
→ Die Standardeinstellungen werden auf das Dokument angewendet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Um das Dokument <strong>PO Lieferschein</strong> individuell zu gestalten, gehe analog zu den Anleitungen im Kapitel <a href="/auftraege/auftragsdokumente#300">Dokumentenvorlage einrichten</a> vor.</p>
</div>
</div>
<div class="sect2">
<h3 id="550">1.5. Messenger nutzen</h3>
<div class="paragraph">
<p>Du kannst in der Umbuchung auf der linken Seite auf <strong>Messenger</strong> klicken oder den Messenger im unteren Bereich der Umbuchung aufklappen.</p>
</div>
<div class="paragraph">
<p>Klicke auf das Plus, um eine neue Nachricht hinzuzufügen. Wähle einen Empfänger aus und weise der Nachricht einen oder mehrere Tags zu. Es ist außerdem möglich, der Nachricht beliebig viele Dateianhänge hinzuzufügen.</p>
</div>
<div class="paragraph">
<p>Nach Absenden der Nachricht, wird die Nachricht dann automatisch mit der Umbuchungs-ID verknüpft. Die Nachricht kann nach der Bearbeitung als geschlossen markiert werden.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten">Kontakte verwalten</a> im Kapitel <a href="/crm/kontakte-verwalten#1390">Nachrichten mit dem Messenger verwalten</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Umbuchung anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die vorbereitenden Einstellungen vorgenommen hast, kannst du einen Auftrag vom Typ Umbuchung anlegen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Umbuchung anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Bestellwesen » Bestellung</strong>.</p>
</li>
<li>
<p>Bewege die Maus über das <strong>Plus-Icon</strong> und klicke auf <strong>Neue Umbuchung</strong>.<br>
→ Das Menü zum Anlegen der Umbuchung öffnet sich.</p>
</li>
<li>
<p>Wähle im Feld <strong>Status</strong> einen <a href="#200">Status</a> aus, mit dem die Umbuchung angelegt werden soll. Dieser Status ist später noch änderbar.</p>
</li>
<li>
<p>Gib im Feld <strong>Sender</strong> das Lager an, aus dem umgebucht werden soll.</p>
</li>
<li>
<p>Gib im Feld <strong>Empfänger</strong> das Lager an, in das umgebucht werden soll.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle ein oder mehrere <strong>Tags</strong> für die neue Umbuchung aus.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib im Feld <strong>Eigner</strong> einen Eigner, also den bearbeitenden Nutzer, ein.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Eigner auswählen</div>
<div class="paragraph">
<p>Fehlt der gewünschte <strong>Eigner</strong> fehlt, liegt das daran, dass kein Benutzer deines plentymarkets Systems als Eigner aktiviert wurde. Eine Anleitung zum Aktivieren der Eigner findest du auf der Handbuchseite <a href="/basics/admin-aufgaben/benutzer-verwalten#40">Benutzer verwalten</a>. Prüfe außerdem die oben beschriebenen <a href="#400">Standardeinstellungen</a> zum Eigner.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="700">2.1. Auftragspositionen hinzufügen</h3>
<div class="paragraph">
<p>Im nächsten Schritt fügst du die Auftragspositionen hinzu, die von einem Lager in ein anderes Lager umgebucht werden sollen. Nutze dabei den <strong>Filter</strong>, um die gewünschten Auftragspositionen anhand der vorhandenen <a href="/artikel/artikel-verwalten#_artikel_filtern">Artikel- und Variantendaten</a> zu finden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragspositionen hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke im Bereich <strong>Auftragspositionen</strong> auf <strong>Hinzufügen</strong>.<br>
→ Ein Menü zum Hinzufügen der Artikelpositionen öffnet sich.</p>
</li>
<li>
<p>Wähle einen Filter zur Artikelsuche. Die Filter sind in <a href="#tabelle-filter-artikelsuche-umbuchung">Tabelle 2</a> beschrieben.</p>
</li>
<li>
<p>Gib einen zum Filter passenden Suchbegriff im Feld <strong>Artikel suchen</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Artikelvarianten, die im Senderlager Bestand haben, werden angezeigt.</p>
</li>
<li>
<p>Gib die umzubuchende Anzahl in der Spalte <strong>Menge</strong> der Variante ein.</p>
</li>
<li>
<p>Klicke auf das <strong>Warenkorb-Icon</strong>.<br>
→ Die Varianten werden dem Warenkorb hinzugefügt.</p>
</li>
<li>
<p>Wiederhole Schritte 1 bis 6, bis alle umzubuchenden Artikelvarianten in der gewünschten Menge im Warenkorb enthalten sind.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Warenkorb</strong> auf <strong>Speichern</strong>.<br>
→ Der Warenkorb wird gespeichert.<br>
→ Die Umbuchung wird geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-filter-artikelsuche-umbuchung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Filter in der Artikelsuche</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Artikel mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um nach der Variante mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eingeben, um nach der Variante mit diesem Code zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnamen eingeben, um nach dem Artikel mit diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer des Lieferanten eingeben, um nach Artikeln mit dieser Lieferantennummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers eingeben, um nach Artikeln zu suchen, die mit diesem Lager verknüpft sind.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ergebnisse der Artikelsuche</div>
<div class="paragraph">
<p>Die Artikelsuche in diesem Menü zeigt ausschließlich Artikel und Varianten, die Bestand im Senderlager haben. Werden Varianten oder Artikel nicht aufgeführt, überprüfe den Bestand im Menü <strong>Waren » Warenbestände</strong> oder im Tab <strong>Bestand</strong> der Artikelvariante.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="800">2.2. PO Lieferschein erstellen</h3>
<div class="paragraph">
<p>Nach dem Hinzufügen der Auftragspositionen werden die Warenbewegungen für die Ausbuchung bereits vorbereitet. Dies erkennst du an den roten Pfeilen in der Tabelle <strong>Warenbewegungen</strong>.
Überprüfe hier unbedingt die vorbereiteten Warenbewegungen sowie die Mengen der einzelnen Artikelvarianten. Anschließend erstellst du einen <strong>PO Lieferschein</strong>, der die auszubuchenden Auftragspositionen enthält.</p>
</div>
<div class="sect3">
<h4 id="830">2.2.1. PO Lieferschein manuell erstellen</h4>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um das Dokument <strong>PO Lieferschein</strong> manuell erstellen.</p>
</div>
<div class="paragraph instruction">
<p>PO Lieferschein manuell erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Bereich <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Lieferschein hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle die Option <strong>Lieferschein erzeugen</strong>.<br>
→ Der <strong>PO Lieferschein</strong> wird erstellt.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="870">2.2.2. PO Lieferschein automatisch erstellen</h4>
<div class="paragraph">
<p>Richte die folgende Ereignisaktion ein, um das Dokument <strong>PO Lieferschein</strong> automatisch zu erstellen, sobald du im nächsten Schritt die in der Umbuchung enthaltenen Artikel aus dem Senderlager <a href="#900">ausgebucht</a> hast.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Erzeugen des Dokuments PO Lieferschein automatisieren:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>. <br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-po-lieferschein-erzeugen">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-po-lieferschein-erzeugen">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-po-lieferschein-erzeugen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Erzeugen des Bestellscheins</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellwesen &gt; Bestellung ausgelöst</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp &gt; Bestellung, Typ Umbuchung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nach dem Erstellen ist der PO Lieferschein dauerhaft im Bereich <strong>Dokumente</strong> verfügbar und kann dort heruntergeladen oder gelöscht werden. Hat dein Lieferant dir einen externen Lieferschein übermittelt, ist es unter Umständen nicht nötig, deinen eigenen Lieferschein zu generieren. Den externen Lieferschein kannst du im Bereich <strong>Dokumente</strong> ebenfalls hochladen. Klicke dazu auf <strong>Lieferschein hinzufügen</strong> und wähle die Option <strong>Lieferschein hochladen</strong>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">2.3. Waren ausbuchen</h3>
<div class="paragraph">
<p>Nach dem Hinzufügen aller umzubuchenden Artikel buchst du die Artikelpositionen aus dem Senderlager aus.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Umbuchung kann nicht mehr bearbeitet werden</div>
<div class="paragraph">
<p>Sobald du den nachfolgend beschriebenen Schritt ausgeführt hast, kannst du die Umbuchung <strong>nicht</strong> mehr bearbeiten. Artikelpositionen können dann weder gelöscht noch hinzugefügt werden. Buche die Waren deshalb erst nach sorgfältiger Prüfung aus.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Waren ausbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke im Bereich <strong>Auftragsdetails</strong> auf das <strong>Zahnrad</strong> neben dem Feld <strong>Bestelldatum</strong>.<br>
→ Die Umbuchung wird angelegt und der Warenausgang im Senderlager gebucht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.4. Waren einbuchen</h3>
<div class="paragraph">
<p>Sobald die Artikel aus dem Senderlager im Empfängerlager eintreffen, buchst du die Auftragspositionen im Empfängerlager ein. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Waren einbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Bereich <strong>Auftragspositionen</strong>.</p>
</li>
<li>
<p>Trage in der Spalte <strong>Menge</strong> die angelieferten Artikelpositionen ein.</p>
</li>
<li>
<p>Klicke auf <strong>Warenbewegungen anlegen</strong>.<br>
→ Die Warenbewegung wird angelegt.</p>
</li>
<li>
<p>Gehe zum Bereich <strong>Warenbewegungen</strong>. Dort erkennst du an der grünen Markierung die vorbereiteten Warenbewegungen.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Lagerort</strong> einen Lagerort an.</p>
</li>
<li>
<p>Setze jeweils ein Häkchen in der Zeile mit der einzubuchenden Artikelvariante.</p>
</li>
<li>
<p>Gib im Feld <strong>Lieferschein-Nr.</strong> die Nummer des PO Lieferscheins ein, der bei der Ausbuchung erstellt wurde.</p>
</li>
<li>
<p>Klicke auf <strong>Warenbewegungen buchen</strong>.<br>
→ Der Wareneingang wird im Empfängerlager gebucht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.5. Umbuchung abschließen</h3>
<div class="paragraph">
<p>Wurde für alle Artikelvarianten im Empfängerlager der Wareneingang gebucht, schließt du die Umbuchung in deinem plentymarkets System ab. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Umbuchung abschließen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die Umbuchung.</p>
</li>
<li>
<p>Gehe zum Bereich <strong>Auftragsdetails</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad-Icon</strong> neben dem Feld <strong>Abschlussdatum</strong>.<br>
→ Das aktuelle Datum wird automatisch als Abschlussdatum gesetzt.<br>
→ Die Umbuchung wird für die Bearbeitung gesperrt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sperrung der Umbuchung aufheben</div>
<div class="paragraph">
<p>Hast du die Umbuchung versehentlich abgeschlossen, klicke erneut auf das Icon. So wird die Umbuchung entsperrt und kann erneut bearbeitet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">3. Umbuchung suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>Waren » Bestellwesen » Bestellung</strong> werden dir alle Umbuchungen und <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">Nachbestellungen</a> angezeigt. Das Ergebnis kannst du durch Verändern der Filter einschränken, um so entweder alle oder ein weiter eingeschränktes Ergebnis anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Umbuchung suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Bestellwesen » Bestellung</strong><br></p>
</li>
<li>
<p>Wähle einen oder mehrere der in <a href="#tabelle-umbuchung-suchen-filter">Tabelle 4</a> beschriebenen Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.</p>
</li>
</ol>
</div>
<table id="tabelle-umbuchung-suchen-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Verfügbare Filter zum Suchen einer Umbuchung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID der Umbuchung eingeben, um die Umbuchung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-Typ <strong>Umbuchung</strong> auswählen, um nur Aufträge vom Typ <strong>Umbuchung</strong> anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID eingeben, um Umbuchungen zu suchen, die einen Artikel mit dieser ID enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID eingeben, um Umbuchungen zu suchen, die eine Variante mit dieser ID enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um Umbuchungen zu suchen, die eine Variante mit dieser Nummer enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchbegriffe oder Zahlenwerte eintragen, um Umbuchungen zu suchen, die Artikel mit diesen Daten enthalten. Durchsucht werden <strong>Artikel-ID</strong>, <strong>Artikelnummer</strong> und <strong>Name</strong>. Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Umbuchung</strong> setzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status aus der Liste auswählen. Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Umbuchung</strong> setzen, um Umbuchungen mit diesem Status zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Eigner aus der Liste auswählen. Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Umbuchung</strong> setzen, um Umbuchungen mit diesem Eigner zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsdatum von …​ bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start- und Enddatum aus dem Kalender wählen. Diese Angabe grenzt den Zeitraum auf das Bestelldatum der Umbuchung ein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">4. Umbuchungen automatisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe von Ereignisaktionen kannst du die einzelnen Arbeitsschritte einer Umbuchung automatisieren. Die Automatisierung der Erzeugung des <strong>PO Lieferscheins</strong> wurde bereits im Kapitel <a href="#870">PO Lieferschein automatisch erzeugen</a> beschrieben. Im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> stehen dir in den Ereignis-, Filter- und Aktionsgruppen <strong>Bestellwesen</strong> Möglichkeiten zur Automatisierung von Umbuchungen zur Verfügung.<br></p>
</div>
<div class="paragraph">
<p>Genauere Informationen zu diesen Einstellungsmöglichkeiten findest du auf der Handbuchseite <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a>.<br>
Falls du zum ersten Mal mit Ereignisaktionen arbeitest, findest du Informationen zum Anlegen von Ereignisaktionen im Kapitel <a href="/automatisierung/ereignisaktionen#100">Neue Ereignisaktion anlegen</a>.</p>
</div>
</div>
</div>
</main>