<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Vorbereitende Einstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>1.1.</span><span> Standardeinstellungen vornehmen</span></a></li>
<li><a href="#200"><span>1.2.</span><span> Status für Umbuchungen anlegen</span></a></li>
<li><a href="#300"><span>1.3.</span><span> Tags für Umbuchungen anlegen</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Vorlage für PO Lieferschein einrichten</span></a></li>
<li><a href="#550"><span>1.5.</span><span> Messenger nutzen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Umbuchung anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>2.1.</span><span> Auftragspositionen hinzufügen</span></a></li>
<li><a href="#800"><span>2.2.</span><span> PO Lieferschein erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#830"><span>2.2.1.</span><span> PO Lieferschein manuell erstellen</span></a></li>
<li><a href="#870"><span>2.2.2.</span><span> PO Lieferschein automatisch erstellen</span></a></li>
<li><a href="#885"><span>2.2.3.</span><span> Weitere Dateien hochladen</span></a></li>
</ul>
</li>
<li><a href="#900"><span>2.3.</span><span> Waren ausbuchen</span></a></li>
<li><a href="#1000"><span>2.4.</span><span> Waren einbuchen</span></a></li>
<li><a href="#1050"><span>2.5.</span><span> Paketinhaltsliste</span></a></li>
<li><a href="#1100"><span>2.6.</span><span> Umbuchung abschließen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.</span><span> Umbuchung suchen</span></a></li>
<li><a href="#1300"><span>4.</span><span> Umbuchungen automatisieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Umbuchungen vornehmen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Um Waren zwischen verschiedenen Lagern umzubuchen, legst du eine Umbuchung in deinem plentymarkets System an. Dies geschieht im gleichen Bereich wie die Erstellung und Bearbeitung von Nachbestellungen, im Menü <strong>Waren » Bestellwesen » Bestellung</strong>. Hier hast du nicht nur eine Übersichtstabelle mit deinen Umbuchungen und Nachbestellungen, du kannst auch neue Umbuchungen und Nachbestellungen anlegen oder bestehende suchen, um sie zu bearbeiten.
Eine Umbuchung gliedert sich in folgende Arbeitsschritte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#600">Umbuchung anlegen</a></p>
</li>
<li>
<p><a href="#700">Auftragspositionen hinzufügen</a></p>
</li>
<li>
<p><a href="#800">Lieferschein erstellen</a></p>
</li>
<li>
<p><a href="#900">Waren ausbuchen</a></p>
</li>
<li>
<p><a href="#1000">Waren einbuchen</a></p>
</li>
<li>
<p><a href="#1100">Umbuchung abschließen</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Alle Arbeitsschritte werden auf dieser Handbuchseite erklärt. Zunächst empfehlen wir dir, vor der Abwicklung der ersten Umbuchungen einige vorbereitende Einstellungen vorzunehmen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Vorbereitende Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um deine Arbeit mit Lagerumbuchungen optimal zu organisieren, solltest du einige vorbereitende Einstellungen vornehmen. Erstelle neue Status speziell für Umbuchungen und lege Tags an, um dir die Übersicht zu erleichtern. Die Einrichtung einer Dokumentenvorlage für den <strong>PO Lieferschein</strong> ist zudem zwingend erforderlich.</p>
</div>
<div class="paragraph">
<p>Die Übersichtstabelle im Menü <strong>Waren » Bestellwesen » Bestellung</strong> sowie die Tabellen in einer geöffneten Umbuchung sind individuell anpassbar. Das bedeutet, dass du selbst entscheiden kannst, welche Informationen dir in den Tabellenspalten angezeigt werden. Gehe dafür folgendermaßen vor:</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du eine Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabellen sind jederzeit anpassbar.</p>
</div>
<div class="sect2">
<h3 id="150">1.1. Standardeinstellungen vornehmen</h3>
<div class="paragraph">
<p>Um den Aufwand beim Anlegen einer neuen Umbuchung zu verringern, empfiehlt es sich, einige Standardeinstellungen vorzunehmen. Durch diese Einstellungen werden einzelne Felder mit Standardwerten vorausgefüllt, wenn du eine neue Umbuchung erstellst. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Standardeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Bestellwesen » Umbuchung » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand der Informationen in <a href="#table-default-settings-redistribution">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
<table id="table-default-settings-redistribution" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Standardeinstellungen für Umbuchungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standard-Status, der beim Anlegen einer Umbuchung vorausgewählt sein soll. Wie du Status für Umbuchungen anlegst erfährst du im Kapitel <a href="/warenwirtschaft/umbuchungen-vornehmen#200">Status für Umbuchungen anlegen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine der verfügbaren Optionen aus.<br>
<strong>Aktiver Benutzer vorausgewählt</strong>: Die Benutzer:in, die die Umbuchung erstellt, wird im Feld <strong>Eigner</strong> vorausgewählt.<br>
<strong>Kein Eigner vorausgewählt</strong>: Das Feld <strong>Eigner</strong> bleibt beim Anlegen einer Umbuchung leer.<br>
Des Weiteren werden dir die angelegten Nutzer:innen angezeigt. Wählst du einen von ihnen, ist dieser beim Anlegen einer neuen Umbuchung vorausgewählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quelle für Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste aus, welcher Artikelname in der Nachbestellung angezeigt werden soll. <strong>Name 1</strong>, <strong>Name 2</strong> und <strong>Name 3</strong> vergibst du im Tab <strong>Texte</strong> der Artikdeldaten eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du aus deinen Lagern eines als Standard-Sender auswählst, ist dieses beim Anlegen einer Umbuchung immer ausgewählt als das Lager, aus dem die Ware ausgebucht wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Empfänger</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du aus deinen Lagern eines als Standard-Empfänger (Empfängerlager) auswählst, ist dieses beim Anlegen einer Umbuchung immer ausgewählt als das Lager, in das die Ware eingebucht wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filteroption "Nur aktive Artikel anzeigen" in der Artikelsuche vorausgewählt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, damit sie für die Artikelsuche in der Nachbestellung vorausgewählt ist. Aktiviere diese Option, damit sie für die Artikelsuche vorausgewählt ist. Angezeigt werden in den Suchergebnissen dann nur <a href="/artikel/webshop/checkliste-artikel-anzeige#100">aktivierte Artikel</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige von hinzugefügten Artikeln im Warenkorb</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus, wie die Artikel zum Warenkorb hinzugefügt werden sollen. Die Standardeinstellung ist <strong>Als eine Auftragsposition, Mengen werden erhöht</strong>.<br>
<strong>Als separate Auftragspositionen.</strong> = Auch gleiche Artikel werden einzeln hinzugefügt, d.h. jeder Artikel wird in einer eigene Zeile dargestellt.<br>
<strong>Als eine Auftragsposition, Mengen werden erhöht.</strong> = Gleiche Artikel werden in einer Auftragsposition zusammengefasst und die Menge wird entsprechend angepasst.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="200">1.2. Status für Umbuchungen anlegen</h3>
<div class="paragraph">
<p>In deinem plentymarkets-System sind bestimmte Auftragsstatus voreingestellt. Diese voreingestellten Status stehen dir auch für Umbuchungen zur Verfügung. Du kannst gesonderte Status für Umbuchungen anlegen, die du dann ausschließlich für diesen Auftragstyp nutzt. Das Anlegen neuer Status wird auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#1200">Aufträge verwalten</a> beschrieben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eigene Status für Umbuchungen anlegen</div>
<div class="paragraph">
<p>Wir empfehlen, separate Status anzulegen, die du ausschließlich für die Umbuchungen nutzt. So kannst du mittels unterschiedlicher Namensgebung die Status der Umbuchungen von den Status der weiteren Auftragstypen unterscheiden, beispielsweise bei der <a href="#1300">Automatisierung der Umbuchungen durch Ereignisaktionen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="300">1.3. Tags für Umbuchungen anlegen</h3>
<div class="paragraph">
<p>Tags sind Kennzeichnungen, die du zentral in deinem plentymarkets-System anlegst und anschließend für verschiedene Bereiche nutzen kannst. Um Umbuchungen mit Tags zu versehen, musst du diese Tags zuvor im Menü <strong>Einrichtung » Einstellungen » Tags</strong> anlegen. Folge dazu der Anleitung auf der Handbuchseite <a href="/willkommen/allgemeine-funktionen/tags">Tags</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="500">1.4. Vorlage für PO Lieferschein einrichten</h3>
<div class="paragraph">
<p>Für die Umbuchung nutzt du den speziell dafür vorgesehenen Dokumententyp <strong>PO Lieferschein</strong> (PO = Purchase order, dt. Bestellwesen). Dieser Lieferschein listet die in der Umbuchung vorhandenen Auftragspositionen auf. So ist der Inhalt der Umbuchung beim Aus- und Einbuchen in das Empfängerlager für Lagermitarbeiter:innen und Logistikpartner:innen nachvollziehbar.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Dokumentenvorlage muss eingerichtet sein</div>
<div class="paragraph">
<p>Vor der erstmaligen Nutzung des Dokumententyps <strong>PO Lieferschein</strong> muss die Dokumentenvorlage erstellt werden. Solange keine Vorlage eingerichtet wurde, wird der Lieferschein bei der Umbuchung nicht erstellt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Folgenden wird beschrieben, wie du die Vorlage übernimmst, die in deinem plentymarkets System standardmäßig hinterlegt ist.</p>
</div>
<div class="paragraph instruction">
<p>Dokumentenvorlage für PO Lieferschein einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Bestellwesen » Umbuchung » Dokumente » PO Lieferschein</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Transfer</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste über dem Tab-Titel die Sprache aus, in der das Dokument erstellt werden soll.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Einstellungen aus Standard-Dokumentenvorlage</strong> auf <strong>Übernehmen</strong>.<br>
→ Wenn du die Abfrage bestätigst, werden die Standardeinstellungen auf das Dokument angewendet. Beachte, dass dadurch andere Einstellungen, die du eventuell bereits vorgenommen hast, überschrieben werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Möchtest du das Dokument <strong>PO Lieferschein</strong> individueller zu gestalten, zum Beispiel das Logo deiner Firma oder zusätzliche Informationen darauf abbilden, dann gehe gemäß der Anleitungen auf der Handbuchseite zum Thema <a href="/auftraege/auftragsdokumente#300">Dokumentenvorlage einrichten</a> vor.</p>
</div>
</div>
<div class="sect2">
<h3 id="550">1.5. Messenger nutzen</h3>
<div class="paragraph">
<p>Nutze den Messenger, um im Backend Nachrichten zu erstellen, die deinen Kontakten zugeordnet werden. Diese Nachrichten funktionieren wie Notizen, sind nur in deinem plentymarkets Backend sichtbar und können nicht von deinen Kontakten aufgerufen werden.
Den Messenger nutzt du, indem du in einer geöffneten Umbuchung auf der linken Seite auf <strong>Messenger</strong> klickst oder den Messenger im unteren Bereich der Umbuchung aufklappst.</p>
</div>
<div class="paragraph instruction">
<p>So erstellst du eine neue Nachricht:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Neue Nachricht</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Ein Textfeld öffnet sich und ein Timer läuft mit.</p>
</li>
<li>
<p>Wähle einen oder mehrere Empfänger aus.</p>
</li>
<li>
<p>Gib einen Titel ein.</p>
</li>
<li>
<p>Gib den Text ins Textfeld ein.<br>
→ Über dem Textfeld stehen dir Formatierungsmöglichkeiten für deine Nachricht zur Verfügung.</p>
</li>
<li>
<p>Hänge über <strong>Dateien anhängen</strong> eine Datei an, wenn gewünscht.</p>
</li>
<li>
<p>Klicke auf <strong>Senden</strong> (<span class="icon purple"><i class="fa fa-envelope-o  "></i></span>).</p>
</li>
<li>
<p>Wähle aus, ob das Erstellen der Nachricht in Rechnung gestellt werden soll indem du <strong>Kostenpflichtig</strong> auswählst und die entsprechenden Minuten einträgst.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach Absenden der Nachricht wird diese dann automatisch mit der Umbuchungs-ID verknüpft. Die Nachricht kann nach der Bearbeitung als geschlossen markiert werden.</p>
</div>
<div class="paragraph">
<p>Stelle noch die <strong>Sortierung</strong> im Messenger ein, indem du auswählst, ob dir die Nachrichten nach Datum auf- oder absteigend sortiert angezeigt werden sollen.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Messenger allgemein findest du auf der Handbuchseite <a href="/crm/messenger">Messenger</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Umbuchung anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die vorbereitenden Einstellungen vorgenommen hast, kannst du einen Auftrag vom Typ Umbuchung anlegen. Gehe dabei wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Neue Umbuchung anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Bestellwesen » Bestellung</strong>.</p>
</li>
<li>
<p>Klicke auf das Hinzufügen-Symbol (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) und wähle <strong>Neue Umbuchung</strong>.<br>
→ Die Detailansicht der Umbuchung öffnet sich.</p>
</li>
<li>
<p>Wähle im Feld <strong>Status</strong> einen <a href="#200">Status</a> aus, mit dem die Umbuchung angelegt werden soll. Dieser Status ist später noch änderbar.</p>
</li>
<li>
<p>Gib im Feld <strong>Sender</strong> das Lager an, aus dem umgebucht werden soll.</p>
</li>
<li>
<p>Gib im Feld <strong>Empfänger</strong> das Lager an, in das umgebucht werden soll.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle ein oder mehrere <strong>Tags</strong> für die neue Umbuchung aus.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib im Feld <strong>Eigner</strong> eine Eigner:in, also die bearbeitende Person, ein.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eigner auswählen</div>
<div class="paragraph">
<p>Fehlt die gewünschte Eigner, liegt das daran, dass kein:e Benutzer deines plentymarkets Systems als Eigner aktiviert wurde. Eine Anleitung zum Aktivieren der Eigner findest du auf der Handbuchseite <a href="/business-entscheidungen/benutzerkonten-zugaenge#40">Benutzer:innen-Konten und Zugänge</a>. Prüfe außerdem die oben beschriebenen <a href="#400">Standardeinstellungen</a> zu Eigner.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="700">2.1. Auftragspositionen hinzufügen</h3>
<div class="paragraph">
<p>Im nächsten Schritt fügst du die Auftragspositionen hinzu, die von einem Lager in ein anderes Lager umgebucht werden sollen. Nutze die Suche (<span class="icon "><i class="fa fa-filter  "></i></span>), um die gewünschten Auftragspositionen anhand der vorhandenen Artikel zu finden. Setze dafür die benötigten Filter und klicke dann auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>). Du kannst mehrere Filter miteinander kombinieren. In <a href="#table-filters-item-search-redistribution">Tabelle 2</a> werden die Filtereinstellungen erläutert.</p>
</div>
<div class="paragraph instruction">
<p>Auftragspositionen hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke im Bereich <strong>Auftragspositionen</strong> auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Ein Menü zum Hinzufügen der Artikelpositionen öffnet sich.</p>
</li>
<li>
<p>Setze die passenden Filter (<span class="icon "><i class="fa fa-filter  "></i></span>) für die Suche und beachte dabei die Erläuterungen in <a href="#table-filters-item-search-redistribution">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Artikelvarianten, die im Senderlager Bestand haben, werden angezeigt.</p>
</li>
<li>
<p>Gib die umzubuchende Anzahl in der Spalte <strong>Menge</strong> der Variante ein.</p>
</li>
<li>
<p>Klicke auf den <strong>Warenkorb</strong> (<span class="icon green"><i class="fa fa-cart-plus  "></i></span>).<br>
→ Die Varianten werden dem Warenkorb hinzugefügt.</p>
</li>
<li>
<p>Wiederhole Schritte 1 bis 6, bis alle umzubuchenden Artikelvarianten in der gewünschten Menge im Warenkorb enthalten sind.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Warenkorb</strong> (<span class="icon green"><i class="fa fa-cart-plus  "></i></span>) auf <strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ Der Warenkorb wird gespeichert.<br>
→ Die Umbuchung wird angelegt und geöffnet.</p>
</li>
</ol>
</div>
<table id="table-filters-item-search-redistribution" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Filter in der Artikelsuche</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser ID zu suchen. Du kannst mehrere IDs kommasepariert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Artikel mit dieser ID zu suchen. Du kannst mehrere IDs kommasepariert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um nach der Variante mit dieser Nummer zu suchen. Du kannst mehrere Nummern kommasepariert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eingeben, um nach der Variante mit diesem Code zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnamen eingeben, um nach dem Artikel mit diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Lieferant:in eingeben, um nach Artikeln mit dieser Lieferant:innen-Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur aktive Artikel anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du diese Option wählst, werden in in den Suchergebnissen nur <a href="/artikel/webshop/checkliste-artikel-anzeige#100">aktivierte Artikel</a> angezeigt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Mithilfe der Filter Bookmarks (<span class="icon "><i class="material-bookmarks"></i></span>) kannst du ausgewählte Filter in der UI speichern. Die damit ausgewählten Filter sind dann bei jedem Öffnen des Menüs vorausgewählt, ähnlich wie Lesezeichen. Jede:r Benutzer:in kann eigene Filter festlegen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ergebnisse der Artikelsuche</div>
<div class="paragraph">
<p>Die Artikelsuche in diesem Menü zeigt ausschließlich Artikel und Varianten, die Bestand im Senderlager haben. Werden Varianten oder Artikel nicht aufgeführt, überprüfe den Bestand im Menü <strong>Waren » Warenbestände</strong> oder im Tab <strong>Bestand</strong> der Artikelvariante.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tabelle Auftragspositionen hinzufügen individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Tabelle zum Hinzufügen von Auftragspositionen lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Standardmäßig werden dir beim Öffnen des Menüs folgende Tabellenspalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Status</p>
</li>
<li>
<p>Artikelname</p>
</li>
<li>
<p>Varianten-ID / Nr.</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Menge Senderlager</p>
</li>
<li>
<p>Menge Empfängerlager</p>
</li>
<li>
<p>Menge</p>
</li>
<li>
<p>Cart icon</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Tabellenspalten können ausgewählt werden, werden aber standardmäßig nicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Variantenname</p>
</li>
<li>
<p>Barcode</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Passe die Tabelle deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Warenkorbtabelle individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Warenkorbtabelle lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Standardmäßig werden dir beim Öffnen des Menüs folgende Tabellenspalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelname</p>
</li>
<li>
<p>Varianten-ID / Nr.</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Barcode</p>
</li>
<li>
<p>Bestandsinformation</p>
</li>
<li>
<p>Menge</p>
</li>
<li>
<p>Aktion</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Tabellenspalten können ausgewählt werden, werden aber standardmäßig nicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Variantenname</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Passe die Tabelle deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Artikelpositionstabelle individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Artikelpositionstabelle lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Standardmäßig werden dir beim Öffnen des Menüs folgende Tabellenspalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order icon</p>
</li>
<li>
<p>Artikelname</p>
</li>
<li>
<p>Varianten-ID / Nr.</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Bestellt</p>
</li>
<li>
<p>Offen</p>
</li>
<li>
<p>Ausgehend</p>
</li>
<li>
<p>Eingehend</p>
</li>
<li>
<p>Teilmenge</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Tabellenspalten können ausgewählt werden, werden aber standardmäßig nicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Variantenname</p>
</li>
<li>
<p>Barcode</p>
</li>
<li>
<p>Lieferdatum</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Passe die Tabelle deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>Die Auftragspositionen sind bearbeitbar, solange die Bestellung noch nicht ausgelöst wurde. Du kannst zum Beispiel die <strong>Menge</strong> ändern oder Artikel <strong>löschen</strong>. + Im Feld <strong>Artikelname</strong> kannst du die Bezeichnung für den Artikel anpassen. Die Änderungen gelten nur für die Umbuchung, in der sie vorgenommen wurden. Möchtest du die <a href="/artikel/einstellungen">Artikeleinstellungen</a> generell anpassen, kannst du dies im Menü <strong>Artikel » Artikel bearbeiten</strong> im entsprechenden Tab machen.</p>
</div>
<div class="paragraph">
<p>Du kannst in den Auftragsdetails der Umbuchung ein <strong>Lieferdatum</strong> eintragen. Nutze dafür den Kalender oder gib es manuell ein. Wenn du in den Auftragsdetails das Lieferdatum setzt, kannst du wählen, ob das gleiche Datum für die Auftragspositionen in der Tabelle ohne Lieferdatum übernommen werden soll. Bereits eingegebene Lieferdaten für Auftragspositionen in der Tabelle bleiben dabei erhalten. Diese Werte werden nicht überschrieben.<br>
Du kannst in der Tabelle für jede Auftragsposition individuell ein Lieferdatum setzen. Die Lieferdaten bleiben bearbeitbar, solange die Bestellung nicht abgeschlossen ist.<br>
<em>Beachte</em>, dass alle Lieferdaten in der Tabelle gelöscht werden, wenn du ein bereits gesetztes Lieferdatum in den Auftragsdetails löschst. Es ist nicht möglich ein Lieferdatum zu setzen, das vor dem Bestelldatum der Nachbestellung liegt.<br>
Klicke auf <strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) nach Setzen oder Bearbeiten des Lieferdatums.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">2.2. PO Lieferschein erstellen</h3>
<div class="paragraph">
<p>Nach dem Hinzufügen der Auftragspositionen werden die Warenbewegungen für die Ausbuchung bereits vorbereitet. Dies erkennst du an den roten Pfeilen in der Tabelle <strong>Warenbewegungen</strong>.
Überprüfe hier unbedingt die vorbereiteten Warenbewegungen sowie die Mengen der einzelnen Artikelvarianten. Anschließend erstellst du Im Bereich <strong>Dokumente</strong> einen <strong>PO Lieferschein</strong>, der die auszubuchenden Auftragspositionen enthält.</p>
</div>
<div class="paragraph">
<p>Im Bereich <strong>Dokumente</strong> der Umbuchung kannst du zudem auch weitere zu dieser Umbuchung gehörenden Dokumente hochladen.</p>
</div>
<div class="sect3">
<h4 id="830">2.2.1. PO Lieferschein manuell erstellen</h4>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um das Dokument <strong>PO Lieferschein</strong> manuell zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>PO Lieferschein manuell erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Bereich <strong>Dokumente</strong> in einer Umbuchung.</p>
</li>
<li>
<p>Klicke auf <strong>Dokument hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Wähle die Option <strong>Lieferschein erzeugen</strong>.<br>
→ Der <strong>PO Lieferschein</strong> wird erstellt.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="870">2.2.2. PO Lieferschein automatisch erstellen</h4>
<div class="paragraph">
<p>Richte die folgende Ereignisaktion ein, um das Dokument <strong>PO Lieferschein</strong> automatisch zu erstellen, sobald du im nächsten Schritt die in der Umbuchung enthaltenen Artikel aus dem Senderlager <a href="#900">ausgebucht</a> hast.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Erzeugen des Dokuments PO Lieferschein automatisieren:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>). <br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-event-procedure-create-po-delivery-note">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#table-event-procedure-create-po-delivery-note">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze die Ereignisaktion auf <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-create-po-delivery-note" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Erzeugen des Bestellscheins</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellwesen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellung ausgelöst</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellung, Typ Umbuchung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellwesen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PO Lieferschein erzeugen</strong></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nach dem Erstellen ist der PO Lieferschein dauerhaft im Bereich <strong>Dokumente</strong> verfügbar und kann dort heruntergeladen oder gelöscht werden. Hat dein:e Lieferant:in dir einen externen Lieferschein übermittelt, ist es unter Umständen nicht nötig, deinen eigenen Lieferschein zu generieren. Den externen Lieferschein kannst du im Bereich <strong>Dokumente</strong> ebenfalls hochladen. Klicke dazu auf <strong>Dokument hinzufügen</strong> und wähle die Option <strong>Lieferschein hochladen</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="885">2.2.3. Weitere Dateien hochladen</h4>
<div class="paragraph">
<p>Optional kannst im Bereich <strong>Dokumente</strong> weitere Dateien hochladen, wenn du diese zu einer Umbuchung hinzufügen möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Dateien hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Bereich <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Dokument hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Wähle die Option <strong>Andere Dokumente hochladen</strong>.<br>
→ Das ausgwählte Dokument wird hochgeladen und ist wie der Lieferschein auch im Bereich <strong>Dokumente</strong> verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Dateien können als pdf, aber auch als csv, zip, doc, docx, xls, xlsx hochgeladen werden. Die Dateigröße kann bis zu 20MB umfassen.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">2.3. Waren ausbuchen</h3>
<div class="paragraph">
<p>Nach dem Hinzufügen aller umzubuchenden Artikel buchst du die Artikelpositionen aus dem Senderlager aus. Klicke dazu auf <strong>Bestellung auslösen</strong> im Bereich <strong>Details</strong>. Die Umbuchung wird ausgelöst und das aktuelle Datum wird als Bestelldatum gesetzt.<br>
Alternativ kannst du über die Datumsauswahl (<span class="icon "><i class="fa fa-calendar  "></i></span>) manuell ein Datum wählen und setzen. Klicke nach der Auswahl des Datums auf <strong>Bestellung auslösen</strong>. Das ausgewählte Datum wird gesetzt und die Umbuchung ausgelöst.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Umbuchung kann nicht mehr bearbeitet werden</div>
<div class="paragraph">
<p>Sobald du den nachfolgend beschriebenen Schritt ausgeführt hast, kannst du die Umbuchung <strong>nicht</strong> mehr bearbeiten. Artikelpositionen können dann weder gelöscht noch hinzugefügt werden. Buche die Waren deshalb erst nach sorgfältiger Prüfung aus.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.4. Waren einbuchen</h3>
<div class="paragraph">
<p>Sobald die Artikel aus dem Senderlager im Empfängerlager eintreffen, buchst du die Auftragspositionen im Empfängerlager ein. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Waren einbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Bereich <strong>Auftragspositionen</strong>.</p>
</li>
<li>
<p>Trage in der Spalte <strong>Teilmenge</strong> die angelieferten Artikelpositionen ein.</p>
</li>
<li>
<p>Klicke auf <strong>Warenbewegungen anlegen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Die Warenbewegung wird angelegt.</p>
</li>
<li>
<p>Gehe zum Bereich <strong>Warenbewegungen</strong>. Dort erkennst du an der grünen Markierung die vorbereiteten Warenbewegungen.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Lagerort</strong> einen Lagerort an.</p>
</li>
<li>
<p>Setze jeweils ein Häkchen in der Zeile mit der einzubuchenden Artikelvariante.</p>
</li>
<li>
<p>Klicke auf <strong>Warenbewegungen buchen</strong>.<br>
→ Der Wareneingang wird im Empfängerlager gebucht.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Warenbewegungstabelle individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Warenbewegungstabelle lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Standardmäßig werden dir beim Öffnen des Menüs folgende Tabellenspalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Icon one</p>
</li>
<li>
<p>Icon two</p>
</li>
<li>
<p>Artikelname</p>
</li>
<li>
<p>Varianten-ID /Nr.</p>
</li>
<li>
<p>Lagerort</p>
</li>
<li>
<p>Erstellt am</p>
</li>
<li>
<p>Buchungs-ID</p>
</li>
<li>
<p>Menge</p>
</li>
<li>
<p>Aktion: Löschen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Tabellenspalten können ausgewählt werden, werden aber standardmäßig nicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Variantenname</p>
</li>
<li>
<p>MHD</p>
</li>
<li>
<p>Charge</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Passe die Tabelle deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1050">2.5. Paketinhaltsliste</h3>
<div class="paragraph">
<p>Die Paketinhaltsliste richtet sich in erster Linie an Mitarbeiter:innen im Lager oder Fulfillment-Dienstleister und gibt Auskunft über den Inhalt von Paletten und Paketen. Da eine Umbuchung bedeutet, dass Ware von einem deiner Lager aus- und in ein anderes deiner Lager eingebucht wird, sind hier in der Regel in erster Linie Lagermitarbeiter:innen involviert. Daher besteht die Möglichkeit die Pateinhaltsliste in der Umbuchung mit anzeigen zu lassen. Gehe dafür wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Paketinhaltsliste hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gehe in einer geöffneten Umbuchung in den Bereich <strong>Paketinhaltsliste</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Du wirst weitergeleitet zur Paketinhaltsliste der jeweiligen Umbuchung.</p>
</li>
<li>
<p>Suche mit den Filtern <strong>Barcode</strong>, <strong>Varianten-ID</strong> oder <strong>Variantennummer</strong> die gewünschten Varianten aus der Umbuchung. Du kannst nur Artikel hinzufügen, die auch in der Umbuchung enthalten sind.<br>
→ Der Artikel wird direkt hinzugefügt und es wird angezeigt, wie viele Pakete und Paletten enthalten sind.</p>
</li>
<li>
<p>Klicke auf <strong>Paket schließen</strong> oder <strong>Palette schließen</strong>, um Paket oder Palette zu schließen.<br>
→  <em>Beachte</em>, dass danach keine Änderungen mehr an diesem Paket und dieser Palette vorgenommen werden können, du müsstest eine neue hinzufügen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du danach in die Umbuchung zurückgehst, wird die erstellte Paketinhaltsliste im entsprechenden Bereich in der Umbuchung angezeigt. Solltest du weitere Paletten oder Pakete hinzufügen wollen, klicke auf <strong>Bearbeiten</strong> (<span class="icon yellow-background"><i class="fa fa-pencil  "></i></span>) und du wirst wieder zur Paketinhaltsliste weitergeleitet. Ist eine Umbuchung bereits abgeschlossen, lässt sich auch die Paketinhaltsliste nicht mehr bearbeiten. Weitere Informationen findest du auch auf der Handbuchseite <a href="/auftraege/paketinhaltsliste">Paketinhaltsliste</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.6. Umbuchung abschließen</h3>
<div class="paragraph">
<p>Wurde für alle Artikelvarianten im Empfängerlager der Wareneingang gebucht, schließt du die Umbuchung in deinem plentymarkets System ab. Klicke dazu im Bereich <strong>Auftragsdetails</strong> der Umbuchung auf <strong>Bestellung abschließen</strong>. Das aktuelle Datum wird als Abschlussdatum gesetzt und die Umbuchung für die Bearbeitung gesperrt.
Alternativ kannst du über die Datumsauswahl (<span class="icon "><i class="fa fa-calendar  "></i></span>) manuell ein Datum wählen und setzen. Klicke nach der Auswahl des Datums auf <strong>Bestellung abschließen</strong>. Das ausgewählte Datum wird als Abschlussdatum gesetzt und die Umbuchung ist für die Bearbeitung gesperrt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sperrung der Umbuchung aufheben</div>
<div class="paragraph">
<p>Hast du die Umbuchung versehentlich abgeschlossen, klicke auf <strong>Bestellung freischalten</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>). So wird die Umbuchung entsperrt und kann erneut bearbeitet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">3. Umbuchung suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>Waren » Bestellwesen » Bestellung</strong> werden dir alle Umbuchungen und <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">Nachbestellungen</a> in einer Übersichtstabelle angezeigt. Durch die Suche (<span class="icon "><i class="fa fa-filter  "></i></span>) kannst du die angezeigten Umbuchungen und Nachbestellungen eingrenzen. Setze dafür die benötigten Filter und klicke dann auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>). Du kannst mehrere Filter miteinander kombinieren. In <a href="#table-redistribution-search-filter">Tabelle 4</a> werden die Filtereinstellungen erläutert.<br>
Zudem kannst du mithilfe der Filter Bookmarks (<span class="icon "><i class="material-bookmarks"></i></span>) ausgewählte Filter in der UI speichern. Die damit ausgewählten Filter sind dann bei jedem Öffnen des Menüs vorausgewählt, ähnlich wie Lesezeichen. Jede:r Benutzer:in kann eigene Filter festlegen.</p>
</div>
<table id="table-redistribution-search-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Verfügbare Filter zum Suchen einer Umbuchung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID der Umbuchung eingeben, um diese konkrete Umbuchung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-Typ <strong>Umbuchung</strong> auswählen, um nur Aufträge vom Typ <strong>Umbuchung</strong> anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du <strong>Umbuchung</strong> im Filter <strong>Auftrags-Typ</strong> gewählt hast, werden dir für Sender deine im System hinterlegten Lager in einer Dropdown-Liste angezeigt. Das als <strong>Sender</strong> ausgewählte Lager ist das, aus dem die Waren ausgebucht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Empfänger</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du <strong>Umbuchung</strong> im Filter <strong>Auftrags-Typ</strong> gewählts hast, werden dir für Empfänger deine im System hinterlegten Lager in einer Dropdown-Liste angezeigt. Das als <strong>Empfänger</strong> ausgewählte Lager ist das, in das die Waren eingebucht werden.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stand der Nachbestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste zwischen <strong>Offen</strong>, <strong>Bestellt</strong> und <strong>Abgeschlossen</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID eingeben, um Umbuchungen zu suchen, die einen Artikel mit dieser ID enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID eingeben, um Umbuchungen zu suchen, die eine Variante mit dieser ID enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um Umbuchungen zu suchen, die eine Variante mit dieser Nummer enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Händlerzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib ein Händlerzeichen ein, um nach Umbuchungen zu suchen, in denen dieses Händlerzeichen hinterlegt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchbegriffe oder Zahlenwerte eingeben, um Umbuchungen zu suchen, die Artikel mit diesen Daten enthalten. Durchsucht werden <strong>Artikel-ID</strong>, <strong>Artikelnummer</strong> und <strong>Name</strong>. Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Umbuchung</strong> setzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Lieferscheinnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine externe Lieferscheinnummer ein, um die Umbuchung zu suchen, in der der Lieferschein mit dieser Nummer hinterlegt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status von</strong> und <strong>Status bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Statusbereich aus den Dropdown-Listen auswählen. Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Umbuchung</strong> setzen, um Umbuchungen in diesem Statusbereich zu suchen. Möchtest du nur nach Umbuchungen mit einem bestimmten Status suchen, wähle in beiden Feldern den gleichen Status aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine:n Eigner:in aus der Liste auswählen. Zusätzlich den Filter <strong>Auftrags-Typ</strong> auf die Option <strong>Umbuchung</strong> setzen, um Umbuchungen mit dieser Eigner:in zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datumstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste zwischen den Datumstypen <strong>Bestelldatum</strong>, <strong>Abschlussdatum</strong>, <strong>Lieferdatum</strong> oder <strong>Erstellt am</strong> aus und grenze mit den Filtern <strong>Auftragsdatum von</strong> und <strong>Auftragsdatum bis</strong> den Zeitraum ein. Mit dieser Auswahl werden dir dann Umbuchungen angezeigt, die in dem gewählten Zeitraum bestellt, abgeschlossen oder erstellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsdatum von</strong> und <strong>Auftragsdatum bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Start- und Enddatum aus dem Kalender aus. In Kombination mit dem Filter <strong>Datumstyp</strong> werden dir dann die Umbuchungen für diesen Zeitraum angezeigt, die bestellt, abgeschlossen oder erstellt wurden.</p></td>
</tr>
</tbody>
</table>
<div class="openblock collapseBox">
<div class="title"><strong>Übersichtstabelle individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Übersichtstabelle für Umbuchungen und Nachbestellungen lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Standardmäßig werden dir beim Öffnen des Menüs folgende Tabellenspalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-Typ</p>
</li>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Bestelldatum</p>
</li>
<li>
<p>Abschlussdatum</p>
</li>
<li>
<p>Sender</p>
</li>
<li>
<p>Empfänger</p>
</li>
<li>
<p>Status</p>
</li>
<li>
<p>Artikelmenge</p>
</li>
<li>
<p>Lieferdatum</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Tabellenspalten können ausgewählt werden, werden aber standardmäßig nicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Händlerzeichen / ext. Auftrags-ID</p>
</li>
<li>
<p>Erstellt am</p>
</li>
<li>
<p>Nettowarenwert</p>
</li>
<li>
<p>Zahlungsziel</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Passe die Tabelle deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">4. Umbuchungen automatisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe von Ereignisaktionen kannst du die einzelnen Arbeitsschritte einer Umbuchung automatisieren. Die Automatisierung der Erzeugung des <strong>PO Lieferscheins</strong> wurde bereits im Kapitel <a href="#870">PO Lieferschein automatisch erzeugen</a> beschrieben. Im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> stehen dir in den Ereignis-, Filter- und Aktionsgruppen <strong>Bestellwesen</strong> Möglichkeiten zur Automatisierung von Umbuchungen zur Verfügung.<br></p>
</div>
<div class="paragraph">
<p>Genauere Informationen zu diesen Einstellungsmöglichkeiten findest du auf der Handbuchseite <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a>.<br>
Falls du zum ersten Mal mit Ereignisaktionen arbeitest, findest du Informationen zum Anlegen von Ereignisaktionen im Kapitel <a href="/automatisierung/ereignisaktionen#100">Neue Ereignisaktion anlegen</a>.</p>
</div>
</div>
</div>
</main>