<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Lieferanten einer Variante zuordnen</span></a></li>
<li><a href="#200"><span>2.</span><span> Variante mit Lagerort verknüpfen</span></a></li>
<li><a href="#300"><span>3.</span><span> Übernahme von Daten vorbereiten</span></a></li>
<li><a href="#400"><span>4.</span><span> UVP und Preis zuordnen</span></a></li>
<li><a href="#450"><span>5.</span><span> Ware über das Backend einbuchen</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>5.1.</span><span> Wareneingang erfassen</span></a>
<ul class="sectlevel3">
<li><a href="#_kopfdaten_eines_wareneingangs_erfassen"><span>5.1.1.</span><span> Kopfdaten eines Wareneingangs erfassen</span></a></li>
<li><a href="#600"><span>5.1.2.</span><span> Artikel zum Wareneingang hinzufügen</span></a>
<ul class="sectlevel4">
<li><a href="#700"><span>Varianten einzeln hinzufügen</span></a></li>
<li><a href="#800"><span>Mehrere Varianten gleichzeitig hinzufügen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#900"><span>5.2.</span><span> Warenbezugskosten hinzufügen</span></a></li>
<li><a href="#1000"><span>5.3.</span><span> Status ändern und nachvollziehen</span></a></li>
<li><a href="#1100"><span>5.4.</span><span> Bestand auf Variante buchen</span></a></li>
<li><a href="#1200"><span>5.5.</span><span> Notiz hinzufügen</span></a></li>
<li><a href="#1300"><span>5.6.</span><span> Wareneingang ändern und korrigieren</span></a></li>
<li><a href="#1400"><span>5.7.</span><span> Wareneingang exportieren</span></a></li>
<li><a href="#1500"><span>5.8.</span><span> PDF-Beleg erstellen</span></a></li>
</ul>
</li>
<li><a href="#_ware_über_die_plentymarkets_app_einbuchen"><span>6.</span><span> Ware über die plentymarkets App einbuchen</span></a>
<ul class="sectlevel2">
<li><a href="#_berechtigungen_für_einbuchen_erteilen"><span>6.1.</span><span> Berechtigungen für Einbuchen erteilen</span></a></li>
<li><a href="#_einbuchen_über_die_plentymarkets_app_personalisieren"><span>6.2.</span><span> Einbuchen über die plentymarkets App personalisieren</span></a></li>
<li><a href="#_ware_über_die_plentymarkets_app_einbuchen_2"><span>6.3.</span><span> Ware über die plentymarkets App einbuchen</span></a></li>
</ul>
</li>
<li><a href="#1600"><span>7.</span><span> Wareneingang suchen</span></a>
<ul class="sectlevel2">
<li><a href="#1700"><span>7.1.</span><span> Neuen Wareneingang suchen</span></a></li>
<li><a href="#1800"><span>7.2.</span><span> Wareneingang im Menü Waren » Wareneingänge suchen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Wareneingänge verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Es gibt verschiedene Wege, über die Sie Waren in Ihr System buchen können. Voraussetzung für einen Wareneingang ist, dass der Variante ein Lager sowie ein Lagerort und ein Lieferant zugeordnet sind. Auf dieser Seite wird beschrieben, wo und wie das Zuordnen des Lagerorts und des Lieferanten erfolgt. Außerdem wird der Wareneingang über das Menü <strong>Waren » Neuer Wareneingang</strong> beschrieben. Nur wenn Sie Wareneingänge und Warenausgänge buchen und so Warenbestände in plentymarkets führen, kann Ihr System <strong><a href="/artikel/artikel-verwalten#230">Varianten anhand der Beschränkung und Verfügbarkeit automatisiert im Webshop ein- und ausblenden</a></strong> sowie Listings automatisiert starten und beenden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Lieferanten einer Variante zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Lieferant muss einer Variante zugeordnet werden, damit der Wareneingang gebucht werden kann und damit später auch eine Nachbestellung an den Lieferanten erfolgen kann. Lieferanten sind Kunden des Kundentyps Lieferant. Bevor Sie also Ihren Lieferanten zuordnen können, müssen Sie Ihn erst einmal anlegen. Die Vorgehensweise ist die gleiche wie beim <strong><a href="/crm/kundendaten-verwalten#800">Anlegen eines Kunden</a></strong>. Allerdings muss der Kundentyp Lieferant gewählt werden.</p>
</div>
<div class="paragraph instruction">
<p>Lieferanten zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Artikel.</p>
</li>
<li>
<p>Öffnen Sie die Variante.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Lieferant</strong>.</p>
</li>
<li>
<p>Wählen Sie einen Lieferanten aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>. <br>
→ Der Lieferant wird der Variante zugeordnet und weitere Einstellungen können optional vorgenommen werden.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Lieferanteninformationen für eine Variante</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferanten-Artikel-Nr.</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Artikelnummer eintragen, unter der Ihr Lieferant die Variante führt. Wareneingänge können auch anhand dieser Nummer gesucht werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>EK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einkaufspreis der Variante eintragen. Je nach Einstellung für Wareneingänge wird dieser EK überschrieben. Im Menü <strong>System » Waren » Warenbestand » Wareneingang</strong> stellen Sie ein, ob der Einkaufspreis eines Wareneingangs für Lieferanten übernommen wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mindestabnahme</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Variante eintragen, die Sie mindestens bestellen müssen. Die Mindestabnahme wird für Nachbestellungen berücksichtigt. Allerdings wird sie nur angezeigt, wenn die Variante den Meldebestand erreicht hat und tatsächlich nachbestellt werden muss. Für Varianten, die noch ausreichend vorhanden sind, wird die Mindestabnahme nicht angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferzeit in Tagen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Tage eintragen, die der Lieferant für die Lieferung der Variante benötigt. Die Lieferzeit kann Einfluss auf den Mengenvorschlag einer Nachbestellung haben und auf das Lieferdatum einer Nachbestellung. Ob die Lieferzeit für den Bestellmengenvorschlag berücksichtigt wird, stellen Sie im Menü <strong>System » Waren » Bestellwesen » Einstellungen</strong> ein. Die Lieferzeit wird hier als Wiederbeschaffungszeit für die Bestellmenge berücksichtigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Letzte Preisanfrage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum aus dem Kalender wählen, an dem der Preis für die Variante zuletzt abgefragt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rabatt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Rabatt in Prozent eintragen, wenn der Lieferant einen Rabatt auf die Variante gewährt. Der Rabatt wird in Nachbestellungen nur berücksichtigt, wenn auch das Häkchen bei Rabattfähigkeit gesetzt ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rabattfähigkeit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Häkchen setzen, um den unter Rabatt eingetragenen Rabatt zu aktivieren. Wenn die Rabattfähikgeit nicht gesetzt ist, wird der eingetragene Rabatt für Nachbestellungen nicht berücksichtigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verpackungseinheit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verpackungseinheit (VPE) eintragen, insbesondere wenn die Verpackungseinheit des Lieferanten von der im Tab <strong>Einstellungen</strong> gespeicherten Verpackungseinheit abweicht.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Variante mit Lagerort verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Variante muss mit einem Lager samt Lagerort verknüpft werden, damit ein Wareneingang gebucht werden kann. Ohne eine Lagerzuordnung weiß das System nicht, wohin der Wareneingang gebucht wird, und kann deshalb nicht buchen. Der Standard-Lagerort dient als Platzhalter-Lagerort und bedeutet, dass noch kein Lagerort zugeordnet wurde. Wählen Sie deshalb besser einen Ihrer Lagerorte als Lagerortvorschlag.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen</strong></p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Lager</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Lager aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>. <br>
→ Das Lager wird der Variante zugeordnet und weitere Einstellungen können optional vorgenommen werden.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Lagereinstellungen einer Variante</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerorttyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lagerorttyp anhand der Artikelgröße wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zone</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zone wählen, wenn das Lager in Zonen eingeteilt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meldebestand</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Variante eintragen, bei der eine Nachbestellung erfolgen soll. Erst wenn eine Variante später auf den Meldebestand sinkt, wird auch ein Mengenvorschlag für die Variante angezeigt, da ja erst bei Erreichen des Meldebestands eine Nachbestellung erfolgen soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerreichweite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Tage eintragen, den der Warenbestand bis zur nächsten Nachbestellung reichen soll. Die Lagerreichweite fließt in die Berechnung des Nachbestellungsvorschlags ein. Ein Standardwert aus der Praxis für die Lagerreichweite ist z.B. 14 Tage. Wenn der Artikel den Meldebestand erreicht hat, werden die 14 Tage zur Berechnung der Nachbestellmenge berücksichtigt, d.h. es wird die Menge zur Nachbestellung vorgeschlagen, die für die folgenden 14 Tage ausreicht.
Wird hier kein Wert eingetragen, wird die Lagerreichweite bei der Berechnung eines Nachbestellungstermins nicht berücksichtigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximalbestand</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Maximalen Bestand für das Lager eintragen. Der Maximalbestand wird für den Bestellmengenvorschlag berücksichtigt, sodass der Vorschlag den Maximalbestand nicht überschreitet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bestandspuffer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein Bestandspuffer bewirkt, dass der Bestand für bestimmte Marktplätze um den eingetragenen Wert reduziert wird. <br>
<em>Beispiel</em>: Der Artikel hat einen Bestand von 50. Sie möchten einen Bestandspuffer von 10 Artikeln, damit der Artikel nicht vollständig über den Marktplatz abverkauft wird. Dazu <strong>10</strong> als Bestandspuffer eintragen. Zum Marktplatz wird ein Bestandswert von <strong>40</strong> übertragen. <br>
Hier eingetragene Werte gelten für die Marktplätze <a href="/omni-channel/multi-channel/neckermann-at"><strong>Neckermann</strong></a>, <a href="/omni-channel/multi-channel/otto"><strong>Otto</strong></a> und <a href="/omni-channel/multi-channel/plus-gartenxxl"><strong>Plus.de</strong></a>. Die Werte sind gegenüber den hinterlegten Bestandspufferwerten dieser Marktplätze dominant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerortvorschlag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lagerort wählen, der bei Nachbestellungen automatisch vorgeschlagen werden soll. Die Einstellung Standard-Lagerort bedeutet, dass kein Lagerort zugewiesen wurde.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Übernahme von Daten vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Hinzufügen der Artikel können Sie sowohl den Einkaufspreis als auch die UVP sowie den Lagerort angeben. Die UVP wird bei Freigabe eines Wareneingangs automatisch in die Variantendaten übernommen. Wenn ein Wareneingang die gleiche Variante mehrmals, jedoch mit unterschiedlichen UVPs enthält, wird bei der Freigabe die höchste UVP übernommen. Ob und wie Einkaufspreise von Wareneingängen zu den Artikeldaten übertragen werden und ob und wie ein Lagerort aus einem Wareneingang zu einem Artikel übertragen wird, legen Sie vorab fest.</p>
</div>
<div class="paragraph instruction">
<p>Übernahme festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Warenbestand » Wareneingang</strong>.</p>
</li>
<li>
<p>Wählen Sie eine Einstellung. Beachten Sie dazu die Erläuterungen in Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Preis- und Lagerortübertragung festlegen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Einkaufspreis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen ob und wohin der EK aus dem Wareneingang übertragen wird. Die Übertragung erfolgt bei Freigabe eines Wareneingangs. <br>
<strong>Einkaufspreis nicht übertragen</strong> = Einkaufspreis wird nicht übertragen. <br>
<strong>Einkaufspreis auf Varianten übertragen</strong> = Einkaufspreis wird automatisch im Tab <strong>Einstellungen</strong> einer Variante hinterlegt. <br>
<strong>Einkaufspreis auf Varianten und Lieferant übertragen</strong> = Einkaufspreis wird automatisch im Tab <strong>Einstellungen</strong> einer Variante sowie im Tab <strong>Bestand</strong> in den Lieferantendaten hinterlegt. <br>
<strong>Durchschnittseinkaufspreis auf Varianten übertragen</strong> = Bei jedem Wareneingang wird der durchschnittliche EK neu berechnet und angepasst. Dabei werden die Einkaufspreise aller im Lager verfügbaren Bestände einer Variante zur Berechnung herangezogen. Der errechnete Mittelwert wird im Tab <strong>Einstellungen</strong> einer Variante hinterlegt. <br>
<strong>Höchsten Einkaufspreis übertragen</strong> = Bei mehreren unterschiedlichen Einkaufspreisen wird der höchste Einkaufspreis aus dem aktuellen Wareneingang in die Variantendaten übertragen. <br>
<strong>Niedrigsten Einkaufspreis übertragen</strong> = Bei mehreren unterschiedlichen Einkaufspreisen wird der niedrigste Einkaufspreis aus dem aktuellen Wareneingang in die Variantendaten übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen ob und wohin der Lagerort übertragen wird. Die Übertragung erfolgt bei Freigabe eines Wareneingangs. <br>
<strong>Lagerort nicht übertragen</strong> = Lagerort wird nicht übertragen. <br>
<strong>Lagerort auf Variante übertragen</strong> = Lagerort wird automatisch als Lagerort-Vorschlag in das <strong>Tab: Lager</strong> einer Variante übernommen. Der Lagerort wird mit jedem Wareneingang neu übertragen. <br>
<strong>Lagerort auf Variante übertragen, wenn noch keiner oder Standard-Lagerort hinterlegt wurde</strong> = Übertragung erfolgt nur, wenn noch kein Lagerort hinterlegt wurde.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. UVP und Preis zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Sie im Wareneingang eine UVP eintragen können, müssen Sie zuordnen, welcher Verkaufspreis als UVP genutzt werden soll. Außerdem können Sie wählen, welcher Verkaufspreis Ihnen im Wareneingang angezeigt wird.</p>
</div>
<div class="paragraph instruction">
<p>UVP und Preis zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Wählen Sie für <strong>UVP</strong> einen Ihrer Verkaufspreise aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Wählen Sie für <strong>Preis</strong> einen Ihrer Verkaufspreise aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Speichern Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Zuordnung im Menü <strong>System » Waren » Neuer Wareneingang</strong> reicht nicht, um einen Verkaufspreis in einer Variante anzuzeigen. Sie müssen einen Verkaufspreis auch mit einer Variante verknüpfen. Verkaufspreise legen Sie im Menü <strong>System » Artikel » Verkaufspreise</strong> an. Wie Sie Verkaufspreise anlegen und mit Varianten verknüpfen, finden Sie auf der Handbuchseite <strong><a href="/artikel/artikel-verwalten">Artikel verwalten</a></strong>. Auf dieser Seite erfahren Sie auch, wie Sie mit der Preiskalkulation Preise für Kundenklassen u.v.m. errechnen lassen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="450">5. Ware über das Backend einbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie haben verschiedene Möglichkeiten einen Wareneingang zu buchen, z.B. per App, Datenimport oder über den Menüpunkt Neuer Wareneingang. In diesem Menü haben Sie die umfassendsten Möglichkeiten neben dem Bestand auch weitere Daten, wie Warenbezugkosten, anzugeben. Deshalb wird das Buchen von Ware über dieses Menü nun ausführlich beschrieben.</p>
</div>
<div class="sect2">
<h3 id="500">5.1. Wareneingang erfassen</h3>
<div class="paragraph">
<p>Das Erfassen eines Wareneingangs teilt sich in zwei Schritte. Zunächst geben Sie übergeordnete Daten wie den Lieferanten und die Währung an. Im zweiten Schritt geben Sie an, welche Artikel in welcher Menge geliefert wurden.</p>
</div>
<div class="sect3">
<h4 id="_kopfdaten_eines_wareneingangs_erfassen">5.1.1. Kopfdaten eines Wareneingangs erfassen</h4>
<div class="paragraph">
<p>Um einen Wareneingang zu erfassen, benötigen Sie mindestens ein Lager und einen Lieferanten.
Lieferanten legen Sie als <strong><a href="/crm/kundendaten-verwalten#800">Kunden</a></strong> an und ordnen ihnen den Kundentyp Lieferant zu.
Außerdem muss mindestens ein Benutzer als <strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#40">Eigner für Wareneingänge</a></strong> aktiviert sein, damit der Wareneingang einem Eigner zugeordnet werden kann.
Ohne Eigner kann kein Wareneingang erfasst werden.
Die Eigner stehen Ihnen nach ID sortiert zur Verfügung.
Wenn der eingeloggte Benutzer als Eigner möglich ist, wird er vorausgewählt.</p>
</div>
<div class="paragraph instruction">
<p>Kopfdaten eines Wareneingangs erfassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Wareneingang</strong>. <br>
→ Ein neues Tab wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Lieferanten</strong> ein. <br>
→  Mit der Pfeiltaste nach unten öffnen Sie eine Liste aller Lieferanten, alternativ werden ab Eingabe des dritten Buchstabens Vorschläge eingeblendet.</p>
</li>
<li>
<p>Wählen Sie ein Lager. <br>
→ Wenn ein Hauptlager für die Variante gespeichert ist, ist das <strong><a href="/artikel/artikel-verwalten#290">Hauptlager</a></strong> vorausgewählt.</p>
</li>
<li>
<p>Wählen Sie einen Eigner. <br>
→ Wenn Sie als <strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#40">Eigner für Wareneingänge</a></strong> aktiviert wurden, sind Sie als eingeloggter Benutzer als Eigner vorausgewählt.</p>
</li>
<li>
<p>Nehmen Sie weitere optionale Einstellungen vor.</p>
</li>
<li>
<p>Klicken Sie auf Speichern, um den Wareneingang anzulegen. <br>
→ Der Wareneingang wird in einem Tab geöffnet, erhält eine ID und den Status <strong>Erfasst</strong>. Durch einen Klick auf das Plus am Anfang der Kopfzeile des Wareneingangs werden weitere Angaben sichtbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn Sie den Wareneingang in einer anderen Währung als Ihrer <strong><a href="/auftragsabwicklung/payment/waehrungen#30">Standardwährung</a></strong> bezahlen, wird der <strong><a href="/auftragsabwicklung/payment/waehrungen#20">Umrechnungskurs</a></strong> voreingetragen.</p>
</div>
<div class="paragraph">
<p>Alle erfassten Angaben können geändert werden. Um den Wareneingang zu vervollständigen, fügen Sie Artikel und Warenbezugskosten hinzu.</p>
</div>
</div>
<div class="sect3">
<h4 id="600">5.1.2. Artikel zum Wareneingang hinzufügen</h4>
<div class="paragraph">
<p>Varianten eines Artikels lassen sich einzeln hinzufügen oder Sie können mehrere Varianten gleichzeitig hinzufügen. Sie können nur Varianten von Artikeln hinzufügen, die bereits angelegt sind. Wenn ein neuer Artikel geliefert wird, legen Sie zunächst den Artikel mit Varianten im Menü <strong><a href="/artikel/artikel-verwalten">Artikel</a></strong> an.
Zunächst werden Ihnen alle Artikel aller Lieferanten aufgelistet. Nutzen Sie die Suche, um Artikel einzelner Lieferanten anzuzeigen.<br>
Wenn Sie einen Einkaufspreis für eine Variante eingetragen haben, ist dieser hier voreingetragen und kann übernommen werden. Ein Klick auf die Artikel-ID öffnet den Artikel zur Bearbeitung. Wie Sie vorgehen, um die gelieferten Artikel dem Wareneingang hinzuzufügen, wird nachfolgend beschrieben.</p>
</div>
<div class="sect4">
<h5 id="700">Varianten einzeln hinzufügen</h5>
<div class="paragraph">
<p>Einzelne Varianten fügen Sie folgendermaßen hinzu. Angaben wie Einkaufspreis und Lagerort sind keine Pflichtangaben. Wenn Sie diese Angaben nicht pflegen möchten, überspringen Sie die Punkte in der Beschreibung.</p>
</div>
<div class="paragraph instruction">
<p>Varianten einzeln hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Wareneingang.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Artikel hinzufügen</strong>. <br>
→ Ein Fenster zur Artikelsuche und -auswahl wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie Suchbegriffe ein und stellen Sie Filteroptionen ein. Beachten Sie dabei die Erläuterungen in Tabelle 4.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>. <br>
→ Die Artikel, die den eingegebenen Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
<li>
<p>Tragen Sie optional den <strong>Einkaufspreis</strong> ein.</p>
</li>
<li>
<p>Tragen Sie die <strong>Menge</strong> ein (Pflichtangabe). <br>
→ Die Variante wird nach dem Eintragen der Menge automatisch gewählt.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Lagerort</strong> aus dem Dropdown-Menü. <br>
→ Wenn Sie einer Variante noch keinen Lagerort zugeordnet haben, können Sie hier auch einen Lagerort zuordnen. Klicken Sie dafür auf <strong>Suchen</strong>. Der Standard-Lagerort ist ein Platzhalter-Lagerort und bedeutet, dass kein Lagerort zugeordnet ist.</p>
</li>
<li>
<p>Tragen Sie optional eine <strong>UVP</strong> ein. <br>
→ Die UVP wird nach Freigabe des Wareneingangs in die Variantendaten übernommen.</p>
</li>
<li>
<p>Klicken Sie in der Spalte <strong>Aktionen</strong> auf <strong>Artikel hinzufügen</strong>. <br>
→ Die Variante wird dem Wareneingang hinzugefügt.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Artikelfilter</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikeldaten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Durchsucht den Artikelnamen 1 und die Meta-Keywords eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filtert Barcodes wie EAN, UPC oder ISBN je nach Barcodetyp, den Sie angelegt haben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reset</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setzt alle Filtereinstellungen zurück, sodass Ihnen alle Artikel unabhängig vom Lieferanten angezeigt werden. Nach dem Zurücksetzen muss eine Suche ausgeführt werden, damit die Liste aktualisiert wird.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Über <strong>Zurück zum Wareneingang</strong> gelangen Sie in die Übersicht des Wareneingangs.</p>
</div>
</div>
<div class="sect4">
<h5 id="800">Mehrere Varianten gleichzeitig hinzufügen</h5>
<div class="paragraph">
<p>Wenn Sie mehrere Varianten gleichzeitig hinzufügen möchten, tragen Sie Menge und Einkaufspreis ein, wobei der Einkaufspreis keine Pflichtangabe ist. Sie können außerdem mit der Tabulatortaste ins nächste Eingabefeld wechseln. Sie können nur Varianten der aktuellen Seite hinzufügen. Beim Wechsel auf eine neue Seite wird die Liste für diese Seite geladen und die Angaben auf vorhergehenden Seiten werden verworfen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Wareneingang.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Artikel hinzufügen</strong>. <br>
→ Ein Fenster zur Artikelsuche und -auswahl wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie Suchbegriffe ein und stellen Sie Filteroptionen ein. Beachten Sie dabei die Erläuterungen in Tabelle 4.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>. <br>
→ Die Varianten, die den eingegebenen Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
<li>
<p>Tragen Sie optional den <strong>Einkaufspreis</strong> ein.</p>
</li>
<li>
<p>Tragen Sie die <strong>Menge</strong> ein (Pflichtangabe). <br>
→ Die Variante wird nach dem Eintragen der Menge automatisch gewählt.</p>
</li>
<li>
<p>Tragen Sie optional eine <strong>UVP</strong> ein.<br>
→ Die UVP wird nach Freigabe des Wareneingangs in die Artikeldaten übernommen.</p>
</li>
<li>
<p>Tragen Sie die <strong>Menge</strong>, den <strong>Einkaufspreis</strong> und die <strong>UVP</strong> für weitere Varianten ein.</p>
</li>
<li>
<p>Klicken Sie auf den Button <strong>Hinzufügen</strong>, der oberhalb der Artikelliste angezeigt wird. <br>
→ Die Varianten werden dem Wareneingang hinzugefügt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Über <strong>Zurück zum Wareneingang</strong> gelangen Sie in die Übersicht des Wareneingangs.</p>
</div>
<div class="paragraph">
<p>Wenn Sie erneut eine Menge der gleichen Variante hinzufügen und der Einkaufspreis sowie der Lagerort gleich sind, wird diese zur bereits vorhandenen Menge addiert. Wenn sich Einkaufspreis oder Lagerort unterscheiden, wird die Variante noch einmal aufgeführt.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">5.2. Warenbezugskosten hinzufügen</h3>
<div class="paragraph">
<p>Kosten, die beim Bezug der Ware anfallen, hinterlegen Sie als Warenbezugskosten.</p>
</div>
<div class="paragraph instruction">
<p>Warenbezugskosten hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffnen Sie den gewünschten Wareneingang.</p>
</li>
<li>
<p>Klicken Sie auf das kleine Plus, um die Kopfzeile aufzuklappen.</p>
</li>
<li>
<p>Klicken Sie auf die Münzen. <br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie Ihre Kosten ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Kosten zu sichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">5.3. Status ändern und nachvollziehen</h3>
<div class="paragraph">
<p>Direkt nach dem Anlegen erhält der Wareneingang den Status <strong>Erfasst</strong>. Alle Änderungen des Status werden in der <strong>Statushistorie</strong> gespeichert. Die <strong>Statushistorie</strong> öffnen Sie über das Symbol rechts neben dem Status-Dropdown-Menü. In der Historie sehen Sie, von wem, wann und über welches Medium, z.B. Client, ein Status geändert wurde.</p>
</div>
<div class="paragraph instruction">
<p>Status ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Wareneingang aus der Liste.</p>
</li>
<li>
<p>Wählen Sie einen Status aus dem Dropdown-Menü. <br>
→ Die Status <strong>In Prüfung</strong>, <strong>Fehler</strong>, <strong>Storniert</strong> und <strong>Freigegeben</strong> stehen zur Wahl.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie den Status.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Einstellbare Status</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Status</strong></th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Erfasst</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erhält jeder Wareneingang automatisch nach dem Anlegen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>In Prüfung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn alle Artikel, die geliefert wurden, erfasst sind und noch einmal ein Abgleich mit dem Lieferschein oder einer Bestellung erfolgt, ist dieser Status sinnvoll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fehler</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn ein Wareneingang einen Fehler enthält.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Storniert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Für Wareneingänge, die nicht mehr genutzt werden sollen. Wareneingänge können nicht gelöscht werden, daher bietet sich dieser Status für fehlerhafte Wareneingänge an.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Freigegeben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Ware wird dem Bestand hinzugefügt, d.h. sie wird für ausstehende Aufträge, neue Listings etc. berücksichtigt. Daher wird der Wareneingang für eine weitere Bearbeitung gesperrt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Korrektur</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erlaubt einige Angaben wie den Lieferanten, die Lieferscheinnummer etc. wieder zu bearbeiten. Der Einkaufspreis kann nicht mehr bearbeitet werden.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1100">5.4. Bestand auf Variante buchen</h3>
<div class="paragraph">
<p>Durch die Freigabe des Wareneingangs wird die Menge im Wareneingang dem Bestand einer Variante hinzugefügt und die UVP aus dem Wareneingang wird für die Variante übernommen. Bei unterschiedlichen UVPs für eine Variante wird die höchste UVP in die Variante übernommen.<br>
Sobald ein Wareneingang den Status <strong>Freigegeben</strong> erhält, können Varianten weder geändert noch weitere Varianten hinzugefügt werden. Auch andere Daten, wie z.B. der Lieferant, sind im Status <strong>Freigegeben</strong> nicht mehr änderbar.</p>
</div>
<div class="paragraph">
<p>Den Bestand einer Variante sehen Sie im Tab <strong>Bestand</strong> und hier im Untertab <strong>Warenbestand</strong>. Im Untertab <strong>Warenbewegung</strong> werden zusätzlich alle Warenbewegungen angezeigt, d.h. hier sehen Sie auch, wenn z.B. der Einkaufspreis im Wareneingang geändert wurde. Alle Änderungen der Artikelmenge oder des Einkaufspreises in einem Wareneingang werden unabhängig vom Status des Wareneingangs als Warenbewegungen festgehalten.</p>
</div>
<div class="paragraph">
<p>Den Bestand aller Artikel und Varianten sehen Sie im Menü <strong><a href="/warenwirtschaft/warenbestaende-verwalten">Waren » Warenbestände</a></strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">5.5. Notiz hinzufügen</h3>
<div class="paragraph">
<p>Notizen nutzen Sie, um z.B. Informationen für Kollegen für die Nachbearbeitung zu speichern. Notizen lassen sich nicht ändern oder löschen.</p>
</div>
<div class="paragraph instruction">
<p>Notiz hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Wareneingang aus der Liste.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Notizen</strong>, den kleinen Zettel, in der ersten Zeile rechts. <br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen Text ein.<br>
→ Sie haben verschiedene Formatierungsmöglichkeiten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Notiz zu sichern. <br>
→ Gespeicherte Notizen werden im Notizenfenster links angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1300">5.6. Wareneingang ändern und korrigieren</h3>
<div class="paragraph">
<p>Ob Sie einen Wareneingang noch ändern können oder nicht, hängt vom Status des Wareneingangs ab. In den Status <strong>Erfasst</strong>, <strong>In Prüfung</strong>, <strong>Fehler</strong> und <strong>Storniert</strong> sind Wareneingänge noch änderbar. Angaben wie z.B. Lieferant, Lieferscheinnummer und Artikelmenge lassen sich ändern. Bei Änderungen von sensiblen Daten wie Einkaufspreis und Artikelmenge wird automatisch eine Notiz angelegt. Als Autor der Notiz wird der Bearbeiter gespeichert. Freigegebene Wareneingänge können nicht mehr geändert werden. Im Status <strong>Korrektur</strong> sind die Menge und übergeordnete Angaben wie das Lager etc. wieder änderbar.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">5.7. Wareneingang exportieren</h3>
<div class="paragraph">
<p>Der Export erfolgt im CSV-Format. Gehen Sie wie nachfolgend beschrieben vor, um einen Wareneingang zu exportieren.</p>
</div>
<div class="paragraph instruction">
<p>Wareneingang exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Wählen Sie einen Wareneingang.</p>
</li>
<li>
<p>Klicken Sie auf das kleine Plus, um den Kopfbereich des Wareneingangs zu öffnen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Export</strong>.<br>
→ Die Datei wird heruntergeladen.</p>
</li>
<li>
<p>Wählen Sie beim Öffnen der Datei das Semikolon als Trennzeichen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1500">5.8. PDF-Beleg erstellen</h3>
<div class="paragraph">
<p>Das Erstellen eines PDF-Belegs ist nur im Status <strong>Freigegeben</strong> möglich.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Beleg erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Wählen Sie einen Wareneingang.</p>
</li>
<li>
<p>Klicken Sie auf das kleine Plus, um den Kopfbereich des Wareneingangs zu öffnen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Beleg erstellen</strong>.<br>
→ Die PDF-Datei wird heruntergeladen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_ware_über_die_plentymarkets_app_einbuchen">6. Ware über die plentymarkets App einbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ware kann auch über die plentymarkets App eingebucht werden. Voraussetzung ist, dass der Anwender die Berechtigung zum Einbuchen von Ware hat. Zusätzlich kann der Anwender auch die Berechtigung erhalten, beim Einbuchen den Einkaufspreis anzupassen. Alternativ kann automatisch entweder der im Tab <strong>Einstellungen</strong> der Variante gespeicherte Einkaufspreis (<strong>EK netto</strong>) oder der durchschnittliche Nettoeinkaufspreis eingefügt werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hardware für plentymarkets App</div>
<div class="paragraph">
<p>Hardware-Empfehlungen für das Einbuchen von Ware über die plentymarkets App finden Sie auf der Handbuchseite <strong><a href="/erste-schritte/systemvoraussetzungen#_warenbestand_mit_der_plentymarkets_app_verwalten">Systemvoraussetzungen</a></strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_berechtigungen_für_einbuchen_erteilen">6.1. Berechtigungen für Einbuchen erteilen</h3>
<div class="paragraph">
<p>Anwender mit Admin-Rechten haben standardmäßig die Berechtigungen, um Einbuchungen über die App vorzunehmen. Benutzern der Benutzerklasse <strong>Variabel</strong> und <strong>Logistik</strong> müssen Sie diese Berechtigungen erteilen.</p>
</div>
<div class="paragraph instruction">
<p>Benutzern Berechtigungen für das Einbuchen erteilen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Konto des Benutzers.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Mobile</strong>.</p>
</li>
<li>
<p>Aktivieren Sie im Bereich <strong>Sichtbare Funktionen</strong> die Berechtigung <strong>Einbuchen</strong>.<br>
→ Die Einzelberechtigungen für das Einbuchen werden eingeblendet.</p>
</li>
<li>
<p>Erteilen Sie bei Bedarf zusätzliche Einzelberechtigungen. Beachten Sie dazu die Erläuterungen in Tabelle 6.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 6. Einbuchen über App; Einzelberechtigungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis (EK) anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob dem Benutzer beim Einbuchen über die App der Einkaufspreis angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis (EK) bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob der Benutzer beim Einbuchen über die App den Einkaufspreis bearbeiten kann.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_einbuchen_über_die_plentymarkets_app_personalisieren">6.2. Einbuchen über die plentymarkets App personalisieren</h3>
<div class="paragraph">
<p>In der plentymarkets App können Benutzer weitere Einstellungen vornehmen, um den Einbuchungsvorgang zu personalisieren.</p>
</div>
<div class="paragraph instruction">
<p>Einbuchen über die plentymarkets App personalisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melden Sie sich bei der plentymarkets App an.</p>
</li>
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Einbuchung</strong>.<br>
→ Das Einstellungsmenü <strong>Einbuchung</strong> wird angezeigt.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie Tabelle 7.<br>
<strong><em>Tipp:</em></strong> Die Einstellungen werden gespeichert, wenn Sie das Menü verlassen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 7. Einbuchung; App-Einstellungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelsuchfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchfelder aktivieren, die im Menü <strong>Einbuchung</strong> angezeigt werden.<br>
<strong><em>Tipp:</em></strong> Reihenfolge, in der die Suchfelder angezeigt werden, über die Pfeile links neben Suchfeldname festlegen. Auf Pfeil nach oben tippen, um Suchfeld eine Ebene höher zu schieben. Auf Pfeil nach unten tippen, um Suchfeld eine Ebene tiefer zu schieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Suchfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf das Suchfeld tippen, in das der Cursor beim Öffnen des Menüs automatisch springt. Wenn kein Suchfeld gewählt wird, muss  bei der Suche jedes Mal in ein Feld getippt werden, bevor der Suchwert eingegeben werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortvorschlagsliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Lagerorte als Ziellagerorte vorgeschlagen werden.<br>
<strong><em>Tipp:</em></strong> Reihenfolge, in der die Lagerortvorschläge angezeigt werden, über die Pfeile links neben Lagerortvorschlag festlegen. Auf Pfeil nach oben tippen, um Lagerortvorschlag eine Ebene höher zu schieben. Auf Pfeil nach unten tippen, um Lagerortvorschlag eine Ebene tiefer zu schieben.<br>
<strong>Lagerortvorschlag</strong> = Zeigt die Lagerorte an, die mit der Variante verknüpft sind.<br>
<strong>Verwendete Lagerorte</strong> = Zeigt die Lagerorte an, in denen die Variante bereits lagert.<br>
<strong>Leere Lagerorte</strong> = Zeigt alle vorhandenen Lagerorte an.<br>
<strong><em>Hinweis:</em></strong> Je nach Anzahl der Lagerorte kann die Einstellung <strong>Leere Lagerorte</strong> das Einbuchen stark verlangsamen. Daher Varianten mit Lagerorten verknüpfen und <strong>Leere Lagerorte</strong> nur im Ausnahmefall aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Fokus auf Ziel-Lagerort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Ziel-Lagerort setzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um nach Auswahl des Artikels automatisch in das Eingabefeld <strong>Lagerort</strong> zu springen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der an der Variante gespeicherte Einkaufspreis übernommen wird.<br>
Nicht aktiviert = Für die Variante wird der durchschnittliche Netto-EK eingefügt.<br>
Aktiviert = Der im Tab <strong>Einstellungen</strong> der Variante gespeicherte Einkaufspreis (<strong>EK netto</strong>) wird eingefügt.<br>
<strong><em>Tipp:</em></strong> Wenn <strong>Einkaufspreis anzeigen</strong> aktiviert ist, können Benutzer mit der Berechtigung <strong>Einkaufspreis bearbeiten</strong> den automatisch eingefügten Einkaufspreis ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der im Tab <strong>Einstellungen</strong> der Variante gespeicherte Einkaufspreis (<strong>EK netto</strong>) bei der Einbuchung angezeigt wird.<br>
Nicht aktiviert = Der Einkaufspreis wird unabhängig von den Benutzerrechten nicht angezeigt, sondern automatisch gemäß der Einstellung <strong>Einkaufspreis übernehmen</strong> eingefügt.<br>
Aktiviert = Der Einkaufspreis wird angezeigt, wenn der Benutzer über die nötigen Berechtigungen verfügt.<br>
<strong><em>Tipp:</em></strong> Option wird nur angezeigt, wenn der Benutzer berechtigt ist, den Einkaufspreis zu sehen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_ware_über_die_plentymarkets_app_einbuchen_2">6.3. Ware über die plentymarkets App einbuchen</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Lagerorte labeln</div>
<div class="paragraph">
<p>Noch schneller buchen Sie Ware ein, wenn Sie Ihre <strong><a href="/warenwirtschaft/lager-einrichten#800">Lagerorte labeln</a></strong>. Beim Einbuchen können Sie dann die Labels des Ziellagerorts scannen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Ware über die plentymarkets App einbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie die plentymarkets App.</p>
</li>
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Einbuchung</strong>.<br>
→ Die Variantensuche wird angezeigt.</p>
</li>
<li>
<p>Geben Sie ein Suchkriterium ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Suchen</strong>.<br>
→ Die gefundenen Varianten werden angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf die Variante.<br>
<strong><em>Tipp:</em></strong> Bei eindeutigem Suchergebnis wird die Variante automatisch geöffnet.</p>
</li>
<li>
<p>Geben Sie die Menge ein, die eingebucht werden soll.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Geben Sie den Einkaufspreis ein.</p>
</li>
<li>
<p>Tippen Sie auf den grünen Balken des Lagerorts, in den der Bestand gebucht werden soll.<br>
<strong><em>Tipp:</em></strong> Wenn Sie gelabelte Lagerorte haben, scannen Sie stattdessen das Label des Lagerorts. Dazu bei Bluetooth-Scannern vorher in das Feld <strong>Barcode</strong> tippen.<br>
→ Der Bestand wird eingebucht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">7. Wareneingang suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Suche nach Wareneingängen gibt es zwei Menüs, <strong>Waren » Wareneingänge</strong> und <strong>Waren » Neuer Wareneingang</strong>. Im Menü <strong>Waren&nbsp;» Wareneingänge</strong> werden alle Wareneingänge aufgelistet, egal ob sie über die App, per SOAP, per dynamischem Import oder über das Menü <strong>Neuer Wareneingang</strong> erfolgt sind. Im Menü <strong>Neuer Wareneingang</strong> werden nur Wareneingänge aufgeführt, die über dieses Menü erfolgt sind.</p>
</div>
<div class="sect2">
<h3 id="1700">7.1. Neuen Wareneingang suchen</h3>
<div class="paragraph">
<p>Mit der Wareneingangssuche listen Sie gezielt Wareneingänge auf. Viele der Filter für die Suche beziehen sich auf Artikel und Varianten eines Artikels, d.h. mit ihnen suchen Sie Wareneingänge, in denen Artikel oder Varianten mit dieser ID, Nummer oder Markierung vorkommen. Beim Öffnen des Menüs sind standardmäßig die letzten zwei Monate als Lieferzeitraum eingestellt. Wenn Sie einen Wareneingang suchen, der weiter zurückliegt, wird er erst aufgelistet, wenn Sie die Filter zurücksetzen.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Wareneingang suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Wählen Sie die gewünschten Sucheinstellungen. Beachten Sie dabei auch die Erläuterungen in Tabelle 8.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 8. Sucheinstellungen für Wareneingänge</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sucht Varianten mit dem eingetragenen Barcode. Barcodes können EANs, UPC, ISBN etc. sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nachbestellungs-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sucht alle Wareneingänge, in denen ein Artikel aus der Nachbestellung enthalten ist.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1800">7.2. Wareneingang im Menü <strong>Waren » Wareneingänge</strong> suchen</h3>
<div class="paragraph">
<p>Waren gehen auf verschiedenen Wegen ins System ein. Sie können Waren z.B. per SOAP, per Rest, per dynamischen Import, in den Artikeldaten oder über das Menü <strong>Neuer Wareneingang</strong> einbuchen. Egal auf welchem Weg die Ware in Ihr System eingebucht wurde, im Menü <strong>Waren » Wareneingänge</strong> finden Sie alle Wareneingänge. Die Suche erfolgt immer monatsweise.</p>
</div>
<div class="paragraph instruction">
<p>Wareneingang suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Wareneingänge</strong>.</p>
</li>
<li>
<p>Wählen Sie Filter aus.<br>
→ Der aktuelle Monat ist voreingestellt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Archivierte Einträge erkennen</div>
<div class="paragraph">
<p>Archiviert wird ein Eintrag frühestens nach drei Monaten und dann nur, wenn bereits alle eingegangenen Waren wieder ausgebucht oder umgebucht wurden. Wenn ein Wareneingang arichiviert wurde, wird ein Archivsymbol in der Spalte <strong>Archiv</strong> angezeigt.
Archivdaten sind nicht mehr änderbar und auch nicht löschbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Folgende Möglichkeiten stehen Ihnen in diesem Menü außerdem zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wareneingänge monatsweise exportieren</p>
</li>
<li>
<p>Wareneingänge öffnen, bearbeiten und einzeln exportieren</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im Tab <strong>Base</strong> sind die Optionen <strong>Lieferant</strong>, <strong>Lieferdatum</strong> und <strong>Lieferscheinnummer</strong> änderbar. Im Tab <strong>Artikel</strong> ist der <strong>Einkaufspreis</strong> änderbar.</p>
</div>
</div>
</div>
</div>
</main>