<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Lieferant:innen einer Variante zuordnen</span></a></li>
<li><a href="#200"><span>2.</span><span> Variante mit Lagerort verknüpfen</span></a></li>
<li><a href="#250"><span>3.</span><span> Einkaufspreis ermitteln</span></a></li>
<li><a href="#300"><span>4.</span><span> Lagerort und Einkaufspreis übertragen</span></a></li>
<li><a href="#400"><span>5.</span><span> UVP und Preis zuordnen</span></a></li>
<li><a href="#450"><span>6.</span><span> Ware über das Backend einbuchen</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>6.1.</span><span> Wareneingang erfassen</span></a>
<ul class="sectlevel3">
<li><a href="#_allgemeine_daten_eines_wareneingangs_erfassen"><span>6.1.1.</span><span> Allgemeine Daten eines Wareneingangs erfassen</span></a></li>
<li><a href="#600"><span>6.1.2.</span><span> Artikel zum Wareneingang hinzufügen</span></a>
<ul class="sectlevel4">
<li><a href="#700"><span>Varianten einzeln hinzufügen</span></a></li>
<li><a href="#800"><span>Mehrere Varianten gleichzeitig hinzufügen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#810"><span>6.2.</span><span> Wareneingang mit MHD und/oder Charge buchen</span></a></li>
<li><a href="#900"><span>6.3.</span><span> Warenbezugskosten hinzufügen</span></a></li>
<li><a href="#1000"><span>6.4.</span><span> Status ändern und nachvollziehen</span></a></li>
<li><a href="#1100"><span>6.5.</span><span> Bestand auf Variante buchen</span></a></li>
<li><a href="#1200"><span>6.6.</span><span> Notiz hinzufügen</span></a></li>
<li><a href="#1300"><span>6.7.</span><span> Wareneingang ändern und korrigieren</span></a></li>
<li><a href="#1400"><span>6.8.</span><span> Wareneingang exportieren</span></a></li>
<li><a href="#1500"><span>6.9.</span><span> PDF-Beleg erstellen</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>7.</span><span> Ware über die plentymarkets App einbuchen</span></a></li>
<li><a href="#1600"><span>8.</span><span> Wareneingang suchen</span></a>
<ul class="sectlevel2">
<li><a href="#1700"><span>8.1.</span><span> Neuen Wareneingang suchen</span></a></li>
<li><a href="#1800"><span>8.2.</span><span> Wareneingang im Menü Waren » Wareneingänge suchen</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>9.</span><span> Leere Lagerorte löschen</span></a></li>
<li><a href="#2000"><span>10.</span><span> Lagerbestandseinträge von 0 ausblenden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Wareneingänge verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Es gibt verschiedene Wege, über die du Waren in dein System buchen kannst. Voraussetzung für einen Wareneingang ist, dass der Variante ein Lager, ein Lagerort und ein:e Lieferant:in zugeordnet sind. Auf dieser Seite wird beschrieben, wo und wie das Zuordnen des Lagerorts und der Lieferant:in erfolgt. Außerdem wird der Wareneingang über das Menü <strong>Waren » Neuer Wareneingang</strong> beschrieben. Nur wenn du Wareneingänge und Warenausgänge buchst und so Warenbestände in plentymarkets führst, kann dein System Varianten anhand der <a href="/artikel/artikel-verwalten#200">Beschränkung und Verfügbarkeit</a> automatisiert im Webshop ein- und ausblenden sowie Listings automatisiert starten und beenden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Lieferant:innen einer Variante zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wer liefert dir diesen Artikel? Ordne deinen Artikeln einen oder mehrere Lieferanten zu. Indem du diese Daten in plentymarkets speicherst, kannst du später eine <a href="/warenwirtschaft/wareneingaenge-verwalten#450">Aufzeichnung der Wareneingänge führen</a>. Du kannst auch <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">Artikel beim Lieferanten nachbestellen</a>, wenn dir die Lagerbestände ausgehen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hast du die Kontaktdaten gespeichert?</div>
<div class="paragraph">
<p>In plentymarkets sind Lieferanten nichts anderes als Kontaktdaten. Bevor du also Lieferanten mit Artikeln verknüpfen kannst, musst du in plentymarkets einen Kontaktdatensatz erstellen.</p>
</div>
<div class="paragraph">
<p>Die Vorgehensweise ist die gleiche wie beim <a href="/crm/kontakte-verwalten">Erstellen eines normalen Kontaktdatensatzes</a>. Allerdings muss als <a href="/crm/kontakte-verwalten#20">Typ Lieferant gewählt</a> werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Lieferant zur Variante hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel des Typs <strong>Standard</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> der Hauptvariante wird geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Lieferant</strong> der Variante.</p>
</li>
<li>
<p>Wähle einen Lieferanten aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Der Lieferant wird hinzugefügt und in der Liste angezeigt.</p>
</li>
<li>
<p>Gib die Lieferantendaten gemäß <a href="#tabelle-hauptvariante-lieferanten">Tabelle 1</a> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-hauptvariante-lieferanten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Lieferantendaten für eine Variante angeben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In dieser Spalte wird automatisch der Firmenname des Lieferanten angezeigt, wie er <a href="/crm/kontakte-verwalten#100">im Kontaktdatensatz gespeichert</a> wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferantenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In dieser Spalte werden automatisch Vor- und Nachname des Lieferanten angezeigt, wie sie <a href="/crm/kontakte-verwalten#100">im Kontaktdatensatz gespeichert</a> wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanten-Artikel-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Artikelnummer ein, unter der dein Lieferant die Variante führt. Wareneingänge können im Menü <strong>Waren » Neuer Wareneingang</strong> auch anhand dieser Nummer gesucht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanten-Artikel-Bez.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Artikelname ein, unter dem dein Lieferant die Variante führt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EK in Systemwährung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Einkaufspreis der Variante in deine eigene Währung ein. Je nachdem, wie du die Einstellungen im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> konfiguriert hast, <a href="/warenwirtschaft/wareneingaenge-verwalten#300">kann dieser Preis beim Wareneingang überschrieben werden</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EK in Bestellwährung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist dein Lieferant aus einem anderen Land tätig und verwendet eine andere Währung? Gib den Einkaufspreis der Variante in die Währung deines Lieferantens ein. Welche Währung hier angezeigt wird, hängt davon ab, welche <a href="/crm/kontakte-verwalten#100">Währung im Kontaktdatensatz gespeichert</a> wurde. Bei einer <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">Nachbestellung</a> wird diese Währung verwendet, falls verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestabnahme</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Menge, die du beim Lieferanten mindestens bestellen musst. Dieser Wert dient auch als <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen#170">minimaler Vorschlagswert für die Nachbestellung</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferzeit in Tagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Anzahl der Tage ein, die der Lieferant für die Lieferung der Variante benötigt. Die Lieferzeit kann Einfluss auf den <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen#110">Mengenvorschlag einer Nachbestellung</a> haben und auf das <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen#600">Lieferdatum einer Nachbestellung</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte Preisanfrage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum aus dem Kalender wählen, an dem der Preis für die Variante zuletzt angefragt wurde. Dieses Datum hilft dir bei der Planung von Preisverhandlungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabatt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabatt in Prozent eingeben, wenn der Lieferant einen Rabatt auf die Variante gewährt. Der Rabatt wird in Nachbestellungen nur berücksichtigt, wenn auch die Option <strong>Rabattfähigkeit</strong> gewählt wurde (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabattfähigkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um den unter <strong>Rabatt</strong> eingetragenen Rabatt zu aktivieren. Wenn die Rabattfähikgeit nicht gesetzt ist, wird der eingetragene Rabatt für Nachbestellungen nicht berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verpackungseinheit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nutzen du und dein Lieferant unterschiedliche Verpackungseinheiten? Gib die Verpackungseinheit (VPE) des Lieferanten ein, wenn sie von dem abweicht, was du <a href="/artikel/artikel-verwalten#270">in den Artikeleinstellungen gespeichert</a> hast.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Variante mit Lagerort verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Variante muss mit einem Lager samt Lagerort verknüpft werden, damit ein Wareneingang gebucht werden kann. Der Standard-Lagerort dient als Platzhalter-Lagerort, was bedeutet, dass noch kein Lagerort zugeordnet wurde. Wähle deshalb einen deiner Lagerorte als Lagerortvorschlag.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bei Lagerortvorschlag kein Wareneingang auf Standard-Lagerort möglich</div>
<div class="paragraph">
<p>Wenn eine Variante mit einem Lagerortvorschlag verknüpft wurde, ist der Wareneingang auf den Standard-Lagerort nicht mehr möglich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Vererben der Einstellung an Varianten</div>
<div class="paragraph">
<p>Wenn du ein Lager für eine Hauptvariante aktivierst, wird diese Einstellung auch an alle Varianten des Artikels <a href="/artikel/einleitung/vererbung">vererbt</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Variante mit Lagerort verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Lager</strong>.</p>
</li>
<li>
<p>Wähle ein Lager aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Lager wird der Variante zugeordnet und weitere Einstellungen können optional vorgenommen werden.</p>
</li>
</ol>
</div>
<table id="tabelle-lagereinstellungen-variante" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Lagereinstellungen einer Variante</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-lagerorttyp">Lagerorttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle anhand der Artikelgröße einen Lagerorttyp.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Zone, wenn das Lager in Zonen eingeteilt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldebestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Anzahl ein, bei der eine Nachbestellung der Variante erfolgen soll. Erst wenn die Variante auf diesen Meldebestand sinkt, wird ein Mengenvorschlag für die Variante angezeigt, da erst bei Erreichen des Meldebestands eine Nachbestellung erfolgen soll.<br>
<strong><em>Hinweis:</em></strong> Wenn du die <a href="/warenwirtschaft/lager-einrichten#Meldebestand_Variante_Lager">Differenz zum Meldebestand</a> dynamisch berechnen lässt, darf hier nur <code>0</code> gespeichert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerreichweite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Anzahl der Tage ein, den der Warenbestand bis zur nächsten Nachbestellung reichen soll. Die Lagerreichweite fließt in die Berechnung des Nachbestellungsvorschlags ein. Ein Standardwert aus der Praxis für die Lagerreichweite ist z.B. 14 Tage. Wenn der Artikel den Meldebestand erreicht hat, werden die 14 Tage zur Berechnung der Nachbestellmenge berücksichtigt, d.h. es wird die Menge zur Nachbestellung vorgeschlagen, die für die folgenden 14 Tage ausreicht.
Wird hier kein Wert eingetragen, wird die Lagerreichweite bei der Berechnung eines Nachbestellungstermins nicht berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximalbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den maximalen Bestand für das Lager ein. Der Maximalbestand wird für den Bestellmengenvorschlag berücksichtigt, sodass der Vorschlag den Maximalbestand nicht überschreitet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Bestandspupper ein. Ein Bestandspuffer bewirkt, dass der Bestand für bestimmte Marktplätze um den eingetragenen Wert reduziert wird.<br>
<em>Beispiel</em>: Der Artikel hat einen Bestand von 50. Du möchtest einen Bestandspuffer von 10 Artikeln, damit der Artikel nicht vollständig über den Marktplatz abverkauft wird. Dazu gibst du <strong>10</strong> als Bestandspuffer ein. Zum Marktplatz wird dann ein Bestandswert von <strong>40</strong> übertragen.<br>
Hier eingetragene Werte gelten für die Marktplätze <a href="/maerkte/amazon/amazon-einrichten">Amazon</a> und <a href="/maerkte/shopgate">Shopgate</a>. Die Werte sind gegenüber den hinterlegten Bestandspufferwerten dieser Marktplätze dominant.<br>
Bei anderen Marktplätzen, die nicht hier aufgeführt sind, haben die Bestandspuffer-Einstellungen des jeweiligen Marktplatzes Vorrang vor dieser Einstellung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MHD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob für die Variante und das Lager das Mindesthaltbarkeitsdatum der Produkte erfasst werden soll.<br>
<strong><em>Hinweis:</em></strong> Sobald Lagerbestand auf dem Lager vorhanden ist, kann die Option <strong>MHD</strong> nicht mehr deaktiviert werden. Ist der Lagerbestand auf dem Lager gleich 0, ist das Aktivieren und Deaktivieren der Option <strong>MHD</strong> möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Charge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob für die Variante und das Lager die Charge der Produkte erfasst werden soll.<br>
<strong><em>Hinweis:</em></strong> Sobald Lagerbestand auf dem Lager vorhanden ist, kann die Option <strong>Charge</strong> nicht mehr deaktiviert werden. Ist der Lagerbestand auf diesem Lager gleich 0, ist das Aktivieren und Deaktivieren der Option <strong>Charge</strong> möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortvorschlag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Lagerort, der bei Nachbestellungen automatisch vorgeschlagen werden soll. Die Einstellung <strong>Standard-Lagerort</strong> bedeutet, dass kein Lagerort zugewiesen wurde.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Einkaufspreis ermitteln</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Einstellungen zum Einkaufspreis in plentymarkets sind vielfältig. In Varianten werden dir 2 verschiedene Einkaufspreise angezeigt. Ein Feld zeigt immer den gleitenden Einkaufspreis. Welcher Einkaufspreis im 2. Feld angezeigt wird, bestimmst du durch deine Einstellungen. Du hast die Möglichkeit, einen Einkaufspreis einzutragen oder bei Wareneingängen z.B. den Einkaufspreis des aktuellen Wareneingangs an Varianten und Lieferant:innen zu übertragen. Außerdem kannst du ebenfalls einen weiteren Durchschnittseinkaufspreis übertragen. Hierbei handelt es sich um eine Art Live-Durchschnittseinkaufspreis. Welche Einstellungsoptionen du hast, um den Einkaufspreis zu übertragen, wird im nächsten Kapitel, <a href="#300">Lagerort und Einkaufspreis übertragen</a>, beschrieben.<br>
Die Berechnung der 2 unterschiedlichen Durchschnittseinkaufspreise wird im Folgenden erläutert.</p>
</div>
<table id="tabelle-durchschnittseinkaufspreis-berechnen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Formeln Durchschnittseinkaufspreis</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Livedurchschnittsberechnung</th>
<th class="tableblock halign-left valign-top">Berechnung gleitender Durchschnittseinkaufspreis</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">\(LDEK_{neu} = {LDEK_{alt} \cdot Menge_{alt} + EK_{neu} \cdot Menge_{neu}\over Menge_{alt} + Menge_{neu}}\)<br>
<br>
LDEK<sub>neu</sub> = Neuer Live-Durchschnittseinkaufspeis<br>
LDEK<sub>alt</sub> = Alter Live-Durchschnittseinkaufspreis<br>
Menge<sub>alt</sub> = Bisherige Bestandsmenge<br>
EK<sub>neu</sub> = Einkaufspreis im Wareneingang<br>
Menge<sub>neu</sub> = Menge im Wareneingang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">\(GLD_{neu} = {GLD_{alt} \cdot Menge_{alt} + EK_{neu} \cdot Menge_{neu}\over Menge_{alt} + Menge_{neu}}\)<br>
<br>
GLD<sub>neu</sub> = Neuer gleitender Durchschnittseinkaufspeis<br>
GLD<sub>alt</sub> = Alter gleitender Durchschnittseinkaufspreis<br>
Menge<sub>alt</sub> = Bisherige Bestandsmenge<br>
EK<sub>neu</sub> = Einkaufspreis im Wareneingang<br>
Menge<sub>neu</sub> = Menge im Wareneingang</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bei dieser Methode wird in folgenden Fällen eine Neuberechnung ausgelöst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wareneingang</p>
</li>
<li>
<p>Warenausgang</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Der aktuelle Durchschnitt wird z.B. in Statistiken oder Exporten ausgegeben. Damit dieser Durchschnittspreis auch im Artikel angezeigt wird, muss zusätzlich eingestellt werden, dass der Durchschnittseinkaufspreis auf Varianten übertragen wird.<br>
Um diesen Preis in der Variante zu sehen, wähle im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> für die Einstellung <strong>Einkaufspreis</strong> die Option  <strong>Durchschnittseinkaufspreis auf Variante übertragen</strong>. Die weiteren Optionen werden in <a href="#tabelle-einkaufspreis-lagerort-übertragen">Tabelle 4</a> erläutert.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bei dieser Methode wird in folgenden Fällen eine Neuberechnung ausgelöst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wareneingang</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Allerdings muss dafür das Lager, in das du Bestand buchst, auch für den GLD berücksichtigt werden. Der GLD wird in der Variante automatisch in einem separaten Feld eingetragen.<br>
Welche Lager für den <strong>gleitenden Durchschnittspreis</strong> berücksichtigt werden sollen, stellst du im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> ein.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">4. Lagerort und Einkaufspreis übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Hinzufügen von Artikeln kannst du sowohl den Einkaufspreis als auch die UVP und den Lagerort angeben. Die UVP wird bei Freigabe eines Wareneingangs automatisch in die Variantendaten übernommen. Wenn ein Wareneingang die gleiche Variante mehrmals, jedoch mit unterschiedlichen UVPs enthält, wird bei der Freigabe die höchste UVP übernommen. Ob und wie Einkaufspreise von Wareneingängen zu den Artikeldaten übertragen werden und ob und wie ein Lagerort aus einem Wareneingang zu einem Artikel übertragen wird, legst du vorab fest.</p>
</div>
<div class="paragraph instruction">
<p>Übertragung festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong>.</p>
</li>
<li>
<p>Wähle eine Einstellung. Beachte dazu die Erläuterungen in <a href="#tabelle-einkaufspreis-lagerort-übertragen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einkaufspreis-lagerort-übertragen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Preis- und Lagerortübertragung festlegen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob und wohin der EK aus dem Wareneingang übertragen werden soll. Die Übertragung erfolgt bei Freigabe eines Wareneingangs.<br>
<strong>Einkaufspreis nicht übertragen</strong> = Der Einkaufspreis wird nicht übertragen. Wähle diese Einstellung, wenn du den Einkaufspreis in der Variante manuell pflegen möchtest.<br>
<strong>Einkaufspreis auf Variante übertragen</strong> = Der Einkaufspreis wird automatisch im Tab <strong>Einstellungen</strong> einer Variante hinterlegt. Wenn du im selben Wareneingang dieselbe Variante mit unterschiedlichen Einkaufspreisen buchst, wird der letzte Einkaufspreis der Variante aus dem Wareneingang übertragen.<br>
<strong>Einkaufspreis auf Variante und Lieferant übertragen</strong> = Der Einkaufspreis wird automatisch im Tab <strong>Einstellungen</strong> einer Variante sowie im Tab <strong>Bestand</strong> in den Lieferant:innen-Daten hinterlegt. Wenn du im selben Wareneingang dieselbe Variante mit unterschiedlichen Einkaufspreisen buchst, wird der letzte Einkaufspreis der Variante aus dem Wareneingang übertragen.<br>
<strong>Live-Durchschnittseinkaufspreis auf Variante übertragen</strong> = Bei jedem Wareneingang und Warenausgang wird der durchschnittliche EK neu berechnet und angepasst. Zum Berechnen werden die tatsächlichen Einkaufspreise der im Lager verfügbaren Bestände einer Variante herangezogen. Der errechnete Mittelwert wird im Tab <strong>Einstellungen</strong> einer Variante hinterlegt. Die Formel zum Berechnen findest du in <a href="#tabelle-durchschnittseinkaufspreis-berechnen">Tabelle 3</a>.<br>
<strong>Höchsten Einkaufspreis auf Variante übertragen</strong> = Bei mehreren unterschiedlichen Einkaufspreisen wird der höchste Einkaufspreis aus dem aktuellen Wareneingang in die Variantendaten übertragen.<br>
<strong>Niedrigsten Einkaufspreis auf Variante übertragen</strong> = Bei mehreren unterschiedlichen Einkaufspreisen wird der niedrigste Einkaufspreis aus dem aktuellen Wareneingang in die Variantendaten übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob und wohin der Lagerort übertragen werden soll. Die Übertragung erfolgt bei Freigabe eines Wareneingangs.<br>
<strong>Lagerort nicht übertragen</strong> = Der Lagerort wird nicht übertragen.<br>
<strong>Lagerort auf Variante übertragen</strong> = Der Lagerort wird automatisch als Lagerort-Vorschlag in das Tab <strong>Lager</strong> einer Variante übernommen. Der Lagerort wird mit jedem Wareneingang neu übertragen.<br>
<strong>Lagerort auf Variante übertragen, wenn noch kein Lagerort oder Standard-Lagerort hinterlegt wurde</strong> = Die Übertragung erfolgt nur, wenn noch kein Lagerort hinterlegt wurde.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">5. UVP und Preis zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du im Wareneingang eine UVP eingeben kannst, ordne zu, welcher Verkaufspreis als UVP genutzt werden soll. Außerdem kannst du wählen, welcher Verkaufspreis dir im Wareneingang angezeigt wird.</p>
</div>
<div class="paragraph instruction">
<p>UVP und Preis zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Wähle für <strong>UVP</strong> einen deiner Verkaufspreise aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle für <strong>Preis</strong> einen deiner Verkaufspreise aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Zuordnung im Menü <strong>Einrichtung » Waren » Neuer Wareneingang</strong> allein genügt nicht, um einen Verkaufspreis in einer Variante anzuzeigen. Der Verkaufspreis muss außerdem mit einer Variante verknüpft werden. Verkaufspreise legst du im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> an. Wie du Verkaufspreise anlegst und mit Varianten verknüpfst, ist auf der Handbuchseite <a href="/artikel/einstellungen/preise#200">Verkaufspreise und Preiskalkulation</a> beschrieben. Dort erfährst du zum Beispiel auch, wie du mit der Preiskalkulation Preise für Kund:innen-Klassen berechnest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="450">6. Ware über das Backend einbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast verschiedene Möglichkeiten, einen Wareneingang zu buchen, z.B. per App, per Datenimport oder über den Menüpunkt <strong>Neuer Wareneingang</strong>. In diesem Menü hast du die Möglichkeit, neben dem Bestand auch weitere Daten, wie Warenbezugkosten, anzugeben.</p>
</div>
<h3 id="_rechte_für_backend_benutzerinnen_vergeben" class="discrete">Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Wareneingänge sehen können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Warenbestände &gt; Wareneingänge &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Warenbestände &gt; Neuer Wareneingang &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">6.1. Wareneingang erfassen</h3>
<div class="paragraph">
<p>Das Erfassen eines Wareneingangs teilt sich in zwei Schritte. Zunächst gibst du übergeordnete Daten wie die Lieferant:in und die Währung an. Im zweiten Schritt gibst du an, welche Artikel in welcher Menge geliefert wurden.</p>
</div>
<div class="sect3">
<h4 id="_allgemeine_daten_eines_wareneingangs_erfassen">6.1.1. Allgemeine Daten eines Wareneingangs erfassen</h4>
<div class="paragraph">
<p>Um einen Wareneingang zu erfassen, benötigst du mindestens ein Lager und ein:e Lieferant:in.
Lieferant:innen legst du als <a href="/crm/kontakte-verwalten#100">Kund:innen</a> an und ordnest ihnen den Kund:innen-Typ Lieferant zu.
Außerdem muss mindestens ein:e Benutzer:in als <a href="/business-entscheidungen/benutzerkonten-zugaenge#40">Eigner:in für Wareneingänge</a> aktiviert sein, damit der Wareneingang einer Eigner:in zugeordnet werden kann.
Ohne Eigner:in kann kein Wareneingang erfasst werden.
Die Eigner:innen stehen dir nach ID sortiert zur Verfügung.
Wenn die eingeloggte Benutzer:in als Eigner:in möglich ist, wird diese vorausgewählt.</p>
</div>
<div class="paragraph instruction">
<p>Allgemeine Daten eines Wareneingangs erfassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Wareneingang</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Ein neues Tab wird geöffnet.</p>
</li>
<li>
<p>Trage einen <strong>Lieferanten</strong> ein.<br>
→ Mit der Pfeiltaste nach unten öffnest du eine Liste aller Lieferant:innen. Alternativ werden ab Eingabe des dritten Buchstabens Vorschläge eingeblendet.</p>
</li>
<li>
<p>Wähle ein Lager.<br>
→ Wenn ein Hauptlager für die Variante gespeichert ist, ist das <a href="/artikel/artikel-verwalten#290">Hauptlager</a> vorausgewählt.</p>
</li>
<li>
<p>Wähle eine:n Eigner:in.<br>
→ Wenn du als <a href="/business-entscheidungen/benutzerkonten-zugaenge#40">Eigner:in</a> für Wareneingänge aktiviert wurdest, bist du als eingeloggte:r Benutzer:in als Eigner:in vorausgewählt.</p>
</li>
<li>
<p>Nimm weitere optionale Einstellungen vor.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>), um den Wareneingang anzulegen.<br>
→ Der Wareneingang wird in einem Tab geöffnet, erhält eine ID und den Status <strong>Erfasst</strong>. Mit Klick auf das Plus am linken Rand der Kopfzeile des Wareneingangs werden weitere Angaben sichtbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du den Wareneingang in einer anderen Währung als deiner <a href="/payment/waehrungen#30">Standardwährung</a> bezahlst, wird der <a href="/payment/waehrungen#20">Umrechnungskurs</a> voreingetragen.</p>
</div>
<div class="paragraph">
<p>Um den Wareneingang zu vervollständigen, füge Artikel und Warenbezugskosten hinzu.</p>
</div>
</div>
<div class="sect3">
<h4 id="600">6.1.2. Artikel zum Wareneingang hinzufügen</h4>
<div class="paragraph">
<p>Du kannst Varianten einzeln oder auch mehrere Varianten gleichzeitig hinzufügen. Es können jedoch nur Varianten von Artikeln hinzufügt werden, die bereits angelegt sind. Wenn ein neuer Artikel geliefert wird, lege zunächst den Artikel mit Varianten im Menü <a href="/artikel/import-export-anlage/anlage/neue-artikel">Artikel</a> an.
Zunächst werden dir alle Artikel aller Lieferant:innen aufgelistet. Nutze die Suche, um Artikel einzelner Lieferant:innen anzuzeigen.<br>
Wenn du einen Einkaufspreis für eine Variante eingetragen hast, ist dieser hier voreingetragen und kann übernommen werden. Ein Klick auf die Artikel-ID öffnet den Artikel zur Bearbeitung. Wie du vorgehst, um die gelieferten Artikel dem Wareneingang hinzuzufügen, wird nachfolgend beschrieben.</p>
</div>
<div class="sect4">
<h5 id="700">Varianten einzeln hinzufügen</h5>
<div class="paragraph">
<p>Um Varianten einzeln hinzuzufügen, gehe vor wie foglt.</p>
</div>
<div class="paragraph instruction">
<p>Varianten einzeln hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffne einen Wareneingang.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Übersicht der vorhandenen Artikel wird geöffnet.</p>
</li>
<li>
<p>Nutze die Suche und verwende Filter, um die Ergebnisse einzugrenzen. Beachte dabei die Erläuterungen in <a href="#tabelle-variantenfilter-wareneingang">Tabelle 5</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Artikel, die den eingegebenen Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
<li>
<p>Trage optional den <strong>Einkaufspreis</strong> ein.</p>
</li>
<li>
<p>Trage die <strong>Menge</strong> ein (Pflichtangabe).<br>
→ Die Variante wird nach dem Eingeben der Menge automatisch gewählt.</p>
</li>
<li>
<p>Wähle einen <strong>Lagerort</strong> aus der Dropdown-Liste.<br>
→ Wenn du einer Variante noch keinen Lagerort zugeordnet hast, kannst du hier auch einen Lagerort zuordnen. Klicke dafür auf <strong>Suchen</strong>. Der Standard-Lagerort ist ein Platzhalter-Lagerort und bedeutet, dass kein Lagerort zugeordnet ist.</p>
</li>
<li>
<p>Trage optional eine <strong>UVP</strong> ein.<br>
→ Die UVP wird nach Freigabe des Wareneingangs in die Variantendaten übernommen.</p>
</li>
<li>
<p>Klicke in der Spalte <strong>Aktionen</strong> auf <strong>Artikel hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Variante wird dem Wareneingang hinzugefügt.</p>
</li>
</ol>
</div>
<table id="tabelle-variantenfilter-wareneingang" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Artikelfilter</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der ID des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der ID der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der Nummer der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchsucht den Artikelnamen 1 und die Meta-Keywords eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert Barcodes wie EAN, UPC oder ISBN je nach Barcodetyp, den du angelegt hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferantenartikelnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der Lieferantenartikelnummer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachbestellungs-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der ID der Nachbestellung.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Mit Klick auf <strong>Zurücksetzen</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>) setzt du alle Filtereinstellungen zurück, sodass dir alle Artikel unabhängig von der Lieferant:in angezeigt werden. Führe nach dem Zurücksetzen eine Suche aus, damit die Liste aktualisiert wird.</p>
</div>
</div>
<div class="sect4">
<h5 id="800">Mehrere Varianten gleichzeitig hinzufügen</h5>
<div class="paragraph">
<p>Wenn du mehrere Varianten gleichzeitig hinzufügen möchtest, trage die Menge und optional auch den Einkaufspreis ein.<br>
<strong><em>Tipp:</em></strong> Nutze die Tabulatortaste, um ins nächste Eingabefeld zu springen.</p>
</div>
<div class="paragraph">
<p>Du kannst nur Varianten der aktuellen Seite hinzufügen. Beim Wechsel auf eine neue Seite wird die Liste für diese Seite geladen und vorherige Angaben werden verworfen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffne einen Wareneingang.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Ein Fenster zur Artikelsuche und -auswahl wird geöffnet.</p>
</li>
<li>
<p>Trage Suchbegriffe ein und wähle Filter. Beachte dabei die Erläuterungen in <a href="#tabelle-variantenfilter-wareneingang">Tabelle 5</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Varianten, die den eingegebenen Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
<li>
<p>Trage optional den <strong>Einkaufspreis</strong> ein.</p>
</li>
<li>
<p>Trage die <strong>Menge</strong> ein (Pflichtangabe).<br>
→ Die Variante wird nach Eingabe der Menge automatisch gewählt.</p>
</li>
<li>
<p>Trage optional eine <strong>UVP</strong> ein.<br>
→ Die UVP wird nach Freigabe des Wareneingangs in die Artikeldaten übernommen.</p>
</li>
<li>
<p>Trage die <strong>Menge</strong>, den <strong>Einkaufspreis</strong> und die <strong>UVP</strong> für weitere Varianten ein.</p>
</li>
<li>
<p>Klicke oberhalb der Artikelliste auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Varianten werden dem Wareneingang hinzugefügt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du erneut eine Menge der gleichen Variante hinzufügst und der Einkaufspreis sowie der Lagerort gleich sind, wird diese Menge zur bereits vorhandenen Menge addiert. Wenn sich Einkaufspreis oder Lagerort unterscheiden, wird die Variante noch einmal aufgeführt.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="810">6.2. Wareneingang mit MHD und/oder Charge buchen</h3>
<div class="paragraph">
<p>Du kannst Varianten mit Mindesthaltbarkeitsdatum (MHD) und/oder Chargeninformationen einbuchen. Dafür muss an der Variante im Tab <strong>Lager</strong> für das Lager die Option <strong>MHD</strong> und/oder <strong>Charge</strong> aktiviert sein. Die Einstellungen findest du im Kapitel <a href="/warenwirtschaft/wareneingaenge-verwalten#200">Variante mit Lagerort verknüpfen</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Variante mit MHD und Charge einbuchen</div>
<div class="paragraph">
<p>Standardmäßig darf auf einen Lagerort pro Variante nur ein MHD/Charge gebucht werden. Es wird empfohlen, diese Einstellung nicht zu ändern. Wenn du unterschiedliche MHD/Chargen auf denselben Lagerort buchst, kann es zu Problemen bei der Kommissionierung kommen. Die Einstellung nimmst du im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> über die Option <strong>Lagerort auf Chargen/MHD beim Wareneingang beschränken</strong> vor.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Varianten mit MHD und/oder Charge hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffne einen Wareneingang.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Ein Fenster zur Artikelsuche und -auswahl wird geöffnet.</p>
</li>
<li>
<p>Trage Suchbegriffe ein und wähle Filter. Beachten dazu die Erläuterungen in <a href="#tabelle-variantenfilter-wareneingang">Tabelle 5</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Varianten, die den eingegebenen Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
<li>
<p>Trage optional den <strong>Einkaufspreis</strong> ein.</p>
</li>
<li>
<p>Trage die <strong>Menge</strong> ein (Pflichtangabe).<br>
→ Die Variante wird nach dem Eingeben der Menge automatisch gewählt.</p>
</li>
<li>
<p>Trage einen Wert für <strong>MHD/Charge</strong> ein.</p>
</li>
<li>
<p>Trage optional eine <strong>UVP</strong> ein.<br>
→ Die UVP wird nach Freigabe des Wareneingangs in die Artikeldaten übernommen.</p>
</li>
<li>
<p>Trage die <strong>Menge</strong>, den <strong>Einkaufspreis</strong> und die <strong>UVP</strong> für weitere Varianten ein.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>), die oberhalb der Artikelliste angezeigt wird. <br>
→ Die Varianten werden dem Wareneingang hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="900">6.3. Warenbezugskosten hinzufügen</h3>
<div class="paragraph">
<p>Kosten, die beim Bezug der Ware anfallen, hinterlegst du als Warenbezugskosten.</p>
</div>
<div class="paragraph instruction">
<p>Warenbezugskosten hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffne den gewünschten Wareneingang.</p>
</li>
<li>
<p>Klicke auf das kleine Plus, um die Kopfzeile aufzuklappen.</p>
</li>
<li>
<p>Klicke auf <strong>Warenbezugskosten</strong> (Münzen).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Trage deine Kosten ein.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ Die Kosten werden hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">6.4. Status ändern und nachvollziehen</h3>
<div class="paragraph">
<p>Sobald du einen Wareneingang angelegt hast, erhält dieser den Status <strong>Erfasst</strong>. Alle Änderungen des Status werden in der <strong>Statushistorie</strong> gespeichert. Mit einem Klick auf <strong>Statushistorie öffnen</strong> (<span class="icon blue"><i class="fa fa-history  "></i></span>) kannst du sehen, von wem, wann und über welches Medium ein Status geändert wurde.</p>
</div>
<div class="paragraph instruction">
<p>Status ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffne einen Wareneingang.</p>
</li>
<li>
<p>Wähle einen Status aus der Dropdown-Liste. Die Status <strong>In Prüfung</strong>, <strong>Fehler</strong>, <strong>Storniert</strong> und <strong>Freigegeben</strong> stehen zur Verfügung.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) den Status.<br>
→ Der Status wird geändert.</p>
</li>
</ol>
</div>
<table id="tabelle-status-wareneingang" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Verfügbare Status</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Status</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erfasst</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jeder Wareneingang erhält diesen Status automatisch nach dem Anlegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In Prüfung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Status ist sinnvoll, wenn alle gelieferten Artikel erfasst sind und noch einmal ein Abgleich mit dem Lieferschein oder einer Bestellung erfolgt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fehler</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Wareneingänge, die einen Fehler enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storniert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Wareneingänge, die nicht mehr genutzt werden sollen. Wareneingänge können nicht gelöscht werden, daher bietet sich dieser Status für fehlerhafte Wareneingänge an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freigegeben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Ware wird dem Bestand hinzugefügt, d.h. sie wird für ausstehende Aufträge, neue Listings etc. berücksichtigt. Daher wird der Wareneingang für eine weitere Bearbeitung gesperrt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Korrektur</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt die erneute Bearbeitung einiger Angaben, wie Lieferant:in, Lieferscheinnummer etc. Der Einkaufspreis kann allerdings nicht mehr bearbeitet werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1100">6.5. Bestand auf Variante buchen</h3>
<div class="paragraph">
<p>Durch die Freigabe des Wareneingangs wird die Menge im Wareneingang dem Bestand einer Variante hinzugefügt und die UVP aus dem Wareneingang wird für die Variante übernommen. Bei unterschiedlichen UVPs für eine Variante wird die höchste UVP in die Variante übernommen.<br>
Sobald ein Wareneingang den Status <strong>Freigegeben</strong> erhält, können Varianten weder geändert noch weitere Varianten hinzugefügt werden. Auch andere Daten, wie z.B. die Lieferant:in, sind im Status <strong>Freigegeben</strong> nicht mehr änderbar.</p>
</div>
<div class="paragraph">
<p>Den Bestand einer Variante siehst du im Tab <strong>Bestand</strong> » Tab <strong>Warenbestand</strong>. Im Tab <strong>Warenbewegung</strong> werden zusätzlich alle Warenbewegungen angezeigt, d.h. hier siehst du auch, wenn z.B. der Einkaufspreis im Wareneingang geändert wurde. Alle Änderungen der Artikelmenge oder des Einkaufspreises in einem Wareneingang werden unabhängig vom Status des Wareneingangs als Warenbewegungen festgehalten.</p>
</div>
<div class="paragraph">
<p>Den Bestand aller Artikel und Varianten siehst du im Menü <a href="/warenwirtschaft/warenbestaende-verwalten">Waren » Warenbestände</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">6.6. Notiz hinzufügen</h3>
<div class="paragraph">
<p>Nutze Notizen, um z.B. Informationen für Kolleg:innen zur Nachbearbeitung zu speichern. Notizen lassen sich nicht ändern oder löschen.</p>
</div>
<div class="paragraph instruction">
<p>Notiz hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Öffne einen Wareneingang.</p>
</li>
<li>
<p>Klicke auf <strong>Notizen</strong> (<span class="icon blue"><i class="psicon-order_note"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Gib eine Notiz ein.</p>
</li>
<li>
<p>Optional kannst du deine Notiz auch formatieren.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ Die Notiz wird gespeichert und links im Notizfenster angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1300">6.7. Wareneingang ändern und korrigieren</h3>
<div class="paragraph">
<p>Ob du einen Wareneingang noch ändern kannst oder nicht, hängt vom Status des Wareneingangs ab. In den Status <strong>Erfasst</strong>, <strong>In Prüfung</strong>, <strong>Fehler</strong> und <strong>Storniert</strong> sind Wareneingänge noch änderbar. Angaben wie z.B. Lieferant:in, Lieferscheinnummer und Artikelmenge lassen sich ändern. Bei Änderungen von sensiblen Daten, wie Einkaufspreis und Artikelmenge, wird automatisch eine Notiz angelegt. Als Autor:in der Notiz wird die bearbeitende Person gespeichert. Freigegebene Wareneingänge können nicht mehr geändert werden. Im Status <strong>Korrektur</strong> sind die Menge und übergeordnete Angaben wie das Lager etc. wieder änderbar.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">6.8. Wareneingang exportieren</h3>
<div class="paragraph">
<p>Der Export eines Wareneingangs erfolgt im CSV-Format. Gehe wie nachfolgend beschrieben vor, um einen Wareneingang zu exportieren.</p>
</div>
<div class="paragraph instruction">
<p>Wareneingang exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Wähle einen Wareneingang.</p>
</li>
<li>
<p>Klicke links auf das kleine Plus, um den Kopfbereich des Wareneingangs zu öffnen.</p>
</li>
<li>
<p>Klicke auf <strong>Export</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen.</p>
</li>
<li>
<p>Wähle beim Öffnen der Datei <strong>Semikolon</strong> als Trennzeichen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1500">6.9. PDF-Beleg erstellen</h3>
<div class="paragraph">
<p>Das Erstellen eines PDF-Belegs ist nur im Status <strong>Freigegeben</strong> möglich.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Beleg erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Wähle einen Wareneingang.</p>
</li>
<li>
<p>Klicke links auf das kleine Plus, um den Kopfbereich des Wareneingangs zu öffnen.</p>
</li>
<li>
<p>Klicke auf <strong>Beleg erstellen</strong>.<br>
→ Der Beleg wird im PDF-Format heruntergeladen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">7. Ware über die plentymarkets App einbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ware kann auch über die plentymarkets App eingebucht werden. Wie das geht und welche Einstellungen du im Voraus vornehmen musst, erfährst du auf der Handbuchseite <a href="/app/funktionen/lagerverwaltung/einbuchen-umbuchen">Ware einbuchen und umbuchen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">8. Wareneingang suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Suche nach Wareneingängen gibt es zwei Menüs, <strong>Waren » Wareneingänge</strong> und <strong>Waren » Neuer Wareneingang</strong>. Im Menü <strong>Waren&nbsp;» Wareneingänge</strong> werden alle Wareneingänge aufgelistet, egal ob sie über die App, per Import-Tool oder über das Menü <strong>Neuer Wareneingang</strong> erfolgt sind. Im Menü <strong>Neuer Wareneingang</strong> werden nur Wareneingänge aufgeführt, die über dieses Menü erfolgt sind.</p>
</div>
<div class="sect2">
<h3 id="1700">8.1. Neuen Wareneingang suchen</h3>
<div class="paragraph">
<p>Mit der Wareneingangssuche kannst du gezielt Wareneingänge listen. Viele der Suchfilter beziehen sich auf Artikel oder Varianten eines Artikels. Mit ihnen suchst du also Wareneingänge, in denen Artikel oder Varianten mit dieser ID, Nummer oder Markierung vorkommen. Beim Öffnen des Menüs sind standardmäßig die letzten zwei Monate als Lieferzeitraum eingestellt. Wenn du einen Wareneingang suchst, der weiter zurückliegt, wird dieser erst aufgelistet, wenn du die Filter zurücksetzt.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Wareneingang suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Neuer Wareneingang</strong>.</p>
</li>
<li>
<p>Wähle die gewünschten Sucheinstellungen. Beachte dazu die Erläuterungen in <a href="#tabelle-wareneingang-suchen-app">Tabelle 7</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Wareneingänge, die den Suchkriterien entsprechen, werden angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-wareneingang-suchen-app" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Sucheinstellungen für Wareneingänge</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sucht Varianten mit dem eingetragenen Barcode. Ein Barcode kann eine EAN, UPC, ISBN etc. sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachbestellungs-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sucht alle Wareneingänge, in denen ein Artikel aus der Nachbestellung enthalten ist.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1800">8.2. Wareneingang im Menü <strong>Waren » Wareneingänge</strong> suchen</h3>
<div class="paragraph">
<p>Waren gehen auf verschiedenen Wegen ins System ein. Du kannst Waren z.B. per Rest, per Import-Tool, in den Artikeldaten oder über das Menü <strong>Neuer Wareneingang</strong> einbuchen. Egal auf welchem Weg die Ware in dein System eingebucht wurde, im Menü <strong>Waren » Wareneingänge</strong> findest du alle Wareneingänge. Die Suche erfolgt immer monatsweise.</p>
</div>
<div class="paragraph instruction">
<p>Wareneingang suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Wareneingänge</strong>.</p>
</li>
<li>
<p>Wähle die gewünschten Filter. Der aktuelle Monat ist voreingestellt.<br></p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Wareneingänge, die den Suchkriterien entsprechen, werden angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Archivierte Einträge erkennen</div>
<div class="paragraph">
<p>Archiviert wird ein Eintrag frühestens nach drei Monaten und dann auch nur, wenn bereits alle eingegangenen Waren wieder ausgebucht oder umgebucht wurden. Wenn ein Wareneingang arichiviert wurde, wird ein Archivsymbol in der Spalte <strong>Archiv</strong> angezeigt.
Archivdaten können nicht geändert oder gelöscht werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Folgende Möglichkeiten stehen dir in diesem Menü außerdem zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wareneingänge monatsweise exportieren</p>
</li>
<li>
<p>Wareneingänge öffnen, bearbeiten und einzeln exportieren</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im Tab <strong>Base</strong> können die Einstellungen <strong>Lieferant</strong>, <strong>Lieferdatum</strong> und <strong>Lieferscheinnummer</strong> geändert werden. Im Tab <strong>Artikel</strong> ist es möglich, den <strong>Einkaufspreis</strong> anzupassen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">9. Leere Lagerorte löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> gibt es die Möglichkeit, einen Zeitraum zu bestimmen, nach dem leere Lagerorte gelöscht werden. Bei Aktivierung der Option <strong>Leeren Lagerort löschen nach</strong> wird der Eintrag nach Ablauf des festgelegten Zeitraums aus der Tabelle entfernt und die Verknüpfung mit den einzelnen Artikeln wird gelöscht. Im System wird dann nicht mehr berücksichtigt, dass der Artikel jemals auf dem Lagerort gelagert war.<br>
<strong><em>Hinweis:</em></strong> Dies gilt nicht für den Standard-Lagerort (ID 0) des Hauptlagers am Artikel oder an der Variante; dieser ist immer sichtbar.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">10. Lagerbestandseinträge von 0 ausblenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> gibt es die Möglichkeit, Lagerbestandseinträge von 0 nach einem bestimmten Zeitraum auszublenden. Lagert man einen Artikel in einem zweiten Lager, geht der Bestand auf Null. Mit Aktivierung der Option <strong>Lagerbestandseintrag von “0” ausblenden nach</strong>, wird der Eintrag in der Bestandsübersicht der Variante nach dem festgelegten Zeitraum ausgeblendet, bleibt aber im Hintergrund gespeichert. Dadurch können Rückbuchungen oder Wareneingänge, die als Einstellung <strong>Verwendeter Lagerort</strong> haben, diesen weiterhin nutzen bzw. anzeigen.<br>
<strong><em>Hinweis:</em></strong> Dies gilt nicht für den Standard-Lagerort (ID 0) des Hauptlagers am Artikel oder an der Variante; dieser ist immer sichtbar.</p>
</div>
</div>
</div>
</main>