<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bestandsbegriffe</span></a></li>
<li><a href="#200"><span>2.</span><span> Bestand reservieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Warenbestände suchen</span></a></li>
<li><a href="#500"><span>4.</span><span> Warenbestand über das Backend umbuchen</span></a>
<ul class="sectlevel2">
<li><a href="#_warenbestände_mit_mhdcharge_umbuchen"><span>4.1.</span><span> Warenbestände mit MHD/Charge umbuchen</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>5.</span><span> Ware über die plentymarkets App umbuchen</span></a></li>
<li><a href="#600"><span>6.</span><span> Varianten mit erreichtem oder unterschrittenem Meldebestand suchen</span></a></li>
<li><a href="#700"><span>7.</span><span> Varianten mit erreichtem oder unterschrittenem Meldebestand nachbestellen</span></a></li>
<li><a href="#800"><span>8.</span><span> Reservierte Bestände prüfen</span></a></li>
<li><a href="#900"><span>9.</span><span> Reservierte Bestände wieder freigeben</span></a></li>
<li><a href="#1000"><span>10.</span><span> Warenbestandsdaten importieren oder exportieren</span></a></li>
<li><a href="#1100"><span>11.</span><span> Historie der Warenbewegungen einsehen</span></a></li>
<li><a href="#1200"><span>12.</span><span> Automatismen an Bestand knüpfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Warenbestände verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Seite erfährst du, welche Bestandsdaten bereitgestellt werden, wo du deine Bestände überblicken kannst und wie du z.B. eine Nachbestellung anlegst. Ermittelt werden deine Bestände aus den Wareneingängen und Warenausgängen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bestandsbegriffe</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende Warenbestände werden dir in plentymarkets bereitgestellt:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Bestandsbegriffe in plentymarkets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bestandsbegriff</th>
<th class="tableblock halign-left valign-top">Definition</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Physischer Warenbestand</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der Artikel, die sich tatsächlich in deinem Lager befinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reservierter Warenbestand</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der Artikel, für die eine Reservierung vorliegt. Eine Reservierung liegt vor, wenn ein offener Auftrag oder eine Gewährleistung besteht. Der Bestand bleibt reserviert, bis der Warenausgang gebucht oder der Auftrag oder die Gewährleistung storniert wird. Der reservierte Bestand ist eine Teilmenge des physischen Warenbestands, denn der Bestand befindet sich noch im Lager, wurde aber schon verkauft. Wenn ein Warenausgang gebucht wird, wird die Reservierung aufgehoben und die gebuchte Menge vom physischen Warenbestand abgezogen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reserviert für Listings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der Artikel, die aktuell mit einem Listing auf Märkten eingestellt sind. Da Listings rechtlich als verbindliche Angebote an potenzielle Käufer gelten, ist es sinnvoll, die in Listings angebotene Ware auch ohne konkreten Auftrag zu reservieren. Andernfalls verkaufst du eventuell mehr Artikel, als du im Warenbestand hast. In plentymarkets entscheidest du, ob du Artikel aus aktiven Listings als reservierte Bestände führen möchtest oder nicht. Bestand, der für Listings reserviert ist, wird separat vom für Aufträge reservierten Bestand geführt. Wenn du keinen Bestand für Listings reservierst, ist die eingestellte Menge Teil des Netto-Bestands und steht deshalb für den Verkauf zur Verfügung. Unter <strong>Einrichtung » Listings</strong> im Untermenü <strong>Warenbestand</strong> nimmst du Wareneinstellungen für Listings vor. Beim Erstellen eines Market-Listings wählst du für die Bestandsabhängigkeit die Option <strong>beschränkt (mit Reservierung)</strong>, um die eingestellte Menge zu reservieren. Sobald ein Listing erfolgreich abgeschlossen wurde, ist die Einstellung nicht mehr aktiv. Der verkaufte Artikel ist dann über den Auftrag reserviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Warenbestand</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der Artikel, die zum Verkauf zur Verfügung steht. Der Netto-Warenbestand ist eine Teilmenge des physischen Bestands. Wenn vom physischen Warenbestand alle Reservierungen abgezogen werden, ergibt sich der Netto-Bestand. Wird beim Kauf eines Artikels eine Bestellmenge eingetragen, die den Nettobestand überschreitet, erhält der Käufer einen Warnhinweis mit der Information, dass die Lieferung sich verzögert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestellte Ware</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der beim Lieferanten bestellten, aber noch nicht gelieferten bzw. eingebuchten Artikel. Mit dem Buchen des Wareneingangs gehen diese Artikel dann in den physischen Warenbestand über.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Bestand reservieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du Warenbestand in plentymarkets führst, kann das System Bestand für Listings oder Aufträge reservieren.</p>
</div>
<div class="paragraph subhead">
<p>Wann wird Bestand reserviert?</p>
</div>
<div class="paragraph">
<p>Wie oben bereits beschrieben, ist der reservierte Bestand die Menge der Artikel, für die ein offener Auftrag vorliegt, und er ist die Differenz zwischen physischem Warenbestand und Netto-Warenbestand. Im Folgenden werden die Fälle genauer erläutert, in denen dein System automatisch Warenbestände reservieren kann.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beim Anlegen von Aufträgen:<br>
Wird ein Artikel bestellt, wird ein Auftrag angelegt und der Artikel automatisch reserviert, bis der Auftrag storniert oder der Warenausgang des Artikels gebucht wird (siehe voriges Kapitel). Die Reservierungen gelten für alle Aufträge mit allen Herkünften, also auch von Marktplätzen.</p>
</li>
<li>
<p>Beim Anlegen von Gewährleistungen:<br>
Wird ein Artikel vom Kunden reklamiert, kannst du über den Ursprungsauftrag eine <a href="/auftraege/auftraege-verwalten#600">Gewährleistung</a> für einen oder mehrere Artikel anlegen. Solche Gewährleistungen werden als separate Aufträge mit eigener Auftragsnummer geführt. Hier gelten exakt dieselben Regeln wie für Aufträge: Der Bestand wird so lange reserviert, bis entweder der Warenausgang gebucht oder die Gewährleistung selbst wieder storniert wird.</p>
</li>
<li>
<p>Beim Einstellen von Listings:<br>
Wenn du für aktive Listings keine Warenbestände reservierst, hast du unter Umständen nach Abschluss eines Listings den Artikel bereits verkauft und stehst mit leeren Händen da. Um sich den damit verbundenen Ärger und schlechte Bewertungen zu ersparen, nutze die Möglichkeit des Systems, Warenbestände für aktive Listings zu reservieren. Für den Bestand und Listings allgemein wichtige Einstellungen findest du unter <strong>Einrichtung » Listings</strong> im Untermenü <strong>Warenbestand</strong>. Beim Erstellen eines Market-Listings wählst du außerdem für die <strong>Bestandsabhängigkeit</strong> die Option <strong>beschränkt (mit Reservierung)</strong>, um die eingestellte Menge zu reservieren. Sobald ein Listing erfolgreich abgeschlossen wurde, ist die Einstellung nicht mehr aktiv. Der verkaufte Artikel ist aber über den Auftrag reserviert.</p>
</li>
<li>
<p>Sonderfall Artikelpakete:<br>
<strong>Artikelpakete</strong> bestehen aus mehreren Einzelartikeln. Für diese Pakete wird in plentymarkets kein eigener Warenbestand geführt. Der Bestand der Artikelpakete richtet sich nach dem Bestand der darin enthaltenen Artikel. Wird ein Artikelpaket verkauft, werden die darin enthaltenen Artikel automatisch in den reservierten Bestand übernommen.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Warenbestände suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>Waren » Warenbestände</strong> wird automatisch eine Suche nach allen Warenbeständen ausgeführt, da beim Öffnen keine Filter gesetzt sind. Die Ergebnisse sind standardmäßig anhand der Varianten-ID sortiert. Die Warenbestände einer Variante werden zusätzlich nach Lagern sortiert. Mit Filtern grenzt du die angezeigten Warenbestände ein.<br>
Die Spaltentitel der Übersicht sind abgekürzt. Wenn du mit dem Mauszeiger auf eine Abkürzung zeigst, wird die vollständige Benennung angezeigt.</p>
</div>
<div class="paragraph">
<p>Je nach Berechtigungen eines Benutzers werden eventuell nicht alle Parameter angezeigt. So können z.B. bei einem Benutzer unter <strong>Berechtigungen</strong> im Tab <strong>Sichtbarkeiten</strong> die Lageroptionen eingeschränkt sein. Prüfe die Einstellungen des Benutzers, der die Warenbestände bearbeiten soll, im Menü <strong>Einrichtung » Einstellungen » Benutzer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Warenbestände suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong>. Beachte dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Warenbestände, die den eingegebenen Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Filter für die Warenbestandssuche</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tabellentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong> = Listet anhand der Varianten-ID.<br>
<strong>Erweitert</strong> = Listet anhand der Artikel-ID und pro Artikel anhand der Varianten-ID.<br>
<strong>Matrix</strong> = Die Darstellung unterscheidet sich von der erweiterten Ansicht nur für Varianten mit Attributen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löst eine Suche aus. Die gefundenen Warenbestandsdaten werden im Tab <strong>Warenbestände</strong> aufgelistet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt Suchfilter zurück.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eintragen, um Warenbestände der Variante zu suchen. Die Suche liefert nicht immer nur ein Ergebnis. Wenn die Variantenummer z.B. 987 ist und du auch eine Variante mit der Nummer 9871 im System hast, werden beide gefunden. Wenn diese beiden Varianten zu einem Artikel mit mehreren Varianten gehören, werden zusätzlich auch die anderen Varianten des Artikels gelistet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID eintragen, um Warenbestände aller Varianten eines Artikels zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID eintragen, um Warenbestände einer Variante zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eintragen, um Warenbestände anhand eines Barcodes einer Variante zu suchen. <br>
Barcodes legst du im Menü <a href="/artikel/artikel-verwalten#630">Einrichtung » Artikel » Barcode</a> an und anschließend <a href="/artikel/artikel-verwalten#250">verknüpfst du Barcodes</a> mit deinen Varianten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID, Varianten-ID, Variantennummer, Artikelname und Variantenname werden bei Eintrag in dieses Feld durchsucht. Informationen im Vorschautext oder im Artikeltext werden nicht durchsucht.<br>
Bei der Suche anhand von Artikeldaten reicht es aus, nur den Wortstamm einzugeben. Suchwörter können am Ende beliebig gekürzt werden. Am Wortanfang darf nicht gekürzt werden. Bei einer Suche nach Startersets kann also auch nur Starter oder Start eingegeben werden. Das Gleiche gilt für Zahlenwerte wie die IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Option aus der Dropdown-Liste wählen, um nur Varianten zu suchen, bei denen der Bestand auf diese Weise beschränkt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Erlaubt Nachbestellungen aus der Bestandssuche heraus anzulegen. Die Artikel müssen für das Anlegen von Nachbestellungen mit Lieferanten verknüpft sein. Die Nachbestellung wird über <strong>Bestellung erstellen</strong> über der Ergebnisliste eingeblendet. Im Kapitel <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen/vornehmen">Nachbestellungen anlegen</a> wird die genaue Vorgehensweise in Schritten erklärt.<br>
<strong>Nein</strong> = Verhindert das Anlegen von Nachbestellungen aus der Bestandssuche heraus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Warenbestände nach der <strong>Artikel-ID</strong> (Standard) oder nach der <strong>Artikelnummer</strong> sortiert werden.<br>
<em>Hinweis</em>: Im Tabellentyp Standard wird die Artikelnummer nicht in der Ergebnisliste angzeigt. Die Sortierung wird jedoch korrekt ausgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Lieferanten wählen, um nur Warenbestände von Varianten des Lieferanten zu suchen. So ist es einfacher, für einen Lieferanten eine Nachbestellung anzulegen.<br>
In der Zeile einer Variante kann der Lieferant noch einmal aus einer Dropdown-Liste gewählt werden. Wenn du mehrere Lieferanten für eine Variante hast, sind trotz des Filters alle hier wählbar. Neben dem Lieferanten werden dir der Einkaufspreis des Lieferanten, die Verpackungseinheit, der Rabatt und die Mindest-Abnahmemenge angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1<br>
Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung wählen, um nur Warenbestände mit dieser Markierung zu suchen. Es handelt sich um eine Und-Verknüpfung, d.h. wenn für beide Markierungen eine Option gewählt wurde, werden nur Varianten gelistet, die beide Markierungen haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob nur einzelne Varianten oder auch Pakete gelistet werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inaktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle</strong> = Alle Varianten und ihre Warenbestände werden angezeigt. Die Option ist standardmäßig eingestellt.<br>
<strong>Ja</strong> = Nur Warenbestände von Varianten, die inaktiv sind, werden angezeigt.<br>
<strong>Nein</strong> = Nur Warenbestände aktiver Varianten werden angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie 1<br>
Kategorie 2<br>
Kategorie 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie wählen, um nur Varianten und Warenbestände dieser Kategorie anzuzeigen. Die Kategorien bedingen einander. Nur wenn bereits eine Kategorie 1 gewählt wurde, kann eine Kategorie 2 gewählt werden, und nur wenn Kategorie 2 gewählt wurde, kann eine Kategorie 3 gewählt werden. Jedoch muss nicht bis zur dritten Kategorieebene eine Kategorie gewählt werden. Angezeigt werden die Varianten und Warenbestände der untersten gewählten Kategorie.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager wählen, um nur Warenbestände in diesem Lager anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto-Kalkulation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, nach welcher Berechnungsvariante der Netto-Bestand angezeigt wird. Um Bestand aus Listings einzuschließen, wähle die Einstellung <strong>reservierte Aufträge + Listings</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eingangsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, um Warenbestände anhand des Wareneingangsdatums zu suchen. Es werden alle Bestände der Variante mit diesem Eingangsdatum angezeigt und nicht nur die am Warenbestandszahlen, die an diesem Tag eingebucht wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenbestand netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen und Menge eintragen, um Varianten zu suchen, deren Nettobestand der eingetragenen Menge entspricht oder sie über- oder unterschreitet. Wenn du z.B. den Warenbestand 20 und den Operator größer (&gt;) wählst, werden alle Varianten gesucht, die Warenbestände von mehr als 20 haben.</p></td>
</tr>
</tbody>
</table>
<div id="400" class="paragraph subhead">
<p>Ergebnisliste verstehen</p>
</div>
<div class="paragraph">
<p>In den Ergebnissen werden die Warenbestände einer Variante pro Lager aufgeführt. Wenn eine Variante an zwei verschiedenen Lagerorten im selben Lager liegt, wird der Bestand addiert und für das Lager ein Ergebnis angezeigt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Spalten der Bestandsliste</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ob der durchschnittliche EK oder der aktuell in einer Variante gespeicherte EK angezeigt wird, stelle im Menü <strong>Einrichtung » Waren » Warenbestand » Suche</strong> ein.<br>
Beachte, dass der aktuell in einer Variante gespeicherte Einkaufspreis auch der Durchschnittseinkaufpreis sein kann. Dies hängt vom Einkaufspreis ab, der beim Wareneingang übertragen wird. Wie der Wareneingang übertragen wird, stellst du im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt nach einem Klick auf die Lupe den Lagerort einer Variante. Ermöglicht auch das Umbuchen einer Variante auf einen anderen Lagerort.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Warenwert ergibt sich aus der Multiplikation des EK mit dem physischen Bestand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Phy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den physischen Bestand eines Lagers. Ein Klick auf den Bestand öffnet die Variante im Tab <strong>Warenbewegung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Res</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die gesamte Menge der reservierten Bestände. Ein Klick auf den Bestand öffnet die Aufträge, in denen diese Reservierungen enthalten sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ResLis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Menge der unter aktiven Listings reservierten Artikel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ResAP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt, wie viele Artikelpakete sich in offenen Aufträgen befinden. Bei den Bestandteilen eines Pakets ist der durch Pakete reservierte Bestand in der Spalte <strong>Reservierter Bestand</strong> mit angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zulauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge bestellter Artikel. Ein Klick auf die Menge öffnet das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong> und listet die Nachbestellungen auf, in denen die Variante enthalten ist.<br>
<strong>Hinweis</strong>: Auch wenn eine Nachbestellung noch offen ist, also noch nicht bestellt wurde, wird die in der Nachbestellung angegebene Menge zum Zulauf gerechnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuell für die Variante eingetragener Meldebestand.<br>
Weitere Details zum Meldebestand sowie Nachbestellungen findest du auf der Handbuchseite <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">Waren nachbestellen</a>.<br>
<strong><em>Hinweis</em></strong>: Dein System kann im Hintergrund einen dynamischen Meldebestand berechnen. Dieser wird jedoch noch nicht in deinem System dargestellt. Lediglich die angezeigte Differenz zum Meldebestand basiert dann auf dem dynamischen Meldebestand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MeldΔ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldebestand Delta = Zeigt die Differenz zum Meldebestand.<br>
Die Differenz ist entweder die Menge an Artikeln, die noch verkauft werden muss, oder die Menge, die nachbestellt werden muss, um den Meldebestand zu erreichen. Wenn die Differenz negativ ist, liegt der Bestand noch über dem Meldebestand. Wenn Die Differenz positiv ist, wurde der Meldebestand unterschritten.<br>
Die Differenz zum Meldebestand kann auch basierend auf einem dynamischen Meldebestand berechnet werden. Der dynamische Meldebestand selbst wird jedoch nicht angezeigt. Lediglich die angezeigte Differenz zum Meldebestand basiert auf diesem dynamischen Wert. Ob die Differenz zum Meldebestand auf dem dynamischen Meldebestand basiert oder auf einem durch dich eingetragenen statischen Wert, legen du in den <a href="/warenwirtschaft/lager-einrichten#200">Lagereinstellungen</a> fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ø Verk</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Durchschnittliche Verkauf</strong> richtet sich nach dem <strong>Abverkaufszeitraum</strong>, der im Menü <strong>Einrichtung » Waren » Bestellwesen » Einstellungen</strong> gespeichert wurde. In der Spalte wird jedoch nur ein Wert angezeigt, wenn für den Filter <strong>Bestellen</strong> die Option <strong>Ja</strong> eingestellt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für eine Bestellung über <strong>Bestellung erstellen</strong> die gewünschte Menge eintragen. Die beim Lieferanten gespeicherte <strong>Mindestabnahme</strong> wird automatisch vorgeschlagen. Dieser Wert wird nur in der Tabelle angezeigt, wenn die Option <strong>Bestellen</strong> im Filter auf <strong>Ja</strong> gesetzt wurde. Wenn statt des Eingabefeldes ein durchgestrichener Warenkorb zu sehen ist, ist kein Lieferant für die Variante gespeichert. In diesem Fall einen Lieferanten im Tab <strong>Lieferant</strong> der Variante speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für eine Bestellung den gewünschten Lieferanten wählen. Dieser Wert wird nur in der Tabelle angezeigt, wenn die Option <strong>Bestellen</strong> im Filter auf <strong>Ja</strong> gesetzt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>∑</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Summenzeichen</strong> = die summierten Werte der einzelnen Spalten (z. B. Warenwert in EUR). Dieser Wert wird nur in der Tabelle angezeigt, wenn die Option <strong>Bestellen</strong> im Filter auf <strong>Ja</strong> gesetzt wurde.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">4. Warenbestand über das Backend umbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Ändern des Lagerortes einer Variante kann die Variante aus der Warenbestandsübersicht heraus schnell und einfach umgebucht werden. Du kannst den Bestand teilweise oder ganz umbuchen. Du kannst ihn innerhalb eines Lagers auf einen neuen Lagerort oder in ein neues Lager umbuchen.<br>
Die Menge kann beim Umbuchen nicht gleichzeitig erhöht werden. Umbuchen eignet sich also nicht als indirekter Wareneingang. Der vorhandene Bestand kann nur umgebucht werden. Selbst wenn du einen größere Menge einträgst, wird nur die Menge umgebucht, die bereits im System gespeichert ist.</p>
</div>
<div class="paragraph instruction">
<p>Warenbestände umbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Klicke bei der Variante, deren Warenbestand du umbuchen möchtest, in der Spalte <strong>Lagerort</strong> auf die <strong>Lupe</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Neues Lager</strong> das Lager, in das du umbuchen möchtest.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Neuer Lagerort</strong> den Lagerort, auf den du umbuchen möchtest.<br>
→ Im Dropdown sind die bereits für diese Variante verwendeten Lagerorte auswählbar. Über <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) kannst du einen ganz neuen Lagerort wählen.</p>
</li>
<li>
<p>Trage die Menge, die du umbuchen möchtest, unter <strong>Neuer Bestand</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Umbuchen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du im Menü <strong>Artikel » Artikel bearbeiten</strong> eine Variante zur Bearbeitung öffnest, hast du im Tab <strong>Warenbestand</strong> ebenfalls die Möglichkeit zum Umbuchen des Bestands.</p>
</div>
<div class="sect2">
<h3 id="_warenbestände_mit_mhdcharge_umbuchen">4.1. Warenbestände mit MHD/Charge umbuchen</h3>
<div class="paragraph">
<p>Du kannst Varianten mit MHD/Charge in andere Lager umbuchen. Beachte beim Umbuchen von Varianten mit MHD/Charge die in <a href="#Beschränkung_Lagerumbuchungen">Tabelle 4</a> aufgeführten Beschränkungen.</p>
</div>
<table id="Beschränkung_Lagerumbuchungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Beschränkungen bei Lagerumbuchungen mit MHD/Charge</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Funktion im Lager aktiviert</th>
<th class="tableblock halign-left valign-top">Beschränkung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MHD und Charge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Umbuchung in ein Lager mit Charge oder MHD ist möglich. Bei der Umbuchung gehen MHD- oder Chargeninformationen jedoch verloren.</p>
</li>
<li>
<p>Umbuchung in ein Lager ohne MHD und Charge ist möglich. Bei der Umbuchung gehen MHD- und Chargeninformationen jedoch verloren.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Diese Beschränkungen gelten nicht für Umbuchungen in der plentymarkets App.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MHD</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die Umbuchung in ein Lager mit Charge ist nicht möglich.</p>
</li>
<li>
<p>Die Umbuchung in ein Lager ohne MHD und Charge ist möglich. Die MHD-Informationen gehen jedoch verloren.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Diese Beschränkungen gelten nicht für Umbuchungen in der plentymarkets App.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Charge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die Umbuchung in ein Lager mit MHD ist nicht möglich.</p>
</li>
<li>
<p>Die Umbuchung in ein Lager ohne MHD und Charge ist möglich. Die Chargeninformationen gehen jedoch verloren.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Diese Beschränkungen gelten nicht für Umbuchungen in der plentymarkets App.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">5. Ware über die plentymarkets App umbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ware kann auch über die plentymarkets App umgebucht werden. Wie das geht und welche Einstellungen du im Voraus konfigurieren musst, erfährst du auf der Handbuchseite <a href="/app/funktionen/lagerverwaltung/einbuchen-umbuchen">Ware einbuchen und umbuchen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Varianten mit erreichtem oder unterschrittenem Meldebestand suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein guter Grund, Bestände zu führen, ist die rechtzeitige Nachbestellung der Varianten beim Lieferanten. Was rechtzeitig für dich heißt, bestimmst du, indem du einen Meldebestand für Varianten speicherst. Varianten, die den Meldebestand erreicht haben, filterst du wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Varianten nach Meldebestand filtern:</p>
</div>
<div class="paragraph instruction">
<p>Warenbestände suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Wähle einen <strong>Lieferanten</strong> aus dem Filter.</p>
</li>
<li>
<p>Wähle im Filter <strong>Beschränkung</strong> die Option <strong>Meldebestand erreicht/unterschritten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>). <br>
→ Die Varianten, die den Meldebstand erreicht oder unterschritten haben, werden aufgelistet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem du Varianten mit erreichtem oder unterschrittenem Meldebestand gefiltert hast, kannst du direkt hier im Menü eine Nachbestellung erstellen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Varianten mit erreichtem oder unterschrittenem Meldebestand nachbestellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die soeben gefilterten Varianten bestellst du wie im Folgenden beschrieben direkt nach.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Nachbestellungen vor Seitenwechsel ausführen</div>
<div class="paragraph">
<p>Führe eine Bestellung immer vor einem Seitenwechsel aus, da deine eingetragenen Mengen beim Seitenwechsel zurückgesetzt werden. Solange eine Bestellung für einen Lieferanten noch offen ist, werden weitere Artikel der Bestellung hinzugefügt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Nachbestellung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Filtere die Warenbestände nach Meldebestand wie oben beschrieben.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschläge übernehmen</strong>.</p>
</li>
<li>
<p>Wenn ein Vorschlag nicht passt, trage die <strong>Menge</strong> ein, die du bestellen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Bestellung erstellen</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bestellung erstellen nicht sichtbar</div>
<div class="paragraph">
<p>Wenn bei dir die Schaltfläche <strong>Bestellung erstellen</strong> nicht sichtbar ist, prüfe, ob links in den Filtern für <strong>Bestellen</strong> die Option <strong>Ja</strong> eingestellt ist. Ja muss eingestellt sein, damit Nachbestellungen ausgeführt werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die angelegte Nachbestellung siehst du im Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>. Die Nachbestellung erhält den Status <strong>Offen</strong>. Wenn eine offene Nachbestellung existiert und du von einem Lieferanten weitere Varianten bestellst, werden die Varianten der offenen Bestellung hinzugefügt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Reservierte Bestände prüfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Buchen des Warenausgangs ist entscheidend, damit die Bestandsverwaltung korrekte Ergebnisse liefert. Wenn du feststellst, dass bei einem Artikel noch Bestand reserviert ist, obwohl du alles versendet hast, oder mehr reserviert ist, als reserviert sein sollte, dann suche nach Aufträgen, bei denen der Warenausgang nicht gebucht wurde. Bis ein Warenausgang gebucht wurde, bleibt der Warenbestand reserviert. Der Status eines Auftrags ist also für das Ermitteln reservierter Bestände ohne Bedeutung. Entscheidend ist, dass der Warenausgang gebucht wurde..</p>
</div>
<div class="paragraph">
<p>Die empfohlene und von vielen Anwendern genutzte Vorgehensweise ist, dass nach dem Buchen des Warenausgangs der Auftrag in Status 7 wechselt. Nutzee Status 7, um dir alle Aufträge im Status 7, bei denen der Warenausgang noch nicht gebucht wurde, anzeigen zu lassen.</p>
</div>
<div class="paragraph instruction">
<p>Nicht gebuchte Warenausgänge suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle im Tab <strong>Filter</strong> für die Option <strong>= Status</strong> den Filter <strong>[7] Warenausgang gebucht</strong>, um alle erledigten Aufträge auszuwählen.</p>
</li>
<li>
<p>Wähle für den Filter <strong>Warenausgang</strong> die Option <strong>nicht gebucht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um die Suche auszuführen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Falls in deinem System Aufträge im Status 7 vorhanden sind, bei denen der Warenausgang nicht gebucht wurde, erhältst du auf diese Weise einen Überblick und kannst entscheiden, wie du mit diesen Aufträgen fortfährst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Warenbestandsautomatik: Änderung des Auftragsstatus</div>
<div class="paragraph">
<p>Die Warenbestandsautomatik sorgt unter anderem dafür, dass bestimmte Aufträge automatisch in einen anderen Status verschoben werden.<br>
<strong>Beispiel</strong>: Bei Aufträgen, die sich in Status 4 befinden, wird geprüft, ob für diese Aufträge Bestand vorhanden ist. Ist dies der Fall und hat man die Option in den Auftragseinstellungen aktiviert, werden sie automatisch in Status 5 verschoben. Im Menü unter <strong>Waren » Warenbestände</strong> sind die entsprechenden Schaltflächen <strong>Warenbestände neu berechnen</strong> und <strong>Auftragsstatus 4/5 berechnen</strong> vorhanden.
<strong>Warenbestandsatuomatik (b)</strong> bedeutet, dass die Warenbestände neu berechnet wurden und <strong>Warenbestandsautomatik (m)</strong> bedeutet, dass der Auftragsstatus 4/5 berechnet wurde.
Möchte man vermeiden, dass ein Auftrag mit Bestand automatisch in Status 5 verschoben wird, sollte Status 4 dafür nicht verwendet werden.
Weitere Infos zum Auftragsstatus findest du <a href="/auftraege/auftraege-verwalten#1200">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Reservierte Bestände wieder freigeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du oder dein Kunde einen Auftrag stornierst, kannst du reservierte Bestände wieder freigeben. Das Anlegen von Stornierungen ist nur möglich, wenn der Warenausgang für einen Auftrag noch nicht gebucht wurde. Wenn der Warenausgang bereits gebucht wurde, der Auftrag sich also im Versand oder schon beim Kunden befindet, muss retourniert werden. Da die Bestandslogik unabhängig vom Auftragsstatus arbeitet, werden Bestände nicht automatisch wieder freigegeben.</p>
</div>
<div class="paragraph">
<p>Du kannst jedoch Status festlegen, bei denen ein reservierter Warenbestand bei Stornierung automatisch wieder freigegeben wird. Du stellst die Statusoptionen ein, die du für die Kennzeichnung von Stornierungen verwendest. Häufig wird für Stornierungen Status 8 verwendet. Falls du für Stornierungen einen anderen Status verwendest oder z.B. unter 8.1, 8.2 usw. zusätzliche Statusoptionen dafür eingeführt hast, kannst du einen anderen Status oder einen Statusbereich festlegen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen für den Status stornierter Aufträge konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Status stornierter Aufträge</strong> in den Dropdown-Listen <strong>von</strong> und <strong>bis</strong> den Statusbereich, den du für Stornierungen nutzt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">10. Warenbestandsdaten importieren oder exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Warenbestandsdaten importieren oder exportieren und so z.B. eine Inventur vornehmen. Das Datenformat <a href="/daten/export-import/datenformate/stock">Stock</a> enthält die meisten Daten über deine Warenbestände. Datenformate, die im Zusammenhang mit deinen Beständen nützlich sein können, sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/export-import/datenformate/stock">Stock</a>,</p>
</li>
<li>
<p><a href="/daten/export-import/datenformate/variationsupplier">VariationSupplier</a>,</p>
</li>
<li>
<p><a href="/daten/export-import/datenformate/variationwarehouse">VariationWarehouse</a> und</p>
</li>
<li>
<p><a href="/daten/export-import/datenformate/warehouse">Warehouse</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Alle Datenformate und eine allgemeine Beschreibung des Datenexports und Datenimports findest du im Thema <a href="/basics/datenaustausch#daten/export-import#">Datenaustausch</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">11. Historie der Warenbewegungen einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Warenbewegungen einer Variante siehst du im Tab <strong>Warenbewegung</strong> der Variante. Das Tab <strong>Warenbewegung</strong> öffnest du, indem du die Variante öffnest oder direkt aus der Warenbestandsübersicht. Warenbewegungen geben dir einen Überblick, wie dein aktueller Warenbestand entstanden ist, d.h. welche Buchungen zum aktuellen Ergebnis geführt haben. Das erhöht zum einen die Transparenz deiner Warenwirtschaft und ermöglicht zum anderen, einzelne Buchungen später nachzuvollziehen. <br>
Artikelpakete kein Tab Warenbewegung, da der Bestand eines Artikelpakets an den Paketbestandteilen geführt wird.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Warenbestaende-verwalten-01.png" alt="DE Warenbestaende verwalten 01">
</div>
<div class="title">Bild 1. Warenbewegung öffnen</div>
</div>
<div class="paragraph instruction">
<p>Das Tab Warenbewegung öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Klicke bei dem Artikel, dessen <strong>Warenbewegungen</strong> du sehen möchtest, in der Spalte <strong>Phy</strong> (Physischer Bestand) auf den <strong>Link</strong> der Mengenangabe (Bild 1, roter Pfeil). <br>
→ Das Tab <strong>Warenbewegung</strong> im Tab <strong>Bestand</strong> des Artikels wird geöffnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">12. Automatismen an Bestand knüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An den Warenbestand können automatische Funktionen geknüpft werden, so z.B. die Anzeige des Artikels im Webshop. Ist der Artikel lieferbar, wird er im Webshop angezeigt. Sobald der Netto-Warenbestand 0 ist, wird der Artikel nicht mehr angezeigt. Des Weiteren können auch Listings an den Warenbestand geknüpft werden, sodass Überverkäufe verhindert werden. Für Hood und ricardo kannst du einstellen, dass Listings beendet werden, wenn nicht mehr ausreichend Bestand vorhanden ist. Für eBay kannst du ebenfalls einstellen, dass Listings beendet werden, wenn der Bestand unzureichend ist, aber zusätzlich können hier automatisch Listings wieder gestartet werden, wenn wieder Bestand vorhanden ist. Eine genauere Beschreibung findest du unter <a href="/maerkte/ebay/ebay-einrichten#1100">eBay-Listings</a>.</p>
</div>
</div>
</div>
</main>