<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bestandsbegriffe</span></a></li>
<li><a href="#200"><span>2.</span><span> Bestand reservieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Warenbestände suchen</span></a></li>
<li><a href="#500"><span>4.</span><span> Warenbestand einer Variante umbuchen</span></a></li>
<li><a href="#600"><span>5.</span><span> Varianten mit erreichtem oder unterschrittenem Meldebestand suchen</span></a></li>
<li><a href="#700"><span>6.</span><span> Varianten mit erreichtem oder unterschrittenem Meldebestand nachbestellen</span></a></li>
<li><a href="#800"><span>7.</span><span> Reservierte Bestände prüfen</span></a></li>
<li><a href="#900"><span>8.</span><span> Reservierte Bestände wieder freigeben</span></a></li>
<li><a href="#1000"><span>9.</span><span> Warenbestandsdaten importieren oder exportieren</span></a></li>
<li><a href="#1100"><span>10.</span><span> Historie der Warenbewegungen einsehen</span></a></li>
<li><a href="#1200"><span>11.</span><span> Automatismen an Bestand knüpfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Warenbestände verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Seite erfahren Sie, welche Bestandsdaten bereitgestellt werden, wo Sie Ihre Bestände überblicken können und wie Sie z.B. eine Nachbestellung anlegen. Ermittelt werden Ihre Bestände aus den Wareneingängen und Warenausgängen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bestandsbegriffe</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende Warenbestände werden Ihnen in plentymarkets bereitgestellt:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Bestandsbegriffe in plentymarkets</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bestandsbegriff</th>
<th class="tableblock halign-left valign-top">Definition</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Physischer Warenbestand</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Menge der Artikel, die sich tatsächlich in Ihrem Lager befinden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Reservierter Warenbestand</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Menge der Artikel, für die eine Reservierung vorliegt. Eine Reservierung liegt vor, wenn ein offener Auftrag oder eine Gewährleistung besteht. Der Bestand bleibt reserviert, bis der Warenausgang gebucht oder der Auftrag oder die Gewährleistung storniert wird. Der reservierte Bestand ist eine Teilmenge des physischen Warenbestands, denn der Bestand befindet sich noch im Lager, wurde aber schon verkauft. Wenn ein Warenausgang gebucht wird, wird die Reservierung aufgehoben und die gebuchte Menge vom physischen Warenbestand abgezogen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Reserviert für Listings</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Menge der Artikel, die aktuell mit einem Listing auf Märkten eingestellt sind. Da Listings rechtlich als verbindliche Angebote an potenzielle Käufer gelten, ist es sinnvoll, die in Listings angebotene Ware auch ohne konkreten Auftrag zu reservieren. Andernfalls verkaufen Sie eventuell mehr Artikel, als Sie im Warenbestand haben. In plentymarkets entscheiden Sie, ob Sie Artikel aus aktiven Listings als reservierte Bestände führen möchten oder nicht. Bestand, der für Listings reserviert ist, wird separat vom für Aufträge reservierten Bestand geführt. Wenn Sie keinen Bestand für Listings reservieren, ist die eingestellte Menge Teil des Netto-Bestands und steht deshalb für den Verkauf zur Verfügung. Unter <strong>Einstellungen » Listings</strong> im Untermenü <strong>Warenbestand</strong> nehmen Sie Wareneinstellungen für Listings vor. Beim Erstellen eines Market-Listings wählen Sie für die Bestandsabhängigkeit die Option <strong>beschränkt (mit Reservierung)</strong>, um die eingestellte Menge zu reservieren. Sobald ein Listing erfolgreich abgeschlossen wurde, ist die Einstellung nicht mehr aktiv. Der verkaufte Artikel ist dann über den Auftrag reserviert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Netto-Warenbestand</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Menge der Artikel, die zum Verkauf zur Verfügung steht. Der Netto-Warenbestand ist eine Teilmenge des physischen Bestands. Wenn vom physischen Warenbestand alle Reservierungen abgezogen werden, ergibt sich der Netto-Bestand. Wird beim Kauf eines Artikels eine Bestellmenge eingetragen, die den Nettobestand überschreitet, erhält der Käufer einen Warnhinweis mit der Information, dass die Lieferung sich verzögert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bestellte Ware</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Menge der beim Lieferanten bestellten, aber noch nicht gelieferten bzw. eingebuchten Artikel. Mit dem Buchen des Wareneingangs gehen diese Artikel dann in den physischen Warenbestand über.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Bestand reservieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie Warenbestand in plentymarkets führen, kann das System Bestand für Listings oder Aufträge reservieren.</p>
</div>
<div class="paragraph subhead">
<p>Wann wird Bestand reserviert?
Wie oben bereits beschrieben, ist der reservierte Bestand die Menge der Artikel, für die ein offener Auftrag vorliegt, und er ist die Differenz zwischen physischem Warenbestand und Netto-Warenbestand. Im Folgenden werden die Fälle genauer erläutert, in denen Ihr System automatisch Warenbestände reservieren kann.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beim Anlegen von Aufträgen:<br>
Wird ein Artikel bestellt, wird ein Auftrag angelegt und der Artikel automatisch reserviert, bis der Auftrag storniert oder der Warenausgang des Artikels gebucht wird (siehe voriges Kapitel). Die Reservierungen gelten für alle Aufträge mit allen Herkünften, also auch von Marktplätzen.</p>
</li>
<li>
<p>Beim Anlegen von Gewährleistungen:<br>
Wird ein Artikel vom Kunden reklamiert, können Sie über den Ursprungsauftrag eine <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#gewaehrleistung"><strong>Gewährleistung</strong></a> für einen oder mehrere Artikel anlegen. Solche Gewährleistungen werden als separate Aufträge mit eigener Auftragsnummer geführt. Hier gelten exakt dieselben Regeln wie für Aufträge: Der Bestand wird so lange reserviert, bis entweder der Warenausgang gebucht oder die Gewährleistung selbst wieder storniert wird.</p>
</li>
<li>
<p>Beim Einstellen von Listings:<br>
Wenn Sie für aktive Listings keine Warenbestände reservieren, haben Sie unter Umständen nach Abschluss eines Listings den Artikel bereits verkauft und stehen mit leeren Händen da. Um sich den damit verbundenen Ärger und schlechte Bewertungen zu ersparen, nutzen Sie die Möglichkeit des Systems, Warenbestände für aktive Listings zu reservieren. Für den Bestand und Listings allgemein wichtige Einstellungen finden Sie unter <strong>Einstellungen » Listings</strong> im Untermenü <strong>Warenbestand</strong>. Beim Erstellen eines Market-Listings wählen Sie außerdem für die <strong>Bestandsabhängigkeit</strong> die Option <strong>beschränkt (mit Reservierung)</strong>, um die eingestellte Menge zu reservieren. Sobald ein Listing erfolgreich abgeschlossen wurde, ist die Einstellung nicht mehr aktiv. Der verkaufte Artikel ist aber über den Auftrag reserviert.</p>
</li>
<li>
<p>Sonderfall Artikelpakete:<br>
<strong>Artikelpakete</strong> bestehen aus mehreren Einzelartikeln. Für diese Pakete wird in plentymarkets kein eigener Warenbestand geführt. Der Bestand der Artikelpakete richtet sich nach dem Bestand der darin enthaltenen Artikel. Wird ein Artikelpaket verkauft, werden die darin enthaltenen Artikel automatisch in den reservierten Bestand übernommen.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Warenbestände suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>Waren » Warenbestände</strong> wird automatisch eine Suche nach allen Warenbeständen ausgeführt, da beim Öffnen keine Filter gesetzt sind. Die Ergebnisse sind standardmäßig anhand der Varianten-ID sortiert. Die Warenbestände einer Variante werden zusätzlich nach Lagern sortiert. Mit Filtern grenzen Sie die angezeigten Warenbestände ein.<br>
Die Spaltentitel der Übersicht sind abgekürzt. Wenn Sie mit dem Mauszeiger auf eine Abkürzung zeigen, wird die vollständige Benennung angezeigt.</p>
</div>
<div class="paragraph">
<p>Je nach Berechtigungen eines Benutzers werden eventuell nicht alle Parameter angezeigt. So können z.B. bei einem Benutzer unter <strong>Berechtigungen</strong> im Tab <strong>Sichtbarkeiten</strong> die Lageroptionen eingeschränkt sein. Prüfen Sie die Einstellungen des Benutzers, der die Warenbestände bearbeiten soll, im Menü <strong>Einstellungen » Grundeinstellungen » Benutzer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Warenbestände suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Wählen Sie die <strong>Filter</strong>. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.<br>
→ Die Warenbestände, die den eingegebenen Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Filter für die Warenbestandssuche</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tabellentyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard</strong> = Listet anhand der Varianten-ID.<br>
<strong>Erweitert</strong> = Listet anhand der Artikel-ID und pro Artikel anhand der Varianten-ID.<br>
<strong>Matrix</strong> = Die Darstellung unterscheidet sich von der erweiterten Ansicht nur für Varianten mit Attributen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Suchen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Löst eine Suche aus. Die gefundenen Warenbestandsdaten werden im Tab <strong>Warenbestände</strong> aufgelistet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reset</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setzt Suchfilter zurück.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Variantennummer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Variantennummer eintragen, um Warenbestände der Variante zu suchen. Die Suche liefert nicht immer nur ein Ergebnis. Wenn die Variantenummer z.B. 987 ist und Sie auch eine Variante mit der Nummer 9871 im System haben, werden beide gefunden. Wenn diese beiden Varianten zu einem Artikel mit mehreren Varianten gehören, werden zusätzlich auch die anderen Varianten des Artikels gelistet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikel-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Artikel-ID eintragen, um Warenbestände aller Varianten eines Artikels zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Varianten-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Varianten-ID eintragen, um Warenbestände einer Variante zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Barcode eintragen, um Warenbestände anhand eines Barcodes einer Variante zu suchen. <br>
Barcodes legen Sie im Menü <strong><a href="/artikel/artikel-verwalten#630">Einstellungen » Artikel » Barcode</a></strong> an und anschließend <strong><a href="/artikel/artikel-verwalten#250">verknüpfen Sie Barcodes</a></strong> mit Ihren Varianten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikeldaten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Artikel-ID, Varianten-ID, Variantennummer, Artikelname und Variantenname werden bei Eintrag in dieses Feld durchsucht. Informationen im Vorschautext oder im Artikeltext werden nicht durchsucht.<br>
Bei der Suche anhand von Artikeldaten reicht es aus, nur den Wortstamm einzugeben. Suchwörter können am Ende beliebig gekürzt werden. Am Wortanfang darf nicht gekürzt werden. Bei einer Suche nach Startersets kann also auch nur Starter oder Start eingegeben werden. Das Gleiche gilt für Zahlenwerte wie die IDs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Beschränkung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Option aus dem Dropdown-Menü wählen, um nur Varianten zu suchen, bei denen der Bestand auf diese Weise beschränkt ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bestellen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ja</strong> = Erlaubt Nachbestellungen aus der Bestandssuche heraus anzulegen. Die Artikel müssen für das Anlegen von Nachbestellungen mit Lieferanten verknüpft sein. Die Nachbestellung wird über <strong>Bestellung erstellen</strong> über der Ergebnisliste eingeblendet. Im Kapitel <strong><a href="/warenwirtschaft/nachbestellungen-verwalten#800">Nachbestellungen anlegen</a></strong> wird die genaue Vorgehensweise in Schritten erklärt.<br>
<strong>Nein</strong> = Verhindert das Anlegen von Nachbestellungen aus der Bestandssuche heraus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sortierung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob die Warenbestände nach der <strong>Artikel-ID</strong> (Standard) oder nach der <strong>Artikelnummer</strong> sortiert werden.<br>
<em>Hinweis</em>: Im Tabellentyp Standard wird die Artikelnummer nicht in der Ergebnisliste angzeigt. Die Sortierung wird jedoch korrekt ausgeführt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferant</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Lieferanten wählen, um nur Warenbestände von Varianten des Lieferanten zu suchen. So ist es einfacher, für einen Lieferanten eine Nachbestellung anzulegen.<br>
In der Zeile einer Variante kann der Lieferant noch einmal aus einem Dropdown-Menü gewählt werden. Wenn Sie mehrere Lieferanten für eine Variante haben, sind trotz des Filters alle hier wählbar. Neben dem Lieferanten werden Ihnen der Einkaufspreis des Lieferanten, die Verpackungseinheit, der Rabatt und die Mindest-Abnahmemenge angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Markierung 1<br>
Markierung 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Markierung wählen, um nur Warenbestände mit dieser Markierung zu suchen. Es handelt sich um eine Und-Verknüpfung, d.h. wenn für beide Markierungen eine Option gewählt wurde, werden nur Varianten gelistet, die beide Markierungen haben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Paket</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob nur einzelne Varianten oder auch Pakete gelistet werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inaktiv</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Alle</strong> = Alle Varianten und ihre Warenbestände werden angezeigt. Die Option ist standardmäßig eingestellt.<br>
<strong>Ja</strong> = Nur Warenbestände von Varianten, die inaktiv sind, werden angezeigt.<br>
<strong>Nein</strong> = Nur Warenbestände aktiver Varianten werden angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kategorie 1<br>
Kategorie 2<br>
Kategorie 3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kategorie wählen, um nur Varianten und Warenbestände dieser Kategorie anzuzeigen. Die Kategorien bedingen einander. Nur wenn bereits eine Kategorie 1 gewählt wurde, kann eine Kategorie 2 gewählt werden, und nur wenn Kategorie 2 gewählt wurde, kann eine Kategorie 3 gewählt werden. Jedoch muss nicht bis zur dritten Kategorieebene eine Kategorie gewählt werden. Angezeigt werden die Varianten und Warenbestände der untersten gewählten Kategorie.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lager wählen, um nur Warenbestände in diesem Lager anzuzeigen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Netto-Kalkulation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, nach welcher Berechnungsvariante der Netto-Bestand angezeigt wird. Um Bestand aus Listings einzuschließen, wählen Sie die Einstellung <strong>reservierte Aufträge + Listings</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eingangsdatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum wählen, um Warenbestände anhand des Wareneingangsdatums zu suchen. Es werden alle Bestände der Variante mit diesem Eingangsdatum angezeigt und nicht nur die am Warenbestandszahlen, die an diesem Tag eingebucht wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warenbestand netto</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Operator wählen und Menge eintragen, um Varianten zu suchen, deren Nettobestand der eingetragenen Menge entspricht oder sie über- oder unterschreitet. Wenn Sie z.B. den Warenbestand 20 und den Operator größer (&gt;) wählen, werden alle Varianten gesucht, die Warenbestände von mehr als 20 haben.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Ergebnisliste verstehen[#400]</p>
</div>
<div class="paragraph">
<p>In den Ergebnissen werden die Warenbestände einer Variante pro Lager aufgeführt. Wenn eine Variante an zwei verschiedenen Lagerorten im selben Lager liegt, wird der Bestand addiert und für das Lager ein Ergebnis angezeigt.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Spalten der Bestandsliste</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>EK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ob der durchschnittliche EK oder der aktuell in einer Variante gespeicherte EK angezeigt wird, stellen Sie im Menü <strong>Einstellungen » Waren » Warenbestand » Suche</strong> ein.<br>
Beachten Sie, dass der aktuell in einer Variante gespeicherte Einkaufspreis auch der Durchschnittseinkaufpreis sein kann. Dies hängt vom Einkaufspreis ab, der beim Wareneingang übertragen wird. Wie der Wareneingang übertragen wird, stellen Sie im Menü <strong>Einstellungen » Waren » Warenbestand » Wareneingang</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt nach einem Klick auf die Lupe den Lagerort einer Variante. Ermöglicht auch das Umbuchen einer Variante auf einen anderen Lagerort.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Warenwert ergibt sich aus der Multiplikation des EK mit dem physischen Bestand.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Phy</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt den physischen Bestand eines Lagers. Ein Klick auf den Bestand öffnet die Variante im Tab <strong>Warenbewegung</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Res</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die gesamte Menge der reservierten Bestände. Ein Klick auf den Bestand öffnet die Aufträge, in denen diese Reservierungen enthalten sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ResLis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Menge der unter aktiven Listings reservierten Artikel.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ResAP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt, wie viele Artikelpakete sich in offenen Aufträgen befinden. Bei den Bestandteilen eines Pakets ist der durch Pakete reservierte Bestand in der Spalte <strong>Reservierter Bestand</strong> mit angegeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zulauf</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Menge bestellter Artikel. Ein Klick auf die Menge öffnet das Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong> und listet die Nachbestellungen auf, in denen die Variante enthalten ist.<br>
<strong>Hinweis</strong>: Auch wenn eine Nachbestellung noch offen ist, also noch nicht bestellt wurde, wird die in der Nachbestellung angegebene Menge zum Zulauf gerechnet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meld</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktuell eingetragener Meldebestand.<br>
Weitere Details zum Meldebestand sowie Nachbestellungen finden Sie auf der Handbuchseite <strong><a href="/warenwirtschaft/nachbestellungen-verwalten">Nachbestellungen verwalten</a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MeldΔ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meldebestand Delta</strong> = Zeigt die Differenz zum Meldebestand.<br>
Die Differenz ist entweder die Menge an Artikeln, die noch verkauft werden muss, oder die Menge, die nachbestellt werden muss, um den Meldebestand zu erreichen. Wenn die Differenz negativ ist, liegt der Bestand noch über dem Meldebestand. Wenn Die Differenz positiv ist, wurde der Meldebestand unterschritten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ø Verk</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der <strong>Durchschnittliche Verkauf</strong> richtet sich nach dem <strong>Abverkaufszeitraum</strong>, der im Menü <strong>Einstellungen » Waren » Bestellwesen » Grundeinstellungen</strong> gespeichert wurde. In der Spalte wird jedoch nur ein Wert angezeigt, wenn für den Filter <strong>Bestellen</strong> die Option <strong>Ja</strong> eingestellt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Menge</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Für eine Bestellung über <strong>Bestellung erstellen</strong> die gewünschte Menge eintragen. Die beim Lieferanten gespeicherte <strong>Mindestabnahme</strong> wird automatisch vorgeschlagen. Dieser Wert wird nur in der Tabelle angezeigt, wenn die Option <strong>Bestellen</strong> im Filter auf <strong>Ja</strong> gesetzt wurde. Wenn statt des Eingabefeldes ein durchgestrichener Warenkorb zu sehen ist, ist kein Lieferant für die Variante gespeichert. In diesem Fall einen Lieferanten im Tab <strong>Lieferant</strong> der Variante speichern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferant</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Für eine Bestellung den gewünschten Lieferanten wählen. Dieser Wert wird nur in der Tabelle angezeigt, wenn die Option <strong>Bestellen</strong> im Filter auf <strong>Ja</strong> gesetzt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>∑</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Summenzeichen</strong> = die summierten Werte der einzelnen Spalten (z. B. Warenwert in EUR). Dieser Wert wird nur in der Tabelle angezeigt, wenn die Option <strong>Bestellen</strong> im Filter auf <strong>Ja</strong> gesetzt wurde.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">4. Warenbestand einer Variante umbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Ändern des Lagerortes einer Variante kann die Variante aus der Warenbestandsübersicht heraus schnell und einfach umgebucht werden. Sie können den Bestand teilweise oder ganz umbuchen. Sie können ihn innerhalb eines Lagers auf einen neuen Lagerort oder in ein neues Lager umbuchen.<br>
Die Menge kann beim Umbuchen nicht gleichzeitig erhöht werden. Umbuchen eignet sich also nicht als indirekter Wareneingang. Der vorhandene Bestand kann nur umgebucht werden. Selbst wenn Sie einen größere Menge eintragen, wird nur die Menge umgebucht, die bereits im System gespeichert ist.</p>
</div>
<div class="paragraph instruction">
<p>Warenbestände umbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Klicken Sie bei der Variante, deren Warenbestand Sie umbuchen möchten, in der Spalte <strong>Lagerort</strong> auf die <strong>Lupe</strong>.<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Neues Lager</strong> das Lager, in das Sie umbuchen möchten.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Neuer Lagerort</strong> den Lagerort, auf den Sie umbuchen möchten.<br>
→ Im Dropdown sind die bereits für diese Variante verwendeten Lagerorte auswählbar. Über <strong>Suchen</strong> können Sie einen ganz neuen Lagerort wählen.</p>
</li>
<li>
<p>Tragen Sie die Menge, die Sie umbuchen möchten, unter <strong>Neuer Bestand</strong> ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Umbuchen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn Sie im Menü <strong>Artikel » Artikel bearbeiten</strong> eine Variante zur Bearbeitung öffnen, haben Sie im Tab <strong>Warenbestand</strong> ebenfalls die Möglichkeit zum Umbuchen des Bestands.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">5. Varianten mit erreichtem oder unterschrittenem Meldebestand suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein guter Grund, Bestände zu führen, ist die rechtzeitige Nachbestellung der Varianten beim Lieferanten. Was rechtzeitig für Sie heißt, bestimmen Sie, indem Sie einen Meldebestand für Varianten speichern. Varianten, die den Meldebestand erreicht haben, filtern Sie wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Varianten nach Meldebestand filtern:</p>
</div>
<div class="paragraph instruction">
<p>Warenbestände suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Lieferanten</strong> aus dem Filter.</p>
</li>
<li>
<p>Wählen Sie im Filter <strong>Beschränkung</strong> die Option <strong>Meldebestand erreicht/unterschritten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>. <br>
→ Die Varianten, die den Meldebstand erreicht oder unterschritten haben, werden aufgelistet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem Sie Varianten mit erreichtem oder unterschrittenem Meldebestand gefiltert haben, können Sie direkt hier im Menü eine Nachbestellung erstellen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">6. Varianten mit erreichtem oder unterschrittenem Meldebestand nachbestellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die soeben gefilterten Varianten bestellen Sie wie im Folgenden beschrieben direkt nach.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Nachbestellungen vor Seitenwechsel ausführen</div>
<div class="paragraph">
<p>Führen Sie eine Bestellung immer vor einem Seitenwechsel aus, da beim Seitenwechsel Ihre eingetragenen Mengen zurückgesetzt werden. Solange eine Bestellung für einen Lieferanten noch offen ist, werden weitere Artikel der Bestellung hinzugefügt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Nachbestellung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Filtern Sie die Warenbestände nach Meldebestand wie oben beschrieben.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorschläge übernehmen</strong>.</p>
</li>
<li>
<p>Wenn ein Vorschlag nicht passt, tragen Sie die <strong>Menge</strong> ein, die Sie bestellen möchten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bestellung erstellen</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bestellung erstellen nicht sichtbar</div>
<div class="paragraph">
<p>Wenn bei Ihnen der Button <strong>Bestellung erstellen</strong> nicht sichtbar ist, prüfen Sie, ob links in den Filtern für <strong>Bestellen</strong> die Option <strong>Ja</strong> eingestellt ist. Ja muss eingestellt sein, damit Nachbestellungen ausgeführt werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die angelegte Nachbestellung sehen Sie im Menü <strong>Waren » Bestellwesen » Nachbestellungen</strong>. Die Nachbestellung erhält den Status <strong>Offen</strong>. Wenn eine offene Nachbestellung existiert und Sie von einem Lieferanten weitere Varianten bestellen, werden die Varianten der offenen Bestellung hinzugefügt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">7. Reservierte Bestände prüfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Buchen des Warenausgangs ist entscheidend, damit die Bestandsverwaltung korrekte Ergebnisse liefert. Wenn Sie feststellen, dass bei einem Artikel noch Bestand reserviert ist, obwohl Sie alles versendet haben, oder mehr reserviert ist, als reserviert sein sollte, dann suchen Sie nach Aufträgen, bei denen der Warenausgang nicht gebucht wurde. Bis ein Warenausgang gebucht wurde, bleibt der Warenbestand reserviert. Der Status eines Auftrags ist also für das Ermitteln reservierter Bestände ohne Bedeutung. Entscheidend ist, dass der Warenausgang gebucht wurde..</p>
</div>
<div class="paragraph">
<p>Die empfohlene und von vielen Anwendern genutzte Vorgehensweise ist, dass nach dem Buchen des Warenausgangs der Auftrag in Status 7 wechselt. Nutzen Sie Status 7, um sich alle Aufträge im Status 7, bei denen der Warenausgang noch nicht gebucht wurde, anzeigen zu lassen.</p>
</div>
<div class="paragraph instruction">
<p>Nicht gebuchte Warenausgänge suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Wählen Sie im Tab <strong>Filter</strong> für die Option <strong>= Status</strong> den Filter <strong>[7] Warenausgang gebucht</strong>, um alle erledigten Aufträge auszuwählen.</p>
</li>
<li>
<p>Wählen Sie für den Filter <strong>Warenausgang</strong> die Option <strong>nicht gebucht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>, um die Suche auszuführen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Falls in Ihrem System Aufträge im Status 7 vorhanden sind, bei denen der Warenausgang nicht gebucht wurde, erhalten Sie auf diese Weise einen Überblick und können entscheiden, wie Sie mit diesen Aufträgen fortfahren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">8. Reservierte Bestände wieder freigeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie oder Ihr Kunde einen Auftrag stornieren, können Sie reservierte Bestände wieder freigeben. Das Anlegen von Stornierungen ist nur möglich, wenn der Warenausgang für einen Auftrag noch nicht gebucht wurde. Wenn der Warenausgang bereits gebucht wurde, der Auftrag sich also im Versand oder schon beim Kunden befindet, muss retourniert werden. Da die Bestandslogik unabhängig vom Auftragsstatus arbeitet, werden Bestände nicht automatisch wieder freigegeben.</p>
</div>
<div class="paragraph">
<p>Sie können jedoch Status festlegen, bei denen ein reservierter Warenbestand bei Stornierung automatisch wieder freigegeben wird. Sie stellen die Statusoptionen ein, die Sie für die Kennzeichnung von Stornierungen verwenden. Häufig wird für Stornierungen Status 8 verwendet. Falls Sie für Stornierungen einen anderen Status verwenden oder z.B. unter 8.1, 8.2 usw. zusätzliche Statusoptionen dafür eingeführt haben, können Sie einen anderen Status oder einen Statusbereich festlegen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen für den Status stornierter Aufträge konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Status stornierter Aufträge</strong> in den Dropdown-Menüs <strong>von</strong> und <strong>bis</strong> den Statusbereich, den Sie für Stornierungen nutzen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">9. Warenbestandsdaten importieren oder exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie können Warenbestandsdaten importieren oder exportieren und so z.B. eine Inventur vornehmen. Das Datenformat <strong><a href="/basics/datenaustausch/datenformate/stock">Stock</a></strong> enthält die meisten Daten über Ihre Warenbestände. Datenformate, die im Zusammenhang mit Ihren Beständen nützlich sein können, sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="/basics/datenaustausch/datenformate/stock">Stock</a></strong>,</p>
</li>
<li>
<p><strong><a href="/basics/datenaustausch/datenformate/variationsupplier">VariationSupplier</a></strong>,</p>
</li>
<li>
<p><strong><a href="/basics/datenaustausch/datenformate/variationwarehouse">VariationWarehouse</a></strong> und</p>
</li>
<li>
<p><strong><a href="/basics/datenaustausch/datenformate/warehouse">Warehouse</a></strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Alle Datenformate und eine allgemeine Beschreibung des Datenexports und Datenimports finden Sie im Thema <strong><a href="/basics/datenaustausch">Datenaustausch</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">10. Historie der Warenbewegungen einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Warenbewegungen einer Variante sehen Sie im Tab <strong>Warenbewegung</strong> der Variante. Das Tab <strong>Warenbewegung</strong> öffnen Sie indem Sie die Variante öffnen oder direkt aus der Warenbestandsübersicht. Warenbewegungen geben Ihnen einen Überblick, wie Ihr aktueller Warenbestand entstanden ist, d.h. welche Buchungen zum aktuellen Ergebnis geführt haben. Das erhöht zum einen die Transparenz Ihrer Warenwirtschaft und ermöglicht zum anderen, einzelne Buchungen später nachzuvollziehen. <br>
Artikelpakete haben kein Tab Warenbewegung, da der Bestand eines Artikelpakets an den Paketbestandteilen geführt wird.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Warenbestaende-verwalten-01.png" alt="DE Warenbestaende verwalten 01">
</div>
<div class="title">Abbildung 1. Warenbewegung öffnen</div>
</div>
<div class="paragraph instruction">
<p>Das Tab Warenbewegung öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Warenbestände</strong>.</p>
</li>
<li>
<p>Klicken Sie bei dem Artikel, dessen <strong>Warenbewegungen</strong> Sie sehen möchten, in der Spalte <strong>Phy</strong> (Physischer Bestand) auf den <strong>Link</strong> der Mengenangabe (Bild 1, roter Pfeil). <br>
→ Das Tab <strong>Warenbewegung</strong> im Tab <strong>Bestand</strong> des Artikels wird geöffnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">11. Automatismen an Bestand knüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An den Warenbestand können automatische Funktionen geknüpft werden, so z.B. die Anzeige des Artikels im Webshop. Ist der Artikel lieferbar, wird er im Webshop angezeigt. Sobald der Netto-Warenbestand 0 ist, wird der Artikel nicht mehr angezeigt. Des Weiteren können auch Listings an den Warenbestand geknüpft werden, sodass Überverkäufe verhindert werden. Für Hood und ricardo können Sie einstellen, dass Listings beendet werden, wenn nicht mehr ausreichend Bestand vorhanden ist. Für eBay können Sie ebenfalls einstellen, dass Listings beendet werden, wenn der Bestand unzureichend ist, aber zusätzlich können hier automatisch Listings wieder gestartet werden, wenn wieder Bestand vorhanden ist. Eine genauere Beschreibung finden Sie unter <strong><a href="/omni-channel/multi-channel/ebay#1100">eBay-Listings</a></strong>.</p>
</div>
</div>
</div>
</main>