<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Carrying out preparatory settings</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Creating key figures</span></a>
<ul class="sectlevel3">
<li><a href="#210"><span>1.1.1.</span><span> Creating key figures in the setup menu</span></a></li>
<li><a href="#220"><span>1.1.2.</span><span> Creating key figures on the dashboard</span></a></li>
</ul>
</li>
<li><a href="#300"><span>1.2.</span><span> Assigning user rights</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.</span><span> Setting up the dashboard</span></a>
<ul class="sectlevel2">
<li><a href="#405"><span>2.1.</span><span> Available settings in the editing mode</span></a></li>
<li><a href="#407"><span>2.2.</span><span> Setting up a new dashboard view</span></a></li>
<li><a href="#_assigning_rights_for_dashboard_views"><span>Assigning rights for dashboard views</span></a></li>
<li><a href="#410"><span>2.3.</span><span> Adding elements to the dashboard</span></a>
<ul class="sectlevel3">
<li><a href="#500"><span>2.3.1.</span><span> Setting up tiles</span></a></li>
<li><a href="#600"><span>2.3.2.</span><span> Setting up tables</span></a></li>
<li><a href="#700"><span>2.3.3.</span><span> Setting up graphs</span></a>
<ul class="sectlevel4">
<li><a href="#710"><span>Pie chart</span></a></li>
</ul>
</li>
<li><a href="#720"><span>2.3.4.</span><span> Bar chart and line graph</span></a>
<ul class="sectlevel4">
<li><a href="#730"><span>Heat map</span></a></li>
</ul>
</li>
<li><a href="#800"><span>2.3.5.</span><span> Setting up rows</span></a></li>
</ul>
</li>
<li><a href="#900"><span>2.4.</span><span> Displaying notifications on the dashboard</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dashboard (Beta)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The world of e-commerce is constantly changing. For you as a seller, it is essential to keep up to date with the numbers and data of your business. Thus, plentymarkets offers you a new dashboard that enables you to access the current key figures of your company and decide if further action is needed. Create your individual dashboard by combining various key figures, statistics, graph types and format options.</p>
</div>
<div class="paragraph">
<p>Especially when creating your first dashboard, there are some important considerations. Thus, pay close attention to the preparatory settings and follow the instructions in the following chapters carefully:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#200">Creating key figures</a></p>
</li>
<li>
<p><a href="#300">Assigining user rights</a></p>
</li>
<li>
<p><a href="#400">Setting up the dashboard</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Carrying out preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A few preparatory steps are necessary before you can set up your individual dashboard. These settings are described in the following chapters.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Creating key figures</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Key figure availability depends on plentyBI tariff</div>
<div class="paragraph">
<p>To create key figures, you need to book a corresponding plentyBI tariff. To do so, go to <strong>plentymarkets Logo (Start) » My account » Contracts</strong>. Different plentyBI tariffs with varying scopes are available for booking in the <strong>Book plentyBI tariff</strong> section. In addition, tariff information is displayed for each key figure in the <strong>Setup » plentyBI » Key figures</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>To display data on your dashboard, you need to create key figures first.</p>
</div>
<div class="paragraph">
<p>Key figures essentially allow you to create different data sets. This way, key figures are a basis for the values and data that you can then display and track on your dashboard. Your plentymarkets system provides so-called dimensions for each key figure. Dimensions determine the criteria that are used to group the data included in the key figure.
This way, you can precisely define the conditions for the calculation of each key figure.</p>
</div>
<div class="paragraph">
<p>You can create key figures in the separate menu provided for this purpose. Alternatively, you can create key figures directly from the dashboard. Both methods are described in the following chapters.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Pay attention to user rights</div>
<div class="paragraph">
<p>If users without admin access to your plentymarkets system should be allowed to create key figures, assign the <a href="#300">necessary user rights</a> first.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="210">1.1.1. Creating key figures in the setup menu</h4>
<div class="paragraph">
<p>This method is especially useful if you want to create a high number of key figures at once.
<a href="#table-create-key-figures">Table 1</a> contains a list of available <a href="#option-keyfigure">key figures</a>. Click on the respective link for more detailed information on setting up the key figure and carrying out the available settings.</p>
</div>
<div class="paragraph instruction">
<p>Creating key figures in the setup menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » plentyBI » Key figures</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-create-key-figures">Table 1</a>.</p>
</li>
<li>
<p>Save <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
<table id="table-create-key-figures" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating key figures</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="option-keyfigure">Key figure</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the key figure you want to create. The following key figures are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/revenue">Revenue</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/sales-volume">Sales volume</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/shipping-revenue">Shipping revenue</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/gross-revenue">Gross revenue</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/average-order-value">Average order value</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/average-number-of-order-items">Average number of order items</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/return-rate">Return rate</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/orders">Orders</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/live-orders">Orders (live)</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/VAT-total">VAT total</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/messages">Messages</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/marketplacestockmovement">Marketplace stock movements</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/marketplacevariationvalidation">Marketplace variation validation</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If needed, enter a comment for the key figure. This comment is saved with the key figure and can help to provide you and your employees with specific information on the key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Target values</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="option-targetvalue">for days and weeks</strong>, <strong>for months</strong>, <strong>for quarters</strong>, <strong>for years</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter target values that should be reached by the key figure. Depending on the desired period of time, you can make flexbile entries for the target values you are planning for the key figure.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="220">1.1.2. Creating key figures on the dashboard</h4>
<div class="paragraph">
<p>Do you want to add key figures to a new or existing dashboard? You can conveniently do so on the dashboard itself.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Possible settings when creating key figures on the dashboard</div>
<div class="paragraph">
<p>When creating key figures on the dashboard, it is not possible to set up <a href="#option-targetvalue">target values</a> for those key figures. However, you can later add those settings for the key figure in the <strong>Setup » plentyBI » Key figures</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating key figures on the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » Dashboard (Beta)</strong>.</p>
</li>
<li>
<p>Click on <strong>Edit view</strong> <span class="icon "><i class="psicon-design_inline_edit"></i></span>.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Drag-and-drop an element from the settings menu on the dashboard.</p>
</li>
<li>
<p>Move the cursor over the element and click on <span class="icon "><i class="psicon-design_inline_edit"></i></span>.<br>
→ The settings menu for the element opens.</p>
</li>
<li>
<p>Drag-and-drop an element within the area outlined in blue.</p>
</li>
<li>
<p>Move the cursor over the element and click on <span class="icon "><i class="psicon-design_inline_edit"></i></span>.</p>
</li>
<li>
<p>In the settings menu, click on <strong>Key figure</strong> and select the option <strong>New key figure</strong>.<br>
→ A window for setting up the new key figure opens.</p>
</li>
<li>
<p>Enter a <strong>Name</strong> for the key figure.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-create-key-figures">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span>.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Assigning user rights</h3>
<div class="paragraph">
<p>When working with key figures, you should decide which of your employees should be allowed to view which key figures. Users with admin access to your plentymarkets system can view all key figures and create new key figures by default.
Users with a <strong>Back end</strong> account have to be assigned those rights by a user with an admin account.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to determine which key figures should be visible for users.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights for viewing key figures:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » Users</strong>.<br>
→ The overview opens.<br>
<strong><em>Optional:</em></strong> In the filter settings on the left, enter an ID or a name to limit the search results.</p>
</li>
<li>
<p>Click on <strong>Search</strong> <span class="icon blue"><i class="fa fa-search  "></i></span>.<br>
→ The user accounts that correspond to the search criteria are displayed.<br>
<strong><em>Tip:</em></strong> Accounts that are greyed out have admin rights.</p>
</li>
<li>
<p>Click on the appropriate account.</p>
</li>
<li>
<p>Click on <strong>Resources</strong>.</p>
</li>
<li>
<p>Click on <strong>Key figures</strong>.</p>
</li>
<li>
<p>Activate all key figures that should be visible for the user.<br>
<strong><em>Optional:</em></strong> Click on <strong>All key figures</strong> if all existing key figures should be visible for the user.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Do you want to allow employees without admin access to your system to create key figures? Then carry out the following additional settings.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights for creating key figures:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.
→ The overview opens.<br>
<strong><em>Optional:</em></strong> In the filter settings on the left, enter an ID or a name to limit the search results.</p>
</li>
<li>
<p>Click on <strong>Search</strong> <span class="icon blue"><i class="fa fa-search  "></i></span>.<br>
→ The user accounts that correspond to the search criteria are displayed.<br>
<strong><em>Tip:</em></strong> Accounts that are greyed out have admin rights.</p>
</li>
<li>
<p>Click on the appropriate account.</p>
</li>
<li>
<p>In the <strong>plentyBI</strong> area, activate the option <strong>Key figures</strong>.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Setting up the dashboard</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as you have carried out the <a href="#100">preparatory settings</a>, you are ready to set up your dashboard.</p>
</div>
<div class="paragraph">
<p>The first steps on a new dashboard always consist of placing different areas for display on the dashboard. Then, you fill these areas with data that can be displayed in the form of different elements. You can add and indiviually position several elements per area.</p>
</div>
<div class="sect2">
<h3 id="405">2.1. Available settings in the editing mode</h3>
<div class="paragraph">
<p>The dashboard allows you a high degree of flexibility for positioning content and data. This works by intuitively positioning areas for content and elements on the dashboard via drag-and-drop. Each area and each element can be further edited by clicking on <span class="icon "><i class="psicon-design_inline_edit"></i></span>. <a href="#table-dashboard-edit-mode">[table-dashboard-edit-mode]</a> contains an overview on the functions available in the general editing mode in the upper right corner of the <strong>plentymarkets logo (Start) » Dashboard (Beta)</strong>.</p>
</div>
<table id="table-dashboard-edit-mode" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit view</strong> <span class="icon "><i class="psicon-design_inline_edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the dashboard for editing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Undo</strong> <span class="icon darkGrey"><i class="fa fa-reply  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Undoes the last change, unless this change has already been saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Redo</strong> <span class="icon darkGrey"><i class="fa fa-share  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the previously undone change.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This area displays the dashboard view that is currently opened. Click on <span class="icon darkGrey"><i class="fa fa-sort-down  "></i></span> to switch to another view or to <a href="#407">create a new view</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Restore previously saved state</strong> <span class="icon "><i class="psicon-reset"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the dashboard to the state that was last saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves the changes made to the dashboard.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Close</strong> <span class="icon "><i class="psicon-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Closes the editing mode. In case of unsaved changes, a dialogue is displayed.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="407">2.2. Setting up a new dashboard view</h3>
<div class="paragraph">
<p>In addition to the default view available in the <strong>plentymarkets logo (Start) » Dashboard (Beta)</strong> menu, you can create and save additional individual views. Depending on how detailed the visualisation of data on your dashboard should be, you can create separate views for different topics and data.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a new dashboard view:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » Dashboard (Beta)</strong>.</p>
</li>
<li>
<p>Click on <strong>Default view</strong> in the upper right corner.</p>
</li>
<li>
<p>Click on <strong>Create new preset</strong>.</p>
</li>
<li>
<p>Assign a <strong>Name</strong> for the view.</p>
</li>
<li>
<p>Click on <strong>Create view</strong>.</p>
</li>
<li>
<p>Place the desired elements within the view.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.<br>
→ The new view is saved.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_assigning_rights_for_dashboard_views">Assigning rights for dashboard views</h3>
<div class="paragraph">
<p>Decide which users should see the default view. Also, you can determine the visibility of additional views that you have created per user or user role.</p>
</div>
<div class="paragraph">
<p>Activate the editing mode (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) for an already created view and click on the <strong>Rights management</strong> button to access the settings for users and user roles.</p>
</div>
<div class="paragraph">
<p>Additional information and an instruction on how to assign rights for users or roles is available on the manual page on <a href="/en/business-decisions/user-accounts-access#112">user accounts and access</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="410">2.3. Adding elements to the dashboard</h3>
<div class="paragraph">
<p>The dashboard offers you a variety of different possibilites for visualising your data. You can use the following types of elements:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#500">Tiles</a></p>
</li>
<li>
<p><a href="#600">Tables</a></p>
</li>
<li>
<p><a href="#700">Diagrams</a></p>
</li>
<li>
<p><a href="#800">Rows</a></p>
</li>
<li>
<p><a href="#900">Notifications</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The process of placing an element on the dashboard is always the same, regardless of the element type. The following instructions explain how it works.</p>
</div>
<div class="paragraph instruction">
<p>Adding an element to the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » Dashboard (Beta)</strong>.</p>
</li>
<li>
<p>Click on <strong>Edit view</strong> <span class="icon "><i class="psicon-design_inline_edit"></i></span>.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Drag-and-drop an element from the settings menu on the dashboard.</p>
</li>
<li>
<p>Move the cursor over the element and click on <span class="icon "><i class="psicon-design_inline_edit"></i></span>.<br>
→ The settings menu for the element opens.<br>
→ The possible elements for the area are displayed.</p>
</li>
<li>
<p>Select an element from the settings menu and drag-and-drop it within the area on the dashboard.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following chapters describe how to use the different elements and which settings are possible for each element.</p>
</div>
<div class="sect3">
<h4 id="500">2.3.1. Setting up tiles</h4>
<div class="paragraph">
<p>Tiles are simple square areas. Data in tiles is displayed exclusively as text and numbers. You can select different colours and settings for time intervals and target values.</p>
</div>
<div class="paragraph">
<p>First, add a tile <a href="#420">as described above</a>. Then, proceed as described below to carry out individual settings for the tile.</p>
</div>
<div class="paragraph instruction">
<p>Setting up tiles:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon "><i class="psicon-edit"></i></span> in the top right corner of the tile.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Carry out the settings for the tile. Pay attention to the information provided in <a href="#table-dashboard-tile-settings">[table-dashboard-tile-settings]</a>.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Available settings for tiles</strong></div>
<div class="content">
<table id="table-dashboard-tile-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Key figure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a key figure that should be displayed in the tile from the dropdown list. Alternatively, click on <strong>Create new key figure</strong> <span class="icon green"><i class="fa fa-plus  "></i></span> to create a new figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an appropriate title for the tile. The title is displayed as name on the tile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the period of time for which the data of the key figure should be considered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Time interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting narrows down the values of the selected <strong>Period</strong>. Thus, the time interval always has to be shorter than the selected period.<br>
<strong><em>Example:</em></strong> If you have selected the current month as <strong>Period</strong> and the option <strong>Week</strong> as <strong>Time interval</strong>, only the value for the current week will be displayed on the tile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Primary value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The primary value is displayed a little bigger than the <strong>Secondary value</strong> on the tile. For this option, you can select the simple <strong>Key figure result</strong> or the difference (<strong>Delta)</strong> between the actual value and the <a href="#option-targetvalue">target value</a> defined in the key figure. You can display the difference (delta) as an absolute value or as a <strong>Percentage</strong>. Click on (<span class="icon "><i class="psicon-settings"></i></span>) to determine how many decimal places should be displayed for the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secondary value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This value is displayed smaller than and above the <strong>Primary value</strong>. The settings available for the secondary value are identical to the ones available for the primary value. Select the option <strong>None</strong> if no secondary value should be displayed on the tile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you wish to display the <a href="#option-targetvalue">target value</a> definde in the key figure on the tile? Select one of the options <strong>Display</strong> or <strong>Do not display</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide if the unit of the key figure should be displayed on the tile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colouring</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to display the tile in a particular colour? Select the option <strong>Display</strong> and click on (<span class="icon "><i class="psicon-settings"></i></span>). A settings window opens. On the left, select the colour for the tile. If you want the colour of the tile to change according to the value of the key figure, select an <strong>Operator</strong> and enter a <strong>Comparison value</strong> before clicking on <strong>Save</strong>.<br>
<strong><em>Tip:</em></strong> Click on <span class="icon green"><i class="fa fa-plus  "></i></span> to save further conditions for different colours.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect3">
<h4 id="600">2.3.2. Setting up tables</h4>
<div class="paragraph">
<p>To provide an easy overview of data, you can display data on the dashboard as tables. Basically, the settings available for tables are identical to the ones for tiles as described in <a href="#table-dashboard-tile-settings">[table-dashboard-tile-settings]</a>.
<a href="#table-dashboard-table-settings">[table-dashboard-table-settings]</a> describes further settings that are specifically available for tiles.</p>
</div>
<div class="paragraph">
<p>First, add a table <a href="#420">as described above</a>. Then, proceed as described below to carry out individual settings for the table.</p>
</div>
<div class="paragraph instruction">
<p>Setting up tables:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Edit</strong> <span class="icon "><i class="psicon-edit"></i></span> in the top right corner of the table.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Carry out the settings for the table. Pay attention to the information provided in <a href="#table-dashboard-table-settings">[table-dashboard-table-settings]</a>.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Available settings for tables</strong></div>
<div class="content">
<table id="table-dashboard-table-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Result sort order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option allows you to sort the values in the <strong>Result</strong> column of the table. Select one of the options <strong>Ascending</strong> or <strong>Descending</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scale basis sort order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If multiple results have the same value, this option allows you to sort the values in the <strong>Dimension</strong> column of the table. Select one of the options <strong>Ascending</strong> or <strong>Descending</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aggregate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how to collect the data. Available options are sum (Σ), average (∅), maximum, and minimum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items per page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Depending on the number of entries, the table can be displayed on several pages. Select if <strong>10</strong>, <strong>25</strong>, <strong>50</strong>, <strong>75</strong> oder <strong>100</strong> entries should be displayed per page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group by dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If activated, multiple entries of the same dimension are collapsed into one.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mapped column</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Every mapped columns corresponds to one column in the table. For every column, select one of the options <strong>Calculation date</strong>, <strong>Dimension</strong>, <strong>Primary result</strong>, <strong>Result unit</strong>, <strong>Scale basis</strong>, or <strong>Target</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect3">
<h4 id="700">2.3.3. Setting up graphs</h4>
<div class="paragraph">
<p>Graphs allow you to visualise data on your dashboard in an even clearer way. The following types of graphs are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#710">Pie chart</a></p>
</li>
<li>
<p><a href="#720">Bar chart</a></p>
</li>
<li>
<p><a href="#720">Line Graph</a></p>
</li>
<li>
<p><a href="#730">Heat Map</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following chapters explain how to place the different types of graphs on your dashboard and which settings are available for each type.</p>
</div>
<div class="sect4">
<h5 id="710">Pie chart</h5>
<div class="paragraph">
<p>First, add a chart <a href="#420">as described above</a>. Then, proceed as described below to carry out individual settings for the pie chart.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a pie chart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon "><i class="psicon-edit"></i></span> in the top right corner of the pie chart.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Carry out the settings for the pie chart. Pay attention to the information provided in <a href="#table-dashboard-pie-chart-settings">[table-dashboard-pie-chart-settings]</a>.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Available settings for pie charts</strong></div>
<div class="content">
<table id="table-dashboard-pie-chart-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Key figure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a key figure that should be displayed in the chart from the dropdown list. Alternatively, click on <strong>Create new key figure</strong> <span class="icon green"><i class="fa fa-plus  "></i></span> to create a new key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an appropriate title for the tile. The title is displayed as name on the chart.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the period of time for which the data of the key figure should be considered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Time interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting narrows down the values of the selected <strong>Period</strong>. Thus, the time interval always has to be shorter than the selected period.<br>
<strong><em>Example:</em></strong> If you have selected the current month as <strong>Period</strong> and the option <strong>Week</strong> as <strong>Time interval</strong>, only the value for the current week will be displayed on the chart.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="720">2.3.4. Bar chart and line graph</h4>
<div class="paragraph">
<p>Bar charts and line graphs are also commonly used types of graphs. They are suitable for clear visualisations of how values develop over time. That is why you can select several key figures per element for these graphs.</p>
</div>
<div class="paragraph">
<p>The available settings are identical for bar charts and line graphs. Thus, the settings for both elements are described in this chapter.</p>
</div>
<div class="paragraph">
<p>First, add a bar chart or line graph <a href="#420">as described above</a>. Then, proceed as described below to carry out individual settings for the graphs.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a bar chart or line graph:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon "><i class="psicon-edit"></i></span> in the top right corner of the bar chart or line graph.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Carry out the settings for the graph. Pay attention to the information provided in <a href="#table-dashboard-line-graph-bar-chart-settings">[table-dashboard-line-graph-bar-chart-settings]</a>.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Available settings for bar charts and line graphs</strong></div>
<div class="content">
<table id="table-dashboard-line-graph-bar-chart-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Key figures and period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more key figures and periods that should be displayed in the bar chart or line graph. Alternatively, click on <strong>Create new key figure</strong> <span class="icon green"><i class="fa fa-plus  "></i></span> to create a new key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Time interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting narrows down the values of the selected <strong>Period</strong>. Thus, the time interval always has to be shorter than the selected period.<br>
<strong><em>Example:</em></strong> If you have selected the current month as <strong>Period</strong> and the option <strong>Week</strong> as <strong>Time interval</strong>, the values for each week will be displayed as separate bar or graph.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>X-axis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the basis for the x-axis. The options <strong>Scale basis</strong>, <strong>dimension</strong> and <strong>calculation date</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y-axis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the basis for the y-axis. The options <strong>Primary result</strong> and <strong>Target</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>X-axis label rotation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this setting to determine how the labels for the x-axis are displayed. Select <strong>0</strong> for regular labels and <strong>45</strong> or <strong>90</strong> to rotate the labels by those degrees.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of columns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how many units of the selected time interval you want to show in the diagram. The starting point depends on the selected time period.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Quickly show and hide key figures</div>
<div class="paragraph">
<p>You can quickly show or hide a key figure by clicking on its name below the diagram</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect4">
<h5 id="730">Heat map</h5>
<div class="paragraph">
<p>Heat maps are simplified visualisations that are based on a graph structure in the background. Heat maps display changing colors based on the current value of the key figure. This allows you to identify a possible need for action for the selected key figure.</p>
</div>
<div class="paragraph">
<p>First, add a heat map <a href="#420">as described above</a>. Then, proceed as described below to carry out the settings for the heat map.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a heat map:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon "><i class="psicon-edit"></i></span> in the top right corner of the heat map.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Carry out the settings for the heat map. Pay attention to the information provided in <a href="#table-dashboard-heatmap-settings">[table-dashboard-heatmap-settings]</a>.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Available settings for heat maps</strong></div>
<div class="content">
<table id="table-dashboard-heatmap-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Key figure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or several key figures and time periods that should be visualised by the heat map from the dropdown list. Alternatively, click on <strong>Create new key figure</strong> <span class="icon green"><i class="fa fa-plus  "></i></span> to create a new key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an appropriate title for the heat map. The title is displayed as name on the heat map.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the period of time for which the data of the key figure should be considered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Time interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting narrows down the values of the selected <strong>Period</strong>. Thus, the time interval always has to be shorter than the selected period.<br>
<strong><em>Example:</em></strong> If you have selected the current month as <strong>Period</strong> and the option <strong>Week</strong> as <strong>Time interval</strong>, the value of the current week will determine the colour of the heat map.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>X-axis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the basis for the x-axis. The options <strong>Scale basis</strong>, <strong>dimension</strong> and <strong>calculation date</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y-axis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the basis for the y-axis. The options <strong>Primary result</strong> and <strong>Target</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>X-axis label rotation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this setting to determine how the labels for the x-axis are displayed. Select <strong>0</strong> for regular labels and <strong>45</strong> or <strong>90</strong> to rotate the labels by those degrees.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of columns</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="800">2.3.5. Setting up rows</h4>
<div class="paragraph">
<p>You can display data as simple rows. The settings available for rows are identical to those available for <a href="#500">tiles</a>.</p>
</div>
<div class="paragraph">
<p>First, add a row <a href="#420">as described above</a>. Then,proceed as described below to carry out individual settings for the row.</p>
</div>
<div class="paragraph instruction">
<p>Setting up rows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Edit</strong> <span class="icon "><i class="psicon-edit"></i></span> in the top right corner of the row.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Carry out the settings for the row. Pay attention to the information provided in <a href="#table-dashboard-tile-settings">[table-dashboard-tile-settings]</a>.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">2.4. Displaying notifications on the dashboard</h3>
<div class="paragraph">
<p><a href="/en/welcome/login-tour#notification-centre">Notifications</a> contain important information on your plentymarkets system. You can access these notifications by clicking on the bell symbol at the top margin of the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to permanently display notifications in a specific area of your dashboard.</p>
</div>
<div class="paragraph instruction">
<p>Displaying notifications on the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » Dashboard (beta)</strong>.</p>
</li>
<li>
<p>Click on <strong>Edit view</strong> <span class="icon "><i class="psicon-design_inline_edit"></i></span>.</p>
</li>
<li>
<p>Drag-and-drop the element <strong>Notifications</strong> from the settings menu on the dashboard.</p>
</li>
<li>
<p><strong>Save</strong> <span class="icon "><i class="psicon-save"></i></span> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>