<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> plentymarkets App installieren</span></a></li>
<li><a href="#10"><span>2.</span><span> Bei plentymarkets POS anmelden</span></a>
<ul class="sectlevel2">
<li><a href="#310"><span>2.1.</span><span> Benutzerkonto wechseln (ab Version 1.8.1)</span></a></li>
</ul>
</li>
<li><a href="#290"><span>3.</span><span> plentymarkets POS personalisieren</span></a>
<ul class="sectlevel2">
<li><a href="#_darstellung_anpassen"><span>3.1.</span><span> Darstellung anpassen</span></a></li>
</ul>
</li>
<li><a href="#30"><span>4.</span><span> Kassieren</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>4.1.</span><span> Artikel zum POS-Warenkorb hinzufügen</span></a>
<ul class="sectlevel3">
<li><a href="#50"><span>4.1.1.</span><span> Artikel suchen</span></a></li>
<li><a href="#60"><span>4.1.2.</span><span> Favoritenliste öffnen</span></a></li>
<li><a href="#70"><span>4.1.3.</span><span> Artikeletikett scannen</span></a></li>
</ul>
</li>
<li><a href="#80"><span>4.2.</span><span> Zahlung entgegennehmen</span></a>
<ul class="sectlevel3">
<li><a href="#_bargeld_entgegennehmen"><span>4.2.1.</span><span> Bargeld entgegennehmen</span></a></li>
<li><a href="#_zahlung_über_externes_ec_terminal_entgegennehmen"><span>4.2.2.</span><span> Zahlung über externes EC-Terminal entgegennehmen</span></a></li>
<li><a href="#_zahlung_über_angebundenes_ec_terminal_entgegennehmen"><span>4.2.3.</span><span> Zahlung über angebundenes EC-Terminal entgegennehmen</span></a></li>
<li><a href="#160"><span>4.2.4.</span><span> Verkaufsgutscheine entgegennehmen</span></a></li>
<li><a href="#150"><span>4.2.5.</span><span> Artikel auf Rechnung verkaufen</span></a></li>
</ul>
</li>
<li><a href="#90"><span>4.3.</span><span> Optionale Kassiervorgänge</span></a>
<ul class="sectlevel3">
<li><a href="#250"><span>4.3.1.</span><span> Verkaufsgutschein verkaufen</span></a></li>
<li><a href="#135"><span>4.3.2.</span><span> Bestandskunde wählen</span></a></li>
<li><a href="#100"><span>4.3.3.</span><span> Notiz zum Auftrag hinzufügen</span></a></li>
<li><a href="#110"><span>4.3.4.</span><span> Kassiervorgang unterbrechen/Bon parken</span></a>
<ul class="sectlevel4">
<li><a href="#120"><span>Bon parken</span></a></li>
<li><a href="#130"><span>Geparkten Bon laden</span></a></li>
</ul>
</li>
<li><a href="#140"><span>4.3.5.</span><span> Auftragsposition bearbeiten</span></a></li>
<li><a href="#170"><span>4.3.6.</span><span> Rabatt auf gesamten Auftrag anwenden</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#173"><span>5.</span><span> Auftrag stornieren</span></a></li>
<li><a href="#175"><span>6.</span><span> Retoure buchen</span></a>
<ul class="sectlevel2">
<li><a href="#370"><span>6.1.</span><span> Retoure mit Zuordnung zum Hauptauftrag buchen</span></a>
<ul class="sectlevel3">
<li><a href="#330"><span>6.1.1.</span><span> Retourenartikel scannen</span></a></li>
<li><a href="#340"><span>6.1.2.</span><span> Retourenartikel manuell erfassen</span></a></li>
<li><a href="#_preis_von_retourenartikeln_ändern"><span>6.1.3.</span><span> Preis von Retourenartikeln ändern</span></a></li>
<li><a href="#320"><span>6.1.4.</span><span> Hinweise zu Retouren bei Kauf auf Rechnung</span></a></li>
</ul>
</li>
<li><a href="#380"><span>6.2.</span><span> Retoure ohne Zuordnung zum Hauptauftrag buchen</span></a></li>
</ul>
</li>
<li><a href="#180"><span>7.</span><span> Einlagen und Entnahmen buchen</span></a>
<ul class="sectlevel2">
<li><a href="#190"><span>7.1.</span><span> Einlage buchen</span></a></li>
<li><a href="#200"><span>7.2.</span><span> Entnahme buchen</span></a></li>
</ul>
</li>
<li><a href="#300"><span>8.</span><span> Artikeletikett drucken</span></a></li>
<li><a href="#210"><span>9.</span><span> Berichte erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>9.1.</span><span> Zwischenbericht erstellen</span></a></li>
<li><a href="#230"><span>9.2.</span><span> Tagesabschluss erstellen</span></a></li>
<li><a href="#_kassensturzbericht_erstellen"><span>9.3.</span><span> Kassensturzbericht erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#_kassensturzergebnis_erfassen"><span>9.3.1.</span><span> Kassensturzergebnis erfassen</span></a></li>
<li><a href="#_differenz_aus_kassensturz_buchen"><span>9.3.2.</span><span> Differenz aus Kassensturz buchen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#280"><span>10.</span><span> Besonderheiten in Österreich</span></a>
<ul class="sectlevel2">
<li><a href="#260"><span>10.1.</span><span> Monatsbeleg erstellen (Österreich)</span></a></li>
<li><a href="#_bei_ausfall_der_signatureinheit_kassieren_österreich"><span>10.2.</span><span> Bei Ausfall der Signatureinheit kassieren (Österreich)</span></a></li>
<li><a href="#270"><span>10.3.</span><span> Kontrollbeleg auf Verlangen der Finanzpolizei erstellen (Österreich)</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>POS für Kassenpersonal</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erfahren Sie, wie Sie die plentymarkets POS Kasse bedienen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="5">1. plentymarkets App installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Installieren Sie zunächst die plentymarkets App auf dem mobilen Endgerät.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=de" target="_blank" rel="noopener">plentymarkets App bei Google Play</a></strong></p>
</li>
<li>
<p><strong><a href="https://itunes.apple.com/de/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets App bei iTunes</a></strong></p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Offline-Aufträge werden beim Deinstallieren der App gelöscht</div>
<div class="paragraph">
<p>Bei fehlender Internetverbindung werden Aufträge offline gespeichert und erst später synchronisiert. Wenn Sie die App deinstallieren, bevor die Aufträge an plentymarkets übertragen wurden, werden die lokal gespeicherten Aufträge unwiederbringlich gelöscht und können auch vom plentymarkets Support nicht wiederhergestellt werden. Prüfen Sie daher vor jedem Deinstallieren der App, dass keine Offline-Aufträge auf dem Gerät vorhanden sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Bei plentymarkets POS anmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um sich bei plentymarkets POS anzumelden.</p>
</div>
<div class="paragraph instruction">
<p>Bei plentymarkets POS anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melden Sie sich auf dem Mobilgerät an.</p>
</li>
<li>
<p>Tippen Sie auf dem Startbildschirm auf das plentymarkets App Symbol.<br>
→ Der Login-Bildschirm wird angezeigt.</p>
</li>
<li>
<p>Geben Sie die Login-Daten ein. Beachten Sie <a href="#tabelle-POS-kassenpersonal-anmeldung">Tabelle 1</a>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Login</strong>.<br>
→ Der Startbildschirm der plentymarkets App wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie oben links auf das Menüsymbol.<br>
→ Die verfügbaren Menüpunkte werden angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.<br>
→ plentymarkets POS wird geöffnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Anmeldung wird gespeichert</div>
<div class="paragraph">
<p>Sie bleiben bei plentymarkets POS angemeldet, bis Sie im Menü der App auf <strong>Ausloggen</strong> tippen. Sie können also die App schließen und öffnen, ohne sich erneut anmelden zu müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-POS-kassenpersonal-anmeldung" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Anmeldung</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache wählen, in der plentymarkets POS dargestellt werden soll. Die Benutzeroberfläche von plentymarkets POS ist auf Deutsch und Englisch verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System (Basis-URL)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Domain des plentymarkets Systems ohne führendes https:// oder http:// eingeben, z.B. <strong>ihr-shop.de</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer</strong>; <strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzernamen und Passwort für das plentymarkets System eingeben.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="310">2.1. Benutzerkonto wechseln (ab Version 1.8.1)</h3>
<div class="paragraph">
<p>Ab Version 1.8.1 bietet die plentymarkets App das Feature schneller Kontowechsel. Das heißt, dass sich der eingeloggte Benutzer nicht abmelden muss, damit Sie sich anmelden können. Der schnelle Kontowechsel funktioniert nur, wenn bereits ein Benutzer eingeloggt ist. Welches Benutzerkonto angemeldet ist erkennen Sie an dem Benutzersymbol oben rechts. Das Benutzersymbol enthält die Initialen des realen Namens der eingeloggten Person. Das Symbol hat die Farbe, die für das Benutzerkonto im plentymarkets Backend gespeichert wurde. Der schnelle Kontowechsel ist im Hauptmenü, dem POS-Menü, beim Kassieren und in einer Retoure möglich. Nach dem Wechsel wird derselbe Bereich der App geöffnet. Wenn das neue Benutzerkonto für diesen Bereich keine Rechte hat, wird stattdessen das Hauptmenü geöffnet. Gehen Sie wie unten beschrieben vor, um das Benutzerkonto zu wechseln.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Auftragsdaten bleiben erhalten</div>
<div class="paragraph">
<p>Wenn Sie das Benutzerkonto wechseln, wird der Auftrag auch der neu eingeloggten Kassenkraft angezeigt und kann dort abgeschlossen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto im laufenden Betrieb wechseln (ab Version 1.8.1):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie in der App oben rechts auf das Benutzersymbol.<br>
→ Eine Liste der realen Namen aller Personen wird angezeigt, für die im Benutzerkonto eine App-PIN gespeichert ist.<br>
<strong><em>Hinweis:</em></strong> Wenn Ihr Name nicht angezeigt wird, aktualisieren Sie die Ansicht, indem Sie das Fenster nach unten ziehen. Wenn Ihr Name immer noch nicht angezeigt wird, ist im plentymarkets Backend für Ihr Benutzerkonto keine App-PIN gespeichert.</p>
</li>
<li>
<p>Tippen Sie auf Ihr Benutzerkonto.</p>
</li>
<li>
<p>Wenn Sie sich zum ersten Mal in der App anmelden, geben Sie Ihr Benutzerpasswort ein. Ab dem zweiten Anmelden geben Sie Ihre PIN ein.<br>
→ Das Benutzerkonto wird gewechselt.<br>
→ Der Bereich der App wird geöffnet, in dem der Kontowechsel ausgelöst wurde.<br>
<strong><em>Tipp:</em></strong> Wenn Sie für diesen Bereich keine Berechtigung haben, wird das Hauptmenü geöffnet.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="290">3. plentymarkets POS personalisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den Einstellungen der plentymarkets App können Sie das Hintergrundbild ändern und für Android-Geräte den Vollbildmodus aktivieren. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="sect2">
<h3 id="_darstellung_anpassen">3.1. Darstellung anpassen</h3>
<div class="paragraph instruction">
<p>Darstellung anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie die plentymarkets App.</p>
</li>
<li>
<p>Tippen Sie oben links auf das Menüsymbol.<br>
→ Das Menü wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Darstellung</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie <a href="#tabelle-POS-darstellung">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-POS-darstellung" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Darstellung anpassen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Hintergrund wählen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hintergrund wählen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf das Bild tippen, das als Hintergrund in der Kasse angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Vollbildmodus verwenden</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vollbildmodus</strong><br>
(nur Android-Geräte)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um die Softkeys des Betriebssystems auszublenden.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Kassieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem Sie sich bei plentymarkets POS angemeldet haben, wird das POS-Menü angezeigt. Tippen Sie auf <strong>Kassieren</strong>, um den POS-Warenkorb zu öffnen und Artikel hinzuzufügen.</p>
</div>
<div class="sect2">
<h3 id="40">4.1. Artikel zum POS-Warenkorb hinzufügen</h3>
<div class="paragraph">
<p>Artikel fügen Sie über die Artikelsuche, die Favoritenliste oder per Etiketten-Scan zum POS-Warenkorb hinzu.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">MHD-/Chargen-Daten</div>
<div class="paragraph">
<p>Artikel mit MHD-/Chargen-Daten werden nicht gefunden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="50">4.1.1. Artikel suchen</h4>
<div class="paragraph">
<p>Über die Artikelsuche haben Sie Zugriff auf den gesamten Artikelbestand des Mandanten. Eine Suche ist anhand folgender Artikeldaten möglich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Variantennummer</p>
</li>
<li>
<p>Barcode</p>
</li>
<li>
<p>Artikelname</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Lieferanten-Artikel-Nr.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um Artikel über die Suche zum POS-Warenkorb hinzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Artikel über Suche hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im POS-Warenkorb auf die Lupe.<br>
→ Die Artikelsuche wird geöffnet.</p>
</li>
<li>
<p>Geben Sie ein Suchkriterium ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Suchen</strong>.<br>
→ Die gefundenen Artikel werden aufgelistet.<br>
<strong><em>Hinweis:</em></strong> Artikel mit MHD-/Chargen-Daten werden nicht gefunden.</p>
</li>
<li>
<p>Tippen Sie auf das grün hinterlegte Häkchen, um einen Artikel in den Warenkorb zu legen.<br>
→ Das Fenster <strong>Menge eingeben</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie die Menge des Artikels ein, die Sie in den Warenkorb legen möchten.<br>
→ Der Artikel wird in den Warenkorb gelegt und die zu zahlende Summe aktualisiert.<br>
<strong><em>Tipp:</em></strong> Artikel ohne Nettowarenbestand werden in roter Schrift dargestellt, können aber verkauft werden.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="60">4.1.2. Favoritenliste öffnen</h4>
<div class="paragraph">
<p>Über die Favoritenliste greifen Sie schnell auf als Favoriten gekennzeichnete Artikel zu. plentymarkets Administratoren können eine Favoritenliste für die Kasse hinterlegen. Aber auch Sie selbst können häufig gekaufte Artikel als Favoriten kennzeichnen, um den Kassiervorgang zu beschleunigen. Gehen Sie wie unten beschrieben vor, um Artikel über die Favoritenliste zum POS-Warenkorb hinzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Artikel über Favoritenliste hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im POS-Warenkorb auf den Stern.<br>
→ Die Liste der Favoriten wird geöffnet.<br>
<strong><em>Hinweis:</em></strong> Artikel mit MHD-/Chargen-Daten werden nicht gefunden.<br></p>
</li>
<li>
<p>Tippen Sie auf das grün hinterlegte Häkchen, um einen Artikel in den Warenkorb zu legen.<br>
→ Das Fenster <strong>Menge eingeben</strong> wird angezeigt.<br></p>
</li>
<li>
<p>Geben Sie die Menge des Artikels ein, die Sie in den Warenkorb legen möchten.<br>
→ Der Artikel wird in den Warenkorb gelegt und die zu zahlende Summe aktualisiert.</p>
</li>
<li>
<p>Bearbeiten Sie den POS-Auftrag wie gewohnt weiter.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="70">4.1.3. Artikeletikett scannen</h4>
<div class="paragraph">
<p>Wenn Sie mit Artikeletiketten arbeiten, können Sie Artikel auch das Etikett eines Artikels scannen, um den Artikel zum POS-Warenkorb hinzufügen. Artikel können Sie über die Kamera des Mobilgeräts oder einen angeschlossenen Bluetooth-Scanner einlesen. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Artikeletikett mit integrierter Gerätekamera scannen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im POS-Warenkorb auf das Etikettensymbol.<br>
→ Die Kamera des Mobilgeräts wird aktiviert.</p>
</li>
<li>
<p>Tippen Sie auf das Kamerasymbol, um das Etikett zu scannen.<br>
<strong><em>Hinweis:</em></strong> Artikel mit MHD-/Chargen-Daten werden nicht gefunden.<br>
→ Der Artikel wird mit einer Menge von 1 in den POS-Warenkorb gelegt.<br>
→ Die zu zahlende Summe wird aktualisiert.<br>
<strong><em>Tipp:</em></strong> Wenn in der untersten Zeile des Ziffernblocks der Kasse der Button <strong>X</strong> eingeblendet ist, können Sie auf diesen Button tippen, die Menge eingeben und dann den Artikel scannen oder einen Favoritenartikel wählen. Der Artikel wird dann mit der eingegebenen Menge in den POS-Warenkorb gelegt. Ein Administrator für die Kasse muss diese Komfortfunktion aktivieren.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Artikeletikett mit externem Bluetooth-Scanner scannen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den POS-Warenkorb.<br></p>
</li>
<li>
<p>Scannen Sie das Etikett des Artikels. <br>
<strong><em>Hinweis:</em></strong> Artikel mit MHD-/Chargen-Daten werden nicht gefunden.<br>
→ Der Artikel wird mit einer Menge von 1 in den POS-Warenkorb gelegt.<br>
→ Die zu zahlende Summe wird aktualisiert.<br>
<strong><em>Tipp:</em></strong> Wenn in der untersten Zeile des Ziffernblocks der Kasse der Button <strong>X</strong> eingeblendet ist, können Sie auf diesen Button tippen, die Menge eingeben und dann den Artikel scannen oder einen Favoritenartikel wählen. Der Artikel wird dann mit der eingegebenen Menge in den POS-Warenkorb gelegt. Ein Administrator für die Kasse muss diese Komfortfunktion aktivieren.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="80">4.2. Zahlung entgegennehmen</h3>
<div class="paragraph">
<p>Nachdem Sie alle Artikel des Kunden in den POS-Warenkorb gelegt haben und bei Bedarf Rabatte/Verkaufsgutscheine angewendet haben, buchen Sie die Zahlung. Kundinnen können in bar und je nach den Abläufen in Ihrem Ladengeschäft auch über einen EC-Terminal oder per Gutschein bezahlen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Auftrag stornieren</div>
<div class="paragraph">
<p>Sie können einen POS-Auftrag direkt stornieren, nachdem Sie die Zahlung gebucht haben. Tippen Sie dazu in der Ansicht <strong>Auftrag erstellt</strong> auf <strong>Auftrag stornieren</strong>. Bereits abgeschlossene Aufträge, die seit dem letzten Tagesabschluss über die Kasse erstellt wurden, stornieren Sie über das Menü <a href="/omni-channel/pos/pos-kassenbenutzer#173">POS » Auftrag stornieren</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_bargeld_entgegennehmen">4.2.1. Bargeld entgegennehmen</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um Barzahlungen entgegenzunehmen.</p>
</div>
<div class="paragraph instruction">
<p>Bargeld entgegennehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Geben Sie über das Ziffernfeld den Betrag ein, den Sie vom Kunden erhalten haben.<br>
<strong><em>Tipp:</em></strong> Wenn in der untersten Zeile des Ziffernblocks der Button <strong>Passend</strong> angezeigt wird, können Sie stattdessen auf diesen Button tippen, wenn Kunden den Betrag passend in bar zahlen. Die erhaltene Summe wird dann automatisch in das Feld <strong>Erhalten</strong> eingefügt. Ein Administrator für die Kasse muss diese Komfortfunktion aktivieren.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Betrag erhalten</strong>.<br>
→ Die Ansicht <strong>Auftrag erstellt</strong> wird angezeigt.<br>
→ Der Auftrag wird erstellt.<br>
→ Ein Beleg wird gedruckt. Alternativ tippen Sie auf <strong>Beleg drucken</strong>, um den Beleg zu drucken.<br>
<strong><em>Tipp:</em></strong> Über den Button <strong>Auftrag anzeigen</strong> rufen Sie die Auftragsdaten auf.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Neuer Auftrag</strong>, um einen neuen POS-Auftrag zu erstellen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_zahlung_über_externes_ec_terminal_entgegennehmen">4.2.2. Zahlung über externes EC-Terminal entgegennehmen</h4>
<div class="paragraph instruction">
<p>Zahlung über externes EC-Terminal entgegennehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie auf <strong>EC-Terminal</strong>.<br>
→ Die zu zahlende Auftragssumme wird angezeigt.</p>
</li>
<li>
<p>Führen Sie die Zahlung am EC-Terminal durch.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Betrag erhalten/Zahlung abschließen</strong>, um den Auftrag abzuschließen.<br>
→ Die Ansicht <strong>Auftrag erstellt</strong> wird angezeigt.<br>
→ Der Auftrag wird erstellt.<br>
→ Ein Beleg wird gedruckt. Alternativ tippen Sie auf <strong>Beleg drucken</strong>, um den Beleg zu drucken.<br>
<strong><em>Tipp:</em></strong> Über den Button <strong>Auftrag anzeigen</strong> rufen Sie die Auftragsdaten auf.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Neuer Auftrag</strong>, um einen neuen POS-Auftrag zu erstellen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_zahlung_über_angebundenes_ec_terminal_entgegennehmen">4.2.3. Zahlung über angebundenes EC-Terminal entgegennehmen</h4>
<div class="paragraph instruction">
<p>Zahlung über angebundenes EC-Terminal entgegennehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie auf <strong>EC-Terminal</strong>.</p>
</li>
<li>
<p>Folgen Sie den angezeigten Hinweisen, um die Zahlung über das Terminal abzuschließen.<br>
→ Die Ansicht <strong>Auftrag erstellt</strong> wird angezeigt.<br>
→ Der Auftrag wird erstellt.<br>
→ Die Belege werden gedruckt. Alternativ tippen Sie auf <strong>Händlerbeleg drucken</strong> bzw. <strong>Kundenbeleg drucken</strong>, um das Drucken manuell zu starten.<br>
<strong><em>Tipp:</em></strong> Über den Button <strong>Auftrag anzeigen</strong> rufen Sie die Auftragsdaten auf.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Neuer Auftrag</strong>, um einen neuen POS-Auftrag zu erstellen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="160">4.2.4. Verkaufsgutscheine entgegennehmen</h4>
<div class="paragraph">
<p>Jeder Verkaufsgutschein hat einen einzigartigen Gutschein-Code. Diesen Gutschein-Code geben Sie während des Kassiervorgangs ein, um den Gutschein auf den Einkauf des Kunden anzuwenden. Damit Kunden einen Gutschein-Code einlösen können, muss dieser Gutschein-Code zu dem Zeitpunkt, in dem eine Kundin den Gutschein einlösen möchte, im plentymarkets System gespeichert sein. Ab App-Version 1.8.1 können Kunden pro Kassenvorgang auch mehrere Gutscheine einlösen. Beim Erstellen des Auftrags werden die Gutscheine in derselben Reihenfolge eingelöst, in der Sie die Gutscheincodes eingeben. Wenn Sie einen Gutscheincode entfernen, bevor der Auftrag erstellt wurde, wird der Restbetrag neu berechnet.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufsgutscheine einlösen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Legen Sie die Artikel in den POS-Warenkorb, die der Kunde kaufen möchte.</p>
</li>
<li>
<p>Tippen Sie unten im POS-Warenkorb auf den grün hinterlegten Pfeil nach rechts.<br>
→ Eine Zusammenfassung des Auftrags und die verfügbaren Zahlungsmethoden werden angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Gutschein/Rabatt</strong>.</p>
</li>
<li>
<p>Geben Sie in das Feld <strong>Gutscheincode/Rabatt</strong> den Gutscheincode ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Gutschein</strong>.<br>
→ Die Gutscheinsumme wird von der Auftragssumme abgezogen.<br>
→ Die Restsumme wird angezeigt, die der Kunde noch bezahlen muss.</p>
</li>
<li>
<p>Wenn der Kunde weitere Gutscheine einlösen möchte, geben Sie diese Gutscheincodes auf dieselbe Art ein.<br>
<strong><em>Hinweis:</em></strong> Die Gutscheine werden in derselben Reihenfolge eingelöst, in der Sie die Gutscheincodes eingeben. Wenn Sie einen Gutscheincode wieder entfernen, wird die Restsumme neu berechnet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Zurück</strong>.</p>
</li>
<li>
<p>Bearbeiten Sie den POS-Auftrag wie gewohnt weiter.<br>
→ Wenn Sie Rabatte auf den Auftrag oder einzelne Artikel vergeben, nachdem Sie einen oder mehrere Codes eingegeben haben, wird die Restsumme neu berechnet.</p>
</li>
<li>
<p>Schließen Sie den POS-Auftrag ab.<br>
→ Wenn Sie mit Gutscheinbelegen arbeiten und der Gutschein nicht vollständig eingelöst wird, wird ein Gutscheinbeleg erstellt. Händigen Sie dem Kunden dann zusammen mit dem Kaufbeleg auch den Gutscheinbeleg aus.<br>
<strong><em>Tipp:</em></strong> Ob der Gutscheinbeleg automatisch gedruckt wird, hängt von den Kasseneinstellungen ab.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="150">4.2.5. Artikel auf Rechnung verkaufen</h4>
<div class="paragraph">
<p>Wenn im plentymarkets Backend das Plugin <strong>plentyPOS Kauf auf Rechnung</strong> aktiviert ist, können Sie Bestandskunden auch Artikel auf Rechnung verkaufen. Kunden können Artikel nur auf Rechnung kaufen, wenn ihre Kundendaten im System gespeichert sind, da über plentyPOS keine neuen Kundendaten erfasst werden können.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Retouren von auf Rechnung gekauften Artikeln</div>
<div class="paragraph">
<p>Aufträge mit Kauf auf Rechnung können bis zum nächsten Tagesabschluss wie gewohnt storniert werden. Auch die Retoure von auf Rechnung gekauften Artikeln ist ab Version 1.8 der plentymarkets App möglich. Bei Teilzahlung errechnet die Kasse automatisch, welchen Betrag Kunden zurückbekommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Artikel auf Rechnung verkaufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Fügen Sie die Artikel <a href="#40">zum POS-Warenkorb hinzu</a>.</p>
</li>
<li>
<p>Rufen Sie die <a href="#135">Kundendaten der Kundin</a> auf.<br>
<strong><em>Wichtig:</em></strong> Vergewissern Sie sich, dass die Kundin wirklich die in den Kundendaten gespeicherte Person ist.<br>
→ Nachdem ein Kundendatensatz gewählt wurde, wird das Symbol <strong>Rechnungskauf</strong> wählbar.</p>
</li>
<li>
<p>Tippen Sie auf das Symbol <strong>Rechnungskauf</strong>.<br>
→ Ein Fenster mit Auftragsdaten und Kundendaten wird angezeigt.</p>
</li>
<li>
<p>Prüfen Sie die Auftragsdaten.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Rechnung</strong>.<br>
→ Die Ansicht <strong>Auftrag erstellt</strong> wird angezeigt.<br>
→ Der Auftrag wird erstellt.<br>
→ Die Rechnung wird gedruckt. Alternativ tippen Sie auf <strong>Rechnung drucken</strong>, um die Rechnung zu drucken.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Neuer Auftrag</strong>, um einen neuen POS-Auftrag zu erstellen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="90">4.3. Optionale Kassiervorgänge</h3>
<div class="sect3">
<h4 id="250">4.3.1. Verkaufsgutschein verkaufen</h4>
<div class="paragraph">
<p>Jeder Verkaufsgutschein hat einen einzigartigen Gutschein-Code. Dieser Gutschein-Code wird auf dem Beleg ausgegeben, wenn Sie einen Gutscheinartikel verkaufen. Damit Kunden einen Gutschein-Code einlösen können, muss dieser Gutschein-Code zu dem Zeitpunkt, in dem die Kundin den Gutschein einlösen möchte, im plentymarkets System gespeichert sein. Je nach den Abläufen in Ihrem Ladengeschäft generieren Sie Gutschein-Codes entweder automatisch beim Verkauf des Gutscheins oder Sie arbeiten mit Gutschein-Code-Listen, die Ihnen Ihr Arbeitgeber zur Verfügung stellt. Die Codes auf dieser Liste sind entweder bereits im System gespeichert oder Sie speichern die Codes beim Verkauf. Erkundigen Sie sich bei Ihrem Arbeitgeber, wie Sie beim Verkauf von Gutscheinen vorgehen sollten.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufsgutschein verkaufen und automatischen Gutschein-Code generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Legen Sie den Gutscheinartikel mit dem gewünschten Gutscheinwert in den POS-Warenkorb.</p>
</li>
<li>
<p>Wählen Sie die Menge.<br>
→ Das Fenster <strong>Gutschein wählen</strong> wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Generieren</strong>.<br>
<strong><em>Tipp:</em></strong> Wenn Sie mehr als einen Gutschein als Menge wählen, wird dieser Schritt übersprungen.</p>
</li>
<li>
<p>Geben Sie ggf. den Wert des Gutscheins ein.<br>
→ Bei Gutscheinartikeln mit festem Preis wird der Gutscheinwert automatisch übernommen.</p>
</li>
<li>
<p>Schließen Sie den Auftrag wie gewohnt ab.<br>
→ Der Gutschein-Code wird auf dem Kassenbeleg ausgegeben.</p>
</li>
<li>
<p>Händigen Sie dem Kunden den Kassenbeleg aus.</p>
</li>
<li>
<p>Wenn Sie auch Gutscheinbelege drucken, händigen Sie dem Kunden auch den Gutscheinbeleg aus.<br>
<strong><em>Hinweis:</em></strong> Der Gutschein-Code steht auf dem Gutscheinbeleg und dem Kassenbeleg. Daher sollten Kunden beide Belege mitnehmen, damit niemand sonst den Gutschein einlösen kann.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Verkaufsgutschein verkaufen und vorhandenen Gutschein-Code eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Legen Sie den Gutscheinartikel mit dem gewünschten Gutscheinwert in den POS-Warenkorb.</p>
</li>
<li>
<p>Wählen Sie die Menge 1.<br>
<strong><em>Tipp:</em></strong> Wenn Sie mehr als einen Gutschein als Menge wählen, werden die Gutschein-Codes automatisch generiert.<br>
→ Das Fenster <strong>Gutschein wählen</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie in das Feld <strong>Gutschein-Code</strong> den Code ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Vorhandenen</strong>.<br>
→ Der Gutscheinwert wird im System ermittelt und übernommen.</p>
</li>
<li>
<p>Schließen Sie den Auftrag wie gewohnt ab.<br>
→ Der Gutschein-Code wird auf dem Kassenbeleg ausgegeben.</p>
</li>
<li>
<p>Händigen Sie dem Kunden den Kassenbeleg aus.</p>
</li>
<li>
<p>Wenn Sie auch Gutscheinbelege drucken, händigen Sie dem Kunden auch den Gutscheinbeleg aus.<br>
<strong><em>Hinweis:</em></strong> Der Gutschein-Code steht auf dem Gutscheinbeleg und dem Kassenbeleg. Daher sollten Kunden beide Belege mitnehmen, damit niemand sonst den Gutschein einlösen kann.</p>
</li>
<li>
<p>Dokumentieren Sie, welchen Gutschein-Code Sie verkauft haben.<br>
<strong><em>Hinweis:</em></strong> Jeder Gutschein-Code darf nur einmal verkauft werden, da der Betrag nur einmal eingelöst werden kann.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Verkaufsgutschein verkaufen und Gutschein-Code im System speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Legen Sie den Gutscheinartikel mit dem gewünschten Gutscheinwert in den POS-Warenkorb.</p>
</li>
<li>
<p>Wählen Sie die Menge 1.<br>
<strong><em>Tipp:</em></strong> Wenn Sie mehr als einen Gutschein als Menge wählen, werden automatisch Gutschein-Codes generiert.<br>
→ Das Fenster <strong>Gutschein wählen</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie in das Feld <strong>Gutschein-Code</strong> den Code ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Generieren</strong>.<br>
→ Das Fenster <strong>Gutscheinwert eingeben</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie den Wert des Gutscheins ein.</p>
</li>
<li>
<p>Schließen Sie den Auftrag wie gewohnt ab.<br>
→ Der Gutschein-Code wird auf dem Kassenbeleg ausgegeben.</p>
</li>
<li>
<p>Händigen Sie dem Kunden den Kassenbeleg aus.</p>
</li>
<li>
<p>Wenn Sie auch Gutscheinbelege drucken, händigen Sie dem Kunden auch den Gutscheinbeleg aus.<br>
<strong><em>Hinweis:</em></strong> Der Gutschein-Code steht auf dem Gutscheinbeleg und dem Kassenbeleg. Daher sollten Kunden beide Belege mitnehmen, damit niemand sonst den Gutschein einlösen kann.</p>
</li>
<li>
<p>Dokumentieren Sie, welchen Gutschein-Code Sie verkauft haben.<br>
<strong><em>Hinweis:</em></strong> Jeder Gutschein-Code darf nur einmal verkauft werden, da der Betrag nur einmal eingelöst werden kann.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="135">4.3.2. Bestandskunde wählen</h4>
<div class="paragraph">
<p>Standardmäßig wird für Kassiervorgänge der Standardkunde verwendet, der für die Kasse gespeichert wurde. Während des Kassierens haben Sie jedoch auch die Möglichkeit, einen anderen in plentymarkets gespeicherten Kundendatensatz zu wählen. Nachdem Sie den Kassiervorgang abgeschlossen haben, wird für den nächsten POS-Auftrag automatisch wieder der Standardkunde voreingestellt.</p>
</div>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Bestandskunden zu wählen. Eine Suche ist anhand der folgenden Kundeninformationen möglich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Kontakt-ID</strong> = Kontakt-ID des Kunden</p>
</li>
<li>
<p><strong>Kundendaten</strong> = Vorname, Nachname, Firma, Kontaktperson, eBay-Name, Zusatzname, Straße, PLZ, Ort, E-Mail-Adresse, Kundennummer, Externe Kunden-ID, Such-Tags, PostIdent</p>
</li>
<li>
<p><strong>PLZ</strong> = Postleitzahl des Kunden</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Bestandskunde wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im POS-Warenkorb unten auf das Kundensymbol.<br>
→ Die Daten des Standardkunden werden angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf die <strong>Lupe</strong>.<br>
→ Die Ansicht <strong>Kundensuche</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie die Kundendaten ein, die Ihnen bekannt sind, um den Kundendatensatz zu suchen.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Suchen</strong>.<br>
→ Die Suchergebnisse werden aufgelistet.</p>
</li>
<li>
<p>Tippen Sie auf einen Kundendatensatz.<br>
→ Die für den Kunden gespeicherten Adressen werden aufgelistet.</p>
</li>
<li>
<p>Tippen Sie auf eine Adresse.<br>
→ Wenn für den Kundendatensatz nur eine Adresse gespeichert ist, ist diese Adresse bereits gewählt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Adresse verwenden</strong>.<br>
→ Der Kundendatensatz wird gewählt.</p>
</li>
<li>
<p>Wenn sich Artikel im POS-Warenkorb befinden, erfolgt die Abfrage <strong>Preise aktualisieren?</strong>. Wenn Sie <strong>Ja</strong> wählen, werden Rabatte, die für die Kundenklasse des gewählten Kunden gelten, auf alle Artikel des Auftrags angewendet.<br>
→ Die Kundendaten werden übernommen.<br>
<strong><em>Tipp:</em></strong> Über das Symbol <strong>Zurücksetzen</strong> können Sie den Standardkunden wiederherstellen.</p>
</li>
<li>
<p>Tippen Sie rechts oben auf das <strong>X</strong> oder neben das Fenster, um zurück in den POS-Warenkorb zu springen.<br>
→ Der gewählte Kunde wird im POS-Warenkorb angezeigt.</p>
</li>
<li>
<p>Bearbeiten Sie den Auftrag wie gewohnt weiter.<br>
→ Nachdem Sie den POS-Auftrag abgeschlossen haben, wird wieder der Standardkunde eingestellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kassenbeleg per E-Mail an Kunden senden</div>
<div class="paragraph">
<p>Über eine <a href="/omni-channel/pos/pos-einrichten#70">Ereignisaktion</a> kann der Beleg  als Anhang per E-Mail an den Kunden gesendet werden, sobald ein Beleg generiert wird. Bei POS-Aufträgen, die Sie im Offline-Modus abschließen, wird der Beleg jedoch erst versendet, wenn die POS-Aufträge hochgeladen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="100">4.3.3. Notiz zum Auftrag hinzufügen</h4>
<div class="paragraph">
<p>Um zusätzliche Informationen am Auftrag zu hinterlegen, speichern Sie eine Notiz, bevor Sie den Auftrag abschließen. Notizen werden mit dem Auftrag in das plentymarkets Backend importiert.</p>
</div>
<div class="paragraph instruction">
<p>Notiz zum Auftrag hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im POS-Warenkorb auf <strong>Notiz</strong>.<br>
→ Eine Liste der bereits am Auftrag gespeicherten Notizen wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Notiz hinzufügen</strong>.<br>
→ Das Fenster <strong>Notiz hinzufügen</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie den Notiztext ein.</p>
</li>
<li>
<p>Tippen Sie auf das Häkchen, um die Notiz am Auftrag zu speichern.<br>
→ Die Notiz wird in der Liste der Notizen angezeigt und mit dem Auftrag in plentymarkets importiert.</p>
</li>
<li>
<p>Tippen Sie auf das <strong>X</strong>, um die Ansicht zu schließen und zurück in die Warenkorbanzeige zu gelangen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="110">4.3.4. Kassiervorgang unterbrechen/Bon parken</h4>
<div class="paragraph">
<p>Wenn sich ein Kassiervorgang verzögert, Sie aber schon Artikel in den POS-Warenkorb gelegt haben, können Sie den aktuellen Stand des Warenkorbs speichern, indem Sie den Bon parken. Auch mehrere Bons können so zwischengespeichert werden.</p>
</div>
<div class="sect4">
<h5 id="120">Bon parken</h5>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Bon zu parken.</p>
</div>
<div class="paragraph instruction">
<p>Bon parken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im POS-Warenkorb oben rechts auf die vertikale Ellipse.<br>
→ Weitere Optionen werden eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Bon parken</strong>.<br>
→ Das Fenster <strong>Bon parken</strong> wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Ja</strong>.<br>
→ Der Bon wird gespeichert und ein neuer POS-Warenkorb angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect4">
<h5 id="130">Geparkten Bon laden</h5>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen geparkten Bon zu laden und den Kassiervorgang abzuschließen.</p>
</div>
<div class="paragraph instruction">
<p>Geparkten Bon laden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im POS-Warenkorb oben rechts auf die vertikale Ellipse.<br>
→ Weitere Optionen werden eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Bon laden</strong>.<br>
→ Eine Liste der geparkten Bons wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf den Bon, den Sie laden möchten.<br>
→ Die geparkten Artikel dieses Bons werden im POS-Warenkorb angezeigt.</p>
</li>
<li>
<p>Bearbeiten Sie den POS-Auftrag wie gewohnt weiter.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect3">
<h4 id="140">4.3.5. Auftragsposition bearbeiten</h4>
<div class="paragraph">
<p>Sie können Artikel im POS-Warenkorb weiter bearbeiten. Änderungen, die Sie über diese Funktion vornehmen, wirken sich grundsätzlich nur auf diesen Auftrag aus, nicht auf den Datensatz des Artikels im System.</p>
</div>
<div class="paragraph instruction">
<p>Auftragspositionen bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie auf die Auftragsposition im POS-Warenkorb.<br>
→ Weitere Optionen werden eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf die gewünschte Einstellung. Beachten Sie <a href="#tabelle-POS-kassenpersonal-auftragspositionen-bearbeiten">Tabelle 3</a>.</p>
</li>
</ol>
</div>
<table id="tabelle-POS-kassenpersonal-auftragspositionen-bearbeiten" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Auftragspositionen bearbeiten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Fenster <strong>Menge ändern</strong>. Neue Menge eingeben und auf <strong>OK</strong> tippen, um die Menge des Artikels im Warenkorb anzupassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelposition umbenennen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neuen Namen eingeben und auf <strong>OK</strong> tippen, um den Namen der Auftragsposition zu ändern. Der Name wird nur in diesem Auftrag geändert. Der Name des Artikels im System bleibt unverändert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einzelpreis ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neuen Preis eingeben und auf <strong>OK</strong> tippen, um den Einzelpreis der gesamten Menge der Auftragspositionen zu ändern. Der Preis wird nur in diesem Auftrag geändert. Der Preis des Artikels im System bleibt unverändert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtpreis ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neuen Preis eingeben und auf <strong>OK</strong> tippen, um den Gesamtpreis der gesamten Menge der Auftragsposition zu ändern. Der Preis wird nur in diesem Auftrag geändert. Der Preis des Artikels im System bleibt unverändert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpreis zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt Preise, die über <strong>Einzelpreis ändern</strong> oder <strong>Gesamtpreis ändern</strong> geändert wurden, auf den ursprünglichen Preis zurück.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabatt hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabatt in Prozent eingeben und auf <strong>OK</strong> tippen, um einen Rabatt auf die Auftragsposition zu gewähren. Der Preis wird nur in diesem Auftrag geändert. Der Preis des Artikels im System bleibt unverändert.<br>
<strong><em>Hinweis:</em></strong> Wenn Rabatte auf einzelne Auftragspositionen hinzugefügt wurden, kann kein Rabatt auf den gesamten POS-Warenkorb eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabatt entfernen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt Preise, die über <strong>Rabatt hinzufügen</strong> rabattiert wurden, auf den ursprünglichen Preis zurück.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht den Artikel aus dem POS-Warenkorb.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="170">4.3.6. Rabatt auf gesamten Auftrag anwenden</h4>
<div class="paragraph">
<p>Statt einzelne Auftragspositionen zu rabattieren, haben Sie auch die Möglichkeit, einen Rabatt auf alle Artikel im POS-Warenkorb anzuwenden, nachdem Sie alle Artikel des Kunden in den POS-Warenkorb gelegt haben. Ein Rabatt auf den gesamten POS-Warenkorb ist allerdings nur möglich, wenn nicht schon ein Rabatt auf einen oder mehrere Artikel im POS-Warenkorb angewendet wurde. Gehen Sie wie hier beschrieben vor, um einen Rabatt auf den gesamten POS-Warenkorb anzuwenden.</p>
</div>
<div class="paragraph instruction">
<p>Rabatt auf gesamten Warenkorb anwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie unten im POS-Warenkorb auf den grün hinterlegten Pfeil nach rechts.<br>
→ Eine Zusammenfassung des Auftrags und die verfügbaren Zahlungsmethoden werden angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Gutschein / Rabatt</strong>.</p>
</li>
<li>
<p>Geben Sie in das Feld <strong>Gutscheincode/Rabatt</strong> den Rabatt in Prozent ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Rabatt</strong>.<br>
→ Die Rabattsumme wird von der Auftragssumme abgezogen und die neue Auftragssumme eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Zurück</strong>.</p>
</li>
<li>
<p>Bearbeiten Sie den POS-Auftrag wie gewohnt weiter.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="173">5. Auftrag stornieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Über den POS-Menüpunkt <strong>Auftrag stornieren</strong> stornieren Sie abgeschlossene POS-Aufträge, die seit dem letzten Tagesabschluss über die Kasse erstellt wurden. Gehen Sie wie unten beschrieben vor, um einen POS-Auftrag zu stornieren.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Stornierung von POS-Aufträgen nur über die Kasse</div>
<div class="paragraph">
<p>Wenn Sie POS-Aufträge über das plentymarkets Backend stornieren, entstehen Fehler bei den Kassendaten (Tagesabschlüsse, Barbestand etc.). Stornieren Sie POS-Aufträge daher nur über die Kasse und nicht im plentymarkets Backend.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Auftrag stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Auftrag stornieren</strong>.<br>
<strong><em>Tipp:</em></strong> Der Menüpunkt ist nur wählbar, wenn Sie berechtigt sind, Aufträge zu stornieren.<br>
→ Nicht stornierte Aufträge, die seit dem letzten Tagesabschluss über die Kasse erstellt wurden, werden aufgelistet.</p>
</li>
<li>
<p>Tippen Sie auf das Icon <strong>Stornieren</strong>.<br>
→ Alternativ tippen Sie auf den Auftrag, um die Detailansicht zu öffnen, und dort auf das Icon <strong>Stornieren</strong>.</p>
</li>
<li>
<p>Bestätigen Sie die Stornierung.<br></p>
</li>
<li>
<p><strong><em>Je nach Kartenterminal:</em></strong> Wählen Sie, ob der stornierte Betrag bar oder über das Terminal zurückerstattet werden soll.</p>
</li>
<li>
<p>Zahlen Sie den stornierten Betrag bar aus oder wickeln Sie die Rückzahlung über das Kassenterminal/den Payment-Provider ab.<br>
→ Der Auftrag wird storniert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="175">6. Retoure buchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Kunden Artikel zurückgeben möchten, haben Sie zwei Möglichkeiten, eine Retoure zu buchen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#370">Sie öffnen den Hauptauftrag und buchen die Retoure über diesen ursprünglichen Auftrag</a>.</p>
</li>
<li>
<p><a href="#380">Wenn der Hauptauftrag nicht bekannt ist oder nicht geöffnet werden kann, erstellen Sie eine Retoure ohne Hauptauftrag</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erstattung nur in bar möglich</div>
<div class="paragraph">
<p>Aus technischen Gründen kann der Retourenbetrag aktuell nur in bar an Kunden ausgezahlt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="370">6.1. Retoure mit Zuordnung zum Hauptauftrag buchen</h3>
<div class="paragraph">
<p>Wenn Sie die Auftrags-ID oder die Belegnummer (externe Auftragsnummer) des ursprünglichen Hauptauftrags kennen, rufen Sie diesen Hauptauftrag auf und wickeln die Retoure über diesen Auftrag ab. Gehen Sie wie unten beschrieben vor, um den Hauptauftrag zu öffnen und die Retourenartikel entweder zu <a href="#330">scannen</a> oder <a href="#340">manuell zu erfassen</a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Verkaufsgutscheine sind von der Retoure ausgeschlossen</div>
<div class="paragraph">
<p>Kunden können Verkaufsgutscheine nicht zurückgeben. Daher werden Verkaufsgutscheine in der Retourenansicht ausgegraut angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="330">6.1.1. Retourenartikel scannen</h4>
<div class="paragraph">
<p>Wenn Sie mit Scanner arbeiten gehen Sie wie unten beschrieben vor, um Retourenartikel zu erfassen.</p>
</div>
<div class="paragraph instruction">
<p>Retourenartikel scannen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im Menü <strong>POS</strong> auf <strong>Retoure</strong>.<br>
→ Die Retourenansicht wird geöffnet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Auftrag suchen</strong>.<br>
→ Die Auftragssuche wird geöffnet.</p>
</li>
<li>
<p>Geben Sie in das Feld <strong>Externe Auftragsnummer</strong> die Belegnummer ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Suchen</strong>.<br>
→ Die Auftragsdaten werden angezeigt.<br>
→ Je nach Kasseneinstellung sind entweder alle Auftragspositionen oder keine Auftragspositionen für die Retoure vorausgewählt.</p>
</li>
<li>
<p>Scannen Sie den Barcode der Artikel, die die Kundin zurückgeben möchte.<br>
<strong><em>Hinweis:</em></strong> Der gescannte Artikel wird mit der Menge <strong>1</strong> zur Retoure hinzugefügt. Jeder Artikel, der zurückgegeben werden soll, muss also einzeln gescannt werden.</p>
</li>
<li>
<p>Streichen Sie auf dem Kassenbeleg die zurückgegebenen Artikel durch.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Retoure erstellen</strong>.</p>
</li>
<li>
<p>Wenn der Hauptauftrag Versandkosten enthält, wählen Sie, ob diese Versandkosten erstattet werden sollen.<br>
→ Im plentymarkets Backend wird eine Retoure erstellt und mit dem Hauptauftrag verknüpft.<br>
→ Im plentymarkets Backend wird eine Gutschrift erstellt und mit der Retoure verknüpft.</p>
</li>
<li>
<p>Zahlen Sie den Retourenbetrag aus.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="340">6.1.2. Retourenartikel manuell erfassen</h4>
<div class="paragraph">
<p>Wenn Sie ohne Scanner arbeiten, erfassen Sie die Retourenartikel manuell. Wie Sie dabei vorgehen ist jedoch davon abhängig, wie die Kasse eingestellt ist. Denn je nach Kasseneinstellung sind beim Öffnen des Auftrags entweder alle Artikel eines Auftrags für die Retoure vorausgewählt oder es sind keine Artikel für die Retoure vorausgewählt. Der Retourenwarenkorb ist also beim Öffnen des Auftrags entweder voll oder leer:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Alle Auftragspositionen sind vorausgewählt, wenn Sie den Auftrag öffnen.<br>
→ <a href="#350">Entfernen Sie die Artikel aus der Retoure, die nicht zurückgegeben werden sollen.</a><br>
<strong><em>Tipp:</em></strong> Beim Öffnen des Auftrags wird rechts neben den Auftragspositionen ein Papierkorbsymbol angezeigt, über das Sie die Artikel entfernen.</p>
</li>
<li>
<p>Keine Auftragspositionen sind vorausgewählt, wenn Sie den Auftrag öffnen.<br>
→ <a href="#360">Fügen Sie die Artikel zur Retoure hinzu, die zurückgegeben werden sollen.</a><br>
<strong><em>Tipp:</em></strong> Beim Öffnen des Auftrags sind alle Auftragspositionen ausgegraut. Rechts neben den Auftragspositionen wird ein grünes Plus angezeigt, über das Sie die Artikel hinzufügen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Ob Sie beim Öffnen des Hauptauftrags einen vollen oder einen leeren Retourenwarenkorb sehen, wird in den Grundeinstellungen der Kasse im plentymarkets Backend über die Funktion <strong>Retoure mit Hauptauftrag: Zu retournierende Auftragspositionen manuell wählen</strong> festgelegt.</p>
</div>
<div class="paragraph subhead">
<p>Retourenartikel manuell erfassen, Auftragspositionen vorausgewählt</p>
</div>
<div class="paragraph">
<p>Wenn Sie im Bereich <strong>Retoure</strong> einen Auftrag öffnen, sind alle Auftragspositionen des Auftrags für die Retoure vorgemerkt. Gehen Sie wie unten beschrieben vor, um die Auftragspositionen aus der Retoure entfernen, die die Kundin nicht zurückgeben möchte.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sind die Retourenartikel vorausgewählt?</div>
<div class="paragraph">
<p>Ob Retourenartikel beim Öffnen des Auftrags vorausgewählt sind hängt davon ab, wie die Kasse eingestellt ist. Dass die Retourenartikel vorausgewählt sind erkennen Sie daran, dass rechts neben den Auftragspositionen ein kleiner Papierkorb angezeigt wird. An diesem Papierkorbsymbol erkennen Sie, dass der Retourenwarenkorb voll ist und Sie die Artikel entfernen müssen, die die Kundin nicht zurückgeben möchte.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Retourenartikel manuell erfassen, wenn alle Auftragspositionen vorausgewählt sind:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im Menü <strong>POS</strong> auf <strong>Retoure</strong>.<br>
→ Die Retourenansicht wird geöffnet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Auftrag suchen</strong>.<br>
→ Die Auftragssuche wird geöffnet.</p>
</li>
<li>
<p>Geben Sie in das Feld <strong>Externe Auftragsnummer</strong> die Belegnummer ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Suchen</strong>.<br>
→ Die Auftragsdaten werden angezeigt.<br>
→ Alle Auftragspositionen des Auftrags sind für die Retoure vorausgewählt.<br>
<strong><em>Tipp:</em></strong> Wenn der Kunde alle Artikel des Auftrags zurückgeben möchte, tippen Sie einfach sofort auf <strong>Retoure erstellen</strong>.</p>
</li>
<li>
<p>Entfernen Sie die Artikel aus der Retoure, die nicht zurückgegeben werden sollen.<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Um die gesamte Menge einer Auftragsposition aus der Retoure zu entfernen:<br></p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie auf den Papierkorb neben der Auftragsposition.<br></p>
</li>
</ol>
</div>
</li>
<li>
<p>Um eine Teilmenge einer Auftragsposition aus der Retoure zu entfernen:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie auf die Auftragsposition.<br>
→ Weitere Optionen werden eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Menge ändern</strong>.<br>
→ Das Fenster <strong>Menge ändern</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie die Anzahl des Artikels ein, die zurückgegeben wird.<br>
→ Die Menge der Auftragsposition wird aktualisiert.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</li>
<li>
<p>Ändern Sie bei Bedarf die Menge weiterer Auftragspositionen.</p>
</li>
<li>
<p>Streichen Sie auf dem Kassenbeleg die zurückgegebenen Artikel durch.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Retoure erstellen</strong>.</p>
</li>
<li>
<p>Wenn der Hauptauftrag Versandkosten enthält, wählen Sie, ob diese Versandkosten erstattet werden sollen.<br>
→ Im plentymarkets Backend wird eine Retoure erstellt und mit dem Hauptauftrag verknüpft.<br>
→ Im plentymarkets Backend wird eine Gutschrift erstellt und mit der Retoure verknüpft.</p>
</li>
<li>
<p>Zahlen Sie den Retourenbetrag aus.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Retourenartikel manuell erfassen, Auftragspositionen nicht vorausgewählt</p>
</div>
<div class="paragraph">
<p>Wenn Sie im Bereich <strong>Retoure</strong> einen Auftrag öffnen, sind keine Auftragspositionen des Auftrags für die Retoure vorgemerkt. Gehen Sie wie unten beschrieben vor, um die Auftragspositionen zur Retoure hinzuzufügen, die der Kunde zurückgeben möchte.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sind die Retourenartikel vorausgewählt?</div>
<div class="paragraph">
<p>Ob Retourenartikel beim Öffnen des Auftrags vorausgewählt sind hängt davon ab, wie die Kasse eingestellt ist. Dass die Retourenartikel nicht vorausgewählt sind erkennen Sie daran, dass die Auftragspositionen ausgegraut sind und rechts daneben ein grünes Plus angezeigt wird. An diesem grünen Plus erkennen Sie, dass der Retourenwarenkorb leer ist und Sie die Artikel hinzufügen müssen, die die Kundin zurückgeben möchte.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Retourenartikel manuell erfassen, wenn keine Auftragspositionen vorausgewählt sind:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im Menü <strong>POS</strong> auf <strong>Retoure</strong>.<br>
→ Die Retourenansicht wird geöffnet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Auftrag suchen</strong>.<br>
→ Die Auftragssuche wird geöffnet.</p>
</li>
<li>
<p>Geben Sie in das Feld <strong>Externe Auftragsnummer</strong> die Belegnummer ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Suchen</strong>.<br>
→ Die Auftragsdaten werden angezeigt.<br>
→ Keine Auftragspositionen sind für die Retoure vorausgewählt.</p>
</li>
<li>
<p>Fügen Sie die Artikel zur Retoure hinzu, die zurückgegeben werden sollen.<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Um die gesamte Menge einer Auftragsposition zur Retoure hinzuzufügen:<br></p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie auf das grüne Plus neben der Auftragsposition.<br>
→ Die gesamte Stückzahl wird zur Retoure hinzugefügt.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Um eine Teilmenge einer Auftragsposition zur Retoure hinzuzufügen:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie auf das grüne Plus neben der Auftragsposition.<br>
→ Die gesamte Stückzahl wird zur Retoure hinzugefügt.</p>
</li>
<li>
<p>Tippen Sie auf die Auftragsposition.<br>
→ Weitere Optionen werden eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Menge ändern</strong>.<br>
→ Das Fenster <strong>Menge ändern</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie die Anzahl des Artikels ein, die zurückgegeben wird.<br>
→ Die Menge der Auftragsposition wird aktualisiert.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</li>
<li>
<p>Streichen Sie auf dem Kassenbeleg die zurückgegebenen Artikel durch.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Retoure erstellen</strong>.</p>
</li>
<li>
<p>Wenn der Hauptauftrag Versandkosten enthält, wählen Sie, ob diese Versandkosten erstattet werden sollen.<br>
→ Im plentymarkets Backend wird eine Retoure erstellt und mit dem Hauptauftrag verknüpft.<br>
→ Im plentymarkets Backend wird eine Gutschrift erstellt und mit der Retoure verknüpft.</p>
</li>
<li>
<p>Zahlen Sie den Retourenbetrag aus.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_preis_von_retourenartikeln_ändern">6.1.3. Preis von Retourenartikeln ändern</h4>
<div class="paragraph">
<p>Wenn nicht der volle Kaufpreis erstattet werden soll, zum Beispiel, weil Artikel beschädigt sind, ändern Sie den Preis einer Auftragsposition.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie in der Retoure auf die Auftragsposition.<br>
→ Weitere Optionen werden eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Einzelpreis ändern</strong>, um den Einzelpreis der Auftragsposition zu ändern, oder auf <strong>Gesamtpreis ändern</strong>, um den Gesamtpreis der Auftragsposition zu ändern.<br>
→ Der Preis der Auftragsposition wird aktualisiert.</p>
</li>
<li>
<p>Schließen Sie die Retoure wie gewohnt ab.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="320">6.1.4. Hinweise zu Retouren bei Kauf auf Rechnung</h4>
<div class="paragraph">
<p>Wenn Sie Kunden Anzahlungen oder den Kauf auf Rechnung anbieten kann es vorkommen, dass Kunden Artikel aus Aufträgen zurückgeben möchten, die noch nicht oder nur teilweise bezahlt sind. plentymarkets POS berechnet automatisch, ob Sie dem Kunden Geld auszahlen sollen oder nicht. <a href="#tabelle-POS-Retoure-Rechnung">Tabelle 4</a> verdeutlicht die Berechnung, die im Hintergrund stattfindet, damit Sie Kunden diese Berechnung bei Bedarf erklären können.</p>
</div>
<table id="tabelle-POS-Retoure-Rechnung" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Retourenfälle bei Kauf auf Rechnung</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Rechnungsstatus</th>
<th class="tableblock halign-left valign-top">Teilretoure</th>
<th class="tableblock halign-left valign-top">Vollretoure</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nicht bezahlt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sie zahlen kein Geld aus.<br>
Im Hintergrund wird eine Gutschrift für zurückgegebenen Artikel erstellt.<br>
<strong><em>Tipp:</em></strong> Der Rechnungsbetrag, den der Kunde noch bezahlen muss, steht auf dem Gutschriftsbeleg.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Kunde bekommt kein Geld zurück.<br>
Im Hintergrund wird eine Gutschrift für den vollen Rechnungsbetrag erstellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Teilweise bezahlt</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Kasse errechnet automatisch, ob und wenn ja wie viel Geld der Kunde zurück bekommt. Vereinfacht lautet die Formel: Offener Rechnungsbetrag minus Preis der zurückgegebenen Artikel.</p>
</div>
<div class="paragraph">
<p>Bei Teilzahlung sind die folgenden Fälle möglich:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zurückgegebene Artikel kosten weniger als der noch offene Rechnungsbetrag = Sie zahlen kein Geld aus.<br>
Der offene Rechnungsbetrag wird angepasst (Noch offener Betrag minus Preis des zurückgegebenen Artikels).<br>
Eine Gutschrift über den Preis des zurückgegebenen Artikels wird erstellt.<br></p>
</li>
<li>
<p>Preis der zurückgegebenen Artikel entspricht dem noch offenen Rechnungsbetrag = Sie zahlen kein Geld aus.<br>
Eine Gutschrift über den Preis des zurückgegebenen Artikels wird erstellt.<br></p>
</li>
<li>
<p>Zurückgegebene Artikel kosten mehr als der noch offene Rechnungsbetrag = Sie zahlen die Differenz aus dem offenen Betrag minus dem Preis des zurückgegebenen Artikels aus. <br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im Hintergrund wird bei der Retoure eine Gutschrift für die zurückgegebenen Artikel erstellt. Dabei stimmen der Gutschriftsbetrag und der ausgezahlte Betrag nicht unbedingt überein. Wenn der ausgezahlte Betrag nicht mit dem Gutschriftsbetrag übereinstimmt, ist der ausbezahlte Betrag auf dem Gutschriftsbeleg vermerkt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sie zahlen den Betrag aus, den der Kunde bisher bezahlt hat.<br>
Der Gutschriftbetrag ist gleich dem vollen Rechnungsbetrag.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="380">6.2. Retoure ohne Zuordnung zum Hauptauftrag buchen</h3>
<div class="paragraph">
<p>In Fällen, in denen der Hauptauftrag nicht bekannt ist oder nicht aufgerufen werden kann, bietet plentymarkets POS auch die Möglichkeit, eine Retoure zu erstellen, die keinem Hauptauftrag zugeordnet ist. Das bedeutet, dass datentechnisch keine Verbindung zwischen dem ursprünglichen Auftrag und der Retoure besteht. Gehen Sie wie unten beschrieben vor, um eine Retoure ohne Zuordnung zum Hauptauftrag zu buchen.</p>
</div>
<div class="paragraph instruction">
<p>Retoure ohne Zuordnung zum Hauptauftrag buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie im Menü <strong>POS</strong> auf <strong>Retoure</strong>.<br>
→ Die Retourenansicht wird geöffnet.</p>
</li>
<li>
<p>Fügen Sie die Retourenartikel per Scan oder über die Artikelsuche hinzu.<br>
<strong><em>Hinweis:</em></strong> Artikel mit MHD-/Chargen-Daten werden nicht gefunden.<br>
→ Wenn der gezahlte Preis vom aktuellen Preis des Artikels abweicht, <a href="/omni-channel/pos/pos-kassenbenutzer#140">passen Sie den Preis des Artikels an</a>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Fügen Sie eine Notiz zur Retoure hinzu:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tippen Sie auf die Pinnwandnadel.<br>
→ Eine Liste der bereits an der Retoure gespeicherten Notizen wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Notiz hinzufügen</strong>.<br>
→ Das Fenster <strong>Notiz hinzufügen</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie den Notiztext ein.</p>
</li>
<li>
<p>Tippen Sie auf das Häkchen, um die Notiz an der Retoure zu speichern.<br>
→ Die Notiz wird gespeichert und mit der Retoure in plentymarkets importiert.</p>
</li>
<li>
<p>Tippen Sie auf das Listensymbol, um zurück in die Retourenansicht zu wechseln.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Wenn Sie alle Retourenartikel eingegeben haben, tippen Sie auf den grün hinterlegten Pfeil.<br>
→ Die Gesamtsumme der Retoure wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Retoure abschließen</strong>. <br>
→ Im plentymarkets Backend wird eine Retoure ohne Hauptauftrag erstellt.<br>
→ Im plentymarkets Backend wird eine Gutschrift ohne Hauptauftrag erstellt.</p>
</li>
<li>
<p>Zahlen Sie den Retourenbetrag aus.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">7. Einlagen und Entnahmen buchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auch Bargeldbewegungen aus und in die Kasse, die nicht durch das Buchen von Aufträgen entstehen, müssen erfasst werden. Wird Bargeld in die Kasse gelegt, zum Beispiel um ausreichend Wechselgeld vorzuhalten, findet eine Einlage statt. Wenn Bargeld aus der Kasse entnommen wird, spricht man von einer Entnahme. Bargeld wird zum Beispiel aus der Kasse genommen, um das Geld auf der Bank einzuzahlen. Gehen Sie wie unten beschrieben vor, um Einlagen und Entnahmen zu buchen.</p>
</div>
<div class="sect2">
<h3 id="190">7.1. Einlage buchen</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um eine Einlage zu buchen.</p>
</div>
<div class="paragraph instruction">
<p>Einlage buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.<br>
→ Das <strong>POS-Menü</strong> wird eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Einlagen und Entnahmen</strong>.<br>
→ Das Menü <strong>Einlage/Entnahme</strong> wird eingeblendet.</p>
</li>
<li>
<p>Wählen Sie im Bereich <strong>Grund</strong> die Art des Einlagevorfalls aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Geben Sie in das Feld <strong>Zusätzliche Angaben</strong> weitere Informationen zu der Einlage ein.</p>
</li>
<li>
<p>Tippen Sie den Betrag ein, der in die Kasse eingezahlt wird.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Einlage</strong>, um die Einlage zu speichern.<br>
→ Der Ist-Kassenbestand wird aktualisiert.<br>
→ Ein Beleg für die Einlage wird gedruckt.<br>
→ Der Beleg wird in plentymarkets importiert und im Menü <strong>Aufträge » Dokumentenarchiv</strong> gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="200">7.2. Entnahme buchen</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um eine Entnahme zu buchen.</p>
</div>
<div class="paragraph instruction">
<p>Entnahme buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.<br>
→ Das <strong>POS-Menü</strong> wird eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Einlagen und Entnahmen</strong>.<br>
→ Das Menü <strong>Einlage/Entnahme</strong> wird eingeblendet.</p>
</li>
<li>
<p>Wählen Sie im Bereich <strong>Grund</strong> die Art des Entnahmevorfalls aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Geben Sie in das Feld <strong>Zusätzliche Angaben</strong> weitere Informationen zu der Entnahme ein.</p>
</li>
<li>
<p>Tippen Sie den Betrag ein, der aus der Kasse genommen wird.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Entnahme</strong>, um die Entnahme zu speichern.<br>
→ Der Ist-Kassenbestand wird aktualisiert.<br>
→ Ein Beleg für die Entnahme wird gedruckt.<br>
→ Der Beleg wird in plentymarkets importiert und im Menü <strong>Aufträge » Dokumentenarchiv</strong> gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">8. Artikeletikett drucken</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie mit plentyBase und Etikettendruckern arbeiten, können Sie in der Artikelsuche der plentymarkets App auch Artikeletiketten drucken. Wie das geht, erfahren Sie im Kapitel <a href="/artikel/artikel-verwalten#3340">Etikett in der Artikelsuche der plentymarkets App drucken</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="210">9. Berichte erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets POS können Sie Zwischenberichte und Tagesberichte erstellen.</p>
</div>
<div class="sect2">
<h3 id="220">9.1. Zwischenbericht erstellen</h3>
<div class="paragraph">
<p>Mit Zwischenberichten informieren Sie sich im laufenden Betrieb über die Umsätze, die seit dem letzten Tagesabschluss über die Kasse generiert wurden. Sie können beliebig viele Zwischenberichte erstellen. Zwischenberichte werden nicht in plentymarkets importiert. Das Erstellen von Zwischenberichten wird also nicht langfristig dokumentiert. Zwischenberichte werden auch als X-Berichte bezeichnet.</p>
</div>
<div class="paragraph">
<p>Zwischenberichte enthalten folgende Informationen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Barbestand: Anfangsbarbestand, Entnahmen, Einlagen, Soll-Kassenbestand</p>
</li>
<li>
<p>Umsatz: seit letztem Tagesabschluss (Summe) und seit Inbetriebnahme der Kasse (Grand Total)</p>
</li>
<li>
<p>Steuerbericht: Steuersatz, Steuersumme und Nettoumsatz</p>
</li>
<li>
<p>Zahlungsarten: Aufschlüsselung des Umsatzes nach Zahlungsart</p>
</li>
<li>
<p>Retournierte Artikel: Anzahl und Summe</p>
</li>
<li>
<p>Stornierungen: Anzahl und Summe</p>
</li>
<li>
<p>Rabattierte Artikel: Anzahl und Summe</p>
</li>
<li>
<p>Verkaufsgutscheine: Anzahl und Summe verkaufter Gutscheine</p>
</li>
<li>
<p>Benutzer: Umsatz, Stornierungen und Retouren pro Benutzer</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Zwischenbericht erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.<br>
→ Das <strong>POS-Menü</strong> wird eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Zwischenbericht</strong>.<br>
<strong><em>Hinweis:</em></strong> Wenn der Menüpunkt ausgegraut ist, benötigen Sie zusätzliche <a href="/omni-channel/pos/pos-einrichten#170">Berechtigungen</a>, um Zwischenberichte zu erstellen.<br>
→ Der Zwischenbericht wird gedruckt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">9.2. Tagesabschluss erstellen</h3>
<div class="paragraph">
<p>Ein Tagesabschlussbericht dokumentiert die seit dem letzten Tagesabschlussbericht getätigten Umsätze. Durch das Drucken eines Tagesabschlussberichts werden die Tagesumsätze außerdem auf 0 zurückgesetzt. Die Tagesabschlussberichte werden mit einer fortlaufenden Nummer versehen und in plentymarkets gespeichert. Tagesabschlussberichte dienen als Nachweis gegenüber dem Finanzamt. Tagesabschlussberichte werden auch als Z-Berichte bezeichnet.</p>
</div>
<div class="paragraph">
<p>Tagesabschlussberichte enthalten folgende Informationen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Barbestand: Entnahmen, Einlagen, Soll-Kassenbestand, Ist-Kassenbestand</p>
</li>
<li>
<p>Umsatz: seit letztem Tagesabschluss (Summe) und seit Inbetriebnahme der Kasse (Grand Total)</p>
</li>
<li>
<p>Steuerbericht: Steuersatz, Steuersumme und Nettoumsatz</p>
</li>
<li>
<p>Zahlungsarten: Aufschlüsselung des Umsatzes nach Zahlungsart</p>
</li>
<li>
<p>Retournierte Artikel: Anzahl und Summe</p>
</li>
<li>
<p>Stornierungen: Anzahl und Summe</p>
</li>
<li>
<p>Rabattierte Artikel: Anzahl und Summe</p>
</li>
<li>
<p>Verkaufte Gutscheine: Anzahl und Summe</p>
</li>
<li>
<p>Benutzer: Umsatz, Stornierungen und Retouren pro Benutzer</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Tagesabschluss erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.<br>
→ Das <strong>POS-Menü</strong> wird eingeblendet.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Tagesabschluss</strong>.<br>
→ Der Soll-Kassenbestand wird eingeblendet.</p>
</li>
<li>
<p>Prüfen Sie den tatsächlichen Kassenbestand und geben Sie diesen Ist-Bestand ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Tagesabschluss erstellen</strong>.<br>
<strong><em>Hinweis:</em></strong> Wenn der Menüpunkt ausgegraut ist, benötigen Sie zusätzliche <a href="/omni-channel/pos/pos-einrichten#170">Berechtigungen</a>, um Tagesberichte zu erstellen.<br>
→ Der Tagesabschluss wird in plentymarkets importiert und im Menü <strong>Aufträge » Dokumentenarchiv</strong> gespeichert.<br>
→ Der Tagesabschluss wird gedruckt.<br>
→ Die Tagesumsätze werden auf 0 zurückgesetzt.<br>
→ Für Kassen mit Standort Österreich wird ein Nullbeleg erstellt und im Kassenjournal gespeichert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tagesabschluss für Kartenzahlungen</div>
<div class="paragraph">
<p>Wenn Sie ein Karten-Terminal an plentymarkets POS angebunden haben, können Sie bei einigen Terminals gleichzeitig mit dem plentymarkets POS Tagesabschluss einen Tagesabschluss für die Umsätze des Karten-Terminals anstoßen. Beantworten Sie die angezeigte Frage <strong>Gleichzeitig Tagesabschluss für Terminal erstellen?</strong> mit <strong>Ja</strong>, um die Kartenumsätze an den Netzbetreiber zu übermitteln und auf 0 zurückzusetzen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_kassensturzbericht_erstellen">9.3. Kassensturzbericht erstellen</h3>
<div class="paragraph">
<p>Ein Kassensturz dient dazu, den Kassenbestand zu dokumentieren, also den Bargeldbestand in Form von Geldscheinen und Münzen zu einem bestimmten Zeitpunkt. Dazu wird der Barbestand einer Kasse physisch gezählt. Aus dem Ergebnis der Zählung wird ein Zählprotokoll erstellt. Aktuell ist systemseitig die Eingabe einer Zählung von Münzen und Scheinen in den Währungen Euro, Schweizer Franken und Britische Pfund möglich.</p>
</div>
<div class="sect3">
<h4 id="_kassensturzergebnis_erfassen">9.3.1. Kassensturzergebnis erfassen</h4>
<div class="paragraph">
<p>Wenn Sie einen Kassensturz durchführen und das Ergebnis über plentymarkets POS erfassen, können Sie entweder die Anzahl der einzelnen Münzen und Geldscheine eingeben oder das Ergebnis der Zählung als Gesamtbetrag eingeben. Gehen Sie wie unten beschrieben vor, um das Ergebnis eines Kassensturzes zu dokumentieren.</p>
</div>
<div class="paragraph instruction">
<p>Kassensturzergebnis erfassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melden Sie sich bei der plentymarkets App an.</p>
</li>
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.<br>
→ Das POS-Menü wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Kassensturz</strong>.<br>
→ Das Menü <strong>Kassensturz</strong> wird angezeigt. Die Stückelung <strong>1 Cent</strong> ist automatisch ausgewählt.</p>
</li>
<li>
<p>Geben Sie über das Ziffernfeld die Menge der vorhandenen 1-Cent-Stücke ein.</p>
</li>
<li>
<p>Tippen Sie auf den grünen Return-Pfeil, um zur nächsten Stückelung zu springen.</p>
</li>
<li>
<p>Wiederholen Sie den Vorgang, bis Sie die Menge für alle vorhandenen Münzen und Geldscheine eingegeben haben.<br>
<strong><em>Alternative:</em></strong> Um statt Stückelung und Menge den Gesamtbetrag einzugeben, tippen Sie in das Feld <strong>Überschreiben</strong> und geben Sie den gezählten Betrag ein.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Kassensturz speichern</strong>.<br>
→ Ein Kassensturzbericht wird erstellt und im Menü <strong>Aufträge » Dokumentenarchiv</strong> gespeichert.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Tippen Sie auf <strong>Kassensturzbericht drucken</strong>, um den Bericht zu drucken.</p>
</li>
<li>
<p>Wenn der Ist-Kassenbestand vom Soll-Kassenbestand abweicht, gehen Sie wie unten beschrieben vor, um die Differenz zu buchen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_differenz_aus_kassensturz_buchen">9.3.2. Differenz aus Kassensturz buchen</h4>
<div class="paragraph">
<p>Wenn nach dem Zählen des Barbestands der Ist-Kassenbestand vom Soll-Kassenbestand abweicht, muss die Differenz entweder ausgeglichen oder gebucht werden. Wenn Sie die Differenz buchen, wird der Ist-Kassenbestand als neuer Soll-Kassenbestand übernommen. Gleichzeitig wird abhängig vom Vorzeichen des Differenzbetrags entweder eine Einlage oder eine Entnahme gebucht:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ist der Ist-Kassenbestand größer als der Soll-Kassenbestand, wird eine Einlage gebucht.</p>
</li>
<li>
<p>Ist ein Minusbetrag in der Kasse, wird eine Entnahme gebucht.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn Sie die Differenz eines Kassensturzes buchen, wird als Grund automatisch <strong>Differenz aus Kassensturz</strong> gespeichert.</p>
</div>
<div class="paragraph instruction">
<p>Differenz buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippen Sie nach dem Speichern des Kassensturzes auf <strong>Differenz buchen</strong>, um den Ist-Kassenbestand als neuen Soll-Kassenbestand zu speichern.<br>
→ Für den Differenzbetrag wird eine Einlage bzw. Entnahme mit dem Grund <strong>Differenz aus Kassensturz</strong> erstellt und im Menü <strong>Aufträge » Dokumentenarchiv » Kassenbeleg</strong> gespeichert.<br>
→ Der Ist-Kassenbestand wird als neuer Soll-Kassenbestand gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="280">10. Besonderheiten in Österreich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Österreichische Kassen sind mit einer Signatureinheit ausgestattet. Daraus ergeben sich einige Besonderheiten, die im Folgenden näher beschrieben werden.</p>
</div>
<div class="sect2">
<h3 id="260">10.1. Monatsbeleg erstellen (Österreich)</h3>
<div class="paragraph">
<p>Monatsbelege sind signierte Kontrollbelege mit einem Betrag von Null (0,00) Euro. Laut RKSV muss am Ende jedes Monats ein Monatsbeleg erstellt werden. Der Monatsbeleg für den Monat Dezember dient gleichzeitig als Jahresbeleg.</p>
</div>
<div class="paragraph instruction">
<p>Monatsbeleg erstellen (Österreich):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melden Sie sich bei der plentymarkets App an.</p>
</li>
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.<br>
→ Das POS-Menü wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Monatsbeleg (AT)</strong>.<br>
→ Der Monatsbeleg wird gedruckt.<br>
→ Der Monatsbeleg wird in plentymarkets importiert und im Menü <strong>Aufträge » Dokumentenarchiv</strong> gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_bei_ausfall_der_signatureinheit_kassieren_österreich">10.2. Bei Ausfall der Signatureinheit kassieren (Österreich)</h3>
<div class="paragraph">
<p>Der Gesetzgeber gibt vor, wie Sie vorgehen sollen, falls die Signatureinheit der Registrierkasse ausfällt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Notieren Sie sich den Zeitpunkt des Ausfalls.</p>
</li>
<li>
<p>Weichen Sie wenn möglich auf eine Registrierkasse mit funktionierender Signatureinheit aus.</p>
</li>
<li>
<p>Wenn keine andere Kasse verfügbar ist, können Sie trotz ausgefallener Signatureinheit weiter kassieren. Alle Belege werden dann mit dem Hinweis <strong>Sicherheitseinrichtung ausgefallen</strong> versehen.</p>
</li>
<li>
<p>Sobald die Signatureinheit wieder funktioniert, wird in plentymarkets POS automatisch ein Sammelbeleg erstellt und gedruckt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Schritte sind Empfehlungen zum Einhalten der RKSV. Erkundigen Sie sich außerdem bei Ihrer Vorgesetzten, wie Sie bei einem Ausfall genau vorgehen sollen.</p>
</div>
</div>
<div class="sect2">
<h3 id="270">10.3. Kontrollbeleg auf Verlangen der Finanzpolizei erstellen (Österreich)</h3>
<div class="paragraph">
<p>Bei einer Kassenrückschau durch die Finanzpolizei muss auf Verlangen ein Kontrollbeleg mit dem Betrag Null erstellt werden. Dieser Kontrollbeleg ermöglicht der prüfenden Person, die Gültigkeit der Signatur mit einer Prüf-App direkt vor Ort in Ihrem Laden zu überprüfen. Sie benötigen keine zusätzlichen Benutzerrechte, um den Kontrollbeleg zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Kontrollbeleg auf Verlangen erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melden Sie sich bei der plentymarkets App an.</p>
</li>
<li>
<p>Tippen Sie in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippen Sie auf <strong>POS</strong>.<br>
→ Das POS-Menü wird angezeigt.</p>
</li>
<li>
<p>Tippen Sie auf <strong>Kontrollbeleg</strong>.<br>
→ Der Kontrollbeleg wird gedruckt.<br>
→ Der Kontrollbeleg wird in plentymarkets importiert und im Menü <strong>Aufträge » Dokumentenarchiv</strong> gespeichert.<br>
<strong><em>Hinweis:</em></strong> Die Finanzpolizei darf den Kontrollbeleg als Beweismittel einbehalten.</p>
</li>
</ol>
</div>
<div class="videoblock">
<div class="content">
<video src="{{plugin_path('PlentyManual')}}/images/omni-channel/pos/assets/einloesung_cut1_fade.mp4" width="640" controls="">
Your browser does not support the video tag.
</video>
</div>
</div>
</div>
</div>
</div>
</main>