<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_clients"><span>1.</span><span> General information about clients</span></a></li>
<li><a href="#_setting_up_a_client"><span>2.</span><span> Setting up a client</span></a></li>
<li><a href="#_distributing_items_among_clients_stores"><span>3.</span><span> Distributing items among clients (stores)</span></a></li>
<li><a href="#_linking_several_clients_with_one_online_store"><span>4.</span><span> Linking several clients with one online store</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Online store</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_clients">1. General information about clients</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Client (store)</strong> menu allows you to manage and link several online stores to one back office/administrative system. This means that you can set up several further stores beside your standard online store. Up to 30 independent online stores (clients) can be managed with one plentymarkets system. These online stores are closed and independent systems. Their data is separated from the data of other stores. Consequently, it is possible to handle several different areas of business with one plentymarkets system. You will find an example with the possibilities of linking several online stores in chapter 4 of this page of the manual.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: The plentymarkets online store</div>
<div class="paragraph">
<p>plentymarkets contains a fully integrated online store function (B2B &amp; B2C). Each store is accessible via an individual domain. With the help of the integrated CMS (content management system), it is possible to carry out changes and extensions with regard to content and graphics. Individual store templates can be directly imported in a complete online store design format with pre-configured settings. This can be done in the <strong><a href="/en/omni-channel/online-store/cms">CMS</a></strong> menu. It is also possible to hire an external agency or one of our certified service providers to create the online store design for you (fee-based service).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In practice, it is useful to set up one or more additional stores if you want to offer very distinctive product portfolios on different domains. This way, you can manage orders and items in one central system. You can individually define the design and items that are to be displayed in each store.</p>
</div>
<div class="paragraph">
<p>One central system is used for processing orders. This includes the printing of invoices as well as an e-mail service. It is possible to use different <a href="/en/order-processing/orders/settings/documents#5"><strong>numbering</strong></a> systems for each client (store) and each country of delivery.</p>
</div>
<div class="paragraph">
<p>If two stores of one system are linked together with a banner, then the shopping cart will remain as it is when switching from one store to the other. For further information, refer to section 4 on this page of the manual.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Order clients (stores)</div>
<div class="paragraph">
<p>Go to <strong>Start » Service Center » Tab: Contract</strong> and click on <strong>System configurator</strong> to order additional clients (stores).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Save your data before you cancel a client (store)</div>
<div class="paragraph">
<p>Save any client-specific data you may need in the future before your client (store) is deleted.<br>
Client-specific data you will need later, e.g. scheduler or orders, by assigning them to a different client.<br>
Save revenue by carrying out a revenue export. You can save other data using the dynamic export function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_a_client">2. Setting up a client</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After the client (store) has been activated, go to <strong>System » Client</strong> and carry out the settings within the menu of the client in question. The setting options here are mainly the same as those for standard online stores. Therefore, refer to the <strong><a href="/en/omni-channel/online-store/setting-up-clients">System » Client » Select client</a></strong> pages of the manual.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Name of the menu</div>
<div class="paragraph">
<p>The menu of a client is given the name of the store. You find the main menu of a client in the <strong>System » Client</strong> menu, below the <strong>Standard</strong> menu (= your standard online store’s menu). The menus of further clients (stores) will also be organized here (image 1).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/EN-Settings-Client-01.png" alt="EN Settings Client 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: Clients (stores); overview</em></p>
</div>
<div class="paragraph">
<p>The following table contains information about the settings that differ from those settings for standard online stores.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong><a href="/en/omni-channel/online-store/setting-up-clients#basic-settings">Basic settings</a> menu</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Store ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Store ID of a client. The ID is unique and can not be changed. You can use the store ID to tell clients apart from each other. Your standard online store has the ID <strong>0</strong>. Consecutive IDs starting with ID 1 are allocated to clients (stores).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Domain</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The client’s (store) <strong><a href="/en/basics/working-with-plentymarkets#domain">domain</a></strong>. A domain is an Internet address in the form of a name and an extension, i.e. the Top Level Domain. The name and extension are separated from each other with a period.<br>
If a <strong><a href="/en/basics/working-with-plentymarkets/plentymarkets-account#ssl-certificate">SSL certificate</a></strong> was set up, the client (store)'s URL will be displayed with <strong>https</strong> instead of <strong>http</strong>.<br>
<strong><em>Tip:</em></strong>: Click on the <strong>preview icon</strong> to display the client (store).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Default language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the language for the client (store).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay account</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays the eBay accounts that were saved in the <strong><a href="/en/omni-channel/multi-channel/ebay#65">System » Markets » eBay » Accounts</a></strong> menu. Select which eBay account should be used for the client (multiple selection using <strong>Ctrl + mouse click</strong>).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong><a href="/en/omni-channel/online-store/setting-up-clients/online-store#content-pages">Online store » Pages</a> menu</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bank details page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which page includes the <strong><a href="/en/order-processing/payment/managing-bank-details">bank details</a></strong>. This page appears as part of the order status page of the online store.<br>
<strong><em>Important</em></strong>: If you use this setting you also need to go to <strong><a href="/en/order-processing/payment/managing-payment-methods">System » Orders » Payment » Payment methods</a></strong> and select the option <strong>Show bank details</strong> (place check mark) in the payment methods <strong>Invoice</strong> and <strong>Cash in advance</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong><a href="/en/omni-channel/online-store/setting-up-clients/order-process">Order process » Basic settings</a> menu</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Use standard country of delivery as company location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose <strong>Yes</strong> if you want the tax-related settings in the system, e.g. the VAT, to match the standard country of delivery that was selected.<br>
<em><strong>Important:</strong></em>VAT rates have to be saved for the standard country of delivery. This is done in the <strong><a href="/en/order-processing/orders/_accounting">System » Client » Select client » Locations » Select location » Accounting</a></strong> menu.<br>
<strong><em>Example:</em></strong> A seller has a company that is located in Germany. However, he or she has many French customers and sets up a client (store) specifically for them. The seller selects <strong>France</strong> as the <strong>Standard country of delivery</strong>. If the seller chooses <strong>Yes</strong> for the option <strong>Use standard country of delivery as company location</strong>, then France will be treated as if it were the <strong>system country</strong>. All of the processes that are associated with it will be carried out as if the company were located in France.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong><a href="/en/crm/sending-emails">E-mail</a> menu</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-mail settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you want to use an e-mail configuration for your client (store) that is different from the one set up for your standard online store, then save your new configurations in the <a href="/en/crm/sending-emails"><strong>E-mail</strong></a> submenu. If you want to use the same account, then you can copy the configuration for your standard online store.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: differing settings for clients (stores)</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_distributing_items_among_clients_stores">3. Distributing items among clients (stores)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can control which items are offered in which store by linking categories. Only those categories that were activated for the individual client (store) in the <strong><a href="/en/item/managing-categories#2">Item » Categories</a></strong> menu will be displayed in the corresponding store.</p>
</div>
<div class="paragraph instruction">
<p>Activating categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category that you want to activate for one or more clients (stores).</p>
</li>
<li>
<p>Mark the clients (stores) that should offer items of this category.</p>
</li>
<li>
<p>Select the option <strong>Apply visibility to subcategories</strong> if you want to apply the settings to all of the subcategories.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.<br>
→ The category is displayed in the selected client (store).</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Setting up the visibility of items</div>
<div class="paragraph">
<p>Set the availability and store visibility of a variation in the <strong><a href="/en/item/managing-items#230">Settings</a></strong> tab of the variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_linking_several_clients_with_one_online_store">4. Linking several clients with one online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Categories can also be distributed among several clients (stores) if only one online store is set up. This is recommended if your item category tree has grown tremendously over the years and the store customer is likely to have trouble finding his or her way around. In order to structure your store and the category tree more clearly, you can use clients (stores) to add another category level.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Linking a client with an online store</div>
<div class="paragraph">
<p>Create clients (stores) for various topics. Activate the categories that should be displayed in each store (chapter 2). Only the categories that were activated in the <strong><a href="/en/item/managing-categories#2">Item » Categories</a></strong> menu will be displayed for the corresponding client (store). In addition to the standard category navigation (image 2, purple arrow), a further navigation will be added to the <strong><a href="/en/omni-channel/online-store/cms#web-design">store design</a></strong> e.g. at the top of the page (image 2, green arrow). The clients will be linked there. The navigation bar leading to the individual clients has to be inserted using the template function <strong>&#123;&#37; Link_Store(X) &#37;&#125;</strong>. You have to replace the X by the ID of the store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/EN-Settings-Client-02.png" alt="EN Settings Client 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: additional bar for navigation in the online store (green arrow)</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example</div>
<div class="paragraph">
<p>Image 2 shows an example for an online store (sweatrelief.info) which is linked to a client (organicum.de). The client (store) organicum.de is linked in the navigation bar. Assuming this client (store) has the ID 2 in the plentymarkets backend, then the link to organicum.de would be: <strong>&lt;a href="&#123;&#37; Link_Store(2) &#37;&#125;"&gt;organicum.de&lt;/a&gt;</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>