<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Beim Schnittstellenpartner registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Exportformate im Überblick</span></a></li>
<li><a href="#300"><span>3.</span><span> Exportformate erstellen</span></a></li>
<li><a href="#400"><span>4.</span><span> Exportformate bearbeiten</span></a></li>
<li><a href="#500"><span>5.</span><span> Exportformate filtern</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Elastischer Export</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Möchtest du Daten aus deinem plentymarkets System exportieren? Das geht in zwei einfachen Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zuerst verwendest du den <a href="https://marketplace.plentymarkets.com/plugins/integration/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a>, um sogenannte Datenformate zu erstellen. Mit anderen Worten entscheidest du, welche Daten exportiert werden sollen.</p>
</li>
<li>
<p>In einem zweiten Schritt verwendest du den <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischen Export</a>, um die soeben erstellten Datenformate zu exportieren.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mit dem elastischen Export im Menü <strong>Daten » Elastischer Export</strong> erstellst du Exportformate für Preissuchmaschinen, Preisportale, Marktplätze und Affiliate-Dienstleister, mit denen du Daten an die Schnittstellenpartner überträgst. Um den elastischen Export nutzen zu können, installiere das Plugin <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a>. Das Plugin <strong>Elastischer Export</strong> erhältst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>.<br></p>
</div>
<div class="paragraph">
<p>Im plentyMarketplace stehen weitere Exportformate für den elastischen Export zur Verfügung. Installiere ein Plugin in deinem plentymarkets System, um ein Exportformat für den elastischen Export nutzen zu können.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Set mit Standard-Mandantenverknüpfung</div>
<div class="paragraph">
<p>Installiere das Plugin <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a> und die Plugins für die Exportformate in einem Plugin-Set mit Standard-Mandantenverknüpfung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Beim Schnittstellenpartner registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du dein Exportformat an den Schnittstellenpartner übertragen kannst, musst du dich auf der Webseite der Schnittstellenpartner registrieren. Die Links zu den Webseiten der Preissuchmaschinen, Preisportale, Marktplätze und Affiliate-Dienstleister, zu denen es eine Schnittstelle über Plugins in plentymarkets gibt, findest du in <a href="#exportformate">Tabelle 1</a>. Alle Exportformate bis auf <strong>BolOfferExport</strong> und <strong>BolItemExport</strong> müssen zunächst aus dem plentymarketplace installiert werden, damit die Datenformate im elastischen Export zur Verfügung stehen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Exportformate im Überblick</h2>
<div class="sectionbody">
<table id="exportformate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Exportformate für den elastischen Export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportformat</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AwinCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportawincom_4762" target="_blank" rel="noopener">AWIN</a> bietet performance-basiertes Online- und Affiliate-Marketing an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BasicPriceSearchEngine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn keine bestimmte Preissuchmaschine gewählt wird, <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportbasicpricesearchengine_4777/" target="_blank" rel="noopener">BasicPriceSearchEngine</a> verwenden. Es kann für die meisten Preissuchmaschinen verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BeezUp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportbeezup_4768/" target="_blank" rel="noopener">BeezUp</a> ist ein Tool zur Verwaltung und Optimierung des Präsentation von Artikeln in Preisportalen, auf Marktplätzen und bei Affiliate-Diensten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BelboonDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Affiliate-Netzwerk <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportbelboonde_4759/" target="_blank" rel="noopener">belboon</a> ist spezialisiert auf die Umsetzung Ihrer Performance-Marketing-Maßnahmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BilligerDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportbilligerde_4901" target="_blank" rel="noopener">billiger.de</a> ist ein deutsches Preisvergleichsportal mit TÜV-Zertifikat, das neben Preisvergleichen auch Testberichte und Nutzerbewertungen anbietet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BolItemExport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>bol.com</strong> bietest du deine Artikel zum Verkauf an. Dieses Exportformat wird benötigt, um deinen Artikelkatalog zu bol.com zu exportieren. Weitere Informationen zur Einrichtung von bol.com findest du auf der Handbuchseite <a href="/maerkte/bol-com">bol.com einrichten</a>.<br>
Das Exportformat <strong>BolItemExport</strong> ist im Plugin <strong>ElasticExport</strong> enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BolOfferExport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>bol.com</strong> bietest du deine Artikel zum Verkauf an. Dieses Exportformat wird benötigt, um deine Angebote zu bol.com zu exportieren. Weitere Informationen zur Einrichtung von bol.com findest du auf der Handbuchseite <a href="/maerkte/bol-com">bol.com einrichten</a>.<br>
Das Exportformat <strong>BolOfferExport</strong> ist im Plugin <strong>ElasticExport</strong> enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CdiscountCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf dem Marktplatz <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportcdiscountcom_4738/" target="_blank" rel="noopener">Cdiscount</a> bietest du deine Artikel zum Verkauf an. Weitere Informationen zu diesem Marktplatz findest du auf der Handbuchseite <a href="/maerkte/cdiscount">Cdiscount einrichten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Check24</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportcheck24de_4730/" target="_blank" rel="noopener">Check24</a> bietest du deine Artikel zum Verkauf an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EcondaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/elasticexportecondade_4774/" target="_blank" rel="noopener">econda</a> bietet eine Controlling-Lösung zur umfassenden Analyse und Optimierung von Webshops.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FashionDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportfashionde_4742/" target="_blank" rel="noopener">Fashion.de</a> ist ein Preisvergleichsportal für Mode und Lifestyle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GeizhalsDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportgeizhalsde_4743/" target="_blank" rel="noopener">Geizhals</a>-Preisvergleich ist eine unabhängige Preisvergleichs- und Informationsplattform mit Schwerpunkt Hardware und Unterhaltungselektronik.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GoogleShopping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Preisvergleichsportal <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportgoogleshopping_4722" target="_blank" rel="noopener">GoogleShopping</a> bietet Such- und Vergleichsfunktionen sowie Links zu den Produktseiten anderer Online-Shops. Betreiber von Online-Shops können Ihre Produkte durch Abrechnung auf Klickbasis auf Google Shopping-Listen in der Google-Suche anzeigen lassen. Dieses Format basiert auf Google Shopping International.<br>
Dementsprechend müssen verknüpfte Merkmalwerte und Verfügbarkeiten im elastischen Export auf Englisch gepflegt sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GuenstigerDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportguenstigerde_4745/" target="_blank" rel="noopener">guenstiger.de</a> ist ein Preisvergleichsportal, das neben Preisvergleichen auch Nutzermeinungen, Testberichte und Händlerbewertungen anbietet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IdealoDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportidealode_4723" target="_blank" rel="noopener">idealo</a> ist ein deutsches Preisportal und bietet Preisvergleiche mit Angeboten und Preisen, Testberichten sowie Preisbenachrichtigungen und Produktvergleichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KaufluxDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf dem Marktplatz <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportkaufluxde_4737/" target="_blank" rel="noopener">Kauflux</a> bietest du deine Artikel zum Verkauf an. Weitere Informationen zur Einrichtung von Kauflux findest du auf der Handbuchseite <a href="/maerkte/kauflux">Kauflux einrichten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KelkooDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportkelkoode_5041" target="_blank" rel="noopener">Kelkoo</a> ist eine Preisvergleich-Suchmaschine für Shopping und Reisen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KuponaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportkuponade_4756/" target="_blank" rel="noopener">KUPONA</a> ist eine Agentur für Online Performance Marketing mit den Geschäftsfeldern Display Performance Advertising, Retargeting, Affiliate Marketing und Produktdatenmarketing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MyBestBrandsDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportmybestbrandsde_4731/" target="_blank" rel="noopener">Mybestbrands</a> betreibt eine Empfehlungsplattform für stark reduzierte Mode und Lifestyle- sowie Elektronikprodukte von bekannten Markenherstellern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PreisRoboterDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportpreisroboterde_4732/" target="_blank" rel="noopener">PreisRoboter</a> ist eine Produkt- und Preissuchmaschine, die Volltextsuche und Preisvergleiche anbietet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RakutenDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf dem Marktplatz <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportrakutende_4721/" target="_blank" rel="noopener">Rakuten</a> bietest du deine Artikel zum Verkauf an. Weitere Informationen zur Einrichtung von Rakuten findest du auf der Handbuchseite <a href="/maerkte/rakuten/rakuten-einrichten">Rakuten einrichten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProfiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dem Format <a href="https://marketplace.plentymarkets.com/plugins/integration/ElasticExportShippingProfiles_4747" target="_blank" rel="noopener">ShippingProfiles</a> exportierst du Versandprofile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopping24DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportshopping24de_4734/" target="_blank" rel="noopener">shopping24</a> ist eine Tochtergesellschaft der Otto Gruppe und ein Online-Portal für Preis- und Produktvergleiche.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShoppingCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportshoppingcom_4755" target="_blank" rel="noopener">Shopping.com</a> ist ein internationaler Produkt- und Preisvergleichsdienst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShopzillaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportshopzillade_4770/" target="_blank" rel="noopener">Shopzilla</a> ist eine Preisvergleichsplattform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TracdelightCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexporttracdelightcom_4771/" target="_blank" rel="noopener">tracdelight</a> ist ein Netzwerk für Werbeagenturen und Verlage, das sich auf Mode und Lifestyle konzentriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>treepodia</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexporttreepodiacom_4776/" target="_blank" rel="noopener">treepodia</a> bietet die Möglichkeit, aus Artikelbildern automatisch erzeugte Produktvideos in die Single Article-Ansicht von Webshopartikeln einzubinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TwengaCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexporttwengacom_4746/" target="_blank" rel="noopener">Twenga</a> ist eine internationale Shopping-Plattform und bietet einen umfassenden Preisvergleich.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Exportformate erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Kapitel beschreibt, wie du neue Exportformate erstellst und welche Einstellungen du vornehmen musst. Bis auf <strong>BolItemExport</strong> und <strong>BolOfferExport</strong> müssen alle weiteren Formate zunächst aus dem <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze" target="_blank" rel="noopener">plentyMarketplace</a> installiert werden, bevor die Formate im elastischen Export zur Verfügung stehen.</p>
</div>
<div class="paragraph instruction">
<p>Neues Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-elastischer-export">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat wird vergeben und das Exportformat erscheint in der Übersicht <strong>Exporte</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Artikelfilter für den Elastischen Export</div>
<div class="paragraph">
<p>Beachte, dass beim elastischen Export standardmäßig keine Artikelfilter voreingestellt sind. Wenn du keine Artikelfilter einstellst, werden beim Export alle Artikel übertragen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="einstellungen-elastischer-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für neuen Export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen eingeben. Unter diesem Namen erscheint das Exportformat in der Übersicht im Tab <strong>Exporte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ der Daten aus der Dropdown-Liste wählen, die exportiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Format für den Export aus der Dropdown-Liste wählen. Es stehen nur aus dem plentyMarketplace installierte Formate zur Verfügung. Ausnahme: BolOfferExport und BolItemExport.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl eingeben. Wenn mehr als 9999 Datensätze übertragen werden sollen, wird die Ausgabedatei für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen. Wenn mehr mehr als 9999 Datensätze benötigt werden, muss die Option <strong>Cache-Datei generieren</strong> aktiv sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, wenn mehr als 9999 Datensätze übertragen werden sollen. Um eine optimale Perfomance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong>, <strong>FTP</strong> oder <strong>Admin-Bereich</strong> wählen.<br>
Je nach gewählter Option erscheinen unterschiedliche Einstellungsmöglichkeiten.<br>
<strong>URL</strong>: Mit dieser Option kann ein Token für die Authentifizierung generiert werden, damit ein externer Zugriff möglich ist.<br>
<strong>FTP</strong>: Server, auf dem die Datei abgelegt wird.<br>
<strong>Admin-Bereich</strong>: Ein externer Zugriff ist nicht möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token,<br>
URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Bereitstellung</strong> die Option <strong>URL</strong> gewählt wurde, auf <strong>Token generieren</strong> klicken. Der Token wird dann automatisch eingetragen. Die URL wird automatisch eingetragen, wenn unter <strong>Token</strong> der Token generiert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong>,<br>
<strong>Port</strong>,<br>
<strong>Benutzername</strong>,<br>
<strong>Passwort</strong>,<br>
<strong>Pfad</strong>,<br>
<strong>Übertragung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Bereitstellung</strong> die Option <strong>FTP</strong> gewählt wurde, Parameter eingeben. Der Standard-FTP-Port ist <strong>21</strong>.<br>
<strong>Übertragung:</strong> Wenn unter <strong>Bereitstellung</strong> die Option <strong>FTP</strong> gewählt wurde, ein Intervall für die Übertragung der Daten wählen. Wenn du die Einstellung <strong>Zeitplan</strong> wählst, lege unter <strong>Zeitplan</strong> einen Zeitraum fest, in dem die Daten übertragen werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Bereitstellung</strong> die Option <strong>Admin-Bereich</strong> gewählt wurde, Dateinamen eingeben. Der Dateiname muss die Endung des Formats haben, z.B. Suffix .csv bei einer CSV-Datei.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Artikelfilter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter wählen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Artikel beim Export übertragen werden sollen. Dazu Artikelfilter aus der Dropdown-Liste wählen und auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>) klicken. Standardmäßig sind keine Filter voreingestellt. Es ist möglich, alle Artikelfilter aus der Dropdown-Liste nacheinander hinzuzufügen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Aktiv</strong> = Nur aktive Varianten werden übertragen.</p>
</li>
<li>
<p><strong>Artikeltyp</strong> = Nur Artikel des gewählten <a href="/artikel/multipacks-pakete-sets-verwalten">Typs</a> werden übertragen.</p>
</li>
<li>
<p><strong>Bestand</strong> = Wählen, welche Bestände exportiert werden sollen.</p>
</li>
<li>
<p><strong>Bild</strong> = Aktivieren, damit der Artikel mit Bild übertragen wird. Es werden nur Artikel mit Bildern übertragen.</p>
</li>
<li>
<p><strong>Hersteller</strong> = Einen, mehrere oder <strong>ALLE</strong> Hersteller wählen.</p>
</li>
<li>
<p><strong>Kategorie</strong> = Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie zugehören, übertragen.</p>
</li>
<li>
<p><strong>Mandant</strong> = Mandant wählen.</p>
</li>
<li>
<p><strong>Markierung 1 - 2</strong> = Markierung wählen.</p>
</li>
<li>
<p><strong>Märkte</strong> = Einen, mehrere oder <strong>ALLE</strong> Märkte wählen. Die Verfügbarkeit muss für alle hier gewählten Märkte am Artikel hinterlegt sein. Andernfalls findet kein Export statt.</p>
</li>
<li>
<p><strong>Positiver Warenbestand im gewählten Lager</strong> = Lager aus der eingeblendeten Dropdown-Liste wählen, um nur Varianten mit positivem Warenbestand in diesem Lager zu exportieren.<br>
<strong><em>Hinweis:</em></strong> Der Warenbestandsfilter greift nur bei FormatDesigner-Exportformaten des Typs <strong>Artikel</strong>.</p>
</li>
<li>
<p><strong>Preise</strong> = Nur Artikel mit einem bestimmten Preis werden übertragen.<br></p>
<div class="ulist">
<ul>
<li>
<p><strong>Ohne Preis</strong> = Artikel, die keinem hinterlegten Preis haben, werden übertragen.<br></p>
</li>
<li>
<p><strong>Mit Preis</strong> = Artikel, die einen hinterlegten Preis haben, werden übertragen.<br></p>
</li>
<li>
<p><strong>Mit Preis unter</strong> = Gib einen Preis ein. Artikel, die einen niedrigeren Preis haben, werden übertragen.<br></p>
</li>
<li>
<p><strong>Mit Preis über</strong> = Gib einen Preis ein. Artikel, die einen höheren Preis haben, werden übertragen.<br></p>
</li>
<li>
<p><strong>Mit Preis zwischen</strong> = Gib eine Unter- und eine Obergrenze ein. Artikel, die einen Preis zwischen den zwei Werten haben, werden übertragen.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Tag (UND-Modus)</strong> = Ein oder mehrere Tag-Namen eingeben. Artikel, die mit <em>allen</em> der gewählten <a href="/basics/arbeiten-mit-plentymarkets/tags">Tags</a> verknüpft sind, werden übertragen.</p>
</li>
<li>
<p><strong>Tag (ODER-Modus)</strong> = Ein oder mehrere Tag-Namen eingeben. Artikel, die mit <em>mindestens einem</em> der gewählten <a href="/basics/arbeiten-mit-plentymarkets/tags">Tags</a> verknüpft sind, werden übertragen.</p>
</li>
<li>
<p><strong>Varianten</strong> = Wählen, welche Varianten übertragen werden sollen.<br></p>
<div class="ulist">
<ul>
<li>
<p><strong>Alle übertragen</strong> = Alle Varianten werden übertragen.<br></p>
</li>
<li>
<p><strong>Nur Hauptvarianten übertragen</strong> = Nur Hauptvarianten werden übertragen.<br></p>
</li>
<li>
<p><strong>Keine Hauptvarianten übertragen</strong> = Nur die anderen Varianten eines Artikels werden übertragen. Hauptvarianten werden nicht übertragen.<br></p>
</li>
<li>
<p><strong><em>Tipp:</em></strong> Verwenden, wenn die Hauptvarianten nur virtuell und keine verkaufbaren Produkte sind.<br></p>
</li>
<li>
<p><strong>Nur Einzelvarianten übertragen</strong> = Nur die Hauptvarianten von Artikeln werden übertragen, die nur eine Hauptvariante und keine weiteren Varianten haben.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Währung</strong> = Währung wählen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Formateinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die URL des Artikels oder der Variante übertragen wird. Varianten-URLs können nur in Kombination mit dem Ceres Webshop übertragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten wählen. Diese Einstellung wird für den URL-Aufbau verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suffix für die Produkt-URL eingeben, wenn ein Suffix für den Export erforderlich ist. Die Produkt-URL wird dann um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>übertragen</strong> für die Produkt-URL aktiviert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Auftragsherkunft aus der Dropdown-Liste wählen. Diese Einstellung ist abnhängig von der gewählten Auftragsherkunft und wird für die SKU-Generierung verwendet. Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marktplatzkonto aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert.<br>
Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Schnittstelle eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob und welcher Text als Vorschautext übertragen werden soll.<br>
Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn eine Begrenzung der Länge des Vorschautextes beim Export vorgegeben ist.<br>
Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden.<br>
Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Text als Beschreibungstext übertragen werden soll.<br>
Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn eine Begrenzung der Länge der Beschreibung beim Export vorgegeben ist.<br>
Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden.<br>
Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielland aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN, ISBN oder eine EAN aus der Dropdown-Liste wählen. Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Andernfalls wird der Barcode nicht exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position 0</strong> oder <strong>Erstes Bild</strong> wählen, um dieses Bild zu exportieren.<br>
<strong>Position 0</strong> = Ein Bild mit der Position 0 wird übertragen.<br>
<strong>Erstes Bild</strong> = Das erste Bild wird übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Energieetiketts eintragen. Alle Bilder, die als Energieetikette übertragen werden sollen, müssen diese Position haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestandspuffer für Varianten mit der Beschränkung auf den Netto-Warenbestand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestand für Varianten ohne Bestandsbeschränkung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestand für Varianten ohne Bestandsführung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Angebotspreis zu übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den UVP zu übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung.<br>
 Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text eingeben. Dieser Betrag enthält die Mehrwertsteuer zuzüglich Versand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>überschreiben</strong> aktivieren und in die Felder <strong>1</strong> bis <strong>10</strong>, die die ID der Verfügbarkeit darstellen, Artikelverfügbarkeiten eintragen. Somit werden die Artikelverfügbarkeiten, die im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> eingestellt wurden, überschrieben.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Exportformate bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Exportübersicht im Menü <strong>Daten » Elastischer Export » Tab: Exporte</strong> werden alle erstellten Exportformate angezeigt. Über die Funktion <strong>Ansicht einrichten</strong> wählst du, welche Spalten angezeigt werden. Zeige mit der Maus auf die Symbolleiste und klicke auf <strong>Ansicht einrichten</strong> (<span class="icon"><i class="fa fa-cog"></i></span>). Ein neues Fenster <strong>Ansicht einrichten</strong> wird geöffnet und du aktivierst oder deaktivierst die Spaltennamen. Die folgenden Spalten stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Download</p>
</li>
<li>
<p>Typ</p>
</li>
<li>
<p>Format</p>
</li>
<li>
<p>Limit</p>
</li>
<li>
<p>Letzte Export-Änderung</p>
</li>
<li>
<p>Export erstellt</p>
</li>
<li>
<p>Löschen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Öffne ein Exportformat, um Einstellungen zu prüfen oder zu bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>Exportformat bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Öffne das Exportformat.</p>
</li>
<li>
<p>Nimm die gewünschten Änderungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-elastischer-export">Tabelle 2</a> und <a href="#symbolleiste-exportformat">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/elastischer-export-symbolleiste.png" alt="elastischer export symbolleiste">
</div>
<div class="title">Bild 1. Symbolleiste eines Exportformats</div>
</div>
<table id="symbolleiste-exportformat" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Symbolleiste eines Exportformats</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 10%;">
<col style="width: 70%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Icon</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Exportformats. Wird automatisch vergeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kopieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon"><i class="fa fa-copy" style="background-color:yellow"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exportformat mit allen Einstellungen kopieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herunterladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon"><i class="fa fa-download" style="color:purple"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exportdatei herunterladen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte Exportänderung</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit der letzten Änderung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export erstellt</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit der Erstellung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exportformat löschen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Exportformate filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast die Möglichkeit, die von dir erstellten Exportformate nach bestimmten Kriterien zu filtern, um nur diese Exportformate in der Übersicht <strong>Exporte</strong> anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Exportformate filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Nimm die Filtereinstellungen im Bereich <strong>Filter</strong> vor. Beachte dazu die Erläuterungen in <a href="#filtereinstellungen-elastischer-export">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).</p>
</li>
</ol>
</div>
<table id="filtereinstellungen-elastischer-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Filtereinstellungen im Menü <strong>Daten » Elastischer Export</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl eingeben, um nach dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name bzw. einen Teil des Namens eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ <strong>Artikel</strong> oder <strong>Alle</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Format aus der Dropdown-Liste wählen, damit alle Exportformate, die zu dem gewählten Exportformat erstellt wurden, angezeigt werden.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Suchkriterien löschen</div>
<div class="paragraph">
<p>Mit einem Klick auf <strong>Zurücksetzen</strong> (<span class="icon"><i class="fa fa-undo" style="color:orange"></i></span>) löschst du die Suchkriterien. Klicke anschließend erneut auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), damit alle bereits erstellten Exportformate wieder in der Übersicht angezeigt werden und du neue Filter einstellen kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>