<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> FormatDesigner-Plugin einrichten</span></a></li>
<li><a href="#100"><span>2.</span><span> Format erstellen</span></a></li>
<li><a href="#110"><span>3.</span><span> Format bearbeiten</span></a></li>
<li><a href="#120"><span>4.</span><span> Praxisbeispiel</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FormatDesigner</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Möchtest du Daten aus deinem plentymarkets System exportieren? Das geht in zwei einfachen Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zuerst verwendest du den <a href="https://marketplace.plentymarkets.com/plugins/integration/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, um sogenannte Datenformate zu erstellen. Mit anderen Worten entscheidest du, welche Daten exportiert werden sollen.</p>
</li>
<li>
<p>In einem zweiten Schritt verwendest du den <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischen Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, um die soeben erstellten Datenformate zu exportieren.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt den ersten Schritt. Hier lernst du, wie du das <a href="/daten/daten-exportieren/FormatDesigner#50">FormatDesigner-Plugin einrichtest</a>, wie du <a href="/daten/daten-exportieren/FormatDesigner#100">Datenformate erstellst</a> und <a href="/daten/daten-exportieren/FormatDesigner/format-typen">welche Daten</a> du exportieren kannst.</p>
</div>
<div class="paragraph">
<p>Der zweite Schritt, d.h. der eigentliche Export, wird im Menü <strong>Daten » Elastischer Export</strong> vorgenommen. Weitere Informationen zum zweiten Schritt findest du auf der Handbuchseite zum <a href="/daten/daten-exportieren/elastischer-export">elastischen Export</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. FormatDesigner-Plugin einrichten</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">FormatDesigner-Plugin herunterladen</div>
<div class="paragraph">
<p>Beim FormatDesigner handelt es sich um ein Plugin. Um das FormatDesigner-Plugin nutzen zu können, lade es im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Damit das Plugin im Menü angezeigt wird, muss es im verknüpften Plugin-Set installiert sein. In der Plugin-Übersicht sollte es außerdem oberhalb der Plugins <strong>Ceres</strong> und <strong>IO</strong> platziert sein (sofern diese aktiv sind).
Grundlegende Informationen dazu, wie du dein plentymarkets System mit Plugins erweitern kannst, findest du im <a href="/plugins">Plugin-Kapitel</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin aktualisiert?</div>
<div class="paragraph">
<p>Plugins werden ständig aktualisiert und verbessert. Prüfe deshalb im Menü <strong>Plugins » Plugin-Übersicht » <em>Plugin-Set öffnen</em></strong>, ob du die aktuelle Version des Plugins verwendest, bevor du Datenformate erstellst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">FormatDesigner-Plugin löst das ElasticSync-Plugin ab</div>
<div class="paragraph">
<p>Nutzt du noch das ElasticSync-Plugin, um Exportformate zu erstellen? Dieses Plugin wird zukünftig nicht mehr aktualisiert. Wir empfehlen daher, auf das FormatDesigner-Plugin zu wechseln und das ElasticSync-Plugin aus deinem Plugin-Set zu löschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Format erstellen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » FormatDesigner</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Format hinzufügen</strong>.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen ein.</p>
</li>
<li>
<p>Wähle das gewünschte Format und Feldtrennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110">3. Format bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald ein Format angelegt oder geöffnet wurde, wird die Bearbeitungsansicht des Formats angezeigt. Auf der rechten Seite befindet sich die Auswahl der verfügbaren Datenfelder. Durch einen Klick auf ein Feld wird das Feld auf der linken Seite ergänzt. Nachdem ein Datenfeld hinzugefügt wurde, können weitere Einstellungen vorgenommen werden. Nach dem Speichern ist das Datenfeld im Export enthalten.</p>
</div>
<table id="tabelle-einstellungen-datenfelder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen der Datenfelder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen für das Datenformat eingeben. Der Name erscheint in der Kopfzeile der CSV-Datei.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verschieben</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über den mit Punkten markierten Bereich links vom Datenfeldnamen können mit gedrückter Maustaste die Datenfelder verschoben werden. Durch das Verschieben legst du die Reihenfolge der CSV-Spalten fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfelder, wie z.B. VariationSalesPrice.price, benötigen eine genauere Zuordnung, da z.B. mehrere Preise für jede Variante vorhanden sein können. Mit der Zuordnung wird ein konkreter Verkaufspreis bestimmt. Um z.B. mehrere Preise zu exportieren, kann das Datenfeld mehrfach zum Exportformat hinzugefügt werden. Bei Datenfeldern, die keine Zuordnung benötigen, ist die Schaltfläche deaktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert ändern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfelder mit numerischen Werten können während des Exports durch verschiedene Aktionen verändert werden. Dabei können beliebig viele Aktionen definiert werden. Diese Aktionen werden nacheinander ausgeführt und manipulieren den Wert je nach Einstellung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfeld entfernen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datenfeld wird aus dem Format entfernt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">4. Praxisbeispiel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um dich mit der Anwendung des FormatDesigners vertraut zu machen, schaue dir das Praxisbeispiel <a href="#daten/daten-exportieren/dropshipping-elasticexport-bp">Dropshipping und ElasticExport</a> an.</p>
</div>
</div>
</div>
</main>