<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#manage-catalogues"><span>1.</span><span> Kataloge verwalten: löschen, kopieren etc.</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-rights"><span>1.1.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#15"><span>1.2.</span><span> Spalten der Katalog-Übersicht anpassen</span></a></li>
<li><a href="#190"><span>1.3.</span><span> Kataloge kopieren</span></a></li>
<li><a href="#210"><span>1.4.</span><span> Kataloge löschen</span></a></li>
<li><a href="#240"><span>1.5.</span><span> Gelöschten Katalog wiederherstellen</span></a></li>
<li><a href="#250"><span>1.6.</span><span> Andere Katalog-Version wiederherstellen</span></a></li>
<li><a href="#270"><span>1.7.</span><span> Kataloge exportieren</span></a></li>
<li><a href="#280"><span>1.8.</span><span> Kataloge importieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kataloge</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du bist über einen direkten Link zu dieser Seite gekommen. Herzlich willkommen!</p>
</div>
<div class="paragraph">
<p>Die Informationen zu den Katalogen wurden inzwischen auf zwei Seiten aufgeteilt, um dir den Einstieg in das Thema zu erleichtern:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Du möchtest Daten aus plentymarkets in Dateien exportieren?</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>Dazu benötigst du einen Katalog mit Standardformat. Wie du Kataloge mit Standardformaten erstellst, ist auf der Seite <a href="/daten/daten-exportieren/dateiexport">Standardformate erstellen</a> beschrieben.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Du möchtest Artikeldaten zu Marktplätzen exportieren?</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>Dazu benötigst du einen Katalog mit Marktplatzformat. Eine Einführung in das Thema Marktplatzformate findest du auf der Seite <a href="/daten/daten-exportieren/marktplatzexport">Kataloge: Marktplatzexport</a></p>
</li>
<li>
<p>Wie du Kataloge für die einzelnen Marktplätze erstellst, ist <a href="/maerkte">auf der Seite des Verkaufskanals beschrieben</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
In den folgenden Kapiteln findest du Informationen dazu, wie du deine Kataloge verwaltest. Diese Informationen findest du auch auf den neuen Seiten für Standardformate und Marktplatzformate. Hier auf dieser Seite werden die Informationen nur noch mal aufgeführt, damit alte Links aus dem Forum weiterhin funktionieren. Die Inhalte sind auf allen drei Seiten identisch.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div><div class="sect1">
<h2 id="manage-catalogues">1. Kataloge verwalten: löschen, kopieren etc.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lerne in den folgenden Kapiteln, wie du vorhandene Kataloge verwaltest. Diese Informationen gelten für Marktplatz-Formate und für Standardformate.</p>
</div>
<div class="sect2">
<h3 id="catalogue-rights">1.1. Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Kataloge sehen können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Daten &gt; Datenaustausch &gt; Export &gt; Katalog &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="15">1.2. Spalten der Katalog-Übersicht anpassen</h3>
<div class="paragraph">
<p>Du kannst selbst entscheiden, welche Informationen in den Tabellenspalten angezeigt werden. Gehe dafür folgendermaßen vor:</p>
</div>
<div class="paragraph instruction">
<p>Spalten der Katalog-Übersicht anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke oben rechts auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, sodass sie in der gewünschten Reihenfolge angezeigt werden.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Einstellungen zu speichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">1.3. Kataloge kopieren</h3>
<div class="paragraph">
<p>Du möchtest einen gut konfigurierten Katalog nutzen, um schnell einen neuen Katalog zu erstellen? Geht!
Beim Kopieren werden zugeordnete Datenfelder übernommen - auch, wenn du das Format wechselst. Du kannst sogar eine andere Sprache für die Kopie wählen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="einen-katalog-kopieren-tab" data-toggle="tab" href="#einen-katalog-kopieren" role="tab" aria-controls="einen-katalog-kopieren" aria-selected="true">Einen Katalog kopieren</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mehrere-kataloge-kopieren-tab" data-toggle="tab" href="#mehrere-kataloge-kopieren" role="tab" aria-controls="mehrere-kataloge-kopieren" aria-selected="false">Mehrere Kataloge kopieren</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="einen-katalog-kopieren" role="tabpanel" aria-labelledby="einen-katalog-kopieren-tab">
<div class="paragraph instruction">
<p>Katalog kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Katalogs auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
<strong><em>Oder</em></strong>: Hake den Katalog an, den du kopieren möchtest.</p>
</li>
<li>
<p>Klicke oben in der Katalog-Übersicht auf <strong>Kataloge kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wenn gewünscht, passe den automatisch vergebenen Namen für die Kopie an.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle ein anderes Format aus der Dropdown-Liste. Bereits zugeordnete Datenfelder werden dabei übernommen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle eine andere Sprache aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong>.<br>
→ Der Katalog wird kopiert und in der Katalog-Übersicht angezeigt.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="mehrere-kataloge-kopieren" role="tabpanel" aria-labelledby="mehrere-kataloge-kopieren-tab">
<div class="paragraph">
<p>Du kannst auch mehrere Kataloge gleichzeitig kopieren. Allerdings ist es in diesem Fall nicht möglich, eine Formatänderung an den Katalogen vorzunehmen oder eine andere Sprache zu wählen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Kataloge kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle die Kataloge, die du kopieren möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Kataloge kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ Alle gewählten Kataloge werden kopiert und in der Katalog-Übersicht angezeigt.<br></p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Um die automatisch vergebenen Namen für die kopierten Kataloge zu ändern, öffne die Kataloge einzeln und passe den Namen in den Grundeinstellungen an.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="210">1.4. Kataloge löschen</h3>
<div class="paragraph">
<p>Du kannst einen Katalog oder mehrere Kataloge gleichzeitig löschen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="einen-katalog-l-schen-tab" data-toggle="tab" href="#einen-katalog-l-schen" role="tab" aria-controls="einen-katalog-l-schen" aria-selected="true">Einen Katalog löschen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mehrere-kataloge-l-schen-tab" data-toggle="tab" href="#mehrere-kataloge-l-schen" role="tab" aria-controls="mehrere-kataloge-l-schen" aria-selected="false">Mehrere Kataloge löschen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="einen-katalog-l-schen" role="tabpanel" aria-labelledby="einen-katalog-l-schen-tab">
<div class="paragraph instruction">
<p>Kataloge löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Katalogs, den du löschen möchtest, auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Der Katalog wird gelöscht.<br>
<strong><em>Oder</em></strong>: Öffne einen Katalog.</p>
</li>
<li>
<p>Klicke oben auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Der Katalog wird gelöscht.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="mehrere-kataloge-l-schen" role="tabpanel" aria-labelledby="mehrere-kataloge-l-schen-tab">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um mehrere Kataloge gleichzeitig zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Kataloge löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle die Kataloge, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke oben rechts auf <strong>Ausgewählte Kataloge löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Die Kataloge werden gelöscht.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="240">1.5. Gelöschten Katalog wiederherstellen</h3>
<div class="paragraph">
<p>In der Katalog-Übersicht kannst du den letzten Stand eines gelöschten Katalogs wiederherstellen.</p>
</div>
<div class="paragraph instruction">
<p>Gelöschten Katalog wiederherstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Gelöschten Katalog wiederherstellen</strong> (<span class="icon orange"><i class="material-undo"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Katalog aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Wiederherstellen</strong>.<br>
→ Der Katalog wird wiederhergestellt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">1.6. Andere Katalog-Version wiederherstellen</h3>
<div class="paragraph">
<p>Über die weiteren Aktionen und auch in der Ansicht eines Katalogs kannst du vorherige Versionen eines Katalogs wiederherstellen.</p>
</div>
<div class="paragraph instruction">
<p>Katalog-Version wiederherstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Öffne in der Zeile des Katalogs die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog-Version wiederherstellen</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
<strong><em>Oder</em></strong>: Öffne einen Katalog und klicke oben auf die weiteren Aktionen (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog-Version wiederherstellen</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle die Version, die du wiederherstellen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Wiederherstellen</strong>.<br>
→ Die Version des Katalogs wird wiederhergestellt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">1.7. Kataloge exportieren</h3>
<div class="paragraph">
<p>Exportiere Kataloge, um sie anschließend in andere plentymarkets Systeme importieren zu können. Gleichzeitig dient der Export als Daten-Backup.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Mit diesen Einstellungen exportierst du den Katalog selbst. Du exportierst also die Informationen, welche Datenfelder der Katalog enthält, und nicht die Daten, die für diese Datenfelder in plentymarkets gespeichert sind.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kataloge exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Setze ein Häkchen für den Katalog, den du exportieren möchtest. Du kannst auch mehrere Kataloge auf einmal wählen.</p>
</li>
<li>
<p>Klicke oben auf <strong>Katalog exportieren</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Speicherort.<br>
→ Die gewählten Kataloge werden exportiert und an dem gewünschten Ort gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="280">1.8. Kataloge importieren</h3>
<div class="paragraph">
<p>Nutze die Importfunktion, um Kataloge aus anderen plentymarkets Systemen oder zuvor als Backup gesicherte Kataloge wieder zu importieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Mit diesen Einstellungen importierst du den Katalog selbst. Du importierst also die Informationen, welche Datenfelder der Katalog enthält, und nicht die Daten, die für diese Datenfelder in plentymarkets gespeichert sind.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kataloge importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke oben auf <strong>Katalog importieren</strong> (<span class="icon "><i class="material-file_upload"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle die Katalog-Datei, die du importieren möchtest.<br>
<strong><em>Wichtig:</em></strong> Du kannst immer nur einen Katalog importieren.<br>
→ Der Katalog wird importiert und in der Übersicht angezeigt.<br>
→ Der Name des importierten Kataloges enthält den Zusatz (1).<br>
Stammt der Katalog aus einem anderen System, wird der Name beibehalten.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>