<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_was_ist_ein_katalog"><span>1.</span><span> Was ist ein Katalog?</span></a></li>
<li><a href="#_was_ist_ein_katalog_template"><span>2.</span><span> Was ist ein Katalog-Template?</span></a></li>
<li><a href="#_variantendaten_mit_eigenschaften_pflegen"><span>3.</span><span> Variantendaten mit Eigenschaften pflegen</span></a>
<ul class="sectlevel3">
<li><a href="#_beispiel_1_durchmesserangaben"><span>3.1.</span><span> Beispiel 1: Durchmesserangaben</span></a></li>
<li><a href="#_beispiel_2_markennamen"><span>3.2.</span><span> Beispiel 2: Markennamen</span></a></li>
</ul>
</li>
<li><a href="#_kataloge_verwalten"><span>4.</span><span> Kataloge verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#_katalog_erstellen"><span>4.1.</span><span> Katalog erstellen</span></a></li>
<li><a href="#_datenquellen_zuordnen"><span>4.2.</span><span> Datenquellen zuordnen</span></a></li>
<li><a href="#_katalog_löschen"><span>4.3.</span><span> Katalog löschen</span></a></li>
</ul>
</li>
<li><a href="#_katalogdaten_an_verkaufskanal_übertragen"><span>5.</span><span> Katalogdaten an Verkaufskanal übertragen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kataloge verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Die Kataloge sind neu!</div>
<div class="paragraph">
<p>Kataloge sind ein neues Feature für den Export von Variantendaten an Marktplätze und andere Verkaufskanäle und befinden sich noch in der Pilotphase. Aktuell kannst du Kataloge nutzen, um Daten an den Marktplatz REWE zu übertragen. plentymarkets arbeitet mit Hochdruck daran, weitere Marktplätze über das neue Katalog-Feature anzubinden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Kataloge dienen dazu, Variantendaten für den Export an einen Verkaufskanal vorzubereiten. Auf dieser Handbuchseite erfährst du, wie du Kataloge erstellst und verwaltest.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit des Menüs <strong>Daten » Kataloge</strong></div>
<div class="paragraph">
<p>Das Menü <strong>Daten » Kataloge</strong> ist erst sichtbar, wenn du ein Plugin bereitstellst, das ein Katalog-Template verfügbar macht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_ist_ein_katalog">1. Was ist ein Katalog?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jeder Verkaufskanal benötigt unterschiedliche Produktdaten. Häufig müssen auch für verschiedene Produktkategorien (Tierfutter, Haushalt, Lebensmittel), unterschiedliche Produktdaten an denselben Verkaufskanal übermittelt werden.</p>
</div>
<div class="paragraph">
<p>Kataloge ermöglichen es dir, die Informationen zu deinem Produktsortiment ganz auf die Anforderungen und die Zielgruppe eines Verkaufskanals zuzuschneiden. Denn in Katalogen ordnest du den einzelnen Datenfeldern eines Verkaufskanals eine passende plentymarkets Datenquelle zu. Beim Übermitteln deiner Variantendaten an den Verkaufskanal werden dann die Datenfelder des Verkaufskanal mit den richtigen Daten aus plentymarkets befüllt.</p>
</div>
<div class="paragraph">
<p>Kataloge bieten die folgenden Vorteile:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Verkaufskanal gibt die Datenstruktur vor. Du weißt also genau, welche Variantendaten nötig sind, um deine Produkte über den Verkaufskanal anzubieten.</p>
</li>
<li>
<p>Du bestimmst pro Verkaufskanal oder sogar pro Template, welche Variantendaten auf dem Verkaufskanal veröffentlicht werden. Über Eigenschaften kannst du zum Beispiel unterschiedliche Namen und Beschreibungen an die verschiedenen Marktplätze übertragen.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Datenexport? FormatDesigner</div>
<div class="paragraph">
<p>Kataloge dienen dazu, Daten an Verkaufskanäle zu übertragen. Katalogdaten können nicht in eine Datei oder in ein anderes auslesbares Format exportiert werden. Verwende den <a href="/daten/daten-exportieren/FormatDesigner">Formatdesigner</a>, um Daten zu exportieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_ist_ein_katalog_template">2. Was ist ein Katalog-Template?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Katalog-Template stellt ein Gerüst der Daten bereit, die der Verkaufskanal entgegennehmen kann. Über Katalog-Templates gibt der Verkaufskanal also vor, welche Daten übertragen werden können.</p>
</div>
<div class="paragraph">
<p>Ein Verkaufskanal kann mehrere Katalog-Templates anbieten, zum Beispiel für verschiedene Produktkategorien (Tiernahrung, Lebensmittel, Non-Food etc.) und/oder für verschiedene Sprachen. Die Katalog-Templates werden über das Plugin des Verkaufskanals in das plentymarkets Backend geladen. Informationen dazu, welche Katalog-Templates für einen Verkaufskanal verfügbar sind, findest du in der Dokumentation des Plugins.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Keine Katalog-Templates ohne Plugin</div>
<div class="paragraph">
<p>Die Katalog-Templates eines Verkaufskanals werden in das Menü <strong>Daten » Kataloge</strong> geladen, wenn du das Plugin des Verkaufskanals bereitstellst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_variantendaten_mit_eigenschaften_pflegen">3. Variantendaten mit Eigenschaften pflegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit <a href="/artikel/artikel-verwalten#3000">Eigenschaften des Bereichs Artikel</a> speicherst du Daten an Varianten, für die es standardmäßig keine Datenfelder im plentymarkets Backend gibt.</p>
</div>
<div class="sect3">
<h4 id="_beispiel_1_durchmesserangaben">3.1. Beispiel 1: Durchmesserangaben</h4>
<div class="paragraph">
<p><strong>Anwendungsfall:</strong><br>
An den Verkaufskanal können die Variantendaten <strong>Durchmesser</strong> und <strong>Durchmesser Einheit</strong> übergeben werden. Durchmesserangaben können standardmäßig nicht im plentymarkets Backend gespeichert werden.</p>
</div>
<div class="paragraph">
<p><strong>Vorgehensweise:</strong><br>
Um Durchmesserdaten trotzdem an den Verkaufskanal zu übergeben, empfehlen wir die in <a href="#tabelle-durchmesser">Tabelle 1</a> beschriebenen Einstellungen.</p>
</div>
<table id="tabelle-durchmesser" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Beispiel 1: Durchmesserangaben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Datenfeld Verkaufskanal</th>
<th class="tableblock halign-left valign-top">Eigenschaften in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchmesser Einheit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Eine Eigenschaft <strong>Durchmesser Einheit</strong> erstellen:<br>
Bereich: <strong>Artikel</strong><br>
Typ: <strong>Auswahl</strong></p>
</li>
<li>
<p>Werte speichern, zum Beispiel <strong>cm</strong> und <strong>mm</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchmesser</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Eine Eigenschaft <strong>Durchmesser</strong> erstellen:<br>
Bereich: <strong>Artikel</strong><br>
Typ: <strong>Kommazahl</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchmesser Einheit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Das Tab <strong>Eigenschaften</strong> öffnen.</p>
</li>
<li>
<p>Die Eigenschaft <strong>Durchmesser Einheit</strong> hinzufügen.</p>
</li>
<li>
<p>Die Einheit aus der Dropdown-Liste wählen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchmesser</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Das Tab <strong>Eigenschaften</strong> öffnen.</p>
</li>
<li>
<p>Die Eigenschaft <strong>Durchmesser</strong> hinzufügen.</p>
</li>
<li>
<p>Den Durchmesser in der für die Eigenschaft <strong>Durchmesser Einheit</strong> gewählten Einheit eingeben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Daten » Kataloge » Katalog öffnen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchmesser Einheit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Aus der Dropdown-Liste <strong>Quelle</strong> die Option <strong>Eigenschaft » Durchmesser Einheit</strong> wählen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchmesser</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Aus der Dropdown-Liste <strong>Quelle</strong> die Option <strong>Eigenschaft » Durchmesser</strong> wählen.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_beispiel_2_markennamen">3.2. Beispiel 2: Markennamen</h4>
<div class="paragraph">
<p><strong>Anwendungsfall:</strong><br>
An den Verkaufskanal kann die Marke von Produkten übergeben werden. Standardmäßig können Hersteller, aber keine Markennamen im plentymarkets Backend gespeichert werden.</p>
</div>
<div class="paragraph">
<p><strong>Vorgehensweise:</strong><br>
Wenn die Hersteller in deinem System nicht den Markennamen der Produkte widerspiegeln, pflegst du die Marken als Eigenschaften. Wir empfehlen die in <a href="#tabelle-marken">Tabelle 2</a> beschriebenen Einstellungen, um Marken als Eigenschaften an den Verkaufskanal zu übergeben.</p>
</div>
<table id="tabelle-marken" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Beispiel 2: Markenangaben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Datenfeld Verkaufskanal</th>
<th class="tableblock halign-left valign-top">Eigenschaften in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marke</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die Eigenschaft <strong>Marke</strong> erstellen:<br>
Bereich: <strong>Artikel</strong><br>
Typ: <strong>Kurztext</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marke</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Tab <strong>Texte</strong> öffnen.</p>
</li>
<li>
<p>Die Eigenschaft <strong>Marke</strong> hinzufügen.</p>
</li>
<li>
<p>Den Markennamen eingeben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Daten » Kataloge » Katalog öffnen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Aus Dropdown-Liste <strong>Marke</strong> die Marke wählen.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Aus Dropdown-Liste <strong>Quelle</strong> die Option <strong>Eigenschaft » Marke</strong> wählen.</p>
</li>
<li>
<p>In das Feld <strong>Value</strong> den Markennamen eingeben.<br>
<strong><em>Hinweis:</em></strong> Auf dem Verkaufskanal wird das Produkt unter dem Markennamen des Verkaufskanals veröffentlicht.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_kataloge_verwalten">4. Kataloge verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du ein Plugin bereitgestellt hast, das Katalog-Templates verfügbar macht, wird im plentymarkets Backend das Menü <strong>Daten » Kataloge</strong> sichtbar. In diesem Menü erstellst, bearbeitest und löschst du Kataloge.</p>
</div>
<div class="sect2">
<h3 id="_katalog_erstellen">4.1. Katalog erstellen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um einen Katalog zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Katalog erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalogübersicht wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Katalog erstellen</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Katalog ein.</p>
</li>
<li>
<p>Wähle ein Katalog-Template aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Katalog wird erstellt.<br>
→ Der Katalog wird zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_datenquellen_zuordnen">4.2. Datenquellen zuordnen</h3>
<div class="paragraph">
<p>Nachdem du einen Katalog erstellt hast, wird dieser Katalog geöffnet. Links werden die Daten des Verkaufskanals angezeigt. Pflichtfelder sind mit Sternchen gekennzeichnet. Rechts davon siehst du für jedes Datenfeld des Verkaufskanals eine Dropdown-Liste. Über diese Dropdown-Listen ordnest du den Datenfeldern des Verkaufskanals eine oder mehrere plentymarkets Datenquellen zu.</p>
</div>
<div class="paragraph">
<p>Je nachdem, um welche Produktdaten es sich handelt, wird als Datenquelle entweder ein Datenfeld oder ein Wert zugeordnet. Im oberen Bereich der Liste ordnest du Datenfelder zu. Du legst zum Beispiel fest, welches Datenfeld in plentymarkets das Gewicht von Varianten enthält, das an den Verkaufskanal übertragen werden soll. Im unteren Bereich ordnest du Werte zu. Du weist zum Beispiel der Verkaufskanalkategorie "Tierfutter" deine plentymarkets Kategorie "Tiernahrung" zu.</p>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um den Datenfeldern des Verkaufskanals eine plentymarkets Datenquelle zuzuordnen.</p>
</div>
<div class="paragraph instruction">
<p>Datenquellen zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalogübersicht wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.<br>
→ Links werden die Datenfelder des Verkaufskanals angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen gekennzeichnet.<br>
→ In der Mitte werden Dropdown-Listen mit plentymarkets Datenquellen angezeigt.<br></p>
</li>
<li>
<p>Wähle für die Datenfelder des Verkaufskanals eine plentymarkets Quelle aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Informationen zu den Zieldatenfeldern erhältst du im Plugin des Verkaufskanals. <a href="#tabelle-katalog-felder">Tabelle 3</a> enthält Informationen zu den plentymarkets Datenquellen und dazu, wie du diese Datenquellen zuordnest.<br></p>
</li>
<li>
<p>Um einem Datenfeld eine weitere plentymarkets Quelle zuzuordnen, klickst du ganz rechts auf <strong>Quelle hinzufügen</strong>.<br>
→ Eine neue Zeile wird eingeblendet.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du einem Datenfeld mehr als eine Datenquelle zuordnest, wird nur ein Wert übertragen. Die Daten werden in der Reihenfolge der Zuordnung geprüft. Wenn also das erste Datenfeld keinen Wert liefert, wird das zweite Datenfeld übertragen usw.</p>
</li>
<li>
<p>Nimm alle gewünschten Zuordnungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
<table id="tabelle-katalog-felder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare plentymarkets Datenquellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Verfügbare Quellen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Texte</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Name 1</strong><br></p>
</li>
<li>
<p><strong>Name 2</strong><br></p>
</li>
<li>
<p><strong>Name 3</strong><br></p>
</li>
<li>
<p><strong>Kurzbeschreibung</strong><br></p>
</li>
<li>
<p><strong>Metabeschreibung</strong><br></p>
</li>
<li>
<p><strong>Beschreibung</strong><br></p>
</li>
<li>
<p><strong>Technische Daten</strong><br></p>
</li>
<li>
<p><strong>URL-Pfad</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach Auswahl der Quelle wird eine Dropdown-Liste für die Auswahl der Sprache eingeblendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Verkaufspreise</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der für diesen Verkaufspreis an der Variante gespeicherte Preis wird übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Eigenschaften</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach Auswahl der Quelle wird eine Dropdown-Liste für die Auswahl der Sprache eingeblendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keine weitere Auswahl</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Barcodes</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Code für diesen Barcode an der Variante gespeicherte Code wird übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keine weitere Auswahl</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestand</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Virtuelles Gesamtlager</strong><br></p>
</li>
<li>
<p>Im System gespeicherte Lager</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Lagerbestand des gewählten Lagers wird an den Verkaufskanal übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardkategorie</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>ID</strong><br></p>
</li>
<li>
<p><strong>Name</strong><br></p>
</li>
<li>
<p><strong>Beschreibung</strong><br></p>
</li>
<li>
<p><strong>URL-Name</strong><br></p>
</li>
<li>
<p><strong>Meta-Titel</strong><br></p>
</li>
<li>
<p><strong>Meta-Beschreibung</strong><br></p>
</li>
<li>
<p><strong>Meta-Keywords</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Eigenschaften</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variante</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Varianten-ID</strong></p>
</li>
<li>
<p><strong>Ist Hauptvariante</strong><br></p>
</li>
<li>
<p><strong>ID der Hauptvariante</strong><br></p>
</li>
<li>
<p><strong>Position</strong><br></p>
</li>
<li>
<p><strong>Aktiv</strong><br></p>
</li>
<li>
<p><strong>Grundpreisanzeige</strong><br></p>
</li>
<li>
<p><strong>Variantennr.</strong><br></p>
</li>
<li>
<p><strong>Modell</strong><br></p>
</li>
<li>
<p><strong>Externe Varianten-ID</strong><br></p>
</li>
<li>
<p><strong>EK netto</strong><br></p>
</li>
<li>
<p><strong>Kommissionierung</strong><br></p>
</li>
<li>
<p><strong>WB-Beschränkung</strong><br></p>
</li>
<li>
<p><strong>Webshop: sichtbar wenn Netto-WB positiv</strong><br></p>
</li>
<li>
<p><strong>Webshop: unsichtbar wenn kein Netto-WB</strong><br></p>
</li>
<li>
<p><strong>Verfügbar wenn Netto-WB positiv</strong><br></p>
</li>
<li>
<p><strong>Nicht verfügbar wenn kein Netto-WB</strong><br></p>
</li>
<li>
<p><strong>Max. Bestellmenge</strong><br></p>
</li>
<li>
<p><strong>Min.-Bestellmenge</strong><br></p>
</li>
<li>
<p><strong>Intervallbestellmenge</strong><br></p>
</li>
<li>
<p><strong>Verfügbar bis</strong><br></p>
</li>
<li>
<p><strong>Erscheinungsdatum</strong><br></p>
</li>
<li>
<p><strong>Variantenname</strong><br></p>
</li>
<li>
<p><strong>Gewicht brutto g</strong><br></p>
</li>
<li>
<p><strong>Gewicht netto g</strong><br></p>
</li>
<li>
<p><strong>Breite mm</strong><br></p>
</li>
<li>
<p><strong>Länge mm</strong><br></p>
</li>
<li>
<p><strong>Höhe mm</strong><br></p>
</li>
<li>
<p><strong>Portoaufschlag 1</strong><br></p>
</li>
<li>
<p><strong>Portoaufschlag 2</strong><br></p>
</li>
<li>
<p><strong>VPE</strong><br></p>
</li>
<li>
<p><strong>Anzahl der Packstücke</strong><br></p>
</li>
<li>
<p><strong>Transportkosten netto</strong><br></p>
</li>
<li>
<p><strong>Lagerkosten netto</strong><br></p>
</li>
<li>
<p><strong>Zoll</strong><br></p>
</li>
<li>
<p><strong>Betriebskosten</strong><br></p>
</li>
<li>
<p><strong>Unsichtbar: in Artikelauflistung</strong><br></p>
</li>
<li>
<p><strong>Standard-Versandkosten</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der für das gewählte Datenfeld an der Variante gespeicherte Wert wird übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Hersteller</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über Dropdown-Listen für Ziel und Quelle werden die Hersteller des Verkaufskanals einzeln den Herstellern in plentymarkets zugeordnet. Links auf <strong>Hersteller hinzufügen</strong> klicken, um weitere Zielhersteller zuzuordnen.<br>
<strong><em>Hinweis:</em></strong> Auf dem Verkaufskanal wird der Herstellername des Verkaufskanals veröffentlicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Attributwerte</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Kategorien</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über Dropdown-Listen für Ziel und Quelle werden die Kategorien des Verkaufskanals einzeln den Kategorien in plentymarkets zugeordnet. Links auf <strong>Kategorien hinzufügen</strong> klicken, um weitere Zielkategorien zuzuordnen.<br>
<strong><em>Hinweis:</em></strong> Auf dem Verkaufskanal wird der Kategoriename des Verkaufskanals veröffentlicht.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_katalog_löschen">4.3. Katalog löschen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um einen Katalog zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Katalog löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalogübersicht wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.<br></p>
</li>
<li>
<p>Klicke rechts oben auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Der Katalog wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_katalogdaten_an_verkaufskanal_übertragen">5. Katalogdaten an Verkaufskanal übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Kataloge im Menü <strong>Daten » Kataloge</strong> dienen dazu, den Datenfeldern eines Verkaufskanals die korrekten plentymarkets Datenquellen zuzuordnen. Das Übertragen der Variantendaten an den Verkaufskanal aktivierst du in den Einstellungen des Plugins des Verkaufskanals.</p>
</div>
</div>
</div>
</main>