<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kataloge</h1><div class="paragraph">
<p>Kataloge dienen dazu, Daten aus deinem plentymarkets System zu exportieren. Es wird dabei zwischen Katalogen mit Marktplatz-Formaten und Katalogen mit Standardformaten unterschieden:</p>
</div><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Katalogformat</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardformate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mit den Standardformaten <strong><em>exportierst du Daten aus deinem plentymarkets System in ein CSV-, JSON-, TXT- oder XML-Datei</em></strong>.</p>
</div>
<div class="paragraph">
<p>Für den Export verschiedener Daten stehen dir verschiedene Standardformate zur Verfügung. Um zum Beispiel deine Warenbestände zu exportieren, nutzt du das Standardformat <a href="/daten/daten-exportieren/katalog-warenbestaende">Warenbestände</a>. Zum Export von Artikeldaten steht das Standardformat <a href="/daten/daten-exportieren/katalog-artikel">Artikel</a> zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Bisher kannst du aber noch nicht alle Arten von Daten über Kataloge exportieren. Bis Standardformate für alle Datenarten verfügbar sind, kannst du weiterhin den <a href="/daten-exportieren/FormatDesigner">Formatdesigner</a> nutzen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wie du Kataloge mit Standardformaten erstellst, ist auf der Seite <a href="/daten/daten-exportieren/dateiexport">Standardformate erstellen</a> beschrieben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatz-Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mit den Marktplatz-Formaten <strong><em>exportierst du Variantendaten an Marktplätze und andere Verkaufskanäle.</em></strong></p>
</div>
<div class="paragraph">
<p>Jeder Verkaufskanal benötigt unterschiedliche Produktdaten. Häufig müssen auch für verschiedene Produktkategorien (Tierfutter, Haushalt, Lebensmittel) unterschiedliche Produktdaten an denselben Verkaufskanal exportiert werden.</p>
</div>
<div class="paragraph">
<p>Ein Marktplatz-Format stellt ein Gerüst der Daten bereit, die der Verkaufskanal entgegennehmen kann. So kannst du die Informationen zu deinem Produktsortiment ganz auf die Anforderungen und die Zielgruppe eines Verkaufskanals zuschneiden. Aktuell kannst du die Kataloge nutzen, um Daten z.B. an die Marktplätze Etsy, Metro, OTTO Market und Amazon zu übertragen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eine Einführung in das Thema Marktplatzformate findest du auf der Seite <a href="/daten/daten-exportieren/marktplatzexport">Kataloge: Marktplatzexport</a>.</p>
</li>
<li>
<p>Wie du Kataloge mit Marktplatz-Formaten erstellst, ist <a href="/maerkte">auf den Seiten der einzelnen Verkaufskanäle beschrieben</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</main>