<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_creating_the_necessary_format"><span>1.</span><span> Creating the necessary format</span></a></li>
<li><a href="#_using_the_created_format"><span>2.</span><span> Using the created format</span></a></li>
<li><a href="#_transmitting_the_export_files"><span>3.</span><span> Transmitting the export files</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Exporting reorder data</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Are you already working with the new functionality for creating and managing <a href="/en/stock-management/managing-reorders/working-with-reorders">reorders</a> in your plentymarkets system? In that case, this best practice shows you how to export your reorder data using the combination of the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> and the <a href="/en/data/exporting-data/elastic-export">Elastic export</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Functionalities of the new and the old reorder</div>
<div class="paragraph">
<p>We recommend carrying out the settings described below especially if you have already worked with the previous version of the reorders. After switching to the new functionality, the only way to export reorder data is by using the Elastic export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_the_necessary_format">1. Creating the necessary format</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The first step consists of creating the necessary format with the help of the FormatDesigner.</p>
</div>
<div class="paragraph instruction">
<p>Creating the format in the FormatDesigner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » FormatDesigner</strong>.</p>
</li>
<li>
<p>Create a new format of the type <strong>orderItem</strong>.</p>
</li>
<li>
<p>Assign a distinct name and select the separators that should be used.</p>
</li>
<li>
<p>By clicking on <strong>Save</strong>, the new format is created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After creating the format, add the following data fields and save your settings once again.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-Best-Practices-Reorders-01.png" alt="EN Best Practices Reorders 01">
</div>
<div class="title">Figure 1. Necessary data fields for exporting reorder data</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_using_the_created_format">2. Using the created format</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the second step, the format created in the FormatDesigner is used for an Elastic export. Proceed as follows to set up the Elastic export.</p>
</div>
<div class="paragraph instruction">
<p>Using the format with Elastic export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong> to create a new export.</p>
</li>
<li>
<p>Select the type <strong>Order item</strong>.</p>
</li>
<li>
<p>Use the field <strong>Provisioning</strong> to determine whether the export file should be provided via HTTP or via a server.</p>
</li>
<li>
<p>In the field <strong>File name</strong>, template variables can be entered. Example: The template variable <strong>$day$hour.csv</strong> inserts the respective date and the matching hour into the name of the export file.</p>
</li>
<li>
<p>Use the field <strong>Transfer</strong> to select the interval in which a new file should be exported.</p>
</li>
<li>
<p>Set the order item filter <strong>Order status</strong> to <strong>ALL</strong>.</p>
</li>
<li>
<p>Set the order item filter <strong>Order type</strong> to <strong>Purchase order, type reorder</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-Best-Practices-Reorders-02.png" alt="EN Best Practices Reorders 02">
</div>
<div class="title">Figure 2. Necessary settings for the Elastic export</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_transmitting_the_export_files">3. Transmitting the export files</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After using the FormatDesigner to create the format and selecting the options for the Elastic export, you only have to decide on how you would like to transmit the export file to your supplier.</p>
</div>
<div class="paragraph">
<p>Your selection for the field <strong>Provisioning</strong> in the <strong>Data » Elastic export</strong> menu is crucial here. f you have selected an FTP server, your suppliers can access data independently on that server on a daily basis. In case you want to manually transmit your data in certain cases, you can use the <strong>Download</strong> function in the menu <strong>Data » Elastic export</strong> any time to download the latest export file and process it as needed.</p>
</div>
</div>
</div>
</main>