<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Searching for undelivered variations</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> General search</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Searching in the order based backlog list</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.</span><span> List supply that is coming in from returns</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing backlog lists</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The backlog lists show you variations that have been reordered but have not been booked in yet. In other words, variations that are undelivered. Furthermore, you will learn where you can see variations that are returned and should be on the way back to you.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Searching for undelivered variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can perform a general search for undelivered variations or you can search for variations that have been reordered specifically for a customer’s order. Each search has its own menu.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. General search</h3>
<div class="paragraph">
<p>Variations that have been <strong><a href="/en/stock-management/managing-reorders/working-with-reorders">reordered</a></strong>, but have not been booked in yet, are listed in the <strong>Stock » Reorder management » Backlog list</strong> menu. A search will not automatically be carried out when you open the menu. The default search is not limited by any filters. This means the default search will search for all undelivered variations from all warehouses and supplieres and regardless of how old the reorder is. Use filters to limit the search results.</p>
</div>
<div class="paragraph instruction">
<p>Searching for undelivered variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Backlog list</strong>.</p>
</li>
<li>
<p>Select filters for your search. Pay attention to the information given in <a href="#table-search-undelivered-variations">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to find undelivered variations.</p>
</li>
</ol>
</div>
<table id="table-search-undelivered-variations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Filters for searching undelivered variations.</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Either select <strong>ALL IDs</strong> or one of the filters <strong>Order ID only</strong>, <strong>Item ID only</strong>, <strong>Only characters</strong> from the drop-down list. Values entered into the entry field next to the drop-down list will be combined with this selection. Therefore, only search results that match the combination will be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry field for searching data that is saved in the item data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>ALL</strong> or one of the warehouses saved in your system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order in which search results should be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of search results that will be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>ALL</strong> or one of the owners saved in your system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>ALL</strong> or one of the suppliers saved in your system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional entry fields will appear if you select one of the options <strong>Delivery deadline</strong>, <strong>Payment due</strong> or <strong>Calendar week</strong>. You can use these entry fields to limit your search accordingly.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>ALL</strong>, <strong>NONE</strong> or one of the listed flags.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Once you have carried out a search and your search results are listed, you can open the reordered item as well as the reorder that the item is in.</p>
</div>
<div class="paragraph">
<p>Click on the <strong>Plus</strong> icon (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) in one of the result rows and the search result will be expanded and the reorders that the item is included in will be listed. Click on the reorder ID to open the reorder. Click on the item ID to open the item data record.</p>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Searching in the order based backlog list</h3>
<div class="paragraph">
<p>Order based means that a reorder was created directly for an order. A search will automatically be carried out when you open the menu. You can use filters to narrow down the search results.</p>
</div>
<div class="paragraph instruction">
<p>Searching in the order based backlog list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Order based backlog list</strong>.</p>
</li>
<li>
<p>Select filters for your search.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The backlog list search results will be listed by item ID in ascending order of the IDs. You can open the item, the reorder or the customer by clicking on the ID. The IDs are displayed along with the result. <a href="#Table-search-result-column">[Table-search-result-column]</a> provides you with explanations of the information displayed in the search results.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Orders are automatically set to status 5 if you book in stock in a reorder that is order based.</div>
<div class="paragraph">
<p>If you open a reorder that was created in an order and you book in stock in the reorder, then the status of this order will automatically change to status 5.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-search-result-column" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. search result columns</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the quantity that was reordered and the quantity that was purchased in the order. The quantities are displayed one below the other. In both lines actually 3 quantities are displayed. These quantities are the quantity that was already delivered, the quantity that still needs to be delivered and the quantity that was originally ordered or reordered. This means that thee quantity that was already delivered to the customer can be found in the second line. <br>
upper line = reorder<br>
lower line = order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NRQ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Difference between the quantity that was ordered in the original order and the quantity that was reordered. This difference is not reserved when reordered and therefore the name non-reserved quantity.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. List supply that is coming in from returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have a separate menu that lists the items that are announced to be returned. A search will automatically be carried out when you open the <strong>Stock » Returns » Supply</strong> menu. The results are listed in descending order according to the date that the return was created. Items from the latest return are listed first.</p>
</div>
</div>
</div>
</main>