<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating a template that contains work steps</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Creating a template</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Adding work steps to a template</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.</span><span> Making use of work steps in the reorder</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>2.1.</span><span> Generating tickets for work steps</span></a></li>
<li><a href="#600"><span>2.2.</span><span> Editing tickets</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.</span><span> Searching for a template</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Old: Splitting reorders into work steps</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Connect your ticket system to reorders and build work steps for reorders.
You will first need to create a ticket template and then you can create work steps within the template.
You can add up to 30 work steps per template.
The ticket itselfs allows you to record the communication and the progress during a work step. Furthermore you can involve other users in the work step.
Once you have completed all of the steps, you can submit your order.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Example: When is it useful to create work steps?</strong></div>
<div class="paragraph">
<p>You need to create a <strong>pattern</strong> for custom-made shoes that are ordered directly from a manufacturer. Creating the pattern is the 1st <strong>work step</strong> (see the explanation of the work steps below). The pattern will be used to calculate the <strong>cost of materials</strong>. This is the 2nd work step. Further work steps are also created for the rest of the process and time periods are specified for them. The order will not be placed until all of the steps have been completed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating a template that contains work steps</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First you will learn how to create a template and then you will learn to set up work steps.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Creating a template</h3>
<div class="paragraph">
<p>Proceed as described below to create a new template.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Stock » Reorder management » Templates</strong>.</p>
</li>
<li>
<p>Click on <strong>New Template</strong>.<br>
→ A new <strong>window</strong> will open.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the template.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The template will be given an ID and will be added to the selection available in the <strong>Templates</strong> tab.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Adding work steps to a template</h3>
<div class="paragraph">
<p>In this menu, you can create up to <strong>30 work steps</strong> per template.
You can then use the work steps to generate tickets for a reorder.
The <strong>Ticket</strong> tab allows you to do so. It is located in the editing window of a reorder.</p>
</div>
<div class="paragraph">
<p>In order to create a work step, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Creating a work step:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Stock » Reorder management » Templates</strong>.</p>
</li>
<li>
<p>Click on a <strong>template</strong> to open it.</p>
</li>
<li>
<p>Click on the <strong>New step</strong> button.<br>
→ A new <strong>window</strong> will open.</p>
</li>
<li>
<p>Carry out the <strong>settings</strong> as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. settings for templates</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a title for a work step.<br>
You can extend the title by attaching either a <strong>suffix</strong> or adding a <strong>prefix</strong>. You can also use both. The settings can help you recognize which <strong>order</strong>, <strong>customer</strong> or reorder the work step belongs to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suffix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select between the options <strong>Reorder ID</strong>, <strong>Order date</strong> and <strong>Customer name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select between the options <strong>Reorder ID</strong>, <strong>Order date</strong> and <strong>Customer name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a prosition for each step. The position defines the correct order of the work steps.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deadline</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a period of days. This will be used to calculate the deadline for completing the work step.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you can see all of the users who are authorized for the ticket system. Select an owner for the work step. The owner will be added automatically to tickets. However, you can add further owners in the ticket.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Role</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the role of the owner. Go to <strong>System » System settings » CRM » Ticket system » Settings</strong> to create roles for the ticket system. These are not the same as user roles.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a type. Go to <strong>System » System settings » CRM » Ticket system » Settings</strong> to create ticket types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status. Go to <strong>System » System settings » CRM » Ticket system » Settings</strong> to create statuses for tickets. You need to create ticket statuses for each ticket type. Therefore each type can have different statuses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Confidential</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> or <strong>No</strong>. <br>
<strong>Yes</strong> = The work step is confidential and for that reason only comments can be written. Messages can not be written. <br>
<strong>No</strong> = The work step is not confidential and messages as well as comments can be written.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Message</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Messages can be used for internal and external communication. This means you can write messages to communicate with customers, suppliers etc. You can use the messages to give more information about a work step and the current progess or any other information you would like to include. A message will always be sent as email to the ticket owners.
You only need to enter the <a href="/en/basics/admin-tasks/manage-users#30">email address</a> in the user account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Comments are used for internal communication. Comments can not be read by external contributors such as customers or suppliers.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Making use of work steps in the reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All work steps of a template will be converted into tickets when you click on <strong>Generate ticket from template</strong>. Next you can edit the tickets and write messages or comments.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Only one template per reorder</div>
<div class="paragraph">
<p>You can only generate work steps once in a reorder. This means that you can only apply one template. If a template was applied, you can not apply a second template.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="500">2.1. Generating tickets for work steps</h3>
<div class="paragraph">
<p>Proceed as described below to generate tickets for work steps. The supplier of the reorder is automatically linked to the ticket.</p>
</div>
<div class="paragraph instruction">
<p>Generating tickets for work steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>.</p>
</li>
<li>
<p>Open a reorder or create a new reorder.</p>
</li>
<li>
<p>Click on the <strong>Ticket</strong> tab.</p>
</li>
<li>
<p>Select a <strong>Ticket template</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Generate tickets</strong>.<br>
→ For each step of the template one ticket will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The system will give the ticket an ID and the IDs are used to list the tickets in descending order. The order in which the tickets are created defines the order of the ticket IDs. The ID of the reorder will be displayed in the ticket. In front of the reorder ID the abbreviation RO is displayed. This is meant to help you identify the tickets that belong to reorders.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Adding steps</div>
<div class="paragraph">
<p>If you edit a template later on and you add more steps, the steps will not be added to reorders in which the template was applied.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="600">2.2. Editing tickets</h3>
<div class="paragraph">
<p>Tickets can be used to share comments or messages. You can also add files in the <strong>Attachment</strong> tab. If a message is added, it will directly be sent as email to the supplier included in the ticket. The supplier’s answer will also be shown in the ticket. Comments, however, are internal messages which are not sent to the supplier.</p>
</div>
<div class="paragraph">
<p>In addition, editing tickets is documented with statuses. The statuses available depend on the ticket type. The ticket types allow you to set up one type e.g. for customer support and one for reorder work steps.</p>
</div>
<div class="paragraph">
<p>Go to <a href="/en/crm/using-the-ticket-system">System » System settings » CRM » Ticket system</a> to set up the function for retrieving emails as well as to create ticket types and statuses.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">3. Searching for a template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use filters to search for templates. Proceed as described below to search fo ra template.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Stock » Reorder management » Templates</strong>.</p>
</li>
<li>
<p>Open the <strong>Filter</strong> tab and enter either the <strong>ID</strong> of the template, the <strong>name</strong> of the template or select a date that the template was <strong>created on</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The results are displayed in the <strong>Templates</strong> tab.</p>
</li>
</ol>
</div>
</div>
</div>
</main>