<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Preparatory settings</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> Setting up the reorder level and quantity suggestion</span></a></li>
<li><a href="#120"><span>1.2.</span><span> Creating statuses for reorders</span></a></li>
<li><a href="#130"><span>1.3.</span><span> Creating tags for reorders</span></a></li>
<li><a href="#140"><span>1.4.</span><span> Setting up the reorder document</span></a></li>
<li><a href="#150"><span>1.5.</span><span> Preparing to send the reorder document</span></a></li>
<li><a href="#160"><span>1.6.</span><span> Defining the reorder level of a variation</span></a></li>
<li><a href="#170"><span>1.7.</span><span> Defining the minimum order quantity of a variation</span></a></li>
<li><a href="#180"><span>1.8.</span><span> Assigning rights</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Identifying variations for the reorder</span></a></li>
<li><a href="#300"><span>3.</span><span> Creating a reorder</span></a>
<ul class="sectlevel2">
<li><a href="#310"><span>3.1.</span><span> Reordering variations below reorder level</span></a></li>
<li><a href="#320"><span>3.2.</span><span> Reordering variations per warehouse and supplier</span></a></li>
<li><a href="#330"><span>3.3.</span><span> Reordering variations from a specific order</span></a></li>
<li><a href="#340"><span>3.4.</span><span> Reordering individual variations</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> Adding order items</span></a></li>
<li><a href="#500"><span>5.</span><span> Editing order items</span></a></li>
<li><a href="#600"><span>6.</span><span> Submitting additional information</span></a></li>
<li><a href="#700"><span>7.</span><span> Finishing and sending a reorder</span></a>
<ul class="sectlevel2">
<li><a href="#710"><span>7.1.</span><span> Manually generating a reorder document</span></a></li>
<li><a href="#720"><span>7.2.</span><span> Automatically generating a reorder document</span></a></li>
<li><a href="#730"><span>7.3.</span><span> Sending the reorder document using the Email service</span></a></li>
</ul>
</li>
<li><a href="#800"><span>8.</span><span> Using the backlog list</span></a></li>
<li><a href="#900"><span>9.</span><span> Booking variations in</span></a>
<ul class="sectlevel2">
<li><a href="#910"><span>9.1.</span><span> Booking partial quantities in</span></a></li>
<li><a href="#920"><span>9.2.</span><span> Booking all variations in</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>10.</span><span> Finishing a reorder</span></a></li>
<li><a href="#1100"><span>11.</span><span> Searching for reorders</span></a></li>
<li><a href="#1200"><span>12.</span><span> Automating reorders</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>New: Working with reorders</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">New beta version of the reorder</div>
<div class="paragraph">
<p>This manual page describes how to reorder goods and manage reorders using the beta version of the new reorder functionality. As soon as the test phase ends, the functionality will be implemented in all plentymarkets systems during the upcoming weeks. Until then, you can find further information on the upcoming release in this <a href="https://forum.plentymarkets.com/t/ankuendigung-releaseprozess-neue-nachbestellung/542252" target="_blank" rel="noopener">forum post</a> (Last update: 24-May-2019).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In the <strong>Stock » Reorder management » Purchase order</strong> menu, you do not only carry out <a href="/en/stock-management/working-with-redistributions">redistributions</a>, but you also create reorders. Reorders are used to reorder goods from your suppliers.</p>
</div>
<div class="paragraph">
<p>A reorder consists of the following steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Identifying variations for the reorder:</p>
</li>
<li>
<p><a href="#300">Creating a reorder</a></p>
</li>
<li>
<p><a href="#400">Adding order items</a></p>
</li>
<li>
<p><a href="#500">Editing order items</a></p>
</li>
<li>
<p><a href="#600">Submitting additional information</a></p>
</li>
<li>
<p><a href="#700">Finishing and sending a reorder</a></p>
</li>
<li>
<p><a href="#800">Using the backlog list</a></p>
</li>
<li>
<p><a href="#900">Booking items in</a></p>
</li>
<li>
<p><a href="#1000">Finishing a reorder</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>We recommend carrying out some preparatory settings before working with reorders.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following chapters describe some preparatory settings. Carry them out before working with reorders for the first time. Usually, these settings only have to be made once. Set up the reorder level and the quantity suggestion for reorders to determine when items should be reordered. Create new order statuses especially for reorders and create tags to maintain a good overview. In addition, setting up a document for the <strong>reorder</strong> document is mandatory.</p>
</div>
<div class="sect2">
<h3 id="110">1.1. Setting up the reorder level and quantity suggestion</h3>
<div class="paragraph">
<p>Prior to creating your first reorder, you should carry out the settings for the reorder level and the sales period. This way, you determine at which stock level variations are reordered.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the reorder level and quantity suggestion:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Stock » Reorder management » Reorder » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings according to the information provided in &lt;table-reorder-level-quantity-suggestion-reorder&gt;.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-reorder-level-quantity-suggestion-reorder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Preparatory settings for reorders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a default status that should be preselected when creating a reorder. For further information on how to set up specific statuses for reorders, refer to the chapter <a href="#120">Creating statuses for reorders</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the available options.<br>
<strong>Active owner preselected</strong>: The user creating the reorder in the plentymarkets back end is preselected in the <strong>Owner</strong> field.<br>
<strong>No owner preselected</strong>: If you select this option, no <strong>Owner</strong> is preselected when creating a new redistribution.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a period of time. The sales period defines which period of time will be used to calculate the average consumption of the variation. The average consumption is relevant for suggesting a reorder quantity for a variation. The quantity suggestion for individual variations is displayed in the <strong>Stock » Stocks</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default value for reorder level/order quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This setting determines the way in which the order quantity for the quantity suggestion for the reorder is calculated.<br>
You can choose between:<br>
<strong>Reorder level - net stock - ordered quantity</strong> or<br>
<strong>(Reorder level - net stock - ordered quantity) \+ (Average consumption * (Replacement time + Stock turnover (in days))</strong><br>
<br>
Parameters used for suggesting a reorder quantity:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Reorder level</strong> = the quantity at which a reorder should be placed. You can select a <a href="/en/stock-management/managing-reorders#500">static or dynamic reorder level</a>.</p>
</li>
<li>
<p><strong>Net stock</strong> = the quantity of stock that can be sold.</p>
</li>
<li>
<p><strong>Ordered quantity</strong> = the quantity that you already ordered from your supplier, but that is still to be delivered.</p>
</li>
<li>
<p><strong>Average consumption</strong> = the average quantity consumed or or sold per day. The sales period that you select defines the period of time that will be used to calculate the average consumption per day.</p>
</li>
<li>
<p><strong>Replacement time</strong> = the time needed by a supplier to deliver the ordered variations. The number of days required by the supplier to deliver a variation needs to be entered in the <strong>Supplier</strong> tab of a variation.</p>
</li>
<li>
<p><strong>Stock turnover (in days)</strong> = The stock turnover (in days) saved. The stock turnover (in days) represents the number of days that you want your stock to last. The stock turnover (in days) is saved for each variation per warehouse in the <strong>Warehouse</strong> tab of the variation.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="120">1.2. Creating statuses for reorders</h3>
<div class="paragraph">
<p>A certain number of statuses is saved in your plentymarkets system by default. Those default order statuses can also be used for reorders. However, you can also create a number of individual statuses for particular uses. Creating new order statuses is described in detail in the respective chapter on the <a href="/en/orders/managing-orders#1200">Managing orders</a> page of the manual.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Creating own statuses for reorders</div>
<div class="paragraph">
<p>We recommend setting up separate statuses that you use exlusively for working with the order type <strong>reorder</strong>. Make sure that the statuses can be distinguished from the statuses used for other order types by assigning different names.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="130">1.3. Creating tags for reorders</h3>
<div class="paragraph">
<p>Tags are keywords that you create centrally before you can use them to mark data in different areas of your plentymarkets system. If you want to use tags with reorders, you need to create those tags beforehand in the <strong>System » System settings » Settings » Tags</strong> menu. To do so, follow the instructions on the <a href="/en/basics/working-with-plentymarkets/tags">Managing tags</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="140">1.4. Setting up the reorder document</h3>
<div class="paragraph">
<p>The <strong>reorder document</strong> is a specific document that serves as an order form for the reorder. This document contains information on all variations included in the reorder. You as the seller send it to your supplier.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Document template must be set up</div>
<div class="paragraph">
<p>The document template for the <strong>reorder document</strong> has to be set up before creating such a document for the first time. As long as no document template has been set up, the reorder document cannot be created.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following instructions describe how to transfer the default document template saved in your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a template for the <strong>reorder document</strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Stock » Reorder management » Reorder » Documents » Reorder</strong>.</p>
</li>
<li>
<p>Open the <strong>transfer</strong> tab.</p>
</li>
<li>
<p>Select the language from the drop-down list above the tab title.</p>
</li>
<li>
<p>In the <strong>Apply settings from default document template</strong> area, click on <strong>Accept</strong>.<br>
→ The default document template is applied to the document.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you wish to make individual changes to the <strong>Reorder</strong> document, such as displaying your company logo or further information, proceed according to the instructions provided on the <a href="/en/orders/order-documents#300">order documents</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">1.5. Preparing to send the reorder document</h3>
<div class="paragraph">
<p>After setting up the document template for the reorder document in the previous step, you should carry out the settings for sending the document to make sure that your supplier receives your reorder data. First you need to set up an email template that contains the reorder document attached as PDF. The basic steps for setting up the email template are described in the following. For further information about email templates, refer to the <a href="/en/crm/sending-emails#1200">Sending emails</a> page of the manual.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Click on <strong>New email template</strong>.</p>
</li>
<li>
<p>Enter a name, for example "Reorder document to supplier”.</p>
</li>
<li>
<p>Select the owner or owners for whom the email template should be available.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Select the option <strong>Reorder (PDF)</strong> from the drop-down menu <strong>PDF attachment</strong>.</p>
</li>
<li>
<p>Click on the <strong>Email message</strong> tab.</p>
</li>
<li>
<p>Enter a subject.</p>
</li>
<li>
<p>Enter the text that should be included in the email template.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In the next step, you can automate sending the reorder document to your supplier. This way, the reorder document is automatically sent to your supplier after it has been generated.</p>
</div>
<div class="paragraph">
<p>Set up the following event procedure.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Automatically sending the reorder document to the supplier:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>. <br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#table-event-procedure-reorder-document-to-supplier">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table <a href="#table-event-procedure-reorder-document-to-supplier">Table 2</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-reorder-document-to-supplier" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Event procedure for automatically sending the reorder document to the supplier</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase order &gt; Reorder document generated</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type &gt; Purchase order, type reorder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="160">1.6. Defining the reorder level of a variation</h3>
<div class="paragraph">
<p>If you wish to be notified as soon as it is time to reorder variations, you should set up a reorder level for each variation in your plentymarkets system. The reorder level represents the quantity that is left in stock at which a variation should be reordered.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Set up warehouses to enter the reorder level</div>
<div class="paragraph">
<p>You can only enter a reorder level if you have assigned a warehouse to the variation. If you have not yet assigned a warehouse, do so beforehand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Entering a static reorder level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Open variation » Edit variation » Tab: Warehouse</strong>.</p>
</li>
<li>
<p>Enter a quantity for the <strong>reorder level</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying variations below the reorder level on the dashboard of your system</div>
<div class="paragraph">
<p>You can add an element that shows you variations that are below the reorder level on the dashboard of your system. To do so, add the element <strong>Items below reorder level</strong>. By clicking on the number of variations, you can open the <strong>Stock » Stocks</strong> menu and filter the variations that are below the reorder level.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="dynamicReorderLevel" class="paragraph subhead">
<p>Status of the dynamic reorder level</p>
</div>
<div class="paragraph">
<p>For each warehouse, you can decide whether you would like to use the dynamic reorder level or not. If you use the dynamic reorder level, your system calculates the dynamic reorder level automatically every night. This calculated reorder level is not visible in your system yet, meaning that the actual value is not displayed to you. However, if you use the dynamic reorder level, the general reorder level is based on this calculated value. The values is displayed to you e.g. in the stock overview. This way, you can identify the variations that have to be reordered in the stock overview.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not save a static reorder level while using the dynamic reorder level</div>
<div class="paragraph">
<p>If you use the dynamic reorder level, you must not enter a static reorder level manually. Leave the reorder level for the variations in the warehouse on 0. If a reorder level bigger than 0 is saved manually, the calculation of the dynamic reorder level is not carried out.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The dynamic reorder level is calculated each night using the following formula:</p>
</div>
<div class="paragraph">
<p>\(\\mbox{Dynamic reorder level} = {(\\mbox{Ø Sales period} \\cdot \\mbox{Stock turnover}) \+ (\\mbox{Ø Sales period} \\cdot \\mbox{Shortest delivery period})}\)</p>
</div>
<div class="paragraph">
<p>Explanation of the parameters:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ø Sales period = Average quantity of items sold</p>
</li>
<li>
<p>Shortest delivery period = Shortest delivery period, regardless of which supplier</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The difference to the dynamic reorder level (RLΔ) is carried out by the system and is calculated as follows:</p>
</div>
<div class="paragraph">
<p>\(\\mbox{RLΔ} = {(\\mbox{Dynamic reorder level} - (\\mbox{Net stock} \+ (\\mbox{reordered quantity})}\)</p>
</div>
<div class="paragraph">
<p>Set up the dynamic reorder level for each warehouse in the <a href="/en/stock-management/setting-up-a-warehouse#300">warehouse settings</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="170">1.7. Defining the minimum order quantity of a variation</h3>
<div class="paragraph">
<p>The minimum order quantity is the quantity that you need to order as a minimum from your supplier. The suggested reorder quantity will be at least as hight as the minimum entered here. However, you will only get a suggestion if the reorder level has been reached.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Assign a supplier to enter a minimum order quantity</div>
<div class="paragraph">
<p>You can only enter a minimum order quantity if you have assigned a supplier to the variation. If you have not yet assigned a supplier, do so now.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Defining the minimum order quantity of a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Edit variation » Tab: Supplier</strong>.</p>
</li>
<li>
<p>Enter a minimum order quantity.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The reorder suggestion remains on 0 if you do not enter a reorder level.</p>
</div>
</div>
<div class="sect2">
<h3 id="180">1.8. Assigning rights</h3>
<div class="paragraph">
<p>Users of the type <strong>Backend</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If users of this type should be able to create and process reorders, a user of the type <strong>Admin</strong> has to assign at least the rights listed in <a href="#table-rights-reorders">Table 3</a> to those users.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function and open the user that should be edited.</p>
</li>
<li>
<p>In the <strong>Authorisations</strong> area, activate the rights as listed in <a href="#table-rights-reorders">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-rights-reorders" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Required right for back end users</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start &gt; Dashboard</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to see the start page of the back end as well as the dash board.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>POS &gt; Show POS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to see the integrated POS.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders &gt; Show orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to display orders in the plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders &gt; Purchase order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to create purchase orders and edit the respective settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items &gt; Item editing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to edit items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items &gt; Item editing &gt; Variation &gt; Show variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to display variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CRM &gt; Contact &gt; Show contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the abck end user to access the contact data (e.g. of the supplier).</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Identifying variations for the reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To manage your stocks effectively, it is important to identify variations that have to be reordered in time before you run out of them. This way, you avoid running out of stocks and thus having to inform your customers of longer delivery periods.</p>
</div>
<div class="paragraph">
<p>The variations that have to be reordered are most easily identified by checking them for their reorder levels. If you have not set up reorder levels, you can alternatively filter variations by their net stock.</p>
</div>
<div class="paragraph instruction">
<p>Identifying variations for the reorder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Stocks</strong>.</p>
</li>
<li>
<p>Select the option <strong>Reorder level reached/below</strong> for the <strong>limitation</strong> filter.<br>
<strong><em>Or</em></strong>: Select the option <strong>Negative net stock or net stock equals 0</strong> if you have not set up reorder levels.</p>
</li>
<li>
<p>Select a warehouse (optional).</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ A list of variations that should be reordered is displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Creating a reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Depending on your needs, your plentymarkets system offers you different methods to create reorders. These methods are briefly described in the following chapters.</p>
</div>
<div class="sect2">
<h3 id="310">3.1. Reordering variations below reorder level</h3>
<div class="paragraph">
<p>This chapter describes how you create a reorder for variations that are below reorder level. The <a href="#200">Identifying variations for the reorder</a> chapter already explained how to identify which variations have reached the determined reorder level or are below it. The following steps have to be carried out after filtering for the variations mentioned above.</p>
</div>
<div class="paragraph instruction">
<p>Creating a reorder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Stocks</strong>.</p>
</li>
<li>
<p>Carry out a search for variations that have reached or are below reorder level according to the explanations provided in <a href="#200">Identifying variations for the reorder</a>. <br></p>
</li>
<li>
<p>Click on <strong>Accept suggestion</strong> to use the suggested reorder quantity.<br>
→ Manually enter your desired quantities, if necessary.</p>
</li>
<li>
<p>Click on <strong>Create reorder</strong>.<br>
→  The reorder opens.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="320">3.2. Reordering variations per warehouse and supplier</h3>
<div class="paragraph">
<p>It may be necessary to create a reorder for a particular warehouse or supplier. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Reordering variations per warehouse and supplier:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Purchase order</strong>.</p>
</li>
<li>
<p>Click on the <strong>green Plus</strong> icon.</p>
</li>
<li>
<p>Click on <strong>New reorder</strong>.</p>
</li>
<li>
<p>Select the supplier from the drop-down list in the <strong>Supplier</strong> field.</p>
</li>
<li>
<p>Select the warehouse to which the reorder should be delivered in the <strong>Warehouse</strong> field.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select one or several <strong>Tags</strong> to mark the new reorder.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select an <strong>Owner</strong>, meaning the user responsible for the reorder.</p>
</li>
<li>
<p><strong>Save</strong> the reorder.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Follow the steps described in chapters <a href="#400">Adding order items</a> to <a href="#1000">Finishing a redistribution</a> to complete the reorder process.</p>
</div>
</div>
<div class="sect2">
<h3 id="330">3.3. Reordering variations from a specific order</h3>
<div class="paragraph">
<p>It is also possible to create a reorder for one or several variations from an existing order. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Reordering variations from a specific order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Opens the <strong>Orders » Edit orders</strong> menu.</p>
</li>
<li>
<p>Open the order for which you wish to reorder variations.</p>
</li>
<li>
<p>Open the order’s <strong>Reorder</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Reorder all items</strong>.<br>
<strong><em>Or</em></strong>: If not all order items should be reordered, select the order items that you wish to reorder and click on <strong>Reorder selected items</strong>.<br>
→  The reorder opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Follow the steps described in chapters <a href="#400">Adding order items</a> to <a href="#1000">Finishing a redistribution</a> to complete the reorder process.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Reorder is assigned to the order</div>
<div class="paragraph">
<p>When reordering variations from an existing order as described above, the reordered stock is directly assigned to the corresponding order. The respective variations are marked with a shopping cart icon in the <strong>Order items*area of the corresponding reorder. By clicking on the icon, the ID of the main order is displayed to you and the *Overview</strong> tab of the main order is opened.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="340">3.4. Reordering individual variations</h3>
<div class="paragraph">
<p>This method is useful if you only need to reorder one variation of a specific item. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Reordering individual variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item</strong> menu.</p>
</li>
<li>
<p>Open the item that you wish to reorder.</p>
</li>
<li>
<p>Open the variation that you wish to reorder.</p>
</li>
<li>
<p>Click on the <strong>Stock</strong> tab of the variation.</p>
</li>
<li>
<p>Open the <strong>Stock</strong> sub-tab.</p>
</li>
<li>
<p>Click on <strong>Accept suggestion</strong> or enter a <strong>Quantity</strong>.</p>
</li>
<li>
<p>Click on <strong>Create reorder</strong>.<br>
→  The reorder opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Follow the steps described in chapters <a href="#400">Adding order items</a> to <a href="#1000">Finishing a redistribution</a> to complete the reorder process.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Adding order items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the previous chapters, several methods for creating a reorder in your plentymarkets system have been described. Now, you can enter further variations to the reorder by adding order items.</p>
</div>
<div class="paragraph instruction">
<p>Adding order items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the <strong>Order items</strong> area, click on <strong>Add</strong>.<br>
→ A menu for adding order items opens.</p>
</li>
<li>
<p>Select one of the filters described in <a href="#table-filter-item-search-reorder">Table 4</a> to search for order items.</p>
</li>
<li>
<p>Select a search term fitting the search filter in the <strong>Item search</strong> field.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br></p>
</li>
<li>
<p>Enter the item quantity that should be reordered in the <strong>Quantity</strong> column of the variation.</p>
</li>
<li>
<p>Click on the <strong>Cart</strong> icon.<br>
→ The variations are added to the cart.</p>
</li>
<li>
<p>Repeat the steps described above until all variations that should be reordered are included in the cart in the desired quantities.</p>
</li>
<li>
<p>In the <strong>Cart</strong> area, click on <strong>Save</strong>.<br>
→ The cart is saved.<br>
→  The reorder opens.</p>
</li>
</ol>
</div>
<table id="table-filter-item-search-reorder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Available filters in the item search</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the item with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the variation with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the variation number to search for the variation with this number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the barcode to search for the variation with this barcode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the item data to search for the item with this name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of the supplier to search for items with this supplier number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the warehouse to search for items linked to this warehouse.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Editing order items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After adding the desired variations to the cart, you can edit them in the <strong>Order items</strong> area. For example, a <strong>Delete</strong> option which you can use to remove variations from the reorder is displayed for each variation.
In the <strong>Purchase price</strong> field, you can change the pre-entered purchase price in case your supplier has agreed to a change in price on short notice.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Editing the purchase price for variations</div>
<div class="paragraph">
<p>Editing the purchase price may affect the prices for variations already saved in your system.
If one of the options <strong>Save purchase price in variation data</strong> or <strong>Save purchase price in variation and supplier data</strong> is activated for the <strong>Purchase price</strong> in the <strong>System » System settings » Stock » Stock » Incoming items</strong> menu, the previously saved purchase price for the variation is overwritten by your entry during the reorder. For more detailed information on these settings, refer to the <a href="/en/stock-management/stock-management/new-incoming-items#300">Managing incoming items</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Once you have made all necessary changes to the order items, click on <strong>Save</strong> in the <strong>Cart</strong> area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Submitting additional information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Details</strong> area of the reorder offers you the possibility to submit additional information for a reorder. &lt;table-additional-information-reorder&gt; describes the possible information.</p>
</div>
<table id="table-additional-information-reorder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Additional information for a reorder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manually select the delivery date in case your supplier has informed you about it. Alternatively, use the function <strong>Calculate delivery date</strong>. The system then calculates the estimated delivery date on the basis of the <strong>Delivery time</strong> saved in the <strong>Supplier tab</strong> of the variations included in the reorder. For more information on saving the delivery time for a variation, refer to the <a href="/en/item/managing-items#180">Managing items</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dealer sign</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the dealer sign as communicated by the supplier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a user who should be determined as the person responsible for the reorder. Alternatively, the <a href="#200">default owner</a> is displayed in this field in case you have made the corresponding settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The system currency is displayed in this field by default. If needed, enter a different <strong>Currency</strong> for the supplier as well as the <strong>Exchange rate</strong> that is currently valid for the currency. The <strong>Details</strong> area will then include a display of the calculated <strong>Net order value</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. Finishing and sending a reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After adding all variations that should be reordered to the reorder, you set the order date. To do so, click on <strong>Initiate order</strong> in the <strong>Details</strong> area.</p>
</div>
<div class="paragraph">
<p>After initiating the order, you still need to send the reorder to your supplier. To do so, generate the <strong>Reorder</strong> document. The chapter on <a href="#150">Preparing to send the reorder document</a> already explained how to set up the document template and how to automatically send the document to your supplier. In the following, you find instructions on how to generate the document manually and automatically.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Order items cannot be edited any more</div>
<div class="paragraph">
<p>As soon as you have set the order date, you cannot add any more order items to the reorder or delete them. Thus, only set the order date after carefully checking whether the reorder is complete!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="710">7.1. Manually generating a reorder document</h3>
<div class="paragraph">
<p>Proceed as described below to manually generate a reorder document. Depending on your individual workflow, you can also upload a document in case your supplier has sent it to you.</p>
</div>
<div class="paragraph instruction">
<p>Manually creating a reorder document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Documents</strong> area.</p>
</li>
<li>
<p>Click on <strong>Add document</strong>.</p>
</li>
<li>
<p>Select the option <strong>Create reorder document</strong>.<br>
<strong><em>Or</em></strong>: Select the option <strong>Upload reorder document</strong> to upload a delivery note generated by and sent to you by your supplier.<br>
→ The reorder document is generated and is available in the <strong>Documents</strong> area.</p>
</li>
<li>
<p>Click on <strong>Procedures</strong> to download or delete the document.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="720">7.2. Automatically generating a reorder document</h3>
<div class="paragraph">
<p>Set up the following event procedure to automatically generate the reorder document as soon as you have set the order date.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Automate generating the reorder document:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>. <br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#table-event-procedure-generate-reorder-document">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table <a href="#table-event-procedure-generate-reorder-document">Table 6</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-generate-reorder-document" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure for automatically generating the reorder document</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase order &gt; Purchase order initiated</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">*Filter *</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type &gt; Purchase order, type reorder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Automatically sending the reorder document to the supplier</div>
<div class="paragraph">
<p>If you wish to automatically send the reorder document after it has been generated, set up the additional event procedure described in the chapter <a href="#150">Preparing to send the reorder document</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="730">7.3. Sending the reorder document using the Email service</h3>
<div class="paragraph">
<p>In addition to sending the reorder document automatically using event procedures, you can access the email service from the reorder and thus manually send the created reorder document. Open the menu for sending the email by clicking on <strong>Email service</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Setting up an email template</div>
<div class="paragraph">
<p>Before using the email service for processing reorders, you have to set up an email template for this purpose in the <strong>System » System settings » Client » Select client » Email » Templates</strong> menu.  For further information, refer to the <a href="/en/crm/sending-emails#1200">Sending emails</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sending the reorder document using the Email service:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Email service</strong> in the opened reorder.<br>
→ A window for selecting the email template opens in a new tab.</p>
</li>
<li>
<p>Select the email template that should be sent to the supplier.</p>
</li>
<li>
<p>Click on the <strong>eye</strong> to open the preview.</p>
</li>
<li>
<p>If necessary, edit the text of the email.<br>
<strong><em>Note</em></strong>: Changing the text only affects the email you are editing. The email template itself is not changed!</p>
</li>
<li>
<p>Click on the <strong>envelope</strong> to send the email.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Using the backlog list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have reordered a large quantity of variations or several reorders are pending at the same time, use the backlog list to keep track of all variations that you have reordered, but that have not been delivered yet. These variations are displayed in the <strong>Stock » Reorder management » Backlog list</strong> menu. For further information on the backlog list, refer to the <a href="/en/stock-management/managing-reorders/managing-backlog-lists">Managing backlog lists</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Booking variations in</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as the reordered variations arrive at your warehouse, they have to be booked in. Depending on whether all variations included in the reorder arrive at once or whether they arrive in separate deliveries, you book in partial quantities or all variations in one step.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Storage location for booking variations in</div>
<div class="paragraph">
<p>If you have not set up separate warehouses and storage locations for your variations in your plentymarkets system, the variations are booked into the Default storage location that exists in your system by default.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="910">9.1. Booking partial quantities in</h3>
<div class="paragraph">
<p>Proceed as described below to book in partial quantities belonging to separate deliveries of the same reorder.</p>
</div>
<div class="paragraph instruction">
<p>Booking partial quantities in:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Purchase order</strong>.</p>
</li>
<li>
<p>Open the reorder for which variations should be booked in.</p>
</li>
<li>
<p>Open the <strong>Order items</strong> area.</p>
</li>
<li>
<p>Enter the quantity of delivered order items in the <strong>Subset</strong> field.</p>
</li>
<li>
<p>Click on <strong>Create partial delivery</strong>.<br>
→ The stock movements for the incoming partial delivery are created.</p>
</li>
<li>
<p>Open the <strong>Stock movements</strong> area. The green arrows in the table represent the prepared stock movements.</p>
</li>
<li>
<p>In the <strong>Storage location</strong> column, enter the ID of the storage location into which the order items should be booked.</p>
</li>
<li>
<p>Place a check mark in every line belonging to an item variation that should be booked in.</p>
</li>
<li>
<p>In the <strong>Delivery note number</strong> field, enter the number of the delivery note belonging to the reorder.</p>
</li>
<li>
<p>Click on <strong>Book selected stock movements</strong>.<br>
→ The delivered partial quantity is booked into the desired storage locations.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="920">9.2. Booking all variations in</h3>
<div class="paragraph">
<p>Proceed as described below to book in all variations included in the reorder at once.</p>
</div>
<div class="paragraph instruction">
<p>Booking all variations in:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Purchase order</strong>.</p>
</li>
<li>
<p>Open the reorder for which variations should be booked in.</p>
</li>
<li>
<p>Open the <strong>Order items</strong> area.</p>
</li>
<li>
<p>Click on <strong>Create complete delivery</strong>.<br>
→ The stock movements for the incoming partial delivery are created.</p>
</li>
<li>
<p>Open the <strong>Stock movements</strong> area. The green arrows in the table represent the prepared stock movements.</p>
</li>
<li>
<p>In the <strong>Storage location</strong> column, enter the ID of the storage location into which the order items should be booked.</p>
</li>
<li>
<p>In the <strong>Delivery note number</strong> field, enter the number of the delivery note belonging to the reorder.</p>
</li>
<li>
<p>Click on <strong>Book all stock movements</strong>.<br>
→  The complete quantity is booked into the desired storage locations.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">10. Finishing a reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as you have received and booked in all variations included in the reorder, you can finish the reorder. To do so, go to the <strong>Details</strong> area of the reorder and click on <strong>Finish reorder</strong>. The current date is set as the finish date and the reorder cannot be edited any more.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Unlocking a reorder</div>
<div class="paragraph">
<p>In case you have set the finish date by mistake, unlock the reorder by clicking on the icon once more. This way, the reorder is unlocked and can be edited again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You should also finish the reorder if it is clear that particular variations included in the reorder will definitely not be delivered to your warehouse, for example due to loss during the delivery process. This way, the undelivered order items will also be removed from the <a href="/en/stock-management/managing-reorders/managing-backlog-lists">Backlog list</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">11. Searching for reorders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When opening the <strong>Stock » Reorder management » Purchase order</strong> menu, all existing reorders and <a href="/en/stock-management/working-with-redistributions">redistributions</a> are displayed. You can change the result by changing the filter settings. You can either choose to use more filters or to reset the filters and to get all reorders.</p>
</div>
<div class="paragraph instruction">
<p>Searching for reorders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Purchase order</strong>.<br></p>
</li>
<li>
<p>Select one or several of the filters listed in <a href="#table-reorder-search">Table 7</a> to limit the search results.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.</p>
</li>
</ol>
</div>
<table id="table-reorder-search" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Available filters for searching for reorders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the order ID of the reorder to search for the reorder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order type <strong>reorder</strong> to restrict the search results to orders of the type <strong>reorder</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an item ID to search for reorders containing an item with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a variation ID to search for reorders containing a variation with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a variation number to search for reorders containing a variation with this number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a search term or a numeric value to search for reorders that contain items with the term or number. The following data fields are searched: <strong>Item ID</strong>, <strong>Item number</strong> and <strong>Name</strong>. The descriptive texts such as the item text and the preview text are not searched.
In addition, set the <strong>Order type</strong> filter to <strong>Reorder</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status from the list. In addition, set the <strong>Order type</strong> filter to the option <strong>Reorder</strong> to search for reorders with this status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an owner from the list. In addition, set the <strong>Order type</strong> filter to the option <strong>Reorder</strong> to search for reorders with this owner.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order date from …​ to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a start and end date from the calendar. This selection limits the time period to include the order date of the reorder.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">12. Automating reorders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Reorders can be partly automated with the help of the event procedures available in your plentymarkets system. One possibility of automating the generation of the reorder document has already been described in the <a href="#720">Automatically generating a reorder document</a> chapter. In the <strong>System » System settings » Orders » Events</strong> menu, the events, filters and procedures available in the groups named <strong>Purchase order</strong> allow you to automate certain steps of the reorder.<br></p>
</div>
<div class="paragraph">
<p>For more detailed information on setting up event procedures, refer to the <a href="/en/basics/automation/event-procedures">Event procedures</a> page of the manual. If you are working with event procedures for the first time, pay attention to the information provided on creating event procedures in the chapter <a href="/en/automation/event-procedures#100">Creating a new event procedure</a>.</p>
</div>
</div>
</div>
</main>