<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_umsatz_nach_herkunft"><span>1.</span><span> Umsatz nach Herkunft</span></a></li>
<li><a href="#_statistik_details"><span>2.</span><span> Statistik-Details</span></a></li>
<li><a href="#_einstellungen"><span>3.</span><span> Einstellungen</span></a></li>
<li><a href="#_daten_export"><span>4.</span><span> Daten-Export</span></a>
<ul class="sectlevel2">
<li><a href="#_export_der_diagrammdaten"><span>4.1.</span><span> Export der Diagrammdaten</span></a></li>
<li><a href="#_export_der_rohdaten"><span>4.2.</span><span> Export der Rohdaten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Umsatz Herkunft</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Artikel » Artikel bearbeiten » Tab: Statistik → Statistik: Umsatz nach Herkunft</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_umsatz_nach_herkunft">1. Umsatz nach Herkunft</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Statistik gibt eine Übersicht, wie hoch der gewählte <strong>Umsatz</strong>der Aufträge der jeweils angezeigten <strong>Herkunft</strong> in einer <strong>eingestellten Zeitspanne</strong> ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_statistik_details">2. Statistik-Details</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Entsprechend der gewählten <strong>Zeitspanne</strong> für die Statistik wird der <strong>Umsatz</strong> für die <strong>Herkünfte</strong> jeweils separat angezeigt. Als <strong>Tooltip</strong> wird der jeweilige <strong>Umsatz</strong><strong>in Euro</strong> und der <strong>prozentuale Anteil</strong> an den Umsätzen aller angezeigten Herkünfte angezeigt. Sie können mit dieser Statistik z.B. erkennen, wieviel <strong>Umsatz</strong> oder <strong>Gewinn</strong> Sie im jeweiligen Zeitraum pro Herkunft Ihrer Aufträge gemacht haben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>In Bild 1 wird z.B. für die Herkunft <strong>Manuelle Eingabe</strong> ein Umsatz von <strong>5.421,61 Euro</strong> angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/artikelstatistiken/assets/DE-ArtikelBearbeiten-Statistik-UmsatzHerkunft-01-SI.png" alt="DE ArtikelBearbeiten Statistik UmsatzHerkunft 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Statistik <strong>Umsatz nach Herkunft</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen">3. Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die nachfolgend beschriebenen <strong>Einstellungen</strong> stehen für diese Statistik zur Verfügung.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/artikelstatistiken/assets/DE-ArtikelBearbeiten-Statistik-UmsatzHerkunft-02-SI.png" alt="DE ArtikelBearbeiten Statistik UmsatzHerkunft 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Statistik <strong>Umsatz nach Herkunft</strong>; <strong>Einstellungen</strong></em></p>
</div>
<div class="paragraph">
<p>Beachten Sie die Erläuterungen in der folgenden Tabelle:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagramm-Anzeige</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Diagrammtyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In diesem Dropdown-Menü wählen Sie die Art der Darstellung aus.<br>
<strong>Säulen- Und Liniendiagramm</strong> = Darstellung der Werte als Säule bzw. Linie<br>
<strong>2D-Kreisdiagramm</strong> = Darstellung der Werte als flächige Kreissektoren<br>
<strong>3D-Kreisdiagramm</strong> = Darstellung der Werte als dreidimensionale Kreissektoren<br>
<strong>Daten-Tabelle</strong> = Datenübersicht in Tabellenform</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Daten des Diagramms werden in eine <strong>CSV-Datei</strong> exportiert. Dabei werden die Parameter wie angezeigt verwendet, sie entsprechen denen des Diagrammtyps <strong>Daten-Tabelle</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rohdaten-Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beim Rohdaten-Export wird ebenfalls eine <strong>CSV-Datei</strong> erzeugt. Dabei werden die Daten aber detaillierter exportiert. So wird anstelle der Anzahl der Aufträge für jeden Auftrag die relevanten Datenfelder, wie <strong>Auftrags-ID</strong>, <strong>Preis</strong> etc. in die CSV-Datei eingefügt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird der <strong>Name</strong> bzw. die <strong>Bezeichnung</strong> der Statistik angezeigt, die beim Erstellen einer neuen Statistik gewählt wurde. Sie können diesen Namen hier ändern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeitspanne</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <strong>Zeitspanne</strong> ist für die Statistiktypen jeweils voreingestellt, die Standardwerte können Sie Tabelle 2 der Handbuchseite <strong>Allgemeines</strong> entnehmen. Es stehen feste Werte zur Verfügung, die per Dropdown-Menü auswählbar sind. Darüber hinaus bieten manche Statistiktypen die Möglichkeit, eine Zeitspanne in Form eines <strong>Datumbereichs</strong> einzutragen.<br>
<strong>Verändern</strong> Sie die <strong>Zeitspanne</strong>, wenn keine Daten angezeigt werden oder nur wenige Daten und klicken Sie auf das Speichern-Symbol, um das Ergebnis zu sehen. Sie können durch Wahl eines <strong>längeren Zeitraums</strong> mehr Informationen anzeigen. Wenn viele Daten vorhanden sind, bewirkt die <strong>Verringerung der Zeitspanne</strong> ggf. eine aussagekräftigere Auswertung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Startdatum …​ Enddatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier können Sie optional einen bestimmten <strong>Datumsbereich</strong> alternativ zur Option <strong>Zeitspanne</strong> eingrenzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status-Optionen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Je nach Statistiktyp stehen zur Eingrenzung des <strong>Status</strong> verschiedene Optionen zur Verfügung. Es sind jeweils <strong>Standardwerte</strong> voreingestellt.<br>
Für die Auswertung der Statistik werden <strong>alle Auftragsarten</strong> berücksichtigt, außer <strong>Stornierungen</strong>. Somit werden die <strong>Status 8</strong> und <strong>8.1</strong> nicht in die Auswertung einbezogen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie die <strong>Webshops</strong> bzw. <strong>Mandanten</strong>, deren Daten für die Statistik verwendet werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelherkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sie können hier eine oder mehrere <strong>Auftragsherkünfte</strong> oder mit der Option <strong>Alle</strong> sämtliche verfügbaren auswählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Beträge</strong><strong>anzeigen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie, welcher <strong>Betrag</strong> für die Statistik berechnet werden soll:<br>
<strong>Netto-Umsatz</strong> = Umsatz abzüglich Umsatzsteuerund gewählte zusätzliche Kosten<br>
<strong>Brutto-Umsatz</strong> = Umsatz inklusive Umsatzsteuer und gewählte zusätzliche Kosten<br>
<strong>Deckungsbeitrag II</strong> = Umsatz abzüglich EK, Umsatzsteuer und gewählte zusätzliche Kosten <br>
Der <strong>Deckungsbeitrag II</strong> ergibt sich nach Abzug aller Kosten, also wenn <strong>zusätzliche Kosten abgezogen</strong> wurden, z.B. die Transport- oder Lagerkosten<br>
Bei den obigen Beträgen werden <strong>Artikelpakete</strong><u>nicht berücksichtigt</u>. Gebühren für <strong>Marktplätze</strong> werden auf den Bruttopreis (VK) aufgeschlagen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Transportkosten abziehen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wenn die <strong>Transportkosten</strong> für Artikel nicht berücksichtigt werden sollen.<br>
Die Kosten für <strong>Transport</strong>, <strong>Lagerung</strong>, <strong>Betrieb</strong> und <strong>Zoll</strong> sind nur relevant, wenn Sie diese bei den Artikeln im Tab <strong>Base</strong> hinterlegt haben.<br>
Die Kosten werden, wenn hinterlegt, in der Statistik angezeigt und ermöglichen damit eine detaillierte <strong>Übersicht</strong> hinsichtlich Kosten und Gewinn bzw. Verlust.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsprovision abziehen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wenn <strong>Provisionen des Zahlungsanbieters</strong> für Artikel nicht berücksichtigt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Herstellerprovision abziehen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wenn die <strong>Herstellerprovisionen</strong> für Artikel nicht berücksichtigt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerkosten abziehen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wenn die <strong>Lagerkosten</strong> für Artikel nicht berücksichtigt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Betriebskosten abziehen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wenn die <strong>Betriebskosten</strong> für Artikel nicht berücksichtigt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zoll abziehen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wenn der <strong>Zoll</strong> für Artikel nicht berücksichtigt werden soll.<br>
Die Kosten für <strong>Betrieb</strong> und <strong>Zoll</strong> werden in <strong>Prozent</strong> hinterlegt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Statistik bearbeiten</strong>; <strong>Einstellungen</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_daten_export">4. Daten-Export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie in Tabelle 1 erläutert können Sie zwischen einem einfachen und einem detaillierten Exportergebnis wählen. Nachfolgend entsprechende Beispiele.</p>
</div>
<div class="sect2">
<h3 id="_export_der_diagrammdaten">4.1. Export der Diagrammdaten</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Datenfelder</strong></div>
<div class="paragraph">
<p><strong>Referrer</strong> = Herkunft, <strong>QuantityOfOrders</strong> = Anzahl der Aufträge, <strong>ContributionMarginTwo</strong> = Deckungsbetrag II,<strong>QuantityOfBundleItems</strong> = Artikel aus Artikelpaketen</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/artikelstatistiken/assets/DE-ArtikelBearbeiten-Statistik-UmsatzHerkunft-03-SI.png" alt="DE ArtikelBearbeiten Statistik UmsatzHerkunft 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Statistik <strong>Umsatz nach Herkunft</strong>; Einfacher Export</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_export_der_rohdaten">4.2. Export der Rohdaten</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Datenfelder</strong></div>
<div class="paragraph">
<p><strong>OrderID</strong> = Auftrags-ID, <strong>ItemName</strong> = Name, <strong>Timestamp</strong> = Zeitstempel, <strong>SoldItems</strong> = Anzahl der Verkäufe, <strong>PurchasePrice</strong> = EK, <strong>VAT</strong> = MwSt, <strong>Price</strong> = Preis, <strong>StockCosts</strong> = Lagerkosten, <strong>TransportationCosts</strong> = Transportkosten, <strong>Customs</strong> = Zoll, <strong>OperatingCosts</strong> = Betriebskosten, <strong>ProducerCommission</strong> = Herstellerprovision, <strong>PaymentCommission</strong> = Provision der Zahlungsart</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/artikelstatistiken/assets/DE-ArtikelBearbeiten-Statistik-UmsatzHerkunft-04-SI.png" alt="DE ArtikelBearbeiten Statistik UmsatzHerkunft 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: Statistik <strong>Umsatz nach Herkunft</strong>; Rohdaten-Export</em></p>
</div>
</div>
</div>
</div>
</main>