<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_ItemViewLastSeenList2</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns the template ItemViewLastSeenList2. This template is used to display a list of the last viewed items.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_ItemViewLastSeenList2(
int $ItemViewLastSeenList2_EachRow  ,
int $ItemViewLastSeenList2_Limit  ,
int $ItemViewLastSeenList2_ShowCrossSelling
) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_itemviewlastseenlist2">Template ItemViewLastSeenList2</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_itemviewlastseenlist2item">ItemViewLastSeenList2Item</h3>
<div class="sect3">
<h4 id="_functions">Functions</h4>
<div class="paragraph">
<p>These functions are available in this container.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">ButtonAddBasket1Small( string $_buttonValue  ) : string</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">ButtonAddBasketOverlay( string $_buttonValue  ) : string</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetBarcode( string $_barcodeName  ) : string</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetDocumentLinks( string '$_fileExtension'  ) :</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetItemViewStockList( int $ID  ) :</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Link_CurrentCategory() : string</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_variables">Variables</h4>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$ASIN — Contains an item’s first Amazon Standard Ident Number (ASIN).</p>
</li>
<li>
<p>$ActionId — Contains the online store special’s ID.</p>
</li>
<li>
<p>$AttributeExist — Contains a query that checks if an item has attributes.</p>
</li>
<li>
<p>$AttributeMatrix — Contains all variations of an item. These are displayed in a table in which customers can also enter the order quantity. Insert the variable in the section between FormOpenOrder and FormCloseOrder for the entered order quantity to be placed in the shopping cart. We recommend that you use the variable for a small number of attributes and attribute values only.</p>
</li>
<li>
<p>$AttributeSelect — Contains one drop-down list per attribute that contains an item’s attribute values. The attribute name is displayed above the drop-down list. The attribute values can be selected in a drop-down list.</p>
</li>
<li>
<p>$AttributeSelectWithoutAttributeName — Contains one drop-down list per attribute that contains the item’s attribute values.</p>
</li>
<li>
<p>$AvailabilityIcon — Contains the availability icon for the item availability. An icon is saved in the <strong>Setup » Item » Availability</strong> menu.</p>
</li>
<li>
<p>$AvailabilityId — Contains the ID of the item availability (1-10).</p>
</li>
<li>
<p>$AvailabilityString — Contains the name of the item availability. The names are saved in the <strong>Setup » Item » Availability</strong> menu.</p>
</li>
<li>
<p>$BasePrice — Contains an item’s unit price.</p>
</li>
<li>
<p>$BasePriceLot — Contains the price of an item’s sales unit.</p>
</li>
<li>
<p>$BasePriceUnit — Contains the unit for the unit price.</p>
</li>
<li>
<p>$CategoryId[Level1] …​$CategoryId[Level6] — Contains the ID of the item’s default category.</p>
</li>
<li>
<p>$CategoryName[Level1] …​$CategoryName[Level6] — Contains the name of the category.</p>
</li>
<li>
<p>$Condition — Contains the item condition.</p>
</li>
<li>
<p>$CreationDate — Contains an item’s creation date.</p>
</li>
<li>
<p>$DefaultShippingCost</p>
</li>
<li>
<p>$Description — Contains the item text.</p>
</li>
<li>
<p>$DescriptionShort — Contains the item preview text.</p>
</li>
<li>
<p>$EAN — Contains an item’s EAN 1.</p>
</li>
<li>
<p>$ExpirationDate — Contains an item’s expiration date ("available until").</p>
</li>
<li>
<p>$FSK — Contains an item’s age rating.</p>
</li>
<li>
<p>$FlashHeight — Contains the height of an item’s flash file.</p>
</li>
<li>
<p>$FlashURL — Contains the URL of an item’s flash file.</p>
</li>
<li>
<p>$FlashWidth — Contains the width of an item’s flash file.</p>
</li>
<li>
<p>$FormCloseOrder — Contains an item’s closing HTML form.</p>
</li>
<li>
<p>$FormOpenOrder — Contains an item’s opening HTML form.</p>
</li>
<li>
<p>$Free[1] …​$Free[20] — Contains the item free text fields.</p>
</li>
<li>
<p>$Height — Contains an item’s height.</p>
</li>
<li>
<p>$ID — Contains the item ID.</p>
</li>
<li>
<p>$ISBN — Contains the item’s International Standard Book Number (ISBN).</p>
</li>
<li>
<p>$Image[1] …​$Image[25] — HTML image tag of the images with the highest resolution.</p>
</li>
<li>
<p>$ImageAlt[1] …​$ImageAlt[25] — Contains the item image’s alternative text.</p>
</li>
<li>
<p>$ImageAttributeList — Contains an item’s attribute values as images. The images are linked to the attribute values in the item’s <a href="/en/item/managing-items#660">Images</a> tab.</p>
</li>
<li>
<p>$ImageName[1] …​$ImageName[25] — Contains the item image’s name.</p>
</li>
<li>
<p>$ImageURL[1] …​$ImageURL[25] — URL of the images with the highest resolution.</p>
</li>
<li>
<p>$ItemAge — Contains an item’s age in days, starting from the date it was created in plentymarkets.</p>
</li>
<li>
<p>$ItemShipping[1] …​$ItemShipping[2] — Contains the item’s shipping costs.</p>
</li>
<li>
<p>$Length — Contains an item’s length.</p>
</li>
<li>
<p>$LimitOrderByStock — Contains the value for limiting the item to the stock; <strong>0 = No limitation, 1 = Limited to net stock, 2 = Do not administer stock for this item</strong>.</p>
</li>
<li>
<p>$Lot — Contains the content of an item’s sales unit.</p>
</li>
<li>
<p>$MiddleSizeImage[1] …​$MiddleSizeImage[25] — HTML image tag of the images with medium resolution.</p>
</li>
<li>
<p>$MiddleSizeImageURL[1] …​$MiddleSizeImageURL[25] — URL of the images with medium resolution.</p>
</li>
<li>
<p>$Model — Model</p>
</li>
<li>
<p>$Name[1] …​$Name[3] — Contains the item name.</p>
</li>
<li>
<p>$Name4URL — Contains the URL-conform item name.</p>
</li>
<li>
<p>$Number — Contains the item number.</p>
</li>
<li>
<p>$OrderQuantityInterval</p>
</li>
<li>
<p>$OrderQuantityMax — Contains the item’s maximum order quantity.</p>
</li>
<li>
<p>$OrderQuantityMin — Contains the item’s minimum order quantity.</p>
</li>
<li>
<p>$PackagingUnit — Contains an item’s packaging unit.</p>
</li>
<li>
<p>$Position</p>
</li>
<li>
<p>$PreviewImage[1] …​$PreviewImage[25] — Returns the current item’s preview image.</p>
</li>
<li>
<p>$PreviewImageURL[1] …​$PreviewImageURL[25] — Returns the URL of the current item’s preview image.</p>
</li>
<li>
<p>$Price — Contains an item’s price.</p>
</li>
<li>
<p>$PriceCount — Contains the number of an item’s price sets.</p>
</li>
<li>
<p>$PriceDecimalSeparatorDot — Contains an item’s price; decimal separator is a dot.</p>
</li>
<li>
<p>$PriceDynamic — Contains the price of an item or of a variation including surcharges etc. When using this variable, the item price is automatically adjusted based on the variation selected.</p>
</li>
<li>
<p>$PriceID — Contains the ID of the item’s price set.</p>
</li>
<li>
<p>$PriceRadioButton — All price sets are displayed and selected using radio buttons.</p>
</li>
<li>
<p>$PriceSelect — Selection of all price sets as HTML select.</p>
</li>
<li>
<p>$Producer — Contains the name of the item manufacturer.</p>
</li>
<li>
<p>$ProducerAddressCity</p>
</li>
<li>
<p>$ProducerAddressCountryID</p>
</li>
<li>
<p>$ProducerAddressCountryName</p>
</li>
<li>
<p>$ProducerAddressHouseNo</p>
</li>
<li>
<p>$ProducerAddressStreet</p>
</li>
<li>
<p>$ProducerAddressZip</p>
</li>
<li>
<p>$ProducerEmail</p>
</li>
<li>
<p>$ProducerExternalName</p>
</li>
<li>
<p>$ProducerFax</p>
</li>
<li>
<p>$ProducerLogo — Contains the manufacturer logo.</p>
</li>
<li>
<p>$ProducerPhone</p>
</li>
<li>
<p>$ProducerURL — Contains the URL of the manufacturer. The URL is saved in the <a href="/en/item/managing-items#560">manufacturer</a> data set.</p>
</li>
<li>
<p>$RRP — Contains the item’s recommended retail price.</p>
</li>
<li>
<p>$RRPDecimalSeparatorDot — Contains the recommended retail price; decimal separator is a dot.</p>
</li>
<li>
<p>$Rating — Contains the feedback.</p>
</li>
<li>
<p>$RatingCount — Contains the number of feedbacks for an item.</p>
</li>
<li>
<p>$RatingImage — Contains the average feedback.</p>
</li>
<li>
<p>$RatingMax</p>
</li>
<li>
<p>$RebateAvailable — Contains a query that checks whether a discounted price exists for an item that the customer is eligible for.</p>
</li>
<li>
<p>$ReleaseDate — Contains the item’s release date.</p>
</li>
<li>
<p>$RowCount — Contains the position of the current line.</p>
</li>
<li>
<p>$RowCountModulo2 — Contains the value that specifies if the current line is divisible by 2 or not.</p>
</li>
<li>
<p>$Saving — Contains the discount amount.</p>
</li>
<li>
<p>$SavingDecimalSeparatorDot — Contains the discount amount; decimal separator is a dot.</p>
</li>
<li>
<p>$SavingDynamic</p>
</li>
<li>
<p>$SavingDynamicDecimalSeparatorDot</p>
</li>
<li>
<p>$SavingDynamicPercent</p>
</li>
<li>
<p>$SavingPercent — Contains the discount rate in percent.</p>
</li>
<li>
<p>$SecondPreviewImage[1] …​$SecondPreviewImage[25] — Returns the current item’s second preview image.</p>
</li>
<li>
<p>$SecondPreviewImageURL[1] …​$SecondPreviewImageURL[25] — Returns the URL of the current item’s second preview image.</p>
</li>
<li>
<p>$ShortName — Contains a shorter version of the item name. The item name is truncated after a specific number of characters.</p>
</li>
<li>
<p>$Size — Contains the information in <strong>Unit 1</strong> and <strong>Unit 2</strong> of an item’s <strong>Base</strong> tab.</p>
</li>
<li>
<p>$StockList — Contains an item’s physical stock.</p>
</li>
<li>
<p>$TechnicalData — Contains the item’s technical data.</p>
</li>
<li>
<p>$UnitString/$UnitString[1] …​$UnitString[2] — Contains the item unit.</p>
</li>
<li>
<p>$VAT — Contains the item’s VAT in percent.</p>
</li>
<li>
<p>$VATHint — Contains the VAT note, e.g. "incl. statutory VAT".</p>
</li>
<li>
<p>$VariationID — Contains the variation’s ID.</p>
</li>
<li>
<p>$VolumePrice[1] …​$VolumePrice[10] — Contains the price for an item’s minimum order quantity.</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[1] …​$VolumePriceStartingQuantity[10] — Contains the minimum order quantity for a discount to be applied to an item.</p>
</li>
<li>
<p>$Volumen — Contains an item’s volume.</p>
</li>
<li>
<p>$Weight — Contains an item’s weight.</p>
</li>
<li>
<p>$WeightNet — Contains an item’s net weight.</p>
</li>
<li>
<p>$Width — Contains an item’s width.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples">Examples</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Outputs items in basket #}

&lt;div class="basketItems overlay"&gt;
    &#123;&#37; Container_ItemViewBasketPreviewList() &#37;&#125;
&lt;/div&gt;</code></pre>
</div>
</div>
</div>
</div>
</main>