<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_YOOCHOOSE_Recommendations</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Corresponds to the template Container_ItemViewCrossSellingItemsList or Container_ItemViewCrossSellingItemsList2. However, the items that were recommended by YOOCHOOSE are used instead of the cross-selling items. Youchoose must be activated in the <strong>Setup » Client » Select client » Services » YOOCHOOSE</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_YOOCHOOSE_Recommendations(
int $ItemViewCrossSellingItemsList_EachRow  ,
int $ItemViewCrossSellingItemsList_DefaultItemSorting  ,
int $ItemViewCrossSellingItemsList_Limit  ,
int $ItemViewCrossSellingItemsList_Minimum  ,
int $ItemViewCrossSellingItemsList_FromLastSeenItem  ,
int $ItemViewCrossSellingItemsList_FromBasket  ,
int $ItemViewCrossSellingItemsList_FromLastSeen
) : string</code></pre>
</div>
</div>
</div>
</div>
</main>