<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_ItemViewBasketPreviewList</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns the template ItemViewBasketPreviewList. This template is used to display a preview of shopping cart items.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_ItemViewBasketPreviewList() : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_itemviewbasketpreviewlist">Template ItemViewBasketPreviewList</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_itemviewbasketpreviewlistitem">ItemViewBasketPreviewListItem</h3>
<div class="sect3">
<h4 id="_functions">Functions</h4>
<div class="paragraph">
<p>These functions are available in this container.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">ButtonDeleteBasketItem( string $_buttonValue  )</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Link_CurrentCategory() : string</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_variables">Variables</h4>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$Attribute</p>
</li>
<li>
<p>$BasePrice — Contains an item’s unit price.</p>
</li>
<li>
<p>$BasePriceLot — Contains the price of an item’s sales unit.</p>
</li>
<li>
<p>$BasePriceUnit — Contains the unit for the unit price.</p>
</li>
<li>
<p>$BasketRowId</p>
</li>
<li>
<p>$CategoryId[Level1] …​$CategoryId[Level6] — Contains the ID of the item’s default category.</p>
</li>
<li>
<p>$CategoryName[Level1] …​$CategoryName[Level6] — Contains the name of the category.</p>
</li>
<li>
<p>$EAN — Contains an item’s EAN 1.</p>
</li>
<li>
<p>$Free[1] …​$Free[20] — Contains the item free text fields.</p>
</li>
<li>
<p>$ID — Contains the item ID.</p>
</li>
<li>
<p>$ISBN — Contains the item’s International Standard Book Number (ISBN).</p>
</li>
<li>
<p>$Image/$Image[1] …​$Image[1] — HTML image tag of the images with the highest resolution.</p>
</li>
<li>
<p>$ImageAlt/$ImageAlt[1] …​$ImageAlt[1] — Contains the item image’s alternative text.</p>
</li>
<li>
<p>$ImageName/$ImageName[1] …​$ImageName[1] — Contains the item image’s name.</p>
</li>
<li>
<p>$ImageURL/$ImageURL[1] …​$ImageURL[1] — URL of the images with the highest resolution.</p>
</li>
<li>
<p>$ItemBranchId — Contains the ID of the item’s default category.</p>
</li>
<li>
<p>$Lot — Contains the content of an item’s sales unit.</p>
</li>
<li>
<p>$MiddleSizeImage/$MiddleSizeImage[1] …​$MiddleSizeImage[1] — HTML image tag of the images with medium resolution.</p>
</li>
<li>
<p>$MiddleSizeImageURL/$MiddleSizeImageURL[1] …​$MiddleSizeImageURL[1] — URL of the images with medium resolution.</p>
</li>
<li>
<p>$Name[1] …​$Name[3] — Contains the item name.</p>
</li>
<li>
<p>$Name4URL — Contains the URL-conform item name.</p>
</li>
<li>
<p>$Number — Contains the item number.</p>
</li>
<li>
<p>$PreviewImage/$PreviewImage[1] …​$PreviewImage[1] — Returns the current item’s preview image.</p>
</li>
<li>
<p>$PreviewImageURL/$PreviewImageURL[1] …​$PreviewImageURL[1] — Returns the URL of the current item’s preview image.</p>
</li>
<li>
<p>$Price — Contains an item’s price.</p>
</li>
<li>
<p>$PriceDecimalSeparatorDot — Contains an item’s price; decimal separator is a dot.</p>
</li>
<li>
<p>$Quantity — Contains the number of items in the shopping cart.</p>
</li>
<li>
<p>$RowCount — Contains the position of the current line.</p>
</li>
<li>
<p>$RowCountModulo2 — Contains the value that specifies if the current line is divisible by 2 or not.</p>
</li>
<li>
<p>$SecondPreviewImage/$SecondPreviewImage[1] …​$SecondPreviewImage[1] — Returns the current item’s second preview image.</p>
</li>
<li>
<p>$SecondPreviewImageURL/$SecondPreviewImageURL[1] …​$SecondPreviewImageURL[1] — Returns the URL of the current item’s second preview image.</p>
</li>
<li>
<p>$ShortName — Contains a shorter version of the item name. The item name is truncated after a specific number of characters.</p>
</li>
<li>
<p>$Unit</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples">Examples</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Outputs items in basket #}

&lt;div class="basketItems overlay"&gt;
    &#123;&#37; Container_ItemViewBasketPreviewList() &#37;&#125;
&lt;/div&gt;</code></pre>
</div>
</div>
</div>
</div>
</main>