<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>GetItemViewCrossSellingItemsList3</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns an array of all item data defined as cross-selling items. Depending on the transfer parameters, the cross-selling items of the current item (SingleItem), of the last viewed item (LastSeenItem) or of the items in the shopping cart are returned.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetItemViewCrossSellingItemsList3(
int $ItemViewCrossSellingItemsList3_Limit  ,
int $ItemViewCrossSellingItemsList3_DefaultItemSorting  ,
int $ItemViewCrossSellingItemsList3_Minimum  ,
int $ItemViewCrossSellingItemsList3_FromLastSeenItem  ,
int $ItemViewCrossSellingItemsList3_FromBasket  ,
int $ItemViewCrossSellingItemsList3_FromLastSeen
) :</code></pre>
</div>
</div>
</div>
</div>
</main>