<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>GetItemViewCrossSellingItemsListByType</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns an array of the items defined as cross-selling items with the specified cross-selling relationship. The item ID and the cross-selling type must be specified.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetItemViewCrossSellingItemsListByType(
int $_itemID  ,
string $_crossSellingType  ,
int $_loadLevels  ,
int $_characterID  ,
int $_characterValueID
) :</code></pre>
</div>
</div>
</div>
</div>
</main>