<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>GetItemViewLatestItemsList3ByDate</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns an array of the latest items sorted by date. This can be limited to displaying items of the current category (optional).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetItemViewLatestItemsList3ByDate(
int $ItemViewLatestItemsListByDate3_Limit  ,
int $ItemViewLatestItemsListByDate3_OnlyOfCurrentCategory
) :</code></pre>
</div>
</div>
</div>
</div>
</main>