<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Bei ADU-Inkasso registrieren</span></a></li>
<li><a href="#20"><span>2.</span><span> Einstellungen bei ADU-Inkasso vornehmen</span></a></li>
<li><a href="#30"><span>3.</span><span> Bearbeitungsstatus einsehen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>ADU-Inkasso</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Einrichtung von <strong><a href="http://www.adu-inkasso.de/home/" target="_blank" rel="noopener">ADU-Inkasso</a></strong> (Allgemeiner Debitoren- und Inkassodienst GmbH) in plentymarkets haben Sie die Möglichkeit, Ihre offenen Forderungen ab einer zuvor definierten Mahnstufe automatisiert an ADU-Inkasso zu übergeben. Der Bearbeitungsstatus offener Forderungen ist im Backend sichtbar. Erfahren Sie, wie Sie die Schnittstelle zu ADU-Inkasso in Ihrem plentymarkets System einrichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Bei ADU-Inkasso registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Dienstleistung von ADU-Inkasso zu nutzen, müssen Sie sich zunächst bei <a href="https://www.auskunft.inkassounternehmen.de/?action=register" target="_blank" rel="noopener"><strong>ADU-Inkasso</strong></a> registrieren. Nach erfolgreicher Registrierung und Abschluss des Inkasso-Dienstleistungsvertrags erhalten Sie Ihre Zugangsdaten zum Online-Portal von ADU-Inkasso.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Einstellungen bei ADU-Inkasso vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu aktivieren, loggen Sie sich mit den Zugangsdaten im <a href="https://www.auskunft.inkassounternehmen.de"><strong>Online-Portal von ADU-Inkasso</strong></a> ein und öffnen Sie das Menü <strong>Aktenimport</strong>. Nehmen Sie dort folgende Einstellungen vor.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zugangsdaten eingeben</p>
</li>
<li>
<p>PlentyID und SOAP-WSDL eingeben. Diese Informationen finden Sie im Menü <strong>System » Einstellungen » API » Daten</strong>.</p>
</li>
<li>
<p>Logidaten speichern</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei Abschluss der Schnittstellenaktivierung haben Sie die Möglichkeit, einen <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten">Auftragsstatus</a></strong> zu wählen, um die offenen Forderungen in diesem Status im Online-Portal anzuzeigen. Darüber hinaus legen Sie in den Einstellungen fest, ob die Übermittlung der Forderungen an ADU-Inkasso automatisch oder manuell erfolgen soll. Weitere Informationen dazu finden Sie bei ADU-Inkasso unter <strong><a href="http://www.adu-inkasso.de/fileadmin/user_upload/Beschreibung_plentymarkets.pdf" target="_blank" rel="noopener">Inkasso-Schnittstellenbeschreibung</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Bearbeitungsstatus einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach erfolgreicher Forderungsübergabe wird der Mahnlauf umgehend gestartet. Den Bearbeitungsstatus der übergebenen Forderung können Sie jederzeit in Ihren Aufträgen im plentymarkets System in der Kundennotiz einsehen. Gleichzeitig können Sie für detaillierte Informationen direkt aus der Kundennotiz (Bild 1) heraus auf das Online-Portal von ADU-Inkasso zugreifen. Somit haben Sie Ihre Forderungen jederzeit im Blick.</p>
</div>
<div class="paragraph instruction">
<p>Kundennotiz anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Kunden » Kunden bearbeiten</strong>.</p>
</li>
<li>
<p>Klicken Sie in der Zeile des Kunden auf <strong>Notizen</strong>.<br>
→ Das Fenster <strong>Notizen zum Kunden</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie in der Notiz auf <strong>zu ADU Inkasso</strong>.<br>
→ Sie werden in das Online-Portal von ADU-Inkasso weitergeleitet.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-ADU-Inkasso-03-SI.png" alt="DE ADU Inkasso 03 SI">
</div>
<div class="title">Abbildung 1. Informationen in der Kunden-Notiz</div>
</div>
</div>
</div>
</main>