<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> arvato in plentymarkets einrichten</span></a></li>
<li><a href="#20"><span>2.</span><span> Mahnstufe zuordnen</span></a></li>
<li><a href="#30"><span>3.</span><span> Aufträge an arvato übergeben</span></a></li>
<li><a href="#40"><span>4.</span><span> arvato infoscore in plentymarkets einrichten</span></a></li>
<li><a href="#50"><span>5.</span><span> arvato infoscore im Webshop anzeigen</span></a></li>
<li><a href="#60"><span>6.</span><span> Bonitätsprüfung manuell durchführen</span></a></li>
<li><a href="#70"><span>7.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>arvato</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="https://www.arvato.com/finance/de.html" target="_blank">arvato Financial Solutions</a></strong> ist ein Finanzdienstleister mit branchenspezifischen Lösungen in den Bereichen <strong><a href="/auftragsabwicklung/payment/arvato#10">Inkasso</a></strong> und <strong><a href="/auftragsabwicklung/payment/arvato#40">Bonitätsprüfung</a></strong>. Auf dieser Handbuchseite erfahren Sie, wie Sie arvato und arvato infoscore in plentymarkets einrichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. arvato in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um arvato in plentymarkets einrichten zu können, benötigen Sie eine <strong>Mandantannummer</strong>, einen <strong>Benutzernamen</strong> und ein <strong>Passwort</strong>. Diese Daten erhalten Sie von arvato.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu arvato einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Inkassodienstleister » arvato</strong>.</p>
</li>
<li>
<p>Geben Sie die <strong>Daten</strong> ein, die Sie von <strong>arvato</strong> erhalten haben.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Mahnstufe zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Zuordnung der Mahnstufe zu unbezahlten Aufträgen benötigen Sie einen <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten">Auftragsstatus</a></strong>. Sie können einen Standardstatus verwenden oder einen eigenen Auftragsstatus erstellen. Mit der folgenden Aktion ordnen Sie unbezahlten Aufträgen mit dem Aktionsmanager eine Mahnstufe zu.</p>
</div>
<div class="paragraph instruction">
<p>Mahnstufe per Aktionsmanager zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Aktionsmanager</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Neue Aktion</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>, um die Aktion zu aktivieren.</p>
</li>
<li>
<p>Wählen Sie bei der Einstellung <strong>Täglich ausführen um</strong> eine Uhrzeit.</p>
</li>
<li>
<p>Geben Sie einen <strong>Namen</strong> für die Aktion ein.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Wählen Sie den Status für unbezahlte Aufträge.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Letzter Statuswechsel</strong> die Option <strong>Tage eingeben</strong>.<br>
→ Das Feld <strong>Tage</strong> wird eingeblendet.</p>
</li>
<li>
<p>Geben Sie die Anzahl der Tage ein, die sich der Auftrag im entsprechenden Status befindet.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Zahlungseingang</strong> die Option <strong>OFFEN</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Aktion</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Ändere Auftragsstatus</strong> den Status für die Zuordnung der Mahnstufe.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Ändere Mahnstufe</strong> eine Mahnstufe.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Aufträge an arvato übergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie können nun im Aktionsmanager eine Aktion erstellen, die bewirkt, dass die gewünschten Aufträge an arvato übergeben werden. Als Beispiel könnten Sie die Aufträge anhand eines Auftragsstatus oder einer Mahnstufe filtern, um unbezahlte Aufträge mit der entsprechenden Mahnstufe an arvato zu übermitteln.</p>
</div>
<div class="paragraph instruction">
<p>Aufträge per Aktionsmanager an arvato übermitteln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Aktionsmanager</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Neue Aktion</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>, um die Aktion zu aktivieren.</p>
</li>
<li>
<p>Wählen Sie bei der Einstellung <strong>Täglich ausführen um</strong> eine Uhrzeit.</p>
</li>
<li>
<p>Geben Sie einen <strong>Namen</strong> für die Aktion ein.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Wählen Sie den Status für unbezahlte Aufträge.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Auftragstyp</strong> die Option <strong>Auftrag</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Mahnstufe</strong> per Ereignisaktion vergebene Mahnstufe.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Aktion</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>arvato (Inkasso)</strong> die Option <strong>AKTIV</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. arvato infoscore in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets stellt Ihnen in Kooperation mit <strong>arvato infoscore</strong> eine Bonitätsprüfung zur Verfügung. Sobald Sie diesen Service in plentymarkets aktivieren, wird während des Bestellvorgangs bei Kunden, die als Zahlungsart <strong>Rechnung</strong> oder <strong>Lastschrift</strong> wählen, eine Bonitätsprüfung durchgeführt. Weitere Informationen zu arvato infoscore finden Sie unter <a href="https://www.plentymarkets.eu/produkt/auftragsabwicklung/payment-provider/arvato-financial-solutions/a-1724/" target="_blank"><strong>arvato Financial Solutions</strong></a>.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu arvato infoscore einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Bonitätsprüfung » arvato infoscore</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Schnittstelle zu arvato infoscore einrichten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Arvato</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Deaktiviert</strong> oder <strong>Aktiviert</strong> wählen.<br>
<strong>Deaktiviert</strong> = Bonität von Kunden wird nicht geprüft.<br>
<strong>Aktiviert</strong> = Bonität von Kunden wird geprüft, aber nur, wenn auch die weiteren Einstellungen wie das Zertifikat eingegeben wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Identifizierungsnummer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Identifizierungsnummer eingeben, wie von arvato infoscore erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datenprodukt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktuell ist nur die Variante <strong>Ampelwert</strong> verfügbar. Nach der Bonitätsprüfung erfolgt eine Rückmeldung mit einem der folgenden Ampelwerte: <strong>rot</strong>, <strong>gelb</strong> oder <strong>grün</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mindest-Ampelwert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ampelwert wählen und Risikofaktor einstellen.<br>
<strong>grün</strong> = Kein Negativmerkmal oder maximal ein erledigtes Merkmal.<br>
<strong>gelb</strong> = Ein oder mehrere erledigte mittlere Merkmale oder ein oder mehrere weiche Merkmale oder eine weiche/mittlere/harte Meldung unter Vorbehalt (d.h. abweichender Datensatz mit Negativmerkmalen).<br>
<strong>rot</strong> = Person ist als verstorben gemeldet oder Adresse ist als Risiko-Hinweisadresse hinterlegt (z.B. Gefängnisse) oder mehr als ein weiches Merkmal bzw. Negativmerkmal mittel/hart.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob die Lieferung <strong>an eine separate Lieferanschrift erlaubt</strong> sein soll oder <strong>nur an die Rechnungsanschrift</strong> erfolgen soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Firmen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob die <strong>Zahlung auf Rechnung für Firmenkunden</strong> erlaubt sein soll, wenn keine Negativmerkmale vorliegen, oder nicht erlaubt sein soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximaler Rechnungsbetrag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Maximalbetrag für die Rechnung eingeben. Das Risiko kann so weiter reduziert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bereits durchgeführte Abfragen speichern und wiederverwenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bereits durchgeführte Abfragen speichern und wiederverwenden, um Kosten für wiederholte Abfragen zu verringern.<br>
<strong>Beispiel</strong>: Einem Kunden wird während des Bestellprozesses die Zahlung auf Rechnung verweigert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zertifikat</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zertifikat eingeben, wie von arvato infoscore erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Privater Schlüssel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Privaten Schlüssel eingeben, wie von arvato infoscore erhalten.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Lieferungen auf Rechnung ins Ausland</div>
<div class="paragraph">
<p>arvato infoscore unterstützt derzeit ausschließlich Bonitätsprüfungen für Deutschland. Sie können die Zahlungsarten Rechnung/Lastschrift aber auch für weitere Länder freigeben. Dadurch ermöglichen Sie, dass deutsche Kunden Lieferungen auf Rechnung ins Ausland verschicken lassen können, wenn die Bonitätsprüfung positiv ausgefallen ist. Wenn arvato infoscore eingerichtet ist, werden alle Kunden, die eine Rechnungsadresse außerhalb von Deutschland angeben haben, abgewiesen, ohne dass eine Prüfung durchgeführt wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. arvato infoscore im Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Schnittstelle ist nun fertig eingerichtet und aktiv. Kunden mit negativer Bonität erhalten folgende Meldung während des Bestellvorgangs.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Einstell-Auftraege-Bonitaet-arvato02-SI.png" alt="DE Einstell Auftraege Bonitaet arvato02 SI">
</div>
<div class="title">Abbildung 1. arvato infoscore im Bestellvorgang</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Bonitätsprüfung manuell durchführen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie können für jeden Kunden auch manuell eine Bonitätsprüfung durchführen.</p>
</div>
<div class="paragraph instruction">
<p>Bonität manuell prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Kunden » Kunden bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Kunden.<br>
→ Das Tab <strong>Kundendaten</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im unter <strong>Bonität</strong> auf <strong>Erneut prüfen</strong>.<br>
→ Die Bonität wird geprüft und der Status wird angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. FAQ</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Ich habe die Bonitätsprüfung aktiviert. Alle Kunden aus nicht-deutschem Raum erhalten während des Bestellprozesses die Meldung, dass Kauf auf Rechnung/Lastschrift nicht möglich ist. Wie kommt das?</p>
</div>
<div class="paragraph indented">
<p>arvato infoscore bietet die Bonitätsprüfung nur für Deutschland an, daher werden alle anderen Kunden abgewiesen. Wenn ein Kunde aus Deutschland an eine Adresse im Ausland liefern lassen möchte, ist dies allerdings möglich. Damit Kauf auf Rechnung für Kunden aus anderen Ländern möglich ist, muss das Modul deaktiviert werden.[.instruction]
Im letzten Abrechnungszyklus haben 35 Kunden auf Rechnung bestellt, mir wurden allerdings deutlich mehr Abfragen in Rechnung gestellt. Was soll das?</p>
</div>
<div class="paragraph indented">
<p>Beachten Sie, dass manche Kunden zunächst die Zahlungsart <strong>Rechnung</strong> wählen und sich anmelden, anschließend allerdings den Kauf abbrechen und die Bestellung nicht absenden oder sich doch für eine andere Zahlungsart entscheiden.<br>
Weiterhin besteht die Möglichkeit, manuell Bonitätsprüfungen für Kunden mit anderen Zahlungsarten durchzuführen. Bitte informieren Sie Ihre Mitarbeiter, dass jede einzelne Auskunft kostenpflichtig ist und Ihnen in Rechnung gestellt wird.[.instruction]
Was passiert, wenn der Endkunde aufgrund der Fehlermeldung im Warenkorb seine Anschrift einfach leicht modifiziert?</p>
</div>
<div class="paragraph indented">
<p>Bei den Zahlungsarten Rechnung/Lastschrift besteht ein gewisses Restrisiko. Es wird empfohlen für alle Kunden einen maximalen Rechnungsbetrag bei den Einstellungen der Schnittstelle zu definieren.<br>
Antwort von arvato infoscore: "Generell ist es so, dass bei geringfügiger Änderung des Namens oder der Anschrift sich nichts an dem Ergebnis einer Anfrage ändert. Wird die Abweichung allerdings zu groß, also könnten theoretisch zwei verschiedene Personen gemeint sein, so geben wir eine Meldung unter Vorbehalt (MuV) aus. In diesem Falle sollte die Bestellung auf sichere Zahlarten gesetzt werden. Werden die Abweichungen allerdings größer, so dürfen wir aus datenschutzrechtlicher Sicht hier keinen Treffer mehr ausgeben, da es sich auch um zwei verschiedene Personen handeln kann!"</p>
</div>
</div>
</div>
</main>