<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang mit BillSAFE</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Rechnung und Bankdaten</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Bei BillSAFE registrieren</span></a></li>
<li><a href="#50"><span>3.</span><span> BillSAFE in plentymarkets einrichten</span></a></li>
<li><a href="#55"><span>4.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#60"><span>5.</span><span> Versanddienstleister einrichten</span></a></li>
<li><a href="#70"><span>6.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#80"><span>7.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#90"><span>8.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#100"><span>9.</span><span> Rechnungsvorlage für BillSAFE-Aufträge anpassen</span></a></li>
<li><a href="#110"><span>10.</span><span> Direktzahlung melden</span></a></li>
<li><a href="#120"><span>11.</span><span> Gutschrift senden</span></a></li>
<li><a href="#130"><span>12.</span><span> Stundung melden</span></a></li>
<li><a href="#140"><span>13.</span><span> Statushistorie abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>BillSAFE</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.billsafe.de/" target="_blank" rel="noopener">BillSAFE</a> ist ein Anbieter für die rechnungsbasierte Zahlungslösung im Internethandel. Inzwischen wurde der Rechnungskauf mit BillSAFE in PayPal integriert. PayPal bietet den Rechnungskauf als Teil des neuen Produkts <a href="/auftragsabwicklung/payment/paypal-plus">PayPal PLUS</a> an.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhalten Sie wichtige Hinweise zur Integration des Zahlungsanbieters in plentymarkets. Nach der Auswahl der entsprechenden Zahlungsart werden Vorvalidierungen durchgeführt.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang mit BillSAFE</h3>
<div class="paragraph">
<p>Der Bezahlvorgang variiert für die unterschiedlichen Zahlungsarten bei BillSAFE.</p>
</div>
<div class="paragraph subhead">
<p>Rechnungskauf - 1500</p>
</div>
<div class="paragraph">
<p>In der Bestellübersicht wird ein weiterer Button für den Kaufabschluss angezeigt. Der Button lässt sich im Menü <strong>CMS » Webdesign » Buttons » BillSAFE Rechnungskauf</strong> bearbeiten und nach eigenen Wünschen verändern. Nach einem Klick auf den Button wird der Kunde zu BillSAFE weitergeleitet, um die Daten bei BillSAFE zu bestätigen. Nachdem die Bestätigung der Daten erfolgte, wird der Auftrag abgeschlossen und erstellt. Der Kunde wird auf die Bestellbestätigungsseite weitergeleitet.</p>
</div>
<div class="paragraph subhead">
<p>Rechnungskauf Telefon - 1502</p>
</div>
<div class="paragraph">
<p>Diese Zahlungsart ist nur für den Händler verfügbar und kann somit nur im Backend gewählt werden. Nach Auswahl der Zahlungsart muss der Händler in die Kaufabwicklung gehen und den Kauf für den Kunden abschließen. Beim Klick auf den Button erfolgt die Weiterleitung zu BillSAFE. Der Händler muss dann bei BillSAFE anrufen, die Abwicklung mit BillSAFE abschließen und anschließend den Namen des Gesprächspartners eingeben.</p>
</div>
<div class="paragraph subhead">
<p>Rechnungskauf Onsite - 1504</p>
</div>
<div class="paragraph">
<p>In der Bestellübersicht wird der Button <strong>Zahlungspflichtig bestellen</strong> für den Kaufabschluss angezeigt. Anders als beim Rechnungskauf, findet nach dem Klick auf den Button keine Weiterleitung des Kunden zu BillSAFE statt. Der Kunde beendet somit den Bestellprozess in Ihrem Webshop.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Rechnung und Bankdaten</h3>
<div class="paragraph">
<p>BillSAFE übermittelt die Bankdaten bei Eingang des Auftrags an Ihr plentymarkets System. Die Bankdaten werden dann bei Rechnungserzeugung automatisch in die Rechnung übernommen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Bei BillSAFE registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>BillSAFE steht nur noch Händlern zur Verfügung, die diesen Service bereits nutzen. Als Neukunde können Sie sich nicht mehr bei BillSAFE registrieren. Inzwischen wurde der Rechnungskauf mit BillSAFE in PayPal integriert. PayPal bietet den Rechnungskauf als Teil des neuen Produkts <a href="/auftragsabwicklung/payment/paypal-plus">PayPal PLUS</a> an.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. BillSAFE in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu BillSAFE in plentymarkets einzurichten, gehen Sie wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu BillSAFE einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>DE</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>BillSAFE</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappen Sie den Mandanten auf.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tab. 1. Schnittstelle zu BillSAFE einrichten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Merchant-ID;</strong><br>
<strong>Merchant License;</strong><br>
<strong>Public Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Daten eingeben, wie von BillSAFE erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Firmenlogo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Logo Ihres Unternehmens oder Ihres Webshops für die Anzeige in der Kaufabwicklung bei BillSAFE speichern.<br>
Format: GIF, JPG oder PNG.<br>
Maximale Größe: 130 x 60 px.<br>
<em>*Wichtig:*</em> Das Firmenlogo ist eine Pflichtangabe.<br>
Die Ziffer <strong>0</strong> mit Unterstrich im Dateinamen wird automatisch vom System eingefügt und dient systeminternen Zwecken.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Testbetrieb aktivieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Testbetrieb aktivieren, um die BillSAFE-Funktionen zu testen, bevor mit dem System live gearbeitet wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Minimaler Bestellwert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eingeben, welcher Bestellwert mindestens erreicht werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximaler Bestellwert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Maximal zulässigen Bestellwert eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Vereinbarte Zahlungsaufschläge mit BillSAFE</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsaufschlag 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Zahlungsaufschlag im Tab <strong>Einstellungen</strong> unter der Option <strong>Kosten Inland</strong> eingeben. Dieser wird nach dem Speichern hier angezeigt.<br>
<em>*Wichtig:*</em> Die Zahlungsaufschläge müssen mit BillSAFE vereinbart werden. Nicht vereinbarte bzw. zu hohe Aufpreise führen zu Fehlern bzw. verhindern eine Kaufabwicklung.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="55">4. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für BillSAFE steht Ihnen mehrere Zahlungsarten zur Verfügung, die Sie im Menü <a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#20">System » Aufträge » Zahlung » Zahlungsarten</a> aktivieren. Prüfen Sie zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Rechnungskauf Telefon</div>
<div class="paragraph">
<p>Die Zahlung wird telefonisch durch den Händler mit BillSAFE abgewickelt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Versanddienstleister einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie die <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#2500">Versanddienstleister</a> für BillSAFE ein. Die Schnittstelle BillSAFE erfordert einen von BillSAFE freigegebenen Versanddienstleister. Diese sind: DP, DHL, DPD, UPS, GLS, Hermes, TNT, FEDEX.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erstellen Sie die Ereignisaktionen nur für die <strong>Zahlungsart BillSAFE</strong>, da es sonst zu ungewollten Meldungen kommt. Denn wenn Sie im Tab <strong>Filter</strong> mehrere Zahlungsarten auswählen, wird die ausgelöste Meldung für BillSAFE auch an alle weiteren dort hinterlegten Payment-Provider geschickt. Richten Sie eine <a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch zu versenden, nachdem der Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tab. 2. Ereignisaktion zum automatischen Senden von Versandbestätigungen an BillSAFE</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung: Warenausgang gebucht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungskauf mit BillSAFE</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versand &gt; Versandbestätigung an BillSAFE senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">7. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie haben 3 Möglichkeiten, um eine <strong>Retoure</strong> an BillSAFE zu senden. Sie können entweder eine Retoure an BillSAFE senden, wenn eine Retoure angelegt wurde, oder wenn die Retoure einen bestimmten Status erhält oder wenn eine Gutschrift einen bestimmten Status erhält. Legen Sie aber nur eine Ereignisaktion für eine der 3 Möglichkeiten zum Automatischen Senden der Retoure an BillSAFE an. Richten Sie eine <a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an BillSAFE zu senden. Weitere Details zum Anlegen von Retouren finden Sie auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#retoure">Retoure</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tab. 3. Ereignisaktion zum automatischen Senden von Retouren an BillSAFE</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsanlage: Neue Retoure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retoure</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungskauf mit BillSAFE</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retoure &gt; Retoure an BillSAFE senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Retoure bei Statuswechsel melden</p>
</div>
<div class="paragraph">
<p>Statt bei Anlage einer neuen Retoure steht alternativ auch das Ereignis <strong>Statuswechsel</strong> zum Melden einer Retoure bei BillSAFE zur Verfügung. Nutzen Sie dieses Ereignis, um z.B. nur geprüfte Retouren an BillSAFE zu melden oder wenn Sie eine Retoure an BillSAFE melden möchten, wenn eine Gutschrift angelegt wurde. Legen Sie dazu einen <strong>Auftragsstatus</strong> für BillSAFE-Retouren oder für BillSAFE-Gutschriften an und wählen Sie diesen Status in der Ereignisaktion als Ereignis aus.<br>
Wenn Sie eine Retoure melden, wenn eine Gutschrift angelegt wurde, muss trotzdem zuvor eine Retoure für den Auftrag angelegt worden sein. Die Reihenfolge ist in dem Fall folgende:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Retoure zum Auftrag anlegen</p>
</li>
<li>
<p>Gutschrift zur Retoure anlegen</p>
</li>
<li>
<p>Status der Gutschrift einstellen, der die Ereignisaktion auslöst</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Legen Sie nur eine Ereignisaktion an, um Retouren an BillSAFE zu melden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">8. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Stornierungen automatisch an BillSAFE zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tab. 4. Ereignisaktion zum automatischen Senden von Stornierungen an BillSAFE</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung: Statuswechsel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Status für Stornierungen wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungskauf mit BillSAFE</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retoure &gt; Retoure an BillSAFE senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">9. Rechnungsvorlage für BillSAFE-Aufträge anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie BilLSAFE nutzen und Rechnungen für Aufträge erzeugen, die mit der BillSAFE-Zahlungsart Rechnungskauf bezahlt werden, ist es notwendig, dass Sie die Bankdaten von BillSAFE auf der Rechnung anzeigen statt Ihrer Bankdaten. Dies geschieht automatisch über einen Zahlungshinweis. Wenn Sie Ihre eigene <a href="/auftragsabwicklung/auftraege/auftragsdokumente#170">PDF-Vorlage</a> verwenden möchten, gehen Sie wie nachfolgend beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Breite des Zahlungshinweises beachten</div>
<div class="paragraph">
<p>Um die Bankdaten von BillSAFE korrekt auf Ihrer Rechnung auszugeben, muss für den Zahlungshinweis im Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong> eine Breite von 120 Millimetern eigegeben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Eigene PDF-Vorlage verwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Wechseln Sie dort in das Untertab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Wählen Sie <strong>BillSAFE</strong> aus dem Dropdown-Menü, um die Vorlage für BillSAFE zu hinterlegen.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Datei</strong>, die auf Ihrem Rechner hinterlegte PDF-Datei.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die PDF-Datei wird hochgeladen und kann im Tab <strong>Vorlagen</strong> angezeigt werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Bevor Sie die Rechnung auch an Kunden schicken, informieren Sie sich, ob der Kunde nicht schon eine Rechnung von BillSAFE erhält, damit der Kunde nicht am Ende 2 Rechnungen erhält.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="110">10. Direktzahlung melden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Rechnungsbetrag fälschlicherweise an Sie und nicht an BillSAFE überwiesen wurde, können Sie dies direkt an BillSAFE melden. Um die <strong>Direktzahlung an BillSAFE</strong> über das System zu melden, müssen die BillSAFE-Schnittstellendaten für den <strong>Standard-Webshop</strong> gespeichert sein, auch wenn die Zahlungsart nur für einen Mandanten (Shop) aktiv ist.</p>
</div>
<div class="paragraph instruction">
<p>Direktzahlung melden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Auträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Auftrag von BillSAFE.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Zahlung</strong>.</p>
</li>
<li>
<p>Geben Sie unter <strong>Erhaltene Direktzahlungen bei BillSAFE melden</strong> den Rechnungsbetrag ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Direktzahlung melden</strong>.<br>
→ Der Rechnungsbetrag wird gemeldet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="120">11. Gutschrift senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es können individuelle <strong>Gutschriftenbeträge</strong> an BillSAFE gemeldet werden.</p>
</div>
<div class="paragraph instruction">
<p>Gutschrift senden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Auträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Auftrag von BillSAFE.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Geben Sie unter <strong>BillSAFE Gutschrift senden</strong> den Betrag ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Gutschrift senden</strong>.<br>
→ Der Gutschriftenbetrag wird gesendet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="130">12. Stundung melden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie können eine <strong>Stundung</strong> zwischen <strong>1</strong> und <strong>10</strong> Tagen an BillSAFE melden. Dies ist z.B. dann sinnvoll, wenn der Käufer eine Retoure angemeldet hat, diese aber noch nicht bei Ihnen eingetroffen ist. Durch die Stundung wird der Start des Mahnverfahrens aufgeschoben bzw. pausiert.</p>
</div>
<div class="paragraph instruction">
<p>Stundung melden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Auträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Auftrag von BillSAFE.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Geben Sie unter <strong>BillSAFE Stundung</strong> einen Wert von 1 bis 10 ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Stundung melden</strong>.<br>
→ Der Stundung wird gemeldet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="140">13. Statushistorie abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Auftragsübersicht werden <strong>Events</strong>, <strong>Stundungen</strong>, <strong>Rechnungserstellungen</strong> und das Melden von <strong>Gutschriften</strong> geloggt.</p>
</div>
<div class="paragraph instruction">
<p>Statushistorie abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Auträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Auftrag von BillSAFE.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Statushistorie</strong>.<br>
→ Eine Übersicht mit allen geloggten Ereignissen wird angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlung von BillSAFE abgelehnt - was passiert dann?</div>
<div class="paragraph">
<p>Wenn eine Zahlung von BillSAFE <strong>abgelehnt</strong> wurde, dann wird die Zahlungsart auf <strong>Vorkasse</strong> umgestellt (Anforderung von BillSAFE) - es wird eine Meldung auch in der Statushistorie angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>