<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Verfügbare ConCardis-Zahlungsarten</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Bei ConCardis registrieren</span></a></li>
<li><a href="#45"><span>3.</span><span> ConCardis in plentymarkets einrichten</span></a></li>
<li><a href="#50"><span>4.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#60"><span>5.</span><span> Einstellungen bei ConCardis vornehmen</span></a></li>
<li><a href="#70"><span>6.</span><span> ConCardis im Webshop anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>ConCardis</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http://www.concardis.de/de/" target="_blank">ConCardis</a></strong> ist ein Gemeinschaftsunternehmen der deutschen Kreditwirtschaft und Zahlungsanbieter für den bargeldlosen Zahlungsverkehr. ConCardis bietet seine Produkte und Services in Deutschland, Österreich, Benelux sowie der Schweiz an und expandiert in weitere europäische Länder.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhalten Sie wichtige Hinweise zur Integration dieses Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang</h3>
<div class="paragraph">
<p>Nach dem Bestätigen der Bestellung wird der Kunde auf eine Seite von ConCardis weitergeleitet. Dort muss er die Daten der von ihm gewählten Kreditkarte eingeben. Nachdem die Daten eingegeben wurden und die Zahlung durch den Kunden bestätigt wurde, wird dieser wieder zurück in Ihren Webshop geleitet.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Verfügbare ConCardis-Zahlungsarten</h3>
<div class="paragraph">
<p>Nachfolgend finden Sie eine Übersicht der für plentymarkets verfügbaren ConCardis-Zahlungsarten mit der System-ID in Klammern.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>MasterCard (2100)</p>
</li>
<li>
<p>Visa (2110)</p>
</li>
<li>
<p>American Express (2120)</p>
</li>
<li>
<p>UnionPay (2130)</p>
</li>
<li>
<p>JCB-Japan Credit Bureau (2140)</p>
</li>
<li>
<p>Diners Club (2150)</p>
</li>
<li>
<p>Discover (2160)</p>
</li>
<li>
<p>girocard/electronic cash (ec) (2170)</p>
</li>
<li>
<p>Maestro (2180)</p>
</li>
<li>
<p>V Pay (2190)</p>
</li>
<li>
<p>Visa Electron (2200)</p>
</li>
<li>
<p>GeldKarte (2210)</p>
</li>
<li>
<p>Coupon (1700)</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Bei ConCardis registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der <a href="http://www.concardis.de/de/kundenservice.html" target="_blank"><strong>Kundenservice</strong></a> von ConCardis liefert Ihnen zahlreiche Informationen zum ConCardis-Angebot sowie Preislisten und Kontaktinformationen. Registrieren Sie sich zunächst bei ConCardis, bevor Sie die Einrichtung in plentymarkets vornehmen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="45">3. ConCardis in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die Schnittstelle zu ConCardis einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu ConCardis einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>ConCardis</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappen Sie den Mandanten auf.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Schnittstelle zu ConCardis einrichten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PSPID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID des ConCardis-Kontos eingeben, wie von ConCardis erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SHA-Passphrase</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>SHA-Passphrase eingeben. Die SHA-Passphrase befindet sich im ConCardis-Kontobereich unter <strong>Konfiguration » Technische Information » Tab: Daten- und Ursprungsüberprüfung</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Testbetrieb aktivieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Testbetrieb aktivieren, um die ConCardis-Funktionen zu testen, bevor mit dem System live gearbeitet wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Layout</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Überschrift</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Text eingeben, der als Überschrift angezeigt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Hintergrundfarbe, Schriftfarbe etc.</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hexadezimalwerte für Farben der einzelnen Elemente eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die absolute URL (mit https) des Logos eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Mandant (Shop)-Optionen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit ConCardis nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <strong><a href="/omni-channel/online-shop/mandanten-einrichten/webshop#grundeinstellungen">Einstellungen » Mandant (Shop) » Standard » Webshop » Grundeinstellungen</a></strong> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">4. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>ConCardis bietet Ihnen eine Reihe von Zahlungsmöglichkeiten. Richten Sie die <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#20">Zahlungsarten</a></strong> für ConCardis im Tab <strong>Einstellungen</strong> der Zahlungsarten ein. Prüfen Sie zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#30">Kundenklassen</a></strong> und für <strong>Gesperrte Zahlungsarten</strong> in den <strong><a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#1000">Versandprofilen</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Einstellungen bei ConCardis vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die nachfolgend beschriebenen Einstellungen nehmen Sie in Ihrem ConCardis-Konto vor. Loggen Sie sich dafür in die ConCardis-Pay-Engine ein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Konfiguration</strong> auf <strong>Technische Informationen</strong> klicken.</p>
</li>
<li>
<p>Tab <strong>Transaktions-Feedback</strong> öffnen. <br>
→ Im Tab <strong>Transaktions-Feedback</strong> wird die Antwort von ConCardis an plentymarkets gesteuert.</p>
</li>
<li>
<p>Unter <strong>Direktes Feedback …​</strong> die plentymarkets-URL nach folgendem Muster eingeben: <strong>ihr-plentyshop.de/plenty/api/concardis.php</strong><br>
→ "ihr-plentyshop.de" durch eigenen Shop ersetzen.</p>
</li>
<li>
<p>Unter <strong>Dynamische e-Commerce parameter</strong> die Parameter unter <strong>Ausgewählt</strong> prüfen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Folgende Parameter müssen mindestens eingefügt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ACCEPTANCE</p>
</li>
<li>
<p>AMOUNT</p>
</li>
<li>
<p>BRAND</p>
</li>
<li>
<p>CURRENCY</p>
</li>
<li>
<p>ORDERID</p>
</li>
<li>
<p>PAYIDPMSTATUS</p>
</li>
<li>
<p>TRXDATE</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. ConCardis im Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald Ihr Kunde den Kauf bestätigt hat, wird in der Kaufabwicklung eine Nachricht eingeblendet. Der Kunde wird danach zur <strong>Auftragshistorie</strong> weitergeleitet und muss im Bereich <strong>Zahlungsart</strong> auf <strong>Jetzt bezahlen</strong> klicken. Anschließend wird der Kunde zu ConCardis weitergeleitet und gibt dort seine Kreditkartendaten (Bild 1) ein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Zahlungsarten-ConCardis.png" alt="DE Zahlungsarten ConCardis">
</div>
<div class="title">Abbildung 1. Eingabefelder bei ConCardis</div>
</div>
</div>
</div>
</main>