<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Bei CrefoPay registrieren</span></a></li>
<li><a href="#30"><span>3.</span><span> CrefoPay in plentymarkets einrichten</span></a></li>
<li><a href="#40"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#50"><span>5.</span><span> Einstellungen im CrefoPay-Konto vornehmen</span></a></li>
<li><a href="#60"><span>6.</span><span> CrefoPay im Webshop anzeigen</span></a>
<ul class="sectlevel2">
<li><a href="#61"><span>6.1.</span><span> Kategorie Bestellbestätigung anpassen</span></a></li>
<li><a href="#63" "=""><span>6.2.</span><span> CheckoutCustomerInvoiceAddress anpassen</span></a></li>
<li><a href="#64" "=""><span>6.3.</span><span> CheckoutCustomerShippingAddress anpassen</span></a></li>
<li><a href="#65" "=""><span>6.4.</span><span> Namensprüfung für B2B-Kunden einrichten</span></a></li>
</ul>
</li>
<li><a href="#70"><span>7.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#80"><span>8.</span><span> Rückerstattungen automatisch senden</span></a></li>
<li><a href="#100"><span>9.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#110"><span>10.</span><span> Rückerstattung bei Teilstornierung an CrefoPay senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>CrefoPay</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.creditreform.de/crefopay.html" target="_blank" rel="noopener">CrefoPay</a> wird angeboten vom Verband der Vereine Creditreform e.V. und ist laut eigener Aussage eine Payment-Komplettlösung für den Online-Handel.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhalten Sie wichtige Hinweise zur Integration dieses Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">CrefoPay und Webshop-Design</div>
<div class="paragraph">
<p>Beachten Sie, dass für die erfolgreiche Integration von CrefoPay in plentymarkets folgende Bedingungen erfüllt sein müssen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verwendung des Standard-Designs Callisto (ab Version 2)</p>
</li>
<li>
<p>Nutzung des Individuellen Bestellvorgangs</p>
</li>
<li>
<p>Sicherer Umgang mit dem plentymarkets CMS</p>
</li>
<li>
<p>Erfahrung mit der Einrichtung von Zahlungsdienstleistern</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Bezahlvorgang</p>
</div>
<div class="paragraph">
<p>Je nach gewählter Zahlungsart wird der Kunde nach dem Bestätigen der Bestellung auf eine Seite von CrefoPay weitergeleitet oder muss seine Daten direkt in einem eingeblendeten iframe eingeben. Wenn der Kunde weitergeleitet wurde, muss er dort die Daten für die gewählte Zahlungsart eingeben. Nachdem die Daten eingegeben wurden und die Zahlung durch den Kunden bestätigt wurde, wird der Kunde zurück zu Ihrem Webshop geleitet. Zahlungsarten, bei denen der Kunde weitergeleitet wird, sind Sofortüberweisung und PayPal (Stand 01.06.2016).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bei CrefoPay registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Registrieren Sie sich bei CrefoPay, bevor Sie die Einrichtung in plentymarkets vornehmen. Nehmen Sie <a href="http://www.creditreform.de/microsites/crefopay-kontakt.html" target="_blank" rel="noopener">Kontakt</a> zu CrefoPay auf.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. CrefoPay in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die Schnittstelle zu CrefoPay einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu CrefoPay einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>DE</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>CrefoPay</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappen Sie den Mandanten auf.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-crefopay">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-crefopay" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Schnittstelle zu CrefoPay einrichten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Testmodus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Testmodus aktivieren, um die Datenübertragung zwischen plentymarkets und CrefoPay zu testen, ohne dass tatsächlich Zahlungen ausgeführt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Händler-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Händler-ID eingeben, wie von CrefoPay erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Private Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Private Key eingeben, wie von CrefoPay erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shop-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shop-ID eingeben, wie von CrefoPay erhalten.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie die <a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#20">Zahlungsart</a> CrefoPay im Tab <strong>Einstellungen</strong> der Zahlungsart ein. Prüfen Sie zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>. Welche Zahlungsarten angeboten werden, legen Sie direkt bei CrefoPay fest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Einstellungen im CrefoPay-Konto vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ihrem CrefoPay-Konto geben Sie die URLs für die Integration ein und wählen die Zahlungsarten, die Sie mit CrefoPay anbieten möchten. Ob einem Kunden die Zahlungsarten tatsächlich angeboten werden, hängt von weiteren Faktoren, z.B. Fraud-Regeln, ab. In Ihrem CrefoPay-Konto gibt es einen Bereich für die Integration. In diesem Integrationsbereich geben Sie zwei URLs ein und wählen die Zahlungsarten, die Sie nutzen möchten. Die URLs müssen folgendem Schema entsprechen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Weiterleitungs-URL: <a href="https://MEIN-PLENTYSHOP.de/plenty/api/payment_notification.php?payment=crefopayredirectk" class="bare">https://MEIN-PLENTYSHOP.de/plenty/api/payment_notification.php?payment=crefopayredirectk</a></p>
</li>
<li>
<p>Benachrichtigungs-URL: <a href="https://MEIN-PLENTYSHOP.de/plenty/api/payment_notification.php?payment=crefopay" class="bare">https://MEIN-PLENTYSHOP.de/plenty/api/payment_notification.php?payment=crefopay</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. CrefoPay im Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben wie Sie CrefoPay im Webshop von plentymarkets anzeigen. Hierfür sind mehrere Schritte nötig. Zunächst wird die Kategorie <strong>Bestellbestätigung</strong> angepasst.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Keine Anpassungen am aktiven Design vornehmen</div>
<div class="paragraph">
<p>Nehmen Sie keine Änderungen an Ihrem aktiven Design vor. Bevor Sie Änderungen an Ihrem Design vornehmen, legen Sie eine Sicherungskopie an, damit Sie jederzeit wieder zum Ursprungszustand zurückgelangen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="61">6.1. Kategorie Bestellbestätigung anpassen</h3>
<div class="paragraph">
<p>Damit die von CrefoPay angebotenen Zahlungsarten Ihren Kunden im Webshop zur Verfügung stehen, müssen Sie Änderungen an der Kategorie <strong>Bestellbestätigung</strong> vornehmen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsartenauswahl in der Bestellbestätigung hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner des Designs, das Sie bearbeiten möchten, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffnen Sie die Kategorie <strong>Bestellbestätigung</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Suchen Sie <strong>div class="panel-body"</strong>.</p>
</li>
<li>
<p>Ersetzen Sie den Inhalt dieses Div-Containers mit dem Code aus dem Code-Beispiel.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="row margin-bottom-15"&gt;
	&#123;&#37; if $CheckoutMethodOfPaymentID == 5500 &#37;&#125;
			&#123;&#37; $_crefoFrame = Container_CheckoutCrefoPay() &#37;&#125;
		&#123;&#37; endif &#37;&#125;
		&#123;&#37; if strlen($_crefoFrame) &#37;&#125;
			&#123;&#37; if $_crefoFrame == "PENDING" || $_crefoFrame == "ACCEPTED" &#37;&#125;
			&lt;div class="col-lg-6 col-md-6 col-sm-12"&gt;
				&lt;h4&gt;Vielen Dank für Ihre Bestellung!&lt;/h4&gt;

				&lt;hr&gt;

				&lt;p&gt;
					Ihre Bestellung wurde erfolgreich an uns übermittelt. Sie erhalten eine entsprechende Bestätigung per E-Mail.
					Einen Überblick über Ihre Bestellungen finden Sie in der Auftragsübersicht.
				&lt;/p&gt;
				&lt;p&gt;
					&#123;&#37; if $_crefoFrame == "PENDING"&#37;&#125;
					Ihre Zahlung wird bearbeitet. Zahlungsstatus =&gt; $_crefoFrame
					&#123;&#37; else &#37;&#125;
					Ihre Zahlung wurde bearbeitet. Zahlungsstatus =&gt; $_crefoFrame
					&#123;&#37; endif &#37;&#125;
				&lt;/p&gt;

				&lt;div class="row"&gt;
					&lt;div class="col-lg-6 col-md-6 col-sm-6"&gt;
						&lt;a class="btn btn-default btn-block" href="&#123;&#37; Link_Home() &#37;&#125;"&gt;
							&lt;span class="glyphicon glyphicon-home" aria-hidden="true"&gt;&lt;/span&gt; Zurück zur Startseite
						&lt;/a&gt;
					&lt;/div&gt;

					&lt;div class="col-lg-6 col-md-6 col-sm-6 margin-top-xs-1"&gt;
						&lt;a class="btn btn-primary btn-block" href="&#123;&#37; Link_Home() &#37;&#125;?AccountShow=OrderOverView&amp;OrderID=$_confirm-&gt;OrderID"&gt;
							&lt;span class="glyphicon glyphicon-eye-open" aria-hidden="true"&gt;&lt;/span&gt; Zur Auftragsübersicht
						&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&#123;&#37; else &#37;&#125;
				$_crefoFrame
			&#123;&#37; endif &#37;&#125;
		&#123;&#37; else &#37;&#125;

	&lt;div class="col-lg-6 col-md-6 col-sm-12"&gt;
		&lt;h4&gt;Vielen Dank für Ihre Bestellung!&lt;/h4&gt;

		&lt;hr&gt;

		&lt;p&gt;
			Ihre Bestellung wurde erfolgreich an uns übermittelt. Sie erhalten eine entsprechende Bestätigung per E-Mail.
			Einen Überblick über Ihre Bestellungen finden Sie in der Auftragsübersicht.
		&lt;/p&gt;

		&lt;div class="row"&gt;
			&lt;div class="col-lg-6 col-md-6 col-sm-6"&gt;
				&lt;a class="btn btn-default btn-block" href="&#123;&#37; Link_Home() &#37;&#125;"&gt;
					&lt;span class="glyphicon glyphicon-home" aria-hidden="true"&gt;&lt;/span&gt; Zurück zur Startseite
				&lt;/a&gt;
			&lt;/div&gt;

			&lt;div class="col-lg-6 col-md-6 col-sm-6 margin-top-xs-1"&gt;
				&lt;a class="btn btn-primary btn-block" href="&#123;&#37; Link_Home() &#37;&#125;?AccountShow=OrderOverView&amp;OrderID=$_confirm-&gt;OrderID"&gt;
					&lt;span class="glyphicon glyphicon-eye-open" aria-hidden="true"&gt;&lt;/span&gt; Zur Auftragsübersicht
				&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&#123;&#37; endif &#37;&#125;
&lt;/div&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="63" "="">6.2. CheckoutCustomerInvoiceAddress anpassen</h3>
<div class="paragraph">
<p>Um bei der Adresseingabe nur für CrefoPay gültige Werte anzuzeigen, ist noch eine kleine Anpassung im Template <strong>CheckoutCustomerInvoiceAddress</strong> notwendig.</p>
</div>
<div class="paragraph instruction">
<p>CheckoutCustomerInvoiceAddress anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>Layout » Checkout</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Template <strong>CheckoutCustomerInvoiceAddress</strong>.</p>
</li>
<li>
<p>Suchen Sie im Code die Stelle <strong>&lt;option value="3"&#123;&#37; if $FormOfAddressID == 3 &#37;&#125; selected&#123;&#37; endif &#37;&#125;&gt;Familie&lt;/option&gt;</strong>.</p>
</li>
<li>
<p>Löschen Sie die Code-Zeile aus dem Template.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="64" "="">6.3. CheckoutCustomerShippingAddress anpassen</h3>
<div class="paragraph">
<p>Die gleiche Änderung nehmen Sie im Template <strong>CheckoutCustomerShippingAddress</strong> analog vor.</p>
</div>
<div class="paragraph instruction">
<p>CheckoutCustomerShippingAddress anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>Layout » Checkout</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Template <strong>CheckoutCustomerShippingAddress</strong>.</p>
</li>
<li>
<p>Suchen Sie im Code die Stelle <strong>&lt;option value="3"&#123;&#37; if $FormOfAddressID == 3 &#37;&#125; selected&#123;&#37; endif &#37;&#125;&gt;Familie&lt;/option&gt;</strong>.</p>
</li>
<li>
<p>Löschen Sie die Code-Zeile aus dem Template.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="65" "="">6.4. Namensprüfung für B2B-Kunden einrichten</h3>
<div class="paragraph">
<p>CrefoPay benötigt bei Bestellungen von B2B-Kunden den Vor- und Nachnamen des Kunden auf der Rechnungsadresse. Die Template-Variablen <strong>ValidateInvoiceAddressFirstNameIfCompany</strong> und <strong>ValidateInvoiceAddressLastNameIfCompany</strong> bieten die Möglichkeit Vor- und Nachnamen von B2B-Kunden für Rechnungsadressen zu prüfen, wenn das Textfeld <strong>Firma</strong> ebenfalls gefüllt ist.</p>
</div>
<div class="paragraph instruction">
<p>Namensprüfung für B2B-Kunden einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>PageDesignPrepareMainColumn</strong>.</p>
</li>
<li>
<p>Suchen Sie die Template-Variablen <strong>ValidateInvoiceAddressFirstNameIfCompany</strong> und <strong>ValidateInvoiceAddressLastNameIfCompany</strong>.</p>
</li>
<li>
<p>Ändern Sie die Werte der beiden Variablen von <strong>false</strong> auf <strong>true</strong>. Beachten Sie dazu auch die Erläuterungen in <a href="#template-variablen-b2b">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="template-variablen-b2b" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Template-Variablen für B2B-Kunden</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ValidateInvoiceAddressFirstNameIfCompany</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>true</strong> = Prüfen, ob der <strong>Vorname</strong> eingegeben wurde, wenn in der Rechnungsadresse das Textfeld <strong>Firma</strong> gefüllt ist.<br>
<strong>false</strong> = Textfeld <strong>Vorname</strong> nicht prüfen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ValidateInvoiceAddressLastNameIfCompany</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>true</strong> = Prüfen, ob der <strong>Nachname</strong> eingegeben wurde, wenn in der Rechnungsadresse das Textfeld <strong>Firma</strong> gefüllt ist.<br>
<strong>false</strong> = Textfeld <strong>Nachname</strong> nicht prüfen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit CrefoPay Beträge an Sie auszahlt, müssen Sie bestätigen, dass Sie dem Kunde die Ware gesendet haben. Richten Sie eine <a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch zu versenden, nachdem der Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Versandbestätigungen an CrefoPay</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung: Warenausgang gebucht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong><br>
Lieferauftrag - optional für Teillieferungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CrefoPay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versand &gt; Versandbestätigung an CrefoPay senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">8. Rückerstattungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Käufer Artikel retourniert, legen Sie eine Retoure an und melden diese an CrefoPay, damit der Kunde das Geld von CrefoPay zurück erhält. Mithilfe einer Ereignisaktion wird die Retoure automatisch an CrefoPay gemeldet.</p>
</div>
<div class="paragraph instruction">
<p>Retoure anlegen:</p>
</div>
<div id="90" class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den CrefoPay-Auftrag.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie die Option <strong>anlegen</strong> aus der Dropdown-Liste <strong>Retoure …​</strong>.</p>
</li>
<li>
<p>Wählen Sie die Artikel, die retourniert wurden.<br>
→ Die Retoure wird angelegt und geöffnet.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Rückerstattungen an CrefoPay</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsanlage: Neue Retoure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CrefoPay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsarten &gt; Rückerstattung an CrefoPay senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">9. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um CrefoPay automatisch über Stornierungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 5.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 5 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Stornierungen an CrefoPay</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung: Statuswechsel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Status für <strong>stornierte Aufträge</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CrefoPay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsarten &gt; Stornierung an CrefoPay senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">10. Rückerstattung bei Teilstornierung an CrefoPay senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie z.B. einen Artikel, den der Kunde bestellt hat, doch nicht mehr liefern können, melden Sie dies an CrefoPay, damit der Kunde sein Geld von CrefoPay zurück erhält. Diese Rückerstattung lösen Sie am Auftrag aus, indem Sie an CrefoPay melden, dass der Auftrag abgeschlossen wurde. Daraufhin erhält der Kunde den Differenzbetrag von CrefoPay, der übrig bleibt, wenn die versendeten Artikel vom Gesamtbetrag abgezogen werden.</p>
</div>
<div class="paragraph instruction">
<p>Rückerstattung melden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den CrefoPay-Auftrag.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>CrefoPay-Zahlungsvorgang abschließen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn ein Kunde mehr als den Auftragsbetrag gezahlt hat, können Sie den Zahlungsvorgang auch abschließen, um dem Kunden den zuviel gezahlten Betrag zu erstatten.</p>
</div>
</div>
</div>
</main>