<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Unterstützte Währungen</span></a></li>
<li><a href="#20"><span>2.</span><span> Währung umrechnen</span></a></li>
<li><a href="#30"><span>3.</span><span> Systemwährung festlegen</span></a></li>
<li><a href="#40"><span>4.</span><span> Währung als Symbol im Bestellvorgang anzeigen</span></a></li>
<li><a href="#60"><span>5.</span><span> Standardwährung für Webshop festlegen</span></a></li>
<li><a href="#70"><span>6.</span><span> Anzeige der Währung im Webshop anpassen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Währungen konfigurieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets können Sie mit verschiedenen Währungen arbeiten, wenn Sie Ihre Artikel in verschiedenen Ländern anbieten möchten. Auf dieser Seite werden die Währungseinstellungen beschrieben, die sich global auf alle Mandanten (Shops) Ihres plentymarkets Systems auswirken. Zudem finden Sie weitere Währungseinstellungen, die sich nur auf einen einzelnen Webshop beziehen. Auf dieser Seite wird außerdem beschrieben, wie Sie im Bereich <a href="/omni-channel/online-shop/cms#webdesign">CMS » Webdesign</a> Template-Variablen einfügen, damit Ihre Kunden selbstständig im Webshop die Währung ändern können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Unterstützte Währungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktuell werden in plentymarkets die folgenden Währungen unterstützt:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tab. 1. Währungen in plentymarkets</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">ISO</th>
<th class="tableblock halign-left valign-top">Währung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AED</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Dirham der Vereinigten Arabischen Emirate</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ARS</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Argentinischer Peso</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AUD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Australien, Australischer Dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BGN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bulgarien, Bulgarischer Lew</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BHD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bahrain-Dinar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BRL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Brasilien, Brasilianischer Real, Mehrzahl: Reais</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CAD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kanada, Kanadischer Dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CHF</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Schweiz, Schweizer Franken</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CNY</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Volksrepublik China, Renminbi</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CZK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Tschechische Republik, Tschechische Krone</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DKK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Dänemark, Dänische Krone</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>EUR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Euro</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>GBP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Großbritannien, Pfund Sterling</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>HKD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hongkong Dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>HRK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kroatische Kuna</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>HUF</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ungarn, Forint</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IDR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Indonesische Rupiah</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>INR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Indien, Indische Rupie</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>JPY</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Japan, Japanischer Yen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MXN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mexiko, Mexikanischer Peso</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MYR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Malaysischer Ringgit</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>NOK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Norwegen, Norwegische Krone</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>NZD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Neuseeland-Dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PHP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Philippinischer Peso</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PLN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Polen, Zloty</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>QAR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Katar-Riyal</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>RON</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Rumänien, Rumänischer Leu</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>RUB</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Russische Föderation, Rubel</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SEK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Schweden, Schwedische Krone</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SGD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Singapur-Dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>THB</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Thai Baht</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>TRY</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Türkei, Türkische Lira / Türkisches Pfund</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>TWD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Neuer Taiwan-Dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>UAH</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ukrainische Hrywnja</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>USD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>USA, US-Dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VND</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vietnamesischer Đồng</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>XCD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ostkaribischer Dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ZAR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Südafrikanischer Rand</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Währung umrechnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="/artikel/artikel-verwalten#870">Verkaufspreisen</a> aktivieren Sie unter <strong>Währung: Live umrechnen</strong>, ob die Shop-Währung in fremde Währungen umgerechnet wird. Zudem konfigurieren Sie die Währungseinstellungen im Menü <strong>System » Aufträge » Zahlung » Währungen</strong>. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Währung umrechnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Zahlung » Währungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dabei die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tab. 2. Währungseinstellungen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standardwährung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/auftragsabwicklung/payment/waehrungen#30">Systemwährung</a> aus dem Dropdown-Menü wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umrechnungsfaktoren täglich automatisch aktualisieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Option bestimmt, ob die Umrechnungsfaktoren täglich automatisch aktualisiert werden oder nicht.<br>
<strong>Ja</strong> = Die Umrechnungsfaktoren werden automatisch nachts aktualisiert. Außerdem wird in der Zeile darunter die Option <strong>Letztes automatisches Update</strong> eingeblendet (siehe nächste Option).<br>
<strong>Nein</strong> = Pro Währung wird ein <strong>Reload-Symbol</strong> angezeigt, mit dem die Wechselkurse jederzeit manuell ermittelt werden können.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Letztes automatisches Update</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Letzte Aktualisierung der Umrechnungsfaktoren anzeigen. Dieses Feld ist nur sichtbar, wenn die Option <strong>Umrechnungsfaktoren täglich automatisch aktualisieren</strong> auf <strong>Ja</strong> gestellt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umrechnungsfaktor Standard-Währung nach EUR, USD, CHF&nbsp;…</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Wechselkurse sind beim Öffnen des Menüs bereits eingetragen, müssen aber ggf. aktualisiert werden. Durch Klick auf <strong>Reload</strong> wird der aktuelle Wechselkurs sofort manuell ermittelt. Alternativ die Option <strong>Umrechnungsfaktoren täglich automatisch aktualisieren</strong> auf <strong>Ja</strong> stellen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">3. Systemwährung festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie mit mehreren Währungen arbeiten, müssen Sie eine dieser Währungen als Standardwährung für das System festlegen. Diese Währung wird auch immer dann als voreingestellte Währung verwendet, wenn keine andere Währung gewählt wurde. In Ihrem System ist <strong>EUR</strong> (Euro) als Standardwährung voreingestellt.</p>
</div>
<div class="paragraph">
<p>Aufträge werden immer in der Standardwährung in plentymarkets erstellt. Für einen Auftrag wird die Währung verwendet, die der Kunde bei der Bestellung gewählt hat. Zusätzlich wird bei einer Bestellung in einer anderen Währung der aktuelle Wechselkurs gegenüber der Standardwährung mit beim Auftrag gespeichert. Diese Werte sind also jederzeit für die Auswertung der Bestelldaten oder z.B. für automatische Benachrichtigungen verfügbar.</p>
</div>
<div class="paragraph instruction">
<p>Systemwährung festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Zahlung » Währungen</strong>.</p>
</li>
<li>
<p>Wählen Sie eine Währung unter <strong>Standardwährung</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Diese Einstellung ist nicht unbedingt identisch mit der <a href="/auftragsabwicklung/payment/waehrungen#70">Anzeige der Währung im Webshop</a>. Sie können für jeden Webshop und jede Sprache eine individuelle Standardwährung einstellen. Diese Einstellung nehmen Sie im Menü <strong>System » Mandant » Mandant wählen » Webshop » Währung</strong> vor.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Währung als Symbol im Bestellvorgang anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Währung kann als ISO-Code oder als Symbol im Webshop angezeigt werden. So würde z.B. für Euro der ISO-Code <strong>EUR</strong> oder das Symbol <strong>€</strong> angezeigt werden. Diese Einstellung bezieht sich auf die Darstellung im <strong>Bestellvorgang</strong> sowie im Bereich <strong>Mein Konto</strong>. Die Darstellung der Währung im Webshop wird ansonsten über <a href="/auftragsabwicklung/payment/waehrungen#70">Template-Variablen und -Funktionen</a> gesteuert.</p>
</div>
<div class="paragraph instruction">
<p>Währung als Symbol im Bestellvorgang anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Webshop » Währung</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Symbol</strong> die Option <strong>Symbol</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Standardwährung für Webshop festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie Ihren Webshop in verschiedenen Sprachen online stellen, können Sie für jede Sprache eine eigene Standardwährung festlegen. Wenn Sie mit mehreren Mandanten (Shops) arbeiten, können Sie die Einstellungen für jeden Webshop einzeln vornehmen. Wenn Sie diese Einstellungen für einen anderen Shop vornehmen möchten, finden Sie die Einstellungen analog zum Menüpunkt <strong>Standard</strong> im Ordner des Shops.</p>
</div>
<div class="paragraph instruction">
<p>Standardwährung für Webshop festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Webshop » Währung</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Standardwährung</strong> eine Standardwährung für die jeweilige Sprache des Webshops.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Anzeige der Währung im Webshop anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie können es Ihren Kunden ermöglichen, selbst von einer Währung zu einer anderen Währung zu wechseln. Dies ist sinnvoll, wenn Sie z.B. einen deutschsprachigen Webshop betreiben und Ihre Artikel sowohl in Deutschland mit der Währung EUR als auch in der Schweiz mit der Währung CHF verkaufen möchten. Die Umschaltung von einer Währung zur anderen erfolgt mit den folgenden Template-Funktionen:</p>
</div>
<div class="paragraph">
<p><strong>$Link_Currency(EUR)</strong><br>
<strong>$Link_Currency(CHF)</strong><br>
<strong>$Link_Currency(USD)</strong></p>
</div>
<div class="paragraph">
<p>Diese werden mit folgenden Codes eingefügt:</p>
</div>
<div class="paragraph">
<p><strong>&lt;a href="$Link_Currency(EUR)"&gt;EUR&lt;/a&gt;</strong><br>
<strong>&lt;a href="$Link_Currency(CHF)"&gt;CHF&lt;/a&gt;</strong><br>
<strong>&lt;a href="$Link_Currency(USD)"&gt;USD&lt;/a&gt;</strong></p>
</div>
<div class="paragraph instruction">
<p>Template-Funktionen einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Öffnen Sie ein Template, z.B. <strong>PageDesignContent</strong>.</p>
</li>
<li>
<p>Kopieren Sie den gewünschten Code oben und fügen Sie ihn an der gewünschten Stelle im Template ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Währungssymbole ersetzen</div>
<div class="paragraph">
<p>Falls Sie bisher mit Währungssymbolen gearbeitet haben, ersetzen Sie diese durch die Template-Variable <strong>$Currency</strong>. Diese Template-Variable enthält immer die aktuell im Webshop gewählte Währung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>