<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Zahlungsart suchen</span></a></li>
<li><a href="#20"><span>2.</span><span> Zahlungsart einrichten</span></a></li>
<li><a href="#25"><span>3.</span><span> Standard-Zahlungsart festlegen</span></a></li>
<li><a href="#30"><span>4.</span><span> Zahlungsart in Kundenklasse erlauben</span></a></li>
<li><a href="#50"><span>5.</span><span> Rabatt auf Zahlungsart gewähren</span></a></li>
<li><a href="#40"><span>6.</span><span> Vertragsfreie Zahlungsarten</span></a></li>
<li><a href="#60"><span>7.</span><span> Versand ohne Zahlungseingang</span></a></li>
<li><a href="#70"><span>8.</span><span> Marktplatz-Zahlungsarten</span></a></li>
<li><a href="#80"><span>9.</span><span> Rundungsdifferenzen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Zahlungsarten verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erfahren Sie, wie Sie Zahlungsarten einrichten. Weiterhin erhalten Sie einen Überblick über vertragsfreie Zahlungsarten, z.B. <strong>Rechnung</strong> oder <strong>Vorkasse</strong>, sowie weiterführende Informationen zu diesen Zahlungsarten. Die Einrichtung von Schnittstellen zu Zahlungsarten und Zahlungsanbietern ist jeweils auf einer eigenen Handbuchseite beschrieben, die Sie über den Themenbereich <strong><a href="/auftragsabwicklung/payment">Payment</a></strong> erreichen. Schließlich finden Sie eine Übersicht der Marktplatz-Zahlungsarten. Eine detaillierte Beschreibung zur Aktivierung von Marktplatz-Zahlungsarten finden Sie auf den Handbuchseiten der <strong><a href="/omni-channel/multi-channel">Märkte</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Zahlungsart suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet Ihnen ein breites Sortiment an vertragsfreien und vertragspflichtigen Zahlungsarten. Finden Sie die von Ihnen gesuchte Zahlungsart einfach über die Suchfunktion.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Geben Sie in das Suchfeld den Namen des Zahlungsanbieters oder der Zahlungsart ein.<br>
→ Die Suchergebnisse werden aufgelistet.</p>
</li>
<li>
<p>Klicken Sie auf den Zahlungsanbieter oder die Zahlungsart, um diese(n) zu öffnen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Symbole des Verzeichnisbaums haben folgende Bedeutung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Grünes Häkchen</strong> = Aktive Zahlungsart.</p>
</li>
<li>
<p><strong>Rotes X</strong> = Inaktive Zahlungsart. Inaktive Zahlungsarten können ein- und ausgeblendet werden.</p>
</li>
<li>
<p><strong>Ordner</strong> = Zahlungsanbieter, die mehrere Zahlungsarten anbieten. Aufklappen, um Zahlungsarten zu sehen.</p>
</li>
<li>
<p><strong>Fragezeichen</strong> = Ordner, die aktive und inaktive Zahlungsarten enthalten.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Zahlungsart einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine Zahlungsart ein wie im Folgenden beschrieben. Beachten Sie, dass Zahlungsarten anschließend in einem anderen Menü für Kundenklassen erlaubt werden müssen. Weitere Informationen finden Sie im Kapitel <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a></strong>.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>DE</strong> bzw. <strong>International</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Zahlungsart.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit ist es möglich, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Namen eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite (Extern)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferländer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lieferland wählen.<br>
<strong><em>Hinweis:</em></strong> Lieferländer nur wählen, wenn die Zahlungsart im Webshop verwendet wird. Bei Marktplatz-Zahlungsarten keine Lieferländer wählen. Eine Marktplatz-Zahlungsart wird nicht im Webshop verwendet. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig konfiguriert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandant wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logoansicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo hochladen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG, JPG. Maximale Größe: 100 x 25 Pixel.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priorität</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kosten: Pauschal oder Prozentual</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben.<br>
<strong>Inland (Aufpreis)</strong>: Pauschalen oder prozentualen Wert eingeben, der bei Aufträgen berücksichtigt wird, bei denen das Systemland gewählt wurde. Diese Kosten werden im Bestellvorgang bei der Wahl der Zahlungsart zum Auftrag addiert. Der Betrag fließt in die Gesamtsumme des Auftrags ein und wird nicht einzeln ausgewiesen.<br>
<strong>Ausland (Aufpreis)</strong>: Pauschalen oder prozentualen Wert eingeben, der bei Aufträgen berücksichtigt wird, bei denen nicht das Systemland gewählt wurde. Diese Kosten werden im Bestellvorgang bei der Wahl der Zahlungsart zum Auftrag addiert. Der Betrag fließt in die Gesamtsumme des Auftrags ein und wird nicht einzeln ausgewiesen.<br>
<strong>Inland (Statistik)</strong>: Pauschalen oder prozentualen Wert eingeben, der bei Aufträgen berücksichtigt wird, bei denen das Systemland gewählt wurde.<br>
<strong>Ausland (Statistik)</strong>: Pauschalen oder prozentualen Wert eingeben, der bei Aufträgen berücksichtigt wird, bei denen nicht das Systemland gewählt wurde.<br>
Weitere Informationen auf den Handbuchseiten <strong><a href="/basics/statistik">Statistik</a></strong> und <strong><a href="/basics/statistik/allgemeine-statistiken/artikel/renner-und-penner">Renner und Penner</a></strong>.<br>
<strong><em>Wichtig</em></strong>: Nicht in beide Felder einen Wert eingeben. Die Vertragsbedingungen des Zahlungsanbieters beachten. Einige Zahlungsanbieter untersagen die Weitergabe der Gebühren an den Endkunden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel für pauschale und prozentuale Kosten</div>
<div class="paragraph">
<p>Wenn Sie einen Aufpreis eingeben möchten, geben Sie einen positiven Wert ein. Für einen Aufpreis von 1 Prozent geben Sie einen prozentualen Wert von 1 ein. Für einen Aufpreis von 1 EUR geben Sie einen pauschalen Wert von 1 ein. Wenn Sie einen Rabatt eingeben möchten, geben Sie einen negativen Wert ein, z.B. -2 für einen Rabatt von 2 Prozent.<br>
<strong>Inland</strong> entspricht dem unter <strong>Einstellungen » Grundeinstellungen » Stammdaten</strong> bei der Einstellung <strong>Firmensitz für FiBu</strong> festgelegten Land. Bei Mandanten (Shops) haben Sie auch die Möglichkeit, Ihr <strong>Standard-Lieferland</strong> automatisch als <strong>Land des Firmensitzes</strong> zu verwenden. Diese Einstellung finden Sie unter <strong>Einstellungen » Mandant (Shop) » Mandant wählen » Bestellvorgang » Grundeinstellungen</strong>. Differenziertere Konfigurationsmöglichkeiten von Rabatten auf Zahlungsarten sind über das Rabattsystem in plentymarkets möglich. Beachten Sie dazu die Handbuchseite <a href="/crm/kundendaten-verwalten#3900"><strong>Rabatt auf Zahlungsart</strong></a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="25">3. Standard-Zahlungsart festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um die Zahlungsart festzulegen, die standardmäßig im Bestellvorgang in Ihrem Webshop voreingestellt ist.</p>
</div>
<div class="paragraph instruction">
<p>Standard-Zahlungsart festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Bestellvorgang » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Standard-Zahlungsart</strong> eine Zahlungsart aus dem Dropdown-Menü.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Zahlungsart in Kundenklasse erlauben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den Grundeinstellungen Ihrer Kundenklassen müssen Zahlungsarten erlaubt sein. Diese Einstellungen betreffen z.B. auch die <strong>Standard-Endkunden</strong>. Neue Zahlungsarten müssen den erlaubten Zahlungsarten hinzugefügt werden. Genauso können Sie Zahlungsarten hier für bestimmte Kundenklassen ausschließen, indem sie die Zahlungsarten aus der Liste entfernen. Prüfen Sie die Einstellungen unter <strong>Erlaubte Zahlungsarten</strong> Ihrer Kundenklassen, nachdem Sie eine neue Zahlungsart in Ihrem System eingerichtet haben. Weitere Details dazu finden Sie auf der Handbuchseite <strong><a href="/crm/kundendaten-verwalten#100">Kundenklassen</a></strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">SSL-Zertifikat und Verschlüsselung</div>
<div class="paragraph">
<p>Wir empfehlen Ihnen grundsätzlich, wenn Sie mit Zahlungs- und Kundendaten arbeiten, eine <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#ssl-zertifikat"><strong>SSL-Verschlüsselung</strong></a> für Ihren Webshop. Für Zahlungsarten, die mit einem iframe arbeiten, ist dies zwingend.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Rabatt auf Zahlungsart gewähren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Rabatt auf eine Zahlungsart ist eine Art Skonto-Umsetzung in plentymarkets. Sie gewähren Kunden damit einen Rabatt auf die Verwendung einer oder mehrerer Zahlungsarten. Wie Sie diese Rabattart einrichten, erfahren Sie unter <a href="/crm/kundendaten-verwalten#3900">Rabatt auf Zahlungsart</a>. Angaben zu <strong>Skonto</strong> und <strong>Valuta</strong> können Sie auch direkt im <strong><a href="/crm/kundendaten-verwalten#800">Datensatz eines Kunden</a></strong> vornehmen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">6. Vertragsfreie Zahlungsarten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als vertragsfreie Zahlungsarten werden hier Zahlungsarten bezeichnet, die Sie ohne Einrichtung von Schnittstellen in Ihrem Webshop verwenden können. Eine Übersicht finden Sie in der nachfolgenden Tabelle.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Übersicht über vertragsfreie Zahlungsarten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zahlungsart</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bar bei Übergabe</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Zahlungsart verwenden, um Kunden die Möglichkeit zu bieten, im Falle einer Selbstabholung die Ware bar zu bezahlen. Den Zahlungseingang anschließend manuell im System buchen. Anschließend die Zahlung einem Auftrag zubuchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barverkauf&nbsp;/ EC-Karte</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Zahlungsart <strong>Barverkauf / EC-Karte</strong> wird z.B. für das plentymarkets Kassensystem im stationären Ladengeschäft genutzt, damit Kunden bar oder mit EC-Karte zahlen können. Zahlungseingänge werden über ein EC-Terminal oder das plentymarkets POS an das Backend übermittelt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kreditkarte</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Käufer hinterlegt seine Kreditkartendaten beim Verkäufer, z.B. im Webshop. Nach Eingang des Betrags wird die Ware verschickt.<br>
<strong><em>Wichtig</em></strong>: Für die Zahlungsart <strong>Kreditkarte (manuelle Abwicklung)</strong> ist aus Datenschutzgründen keine Abwicklung in einem plentymarkets Webshop vorgesehen. Im Webshop eine andere Zahlungsart oder eine für die Kunden individuell abgestimmte Lösung verwenden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lastschrift</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Verkäufer erhält die Bankdaten des Käufers und die Erlaubnis, fällige Beträge vom Konto des Käufers einzuziehen. Die Zahlungsart global anbieten oder gezielt nur <strong><a href="/crm/kundendaten-verwalten#800">für einzelne Kunden erlauben</a></strong>.<br>
<strong><em>Wichtig</em></strong>: Kunden können Lastschriften bei ihrer Bank widerrufen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nachnahme</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Käufer bezahlt die Ware bei Erhalt. Der fällige Betrag wird vom Zusteller kassiert und quittiert.<br>
<strong><em>Wichtig</em></strong>: Bei Bestellungen per Nachnahme fallen Gebühren an.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bei dieser Zahlungsart bestellt der Kunde die Ware auf Rechnung. Die Zahlung erfolgt nach Erhalt der Ware. Der Kunde erhält zum Begleichen des fälligen Betrags ein <strong><a href="/omni-channel/online-shop/mandanten-einrichten/dokumente/rechnung">Rechnungsdokument</a></strong> mit den Bankdaten des Verkäufers. Zahlungseingänge werden <strong><a href="/auftragsabwicklung/payment/zahlungen-verwalten#30">importiert</a></strong> und anschließend Aufträgen im plentymarkets System zugeordnet. Die Zahlungsart global anbieten oder gezielt nur <strong><a href="/crm/kundendaten-verwalten#800">für einzelne Kunden erlauben</a></strong>. Weitere Informationen zu dieser Zahlungsart unter <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#55">Einstellungen für den Rechnungskauf vornehmen</a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorkasse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bei dieser Zahlungsart erhält der Käufer eine Nachricht mit den Daten zum Kauf sowie den Kontodaten des Verkäufers. Nachdem er die Ware bezahlt hat, die Zahlung ins plentymarkets System<strong><a href="/auftragsabwicklung/payment/zahlungen-verwalten#30">importieren</a></strong>. Im Anschluss erfolgt die Auslieferung. Mehr dazu, wie dem Kunden die Bankdaten zur Verfügung gestellt werden, unter <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten">Bankdaten angeben</a></strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Einstellungen für den Rechnungskauf vornehmen[#55]</p>
</div>
<div class="paragraph">
<p>In den erweiterten Einstellungen der Zahlungsart <strong>Rechnung</strong> legen Sie z.B. fest, dass Gastkunden nicht auf Rechnung bestellen können. Gehen Sie wie im Folgenden beschrieben vor, um Einstellungen für die Zahlungsart <strong>Rechnung</strong> vorzunehmen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erweiterte Einstellungen</div>
<div class="paragraph">
<p>Beachten Sie, dass für die Verwendung der erweiterten Einstellungen des Rechnungskaufs in plentymarkets folgende Bedingungen erfüllt sein müssen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verwendung des Standard-Designs Callisto (ab Version 3.5)</p>
</li>
<li>
<p>Verwendung der plentymarkets CMS-Tools (ab Version 1.0.18)</p>
</li>
<li>
<p>Nutzung des Individuellen Bestellvorgangs</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Einstellungen für den Rechnungskauf vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Rechnung</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappen Sie den Mandanten auf.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Einstellungen für die Zahlungsart <strong>Rechnung</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Grundeinstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bankdaten anzeigen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bankdaten im Bestellvorgang und in der Auftragshistorie anzeigen. Weitere Informationen dazu unter <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#40">Bankdaten im Bestellvorgang anzeigen</a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verwendungszweck anzeigen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verwendungszweck im Bestellvorgang und in der Auftragshistorie anzeigen. Weitere Informationen dazu unter <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#40">Bankdaten im Bestellvorgang anzeigen</a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Erweiterte Einstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungsadresse gleich Lieferadresse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, wenn Rechnungs- und Lieferadresse beim Kauf auf Rechnung übereinstimmen sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kauf auf Rechnung für Gastbestellungen verbieten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, um den Kauf auf Rechnung nur für angemeldete Kunden zu erlauben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mindestanzahl an Bestellungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mindestanzahl an Bestellungen eingeben, die ein Kunde mit einer anderen Zahlungsart abschließen muss, bevor der Kauf auf Rechnung verwendet werden kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximalbetrag für Kauf auf Rechnung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Betrag eingeben, der beim Kauf auf Rechnung nicht überschritten werden darf.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mindestbetrag für Kauf auf Rechnung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Betrag eingeben, der beim Kauf auf Rechnung nicht unterschritten werden darf.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">7. Versand ohne Zahlungseingang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei einigen Zahlungsarten, z.B. der Zahlung auf Rechnung, erfolgt der Versand bereits vor dem Zahlungseingang. Bei Beschränkung des <strong><a href="/warenwirtschaft/warenbestaende-verwalten">Warenbestands</a></strong> auf Netto-Warenbestand prüft das System, ob Bestand vorhanden ist, und versetzt den Auftrag je nach Bestandsverfügbarkeit in den Status 4 oder 5. Hierfür im Menü <strong><a href="/auftragsabwicklung/auftraege/_grundeinstellungen">Einstellungen » Aufträge » Grundeinstellungen</a></strong> die Einstellung <strong>Statuswechsel auf 4 statt 5, wenn Warenbestand fehlt</strong> auf <strong>JA</strong> setzen. Wenn keine Beschränkung des Warenbestands eingestellt ist, wird der Auftrag direkt zum Versand freigegeben, d.h. er wird in Status 5 versetzt.</p>
</div>
<div class="paragraph">
<p>Bei folgenden Zahlungsarten erfolgt der Versand vor dem Zahlungseingang:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Rechnung</p>
</li>
<li>
<p>Lastschrift</p>
</li>
<li>
<p>Nachnahme</p>
</li>
<li>
<p>Amazon</p>
</li>
<li>
<p>Kreditkarte (manuelle Abwicklung)</p>
</li>
<li>
<p>Coupon</p>
</li>
<li>
<p>RatePAY Rechnung</p>
</li>
<li>
<p>MeinPaket Payments</p>
</li>
<li>
<p>Hitmeister Payment</p>
</li>
<li>
<p>PAYONE Nachnahme</p>
</li>
<li>
<p>PAYONE Rechnung</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachten Sie dazu auch die Handbuchseite <strong><a href="/warenwirtschaft/warenbestaende-verwalten">Warenbestände</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">8. Marktplatz-Zahlungsarten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Marktplatz-Zahlungsarten sind Zahlungsarten, die in Verbindung mit der Einrichtung eines Marktplatzes zur Kennzeichnung von Zahlungseingängen genutzt werden. Die Zahlungsarten der Marktplätze werden in der Regel nicht vollständig eingerichtet, sondern lediglich aktiviert. Ohne eine Aktivierung kann es zu Problemen bei der Zahlungsabwicklung kommen. Wie Sie Marktplatz-Zahlungsarten aktivieren, erfahren Sie auf der jeweiligen Handbuchseite der Märkte. Eine Übersicht finden Sie in der nachfolgenden Tabelle.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Übersicht über Marktplatz-Zahlungsarten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zahlungsart</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Allyouneed Payments</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für Aufträge, die über den Marktplatz Allyouneed ins plentymarkets System kommen. Zahlungsart <strong><a href="/omni-channel/multi-channel/allyouneed#100">Allyouneed Payments</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amazon</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für Aufträge, die über den Marktplatz Amazon ins plentymarkets System kommen. Zahlungsart <strong><a href="/omni-channel/multi-channel/amazon#4500">Amazon</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amazon Payments</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart im Webshop für Kunden, die über den Marktplatz Amazon im Webshop einkaufen. Zahlungsart <strong><a href="/omni-channel/multi-channel/amazon#460">Amazon Payments</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amazon Payments Advanced</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart im Webshop für Kunden, die über den Marktplatz Amazon im Webshop einkaufen. Zahlungsart <strong><a href="/omni-channel/multi-channel/amazon#570">Amazon Payments Advanced</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Cdiscount</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für Aufträge, die über den Marktplatz Cdiscount ins plentymarkets System kommen. Zahlungsart <strong><a href="/omni-channel/multi-channel/cdiscount#90">Cdiscount</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DaWanda</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für Aufträge, die über den Marktplatz DaWanda ins plentymarkets System kommen. Zahlungsart <strong><a href="/omni-channel/multi-channel/dawanda#70">DaWanda</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay-Rechnungskauf</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für Kauf auf Rechnung bei eBay. Zahlungsart <a href="/omni-channel/multi-channel/ebay#2250"><strong>eBay-Rechnungskauf</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Flubit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für Aufträge, die über den Marktplatz Flubit ins plentymarkets System kommen. Zahlungsart <strong><a href="/omni-channel/multi-channel/flubit">Flubit</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fruugo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für Aufträge, die über den Marktplatz Fruugo ins plentymarkets System kommen. Zahlungsart <strong><a href="/omni-channel/multi-channel/fruugo#60">Fruugo</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>GartenXXL.de</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz GartenXXL.de. Zahlungsart <a href="/omni-channel/multi-channel/plus-gartenxxl#40"><strong>GartenXXL.de</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>La Redoute Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für Aufträge, die über den Marktplatz La Redoute ins plentymarkets System kommen. Zahlungsart <strong><a href="/omni-channel/multi-channel/laredoute#100">La Redoute Payment</a></strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Neckermann Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz Neckermann.at. Zahlungsart <a href="/omni-channel/multi-channel/neckermann-at#160"><strong>Neckermann.at</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Otto Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz Otto. Zahlungsart <a href="/omni-channel/multi-channel/otto#30"><strong>OTTO</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PIXmania Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz PIXmania. Zahlungsart <a href="/omni-channel/multi-channel/pixmania#80"><strong>PIXmania</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Plus.de Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz Plus.de. Zahlungsart <a href="/omni-channel/multi-channel/plus-gartenxxl#40"><strong>Plus.de Payment</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rakuten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz Rakuten. Zahlungsart <a href="/omni-channel/multi-channel/rakuten#150"><strong>Rakuten</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>real.de Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz real.de. Zahlungsart <a href="/omni-channel/multi-channel/real-de#80"><strong>real.de</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shopgate Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz Shopgate. Zahlungsart <a href="/omni-channel/multi-channel/shopgate#60"><strong>Shopgate</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yatego Rechnung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz Yatego. Zahlungsart <a href="/omni-channel/multi-channel/yatego#80"><strong>Yatego Rechnung</strong></a> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zalando Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart für den Marktplatz Zalando. Zahlungsart <a href="/omni-channel/multi-channel/zalando#80"><strong>Zalando Payment</strong></a> aktivieren.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">9. Rundungsdifferenzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Manche Zahlungsanbieter verlangen die Angabe der Artikelmenge pro Artikelposition sowie den Einzelpreis auf zwei Stellen nach dem Komma genau. Wenn auf Artikel <strong>Rabatte</strong> gewährt werden, kann dies besonders bei größeren Artikelmengen bei Artikeln mit niedrigen Preisen pro Artikelposition zu Rundungsdifferenzen zwischen der Berechnung in plentymarkets und der Berechnung des Zahlungsanbieters führen. In solchen Fällen wird beim Zahlungsanbieter der Rabatt pro Einzelpreis des Artikels berechnet und dann auf die Artikelmenge hochgerechnet, im plentymarkets System wird der Rabatt jeweils auf die Gesamtmenge des Artikels angesetzt. Die folgende Tabelle gibt Ihnen eine genaue Übersicht über die Berechnung eines Rabatts von 5 Prozent für größere Artikelmengen und zu welchen Ergebnissen bzw. Rundungsdifferenzen dies jeweils führt, wenn einmal der Rabatt pro Einzelartikel berechnet wird&nbsp;– die Berechnungsweise des Zahlungsanbieters&nbsp;– und einmal der Rabatt pro Summe des rabattierten Warenwertes angerechnet wird&nbsp;– die Berechnungsweise von plentymarkets.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Rundungsdifferenzen bei Rabatten</caption>
<colgroup>
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1112%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Menge</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einzel-<br>
preis</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Gesamt-<br>
preis</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einzelpreis abzüglich 5% Rabatt</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Rabattierter Einzelpreis, gerundet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungs-<br>
anbieter</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Gesamtpreis abzüglich 5% Rabatt</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Rabattierter Gesamtpreis, gerundet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>plentymarkets</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>10</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2,25</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>22,50</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2,25 - 0,1125 = 2,1375</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2,14</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>21,40</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>22,50 - 1,125 = 21,375</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>21,38</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>15</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>3,75</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>56,25</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>3,75 - 0,1875 = 3,5625</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>3,56</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>53,40</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>56,25 - 1,875 = 53,4375</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>53,44</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Summe:</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>74,80</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Summe:</strong><strong>74,8125</strong> (Basis für plentymarkets)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Summe:</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>74,81</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>In diesem Fall beträgt die gesamte Differenz 1 Cent. Nur der erste Artikel ergäbe eine Differenz von 2 Cent, nur der zweite Artikel eine Differenz von 4 Cent.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Transaktion verweigert</div>
<div class="paragraph">
<p>Bei solchen Differenzen, auch wenn sie gering sind, kann es vorkommen, dass der Zahlungsanbieter die Transaktion verweigert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alternative Zahlungsanbieter oder Artikelpakete anbieten</div>
<div class="paragraph">
<p>Bei derartigen Problemen können Sie alternative Zahlungsarten anbieten, bei denen dieses Problem nicht auftritt, oder ggf. anbieten, den jeweiligen Zahlungsanbieter bezüglich einer Lösung zu kontaktieren. Alternativ können Sie für Artikel, bei denen diese Rundungsdifferenz auftritt (Artikel mit niedrigem Preis) <strong><a href="/artikel/artikel-verwalten#920">Artikelpakete</a></strong> anbieten, um diesen Effekt zu vermeiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>