<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Block</h1><div class="sect1">
<h2 id="_video_tutorial">Video tutorial</h2>
<div class="sectionbody">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/135861156" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_blocks">General information about blocks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A block contains programming code and can also contain comments. For the <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#basics-compiler">compiler</a> to process programming code, this code needs to be contained in a statement block. Blocks are inserted directly into existing templates. A block can wrap one or several lines of code. The structure of both variations is described below.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_structure_of_single_line_code_blocks">Structure of single-line code blocks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A block is introduced by a left brace (<strong>{</strong>) followed by a percentage sign (<strong>%</strong>). The end of a block is defined using a percentage sign (<strong>%</strong>) followed by a right brace (<strong>}</strong>).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_foo = "hello world" &#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_structure_of_multi_line_code_blocks">Structure of multi-line code blocks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Multi-line code blocks are also wrapped by braces and percentage signs (<strong>&#123;&#37; …​ &#37;&#125;</strong>). However, a multi-line block contains more than one statement. These statements are not separated by the beginning and end of a block. Instead, the individual statements of multi-line blocks are separated by a semicolon (<strong>;</strong>). if statements are wrapped by braces (<strong>{ }</strong>).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	if($_a &gt; $_b)
	{
		print("a is greater than b");
	}
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_raw_blocks">Raw blocks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The parser does not check and translate the content of raw blocks. They are displayed in their raw format. Raw blocks need to have a start tag <strong>&#123;&#37; raw &#37;&#125;</strong> and an end tag <strong>&#123;&#37; endraw &#37;&#125;</strong>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; if $Producer &#37;&#125;
	&lt;dt&gt;Manufacturer&lt;/dt&gt;
	&lt;dd&gt;$Producer&lt;/dd&gt;
&#123;&#37; endif &#37;&#125;

{#
	Output:
 	&lt;dt&gt;Manufacturer&lt;/dt&gt;
 	&lt;dd&gt;plentymarkets&lt;/dd&gt;
#}


&#123;&#37; raw &#37;&#125;
	&#123;&#37; if $Producer &#37;&#125;
		&lt;dt&gt;Manufacturer&lt;/dt&gt;
		&lt;dd&gt;$Producer&lt;/dd&gt;
	&#123;&#37; endif &#37;&#125;
&#123;&#37; endraw &#37;&#125;

{#
	Output:
	&#123;&#37; if $Producer &#37;&#125;
		&lt;dt&gt;Manufacturer&lt;/dt&gt;
		&lt;dd&gt;$Producer&lt;/dd&gt;
	&#123;&#37; endif &#37;&#125;
#}</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_sections">Sections</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Programming code can be used in <strong>web design templates</strong>, <strong>categories</strong> and <strong>email templates</strong>. Programming code that is inserted outside of a block will not be processed but printed instead.</p>
</div>
</div>
</div>
</main>