<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Comment</h1><div class="sect1">
<h2 id="_video_tutorial">Video tutorial</h2>
<div class="sectionbody">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/137605388" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_comments">General information about comments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Comments are used to document the source code or save internal notes. Comments are not visible to outsiders. The compiler ignores comments, i.e., the HTML source code does not contain this information.</p>
</div>
<div class="paragraph">
<p>Comments can be saved separately or within a code block. The structure of both variations is described below.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_comments_in_single_line_code_blocks">Comments in single-line code blocks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A comment is introduced using a left brace (<strong>{</strong>) followed by a hash/pound sign (<strong><mark></mark></strong>). The comment can consist of one or several lines. The end of a comment is signaled using a hash/pound sign (<strong></strong>) followed by a right brace (<strong>}</strong>).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# This is a comment #}</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_comments_in_multi_line_code_blocks">Comments in multi-line code blocks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Comments can also be used within multi-line code blocks (<strong>&#123;&#37; …​ &#37;&#125;</strong>). They are introduced using hash/pound sign (<strong>#</strong>). Comments within multi-line blocks end automatically at the end of the line and do not need to end with another hash/pound sign.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_foo = "hello world"; # This is a comment

	# This is another comment
	print($_foo);
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>