<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Compiler</h1><div class="sect1">
<h2 id="_general_information_about_the_compiler">General information about the compiler</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The CMS syntax is processed by a compiler that translates the programming code into PHP programming code. The behavior of supported expressions thus corresponds to the relevant PHP expression. Additional default PHP functions will be incorporated into the CMS syntax in the future.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_publishing_templates">Publishing templates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When a template e.g. is saved in the Web design section of plentymarkets, the content is saved in the database first. The template is published after this step. By publishing, we mean that the programming code is translated to PHP programming code by the compiler and that the result is saved to the web space as a PHP class. These PHP classes are used to render content, e.g. in your online store.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_syntax_errors">Syntax errors</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The compiler identifies syntax errors and returns an error message in plentymarkets. If an error is found, the template will not be published. However, the programming code will be saved in the database. This means that you need to correct the error to fully publish a web design or an email template.</p>
</div>
</div>
</div>
</main>