<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Operators</h1><div class="sect1">
<h2 id="_arithmetic_operators">Arithmetic operators</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Do you remember elementary arithmetics from school? Arithmetic operators allow you to perform elementary arithmetics and additional calculations.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Example</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Result</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a+$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Addition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sum of$_aplus$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a-$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subtraction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Difference between$_aand$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a*$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multiplication</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Product of$_aand$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a/$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Division</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quotient of$_aand$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a%$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modulus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Remainder of$_adivided by$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a*$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Power</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_ais the base and$_bthe exponent.<br>
Thus, the result is the power of$_a.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_assignment_operators">Assignment operators</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The most basic assignment operator is "=". One might assume that it stands for "equals". However, this is not the case. Instead, this operator means that the value of the expression on the right is assigned to the operand on the left. Thus, the expression should be read as "is set to the value of".</p>
</div>
<div class="sect2">
<h3 id="_single_line_code_block">Single-line code block</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_a = 3 &#37;&#125;
&#123;&#37; $_a += 5 &#37;&#125;
{# sets $_a to the value 8 as if we had written: $_a = $_a + 5 #}

&#123;&#37; $_b = "Hello " &#37;&#125;
&#123;&#37; $_b .= "there!" &#37;&#125;
{# sets $_b to the value "Hello there!" #}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_multi_line_code_block">Multi-line code block</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_a = 3;
	$_a += 5;

	# sets $_a to the value 8 as if we had written: $_a = $_a + 5


	$_b = "Hello ";
	$_b .= "there!";

	# sets $b to the value "Hello there!"
&#37;&#125;</code></pre>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Example</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Result</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assignment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_acontains the value of$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a.=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Union</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A string is extended to include the string in$_b.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a+=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Addition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is equivalent to$_a=$_a+$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a-=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subtraction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is equivalent to$_a=$_a-$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a*=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multiplication</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is equivalent to$_a=$_a*$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a/=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Division</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is equivalent to$_a=$_a/$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a%=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modulus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is equivalent to$_a=$_a%$_b</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_relational_operators">Relational operators</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Example</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Result</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a==$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">equal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns TRUE if$_aequals$_b.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a===$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">identical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns TRUE if$_aequals$_band they are of the same type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a!=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">unequal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns TRUE if$_adoes not equal$_b.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a!==$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">not identical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns TRUE if$_adoes not equal$_bor if they are not of the same type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&lt;$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">less than</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns TRUE if$_ais less than$_b.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&gt;$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">greater than</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns TRUE if$_ais greater than$_b.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&lt;=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">less than or equal to</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns TRUE if$_ais less than or equal to$_b.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&gt;=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">greater than or equal to</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns TRUE if$_ais greater than or equal to$_b.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_logical_operators">Logical operators</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Example</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Result</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&amp;&amp;$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">and</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TRUE if both$_aand$_bare TRUE.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">or</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TRUE if at least one of the values of$_aand$_bis TRUE.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">!$_a</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>If more than one logical operator is used within a condition, &amp;&amp; operators take precedence over || operators. You can change this order by inserting brackets:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	if( ($_a==$_b || $_a==$_c) &amp;&amp; $_c != $_d )
	{

	}
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_union_operators">Union operators</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The union operator "." concatenates any number of strings, number values, variables and return values of functions to a single string.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Example</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Result</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a.$_b.$_c</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Union</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The strings$_a,$_band$_care concatenated.</p></td>
</tr>
</tbody>
</table>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_text1 = ["Hello ", "there", "!"];

	print ( $_text1[0] . $_text1[1] . $_text1[2] );
	# returns: Hello there!
&#37;&#125;

&#123;&#37;
	$_name = "there";
	$_text2 = "Hello " . $_name . ".";

	print ( $_text2 );
	# returns: Hello there.
&#37;&#125;

&#123;&#37;
	$_name = "there";
 	$_text3 = "Hello ";
 	$_text3 .= $_x3 . "!";

 	print ( $_text3 );
	# returns: Hello there!
&#37;&#125;

&#123;&#37;
	$_text4 = "Hello, " . $CustomerName;

	print ( $_text4 );
	# returns: Hallo, Marcus Doe
	# $CustomerName contains the customer name after login.
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_operator_precedence">Operator precedence</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The operator precedence determines how an operator connects two expressions. Thus, the result of the expression <em>1 + 5 * 3</em> equals <em>16</em> and not <em>18</em> because the multiplication operator (*) precedes the addition operator (+). You can use brackets to influence operator precedence. Thus, <em>(1 + 5) * 3</em> equals <em>18</em>. If operators have equal priority, associativity from left to right is used.</p>
</div>
<div class="paragraph">
<p>The following table shows the operator’s precedence. The operators are listed in descending order. The operator with the highest precedence is at the top.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Associativity</th>
<th class="tableblock halign-left valign-top">Operator</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">right</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">!</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">left</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">* / %</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">left</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">+ - .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">no direction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; &lt;= &gt; &gt;=</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">no direction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">== =! === !==</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">left</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&amp;&amp;</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">left</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">||</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">right</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">= += -= *= /= .= %=</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>