<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Template variables</h1><div class="sect1">
<h2 id="_general_information">General information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Template variables are similar to private variables. However, template variables differ in the following ways:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The first character of template variables is always a dollar sign ($) followed directly by a capital letter.</p>
</li>
<li>
<p>Template variables are predefined variables that can be used in specific templates. As soon as you insert a template variable into a template, it is automatically filled with the relevant content.</p>
</li>
<li>
<p>The content of template variables can not be overwritten or changed in any way. To manipulate the content, you need to assign it to a private variable.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_validity">Validity</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two different types of template variables:</p>
</div>
<div class="paragraph">
<p><strong>Global template variables</strong> can be used in all templates. Global template variables are only available for web design and categories. You can find these variables in the <em>Global</em> section of the template variables and functions overview.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/_cms-syntax/basics/assets/EN-CMS-syntax-Template-Variables-01.png" alt="EN CMS syntax Template Variables 01">
</div>
</div>
<div class="paragraph">
<p><strong>Template variables</strong> that are assigned to a specific template are <strong>only valid within this template</strong>. If such a template variable is used in a different template, it can either not be translated or not filled with the correct content.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/_cms-syntax/basics/assets/EN-CMS-syntax-Template-Variables-02.png" alt="EN CMS syntax Template Variables 02">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview">Overview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All available template variables are listed in this manual.</p>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Example 1. Web design</div>
<div class="content">
<div class="paragraph">
<p>List of all template variables that can be used in the templates for designing your online store.</p>
</div>
<div class="paragraph">
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design">Open Web design</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Example 2. Email</div>
<div class="content">
<div class="paragraph">
<p>These template variables can only be used in email templates.</p>
</div>
<div class="paragraph">
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#email-email">Open email</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>