<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Template functions</h1><div class="sect1">
<h2 id="_general_information">General information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The CMS syntax supports several kinds of functions. These functions can either be used globally or within specific templates.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_functions">Global Functions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section describes the functions that are used in both the web design and email templates.</p>
</div>
<div class="paragraph">
<p>Some PHP functions have been integrated into the CMS syntax. Their usage corresponds to that directly in PHP.</p>
</div>
<div class="paragraph">
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions">Open PHP functions</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_web_design">Web design</h2>
<div class="sectionbody">
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Example 1. PageDesign</div>
<div class="content">
<div class="paragraph">
<p>This section primarily contains link functions that return URLs to specific sections such as categories, home page, shopping cart, etc.</p>
</div>
<div class="paragraph">
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-pagedesign">Open PageDesign</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Example 2. Navigation</div>
<div class="content">
<div class="paragraph">
<p>The functions in this section call various containers for displaying navigation menus (category navigation).</p>
</div>
<div class="paragraph">
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation">Open navigation</a></p>
</div>
</div>
</div>
</div>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Example 3. ItemView</div>
<div class="content">
<div class="paragraph">
<p>The largest number of containers and thus functions are available for displaying items (e.g. product page, search result).</p>
</div>
<div class="paragraph">
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview">Open ItemView</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Example 4. Category</div>
<div class="content">
<div class="paragraph">
<p>This section only contains a small number of functions. However, note the function Form() that is used to return forms.</p>
</div>
<div class="paragraph">
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category">Open Category</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_email_templates">email templates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some link functions are available for using in email templates.</p>
</div>
<div class="paragraph">
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#email-email">Open email</a></p>
</div>
</div>
</div>
</main>