<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einstieg Grundeinstellungen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit diesem Video bekommst du einen kurzen Überblick der Grundeinstellungen. Halte deine Unternehmensdaten im System fest, individualisiere deine Dokumente und baue deine ganz eigene E-Mail-Signatur ein.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/grundeinstellungen/unternehmensdaten-dokumente#video">Dokumente anpassen (0:27)</a></p>
<p class="tableblock"><a href="/videos/grundeinstellungen/unternehmensdaten-e-mail-signatur#video">E-Mail-Signatur einfügen (1:00)</a></p>
<p class="tableblock"><a href="/videos/grundeinstellungen/unternehmensdaten-bank-stammdaten#video">Bank- und Stammdaten eintragen (2:05)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/193888208#at=125" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Damit du mit deinen Produkten so richtig durchstarten kannst, sorgen wichtige Grundeinstellungen dafür, dass hinter den Kulissen alles perfekt läuft. Deshalb führt dich einer der wichtigsten Schritte zu den Bereichen im System, die deine Unternehmensdaten beinhalten sollten.</p>
</div>
<div class="paragraph">
<p>Als erstes werfen wir einen Blick auf die Buchhaltung! Ich zeige dir, wie du deinen Briefkopf auf deine Dokumente
bekommst. Im Bereich <strong>System » Mandant » Standard » Standorte</strong> wählst du deinen Standort und Dokumente. Die
Anpassungen sind vielfältig, du kannst mit den Standards weitermachen oder jedes Element individuell platzieren. Unter dem Reiter <strong>PDF-Vorlage</strong> lädst du eine Blanko-Vorlage mit deinem Briefkopf hoch. Unter der Vorschau siehst
du, wie deine Dokumente in deinem Design aussehen.</p>
</div>
<div class="paragraph">
<p>Deine Daten sollten natürlich auch in deinen Mails als Absender zu finden sein. Das heißt, du speicherst deine
Firmendaten in einer E-Mail-Signatur. Jetzt könntest du deine Daten in jeder einzelnen E-Mail hinterlegen. Oder
deutlich einfacher: Du machst dir auch hier wieder eine sogenannteTemplate-Variable zunutze.
Das bietet dir den Komfort, deine Daten nur noch an einer Stelle im System pflegen zu müssen.</p>
</div>
<div class="paragraph">
<p>Hinterlege in den E-Mail-Vorlagen die Variable <strong>$SignatureHTML</strong>, wenn du deine Mails im HTML-Format verschickst
oder <strong>$SignatureText</strong>, wenn du Reintext verwendest. Egal, wie du dich entscheidest: Nachdem du deinen Platzhalter in den Mails gesetzt hast, musst du noch deine Daten an der Position <strong>Signatur</strong> pflegen. Wenn du jetzt mal etwas an deinen Daten ändern möchtest, musst du das nur noch in diesem zentralen Bereich tun und die Änderungen werden
durch die Variable in jeder Mail übernommen. So einfach geht es: Deine Kunden erhalten nun nach ihrer Bestellung eine Mail mit deiner Signatur!</p>
</div>
<div class="paragraph">
<p>Zuletzt wechsle mit mir in den Bereich <strong>Einstellungen</strong>. Unter <strong>Stammdaten</strong> und <strong>Bank</strong> trägst du deine Unternehmens- und Bankdaten ein. Unterschiedliche Bereiche von plentymarkets nutzen diese Basis-Unternehmensdaten. Beispielsweise, wenn du ein Etikett für den Versand erstellen möchtest oder deinem Kunden für Überweisungen deine Bankdaten mitteilen willst.</p>
</div>
<div class="paragraph">
<p>Perfekt! Die ersten wichtigen Schritte sind erledigt! Vertiefe nun dein Wissen in unserem Schnelleinstieg und finde dein nächstes Thema für die Arbeit mit plentymarkets! Viel Spaß dabei!</p>
</div>
</div>
</div>
</main>