<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Verbindung zu plentyBase herstellen</span></a></li>
<li><a href="#200"><span>2.</span><span> Artikeletiketten über plentyWarehouse drucken</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikeletiketten drucken</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen beachten</div>
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du die plentyWarehouse App auf einem passenden Gerät installiert hast. Bitte beachte die Anforderungen an die Hardware, die auf der Handbuchseite <a href="/willkommen/schnelleinstieg/systemvoraussetzungen#450">Systemvoraussetzungen</a> beschrieben sind. Stelle außerdem sicher, dass du in der plentyWarehouse eingeloggt bist und die <a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung">notwendigen Schritte zur Ersteinrichtung</a> durchgeführt hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktueller Stand der plentyWarehouse App</div>
<div class="paragraph">
<p>Momentan befindet sich die plentyWarehouse App in der offenen Beta-Phase. Das bedeutet, dass fortlaufend Anpassungen und Fehlerbehebungen vorgenommen werden. Fragen und Probleme nehmen wir in dieser Phase gern im <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> entgegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Verbindung zu plentyBase herstellen</h2>
<div class="sectionbody">

</div>
</div><div class="sect1">
<h2 id="200">2. Artikeletiketten über plentyWarehouse drucken</h2>
<div class="sectionbody">

</div>
</div>
</main>