<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wie werden Artikel verräumt?</span></a></li>
<li><a href="#200"><span>2.</span><span> Einstellungen zum Verräumen vornehmen</span></a></li>
<li><a href="#_rechte_für_das_verräumen_vergeben"><span>Rechte für das Verräumen vergeben</span></a></li>
<li><a href="#300"><span>3.</span><span> Artikel verräumen</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Quelllagerort auswählen</span></a></li>
<li><a href="#500"><span>3.2.</span><span> Artikel auswählen</span></a></li>
<li><a href="#600"><span>3.3.</span><span> Artikel verräumen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel verräumen</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen beachten</div>
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du die plentyWarehouse App auf einem passenden Gerät installiert hast. Bitte beachte die Anforderungen an die Hardware, die auf der Handbuchseite <a href="/willkommen/schnelleinstieg/systemvoraussetzungen#450">Systemvoraussetzungen</a> beschrieben sind. Stelle außerdem sicher, dass du in der plentyWarehouse eingeloggt bist und die <a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung">notwendigen Schritte zur Ersteinrichtung</a> durchgeführt hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktueller Stand der plentyWarehouse App</div>
<div class="paragraph">
<p>Momentan befindet sich die plentyWarehouse App in der offenen Beta-Phase. Das bedeutet, dass fortlaufend Anpassungen und Fehlerbehebungen vorgenommen werden. Fragen und Probleme nehmen wir in dieser Phase gern im <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> entgegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die plentyWarehouse App beinhaltet die Funktion Verräumen. Einzelheiten dazu findest du auf dieser Handbuchseite. Zunächst folgt eine kurze Beschreibung der Funktion zum besseren Verständnis. Danach werden die <a href="/app/funktionen/lagerverwaltung/verräumen#200">Einstellungen</a> beschrieben, die einmalig im Voraus vorgenommen werden müssen. Diese Einstellungen greifen dann später, wenn du Artikel verräumst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wie werden Artikel verräumt?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Klappe die Box unten auf, um mehr über den Ablauf des Verräumens zu erfahren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ablauf beim Verräumen von Artikeln</div>
<div class="content">
<div class="paragraph">
<p>Anfangs befinden sich alle Artikel am gleichen Platz. Beispielsweise können Kassenkräfte retournierte Artikel in eine Kiste hinter der Theke ablegen. Oder vielleicht werden Artikel aus Wareneingängen immer auf denselben Platz im Lager gestellt, um später auf die permanenten Lagerorte geräumt zu werden.</p>
</div>
<div class="paragraph">
<p>Sobald das Lagerpersonal bereit ist, die Artikel ins Regal zu räumen, wird die--- plentyWarehouse App geöffnet. Zuerst wird angegeben, wo die Artikel sich befinden, also aus welchem Lagerort heraus die Artikel verräumt werden sollen.</p>
</div>
<div class="paragraph">
<p>Daraufhin wird eine Übersicht aller Artikel angezeigt, die sich an diesem Lagerort befinden. Mitarbeiter:innen wählen den ersten Artikel aus und wählen in der App aus, an welchem neuen Lagerort der Artikel platziert werden soll.</p>
</div>
<div class="paragraph">
<p>plentyWarehouse wechselt automatisch zurück zur Übersicht aller noch ausstehenden Artikel. Das Lagerpersonal durchläuft den Prozess so lange, bis alle Artikel verräumt wurden oder das Verräumen manuell abgebrochen wird.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Einstellungen zum Verräumen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Funktion zum Verräumen in plentyWarehouse lässt sich mithilfe einiger grundlegenden Einstellungen auf deine Bedürfnisse und Arbeitsabläufe anpassen.</p>
</div>
<div class="paragraph">
<p>So kannst du beispielsweise bestimmen, wie Artikel erfasst werden und welche Ziellagerorte zur Verfügung stehen sollen.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen zum Verräumen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung#300">Logge dich in plentyWarehouse ein</a>.</p>
</li>
<li>
<p>Tippe auf das Menüsymbol (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) oben links.</p>
</li>
<li>
<p>Tippe unten auf <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Einstellungsmenü öffnet sich.</p>
</li>
<li>
<p>Tippe auf <strong>Verräumen</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_reshelving.png" alt="icon reshelving" width="14" height="14"></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen für das Verräumen vor. Beachte dazu die Erläuterungen in <a href="#table-pw-reshelving-settings">Tabelle 1</a>.</p>
</li>
</ol>
</div>
<table id="table-pw-reshelving-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen zum Verräumen in plentyWarehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Allgemeine Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtmenge vorschlagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob die Gesamtmenge der Variante für das Verräumen vorgeschlagen werden soll.<br>
<strong>Aktiviert</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Der gesamte Bestand am Lagerort wird automatisch eingefügt.<br>
<strong>Deaktiviert</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = Es wird keine Menge vorgeschlagen. Die Menge muss manuell eingegeben werden.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einzelerfassung bis Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du Artikel mit einem Scanner erfasst, kannst du mit dieser Einstellung bestimmen, ab wie vielen gescannten Exemplaren einer Variante automatisch die vorhandene Gesamtmenge in das Mengenfeld eingetragen wird.<br>
<strong><em>Beispiel:</em></strong> Wenn du die Zahl <strong>5</strong> ins Mengenfeld eingibst, wird nach dem fünften Scannen der Variante automatisch die Gesamtmenge eingetragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto-Warenbestand anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Option, um während des Verräumens pro Artikel den jeweiligen <a href="/glossar#netto-warenbestand">Netto-Warenbestand</a> anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Quelllagerort</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortsuchfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende die Umschaltflächen, um festzulegen, welche Kriterien während des Verräumens zur Suche nach Lagerorten genutzt werden sollen.<br>
<strong>Aktiviert</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Es wird möglich sein, Lagerorte anhand dieses Kriteriums zu suchen.<br>
<strong><em>Tipp:</em></strong> Tippe und halte (<span class="icon "><i class="material-drag_handle"></i></span>) für jedes aktivierte Suchkriterium, um die Reihenfolge der angezeigten Suchfelder anzupassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Lagerortsuchfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wirst du typischerweise den <a href="#400">Quelllagerort angeben</a>, indem du seinen Barcode scannst oder indem du den Lagerort nach seinem Namen suchst und dann aus einer Liste wählst? Falls du den Barcode scannen möchtest, kann diese Einstellung deine Arbeit beschleunigen.<br>
<strong>Kein Feld</strong> = Der Mauszeiger wird in keinem Feld platziert. Natürlich ist es später trotzdem möglich, den Mauszeiger manuell in einem Feld zu platzieren.
<strong>Barcode</strong> = Dein Mauszeiger beginnt automatisch in dem Barcodefeld, wenn du Artikel verräumst. Du kannst den Quelllagerort direkt scannen.<br>
<strong>Lagerortname</strong> = Dein Mauszeiger beginnt im Eingabefeld für den Lagerortnamen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl zu ladender Lagerorte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus, wie viele Suchergebnisse du auf einmal sehen möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quelllager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll bei jedem Verräumen ein bestimmtes Lager als Quelllager vorausgewählt werden? Dann wähle das entsprechende Lager aus.<br>
<strong>Kein Feld</strong> = Es wird kein Quelllager vorausgewählt.<br>
<strong><em>Hinweis:</em></strong> Diese Einstellung greift nur in Verbindung mit der Einstellung <a href="#option-purpose"><strong>Zweck</strong></a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="option-purpose">Zweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wo befinden sich deine Artikel, bevor sie verräumt werden? Tippe auf die gewünschten <a href="/warenwirtschaft/lager-verwalten#intable-zweck">Lagerort-Zwecke</a>, um sie beim Verräumen ein- oder auszuschließen.<br>
<strong><em>Beispiel:</em></strong> Wähle die Lagerort-Zwecke <strong>Wareneingang</strong> und <strong>Retoure</strong>, wenn du sowohl Lieferungen neuen als auch von retournierten Artikeln schnell verräumen möchtest.<br>
<strong><em>Nutzung:</em></strong> Wenn du später Artikel verräumst, werden dir nur die Lagerorte als Quelllagerort vorgeschlagen, die diese Kriterien erfüllen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Artikelsuche</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelsuchfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende die Umschaltflächen, um festzulegen, welche Kriterien während des Verräumens zur Suche nach Artikeln genutzt werden sollen.<br>
<strong>Aktiviert</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Es wird möglich sein, Artikel anhand dieses Kriteriums zu suchen.<br>
<strong><em>Tipp:</em></strong> Tippe und halte (<span class="icon "><i class="material-drag_handle"></i></span>) für jedes aktivierte Suchkriterium, um die Reihenfolge der angezeigten Suchfelder anzupassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Artikelsuchfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchst du Artikel typischerweise anhand eines bestimmten Kriteriums? Tippe auf dein am häufigsten verwendetes Kriterium. Wenn du später während des Verräumens nach Artikeln suchst, wird dein Mauszeiger automatisch in diesem Feld beginnen. Natürlich ist es weiterhin möglich, den Mauszeiger manuell in einem anderen Suchfeld zu platzieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl zu ladender Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus, wie viele Suchergebnisse du auf einmal sehen möchtest, wenn du während des Verräumens nach Artikeln suchst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Ziellagerort</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort-Scan verpflichtend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende diese Option, um festzulegen, welche Regeln für das Erfassen von Zielllagerorten für das Verräumen gelten sollen.<br>
<strong>Aktiviert</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Alle Zielllagerorte <em>müssen</em> über ihr Etikett gescannt werden, um für das Verräumen erfasst zu werden. Eine manuelle Auswahl von Lagerorten über die Suche ist nicht möglich.<br>
<strong>Deaktiviert</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = Lagerorte können entweder per Scan oder per manueller Auswahl erfasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortvorschlagsliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wohin möchtest du deine Artikel verräumen? Verwende die Umschaltflächen, um bestimmte Sorten von Lagerorten ein- oder auszuschließen.<br>
<strong>Verwendete Lagerorte</strong> = Lagerorte, in denen eine Variante bereits gelagert ist.<br>
<strong>Lagerortvorschläge</strong> = Lagerorte, die <a href="/warenwirtschaft/wareneingaenge-verwalten#200">mit einer Variante verknüpft</a> sind.<br>
<strong>Leere Lagerorte</strong> = Alle vorhandenen Lagerorte.<br>
<strong><em>Hinweis:</em></strong> Je nach Anzahl der Lagerorte kann die Einstellung <strong>Leere Lagerorte</strong> das Verräumen stark verlangsamen. Verknüpfe daher Varianten mit Lagerorten und aktiviere leere Lagerorte nur im Ausnahmefall.<br>
<strong><em>Nutzung:</em></strong> Wenn du später Artikel verräumst, werden dir nur die Lagerorte als Ziellagerort vorgeschlagen, die diese Kriterien erfüllen. Willst du einen Lagerort verwenden, der <em>nicht vorgeschlagen</em> wird, musst du den Lagerort scannen anstatt ihn aus der Vorschlagsliste in der App zu wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mithilfe dieser Option kannst du Lagerorte mit bestimmten <a href="/warenwirtschaft/lager-verwalten#intable-zweck">Zwecken</a> von den vorgeschlagenen Ziellagerorten ausschließen.<br>
<strong><em>Beispiel:</em></strong> Deaktiviere (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) den Zweck <strong>Wareneingang</strong>, damit Artikel nicht fälschlicherweise an Lagerorte mit diesem Zweck verräumt werden und beim Buchen von Wareneingängen in die Quere kommen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_rechte_für_das_verräumen_vergeben">Rechte für das Verräumen vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor das Verräumen mit plentyWarehouse durchgeführt wird, muss sichergestellt sein, dass alle Benutzer:innen über die entsprechenden Berechtigungen verfügen. Nur so können die Artikel korrekt verräumt werden und die Bestandsänderungen im plentymarkets Backend gespeichert werden.</p>
</div>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Artikel in plentyWarehouse verräumen können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel &gt; Artikel &gt; Variante &gt; Lagerdaten &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Warenbestände &gt; Lager &gt; Lagerort &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Artikel verräumen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe nun wie unten beschrieben vor, um Artikel mit plentyWarehouse zu verräumen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Stehen Artikel bereit?</div>
<div class="paragraph">
<p>Artikel können nur mit plentyWarehouse verräumt werden, wenn sie sich am richtigen Lagerort befinden. Sind zur Zeit keine Artikel am ausgewählten Lagerort vorhanden, werden auch keine Artikel zum Verräumen angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="400">3.1. Quelllagerort auswählen</h3>
<div class="paragraph">
<p>Wähle zuerst den Lagerort aus, dessen Artikel verräumt werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Quelllagerort auswählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung#300">Logge dich in plentyWarehouse ein</a>.</p>
</li>
<li>
<p>Tippe auf das Menüsymbol (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) oben links.<br>
(<span class="icon "><i class="fa fa-map-signs  "></i></span>)<strong><em>Oder:</em></strong>: Finde die Kachel zum <strong>Verräumen</strong> im Bereich <strong>Funktionen</strong> auf dem Dashboard.</p>
</li>
<li>
<p>Tippe auf <strong>Verräumen</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_reshelving.png" alt="icon reshelving" width="14" height="14"></span>).</p>
</li>
<li>
<p>Suche nach dem Lagerort, der verräumt werden soll. Gib dazu den Namen des Lagerorts ein oder scanne den Barcode des Lagerort-Labels.<br>
<strong><em>Optional:</em></strong> Tippe auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Suchergebnisse zusätzlich nach dem <strong>Zweck</strong> des Lagerorts zu filtern.</p>
</li>
<li>
<p>Tippe auf <strong>Suchen</strong> (<span class="icon darkGrey"><i class="fa fa-search  "></i></span>).<br>
→ Die gefundenen Lagerorte werden angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. Artikel auswählen</h3>
<div class="paragraph">
<p>Nachdem du einen <a href="#400">Quelllagerort ausgewählt hast</a>, zeigt plentyWarehouse dir automatisch eine Auflistung aller Artikel, die sich an diesem Lagerort befinden.
plentymarkets erstellt automatisch eine Auflistung aller Artikel, die sich aktuell an diesem Lagerort befinden. Dabei werden gleiche Artikel gruppiert. Müssen beispielsweise zwei Exemplare eines Artikels zurück ins Regal, können Mitarbeiter:innen die Artikelmenge direkt beim Verräumen angeben.</p>
</div>
<div class="paragraph">
<p>Die Liste enthält wichtige Informationen zu den Artikeln, die verräumt werden sollen. Mitarbeiter:innen sehen zum Beispiel die Artikel-ID und wie der Artikel heißt. Du kannst im Voraus selbst bestimmen, welche Informationen in der Liste angezeigt werden sollen. Richte dazu eine <a href="/app/funktionen/lagerverwaltung/verräumen#200">Vorlage</a> ein.</p>
</div>
<div class="paragraph instruction">
<p>Mit der Artikelliste arbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Schaue auf die Liste, um herauszufinden, welche Artikel verräumt werden müssen.</p>
</li>
<li>
<p>Entscheide, welchen Artikel du als erstes verräumen möchtest.</p>
</li>
<li>
<p>Scanne den Barcode des Artikels oder tippe in der App auf den Artikel.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">3.3. Artikel verräumen</h3>
<div class="paragraph">
<p>Wohin willst du die Artikel verräumen? plentyWarehouse zeigt dir eine Auflistung aller vorgeschlagenen Ziellagerorte. Scanne ganz einfach den Barcode eines Lagerorts oder tippe in der App auf einen Lagerort.</p>
</div>
<div class="paragraph instruction">
<p>Artikel verräumen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Stelle den Artikel am passenden Ort ins Regal.</p>
</li>
<li>
<p>Scanne den Barcode dieses Lagerorts oder tippe in plentyWarehouse auf diesen Lagerort.<br>
→ Im Hintergrund ändert plentymarkets den Lagerort des Artikels. In deinem plentymarkets System wird automatisch eine <a href="/warenwirtschaft/warenbestaende-verwalten#1100">Warenbewegung</a> angelegt.<br>
→ Müssen noch weitere Artikel vom Quelllagerort verräumt werden, wechselt der Bildschirm zurück zur Artikelliste und du kannst mit dem nächsten Artikel fortfahren.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Exemplare eines Artikels</div>
<div class="paragraph">
<p>Gleiche Artikel werden in plentyWarehouse gruppiert. Müssen beispielsweise zwei Exemplare eines Artikels verräumt werden, kannst du die Artikelmenge direkt beim Verräumen angeben. Scanne dazu den Artikel mehrmals. Beim Scannen erhöht sich die Anzahl automatisch um eins. Tippe alternativ auf <strong>Menge</strong> und gib die Anzahl manuell ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>