<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Einstellungen zur Umbuchung vornehmen</span></a></li>
<li><a href="#200"><span>2.</span><span> Artikel umbuchen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel umbuchen</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen beachten</div>
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du die plentyWarehouse App auf einem passenden Gerät installiert hast. Bitte beachte die Anforderungen an die Hardware, die auf der Handbuchseite <a href="/willkommen/schnelleinstieg/systemvoraussetzungen#450">Systemvoraussetzungen</a> beschrieben sind. Stelle außerdem sicher, dass du in der plentyWarehouse eingeloggt bist und die <a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung">notwendigen Schritte zur Ersteinrichtung</a> durchgeführt hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktueller Stand der plentyWarehouse App</div>
<div class="paragraph">
<p>Momentan befindet sich die plentyWarehouse App in der offenen Beta-Phase. Das bedeutet, dass fortlaufend Anpassungen und Fehlerbehebungen vorgenommen werden. Fragen und Probleme nehmen wir in dieser Phase gern im <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> entgegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Artikel kannst du nicht nur <a href="/warenwirtschaft/umbuchungen-vornehmen">im plentymarkets Backend</a>, sondern auch mit der plentyWarehouse App umbuchen. plentyWarehouse ermöglicht es dir, mit deinem mobilen Gerät direkt im Lager Artikel zu erfassen, Quell- und Ziellagerorte auszuwählen und somit im Handumdrehen Artikel umzubuchen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Einstellungen zur Umbuchung vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Umbuchung in plentyWarehouse lässt sich mithilfe einiger grundlegenden Einstellungen auf deine Bedürfnisse und Arbeitsabläufe anpassen.</p>
</div>
<div class="paragraph">
<p>So kannst du beispielsweise bestimmen, welche Lagerorte für die Umbuchung vorgeschlagen werden sollen oder welche Suchfelder in welcher Reihenfolge zur Verfügung stehen sollen.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen zur Umbuchung vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung#300">Logge dich in plentyWarehouse ein</a>.</p>
</li>
<li>
<p>Tippe auf das Menüsymbol (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) oben links.</p>
</li>
<li>
<p>Tippe unten auf <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Einstellungsmenü öffnet sich.</p>
</li>
<li>
<p>Tippe auf <strong>Umbuchung</strong> (<span class="icon "><i class="material-sync_alt"></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen für die Umbuchung vor. Beachte dazu die Erläuterungen in <a href="#table-pw-redistribution-settings">Tabelle 1</a>.</p>
</li>
</ol>
</div>
<table id="table-pw-redistribution-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen zur Umbuchung in plentyWarehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Allgemeine Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtmenge vorschlagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob die Gesamtmenge der Variante für die Umbuchung vorgeschlagen werden soll.<br>
<strong>Aktiviert</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Der gesamte Bestand am Lagerort wird automatisch eingefügt.<br>
<strong>Nicht aktiviert</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = Es wird keine Menge vorgeschlagen. Die Menge muss manuell eingegeben werden.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schnelles Umbuchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Option, um die Auswahl des Quelllagerorts zu überspringen. Somit wird der Umbuchungsprozess beschleunigt.<br>
<strong><em>Hinweis:</em></strong> Aktiviere die Option nur, wenn es in deinem Lager nur einen möglichen Quelllagerort gibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einzelerfassung bis Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du Artikel mit einem Scanner erfasst, kannst du mit dieser Einstellung bestimmen, ab wie vielen gescannten Exemplaren einer Variante automatisch die vorhandene Gesamtmenge in das Mengenfeld eingetragen wird.<br>
<strong><em>Beispiel:</em></strong> Wenn du die Zahl <strong>5</strong> ins Mengenfeld eingibst, wird nach dem fünften Scannen der Variante automatisch die Gesamtmenge eingetragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Artikelsuche</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelsuchfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende die Umschaltflächen, um festzulegen, welche Kriterien während der Umbuchung zur Suche nach Artikeln genutzt werden sollen.<br>
<strong>Aktiviert</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Es wird möglich sein, Artikel anhand dieses Kriteriums zu suchen.<br>
<strong><em>Tipp:</em></strong> Tippe und halte (<span class="icon "><i class="material-drag_handle"></i></span>) für jedes aktivierte Suchkriterium, um die Reihenfolge der angezeigten Suchfelder anzupassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Artikelsuchfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tippe auf das Suchfeld, in das der Cursor beim Öffnen des Menüs automatisch springen soll. Wenn du kein Suchfeld wählst, musst du bei der Suche erst in ein Feld tippen, bevor du den Suchwert eingeben kannst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Lagerort</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortsuchfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende die Umschaltflächen, um festzulegen, welche Kriterien während der Umbuchung zur Suche nach Lagerorten genutzt werden sollen.<br>
<strong>Aktiviert</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Es wird möglich sein, Lagerorte anhand dieses Kriteriums zu suchen.<br>
<strong><em>Tipp:</em></strong> Tippe und halte (<span class="icon "><i class="material-drag_handle"></i></span>) für jedes aktivierte Suchkriterium, um die Reihenfolge der angezeigten Suchfelder anzupassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Lagerortsuchfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wirst du typischerweise den Quelllagerort angeben, indem du seinen Barcode scannst oder indem du den Lagerort nach seinem Namen suchst und dann aus einer Liste wählst? Falls du den Barcode scannen möchtest, kann diese Einstellung deine Arbeit beschleunigen.<br>
<strong>Kein Feld</strong> = Der Mauszeiger wird in keinem Feld platziert. Natürlich ist es später trotzdem möglich, den Mauszeiger manuell in einem Feld zu platzieren.<br>
<strong>Barcode</strong> = Dein Mauszeiger beginnt automatisch in dem Barcodefeld, wenn du Artikel verräumst. Du kannst den Quelllagerort direkt scannen.<br>
<strong>Lagerortname</strong> = Dein Mauszeiger beginnt im Eingabefeld für den Lagerortnamen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortvorschlagsliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, welche Lagerorte als Ziellagerorte vorgeschlagen werden.<br>
<strong><em>Tipp:</em></strong> Tippe und halte (<span class="icon "><i class="material-drag_handle"></i></span>) für jedes aktivierte Kriterium, um die Reihenfolge der angezeigten Lagerortvorschläge anzupassen.<br>
<strong>Lagerortvorschlag</strong> = Zeigt die Lagerorte an, die mit der Variante verknüpft sind.<br>
<strong>Verwendete Lagerorte</strong> = Zeigt die Lagerorte an, in denen die Variante bereits lagert.<br>
<strong>Leere Lagerorte</strong> = Zeigt alle vorhandenen leeren Lagerorte an.<br>
<strong><em>Hinweis:</em></strong> Je nach Anzahl der Lagerorte kann die Einstellung <strong>Leere Lagerorte</strong> das Umbuchen stark verlangsamen. Verknüpfe daher Varianten mit Lagerorten und aktiviere die Option <strong>Leere Lagerorte</strong> nur im Ausnahmefall.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort-Scan verpflichtend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende diese Option, um festzulegen, welche Regeln für das Erfassen von Artikeln für die Umbuchung gelten sollen.<br>
<strong>Aktiviert</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Alle Artikel <em>müssen</em> über ihr Etikett gescannt werden, um für die Umbuchung erfasst zu werden. Eine manuelle Auswahl von Artikeln über die Suche ist nicht möglich.<br>
<strong>Deaktiviert</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = Artikel können entweder per Scan oder per manueller Auswahl hinzugefügt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mithilfe dieser Option kannst du Lagerorte mit bestimmten <a href="/warenwirtschaft/lager-verwalten#intable-zweck">Zwecken</a> von den vorgeschlagenen Ziellagerorten ausschließen.<br>
<strong><em>Beispiel:</em></strong> Deaktiviere (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) den Zweck <strong>Retoure</strong>, damit retournierte Artikel nicht fälschlicherweise an Lagerorte mit diesem Zweck umgebucht werden und fälschlicherweise mit retournierten Artikeln vermischt werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Artikel umbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe nun wie unten beschrieben vor, um Artikel mit plentyWarehouse umzubuchen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Labels für Lagerorte verwenden</div>
<div class="paragraph">
<p>Die Funktion <strong>Umbuchung</strong> ist am einfachsten nutzbar, wenn du pro Lagerort ein Label erstellst und am passenden Lagerort anbringst. So kannst du den Barcode auf dem Label mit deinem Gerät scannen und in plentyWarehouse umkompliziert die passenden Lagerorte für die Umbuchung erfassen.
Du hast noch keine Labels für Lagerorte erstellt? Die passende Anleitung findest du auf der Handbuchseite <a href="/warenwirtschaft/lager-einrichten#800">Lager einrichten</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Artikel umbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung#300">Logge dich in plentyWarehouse ein</a>.</p>
</li>
<li>
<p>Tippe auf das Menüsymbol (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) oben links.<br>
(<span class="icon "><i class="fa fa-map-signs  "></i></span>)<strong><em>Oder:</em></strong>: Finde die Kachel zur <strong>Umbuchung</strong> im Bereich <strong>Funktionen</strong> auf dem Dashboard.</p>
</li>
<li>
<p>Tippe auf <strong>Umbuchung</strong> (<span class="icon "><i class="material-sync_alt"></i></span>).</p>
</li>
<li>
<p>Gib ein Suchkriterium ein.</p>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Tippe auf <span class="icon darkGrey"><i class="fa fa-undo  "></i></span>, um deine Eingabe bei Bedarf zurückzusetzen.</p>
</div>
</li>
<li>
<p>Tippe auf <strong>Suchen</strong> (<span class="icon darkGrey"><i class="fa fa-search  "></i></span>).<br>
→ Die gefundenen Varianten werden angezeigt.</p>
</li>
<li>
<p>Tippe auf die Variante, die umgebucht werden soll.<br>
<strong><em>Tipp:</em></strong> Bei eindeutigem Suchergebnis wird die Variante automatisch geöffnet.<br></p>
</li>
<li>
<p>Tippe auf den Lagerort der Variante.<br>
→ Der Quellagerort der Variante, ein Mengenfeld und eine Liste von Ziellagerorten wird angezeigt.</p>
</li>
<li>
<p>Bearbeite die Menge, die umgebucht werden soll.<br>
<strong><em>Tipp:</em></strong> Wenn du einen Scanner verwendest, scanne stattdessen das Artikeletikett mehrmals, um die Menge zu erhöhen.</p>
</li>
<li>
<p>Tippe auf den Ziellagerort, in den der Bestand umgebucht werden soll.<br>
<strong><em>Tipp:</em></strong> Wenn du gelabelte Lagerorte hast, scanne stattdessen das Label des Lagerorts. Dazu bei Bluetooth-Scannern vorher in das Feld <strong>Barcode</strong> tippen.<br>
→ Der Bestand wird umgebucht.</p>
</li>
</ol>
</div>
</div>
</div>
</main>