<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> plentyWarehouse mit plentyBase verbinden</span></a></li>
<li><a href="#200"><span>2.</span><span> Druck von Etiketten vorbereiten</span></a></li>
<li><a href="#300"><span>3.</span><span> Etiketten drucken</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Etiketten drucken</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen beachten</div>
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du die plentyWarehouse App auf einem passenden Gerät installiert hast. Bitte beachte die Anforderungen an die Hardware, die auf der Handbuchseite <a href="/willkommen/schnelleinstieg/systemvoraussetzungen#450">Systemvoraussetzungen</a> beschrieben sind. Stelle außerdem sicher, dass du in der plentyWarehouse eingeloggt bist und die <a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung">notwendigen Schritte zur Ersteinrichtung</a> durchgeführt hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktueller Stand der plentyWarehouse App</div>
<div class="paragraph">
<p>Momentan befindet sich die plentyWarehouse App in der offenen Beta-Phase. Das bedeutet, dass fortlaufend Anpassungen und Fehlerbehebungen vorgenommen werden. Fragen und Probleme nehmen wir in dieser Phase gern im <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> entgegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Für bestimmte Aufgaben im Lager sollten deine Artikel und Lagerorte mit Etiketten ausgestattet sein. Diese Etiketten enthalten einen Barcode, in dem alle wichtigen Daten gespeichert sind. Über den Handscanner kann das Lagerpersonal während der <a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren">Inventur</a>, der <a href="/warenwirtschaft/plentywarehouse/artikel-umbuchen">Umbuchung</a> und beim <a href="/warenwirtschaft/plentywarehouse/artikel-verraeumen">Verräumen</a> Artikel und Lagerorte zeitsparend und fehlerfrei identifzieren.</p>
</div>
<div class="paragraph">
<p>plentyWarehouse macht es dir einfach, alle deine Artikel und Lagerorte im Lager mit Etiketten zu versehen. Du kannst Artikeletiketten jederzeit ganz bequem aus der App heraus drucken.</p>
</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite findest du alle Informationen zu den notwendigen vorbereitenden Einstellungen und zum Druck von Etiketten über plentyWarehouse.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Voraussetzung: plentyBase</div>
<div class="paragraph">
<p>Um Etiketten über plentyWarehouse zu drucken, muss auf deinem Arbeitsrechner plentyBase installiert sein. plentyBase ist erforderlich, um die Kommunikation zwischen plentyWarehouse und deinem Etikettendrucker herzustellen. Auf der Handbuchseite <a href="/automatisierung/prozesse/plentybase-installieren">plentyBase installieren</a> findest du alle weiteren Informationen sowie eine allgemeine Installationsanleitung für das Tool.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. plentyWarehouse mit plentyBase verbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyWarehouse muss mit dem Drucker kommunizieren den du für den Druck der Etiketten verwenden möchtest. Um diese Kommunikation sicherzustellen, ist es notwendig, plentyWarehouse einmalig mit dem Tool plentyBase zu verbinden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erforderliche Einstellung für plentyBase</div>
<div class="paragraph">
<p>In den Konfigurationseinstellungen von plentyBase muss die Option <strong>HTTP-Port</strong> aktiviert und ein HTTP-Port eingegeben sein. Wenn die Einstellung <strong>HTTPS-Port</strong> genutzt wird, kann die Verbindung zu plentyWarehouse nicht hergestellt werden. In diesem Fall wird in plentyWarehouse eine entsprechende Fehlermeldung angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>plentyWarehouse mit plentyBase verbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung#300">Logge dich in plentyWarehouse ein</a>.</p>
</li>
<li>
<p>Tippe auf das Menüsymbol (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) oben links.</p>
</li>
<li>
<p>Tippe unten auf <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Einstellungsmenü öffnet sich.</p>
</li>
<li>
<p>Tippe auf <strong>plentyBase</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_plentybase.png" alt="icon plentybase" width="14" height="14"></span>).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du hast nun zwei Möglichkeiten, um plentyWarehouse mit plentyBase zu verbinden. Du kannst einen QR-Code im plentymarkets Backend scannen, um die Verbindung automatisch herzustellen oder die erforderlichen Daten manuell eingeben.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="qr-code-scannen-tab" data-toggle="tab" href="#qr-code-scannen" role="tab" aria-controls="qr-code-scannen" aria-selected="true">QR-Code scannen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="verbindungsdaten-manuell-eingeben-tab" data-toggle="tab" href="#verbindungsdaten-manuell-eingeben" role="tab" aria-controls="verbindungsdaten-manuell-eingeben" aria-selected="false">Verbindungsdaten manuell eingeben</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="qr-code-scannen" role="tabpanel" aria-labelledby="qr-code-scannen-tab">
<div class="paragraph">
<p>Wir empfehlen folgende Vorgehensweise, um die erforderlichen Verbindungsdaten komfortabel und fehlerfrei in plentyWarehouse zu erfassen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe auf die drei Punkte am oberen rechten Bildschirmrand.</p>
</li>
<li>
<p>Tippe auf <strong>Importieren</strong> und folge dann den weiteren Anweisungen auf dem Bildschirm.</p>
</li>
<li>
<p>Scanne den QR-Code im Bereich <strong>Einstellungen in plentyWarehouse importieren</strong> im Menü <strong>plentymarkets Logo (Start) » plentyBase » Einstellungen</strong> im plentymarkets Backend.<br>
→ Die Verbindung zu plentyBase wird hergestellt.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="verbindungsdaten-manuell-eingeben" role="tabpanel" aria-labelledby="verbindungsdaten-manuell-eingeben-tab">
<div class="paragraph">
<p>Tippe in die Felder und gib die erforderlichen Daten ein. Beachte dazu die Informationen in <a href="#table-pw-plentybase-connection">Tabelle 1</a>.</p>
</div>
<table id="table-pw-plentybase-connection" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Erforderliche Verbindungsdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die IP-Adresse des Rechners, auf dem plentyBase installiert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den HTTP-Port ein, der plentyBase auf dem Rechner zugeordnet wurde. Standardmäßig ist der Port <strong>7331</strong> angegeben. Klicke auf das plentyBase Symbol in der Taskleiste des Rechners und dann auf <strong>Konfiguration öffnen</strong>, um den HTTP-Port anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Access Token ein, der in plentyBase für den Rechner gespeichert ist.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="200">2. Druck von Etiketten vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zusätzlich zur <a href="#100">Verbindung zwischen der plentyWarehouse App und plentyBase</a> solltest du vor dem Etikettendruck mit plentyWarehouse sicherstellen, dass du alle notwendigen Einstellungen in deinem plentymarkets System vorgenommen hast.</p>
</div>
<div class="paragraph">
<p>Die folgende Checkliste hilft dir, den Überblick über die einzelnen Arbeitsschritte zu behalten. Nutze die Links zu anderen Handbuchseiten, um bei Bedarf weitere Informationen und Anleitungen zu erhalten.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du einen geeigneten <a href="/automatisierung/prozesse/drucker#50">Etikettendrucker</a> mit plentyBase verbunden?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du für diesen Etikettendrucker eine passende <a href="/automatisierung/prozesse/drucker#10">Konfiguration</a> erstellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Sind deinen Artikeln <a href="/artikel/einstellungen/barcodes#300">Barcodes zugeordnet</a>?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du eine <a href="/artikel/einstellungen/barcodes#800">Vorlage für Artikeletiketten</a> erstellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du eine <a href="/warenwirtschaft/lager-einrichten#800">Vorlage für Lagerort-Labels</a> erstellt?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Etiketten drucken</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast plentyWarehouse mithilfe von plentyBase mit deinem Etikettendrucker verbunden und mithilfe der Checkliste oben alle notwendigen <a href="#200">vorbereitenden Einstellungen in deinem plentymarkets System</a> vorgenommen?</p>
</div>
<div class="paragraph">
<p>Nun suchst du in plentyWarehouse nur noch den passenden Artikel oder Lagerort heraus, um die entsprechenden Etiketten zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Etiketten drucken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/warenwirtschaft/plentywarehouse/installation-und-ersteinrichtung#300">Logge dich in plentyWarehouse ein</a>.</p>
</li>
<li>
<p>Suche nach einem <a href="/warenwirtschaft/plentywarehouse/artikel-und-lagerorte#300">Artikel</a> oder einem <a href="/warenwirtschaft/plentywarehouse/artikel-und-lagerorte#400">Lagerort</a>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Scanne das Etikett eines Artikels oder Lagerorts, den du gerade vor dir hast. So kannst du auf dem schnellsten Weg passende Etiketten nachdrucken, falls benötigt.</p>
</li>
<li>
<p>Tippe in der Liste der Suchergebnisse auf den gewünschten Artikel oder Lagerort.<br>
→ Eine Ansicht mit Details zum Artikel bzw. zum Lagerort öffnet sich.</p>
</li>
<li>
<p>Tippe auf <span class="icon "><i class="material-print"></i></span>.<br>
→ Die Ansicht <strong>Drucken</strong> öffnet sich.</p>
</li>
<li>
<p>Gib im Feld <strong>Menge</strong> an, wie viele Etiketten gedruckt werden sollen.</p>
</li>
<li>
<p>Wähle in der oberen Dropdown-Liste die gewünschte Vorlage für das Etikett aus.</p>
</li>
<li>
<p>Tippe auf <strong>Drucken</strong>.<br>
→ Die Etiketten werden gedruckt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>