<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#730"><span>1.</span><span> Old online store: Creating item templates in Callisto</span></a></li>
<li><a href="#740"><span>2.</span><span> Old online store: Linking an item template with an item in Callisto</span></a></li>
<li><a href="#750"><span>3.</span><span> Linking an item template with multiple items</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item templates in Callisto</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Item templates can be used to create differing description texts for various categories of items in the online store.</p>
</div>
<div class="paragraph">
<p>Let’s assume you sell fashion and accessories. You would like a note to appear in the detailed view of each fashion item, reminding the customer to select a colour. However, you do not want this note to be shown for accessories. To put this into practice without having to add the note to the description of each <strong>fashion</strong> item individually, create a new category of the type <strong>Content</strong> that contains the information you want to display. The content consists of the template variable <strong>$Description</strong> as well as your note. The template variable <strong>$Description</strong> is important, because without it only the additional text will be displayed. Then you link the items with the new category. In the online store, the item description will then be displayed together with the additional text of the item template.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/EN-Item-Item-Templates-01.png" alt="Inserting the template variable and the additional text">
</div>
<div class="title">Figure 1. Inserting the template variable and the additional text</div>
</div>
</div>
</div><div class="sect1">
<h2 id="730">1. Old online store: Creating item templates in Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to attach the additional text to item descriptions, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Creating a category with an additional text:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on <strong>New category</strong>.<br>
→ The <strong>Create new category</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the category.</p>
</li>
<li>
<p>Select <strong>Subcategory</strong> as the category level.<br>
→ The category levels can now be selected.</p>
</li>
<li>
<p>Select a main category for the new category.</p>
</li>
<li>
<p>Click on <strong>Create</strong> to create the category.<br>
→ The category is created and displayed as a subcategory in the directory tree on the left.</p>
</li>
<li>
<p>Click on this category’s <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Select the type <strong>Content</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab and enter the template variable <strong>$Description</strong> and the <strong>additional text</strong> (image 1).</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Instead of the template variable <strong>$Description</strong>, the actual item description will be displayed in the <strong>description</strong> area in the online store. This was entered into the <strong>Item text</strong> field in the item’s <strong>Texts</strong> tab. The additional text entered into the item template will be attached to this description.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only use valid template variables and template functions</div>
<div class="paragraph">
<p>Only use the <strong>variables and functions</strong> valid for a template. In the category, click on <strong>Template variables and template functions</strong> to display the variables and functions sorted by templates. Only copy the variables and functions from the item view section, for example <strong>ItemViewSingleItem</strong> to create the item templates.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="740">2. Old online store: Linking an item template with an item in Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have created the item template, link the template with the item.</p>
</div>
<div class="paragraph instruction">
<p>Linking the item template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Texts</strong> tab.</p>
</li>
<li>
<p>Use the <strong>Item template</strong> option to select the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="750">3. Linking an item template with multiple items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Instead of linking the item template to an item, use the group function to link an item template with multiple items at the same time.</p>
</div>
<div class="paragraph instruction">
<p>Linking an item template with multiple items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select the <strong>filters</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All items found is displayed in the overview.</p>
</li>
<li>
<p>Click on <strong>Select all</strong> in the header of the item overview.</p>
</li>
<li>
<p>Click on <strong>Item group function</strong>.</p>
</li>
<li>
<p>In the <strong>Global</strong> area, activate the option <strong>Item template</strong>.</p>
</li>
<li>
<p>Click on <strong>Assign category</strong> to select the item template.</p>
</li>
<li>
<p>Click on <strong>Execute</strong>.<br>
→ The item template is linked with all items.</p>
</li>
</ol>
</div>
</div>
</div>
</main>