<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Search bar</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>1.1.</span><span> Assembling the search field with widgets</span></a></li>
<li><a href="#70"><span>1.2.</span><span> Which item data should be considered?</span></a></li>
</ul>
</li>
<li><a href="#80"><span>2.</span><span> Faceted search</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Creating a facet</span></a></li>
<li><a href="#110"><span>2.2.</span><span> Editing a facet</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>2.2.1.</span><span> Carrying out the facet settings</span></a></li>
<li><a href="#130"><span>2.2.2.</span><span> Saving the facet name in an additional language</span></a></li>
</ul>
</li>
<li><a href="#140"><span>2.3.</span><span> Linking facets to values</span></a>
<ul class="sectlevel3">
<li><a href="#150"><span>2.3.1.</span><span> Creating a value</span></a></li>
<li><a href="#160"><span>2.3.2.</span><span> Linking a value</span></a></li>
</ul>
</li>
<li><a href="#170"><span>2.4.</span><span> Linking facets to images</span></a>
<ul class="sectlevel3">
<li><a href="#180"><span>2.4.1.</span><span> Uploading an image</span></a></li>
<li><a href="#190"><span>2.4.2.</span><span> Linking an image</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.5.</span><span> Linking facets to clients</span></a></li>
<li><a href="#300"><span>2.6.</span><span> Using the faceted search in Ceres</span></a>
<ul class="sectlevel3">
<li><a href="#310"><span>2.6.1.</span><span> Ceres: Activating fields for the search</span></a></li>
<li><a href="#320"><span>2.6.2.</span><span> Ceres: Changing languages</span></a></li>
<li><a href="#330"><span>2.6.3.</span><span> Ceres: Adding the facetted search</span></a></li>
</ul>
</li>
<li><a href="#210"><span>2.7.</span><span> Using the faceted search in Callisto</span></a>
<ul class="sectlevel3">
<li><a href="#270"><span>2.7.1.</span><span> Using the faceted search in Callisto</span></a>
<ul class="sectlevel4">
<li><a href="#280"><span>Callisto + Faceted search: Activating fields for the search</span></a></li>
<li><a href="#_callisto_faceted_search_changing_languages"><span>Callisto + Faceted search: Changing languages</span></a></li>
</ul>
</li>
<li><a href="#290"><span>2.7.2.</span><span> Adding the faceted search to Callisto</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Search function in the online store</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Do customers have trouble finding items in your online store?
Customise the front end item search and help your customers find the products they’re looking for.</p>
</div>
<div class="paragraph">
<p>This page provides information about two different types of searches: the <a href="#50">search bar</a> and the <a href="#80">faceted search</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. Search bar</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Customise the front end search bar to meet your needs!
You can decide what the search bar should look like in your online store and which results it should deliver.
For example, you can decide:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>which <a href="#60">type of search results</a> your customers should see.</p>
<div class="ulist">
<ul>
<li>
<p>Items that match the search term.</p>
</li>
<li>
<p>Categories that match the search term.</p>
</li>
</ul>
</div>
</li>
<li>
<p>whether customers should see a list of <a href="#60">suggested search terms</a> when they enter vague or misspelled text. "Did you mean…​"?</p>
</li>
<li>
<p><a href="#70">which item data</a> the search term should correspond to, in order for the item to be included in the list of results.</p>
<div class="ulist">
<ul>
<li>
<p>Item name, description, keywords, etc.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/search-results.png" alt="search results">
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Customisable item search for Ceres 5</div>
<div class="paragraph">
<p>It’s possible to customise the front end item search for your <a href="https://marketplace.plentymarkets.com/en/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> store.
Lower versions of Ceres do not support this function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Partial words can also be used!</div>
<div class="paragraph">
<p>It’s no big deal if your customer only enters part of a word.
The search suggestions give results for prefixes, suffixes and partial words.
For example, the word "Couch" is suggested even if the customer enters "Couc" or "uch".</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="60">1.1. Assembling the search field with widgets</h3>
<div class="paragraph">
<p>You can assemble your own custom search field with the help of <a href="/en/online-store">three ShopBuilder widgets</a>.
The widgets contain additional settings, which you can configure, e.g. to highlight search terms or display the entire category path.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/three-widgets.png" alt="three widgets">
</div>
</div>
</div>
<div class="sect2">
<h3 id="70">1.2. Which item data should be considered?</h3>
<div class="paragraph">
<p>You can decide <em>which item data</em> is relevant to the search function.
During a search, only the item data that you selected will be queried.</p>
</div>
<div class="paragraph">
<p>You can also decide <em>how heavily weighted</em> each piece of item data should be.
The higher the number entered, the higher the item data field will be prioritised in the search result.</p>
</div>
<div class="paragraph instruction">
<p>Choosing and prioritising item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Search settings</strong>.</p>
</li>
<li>
<p>Activate the item data fields (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) that should be included in the search results and search suggestions.</p>
</li>
<li>
<p>If needed, enter a value into the <strong>Boost</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Which boost value should I enter?</div>
<div class="paragraph">
<p>You can enter any number as a boost value.
The default settings are appropriate in most cases.
These default settings prioritise the variation ID and the item ID.
So if someone searches for a number in your store, then the search results will give priority to these ID fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s the difference between search results and search suggestions?</div>
<div class="ulist">
<ul>
<li>
<p>Search results are the items or categories that match the search term.</p>
</li>
<li>
<p>Search suggestions are similar words to whatever terms the customer entered.
Search suggestions help customers find what they’re looking for, even if they enter vague or misspelled text.
"Did you mean…​"?</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: If you activate an item data field for the search suggestions on the right, then the field will automatically be activated for the search results on the left too. Why? Otherwise you would be suggesting customers to use a search term that doesn’t deliver any results.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">2. Faceted search</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Facets are filter options that are used to make search results in the online store more precise based on specific criteria, i.e. facets. The faceted search has the advantage that search results are not necessarily limited by the selected criteria. Rather, the criteria are always searched for in the entire database. In other words, the search process is intuitive and search results do not have to be faked if customers select criteria that are not helpful.</p>
</div>
<div class="paragraph">
<p>The filter navigation is very flexible. Facets are not only used to find which items in a category have a specific characteristic. Rather, they are also used to narrow down the item search by the following criteria:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>By attributes, characteristics and properties</p>
</li>
<li>
<p>By the manufacturer</p>
</li>
<li>
<p>By the item availability</p>
</li>
<li>
<p>By price segments</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In plentymarkets, these four facet types are combined with other values to determine the filter results. The more facets and values that you use, the more comprehensive the filters shown in the online store will be.</p>
</div>
<div class="paragraph">
<p>This function is configured in several different steps.
First, you’ll <a href="#100">create facets</a> and then you’ll <a href="#110">customise their settings</a>. Finally, you’ll <a href="#140">link the facets to values</a>.
You’ll also need to configure a few settings specifically for your <a href="#300">Ceres</a> or <a href="#210">Callisto</a> store.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do you have a "Ceres" or a "Callisto" store?</div>
<div class="paragraph">
<p>The faceted search is automatically activated for newer Ceres stores.
It needs to be manually activated for older Callisto stores.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking items to facets</div>
<div class="paragraph">
<p>You do not have to directly link items to the individual facets. Rather, items are automatically assigned to facets. This is done by <a href="/en/item/frontend-item-search#140">linking facets with values</a> that are then saved in the item data record.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="100">2.1. Creating a facet</h3>
<div class="paragraph">
<p>First, you need to create facets, e.g. the facet "Colour" with the type <strong>Attribute/characteristic</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a facet:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the facet in the system’s language. This name is shown in the online store.</p>
</li>
<li>
<p>Select a <strong>type</strong> from the drop-down list. Note <a href="#table-available-facet-types">Table 1</a>.</p>
</li>
<li>
<p>Enter the <strong>position</strong> where the facet should be shown in the online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet is created.</p>
</li>
</ol>
</div>
<table id="table-available-facet-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Available facet types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Facet type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets of the type <strong>Price</strong> do not have to be linked to values. Rather, customers can filter from the smallest to the largest price within a category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute/characteristic</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets of the type <strong>Attribute/characteristic</strong> are linked to the attributes, characteristics and properties in your system. They are used to create diverse filters, e.g. colours, sizes etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets of the type <strong>Availability</strong>, e.g. “ships within 24 hours”, are linked to the <a href="/en/item/managing-items#180">availabilities</a> found under <strong>Setup » Item » Availability</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets of the type <strong>Manufacturer</strong>, e.g. “Adidas”, are linked to the <a href="/en/item/settings/manufacturers">manufacturers</a> found under <strong>Setup » Item » Manufacturers</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="110">2.2. Editing a facet</h3>
<div class="paragraph">
<p>Once you’ve created a facet, it will open and can be edited further. There are four tabs for carrying out additional settings and linking values.</p>
</div>
<div class="sect3">
<h4 id="120">2.2.1. Carrying out the facet settings</h4>
<div class="paragraph">
<p>Carry out the settings in the <strong>Settings</strong> tab as described below.</p>
</div>
<div class="paragraph instruction">
<p>Editing a facet:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-edit-facets">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-facets" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Editing facets; tab <strong>Settings</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the type that was selected when the facet was created. The type cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determines how the search results should be sorted. Depending on which option is selected, items will either be sorted by <strong>relevance</strong>, <strong>position number</strong> or alphabetically from <strong>A-Z</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates which position was selected when the facet was created. The position can be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CSS class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a CSS name. This name will be made available as a template variable in the CMS menu so that every facet can be saved as an individual class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose the selection type.<br>
<strong>Restricting</strong> = Further limits the filter with the selected value. All items will be displayed that have this value and that fulfil the criteria of any previously selected filters.<br>
<strong>Multiple</strong> = Makes it possible for multiple search results to be displayed together. For example, this option makes it possible for customers to select multiple manufacturers. The manufacturers’ items will all be displayed together.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum number of hits</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specifies the minimum number of results that a facet value needs to have in order to be displayed in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum number of facet values shown</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specifies the maximum number of facet values that will be displayed for each facet. Up to 250 facet values can be shown.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="130">2.2.2. Saving the facet name in an additional language</h4>
<div class="paragraph">
<p>While creating a facet, you saved a name for it in the system’s default language. This name is shown in the online store. If you offer additional languages, enter the names of the facet in these languages in the <strong>Name</strong> tab. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Saving the facet name in an additional language:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter a name in the language.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">2.3. Linking facets to values</h3>
<div class="paragraph">
<p>Use the <strong>Values</strong> tab to link facets to different values. For example, if you have a colour facet of the type <strong>Attribute/characteristic</strong>, then create the values e.g. white, black, red, blue, etc. and link these values with the existing item attributes, characteristics and properties in your system. To do so, proceed as described below.</p>
</div>
<div class="sect3">
<h4 id="150">2.3.1. Creating a value</h4>
<div class="paragraph instruction">
<p>Creating a value:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on the green plus sign in the lower left corner.<br>
→ The <strong>Create new value</strong> window opens.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the value in the system’s language.</p>
</li>
<li>
<p>Enter a <strong>position</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The value is created.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> In the <strong>Name</strong> tab, enter translations for the name of the value.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> In the <strong>Settings</strong> tab, enter a CSS class.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="160">2.3.2. Linking a value</h4>
<div class="paragraph">
<p>Now, link the value with the data in the system. You can link more than one back end value to each facet value. For example, if you create facets of the type <strong>Attribute/characteristic</strong>, you can group together attributes, characteristics and properties in one filter and thus display them together in the search result.</p>
</div>
<div class="paragraph instruction">
<p>Linking the facet value to the back end value:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on the value.</p>
</li>
<li>
<p>Click on the <strong>Link</strong> tab.</p>
</li>
<li>
<p>Click on the back end value.</p>
</li>
<li>
<p>In the lower left-hand corner, click on <strong>Link</strong>.<br>
→ The back end value is linked to the facet’s value.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Link additional values.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="170">2.4. Linking facets to images</h3>
<div class="paragraph">
<p>In the <strong>Images</strong> tab, you link facets and facet values with images. For example, link the manufacturers with images if you want to show manufacturer logos rather than names in your online store.</p>
</div>
<div class="sect3">
<h4 id="180">2.4.1. Uploading an image</h4>
<div class="paragraph instruction">
<p>Uploading an image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Images</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Upload files</strong>.</p>
</li>
<li>
<p>Navigate to wherever you’ve saved the image files.</p>
</li>
<li>
<p>Select the image file.<br>
→ The image file is uploaded.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="190">2.4.2. Linking an image</h4>
<div class="paragraph">
<p>Now, link the image with the data saved in the system. Each image can be linked to one value.</p>
</div>
<div class="paragraph instruction">
<p>Linking an image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Images</strong> tab.</p>
</li>
<li>
<p>Move your cursor over the image.<br>
→ At the bottom of the image, a drop-down list with values is shown.</p>
</li>
<li>
<p>In the drop-down list, click on the value.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The image is linked with this value.<br>
→ The image is shown with a red border.<br>
→ The name of the value is shown on the image.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">2.5. Linking facets to clients</h3>
<div class="paragraph">
<p>Once you’ve created facets, go to <strong>Setup » Client » Select client » Services » Facet links</strong> and link these facets to the client. Decide which facets are relevant for each client and which ones are not. Changes that you make will go into effect in real time. Proceed as described below to link facets to a client.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Facets of the type Price</div>
<div class="paragraph">
<p>Only one facet of the type Price can be linked for each client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking facets in the online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Select client » Services » Facet links</strong>.</p>
</li>
<li>
<p>In the list on the left, click on the facet you want to link to this store.</p>
</li>
<li>
<p>Click on <strong>Link facet</strong> in the lower left-hand corner.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Activate the option <strong>Make images available</strong> if you want the images that are linked to this facet to be visible in the online store.</p>
</li>
<li>
<p>Repeat this process for all remaining facets that should be linked.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet is linked in the online store.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">2.6. Using the faceted search in Ceres</h3>
<div class="paragraph">
<p>By default, Ceres uses the faceted search together with ElasticSearch. <a href="#80">Set up the faceted search</a> and then proceed as described below to use the faceted search in Ceres.</p>
</div>
<div class="sect3">
<h4 id="310">2.6.1. Ceres: Activating fields for the search</h4>
<div class="paragraph">
<p>You can decide <em>which item data</em> is relevant to the search function.
During a search, only the item data that you selected will be queried.</p>
</div>
<div class="paragraph">
<p>You can also decide <em>how heavily weighted</em> each piece of item data should be.
The higher the number entered, the higher the item data field will be prioritised in the search result.</p>
</div>
<div class="paragraph instruction">
<p>Choosing and prioritising item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Search settings</strong>.</p>
</li>
<li>
<p>Activate the item data fields (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) that should be included in the search results and search suggestions.</p>
</li>
<li>
<p>If needed, enter a value into the <strong>Boost</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Which boost value should I enter?</div>
<div class="paragraph">
<p>You can enter any number as a boost value.
The default settings are appropriate in most cases.
These default settings prioritise the variation ID and the item ID.
So if someone searches for a number in your store, then the search results will give priority to these ID fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s the difference between search results and search suggestions?</div>
<div class="ulist">
<ul>
<li>
<p>Search results are the items or categories that match the search term.</p>
</li>
<li>
<p>Search suggestions are similar words to whatever terms the customer entered.
Search suggestions help customers find what they’re looking for, even if they enter vague or misspelled text.
"Did you mean…​"?</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="320">2.6.2. Ceres: Changing languages</h4>
<div class="paragraph">
<p>You can activate the faceted search for up to three languages. The languages <strong>German</strong>, <strong>English</strong> and <strong>French</strong> are activated by default. If you run online stores in other languages, you can select different languages. To do so, proceed as described below.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Search index is completely rebuilt after any changes</div>
<div class="paragraph">
<p>If you change the language settings, the search index is completely rebuilt. That means that all items are added to the index again from scratch. Depending on how many items you have, this process can take several days.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Changing a language:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Languages</strong>.</p>
</li>
<li>
<p>Deactivate a language you do not need.</p>
</li>
<li>
<p>Activate a language.<br>
<strong><em>Note:</em></strong> Only three languages can be activated per system.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The items are added to the search index for the activated languages.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="330">2.6.3. Ceres: Adding the facetted search</h4>
<div class="paragraph">
<p>For further information about setting up the faceted search in Ceres, refer to the <a href="/en/online-store/setting-up-ceres#330">Setting up Ceres</a> page of the manual.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="210">2.7. Using the faceted search in Callisto</h3>
<div class="paragraph">
<p>In the old design Callisto, different search methods can be used for the front end search. Which type of search is used depends on which settings you selected in the menu <strong>Setup » Client » Select client » Online store » Item search</strong>. The following options are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Default search</strong><br>
If you choose the option <strong>Default search</strong>, then the <a href="/en/item/use-cases/search-behaviour#200">back end item search index</a> will be used when customers search for items in the front end.</p>
</li>
<li>
<p><strong>Findologic</strong><br>
→ For further information about setting up the item search using Findologic, refer to the <a href="/en/online-store/online-store/extras/findologic">Findologic</a> page of the manual.</p>
</li>
<li>
<p><strong>Faceted search</strong><br>
→ For further information about setting up the faceted search, refer to the chapter <a href="/en/item/frontend-item-search#270">Using the faceted search in Callisto</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="270">2.7.1. Using the faceted search in Callisto</h4>
<div class="paragraph">
<p>The new faceted search is based on ElasticSearch. You can use the faceted search by opening the menu <strong>Setup » Client » Select client » Online store » Item search</strong> and activating the option <strong>Faceted search</strong>. <a href="#80">Set up the faceted search</a>. Then proceed as described below to use the faceted search in Callisto.</p>
</div>
<div class="sect4">
<h5 id="280">Callisto + Faceted search: Activating fields for the search</h5>
<div class="paragraph">
<p>You can decide <em>which item data</em> is relevant to the search function.
During a search, only the item data that you selected will be queried.</p>
</div>
<div class="paragraph">
<p>You can also decide <em>how heavily weighted</em> each piece of item data should be.
The higher the number entered, the higher the item data field will be prioritised in the search result.</p>
</div>
<div class="paragraph instruction">
<p>Choosing and prioritising item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Search settings</strong>.</p>
</li>
<li>
<p>Activate the item data fields (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) that should be included in the search results and search suggestions.</p>
</li>
<li>
<p>If needed, enter a value into the <strong>Boost</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Which boost value should I enter?</div>
<div class="paragraph">
<p>You can enter any number as a boost value.
The default settings are appropriate in most cases.
These default settings prioritise the variation ID and the item ID.
So if someone searches for a number in your store, then the search results will give priority to these ID fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s the difference between search results and search suggestions?</div>
<div class="ulist">
<ul>
<li>
<p>Search results are the items or categories that match the search term.</p>
</li>
<li>
<p>Search suggestions are similar words to whatever terms the customer entered.
Search suggestions help customers find what they’re looking for, even if they enter vague or misspelled text.
"Did you mean…​"?</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect4">
<h5 id="_callisto_faceted_search_changing_languages">Callisto + Faceted search: Changing languages</h5>
<div class="paragraph">
<p>You can activate the faceted search for up to three languages. The languages <strong>German</strong>, <strong>English</strong> and <strong>French</strong> are activated by default. If you run online stores in other languages, you can select different languages. To do so, proceed as described below.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Search index is completely rebuilt after any changes</div>
<div class="paragraph">
<p>If you change the language settings, the search index is completely rebuilt. That means that all items are added to the index again from scratch. Depending on how many items you have, this process can take several days.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Changing the languages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Languages</strong>.</p>
</li>
<li>
<p>Deactivate a language you do not need.</p>
</li>
<li>
<p>Activate a language.<br>
<strong><em>Note:</em></strong> Only three languages can be activated per system.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The items are added to the search index for the activated languages.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect3">
<h4 id="290">2.7.2. Adding the faceted search to Callisto</h4>
<div class="paragraph">
<p>In the old design Callisto, the faceted search is activated in the <strong>NavigationFacetsList</strong> template. The template <strong>NavigationFacetsList</strong> is part of the design Callisto Light. This template includes code that you can use to create a faceted search. Of course, this code can be modified as needed. Use the template function <a href="/en/online-store/online-store/cms-syntax#web-design-navigation-container-navigationfacetslist">Container_NavigationFacetsList</a> to insert the template <strong>NavigationFacetsList</strong> into the desired area of the online store. To do so, proceed as described below.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Recommended templates</div>
<div class="paragraph">
<p>We recommend using the template function <strong>Container_NavigationFacetsList</strong> in <strong>ItemViewCategoriesList</strong> and <strong>ItemViewSearchResultsList</strong>. These templates are found in the menu <strong>CMS » Web design » Folder: Layout » Folder: ItemView</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding the faceted search to Callisto:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Open the desired template.</p>
</li>
<li>
<p>Insert the template function <strong>Container_NavigationFacetsList</strong> into the template to display the faceted search.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Repeat the steps above if you want to insert the template function into additional templates.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>