<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#assign-rights"><span>1.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#create-company"><span>2.</span><span> Creating a company</span></a></li>
<li><a href="#search-company"><span>3.</span><span> Searching for a company</span></a>
<ul class="sectlevel2">
<li><a href="#save-current-filter"><span>3.1.</span><span> Saving the current filters</span></a></li>
<li><a href="#apply-saved-filters"><span>3.2.</span><span> Applying saved filters</span></a></li>
</ul>
</li>
<li><a href="#configure-columns"><span>4.</span><span> Configuring columns</span></a>
<ul class="sectlevel2">
<li><a href="#columns-company-overview"><span>4.1.</span><span> Company overview</span></a></li>
<li><a href="#columns-linked-contacts"><span>4.2.</span><span> Linked contacts in the company data record</span></a></li>
</ul>
</li>
<li><a href="#edit-company"><span>5.</span><span> Editing a company</span></a></li>
<li><a href="#link-company-with-contact"><span>6.</span><span> Linking company and contact</span></a></li>
<li><a href="#remove-link-company-contact"><span>7.</span><span> Removing the link between company and contact</span></a></li>
<li><a href="#delete-company"><span>8.</span><span> Deleting a company</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Companies</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page of the manual you will learn everything about how to manage companies in plentymarkets. You manage companies in the <strong>CRM » Companies</strong> menu. You can, among others, <a href="#create-company">create</a>, <a href="#search-company">search</a> and <a href="#edit-company">edit</a> companies and <a href="#link-company-with-contact">link contacts with the company</a>.</p>
</div>
<div class="paragraph">
<p>The <strong>CRM » Companies</strong> menu is structured as follows:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/company-ui-menu-structure.png" alt="company ui menu structure" width="640" height="360">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong>: Here you can navigate through different parts of the menu. The currently selected area (blue font) is displayed in the main window on the right. If you open several companies at once, they will be displayed underneath each other. Click on <span class="icon "><i class="fa fa-bars  "></i></span> to expand or collapse the navigation bar.</p>
</li>
<li>
<p><strong>Toolbar</strong>: Here you can <a href="#search-company">search</a> for companies, <a href="#configure-columns">adjust the columns in the overview</a>, set the results to be shown per page and click through the pages with the companies.</p>
</li>
<li>
<p><strong>Main window</strong>: Here you can see whichever area is currently open.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Overview</strong>: When you start a search, you’ll see the results in an overview. The overview provides information about the companies found at a glance. For example, you can see the number of linked contacts and the terms of payment that you saved, such as early payment discount and percentage for early payment discount.</p>
</li>
<li>
<p><strong>Detail view</strong>: When you open a company, its details are displayed in the main window on the right. The detail view of a company is divided into the areas <strong>Details</strong>, <strong>Linked contacts</strong> and <strong>Supplier details</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="assign-rights">1. Assigning rights for back end users</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Back end</strong> type users <a href="/en/business-decisions/user-accounts-access#105">can only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to work with the company UI, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Company &gt; Update</strong></p>
</li>
<li>
<p><strong>CRM &gt; Company &gt; Show</strong></p>
</li>
<li>
<p><strong>CRM &gt; Company &gt; Create</strong></p>
</li>
<li>
<p><strong>CRM &gt; Company &gt; Delete</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Tip: How to grant rights</div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admin</strong> users can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Select a user.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="create-company">2. Creating a company</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The user interface to create a new company allows a high degree of flexibility for positioning content and data. This works by intuitively positioning areas for content and elements on the dashboard via drag-and-drop. Each area and each element can be further edited by clicking on <span class="icon "><i class="psicon-design_inline_edit"></i></span> in the top right of the company data record. <a href="#table-functions-editing-mode">Table 1</a> contains an overview on the functions available in the editing mode of company data record.</p>
</div>
<table id="table-functions-editing-mode" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Available settings in the editing mode</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Element</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Symbol</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-design_inline_edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the company data record for editing.<br>
You can move the components to a different place with drag-and-drop and adjust the size of the components.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Undo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-reply  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Undoes the last change, unless this change has already been saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Redo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-share  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the previously undone change.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default view</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This area displays the view that is currently opened. Click on <span class="icon darkGrey"><i class="fa fa-sort-down  "></i></span> to switch to another view or to create a new view.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Restoring the previously saved state</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-reset"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the company data record to the state that was last saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves the changes made to the company data record. By doing so, you can save as many different views as you like.<br>
When you want to manually create a company data record the next time, you can open your preferred view via the drop-down list in the top right and start creating a new company. Also via this drop-down list, you can create a new preset by clicking on <span class="icon "><i class="fa fa-plus  "></i></span> <strong>Create new preset</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="fa fa-ellipsis-v  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on this symbol between the components to add or remove columns and lines or to reduce or enlarge the column sizes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="fa fa-pencil  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When you edit the component, you can see in the <strong>Elements</strong> area on the right side which elements have not been used yet and are therefore still available. Elements that are already in use are disabled and cannot be used a second time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-trash"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes the component.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Close</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Closes the editing mode. If you have not saved the changes yet, a security inquiry appears.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Proceed as described below to create a new company.</p>
</div>
<div class="paragraph instruction">
<p>Creating a company:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Companies</strong>.</p>
</li>
<li>
<p>Click on the left side on <span class="icon "><i class="fa fa-plus  "></i></span> <strong>Add new company</strong>.</p>
</li>
<li>
<p>Enter the data or select the options from the drop-down lists. Note <a href="#table-create-company">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-company" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a company</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>*</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the name of the company? Name is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the VAT number of the company?<br>
The VAT number needs to be specified if you are sending items to a commercial customers in another country within the EU (intra-community delivery) and you want net totals to be calculated for the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valuta in days</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the time period (starting when the invoice is created) when you wish for an additional time period before the <strong>payment due date</strong> time period begins.<br>
<strong><em>Tip:</em></strong> Below this table, you can find an <a href="#example-terms-of-payment">example regarding the terms of payment</a> with valuta, payment due date, days for early payment discount and percentage for early payment discount.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment due date in days</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the payment due date in days.<br>
<strong><em>Tip:</em></strong> Below this table, you can find an <a href="#example-terms-of-payment">example regarding the terms of payment</a> with valuta, payment due date, days for early payment discount and percentage for early payment discount.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Early payment discount in days</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of days (starting when the invoice is created) in which the company can pay the pending amounts at a discounted price.<br>
<strong><em>Tip:</em></strong> Below this table, you can find an <a href="#example-terms-of-payment">example regarding the terms of payment</a> with valuta, payment due date, days for early payment discount and percentage for early payment discount.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Percentage for early payment discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the value in percent that the company may subtract if they make the payment within the time period <strong>Early payment discount</strong>.<br>
<strong><em>Tip:</em></strong> Below this table, you can find an <a href="#example-terms-of-payment">example regarding the terms of payment</a> with valuta, payment due date, days for early payment discount and percentage for early payment discount.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which owner should be assigned to the company? Select a name from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Supplier details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the currency from the drop-down list. This currency is primarily considered for the respective items and orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum order value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the minimum order value for the system currency selected above.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery time in days</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the delivery time in days.</p></td>
</tr>
</tbody>
</table>
<div id="example-terms-of-payment" class="openblock collapseBox">
<div class="title"><strong>Example:&nbsp;terms of payment with valuta, payment due date, days for early payment discount and percentage for early payment discount</strong></div>
<div class="content">
<div class="paragraph">
<p>You can use the options <strong>Valuta</strong>, <strong>Payment due date</strong>, <strong>Days for early payment discount</strong> and <strong>Percentage for early payment discount</strong> to set up the following terms of payment:</p>
</div>
<div class="paragraph">
<p>60 days valuta, 30 days net (payment due date), 10 days with a 2% early payment discount</p>
</div>
<div class="paragraph">
<p>Explanation: If the payment of an order reaches you within 10 days, the company receives a discount of 2%. The payment is late after a total of 91 days. When incoming payments are imported and assigned, they are automatically checked internally to see whether the company’s early payment discount is valid. If the early payment discount time period has expired, the order receives the status <strong>Partial payment received</strong>.<br>
The terms of payment listed above are automatically applied to the order and the <a href="/en/orders/order-documents#intable-payment-terms-documents">documents</a>. It is possible to manually adjust or enter the <a href="/en/orders/managing-orders#intable-payment-terms-order">order settings, terms of payment</a> in the order, if no values have been saved yet in the <a href="/en/crm/managing-contacts#intable-edit-contact-account-valuta">contact data record</a> and in the <a href="/en/crm/managing-contacts#intable-customer-class-payment-due-date">customer class</a>.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="search-company">3. Searching for a company</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to search for specific companies, enter a search term in the search fields or select the drop-down list settings. You can enter multiple search terms into the search fields at one time. This makes your search run quicker and be more accurate.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a company:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Companies</strong>.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> Click on <strong>Search</strong> (<span class="icon "><i class="material-search"></i></span>) to get a list of all companies.</p>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> Click on <span class="icon "><i class="material-filter_alt"></i></span> to narrow down the search results with filters.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Enter the company ID, company name or the name of the assigned owner.<br>
<strong><em>Tip:</em></strong> You can enter multiple search terms into the search fields at one time. This makes your search run quicker and be more accurate.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The companies that correspond to the search criteria entered are shown in the overview.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="save-current-filter">3.1. Saving the current filters</h3>
<div class="paragraph">
<p>When you start a search, your selected filters are displayed up top as so-called “chips”. You can save these filters to apply them again more quickly and easily in the future.</p>
</div>
<div class="paragraph instruction">
<p>Saving the current filters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Start a search.</p>
</li>
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-bookmark-o  "></i></span> <strong>Save current filter</strong>.</p>
</li>
<li>
<p>Enter a name and decide whether the filter preset should be visible for all user accounts (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>SAVE</strong>.<br>
→ The filter settings now appear under <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Use drag-and-drop to arrange the filter presets in a specific order by clicking on <strong>Move</strong> (<span class="icon "><i class="material-drag_indicator"></i></span>). Click on <span class="icon darkGrey"><i class="fa fa-trash  "></i></span> to delete a filter preset.
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="apply-saved-filters">3.2. Applying saved filters</h3>
<div class="paragraph instruction">
<p>Applying saved filters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
<li>
<p>Click on an existing filter preset.<br>
→ The search is started and the search settings are displayed up top as so-called “chips”.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="configure-columns">4. Configuring columns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Decide which columns are shown in the <a href="#columns-company-overview">company overview</a> and in the company data record in the <a href="#columns-linked-contacts">Linked contacts</a> area.</p>
</div>
<div class="sect2">
<h3 id="columns-company-overview">4.1. Company overview</h3>
<div class="paragraph">
<p>Click in the overview on the top right on <strong>Configure columns</strong> <span class="icon "><i class="material-settings"></i></span>, select the desired columns and click on <strong>Confirm</strong>. The following columns are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>VAT number</p>
</li>
<li>
<p>Valuta in days</p>
</li>
<li>
<p>Early payment discount in days</p>
</li>
<li>
<p>Percentage for early payment discount</p>
</li>
<li>
<p>Payment due date in days</p>
</li>
<li>
<p>Delivery time in days</p>
</li>
<li>
<p>Minimum order value</p>
</li>
<li>
<p>Currency</p>
</li>
<li>
<p>Owner</p>
</li>
<li>
<p>Number of linked contacts</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="columns-linked-contacts">4.2. Linked contacts in the company data record</h3>
<div class="paragraph">
<p>Click in the company data record in the <strong>Linked contacts</strong> area in the top right on <strong>Configure columns</strong> <span class="icon "><i class="material-settings"></i></span>, select the desired columns and click on <strong>Confirm</strong>. The following columns are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Form of address</p>
</li>
<li>
<p>Title</p>
</li>
<li>
<p>First name</p>
</li>
<li>
<p>Last name</p>
</li>
<li>
<p>Email private</p>
</li>
<li>
<p>Phone private</p>
</li>
<li>
<p>Mobil private</p>
</li>
<li>
<p>Email business</p>
</li>
<li>
<p>Phone business</p>
</li>
<li>
<p>Mobile business</p>
</li>
<li>
<p>Action</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following fields are activated by default: first name, last name, email private, phone private, mobile private and action (<span class="icon "><i class="material-more_vert"></i></span>).<br>
<strong><em>Note:</em></strong> By clicking on <span class="icon "><i class="material-more_vert"></i></span>, another window (<span class="icon "><i class="material-delete"></i></span> <strong>Delete contact link</strong>) opens. Via this setting, you can <a href="#remove-link-company-contact">remove the link between company and contact</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="edit-company">5. Editing a company</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit a company’s details at any time. To do so, proceed as described below.</p>
</div>
<div id="image-company-detail-view" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/company-detail-view-en.png" alt="company detail view en" width="640" height="360">
</div>
<div class="title">Figure 1. Detail view of a company data record</div>
</div>
<div class="paragraph instruction">
<p>Editing a company:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Companies</strong>.</p>
</li>
<li>
<p>Search the company that you want to edit by means of the filter settings as described in the <a href="#search-company">Searching for a company</a> chapter.<br>
→ The companies that correspond to the search criteria entered are shown.</p>
</li>
<li>
<p>Click in the line of the company.</p>
</li>
<li>
<p>Carry out the changes. Note <a href="#table-create-company">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="link-company-with-contact">6. Linking company and contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can search for a contact in the <strong>Linked contacts</strong> area of the company data record and link it with the company. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Linking company and contact:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Companies</strong>.</p>
</li>
<li>
<p>Search the company that you want to link to a contact by means of the filter settings as described in the <a href="#search-company">Searching for a company</a> chapter.<br>
→ The companies that correspond to the search criteria entered are shown.</p>
</li>
<li>
<p>Click in the line of the company.</p>
</li>
<li>
<p>Click in the <strong>Linked contacts</strong> area on <strong>Link contacts</strong> (<span class="icon "><i class="material-more_vert"></i></span>).<br>
→ A new window opens.</p>
</li>
<li>
<p>Enter the name or the ID of the contact in the <strong>Search contact</strong> field.<br>
<strong><em>Note:</em></strong> Enter at least 3 letters of the name. Your plentymarkets system then suggests contacts that have already been saved.</p>
</li>
<li>
<p>Select the contact from the list of suggestions.</p>
</li>
<li>
<p>Click on <strong>Create contact link</strong> (<span class="icon "><i class="fa fa-user-plus  "></i></span>).<br>
→ The contact is now linked with the company and is shown in the <strong>Linked contacts</strong> area.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>By clicking in the line of the contact, you will be automatically directed to the contact data record in the <strong>CRM » Contacts</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="remove-link-company-contact">7. Removing the link between company and contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can remove the link between contact and company in the <strong>Linked contacts</strong> area of the company data record. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Removing the link between company and contact:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Companies</strong>.</p>
</li>
<li>
<p>Search the company for that you want to remove the link with a contact by means of the filter settings as described in the <a href="#search-company">Searching for a company</a> chapter.<br>
→ The companies that correspond to the search criteria entered are shown.</p>
</li>
<li>
<p>Click in the line of the company.</p>
</li>
<li>
<p>Click in the <strong>Linked contacts</strong> area in the line of the contact on <span class="icon "><i class="material-more_vert"></i></span>.<br>
→ A new window opens.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="material-delete"></i></span> <strong>Delete contact link</strong>.<br>
→ The link to the contact is removed and the contact is deleted from the overview in the <strong>Linked contacts</strong> area.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="delete-company">8. Deleting a company</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you don’t need a company data record any longer, you can delete it any time. The contact data records that are linked with the company will of course <em>not</em> be deleted. Only the assignment of the company to the contact and the company itself will be removed when deleting the company.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> The link to the company will also be removed in the contact data record in the <strong>CRM » Contacts</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a company:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Companies</strong>.</p>
</li>
<li>
<p>Search the company that you want to delete by means of the filter settings as described in the <a href="#search-company">Searching for a company</a> chapter.<br>
→ The companies that correspond to the search criteria entered are shown.</p>
</li>
<li>
<p>Click in the line of the company.</p>
</li>
<li>
<p>Click on the top in the toolbar on <strong>Delete</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The company is deleted and removed from the overview.</p>
</li>
</ol>
</div>
</div>
</div>
</main>