<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#preparatory-settings"><span>1.</span><span> Preparatory settings</span></a>
<ul class="sectlevel2">
<li><a href="#user-rights-back-end-user"><span>1.1.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#tags-messenger"><span>1.2.</span><span> Creating tags for the messenger</span></a></li>
</ul>
</li>
<li><a href="#create-message"><span>2.</span><span> Creating a message</span></a></li>
<li><a href="#display-messages"><span>3.</span><span> Displaying messages</span></a></li>
<li><a href="#edit-message"><span>4.</span><span> Editing a message</span></a></li>
<li><a href="#delete-message"><span>5.</span><span> Deleting a message</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Messenger</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the messenger to create notes about your contacts in the back end. These notes are only visible in your plentymarkets back end and cannot be accessed by your contacts.</p>
</div>
<div class="paragraph">
<p>On this page of the manual, you learn how to create new messages for your contact, display all notes that are available for your contact as well as edit and delete existing messages.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="preparatory-settings">1. Preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If users of the type <strong>Back end</strong> should be able to work with the messenger, you as a person with <strong>Admin</strong> access have to assign rights to those users. Moreover, you have to <a href="#tags-messenger">create tags</a> in order that these are available for the messenger.</p>
</div>
<div class="sect2">
<h3 id="user-rights-back-end-user">1.1. Assigning rights for back end users</h3>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to see and create messages in the messenger, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Message &gt; Show</strong></p>
</li>
<li>
<p><strong>CRM &gt; Message &gt; Create</strong></p>
</li>
<li>
<p><strong>Comments &gt; Show</strong></p>
</li>
<li>
<p><strong>Comments &gt; Create</strong></p>
</li>
<li>
<p><strong>Setup &gt; Property &gt; Show</strong></p>
</li>
<li>
<p><strong>Setup &gt; Property &gt; Create</strong></p>
</li>
<li>
<p><strong>Setup &gt; Tag &gt; Show</strong></p>
</li>
<li>
<p><strong>Setup &gt; Tag &gt; Create</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="tags-messenger">1.2. Creating tags for the messenger</h3>
<div class="paragraph">
<p>First, create the tags that you want to use.</p>
</div>
<div class="paragraph instruction">
<p>Creating a tag:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new tag</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Carry out the settings. Expand the info boxes below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to learn more about the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The tag is created and added to the list.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>More about the settings</strong></div>
<div class="content">
<table id="table-tag-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The tag ID is automatically assigned and cannot be changed.
It is used to uniquely identify your tags.</p>
<p class="tableblock"><strong><em>Use case</em></strong>: Tag links can be imported.
For example, while you import item and variation data, you can also directly link the appropriate tags.
This is done, e.g. by specifying the tag ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the tag.
The name is the keyword that highlights the data record.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: The name can include spaces. As such, tag names can consist of multiple words.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What background colour should the tag text have?
There are three ways to choose the colour:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter the colour’s hexadecimal value.</p>
</li>
<li>
<p>Enter the English name for one of the 16 basic colours (black, red, silver, white, etc.)</p>
</li>
<li>
<p>Click on the square on the right and click on the colour spectrum.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-availability">Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What types of data records will you link to this tag?
Select all of the appropriate availabilities (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Section</th>
<th class="tableblock halign-left valign-top">Example of use</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Board</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific task cards on boards?<br>
<strong><em>Example:</em></strong> Specify that some tasks have a high or low priority.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category Link</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific categories in the back end?<br>
<strong><em>Example:</em></strong> Specify that a category should only be used for seasonal offers.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Category tags are <em>not visible</em> to customers in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific tickets within the ticket system?<br>
<strong><em>Example:</em></strong> Specify that the ticket relates to a specific sales channel like Amazon or eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific contacts?<br>
<strong><em>Example:</em></strong> Specify the customer’s preferred method of communication.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific variations?<br>
<strong><em>Example:</em></strong> If you sell ladders, specify that some ladders were awarded a seal of approval for their safety features.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Variation tags can be made <em>visible</em> to customers in the online store.
Do so by <a href="#intable-client">selecting the appropriate client</a> further below.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags can currently be created for orders, but they cannot be linked to orders yet.
Therefore, this option is currently not in use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Messages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific messages within the messenger tool?<br>
<strong><em>Example:</em></strong> Specify that the message relates to a specific sales channel like Amazon or eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Message (billable)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you occasionally write fee-based messages in the messenger tool?
In other words, should the customer be charged for the minutes that elapsed while writing the message?</p>
<p class="tableblock">While writing a fee-based message, you’ll need to select at least one tag with this availability.
Otherwise, the message cannot be created.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-client">Client</strong><br>
(functional for plentyShop LTS 5.0 and higher)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In which plentyShops should the tag be visible to customers?
Select all of the appropriate webshops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Note</em></strong>: This option only appears if you <a href="#intable-availability">selected the availability Variation</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name DE</strong><br>
<strong>Name FR</strong><br>
<strong>Name IT</strong><br>
etc.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Translate the tag names into other languages.</p>
<p class="tableblock"><strong><em>Example of use</em></strong>: Variation tags can be made visible to customers in the online store.
If your online store is available in multiple languages, then the tag names should also appear in these languages.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tags can be edited at any time</div>
<div class="paragraph">
<p>Use the search function to find specific tags.
The optional filters can be used to limit the search results:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Enter the tag’s name in the main language of your plentymarkets system.</p>
</li>
<li>
<p><strong>Availability</strong> = Select one or more availabilities. The search results will only include tags with this availability.</p>
</li>
<li>
<p><strong>Language</strong> = Select one or more languages. The search results will only include tags that have a name saved in this language.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
If you want to create messages that should be <em>billed</em>, you have to create tags for the availability <strong>Message (billable)</strong> in the same way. You have to add these tags to the <a href="#create-message">message</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="create-message">2. Creating a message</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can save as many messages for your contacts as you like.</p>
</div>
<div class="paragraph instruction">
<p>Creating a message:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Contacts</strong>.</p>
</li>
<li>
<p>Search (<span class="icon blue"><i class="fa fa-search  "></i></span>) the contact(s) by means of the filter settings as described on the user manual page <a href="/en/crm/managing-contacts">Contacts</a> in the <a href="/en/crm/managing-contacts#200">Searching for a contact</a> chapter.<br>
→ The contacts that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Open the context menu by clicking on <strong>Action</strong> (<span class="icon "><i class="fa fa-bars  "></i></span>) or with a right click in the line of the contact and select <strong>Messenger</strong>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Click in the line of the contact and in the contact data record on the left side on <strong>Messenger</strong>.<br>
→ The <strong>Messenger</strong> area opens.</p>
</li>
<li>
<p>Click on <strong>New message</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Create the message. Note <a href="#image-messenger-new-message">Figure 1</a> and <a href="#table-new-message-messenger">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Send</strong> (<span class="icon purple"><i class="fa fa-envelope-o  "></i></span>).<br>
→ The message is created.</p>
</li>
</ol>
</div>
<div id="image-messenger-new-message" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/new-message-messenger.png" alt="Creating a new message in the messenger" width="640" height="360">
</div>
<div class="title">Figure 1. New message in the messenger</div>
</div>
<table id="table-new-message-messenger" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a new message in the messenger</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Recipient</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a recipient from the drop-down list or enter the first 3 letters of the recipient’s name to have some suggestions displayed.<br>
By default, <strong>ALL</strong> recipients as well as the own user are selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stop watch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stop watch starts counting as soon as the <strong>Messenger</strong> area opens.<br>
Click on <span class="icon "><i class="fa fa-pause-circle-o  "></i></span> to stop the stop watch or on <span class="icon "><i class="fa fa-play-circle  "></i></span> to start the watch again. Click on <span class="icon orange"><i class="fa fa-undo  "></i></span> to reset the stop watch to 0.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the title of the message. This is a mandatory input.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select tags from the drop-down list or enter the first 3 letters of the tag’s name to have some suggestions displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Whisper</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When you click on the button <strong>Whisper</strong> (<span class="icon "><i class="fa fa-eye  "></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span>), only those employees who have rights for the messenger can read the message. Your contacts are not able to see the message. Whisper mode is active if the button looks like this: <span class="icon "><i class="fa fa-eye-slash  "></i></span> <span class="icon "><i class="fa fa-toggle-on  "></i></span>.<br>
<strong><em>Note:</em></strong> If <strong>Whisper</strong> is activated (<span class="icon "><i class="fa fa-eye-slash  "></i></span> <span class="icon "><i class="fa fa-toggle-on  "></i></span>), the field <strong>Minutes</strong> and the button <strong>Billable</strong> are deactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Message</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the text, insert text via the clipboard and format the text using the functions in the toolbar. This is a mandatory input.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attach files</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon "><i class="fa fa-paperclip  "></i></span> to upload as many file attachments to the message as you like.<br>
The following file types can be sent as an attachment:<br>
bmp, csv, gif, jpeg, json, pdf, png, tiff, txt, zip.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minutes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the minutes in the field that you want to save for a certain task or unit. You can also bill these minutes later.<br>
If you want to bill the minutes entered here, you have to select a tag of the type <strong>Message (billable)</strong> and activate the button <span class="icon "><i class="psicon-pay_cash"></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Billable</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the button <span class="icon "><i class="psicon-pay_cash"></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span> to be able to bill the minutes that you entered in the <strong>Minutes</strong> field.<br>
<strong><em>Important:</em></strong> If you activated the button (<span class="icon "><i class="psicon-pay_cash"></i></span> <span class="icon green"><i class="fa fa-toggle-on  "></i></span>), it is necessary to save a <a href="#tags-messenger">tag</a> of the type <strong>Message (billable)</strong> at the message. These tags have to be <a href="#tags-messenger">created</a> in advance in the <strong>Setup » Settings » Tags</strong> menu. Otherwise, the message <em>cannot</em> be created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon purple"><i class="fa fa-envelope-o  "></i></span> to create the message.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="display-messages">3. Displaying messages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>From the open contact, you can display all messages in the messenger that are saved for the contact.</p>
</div>
<div class="paragraph instruction">
<p>Displaying messages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Contacts</strong>.</p>
</li>
<li>
<p>Search (<span class="icon blue"><i class="fa fa-search  "></i></span>)) the contact(s) by means of the filter settings as described on the user manual page <a href="/en/crm/managing-contacts">Contacts</a> in the <a href="/en/crm/managing-contacts#200">Searching for a contact</a> chapter.<br>
→ The contacts that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Open the context menu with a right click in the line of the contact and select <strong>Messenger</strong>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Click in the line of the contact and in the contact data record on the left side on <strong>Messenger</strong>.<br>
→ All messages that are saved for the contact are displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can display individual messages by clicking on the message itself. Use the sorting function to sort the messages by date in ascending or descending order.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="edit-message">4. Editing a message</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit messages at any time. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Editing a message:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Contacts</strong>.</p>
</li>
<li>
<p>Search (<span class="icon blue"><i class="fa fa-search  "></i></span>) the contact by means of the filter settings as described in the <a href="/en/crm/managing-contacts#200">Searching for a contact</a> chapter.<br>
→ The contacts that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Open the context menu by clicking on <strong>Action</strong> (<span class="icon "><i class="fa fa-bars  "></i></span>) or with a right click in the line of the contact and select <strong>Messenger</strong>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Click in the line of the contact and in the contact data record on the left side on <strong>Messenger</strong>.<br>
→ The <strong>Messenger</strong> area opens and the saved messages are displayed.</p>
</li>
<li>
<p>Click on the message that you want to edit.</p>
</li>
<li>
<p>Carry out the desired changes. Pay attention to <a href="#image-messenger-edit-message">Figure 2</a> and <a href="#table-new-message-messenger">Table 1</a>.</p>
</li>
</ol>
</div>
<div id="image-messenger-edit-message" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/messenger-edit-message.png" alt="Editing a message in the messenger" width="640" height="360">
</div>
<div class="title">Figure 2. Example: Editing a message</div>
</div>
<table id="table-messenger-edit-message" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Editing a message</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Message not completed</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon "><i class="psicon-success"></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span> next to the contact ID (<span class="icon "><i class="psicon-user_my_account"></i></span>) to close the message.<br>
In the message overview, the message is displayed with a <span class="icon green"><i class="psicon-success"></i></span>. This tells other employees that this message has already been completed.<br>
Click on <span class="icon "><i class="psicon-success"></i></span> <span class="icon green"><i class="fa fa-toggle-on  "></i></span> to open the message again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon "><i class="psicon-user_my_account"></i></span> <em>Contact ID</em> to open the detail view of the contact.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change visibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon yellow"><i class="fa fa-pencil  "></i></span> to change the visibilities. You can remove recipients and add new recipients.<br>
<strong><em>Important:</em></strong> When you change the visibilities, this always affects the entire message stream. This means that when removing an employee, they have no access to the messages any longer. If you add an employee, they can see all messages in the message stream.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reply</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon "><i class="fa fa-reply  "></i></span> to reply to the message.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon red"><i class="fa fa-minus-square  "></i></span> to delete the entire message stream.<br>
<strong><em>Important:</em></strong> Upon deletion, the main message and all related messages are deleted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Edit tags</strong> (<span class="icon "><i class="fa fa-pencil  "></i></span>) directly in the message to delete existing tags or add new tags.<br>
Click on <strong>Save tags</strong> (<span class="icon "><i class="fa fa-save  "></i></span>) to save the changes.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="delete-message">5. Deleting a message</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click on <span class="icon red"><i class="fa fa-minus-square  "></i></span> in the open message to delete the entire message stream.<br>
<strong><em>Important:</em></strong> The main message and all related messages are deleted.</p>
</div>
<div class="paragraph">
<p>Before you delete the message stream irretrievably, a window is shown where you have to confirm that you want to delete the message.</p>
</div>
</div>
</div>
</main>