<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#user-rights"><span>1.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#find-data-records"><span>2.</span><span> Finding data records via the quick search</span></a></li>
<li><a href="#further-settings"><span>3.</span><span> Further settings</span></a></li>
<li><a href="#convert-guest-account"><span>4.</span><span> Converting a guest account into a contact data record</span></a></li>
<li><a href="#download-all-data"><span>5.</span><span> Downloading all data of a contact or guest order</span></a></li>
<li><a href="#anonymise-data-record"><span>6.</span><span> Anonymising a data record</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Quick search</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the quick search to get an overview of all information that is saved for a contact or an address data record of a guest order. Learn on this page of the manual how to <a href="/en/download-all-data">download all data of a contact or guest order</a> and how to <a href="/en/anonymise-data-record">anonymise data records</a> in compliance with GDPR.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Guest accounts via the plentyShop can only be found in the quick search</div>
<div class="paragraph">
<p>In order to be able to work GDPR-compliant, no contact data record is created in case of guest orders via the plentyShop. Only the address data is saved. This data that is saved in your plentymarkets system can therefore not be found in the <strong>CRM » Contacts</strong> menu. The address data of the person who ordered as a guest can only be found via the address data in the quick search.<br></p>
</div>
<div class="paragraph">
<p>Further information about converting plentyShop guest orders into regular contact data records can be found in the <a href="/en/convert-guest-account">Converting a guest account into a contact data record</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="user-rights">1. Assigning rights for back end users</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Back end</strong> type users <a href="/en/business-decisions/user-accounts-access#105">can only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to work with the quick search, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Contact &gt; Show</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Tip: How to grant rights</div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admin</strong> users can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Select a user.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph">
<p>For further information about the rights for the <strong>CRM » Contacts</strong> menu for back end users, refer to the <a href="/en/crm/managing-contacts#50">Contacts</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="find-data-records">2. Finding data records via the quick search</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to find data records via the quick search.</p>
</div>
<div class="paragraph instruction">
<p>Finding data records via the quick search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Quick search</strong>.</p>
</li>
<li>
<p>Select at least one filter. Note <a href="#table-filter-quick-search">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The data records that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the data record.<br>
→ The overview with the areas <strong>Invoice address</strong>, <strong>Master data</strong> and <strong>Info</strong> appears.</p>
</li>
<li>
<p>Click in the line <strong>Orders</strong> to display the orders.<br>
→ Click in the line of the order to directly access the order in the <strong>Orders » Edit orders</strong> menu.</p>
</li>
<li>
<p>Click in the line <strong>Addresses</strong> to display further addresses.<br>
→ Click in the line of the address to directly access the address and edit it.</p>
</li>
<li>
<p>Click in the line <strong>Messenger</strong> to display the messages.<br>
→ Click on <strong>New message</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>). The stop watch in the top right corner starts automatically once you open the message. Click on <strong>Billable</strong> <span class="icon "><i class="psicon-pay_cash"></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span> to bill the time.<br>
<strong><em>Note:</em></strong> For further information, refer to the <a href="/en/crm/messenger">Messenger</a> page.</p>
</li>
<li>
<p>Click in the line <strong>Events</strong> to add new events or to edit existing events.<br>
→ Click on <strong>Add event</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to save this time.<br>
<strong><em>Note:</em></strong> Events are only available for contact data records, <em>not</em> for guest orders.</p>
</li>
<li>
<p>Click in the line <strong>Tickets</strong> to display the tickets.<br>
→ Click in the line of the ticket to directly access the ticket in the <strong>CRM » Ticket system</strong> menu.</p>
</li>
</ol>
</div>
<table id="table-filter-quick-search" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Quick search filters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon blue"><i class="fa fa-search  "></i></span> to show the data records found that match with the search criteria.<br>
<strong><em>Note:</em></strong> At least one filter has to be selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon orange"><i class="fa fa-undo  "></i></span> to reset the filter criteria set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Each contact automatically receives a consecutive and unique ID. It doesn’t matter if the data record was saved manually or automatically. 2 contacts never have the same ID. The ID is always a real number. 00521 or ADF8354 e.g. are invalid.<br>
<strong><em>Note:</em></strong> Click on the arrows (<span class="icon "><i class="fa fa-sort  "></i></span>) next to the ID in the overview to sort the contact data records found in ascending or descending order according to their ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the first name and/or last name or the name of the account to search for the contact with this name or account name.<br>
<strong><em>Note:</em></strong> Click on the arrows (<span class="icon "><i class="fa fa-sort  "></i></span>) in the columns <strong>First name</strong> and <strong>Last name</strong> in the overview to show the contact data records found in alphabetical order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In this field, you can search for the name, address, account, customer number and eBay name.<br>
<strong><em>Note:</em></strong> In order to search for the eBay name, first enter the parameter <strong>ebay:</strong> of the eBay name that you search for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the street and/or the postcode that is saved for the contact. It is also possible to search only for parts of the street and parts of the house number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the postcode that is saved for the contact. The search is also carried out for postcodes that are saved in the address data records of the contact. It is also possible to search only for parts of the postcode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Town</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the town that is saved for the contact. The search is also carried out for towns that are saved in the address data records of the contact. It is also possible to search only for parts of the town.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the complete email address to search for the contact with this email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telephone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the telephone number to search for the contact with this number. You can also search for parts of the telephone number. Enter at least 3 numbers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more tags to only search for contacts with these tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a country to only display contacts from this country. The country is saved within the contact data.<br>
Select the setting <strong>All except Germany</strong> to only display contacts from all countries except Germany.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner to only search for contacts that are linked to this owner. The owner has to be saved in the contact data record.<br>
<strong><em>Important:</em></strong> Only owners for whom the <strong>Customer</strong> option has been activated in the <strong>Owner</strong> tab can be selected from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type to only search for contacts with this type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the customer class to only search for contacts with this class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the rating to only search for contacts with this rating. 5 yellow stars are the best rating, 5 red stars are the worst rating.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client to only display contacts that correspond to this client. The client is saved within the contact data record.<br>
<strong><em>Important:</em></strong> Back end users can only select those clients that they have a right to access. Go to <strong>Setup » Settings » User » Accounts</strong> and set the rights in the user account in the <a href="/en/business-decisions/user-accounts-access#90">Rights</a> tab.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
As soon as you open a data record in the <strong>CRM » Quick search</strong> menu, the stop watch in the top right corner starts counting automatically. Click on <strong>Stop</strong> (<span class="icon "><i class="fa fa-pause-circle-o  "></i></span>) to stop the stop watch from counting. Click on <strong>Start</strong> (<span class="icon "><i class="fa fa-play-circle  "></i></span>) to continue counting the time. Click on <strong>Reset</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>) to set the time to 0.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="further-settings">3. Further settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you open a data record in the quick search, you see further possible settings in the first line of the data record. These settings are explained in <a href="#table-settings-quick-search">Table 2</a>.</p>
</div>
<table id="table-settings-quick-search" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings in the quick search</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact ID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the contact data record in the <strong>CRM » Contacts</strong> menu.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>Orders » Edit orders</strong> menu. The ID of the contact is automatically selected as filter.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus-square  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a new order in the <strong>Orders » Edit orders</strong> menu.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offers</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the menu <strong>Orders » Edit orders</strong>. The ID of the contact is automatically selected as filter.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New offer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus-square  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a new offer in the <strong>Orders » Edit orders</strong> menu.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Messenger</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>Messenger</strong> area.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New message</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus-square  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a new message.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tickets</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>CRM » Ticket system</strong> menu. The ID of the contact is automatically selected as filter.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus-square  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a new ticket in the <strong>CRM » Ticket system</strong> menu.<br>
<strong><em>Note:</em></strong> If the data record is a guest order, this field is not available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Download all data of the contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon purple"><i class="fa fa-download  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Downloads all data that is saved for this data record.<br>
Further information can be found in the chapter <a href="#download-all-data">Downloading all data of a contact or a guest order</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send newsletter opt-in email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon purple"><i class="fa fa-envelope-o  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sends the email for the newsletter opt-in respectively the confirmation for the newsletter opt-in to the customer.<br>
<strong><em>Note:</em></strong> If the customer is not registered for the newsletter yet, they will receive the automatic email for newsletter opt-in. If the customer is already registered for the newsletter, but has not confirmed yet, they will receive the confirmation for the newsletter opt-in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anonymising a data record</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="fa fa-user-secret  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anonymises the data record. Anonymising data is only possible when the data record is a "real" contact and not a guest order.<br>
For further information, refer to the <a href="#anonymise-data-record">Anonymising a data record</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Convert guest into contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon yellow"><i class="fa fa-exchange  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Converts the address data from a guest order into a regular contact data record. In the <strong>History</strong> area of the newly created contact data record, the entry <strong>Converted by</strong> as well as the name of the person who converted the data record are added.<br>
Further information can be found in the <a href="#convert-guest-account">Converting a guest account into a contact data record</a> chapter.<br>
<strong><em>Note:</em></strong> If this is already a contact, the field is not available and the button shows the note <strong>This contact is not a guest</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reload data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="fa fa-undo  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Updates the data from this data record.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="convert-guest-account">4. Converting a guest account into a contact data record</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>CRM » Quick search</strong> to convert the address data from a guest order into a regular contact data record.</p>
</div>
<div class="paragraph">
<p>In case of guest orders via the plentyShop, the saved data record consists only of the address and the corresponding order. If an account name is additionally contained in the address, the account data record is also created when converting the data record.</p>
</div>
<div class="paragraph instruction">
<p>Converting a guest account into a contact data record:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Quick search</strong>.</p>
</li>
<li>
<p>Select at least one filter. Note <a href="#table-filter-quick-search">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The data records that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the data record.<br>
→ The data record opens.</p>
</li>
<li>
<p>In the header, click on <strong>Convert guest to contact</strong> (<span class="icon yellow"><i class="fa fa-exchange  "></i></span>).<br>
→ A window appears and you need to confirm your decision.<br></p>
</li>
<li>
<p>If you have worked in compliance with GDPR, click on <strong>Convert</strong>.<br>
→ The data record is converted into a contact data record and automatically obtains the next free contact ID. In the <strong>History</strong> area of the contact data record, the entry <strong>Converted by</strong> as well as the name of the person who converted the data record are added.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Callisto guest orders vs. plentyShop guest orders</div>
<div class="paragraph">
<p>The <a href="/en/crm/managing-contacts#350">Converting a guest account into a regular account</a> chapter on the <a href="/en/crm/managing-contacts">Contacts</a> page describes how to convert guest orders from your old online shop (Callisto) or from a marketplace into regular accounts. It is not possible via the contact data record to convert plentyShop guest orders into regular accounts.</p>
</div>
<div class="paragraph">
<p>Besides plentyShop guest orders, you can, however, use the quick search to convert also Callisto guest orders into regular contact data records.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="download-all-data">5. Downloading all data of a contact or guest order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>CRM » Quick search</strong> menu, you can download with just one click all data that is saved for a contact or the address data belonging to a guest order as a ZIP file. The ZIP file contains an HTML file and a machine-parsable file in JSON format.</p>
</div>
<div class="paragraph instruction">
<p>Downloading all data of a contact or guest order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Quick search</strong>.</p>
</li>
<li>
<p>Select at least one filter.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The data records that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the data record.<br>
→ The overview with the areas <strong>Invoice address</strong>, <strong>Master data</strong> and <strong>Info</strong> appears.</p>
</li>
<li>
<p>Click on <strong>Download all data of the contact</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>) in the upper line.<br>
→ A dialogue window appears. Determine a location on your computer where the ZIP file is saved.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Further information about the download file can be found in this <a href="https://forum.plentymarkets.com/t/dsgvo-button-fuer-den-datenexport-zu-einem-kunden-integriert/486915" target="_blank" rel="noopener">changelog</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> thread in the plentymarkets forum.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="anonymise-data-record">6. Anonymising a data record</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can delete data of a contact respectively make this data illegible in such way that no reference to this person is given any longer.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Anonymising data is only possible when the data record is a "real" contact and not a guest order.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Anonymising a data record:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Quick search</strong>.</p>
</li>
<li>
<p>Select at least one filter.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The contacts that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the contact.<br>
→ The overview of the contact opens.</p>
</li>
<li>
<p>Click on <strong>Anonymise data record</strong> (<span class="icon "><i class="fa fa-user-secret  "></i></span>) in the upper line.<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Enter the ID of the contact that you would like to anonymise.</p>
</li>
<li>
<p>Click on <strong>Anonymise</strong>.<br>
→ The data record is anonymised.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Which data is anonymised and deleted?</div>
<div class="paragraph">
<p>By clicking on <strong>Anonymise data record</strong> (<span class="icon "><i class="fa fa-user-secret  "></i></span>), the following data in the data record of the contact is anonymised and deleted:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>This data is anonymised: First name, last name</p>
</li>
<li>
<p>This data is deleted: Contact options, address options, addresses, address relations, order relations, account relations, bank details</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>