<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up the newsletter service integrated in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Entering newsletter access data</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Creating an email folder</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Editing an email folder</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Assigning email addresses to the newsletter main folder</span></a></li>
<li><a href="#600"><span>1.5.</span><span> Allowing customers to select newsletters</span></a></li>
<li><a href="#700"><span>1.6.</span><span> Creating an email template</span></a></li>
<li><a href="#800"><span>1.7.</span><span> Linking the email template to the double opt-in function</span></a></li>
<li><a href="#900"><span>1.8.</span><span> Saving an email address</span></a></li>
<li><a href="#1000"><span>1.9.</span><span> Creating a newsletter</span></a></li>
<li><a href="#1100"><span>1.10.</span><span> Searching for customers by their email address or last name</span></a></li>
<li><a href="#1200"><span>1.11.</span><span> Editing an email address</span></a></li>
<li><a href="#1300"><span>1.12.</span><span> Exporting and importing email addresses</span></a></li>
<li><a href="#1400"><span>1.13.</span><span> Copying customer data into an email folder</span></a></li>
<li><a href="#1500"><span>1.14.</span><span> Filtering customer data</span></a></li>
<li><a href="#1600"><span>1.15.</span><span> Sending newsletters</span></a></li>
</ul>
</li>
<li><a href="#1700"><span>2.</span><span> Sending newsletters with CleverReach</span></a>
<ul class="sectlevel2">
<li><a href="#1800"><span>2.1.</span><span> Registering with CleverReach</span></a></li>
<li><a href="#1900"><span>2.2.</span><span> Setting up CleverReach in plentymarkets</span></a></li>
<li><a href="#2000"><span>2.3.</span><span> Manually transmitting customer data</span></a></li>
</ul>
</li>
<li><a href="#2100"><span>3.</span><span> Sending newsletters with Newsletter2Go</span></a>
<ul class="sectlevel2">
<li><a href="#2200"><span>3.1.</span><span> Registering with Newsletter2Go</span></a></li>
<li><a href="#2300"><span>3.2.</span><span> Creating a user</span></a></li>
<li><a href="#2400"><span>3.3.</span><span> Setting up a user</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Sending newsletters</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes which settings you need to carry out to send newsletters with plentymarkets. Use the newsletter function that is <a href="/en/crm/sending-newsletters#100">integrated in plentymarkets</a> or send your newsletters with <a href="#crm/sending-newsletters-1700">CleverReach</a> or <a href="/en/crm/sending-newsletters#2100">Newsletter2Go</a>.</p>
</div>
<div class="paragraph">
<p>The double opt-in method is used in plentymarkets. This means that the recipient is sent an email after having asked to receive the newsletter. This email contains a link that is used to confirm the newsletter subscription. Customers only receive the newsletter after they clicked on the link. This method is integrated in plentymarkets and cannot be changed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up the newsletter service integrated in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to set up the newsletter service that is integrated in plentymarkets. You have to carry out settings in multiple menus in order to be able to send newsletters with plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Integrated newsletter service cannot be used in compliance with GDPR</div>
<div class="paragraph">
<p>Please note that you cannot use the newsletter service that is integrated in plentymarkets in compliance with GDPR. Therefore, plentymarkets recommends using the integrated service providers.</p>
</div>
<div class="paragraph">
<p>The following newsletter plugins can be downloaded free of charge from the plentyMarketplace:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/integration/Newsletter2Go_5436" target="_blank" rel="noopener">Newsletter2Go</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/integration/MailInOne_5260" target="_blank" rel="noopener">Mail-In-One</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/integration/Simplyletter_5104" target="_blank" rel="noopener">Simplyletter</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Please refer to the user guide in the <strong>Description</strong> tab of the plugin to learn how to install the plugin and carry out the settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Entering newsletter access data</h3>
<div class="paragraph">
<p>Go to <strong>System » Client » Select client » Email » Newsletter</strong>. Enter the access data to use the newsletter service that is integrated in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Entering newsletter access data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Newsletter</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-newsletter-access-data">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-newsletter-access-data" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Settings in the <strong>System » Client » Select client » Email » Newsletter</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name of sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter your name or the name of your company/online store, as you would like it to be displayed to the recipient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the email address as it is listed in the email program. The newsletter is sent via this email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing mail server/SMTP server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the outgoing mail server as specified by the provider (usually smtp.domain.co.uk or mail.domain.co.uk).<br>
<strong><em>mailbox.org:</em></strong> For mailbox.org mailboxes, enter the outgoing mail server <strong>smtp.mailbox.org</strong> and select <strong>SSL</strong> as the <strong>encryption method</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name that matches the email address.<br>
<strong><em>mailbox.org:</em></strong> The mailbox.org user name is the complete email address of the mailbox.org mailbox.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the password that matches the user name and email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port (standard: 25)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the value <strong>25</strong>. This value is correct for nearly all providers. Otherwise, ask your provider about the correct port.<br>
<strong><em>mailbox.org:</em></strong> For mailbox.org mailboxes, enter the port <strong>465</strong> and select <strong>SSL</strong> as <strong>encryption method</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Encryption</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>SSL</strong>, <strong>TLS</strong> or <strong>No encryption</strong>.<br>
<strong><em>mailbox.org:</em></strong> For mailbox.org mailboxes, select the encryption method <strong>SSL</strong>.<br>
Further information can be found in the <a href="/en/crm/sending-emails#200">Selecting the encryption for email communication</a> chapter on the <a href="/en/crm/sending-emails">Sending emails</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Creating an email folder</h3>
<div class="paragraph">
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Email folder</strong> to create folders for sending newsletters. Afterwards, you save the email addresses of your customers in these folders. This allows you to send different newsletters to different target groups. Proceed as described below to create a new email folder.</p>
</div>
<div class="paragraph instruction">
<p>Creating an email folder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Email folder</strong>.</p>
</li>
<li>
<p>Enter a name for the folder under <strong>Create new email folder</strong>.</p>
</li>
<li>
<p>Change the folder ID if needed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-create-email-folder">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The email folder is created and displayed in the overview.</p>
</li>
</ol>
</div>
<table id="table-create-email-folder" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Settings in the <strong>System » CRM » Newsletter » plentymarkets » Email folder</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The folder ID that was assigned when the folder was created. Consecutive IDs are automatically assigned by default. However, a different ID can be assigned as needed while creating the folder. The ID <strong>0</strong> cannot be used.<br>
<strong><em>Note:</em></strong> Do not use the same ID for multiple folders. If you enter an already existing ID, the original folder is overwritten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the email folder. If you activate the option <strong>Can be selected by customers</strong>, this name is also visible for customers in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Can be selected by customers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if you want the folder to be selected by customers in your online store. If this option is activated, the folder is displayed in the <strong>My account</strong> area of the online store. Customers are then able to subscribe to the newsletters that are included in this folder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a position number to specify which order the folders should be displayed in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether the newsletter folder should be visible for the default online store only or whether it should be visible for all online stores. The folder is completely invisible if you select <strong>None</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and click on <strong>Save</strong> to delete the folder.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Editing an email folder</h3>
<div class="paragraph">
<p>Existing email folders can also be edited in the menu <strong>System » CRM » Newsletter » plentymarkets » Email folder</strong>. Proceed as follows to edit the settings of an email folder.</p>
</div>
<div class="paragraph instruction">
<p>Editing an email folder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Email folder</strong>.</p>
</li>
<li>
<p>Carry out the changes as desired. Pay attention to the information given in <a href="#table-create-email-folder">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">1.4. Assigning email addresses to the newsletter main folder</h3>
<div class="paragraph">
<p>Go to <a href="/en/omni-channel/online-store/setting-up-clients/order-process">System » Client » Select client » Order process » Settings</a> and use the <strong>Newsletter main folder</strong> drop-down list to select which email folder should automatically be linked to a customer’s email address when he or she subscribes to a newsletter during the order process in the online store. All of the visible email folders are listed in the drop-down list (see the <strong>Visibility</strong> option in <a href="#table-create-email-folder">Table 2</a>).</p>
</div>
</div>
<div class="sect2">
<h3 id="600">1.5. Allowing customers to select newsletters</h3>
<div class="paragraph">
<p>Let your customers choose which newsletters they want to receive. This is advantageous, for example, if you regularly send newsletters about different topics. Your customers can select any of the email folders that you have activated for the option <strong>Can be selected by customers</strong> in <a href="#table-create-email-folder">Table 2</a>. Your customers can select these folders in the <strong>My account</strong> area of the online store. The customer’s email address is saved in this email folder in your plentymarkets system.</p>
</div>
</div>
<div class="sect2">
<h3 id="700">1.6. Creating an email template</h3>
<div class="paragraph">
<p>Use an email template to send your confirmation email. Use template variables in your template to make sure that the correct name of the customer as well as the confirmation link is automatically included in the template. Proceed as follows to create the email template that contains the confirmation link.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Using template variables and template functions</div>
<div class="paragraph">
<p>There is a wide range of template variables and template functions for your email templates available in plentymarkets. Open the email template and click on <strong>Template variables and template functions</strong>. Copy the template variable or template function from this area and insert it to the desired position in the email template in the <strong>Email message</strong> tab. You can copy them to plain text or to text in HTML format.</p>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/crm/sending-emails">Sending emails</a>, <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#basics-template-variables">Template variables</a> and <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#basics-template-functions">Template functions</a> pages of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Click on <strong>New email template</strong>.<br>
→ The <strong>New email template</strong> window opens.</p>
</li>
<li>
<p>Enter the name for the email template.</p>
</li>
<li>
<p>Select the owner from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The email template is created and saved in one of the 3 folders, depending on the selected setting in the <strong>Owner</strong> drop-down list. Pay attention to the information given about <strong>Owner</strong> in <a href="#table-create-email-template">Table 3</a>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-create-email-template">Table 3</a>.</p>
</li>
<li>
<p>Insert the template variable <strong>$CustomerFullName</strong> into the text of the email.<br>
→ This template variable makes the first name and last name available.</p>
</li>
<li>
<p>Insert the template variable <strong>$NewsletterConfirmURL</strong> into the text of the email.<br>
→ This template variable makes the confirmation link available.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>As soon as customers click on the link provided by the template variable <strong>$NewsletterConfirmURL</strong>, they confirm having signed up for the newsletter and start receiving the newsletter to the same email address.</p>
</div>
<div class="paragraph">
<p>If you would like to use the <a href="/en/crm/sending-newsletters#800">double opt-in method</a>, a further step is required. You must create two templates and select them for the events <strong>Newsletter opt-in</strong> and <strong>Newsletter opt-in confirmation</strong> in the <strong>System » Client » Select client » Email » Automatic</strong> menu.</p>
</div>
<table id="table-create-email-template" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Creating a new email template in the <strong>System » Client » Select client » Email » Templates</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves the settings in the email template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template variables and functions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>Template variables and functions</strong> area from which the template variables and template functions are copied for the email template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the name of the owner has already been selected from the drop-down list upon creation of the email template, the name of the owner is displayed here. Otherwise, select the owner from the drop-down list. This setting can be changed at any time.<br>
<strong>All</strong> = The template is saved under <strong>General email templates</strong>.<br>
Own user name = The template is saved under <strong>My email templates</strong>.<br>
Different user name = The template is saved under <strong>Email templates from other users</strong>.<br>
<strong><em>Note:</em></strong> You have to be logged into the system as a user in order to create your own email templates under <strong>My email templates</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the name of the email template has already been entered upon creation of the template, the name of the email template is displayed here. Otherwise, enter the name for the template.<br>
The name can be changed at any time. The name is not displayed to the recipient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the message should be saved as <strong>plain text</strong> or in <strong>HTML format</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select for which area the email template should be available. Possible options: <strong>All</strong> (default setting), <strong>Order</strong>, <strong>Customers</strong>, <strong>Online store</strong>, <strong>Ticket</strong> or <strong>Scheduler</strong>.<br>
<strong>All</strong> / <strong>Online store</strong> = The email template is available for all areas.<br>
<strong>Order</strong> = The email template is only available for the selected area. It is not visible in the other areas. If the ticket is linked to an order, email templates with the template type <strong>Order</strong> can also be selected in the ticket.<br>
<strong>Customer</strong> = The email template is only available for the selected area. It is not visible in the other areas.<br>
<strong>Ticket</strong> = The email template is only available for the selected area. It is not visible in the other areas.<br>
<strong>Scheduler</strong> = The email template is available for all areas where the template type <strong>Order</strong> is visible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PDF attachment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the attachment from the drop-down list. The documents that can be selected from this drop-down list are for example generated in the <strong>Orders » Fulfilment</strong> menu or through shipment-related processes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document attachment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Documents that were uploaded under <strong>CMS » Documents</strong> are displayed here. You can attach one of these documents to an email template.<br>
 All email templates can be sent to customers with up to 2 attachments in a standardised way. Use email templates to send your customers PDF documents relating to fulfilment (e.g. invoices) or other files (e.g. brochures or instructions). For example, it would be useful to attach PDF documents of your cancellation rights and terms and conditions to the email template <strong>Confirmation of online store order</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reply to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an email address. If someone replies to the email template, their message is sent to this address. If no email address was entered, replies to the template are sent to the email address that is saved under <a href="/en/crm/sending-emails#100">System » Client » Select client » Email » Access data</a>. For example, it is useful to enter the accounting department’s email address for the <strong>PDF invoice</strong> email template. Questions about the invoice would directly be sent to your accounting department and wouldn’t have to be forwarded to them in an extra step.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use design</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if the content of the email should be sent with the design that was saved under <a href="/en/crm/sending-emails#800">System » Client » Select client » Email » HTML design</a>. If the option is not activated, only the content of the email is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> clients (stores). The email template is only valid for the selected clients (stores).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Email message</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The selected language is displayed here and can be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subject</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the subject text. Select the subject name very carefully so that your customers can easily recognise the emails in their inbox and so that the emails are not filtered out as spam.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content / Item list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Insert the text or list of items in these tabs. Use <strong>plain text</strong> or text in <strong>HTML format</strong>. Template variables and template functions can be used to display the content.<br>
<strong><em>Note:</em></strong> Check which type of content was selected in the <strong>Settings</strong> tab under <strong>Content</strong>. Enter the text of the email into this corresponding tab. For example, if <strong>Plain text only</strong> is selected but you entered content into the <strong>Text in HTML format</strong> tab, this content is not sent in the email.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">1.7. Linking the email template to the double opt-in function</h3>
<div class="paragraph">
<p>In the next step, link the email template that you have just created to the double opt-in function and select another template for the option <strong>Newsletter opt-in confirmation</strong>. If you use the double opt-in method, the customer has to confirm the newsletter registration after he or she has registered for the newsletter.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Notes about the double opt-in method</div>
<div class="paragraph">
<p>You must <a href="/en/crm/sending-newsletters#700">create</a> 2 templates and select these for the events Newsletter opt-in and <strong>Newsletter opt-in confirmation</strong> in the <strong>System » Client » Select client » Email » Automatic</strong> menu. The selected template under <strong>Newsletter opt-in</strong> is sent when the customer has registered for the newsletter. This template should contain the confirmation link that the customer has to click in order to complete the newsletter registration. Use the template variable <strong>$NewsletterConfirmURL</strong> to display the confirmation link. This template variable contains the URL to confirm the newsletter registration. The selected template under <strong>Newsletter opt-in confirmation</strong> is sent when the customer has activated the confirmation link.</p>
</div>
<div class="paragraph">
<p>In the contact data record in the <strong>CRM » Contacts » Open contact</strong> menu, the <strong>Newsletter</strong> option is activated automatically when the customer has registered for the newsletter during the order process and has confirmed the newsletter registration via the confirmation link.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking the email template to the double opt-in function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Automatic</strong>.</p>
</li>
<li>
<p>Select the email template that was previously created from the <strong>Newsletter opt-in</strong> drop-down list.</p>
</li>
<li>
<p>Select the email template that was previously created from the <strong>Newsletter opt-in confirmation</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can see the confirmation status by going to <strong>System » CRM » Newsletter » plentymarkets » Emails</strong>. Customers who confirmed that they want to receive the newsletter are designated with the status <strong>confirmed</strong>. Customers who did not go through the double opt-in process are designated with the status <strong>not confirmed</strong>.</p>
</div>
<div class="paragraph">
<p>The <strong>IP address</strong> and used <strong>confirmation URL</strong> used for the confirmation will be saved to the database. These data can be called up via a <a href="https://developers.plentymarkets.com/rest-doc/newsletter/details#list-a-recipient" target="_blank" rel="noopener">REST-Call</a> but is not shown in the backend.</p>
</div>
</div>
<div class="sect2">
<h3 id="900">1.8. Saving an email address</h3>
<div class="paragraph">
<p>The email addresses that newsletters should be sent to are saved in various folders. Go to <strong>System » CRM » Newsletter » plentymarkets » Emails</strong> to manage the email addresses that are saved in these folders. If you have not yet created a <a href="/en/crm/sending-newsletters#300">folder structure</a> for your newsletters, we recommend doing so before you continue.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to save an email address in an email folder.</p>
</div>
<div class="paragraph instruction">
<p>Saving an email address:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Emails</strong>.</p>
</li>
<li>
<p>Expand the folder.</p>
</li>
<li>
<p>Expand the <strong>New email address</strong> area.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-save-email-address">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-save-email-address" class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Settings for saving a new email address</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>First name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the customer’s first name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the last name of the contact.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the customer’s email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Folder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <a href="/en/crm/sending-newsletters#300">email folder</a> in which the customer data should be saved.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">1.9. Creating a newsletter</h3>
<div class="paragraph">
<p>Proceed as described below to create new newsletters. You can also edit existing newsletter.</p>
</div>
<div class="paragraph instruction">
<p>Creating a newsletter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Newsletter</strong>.</p>
</li>
<li>
<p>Expand the <strong>New newsletter</strong> area.<br>
→ The editing window for the new newsletter opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-create-newsletter">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-create-newsletter" class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Settings for creating a newsletter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subject</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a subject for the newsletter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HTML newsletter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the content of the newsletter as HTML code.<br>
<strong><em>Note:</em></strong> Texts can only be saved in one field. Therefore, you can either enter text into the <strong>HTML newsletter</strong> or the <strong>Text newsletter</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text newsletter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the newsletter’s content as plain text only.<br>
<strong><em>Note:</em></strong> Texts can only be saved in one field. Therefore, you can either enter text into the <strong>HTML newsletter</strong> or the <strong>Text newsletter</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image gallery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <a href="/en/omni-channel/online-store/cms#image-gallery">CMS » Image gallery</a> menu. Save an image here to attach it to the newsletter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Input layout template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Clicking on <strong>Input layout template</strong> inserts the German greeting <strong>Guten Tag]</strong> along with the variable <strong>[NAME]]</strong>. The customer’s name automatically replaces the template variable.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1100">1.10. Searching for customers by their email address or last name</h3>
<div class="paragraph">
<p>Proceed as described below to save an email address in an email folder. You can either search for customers by their email address or by their last name.</p>
</div>
<div class="paragraph instruction">
<p>Searching for customers by their email address or last name:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Emails</strong>.</p>
</li>
<li>
<p>Expand the email folder.</p>
</li>
<li>
<p>Select the option <strong>Email address</strong> or <strong>Last name</strong> from the drop-down list. Customers will be searched for by this criterion.</p>
</li>
<li>
<p>Enter the customer’s email address or last name in the search field. <br>
→ It is sufficient to only enter part of the name or email address. Leave the field blank if you want to display all email addresses or last names.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The search result(s) are displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The confirmation status is also displayed in the search results. The <a href="/en/crm/sending-newsletters#800">double opt-in method</a> is used in plentymarkets. This means that the recipient is sent an email after having asked to receive the newsletter. This email contains a link that is used to confirm the newsletter subscription. Customers who confirmed that they want to receive the newsletter are designated with the status <strong>confirmed</strong>. Otherwise, you see the words <strong>not confirmed</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">1.11. Editing an email address</h3>
<div class="paragraph">
<p>Once you have found an email address with the search function, you can edit the data that is saved for this customer. For example, this is useful if you need to update a customer’s email address or if you want to move the customer data record into a different email folder. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Editing an email address:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Emails</strong>.</p>
</li>
<li>
<p>Search for the customer as described in the chapter <a href="/en/crm/sending-newsletters#1100">Searching for customers by their email address or last name</a>.</p>
</li>
<li>
<p>Expand the customer.</p>
</li>
<li>
<p>Carry out the changes as desired. Pay attention to the information given in <a href="#table-save-email-address">Table 4</a> in the <a href="/en/crm/sending-newsletters#900">Saving an email address</a> chapter.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1300">1.12. Exporting and importing email addresses</h3>
<div class="paragraph">
<p>The previous chapters describe how to manage individual email addresses. If you want to edit several email addresses at once, it is recommended that you work with the <a href="/en/basics/data-exchange">data exchange</a>.</p>
</div>
<div class="paragraph">
<p>You can import or export email addresses. You can export all of the email addresses by going to <a href="/en/basics/data-exchange/exporting-data">Data » Dynamic export</a> and using the <a href="/en/basics/data-exchange/data-formats/customernewsletter">CustomerNewsletter</a> data format. In the <a href="/en/basics/data-exchange/importing-data">Data » Dynamic import</a> menu, you import new email addresses.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">1.13. Copying customer data into an email folder</h3>
<div class="paragraph">
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Email filter</strong> to filter customer data and copy this data into specific email folders. For example, you can search for all customers who purchased a certain item during a specific time period. You can use the folders when sending newsletters to these customer groups in the <a href="/en/crm/sending-newsletters#1000">CRM » Newsletter</a> menu.</p>
</div>
<div class="paragraph">
<p>Proceed as described below in order to copy customer data into an email folder.</p>
</div>
<div class="paragraph instruction">
<p>Copying customer data into an email folder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Email filter</strong>.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Copy all customer data into email folder(s)</strong> area. Pay attention to the information given in <a href="#table-copy-customer-data">Table 6</a>.</p>
</li>
<li>
<p>Click on <strong>Transfer emails into folder</strong>.</p>
</li>
</ol>
</div>
<table id="table-copy-customer-data" class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. Copying customer data into an email folder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletter registration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options:<br>
<strong>ALL</strong> = The customer data of all customers who subscribed to the newsletter are copied into the email folder. This includes customers who confirmed their newsletter subscription with the <a href="/en/crm/sending-newsletters#800">double opt-in method</a> and customers who have not yet confirmed.<br>
<strong>Only customers who have consented to the receipt of newsletters</strong> = The customer data are copied into the email folder for those customers who have confirmed their newsletter subscription.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the country to only filter customers from this country. For example, this makes it possible to send one version of a newsletter to customers who live in the United Kingdom and another version to customers who live in Ireland.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email folder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the email folder. The customer data is saved in this email folder.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1500">1.14. Filtering customer data</h3>
<div class="paragraph">
<p>The customer filter helps you find more specific customer data. Proceed as described below in order to filter customer data and to copy this data into an email folder.</p>
</div>
<div class="paragraph instruction">
<p>Filtering customer data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » plentymarkets » Email filter</strong>.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Customer filter</strong> area. Pay attention to the information given in <a href="#table-filter-customer-data">Table 7</a>.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> to see the customer data.<br>
→ The <strong>Preview</strong> area that contains the customer data opens. Check the result.</p>
</li>
<li>
<p>Click on <strong>Transfer emails into folder</strong>.</p>
</li>
</ol>
</div>
<table id="table-filter-customer-data" class="tableblock frame-all grid-all spread">
<caption class="title">Table 7. Settings for the customer filter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum order value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a minimum order value to filter customers whose orders reached or exceeded this value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category 1-3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select up to 3 category levels to filter customers who bought an item in this category or sub-category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one or more item IDs to filter customers who bought these items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exact order time</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a time period to filter customers who placed an order during this time period. If you do not want to filter by the date, activate the option <strong>No exact order time</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the country to filter customers from this country. For example, this makes it possible to send one version of a newsletter to customers who live in the United Kingdom and another version to customers who live in Ireland.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store) to filter customers who bought an item from this client (store).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/crm/managing-contacts#15">customer class</a> to filter customers who belong to this class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an order referrer to filter customers who placed orders with this order referrer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletter registration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between the options <strong>ALL</strong> and <strong>Only customers who have consented to the receipt of newsletters</strong>.<br>
<strong>ALL</strong> = The customer data of all customers who have subscribed to the newsletter are copied into the email folder. This includes customers who confirmed their newsletter subscription with the <a href="/en/crm/sending-newsletters#800">double opt-in method</a> and customers who have not yet confirmed.<br>
<strong>Only customers who have consented to the receipt of newsletters</strong> = The customer data are copied into the email folder for those customers who have confirmed their newsletter subscription.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email folder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the email folder. The customer data is saved in this email folder.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1600">1.15. Sending newsletters</h3>
<div class="paragraph">
<p>After you <a href="/en/crm/sending-newsletters#700">created</a> and <a href="/en/crm/sending-newsletters#800">linked</a> the email template and have <a href="/en/crm/sending-newsletters#1000">created the newsletter</a>, you set which email addresses that are saved in the email folders the newsletter should be sent to. To do so, go to <strong>CRM » Newsletter</strong>. Using the <strong>Filter</strong> option, you can decide whether to send a newsletter to all email addresses or only to confirmed email addresses. Carry out this setting in the <strong>Send newsletter</strong> tab of the newsletter.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Only a limited number of newsletters is sent during the day</div>
<div class="paragraph">
<p>Please note that only a limited number of newsletters is sent to your customers during the day. At night, a larger number of emails is allowed to be sent to your customers.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>During the day between 8:00am and 12:00 midnight: 60 emails every 15 minutes</p>
</li>
<li>
<p>At night between 12:00 midnight and 8:00am: 500 emails every 15 minutes</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sending newsletters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Newsletter</strong>.</p>
</li>
<li>
<p>Expand the newsletter that you want to send.</p>
</li>
<li>
<p>Click on the <strong>Send newsletter</strong> tab.</p>
</li>
<li>
<p>Select a group under <strong>Send newsletter to group</strong> from the drop-down list.</p>
</li>
<li>
<p>Select the option <strong>ALL</strong> or <strong>To confirmed email addresses only</strong> from the <strong>Filter</strong> drop-down list.</p>
</li>
<li>
<p>Click on <strong>Send</strong>.<br>
→ The newsletter are sent according to the settings that you selected above.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">2. Sending newsletters with CleverReach</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to send newsletters to your customers with <a href="https://www.cleverreach.com/en/" target="_blank" rel="noopener">CleverReach</a>.</p>
</div>
<div class="sect2">
<h3 id="1800">2.1. Registering with CleverReach</h3>
<div class="paragraph">
<p>Register for free in order to use CleverReach in plentymarkets. To do so, go to the <a href="https://www.cleverreach.com/en/" target="_blank" rel="noopener">CleverReach website</a>. For further information about the settings, refer to the <a href="http://support.cleverreach.de/hc/de" target="_blank" rel="noopener">CleverReach help center</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1900">2.2. Setting up CleverReach in plentymarkets</h3>
<div class="paragraph">
<p>Proceed as described below to set up the CleverReach interface in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Setting up CleverReach in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » CleverReach</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-set-up-cleverreach">Table 8</a>.</p>
</li>
<li>
<p>Enter your <strong>API key</strong>.</p>
</li>
<li>
<p>Enter the <strong>List ID</strong> of the group that you created in CleverReach.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Generate group attributes</strong>.<br>
→ Data fields are set up in CleverReach. This way the data that you transfer can be saved and processed.</p>
</li>
<li>
<p>Open the CleverReach back end and open the group whose list ID you entered into plentymarkets.</p>
</li>
<li>
<p>Delete the data fields that you do not want to use in CleverReach.<br>
→ The following data fields are currently transferred from plentymarkets to CleverReach: <strong>Birthday</strong>, <strong>First name</strong>, <strong>Gender (form of address)</strong>, <strong>Lang (language)</strong> and <strong>Last name</strong>.</p>
</li>
<li>
<p>Go back to <strong>System » CRM » Newsletter » CleverReach</strong> in your plentymarkets back end.</p>
</li>
<li>
<p>Activate the option <strong>Automatic transfer (daily)</strong> so that customer data is transmitted.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-set-up-cleverreach" class="tableblock frame-all grid-all spread">
<caption class="title">Table 8. Settings in the <strong>System » CRM » Newsletter » CleverReach</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate group attributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Generates the data fields (group attributes) for CleverReach.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Carry out data transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transfers data fields (group attributes) to CleverReach. The following data fields are currently transferred from plentymarkets to CleverReach: <strong>Birthday</strong>, <strong>First name</strong>, <strong>Gender (form of address)</strong>, <strong>Lang (language)</strong> and <strong>Last name</strong>. Select the area from the drop-down list.<br>
<strong><em>Note:</em></strong> This is to be carried out before you transfer the actual customer data. Refer to the following instructions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the API key that you received from CleverReach.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>List ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the list ID that you received from CleverReach.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrers that should be available for CleverReach. Referrers that do not allow data to be transferred are not selected by default.<br>
<strong><em>Note:</em></strong> Check the selected order referrers before you begin working with CleverReach. This helps you avoid potential warnings or reprimands.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export starting with order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status. Data is exported starting from this status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic transfer (daily)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if data should automatically be transferred every day.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">First transfer</div>
<div class="paragraph">
<p>During the first automatic transfer, customer data is transferred from the past 3 days. After that, only new customers' data is transferred.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can use filters in CleverReach if you do not want to write to all customers. For further information, refer to the <a href="https://support.cleverreach.de/hc/en-us" target="_blank" rel="noopener">CleverReach</a>* support page.</p>
</div>
</div>
<div class="sect2">
<h3 id="2000">2.3. Manually transmitting customer data</h3>
<div class="paragraph">
<p>Use the <strong>Carry out data transfer</strong> option to only transfer customer data for a specific customer type. This allows you to sort the plentymarkets customer types into different CleverReach groups.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Should I use the automatic transfer?</div>
<div class="paragraph">
<p>If you use the option <strong>Carry out data transfer</strong> in order to transfer customer data filtered by customer type, you may have to deactivate the automatic transfer. The automatic transfer transfers all new customer data without considering the different customer types.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Manually transmitting customer data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » CRM » Newsletter » CleverReach</strong>.</p>
</li>
<li>
<p>Enter your <strong>API key</strong>.</p>
</li>
<li>
<p>Enter the <strong>List ID</strong> of the group that you created in CleverReach.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Generate group attributes</strong>.<br>
→ Data fields is set up in CleverReach. This way the data that you transfer can be saved and processed.</p>
</li>
<li>
<p>Open the CleverReach back end and open the group whose list ID you entered into plentymarkets.</p>
</li>
<li>
<p>Delete the data fields that you do not want to use in CleverReach.<br>
→ The following data fields are currently transferred from plentymarkets to CleverReach: <strong>Birthday</strong>, <strong>First name</strong>, <strong>Gender (form of address)</strong>, <strong>Lang (language)</strong> and <strong>Last name</strong>.</p>
</li>
<li>
<p>Go back to <strong>System » CRM » Newsletter » CleverReach</strong> in your plentymarkets back end.</p>
</li>
<li>
<p>Select the customer type from the drop-down list <strong>Carry out data transfer</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Export</strong>.<br>
→ The customer data is transmitted.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2100">3. Sending newsletters with Newsletter2Go</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to send newsletters to your customers with <a href="https://www.newsletter2go.co.uk/" target="_blank" rel="noopener">Newsletter2Go</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">SOAP module is required to use Newsletter2Go</div>
<div class="paragraph">
<p>Please note that you require the SOAP module in order to use the Newsletter2Go service. The SOAP module allows for correct data retrieval.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="2200">3.1. Registering with Newsletter2Go</h3>
<div class="paragraph">
<p>Register for free in order to use Newsletter2Go in plentymarkets. To do so, go to the <a href="https://www.newsletter2go.co.uk/help/" target="_blank" rel="noopener">Newsletter2Go website</a>. For further information about the settings in Newsletter2Go, refer to the <a href="https://www.newsletter2go.de/hilfe/" target="_blank" rel="noopener">Newsletter2Go help</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="2300">3.2. Creating a user</h3>
<div class="paragraph">
<p>Go to <a href="/en/basics/working-with-plentymarkets/manage-users#10">Settings » Basic settings » User » Accounts</a> to create a new user for Newsletter2Go. You need this user for the Newsletter2Go interface. When creating the user with the user class <strong>Newsletter2Go</strong>, all rights required for the SOAP API are automatically saved. These rights include for example the setting <strong>Customer</strong> for the recipient’s synchronisation as well as the setting <strong>Item</strong> for the item transfer.</p>
</div>
<div class="paragraph instruction">
<p>Creating a user:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.</p>
</li>
<li>
<p>Enter the <strong>User name</strong>.</p>
</li>
<li>
<p>Enter the <strong>Actual name</strong>.</p>
</li>
<li>
<p>Select <strong>Newsletter2Go</strong> from the <strong>User class</strong> drop-down list.</p>
</li>
<li>
<p>Enter the <strong>password</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="2400">3.3. Setting up a user</h3>
<div class="paragraph">
<p>In the next step, you set up the new user for Newsletter2Go.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a user:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the Newsletter2Go user that you have just created.</p>
</li>
<li>
<p>Click on the <strong>Right</strong> tab.</p>
</li>
<li>
<p>In the <strong>Visibility</strong> tab, select the clients (stores) in the <strong>Client (store)</strong> section.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Sending newsletters from an exclusive, dedicated IP address</div>
<div class="paragraph">
<p>You can send your Newsletter2Go newsletters from an <a href="https://www.newsletter2go.com/features/newsletter-dispatch-dedicated-ips/">exclusive, dedicated IP address</a>. To use this service, you need to access the Service centre in the <strong>Start » Service centre</strong> menu and save the Newsletter2Go <a href="/en/basics/working-with-plentymarkets/plentymarkets-account#domain-nameserver">name server</a> for the sub-domains. You receive the necessary information regarding sub-domains and name server from Newsletter2Go.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>