<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Saving the email server’s access data</span></a></li>
<li><a href="#200"><span>2.</span><span> Selecting the encryption for email communication</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Security via SSL encryption</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Security via STARTTLS</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Unencrypted connection</span></a></li>
</ul>
</li>
<li><a href="#600"><span>3.</span><span> Saving the email signature</span></a></li>
<li><a href="#700"><span>4.</span><span> Setting up the email information service</span></a></li>
<li><a href="#800"><span>5.</span><span> Configuring the HTML design</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>5.1.</span><span> Uploading the company logo to the image gallery</span></a></li>
<li><a href="#1000"><span>5.2.</span><span> Inserting template variables in the HTML design</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>6.</span><span> Creating an email template</span></a>
<ul class="sectlevel2">
<li><a href="#1300"><span>6.1.</span><span> Using template variables and template functions</span></a></li>
<li><a href="#1400"><span>6.2.</span><span> Configuring the display of stock units</span></a></li>
<li><a href="#1500"><span>6.3.</span><span> Using if queries in email templates</span></a></li>
<li><a href="#1600"><span>6.4.</span><span> Checking the email template using the preview function</span></a></li>
<li><a href="#1700"><span>6.5.</span><span> Editing the email template</span></a></li>
</ul>
</li>
<li><a href="#1750"><span>7.</span><span> Inserting the company logo in the HTML design</span></a></li>
<li><a href="#1100"><span>8.</span><span> Linking the HTML design with an email template</span></a></li>
<li><a href="#1800"><span>9.</span><span> Sending emails</span></a>
<ul class="sectlevel2">
<li><a href="#1900"><span>9.1.</span><span> Sending ticket messages and comments as emails</span></a></li>
<li><a href="#2000"><span>9.2.</span><span> Sending coupons via email</span></a></li>
</ul>
</li>
<li><a href="#2300"><span>10.</span><span> Setting up automatic emails</span></a></li>
<li><a href="#2500"><span>11.</span><span> Displaying sent email templates for each customer</span></a></li>
<li><a href="#2600"><span>12.</span><span> Displaying all sent email templates</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Sending emails</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>All emails that are sent with plentymarkets are based on email templates. Go to <strong>System » Client » Select client » Email » Templates</strong> to configure email templates. You can create as many email templates as desired. In case of certain events, e.g. if a new order is placed in your online store or when a customer subscribes to a newsletter, your plentymarkets system automatically creates emails from these templates and sends them to your customers. You configure which emails are sent when.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Saving the email server’s access data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>System » Client » Select client » Email » Access data</strong> menu, you save the access data of a mailbox so that plentymarkets emails such as order or shipping confirmations can be sent from this email address.</p>
</div>
<div class="paragraph instruction">
<p>Saving the email server’s access data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Access data</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-email-server-access-data">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-email-server-access-data" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Saving the email server’s access data</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Test mode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Active</strong> or <strong>Inactive</strong>.<br>
<strong>Active</strong> = The test mode is activated. All emails will only be sent to the saved email address. This allows you to test the settings before switching to the live mode.<br>
<strong>Inactive</strong> = The live mode is activated.<br>
<strong><em>Important:</em></strong> The test mode is only applied to this online store. The settings for additional clients (stores) are configured in those clients' menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name of sender</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter your name or the name of your company/online store, as you would like it to be displayed to the recipient. Avoid using special characters in order to allow for correct display.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Email address</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the email address as it is listed in the email program.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Outgoing mail server/SMTP server</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the outgoing mail server as specified by the provider (usually smtp.domain.co.uk or mail.domain.co.uk).<br>
<strong><em>mailbox.org</em></strong>: For mailbox.org mailboxes, enter the outgoing mail server <strong>smtp.mailbox.org</strong> and select the encryption method <strong>SSL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>User name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the user name that matches the email address.<br>
<strong><em>mailbox.org</em></strong>: The mailbox.org user name is the complete email address of the mailbox.org mailbox.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the password that matches the user name and email address.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Port (standard: 25)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the value <strong>25</strong>. This value is correct for nearly all providers. Otherwise, ask your provider about the correct port.<br>
<strong><em>mailbox.org</em></strong>: For mailbox.org mailboxes, enter the port <strong>465</strong> and select the encryption method <strong>SSL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Encryption</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>SSL</strong>, <strong>TLS</strong> or <strong>No encryption</strong>. For further information, refer to the <a href="/en/crm/sending-emails#200">Selecting the encryption for email communication</a> chapter.<br>
<strong><em>mailbox.org</em></strong>: For mailbox.org mailboxes, enter port <strong>465</strong> and select the encryption method <strong>SSL</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Entering newsletter access data</div>
<div class="paragraph">
<p>Go to <strong>System » Client » Select client » Email » Newsletter</strong>. Enter the access data to use the newsletter service that is integrated in plentymarkets. For further information, refer to the <a href="/en/crm/sending-newsletters#200">Entering newsletter access data</a> chapter of the <a href="/en/crm/sending-newsletters">Sending newsletters</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Selecting the encryption for email communication</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The encryption methods <strong>SSL</strong>, <strong>TLS</strong> and the setting <strong>no encryption</strong> are available in plentymarkets. Select one of these encryption methods for the communication with the email server. Which settings you have to carry out is described in the following sub-chapters.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Security via SSL encryption</h3>
<div class="paragraph">
<p>Set up SSL encryption for protected data transfer between your email programs and your mailbox. <a href="#table-ssl-encryption">Table 2</a> explains the settings for SSL encryption in the <strong>System » Client » Select client » Email » Access data</strong> menu.</p>
</div>
<table id="table-ssl-encryption" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Settings for SSL encryption</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Server type</th>
<th class="tableblock halign-left valign-top">Server</th>
<th class="tableblock halign-left valign-top">Connection security</th>
<th class="tableblock halign-left valign-top">Port</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IMAP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>SSL/TLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>993</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>POP3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>SSL/TLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>995</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SMTP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>SSL/TLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>587</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Security via STARTTLS</h3>
<div class="paragraph">
<p>plentymarkets also provides STARTTLS in order to ensure compatibility with older email programs. <a href="#table-starttls-encryption">Table 3</a> explains the settings for STARTTLS encryption in the <strong>System » Client » Select client » Email » Access data</strong> menu.</p>
</div>
<table id="table-starttls-encryption" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Settings for STARTTLS encryption</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Server type</th>
<th class="tableblock halign-left valign-top">Server</th>
<th class="tableblock halign-left valign-top">Connection security</th>
<th class="tableblock halign-left valign-top">Port</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IMAP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>STARTTLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>143</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>POP3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>STARTTLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>110</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SMTP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>STARTTLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>25</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Unencrypted connection</h3>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Security not guaranteed</div>
<div class="paragraph">
<p>Unencrypted communication can be read by third parties. Unencrypted transmission does not meet current security standards.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="#table-unencrypted-connection">Table 4</a> explains the settings for unencrypted communication in the <strong>System » Client » Select client » Email » Access data</strong> menu.</p>
</div>
<table id="table-unencrypted-connection" class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Settings for unencrypted connections</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Server type</th>
<th class="tableblock halign-left valign-top">Server</th>
<th class="tableblock halign-left valign-top">Connection security</th>
<th class="tableblock halign-left valign-top">Port</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IMAP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>none</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>143</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>POP3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>none</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>110</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SMTP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.YOUR-DOMAIN.co.uk</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>none</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>25</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Saving the email signature</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>System » Client » Select client » Email » Signature</strong> to save the signature. The signature will then be automatically inserted into an email template.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Pay attention to the legal requirements</div>
<div class="paragraph">
<p>Please note the legal requirements that are in effect for your online store as to the content of an email signature, e.g. specifying the VAT number. Email signatures are required to include the same information as company business letters. Non-compliance can result in a fine or in a costly warning being issued by a competitor. If in doubt, ask a specialised solicitor.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Saving the email signature:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Signature</strong>.</p>
</li>
<li>
<p>Enter the text of your signature. Pay attention to the explanations given in the green box.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Formatting the signature by means of the HTML editor</div>
<div class="paragraph">
<p>You choose whether you save the text of your signature as <strong>plain text signature</strong> or <strong>HTML signature</strong>. If you want to format the text, it is recommended to enter the text in the <strong>HTML signature</strong> area. An integrated HTML editor is provided to assist you with editing and formatting.</p>
</div>
<div class="paragraph">
<p>Go to <strong>System » Settings » Editors</strong> and determine which editors should be available for certain areas in your plentymarkets system. Choose between <strong>Editor</strong>, <strong>Syntax editor</strong> and <strong>Text field</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Setting up the email information service</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>System » Client » Select client » Email » Info service</strong> menu, you have the possibility of sending a "blind copy" (BCC) of all emails sent by your plentymarkets system to an email address of your choice. This can be particularly helpful in the early stages of your online store, as it allows you to maintain an overview of all sent emails and recognise where processes can still be improved. You can, for example, also configure your settings so that you automatically receive an informational email for each order.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the email information service:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Info service</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-email-info-service">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-email-info-service" class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Setting up the email information service</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>All outgoing emails are sent as blind copies (BCC) to the email address entered in the next line</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether all outgoing emails are sent as BCC to one or multiple email addresses. The email addresses are entered in the next line.<br>
<strong>YES</strong> = The option is activated.<br>
<strong>NO</strong> = The option is deactivated (default setting).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Email address for blind copy</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the email address(es). If you enter multiple email addresses, separate them with commas and do not use spaces.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Deactivate blind copies (BCC) for the newsletter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether blind copies (BCC) should be sent for newsletters.<br>
Activate option = No blind copies are sent for newsletters.<br>
Deactivate option = Blind copies are sent for newsletters (default setting).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send notification to email address when a new order was received (next line)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether an email should be sent when an order is received. The email addresses are entered in the next line.<br>
<strong>YES</strong> = An email is sent when an order is received.<br>
<strong>NO</strong> = No email is sent (default setting).<br>
 <strong><em>Important:</em></strong> This function is not available for new orders on eBay. It is recommended instead to set up an <a href="/en/basics/automation/event-procedures">event procedure</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Email address</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the email address(es). If you enter multiple email addresses, separate them with commas and do not use spaces.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">5. Configuring the HTML design</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>System » Client » Select client » Email » HTML design</strong> menu to configure an HTML design for each client (store). The HTML design can then be linked to email templates. You can activate or deactivate the design separately for every email template.</p>
</div>
<div class="paragraph">
<p>Use this function to ensure that for example the letterhead including the logo of your company will automatically appear in all selected email templates. By doing so, it is no longer needed to insert the letterhead and the logo for each email template individually. If you make changes in this menu, you will change the design for all linked email templates.</p>
</div>
<div class="paragraph">
<p>If you wish to create your email templates without a centrally saved HTML design, proceed with the <a href="/en/crm/sending-emails#1200">Creating an email template</a> chapter.</p>
</div>
<div class="sect2">
<h3 id="900">5.1. Uploading the company logo to the image gallery</h3>
<div class="paragraph">
<p>You can adapt your email templates to the design of your online store, e.g. by inserting your company logo in the HTML design. First, you have to upload the logo to the image gallery. After you have created the email template, you insert the <a href="/en/crm/sending-emails#1750">logo in the HTML design</a> and <a href="/en/crm/sending-emails#1100">link</a> the design with this email template.</p>
</div>
<div class="paragraph instruction">
<p>Uploading the company logo to the image gallery:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Image gallery</strong>.</p>
</li>
<li>
<p>Click on the folder that you want to upload the logo to.<br>
→ Alternatively, create a new folder.</p>
</li>
<li>
<p>Upload the logo to the folder by clicking on <strong>Upload files</strong> or by using the drag &amp; drop function.<br>
→ The logo will be uploaded.</p>
</li>
<li>
<p>Click on the image.<br>
→ The window with the name of the image will open.</p>
</li>
<li>
<p>Copy the URL from the field <strong>Absolute URL</strong>.</p>
</li>
<li>
<p>Close the window.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about the image gallery, refer to the <a href="/en/omni-channel/online-store/setting-up-clients/cms#image-gallery">CMS</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="1000">5.2. Inserting template variables in the HTML design</h3>
<div class="paragraph">
<p>First, insert the template variables <strong>$EmailContentHTML</strong> and <strong>$SignatureHTML</strong> in the HTML design. After you have created the email template, <a href="/en/crm/sending-emails#1100">link</a> the HTML design with the email template.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Template variable $EmailContentHTML must be inserted</div>
<div class="paragraph">
<p>The template variable <strong>$EmailContentHTML</strong> must be inserted in the HTML design. Otherwise, the HTML design cannot be used.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Inserting template variables in the HTML design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » HTML design</strong>.</p>
</li>
<li>
<p>First, insert the template variables <strong>$EmailContentHTML</strong> and <strong>$SignatureHTML</strong> in the HTML design.<br>
→ <strong>$EmailContentHTML</strong> contains the content of the email. <strong>$SignatureHTML</strong> contains the signature.</p>
</li>
<li>
<p>Format the HTML design as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now create the email template as described in the following chapters. Afterwards, you insert the <a href="/en/crm/sending-emails#1750">logo in the HTML design</a> and <a href="/en/crm/sending-emails#1100">link</a> the design with the email template.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">6. Creating an email template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>System » Client » Select client » Email » Templates</strong> to create new email templates. The folder <strong>General email templates</strong> already contains preconfigured email templates. You can of course make changes to these templates.</p>
</div>
<div class="paragraph">
<p>You can define up to two attachments for each email template. Use email templates to automatically send your customers a PDF document that was generated in the <strong>Orders » Fulfilment</strong> menu, such as an invoice, as well as a document uploaded in the <strong>CMS » Documents</strong> menu, such as a brochure or instructions. For example, it would be useful to attach PDF documents of your cancellation rights and terms and conditions to the email template <strong>Confirmation of online store order</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Sending reversal document and invoice in one email template</div>
<div class="paragraph">
<p>The option <strong>Reversal document and new invoice</strong> has been added to the <strong>PDF attachment</strong> drop-down menu of an email template. If the order changes after the invoice has been created, you can send your customers both documents in one email.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Click on <strong>New email template</strong>.<br>
→ The <strong>New email template</strong> window will open.</p>
</li>
<li>
<p>Enter the name for the template.</p>
</li>
<li>
<p>Select an owner or the setting <strong>All</strong> from the drop-down menu <strong>Owner</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The email template will be created and saved in one of the three folders - depending on the selected setting in the <strong>Owner</strong> drop-down menu.</p>
</li>
<li>
<p>Carry out the remaining settings. Pay attention to the information given in <a href="#table-email-template">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-email-template" class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. Go to <strong>System » Client » Select client » Email » Templates</strong>.</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Tab: Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Owner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an owner or the setting <strong>All</strong>.<br>
<strong>All</strong> = The template will be saved under <strong>General email templates</strong>.<br>
Own user name = The template will be saved under <strong>My email templates</strong>.<br>
A different user = The template will be saved under <strong>Email templates from other users</strong>.<br>
<strong><em>Note</em></strong>: You have to be logged into your plentymarkets system as a user in order to create your own email templates under <strong>My email templates</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the name that you would like to save this template under. This name will not be displayed to the recipient.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Content</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether the content of the email template should be saved as <strong>plain text</strong> or in <strong>HTML format</strong>.<br>
<strong><em>Tip</em></strong>: Use text in HTML format. The link for order processing (template function <strong>Link_Checkout()</strong>) can be very long. Pure text emails can lead to line breaks that can damage the link.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select for which area the email template should be available. Possible options: <strong>All</strong> (default setting), <strong>Order</strong>, <strong>Customers</strong>, <strong>Online store</strong>, <strong>Ticket</strong> or <strong>Scheduler</strong>.<br>
<strong>All</strong> / <strong>Online store</strong> = The email template will be available for all areas.<br>
<strong>Order</strong> = The email template will only be available for the selected area. It will not be visible in the other areas. If the ticket is linked to an order, email templates with the template type <strong>Order</strong> can also be selected in the ticket.<br>
<strong>Customer</strong> = The email template will only be available for the selected area. It will not be visible in the other areas.<br>
<strong>Ticket</strong> = The email template will only be available for the selected area. It will not be visible in the other areas.<br>
<strong>Scheduler</strong> = The email template will be available for all areas where the template type <strong>Order</strong> is visible.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PDF attachment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an attachment. The documents that can be selected from this drop-down menu are for example generated in the <strong>Orders » Fulfilment</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Document attachment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Documents that were uploaded under <strong>CMS » Documents</strong> are displayed here. You can attach one of these documents to an email template.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reply to</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter an email address. If someone replies to the email template, then their message will be sent to this address. If no email address was entered, replies to the template will be sent to the email address that was saved under <a href="/en/crm/sending-emails#100">System » Client » Select client » Email » Access data</a>. For example, it is useful to enter the accounting department’s email address for the <strong>PDF invoice</strong> email template. Questions about the invoice would then directly be sent to your accounting department and wouldn’t have to be forwarded to them in an extra step.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Use design</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate if the content of the email should be sent with the design that was saved under <strong>System » Client » Select client » Email » HTML design</strong>. If the option is not activated, then only the content of the email will be used.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client (store)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate one, multiple or <strong>ALL</strong> clients (stores). The email template is only valid for the selected clients (stores).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Tab: Email message</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Select a language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The selected language is displayed here and can be changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subject</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the subject text. Choose the subject carefully so that the emails will be recognised by the email account and displayed in the customer’s inbox instead of his or her spam folder.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Content / Item list</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Insert the text or list of items in these tabs. Use <strong>plain text</strong> or text in <strong>HTML format</strong>. Template variables and template functions can be used to display the content.<br>
<strong><em>Note</em></strong>: Check which type of content was selected in the <strong>Settings</strong> tab under <strong>Content</strong>. Enter the text of the email into this corresponding tab. For example, if <strong>Plain text only</strong> is selected but you entered content into the <strong>Text in HTML format</strong> tab, then this content will not be sent in the email.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Use text in HTML format</div>
<div class="paragraph">
<p>plentymarkets recommends that you use text which was formatted with HTML since the link for processing orders can be very long. Pure text emails can lead to line breaks that can damage the link. Furthermore, if you use HTML-formatted text, you have the possibility to format the text by means of the integrated HTML editor.</p>
</div>
<div class="paragraph">
<p>Go to <strong>System » Settings » Editors</strong> and determine which editors should be available for certain areas in your plentymarkets system. Choose between <strong>Editor</strong>, <strong>Syntax editor</strong> and <strong>Text field</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1300">6.1. Using template variables and template functions</h3>
<div class="paragraph">
<p>Template variables and template functions can be used in email templates. In place of the variable or the function, your plentymarkets system will automatically display the content that this variable or function represents. In this way, only the content will be displayed in the email. If you use the <a href="/en/crm/using-the-ticket-system#4800">ticket system</a>, then some template variables can also be used as assignment parameters.</p>
</div>
<div class="paragraph">
<p>Open an email template in the <strong>System » Client » Select client » Email » Templates</strong> menu to display a list of all template variables and template functions that are available for your email templates.</p>
</div>
<div class="paragraph">
<p>For an overview of the template variables and template functions for email templates, refer to the <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#email-email">Email</a> chapter on the <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax">CMS syntax</a> page of the manual. For general information about template variables and template functions, refer to the <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#basics">*Basics</a> section.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Inserting the link to the checkout in the email template</div>
<div class="paragraph">
<p>If possible, every email that is sent to a customer should include a link to the checkout. The customer can use this link to look at the current status of his or her order any time. Insert the template function <strong>Link_Checkout()</strong> in the email template.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1400">6.2. Configuring the display of stock units</h3>
<div class="paragraph">
<p>You can individually configure the way that the stock unit lines are structured for each email template and language. <a href="/en/crm/sending-emails#1500">If queries</a> can also be used for the configuration of stock units. If you do not configure how the stock units should be displayed, then plentymarkets will display a standard list of the stock units.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the display of stock units:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Open the template.</p>
</li>
<li>
<p>Click on the <strong>Email message</strong> tab.<br>
→ The <strong>Content</strong> tab will be displayed.</p>
</li>
<li>
<p>Insert the template variable <strong>$ItemListHTML</strong> in the tab <strong>Text in HTML format</strong> or the template variable <strong>$ItemListPlain</strong> in the tab <strong>Plain text</strong> in the email’s <strong>Content</strong> tab. Position the template variable where you would like the stock units to be displayed.</p>
</li>
<li>
<p>Copy the template variables that you need for the stock units and insert them into the <strong>Item list</strong> tab. The template variables can be copied from the overview.<br>
​→ To help with the formatting, for example, you can insert tabs that you copied from a text program between the template variables.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Example: Displaying stock units</p>
</div>
<div class="paragraph">
<p>Insert the template variables to display the item ID (<strong>$ItemID</strong>), the item name (<strong>$ItemName</strong>) and the item price (<strong>$ItemPrice</strong>) of the stock units. The display begins with a hyphen. This is used at the start of each new line, even if multiple stock units are shown. In order for the display to "work" on multiple lines, insert a line break at the end of the line by pressing Enter.</p>
</div>
<div class="paragraph">
<p>How you open the preview in order to check the email template is described in the <a href="/en/crm/sending-emails#1600">Checking the email template using the preview function</a> chapter.</p>
</div>
</div>
<div class="sect2">
<h3 id="1500">6.3. Using if queries in email templates</h3>
<div class="paragraph">
<p>You can use if queries in email templates to display specific information on a case-by-case basis. For example, you can save a code that causes bank details to only be displayed in the email to the customer if cash in advance (ID = 0) was selected as the payment method.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; if $MethodOfPaymentID==0 &#37;&#125;

B A N K   D E T A I L S:

Please use the following bank details when paying with cash in advance:

Bank: Your bank
Bank code: 12345678
Account number: 0123456789
Account holder: John Doe

PLEASE ENTER THE FOLLOWING INFORMATION AS THE DESIGNATED USE:

ID $OrderID CUSTOMER $CustomerID

International Account Data

IBAN: DE 31245678954621487954
Swift: BIC WERTIUANEBQJ

&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#basics-if">if queries</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="1600">6.4. Checking the email template using the preview function</h3>
<div class="paragraph">
<p>Use the email preview function to check whether your email template meets your requirements. In particular, you should check to make sure that the link for order processing works correctly. Proceed as follows to open the preview of the email template.</p>
</div>
<div class="paragraph instruction">
<p>Checking the email template using the preview function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Click on the <strong>Email</strong> tab.</p>
</li>
<li>
<p>Select the language from the <strong>Select a language</strong> drop-down menu in the <strong>Email templates</strong> tab.</p>
</li>
<li>
<p>Click on the tab where your email template is saved: <strong>General email templates</strong>, <strong>My email templates</strong> or <strong>Email templates from other users</strong>.</p>
</li>
<li>
<p>Activate the email template.</p>
</li>
<li>
<p>Click on <strong>Preview</strong>.<br>
→ The <strong>Email preview</strong> window will open.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">6.5. Editing the email template</h3>
<div class="paragraph">
<p>You can edit general email templates, your own email templates and email templates of other users. Go to <strong>System » Client » Select client » Email » Templates</strong> to edit email templates.</p>
</div>
<div class="paragraph instruction">
<p>Editing the email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Click on the folder where the email template that you want to edit is saved.</p>
</li>
<li>
<p>Click on the email template.<br>
→ The <strong>Settings</strong> tab of the email template will open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-email-template">Table 6</a> in the <a href="/en/crm/sending-emails#1200">Creating an email template</a> chapter.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Check email template after every change</div>
<div class="paragraph">
<p>You should use an order’s email service to check every change that is made to a template. In particular, you should check to make sure that the link for order processing works correctly. To do so, proceed as described in the <a href="/en/crm/sending-emails#1600">Checking the email template using the preview function</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1750">7. Inserting the company logo in the HTML design</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the next step, you insert the logo via an image link in the HTML design of an already created email template. Proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Inserting the company logo in the HTML design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Open the email template which you want to insert the logo in.</p>
</li>
<li>
<p>Click on the <strong>Email message</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Text in HTML format</strong> tab within the <strong>Content</strong> tab.</p>
</li>
<li>
<p>Select the <strong>Editor</strong> from the top right drop-down menu.<br>
→ Two toolbars to format the text will be displayed.</p>
</li>
<li>
<p>Click on <strong>Image</strong> in the toolbar.<br>
→ The <strong>Image properties</strong> window will open.</p>
</li>
<li>
<p>Paste the absolute URL that you have just copied from the image gallery in the field <strong>URL</strong>.</p>
</li>
<li>
<p>Click on <strong>OK</strong>.<br>
→ The logo will be displayed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">8. Linking the HTML design with an email template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>. Carry out the following settings to link the HTML design with an email template. Make sure that the content of the email template is saved in the <strong>Text in HTML format</strong> tab. Save the content there if it was not saved already. This content will be displayed with the template variable <strong>$EmailContentHTML</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Linking the HTML design with the email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Select the email template from the folder.</p>
</li>
<li>
<p>Select the option <strong>Only text in HTML format</strong> from the drop-down menu in the <strong>Content</strong> line.</p>
</li>
<li>
<p>Activate the option <strong>Use design</strong>.</p>
</li>
<li>
<p>Enter a subject in the <strong>Email message</strong> tab.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">9. Sending emails</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to send emails, user data has to be saved in the <a href="/en/basics/working-with-plentymarkets/manage-users#10">System » Settings » User » Accounts</a> menu. This data can be received from your provider and corresponds to the data that is saved in your email program.</p>
</div>
<div class="sect2">
<h3 id="1900">9.1. Sending ticket messages and comments as emails</h3>
<div class="paragraph">
<p>An email account must be saved in the <a href="/en/crm/using-the-ticket-system#2100">System » CRM » Ticket system » Email accounts</a> menu in order for messages and comments to be sent as emails. You also have to set up an email template that displays the last ticket message or comment. This email template has to be linked to an <a href="/en/crm/using-the-ticket-system#2900">event procedure</a> in order for messages and comments to be sent via email. For further information, refer to the <a href="/en/crm/using-the-ticket-system#2100">Using the ticket system</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="2000">9.2. Sending coupons via email</h3>
<div class="paragraph">
<p>You can send coupons and coupon codes via email. Simply attach them to emails as PDF files. For further information, refer to the chapters <a href="/en/order-processing/orders/coupons#100">Inserting coupon codes directly into emails</a> and <a href="/en/order-processing/orders/coupons#140">Configuring coupon templates</a> on the <a href="/en/order-processing/orders/coupons">Coupons</a> page of the manual.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2300">10. Setting up automatic emails</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>System » Client » Select client » Email » Automatic</strong> menu contains various events that can be linked with an email template. Select the email template that you have previously <a href="/en/crm/sending-emails#1200">created</a> in the <strong>System » Client » Select client » Email » Templates</strong> menu from the drop-down menu. This will ensure that the email template will be sent to your customer once the event occurs.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Removing the link before deleting the email template</div>
<div class="paragraph">
<p>Deleting an email template that is linked with an event in the <strong>Automatic email</strong> section may lead to undesired effects. Therefore, first go to <strong>System » Client » Select client » Email » Automatic</strong> and remove the link by selecting the option <strong>Do not send</strong> from the drop-down menu in the line of the event. Afterwards, you can delete the email template in the <strong>System » Client » Select client » Email » Templates</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up automatic emails:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Automatic</strong>.</p>
</li>
<li>
<p>Select an email template from the drop-down menu in the line of the event. Pay attention to the information given in <a href="#table-events-automatic-email">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Edit email template</strong>. This will open the email template in the <strong>System » Client » Select client » Email » Templates</strong> menu. You can <a href="/en/crm/sending-emails#1700">edit</a> the email template there.</p>
</div>
<div class="paragraph">
<p><a href="#table-events-automatic-email">Table 7</a> lists explanations of some of the events.</p>
</div>
<table id="table-events-automatic-email" class="tableblock frame-all grid-all spread">
<caption class="title">Table 7. Explanations of some events in the <strong>System » Client » Select client » Email » Automatic</strong> menu</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>New order from online store</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customers receive an email including the order confirmation after the purchase has been completed in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send customer email to change password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customers receive an email with a link to the new password. The link must be actively confirmed. The template function <strong>&#123;&#37; Link_ChangePassword() &#37;&#125;</strong> must be included in the email template.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Newsletter opt-in</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customers receive an email when they have registered for the newsletter. The email template should include the confirmation link that the customers have to click in order to complete the newsletter registration process.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Newsletter opt-in confirmation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customers receive a confirmation email once they have activated the confirmation link that was sent with the email template for the <strong>Newsletter opt-in</strong> event.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reminder in case of aborted purchase</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customers receive a reminder email that one or multiple items are in the shopping cart, but the purchase has not been completed yet. It also makes sense for the email template to include a link to the shopping cart. Customers can then click on this link to complete their purchase. Simply insert your online store’s URL with the suffix <strong>/basket/</strong> (example: <strong><a href="https://myshop.co.uk/basket/" class="bare">https://myshop.co.uk/basket/</a></strong>).<br>
The only requirement is that potential buyers were registered and logged into your online store. Otherwise the email address will not be available and the email template cannot be sent automatically.<br>
<strong><em>Important</em></strong>: Due to missing previous consent of the recipient, this kind of emailing can be considered to be unsolicited message (spam). Therefore, it is recommended to ask a specialised solicitor.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tell-A-Friend</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This event sends an email with the link to an item from the online store as a recommendation to an email address that the customers have entered in the Tell-A-Friend form in the online store.<br>
<strong><em>Important</em></strong>: Due to missing previous consent of the recipient, this kind of emailing can be considered to be unsolicited message (spam). Therefore, it is recommended to ask a specialised solicitor.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Registration for sweepstakes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customers that have registered for the sweepstake receive a confirmation email.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Email when item becomes available</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customers receive an email containing the information that a certain item is available again. Beforehand, the customers have entered their email address directly next to the item that could not be delivered at that time.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div id="2350" class="paragraph subhead">
<p>Setting up an automatic email taking a new order on eBay as an example</p>
</div>
<div class="paragraph">
<p>An order will automatically be created in plentymarkets after a customer has purchased an item on eBay. If you have <a href="/en/crm/sending-emails#1200">created</a> the email template "Order confirmation eBay" for example and selected this template from the drop-down menu for the event <strong>New order from eBay</strong> in the <strong>System » Client » Select client » Email » Automatic</strong> menu, an email will automatically be sent to the customer. The following green box contains an example text for the email template.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example email template that should be sent after a purchase is made on eBay</div>
<div class="paragraph">
<p>Dear $CustomerFullName,</p>
</div>
<div class="paragraph">
<p>Congratulations on winning the auction!</p>
</div>
<div class="paragraph">
<p>In order to keep the checkout process as simple as possible, please click on the following link or copy and paste it into the address line of your browser.</p>
</div>
<div class="paragraph">
<p>In the checkout area, you will be able to view and make changes to your personal data as well as view our bank information. When making a bank transfer, always specify the designated use that is saved in this area.</p>
</div>
<div class="paragraph">
<p>Link_Checkout()</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Along with the automatic email, the customer can also be sent a message via the eBay messaging system. Go to <strong>System » Markets » eBay » Settings » Tab: Account settings » Tab: Message after purchase</strong> and save the text. For further information, refer to the <a href="/en/omni-channel/multi-channel/ebay#1500">Sending messages after purchase</a> chapter on the <a href="/en/omni-channel/multi-channel/ebay">Setting up eBay</a> page of the manual.</p>
</div>
<div id="2310" class="paragraph subhead">
<p>Setting up an event procedure</p>
</div>
<div class="paragraph">
<p>It is also possible to set up event procedures in the <strong>System » Orders » Events</strong> menu. Define an event, activate one or more filters and decide which procedures your plentymarkets system should carry out automatically when the event occurs. For example, you can use filters to trigger a procedure once a customer has placed a certain number of orders. The procedure could be sending an email that includes a gift card. For further information, refer to the <a href="/en/basics/automation/event-procedures">Event procedures</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2500">11. Displaying sent email templates for each customer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Orders » Edit orders » Tab: Email » Tab: Emails sent</strong>. There you can display all email templates that you have ever sent to the customer. Please note that only those email templates that are linked to a unique customer ID will be displayed in this tab.</p>
</div>
<div class="paragraph instruction">
<p>Displaying sent email templates for each customer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Click on the <strong>Email</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Emails sent</strong> tab.<br>
→ The date, time, email address of the recipient, ID and name of the template as well as the order ID are displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Expand the area <strong>Other emails sent to this customer…​</strong> to display all emails that have been sent to the customer. Here you can also see those emails that were sent to the customer from another order. Click on the order ID on the right-hand side. The order overview of the order will open in a separate tab.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2600">12. Displaying all sent email templates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Start » Statistics</strong> to create a new statistic. Select the statistic type <strong>Sent email templates</strong> in the <strong>Orders</strong> section. This statistic shows information about the emails sent with your plentymarkets system according to the ID and the name of the email template. This statistical feedback is made for each date within the selected time span. The standard setting of the time span is the last 30 days. You can also adapt the time span or select a starting date and an ending date.</p>
</div>
<div class="paragraph">
<p>In this statistic, you can see for example which email template was used during the selected time period. This helps you to easily recognise which processes were carried out on a regular basis. For further information, refer to the <a href="/en/basics/statistics#40">Statistics</a> page of the manual.</p>
</div>
</div>
</div>
</main>