<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Master data</h1><div class="paragraph">
<p>Save important information about your company in the <strong>Settings » Basic settings » Master data</strong> menu. Here you can save your company address and contact data as well as your VAT number.</p>
</div><div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Users will be logged out when changes are made</div>
<div class="paragraph">
<p>Whenever you carry out changes in this menu and click on the save icon, other users will be logged out automatically and will need to log in again. This ensures that the changes will also apply to the other user profiles. Therefore, it is recommended that you announce changes in advance.</p>
</div>
</td>
</tr>
</tbody></table>
</div><div class="paragraph">
<p>The master data that you save in this menu will be linked within the entire system. If you ever need to correct this information, then you only have to make changes in this one menu and the changes will go into effect for the entire system.</p>
</div><table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Hotline</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the hotline number<br>
If you don’t have a specific hotline number, then enter the telephone number again. This is because the template variable <strong>$CompanyHotline</strong> will display this number in various places throughout the system, e.g. in the standard layout of the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Where is the company based (for financial accounting purposes)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the country where the company’s head office is located. The country that is selected here will also be used as the <strong>default country</strong> in customer data records.<br>
The drop-down menu includes all of the countries that are available throughout the system.<br>
<em><strong>Important</strong></em>: If the country changes, then go to <a href="/en/order-processing/orders/_accounting#2"><strong>Settings » Client (store) » Standard » Accounting</strong></a> and save a configuration for the new country as well.</p>
</div></div></td>
</tr>
</tbody>
</table><div class="paragraph">
<p><em>Table 1: settings in the menu <strong>Master data</strong></em></p>
</div><div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Changing contract information</div>
<div class="paragraph">
<p>Making changes to this master data will not have any effect on the customer information that is saved in your contract with plentymarkets, e.g. for billing purposes! This information can be changed in the menu <strong>Start » plentymarkets account » Service center</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Data is included in store templates</div>
<div class="paragraph">
<p>All of the fields that were configured here can be displayed with template variables e.g. in e-mail templates and in the online store. Some of these template variables are included in these areas by default.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</main>