<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Purchasing plugins</span></a></li>
<li><a href="#20"><span>2.</span><span> Mananging Plugin Sets</span></a></li>
<li><a href="#30"><span>3.</span><span> Creating Plugin Sets</span></a></li>
<li><a href="#40"><span>4.</span><span> Editing Plugin Sets</span></a></li>
<li><a href="#50"><span>5.</span><span> Deleting Plugin Sets</span></a></li>
<li><a href="#60"><span>6.</span><span> Previewing Plugin Sets</span></a></li>
<li><a href="#70"><span>7.</span><span> Activating Plugin Sets</span></a></li>
<li><a href="#80"><span>8.</span><span> Searching for specific plugins</span></a></li>
<li><a href="#90"><span>9.</span><span> Managing Plugins</span></a></li>
<li><a href="#110"><span>10.</span><span> Adding own plugins</span></a></li>
<li><a href="#120"><span>11.</span><span> Editing plugins</span></a></li>
<li><a href="#130"><span>12.</span><span> Viewing the plugin log</span></a></li>
<li><a href="#140"><span>13.</span><span> Git based version control</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>13.1.</span><span> Example workflow</span></a></li>
<li><a href="#160"><span>13.2.</span><span> Updating an Inbox repository</span></a></li>
<li><a href="#170"><span>13.3.</span><span> Retrieving commit information</span></a></li>
<li><a href="#180"><span>13.4.</span><span> Setting the Inbox repository to a different commit</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Manage and deploy plugins that you purchased on the <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> or your own developed plugins in the <strong>Plugins</strong> menu. Install new plugins, change the state of existing plugins or delete plugins. Find out how to create your own plugins on <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Plugin functionalities are extended continuously</div>
<div class="paragraph">
<p>The plentymarkets plugin module and the possibilities for editing plugins are extended continuously. The number of available plugins will increase over time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Purchasing plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>plentyMarketplace</strong> is our platform for distributing software extensions for plentymarkets developed by plentymarkets or external authors. This platform makes plugins easily accessible and ensures that you can benefit from the advantages the new technology offers. Proceed as described below to purchase a plugin.</p>
</div>
<div class="paragraph instruction">
<p>Purchasing a plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>Click on <strong>Login</strong>.</p>
</li>
<li>
<p>Enter your email address or your plentyID.<br>
→ Use your access data that you also use for the service center.</p>
</li>
<li>
<p>Enter your password.</p>
</li>
<li>
<p>Click on <strong>Login</strong>.</p>
</li>
<li>
<p>Select a plugin from a category.</p>
</li>
<li>
<p>Click on <strong>Buy plugin</strong> in the detail view of the plugin.<br>
→ The checkout window will open.<br></p>
</li>
<li>
<p>Accept the terms and conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ The purchased plugin is now available in the <strong>Plugins » Purchases</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Mananging Plugin Sets</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Managing Plugin Sets:</p>
</div>
<div class="paragraph">
<p>What is a Plugin Set?<br>
A Plugin Set is a named container for plugins.<br>
It can contain one or more plugins.<br>
It contains plugin configurations and layout containers.<br>
It can be activated for one or more webstores.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Creating Plugin Sets</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Creating Plugin Sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The window <strong>Create a plugin set</strong> will open.</p>
</li>
<li>
<p>Enter the name for the Plugin Set.</p>
</li>
<li>
<p>You can copy an existing Plugin Set by clicking on <strong>Copy Plugin Set</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Editing Plugin Sets</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Editing Plugin Sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Edit</strong> on one of the Plugin Sets.<br>
→ The window <strong>Edit Plugin Set</strong> will open.</p>
</li>
<li>
<p>Edit the name of the Plugin Set.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Deleting Plugin Sets</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Deleting Plugin Sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> on one of the Plugin Sets.<br>
→ The window <strong>Delete Plugin Set</strong> will open.</p>
</li>
<li>
<p><strong>Confirm</strong> the deletion.<br>
→ The Plugin Set is deleted.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Previewing Plugin Sets</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Previewing Plugin Sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on one of the Plugin Sets.<br>
→ The window <strong>Plugin set details</strong> will open.</p>
</li>
<li>
<p>Click on <strong>Plugin set preview</strong>.</p>
</li>
<li>
<p>Select the online store you would like to preview.<br>
→ The chosen online store and Plugin Set are displayed in a new browser tab.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Activating Plugin Sets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activating a Plugin Set for an online store will publish all plugins in the Plugin Set. This will take effect immediately.<br>
Make sure the chosen Plugin Set is thoroughly tested and previewed beforehand.</p>
</div>
<div class="paragraph instruction">
<p>Activating Plugin Sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Activate Plugin Set</strong>.<br>
→ The window <strong>Activate Plugin Set</strong> will open.</p>
</li>
<li>
<p>Select a Plugin Set for each webstore.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Searching for specific plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To search for specific plugins, you can set a filter. It is possible to filter by name, source, installed or non-installed and active or inactive plugins.</p>
</div>
<div class="paragraph instruction">
<p>Searching for specific plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Select a filter.</p>
</li>
<li>
<p>Enter the name of the plugin or select one of the options given in the drop-down menu.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The desired plugins are displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">9. Managing Plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Plugins » Plugin overview</strong>, click on the Plugin Set you would like to manage.<br>
The plugins listed in the view contain the following information:</p>
</div>
<table id="table-plugin-overview" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Table view of the menu <strong>Plugins&nbsp;» Plugin overview</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows whether the plugin is active or inactive.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the plugin</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Version installed</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The version of the plugin is installed, but not active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Version active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The version of the plugin is active and will be loaded in the frontend and backend.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The plugin source, e.g., <strong>Git</strong> or <strong>plentyMarketplace</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Action</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update</strong>: If an update is available, you can update the plugin to the latest version.<br>
 <strong>Position</strong>: Defines the load order of plugins. If a plugin doesn’t work properly, it might help to change the position to a higher number.<br>
 <strong>Delete</strong>: Deletes the plugin from the Plugin Set.<br>
 <strong>Install</strong>: Installs the plugin.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">10. Adding own plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As an alternative to the plentyMarketplace, you can add your own plugins to the inbox of your plentymarkets system. Proceed as described below to copy a plugin repository managed via <a href="/en/basics/first-steps/plugins#90">Git versioning</a> to the plentymarkets Inbox and manage it in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p>Add a Git repository to your plentymarkets inbox to benefit from version control and to deploy Git-based repositories. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adding a Git repository to the plentymarkets Inbox:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Click on <strong>New plugin</strong>.<br>
→ The <strong>Settings</strong> window is displayed.</p>
</li>
<li>
<p>Enter the login details of the Git repository. Pay attention to the explanations given in <a href="#table-add-git-plugins">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Test connection</strong>.<br>
→ The connection to the Git repository is verified and established.</p>
</li>
<li>
<p>Select the branch of the repository from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The plugin repository is copied to the plentymarkets Inbox and plugin is added to the list.<br>
→ The plugin is added to the <strong>Git</strong> menu.</p>
</li>
</ol>
</div>
<table id="table-add-git-plugins" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Adding Git plugins</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remote URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Git repository’s URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter user name. The user name is part of the user data of the hosting provider (e.g. GitHub) of your Git repository. The user data is only required for adding private repositories. When adding a public repository, enter a value into the field, e.g. <strong>Guest</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter password. The password is part of the user data of the hosting provider (e.g. GitHub) of your Git repository. The user data is only required for adding private repositories. When adding a public repository, enter a value into the field, e.g. <strong>Guest</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test connection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verify and establish connection to Git repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Branch (deprecated)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Becomes selectable after the connection to the Git repository is established by clicking on <strong>Test connection</strong>. Select the branch to be copied to the plentymarkets Inbox.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auto fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to retrieve changes pushed to the Git repository automatically. The changes are retrieved and shown in the commit list, but not merged.<br>
<em><strong>Note</strong></em>: The autofetch function can reduce performance slightly.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">11. Editing plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugin files can be edited directly in the plentymarkets Inbox. Which files you can edit depends on the plugin type. Proceed as described below to edit plugin files.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Users with no programming or layout experience</div>
<div class="paragraph">
<p>Do not edit the plugin files yourself if you do not have programming and/or layout experience. We recommend that you work with one of our partners to customise layout plugins.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Editing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Plugin overview</strong>.</p>
</li>
<li>
<p>Double click on the plugin.<br>
→ The plugin detail view will open in which you can edit the plugin files.</p>
</li>
<li>
<p>Carry out the changes as desired.</p>
</li>
<li>
<p><strong>Save</strong> the changes.</p>
</li>
<li>
<p>For plugins that are linked to a Git repository, push the changes from the <strong>Git</strong> menu.</p>
</li>
<li>
<p>Deploy active plugins again to publish the changes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="130">12. Viewing the plugin log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Find a history of plugin deployment processes in the plugin log. Each process is listed individually. Detailed information about the last process is displayed in the <strong>Result</strong> column in case the plugin deployment failed. Plugin logs for the preview mode <strong>Stage</strong> and the productive mode <strong>Productive</strong> are listed individually.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the plugin log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Plugin log (Stage)</strong> or <strong>Plugin log (Productive)</strong>.<br>
→ The plugin log will open.</p>
</li>
<li>
<p>In the line of the latest process, click on the <strong>More</strong> button.<br>
→ The detailed log view will open.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="140">13. Git based version control</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Plugins&nbsp;» Git</strong> menu provides a basic Git client. This allows you to version control plentymarkets plugins. plentymarkets version control is based on the distributed version control system <a href="https://git-scm.com/" target="_blank" rel="noopener">Git</a>. Git allows you to manage changes made to plugin files by yourself or other users in a Git repository.</p>
</div>
<div class="paragraph">
<p>Version control offers the following advantages:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Logging: Changes are logged in commits and can be reviewed at any time.</p>
</li>
<li>
<p>Recovery: Every version of every file can be recovered. This means that changes can be reverted at any time.</p>
</li>
<li>
<p>Cooperation: Several users can work on the same repository simultaneously.</p>
</li>
<li>
<p>Troubleshooting: Errors can be located and corrected more quickly.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Terminology</div>
<div class="paragraph">
<p>Many plentymarkets users are familiar with other Git clients with an English user interface. Therefore, the <strong>Plugins&nbsp;» Git</strong> menu is only available in English now. The terminology used in the plentymarkets Git client is based on that used by GitHub. Check the <a href="https://help.github.com/articles/github-glossary/" target="_blank" rel="noopener">GitHub glossary</a> for definitions.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="150">13.1. Example workflow</h3>
<div class="paragraph">
<p>If you are not familiar with Git or similar distributed version control systems, familiarise yourself with the basic concepts of version control before working with the plentymarkets Git client. The <a href="https://help.github.com/categories/bootcamp/" target="_blank" rel="noopener">GitHub Bootcamp</a> offers a good introduction to version control. To help you understand version control in plentymarkets and to get you started, a basic workflow using Git is described below. This can serve as a model for your own workflows.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create a Git repository.</p>
</li>
<li>
<p>Save a local copy of the Git repository on your local drive.</p>
</li>
<li>
<p>Edit repository files on your local drive. Where applicable, copy any changes made by other users from the Git repository to the version history of your local repository.</p>
</li>
<li>
<p>Push local changes to the Git repository.</p>
</li>
<li>
<p>Copy the Git repository to the plentymarkets Inbox from the <strong>Plugins&nbsp;» Git</strong> menu.</p>
</li>
<li>
<p>Install the plugin in the plugin overview.</p>
</li>
<li>
<p>Make any corrections on your local drive and repeat the process described.</p>
</li>
<li>
<p>Activate the finalised plugin.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="160">13.2. Updating an Inbox repository</h3>
<div class="paragraph">
<p>Proceed as described below to copy the current version of a Git repository by either <strong>fetching</strong> or <strong>pulling</strong> it to your Inbox repository.</p>
</div>
<div class="paragraph instruction">
<p>Copying a Git repository to the Inbox repository:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Click on the repository.</p>
</li>
<li>
<p>Select either <strong>Fetch</strong> or <strong>Pull</strong>. Pay attention to the explanations given in <a href="#table-fetch-pull">Table 3</a>.<br>
→ The new commits are displayed in the commit list.</p>
</li>
</ol>
</div>
<table id="table-fetch-pull" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Fetch vs Pull</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieves the latest commits from the Git repository and saves them without merging them into the Inbox repository. The current version of the repository files in the Inbox remains unchanged. Any changes you made without committing them to the Git repository will not be overwritten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronises the Inbox repository with the Git repository. The current version of the repository files in the Inbox is overwritten with the current version of the Git repository. Any changes you made to the Inbox repository without pushing them to the Git repository will be overwritten after you confirm your selection.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="170">13.3. Retrieving commit information</h3>
<div class="paragraph">
<p>A list of all the commits of a repository are shown in the <strong>Plugins&nbsp;» Git</strong> menu. The commit that corresponds to the current version of the repository is shown with a check mark. <a href="#table-git-management">Table 4</a> explains the view:</p>
</div>
<table id="table-git-management" class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Git management</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieves commits from the Git repository but does not merge these changes into the Inbox repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieves commits from the Git repository and merges these changes into the Inbox repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull to Stage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deprecated</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull to Productive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deprecated</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Push</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Publishes the changes made to the Inbox repository to the Git repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/basics/first-steps/plugins#45">Connection settings</a> of the repository</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Uncommitted changes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible if changes were made to the Inbox repository that have not been pushed to the Git repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Commit message that was entered to describe this commit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the commit. Automatically assigned by the system; ID cannot be edited.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Information</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Detailed commit information:<br>
<strong>Author</strong> = Name of the commit’s author.<br>
<strong><em>Tip:</em></strong> Link the author’s email address to <a href="https://en.gravatar.com/" target="_blank" rel="noopener">Gravatar</a> (optional). For authors without Gravatar, the Gravatar logo is displayed to the right.<br>
<strong>Commit ID</strong> = ID of the commit. Automatically assigned by the system; ID cannot be edited.<br>
<strong>Parent ID</strong> = ID of the previous commit, i.e. of the commit that was modified to create this commit.<br>
<strong>Description</strong> = Complete commit message.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Author</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the user who saved the commit to the Git repository. This is the user name saved in the Git based version control system (e.g. GitHub, Bitbucket).<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date on which the commit was merged into the Git repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Files</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the files that were changed in this commit. Click on the file name to view the changes.<br>
Red = Deletions<br>
Green = Additions<br>
If more than one file was changed, click on a different file in the list <strong>File</strong> to view the changes made to that file.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="180">13.4. Setting the Inbox repository to a different commit</h3>
<div class="paragraph">
<p>Your Inbox contains all versions of the repository that were saved in commits. You can set the Inbox files of a repository to any commit in the commit list. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting the Inbox repository to a different commit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Click on the repository.<br>
→ The commit that the repository is currently using is shown with a check mark.<br>
→ A list of all commits is displayed.</p>
</li>
<li>
<p>Click on the commit you want to set the repository to.<br>
→ In the <strong>File</strong> area to the left, a list of the files changed in this commit are displayed. In the bottom right corner, the changes made to the file are displayed. If more than one file was changed, click on a different file in the list <strong>File</strong> to view the changes made to that file.</p>
</li>
<li>
<p>Use your mouse to right-click on the commit.</p>
</li>
<li>
<p>Click on <strong>Set to selected commit</strong>.<br>
→ The files of the Inbox repository will be set to this version.</p>
</li>
<li>
<p>Deploy the plugins again in Stage or Productive.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>