<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Purchasing plugins</span></a></li>
<li><a href="#20"><span>2.</span><span> Installing plugins</span></a></li>
<li><a href="#30"><span>3.</span><span> Managing plugins</span></a></li>
<li><a href="#40"><span>4.</span><span> Adding own plugins</span></a></li>
<li><a href="#50"><span>5.</span><span> Deploying plugins</span></a></li>
<li><a href="#60"><span>6.</span><span> Updating plugins</span></a></li>
<li><a href="#70"><span>7.</span><span> Editing plugins</span></a></li>
<li><a href="#80"><span>8.</span><span> Deleting plugins</span></a></li>
<li><a href="#90"><span>9.</span><span> Viewing the plugin log</span></a></li>
<li><a href="#100"><span>10.</span><span> Git based version control</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>10.1.</span><span> Example workflow</span></a></li>
<li><a href="#120"><span>10.2.</span><span> Updating an Inbox repository</span></a></li>
<li><a href="#130"><span>10.3.</span><span> Retrieving commit information</span></a></li>
<li><a href="#140"><span>10.4.</span><span> Setting the Inbox repository to a different commit</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Manage and deploy plugins that you purchased on the <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener"><strong>plentyMarketplace</strong></a> or your own developed plugins in the <strong>Plugins</strong> menu. Install new plugins, change the state of existing plugins or delete plugins. Find out how to create your own plugins on <strong><a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a></strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Plugin functionalities are extended continuously</div>
<div class="paragraph">
<p>The plentymarkets plugin module and the possibilities for editing plugins are extended continuously. The number of available plugins will increase over time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Purchasing plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketpace</a></strong> is the new platform for distributing software extensions for plentymarkets developed by plentymarkets or external authors. This platform makes plugins easily accessible and ensures that you can benefit from the advantages the new technology offers. Proceed as described below to purchase a plugin.</p>
</div>
<div class="paragraph instruction">
<p>Purchasing a plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong><a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a></strong>.</p>
</li>
<li>
<p>Click on <strong>Login</strong>.</p>
</li>
<li>
<p>Enter the user name and password.<br>
→ Use your access data that you also use for the service center.</p>
</li>
<li>
<p>Click on <strong>Login</strong>.</p>
</li>
<li>
<p>Select a plugin from a category.</p>
</li>
<li>
<p>Click on <strong>Buy plugin</strong> in the detail view of the plugin.<br>
→ The <strong>Checkout</strong> window will open.</p>
</li>
<li>
<p>Accept the terms and conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ The purchased plugin is now available in the <strong>Plugins&nbsp;» Purchases</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Installing plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After purchasing a plugin on plentyMarketplace, the plugin will be available in the <strong>Plugins&nbsp;» Purchases</strong> tab where it can be installed.</p>
</div>
<div class="paragraph instruction">
<p>Installing a plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Purchases</strong>.<br>
→ All plugins purchased on plentyMarketplace will be displayed here.</p>
</li>
<li>
<p>Click on <strong>Install plugin</strong> in the line of the plugin.<br>
→ The <strong>Install plugin</strong> window will open.</p>
</li>
<li>
<p>Select the plugin version from the drop-down menu.<br>
→ The newest plugin version is pre-selected.</p>
</li>
<li>
<p>Click on <strong>Install</strong>.<br>
→ The plugin will be installed and available in the plugin overview.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Managing plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Plugins&nbsp;» Plugin overview</strong> menu lists the plugins of the plentymarkets Inbox. In the card view the plugins are displayed in the form of cards. A plugin card contains the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Status</p>
</li>
<li>
<p>Available updates</p>
</li>
<li>
<p>Icon</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Version</p>
</li>
<li>
<p>Source</p>
</li>
<li>
<p>Author</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>As an alternative to the card view, you can switch to the table view. The following table explains the information displayed in the columns of this table view.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Table view of the menu <strong>Plugins&nbsp;» Plugin overview</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name of plugin</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Version</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Version of the plugin in the inbox. This version may differ from the version of the plugin deployed in <strong>Stage</strong> or <strong>Productive</strong>. As soon as a new version of a plugin from the source <strong>plentyMarketplace</strong> is available, the <strong>Update</strong> button will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Active</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the plugins in Stage or Productive. Activated plugins will only be deployed in the respective mode after clicking on <strong>Deploying plugins in Stage</strong> or <strong>Deploying plugins in Productive</strong>.<br>
Grey icon = Plugin is not active.<br>
Blue icon = Plugin is active. The version of the deployed plugin will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The plugin’s status in Stage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Productive</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The plugin’s status in Productive.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Source</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The plugin source, e.g. <strong>Git</strong> or <strong>plentyMarketplace</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Plugin type.<br>
<strong>template</strong> = Plugins that register routes and display template content.<br>
<strong>export</strong> = Plugins that contain export formats for exporting CSV files.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the plugin for a client.<br>
Click on the magnifying glass to display the available clients.<br>
Select the clients for which you want to deploy the plugin.<br>
→ Plugins marked as active are deployed for the selected plugins at the next deployment.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Added</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Date on which the plugin was added to the <strong>Plugins&nbsp;» Plugin overview</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Author</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Author of the plugin</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedures</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delete</strong> = Deletes plugins from the list and the plentymarkets Inbox.<br>
<em><strong>Note:</strong></em> Active plugins will stay active in Stage/Productive until the next deployment.<br>
<strong>Set position</strong> = Sets the order of the plugins in the list and during deployment.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Adding own plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As an alternative to the plentyMarketplace, you can add your own plugins to the inbox of your plentymarkets system. Proceed as described below to copy a plugin repository managed via <a href="/en/basics/first-steps/plugins#90"><strong>Git versioning</strong> </a> to the plentymarkets Inbox and manage it in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p>Add a Git repository to your plentymarkets inbox to benefit from version control and to deploy Git-based repositories. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adding a Git repository to the plentymarkets Inbox:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Click on <strong>New plugin</strong>.<br>
→ The <strong>Settings</strong> window is displayed.</p>
</li>
<li>
<p>Enter the login details of the Git repository. Pay attention to the explanations given in table 2.</p>
</li>
<li>
<p>Click on <strong>Test connection</strong>.<br>
→ The connection to the Git repository is verified and established.</p>
</li>
<li>
<p>Select the branch of the repository from the drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The plugin repository is copied to the plentymarkets Inbox and plugin is added to the list.<br>
→ The plugin is added to the <strong>Git</strong> menu.</p>
</li>
</ol>
</div>
<table id="45" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Adding Git plugins</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Remote URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the Git repository’s URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>User name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter user name. The user name is part of the user data of the hosting provider (e.g. GitHub) of your Git repository. The user data is only required for adding private repositories. When adding a public repository, enter a value into the field, e.g. <strong>Guest</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter password. The password is part of the user data of the hosting provider (e.g. GitHub) of your Git repository. The user data is only required for adding private repositories. When adding a public repository, enter a value into the field, e.g. <strong>Guest</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Test connection</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verify and establish connection to Git repository.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Branch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Becomes selectable after the connection to the Git repository is established by clicking on <strong>Test connection</strong>. Select the branch to be copied to the plentymarkets Inbox.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auto fetch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate to retrieve changes pushed to the Git repository automatically. The changes are retrieved and shown in the commit list, but not merged.<br>
<em><strong>Note</strong></em>: The autofetch function can reduce performance slightly.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. Deploying plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Plugins&nbsp;» Plugin overview</strong> menu serves as your inbox for plugins. From the plentymarkets Inbox, you deploy plugins in Stage and/or Productive. Stage provides a preview mode for testing plugins. During deployment in Stage, all plugins activated for the Stage mode are deployed. During deployment in Productive, all plugins activated for the Productive mode are deployed. Plugins deployed in Productive are visible to customers and/or users. The following table illustrates the difference between Stage and Productive.</p>
</div>
<table id="55" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Stage vs Productive</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mode</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stage provides a preview mode. Deploy plugins in Stage to test them before you publish them by deploying them in Productive. In Stage, you can test a plugin’s behaviour or check that any changes you made to the plugin files lead to the expected results. Stage is recommended for plugin development. Plugin resources, e.g. images and CSS files, will be loaded immediately and changes made to the plugin will be displayed after plugin deployment.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Productive</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Plugins deployed in Productive are published for the selected clients. This means that a plugin integrates into your productive plentymarkets system and, depending on the plugin type, is visible to your customers. As such, you should test plugins thoroughly before deploying them in Productive.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You need to deploy the plugins in the following cases:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>New plugins were added.</p>
</li>
<li>
<p>Plugins were activated.</p>
</li>
<li>
<p>Plugins were updated.</p>
</li>
<li>
<p>Plugins were modified.</p>
</li>
<li>
<p>Plugins were deactivated.</p>
</li>
<li>
<p>Errors were corrected.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Read and write permissions to the data base of plugins deployed in Stage</div>
<div class="paragraph">
<p>Plugins deployed in Stage are in a preview mode. However, with the respective permissions, these plugins can access, change or even delete data in the data base of your productive plentymarkets system. Note that changes made to a plugin in Stage can result in data loss in the live system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to deploy plugins. Table 4 explains the options of the menu bar you need to deploy plugins.</p>
</div>
<div class="paragraph instruction">
<p>Deploying plugins in Stage:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Plugin overview</strong>.</p>
</li>
<li>
<p>Activate or deactivate plugins in <strong>Stage</strong>.<br>
→ Changes made after the last deployment will be highlighted in the menu bar.</p>
</li>
<li>
<p>Point your cursor over the <strong>More</strong> button.<br>
→ The context menu will open.</p>
</li>
<li>
<p>Click on <strong>Select clients</strong>.<br>
→ The <strong>Select clients</strong> window will open.</p>
</li>
<li>
<p>Activate the clients.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The activated clients will be linked.</p>
</li>
<li>
<p>Click on <strong>Deploy plugins in Stage</strong> in the menu bar.<br>
→ The activated plugins are checked and deploy process is started.<br>
→ The colour of the icon of deployed plugins changes to green.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Deploying plugins in Productive:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Plugin overview</strong>.</p>
</li>
<li>
<p>Activate or deactivate plugins in <strong>Productive</strong>.<br>
→ Changes made after the last deployment will be highlighted in the menu bar.</p>
</li>
<li>
<p>Point your cursor over the <strong>More</strong> button.<br>
→ The context menu will open.</p>
</li>
<li>
<p>Click on <strong>Select clients</strong>.<br>
→ The <strong>Select clients</strong> window will open.</p>
</li>
<li>
<p>Activate the clients.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The activated clients will be linked.</p>
</li>
<li>
<p>Click on <strong>Deploy plugins in Productive</strong> in the menu bar.<br>
→ The activated plugins are checked and deploy process is started.<br>
→ The colour of the icon of deployed plugins changes to green.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Options in the menu bar for deploying plugins</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Switch to table view;<br>
Switch to card view</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click to switch between card view and table view.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Deploying plugins in Stage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Checks all activated plugins and deploys them in the preview mode <strong>Stage</strong>. In this mode, a preview of the active plugins is deployed to allow you to test their functionality. Changes made after the last deployment are highlighted in yellow.<br>
<strong><em>Note</em></strong>: All plugins marked as active are compiled sequentially during deployment of plugins in Stage. This may take several minutes. If an error occurs, none of the plugins are deployed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Plugin log (Stage)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Overview of deployment processes of plugins in Stage. Failed processes will be highlighted. Errors that occurred during the last deployment of plugins in Stage will be displayed in a list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Deploy plugins in Productive</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Checks all plugins and deploys them in the productive mode <strong>Productive</strong>. In this mode, active plugins are run and published. Changes made after the last deployment are highlighted in yellow.<br>
<strong><em>Note</em></strong>: All plugins marked as active are compiled sequentially during deployment of plugins in Productive. This may take several minutes. If an error occurs, none of the plugins are deployed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Plugin log (Stage)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Overview of deployment processes of plugins in Productive. Failed processes will be highlighted. Errors that occurred during the last deployment of plugins in Stage will be displayed in a list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Switch to Stage;<br>
Switch to Productive</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Switch to Stage</strong> = Change the mode from the productive mode Productive to the preview mode Stage. All plugins deployed in Stage will be displayed when opening the online store in the browser. The plugins are only visible to the users of your plentymarkets system. The mode will be set back to Productive automatically after 120 minutes.<br>
<strong><em>Important:</em></strong> The mode of deployed plugins will be changed to the preview mode, the data base, however, will not be changed. With the respective permissions, these plugins can access, change or even delete data in the data base of your productive system.<br>
<strong>Change to Productive</strong> = Change the mode from Stage back to Productive.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Deploy automatically</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate to deploy plugins in <strong>Stage</strong> automatically when updates are available. Plugins must already be active in <strong>Stage</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">6. Updating plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugin updates will be shown both on plentyMarketplace and in the plentymarkets back end. For new available versions the <strong>Update plugin</strong> flag will be displayed in the upper right corner of a plugin card in the plugin overview. Proceed as described below to install a new version of a plugin purchased on plentyMarketplace.</p>
</div>
<div class="paragraph instruction">
<p>Updating a plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Plugin overview</strong>.</p>
</li>
<li>
<p>Point your cursor over the <strong>More</strong> button.<br>
→ The context menu will open.</p>
</li>
<li>
<p>Click on <strong>Update plugin</strong>.<br>
→ The <strong>Update plugin</strong> window will open.</p>
</li>
<li>
<p>Select the version from the drop-down menu.</p>
</li>
<li>
<p>Click on <strong>Update plugin</strong>.<br>
→ The plugin will be updated to the new version.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>To use the plugin in the updated version, deploy it again as described above.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Updating to an older version not possible</div>
<div class="paragraph">
<p>When updating a plugin, only newer versions of the plugin can be installed. If you want to reset the plugin to an older version, delete the plugin first and reinstall the plugin with the desired version.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Editing plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugin files can be edited directly in the plentymarkets Inbox. Which files you can edit depends on the plugin type. Proceed as described below to edit plugin files.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Users with no programming or layout experience</div>
<div class="paragraph">
<p>Do not edit the plugin files yourself if you do not have programming and/or layout experience. We recommend that you work with one of our partners to customise layout plugins.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Editing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Plugin overview</strong>.</p>
</li>
<li>
<p>Double click on the plugin.<br>
→ The plugin detail view will open in which you can edit the plugin files.</p>
</li>
<li>
<p>Carry out the changes as desired.</p>
</li>
<li>
<p><strong>Save</strong> the changes.</p>
</li>
<li>
<p>For plugins that are linked to a Git repository, push the changes from the <strong>Git</strong> menu.</p>
</li>
<li>
<p>Deploy active plugins again to publish the changes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Deleting plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Delete plugins that are active neither in Stage nor in Productive. Proceed as described below to delete a plugin.</p>
</div>
<div class="paragraph instruction">
<p>Deleting plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Plugin overview</strong>.</p>
</li>
<li>
<p>Check the plugin’s state in Stage and Productive.</p>
</li>
<li>
<p>Point your cursor over the <strong>More</strong> button.<br>
→ The context menu will open.</p>
</li>
<li>
<p>Click on <strong>Delete plugin</strong>.<br>
→ The <strong>Delete plugin</strong> window will open.</p>
</li>
<li>
<p>Click on <strong>Delete plugin</strong>.<br>
→ The plugin is removed from the list.<br>
→ The plugin files are removed from the plentymarkets Inbox.<br>
→ If the plugin is linked to a Git repository, the repository is removed from the list in the <strong>Git</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">9. Viewing the plugin log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Find a history of plugin deployment processes in the plugin log. Each process is listed individually. Detailed information about the last process is displayed in the <strong>Result</strong> column in case the plugin deployment failed. Plugin logs for the preview mode <strong>Stage</strong> and the productive mode <strong>Productive</strong> are listed individually.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the plugin log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Plugin log (Stage)</strong> or <strong>Plugin log (Productive)</strong>.<br>
→ The plugin log will open.</p>
</li>
<li>
<p>In the line of the latest process, click on the <strong>More</strong> button.<br>
→ The detailed log view will open.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">10. Git based version control</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Plugins&nbsp;» Git</strong> menu provides a basic Git client. This allows you to version control plentymarkets plugins. plentymarkets version control is based on the distributed version control system <strong><a href="https://git-scm.com/" target="_blank" rel="noopener">Git</a></strong>. Git allows you to manage changes made to plugin files by yourself or other users in a Git repository.</p>
</div>
<div class="paragraph">
<p>Version control offers the following advantages:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Logging: Changes are logged in commits and can be reviewed at any time.</p>
</li>
<li>
<p>Recovery: Every version of every file can be recovered. This means that changes can be reverted at any time.</p>
</li>
<li>
<p>Cooperation: Several users can work on the same repository simultaneously.</p>
</li>
<li>
<p>Troubleshooting: Errors can be located and corrected more quickly.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Terminology</div>
<div class="paragraph">
<p>Many plentymarkets users are familiar with other Git clients with an English user interface. Therefore, the <strong>Plugins&nbsp;» Git</strong> menu is only available in English now. The terminology used in the plentymarkets Git client is based on that used by GitHub. Check the <strong><a href="https://help.github.com/articles/github-glossary/" target="_blank" rel="noopener">GitHub glossary</a></strong> for definitions.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="110">10.1. Example workflow</h3>
<div class="paragraph">
<p>If you are not familiar with Git or similar distributed version control systems, familiarise yourself with the basic concepts of version control before working with the plentymarkets Git client. The <strong><a href="https://help.github.com/categories/bootcamp/" target="_blank" rel="noopener">GitHub Bootcamp</a></strong> offers a good introduction to version control. To help you understand version control in plentymarkets and to get you started, a basic workflow using Git is described below. This can serve as a model for your own workflows.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create a Git repository.</p>
</li>
<li>
<p>Save a local copy of the Git repository on your local drive.</p>
</li>
<li>
<p>Edit repository files on your local drive. Where applicable, copy any changes made by other users from the Git repository to the version history of your local repository.</p>
</li>
<li>
<p>Push local changes to the Git repository.</p>
</li>
<li>
<p>Copy the Git repository to the plentymarkets Inbox from the <strong>Plugins&nbsp;» Git</strong> menu.</p>
</li>
<li>
<p>Deploy the plugin in Stage.</p>
</li>
<li>
<p>Test the plugin in Stage.</p>
</li>
<li>
<p>Make any corrections on your local drive and repeat the process described.</p>
</li>
<li>
<p>Deploy the finalised plugin in Productive.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="120">10.2. Updating an Inbox repository</h3>
<div class="paragraph">
<p>Proceed as described below to copy the current version of a Git repository by either <strong>fetching</strong> or <strong>pulling</strong> it to your Inbox repository.</p>
</div>
<div class="paragraph instruction">
<p>Copying a Git repository to the Inbox repository:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Click on the repository.</p>
</li>
<li>
<p>Select either <strong>Fetch</strong> or <strong>Pull</strong>. Pay attention to the explanations given in table 5.<br>
→ The new commits are displayed in the commit list.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Fetch vs Pull</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fetch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Retrieves the latest commits from the Git repository and saves them without merging them into the Inbox repository. The current version of the repository files in the Inbox remains unchanged. Any changes you made without committing them to the Git repository will not be overwritten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pull</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Synchronises the Inbox repository with the Git repository. The current version of the repository files in the Inbox is overwritten with the current version of the Git repository. Any changes you made to the Inbox repository without pushing them to the Git repository will be overwritten after you confirm your selection.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="130">10.3. Retrieving commit information</h3>
<div class="paragraph">
<p>A list of all the commits of a repository are shown in the <strong>Plugins&nbsp;» Git</strong> menu. The commit that corresponds to the current version of the repository is shown with a check mark. The following table explains the view:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. Git management</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fetch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Retrieves commits from the Git repository but does not merge these changes into the Inbox repository.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pull</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Retrieves commits from the Git repository and merges these changes into the Inbox repository.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pull to Stage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Retrieves commits from the Git repository, merges these changes into the Inbox repository and starts deploying the plugins in Stage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pull to Productive</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Retrieves commits from the Git repository, merges these changes into the Inbox repository and starts deploying the plugins in Productive.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Push</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Publishes the changes made to the Inbox repository to the Git repository.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/first-steps/plugins#45"><strong>Connection settings</strong> </a> of the repository</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Uncommitted changes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only visible if changes were made to the Inbox repository that have not been pushed to the Git repository.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Commit message that was entered to describe this commit.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID of the commit. Automatically assigned by the system; ID cannot be edited.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Information</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Detailed commit information:<br>
<strong>Author</strong> = Name of the commit’s author.<br>
<strong><em>Tip:</em></strong> Link the author’s email address to <strong><a href="https://en.gravatar.com/" target="_blank" rel="noopener">Gravatar</a></strong> (optional). For authors without Gravatar, the Gravatar logo is displayed to the right.<br>
<strong>Commit ID</strong> = ID of the commit. Automatically assigned by the system; ID cannot be edited.<br>
<strong>Parent ID</strong> = ID of the previous commit, i.e. of the commit that was modified to create this commit.<br>
<strong>Description</strong> = Complete commit message.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Author</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name of the user who saved the commit to the Git repository. This is the user name saved in the Git based version control system (e.g. GitHub, Bitbucket).<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Date on which the commit was merged into the Git repository.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Files</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the files that were changed in this commit. Click on the file name to view the changes.<br>
Red = Deletions<br>
Green = Additions<br>
If more than one file was changed, click on a different file in the list <strong>File</strong> to view the changes made to that file.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="140">10.4. Setting the Inbox repository to a different commit</h3>
<div class="paragraph">
<p>Your Inbox contains all versions of the repository that were saved in commits. You can set the Inbox files of a repository to any commit in the commit list. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting the Inbox repository to a different commit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Click on the repository.<br>
→ The commit that the repository is currently using is shown with a check mark.<br>
→ A list of all commits is displayed.</p>
</li>
<li>
<p>Click on the commit you want to set the repository to.<br>
→ In the <strong>File</strong> area to the left, a list of the files changed in this commit are displayed. In the bottom right corner, the changes made to the file are displayed. If more than one file was changed, click on a different file in the list <strong>File</strong> to view the changes made to that file.</p>
</li>
<li>
<p>Use your mouse to right-click on the commit.</p>
</li>
<li>
<p>Click on <strong>Set to selected commit</strong>.<br>
→ The files of the Inbox repository will be set to this version.</p>
</li>
<li>
<p>Deploy the plugins again in Stage or Productive.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>