<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_required_hardware_operating_systems_and_browsers"><span>1.</span><span> Required hardware, operating systems and browsers</span></a>
<ul class="sectlevel2">
<li><a href="#_using_plentymarkets_in_a_browser"><span>1.1.</span><span> Using plentymarkets in a browser</span></a></li>
<li><a href="#_using_the_plentymarkets_client"><span>1.2.</span><span> Using the plentymarkets Client</span></a></li>
<li><a href="#_using_the_plentymarkets_app"><span>1.3.</span><span> Using the plentymarkets app</span></a></li>
</ul>
</li>
<li><a href="#_troubleshooting"><span>2.</span><span> Troubleshooting</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>System requirements</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page the requirements are listed that your PC and your internet connection need to fulfil, if you wish to use plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_required_hardware_operating_systems_and_browsers">1. Required hardware, operating systems and browsers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following requirements allow you to work efficiently with plentymarkets. The system’s performance may be limited if you do not meet the specified values. You may have permanent performance problems if you are using old hardware or a PC that has been poorly maintained. These requirements are for plentymarkets version 6 and higher.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Requirement</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Processor</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2 x 2 GHz<br>
If you are working with a windows operating systems, you need at least an Intel Core 2 processor.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Memory</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>4 GB</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Resolution</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>1280 x 720</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Internet connection</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>we recommend using a permanent DSL Internet connection with a data transfer rate of at least 1000 kB<br>
<strong>Note:</strong> The transfer rate should needs to match the number of users.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: General requirements</em></p>
</div>
<div class="sect2">
<h3 id="_using_plentymarkets_in_a_browser">1.1. Using plentymarkets in a browser</h3>
<div class="paragraph">
<p>The following table lists requirements that need to be fulfilled if you are working with plentymarkets in a browser. The performance may be limited if you do not meet the specified values. You also need to comply with the requirements given in table 1.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Requiretment</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating system</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>64 bit
*  Windows 7 or a higher version
*  Mac OS X 10.10 or a higher versions
*  Linux</p>
</div>
<div class="paragraph">
<p><strong>Info:</strong> The performance may be limited if you are using other operating systems, server operating systems or virual machines.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Browser</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="ulist">
<ul>
<li>
<p><a href="http://www.google.com/chrome/" target="_blank"><strong>Google Chrome</strong></a> version 46 or higher</p>
</li>
<li>
<p><a href="http://www.mozilla.com/" target="_blank"><strong>Mozilla Firefox</strong></a> version 43 or higher</p>
</li>
<li>
<p><a href="http://www.apple.com/de/safari/" target="_blank"><strong>Apple Safari</strong></a> version 9</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: requirements for working in a browser</em></p>
</div>
<div class="paragraph">
<p>These browser requirements do not apply to your customers. Your customers can use a W3C compliant web browser of their choice in order to purchase items in your store.</p>
</div>
</div>
<div class="sect2">
<h3 id="_using_the_plentymarkets_client">1.2. Using the plentymarkets Client</h3>
<div class="paragraph">
<p>You need to comply with the following requirements if you want to work with the plentymarkets Client. You also need to comply with the requirements listed in table 1.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Requirement</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating system</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>64-Bit
*  Windows 7 or a higher version
*  Mac OS X 10.10 or a higher versions</p>
</div>
<div class="paragraph">
<p><strong>Info:</strong> You can not use the plentymarkets Client if you are working with Linux.<br>
<strong>Info:</strong> The performance may be limited if you are using other operating systems, server operating systems or virual machines.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: requirements for using the plentymarkets Client</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_using_the_plentymarkets_app">1.3. Using the plentymarkets app</h3>
<div class="paragraph">
<p>The hardware that supports the plentymarkets app is listed in table 4.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Requirement</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating system</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="ulist">
<ul>
<li>
<p>Android devices with version 4.2.2 or higher</p>
</li>
<li>
<p>iOS devices with version 8 or higher</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: requirements for using the plentymarkets app</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_troubleshooting">2. Troubleshooting</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following points can cause problems if you are working with plentymarkets.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Your Browser ist not up-to-date. Check your browser’s version and if a newer one is available, update your browser.</p>
</li>
<li>
<p>Your CPU is busy. If your CPU is already running at full capacity due to normal operating procedures, then you should close programmes that you do not need at the time.</p>
</li>
<li>
<p>Your memory is too small. Check the size of your memory. We recommend a minimum capacity of 4 GB.</p>
</li>
<li>
<p>Your Java version ist not up-to-date. Check the Java version installed on your computer and whether or not a newer one is available, update your browser. Install the current version</p>
</li>
<li>
<p>Your hard drive is more than 70% full and has not been switched out in years. Depending on the operating system and the quality of the hardware, you will be able to notice a significant decrease in performance after more than two years. Delete any unnecessary files or reinstall the system. Another cost-effective solution would be to purchase a newer and more powerful hard drive/SSD.</p>
</li>
</ul>
</div>
</div>
</div>
</main>