<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_zu_mandanten"><span>1.</span><span> Allgemeines zu Mandanten</span></a></li>
<li><a href="#_mandanten_einrichten"><span>2.</span><span> Mandanten einrichten</span></a></li>
<li><a href="#_artikel_auf_mandanten_verteilen"><span>3.</span><span> Artikel auf Mandanten verteilen</span></a></li>
<li><a href="#_mehrere_mandanten_mit_einem_webshop_verknüpfen"><span>4.</span><span> Mehrere Mandanten mit einem Webshop verknüpfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Online-Shop</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop)</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zu_mandanten">1. Allgemeines zu Mandanten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Mandant (Shop)</strong> verwalten und verknüpfen Sie mehrere Webshops mit einem Backoffice/Administrationsbereich. Zusätzlich zum Standard-Webshop Ihres plentymarkets-Systems können Sie mit dieser Funktionalität weitere Mandanten (Shops) parallel zu Ihrem Standard-Webshop einrichten. Mit einem plentymarkets-System können bis zu 30 eigenständige Webshops (Mandant-Shops) verwaltet werden. Diese Webshops sind datentechnisch geschlossene, eigenständige Systeme. Es ist somit möglich, über ein plentymarkets-System mehrere unterschiedliche Geschäftsbereiche zu realisieren. Ein Beispiel für die Möglichkeiten der Verknüpfung mehrerer Webshops wird in Kapitel 4 auf dieser Seite beschrieben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Der plentymarkets-Webshop</div>
<div class="paragraph">
<p>plentymarkets verfügt über eine vollintegrierte Webshop-Funktionalität (B2B &amp; B2C), wobei jeder Webshop über eine eigene Domain erreichbar ist. Über das integrierte CMS (Content Management System) können inhaltliche und grafische Änderungen sowie Erweiterungen vorgenommen werden. Individuelle Webshop-Templates können in Form eines vollständigen Webshop-Designs mit vorkonfigurierten Einstellungen im Menü <strong><a href="/omni-channel/online-shop/cms">CMS</a></strong> direkt importiert werden. Alternativ kann auch eine externe Agentur zum Einsatz kommen oder Sie realisieren Ihr Webshop-Design z. B. über unsere zertifizierten Dienstleister (kostenpflichtig).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Praktisch lohnt sich die Anwendung eines oder mehrerer weiterer Webshops, wenn sehr verschiedenartige Produktbereiche über unterschiedliche Domains und Webshops angeboten werden sollen. Die Verwaltung der Aufträge und Artikel läuft dabei über ein zentrales System. Für die einzelnen Webshops kann bestimmt werden, welches Design angezeigt werden soll und welche Artikel angeboten werden sollen.</p>
</div>
<div class="paragraph">
<p>Die Abwicklung der Aufträge inklusive Rechnungsdruck und E-Mail-Service läuft zentral über ein System. Es ist dabei eine Unterscheidung der <a href="/auftragsabwicklung/auftraege/auftragsdokumente#200"><strong>Nummernkreise</strong></a> pro Mandant (Shop) und pro Lieferland möglich.</p>
</div>
<div class="paragraph">
<p>Sind die Webshops mittels Link (Banner) miteinander verknüpft, bleibt der Warenkorb beim Sprung von einem in den anderen Webshop erhalten. Beachten Sie dazu das Kapitel 4 dieser Handbuchseite.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mandanten (Shops) bestellen</div>
<div class="paragraph">
<p>Zusätzliche Mandanten (Shop) bestellen Sie im Menü <strong>Start » plentymarkets-Konto » Service-Center » Tab: Vertrag</strong>. Klicken Sie dort auf <strong>Zum Systemkonfigurator</strong>, um Änderungen an Ihrem Vertrag vorzunehmen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Daten bei Kündigung sichern</div>
<div class="paragraph">
<p>Sichern Sie die Daten eines Mandanten, die Sie noch benötigen, bei Kündigung des Mandanten rechtzeitig. <br>
Mandantenabhängige Daten, die später noch genutzt werden sollen, z.B. Scheduler oder Aufträge, sichern Sie durch die Zuordnung zu einem anderen vorhandenen Mandanten.<br>
Umsätze sichern Sie durch einen Umsatzexport, sonstige Daten durch einen dynamischen Export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_mandanten_einrichten">2. Mandanten einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem der Mandant (Shop) aktiviert wurde, nehmen Sie die Einstellungen unter <strong>Einstellungen » Mandant (Shop)</strong> im Menü des Mandanten vor. Die Einstellungsmöglichkeiten entsprechen weitgehend den Einstellungen für Standard-Webshops. Beachten Sie daher die Erläuterungen auf den Handbuchseiten unter <strong><a href="/omni-channel/online-shop/mandanten-einrichten">Einstellungen » Mandant (Shop) » Standard</a></strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Menübezeichnung</div>
<div class="paragraph">
<p>Das Menü eines Mandanten erhält den Namen des Shops. Sie finden das Hauptmenü eines Mandanten im Menü <strong>Einstellungen » Mandant (Shop)</strong> unterhalb des Menüs <strong>Standard</strong> (= Menü Ihres Standard-Webshops). Dort werden die Menüs weiterer Mandanten (Shops) angeordnet (Bild 1).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/DE-Einstellungen-Mandant-Shop-01.png" alt="DE Einstellungen Mandant Shop 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Mandanten (Shops); Übersicht</em></p>
</div>
<div class="paragraph">
<p>In der folgenden Tabelle finden Sie Informationen zu den Einstellungen, die sich von den Webshop-Standard-Einstellungen unterscheiden.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Eintrag/Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Menü <a href="/omni-channel/online-shop/mandanten-einrichten#grundeinstellungen">Grundeinstellungen</a></strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Webstore-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Webstore-ID des Mandanten. Die ID ist eindeutig und nicht änderbar. Mehrere Mandanten können anhand dieser Webstore-ID unterschieden werden. Der Standard-Webshop hat die ID <strong>0</strong>, Mandanten erhalten ab ID 1 fortlaufende IDs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Domain</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <strong><a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain">Domain</a></strong> des Mandanten (Shops). Eine Domain bezeichnet in der Regel eine Internetadresse in Form eines Namens sowie einer Erweiterung, d.h. der Top Level Domain, beides getrennt durch einen Punkt.<br>
Wenn ein <strong><a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a></strong> angelegt wurde, wird die URL des Mandanten mit <strong>https</strong> statt <strong>http</strong> angezeigt.<br>
<strong><em>Tipp:</em></strong> Über das <strong>Vorschau-Symbol</strong> eine Ansicht des Mandanten (Shops) aufrufen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard-Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Sprache für den Mandanten (Shop) wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay-Konto</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die eBay-Konten an, die unter <strong><a href="/omni-channel/multi-channel/ebay#65">Einstellungen » Märkte » eBay » Konten</a></strong> angelegt wurden. Wählen, welches eBay-Konto für den Mandanten verwendet werden soll (Mehrfachauswahl mit <strong>Strg + Mausklick</strong>).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Menü <a href="/omni-channel/online-shop/mandanten-einrichten/webshop#infoseiten">Webshop » Seiten</a></strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Bankdaten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, welche Seite die <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten">Bankdaten</a></strong> enthält. Diese Seite wird als Teil der Auftragsstatus-Seite im Webshop angezeigt.<br>
<strong><em>Wichtig:</em></strong> Wird diese Einstellung verwendet, unter <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten">Einstellungen » Aufträge » Zahlung » Zahlungsarten</a></strong> bei den Zahlungsarten <strong>Rechnung</strong> und <strong>vorab Überweisung/Vorkasse</strong> die Option <strong>Bankdaten anzeigen</strong> wählen (Häkchen setzen).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Menü <a href="/omni-channel/online-shop/mandanten-einrichten/bestellvorgang">Bestellvorgang » Grundeinstellungen</a></strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard-Lieferland als Firmensitz verwenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ja</strong> wählen, wenn die steuerbezogenen Einstellungen, z.B. die MwSt., im System an das eingestellte Standard-Lieferland angepasst werden soll.<br>
<em><strong>Wichtig:</strong></em>Für das Standard-Lieferland müssen im Menü <strong><a href="/auftragsabwicklung/auftraege/buchhaltung">Einstellungen » Mandant (Shop) » Mandant öffnen » Buchhaltung</a></strong> Steuersätze hinterlegt sein.<br>
<strong><em>Beispiel</em></strong>: Ein Händler mit Sitz in Deutschland hat viele Kunden in Frankreich und richtet für diesen Markt einen Mandanten (Shop) ein. Er wählt <strong>Frankreich</strong> als <strong>Standard-Lieferland</strong>. Mit der Einstellung <strong>Ja</strong> bei <strong>Standard-Lieferland als Firmensitz verwenden</strong> wird nun Frankreich als <strong>System-Land</strong> für diesen Mandanten übernommen. Alle damit verbundenen Prozesse werden jetzt behandelt, als würde sich der Firmensitz in Frankreich befinden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Menü <a href="/crm/e-mails-versenden">E-Mail</a></strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Einstellungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Soll für einen Mandanten (Shop) eine gegenüber dem Webshop abweichende E-Mail-Konfiguration verwendet werden, diese im Untermenü <a href="/crm/e-mails-versenden"><strong>E-Mail</strong></a> einrichten. Wenn das gleiche Konto verwendet werden soll, die Einstellungen aus der Konfiguration des Standard-Webshops übernehmen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Abweichende Einstellungen für Mandanten (Shops)</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_artikel_auf_mandanten_verteilen">3. Artikel auf Mandanten verteilen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Welche Artikel in welchem Mandanten (Shop) angeboten werden, steuern Sie über die Verknüpfung mit Kategorien. In jedem Mandanten werden nur die Kategorien angezeigt, die im Menü <strong><a href="/artikel/artikel-verwalten#230">Artikel » Kategorien</a></strong> für diesen Mandanten aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffnen Sie die Kategorie, die Sie für einen oder mehrere Mandanten (Shops) aktivieren möchten.</p>
</li>
<li>
<p>Markieren Sie die Mandanten (Shops), in denen Sie Artikel dieser Kategorie anbieten möchten.</p>
</li>
<li>
<p>Wählen Sie ggf. die Option <strong>Sichtbarkeit auf Unterkategorien übertragen</strong>, um die Auswahl auf alle Unterkategorien der Kategorie zu übertragen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.<br>
→ Die Kategorie ist in den gewählten Mandanten (Shops) sichtbar.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit von Artikeln festlegen</div>
<div class="paragraph">
<p>Die Verfügbarkeit und Sichtbarkeit von Artikeln stellen Sie im Tab <strong><a href="/artikel/artikel-verwalten#230">Einstellungen</a></strong> der Variante ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zur Verknüpfung von Artikeln mit Kategorien im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-3147/" target="_blank">Artikel mit Kategorien verknüpfen</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_mehrere_mandanten_mit_einem_webshop_verknüpfen">4. Mehrere Mandanten mit einem Webshop verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Verteilung der Kategorien auf mehrere Mandanten kann auch angewendet werden, wenn nur ein Webshop eingerichtet ist. Dieses Verfahren ist empfehlenswert, wenn ein Artikelkategoriebaum mit der Zeit stark angewachsen ist und der Webshopkunde den Überblick verlieren könnte. Mithilfe der Mandanten kann schnell eine weitere Kategorieebene eingefügt werden, um so den Kategoriebaum übersichtlicher zu gestalten.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mandanten mit Webshop verknüpfen</div>
<div class="paragraph">
<p>Legen Sie Mandanten nach Themen sortiert an. Aktivieren Sie dann die Kategorien je nach gewünschtem Sortiment des Shops (Kapitel 2). Pro Shop werden nur die Kategorien des Mandanten angezeigt, die im Menü <strong><a href="/artikel/kategorien/kategorien-bearbeiten#2">Artikel » Kategorien</a></strong> gewählt wurden. Zusätzlich zur Standard-Kategorienavigation (Bild 2, lila Pfeil) wird das <strong><a href="/omni-channel/online-shop/cms#webdesign">Webshop-Design</a></strong> um eine weitere Navigation, beispielsweise am Seitenkopf, erweitert (Bild 2, grüner Pfeil). Dort werden die Mandanten verlinkt. Die Navigationsleiste zu den einzelnen Mandanten ist in diesem Fall über die Template-Funktion <strong>Link_Store(X)</strong> verfügbar. Anstelle des X geben Sie die ID des Shops an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/DE-Einstellungen-Mandant-Shop-02.png" alt="DE Einstellungen Mandant Shop 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Zusätzliche Navigationsleiste im Webshop (grüner Pfeil)</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>Bild 2 zeigt ein Beispiel für einen Webshop (schwitzen.com), mit dem ein Mandant (organicum.de) verknüpft wurde. In der Navigationsleiste oben ist der Mandant (Shop) organicum.de verlinkt. Angenommen, dieser Mandant (Shop) hat im plentymarkets-Backend die ID 2. Der Link zu organicum.de sieht im Design dann wie folgt aus: <strong>&lt;a href="&#123;&#37; Link_Store(2) &#37;&#125;"&gt;organicum.de&lt;/a&gt;</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>