<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einstieg</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Video zeigt dir, wie plentymarkets dir helfen kann, deine Abläufe zu vereinfachen. Werde zum Helden, indem du dir und deinen Mitarbeitern wertvolle Zeit sparst.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/197506169" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Ein erfolgreiches Online-Business zu führen kann eine ungeheure Aufgabe sein. Aber was wäre, wenn ich dir sage, dass wir dich schneller, effizienter, einfach besser machen können? Wir können dir Fähigkeiten geben, von denen viele Online-Händler nur träumen! Wir machen dich zum Everyday hero!</p>
</div>
<div class="paragraph">
<p>Deine Kunden shoppen online - sie suchen sich ihre Lieblingsartikel aus deinem Sortiment heraus und schließen ihre Käufe ab. Währenddessen bei dir im Büro: Eine wahre Auftragsflut sorgt bei dir für schwarze Zahlen - aber auch für einiges an Arbeit.</p>
</div>
<div class="paragraph">
<p>Deine Mitarbeiter kontrollieren Bestellungen, Zahlungen, erstellen Rechnungen, drucken Packlisten und Versandetiketten und schicken den Kunden Mails, damit diese immer auf dem Laufenden über ihre Bestellung bleiben. Wieso für so alltägliche Aufgaben wertvolle Zeit verschwenden? Stattdessen verbünde dich mit einer Liga aus Everyday Heroes und verwandle deine Routineaufgaben in automatisierte Prozesse.</p>
</div>
<div class="paragraph">
<p>Täglich stehst du vor dem gleichen Problem. Du hast einen Stapel Aufträge, die noch auf Zahlung warten und du musst nun prüfen und deine Kunden an die Zahlung erinnern, damit ihre Bestellung auf den Weg gehen kann. Klingt nach einer Aufgabe für den Aktionsmanager!</p>
</div>
<div class="paragraph">
<p>Unser erster Held erhebt sich! Immer zu bestimmten Zeiten, genau wenn du ihn brauchst. Wiederkehrende Aufgaben sind keine Bedrohung mehr! Zum Beispiel kann der Aktionsmanager täglich checken, welche Bestellungen noch auf Zahlung warten und deine Kunden per E-Mail anschreiben.</p>
</div>
<div class="paragraph">
<p>Mit den richtigen Mitteln kriegst du selbst die größte Aufgabe klein. Prozesse haben genug Power, um blitzschnell deine Aufträge abzuwicklen. Mit diesem Helden an deiner Seite kannst du all deine benötigten Dokumente drucken, die du für den Versand brauchst.</p>
</div>
<div class="paragraph">
<p>Ein durchdacht gebauter Prozess ist deine Rettung bei Rechnungen, Packlisten und Versandetiketten. Mit Logik und Effizienz stellt er sich gegen deine Auftragsflut, ein Klick weckt seine Kräfte und hilft dir bei deiner strukturierten Auftragsabwicklung.</p>
</div>
<div class="paragraph">
<p>Hast du eine Liste voller Kunden, die wissen wollen, wie es um Ihre Bestellung steht? Ereignisaktionen retten dich vor schlechten Bewertungen! Als Helden des Alltags halten sie deine Kunden auf dem Laufenden und informieren sie automatisch über ihre Bestellung.</p>
</div>
<div class="paragraph">
<p>Ereignisaktionen treten dann in Erscheinung, wenn du sie brauchst und mischen sich ins Geschehen. Auf ein bestimmtes Ereignis folgt eine Aktion. Zum Beispiel werden deine Kunden bei Versand automatisch darüber informiert und erhalten einen Trackinglink, mit dem sie die Sendung verfolgen können.</p>
</div>
<div class="paragraph">
<p>Work smart, not hard. Zumindest nicht unnötig hart. Verbünde dich mit unseren Everyday Heroes und verwandle deine alltäglichen Aufgaben in gut geölte Prozesse. Automatisierung spart dir nicht nur wertvolle Zeit, sondern hilt dir auch die Ressourcen deiner Mitarbeiter zu schonen. Kurz gesagt: Dein Business wird schneller und zuverlässiger! Und das ist sicher nicht das letzte Mal, dass wir unsere Helden in Aktion sehen. In weiteren Videos dieser Reihe siehst du neue Abenteuer lernst, wie du dein Business zum besten machst!</p>
</div>
</div>
</div>
</main>