<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Block</h1><div class="sect1">
<h2 id="_video_tutorial">Video-Tutorial</h2>
<div class="sectionbody">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/127251617" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zu_blöcken">Allgemeines zu Blöcken</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Block enthält Programmcode und ggf. Kommentare. Damit der <a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-compiler">Compiler</a> Programmcode verarbeiten kann, muss  sich der Code in einem Anweisungsblock befinden. Blöcke fügst du direkt in bestehende Templates ein. Ein Block kann eine oder mehrere Zeilen umschließen. Der Aufbau beider Varianten wird nachfolgend beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_aufbau_einzeiliger_blöcke">Aufbau einzeiliger Blöcke</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Block wird mit einer geschweiften Klammer (<strong>{</strong>) eingeleitet, gefolgt von einem Prozentzeichen (<strong>%</strong>). Das Ende wird mit einem Prozentzeichen (<strong>%</strong>) und einer schließenden geschweiften Klammer (<strong>}</strong>) definiert.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_foo = "hello world" &#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_aufbau_mehrzeiliger_blöcke">Aufbau mehrzeiliger Blöcke</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auch mehrzeilige Blöcke werden von geschweiften Klammern und Prozentzeichen (<strong>&#123;&#37; …​ &#37;&#125;</strong>) umschlossen. Ein mehrzeiliger Block enthält jedoch mehrere Anweisungen, die nicht durch einen Blockanfang und ein Blockende voneinander getrennt werden. In mehrzeiligen Blöcken werden die einzelnen Anweisungen durch ein Semikolon (<strong>;</strong>) voneinander getrennt. if-Anweisungen werden von geschweiften Klammern (<strong>{ }</strong>) umschlossen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	if($_a &gt; $_b)
	{
		print("a ist größer als b");
	}
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_raw_blöcke">Raw-Blöcke</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Inhalt eines Raw-Blocks wird nicht vom Parser geprüft und übersetzt, wird also unübersetzt ausgegeben. Ein Raw-Block erfordert ein Start-Tag <strong>&#123;&#37; raw &#37;&#125;</strong> und ein End-Tag <strong>&#123;&#37; endraw &#37;&#125;</strong>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; if $Producer &#37;&#125;
	&lt;dt&gt;Hersteller&lt;/dt&gt;
	&lt;dd&gt;$Producer&lt;/dd&gt;
&#123;&#37; endif &#37;&#125;

{#
	Ausgabe:
 	&lt;dt&gt;Hersteller&lt;/dt&gt;
 	&lt;dd&gt;plentymarkets&lt;/dd&gt;
#}


&#123;&#37; raw &#37;&#125;
	&#123;&#37; if $Producer &#37;&#125;
		&lt;dt&gt;Hersteller&lt;/dt&gt;
		&lt;dd&gt;$Producer&lt;/dd&gt;
	&#123;&#37; endif &#37;&#125;
&#123;&#37; endraw &#37;&#125;

{#
	Ausgabe:
	&#123;&#37; if $Producer &#37;&#125;
		&lt;dt&gt;Hersteller&lt;/dt&gt;
		&lt;dd&gt;$Producer&lt;/dd&gt;
	&#123;&#37; endif &#37;&#125;
#}</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_bereiche">Bereiche</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Programmcode kann in <strong>Webdesign-Templates</strong>, <strong>Kategorien</strong> und <strong>E-Mail-Vorlagen</strong> verwendet werden. Wenn Programmcode außerhalb eines Blocks eingefügt wird, wird der Programmcode unverarbeitet ausgegeben.</p>
</div>
</div>
</div>
</main>