<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Compiler</h1><div class="sect1">
<h2 id="_allgemeines_zum_compiler">Allgemeines zum Compiler</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die CMS-Syntax wird von einem Compiler verarbeitet, der den Programmcode in PHP-Programmcode übersetzt. Das Verhalten der unterstützen Ausdrücke ist somit gleich. Weitere Standard-PHP-Funktionen werden zukünftig auch in der CMS-Syntax verwendbar sein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_templates_veröffentlichen">Templates veröffentlichen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wird ein Template beispielsweise im Bereich Webdesign gespeichert, dann wird zuerst der Inhalt in der Datenbank gespeichert und erst dann das betreffende Template veröffentlicht. Veröffentlichen bedeutet, dass der Programmcode durch den Compiler in PHP-Programmcode übersetzt wird und das Ergebnis als PHP-Klasse im Webspace abgelegt wird. Diese PHP-Klassen werden für die eigentliche Darstellung von Inhalten beispielsweise in deinem Shop verwendet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_syntax_fehler">Syntax-Fehler</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Compiler erkennt Syntax-Fehler und stellt diese als Fehlermeldung in plentymarkets dar. Sofern ein Fehler gefunden wurde, wird dieses Template nicht veröffentlicht. Der Programmcode wird jedoch in der Datenbank gespeichert. Du kannst somit ein Webdesign oder eine E-Mail-Vorlage erst dann wieder vollständig veröffentlichen, wenn der Fehler von dir korrigiert wurde.</p>
</div>
</div>
</div>
</main>