<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kommentar</h1><div class="sect1">
<h2 id="_video_tutorial">Video-Tutorial</h2>
<div class="sectionbody">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/127253550" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zu_kommentaren">Allgemeines zu Kommentaren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kommentare werden verwendet, um den Quelltext zu dokumentieren oder interne Hinweise zu hinterlegen. Kommentare sind nicht öffentlich sichtbar. Der Compiler ignoriert Kommentare, d.h. der HTML-Quelltext enthält diese Informationen nicht.</p>
</div>
<div class="paragraph">
<p>Kommentare können separat oder innerhalb eines Blocks hinterlegt werden. Der Aufbau beider Varianten wird nachfolgend beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_kommentar_in_einzeiligem_code_block">Kommentar in einzeiligem Code-Block</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Kommentar wird mit einer geschweiften Klammer (<strong>{</strong>) gefolgt von einer Raute (<strong><mark></mark></strong>) eingeleitet. Der Kommentar kann einzeilig oder mehrzeilig sein. Ein Kommentar wird mit einer Raute (<strong></strong>) und einer schließenden geschweiften Klammer (<strong>}</strong>) abgeschlossen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Dies ist ein Kommentar #}</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_kommentar_in_mehrzeiligen_code_block">Kommentar in mehrzeiligen Code-Block</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kommentare können auch innerhalb von Blöcken (<strong>&#123;&#37; …​ &#37;&#125;</strong>) verwendet werden. Sie werden mit einer Raute (<strong>#</strong>) eingeleitet. Kommentare innerhalb von Blöcken enden automatisch am Ende der Zeile und müssen nicht durch eine weitere Raute geschlossen werden.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_foo = "hello world"; # Dies ist ein Kommentar

	# auch das hier ist ein Kommentar
	print($_foo);
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>