<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Operatoren</h1><div class="sect1">
<h2 id="_arithmetische_operatoren">Arithmetische Operatoren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erinnerst du dich noch an die Grundrechenarten aus der Schule? Mit arithmetischen Operatoren lassen sich diese Grundrechenarten und weitere Rechenarten ausführen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beispiel</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Ergebnis</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a+$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Addition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Summe von$_aund$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a-$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subtraktion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Differenz von$_aund$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a*$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multiplikation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produkt von$_aund$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a/$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Division</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quotient von$_aund$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a%$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modulus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rest von$_ageteilt durch$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a*$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Potenz</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_aist die Basis und$_bder Exponent.<br>
Das Ergebnis ist somit die Potenz von$_a.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_zuweisungsoperatoren">Zuweisungsoperatoren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der einfachste Zuweisungsoperator ist "=". Wahrscheinlich kommt man als Erstes auf die Idee, diesen Operator mit "ist gleich" zu bezeichnen. Das ist falsch. In Wirklichkeit bedeutet er, dass dem linken Operanden der Wert des Ausdrucks auf der rechten Seite zugewiesen wird. Korrekt gesprochen lautet der Ausdruck "wird gesetzt auf den Wert von".</p>
</div>
<div class="sect2">
<h3 id="_einzeiliger_code_block">Einzeiliger Code-Block</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_a = 3 &#37;&#125;
&#123;&#37; $_a += 5 &#37;&#125;
{# setzt $_a auf den Wert 8, als ob wir geschrieben hätten: $_a = $_a + 5 #}

&#123;&#37; $_b = "Hallo " &#37;&#125;
&#123;&#37; $_b .= "Du!" &#37;&#125;
{# setzt $_b auf den Wert "Hallo Du!" #}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_mehrzeiliger_code_block">Mehrzeiliger Code-Block</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_a = 3;
	$_a += 5;

	# setzt $_a auf den Wert 8, als ob wir geschrieben hätten: $_a = $_a + 5


	$_b = "Hallo ";
	$_b .= "Du!";

	# setzt $b auf den Wert "Hallo Du!"
&#37;&#125;</code></pre>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beispiel</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Ergebnis</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuweisung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_aenthält Wert von$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a.=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vereinigung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Zeichenkette (String) wird um die Zeichenkette in$_berweitert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a+=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Addition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht$_a=$_a+$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a-=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subtraktion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht$_a=$_a-$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a*=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multiplikation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht$_a=$_a*$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a/=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Division</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht$_a=$_a/$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a%=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modulus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht$_a=$_a%$_b</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_vergleichs_operatoren">Vergleichs-Operatoren</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beispiel</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Ergebnis</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a==$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">gleich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt TRUE zurück, wenn$_agleich$_bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a===$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">identisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt TRUE zurück, wenn$_agleich$_bist und beide vom gleichen Typ sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a!=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ungleich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt TRUE zurück, wenn$_anicht gleich$_bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a!==$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nicht identisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt TRUE zurück, wenn$_anicht gleich$_bist, oder wenn beide nicht vom gleichen Typ sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&lt;$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">kleiner als</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt TRUE zurück, wenn$_akleiner als$_bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&gt;$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer als</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt TRUE zurück, wenn$_agrößer als$_bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&lt;=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">kleiner gleich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt TRUE zurück, wenn$_akleiner oder gleich$_bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&gt;=$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer gleich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt TRUE zurück, wenn$_agrößer oder gleich$_bist.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_logische_operatoren">Logische Operatoren</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beispiel</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Ergebnis</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a&amp;&amp;$_b</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">und</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TRUE wenn sowohl$_aals auch$_bTRUE ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_b</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oder</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TRUE wenn mindestens einer der Werte von$_aund$_bTRUE ist.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">!$_a</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Sofern in einer Bedingung mehrere Logische Operatoren verwendet wurden, werden zuerst die &amp;&amp;-Operatoren und daraufhin die ||-Operatoren berücksichtigt. Du kannst die Rangfolge durch Klammern verändern:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	if( ($_a==$_b || $_a==$_c) &amp;&amp; $_c != $_d )
	{

	}
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_vereinigungsoperatoren">Vereinigungsoperatoren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Vereinigungsoperator "." werden beliebig viele Strings, Zahlenwerte, Variablen und Rückgabewerte von Funktionen zu einem einzigen String verkettet.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beispiel</th>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Ergebnis</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$_a.$_b.$_c</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vereinigung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zeichenketten (String)$_a,$_bund$_cwerden miteinander verkettet.</p></td>
</tr>
</tbody>
</table>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_text1 = ["Hallo ", "Du", "!"];

	print ( $_text1[0] . $_text1[1] . $_text1[2] );
	# Ausgabe: Hallo Du!
&#37;&#125;

&#123;&#37;
	$_name = "Du";
	$_text2 = "Hallo " . $_name . ".";

	print ( $_text2 );
	# Ausgabe: Hallo Du.
&#37;&#125;

&#123;&#37;
	$_text4 = "Hallo, " . $CustomerName;

	print ( $_text4 );
	# Ausgabe: Hallo, Markus Müller
	# $CustomerName enthält den Kundennamen, sobald der Kunde eingeloggt ist.
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_operator_rangfolge">Operator-Rangfolge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Operator-Rangfolge legt fest, wie "eng" ein Operator zwei Ausdrücke miteinander verbindet. Zum Beispiel ist das Ergebnis des Ausdruckes <em>1 + 5 * 3</em> gleich <em>16</em> und nicht <em>18</em>, da der Multiplikations-Operator (*) in der Rangfolge höher steht als der Additions-Operator (+). Wenn nötig, kansnt du Klammern setzen, um die Rangfolge der Operatoren zu beeinflussen. Zum Beispiel ergibt <em>(1 + 5) * 3</em> gleich <em>18</em>. Ist die Rangfolge der Operatoren gleich, so wird links nach rechts Assoziativität benutzt.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle zeigt die Rangfolge der Operatoren. Oben steht der Operator mit dem höchsten Rang.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Assoziativität</th>
<th class="tableblock halign-left valign-top">Operator</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rechts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">!</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">links</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">* / %</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">links</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">+ - .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">keine Richtung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; &lt;= &gt; &gt;=</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">keine Richtung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">== != === !==</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">links</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&amp;&amp;</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">links</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">||</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rechts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">= += -= *= /= .= %=</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>