<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Template-Funktionen</h1><div class="sect1">
<h2 id="_allgemeines">Allgemeines</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die CMS-Syntax unterstützt unterschiedliche Arten von Funktionen, welche entweder global oder nur innerhalb bestimmter Templates verwendet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_funktionen">Globale Funktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Bereich sind solche Funktionen zu finden, welche sowohl im Bereich Webdesign als auch in E-Mail-Vorlagen verwendet werden können.</p>
</div>
<div class="paragraph">
<p>Einige PHP-Funktionen wurden auch in der CMS-Syntax zugänglich gemacht. Die Verwendung ist weitestgehend identisch mit der Verwendung direkt in PHP.</p>
</div>
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions">PHP Funktionen öffnen</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_webdesign">Webdesign</h2>
<div class="sectionbody">
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Example 1. PageDesign</div>
<div class="content">
<div class="paragraph">
<p>Vorranging findest du in diesem Bereich Link-Funktionen, welche URLs auf bestimmte Bereiche (u.a. Kategorien, Startseite, Warenkorb) zurückliefern.</p>
</div>
<div class="paragraph">
<p><a href="/webshop/cms-syntax#webdesign-pagedesign">PageDesign öffnen</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Example 2. Navigation</div>
<div class="content">
<div class="paragraph">
<p>Die unterschiedlichen Container zur Darstellung von Navigationsmenüs (Kategorie-Navigation) werden über Funktionen dieses Bereichs aufgerufen.</p>
</div>
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#webdesign-navigation">Navigation öffnen</a></p>
</div>
</div>
</div>
</div>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Example 3. ItemView</div>
<div class="content">
<div class="paragraph">
<p>Zur Darstellung von Artikeln (u.a. Produktseite, Suchergebnis) stehen die meisten Container und demzufolge auch die größte Anzahl an Funktionen zur Verfügung.</p>
</div>
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#webdesign-itemview">ItemView öffnen</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Example 4. Category</div>
<div class="content">
<div class="paragraph">
<p>Dieser Bereich verfügt über eine sehr übersichtliche Anzahl an Funktionen. Relevant ist jedoch die Funktion Form(), welche ein Formular zurückliefert.</p>
</div>
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#webdesign-category">Category öffnen</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_e_mail_vorlagen">E-Mail-Vorlagen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Innerhalb von E-Mail-Vorlagen stehen einige Link-Funktionen zur Verfügung.</p>
</div>
<div class="paragraph">
<p><a href="/owebshop/webshop-einrichten/cms-syntax#e-mail-email">E-Mail öffnen</a></p>
</div>
</div>
</div>
</main>