<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#integrations-assistant"><span>1.</span><span> Integrations assistant</span></a></li>
<li><a href="#marketplace-plugins"><span>2.</span><span> Marketplace plugins</span></a></li>
<li><a href="#git-plugins"><span>3.</span><span> Git plugins</span></a>
<ul class="sectlevel2">
<li><a href="#access-token-private-repositories"><span>3.1.</span><span> Creating access tokens for private repositories</span></a></li>
<li><a href="#adding-git-repository"><span>3.2.</span><span> Adding Git repositories</span></a></li>
<li><a href="#git-repositories-functional-overview"><span>3.3.</span><span> Functional overview</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Adding plugins to the system</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph next-navigation">
<p><a href="/en/plugins/installing-added-plugins">Installing added plugins <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>There are multiple ways of adding plugins to your plentymarkets system. Using the <a href="#integrations-assistant">Integrations assistant</a>, you can set up your online store quick and easy. You can purchase plugins on <a href="#marketplace-plugins">plentyMarketplace</a>, some for free, others for additional costs. If you need a custom plugin designed to satisfy your particular needs, you can <a href="#git-plugins">add it via Git</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="integrations-assistant">1. Integrations assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A new plentymarkets system does not come with any plugins pre-installed. If you want to run your own online store or set up a connection to the store systems Shopify or WooCommerce, you can use the <strong>Integrations assistant</strong> to select and install the most important plugins in one go.</p>
</div>
<div class="paragraph">
<p>The following plugins are available via the assistant:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Online stores</p>
<div class="ulist">
<ul>
<li>
<p>Ceres &amp; IO<br>
→ These plugins form the basis of your own plenty online store.</p>
</li>
<li>
<p>Shopify</p>
</li>
<li>
<p>WooCommerce</p>
</li>
</ul>
</div>
</li>
<li>
<p>Payment methods</p>
<div class="ulist">
<ul>
<li>
<p>PayPal</p>
</li>
<li>
<p>Mollie</p>
</li>
<li>
<p>Cash in advance</p>
</li>
<li>
<p>Cash on delivery</p>
</li>
<li>
<p>Invoice</p>
</li>
<li>
<p>EBICS</p>
</li>
</ul>
</div>
</li>
<li>
<p>Shipping service providers</p>
<div class="ulist">
<ul>
<li>
<p>DHL (DE)</p>
</li>
<li>
<p>Hermes (DE)</p>
</li>
<li>
<p>DPD (DE)</p>
</li>
<li>
<p>DPD (UK)</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
If you select the plugins via the assistant, the installation process does not include any more steps and you can continue with <a href="/en/plugins/configuring-installed-plugins">configuring the plugins</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="marketplace-plugins">2. Marketplace plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You will add most plugins to your system via <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.plentyMarketplace offers a great selection of different plugins that you can purchase and use right away. To purchase a plugin on plentyMarketplace, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Purchasing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Plugins » plentyMarketplace</strong> menu.<br>
→ The marketplace opens in a new tab.<br>
→ <span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Sign into <a href="http://marketplace.plentymarkets.com/en/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> using your My account login details.</p>
</li>
<li>
<p>Open a category and select the plugin you want to purchase.</p>
</li>
<li>
<p>In the detail view of the plugin, click on <strong>Go to checkout</strong>. You can find an overview of all purchase options in <a href="#tabelle-kaufoptionen">[tabelle-kaufoptionen]</a>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Accept the terms and conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ After a few minutes you can install the plugin in a plugin set.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Installing added plugins</div>
<div class="paragraph">
<p>After adding a plugin to the system, you have to install it in a plugin set before you can use it.</p>
</div>
<div class="paragraph">
<p>For more information on how to install plugins, see <a href="/en/plugins/installing-added-plugins">Installing added plugins in plugin sets</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-purchase-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. plentyMarketplace purchase types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free trial</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Test the full plugin for free for 30 days. You can no longer test a plugin after subscribing to it at least once. You can check when your trial period expires in the <strong>My Account</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Buy the plugin once for a set price and use it forever. Developers may distinguish between different versions of the plugin, which may only offer limited functionality. Check the description to see which features are included in which version.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subscription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subscribing to a plugin allows you to use all of its features for a limited period of time. Depending on the plugin, you may be able to choose between different billing periods. Payment is always due at the beginning of a billing period. Subscriptions do not expire automatically, you have to cancel the contract in the <strong>My Account</strong> area if you want to discontinue it.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="git-plugins">3. Git plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you cannot find the plugin you need on plentyMarketplace, you can also add plugins from Git repositories. Some external developers also provide their plugins this way. For more information on available plugins, contact these developers directly. To contact a developer, either use the <a href="https://www.plentymarkets.eu/service/partneragenturen/search/plugin-30/?aoff=s" target="_blank" rel="noopener">partner overview</a>, write a message in the <a href="https://forum.plentymarkets.com/c/suche-biete/suche-biete-plugins" target="_blank" rel="noopener">Suche/Biete</a> forum category or create a <a href="https://marketplace.plentymarkets.com/en/plentyprojects" target="_blank" rel="noopener">new project request</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> on plentyMarketplace.</p>
</div>
<div class="sect2">
<h3 id="access-token-private-repositories">3.1. Creating access tokens for private repositories</h3>
<div class="paragraph">
<p>For private repositories, you need a personal access token in addition to the repository URL. How to create the token varies slightly from site to site. This page only describes how to generate a personal access token on GitHub and Bitbucket. If you use a different site, refer to the documentation of the provider for more information.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="github-tab" data-toggle="tab" href="#github" role="tab" aria-controls="github" aria-selected="true">GitHub</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="bitbucket-tab" data-toggle="tab" href="#bitbucket" role="tab" aria-controls="bitbucket" aria-selected="false">Bitbucket</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="github" role="tabpanel" aria-labelledby="github-tab">
<div class="paragraph instruction">
<p>Creating a personal access token for private GitHub repositories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to your <a href="https://github.com/settings/tokens" target="_blank" rel="noopener">token settings</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> on GitHub.</p>
</li>
<li>
<p>Click on <strong>Generate new token</strong>.<br>
→ To proceed, enter your password.</p>
</li>
<li>
<p>Enter a <strong>Token description</strong>.</p>
</li>
<li>
<p>Under <strong>Select scopes</strong>, activate <strong>repo</strong>.<br></p>
</li>
<li>
<p>Click on <strong>Generate token</strong>.<br>
→ GitHub will generate a new token. You will need this token in the next step, so either stay on the page or save the token locally. If you save it, you should delete it again after adding your repository to plentymarkets.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="bitbucket" role="tabpanel" aria-labelledby="bitbucket-tab">
<div class="paragraph instruction">
<p>Creating a personal access token for private Bitbucket repositories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open your account settings on Bitbucket.</p>
</li>
<li>
<p>Under <strong>Access Management</strong>, open the <strong>App passwords</strong> menu.</p>
</li>
<li>
<p>Click on <strong>Create app password</strong>.</p>
</li>
<li>
<p>Enter a name for the password and check the box next to <strong>Webhooks</strong>.</p>
</li>
<li>
<p>Click on <strong>Create</strong>.<br>
→ Bitbucket will generate a new token. You will need this token in the next step, so either stay on the page or save the token locally. If you save it, you should delete it again after adding your repository to plentymarkets.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="adding-git-repository">3.2. Adding Git repositories</h3>
<div class="paragraph">
<p>This section describes how to add a Git repository to your system. By adding the repository to the system, you can use the plugin managed in the repository.</p>
</div>
<div class="paragraph">
<p>If you want to add a private repository, first generate an access token as described above. When adding a public repository, you don’t need an access token.</p>
</div>
<div class="paragraph instruction">
<p>Adding Git repositories to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>Click on <strong>Add new repository</strong> (<span class="icon " green”"=""><i class="fa fa-plus-square  "></i></span>).<br>
→ The repository settings are displayed.</p>
</li>
<li>
<p>Enter the repository URL and user name, as well as the access token you generated earlier, into the respective fields.<br>
<strong><em>Note:</em></strong> When entering the HTTPS address, take care not to include <code>.git</code> at the end.</p>
<div class="openblock">
<div class="content">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Public repositories</div>
<div class="paragraph">
<p>When adding a public repository, you do not need to enter any real credentials as user name and token. But the fields cannot be empty either. Enter any character sequence, e.g. “guest”.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</li>
<li>
<p>Into the field <strong>Branch name for installation (must include valid plugin.json)</strong>, enter the name of a branch that has a file called <code>plugin.json</code>. The file has to be formatted as described in the <a href="https://developers.plentymarkets.com/dev-doc/plugin-information#plugin-json" target="_blank" rel="noopener">requirements</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br>
master is entered as branch name by default. Some developers may use different naming conventions for their branches. In these cases, you must update the branch name accordingly. You can switch between branches of your repository after installing the plugin.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ plentymarkets validates and establishes the connection to the Git repository.<br>
→ Once a connection was established, you can install the plugin in a plugin set.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Installing added plugins</div>
<div class="paragraph">
<p>After adding a plugin to the system, you have to install it in a plugin set before you can use it.</p>
</div>
<div class="paragraph">
<p>For more information on how to install plugins, see <a href="/en/plugins/installing-added-plugins">Installing added plugins in plugin sets</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="git-repositories-functional-overview">3.3. Functional overview</h3>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Table view of the <strong>Plugins » Git</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add new repository</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a view for setting up a new repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Git repository name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a view for changing the settings of the selected repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Removes the repository from the system. You cannot delete repositories if they are installed in any plugin sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repository URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTTPS or HTTP URL of the Git repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Username</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The user name is part of the user data of the hosting provider (e.g. GitHub) of your Git repository.<br>
For public repositories, enter any value into the field, e.g. <strong>guest</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The token is part of the user data of the provider (e.g. GitHub) for the Git repository. You can create new tokens in your provider’s settings.<br>
For public repositories, enter any value into the field, e.g. <strong>guest</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name of branch to be installed (must contain valid plugin.json file).</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Git repository has to contain a <a href="https://developers.plentymarkets.com/dev-doc/plugin-information#plugin-json" target="_blank" rel="noopener">valid plugin.json file</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. This input is required for initial installation.</p></td>
</tr>
</tbody>
</table>
<hr>
<div class="paragraph next-navigation">
<p><a href="/en/plugins/installing-added-plugins">Installing added plugins <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</div>
</main>