<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#purchasing-marketplace-plugins"><span>1.</span><span> Purchasing marketplace plugins</span></a></li>
<li><a href="#adding-git-plugins"><span>2.</span><span> Adding plugins via Git</span></a>
<ul class="sectlevel2">
<li><a href="#adding-git-plugins"><span>2.1.</span><span> Adding git plugins to the system</span></a></li>
<li><a href="#git-branches"><span>2.2.</span><span> Switching between branches of a git plugin</span></a></li>
<li><a href="#git-commits"><span>2.3.</span><span> Switching to commits</span></a></li>
<li><a href="#deleting-git-plugins"><span>2.4.</span><span> Removing git plugins from the system</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Adding plugins to the system</h1><div class="sect1">
<h2 id="purchasing-marketplace-plugins">1. Purchasing marketplace plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <a href="http://marketplace.plentymarkets.com/en/" target="_blank" rel="noopener">plentyMarketplace</a> is our platform for distributing software extensions for plentymarkets developed by plentymarkets or external developers. This platform makes plugins easily accessible and ensures that you can benefit from the advantages the new technology offers. To purchase a plugin, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Purchasing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins &gt;&gt; Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>plentyMarketplace</strong>.
→ The market place will open in a new tab.
→ <em>Or</em>: Log in directly on <a href="http://marketplace.plentymarkets.com/en/" target="_blank" rel="noopener">plentyMarketplace</a> using your service centre credentials.</p>
</li>
<li>
<p>Select a category and a plugin you want to purchase. For an overview of all categories, see the <a href="#table-marketplace-categories">Table 1</a> table.</p>
</li>
<li>
<p>In the detail view of the plugin, click on the <strong>Go to checkout</strong> button.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Accept the terms and conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ The purchased plugin is now available as an uninstalled plugin in the <strong>Plugins » Plugin overview</strong> menu.</p>
</li>
</ol>
</div>
<table id="table-marketplace-categories" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Marketplace categories</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Category</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels &gt;&gt; Marketplaces</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins that connect to other marketplaces like Rakuten or idealo. For more information on how to set up marketplaces developed by plentymarkets, see the manual category <strong>Omni-Channel &gt;&gt; Multi-Channel</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels &gt;&gt; Online stores</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Connect your plentymarkets system to other shop systems like Shopify.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels &gt;&gt; Price comparisons</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add export formats to the Elastic Export. For an overview of all export formats, see <a href="https://knowledge.plentymarkets.com/en/basics/data-exchange/elastic-export" target="_blank" rel="noopener">here</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Themes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use themes to change the design of your online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Templates</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Templates form the foundation of your online store. For more information on templates developed by plentymarkets, see the manual category <strong>Omni-Channel &gt;&gt; Online store</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Widgets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add new elements like social media buttons or contact information to your online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use payment plugins, so that your customers can pay for your products in different ways. For more information on how to install and set up a plugins, see that plugin’s description.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Integration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add functionality to your system using external tools.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Services</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External agencies offer various services tailored to your specific needs.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="adding-git-plugins">2. Adding plugins via Git</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you cannot find the plugin you need on plentyMarketplace, you can also add plugins from Git repositories. External developers may provide their plugins this way. For more information on available plugins, contact these developers directly. You can find an overview of certified partners <a href="https://www.plentymarkets.eu/service/partneragenturen/search/plugin-30/?aoff=s" target="_blank" rel="noopener">here</a>, post in the search/offer <a href="https://forum.plentymarkets.com/c/suche-biete/suche-biete-plugins" target="_blank" rel="noopener">category</a> on the forums or create a <a href="https://marketplace.plentymarkets.com/plentyprojects" target="_blank" rel="noopener">new enquiry</a> on plentyMarketplace.</p>
</div>
<div class="paragraph">
<p>For private repositories, you need a personal access token in addition to the repository URL. This page only describes how to generate a personal access token on GitHub. However, the process is similar on other sites like GitLab. Refer to the respective site’s documentation for details.</p>
</div>
<div class="paragraph instruction">
<p>Creating a personal access token for private repositories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to your <a href="https://github.com/settings/tokens" target="_blank" rel="noopener">token settings</a> on GitHub.</p>
</li>
<li>
<p>Click on <strong>Generate new token</strong>.
→ GitHub will ask you to confirm your password.</p>
</li>
<li>
<p>Enter a <strong>Token description</strong>.</p>
</li>
<li>
<p>Under <strong>Select scopes</strong>, activate <strong>repo:status</strong>.</p>
</li>
<li>
<p>Click on <strong>Generate token</strong>.
→ GitHub will generate a new token. You will need this token in the next step, so either stay on the page or save the token locally. If you save the token, remember to delete it again once you have added the plugin to your system.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now you have everything you need to add the plugin to your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Adding a Git plugin to plentymarkets</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>Click on <strong>Add new Repository</strong>.<br>
→ The repository settings are displayed.</p>
</li>
<li>
<p>Enter the repository URL and user name, as well as the access token you generated earlier, into the respective fields.</p>
</li>
<li>
<p>Enter the branch you want to check out during installation. By default, plentymarkets checks out the master branch, but you should check with the plugin developer which branch name to enter and update the field accordingly.</p>
</li>
<li>
<p><strong>Save</strong> the settings.
→ plentymarkets checks and establishes the connection to the Git repository.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Public repositories</div>
<div class="paragraph">
<p>When adding a public repository, you do not need to enter any real credentials as user name and token. However, the respective text fields must not be empty, so enter an arbitrary values, e.g. "guest".</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-adding-git-plugins" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Table view of the menu <strong>Plugins &gt;&gt; Git</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">*Add new repository</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a view for setting up a new repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Git repository name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a view for changing the settings of the selected repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Removes the repository from the system. You cannot delete repositories if they are installed in any plugin sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repository URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTTPS or HTTP URL of the Git repository</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Username</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The user name is part of the user data of the provider (e.g. GitHub) for the Git repository.<br>
For public repositories, enter any value into the field, e.g. <strong>guest</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The token is part of the user data of the provider (e.g. GitHub) for the Git repository. You can create new tokens in your provider’s settings.<br>
For public repositories, enter any value into the field, e.g. <strong>guest</strong>.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name of branch to be installed (must contain valid plugin.json file).</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Git repository has to include a valid plugin.json file. This input is required for the initial installation.</p></td>
</tr>
</tbody>
</table>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Tabellenansicht des Menüs <strong>Plugins &gt;&gt; Plugin-Übersicht &gt;&gt; Plugin-Detailansicht &gt;&gt; Git</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Downloads all commits on the selected branch. The list of commits is updated accordingly.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Downloads all commits on the selected branch and updates all files. The list of commits is updated accordingly.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Branch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dropdown menu to switch between branches of the repository. Displays the currently selected branch.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Commit ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text field for selecting specific commits.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Checkout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Switches branch to the commit specified in the <strong>Commit ID</strong> text field. Throws an error if the commit ID does not exist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the commit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can switch to a commit by clicking on it. Requires confirmation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Copy commit ID to clipboard.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Copies the ID of the commit to the clipboard, so that you can paste it into the <strong>Commit ID</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>View on GitHub</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a new tab to display the changes made in the commit.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="adding-git-plugins">2.1. Adding git plugins to the system</h3>
<div class="paragraph instruction">
<p>Git-Repository hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins &gt;&gt; Git</strong>.</p>
</li>
<li>
<p>Click on the <strong>Add new Repository</strong> button.<br>
→ The <strong>Repository settings</strong> view opens.</p>
</li>
<li>
<p>Enter the URL of the git repository you want to add into the <strong>Repository URL</strong> field.</p>
</li>
<li>
<p>Enter the name of your git account into the <strong>Username</strong> field. When adding a public repository, you can enter any string.</p>
</li>
<li>
<p>Enter the password or token associated with your account into the <strong>Password or Token</strong> field. When adding a public repository, you can enter any string.</p>
</li>
<li>
<p>Enter the name of the branch you want to select by default into the <strong>Branch name for installation (Must contain valid plugin.json)</strong> field. The <strong>master</strong> branch is entered by default. You can switch between branches of your repository after installing the plugin. Note that the selected branch must contain a valid plugin.json file. For more information on the plugin.json file, see our <a href="https://developers.plentymarkets.com/marketplace/plugin-requirements#marketplace-pluginjson" target="_blank" rel="noopener">developers page</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">plugin.json file</div>
<div class="paragraph">
<p>Trying to build a plugin set with plugins that do not contain a valid plugin.json file results in an error. That is why it is necessary to ensure that plugins added via git contain a valid plugin.json file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="git-branches">2.2. Switching between branches of a git plugin</h3>
<div class="paragraph">
<p>When working with git repositories, it is normal to use multiple branches. This way, you can change files without affecting your primary code base and check new code again before really implementing it. plentymarkets also supports working with different branches of a repository.</p>
</div>
<div class="paragraph instruction">
<p>Switching branches:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins &gt;&gt; Plugin Overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set you want to edit.<br>
→ This loads the plugin overview for the selected set.</p>
</li>
<li>
<p>Click on the git plugin you want to edit.<br>
→ This loads the plugin detail view for the selected plugin.</p>
</li>
<li>
<p>Go to <strong>Git</strong>.</p>
</li>
<li>
<p>From the dropdown menu <strong>*Branch</strong>, select the branch you want to switch to.<br>
→ A message confirms that you have successfully switched to the selected branch. These settings are saved automatically.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Branches are local settings. In other words, you can use the same plugin in multiple sets, but work with different branches. This is useful if you want to, for example, use a stable branch in your active plugin set and test a new feature in an inactive plugin set at the same time.</p>
</div>
</div>
<div class="sect2">
<h3 id="git-commits">2.3. Switching to commits</h3>
<div class="paragraph">
<p>If you want to work with a different version of your repository, but did not create a branch for that version, you can also switch to individual commits.</p>
</div>
<div class="paragraph instruction">
<p>Switching to commits:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins &gt;&gt; Plugin Overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set you want to edit.<br>
→ This loads the plugin overview for the selected set.</p>
</li>
<li>
<p>Click on the git plugin you want to edit.<br>
→ This loads the plugin detail view for the selected plugin.</p>
</li>
<li>
<p>Go to <strong>Git</strong>.</p>
</li>
<li>
<p>Copy the commit ID of the commit you want to switch to. The last 50 commits of the selected branch are displayed in the detail view. You can copy a commit ID by clicking on the **Copy commit ID to clipboard.” button in the row of the commit. If you want to switch to an older commit, you can do the same in the commits overview of your git repository.</p>
</li>
<li>
<p>Paste the copied ID into the <strong>Commit ID</strong> field.</p>
</li>
<li>
<p>Click on the checkout <strong>Checkout</strong> button.<br>
→ <strong><em>Or</em></strong>: If you want to switch to one of the last 50 commits, you can also click on the name of the commit and confirm the switch by clicking on the <strong>Ok</strong> button.<br>
→ A message confirms that you have successfully switched to the provided commit and <strong>Head@Commit_ID</strong> is displayed as branch. These settings are saved automatically.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="deleting-git-plugins">2.4. Removing git plugins from the system</h3>
<div class="paragraph">
<p>If you longer need a git plugin, you can completely remove it from the system. Note that you cannot remove plugins that are still installed in any plugin sets.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a git repository:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins &gt;&gt; Git</strong>.</p>
</li>
<li>
<p>Click on the <strong>Delete</strong> button to remove the repository from your system.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>