<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#local-vs-global-configuration"><span>1.</span><span> Local vs. global configuration</span></a></li>
<li><a href="#configuration-export-import"><span>2.</span><span> Exporting and importing local configurations</span></a></li>
<li><a href="#container-links"><span>3.</span><span> Container links</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Configuring installed plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-navigation">
<p><a href="/en/plugins/installing-added-plugins"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Installing added plugins</a></p>
</div>
<hr>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Configuring plugins</div>
<div class="paragraph">
<p>Once you’ve installed a plugin, you can configure it.</p>
</div>
<div class="paragraph">
<p>For more information on whether or not a plugin needs to be configured and which settings are necessary, see the description of the plugin on <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>This page contains information on plugin configuration in general. This includes the <a href="#local-vs-global-configuration">difference between local and global settings</a> as well as <a href="#configuration-export-import">exporting and importing local configurations</a>. It also explains <a href="#container-links">container links</a>.
Using container links, you can position elements provided by a plugin in your online store. This includes logos of payment providers and shipping service providers, amongst others.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="local-vs-global-configuration">1. Local vs. global configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugins can be configured either on a local or a global level.</p>
</div>
<div class="paragraph">
<p>You can set local configurations in the detail view of the plugin. When you configure a plugin locally, the configuration only applies to a single plugin set. This means that if the plugin is installed in two or more plugin sets, you have to configure it in each set separately. When the plugin gets deleted, the configuration is deleted, too.</p>
</div>
<div class="paragraph">
<p>Global configurations are carried out in the <strong>Setup</strong> menu. When you configure a plugin globally, the configuration applies to all plugin sets the plugin is installed in.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Exceptions</div>
<div class="paragraph">
<p>For plugins developed before the introduction of plugin sets, configuration may be different. Deviations are noted in the guide of the respective plugin on plentyMarketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="configuration-export-import">2. Exporting and importing local configurations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can export and import local configurations of a plugin. By exporting and importing configurations, you can easily transfer from one plugin set to another. Proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Exporting plugin configurations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the settings of the plugin whose configuration you want to export by clicking on the table row.</p>
</li>
<li>
<p>Click on <strong>Import configuration</strong>.</p>
</li>
<li>
<p>Click on the <strong>Export configuration</strong> button (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ A JSON file containing the configuration is downloaded.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Importing plugin configurations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the settings of the plugin whose configuration you want to export by clicking on the table row.</p>
</li>
<li>
<p>Click on <strong>Configuration import/export</strong>.</p>
</li>
<li>
<p>Click on the <strong>Select file</strong> button (<span class="icon "><i class="fa fa-ellipsis-h  "></i></span>) and select the file you want to import.</p>
</li>
<li>
<p>Click on the <strong>Import configuration</strong> button (<span class="icon purple"><i class="fa fa-upload  "></i></span>).<br>
→ The configuration is imported.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Limitations</div>
<div class="paragraph">
<p>A valid JSON file is required for import.</p>
</div>
<div class="paragraph">
<p>If the plugin version differs between export and import or configurations are renamed on code level, it is possible that not all options are imported.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Batch transferring plugin configurations</div>
<div class="paragraph">
<p>You can transfer the configurations of all plugins in a plugin set at once. To export or import all configurations, open the <strong>Plugins » Plugin set overview</strong> menu and open the plugin set.Afterwards, proceed the same way as when exporting and importing individual configurations. You can find the options in the <strong>Batch import/export plugin configurations</strong> area.</p>
</div>
<div class="paragraph">
<p>You can also batch export and import configurations when the plugins in a plugin set differ from the ones listed in the configuration export, or if they’re installed in a different version. If any settings don’t exist because of this, they’re skipped. If any settings don’t exist because of this, they’re skipped.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="container-links">3. Container links</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Using container links, you can position elements provided by a plugin in your online store. This includes logos of payment providers and shipping service providers, amongst others.
To see which containers to link, check the instructions of the respective plugin.</p>
</div>
<div class="paragraph">
<p>To select container links, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Selecting container links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit by clicking on the table row.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Open the settings of the plugin you want to link by clicking on the table row.<br>
→ The plugin settings open.</p>
</li>
<li>
<p>Click on <strong>Container links</strong>.</p>
</li>
<li>
<p>Select a data provider from the drop-down list.</p>
</li>
<li>
<p>Select <span class="icon "><i class="fa fa-check-square  "></i></span> the links you want to add.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for all data providers you want to link to containers.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Default container links</div>
<div class="paragraph">
<p>Some plugins come with predefined container links. These are so-called default container links.</p>
</div>
<div class="paragraph">
<p>Using default container links, plugin developers can recommend which containers to use for the plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<hr>
<div class="paragraph previous-navigation">
<p><a href="/en/plugins/installing-added-plugins"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Installing added plugins</a></p>
</div>
</div>
</div>
</main>