<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#adding-plugins-system"><span>1.</span><span> Adding plugins to the system</span></a></li>
<li><a href="#installing-plugins"><span>2.</span><span> Installing plugins</span></a></li>
<li><a href="#using-plugins"><span>3.</span><span> Using plugins</span></a></li>
<li><a href="#login"><span>4.</span><span> Login</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ: Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page contains frequently asked questions about plugins.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="adding-plugins-system">1. Adding plugins to the system</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section describes solutions to issues that frequently occur when adding plugins to your system.</p>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>I’ve purchased a plugin on plentyMarketplace, but it doesn’t appear in my list of uninstalled plugins. Where can I find it?</em></p>
<p>plentymarkets uses a cache for purchased plugins. If you’ve purchased a plugin and it doesn’t appear in the list of plugins yet, wait a few minutes. The list of plugins is updated every 5&nbsp;minutes.</p>
</li>
<li>
<p><em>I get an error message when I try to add a Git repository to my system. What can I do?</em></p>
<p>First, check your login details and ensure that the branch you entered really exists. If the error still occurs, your plugin JSON may be invalid. plentymarkets checks the plugin JSON when adding repositories to the system. Compare your plugin JSON with the requirements specified in our <a href="https://developers.plentymarkets.com/dev-doc/plugin-information" target="_blank" rel="noopener">developer documentation</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="installing-plugins">2. Installing plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This sections answers questions regarding the use of plugins.</p>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>Why does my plugin not work?</em></p>
<p>Make sure that you’ve successfully deployed the plugin. You can tell that the plugin has been deployed if the <strong>Active Version</strong> column shows a version number. If there is no version number, deploy the plugin set (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/plugins/assets/plugin-aktive-version.png" alt="plugin aktive version" width="640"></span></p>
</li>
<li>
<p><em>I’ve deployed the plugin set, but there’s no active version displayed. What’s the problem?</em></p>
<p>There may be multiple causes. First, it’s possible that deployment failed. You can see if the deployment process was successful by checking the timestamp in the plugin overview:<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/plugins/assets/plugin-set-zeitstempel.png" alt="plugin set zeitstempel" width="640"></span></p>
</li>
<li>
<p><em>The deployment has failed and the details say <code>Plugin MyPlugin requires “xy”.:</code> What does this mean?</em></p>
<p>This entry means the plugin requires another plugin called <em>xy</em> to run properly. You have to install this second plugin in your plugin set before you can deploy <em>MyPlugin</em>.</p>
</li>
<li>
<p><em>There’s neither a timestamp nor an error message. What do I do now?</em></p>
<p>Confirm that your DNS settings are correct and you have a valid SSL certificate.<br>
For further information on ordering SSL certificates, refer to the page <a href="/en/business-decisions/system-administration/ssl-certificate">SSL certificates</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="using-plugins">3. Using plugins</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>I’ve successfully deployed the plugin. Why does it not show up in my online store?</em></p>
<p>Some plugins have to be configured before you can use them. Check the plugin instructions on plentyMarketplace for details. Make sure that you have set all the required <a href="/en/configuring-installed-plugins#container-links">container links</a> if there are any.</p>
</li>
<li>
<p><em>The plugin is supposed to add new menus to my back end. Why aren’t they shown?</em></p>
<p>Check that you’ve selected the plugin set where you’ve installed the plugin as <a href="/en/installing-added-plugins#back-end-plugin-set">back end plugin set</a> for your user account.</p>
</li>
<li>
<p><em>I’ve checked all the previous points, but the plugin still doesn’t work properly. Is there anything else I can do?</em></p>
<p>It’s possible that the plugin wasn’t installed completely. You can re-install the plugin by repairing it. To repair the plugin, go to the plugin overview and open the detail view of the plugin. Then click on the <strong>Repair</strong> button and confirm the query.<br>
All your settings are retained when repairing a plugin.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="login">4. Login</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>After installing and deploying a plugin, I can no longer log into my system. How can I access my back end again?</em></p>
<p>Log in using the <a href="/en/welcome/login-tour#70">safe mode</a>. Then <a href="/en/removing-installed-plugins#deactivating-plugins">deactivate</a> the plugin. You should be able to log in normally again.</p>
</li>
</ol>
</div>
</div>
</div>
</main>