<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#creating-plugin-set"><span>1.</span><span> Creating a new plugin set</span></a></li>
<li><a href="#installing-plugins"><span>2.</span><span> Installing a plugin in a plugin set</span></a>
<ul class="sectlevel2">
<li><a href="#linking-plugin-sets"><span>2.1.</span><span> Switching plugin sets to live</span></a></li>
<li><a href="#back-end-plugin-set"><span>2.2.</span><span> Linking plugin sets to user accounts</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installing added plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/en/plugins/adding-plugins-system"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Adding plugins to the system</a>
<a href="/en/plugins/configuring-installed-plugins">Configuring installed plugins <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>To use plugins, you first have to include them in a plugin set and deploy the set. <a href="#creating-plugin-set">Create or copy</a> a plugin set. In the plugin set, you can <a href="#installing-plugins">install and deploy</a> the plugin. Finally, to use the plugin productively, you have to link it to your <a href="#linking-plugin-set">client</a> or <a href="#back-end-plugin-set">user account</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="creating-plugin-set">1. Creating a new plugin set</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugins can only be used as part of a plugin set. Before you install a plugin, you first have to create a new plugin set. Even if you want to install a plugin in an existing plugin set, you should work with a copy of the set, so that you can easily revert your changes if necessary.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Backup</div>
<div class="paragraph">
<p>If you want to edit your plugin set, create a backup copy first. This way, you can easily discard changes.</p>
</div>
<div class="paragraph">
<p>To create a copy of a plugin set, open the <strong>Plugins » Plugin set overview</strong> menu. Then, click in the <strong>Actions</strong> column on the <strong>Copy plugin set</strong> button (<span class="icon yellow"><i class="fa fa-clipboard  "></i></span>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating new plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new plugin set</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set.</p>
</li>
<li>
<p>Click <strong>Create</strong>.<br>
→ The plugin set is created and appears in the list of plugin sets.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can change the name of the plugin set at any time inside the plugin set.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Plugin set name</div>
<div class="paragraph">
<p>Plugin set names may only contain certain characters. All letters from the German alphabet are permitted, including umlauts and 'ß'. You may also use numbers, the characters '-', '_', '.' and empty spaces. Plugin set names must contain between 3 and 255 characters.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="installing-plugins">2. Installing a plugin in a plugin set</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The whole plugin installation process includes three steps. First, you have to install the plugin in a plugin set. That’s when the plugin files are transferred to your system. In the second step, you activate the plugin. By activating a plugin, you indicate that you want to include it when your system or online store is loaded. Finally, you deploy the plugin set with all its active plugins. By deploying the set, you finish the installation process.</p>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit by clicking on the line in the table.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select the plugin you want to install from the list.<br>
→ Information about the selected plugin is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ <strong><em>Optional:</em></strong> After installing the plugin, you can configure it.</p>
<div class="paragraph">
<p>For more information on whether or not a plugin needs to be configured and which settings are necessary, see the description of the plugin on <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="linking-plugin-sets">2.1. Switching plugin sets to live</h3>
<div class="paragraph">
<p>Once you’re satisfied with your plugin set, you can switch it live by linking it to one of your clients. Proceed as described below.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Plugin set preview</div>
<div class="paragraph">
<p>Use the <strong>plugin set preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) to check what your online store looks like using the selected plugin set.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview » Link clients</strong>.<br>
→ An overview of all clients and plugin sets opens.</p>
</li>
<li>
<p>Drag the client you want to link to the plugin set to the area of the plugin set.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="back-end-plugin-set">2.2. Linking plugin sets to user accounts</h3>
<div class="paragraph">
<p>You can use active plugins in a plugin set not only to add additional features to your store, but also to add new menu items or user interfaces to your back end. Every user can select their own back end plugin set to load the plugins the set contains for their own back end. This is useful if you only need to be able to access certain functionality, but not all. If you want to change the plugin set for your back end view, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a back end plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the plentyMarkets back end, hover over the account icon (<span class="icon "><i class="fa fa-user-circle  "></i></span>) in the upper right corner.</p>
</li>
<li>
<p>Click on <strong>Backend plugin set</strong>.<br>
→ The <strong>Backend plugin set</strong> window opens.</p>
</li>
<li>
<p>Click on a plugin set.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Reload the page.<br>
→ The selected plugin set is now active in your back end.</p>
</li>
</ol>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/en/plugins/adding-plugins-system"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Adding plugins to the system</a>
<a href="/en/plugins/configuring-installed-plugins">Configuring installed plugins <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</div>
</main>