<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#managing-plugin-sets"><span>1.</span><span> Plugin overview - managing plugin sets</span></a></li>
<li><a href="#creating-plugin-sets"><span>2.</span><span> Creating plugin sets</span></a></li>
<li><a href="#editing-plugin-sets"><span>3.</span><span> Editing plugin sets</span></a>
<ul class="sectlevel2">
<li><a href="#changing-plugin-set-name"><span>3.1.</span><span> Changing the name of a plugin set</span></a></li>
<li><a href="#adding-plugins"><span>3.2.</span><span> Adding plugins</span></a></li>
<li><a href="#updating-plugins"><span>3.3.</span><span> Updating plugins</span></a></li>
<li><a href="#removing-plugins"><span>3.4.</span><span> Removing plugins</span></a>
<ul class="sectlevel3">
<li><a href="#deactivating-plugins"><span>3.4.1.</span><span> Deactivating plugins</span></a></li>
<li><a href="#deleting-plugins"><span>3.4.2.</span><span> Deleting plugins</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#deleting-plugin-sets"><span>4.</span><span> Deleting plugin sets</span></a></li>
<li><a href="#activating-back-end-plugin-set"><span>5.</span><span> Activating a back end plugin set</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins and plugin sets</h1><div class="sect1">
<h2 id="managing-plugin-sets">1. Plugin overview - managing plugin sets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following tables lists all UI elements of the <strong>Plugin overview</strong> menu and provides a short description for each of them. Furthermore, this section includes instructions for creating, editing and deleting your plugin sets.</p>
</div>
<table id="table-plugin-overview" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Table view of the <strong>Plugin » Plugin overview</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create new set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Open a window for creating a new plugin set.<br>
<strong>Save</strong>: Saves the new plugin set.<br>
<strong>New Set</strong>: Name of the plugin set.<br>
<strong>Copy Plugin Set</strong>: Select an existing plugin set from the dropdown menu to copy all of its settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Publish plugin set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Publishes the selected plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the plugin set</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Loads the plugin overview for the selected plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete Plugin Set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes the plugin set. Requires confirmation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong>: Loads all plugins of the plugin set in the plugin overview that conform to the selected filter settings.<br>
<strong>Reset</strong>: Resets the filter settings to the default settings.<br>
<strong>Name</strong>: Filters for plugins whose name includes the entered string.<br>
<strong>plentyMarketplace</strong>: Filters for plugins which were added to the system via plentyMarketplace.<br>
<strong>Git</strong>: Filters for plugins which were added to the system via a git repository.<br>
<strong>Local</strong>: Filters for plugins which were added to the system via local storage.<br>
<strong>Installed</strong>: Filters for plugins which are installed for the selected plugin set.<br>
<strong>Not installed</strong>: Filters for plugins which are not installed for the selected plugin set.<br>
<strong>Active</strong>: Filters for plugins which are activated for the selected plugin set.<br>
<strong>Not Active</strong>: Filters for plugins which are not activated for the selected plugin set.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save &amp; publish plugin set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves changes made to the plugin set and publishes plugins in the set for further use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin set preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a new tab displaying a preview of the front end with the current settings. Plugin sets must be published before changes are reflected in the preview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyDrive: build automatically</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When activated, whenever you add plugins to the plugin set via plentyDrive, the plugin set will be saved and published automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin set settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a window for editing the selected plugin set.<br>
<strong>Save</strong>: Saves the edited plugin set.<br>
<strong>Name</strong>: Changes the name of the plugin set.<br>
<strong>Plugin set ID</strong>: ID of the plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Log</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible when error messages exist. Displays the error messages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows whether the plugin is active or not.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the plugin. If the plugin is installed, click to view information and settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Installed version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The latest version of the plugin currently installed. A symbol indicates when a newer version of the plugin exists.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The activated version of the plugin. Will be loaded for the selected plugin set in both the front end and back end.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The source of the plugin. Can be plentyMarkets, Git or a local storage.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Action</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Install plugin</strong>: Installs the plugin. In a new window, you can select the version of the plugin you want to install and view the changelog. Only visible when the plugin is not installed.<br>
<strong>Update</strong>: Updates the plugin to a newer version. In a new window, you can select the version of the plugin you want to install and view the changelog. Only visible when there is a newer version of the plugin.<br>
<strong>No update available</strong>: The latest version of the plugin is installed.<br>
<strong>Set position</strong>: Determines the order in which plugins are loaded. Plugins set to a low position are loaded first.<br>
<strong>Delete</strong>: Removes the plugin from the plugin set. Requires confirmation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyMarketplace</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens plentyMarketplace in a new tab.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>A plugin set is a collection of multiple plugins. These sets can all be managed for one or multiple clients in the <strong>Plugin overview</strong>. They contain one or multiple plugins as well as settings for plugin configuration and layout containers. Plugin sets especially benefit sellers who use plentymarkets to manage multiple online stores at the same time. They can activate and configure different plugin sets for different clients.</p>
</div>
<div class="paragraph">
<p>The following sections describe how to create new plugin sets, edit plugin sets and delete plugin sets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="creating-plugin-sets">2. Creating plugin sets</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Creating plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set.</p>
</li>
<li>
<p>Select a plugin set from the <strong>Copy plugin set</strong> dropdown menu to copy that plugin set’s settings.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the plugin set you want to edit.<br>
→ This loads the plugin overview for the selected set.</p>
</li>
<li>
<p>Use the filter by checking the <strong>Not installed</strong> checkbox and clicking on <strong>Search</strong>. If you want to install plugins you have added via a git repository or local storage, also check <strong>Git</strong> or <strong>Local</strong>.
→ The plugin overview will be updated according to the selected filters.</p>
</li>
<li>
<p>To install a plugin, under <strong>Action</strong>, click on the <strong>Install plugin</strong> button associated with the plugin.<br>
→ A new window opens, allowing you select the version you want to install. Select the version you want to install from the <strong>Version to install</strong> dropdown menu. The newest version is selected by default. A text field below the dropdown menu shows the changelog of the currently selected version. Click on the <strong>Install</strong> button to install the selected version.<br>
→ The plugin will be installed and is then available in the plugin overview of the plugin set. The overview shows all currently installed plugins.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Activating plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>To activate a plugin, under <strong>Active</strong>, click on the <strong>Not active</strong> button associated with the plugin.<br>
→ Activated plugins will be loaded for the selected plugin set in both the front end and back end.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Setting the position of plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>To set the position of a plugin, under <strong>Action</strong>, click on the <strong>Set position</strong> button associated with the plugin.<br>
→ The <strong>Plugin position</strong> window will open. Enter the position you want to assign the plugin in the text field and click on <strong>Save</strong>.
→ The position of the plugin will be updated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Position of plugins</div>
<div class="paragraph">
<p>A plugin’s relative position determines the order in which plugins of the plugin set are loaded.  Plugins with a lower position will be loaded earlier. That is why you should set the IO plugin to the highest position and the Ceres plugin to the second highest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Previewing plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Plugin set preview</strong>.</p>
</li>
<li>
<p>Select the online store that you want to preview. Before previewing a plugin, it set has to be deployed by clicking the <strong>Save &amp; deploy plugin set</strong> button.<br>
→ The selected online store and its selected plugin set open in a new browser tab.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Link plugin sets</strong>.<br>
→ The <strong>Link plugin sets</strong> window opens.</p>
</li>
<li>
<p>Select the plugin set you want to use for your online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking plugin sets</div>
<div class="paragraph">
<p>Linking a plugin set to a client makes all plugins of that plugin set public. This happens immediately. You should test the plugin set thoroughly and utilize the preview function before linking it.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="editing-plugin-sets">3. Editing plugin sets</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="changing-plugin-set-name">3.1. Changing the name of a plugin set</h3>
<div class="paragraph instruction">
<p>Changing the name of a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set you want to edit.<br>
→ This loads the plugin overview for the selected set.</p>
</li>
<li>
<p>Click on the <strong>Plugin Set Settings</strong> button.
→ The <strong>Settings</strong> window will open.</p>
</li>
<li>
<p>Under <strong>Name</strong>, enter the new name for your plugin set.</p>
</li>
<li>
<p><strong>Save</strong> the settings.
→ The name of the plugin set changes.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Backup</div>
<div class="paragraph">
<p>Whenever you want to edit a plugin set, either by adding new plugins to the set, updating existing plugins or deleting plugins, it is recommended that you first create a backup of the plugin set and using this backup to implement your changes. This prevents any unforeseen consequences of the changes from affecting your actual store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="adding-plugins">3.2. Adding plugins</h3>
<div class="paragraph instruction">
<p>Copying a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set.</p>
</li>
<li>
<p>Select a plugin set from the <strong>Copy plugin set</strong> dropdown menu to copy that plugin set’s settings.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set you want to edit.<br>
→ This loads the plugin overview for the selected set.</p>
</li>
<li>
<p>Use the filter by checking the <strong>Not installed</strong> checkbox and clicking on <strong>Search</strong>. If you want to install plugins you have added via a git repository or local storage, also check <strong>Git</strong> or <strong>Local</strong>.
→ The plugin overview will be updated according to the selected filters.</p>
</li>
<li>
<p>To install a plugin, under <strong>Action</strong>, click on the <strong>Install plugin</strong> button associated with the plugin.<br>
→ A new window opens, allowing you select the version you want to install. Select the version you want to install from the <strong>Version to install</strong> dropdown menu. The newest version is selected by default. A text field below the dropdown menu shows the changelog of the currently selected version. Click on the <strong>Install</strong> button to install the selected version.<br>
→ The plugin will be installed and is then available in the plugin overview of the plugin set. The overview shows all currently installed plugins.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Activating plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>To activate a plugin, under <strong>Active</strong>, click on the <strong>Not active</strong> button associated with the plugin.<br>
→ Activated plugins will be loaded for the selected plugin set in both the front end and back end.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Setting the position of plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>To set the position of a plugin, under <strong>Action</strong>, click on the <strong>Set position</strong> button associated with the plugin.<br>
→ The <strong>Plugin position</strong> window will open. Enter the position you want to assign the plugin in the text field and click on <strong>Save</strong>.
→ The position of the plugin will be updated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Position of plugins</div>
<div class="paragraph">
<p>A plugin’s relative position determines the order in which plugins of the plugin set are loaded.  Plugins with a lower position will be loaded earlier. That is why you should set the IO plugin to the highest position and the Ceres plugin to the second highest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Previewing plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Plugin set preview</strong>.</p>
</li>
<li>
<p>Select the online store that you want to preview. Before previewing a plugin, it set has to be deployed by clicking the <strong>Save &amp; deploy plugin set</strong> button.<br>
→ The selected online store and its selected plugin set open in a new browser tab.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Link plugin sets</strong>.<br>
→ The <strong>Link plugin sets</strong> window opens.</p>
</li>
<li>
<p>Select the plugin set you want to use for your online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking plugin sets</div>
<div class="paragraph">
<p>Linking a plugin set to a client makes all plugins of that plugin set public. This happens immediately. You should test the plugin set thoroughly and utilize the preview function before publishing it.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="updating-plugins">3.3. Updating plugins</h3>
<div class="paragraph instruction">
<p>Copying a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set.</p>
</li>
<li>
<p>Select a plugin set from the <strong>Copy plugin set</strong> dropdown menu to copy that plugin set’s settings.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Updating plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>If there is an update for a plugin, the <strong>Update</strong> button associated with the plugin under <strong>Action</strong> will be highlighted. Click this button to update the plugin.<br>
→ A new window opens, allowing you select the version you want to install. Select the version you want to install from the <strong>Version to install</strong> dropdown menu. The newest version is selected by default. A text field below the dropdown menu shows the changelog of the currently selected version. Click on the <strong>Install</strong> button to install the selected version.<br>
→ The plugin will be updated.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Setting the position of plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>To set the position of a plugin, under <strong>Action</strong>, click on the <strong>Set position</strong> button associated with the plugin.<br>
→ The <strong>Plugin position</strong> window will open. Enter the position you want to assign the plugin in the text field and click on <strong>Save</strong>.
→ The position of the plugin will be updated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Position of plugins</div>
<div class="paragraph">
<p>A plugin’s relative position determines the order in which plugins of the plugin set are loaded.  Plugins with a lower position will be loaded earlier. That is why you should set the IO plugin to the highest position and the Ceres plugin to the second highest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Previewing plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Plugin set preview</strong>.</p>
</li>
<li>
<p>Select the online store that you want to preview. Before previewing a plugin, it set has to be deployed by clicking the <strong>Save &amp; deploy plugin set</strong> button.<br>
→ The selected online store and its selected plugin set open in a new browser tab.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Link plugin sets</strong>.<br>
→ The <strong>Link sets</strong> window opens.</p>
</li>
<li>
<p>Select the plugin set you want to use for your online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking plugin sets</div>
<div class="paragraph">
<p>Linking a plugin set to a client makes all plugins of that plugin set public. This happens immediately. You should test the plugin set thoroughly and utilize the preview function before linking it.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="removing-plugins">3.4. Removing plugins</h3>
<div class="paragraph">
<p>There are two ways to remove a plugin’s functionality from a plugin set. When you deactivate a plugin, it remains part of the set and you can activate it again at a later point without having to reinstall it. When you delete a plugin, it is removed from the set completely.</p>
</div>
<div class="sect3">
<h4 id="deactivating-plugins">3.4.1. Deactivating plugins</h4>
<div class="paragraph instruction">
<p>Copying a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set.</p>
</li>
<li>
<p>Select a plugin set from the <strong>Copy plugin set</strong> dropdown menu to copy that plugin set’s settings.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Deactivating plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>To deactivate a plugin, under <strong>Active</strong>, click on the <strong>Active</strong> button associated with the plugin.<br>
→ Deactivated plugins will not be loaded for the selected plugin set in both the front end and back end.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Previewing plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Plugin set preview</strong>.</p>
</li>
<li>
<p>Select the online store that you want to preview. Before previewing a plugin, it set has to be deployed by clicking the <strong>Save &amp; deploy plugin set</strong> button.<br>
→ The selected online store and its selected plugin set open in a new browser tab.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Link plugin sets</strong>.<br>
→ The <strong>Link sets</strong> window opens.</p>
</li>
<li>
<p>Select the plugin set you want to use for your online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking plugin sets</div>
<div class="paragraph">
<p>Linking a plugin set to a client makes all plugins of that plugin set public. This happens immediately. You should test the plugin set thoroughly and utilize the preview function before linking it.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="deleting-plugins">3.4.2. Deleting plugins</h4>
<div class="paragraph instruction">
<p>Copying a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set.</p>
</li>
<li>
<p>Select a plugin set from the <strong>Copy plugin set</strong> dropdown menu to copy that plugin set’s settings.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Deleting plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>To delete a plugin, under <strong>Action</strong>, click on the <strong>Delete</strong> button associated with the plugin.<br>
→ Deleted plugins will be removed from the plugin set.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Previewing plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Plugin set preview</strong>.</p>
</li>
<li>
<p>Select the online store that you want to preview. Before previewing a plugin, it set has to be deployed by clicking the <strong>Save &amp; deploy plugin set</strong> button.<br>
→ The selected online store and its selected plugin set open in a new browser tab.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Link plugin set</strong>.<br>
→ The <strong>Link sets</strong> window opens.</p>
</li>
<li>
<p>Select the plugin set you want to use for your online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking plugin sets</div>
<div class="paragraph">
<p>Linking a plugin set to a client makes all plugins of that plugin set public. This happens immediately. You should test the plugin set thoroughly and utilize the preview function before linking it.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="deleting-plugin-sets">4. Deleting plugin sets</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Deleting plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the <strong>Delete plugin set</strong> button associated with the plugin set you want to delete.<br>
→ The <strong>Delete plugin set</strong> window opens.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The plugin set will be deleted.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="activating-back-end-plugin-set">5. Activating a back end plugin set</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use active plugins in a plugin set not only to add additional features to your store, but also to add new menu items or user interfaces to your back end. Every user can select their own back end plugin set to load the plugins the set contains for their own back end. This is useful if some of your employees only need to be able to access certain functionality, but not all. If you want to change the plugin set for your back end view, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a back end plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the plentyMarkets back end, click on the account symbol in the upper right corner.</p>
</li>
<li>
<p>Click on <strong>Backend plugin set</strong>.<br>
→ The <strong>Backend plugin set</strong> window opens.</p>
</li>
<li>
<p>Click on a plugin set.</p>
</li>
<li>
<p><strong>Save</strong> the settings.
→ The selected plugin set is now active in your back end.</p>
</li>
</ol>
</div>
</div>
</div>
</main>