<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#plugin-configuration"><span>1.</span><span> Plugin configuration</span></a>
<ul class="sectlevel2">
<li><a href="#configuration-export-import"><span>1.1.</span><span> Export and import</span></a>
<ul class="sectlevel3">
<li><a href="#_plugin_set_configuration"><span>1.1.1.</span><span> Plugin set configuration</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#container-links"><span>2.</span><span> Container links</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up plugins</h1><div class="sect1">
<h2 id="plugin-configuration">1. Plugin configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing a plugin, you may need to configure it. Depending on the plugin, you will have one of two options. Either, when clicking on the name of the plugin in the plugin set, a window with configuration options opens, or a new interface is added to the <strong>System settings</strong> menu when installing the plugin. Any setting you change within a plugin set only applies to that specific set. Any setting you change in the <strong>System settings</strong> menu applies globally and affects all plugin sets, even when installing the plugin in a set at a later time.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Configuration exceptions</div>
<div class="paragraph">
<p>For plugins developed before the introduction of plugin sets, configuration may be different. If there are any differences, check the instructions of the plugin on plentyMarketplace for details.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="configuration-export-import">1.1. Export and import</h3>
<div class="paragraph">
<p>If you want to use the same plugin in more than one set, you cannot copy the configuration from an already set up set. You can, however, export the configuration and import it to the new one afterwards.</p>
</div>
<div class="paragraph instruction">
<p>Exporting the plugin configuration:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins</strong> » <strong>Plugin overview</strong>.</p>
</li>
<li>
<p>Open the plugin detail view of the plugin you want to link by clicking on that plugin’s name.</p>
</li>
<li>
<p>Click on the <strong>Configuration export/import</strong> button.</p>
</li>
<li>
<p>Click on <strong>Export configuration</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>).<br>
→ A JSON file containing the configuration is downloaded.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">System settings</div>
<div class="paragraph">
<p>During export, only settings from the plugin detail view are exported. Settings from the <strong>System settings</strong> menu are not. However, system settings are not deleted, even when deleting the plugin from a plugin set.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Importing the plugin configuration:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins</strong> » <strong>Plugin overview</strong>.</p>
</li>
<li>
<p>Open the plugin detail view of the plugin whose configuration you want to export by clicking on that plugin’s name.</p>
</li>
<li>
<p>Click on the <strong>Configuration export/import</strong> button.</p>
</li>
<li>
<p>Click on the <strong>Select file</strong> (<span class="icon"><i class="fa fa-ellipses-h"></i></span>) button and select the file you want to import.</p>
</li>
<li>
<p>Click on <strong>Import configuration</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).
→ The configuration is imported.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Limitations</div>
<div class="paragraph">
<p>A valid JSON file is required for import.</p>
</div>
<div class="paragraph">
<p>If the plugin version differs between export and import or configurations are renamed on code level, it is possible that not all options are imported.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_plugin_set_configuration">1.1.1. Plugin set configuration</h4>
<div class="paragraph">
<p>If you do not only need the configuration of one plugin, but of all plugins of the same plugin set, you can export and import them all at once. For this, go to <strong>Plugin set settings</strong> and proceed as described above to export and import configurations.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="container-links">2. Container links</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If a plugin adds new elements to your online store, such as the logo of a payment method, certain services must be linked to so-called containers.</p>
</div>
<div class="paragraph">
<p>By default, you can configure container links in the <strong>CMS</strong> » <strong>Container links</strong> menu,  but plugin developers can also provide a set of default containers which you can then select in the plugin detail view all at once.</p>
</div>
<div class="paragraph instruction">
<p>Selecting default container links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins</strong> » <strong>Plugin overview</strong>.</p>
</li>
<li>
<p>Open the plugin detail view of the plugin whose configuration you want to import by clicking on that plugin’s name.</p>
</li>
<li>
<p>Click on the <strong>Default container links</strong> button.</p>
</li>
<li>
<p>Check the checkboxes of the containers you want to link.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can check if it is possible to link containers this way in the plugin’s item view on plentyMarketplace.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Does not overwrite existing links</div>
<div class="paragraph">
<p>Saving the default container links does not overwrite existing links. If you want to use only the default container links, you must first delete all links of the plugin in the <strong>CMS</strong> » <strong>Container links</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>