<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#deactivating-plugins"><span>1.</span><span> Deactivating plugins</span></a></li>
<li><a href="#deleting-plugins-from-plugin-sets"><span>2.</span><span> Deleting plugins from plugin sets</span></a></li>
<li><a href="#deleting-plugin-sets"><span>3.</span><span> Deleting plugin sets</span></a></li>
<li><a href="#deleting-git-repositories"><span>4.</span><span> Deleting Git repositories:</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Removing installed plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>There are multiple ways to remove plugins installed in a plugin set. You can <a href="#deactivating-plugins">deactivate</a> individual plugins, so that they’re no longer loaded in your online store and back end, or completely <a href="#deleting-plugin-from-plugin-sets">delete them from a plugin set</a>. If you want to delete all plugins from a set, you can <a href="#deleting-plugin-set">delete the plugin set itself</a> instead.</p>
</div>
<div class="paragraph">
<p>It’s not possible to completely remove plugins from the system that you purchased on plentyMarketplace. But, if it’s a Git plugin, you can <a href="#deleting-git-repository">delete the corresponding repository</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="deactivating-plugins">1. Deactivating plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you deactivate a plugin, it’s no longer loaded in your online store and back end. This change is effective immediately, without deploying the plugin set. If you deactivate a plugin this way, it can be reactivated in the same way, again without having to deploy the plugin set.</p>
</div>
<div class="paragraph">
<p>But, deactivated plugins are disregarded during deployment. If you successfully deployed a plugin set once while a given plugin was deactivated, you have to activate the plugin and <a href="#plugins/installing-added-plugins">deploy the plugin set again</a> before the plugin is active.</p>
</div>
<div class="paragraph">
<p>For whether you can toggle a plugin active or inactive by activating and deactivating it, see the <strong>Active version</strong> column in the <strong>Plugins » Plugin overview</strong> menu. If there’s a version number, you don’t have to deploy the set to toggle the plugin active.</p>
</div>
<div class="paragraph">
<p>You should deactivate a plugin if you don’t want to use it temporarily. Unlike when deleting a plugin, deactivating a plugin retains its <a href="#plugins/configuring-installed-plugins">local configuration</a>.</p>
</div>
<div class="paragraph">
<p>To deactivate a plugin, click in the <strong>Plugins » Plugin overview</strong> menu on the <strong>Active</strong> button (<span class="icon skyBlue"><i class="fa fa-globe"></i></span>).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="deleting-plugins-from-plugin-sets">2. Deleting plugins from plugin sets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you delete a plugin, all of its files are removed from the plugin set. Delete a plugin if you don’t want to use it anymore.</p>
</div>
<div class="paragraph">
<p>When you delete a plugin, all <a href="/en/plugins/configuring-installed-plugins#local-vs-global-configuration">local configurations</a> and <a href="/en/plugins/configuring-installed-plugins#container-links">container links</a> are deleted. To keep a backup of a local configuration, <a href="#plugins/configuring-installed-plugins">export the configuration</a>. It’s not possible to create a backup of container links.</p>
</div>
<div class="paragraph">
<p>To delete a plugin, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Deleting plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>In the <strong>Action</strong> column, click on the <strong>Delete</strong> button (<span class="icon red"><i class="fa fa-minus-square"></i></span>).</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ Deleted plugins are removed from the plugin set.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After deleting a plugin, you can find it among your uninstalled plugins. If you purchased the plugin on plentyMarketplace, you cannot completely remove it from your system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="deleting-plugin-sets">3. Deleting plugin sets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you delete a plugin set, all files of all the plugins contained in the set are removed from your active storage. Delete a plugin set if you don’t want to use any of the contained plugins in this configuration anymore.</p>
</div>
<div class="paragraph">
<p>When you delete a plugin, all <a href="/en/plugins/configuring-installed-plugins#local-vs-global-configuration">local configurations</a> and <a href="/en/plugins/configuring-installed-plugins#container-links">container links</a> are deleted. To keep a backup of a local configuration, <a href="#plugins/configuring-installed-plugins">export the configuration</a>. It’s not possible to create a backup of container links.</p>
</div>
<div class="paragraph">
<p>To delete a plugin set, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Deleting plugin sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>On a plugin set tile, click <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square"></i></span>).<br>
→ The <strong>Delete plugin set</strong> window opens.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The plugin set is deleted.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="deleting-git-repositories">4. Deleting Git repositories:</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you don’t need a Git plugin anymore, you can delete the corresponding repository to completely remove the plugin from your system. To delete a Git repository, you first have to <a href="#deleting-plugins-from-plugin-sets">delete the corresponding plugin from all plugin sets</a>.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a Git repository:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>To delete the repository from the system, click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square"></i></span>).</p>
</li>
</ol>
</div>
</div>
</div>
</main>