<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#allgemeine-informationen"><span>1.</span><span> Informationen zum automatischen Datenaustausch</span></a></li>
<li><a href="#artikelexport-katalog"><span>2.</span><span> Artikelexport einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#katalog-im-assistenten"><span>2.1.</span><span> Katalog im Assistenten erstellen</span></a></li>
<li><a href="#datenfelder-zuordnen"><span>2.2.</span><span> Datenfelder im Katalog zuordnen</span></a></li>
<li><a href="#weitere-eigenschaften"><span>2.3.</span><span> Weitere Eigenschaften erstellen</span></a></li>
</ul>
</li>
<li><a href="#varianten-mit-katalog-kategorie-verknüpfen"><span>3.</span><span> Varianten mit Conrad Katalog-Kategorie verknüpfen</span></a>
<ul class="sectlevel3">
<li><a href="#eigenschaften-mit-varianten-verknuepfen"><span>3.1.</span><span> Eigenschaften mit Varianten verknüpfen und Werte speichern</span></a></li>
</ul>
</li>
<li><a href="#Conrad"><span>4.</span><span> Katalogexport aktivieren</span></a>
<ul class="sectlevel2">
<li><a href="#marktplatzspezifische-werte"><span>4.1.</span><span> Markplatzspezifische Werte übertragen</span></a></li>
</ul>
</li>
<li><a href="#_das_attribut_hilfetool_verwenden"><span>5.</span><span> Das Attribut-Hilfetool verwenden</span></a>
<ul class="sectlevel2">
<li><a href="#_gültige_attributwerte_zuordnen_und_übertragen"><span>5.1.</span><span> Gültige Attributwerte zuordnen und übertragen</span></a></li>
</ul>
</li>
<li><a href="#produkt-und-angebotsdaten"><span>6.</span><span> Produkt- und Angebotsdaten übertragen</span></a>
<ul class="sectlevel2">
<li><a href="#produktdaten-ubertragen"><span>6.1.</span><span> Produktdaten übertragen</span></a></li>
<li><a href="#_voraussetzungen_für_die_produktdatenübertragung"><span>6.2.</span><span> Voraussetzungen für die Produktdatenübertragung</span></a></li>
<li><a href="#_produktdaten_aktualisieren"><span>6.3.</span><span> Produktdaten aktualisieren</span></a></li>
<li><a href="#angebotsdaten-uebertragen"><span>6.4.</span><span> Angebotsdaten übertragen</span></a></li>
<li><a href="#_voraussetzungen_für_die_angebotsdatenübertragung"><span>6.5.</span><span> Voraussetzungen für die Angebotsdatenübertragung</span></a></li>
</ul>
</li>
<li><a href="#variantenverfuegbarkeit"><span>7.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automatischer Austausch von Produkt- und Angebotsdaten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/conrad/conrad-einrichten"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Conrad einrichten</a>
<a href="/maerkte/conrad/automatisierte-auftragsabwicklung">Automatisierte Auftragsabwicklung einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Auf dieser Seite lernst du, wie du mit Hilfe eines Assistenten einen Katalog für den Artikelexport erstellst und wie du die Datenfelder im Katalog zuordnest, um deine Produkt- und Angebotsdaten korrekt an den Marktplatz zu übertragen. Anschließend musst du nur noch die Variantenverfügbarkeit einstellen und den Katalogexport aktivieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="allgemeine-informationen">1. Informationen zum automatischen Datenaustausch</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert und eingerichtet hast, stehen die in <a href="#datenaustausch-Conrad">Tabelle 1</a> automatisierten Prozesse bereit:</p>
</div>
<table id="datenaustausch-Conrad" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Häufigkeit des Datenaustauschs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Daten</th>
<th class="tableblock halign-left valign-top">Intervall</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Artikeldaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelexport</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Täglich</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandsabgleich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Alle 15 Minuten</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preisabgleich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Alle 15 Minuten</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragsdaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsimport</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Alle 15 Minuten</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="artikelexport-katalog">2. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden über Marktplatz-Formate zu Conrad übertragen. Kataloge erstellst du im Menü <strong>Daten » Kataloge</strong>. Du arbeitest zum ersten Mal mit den Katalogen? Dann solltest du dich zuerst <a href="/daten/daten-exportieren/kataloge-verwalten">mit dem Prinzip der Kataloge vertraut machen</a>.</p>
</div>
<div class="paragraph">
<p>Für jede Produktkategorie von Conrad, in der du Produkte verkaufen möchtest, erstellst du einen eigenen Katalog. Verknüpfe anschließend im Marktplatz-Format die von Conrad vorgegebenen Felder mit den in plentymarkets gespeicherten Artikeldaten. Die Katalog-Vorlagen werden automatisch täglich zu Conrad exportiert, wenn du den Katalog aktivierst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Fehler-Log</div>
<div class="paragraph">
<p>Wenn es beim Export Probleme gibt, findest du die zugehörigen Log-Einträge auf Mirakl und nicht im Log von plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="katalog-im-assistenten">2.1. Katalog im Assistenten erstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen Katalog im Assistenten zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Katalog mit dem Assistenten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Conrad-Katalog</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unter dieser Beschreibung auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke im Schritt <strong>Zusammenfassung</strong> auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Katalog wird erstellt.</p>
</li>
<li>
<p>Öffne den Katalog im Menü <strong>Daten » Kataloge</strong>, um die Felder zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Achte darauf, eine Kategorie der untersten Ebene zu wählen. Eine bessere Übersicht findest du auf Mirakl im Menü <strong>Mein Konto » Meine Produktdaten-Einstellungen</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="datenfelder-zuordnen">2.2. Datenfelder im Katalog zuordnen</h3>
<div class="paragraph">
<p>Nachdem du einen Katalog erstellt hast, ordnest du die Datenfelder des Marktplatzes den in plentymarkets gespeicherten Artikeldaten zu. Informationen dazu, welche Daten für welches Datenfeld des Marktplatzes übertragen werden müssen, findest du in der Dokumentation des Marktplatzes.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eigenschaften verwenden</div>
<div class="paragraph">
<p>Verwende <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a>, um Werte für Marktplatz-Datenfelder zu übergeben, für die es keine Entsprechung in plentymarkets gibt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Datenfelder im Katalog zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> mit den Marktplatz-Datenfeldern wird geöffnet.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (*) gekennzeichnet.</p>
</li>
<li>
<p>Klicke neben einem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Nimm die Zuordnung vor:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em> Ein plentymarkets Datenfeld zuordnen</strong></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.</p>
</li>
<li>
<p><strong><em>Optional:</em> Ein Ausweich-Datenfeld hinzufügen</strong><br>
Nachdem du das Datenfeld zugeordnet hast, kannst du ein Ausweich-Datenfelder hinzufügen:
Klicke dazu in der Liste der plentymarkets Datenfelder neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das Ausweich-Datenfeld wird exportiert, wenn das erste Datenfeld nicht vorhanden oder leer ist.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du einem Marktplatz-Datenfeld Ausweich-Datenfelder zuordnest, wird für jede Variante nur ein Wert übertragen. Für jede Variante werden die Felder in der Reihenfolge geprüft, in der sie zugeordnet wurden. Wenn also das erste Datenfeld keinen Wert für die Variante liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em> Für ein Marktplatz-Datenfeld immer denselben Wert übergeben</strong></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke ganz oben neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.<br>
→ Dieser Wert wird für alle Varianten exportiert.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p>Ordne analog alle Datenfelder des Marktplatzes zu, für die du Produktinformationen übertragen möchtest.<br></p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Optional:</em></strong> 1:n-Zuordnung - 1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein plentymarkets Datenfeld oder einen eigenen Wert zu.</p>
</li>
<li>
<p>Klicke rechts neben dem zugeordneten plentymarkets Datenfeld auf <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder wieder als Gruppen angezeigt.</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein oder mehrere weitere plentymarkets Datenfelder zu.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile des Marktplatz-Datenfelds auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.<br>
→ Beim Export wird der Inhalt der plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Beim Marktplatz Conrad darf folgenden Marktplatz-Datenfeldern kein plentymarkets Datenfeld zugeordnet werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Produktbild 1</p>
</li>
<li>
<p>Produktbild 2</p>
</li>
<li>
<p>Produktbild 3</p>
</li>
<li>
<p>Produktbild 4</p>
</li>
<li>
<p>Produktbild 5</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Warnmeldung beim Speichern der Zuordnung kannst du dabei ignorieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="katalog-mirakl-zuordnungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Conrad-Zuordnungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marktplatz-Datenfeld</th>
<th class="tableblock halign-left valign-top">plentymarkets Datenfeld</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marke</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstelle für dieses Marktplatz-Datenfeld eine Eigenschaft vom Typ <strong>Kurztext</strong>. Erstelle einen Eigenschaftswert für alle Einheiten, die du für deine Produkte verwendest. Achte darauf, den Code einzugeben und nicht das Label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Alle möglichen Werte findest du mit dem Attribut-Hilfetool.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Beachte, dass du für dieses Marktplatz-Datenfeld <em>keine</em> Eigenschaften vom Typ <strong>Mehrfachauswahl</strong> verwenden kannst. Beim Versuch eine Eigenschaft vom Typ <strong>Mehrfachauswahl</strong> im Katalog zuzuordnen, wird dies zu einer Fehlübertragung führen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktbezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ordne für dieses Marktplatz-Datenfeld eines oder mehrere der folgenden plentymarkets Datenfelder zu. Verwende mindestens 20 und maximal 100 Zeichen.<br>
<strong><em>Hinweis:</em></strong> Du kannst nur reinen Text übertragen. HTML-Tags sind <em>nicht</em> zulässig.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 1</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 3</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller-Teilenummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ordne für dieses Marktplatz-Datenfeld das folgende plentymarkets Datenfeld zu:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variantennummer</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inhalt Einheit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstelle für dieses Marktplatz-Datenfeld eine Eigenschaft. Erstelle einen Eigenschaftswert für alle Einheiten, die du für deine Produkte verwendest. Achte darauf, den Code einzugeben und nicht das Label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Alle möglichen Werte findest du mit dem Attribut-Hilfetool.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wenn alle deine Varianten für diesen Katalog dieselbe Einheit für den Inhalt haben, kannst du auch einen eigenen Wert übergeben. Wenn du zum Beispiel nur die Einheit <strong>Stück</strong> angeben möchtest, gibst du <code>unece.unit.C62</code> in das Feld <strong>Eigener Wert</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufsmengeneinheit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstelle für dieses Marktplatz-Datenfeld eine Eigenschaft. Erstelle einen Eigenschaftswert für alle Einheiten, die du für deine Produkte verwendest. Achte darauf, den Code einzugeben und nicht das Label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Alle möglichen Werte findest du mit dem Attribut-Hilfetool.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wenn alle deine Varianten für diesen Katalog dieselbe Verkaufsmengeneinheit haben, kannst du auch einen eigenen Wert übergeben. Wenn du zum Beispiel nur die Einheit "Stück" angeben möchtest, gibst du <code>ST</code> in das Feld <strong>Eigener Wert</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht Einheit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstelle für dieses Marktplatz-Datenfeld eine Eigenschaft. Erstelle einen Eigenschaftswert für alle Einheiten, die du für deine Produkte verwendest. Achte darauf, den Code einzugeben und nicht das Label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Alle möglichen Werte findest du mit dem Attribut-Hilfetool.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wenn alle deine Varianten für diesen Katalog dieselbe Einheit für das Gewicht haben, kannst du auch einen eigenen Wert übergeben. Wenn du zum Beispiel nur die Einheit "Gramm" angeben möchtest, gibst du <code>unece.unit.GRM</code> in das Feld <strong>Eigener Wert</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantengruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Datenfeld <strong>Variantengruppe</strong> dient als Gruppierungsmerkmal, also dazu, dem Marktplatz zu signalisieren, welche Gemeinsamkeiten Produkte haben. Deshalb solltest du dem Feld das plentymarkets Datenfeld <strong>Artikel-ID</strong> zuordnen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Datenfeld <strong>Variante</strong> dient als Differenzierungsmerkmal, also um dem Marktplatz mitzuteilen, wie sich die Varianten eines Artikels voneinander unterscheiden. Deshalb ordnest du diesem Feld die Eigenschaften zu, die du zuvor <a href="#weitere-eigenschaften">für deine Varianten erstellt hast</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wenn du deine Varianten nur anhand eines Attributs unterscheidest, kannst du auch den <strong>Attributwertnamen</strong> zuordnen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="weitere-eigenschaften">2.3. Weitere Eigenschaften erstellen</h3>
<div class="paragraph">
<p>Wenn du für eine oder alle deine Varianten mehrere <a href="/artikel/einstellungen/attribute">Attribute</a> definiert hast, erstelle eine Eigenschaft, die diese Attribute vereint. Unterscheidest du bei einer Variante z.B. sowohl nach Farbe als auch nach Größe, legst du eine Eigenschaft mit der Benennung "Grau XL" an. <a href="/artikel/einstellungen/eigenschaften#1400">Ordne diese Eigenschaften</a> den entsprechenden Varianten zu.</p>
</div>
<div class="paragraph">
<p>Zusätzlich zu den <a href="/maerkte/conrad/erste-schritte#eigenschaften-erstellen">zuvor beschriebenen Eigenschaften</a> benötigst du Eigenschaften für alle Datenfelder des Marktplatzes, für die du Daten übergeben möchtest, die es standardmäßig in plentymarkets nicht gibt. Welche Eigenschaften du benötigst, siehst du anhand der Datenfelder im Katalog. Du arbeitest zum ersten Mal mit Eigenschaften? Weitere Informationen findest du auf der Artikel-Handbuchseite zum Thema <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="varianten-mit-katalog-kategorie-verknüpfen">3. Varianten mit Conrad Katalog-Kategorie verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du mit dem Assistenten <strong>ConradExtension Catalog</strong> oder manuell ein Marktplatz-Format für Conrad erstellt hast, wird in deinem plentymarkets System die Eigenschaft <strong>Conrad</strong> erstellt. Für jede Kategorie, die du im ersten Schritt <strong>Einstellungen</strong> des Assistenten wählst, wird die gewählte Kategorie als neuer Auswahlwert zur Eigenschaft <strong>Conrad Kategoriegruppe</strong> hinzugefügt. Damit deine Varianten im gewünschten Katalog exportiert werden, müssen sie im Tab <strong>Eigenschaften</strong> einer Variante mit der Eigenschaft <strong>Conrad Kategoriegruppe</strong> verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Variante mit Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen]</strong>.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Varianten</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du verknüpfen möchtest.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Varianteneigenschaften</strong> aus der Dropdown-Liste <strong>Eigenschaften</strong> die Eigenschaft <strong>Conrad Kategoriegruppe</strong> und klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Eigenschaft wird hinzugefügt.</p>
</li>
<li>
<p>Wähle für die Eigenschaft <strong>Conrad Kategoriegruppe</strong> aus der Dropdown-Liste <strong>Wert</strong> die gewünschte Kategorie.<br>
→ Die Variante wird im zugehörigen Katalog exportiert.<br>
<strong><em>Beispiel:</em></strong> Wählst du den Wert <strong>VHS Kassetten</strong>, wird die Variante im Katalog für die Kategorie <strong>VHS Kassetten</strong> exportiert.</p>
</li>
<li>
<p>Wiederhole die Schritte 5 und 6 für alle Kategorien, in denen du die Variante verkaufen willst.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h3 id="_weitere_möglichkeiten_zum_verknüpfen" class="discrete">Weitere Möglichkeiten zum Verknüpfen</h3>
<div class="ulist">
<ul>
<li>
<p>per Import: Über <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> die Eigenschaft <strong>ConradExtension Kategoriemapping</strong> aufrufen und auf <strong>Werte</strong> klicken. Dort sind die Auswahlwert-IDs, die für den Import notwendig sind, zu finden.</p>
</li>
<li>
<p>per REST-API: Verwende dazu die REST-Routen aus den Bereichen <a href="https://developers.plentymarkets.com/en-gb/plentymarkets-rest-api/index.html#/Property" target="_blank" rel="noopener">Property</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> und <a href="https://developers.plentymarkets.com/en-gb/plentymarkets-rest-api/index.html#/Item" target="_blank" rel="noopener">Item</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, um den Katalog mit der Variante zu verknüpfen.<br>
<strong><em>Hinweis</em></strong>: Steht im Assistenten <strong>ConradExtension Catalog</strong> keine Marktplatzkategorie zur Auswahl, dann ist im Assistenten <strong>ConradExtension</strong> im Schritt <strong>Authentifizierung</strong> ggf. die falsche API-Umgebung ausgewählt.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="eigenschaften-mit-varianten-verknuepfen">3.1. Eigenschaften mit Varianten verknüpfen und Werte speichern</h4>
<div class="paragraph">
<p>Alle Eigenschaften, Verkaufspreise und Barcodes, die du für die Katalogzuordnung dieses Marktplatzes neu erstellt hast, verknüpfst du nun mit den Varianten, die zu dem Marktplatz exportiert werden sollen. Wie das geht, ist im Bereich <strong>Artikel</strong> des Handbuchs beschrieben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>So verknüpfst du <a href="/artikel/einstellungen/eigenschaften#1420">Eigenschaften und speicherst einen Eigenschaftswert</a>.</p>
</li>
<li>
<p>So verknüpfst du <a href="/artikel/einstellungen/preise#240">Verkaufspreise</a>.</p>
</li>
<li>
<p>So verknüpfst du <a href="/artikel/einstellungen/barcodes#300">Barcodes</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="Conrad">4. Katalogexport aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast Conrad eingerichtet und den Katalog für den Export deiner Artikeldaten erstellt? Dann starte jetzt den Export deiner Artikeldaten.</p>
</div>
<div class="paragraph instruction">
<p>Katalogexport zu Conrad aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zu dem Conrad-Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Umschaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten des Katalogs werden täglich an Conrad übertragen.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="marktplatzspezifische-werte">4.1. Markplatzspezifische Werte übertragen</h3>
<div class="paragraph">
<p>Der Marktplatz verlangt für die Übertragung von Produktdaten bei den meisten Attributen spezifische Werte. Diese sind derzeit allerdings noch nicht in dieser Form an der Variante hinterlegt.<br>
<strong><em>Beispiel:</em></strong> Für das Attribut <strong>Brand</strong> ist beispielsweise <strong>test</strong> nicht erlaubt. Hier muss der entsprechende Code übergeben werden - in diesem Beispiel <strong>BRAND_12345678</strong>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_das_attribut_hilfetool_verwenden">5. Das Attribut-Hilfetool verwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das sogenannte Attribut-Hilfetool ermöglicht es dir, nach den verschiedenen Attributen zu suchen und gibt die aktuell dafür gültigen Werte an. Um das Tool nutzen zu können, muss der Assistent <strong>ConradExtension</strong> bereits eingerichtet sein.
Das Tool findest du unter der folgenden URL: <code>domain/marketplace_extension/attribute_values</code>.
Trage anstelle von <code>domain</code> deine plenty Domain ein. Würde deine plenty Domain beispielsweise <code><a href="https://www.meine-plenty-domain.de" class="bare">https://www.meine-plenty-domain.de</a></code> lauten, wäre die URL wie folgt aufgebaut: <code><a href="https://www.meine-plenty-domain.de/Conrad_extension/attribute_values" class="bare">https://www.meine-plenty-domain.de/Conrad_extension/attribute_values</a></code>.</p>
</div>
<div class="paragraph">
<p>Gib <code>SAP.TaxIndicator</code> in die Suche des Attribut-Hilfetools ein, um die gültigen Werte für <strong>Umsatzsteuerklasse</strong> und <code>SAP.BaseUnits</code>, um die gültigen Werte für <strong>Verkaufsmengeneinheit</strong> zu finden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ausgabe der Attributwerte am Folgetag</div>
<div class="paragraph">
<p>Die Tabelle der gültigen Attributwerte wird jeweils über Nacht aktualisiert. Nach dem erstmaligen Installieren des Plugins werden die gültigen Werte erst am Folgetag ausgegeben.<br>
Wenn du im Assistenten die falsche API-Umgebung und/oder den falschen API-Schlüssel eingetragen hast, können die gültigen Werte nicht geladen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Katalog findest du die Benennungen der Marktplatzattribute, wie zum Beispiel <strong>Marke</strong>. Um die für ein Attribut gültigen Werte herauszufinden, gehe vor wie folgt.</p>
</div>
<div class="paragraph instruction">
<p>Das Attribut-Hilfetool verwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Rufe die wie oben beschriebene URL auf.</p>
</li>
<li>
<p>Gib den Namen des Attributes in die Suche ein oder nutze Strg+F bzw. Cmd+F, um die Ergebnisliste zu durchsuchen.<br>
→ In der Spalte <strong>Attribute Label</strong> ist das Attribut zu sehen.<br>
→ In der Spalte <strong>Value Code</strong> sind die gültigen Werte aufgeführt, die für die Attributwerte in der Spalte <strong>Value Label</strong> übertragen werden müssen.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_gültige_attributwerte_zuordnen_und_übertragen">5.1. Gültige Attributwerte zuordnen und übertragen</h3>
<div class="paragraph">
<p>Hast du - je nach Variante, die übertragen werden soll - unterschiedliche Attributwerte, die gültig sein könnten, stellt sich zunächst die Frage, über welche Vorgehensweise du deine Artikeldaten aktuell hältst.
Verwaltest du deine Artikeldaten manuell, ist eine Eigenschaft vom Typ <strong>Auswahl</strong> empfehlenswert. Hier kannst du für die Auswahl eine Beschreibung hinterlegen. Diese wird dann in der Übersicht der Eigenschaften an der Variante angezeigt.
Wenn der Code der Eigenschaft zugeordnet wurde, kannst du den realen Namen der Variante im Feld <strong>Beschreibung</strong> verwenden. Das bedeutet, über den Katalog wird dann der Code übertragen und dahinter in Klammern der reale Name angezeigt.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wenn du für ein Attribut immer nur einen einzigen Wert übertragen möchtest, z.B. als Marke immer <strong>BRAND_12345678</strong>, kannst du die Option <strong>Eigener Wert</strong> im Katalog verwenden.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="produkt-und-angebotsdaten">6. Produkt- und Angebotsdaten übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei Conrad erfolgt der Listingprozess in zwei Schritten: Zuerst werden Produkte erstellt und nach Freigabe der Produktdaten vom Marktplatz können Angebote zu den erstellten Produkten aktiviert werden. Beide Exportprozesse, deren Voraussetzungen sowie Übertragungsoptionen werden in den folgenden Unterkapiteln beschrieben.</p>
</div>
<div class="sect2">
<h3 id="produktdaten-ubertragen">6.1. Produktdaten übertragen</h3>
<div class="paragraph">
<p>In diesem Kapitel erfährst du, wie du Produktdaten an den Marktplatz überträgst und welche Voraussetzungen erfüllt werden müssen. Diese Daten kommen aus dem von dir erstellten Katalog <strong>ConradExtension Catalog</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_voraussetzungen_für_die_produktdatenübertragung">6.2. Voraussetzungen für die Produktdatenübertragung</h3>
<div class="ulist">
<ul>
<li>
<p>Die Plugins <a href="https://marketplace.plentymarkets.com/conradextension_6948" target="_blank" rel="noopener">Conrad</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> sowie <strong>Mirakl Connector</strong> wurden im plentyMarketplace gekauft, heruntergeladen und in einem Plugin-Set installiert und bereitgestellt.</p>
</li>
<li>
<p>Im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> wurden die Auftragsherkünfte Conrad und Mirakl aktiviert.</p>
</li>
<li>
<p>Im Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen] » ConradExtension</strong> wurde die Grundeinrichtung vorgenommen. Für die Produktübertragung muss die Option <strong>Produkte exportieren</strong> im Schritt Datenaustausch aktiv sein.</p>
</li>
<li>
<p>Im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> wurden die Auftragsherkünfte <strong>Mirakl</strong> sowie <strong>ConradExtension</strong> an einem bestehenden Preis aktiviert <strong><em>oder</em></strong> es wurde ein neuer Verkaufspreis erstellt, bei dem die Auftragsherkünfte <strong>Mirakl</strong> und <strong>ConradExtension</strong>  aktiviert wurden.</p>
</li>
<li>
<p>Du hast bereits einen <a href="/daten/daten-exportieren/kataloge-verwalten">Katalog</a> für die Übertragung der Daten erstellt.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Wie hängen die Angebotsfelder, das Produktexportfeld und die Marktplatz-SKU an der Variante zusammen?</div>
<div class="paragraph">
<p>Die Angebotsfelder <strong>sku</strong> und <strong>product-id</strong> werden grundsätzlich immer mit dem Wert gefüllt, der an der Variante im Feld <strong>Marktplatz-SKU</strong> für den Marktplatz definiert wurde.
Das Angebotsfeld <strong>product-id-type</strong> wird standardmäßig mit dem Wert <strong>SHOP_SKU</strong> übertragen.</p>
</div>
<div class="paragraph">
<p>Das Produktexportfeld <strong>Produkt-ID (Artikelnr. des Verkäufers)</strong> wird je nach Einstellung im Katalog gefüllt.
Bei der ersten Übertragung, die über Nacht stattfindet, wird die Marktplatz-SKU an der Variante in plentymarkets automatisch aus der Varianten-ID gebildet. Die Marktplatz-SKU kann alternativ per Import oder manuell definiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_produktdaten_aktualisieren">6.3. Produktdaten aktualisieren</h3>
<div class="paragraph">
<p>Du kannst zu jeder Zeit eine Aktualisierung der Produktdaten vornehmen. Ausgeschlossen davon sind jedoch die folgenden Produktdaten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verpackungseinheiten</p>
</li>
<li>
<p>Hersteller-Teilenummer</p>
</li>
<li>
<p>Artikelnummer des Verkäufers</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du eines oder mehrere der o.g. Felder ändern möchtest, musst du das Produkt zuerst löschen und dann neu übertragen. Gehe dazu vor wie folgt:</p>
</div>
<div class="paragraph instruction">
<p>Produktdaten aktualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Erstelle eine Eigenschaft vom Typ <strong>Kurztext</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein, zum Beispiel <strong>Marktplatz-Produkt löschen</strong>.</p>
</li>
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Öffne den entsprechenden Katalog.</p>
</li>
<li>
<p>Ordne dem Datenfeld <strong>Product Invalidierungs Markierung</strong> bzw. <strong>InvalidationFlag</strong> die Eigenschaft zum Löschen des Produkts, die du gerade erstellt hast, zu.</p>
</li>
<li>
<p>Öffne den Assistenten.</p>
</li>
<li>
<p>Gehe in den Schritt <strong>Zuordnung der Angebots- Eigenschaften</strong>.</p>
</li>
<li>
<p>Ordne der Eigenschaft <strong>Conrad Update-Delete</strong> das Datenfeld <strong>update-delete</strong> zu.</p>
</li>
<li>
<p>Wähle an der zu löschenden Variante den Auswahlwert <strong>delete</strong>.<br>
<strong><em>Hinweis:</em></strong> Eine Bestands- oder Preisänderung der Variante kann einige Zeit dauern. Alternativ kannst du diese Änderung manuell vornehmen.</p>
</li>
<li>
<p>Warte bis zur nächsten Angebotsübertragung.<br>
→ Dies kann bis zu 15 Minuten dauern.</p>
</li>
<li>
<p>Deaktivere die Marktplatzverfügbarkeit für den Marktplatz und Mirakl an der Variante.</p>
</li>
<li>
<p>Entferne die Eigenschaft für die Katalogverknüpfung an der Variante.</p>
</li>
<li>
<p>Lösche das Angebot zu dem Produkt manuell im Backend des Marktplatzes.</p>
</li>
<li>
<p>Aktiviere an der entsprechenden Variante die Eigenschaft, die du für das Löschen des Produkts erstellt hast, und hinterlege den Wert <strong>kill</strong>.</p>
</li>
<li>
<p>Aktiviere die Eigenschaft für die Katalogverknüpfung an der Variante.</p>
</li>
<li>
<p>Warte bis zur nächsten Übertragung der Produkte.<br>
→  Diese findet über Nacht statt.</p>
</li>
<li>
<p>Nachdem du das Produkt gelöscht hast, musst du 24 bis 48 Stunden warten, bis du die gleiche Produkt-ID wieder verwenden darfst.</p>
</li>
<li>
<p>Entferne nach der Wartezeit die Eigenschaft, die du für das Löschen des Produkts erstellt hast, von der Variante.</p>
</li>
<li>
<p>Aktiviere an der Variante die Marktplatzverfügbarkeit für den Marktplatz und Mirakl erneut.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="angebotsdaten-uebertragen">6.4. Angebotsdaten übertragen</h3>
<div class="paragraph">
<p>In diesem Kapitel erfährst du, wie du Angebotsdaten an den Marktplatz überträgst und welche Voraussetzungen erfüllt werden müssen. Diese Daten kommen aus dem Assistenten <strong>ConradExtension</strong>, den du bereits durchlaufen hast.</p>
</div>
</div>
<div class="sect2">
<h3 id="_voraussetzungen_für_die_angebotsdatenübertragung">6.5. Voraussetzungen für die Angebotsdatenübertragung</h3>
<div class="ulist">
<ul>
<li>
<p>Die Plugins <a href="https://marketplace.plentymarkets.com/conradextension_6948" target="_blank" rel="noopener">Conrad</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> sowie <strong>Mirakl Connector</strong> wurden im plentyMarketplace gekauft, heruntergeladen und in einem Plugin-Set installiert und bereitgestellt.</p>
</li>
<li>
<p>Im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> wurden die Auftragsherkünfte <strong>Conrad</strong> und <strong>Mirakl</strong> aktiviert.</p>
</li>
<li>
<p>Im Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen] » ConradExtension</strong> wurde die Grundeinrichtung vorgenommen.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Bestand synchronisieren</strong> ist im Datenaustausch-Schritt aktiviert, damit die Angebote korrekt übertragen werden.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> sind an einem bestehenden Preis die Auftragsherkünfte <strong>Mirakl</strong> und <strong>Conrad</strong> aktiviert <strong><em>oder</em></strong> ein neuer Verkaufspreis ist erstellt, in dem die Auftragsherkünfte <strong>Mirakl</strong> und <strong>Conrad</strong> aktiviert wurden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Angebotsübertragung findet alle 15 Minuten statt. Es werden nur Artikel übertragen, die die folgenden Voraussetzungen erfüllen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>An der Variante sind die Auftragsherkünfte <strong>Mirakl</strong> und <strong>Conrad</strong> aktiviert.</p>
</li>
<li>
<p>An der Variante ist ein Preis aktiv, der für <strong>Conrad</strong>, <strong>Mirakl</strong> und <strong>WEB-API</strong> aktiviert wurde.</p>
</li>
<li>
<p>An dem Artikel (bzw. an der Variante) ist ein Versandprofil aktiv, das für <strong>Conrad</strong>, <strong>Mirakl</strong> und <strong>WEB-API</strong> wurde.</p>
</li>
<li>
<p>An der Variante ist ein Wert als Marktplatz-SKU für <strong>Conrad</strong> hinterlegt.</p>
</li>
<li>
<p>An der Variante hat in den letzten 15 Minuten eine Änderung an dem Bestand oder Preis stattgefunden</p>
<div class="ulist">
<ul>
<li>
<p>Das Setzen eines neuen Zeitstempels über die Gruppenfunktion oder Stapelverarbeitung führt auch zu einer Übertragung der Variante. Somit muss an der Variante die Warenbestandsbeschränkung <strong>Auf Netto-WB</strong> oder <strong>Keine</strong> gewählt sein und die Variante muss positiven Bestand haben.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Wie hängen die Angebotsfelder, das Produktexportfeld und die Marktplatz-SKU an der Variante zusammen?</div>
<div class="paragraph">
<p>Die Angebotsfelder <strong>sku</strong> und <strong>product-id</strong> werden grundsätzlich immer mit dem Wert gefüllt, der an der Variante im Feld <strong>Marktplatz-SKU</strong> für den Marktplatz definiert wurde.
Das Angebotsfeld <strong>product-id-type</strong> wird standardmäßig mit dem Wert <strong>SHOP_SKU</strong> übertragen.</p>
</div>
<div class="paragraph">
<p>Das Produktexportfeld <strong>Produkt-ID (Artikelnr. des Verkäufers)</strong> wird je nach Einstellung im Katalog gefüllt.
Bei der ersten Übertragung, die über Nacht stattfindet, wird die Marktplatz-SKU an der Variante in plentymarkets automatisch aus der Varianten-ID gebildet. Die Marktplatz-SKU kann alternativ per Import oder manuell definiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h3 id="_weitere_datenfelder_die_bei_der_angebotsübertragung_übermittelt_werden" class="discrete">Weitere Datenfelder, die bei der Angebotsübertragung übermittelt werden</h3>
<div class="ulist">
<ul>
<li>
<p><strong>sku</strong> und <strong>product-id</strong>: Diese Felder werden automatisch mit dem Wert befüllt, der als Marktplatz-SKU an der Variante hinterlegt wurde.</p>
</li>
<li>
<p><strong>product-id-type</strong>: Dieses Feld wird standardmäßig mit dem Wert <strong>SHOP_SKU</strong> befüllt.</p>
</li>
<li>
<p><strong>price</strong>: Dieses Feld wird automatisch mit dem Wert befüllt, der an der Variante für den am Marktplatz aktivierten Preis definiert wurde. Wurden mehrere Verkaufspreise an der Variante definiert, die ebenfalls für den Marktplatz freigegeben sind, wird der Preis mit der niedrigsten ID exportiert.</p>
</li>
<li>
<p><strong>quantity</strong>: Dieses Feld wird automatisch mit dem Nettobestand oder den summierten Nettobeständen aus den Lagern befüllt, die im Assistent <strong>ConradExtension</strong> im Schritt <strong>Lagerauswahl</strong> gewählt wurden.</p>
</li>
<li>
<p><strong>min-quantity-alert</strong>: Dieses Feld wird automatisch mit dem Wert <strong>1</strong> übertragen.</p>
</li>
<li>
<p><strong>state</strong>: Dieses Feld wird automatisch mit dem Wert <strong>11</strong> übertragen.</p>
</li>
<li>
<p><strong>available-start-date</strong>: Dieses Feld wird automatisch mit einem Zeitstempel übertragen.</p>
</li>
<li>
<p><strong>price-ranges</strong>: In diesem Feld werden ein oder mehrere <a href="/artikel/einstellungen/preise#100">Verkaufspreise</a> übertragen.</p>
</li>
<li>
<p><strong>allow-quote-requests</strong>: Dieses Feld wird automatisch mit dem Wert <strong>false</strong> übertragen.</p>
</li>
<li>
<p><strong>logistic-class</strong>: Dieses Feld ist standardmäßig nicht befüllt. Wenn kein Wert übertragen wird, wird die Variante mit dem kostenlosen Versandprofil <strong>Kostenfreier Versand (free)</strong> verknüpft. Im Assistentenschritt <strong>Zuordnung der Angebots-Eigenschaften</strong> kannst du eine Eigenschaft zuordnen, um pro Variante einen anderen Wert zu übertragen. Die gültigen Versandprofilcodes findest du im Conrad Backend unter <strong>Plattformeinstellungen &gt; Versand</strong>. Die Codes werden in Klammern dargestellt.</p>
</li>
<li>
<p><strong>leadtime-to-ship</strong>: Dieses Feld ist ein Pflichtfeld und ist standardmäßig nicht befüllt. Im Assistentenschritt <strong>Zuordnung der Angebots-Eigenschaften</strong> kannst du eine Eigenschaft zuordnen, um pro Variante einen Wert zu übertragen. Hier sind nur ganze Zahlen zwischen 1 und 45 gültig.</p>
</li>
<li>
<p><strong>reversecharge</strong>: Dieses Feld ist ein Pflichtfeld und ist standardmäßig nicht befüllt. Im Assistentenschritt <strong>Zuordnung der Angebots-Eigenschaften</strong> kannst du eine Eigenschaft zuordnen, um pro Variante entweder <code>true</code> oder <code>false</code> zu übertragen.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="variantenverfuegbarkeit">7. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf Conrad verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Variantenverfügbarkeit aktivieren</div>
<div class="paragraph">
<p>Aktiviere die Verfügbarkeit an der Variante erst, wenn eine Marktplatz-SKU an der Variante definiert wurde bzw. die Variante im Produktexport übertragen wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="f-r-eine-variante-tab" data-toggle="tab" href="#f-r-eine-variante" role="tab" aria-controls="f-r-eine-variante" aria-selected="true">Für eine Variante</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-varianten-gruppenfunktion-tab" data-toggle="tab" href="#per-varianten-gruppenfunktion" role="tab" aria-controls="per-varianten-gruppenfunktion" aria-selected="false">Per Varianten-Gruppenfunktion</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-stapelverarbeitung-tab" data-toggle="tab" href="#per-stapelverarbeitung" role="tab" aria-controls="per-stapelverarbeitung" aria-selected="false">Per Stapelverarbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="f-r-eine-variante" role="tabpanel" aria-labelledby="f-r-eine-variante-tab">
<div class="paragraph instruction">
<p>Eine Variante für Conrad verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf Conrad verkaufen möchtest.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf Conrad zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Conrad</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Variante ist für Conrad verfügbar.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-varianten-gruppenfunktion" role="tabpanel" aria-labelledby="per-varianten-gruppenfunktion-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> bearbeitest du mehrere Varianten gleichzeitig. Dabei wählst du die zu bearbeitenden Varianten direkt aus.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Varianten-Gruppenfunktion für Conrad verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Conrad</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Conrad</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen vorzunehmen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-stapelverarbeitung" role="tabpanel" aria-labelledby="per-stapelverarbeitung-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a> bearbeitest du mehrere Varianten gleichzeitig. Du verwendest Filter, um die zu bearbeitenden Varianten einzuschränken.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Stapelverarbeitung für Conrad verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Conrad</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Conrad</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
</div></div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/conrad/conrad-einrichten"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Conrad einrichten</a>
<a href="/maerkte/conrad/automatisierte-auftragsabwicklung">Automatisierte Auftragsabwicklung einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>