<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Link_Basket</h1><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Link_Basket() : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples">Examples</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Use this in HTML formatted emails  #}

&lt;a href="&#123;&#37; Link_Checkout() &#37;&#125;"&gt;Checkout&lt;/a&gt;


{# Use this for plain text emails #}

Checkout &#123;&#37; Link_Checkout() &#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>