<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#option"><span>1.</span><span> "Nicht mehr vorrätig"-Option  benutzen</span></a>
<ul class="sectlevel2">
<li><a href="#_plentymarkets_erlauben_angebote_automatisch_zu_beenden_auszublenden"><span>1.1.</span><span> Plentymarkets erlauben Angebote automatisch zu beenden/auszublenden</span></a></li>
<li><a href="#_bestandsautomatik_aktivieren"><span>1.2.</span><span> Bestandsautomatik aktivieren</span></a></li>
<li><a href="#_nicht_mehr_vorrätig_option_aktivieren"><span>1.3.</span><span> "Nicht mehr vorrätig"-Option aktivieren</span></a></li>
</ul>
</li>
<li><a href="#faq"><span>2.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#_welcher_preis_wird_bei_mehreren_verkaufspreisen_priorisiert"><span>2.1.</span><span> Welcher Preis wird bei mehreren Verkaufspreisen priorisiert?</span></a></li>
<li><a href="#_vereinbarung_zum_internationalen_verkauf"><span>2.2.</span><span> Vereinbarung zum internationalen Verkauf</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: eBay</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zu dem Marktplatz <strong>eBay</strong>.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="option">1. "Nicht mehr vorrätig"-Option  benutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice erfährst du, welche Einstelungen getroffen werden müssen, damit die "Nicht mehr vorrätig"-Option auf eBay genutzt werden kann.<br>
Die Option signalisiert, dass ein Artikel bzw. eine Variante aktuell nicht in Bestand ist.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Das Wichtigste vorab …</div>
<div class="ulist">
<ul>
<li>
<p>Die Bestandsabhängigkeit des Listings muss auf <strong>beschränkt (ohne Reservierung)</strong> eingestellt sein</p>
</li>
<li>
<p>Die Dauer im Market-Listing muss <strong>endlos (GTC)</strong> sein</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_plentymarkets_erlauben_angebote_automatisch_zu_beenden_auszublenden">1.1. Plentymarkets erlauben Angebote automatisch zu beenden/auszublenden</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnet das Menü <strong>System » Listings » Warenbestand</strong></p>
</li>
<li>
<p>Aktiviere die Option <strong>"Angebote automatisch beenden/ausblenden"</strong></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung<br>
→ Der Automatismus ist nun aktiviert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_bestandsautomatik_aktivieren">1.2. Bestandsautomatik aktivieren</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Märkte » eBay » Einstellungen</strong></p>
</li>
<li>
<p>Navigiere in den Reiter <strong>Basiseinstellungen</strong></p>
</li>
<li>
<p>Wähle für die Option <strong>"Bestandsautomatik aktivieren"</strong> den Wert <strong>"Ja"</strong> aus</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung<br>
→ Dein Bestand im plenty-System kann nun mit dem auf eBay abgeglichen werden.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_nicht_mehr_vorrätig_option_aktivieren">1.3. "Nicht mehr vorrätig"-Option aktivieren</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigiere im gleichen Menü in den Reiter <strong>Kontoeinstellungen</strong></p>
</li>
<li>
<p>Wähle das Konto aus, bei dem du die Option nutzen möchtest</p>
</li>
<li>
<p>Wähle für die Option <strong>""Nicht mehr vorrätig"-Option nutzen"</strong> den Wert <strong>Ja</strong> aus</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung<br>
→ Die Option wird auch bei eBay direkt automatisch aktiviert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Abwarten und Tee trinken</div>
<div class="paragraph">
<p>Du hast nun alle nötigen Einstellungen innerhalb von plentymarkets getroffen.<br>
Innerhalb der nächsten 20 Minuten werden Artikel/Varianten ohne Bestand durch die automatischen Prozesse bei eBay ausgbelendet.<br>
Sobald du wieder Bestand am Artikel hinzufügst wird dein Artikel wieder eingeblendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="faq">2. FAQ</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Block erfährst du, wie du in vereinzelten Situationen handeln musst, damit dein gewünschtes Ergebnis erzielt wird.</p>
</div>
<div class="sect2">
<h3 id="_welcher_preis_wird_bei_mehreren_verkaufspreisen_priorisiert">2.1. Welcher Preis wird bei mehreren Verkaufspreisen priorisiert?</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Verkaufspreise</div>
<div class="paragraph">
<p>Du kannst unter <strong>System » Artikel » Verkaufspreise</strong> so viele Preise erstellen wie du möchtest.<br>
Somit kannst du auch für jedes eBay-Konto oder jede eBay-Plattform einen eigenen Preis anlegen, sofern sich die Preise unterscheiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bei mehreren Verkaufspreisen, die ähnliche Einstellungen haben werden die Preise nach festgelegten Kriterien priorisiert.<br>
Hier kannst du die Prioritäten nachlesen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verkaufspreise, die nur für einen Marktplatz eingestellt sind haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Marktplätze</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für einen <strong>Land</strong> eingestellt sind haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle Länder freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für ein <strong>eBay-Konto</strong> eingestellt sind haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle Kontos freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für eine <strong>Währung</strong> eingestellt sind haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle Währungen freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die eine höhere <strong>"Ab Menge"</strong> haben, haben eine größere Priorität als Verkaufspreise die “Ab Menge” gleich 1 haben.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für eine <strong>Kundenklasse</strong> eingestellt sind haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle Kundenklassen freigeschaltet sind.<br></p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Wichtig</div>
<div class="paragraph">
<p>Dabei werden nur Verkaufspreise geprüft, die die entsprechenden Suchkriterien erfüllen.
Für eBay berücksichtigen wir die Herkunft und die eBay-Konten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_vereinbarung_zum_internationalen_verkauf">2.2. Vereinbarung zum internationalen Verkauf</h3>
<div class="paragraph">
<p>Die Vereinbarung zum internationalen Verkauf muss akzeptiert werden, sobald ein Artikel auf einer internationalen Plattform eingestellt werden soll.
Du kannst die Vereinbarung <strong><a href="https://scgi.ebay.de/ws/ebayISAPI.dll?UserAgreementV2&amp;isemail=1&amp;agrid=7&amp;aid=1&amp;UserAgreement=&amp;guest=1" target="_blank" rel="noopener">hier</a></strong> akzeptieren.</p>
</div>
</div>
</div>
</div>
</main>