<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 10. März 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 04. März 2021 bis zum 10. März 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_änderungshistorie" class="discrete">Änderungshistorie</h3>
<div class="ulist">
<ul>
<li>
<p>Die neue kostenlose Kennzahl <strong>Verbrauch</strong> ist jetzt verfügbar. Weitere Infos dazu findest du auf der Handbuchseite <a href="//business-entscheidungen/plenty-bi/kennzahlen/verbrauch">Verbrauch</a>.</p>
</li>
</ul>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort ist die Plattform Amazon.tr (Türkei) verfügbar. Amazon.tr wird auch über das EU-Verkäuferkonto von Amazon genutzt. Die Einstellungen werden wie bei den anderen Plattformen (es, it, fr, uk, de, etc.) hinterlegt. An die Plattform müssen Artikeldaten in türkischer Sprache übertragen werden. Wichtig dabei ist also:</p>
<div class="ulist">
<ul>
<li>
<p>dass ihr eine neue Konfiguration für amzon.tr erstellt (wie bei den anderen Plattformen).</p>
</li>
<li>
<p>die Herkunft Amazon.tr unter Einrichtung » Aufträge » Auftragsherkunft aktiviert.</p>
</li>
<li>
<p>die Daten der Artikel (Texte, Eigenschaften etc.) in der Sprache Türkisch speichert.</p>
</li>
<li>
<p>den Verkaufspreis für die Herkunft und das Amazon-Konto freigebt.</p>
</li>
<li>
<p>eure Versandprofile entsprechend anpasst/erweitert.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die IDs der Auftragsherkünfte sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>4.13</code> - Amazon Turkey</p>
</li>
<li>
<p><code>104.13</code> - Amazon FBA Turkey</p>
</li>
</ul>
</div>
</li>
<li>
<p>Ab sofort ist die Plattform Amazon.ae (Vereinigte Arabische Emirate) in der Beta-Version von plentymarkets verfügbar. Amazon.ae wird auch über das EU-Verkäuferkonto von Amazon genutzt. Die Einstellungen werden wie bei den anderen Plattformen (es, it, fr, uk, de, etc.) hinterlegt. An die Plattform müssen Artikeldaten in englischer Sprache übertragen werden. Wichtig dabei ist also:</p>
<div class="ulist">
<ul>
<li>
<p>dass ihr eine neue Konfiguration für amzon.ae erstellt (wie bei den anderen Plattformen).</p>
</li>
<li>
<p>die Herkunft Amazon.ae unter Einrichtung » Aufträge » Auftragsherkunft aktiviert.</p>
</li>
<li>
<p>die Daten der Artikel (Texte, Eigenschaften etc.) in der Sprache ENGLISCH speichert.</p>
</li>
<li>
<p>den Verkaufspreis für die Herkunft und das Amazon-Konto freigebt.</p>
</li>
<li>
<p>eure Versandprofile entsprechend anpasst/erweitert.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die IDs der Auftragsherkünfte sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>4.14</code> - Amazon United Arab Emirates</p>
</li>
<li>
<p><code>104.14</code> - Amazon FBA United Arab Emirates</p>
</li>
</ul>
</div>
</li>
<li>
<p>Ab sofort können Eigenschaften mit Amazon.tr und Amazon.ae verknüpft werden.</p>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist nun möglich zwischen den Schritten der Auftragsanlage vor und zurück zu navigieren und die Artikel im Warenkorb bleiben erhalten.</p>
</li>
<li>
<p>Die folgenden Verbesserungen wurden für die Benutzeroberfläche der Nachbestellung und der Umbuchung implementiert:</p>
<div class="ulist">
<ul>
<li>
<p>Die Reihenfolge der Buchungsstatus-Filter im Bereich Warenbewegung wurde angepasst.</p>
</li>
<li>
<p>Wenn du eine Nachbestellung öffnest, ist der Bereich Warenbezugskosten nun standardmäßig zugeklappt. Klicke darauf, um den Bereich zu öffnen.</p>
</li>
<li>
<p>Die Schaltflächen zur Individualisierung von Tabellen sind nun rechtsbündig ausgerichtet in den Bereichen Dokumente und Historie.</p>
</li>
<li>
<p>Der Style der Warenkorbschaltfläche wurde geändert, so dass sie nun mitscrollt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>In den Grundeinstellungen der Auftragsanlage (Beta) sowie der Nachbestellung und der Umbuchung wurde jeweils eine neue Einstellung hinzugefügt. Du kannst nun entscheiden, ob du in der jeweiligen Artikelsuche nur aktive Artikel angezeigt bekommen möchtest. Dieser Filter ist standardmäßig nicht aktiviert.</p>
</li>
<li>
<p>Die alten Komponenten in der UI für die Standardeinstellungen der Nachbestellung und der Umbuchung wurden nun durch die neuen Angular material Komponenten ersetzt.</p>
</li>
<li>
<p>Eine neue Standardeinstellung wurde für die neue Auftragsanlage (Beta) hinzugefügt. Du kannst nun entscheiden, wohin du nach Erstellung eines Auftrags weitergeleitet werden möchtest: <strong>Auftragsübersicht des Kontakts</strong> (standardmäßig ausgewählt), <strong>Auftragsübersicht</strong> oder <strong>Detailansicht</strong> des neuen Auftrags.</p>
</li>
</ul>
</div>
<h3 id="_versand" class="discrete">Versand</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn du im Versandpaket im Menü <strong>Einrichtung » Aufträge » Versand » Versandpakete</strong> eingestellt hast, dass das Volumen aus den Maßen des Versandpakets bezogen werden soll, wird diese Einstellung nun korrekt in den Paketen der Paketinhaltsliste berücksichtigt.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man eine Nachbestellung via <strong>Bestellung erstellen</strong> in der UI <strong>Warenbestände</strong> anlegte, wurde der Button nach Bestellungsanlage inaktiv und man musste dann die UI aktualisieren, um weitere Nachbestellungen anlegen zu können.
Der Button wird nach Nachbestellungsanlage oder nach falscher Eingabe nicht mehr inaktiv.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 05.03.2021 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/hbV4i0Jg5TNzKEzI7ejNju3wx8j.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der Artikelsuche der Auftragsanlage (Beta) sowie der Nachbestellung und Umbuchung wurde die Statusfarbe aktiver und inaktiver Artikel nur in schwarz wiedergegeben. Dies wurde nun behoben, aktive Artikel werden wieder in grün und inaktive in rot angezeigt.</p>
</li>
<li>
<p>Bei der Artikelsuche um eine unzugeordnete Variante zuzuordnet wurde der Suchtext an den Leerzeichen getrennt und nach allen vorkommen der Teiltexte gesucht. Dies konnte dazu führen das Ergebnisse die genau den Suchtext beinhaltet haben nicht in den auf 50 limitierten Ergebnissen angezeigt wurden. Es wird nun nach dem exakten Suchtext gesucht und nur wenn dies zu keinem Ergebnis führt wird wie bisher nach allen Teiltexten gesucht.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Verknüpfen von Eigenschaften per Import kam es fälschlicherweise zur Fehlermeldung <code>Invalid language for values of this property. | ( UpdateVariationProperty )</code> oder beim Löschen zur Fehlermeldung <code>values muss ein Array sein. | ( UpdateVariationProperty )</code>. Der Fehler wurde korrigiert und die Daten können wieder wie gewohnt importiert werden.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers kam es vor, dass Datenfelder mit einer Zuordnung nicht übertragen wurden. Diesen Fehler haben wir nun behoben.</p>
</li>
<li>
<p>Aufgrund eines Fehlers kam es vor, dass die Katalogexporte einen Memory Issue aufwiesen. Dieser Fehler wurde durch die Teams Item und Multichannel behoben.</p>
</li>
</ul>
</div>
<h3 id="_plentymarketplace" class="discrete">plentyMarketplace</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Plugins, die zu einem Festpreis angeboten werden und die sowohl in einer Basic- als auch einer Pro-Version vorliegen wird der Funktionsumfang der jeweiligen Versionen jetzt respektiert. Das bedeutet, dass du diese Plugins nur noch in vollem Umfang verwenden kannst, wenn du die Pro-Version erworben hast.</p>
</li>
</ul>
</div>
<h3 id="_zahlungsarten" class="discrete">Zahlungsarten</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Import von Bankbuchungen wird die Zahlungsart am entsprechenden Auftrag zu <strong>Vorkasse</strong> gewechselt. Hier wird nun die korrekte ID (<code>6000</code>) als ID für die Zahlungsart verwendet.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Git-Plugins werden nicht mehr in einer einzigen Inbox gespeichert. Stattdessen werden Git-Plugins jetzt in der Inbox von dem Plugin-Set gespeichert, in dem sie installiert sind.</p>
<div class="paragraph">
<p>Das bedeutet, dass die Stabilität von Git-Plugins allgemein erhöht wird. Wenn ein Git-Plugin in mehreren Plugin-Sets auf unterschiedlichen Branches bzw. Commits installiert war, wurde der Zustand des Plugins in der Inbox geändert, je nachdem welcher Code-Stand gerade benötigt wurde. Dies konnte zu Konflikten führen.</p>
</div>
<div class="paragraph">
<p>Des Weiteren hat sich durch die Umstellung teilweise die Geschwindigkeit von verschiedenen Operationen verbessert. Davon betroffen sind unter anderem das Installieren und Bereitstellen von Git-Plugins, insbesondere bei großen Plugins wie z.B. Ceres.</p>
</div>
<div class="paragraph">
<p>Um diese Leistungsverbesserung zu erreichen war es notwendig, an anderen Stellen Informationen auszublenden. So werden beim Installieren von Git-Plugins z.B. nicht mehr die Nutzeranleitung und der Changelog angezeigt. Diese Informationen müssen über das Repository selbst oder den Plugin-Anbieter bezogen werden.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Kein To-Do</div>
<div class="paragraph">
<p>Bestehende Git-Plugins werden beim ersten Öffnen des Plugin-Sets automatisch auf die neue Struktur migriert. Dadurch kann dieses erste Laden des Plugin-Sets etwas länger dauern als gewohnt. Andere Aktionen sind nicht notwendig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_änderungshistorie_2" class="discrete">Änderungshistorie</h3>
<div class="ulist">
<ul>
<li>
<p>In der Einstellung-UI zur Änderungshistorie haben Texte für die Aktionen gefehlt. Diese wurden nun hinzugefügt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourarticlenotifications5_6976" target="_blank" rel="noopener">Artikel Verfügbarkeitsbenachrichtigung 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.24</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cookieposition_6768" target="_blank" rel="noopener">Ceres Beautifier: Cookie Position</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytcookielesstracking_7059" target="_blank" rel="noopener">Ceres Google Tracking - 100% Datenqualität, DSGVO konform</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand Services</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.14</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebayfiege_6018" target="_blank" rel="noopener">eBay Fulfillment</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.28</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/klarna_6731" target="_blank" rel="noopener">Klarna</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.24</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.9.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/expressbtnmask_7058" target="_blank" rel="noopener">PayPal® Express Button Customize</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/pricemonitorplentyintegration_6217" target="_blank" rel="noopener">Pricemonitor</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.13</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourshopadvantageswidget_5948" target="_blank" rel="noopener">Shop Vorteile Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.8.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>