<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 31. März 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 25. März 2021 bis zum 31. März 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Hat ein Marktplatz Änderungen an einem Template vorgenommen, konnte es vorkommen, dass bereits gemappte Datenfelder nicht mehr übertragen wurden. Wir haben ein Schutzschild eingebaut, das diese Änderungen ab sofort abfängt und die Daten dennoch überträgt.</p>
</li>
</ul>
</div>
<h3 id="_kontakte" class="discrete">Kontakte</h3>
<div class="ulist">
<ul>
<li>
<p>Der Bereich <strong>Konto</strong> im Kontaktdatensatz wurde überarbeitet und in Angular implementiert. Folgende Anpassungen und Verbesserungen wurden dabei durchgeführt:</p>
<div class="ulist">
<ul>
<li>
<p>Die bisherige Kopfzeile über der Tabelle wurde durch Infoboxen ersetzt. Diese fassen die Kontodaten des Kontaktes zusammen.</p>
</li>
<li>
<p>Neue Tabellenspalten wurden hinzugefügt. Zum Beispiel wird der Zahlungsstatus eines Auftrags nun farblich durch einen Statusbalken dargestellt. Optional kann man in einer weiteren Spalte den <strong>Zahlungsstatus</strong> zusätzlich ausgeben lassen.</p>
</li>
<li>
<p>In der Tabellenspalte <strong>Dokumentennr.</strong> wird das aktuelle Hauptdokument des Auftrags angezeigt. Existieren Zahlungen am Auftrag, jedoch kein Dokument, wird nun ein Warnhinweise angezeigt.</p>
</li>
<li>
<p>Das <strong>Zahlungsziel</strong> wird rot dargestellt, wenn ein Auftrag noch nicht beglichen wurde und das als Zahlungsziel angegebene Datum bereits überschritten ist.</p>
</li>
<li>
<p>Es gibt nun eine Weiterleitung zur <strong>OP-Liste</strong>.</p>
</li>
<li>
<p>Für die Suche wurde eine neue Komponente implementiert. Es lassen sich nun mehrere Filter miteinander kombinieren.</p>
</li>
<li>
<p>Der neue Filter <strong>Dokumentennr.</strong> wurde hinzugefügt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Für Amazon FBA gibt es nun die Option <strong>Lager für unverkäuflichen Bestand</strong> bzw. <strong>Möchtest du unverkäuflichen Bestand aus Amazon-Lagern in plentymarkets importieren?</strong>.
Über diese Einstellung legst du optional fest, in welches Lager unverkäuflicher FBA-Bestand importiert wird. Der unverkäufliche Bestand ist die Anzahl der Einheiten einer SKU, die sich in Amazon-Logistikzentren befinden und den Zustand „nicht verkaufbar“ haben. Im Bericht „Lagerbestand mit Versand durch Amazon“ entspricht dieser Bestand der Menge in der Spalte <strong>afn-unsellable-quantity</strong>.</p>
<div class="ulist">
<ul>
<li>
<p>Im Einrichtungsmenü:
<strong>Einrichtung » Märkte » Amazon » Einstellungen » Tab: Versand durch Amazon (FBA)</strong></p>
</li>
<li>
<p>Im Assistenten:
<strong>Einrichtung » Assistenten » Omni-Channel » Assistent: Grundeinstellungen - Amazon » Schritt: Versand durch Amazon (FBA)</strong></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der ursprünglichen internen Umstellung der Auftragslogik 6 kam es bei einigen Plugins zu Problemen.
Diese Plugins wurden daher, übergangsweise, auf die bisherige Logik zurückgestellt bis neue Plugin-Versionen veröffentlicht werden konnten. Die interne Umstellung der Auftragslogik gilt zukünftig nun auch für folgende Plugins:</p>
<div class="ulist">
<ul>
<li>
<p>Groupon</p>
</li>
<li>
<p>Allegro</p>
</li>
<li>
<p>Crowdfox</p>
</li>
<li>
<p>Spartoo</p>
</li>
<li>
<p>Priceminister (Rakuten.fr)</p>
</li>
<li>
<p>AvocadoStore</p>
</li>
<li>
<p>Wayfair</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Es sollte geprüft werden, ob die aktuellste Version der Plugins installiert ist.</p>
</div>
<div class="paragraph">
<p>Es sollten nach der Umstellung Plugins auf Fehlverhalten geprüft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
<li>
<p>Die neue Einstellung <strong>Verwendeter Warenkorbtyp in der Auftragserstellung</strong> wurde zu den Standardeinstellungen der neuen Auftragsanlage (Beta) hinzugefügt. Damit kannst du entscheiden, welchen Warenkorbtyp du nutzen möchtest. Der Side cart ist standardmäßig ausgewählt, du kannst aber auch die Warenkorbtabelle wählen.</p>
</li>
</ul>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Die Ausgabe von Barcodes (als Zeichenfolge und als Strichcode) an den Auftragspositionen wurde für alle Auftragsdokumente (Angebot, Gutschrift, Rücksendeschein usw.) aktiviert. Bisher standen Barcodes nur für Rechnung und Lieferscheine zur Verfügung.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Die bestandsführenden XML-Dateien, die von Zalando abgerufen werden, werden ab jetzt vor der Übertragung auf S3 gespeichert. Dies ermöglicht es unserem Support, über die Dateihistorie auf S3 den Inhalt spezifisch pro Abruf einzusehen. Diese Informationen stehen Händler:innen nicht zur Verfügung, sondern nur unseren Mitarbeiter:innen, um gezielt z.B. die Ursache von Überverkäufen nachvollziehen zu können.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In den Einstellungen für den Auftragsstatus konnte es vorkommen, dass die Status IDs vorangestellt wurden, obwohl diese Einstellung nicht aktiv war. Dieses Problem hat nur die Ansicht in den Einstellungen betroffen.</p>
</li>
<li>
<p>Eine Adresse wurde nicht gespeichert, wenn sie in einem Abonnement angepasst wurde. Dies ist nun behoben.</p>
</li>
<li>
<p>Eine neue Adresse für einen Kontakt anzulegen während die Abonnement UI geöffnet war führte dazu, dass nur die neu angelegte Adresse im Abonnement angezeigt wurde. Dies ist nun behoben. Nach dem Wechsel zum Abonnement werden alle Rechnungs- und Lieferadressen des Kontakts gelistet.</p>
</li>
<li>
<p>In der Auftragsdetailansicht konnte es bei der Liste der zugehörigen Gutschriften dazu kommen, dass dort die Gutschriften nicht angezeigt wurden. Das Verhalten konnte auftreten, wenn der Auftrag ursprünglich aus einem Angebot erstellt wurde. Dies wurde behoben.</p>
</li>
<li>
<p>Bei der Ermittlung der Versandkosten, wurden die Limits an den Versandprofilen nicht in die aktuellen ausgewählten Währung umgerechnet. Das Verhalten wurde behoben.</p>
</li>
<li>
<p>Beim Anlegen eines neuen Abonnements wurde aufgrund der Rechnungsadresse ein Fehler ausgelöst. Dies ist nun behoben.</p>
</li>
<li>
<p>Der Filter <code>shippingProfileId</code> hatte bei der REST Auftragssuche nicht funktioniert.</p>
</li>
<li>
<p>Der PDF steuerliche Hinweis 1 und 2 wird nur ausgegeben, wenn kein Umsatzsteuersatz des Ziellandes benutzt wird. Das war bei Stornobelegen nicht da Fall, da wurde fälschlicherweise der Hinweis ausgegeben. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_dokumente_2" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Der steuerliche Hinweis 1 und 2 wird nur ausgegeben, wenn kein Umsatzsteuersatz des Ziellandes benutzt wird. Das war bei Stornobelegen nicht da Fall, da wurde fälschlicherweise der Hinweis ausgegeben. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_lagerverwaltung" class="discrete">Lagerverwaltung</h3>
<div class="ulist">
<ul>
<li>
<p>Die Symbole für Gruppenfunktion und Aufbau anpassen wurden versehentlich vertauscht.</p>
</li>
<li>
<p>Man konnte den Zweck und den Status eines Lagerortes von der Struktur nicht ändern. Der Fehler wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_daten_log" class="discrete">Daten-Log</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Artikelexport wurde im Menü <strong>Daten » Log</strong> nach der Fehlermeldung <code>SKU nicht gespeichert</code> immer direkt danach die Fehlermeldung <code>Kein Produktname</code> ausgegeben, unabhängig davon, ob der Produktname vorhanden ist oder nicht. Dieses Verhalten wurde nun korrigiert.</p>
</li>
</ul>
</div>
<h3 id="_nachbestellung" class="discrete">Nachbestellung</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn in einer Auftragspositionstabelle mit mehr als einer Seite mit der Material Navigation zu einer bestimmten Tabellenseite navigiert wurde, änderte die Seite sich nicht sondern wurde immer wieder auf die zuletzt gewählte Seite gesetzt. Dies ist nun behoben.</p>
</li>
<li>
<p>Die Transaktionen einer Nachbestellung wurden nicht in der Detailansicht der Nachbestellung aufgeführt. Dies ist nun behoben. Wenn du eine Nachbestellung öffnest, sind alle Transaktionen in der Warenbewegungstabelle aufgeführt.</p>
</li>
<li>
<p>Wenn das Abschlussdatum durch klicken auf die Schaltfläche gesetzt werden sollte, wurde das gleiche Datum wie bei Bestellung auslösen gesetzt. Dies ist nun behoben. Wenn das Abschlussdatum leer ist und du auf die Schaltfläche klickst, wird das aktuelle Datum als Abschlussdatum gesetzt.</p>
</li>
</ul>
</div>
<h3 id="_amazon_2" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Aktualisieren (dem Update) von ausstehenden Amazon-Aufträgen ohne die Verwendung einer der VCS-Varianten (Umsatzsteuerberechnungsservice) über die regulären Auftragsberichte konnten die Umsatzsteuernummern von Kund:innen bisher nicht importiert werden.
Mit diesem Update ist es nun möglich, ohne die Verwendung von VCS beim Import von ausstehenden Aufträgen (unvollständige Auftragsdaten) Umsatzsteuernummern der Kund:innen zu importieren, wenn in denAmazon-Berichten in der Seller Central die erforderlichen Spalten aktiviert sind.<br>
Leider ist ein nachträglicher Import der Umsatzsteuernummern für bereits importierte Aufträge nicht möglich.</p>
</li>
<li>
<p>Beim Import von Rechnungsdokumenten aus den USA waren die bisherigen Filterkritieren nicht ausreichend, um zu erkennen, ob die Rechnung im Bericht von der Händler:in oder von Amazon stammt.
Deswegen wird jetzt auch die Spalte <strong>Tax Type</strong> geprüft und die Rechnung nur importiert, wenn diese Spalte den Wert <strong>VAT</strong> enthält.</p>
</li>
</ul>
</div>
<h3 id="_zalando_2" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Abrufen der Produkt-Datei durch Zalando konnte es vorkommen, dass vorher nicht alle Bestände in der XML-Datei aktualisiert wurden. Dieses Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_gelöscht" class="discrete">Gelöscht</h2>
<div class="paragraph">
<p>Folgende Funktionalität wurde in den letzten 7 Tagen auf <strong>stable</strong> entfernt.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der Auftragsdetailansicht wurden einige Funktionen für die Auftragstypen Sammelauftrag und Sammelgutschrift entfernt. Sammelaufträge können nun nicht mehr kopiert werden und der Eintrag wurde entfernt einen Mahnungsbeleg für Sammelaufträge zu generieren. Für Sammelgutschriften wurde die Möglichkeit entfernt Positionen hinzuzufügen oder zu bearbeiten, ebenso wie die Funktionalität Versandprofile und Versandkosten zu setzten. Damit stellen Sammelaufträge und Sammelgutschriften den gleichen Funktionsumfang in der UI bereit.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Artikelbeschreibung in der Artikeltabelle im letzten Schritt der Auftragsanlage (Beta) ist nun anpassbar. Durch Klicken in das Eingabefeld können Änderungen an der Artikelbeschreibung für diesen Auftrag vorgenommen werden.</p>
</li>
<li>
<p>In der Artikelsuche der neuen Auftragsanlage (Beta) wurde die alte Filterkomponente durch eine neue ersetzt. Zusätzlich zu den bereits bestehenden Filtern wurden zwei neue hinzugefügt: <strong>Hersteller</strong> und <strong>Tag Artikel</strong>. Die neue Komponente ermöglicht es, verschiedene Filter zu kombinieren.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort sind in der UI Exportfilter verfügbar (je nach Verfügbarkeit).</p>
</li>
<li>
<p>Wir haben den asynchronen Download technisch verbessert.</p>
</li>
<li>
<p>Das Standardformat <strong>Hersteller</strong> wurde im Katalog hinzugefügt.
Dieses Format wurde aus dem Elastischen Export migriert.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In der Aktion <strong>Retoure anlegen/bearbeiten</strong> wurde eine neue Option namens <strong>Größere Artikelbildvorschau anzeigen</strong> hinzugefügt. Bei Aktivierung dieser Option wird beim Durchlaufen der Aktion ein größeres Artikelvorschaubild angezeigt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_5" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde beim Kopieren eines Auftrags der Status übertragen, statt wie vorher den Standard-Status für den neuen Auftrag zu verwenden.</p>
</li>
<li>
<p>Zahlungsbedingungen können nun auch auf Dokumenten ausgegeben werden, wenn es sich bei der Zahlungsart des Auftrags um <strong>Vorkasse</strong> handelt. <a href="/auftraege/auftraege-verwalten#intable-zahlungsbedingungen-auftrag">Weitere Informationen</a>.</p>
</li>
<li>
<p>Während der Auftragsanlage konnten Artikel nicht aus der Warenkorbtabelle gelöscht werden. Dies ist nun behoben. Artikel können wieder gelöscht werden.</p>
</li>
<li>
<p>Wenn ein neuer Auftragsstatus erstellt wurde, wurde die Seite nicht neu geladen und auch nicht zum neu erstellen Auftragsstatus weitergeleitet. Dies ist nun behoben.</p>
</li>
<li>
<p>Wenn versucht wurde einen Auftragsstatus zu erstellen, dieser aber bereits existiert, wurde ein Fehler angezeigt und nicht zum bereits existierenden Status weitergeleitet. Dies ist nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_amazon_3" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Die Auftragskorrektur ist jetzt in der Lage am Auftrag Versandkosten hinzuzufügen, sollten diese fehlen.
Des Weiteren wurde ein Fehler behoben, durch den es zur Anzeige der Umsatzsteuernummer des falschen Landes kommen konnte. Dies geschah, wenn das Land und die zugehörigen Steuersätze am Auftrag korrigiert wurde. Dabei wurde bisher an den Auftragspositionen die sogenannten CountryVatID nicht angepasst, was zu diesem Verhalten führte.</p>
</li>
</ul>
</div>
<h3 id="_git" class="discrete">Git</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist wieder möglich, die Zugangsdaten von Git-Repositorys zu aktualisieren.</p>
</li>
</ul>
</div>
<h3 id="_lagerverwaltung_2" class="discrete">Lagerverwaltung</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man etwas in der Struktur des Lagers änderte (Beispiel: Position Nr. eines Lagerorts), wurde die Lagerstruktur nach Speichern zusammengebrochen.
Das Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/enderecoaddressautocomplete_6622">Endereco Address Autocomplete</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wesioautoreorder_6557">Automatische Nachbestellung mit individueller Berechnung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.24.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebayfiege_6018">eBay Fulfillment</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.31</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cookiebar_4809">CookieBar</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.6.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zur Nutzung des Feedback-Plugins muss Ceres in Version 5.0 oder höher installiert sein.</p>
<p class="tableblock">Nach dem Update auf Version 3.6.3 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plentybaseitemcachepos_6313">plentyBase ItemCachePOS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/adcelltracking_6493">ADCELL Conversion Tracking + Retargeting</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/billigerdetracking_6126">billiger.de Tracking</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/customcontainercontent_6232">25x individueller Inhalt inkl. TWIG!</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googleanalyticsrefunder_6657">GoogleAnalyticsRefunder</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/magiczoomplus_6092">Moderne Bildergalerie - Magic Zoom Plus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wartungsmodus_5812">Individueller Wartungsmodus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytitemavailabilitynotification_6906">Verfügbarkeitsbenachrichtigung mit Statistik</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportcheck24de_4730">CHECK24</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082">Multicontent-Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.5.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/energylabel_6160">Energie Label</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>