<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Allyouneed</h1><p>Welcome to the topic Allyouneed. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/omni-channel/multi-channel/allyouneed/allyouneed-setup">Allyouneed</a></li><li><a href="/en/omni-channel/multi-channel/allyouneed/best-practices">Best Practices: Allyouneed</a></li></ul>
</main>