<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Check24</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Check24 in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Setting the item availability</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Defining SKUs</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Setting up the item export</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Defining a sales price</span></a></li>
</ul>
</li>
<li><a href="#950"><span>3.</span><span> Order import</span></a></li>
<li><a href="#1000"><span>4.</span><span> Retrieving the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Check24</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find information about the settings you need to carry out in order to set up the market Check24 in plentymarkets. You will learn how to set up the interface, how to export items to Allyouneed and how to define sales prises.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Check24</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with <strong><a href="http://info.fruugo.com/merchants/pages/start_selling.asp" target="_blank">Check24</a></strong> before setting up Check24 in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Check24 in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following settings in plentymarkets in order to set up the interface to Check24.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets »  Check24 » Basic settings</strong>.</p>
</li>
<li>
<p>Activte the automatic data exchange.</p>
</li>
<li>
<p>Enter the Check24 user name.</p>
</li>
<li>
<p>Enter the Check24 password.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly order synchronisation</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="300">2.1. Setting the item availability</h3>
<div class="paragraph">
<p>Items have to be available for Check24. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the item availability for Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Check24</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Defining SKUs</h3>
<div class="paragraph">
<p>Add SKUs for referrers in the menu <a href="/en/item/managing-items#170"><strong>Item » Edit item » Open item » Tab: Variation ID</strong></a>.</p>
</div>
<div class="paragraph instruction">
<p>Addding SKU</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>SKU</strong> section on <strong>Add</strong>.<br>
→ The editing window <strong>New SKU</strong> will be displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Check24</strong>.</p>
</li>
<li>
<p>Select the corresponding market account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU will be saved and displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. Setting up the item export</h3>
<div class="paragraph">
<p>This section explains how to transfer your items to Check24. The item export for Check24 is carried out by the elastic export. Therefore, the plugins <strong>ElasticExport</strong> and <strong>ElasticExportCheck24DE</strong> have to be already installed. Create the data format Check24DE first and then transfer the URL to Check24.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the item export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » Export » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p>Carry out further settings for item filters and format settings. Pay attention to the information given in table 5 in the <a href="/en/basics/data-exchange/exporting-data#60"><strong>Exporting data</strong></a> page of the manual.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The export format will be given an ID and it will appear in the overview within the <strong>Exports</strong> tab.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. settings for the item export</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name. The export format will be listed under this name in the overview within the <strong>Exports</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a type from the drop-down menu. Currently, <strong>Item</strong> is the only available option. Further options will be available soon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the format <strong>Check24DE</strong> from the dropdown menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a number. If you want to transfer more than 10,000 data records to Check24, then the output file will not be generated again for another 24 hours. This is to save resources.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Provisioning</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>URL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Token,<br>
URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token will be entered automatically. The URL will be entered automatically if the token was generated under <strong>Token</strong>. Give this URL to Check24.de in order to export the items.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Export information</div>
<div class="paragraph">
<p>If you change one or more settings, then you will have to transfer the new link to Check24.</p>
</div>
<div class="paragraph">
<p>A maximum of 4000 items will be exported at once. If you export more items, then a second export will automatically be carried out. To display the second export process, set the parameter <strong>&amp;Page</strong> = in the export link to <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technical data is transferred to Check24 in the last column of the export file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="600">2.4. Defining a sales price</h3>
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Check24. This price will be shown on Check 24.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Item » Sales price » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Check24</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="950">3. Order import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After the order import the order is set to status <strong>[5]</strong><strong>cleared for shipping</strong> . The invoice address is always Check24. The customer’s address is the delivery address.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">4. Retrieving the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data exchange » API log » Tab: API log</strong> contains a history of processes that run via the Check24 interface. The <strong>Check24OrderImportAdapter</strong> format is available for Check24.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » API log</strong>.</p>
</li>
<li>
<p>Select the <strong>Check24OrderImportAdapter</strong> format from the <strong>Process</strong> drop-down menu.</p>
</li>
<li>
<p>Select a Date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>