<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with DaWanda</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up DaWanda in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating an order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining SKU manually</span></a></li>
<li><a href="#400"><span>6.</span><span> Linking categories</span></a></li>
<li><a href="#500"><span>7.</span><span> Creating properties</span></a></li>
<li><a href="#600"><span>8.</span><span> Defining a sales price</span></a></li>
<li><a href="#700"><span>9.</span><span> Activating payment methods</span></a></li>
<li><a href="#800"><span>10.</span><span> Automatically sending payment confirmations</span></a></li>
<li><a href="#900"><span>11.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#1000"><span>12.</span><span> Automatically giving orders the status "Completed"</span></a></li>
<li><a href="#1100"><span>13.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>DaWanda</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://de.dawanda.com" target="_blank" rel="noopener">DaWanda</a> is an online marketplace for unique, handmade, individualised and custom-made products and low volume productions. You are not allowed to sell mass-produced or imported items on DaWanda. There are special categories such as Material and Vintage where you can offer industrially manufactured products. These products have to comply with the <a href="https://en.dawanda.com/page/policies" target="_blank" rel="noopener">DaWanda Guidelines</a>. In order to sell items on DaWanda, you need to make your items completely available in German.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with DaWanda</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with <a href="https://de.dawanda.com/account/register" target="_blank" rel="noopener">DaWanda</a> and have your product line reviewed before setting up DaWanda in plentymarkets. If you already sell on DaWanda, you need to request your API key. To do so, contact DaWanda: <a href="mailto:feedback@dawanda.com">feedback@dawanda.com</a>. Make sure to include the email address that you saved for DaWanda.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up DaWanda in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up DaWanda in plentymarkets to offer items on DaWanda. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up DaWanda in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » DaWanda » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Basic settings for the market DaWanda</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the data exchange is activated, then there is a daily item export, an hourly stock synchronisation and an hourly order import.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate item export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If this option is activated, a daily item export is carried out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate stock update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If this option is activated, an hourly stock update is carried out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deactivate the import of the E-Mail addresses</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option if you do not want to import the email addresses from the customer data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the API key that you received from DaWanda. <br>
The API key is checked after the data has been saved. The fields <strong>Shop ID</strong> and <strong>Shop name</strong> are automatically filled in after the API key has been checked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The DaWanda store ID. This information is automatically filled in after the API key has been checked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the DaWanda store. This information is automatically filled in after the API key has been checked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. This item name is transferred to DaWanda.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Preview text</strong>, <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. This short item description is transferred to DaWanda.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <strong>Item text</strong> saved in the item’s <strong>Texts</strong> tab or select one of the free text fields saved in the item’s <strong>Fields</strong> tab. This item description is transferred to DaWanda.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import only confirmed orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If this setting is activated, then only orders which have been confirmed on DaWanda are imported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID for the additional charge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a variation ID that should be assigned to the additional costs. This variation is assigned to the additional costs during the order import.<br>
We recommend to use a variation ID for the additional charge if you have activated the automatic stock update. Otherwise, paid orders will be set to status <strong>[4] In preparation for shipping</strong>. This might lead to a delay in the shipping process.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Variations are transferred to DaWanda as individual items</div>
<div class="paragraph">
<p>It is not possible to set up variations in DaWanda. Therefore, an individual item is created for every variation on DaWanda. Colour and size are automatically added to the title.<br>
Tip: Item names can have a maximum of 50 characters on DaWanda. Longer item names will be cut off. If an item name is too long with information about colour and size, then use <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong> in the item’s <strong>Texts</strong> tab and transfer these item names to DaWanda.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>daily item export</p>
</li>
<li>
<p>hourly stock synchronisation</p>
</li>
<li>
<p>hourly order import</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Item image</div>
<div class="paragraph">
<p>A maximum of 4 item images can be uploaded to DaWanda.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with DaWanda you have to activate the order referrer DaWanda in the menu <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for DaWanda:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to <strong>DaWanda</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for DaWanda. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID</a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for DaWanda:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>DaWanda</strong>.</p>
</li>
<li>
<p>Activate the option Web API.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on DaWanda.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs for specific referrers in the menu <a href="/en/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID</a>.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> in the section <strong>SKU</strong>.<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>DaWanda</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your store categories to the DaWanda categories in order to display your items in these DaWanda categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » DaWanda » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>. <br>
→ The window <strong>Select category</strong> opens.</p>
</li>
<li>
<p>Select the DaWanda category that best matches your store category.</p>
</li>
<li>
<p>Click on <strong>Accept</strong>.<br>
→ The ID and category path of the DaWanda category are displayed.</p>
</li>
<li>
<p>If you already know the ID of the DaWanda category, enter it directly into the <strong>Market category</strong> field to link it to your store category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use <a href="/en/n/item/managing-items#480">properties</a> to link your items to particular characteristics that you need for the market DaWanda. This way, you can link categories directly in the item menu. Moreover, you transfer item information to DaWanda with the help of property filters and determine criteria for the item search on DaWanda.</p>
</div>
<div class="paragraph">
<p>First, create properties and then link them to items. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter a name for the property under <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select a <strong>Property type</strong>.</p>
</li>
<li>
<p>Select a <strong>DaWanda property</strong> from the drop-down list. Pay attention to the explanations given in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. DaWanda properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of product</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select between <strong>physical product</strong>, <strong>digital product</strong> or <strong>service</strong>.<br>
Property type: No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AutoRenewEnabled</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate or deactivate the automatic renewal of offers. <br>
Go to <strong>Item » Edit item » Open item » Tab: Properties</strong> and enter <strong>true</strong>, <strong>yes</strong>, <strong>ja</strong>, <strong>1</strong> for the DaWanda property or link a property of type <strong>No</strong> = The offer is automatically renewed after the runtime ends. <br>
<strong>Note:</strong> <strong>False</strong> is automatically transferred for items that do not use the <strong>AutoRenewEnabled</strong> property or have invalid values. The offer is not renewed automatically.<br>
Property type: No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Own category ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It is possible to create your own DaWanda store categories which are linked to items in plentymarkets by using properties. Enter the DaWanda store category ID here. Request the IDs directly from DaWanda by download.<br>
Property type: whole number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s main colour 1. This is also used for the item search on DaWanda.<br>
Property type: No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s main colour 2. This is also used for the item search on DaWanda.<br>
Property type: No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Size/Dimensions/Weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter detailed information about the item’s size, dimensions or weight.<br>
Property type: Whole number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Production method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter information about the production method, e.g. hand-made.<br>
Property type: Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customisation options</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Describe the ways in which the item is customisable. For example patterns, sizes or colours that differ from the item displayed. Also specify how the customer can communicate his or her customisation wishes and whether the price will change due to customisation.<br>
Property type: Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a category ID that differs from the categories linked in the <strong>System » Markets » DaWanda » Category link</strong> menu.<br>
Property type: Whole number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter additional information.<br>
Property type: Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping profile. Only visible if shipping profiles have already been entered on DaWanda. Due to the cache function, the property is not displayed with the item until about 1 hour after it was saved.<br>
<strong>Important:</strong> The property <strong>Shipping profile</strong> is mandatory for DaWanda.<br>
Property type: No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Materials utilised</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter all of the materials that were used for the item and additional care instructions if needed.<br>
Property type: Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Essential properties</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <strong><a href="http://de.dawanda.com/cms/c/de/Verkauferportal/22-News/78-Verkaufernewsletter/p2337-News-fur-Verkaufer-Gesetzesanderung-seit-dem-1-August-2012" target="_blank" rel="noopener">essential properties</a></strong> of the item according to the requirements of the so-called button solution in Germany. The main aim of these regulations is to protect consumers from unclear contracts (relating to subscriptions and costs).<br>
Property type: Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cancellation rights</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the cancellation rights. Only visible if cancellation rights have already been entered on DaWanda. Due to the cache function, the property is not displayed with the item until about 1 hour after it was saved.<br>
Property type: No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Second category ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the second category ID that differs from the categories linked in the <strong>System » Markets » DaWanda » Category link</strong> menu.<br>
<strong>Note:</strong> DaWanda charges an additional fee for listing items in a second category.<br>
Property type: Whole number</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">8. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer DaWanda. This price is displayed on DaWanda.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for DaWanda:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>DaWanda</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Activating payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/en/order-processing/payment/managing-payment-methods">payment method</a> <strong>DaWanda Gutschein</strong> if you want to allow customers to pay with coupons from DaWanda. Then activate the payment method <strong>DaWanda Payment</strong> in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Activating DaWanda payment methods:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>International</strong> &gt; <strong>DaWanda</strong>.</p>
</li>
<li>
<p>Select the DaWanda payment method <strong>DaWanda Gutschein</strong>.<br>
→ The settings for the DaWanda payment method are displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 2.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, then the logo that has been uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, upload an external logo here.<br>
 Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important</strong>: Do not enter a value into both fields. <br>
For further information, refer to the <a href="#en/basics/statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods#20">Managing payment methods</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods">Payment methods</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Automatically sending payment confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/en/basics/automation/event-procedures">event procedure</a> to automatically send payment confirmations to DaWanda.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 4.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Event procedure for sending automatic payment confirmations to DaWanda</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment: Complete</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DaWanda.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send payment notification to DaWanda</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">11. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/en/basics/automation/event-procedures">event procedure</a> to automatically send shipping confirmations to DaWanda when the outgoing items have been booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 5.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Event procedure for sending automatic shipping confirmations to DaWanda</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DaWanda.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to DaWanda</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">12. Automatically giving orders the status "Completed"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/en/basics/automation/event-procedures">event procedure</a> to automatically give orders the status "Completed" on DaWanda. This status is not specifically defined on DaWanda. Use your own discretion to decide when orders should be given the status "Completed". Both you and your customers can set orders to this status. For example, you may want to give orders the status "Completed" when you send the shipping confirmation to DaWanda.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 6.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 6.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. Event procedure for automatically giving orders the status "Completed" on DaWanda</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DaWanda.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to DaWanda</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send “Order complete” to DaWanda</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">13. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <a href="/en/en/basics/data-exchange/api-log">Data » API log</a> contains a history of processes that run via the DaWanda interface.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select the format <strong>DaWanda.de</strong> from the <strong>Process</strong> drop-down list.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to carry out the search.<br>
→ The processes are displayed.</p>
</li>
</ol>
</div>
</div>
</div>
</main>