<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with Flubit</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up Flubit in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting the item availability</span></a></li>
<li><a href="#35"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#40"><span>5.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#50"><span>6.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#60"><span>7.</span><span> Automatically sending returns</span></a></li>
<li><a href="#70"><span>8.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Flubit</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="https://www.flubit.com/About" target="_blank" rel="noopener">Flubit</a></strong> is an online market that is only available in the United Kingdom and that does not take a commission from sellers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with Flubit</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, register as a seller on <strong><a href="https://www.weflubit.com/start-selling" target="_blank" rel="noopener">WeFlubit</a></strong>, the central Flubit interface for sellers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up Flubit in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up Flubit in plentymarkets to offer items on Flubit. You need your access data. This includes your API key and security token. You will receive this data from Flubit.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Flubit in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Flubit » Basic settings</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate the automatic data exchange</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If the data exchange is activated, then there will be a daily item export (at night), an hourly stock synchronisation and an hourly order import.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>API key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the API key (Key) that you received from Flubit.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Security token</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the Security token (Secret) that you received from Flubit.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Environment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Live</strong> or <strong>Sandbox</strong>.<br>
If <strong>Live</strong> is selected, the items will be listed live. The option <strong>Sandbox</strong> is a test mode.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. This item name will be transferred to Flubit.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose between <strong>Standard description</strong>, <strong>Short description</strong> or <strong>Technical data</strong>. <br>
This item description will be transferred to Flubit. The item description has to be available in <strong><a href="/omni-channel/online-store/setting-up-clients/multilingual-online-store">English </a></strong>. Otherwise the item will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse selection</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the stock quantity for the hourly synchronisation and the daily item export. Select one of the following options: <br>
<strong>Stock quantity of sales warehouse with largest stock</strong><br>
<strong>Stock quantity of item’s main warehouse</strong><br>
<strong>Stock quantity of all warehouses</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: basic settings for the market Flubit</em></p>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>daily item export</p>
</li>
<li>
<p>hourly stock synchronisation</p>
</li>
<li>
<p>hourly order import</p>
</li>
<li>
<p>Automatically create a new customer data record during the order import. This is assuming no customer data record was already saved in the database</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Language</div>
<div class="paragraph">
<p>Attributes have to be saved in English in order for items to be exported to Flubit.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Flubit. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Flubit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Flubit</strong>.</p>
</li>
<li>
<p>Activate the option Web-API.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on Flubit.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Mandatory entries for the item export</div>
<div class="paragraph">
<p>Items must meet the following criteria before they can be exported to Flubit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The item price is greater than zero</p>
</li>
<li>
<p>The item has positive stock</p>
</li>
<li>
<p>The item description is available in <strong><a href="/omni-channel/online-store/setting-up-clients/multilingual-online-store">English </a></strong>.</p>
</li>
<li>
<p>The item is visible</p>
</li>
<li>
<p>The item has an image</p>
</li>
<li>
<p>The item number is transferred<br>
→ If the MPN is transferred as the item number, then the brand name or manufacturer needs to be specified as well.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Items will not be exported if these entries are missing.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="35">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Flubit. This price will be displayed on Flubit.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Flubit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Item » Sales price » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Flubit</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">5. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/basics/automation/event-procedures">event procedure  </a></strong> to automatically send shipping confirmations to Flubit when the outgoing items are booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Outgoing items booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Flubit</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Send shipping confirmation to Flubit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: event procedure for sending automatic shipping confirmations to Flubit</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/basics/automation/event-procedures">event procedure  </a></strong> to automatically inform Flubit of cancellations. Whenever you are dealing with cancellations, you need to send Flubit a reason for the cancellation. Go to <strong><a href="/order-processing/orders/managing-sales-orders#order-status">Settings » Orders » Order status  </a></strong> and create additional order statuses as needed. The following cancellation reasons can be transferred to Flubit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item not in stock</p>
</li>
<li>
<p>Item discontinued</p>
</li>
<li>
<p>Invalid delivery address</p>
</li>
<li>
<p>Customer cancellation</p>
</li>
<li>
<p>Legislation restriction</p>
</li>
<li>
<p>Other</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 3 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status change: [8.1] Cancelled by customer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Flubit</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Send cancellation to Flubit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer cancellation</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: event procedure for sending automatic cancellations to Flubit</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/basics/automation/event-procedures">event procedure  </a></strong> to automatically inform Flubit about returns.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 4 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order generation: New return</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Flubit</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Send return to Flubit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: event procedure for sending automatic returns to Flubit</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">8. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong><a href="/basics/data-exchange/api-log">Data exchange » API log  </a></strong>, tab <strong>Flubit</strong> contains a history of processes that run via the Flubit interface. The following formats are available for Flubit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>FlubitOrderImport</strong> (order import)</p>
</li>
<li>
<p><strong>FlubitOrderCancel</strong> (cancellations)</p>
</li>
<li>
<p><strong>FlubitOrderDispatch</strong> (shipping confirmation, refund)</p>
</li>
<li>
<p><strong>FlubitProductsFeed</strong> (data export)</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » API log</strong>.</p>
</li>
<li>
<p>Select a format from the drop-down menu <strong>Process</strong>.</p>
</li>
<li>
<p>Select a <strong>Date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to carry out the search.<br>
→ The processes will be displayed.</p>
</li>
<li>
<p>Click on the folder in the <strong>Process</strong> column. <br>
→ The <strong>Flubit</strong> tab will open and error messages will be displayed for this process.</p>
</li>
</ol>
</div>
</div>
</div>
</main>