<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with Fruugo</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up Fruugo in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting the item availability</span></a></li>
<li><a href="#35"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#40"><span>5.</span><span> Linking attributes</span></a></li>
<li><a href="#50"><span>6.</span><span> Sending shipping costs</span></a></li>
<li><a href="#60"><span>7.</span><span> Activating the payment method</span></a></li>
<li><a href="#70"><span>8.</span><span> Automatically sending order confirmations</span></a></li>
<li><a href="#80"><span>9.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#90"><span>10.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#100"><span>11.</span><span> Automatically sending returns</span></a></li>
<li><a href="#110"><span>12.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Fruugo</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http://info.fruugo.com/data/index.html" target="_blank" rel="noopener">Fruugo</a></strong> is a global market, which allows customers to shop in their own country’s language and currency. Item descriptions are automatically translated into the target language and prices are converted into the local currency. This strengthens your international presence without major expenditure in terms of time or money.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with Fruugo</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with <strong><a href="http://info.fruugo.com/merchants/pages/start_selling.asp" target="_blank" rel="noopener">Fruugo</a></strong> before setting up Fruugo in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up Fruugo in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up Fruugo in plentymarkets first in order to offer items on the market. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Fruugo in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Fruugo » Basic settings</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Active</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the data exchange. If the data exchange is activated, then there will be an hourly order import.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>User name<br>
Password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the access data that you received from Fruugo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose the language in which texts should be transferred to Fruugo. <br>
<strong>Important:</strong> Item texts must be entered in the same language as chosen here in order to transfer the item to Fruugo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. This item name will be transferred to Fruugo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>Item text</strong>, <strong>Preview text</strong> or <strong>Technical data</strong> saved in the item’s <strong>Texts</strong> tab or select one of the free text fields saved in the item’s <strong>Fields</strong> tab. This item description will be transferred to Fruugo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse selection</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options: <br>
<strong>Transfer stock quantity of distribution warehouse that currently has largest stock</strong><br>
<strong>Use item’s main warehouse</strong><br>
<strong>Transfer sum of stock quantities from all distribution warehouses</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode exemption</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options:<br>
<strong>Yes</strong>: Items without a barcode will be transferred to Fruugo.<br>
<strong>No</strong>: Items without a barcode will not be transferred to Fruugo.+
You must have the permission granted by Fruugo to list items without the barcode before you can select <strong>Yes</strong> here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Data export URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Is automatically generated after the user name and password have been saved. Send Fruugo this URL via email as it is not transferred automatically.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: basic settings for the market Fruugo</em></p>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly order import</p>
</li>
<li>
<p>Automatically create a new customer data record during the order import. This is assuming no customer data record was already saved in the database</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">The currency may differ for import and export</div>
<div class="paragraph">
<p>The store’s standard currency is transferred to Fruugo when exporting the item’s information. However, when orders are imported, the amount will be in whichever currency the customer paid with.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">No interface for stock and price synchronisation</div>
<div class="paragraph">
<p>Fruugo does currently not provide an interface for automatic stock and price synchronisation. Instead, Fruugo exports data from plentymarkets via the data export URL which has to be transferred to Fruugo after registration and setup. Fruugo decides how often the data export takes place depending on the data Fruugo receives from your sales on the market.</p>
</div>
<div class="paragraph">
<p>Only items with stock will be exported to Fruugo.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Fruugo. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Fruugo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Fruugo</strong>.</p>
</li>
<li>
<p>Activate the option Web-API.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on Fruugo.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="35">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Fruugo. This price will be displayed on Fruugo.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Fruugo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Item » Sales price » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Fruugo</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">5. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have created the attributes <strong>Colour</strong> and/or <strong>Size</strong> in your plentymarkets system, you will have to link these attributes with Fruugo. Proceed as described below to link the attribute Colour with Fruugo. Then link the attribute Size the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking the attribute Colour:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Item » Attributes</strong>.<br>
→ An overview of all existing attributes will open.</p>
</li>
<li>
<p>Expand the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select <strong>Fruugo</strong> from the <strong>Market</strong> drop-down menu.<br>
→ The <strong>Fruugo</strong> drop-down menu will be displayed.</p>
</li>
<li>
<p>Select the attribute <strong>Colour</strong> from the <strong>Fruugo</strong> drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>If needed, repeat this process for the attribute <strong>Size</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Sending shipping costs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Fruugo requires a list of shipping costs from each seller. This list cannot be transferred via the API. Therefore, upload a file which includes this information directly on Fruugo. You can find further information and a file template <strong><a href="http://info.fruugo.com/data/shipping_charges.html" target="_blank" rel="noopener">here</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <strong><a href="/en/order-processing/payment">payment method</a></strong> <strong>Fruugo</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the Fruugo payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Payment » Payment methods</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>International &gt; Fruugo</strong>. <br>
→ The settings for the Fruugo payment method will be displayed.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 2.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the name that should be displayed in the online store and on invoices etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page (external)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Countries of delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed. <br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method will not be displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo view</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then the logo that was uploaded will be displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Upload logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then you will be able to upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priority</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the priority for displaying the payment method in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Costs: Flat rate or percentage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. Important: Do not enter a value into both fields. <br>
For further information, refer to the <strong><a href="/en/basics/statistics">Statistics</a></strong> and <strong><a href="/en/basics/statistics/general-statistics/item/tops-flops">Tops/Flops</a></strong> pages of the manual. For an example for flat rate and percentage costs, refer to the <strong><a href="/en/omni-channel/multi-channel/fruugo#20">Basic settings</a></strong> page of the manual.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: settings of the payment method</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Settings » Customers » Customer classes</strong> to activate or deactivate the <strong>Permitted payment methods</strong>. <br>
For further information, refer to the <strong><a href="/en/omni-channel/multi-channel/fruugo#40">Payment methods and customer classes</a></strong> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <strong><a href="/en/order-processing/payment">Payment methods</a></strong>  page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">8. Automatically sending order confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically send an order confirmation to Fruugo.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 3 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order generation: New order</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fruugo</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Send order confirmation to Fruugo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: event procedure for sending automatic order confirmations to Fruugo</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">9. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically send a shipping confirmation to Fruugo when the outgoing items are booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 4 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Outgoing items booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fruugo</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping &gt; Send shipping confirmation to Fruugo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: event procedure for sending automatic shipping confirmations to Fruugo</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">10. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically inform Fruugo of cancellations.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 5 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status change: [8] Cancelled</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fruugo</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Send cancellation to Fruugo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 5: event procedure for sending automatic cancellations to Fruugo</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">11. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically inform Fruugo about returns.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 6.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 6 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order generation: New return</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fruugo</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return &gt; Send return to Fruugo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 6: event procedure for sending automatic returns to Fruugo</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="110">12. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong><a href="/en/basics/data-exchange/api-log">Data exchange » API log</a></strong> contains a history of processes that run via the Fruugo interface. The following formats are available for Fruugo:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Fruugo</strong> (order import)</p>
</li>
<li>
<p><strong>FruugoGetOrders</strong> (cancellations, order confirmation)</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select a format from the drop-down menu <strong>Process</strong>.</p>
</li>
<li>
<p>Select a <strong>Date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to carry out the search.<br>
→ The processes will be displayed.</p>
</li>
</ol>
</div>
</div>
</div>
</main>