<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with grosshandel.eu</span></a></li>
<li><a href="#20"><span>2.</span><span> Creating an user account</span></a></li>
<li><a href="#30"><span>3.</span><span> Procuring data</span></a></li>
<li><a href="#40"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#50"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#60"><span>6.</span><span> Linking categories</span></a></li>
<li><a href="#70"><span>7.</span><span> Linking multiple subcategories</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>grosshandel.eu</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.grosshandel.eu/" target="_blank"><strong>grosshandel.eu</strong></a> is a pure B2B portal, which means that both sellers and buyers have to be in possession of a valid traders license. You can use this market to buy and sell consumer goods and brand-name items (source: grosshandel.eu).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with grosshandel.eu</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to <a href="http://www.grosshandel.eu/registrierung-verkaeufer.php" target="_blank"><strong>register</strong></a> in the grosshandel.eu seller portal before you can set up grosshandel.eu in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Creating an user account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your plentymarkets system will be connected to grosshandel.eu via the SOAP API. In order for it to have access, the market requires its own user account with access rights to the API in your system. Go to <strong>Settings » Basic settings » User » Accounts</strong> and create a new user account for grosshandel.eu with the user class <strong>API</strong>. Additionally, activate the call <strong>GetCategoryMappingForMarket</strong>. This call ensures that the market will later be able to retrieve your category links.</p>
</div>
<div class="paragraph instruction">
<p>Creating an user account for grosshandel.eu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Basic settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create new user</strong> window will open.</p>
</li>
<li>
<p>Enter the data.</p>
</li>
<li>
<p>Select the user class <strong>API</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The user will be created.</p>
</li>
<li>
<p>Select the user from the list.<br>
→ The editing window will open.</p>
</li>
<li>
<p>Click on the tab <strong>Right » API</strong>.</p>
</li>
<li>
<p>Expand the <strong>Item</strong> area.</p>
</li>
<li>
<p>Activate the <strong>GetCategoryMappingForMarket</strong> call.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Procuring data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>grosshandel.eu needs to have the following data from you in order to connect to your plentymarkets system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The URL for the SOAP API WSDL.<br>
→ This URL can be found in the <strong><a href="/en/basics/data-exchange/api-data">Settings » Basic settings » API » Data</a></strong> menu under <strong>SOAP WSDL</strong>.</p>
</li>
<li>
<p>The user name and password for the user account that you created for grosshandel.eu</p>
</li>
<li>
<p>Your login details for the grosshandel.eu seller portal.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for grosshandel.eu. This is done in the <strong>Availability</strong> tab of an item within the <a href=":/"><strong>Item » Edit item » Tab: Variation ID</strong></a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for grosshandel.eu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>grosshandel.eu</strong>.</p>
</li>
<li>
<p>Activate the option Web-API.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on grosshandel.eu.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer grosshandel.eu. This price will be displayed on grosshandel.eu.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for grosshandel.eu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Item » Sales price » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>grosshandel.eu</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your store categories to the grosshandel.eu categories in order to display your items in these categories. Further items from the linked category will be assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » grosshandel.eu</strong>.</p>
</li>
<li>
<p>Expand the category which you want to link to a grosshandel.eu category.</p>
</li>
<li>
<p>Select a main category for grosshandel.eu from the drop-down menu.<br>
→ A window with subcategories will open.</p>
</li>
<li>
<p>Select the appropriate grosshandel.eu category from the subcategories that appear.<br>
→ Once the lowest category level has been reached, the category path will be displayed in the field <strong>Category</strong>.</p>
</li>
<li>
<p>Click on <strong>Accept</strong>.<br>
→ The category window will close.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Link to the lowest category level</div>
<div class="paragraph">
<p>Always select a path to the lowest level. Otherwise, the item will not be linked.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Linking multiple subcategories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the option <strong>Apply the same selection to the sub-categories</strong> to apply the same grosshandel.eu category path for all of the subcategories that are listed within a category. This is useful if you want to use the same link for the subcategories. If needed, you can use the drop-down menu to manually change individual subcategories.</p>
</div>
<div class="paragraph instruction">
<p>Linking multiple subcategories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » grosshandel.eu</strong>.</p>
</li>
<li>
<p>Expand the category which you want to link.</p>
</li>
<li>
<p>Select a main category for grosshandel.eu from the drop-down menu in the line <strong>Apply the same selection to the sub-categories</strong>.<br>
→ A window with subcategories will open.</p>
</li>
<li>
<p>Select the appropriate category path from the subcategories that appear.<br>
→ Once the lowest category level has been reached, the category path will be displayed in the field <strong>Category</strong>.</p>
</li>
<li>
<p>Click on <strong>Accept</strong>.<br>
→ The category window will close.</p>
</li>
<li>
<p>Click on <strong>Select all</strong> in the line <strong>Apply the same selection to the subcategories</strong>.</p>
</li>
<li>
<p>Click on <strong>Reload</strong>.<br>
→ The category path will be applied to all of the subcategories.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</main>