<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with Kauflux</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up Kauflux in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting the item availability</span></a></li>
<li><a href="#40"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#50"><span>5.</span><span> Linking properties</span></a></li>
<li><a href="#60"><span>6.</span><span> Linking categories</span></a></li>
<li><a href="#70"><span>7.</span><span> Exporting items</span></a></li>
<li><a href="#80"><span>8.</span><span> Exporting variations</span></a></li>
<li><a href="#90"><span>9.</span><span> Importing orders</span></a></li>
<li><a href="#100"><span>10.</span><span> Sending an email when orders are imported</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Kauflux</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http://www.kauflux.de/" target="_blank" rel="noopener">Kauflux.de</a></strong> is an open marketplace with independent providers from various areas. Kauflux.de markets your items and services and provides you with direct contact to purchasers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with Kauflux</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to register with <a href="http://www.kauflux.de/konto" target="_blank" rel="noopener"><strong>Kauflux</strong></a> before you can set up Kauflux in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up Kauflux in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following basic settings in order to transfer item data to Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Kauflux in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Kauflux » Basic settings</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Exchange period</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the exchange period for the items. The exchange period is given in days. If you want to forbid items from being exchanged, then enter the value <strong>0</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the order referrer for Kauflux.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of stock management</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether you would like to transfer your stock and if so, whether you would like it to be <strong>publicly</strong> visible or not.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>API URL for the order import</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kauflux uses this link to transfer orders to plentymarkets. This link is needed for importing orders from Kauflux and not for creating the item catalogue. The item catalogue is created with the price comparison portals. This is done in the <strong><a href="/en/omni-channel/multi-channel">Settings » Markets » Price comparison portals » Exports</a></strong> menu. Further information in German can be found on <strong><a href="http://www.kauflux.de/shop-anmelden/automatischer-auftragsdatenexport" target="_blank" rel="noopener">Kauflux</a></strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: basic settings for Kauflux</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Kauflux. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on Kauflux.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Kauflux. This price will be displayed on Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Item » Sales price » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to have the ability of using properties for the Kauflux market, these have to be linked with Kauflux in the corresponding property’s settings.</p>
</div>
<div class="paragraph instruction">
<p>Linking properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand a property.</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Settings » Markets » Kauflux » Category link</strong> to link your online store categories with the categories on Kauflux. You need the Kauflux CSV file for setting up a category link. This file contains the <strong>category IDs</strong> for this market. You can download this <a href="http://support.expeedo.de/f/kl/kauflux-Kategorien.xls"><strong>file</strong></a> from the sellers area on the Kauflux website. In the next steps, you will export a list of categories in your online store, link these categories and then import the category links.</p>
</div>
<div class="paragraph instruction">
<p>Exporting links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Kauflux » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Export link</strong>.<br>
<strong>→</strong> This generates a CSV file with your online store categories.</p>
</li>
<li>
<p>Open the online store CSV file.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Entering category IDs</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Kauflux CSV file.</p>
</li>
<li>
<p>For each category in your online store, search for the corresponding <strong>category IDs</strong> in the Kauflux CSV file.</p>
</li>
<li>
<p>Enter the category IDs from the Kauflux CSV file into the <strong>KaufluxCat</strong> column in the online store CSV file.</p>
</li>
<li>
<p>Save the online store CSV file on your computer’s hard drive.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Importing links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Kauflux » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong> in the line <strong>File</strong>.</p>
</li>
<li>
<p>Select the online store CSV file that you saved on your computer’s hard drive.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The links will be imported and displayed in the <strong>Links</strong> area.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Exporting items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have configured Kauflux, you can export your items under <strong><a href="/en/omni-channel/multi-channel">Settings » Markets » Price comparison portals » Exports</a></strong>.</p>
</div>
<div class="paragraph">
<p>For an automatic item export, you have to copy the complete URL and save it with Kauflux. The prerequisites for this are that you have carried out at least one item export manually and that you have assigned the individual fields in Kauflux. Additionally, the automatic item export from Kauflux has to be activated.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Exporting variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>During the export, variations will be exported as additional CSV fields. If you would like to import this CSV or ZIP file into Kauflux, then you will be asked to map the categories.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Example</div>
<div class="paragraph">
<p>The variation fields <strong>colour</strong>, <strong>size</strong> and <strong>length</strong> are displayed in the mapping. For all variation fields, you have to select <strong>GroupParam</strong> as the mapping field so that these fields can be saved as variations on Kauflux.de. The field <strong>GroupID</strong> serves exclusively to identify the items that belong together in a group.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="90">9. Importing orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your orders from Kauflux can be imported into your system automatically. You simply have to save the API URL on Kauflux. This URL is found under <strong>Settings » Markets » Kauflux » Basic settings</strong>. After completing this step, orders will automatically be imported into your system and displayed in the menu <strong>Orders » Edit orders</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">10. Sending an email when orders are imported</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to send automatic emails when orders are imported into plentymarkets. Go to <strong><a href="/en/crm/sending-emails#1200">Settings » Client (store) » Standard » Email » Templates</a></strong> to create and activate an email template for Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Sending an email when orders are imported:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Email » Automatic email</strong>.</p>
</li>
<li>
<p>Select the previously created email template for the option <strong>New order from Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Edit email template</strong> to access the menu <strong>Settings » Client (store) » Standard » Email » Templates</strong> and edit the email template.</p>
</div>
</div>
</div>
</main>