<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with La Redoute</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up La Redoute in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Translating item information</span></a></li>
<li><a href="#40"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#50"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#60"><span>6.</span><span> Linking properties</span></a></li>
<li><a href="#70"><span>7.</span><span> Linking categories</span></a></li>
<li><a href="#80"><span>8.</span><span> Linking attributes and attribute values</span></a></li>
<li><a href="#90"><span>9.</span><span> Linking manufacturers</span></a></li>
<li><a href="#100"><span>10.</span><span> Activating the payment method</span></a></li>
<li><a href="#110"><span>11.</span><span> Creating a temporary customer</span></a></li>
<li><a href="#120"><span>12.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#130"><span>13.</span><span> Automatically sending returns</span></a></li>
<li><a href="#140"><span>14.</span><span> Reporting cancellations</span></a></li>
<li><a href="#150"><span>15.</span><span> Deleting items</span></a></li>
<li><a href="#160"><span>16.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>La Redoute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets can be connected to La Redoute, the French market leader for mail order business. Learn how to set up the interface to La Redoute and which conditions online sellers need to fulfil in order to sell items on La Redoute.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with La Redoute</h2>
<div class="sectionbody">
<div class="paragraph">
<p>La Redoute places conditions on online sellers who wants to offer their items on this market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>They need to make their catalogue of items completely available in French.</p>
</li>
<li>
<p>They need to be able to answer their customers' emails in French.</p>
</li>
<li>
<p>They also need to be able to ship their items to France.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You need to register with La Redoute before setting up La Redoute in your plentymarkets system. This is done in two steps. First, get in contact with the La Redoute Business Development Team:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Contact person</th>
<th class="tableblock halign-left valign-top">Email address</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Frédéric Maus</strong><br>
Head of Business development</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="mailto:fmaus@redoute.fr">fmaus@redoute.fr</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Joseph Farhat</strong><br>
Manager Business development - Fashion &amp; accessories</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="mailto:jfarhat@redoute.fr">jfarhat@redoute.fr</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Carlos Cantoni</strong><br>
Manager Business development - Home &amp; electronics</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="mailto:ccantoni@redoute.fr">ccantoni@redoute.fr</a></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: contacts at La Redoute</em></p>
</div>
<div class="paragraph">
<p>Second, you will receive an Excel file from La Redoute, which you fill out with information about your company and send back. Send the following documents along with the file:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A copy of your information from the commercial register</p>
</li>
<li>
<p>A notification from your bank that includes your account information (with your SWIFT and IBAN)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Alternatively, fill out the French <a href="http://www.laredoute.fr/espace-devenir-vendeur-marketplace.aspx" target="_blank" rel="noopener"><strong>contact form</strong></a> on the La Redoute website. Once you have sent all of the necessary information to La Redoute, you will receive an email from La Redoute that contains the CallerID and the CatalogSupplierName. You can now enter these IDs into your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up La Redoute in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following basic settings to connect La Redoute to your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Setting up La Redoute in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » La Redoute » Settings</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Interface mode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the interface mode. <br>
<strong>Test mode ON</strong> = Select while you configure settings and prepare the interface and items. <br>
<strong>Live mode ON</strong> = Select once La Redoute has confirmed that all of the tests have been completed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Sales partner information</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>HubID;<br>
ESystem</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This ID is fixed and cannot be changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CallerID/SellerID;<br>
EUserID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the ID that you received from La Redoute.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CatalogSupplierName</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the name that you received from La Redoute.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Item settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which field should be transferred to La Redoute as the item name. The name has to be in French. Otherwise the item will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item preview text</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which field should be transferred to La Redoute as the item preview text. The item preview text has to be in French. Otherwise the item will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which field should be transferred to La Redoute as the item description. The item description has to be in French. Otherwise the item will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Technical data</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select if this data should be transferred or not. The technical data has to be in French. Otherwise the item will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item EAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which EAN should be transferred as the item EAN.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Variation EAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which EAN should be transferred as the variation EAN.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Preparation for shipping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the number of days that you need to pack the order and hand it off to the shipping service provider.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Minimum additional delay in delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter duration in days. This number will be added to your items' normal minimum delivery time.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximum for additional delay in delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter duration in days. This will be added to your items' normal maximum delivery time.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Overwrite shipping costs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The shipping costs entered here will be transferred to La Redoute instead of the shipping costs that are saved for an item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Order settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Temporary customer ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Create a customer for La Redoute and enter the customer’s ID here (see chapter 11).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Book incoming payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether orders from La Redoute should be marked as <strong>paid</strong> or <strong>open</strong> when they are imported. This decision has to be made since customers pay La Redoute and La Redoute pays you afterwards.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: basic settings for the market La Redoute</em></p>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly order import</p>
</li>
<li>
<p>daily item export</p>
</li>
<li>
<p>stock synchronisation every two hours</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Translating item information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Since La Redoute is a French market, the <strong><a href="/en/item/managing-items">items</a></strong> that you sell there need to be available in French as well. Another requirement for selling your items on La Redoute is that the item description has to be in French. Furthermore, all of the attributes and properties that are linked with La Redoute need to be in French. The item also needs to have an EAN and item images.</p>
</div>
<div class="paragraph instruction">
<p>Creating a French language version of an existing item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Texts</strong> tab.</p>
</li>
<li>
<p>Select <strong>fr</strong> from the <strong>Open language</strong> drop-down menu.</p>
</li>
<li>
<p>Enter a French name for this item in the field <strong>Name 1</strong>.</p>
</li>
<li>
<p>Enter additional texts (description, technical data etc.).<br>
→ The description is mandatory for La Redoute.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for La Redoute. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for La Redoute:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>La Redoute</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on La Redoute.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>i Proceed as described below to define a sales price for the order referrer La Redoute. This price will be displayed on La Redoute.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for La Redoute:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>La Redoute</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your <strong><a href="/en/item/managing-items#480">properties</a></strong>  with the La Redoute properties. Properties have to be created in French for this. You will receive an XLS file from La Redoute, which contains the properties. Use this file to create a CSV file for importing properties.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Create the necessary links</div>
<div class="paragraph">
<p>You need to create different links in order for your items to be displayed on the market La Redoute. You are required to link <strong>properties</strong>, <strong>categories</strong>, <strong>attributes and values</strong> and <strong>manufacturers</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » La Redoute » Item property import</strong>.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong>.</p>
</li>
<li>
<p>Select the CSV file that contains the properties.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The file will be uploaded.</p>
</li>
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand a property.</p>
</li>
<li>
<p>Select <strong>fr</strong> for French from the <strong>Language</strong> drop-down menu.</p>
</li>
<li>
<p>Enter the French name that you want to use for this property into the <strong>Name</strong> field.</p>
</li>
<li>
<p>Select the La Redoute property from the drop-down menu in the <strong>La Redoute property</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to create category links in order for your items to be displayed in the correct categories on La Redoute.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » La Redoute » Category link</strong>.</p>
</li>
<li>
<p>In the column <strong>La Redoute category ID</strong>, enter the category ID that best matches your online store category.<br>
→ The La Redoute category ID can be found in the category files that you received from La Redoute.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Linking attributes and attribute values</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="/en/item/managing-items#390">Attributes</a></strong> also have to be linked before your items can be transferred to La Redoute. An item will only be displayed on La Redoute if all of its attributes were linked.</p>
</div>
<div class="paragraph instruction">
<p>Linking attributes and attribute values:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Attributes</strong>.<br>
→ The overview of all attributes used in your catalogue will open.</p>
</li>
<li>
<p>Expand an attribute.</p>
</li>
<li>
<p>Click on the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select <strong>La Redoute</strong> from the <strong>Market</strong> drop-down menu.<br>
→ A drop-down menu will open in the <strong>Settings</strong> area.</p>
</li>
<li>
<p>Select the appropriate La Redoute attribute from the drop-down menu.</p>
</li>
<li>
<p>Select the appropriate attribute values for La Redoute from the <strong>Market variation</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Repeat this process for all remaining attributes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">9. Linking manufacturers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As a final step, link your <strong><a href="/en/item/managing-items#560">manufacturers</a></strong> . You will receive a file from La Redoute, which contains the manufacturer IDs.</p>
</div>
<div class="paragraph instruction">
<p>Linking manufacturers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Manufacturers</strong>.</p>
</li>
<li>
<p>Open a manufacturer.</p>
</li>
<li>
<p>Enter the ID into the <strong>La Redoute ID</strong> field.<br>
→ You can find the La Redoute manufacturer ID in the file that you received from La Redoute.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">10. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The payment method <strong>La Redoute Payment</strong> is for orders that are imported into your plentymarkets system from <strong><a href="http://www.laredoute.com/" target="_blank" rel="noopener">La Redoute</a></strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method La Redoute Payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>La Redoute Payment</strong>. <br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 3.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the name that should be displayed in the online store and on invoices etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page (external)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Countries of delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed. <br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method will not be displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo view</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then the logo that was uploaded will be displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Upload logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then you will be able to upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priority</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the priority for displaying the payment method in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Costs: Flat rate or percentage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields. <br>
For further information, refer to the <strong><a href="/en/basics/statistics">Statistics</a></strong> and <strong><a href="/en/basics/statistics/general-statistics/item/tops-flops">Tops/Flops</a></strong> pages of the manual. For an example for flat rate and percentage costs, refer to the <strong><a href="/en/omni-channel/multi-channel/laredoute#20">Basic settings</a></strong> page of the manual.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: settings of the payment method</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate the <strong>Permitted payment methods</strong>. <br>
For further information, refer to the <strong><a href="/en/omni-channel/multi-channel/laredoute#40">Payment methods and customer classes</a></strong> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <strong><a href="/en/order-processing/payment">Payment methods</a></strong>  page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="110">11. Creating a temporary customer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>At first, orders will be imported into your system without any customer data. The actual customer data will be transmitted from La Redoute once your plentymarkets system has confirmed the order. Therefore, you have to create a customer in your system for La Redoute. Enter this customer’s ID into the <strong>Temporary customer ID</strong> field.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new customer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="/en/crm/managing-customer-data">CRM » Edit customer</a>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.</p>
</li>
<li>
<p>Enter at least a name for the temporary customer.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on the <strong>Search</strong> tab.</p>
</li>
<li>
<p>Search for the customer.</p>
</li>
<li>
<p>Note the <strong>Customer ID</strong>.</p>
</li>
<li>
<p>Go to <strong>System » Markets » La Redoute » Settings</strong>.</p>
</li>
<li>
<p>Enter the La Redoute customer ID into the <strong>Temporary customer ID</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="120">12. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically send shipping confirmations to La Redoute. The shipping confirmation is automatically sent to La Redoute as soon as the order status changes to <strong>[7] Outgoing items booked</strong>. La Redoute automatically informs the purchaser of the shipment.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 4 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change &gt; Outgoing items booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>La Redoute</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping &gt; Send shipping confirmation to La Redoute</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: event procedure for sending automatic shipping confirmations to La Redoute</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="130">13. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically send returns to La Redoute.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 5 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order generation &gt; New return (by customer)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>La Redoute</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return &gt; Send return to La Redoute</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 5: event procedure for sending automatic returns to La Redoute</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="140">14. Reporting cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Cancellations cannot be transferred to La Redoute in the strict sense of the word. If you want to cancel an order, e.g. because you have removed the item from your portfolio, then you have to create a return.</p>
</div>
<div class="paragraph">
<p>plentymarkets automatically accepts new orders from La Redoute. This allows data to be imported into your plentymarkets system in general. One consequence of accepting orders is that they cannot be cancelled afterwards. Therefore, book the outgoing items first and then create a return directly afterwards.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Email to customers</div>
<div class="paragraph">
<p>If you cancel an order, make sure to send an email to the customer and inform him or her about the item, e.g. explaining that the item is no longer part of your product range.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="150">15. Deleting items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to irreversibly delete an <strong><a href="/en/item/managing-items">item</a></strong> offered on La Redoute from your plentymarkets system, then you will first need to delete this item from the La Redoute catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Deleting an item from the La Redoute catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item that you want to delete.</p>
</li>
<li>
<p>Click on the <strong>Available</strong> tab.</p>
</li>
<li>
<p>Deactivate the option <strong>La Redoute</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ You have to wait 24 hours for the item to be removed from the La Redoute catalogue.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Wait before deleting items</div>
<div class="paragraph">
<p>Do not delete an item before the 24 hours are over. Also, do not delete an item in plentymarkets first as you will not be able to delete the item in La Redoute once it was deleted from plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Deleting items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Find the item that you want to delete and click on <strong>Delete</strong>.<br>
→ The item will be removed from your plentymarkets system.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="160">16. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data » API log » Tab: API log</strong> contains a history of processes that run via the La Redoute interface. The <strong>LaRedoute</strong> format is available for La Redoute.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log</strong>.</p>
</li>
<li>
<p>Select the <strong>LaRedoute</strong> format from the <strong>Process</strong> drop-down menu.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>