<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with La Redoute</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up La Redoute in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating an order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Translating item information</span></a></li>
<li><a href="#400"><span>5.</span><span> Setting the item availability</span></a></li>
<li><a href="#450"><span>6.</span><span> Defining SKU manually</span></a></li>
<li><a href="#500"><span>7.</span><span> Defining a sales price</span></a></li>
<li><a href="#600"><span>8.</span><span> Linking properties</span></a></li>
<li><a href="#700"><span>9.</span><span> Linking categories</span></a></li>
<li><a href="#800"><span>10.</span><span> Linking attributes and attribute values</span></a></li>
<li><a href="#900"><span>11.</span><span> Linking manufacturers</span></a></li>
<li><a href="#1000"><span>12.</span><span> Activating the payment method</span></a></li>
<li><a href="#1100"><span>13.</span><span> Creating a temporary customer</span></a></li>
<li><a href="#1200"><span>14.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#1300"><span>15.</span><span> Automatically sending returns</span></a></li>
<li><a href="#1400"><span>16.</span><span> Reporting cancellations</span></a></li>
<li><a href="#1500"><span>17.</span><span> Deleting items</span></a></li>
<li><a href="#1600"><span>18.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>La Redoute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets can be connected to La Redoute, the French market leader for mail order business. Learn how to set up the interface to La Redoute and which conditions online sellers need to fulfil in order to sell items on La Redoute.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with La Redoute</h2>
<div class="sectionbody">
<div class="paragraph">
<p>La Redoute prescribes conditions for online sellers who want to offer their items on this market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>The catalogue of items must be completely available in French.</p>
</li>
<li>
<p>You need to be able to answer your customers' emails in French.</p>
</li>
<li>
<p>Of course, you also need to be able to ship your items to France.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You need to register with La Redoute before setting up La Redoute in your plentymarkets system. This is done in two steps. First, get in contact with the La Redoute Business Development Team:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Contacts for La Redoute</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Contact person</th>
<th class="tableblock halign-left valign-top">Email address</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Frédéric Maus</strong><br>
Head of Business development</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:fmaus@redoute.fr">fmaus@redoute.fr</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Joseph Farhat</strong><br>
Manager Business development - Fashion &amp; accessories</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:jfarhat@redoute.fr">jfarhat@redoute.fr</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Carlos Cantoni</strong><br>
Manager Business development - Home &amp;
electronics</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:ccantoni@redoute.fr">ccantoni@redoute.fr</a></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Second, you will receive an Excel file from La Redoute, which you fill out with information about your company and send back. Send the following documents along with the file:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A copy of your information from the commercial register</p>
</li>
<li>
<p>A notification from your bank that includes your account information (with your SWIFT and IBAN)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Alternatively, fill out the French <a href="http://www.laredoute.fr/espace-devenir-vendeur-marketplace.aspx" target="_blank" rel="noopener">contact form</a> on the La Redoute website. Once you have sent all of the necessary information to La Redoute, you will receive an email from La Redoute that contains the CallerID and the CatalogSupplierName. You can now enter these IDs into your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up La Redoute in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following basic settings to connect La Redoute to your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Setting up La Redoute in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » La Redoute » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Basic settings for the market La Redoute</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interface mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the interface mode.<br>
<strong>Test mode ON</strong> = Select while you configure settings and prepare the interface and items.<br>
<strong>Live mode ON</strong> = Select once La Redoute has confirmed that all of the tests have been completed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Sales partner information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vendor ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID that you received from La Redoute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which field should be transferred to La Redoute as the item name. The name has to be in French. Otherwise the item will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which field should be transferred to La Redoute as the item preview text. The item preview text has to be in French. Otherwise the item will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which field should be transferred to La Redoute as the item description. The item description has to be in French. Otherwise the item will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Technical data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether this data should be transferred or not. The technical data has to be in French. Otherwise the item will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which EAN should be transferred as the item EAN.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which EAN should be transferred as the variation EAN.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preparation for shipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of days that you need to pack the order and hand it off to the shipping service provider.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum additional delay in delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the duration in days. This number is added to your items' normal minimum delivery time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum for additional delay in delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the duration in days. This number is added to your items' normal maximum delivery time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Overwrite shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping costs entered here are transferred to La Redoute instead of the shipping costs that are saved for an item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Temporary customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create a customer for La Redoute and enter the customer’s ID here (see chapter 11).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether orders from La Redoute should be marked as <strong>paid</strong> or <strong>open</strong> when they are imported. This decision has to be made since customers pay La Redoute and La Redoute pays you afterwards.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly order import</p>
</li>
<li>
<p>daily item export</p>
</li>
<li>
<p>stock synchronisation every two hours</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with La Redoute, you have to activate the order referrer La Redoute in the menu <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for La Redoute:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>La Redoute</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Translating item information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Since La Redoute is a French market, the <a href="/en/en/item/managing-items">items</a> that you sell there need to be available in French as well. Another requirement for selling your items on La Redoute is that the item description has to be in French. Furthermore, all of the attributes and properties that are linked with La Redoute need to be in French. The item also needs to have an EAN and item images.</p>
</div>
<div class="paragraph instruction">
<p>Creating a French language version of an existing item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Open the <strong>Texts</strong> tab.</p>
</li>
<li>
<p>Select <strong>fr</strong> from the <strong>Open language</strong> drop-down list.</p>
</li>
<li>
<p>Enter a French name for this item in the field <strong>Name 1</strong>.</p>
</li>
<li>
<p>Enter additional texts (description, technical data etc.).<br>
→ The description is mandatory for La Redoute.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for La Redoute. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for La Redoute:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>La Redoute</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on La Redoute.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="450">6. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the menu <a href="/en/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</a> if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> in the section <strong>SKU</strong>.<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the <strong>La Redoute</strong> referrer.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer La Redoute. This price is displayed on La Redoute.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for La Redoute:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>La Redoute</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your <a href="/en/en/item/managing-items#480">properties</a> with the La Redoute properties. The properties have to be created in French. You will receive an XLS file from La Redoute which contains the properties. Use this file to create a CSV file for importing properties.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Create the necessary links</div>
<div class="paragraph">
<p>You need to create different links in order for your items to be displayed on the market La Redoute. You are required to link <strong>properties</strong>, <strong>categories</strong>, <strong>attributes and values</strong> and <strong>manufacturers</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » La Redoute » Item property import</strong>.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Select the CSV file that contains the properties.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The file is uploaded.</p>
</li>
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand a property.</p>
</li>
<li>
<p>Select <strong>fr</strong> for French from the <strong>Language</strong> drop-down list.</p>
</li>
<li>
<p>Enter the French name that you want to use for this property into the <strong>Name</strong> field.</p>
</li>
<li>
<p>Select the La Redoute property from the drop-down list in the <strong>La Redoute property</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to create category links in order for your items to be displayed in the correct categories on La Redoute.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » La Redoute » Category link</strong>.</p>
</li>
<li>
<p>In the column <strong>La Redoute category ID</strong> on the right-hand side, enter the category ID that best matches your online store category.<br>
→ The La Redoute category ID can be found in the category files that you received from La Redoute.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Linking attributes and attribute values</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/en/item/managing-items#390">Attributes</a> also have to be linked before your items can be transferred to La Redoute. An item is only displayed on La Redoute if all of its attributes were linked.</p>
</div>
<div class="paragraph instruction">
<p>Linking attributes and attribute values:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Attributes</strong>.<br>
→ The overview of all attributes used in your catalogue opens.</p>
</li>
<li>
<p>Expand an attribute.</p>
</li>
<li>
<p>Open the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>La Redoute</strong> from the <strong>market</strong> drop-down list.<br>
→ A drop-down list opens in the <strong>Settings</strong> area.</p>
</li>
<li>
<p>Select the appropriate La Redoute attribute from the drop-down list.</p>
</li>
<li>
<p>Select the appropriate attribute values for La Redoute from the <strong>Market variation</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Repeat this process for all remaining attributes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Linking manufacturers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As a final step, link your <a href="/en/en/item/managing-items#560">manufacturers</a>. You will receive a file from La Redoute which contains the manufacturer IDs.</p>
</div>
<div class="paragraph instruction">
<p>Linking manufacturers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Manufacturers</strong>.</p>
</li>
<li>
<p>Open a manufacturer.</p>
</li>
<li>
<p>Enter the ID into the <strong>La Redoute ID</strong> field.<br>
→ You can find the La Redoute manufacturer ID in the file that you have received from La Redoute.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">12. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The payment method <strong>La Redoute Payment</strong> is for orders that are imported into your plentymarkets system from *<a href="http://www.laredoute.com/" target="_blank" rel="noopener">La Redoute</a>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method La Redoute Payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>La Redoute Payment</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 3.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, then the logo that has been uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, upload an external logo here.<br>
 Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important</strong>: Do not enter a value into both fields. <br>
For further information, refer to the <a href="/en/en/basics/statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods#20">Managing payment methods</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods">Payment methods</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">13. Creating a temporary customer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>At first, orders are imported into your system without any customer data. The actual customer data is transmitted from La Redoute once your plentymarkets system has confirmed the order. Therefore, you have to create a customer in your system for La Redoute. Enter this customer’s ID into the <strong>Temporary customer ID</strong> field.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new customer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Edit customer</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.</p>
</li>
<li>
<p>Enter at least a name for the temporary customer.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.</p>
</li>
<li>
<p>Search for the customer that you have created.</p>
</li>
<li>
<p>Note the <strong>Customer ID</strong>.</p>
</li>
<li>
<p>Go to <strong>System » Markets » La Redoute » Settings</strong>.</p>
</li>
<li>
<p>Enter the La Redoute customer ID into the <strong>Temporary customer ID</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">14. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/en/basics/automation/event-procedures">event procedure</a> to automatically send shipping confirmations to La Redoute. The shipping confirmation is automatically sent to La Redoute as soon as the order status changes to <strong>[7] Outgoing items booked</strong>. La Redoute automatically informs the buyer of the shipment.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 4.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Event procedure for sending automatic shipping confirmations to La Redoute</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change &gt; Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>La Redoute</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to La Redoute</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">15. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/en/basics/automation/event-procedures">event procedure</a> to automatically send returns to La Redoute.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 5.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Event procedure for sending automatic returns to La Redoute</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation &gt; New return (by customer)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>La Redoute</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to La Redoute</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1400">16. Reporting cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Cancellations, in the proper meaning of the word, cannot be transferred to La Redoute. If you want to cancel an order, e.g. because you have removed the item from your portfolio, then you have to create a return.</p>
</div>
<div class="paragraph">
<p>plentymarkets automatically accepts new orders from La Redoute. This allows data to be imported into your plentymarkets system in general. One consequence of accepting orders is that they cannot be cancelled afterwards. Therefore, book the outgoing items first and then create a return directly afterwards.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Email to customers</div>
<div class="paragraph">
<p>If you cancel an order, make sure to send an email to the customer and inform him or her about the item, e.g. explaining that the item is no longer part of your product range.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">17. Deleting items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to irreversibly delete an <a href="/en/en/item/managing-items">item</a> offered on La Redoute from your plentymarkets system, then you first have to delete this item from the La Redoute catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Deleting an item from the La Redoute catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item that you want to delete.</p>
</li>
<li>
<p>Switch to the <strong>Available</strong> tab.</p>
</li>
<li>
<p>Deactivate the option <strong>La Redoute</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ You have to wait 24 hours for the item to be removed from the La Redoute catalogue.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Wait before deleting items</div>
<div class="paragraph">
<p>Do not delete an item before the 24 hours are over. Also, do not delete an item in plentymarkets first as you will not be able to delete the item in La Redoute once it was deleted from plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Deleting items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Find the item that you want to delete and click on <strong>Delete</strong>.<br>
→ The item is removed from your plentymarkets system.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">18. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data » API log » Tab: API log</strong> contains a history of processes that run via the La Redoute interface. The <strong>LaRedoute</strong> format is available for La Redoute.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select the format <strong>LaRedoute</strong> from the drop-down list <strong>Process</strong>.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>