<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Mercateo</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Mercateo in plentymarkets</span></a></li>
<li><a href="#300"><span>3.</span><span> Setting the item availability</span></a></li>
<li><a href="#400"><span>4.</span><span> Exporting items and item images</span></a></li>
<li><a href="#500"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#600"><span>6.</span><span> Viewing the export history</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Mercateo</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="https://www.mercateo.co.uk/" target="_blank" rel="noopener">Mercateo</a></strong> is one of the leading procurement platforms for business customers. At Mercateo, purchasers can find an extensive range in various product categories. The assortment ranges from office supplies to laboratory materials, IT and tools to hotel and gastronomy equipment (source: www.mercateo.co.uk).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Mercateo</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="https://www.mercateo.com/login/registercustomer?locale=en-GB&amp;geoArea=gb&amp;registration=customer&amp;state=https%253A%252F%252Fwww.mercateo.co.uk%252F%253FviewOptions%253DsecureMode.1&amp;sid3=5.147.251.210.1453969975031158" target="_blank" rel="noopener">Register</a></strong> with Mercateo to receive your access data. You will need this data for the settings in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Mercateo in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you can set up Mercateo in plentymarkets, you need to have data for the FTP server that is to be used for the upload to Mercateo, as well as an email account for the order import.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Mercateo in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Mercateo » Basic settings</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. basic settings for the market Mercateo</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate the automatic data exchange</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate in order to automatically exchange data with Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>General</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether the <strong>Variation ID</strong> or the <strong>Variation No.</strong> should be used for the item data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Transfer item number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only select <strong>Yes</strong> if you are the manufacturer of the item. The selection that you make in the <strong>Item ID</strong> drop-down menu does not affect the option here. For example, if you are the manufacturer of the item and you already selected variation number above, then you will still have to select the option <strong>Yes</strong> here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong>, <strong>Name 3</strong> or <strong>Variation name</strong>. This name will be displayed on Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Add attribute value to item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>YES</strong> if the attribute value should be displayed behind the item name on Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select, which item description should be transferred to Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Input</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>FTP server</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the URL of the FTP server for the data upload to Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>FTP user</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the user name of the FTP server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>FTP password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the password of the FTP server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Retrieval</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>User name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the user name for the order retrieval.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the password for the order retrieval.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IMAP server</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the server address for the order retrieval.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Port</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter port.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Encryption</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter encryption .</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Other catalogues</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Suffix synchronisation No. 2 - 4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>suffix</strong> for the additional catalogue of items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>order referrer</strong> for the import of orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatic order retrieval</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate in order to automatically retrieve orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Updates</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatic price update</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate in order to hourly update the item prices.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatic delivery status update</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate in order to automatically update the delivery status.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Data exchange</p>
</li>
<li>
<p>Order import</p>
</li>
<li>
<p>Hourly price synchronisation</p>
</li>
<li>
<p>Delivery status synchronisation</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Mercateo. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/item/managing-items#170"><strong>Item » Edit item » Tab: Variation ID</strong></a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Mercateo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Mercateo</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on Mercateo.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Exporting items and item images</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, you can export your items and item images to Mercateo.</p>
</div>
<div class="paragraph instruction">
<p>Exporting items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Mercateo » Data export</strong>.</p>
</li>
<li>
<p>Click on <strong>Export item data</strong>.<br>
→ The item data will be exported to Mercateo.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can also export item images to Mercateo. A maximum of 100 images can be uploaded at once in JPEG format. No image will be uploaded twice.</p>
</div>
<div class="paragraph instruction">
<p>Exporting item images:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Mercateo » Data export</strong>.</p>
</li>
<li>
<p>Click on <strong>Export 100 item images:</strong>.<br>
→ The item images will be exported to Mercateo.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Mercateo. This price will be displayed on Mercateo.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Mercateo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Item » Sales price » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Mercateo</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Viewing the export history</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An overview of exported images is displayed in this menu. The images will be displayed on different pages. 25 images can be displayed per page.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Mercateo » Export history</strong>.</p>
</li>
<li>
<p>Select a <strong>Page</strong> from the drop-down menu.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to display the page.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The images will be displayed along with the corresponding item ID and time of export. It is not possible to export an image more than once. However, if you want to update an image, e.g. after changes have been made to it, then click on <strong>Delete</strong> in the <strong>Release item image</strong> column. Then export this image again in the <strong>Item export</strong> menu.</p>
</div>
</div>
</div>
</main>