<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with Rakuten</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up Rakuten.de in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Setting the item availability</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Linking categories</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Linking shipping groups to items</span></a></li>
<li><a href="#60"><span>2.4.</span><span> Providing information on the energy efficiency</span></a></li>
<li><a href="#70"><span>2.5.</span><span> Setting up the item export</span></a></li>
</ul>
</li>
<li><a href="#80"><span>3.</span><span> Setting up Rakuten.co.uk in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#90"><span>3.1.</span><span> Translating item information</span></a></li>
<li><a href="#100"><span>3.2.</span><span> Setting the item availability</span></a></li>
<li><a href="#110"><span>3.3.</span><span> Linking categories</span></a></li>
<li><a href="#120"><span>3.4.</span><span> Linking store categories</span></a></li>
<li><a href="#130"><span>3.5.</span><span> Setting up the item export</span></a></li>
</ul>
</li>
<li><a href="#140"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#150"><span>5.</span><span> Activating payment methods</span></a></li>
<li><a href="#160"><span>6.</span><span> Assigning delivery periods</span></a></li>
<li><a href="#170"><span>7.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#180"><span>8.</span><span> Automatically sending returns</span></a></li>
<li><a href="#190"><span>9.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#200"><span>10.</span><span> Viewing the API log</span></a></li>
<li><a href="#210"><span>11.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Rakuten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With plentymarkets you can sell items on both platforms Rakuten.de and Rakuten.co.uk.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with Rakuten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with Rakuten before setting up Rakuten in plentymarkets. Use the registration forms of the platforms <a href="http://leadgen.rakuten.de/form?leadsource=marketplace_header" target="_blank" rel="noopener"><strong>rakuten.de</strong></a> and <a href="https://merchant-enquiry.rakuten.uk.com/" target="_blank" rel="noopener"><strong>rakuten.co.uk</strong></a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up Rakuten.de in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following settings in plentymarkets in order to set up the interface to Rakuten.de. In order to sell on both Rakuten.de and Rakuten.co.uk, set up an account for each of the platforms. You can also set up multiple accounts for each platform.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Rakuten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Rakuten » Settings</strong>.<br>
→ The <strong>New account</strong> tab will be displayed.</p>
</li>
<li>
<p>Expand the <strong>Rakuten settings</strong>.<br>
→ The platform <strong>rakuten.de</strong> is pre-selected.</p>
</li>
<li>
<p>Enter the <strong>Authentication key</strong>.<br>
→ You can find the key in the backend of your Rakuten.de account.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Reload the menu. <br>
→ The account was created and the platform’s settings were loaded.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you use multiple accounts for Rakuten.de, then you will need an authentication key for each account.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Order import</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Deactivate</strong> = Interface is inactive.<br>
<strong>Activate</strong> = Interface is active. New orders will automatically be retrieved once an hour. Sent orders will automatically be transferred to Rakuten every hour.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Incoming payment pending</strong> = Import orders as unpaid. The order can also be set to paid when the incoming payment from Rakuten is received. In this way, Rakuten can be tested.<br>
<strong>Incoming payment booked</strong> = Import orders as paid. Status 5 is assigned to orders in plentymarkets.<br>
Regardless of the chosen setting, items will immediately be cleared for shipping when they have sufficient stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send order confirmation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Deactivate</strong> = Order confirmations are not transferred.<br>
<strong>Activate</strong> = Order confirmations are transferred to the customer. The email template saved under <strong><a href="/en/crm/sending-emails">System » Client » Select client » Email » Automatic email</a></strong> will be sent to the customer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>View API log</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on <strong>View API log</strong> to display the API log.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: configuring Rakuten</em></p>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly stock synchronisation</p>
</li>
<li>
<p>hourly order synchronisation</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To set up an account for Rakuten.co.uk, refer to the chapter <a href="/en/omni-channel/multi-channel/rakuten#80"><strong>Setting up Rakuten.co.uk in plentymarkets</strong></a>.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Setting the item availability</h3>
<div class="paragraph">
<p>Items have to be available for Rakuten.de. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Rakuten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Rakuten.de</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on Rakuten.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Linking categories</h3>
<div class="paragraph">
<p>After you made the item available, link your store categories to the categories on Rakuten.</p>
</div>
<div class="paragraph instruction">
<p>Linking a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Open the <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p>Select the main category for the item from the <strong>Rakuten.de</strong> drop-down menu within the <strong>Category link</strong>.<br>
→ A window for further selecting the categories will open.</p>
</li>
<li>
<p>Select the subcategories until you have reached the lowest possible category level.<br>
→ A category number will be displayed.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The category link will be displayed by the category number and the Rakuten category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Linking shipping groups to items</h3>
<div class="paragraph">
<p>Shipping profiles are set up directly on Rakuten. The shipping profiles that are saved for items will not be transferred to Rakuten. On Rakuten.de, the shipping profiles are called shipping groups (Versandgruppen). These shipping groups are linked to your items with a <strong><a href="/en/item/managing-items#70">free text field</a></strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a free text field for a shipping group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Free text fields</strong>.</p>
</li>
<li>
<p>Enter a name for one of the free text fields, e.g. <strong>Rakuten shipping group</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ Note: Free text fields are activated at night and will be available the next morning</p>
</li>
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open each of the items that you want to transfer and enter the <strong>shipping group number</strong> in the item’s <strong>Fields</strong> tab.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Let Rakuten know which free text field is used.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No free text field</div>
<div class="paragraph">
<p>If no free text field is transferred to Rakuten, then a link to shipping group 1 will automatically be created.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Set up further countries of delivery on Rakuten, too.</p>
</div>
</div>
<div class="sect2">
<h3 id="60">2.4. Providing information on the energy efficiency</h3>
<div class="paragraph">
<p>To comply with EU regulations on energy efficiency that came into force on 1 January 2015, you have to provide information on the energy efficiency of certain items. In addition, you have to make product data sheets available to potential buyers of these items. This information also has to be transferred to Rakuten. Create the following <strong><a href="/en/item/managing-items#480">properties</a></strong> :</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Energy efficiency class</strong><br>
Property type: <strong>No</strong></p>
</li>
<li>
<p><strong>Energy efficiency class up to</strong><br>
Property type: <strong>No</strong><br></p>
</li>
<li>
<p><strong>Device group - energy efficiency class</strong><br>
Property type: <strong>No</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You have to create a separate property for each energy efficiency class from A+++ to G.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter a name for the property under <strong>Back end name</strong>.</p>
</li>
<li>
<p>Select the option <strong>No</strong> from the <strong>Property type</strong> drop-down menu.</p>
</li>
<li>
<p>Select the Rakuten property from the <strong>Rakuten.de property</strong> drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Link the properties in the <strong><a href="/en/item/managing-items#480">Properties</a></strong>  tab of an item.</p>
</div>
<div class="paragraph">
<p>Make the product data sheet available for Rakuten in electronic form. This is done by inserting a link in the item description. The link to the product data sheet is saved in an item’s <strong><a href="/en/item/managing-items#50">Texts</a></strong> tab. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Saving the product data sheet in the item description:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Upload the product data sheet in the item’s <strong>Images</strong> tab.</p>
</li>
<li>
<p>Copy the image URL.</p>
</li>
<li>
<p>Insert the link to the product data sheet in the item’s <strong>Texts</strong> tab.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="70">2.5. Setting up the item export</h3>
<div class="paragraph">
<p>This section explains how to transfer your items to Rakuten.de. The item export for Rakuten is carried out by the elastic export. Therefore, the plugins <strong>ElasticExport</strong> and <strong>ElasticExportRakutenDE</strong> have to be already installed. Create the data format RakutenDE first and then transfer the URL to Rakuten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Contact Rakuten for the setup</div>
<div class="paragraph">
<p>It is mandatory to contact Rakuten for setting up the export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up the item export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » Export » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 2.</p>
</li>
<li>
<p>Carry out further settings for item filters and format settings. Pay attention to the information given in table 5 in the <a href="/en/basics/data-exchange/exporting-data#60"><strong>Exporting data</strong></a> page of the manual.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The export format will be given an ID and it will appear in the overview within the <strong>Exports</strong> tab.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name. The export format will be listed under this name in the overview within the <strong>Exports</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a type from the drop-down menu. Currently, <strong>Item</strong> is the only available option. Further options will be available soon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the format <strong>RakutenDE</strong> from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a number. If you want to transfer more than 10,000 data records to rakuten.de, then the output file will not be generated again for another 24 hours. This is to save resources.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Provisioning</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>URL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Token,<br>
URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token will be entered automatically. The URL will be entered automatically if the token was generated under <strong>Token</strong>. Give this URL to Rakuten.de in order to export the items.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: settings for the item export</em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Export information</div>
<div class="paragraph">
<p>If you change one or more settings, then you will have to transfer the new link to Rakuten.</p>
</div>
<div class="paragraph">
<p>A maximum of 4000 items will be exported at once. If you export more items, then a second export will automatically be carried out. To display the second export process, set the parameter <strong>&amp;Page</strong> = in the export link to <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technical data is transferred to Rakuten in the last column of the export file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In order to set up the interface and the item export correctly, you have to carry out the following platform-independent settings (from chapter 4).</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">3. Setting up Rakuten.co.uk in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following settings in plentymarkets in order to set up the interface to Rakuten.co.uk. In order to sell on both Rakuten.de and Rakuten.co.uk, set up an account for each of the platforms. You can also set up multiple accounts for each platform.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Rakuten.co.uk:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Rakuten » Settings » Tab: New account » Submenu: Rakuten settings</strong>.</p>
</li>
<li>
<p>Select <strong>rakuten.co.uk</strong> as the <strong>platform</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Reload the menu. <br>
→ The account was created and the platform’s settings were loaded.</p>
</li>
<li>
<p>Go to <strong>System » Markets » Rakuten » Settings</strong>.</p>
</li>
<li>
<p>Open the previously created account.</p>
</li>
<li>
<p>Enter the <strong>Authentication key</strong>. <br>
→ You will receive the key from Rakuten.co.uk via email.</p>
</li>
<li>
<p>Enter the <strong>Store URL</strong> of your online store.</p>
</li>
<li>
<p>Place a check mark next to <strong>Activate</strong> to activate the interface.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you use multiple accounts for Rakuten.co.uk, then you will need an authentication key for each account.</p>
</div>
<div class="sect2">
<h3 id="90">3.1. Translating item information</h3>
<div class="paragraph">
<p>The following item information is transferred to Rakuten.co.uk. Therefore, this information should also be translated into English.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name</p>
</li>
<li>
<p>Preview text</p>
</li>
<li>
<p>Item text</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The obligation to indicate the energy efficiency class is based on an EU regulation and therefore applies also to the United Kingdom. However, the interface to Rakuten.co.uk does not require a separate indication of this information. Therefore, the indication of the energy efficiency class is only possible within the item text.</p>
</div>
</div>
<div class="sect2">
<h3 id="100">3.2. Setting the item availability</h3>
<div class="paragraph">
<p>Items have to be available for Rakuten.co.uk. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Rakuten.co.uk:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>rakuten.co.uk</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on Rakuten.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="110">3.3. Linking categories</h3>
<div class="paragraph">
<p>After you made the item available, link your store categories to the categories on Rakuten.co.uk.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Rakuten » Category link » Rakuten.co.uk</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>. <br>
→ The <strong>Select category</strong> window will open.</p>
</li>
<li>
<p>Select the main category.</p>
</li>
<li>
<p>Select the subcategory if needed.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The category link will be displayed by the category number and the Rakuten category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Enter the category ID directly</div>
<div class="paragraph">
<p>If you know the ID of the category, enter it directly into the <strong>Market category</strong> field to link it to your online store category.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="120">3.4. Linking store categories</h3>
<div class="paragraph">
<p>If you have a store on Rakuten.co.uk, transfer the store category IDs from your own Rakuten store.</p>
</div>
<div class="paragraph instruction">
<p>Linking store category IDs to a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter a name for the property under <strong>Back end name</strong>.</p>
</li>
<li>
<p>Select a <strong>Property type</strong>.</p>
</li>
<li>
<p>Select the <strong>Store category ID</strong> option from the <strong>Rakuten.co.uk property</strong> drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Transfer multiple store category IDs</div>
<div class="paragraph">
<p>If you want to transfer several store category IDs, they have to be separated by semicolons. Example: men-shirt;1122</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="130">3.5. Setting up the item export</h3>
<div class="paragraph">
<p>This section explains how to transfer your items to Rakuten.co.uk.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the item export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Rakuten » Settings</strong>.</p>
</li>
<li>
<p>Open the account that you set up for Rakuten.co.uk.</p>
</li>
<li>
<p>Expand the <strong>Rakuten item export</strong> submenu.</p>
</li>
<li>
<p>Select a <strong>Client (store)</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 3 and carry out further settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client (store)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a client.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Items with images only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark if only items with images should be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether you want to export only the standard description or the standard description and the technical data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which item name should be exported.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: settings for the item export</em></p>
</div>
<div class="paragraph">
<p>In order to set up the interface and the item export correctly, you have to carry out the following platform-independent settings.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="140">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Rakuten.de or Rakuten.co.uk. This price will be displayed on Rakuten.de or Rakuten.co.uk</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Rakuten festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Rakuten.de</strong> or <strong>Rakuten.co.uk</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Original currency is not the default currency</div>
<div class="paragraph">
<p>Additional information is saved for orders that are imported with a different currency than the default saved in plentymarkets. In this case, both the original currency and the original gross and net amounts will be saved for every item included in the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="150">5. Activating payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the payment methods <strong>Rakuten payment</strong>, <strong>Rakuten Rechnung</strong> and <strong>Klarna</strong>. This allows payments to be made for orders on Rakuten and displayed in your plentymarkets system. <strong>Rakuten Rechnung</strong> is only necessary for the platform Rakuten.de. If you only use the platform Rakuten.co.uk, simply activate <strong>Rakuten payment</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating Rakuten payment methods:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE</strong> &gt; <strong>Rakuten</strong>.</p>
</li>
<li>
<p>Select the Rakuten payment method.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 3.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the name that should be displayed in the online store and on invoices etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page (external)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Countries of delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method will not be displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo view</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then the logo that was uploaded will be displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Upload logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then you will be able to upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priority</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the priority for displaying the payment method in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Costs: Flat rate or percentage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields.<br>
For further information, refer to the <strong><a href="/en/basics/statistics">Statistics</a></strong> and <strong><a href="/en/basics/statistics/general-statistics/item/tops-flops">Tops/Flops</a></strong> pages of the manual. For an example for flat rate and percentage costs, refer to the <strong><a href="/en/omni-channel/multi-channel/rakuten#20">Basic settings</a></strong> page of the manual.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: settings of the payment method</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » Customers » Classes</strong> to activate or deactivate the <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <strong><a href="/en/omni-channel/multi-channel/rakuten#40">Payment methods and customer classes</a></strong> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Payment instruction on the <a href="/en/omni-channel/online-store/standard/documents/invoice">Invoice</a> document for the payment method Rakuten Rechnung</div>
<div class="paragraph">
<p>Rakuten sends the invoice directly to the customer when Rakuten Rechnung is selected as the payment method. If you also issue an invoice, enter a <strong>payment instruction</strong> in the <strong>Optional elements in the stock unit table</strong> section. This payment instruction should tell the customer that he or she has to pay Rakuten.</p>
</div>
<div class="paragraph">
<p><strong>Example text:</strong><br>
Payments are processed by Rakuten GmbH, Geisfelder Str. 16 in 96050 Bamberg. Because of this, the amount listed on this invoice is owed directly to Rakuten. It is not possible to make a payment to any other entity. Please pay the amount listed on this invoice within 10 days after receiving the goods. Transfer the amount to the Rakuten bank account listed below:<br>
Account holder: Rakuten GmbH<br>
IBAN: DE86770200700021511501 <br>
BIC-/SWIFT-Code: HYVEDEMM411 (HypoVereinsbank )<br>
Designated use 1: Order number<br>
Designated use 2: First name &amp; surname</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <strong><a href="/en/order-processing/payment">Payment methods</a></strong>  page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="160">6. Assigning delivery periods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Rakuten uses standard delivery periods. However, the market indicates deadlines rather than a time period spanning several days. These deadlines are always the last day in each timespan. Shipping and delivery periods for Rakuten are assigned automatically according to the <strong>average period of delivery</strong>. For example, if the <strong>item availability</strong> lists an average delivery time of 2 days, then there wouldn’t be an exact equivalent for Rakuten. Therefore, the next longer shipping and delivery period is used for Rakuten.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Rakuten delivery period</th>
<th class="tableblock halign-left valign-top">Period</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>0</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Available from stock (= delivery period 1 to 3 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 3 business days (= delivery period approx. 3 to 6 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>5</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 5 business days (= delivery period approx. 6 to 8 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>7</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 7 business days (= delivery period approx. 8 to 10 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>10</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 10 business days (= delivery period approx. 10 to 15 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>15</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 15 business days (= delivery period approx. 15 to 20 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>20</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 20 business days (= delivery period approx. 20 to 30 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>30</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 30 business days (= delivery period approx. 30 to 40 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>40</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 40 business days (= delivery period approx. 40 to 50 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>50</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 50 business days (= delivery period approx. 50 to 60 business days)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>60</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ready for shipping within 60 business days (= delivery period more than 3 months)</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: Rakuten delivery periods</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="170">7. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically send shipping confirmations to Rakuten when the outgoing items are booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 5 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Outgoing items booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rakuten</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping &gt; Send shipping confirmation to Rakuten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 5: event procedure for sending automatic shipping confirmations to Rakuten</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="180">8. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically send returns to Rakuten.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 6.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 6 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order generation: New return</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rakuten</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return &gt; Send return to Rakuten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 6: event procedure for sending automatic returns to Rakuten</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="190">9. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatically send cancellations to Rakuten.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 7.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 7 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Status change &gt; Cancelled</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rakuten</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment methods &gt; Send cancellation to Rakuten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 7: event procedure for sending automatic cancellations to Rakuten</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">10. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data exchange » API log » Tab: API log</strong> contains a history of processes that run via the Rakuten interface. The <strong>Rakuten</strong> format is available for Rakuten.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » API log</strong>.</p>
</li>
<li>
<p>Select the <strong>Rakuten</strong> format from the <strong>Process</strong> drop-down menu.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to display the results.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="210">11. FAQ</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>How is the stock synchronised in plentymarkets with Rakuten.de?</p>
</div>
<div class="paragraph indented">
<p>If the automatic CSV import is set up for Rakuten.de, then the new stock will be synchronised by importing the CSV file again. How often synchronisation takes place, is set up in the Rakuten.de backend.[.instruction]
How is the stock synchronised in plentymarkets with Rakuten.co.uk?</p>
</div>
<div class="paragraph indented">
<p>Stock is retrieved once an hour via the API connection.</p>
</div>
</div>
</div>
</main>