<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with real.de</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up real.de in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting the item availability</span></a></li>
<li><a href="#40"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#50"><span>5.</span><span> Linking properties</span></a></li>
<li><a href="#60"><span>6.</span><span> Linking categories</span></a></li>
<li><a href="#70"><span>7.</span><span> Linking real.de attributes as properties</span></a></li>
<li><a href="#80"><span>8.</span><span> Activating the payment method</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>real.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.real.de.de" target="_blank"><strong>real.de</strong></a> is one of the largest fixed price markets in Germany. You can sell items in various product categories on real.de. real.de also processes payments for you. In other words, you are neither charged with payment costs nor do you have to worry about debt collection.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with real.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use the real.de interface, you have to register your real.de user account as a seller account. To do this, go to the <strong><a href="https://www.real.de." target="_blank">real.de website</a></strong> and save your VAT number in the <strong>Mein Konto</strong> (My account) area. Please note that the real.de website is currently only available in German.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up real.de in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up real.de in plentymarkets to offer items on real.de. In order to set up real.de in plentymarkets, you need your real.de interface access data. You can set up a real.de account for each online store or client (store).</p>
</div>
<div class="paragraph instruction">
<p>Setting up the access for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » real.de » Basic Settings</strong>.</p>
</li>
<li>
<p>Open the submenu of the online store that you want to set up access for.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Active</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yes</strong> = The real.de interface is active.<br>
<strong>No</strong> = The interface is inactive.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the client key that you received from real.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Secret Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the secret key that you received from real.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Transfer the availability of the items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Yes</strong> or <strong>No</strong>.<br>
<strong>Yes</strong> = The item’s <strong>availability</strong> will be transferred.<br>
<strong>No</strong> = The item’s <strong>availability</strong> will not be transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Incoming payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This setting applies to the order import. Orders are imported either as paid or not paid. Regardless of this setting, items will immediately be cleared for shipping when they have sufficient stock. With the setting <strong>open</strong>, one could also set the order to paid when the actual incoming payment from real.de is received. In this way, real.de could be tested.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Comments on items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Set up <strong>free text fields</strong> for item comments here or assign this function to the <strong>Global item comment</strong> field.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Global item comment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can enter a text that will be displayed with every offer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item quantity for items that are not limited to stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items for which <strong>no limitation</strong> has been selected in the <strong><a href="/en/stock-management/managing-stocks">Stock</a></strong>  tab of an item will be offered on real.de with the quantity entered here. As soon as an item has been sold, the quantity saved here will be newly transmitted for sale at the next full hour.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Price column "lowest automatic price"</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the price column for the lowest automatic price, i.e. the lowest price which you want to offer the item for.<br>
The lowest price of the item must be entered in the field of the selected price column.<br>
<strong>Important</strong>: The lowest automatic price does not go into effect for item variations which have surcharges for attributes. In this case, <strong>deactivate</strong> the lowest automatic price. If you would like to use the lowest automatic price, then create each variation as a separate item with a defined price column for the lowest automatic price.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping service provider mapping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>After the shipment has been confirmed, this option allows real.de to use the package number in order to send the customer an email with the correct tracking link.<br>
<strong>Important</strong>: You have to assign each of your service providers to one of the service providers from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Items with flags only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>All items</strong> = All items will be exported.<br>
<strong>All items with flag 1</strong> or <strong>2</strong> = All items with this flag will be exported.<br>
<strong>All items without flag 1</strong> or <strong>2</strong> = All items without this flag will be exported.<br>
Select one particular flag = Only items with this flag will be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate cache file (Inventory)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Yes</strong> or <strong>No</strong>.<br>
<strong>Yes</strong> = Stock will be saved in the cache daily. <br>
<strong>No</strong> = Stock will not be saved in the cache.<br>
<strong>Note:</strong> We recommend using the option <strong>yes</strong>, since bigger stock changes may result in errors.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Add technical data to the item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether the technical data saved in the <strong>Texts</strong> tab of an item should be added to the item description for real.de. <strong>Yes</strong> is selected by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Preview all items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This option will create a preview of your items for real.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item file preview</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This option will create a preview of the item file.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: settings for the market real.de</em></p>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly stock and price synchronisation</p>
</li>
<li>
<p>daily item export</p>
</li>
<li>
<p>hourly order import</p>
</li>
<li>
<p>hourly transfer of the flag <strong>Cancelled</strong> or <strong>Sent</strong> to real.de<br>
→ <strong>Sent</strong> will be transferred after the outgoing items have been booked. <strong>Cancelled</strong> will be transferred when the status reaches 8 or 8.x.</p>
</li>
<li>
<p>export of surcharges for attribute values (item variations)</p>
</li>
<li>
<p>Transfer of the description text saved in the <strong>Texts</strong> tab</p>
</li>
<li>
<p>transfer of the technical data selected in table 1</p>
</li>
<li>
<p>image export selected in the item’s <strong>Images</strong> tab</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for real.de. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>real.de</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on real.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
<div class="paragraph subhead">
<p>Further requirements for the item availability
In order for your items to be available on the market real.de, the following requirements must also be met:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you are working with item variations, then click on the <strong><a href="/en/stock-management/managing-stocks">Stock</a></strong> tab of the item and make sure that the limitation is not set to <strong>No limitation</strong>.sein.</p>
</li>
<li>
<p>You are required to specify an EAN or ISBN. Otherwise, the item will not be transferred to real.de.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer real.de. This price will be displayed on real.de.</p>
</div>
<div class="paragraph instruction">
<p>Creating a sales price for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Item » Sales price » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use <strong><a href="/en/item/managing-items#480">properties</a></strong>  for the real.de market, these properties have to be linked with real.de.</p>
</div>
<div class="paragraph instruction">
<p>Linking the property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand the property.</p>
</li>
<li>
<p>Activate the option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your online store categories to the real.de categories in order to display your items in these categories. Further items from the linked category will be assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » real.de » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>. <br>
→ The <strong>Select category</strong> window will open.</p>
</li>
<li>
<p>Select the real.de category that best matches your online store category.</p>
</li>
<li>
<p>Click on <strong>Accept</strong>.<br>
→ The ID and category path of the real.de category will be displayed.</p>
</li>
<li>
<p>If you already know the ID of the real.de category, enter it directly into the <strong>Market category</strong> field to link it to your online store category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Subcategories do not have to be linked</div>
<div class="paragraph">
<p>In some cases, your subcategories may not match the real.de subcategories. In this case, link your items with real.de’s corresponding main category. real.de will automatically assign your items to a subcategory. You should not transfer items to real.de that were not assigned to a real.de category.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Linking real.de attributes as properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>real.de attributes are linked as properties. Create a new property for each real.de attribute and link it with real.de. The following example describes how to create the real.de attribute <strong>ean</strong> and link it with real.de.<br>
Afterwards, create the real.de attributes <strong>title</strong>, <strong>description</strong>, <strong>manufacturer</strong> and <strong>picture</strong> in the same way. Select the property type <strong>File</strong> for the real.de attribute <strong>picture</strong>. Select the property type <strong>Text</strong> for the other real.de attributes.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Mandatory entries for the item export</div>
<div class="paragraph">
<p>The real.de attributes <strong>ean</strong>, <strong>title</strong>, <strong>description</strong>, <strong>manufacturer</strong> and <strong>picture</strong> are mandatory entries for the item export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter <strong>ean</strong> in the <strong>Back end name</strong> field.<br>
→ This name will be displayed in the item data record when linking properties.</p>
</li>
<li>
<p>Enter a name in the <strong>Webshop</strong> field.<br>
→ This name is used in the item overview.</p>
</li>
<li>
<p>Select the <strong>Property type</strong>.</p>
</li>
<li>
<p>Activate the option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <strong><a href="/en/order-processing/payment">payment method</a></strong>  <strong>real.de Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating real.de Payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Payment » Payment methods</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>DE &gt;  real.de Payment</strong>. <br>
→ The settings for the real.de payment method will be displayed.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 2.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the name that should be displayed in the online store and on invoices etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page (external)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Countries of delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed. <br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method will not be displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo view</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then the logo that was uploaded will be displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Upload logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then you will be able to upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priority</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the priority for displaying the payment method in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Costs: Flat rate or percentage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields. <br>
For further information, refer to the <strong><a href="/en/basics/statistics">Statistics</a></strong> and <strong><a href="/en/basics/statistics/general-statistics/item/tops-flops">Tops/Flops</a></strong> pages of the manual. For an example for flat rate and percentage costs, refer to the <strong><a href="/en/omni-channel/multi-channel/real-de#20">Basic settings</a></strong> page of the manual.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: settings of the payment method</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Settings » Customers » Customer classes</strong> to activate or deactivate the <strong>Permitted payment methods</strong>. <br>
For further information, refer to the <strong><a href="/en/omni-channel/multi-channel/real-de#40">Payment methods and customer classes</a></strong> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <strong><a href="/en/order-processing/payment">Payment methods</a></strong>  page of the manual.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">No invoicing processes via event procedures</div>
<div class="paragraph">
<p>Invoices are transferred from real.de into your plentymarkets system. As such, it is not possible to use your system to generate your own invoices. This means that - in contrast to other markets - you cannot manage any invoicing processes via <a href="/en/basics/automation/event-procedures"><strong>event procedures</strong></a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>