<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Restposten.de</span></a></li>
<li><a href="#200"><span>2.</span><span> Creating a user account</span></a></li>
<li><a href="#300"><span>3.</span><span> Procuring data</span></a></li>
<li><a href="#350"><span>4.</span><span> Activating an order referrer</span></a></li>
<li><a href="#400"><span>5.</span><span> Setting the item availability</span></a></li>
<li><a href="#430"><span>6.</span><span> Defining SKU manually</span></a></li>
<li><a href="#450"><span>7.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>8.</span><span> Creating properties</span></a></li>
<li><a href="#600"><span>9.</span><span> Linking categories</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Restposten.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.restposten.de/?language=english" target="_blank" rel="noopener">Restposten.de</a> is a pure B2B portal, which means that both sellers and buyers have to be in possession of a valid traders licence (source: Restposten.de). On this page, you will learn how to link the Restposten.de market to your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Restposten.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to register in the Restposten.de <a href="https://www.restposten.de/register.php" target="_blank" rel="noopener">seller portal</a> before you can set up Restposten.de in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Creating a user account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your plentymarkets system is connected to Restposten.de via the SOAP API. In order to gain access, the market requires its own user account with access rights to the API in your plentymarkets system. Go to <strong>System » Settings » User » Accounts</strong> and create a new user account for Restposten.de with the user class <strong>API</strong>. Furthermore, activate the call <strong>GetCategoryMappingForMarket</strong>. This call ensures that the market will later be able to retrieve your category links.</p>
</div>
<div class="paragraph instruction">
<p>Creating a user account for Restposten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create new user</strong> window opens.</p>
</li>
<li>
<p>Enter the data.</p>
</li>
<li>
<p>Select the user class <strong>API</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The user is created.</p>
</li>
<li>
<p>Select the user from the list.<br>
→ An editing window opens.</p>
</li>
<li>
<p>Click on the tab <strong>Right » API</strong>.</p>
</li>
<li>
<p>Expand the <strong>Item</strong> area.</p>
</li>
<li>
<p>Activate the <strong>GetCategoryMappingForMarket</strong> call.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information refer to the <a href="/en/en/basics/working-with-plentymarkets/manage-users">Managing user accounts</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Procuring data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Restposten.de requires the following data from you in order to connect to your plentymarkets system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The URL for the SOAP API WSDL<br>
→ This URL can be found in the <a href="/en/en/basics/data-exchange/api-data">System » Settings » API » Data</a> menu under <strong>SOAP WSDL</strong>.</p>
</li>
<li>
<p>The user name and password for the user account that you have created for Restposten.de</p>
</li>
<li>
<p>Your login details for the Restposten.de. seller portal.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="350">4. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Restposten.de, you have to activate the order referrer Restposten in the menu <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Restposten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Restposten</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Restposten.de. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/en/item/managing-items#40">Item » Edit item » Open item » Tab: Variation ID</a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Restposten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Restposten</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on Restposten.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="430">6. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the menu <a href="/en/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</a> if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> in the section <strong>SKU</strong>.<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Restposten</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Restposten.de. This price is displayed on Restposten.de.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Restposten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>Restposten</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use <a href="/en/en/item/managing-items#480">properties</a> to link your items to particular characteristics that you need for the market Restposten.de. In order for Restposten.de to be able to retrieve the necessary parameters, the property has to be created with the <strong>property type</strong> set to the option <strong>Selection</strong>. Get in contact with Restposten.de to clarify which values are needed for the property.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for Restposten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Open the <strong>New Property</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the option <strong>Selection</strong> from the <strong>Property type</strong> drop-down list.<br>
→ An area opens where you enter the name and description.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is created.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Expand the property.</p>
</li>
<li>
<p>Enter another name in the next selection field of the <strong>Selection</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Repeat steps 8 and 9 until all required values are created.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your online store categories to the Restposten.de <a href="/en/en/item/managing-categories">categories</a> in order to display your items in these categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Restposten</strong>.<br>
→ The <strong>Category link</strong> tab is displayed.</p>
</li>
<li>
<p>Expand the category which you want to link to a Restposten category.</p>
</li>
<li>
<p>Select a main category for Restposten from the drop-down list.<br>
→ A window with subcategories opens.</p>
</li>
<li>
<p>Select the appropriate Restposten category from the subcategories that appear.<br>
→ The category path is displayed in the field <strong>Category</strong>.</p>
</li>
<li>
<p>Click on <strong>Accept</strong>.<br>
→ The category window is closed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Link to the lowest category level</div>
<div class="paragraph">
<p>Always select a path to the lowest level. Otherwise, the item will not be linked.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Returns
For returns, you have to create an order with the type return, not credit note. It is also important to specify each individual item’s value as a percentage. This is done within the return’s stock units tab.</p>
</div>
</div>
</div>
</main>