<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with Restposten.de</span></a></li>
<li><a href="#20"><span>2.</span><span> Creating an user account</span></a></li>
<li><a href="#30"><span>3.</span><span> Procuring data</span></a></li>
<li><a href="#40"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#45"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#50"><span>6.</span><span> Creating properties</span></a></li>
<li><a href="#60"><span>7.</span><span> Linking categories</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Restposten.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.restposten.de/" target="_blank" rel="noopener"><strong>Restposten.de</strong></a> is a pure B2B portal, which means that both sellers and buyers have to be in possession of a valid traders license (source: Restposten.de). On this page, you will learn how to connect the Restposten.de market to your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with Restposten.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to register in the Restposten.de <a href="https://www.restposten.de/register.php" target="_blank" rel="noopener"><strong>seller portal</strong></a> before you can set up Restposten.de in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Creating an user account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your plentymarkets system will be connected to Restposten.de via the SOAP API. In order for it to have access, the market requires its own user account with access rights to the API in your system. Go to <strong>Settings » Basic settings » User » Accounts</strong> and create a new user account for Restposten.de with the user class <strong>API</strong>. Furthermore, activate the call <strong>GetCategoryMappingForMarket</strong>. This call ensures that the market will later be able to retrieve your category links.</p>
</div>
<div class="paragraph instruction">
<p>Creating an user account for Restposten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Basic settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create new user</strong> window will open.</p>
</li>
<li>
<p>Enter the data.</p>
</li>
<li>
<p>Select the user class <strong>API</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The user will be created.</p>
</li>
<li>
<p>Select the user from the list.<br>
→ The editing window will open.</p>
</li>
<li>
<p>Click on the tab <strong>Right » API</strong>.</p>
</li>
<li>
<p>Expand the <strong>Item</strong> area.</p>
</li>
<li>
<p>Activate the <strong>GetCategoryMappingForMarket</strong> call.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Procuring data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Restposten.de needs to have the following data from you in order to connect to your plentymarkets system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The URL for the SOAP API WSDL<br>
→ This URL can be found in the <strong><a href="/en/basics/data-exchange/api-data">Settings » Basic settings » API » Data</a></strong> menu under <strong>SOAP WSDL</strong>.</p>
</li>
<li>
<p>The user name and password for the user account that you created for Restposten.de.</p>
</li>
<li>
<p>Your login details for the Restposten.de. seller portal.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Restposten.de. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Restposten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Restposten</strong>.</p>
</li>
<li>
<p>Activate the option Web-API.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on Restposten.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="45">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Restposten.de. This price will be displayed on Restposten.de.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Restposten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Item » Sales price » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Restposten.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use <strong><a href="/en/item/managing-items#480">properties</a></strong>  to link your items to particular characteristics that you need for the market Restposten.de. In order for Restposten.de to be able to retrieve the necessary parameters, the property has to be created with the <strong>property type</strong> set to the option <strong>Selection</strong>. Get in contact with Restposten.de to clarify which values will be needed for the property.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for Restposten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Back end name</strong> field.</p>
</li>
<li>
<p>Select the <strong>Selection</strong> option as the <strong>Property type</strong>.<br>
→ An area will open where you enter the name and description.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be created.</p>
</li>
<li>
<p>Click on the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Expand the property.</p>
</li>
<li>
<p>Enter another name in the next selection field of the <strong>Selection</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> the setting.</p>
</li>
<li>
<p>Repeat steps 8 and 9 until all required values are created.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your online store categories to the Restposten.de <strong><a href="/en/item/categories">categories</a></strong> in order to display your items in these categories. Further items from the linked category will be assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Markets » Restposten</strong>.<br>
→ The <strong>Category link</strong> tab will be displayed.</p>
</li>
<li>
<p>Expand the category which you want to link to a Restposten category.</p>
</li>
<li>
<p>Select a main category for Restposten from the drop-down menu.<br>
→ A window with subcategories will open.</p>
</li>
<li>
<p>Select the appropriate Restposten category from the subcategories that appear.<br>
→ The category path will be displayed in the field <strong>Category</strong>.</p>
</li>
<li>
<p>Click on <strong>Accept</strong>.<br>
→ The category window will close.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Link to the lowest category level</div>
<div class="paragraph">
<p>Always select a path to the lowest level. Otherwise, the item will not be linked.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Returns
For returns, you have to create an order with the type return, not credit note. It is also important to specify each individual item’s value as a percentage. This can be done within the return’s stock units tab.</p>
</div>
</div>
</div>
</main>