<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with Yatego</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up Yatego in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting the item availability</span></a></li>
<li><a href="#40"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#50"><span>5.</span><span> Linking categories</span></a></li>
<li><a href="#60"><span>6.</span><span> Linking properties</span></a></li>
<li><a href="#70"><span>7.</span><span> Automatically transmitting items</span></a></li>
<li><a href="#80"><span>8.</span><span> Importing orders</span></a></li>
<li><a href="#80"><span>9.</span><span> Activating the payment method</span></a></li>
<li><a href="#90"><span>10.</span><span> Viewing the API log</span></a></li>
<li><a href="#100"><span>11.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Yatego</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With plentymarkets you can offer your items on the <strong><a href="http://www.yatego.com/" target="_blank" rel="noopener">Yatego.com</a></strong> sales platform. Yatego offers sellers extensive services with powerful, complete solutions as well as comprehensive technical support.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with Yatego</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Register with <strong><a href="http://www.yatego.com/doc,yategoverkaufen" target="_blank" rel="noopener">Yatego</a></strong> to receive your access data. You will need this data for the settings in plentymarkets. Please note that the Yatego website is currently only available in German.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up Yatego in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have registered with Yatego, use the access data that is saved there to set up the market in plentymarkets. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Yatego in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Yatego » Settings</strong>.</p>
</li>
<li>
<p>Expand the <strong>Settings</strong> area.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>User name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>user name</strong> for logging in to Yatego.com.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>password</strong> for logging in to Yatego.com.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item image size</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Item image (standard)</strong>, <strong>Medium-sized item image</strong> or <strong>Preview image</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. The names are entered in the <strong>Texts</strong> tab of an item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yatego store name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the name of the <strong>Yatego store</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping costs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Add up shipping charges for each item</strong> = For every item, plentymarkets transfers the shipping costs (domestic) that are valid for the online store. If a customer purchases two items on Yatego, then the shipping charges of the individual items will be added up. In addition, the shipping costs that are saved in Yatego will be added to the shipping costs that were transferred by plentymarkets. <br>
<strong>Add up, but only once for multiple copies of the same item</strong> = plentymarkets also transfers the shipping costs (domestic) that are valid for the online store. The shipping charges will be added when purchasing various items. When purchasing two or more of the same item, the shipping charge will only be calculated once. Finally, this will also be added to the extra shipping charges saved for Yatego.<br>
<strong>Use Yatego table of shipping charges based on the item weight</strong> = plentymarkets does not transfer any shipping costs to Yatego. Based on the weight, which is saved in plentymarkets and which is also transferred to Yatego, Yatego calculates the shipping costs itself.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client for the item export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>standard online store</strong>, a <strong>client (store)</strong> or the option <strong>ALL</strong>, depending on which online store you want to use for the item export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client for the order import</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>standard online store</strong> or a <strong>client (store)</strong> for the order import.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sorting of variations</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Alphabetical</strong>, <strong>Surcharge</strong> or <strong>No sorting</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Transfer RRP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yes</strong> = Transfer value for RRP, if an <strong>RRP</strong> for Yatego items is entered.<br>
<strong>No</strong> = Do not transfer a value for RRP.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatic upload (daily)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate in order to automatically transfer item data to Yatego each day.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sold out variations</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Visible</strong> = Variations that are sold out are displayed on Yatego.<br>
<strong>Invisible</strong> = Variations that are sold out are not displayed on Yatego.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yatego properties</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Do not export</strong> = Properties are not exported to Yatego.<br>
<strong>Place in the upper part of the description</strong> = Place properties for Yatego items in the upper part of the description.<br>
<strong>Place in the lower part of the description</strong> = Place properties for Yatego items in the lower part of the description.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Free text fields 1 to 20</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Do not export</strong> = Free text fields are not exported to Yatego.<br>
<strong>Place in the upper part of the description</strong> = Place the text for Yatego items in the upper part of the description.<br>
<strong>Place in the lower part of the description</strong> = Place the text for Yatego items in the lower part of the description.<br>
<strong>Export in a separate column</strong> = Export the property in a separate column of the CSV file during item export.<br>
<strong>Note:</strong> This function is only still supported for customers who already use the free text field functions in the Yatego settings. New customers are requested to use the following two options.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yatego warehouse rights</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Exactly</strong> or <strong>Simply</strong> if you manage stock with the values -1, 0, 1 or 2.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Standard description</strong>, <strong>Technical data</strong> or <strong>Both</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Short item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether the <strong>preview text</strong> or the <strong>technical data</strong> should be used as the short item description on Yatego.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select own warehouse, <strong>Main item warehouse</strong> or <strong>Transfer stock quantity of distribution warehouse that currently has the largest stock</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Are you sure you want to delete all item images before importing from the Yatego shop?</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yes</strong> = All item images that are currently available on Yatego will be deleted when importing new images for these items. This prevents errors when importing images. If you do not delete the old images, Yatego would not replace the old image with the new one when they have the same file name.<br>
<strong>No</strong> = Do not delete item images before the import.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status for all credit card orders</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>status 3</strong> (waiting for payment) or <strong>status 5</strong> (cleared for shipping).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Set all credit card orders in status 5 to booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether or not credit card orders in status 5 should be set to booked.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status for all Sofortbanking orders</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>status 3</strong> (waiting for payment) or <strong>status 5</strong> (cleared for shipping).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Set all Sofortbanking orders in status 5 to booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether or not Sofortbanking orders in status 5 should be set to booked.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status for all PayPal orders</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>status 3</strong> (waiting for payment) or <strong>status 5</strong> (cleared for shipping).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Set all PayPal orders in status 5 to booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether or not PayPal orders in status 5 should be set to booked.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Transfer item URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether or not the item URL should be transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Use all of the images (max. 5) from the long description as the item images</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether all item images belonging to an item should be used or not. A maximum of 5 images can be used.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Transfer online store categories</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>All</strong>, <strong>Only the default category</strong> or <strong>No</strong>.<br>
The <strong>Default category</strong> is selected in the <strong>Categories</strong> tab of an item. If you select this option for Yatego, then check which default category was saved for the item in its <strong>Categories</strong> tab. If you did not select a category there, then the <strong>default category</strong> will automatically be selected. If you have multiple category links, then this means that the first category link will be treated as the default category.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Online store category levels</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which <strong>category levels</strong> you wish to transfer. You can select any 3 consecutive levels. Note that all the levels must be set up and linked for all of the relevant Yatego items.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: basic settings for the market Yatego</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Yatego. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Yatego:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Yatego</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on Yatego.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Yatego. This price will be displayed on Yatego.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Yatego:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Yatego</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, import the official Yatego categories.</p>
</div>
<div class="paragraph instruction">
<p>Importing Yatego categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Yatego » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Update Yatego categories</strong>.<br>
→ The Yatego categories will appear in the <strong>Category links</strong> area.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Link your online store categories to the Yatego categories in order to display your items in these categories. Further items from the linked category will be assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Yatego » Category link</strong>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> under <strong>Yatego link</strong>.</p>
</li>
<li>
<p>Select a category in the <strong>Official Yatego categories</strong> area.<br>
→ As an alternative, you can enter the category ID under <strong>Yatego category ID link</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Then export your online store categories in Yatego format.</p>
</div>
<div class="paragraph instruction">
<p>Exporting online store categories in Yatego format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Yatego » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Export online store categories</strong>.<br>
→ A new window will open.</p>
</li>
<li>
<p>Click on <strong>OK</strong> to save the CSV file.</p>
</li>
<li>
<p>Import the CSV file at Yatego.<br>
→ Die Online store categories are now available at Yatego.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your <strong><a href="/en/item/managing-items#480">properties</a></strong>  with the Yatego properties. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Linking properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand a property.</p>
</li>
<li>
<p>Activate the option <strong>Yatego</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Automatically transmitting items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>System » Markets » Yatego » Settings</strong> to carry out the item exchange with Yatego. The functions in this menu are only available after having entered the access data, as described above. The preview function allows you to check the data before the transfer takes place. The Yatego import can take a long time. plentymarkets has no control over this.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title"><strong>Full Yatego import</strong></div>
<div class="paragraph">
<p>With plentymarkets, you always need to transfer the entire data sets to Yatego. This means that all items already existing in Yatego have to be deleted before a new import is carried out. If you already have items in your Yatego account, make sure that you create the same items in plentymarkets first before you allow for the items to be exported to Yatego.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Transmitting items to Yatego:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Yatego » Settings</strong>.</p>
</li>
<li>
<p>Expand the submenu <strong>Item exchange yatego.com (FTP)</strong>.</p>
</li>
<li>
<p>Click on the corresponding <strong>preview icon</strong> to check the data that will be made available as a CSV file.</p>
</li>
<li>
<p>After checking the data, click on <strong>Transmit data</strong> to transfer the data to Yatego.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Importing orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Orders will be transferred directly from Yatego if the plentymarkets system with an SSL certificate was booked. The transfer of orders from Yatego to plentymarkets takes place with an encoded connection only. An SSL certificate is necessary for this. If no SSL certificate was booked, then this will have to be done retrospectively.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Book SSL certificate</div>
<div class="paragraph">
<p>To book an SSL certificate in the Service centre, go to <strong>Start » Service centre</strong> in your plentymarkets system. You can book the SSL certificate in the <strong>Add-Ons</strong> tab.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="80">9. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <strong><a href="/en/order-processing/payment">payment method</a></strong> <strong>Yatego invoice</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method Yatego invoice:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>DE &gt; Yatego invoice</strong>. <br>
→ The settings for the payment method will be displayed.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 2.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the name that should be displayed in the online store and on invoices etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Info page (external)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Countries of delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed. <br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method will not be displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo view</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then the logo that was uploaded will be displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Upload logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then you will be able to upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priority</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the priority for displaying the payment method in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Costs: Flat rate or percentage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields. <br>
For further information, refer to the <strong><a href="/en/basics/statistics">Statistics</a></strong> and <strong><a href="/en/basics/statistics/general-statistics/item/tops-flops">Tops/Flops</a></strong> pages of the manual. For an example for flat rate and percentage costs, refer to the <strong><a href="/en/omni-channel/multi-channel/yatego#20">Basic settings</a></strong> page of the manual.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: settings of the payment method</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate the <strong>Permitted payment methods</strong>. <br>
For further information, refer to the <strong><a href="/en/omni-channel/multi-channel/yatego#40">Payment methods and customer classes</a></strong> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <strong><a href="/en/order-processing/payment">Payment methods</a></strong>  page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">10. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data » API log » Tab: API log</strong> contains a history of processes that run via the Yatego interface. The following formats are available for Yatego:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yatego(new)</strong> (item catalogue, variations, attributes)</p>
</li>
<li>
<p><strong>OrdersYatego</strong> (order import)</p>
</li>
<li>
<p><strong>Writer_OrdersYatego_Execution</strong> (export)</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log</strong>.</p>
</li>
<li>
<p>Select a format from the drop-down menu <strong>Process</strong>.</p>
</li>
<li>
<p>Select a <strong>Date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to carry out the search.<br>
→ The processes will be displayed.</p>
</li>
<li>
<p>Click on the folder in the <strong>Process</strong> column. <br>
→ The <strong>Yatego</strong> tab will open and error messages will be displayed for this process.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">11. FAQ</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>How does plentymarkets transmit items that are not limited to stock to Yatego?</p>
</div>
<div class="paragraph indented">
<p>All items that are set to <strong>No limitation</strong> will be transferred to Yatego. This setting is found by opening an item and clicking on the <strong>Tab: Stock » Tab: Settings</strong>. The setting is found in the <strong>Limitation</strong> line. plentymarkets will send a value of -1 for these items, so that Yatego knows that these items can be bought without limitation.[.instruction]
Can I manually import orders from Yatego to plentymarkets?</p>
</div>
<div class="paragraph indented">
<p>Yes. If a Yatego order is manually transferred to plentymarkets from Yatego, then Yatego will not send an item ID or variation ID (attribute_value_set_id). This will make it impossible for the item to be assigned and the item will be imported with the item ID "-2" (unknown item). Unassigned items are flagged by a <strong>green plus</strong> icon in the order. The item then has to be assigned manually.[.instruction]
How do I know that the purchaser has already paid the order?</p>
</div>
<div class="paragraph indented">
<p>Yatego neither sends a transaction ID for payments nor other information that indicates whether the order was paid for or not. Therefore, the Yatego settings include an option that allows you to set orders to be booked for some payment methods: <strong>Set all orders in status 5 to booked</strong>. Select this option if the payment method ensures that payment was already made when the order is booked.[.instruction]
The link for the item in the order does not work. What can I do?</p>
</div>
<div class="paragraph indented">
<p>Yatego sends a link for the orders, which directly connects to the item on the Yatego platform. Usually, this link doesn’t work, since Yatego adds "yatego.com" to the name of the online store. Simply delete "yatego.com" from the link and then it will work correctly.<br>
<strong>Example</strong>: <a href="http://www.yatego.com/STORENAME.yatego.com/p,4fcaaf8c8292c,461e2919becf22_4" class="bare">http://www.yatego.com/STORENAME.yatego.com/p,4fcaaf8c8292c,461e2919becf22_4</a> <br>
<strong>The correct format is</strong>: <a href="http://www.yatego.com/SHOPNAME/p,4fcaaf8c8292c,461e2919becf22_4" class="bare">http://www.yatego.com/SHOPNAME/p,4fcaaf8c8292c,461e2919becf22_4</a> [.instruction]
I set up Yatego in plentymarkets. Why does it not transfer my orders?</p>
</div>
<div class="paragraph indented">
<p>The first time that an online store activates the Yatego order process for plentymarkets, it is common that the first two to three orders will not be automatically transferred to plentymarkets. These orders have to be manually triggered again from within the Yatego system.[.instruction]
I would like to offer an item with attributes. Why does Yatego not display the stock correctly?</p>
</div>
<div class="paragraph indented">
<p>Yatego will not be able to process the warehouse data records that plentymarkets sends for items if there are more than 999 possible combinations of attributes. As such, all possible combinations of variations will be activated for the item and set to endless stock (meaning that stock doesn’t exist for Yatego). If you need to use a large number of attributes, then get in contact with Yatego before exporting the corresponding items.[.instruction]
Why does Yatego not immediately edit the CSV files I transferred?</p>
</div>
<div class="paragraph indented">
<p>The CSV files that are transferred to Yatego each day are not imported and edited immediately, but rather have to wait in line to be processed. As such, the import and editing process can take several hours. You can go to Yatego and check where your file is in line.</p>
</div>
</div>
</div>
</main>