<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with Zalando</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up Zalando in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting the item availability</span></a></li>
<li><a href="#35"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#40"><span>5.</span><span> Linking categories</span></a></li>
<li><a href="#50"><span>6.</span><span> Converting silhouettes to properties</span></a></li>
<li><a href="#60"><span>7.</span><span> Exporting Zalando item properties</span></a></li>
<li><a href="#70"><span>8.</span><span> Linking attributes</span></a></li>
<li><a href="#80"><span>9.</span><span> Activating the payment method</span></a></li>
<li><a href="#90"><span>10.</span><span> Retrieving processing reports</span></a></li>
<li><a href="#100"><span>11.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Zalando</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Thanks to the Zalando partner programme, online sellers and manufacturers can use Zalando as an additional distribution channel for selling their high-quality products and take advantage of the well-known brand name Zalando.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with Zalando</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are interested in the <a href="https://www.zalando.co.uk/partner-programme/" target="_blank" rel="noopener"><strong>partner programme</strong></a>, then contact Zalando directly at <a href="mailto:partner-programme@zalando.co.uk">partner-programme@zalando.co.uk</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top"></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zalando partner program team</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:partner.programm@zalando.de">partner.programm@zalando.de</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up Zalando in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as Zalando has accepted you into their partner programme, you will receive a manual from Zalando which helps you setting up the interface. In plentymarkets, carry out the following basic settings.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Zalando in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Zalando » Settings</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Basic configuration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the API user. The account for the API user will be created during the initial setup.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price column</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a price column that is used for Zalando items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse.<br>
<strong>Transfer stock quantity of distribution warehouse that currently has the largest stock</strong> = Select the distribution warehouse that currently has the largest stock of the item.<br>
<strong>Use item’s main warehouse</strong> = Select the main warehouse of the item.<br>
<strong>Transfer sum of stock quantities from all distribution warehouses</strong> = Stock of all distribution warehouses is added and transferred as sum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Advanced options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>EAN</strong>, <strong>EAN 2</strong>, <strong>EAN 3</strong> or <strong>EAN 4</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the stock buffer in units.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity for items that are not limited to the stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the quantity for items that are not limited to stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum for item upload</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number to determine the limit value for the item upload in units per item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>19%</strong> or <strong>7%</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reduced tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>19%</strong> or <strong>7%</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: basic settings for the market Zalando</em></p>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily item export</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Zalando. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Zalando:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>Zalando</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on Zalando.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="35">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Zalando. This price will be displayed on Zalando.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Zalando:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>Zalando</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">5. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your online store categories to the Zalando categories in order to display your items in these categories. Further items from the linked category will be assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Zalando » Category link</strong>.</p>
</li>
<li>
<p>Select a category under <strong>Zalando category</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Converting silhouettes to properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the menu <strong>System » Markets » Zalando » Settings » Tab: Silhouettes</strong>, you convert Zalando silhouettes to item properties. Silhouettes are transferred during the initial setup of Zalando.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Zalando » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Silhouettes</strong> tab.</p>
</li>
<li>
<p>Select the <strong>groups</strong> for the properties that you want to convert.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The properties will be created in your plentymarkets system.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Exporting Zalando item properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can export the silhouettes that you saved in the <strong>Groups</strong> area and use them for the dynamic data import.</p>
</div>
<div class="paragraph instruction">
<p>Exporting Zalando item properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Zalando » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Silhouettes</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Export Zalando item properties</strong>.<br>
→ A file containing the property parameters will be exported.</p>
</li>
<li>
<p>Open the file.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Names of the property groups.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Silhouette</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Values of all silhouettes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID of the online store property. You find the property ID in the <strong>System » Item » Properties</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the property type. The following entries are possible: <br>
<strong>empty</strong> = Enter this value, if the property is not used. If the property is used, <strong>empty</strong> must be replaced with <strong>1</strong>.<br>
<strong>text</strong> = Enter a value in text form, e.g. "red" for colour.<br>
<strong>int</strong> = Enter a number, e.g. the heel height.<br>
<strong>selection</strong> = Enter the option’s selection ID from the drop-down menu. You find the selection ID for properties of the type <strong>Selection</strong> in the <strong>System » Item » Properties</strong> menu under <strong>Selection ID</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandatory entry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If a cell contains the value <strong>1</strong>, the property must be transferred. Properties may also contain the value <strong>1</strong> because links to other selected properties exist. Observe the documentation provided by Zalando.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter <strong>de</strong> in the lines that you use. Currently, only German is available.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: values for Zalando properties</em></p>
</div>
<div class="paragraph">
<p>You can link the exported Zalando properties with the items in your plentymarkets system. This is done by means of the <strong><a href="/en/basics/data-exchange/data-formats/itemproperties">data format</a></strong> via the <strong>dynamic import</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">8. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you created attributes in your plentymarkets system, link these attributes with Zalando. The following example describes how you link the attribute "colour" with Zalando. Link further attributes in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking the attribute Colour:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Attributes</strong>.<br>
→ An overview of all existing attributes will open.</p>
</li>
<li>
<p>Expand the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select <strong>Zalando</strong> from the <strong>Market</strong> drop-down menu.<br>
→ The <strong>Zalando</strong> drop-down menu will be displayed.</p>
</li>
<li>
<p>Select the attribute <strong>Colour</strong> from the <strong>Zalando</strong> drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">9. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <strong><a href="/en/order-processing/payment">payment method</a></strong> <strong>Zalando Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the Zalando payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Zalando Payment</strong>. <br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 3.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed. <br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method will not be displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> will be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then the logo that was uploaded will be displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then you will be able to upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields. <br>
For further information, refer to the <strong><a href="/en/basics/statistics">Statistics</a></strong> and <strong><a href="/en/basics/statistics/general-statistics/item/tops-flops">Tops/Flops</a></strong> pages of the manual. For an example for flat rate and percentage costs, refer to the <strong><a href="/en/omni-channel/multi-channel/zalando#20">Basic settings</a></strong> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: settings of the payment method</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate the <strong>Permitted payment methods</strong>. <br>
For further information, refer to the <strong><a href="/en/omni-channel/multi-channel/zalando#40">Payment methods and customer classes</a></strong> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <strong><a href="/en/order-processing/payment">Payment methods</a></strong>  page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">10. Retrieving processing reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>System » Markets » Zalando » Settings » Tab: Processing reports</strong> menu, you can retrieve processing reports as well as the export log for Zalando.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving processing reports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Zalando » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Processing reports</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Download file</strong> under <strong>Procedures</strong> in the line of a processing report.<br>
→ A CSV file will be downloaded.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Download the export log in the <strong>Export log</strong> area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">11. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data » API log » Tab: API log</strong> contains a history of processes that run via the Zalando interface. The <strong>ZalandoController</strong> format is available for Zalando.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log</strong>.</p>
</li>
<li>
<p>Select the <strong>ZalandoController</strong> format from the <strong>Process</strong> drop-down menu.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>