<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with real.de</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up real.de in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating an order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining SKU manually</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>7.</span><span> Linking properties</span></a></li>
<li><a href="#600"><span>8.</span><span> Linking categories</span></a></li>
<li><a href="#700"><span>9.</span><span> Linking real.de attributes as properties</span></a></li>
<li><a href="#800"><span>10.</span><span> Activating the payment method</span></a></li>
<li><a href="#900"><span>11.</span><span> Automatically sending cancellations</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Setting up real.de in plentymarkets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.real.de" target="_blank" rel="noopener">real.de</a> is one of the largest fixed price markets in Germany. You can sell items from various product categories on real.de. Real.de also processes payments for you. In other words, you are neither charged with payment costs nor do you have to worry about debt collection.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with real.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use the real.de interface, you have to register your real.de user account as a seller account. To do so, go to the <a href="https://www.real.de/seller/new/" target="_blank" rel="noopener">real.de website</a> and save your VAT number in the <strong>Mein Konto</strong> (My account) area. Please note that the real.de website is currently only available in German.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up real.de in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up real.de in plentymarkets to offer items on real.de. In order to set up real.de in plentymarkets, you need your real.de interface access data. You can set up a real.de account for each online store or client (store).</p>
</div>
<div class="paragraph instruction">
<p>Setting up the access to real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » real.de » Settings</strong>.</p>
</li>
<li>
<p>Open the sub menu of the online store that you want to set up access for.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Settings for the market real.de</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong> = The real.de interface is active.<br>
<strong>No</strong> = The interface is inactive.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the client key that you received from real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secret Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the secret key that you received from real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer the availability of the items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> or <strong>No</strong>.<br>
<strong>Yes</strong> = The item’s <strong>availability</strong> is transferred.<br>
<strong>No</strong> = The item’s <strong>availability</strong> is not transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting applies to the order import. Orders are imported either as paid or not paid. Regardless of this setting, items are immediately cleared for shipping when they have sufficient stock. With the setting <strong>open</strong>, one could also set the order to paid when the actual incoming payment from real.de is received. In this way, real.de can be tested.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comments on items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up <strong>free text fields</strong> for item comments here or assign this function to the <strong>Global item comment</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Global item comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you can enter a text that is displayed with every offer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item quantity for items that are not limited to stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items for which <strong>no limitation</strong> has been selected in the <a href="/en/en/stock-management/managing-stocks">Stock</a> tab of an item are offered on real.de with the quantity entered here. As soon as an item has been sold, the quantity saved here is newly transmitted for sale at the next full hour.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price column "lowest automatic price"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the price column for the lowest automatic price, i.e. the lowest price which you want to offer the item for.<br>
The lowest price of the item must be entered in the field of the selected price column. The order referrer real.de must be activated for the lowest price.<br>
<strong>Important</strong>: The lowest automatic price does not go into effect for item variations which have surcharges for attributes. In this case, <strong>deactivate</strong> the lowest automatic price. If you would like to use the lowest automatic price, then create each variation as a separate item with a defined price column for the lowest automatic price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping service provider mapping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">After the shipment has been confirmed, this option allows real.de to use the package number in order to send the customer an email with the correct tracking link.<br>
<strong>Important</strong>: You have to assign each of your service providers to one of the service providers from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile mapping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By activating this option, you can link the real.de shipping groups to the plentymarkets shipping profiles. If an item has more than one shipping profile, the shipping profile with the lowest category and the highest priority is exported. The category and the priority of a shipping profile are configured within <strong>System » Orders » Shipping » Settings » Tab: Shipping profiles</strong> in the <strong>Base</strong> tab of each shipping profile.<br>
<strong>Important</strong>: If the shipping groups are changed on real.de, you can update them by clicking on <strong>Update shipping groups</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy efficiency label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position. Every image that should be transferred as an energy efficiency label must have this position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items with flags only</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All items</strong> = All items are exported.<br>
<strong>All items with flag 1</strong> or <strong>2</strong> = All items with this flag are exported.<br>
<strong>All items without flag 1</strong> or  <strong>2</strong> = All items without these flags are exported.<br>
 Select one particular flag = Only items with this flag are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file (Inventory)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> or <strong>No</strong>.<br>
<strong>Yes</strong> = Stock is saved daily in the cache. <br>
<strong>No</strong> = Stock is not saved in the cache.<br>
<strong>Note</strong>: We recommend using the option <strong>Yes</strong> because bigger stock changes may result in errors.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add technical data to the item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the technical data saved in the <strong>Texts</strong> tab of an item should be added to the item description for real.de. <strong>Yes</strong> is selected by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview all items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option creates a preview of your items for real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item file preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option creates a preview of the item file.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly stock and price synchronisation</p>
</li>
<li>
<p>daily item export (only for items which have been changed within the last 26 hours)</p>
</li>
<li>
<p>hourly order import</p>
</li>
<li>
<p>hourly transfer of the flag <strong>Cancelled</strong> or <strong>Sent</strong> to real.de<br>
→ <strong>Sent</strong> is transferred after the outgoing items have been booked. <strong>Cancelled</strong> is transferred when the status reaches 8 or 8.x.</p>
</li>
<li>
<p>Export of surcharges for attribute values (item variations)</p>
</li>
<li>
<p>Transfer of the description text saved in the <strong>Texts</strong> tab</p>
</li>
<li>
<p>Transfer of the technical data selected in table 1</p>
</li>
<li>
<p>Image export selected in the item’s <strong>Images</strong> tab</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with real.de you have to activate the order referrer real.de in the menu <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for real.de</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for real.de. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>real.de</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on real.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
<div class="paragraph subhead">
<p>Further requirements for the item availability</p>
</div>
<div class="paragraph">
<p>In order for your items to be available on the market real.de, the following requirements must also be met:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you are working with item variations, make sure that the limitation is set to <strong>No limitation</strong>.</p>
</li>
<li>
<p>You are required to specify an EAN or ISBN. Otherwise, the item will not be transferred to real.de.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the menu <a href="#Item » Edit item » Open item » Tab: Variation ID » Tab: Availability">[Item » Edit item » Open item » Tab: Variation ID » Tab: Availability]</a> if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> in the section <strong>SKU</strong>.<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>real.de</strong>.</p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer real.de. The price is displayed on real.de.</p>
</div>
<div class="paragraph instruction">
<p>Creating a sales price for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use <a href="/en/en/item/managing-items#480">properties</a> for the real.de market, these properties have to be linked with real.de.</p>
</div>
<div class="paragraph instruction">
<p>Linking the property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand the property.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your online store categories to the real.de categories in order to display your items in these categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » real.de » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The window <strong>Select category</strong> opens.</p>
</li>
<li>
<p>Select the real.de category that best matches your online store category.</p>
</li>
<li>
<p>Click on <strong>Accept</strong>.<br>
→ The ID and category path of the real.de category are displayed.</p>
</li>
<li>
<p>If you already know the ID of the real.de category, enter it directly into the <strong>Market category</strong> field to link it to your online store category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Subcategories do not have to be linked</div>
<div class="paragraph">
<p>In some cases, your subcategories may not match the real.de subcategories. In this case, link your items with real.de’s corresponding main category. real.de automatically assigns your items to a subcategory. You should not transfer items to real.de that have not been assigned to a real.de category.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Linking real.de attributes as properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to overwrite attributes with plentymarkets properties or to add real.de attributes. In order for these attributes to be exported to real.de, they must have the same name as specified in the real.de documentation. The real.de attributes ean, title, description, manufacturer and picture are mandatory entries for the item export. These attributes are transferred by plentymarkets as default. These attributes can only be overwritten by an attribute. Other attributes, such as "material_composition", "clothing_size" or "weight” can be added if a corresponding property is created in plentymarkets.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Mandatory entries for the item export</div>
<div class="paragraph">
<p>The real.de attributes <strong>ean</strong>, <strong>title</strong>, <strong>description</strong>, <strong>manufacturer</strong> and <strong>picture</strong> are mandatory entries for the item export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Open the tab <strong>New Property</strong>.</p>
</li>
<li>
<p>Enter <strong>ean</strong> into the <strong>Name (internal)</strong> field. <br>
→ This name is displayed in the item data record when linking properties.</p>
</li>
<li>
<p>Enter a name in the <strong>Webshop</strong> field. <br>
→ This name is used in the item overview of the online store.</p>
</li>
<li>
<p>Select the <strong>Property type</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="#en/order-processing/payment/managing-payment-methods">payment method</a> <strong>real.de Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating real.de payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>DE &gt; real.de Payment</strong>.<br>
→ The settings for the real.de payment method are displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 2.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
 You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, then the logo that has been uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, you can upload an external logo here.<br>
 Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important</strong>: Do not enter a value into both fields. <br>
For further information, refer to the <a href="#n/basics/statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="#en/order-processing/payment/managing-payment-methods">Managing payment methods</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods">Payment methods</a> page of the manual.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">No invoicing processes via event procedures</div>
<div class="paragraph">
<p>Invoices are transferred from real.de into your plentymarkets system. As such, it is not possible to use your system to generate your own invoices. This means that - in contrast to other markets - you cannot manage any invoicing processes via <a href="#en/basics/automation/event-procedures">event procedures</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="#en/basics/automation/event-procedures">event procedure</a> to automatically inform real.de of cancellations. Whenever you are dealing with cancellations, you need to send real.de a reason for the cancellation. Go to <a href="#en/order-processing/orders/managing-orders">System » Orders » Status</a> and create additional order statuses as needed. The following cancellation reasons can be transferred to real.de:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Exchange by customer</p>
</li>
<li>
<p>Cancellation by customer</p>
</li>
<li>
<p>Wrong delivery address</p>
</li>
<li>
<p>Wrong item description</p>
</li>
<li>
<p>Customer did not receive goods</p>
</li>
<li>
<p>Item out of stock</p>
</li>
<li>
<p>Wrong sales price</p>
</li>
<li>
<p>No delivery to this delivery address</p>
</li>
<li>
<p>Other reason</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>Event</strong>. Pay attention to the information given in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 3.
.</p>
</li>
<li>
<p>Select a reason.<br>
Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Event procedure for automatically sending cancellations to real.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [8.] Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send cancellation to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select a reason</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>