<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_einstieg"><span>1.</span><span> Einstieg</span></a></li>
<li><a href="#_ereignisaktionen"><span>2.</span><span> Ereignisaktionen</span></a></li>
<li><a href="#_prozesse"><span>3.</span><span> Prozesse</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automatisierung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Automatisiere deine täglichen Aufgaben! plentymarkets wird zum Helden des Alltags und spart dir und deinen Mitarbeitern wertvolle Zeit.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstieg">1. Einstieg</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/automatisierung/einstieg">Einstieg</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ereignisaktionen">2. Ereignisaktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/automatisierung/ereignisaktionen/grundlagen">Grundlagen der Ereignisaktionen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/ereignisaktionen/auftragsabwicklung-automatisieren">Nutze Ereignisaktionen um deine Auftragsabwicklung zu automatisieren</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/ereignisaktionen/tracking-url">Ereignisaktion Tracking-URL versenden</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/ereignisaktionen/gratis-artikel">Ereignisaktion Gratis-Artikel hinzufügen</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_prozesse">3. Prozesse</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/plentybase">plentyBase installieren</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/drucker">Richte deinen Drucker ein</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/anlegen-starten">Anlegen und Starten eines Prozesses</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/arbeitsschritte">Was sind Arbeitsschritte?</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/aktionen-subaktionen">Aktionen und Subaktionen - Erwecke deine Prozesse zum Leben</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/import-export">Import und Export von Prozessen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/steuerelemente">Die Steuerelemente werden vorgestellt</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/loop">Loop - Das zyklische Steuerelement</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/split">Split - Führe deine Prozesse in zwei unterschiedliche Richtungen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/filter">Filter - Das Steuerelement um deine Prozesse zu filtern</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/dialog">Dialog - Lass deine Mitarbeiter die Richtung des Prozesses bestimmen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/fallbeispiel-multi">Fallbeispiel - Multi-Order-Picking</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/automatisierung/prozesse/fallbeispiel-single">Fallbeispiel - Single-Order-Picking</a></p>
</div>
</div>
</div>
</main>