<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_einstieg"><span>1.</span><span> Einstieg</span></a></li>
<li><a href="#_grundlagen"><span>2.</span><span> Grundlagen</span></a></li>
<li><a href="#_zusatzfeatures"><span>3.</span><span> Zusatzfeatures</span></a></li>
<li><a href="#_praxisbeispiele"><span>4.</span><span> Praxisbeispiele</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Datenübernahme</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ob du neue Artikel schnell in dein System importieren möchtest oder auch nur einzelne Informationen up to date halten möchtest - plentymarkets bietet dir die passenden Tools.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstieg">1. Einstieg</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/datenuebernahme/vorstellung-elasticsync">Vorstellung von ElasticSync</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_grundlagen">2. Grundlagen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/datenuebernahme/grundlagen/datenimport-mit-elasticsync">Datenimport mit ElasticSync</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/datenuebernahme/grundlagen/artikel-manuell-importieren">Artikel einmalig manuell importieren</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/datenuebernahme/grundlagen/daten-automatisch-importieren">Daten automatisch importieren</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_zusatzfeatures">3. Zusatzfeatures</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/datenuebernahme/zusatzfeatures/zusatzinformationen-sync">Zusätzliche Informationen zu Syncs hinzufügen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/datenuebernahme/zusatzfeatures/informationen-austauschen">Informationen austauschen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/datenuebernahme/zusatzfeatures/informationen-aendern">Informationen in Syncs ändern</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_praxisbeispiele">4. Praxisbeispiele</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/datenuebernahme/praxisbeispiele/import-export">Syncs importieren und exportieren</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/datenuebernahme/praxisbeispiele/artikel-und-varianten-anlegen">Artikel und Varianten anlegen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/datenuebernahme/praxisbeispiele/auftraege-importieren">Aufträge mit ElasticSync importieren</a></p>
</div>
</div>
</div>
</main>