<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_einstieg"><span>1.</span><span> Einstieg</span></a></li>
<li><a href="#_einstellungen_vorab_einrichten"><span>2.</span><span> Einstellungen vorab einrichten</span></a></li>
<li><a href="#_mit_listings_arbeiten"><span>3.</span><span> Mit Listings arbeiten</span></a></li>
<li><a href="#_ebay_plugins"><span>4.</span><span> eBay-Plugins</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Spielend leicht eBay anbinden! Lerne, wie du die einzelnen Teile zu einem großen Motiv zusammenlegst, biete deine Artikel auf eBay an und bearbeite die Verkäufe über plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstieg">1. Einstieg</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/ebay/countdown-listing-anlegen">Dein Countdown zum Start bei eBay</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen_vorab_einrichten">2. Einstellungen vorab einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/ebay/einstellungen/schnittstelle-einrichten">ebay-Schnittstelle einrichten</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/einstellungen/rahmenbedingungen">Lege deine ebay-Rahmenbedingungen fest</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_mit_listings_arbeiten">3. Mit Listings arbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/ebay/listings/import-listing-import">Lege mit dem Import deiner eBay-Listings Artikel an</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/listings/listings-anlegen">Listings anlegen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/listings/listings-bearbeiten">eBay Listings bearbeiten</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/listings/listings-starten">Listings starten, neu starten und löschen leicht gemacht</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/listings/mehrere-listings-bearbeiten">Bearbeite verschiedene Listings gleichzeitig</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/listings/layout-vorlagen">Mit Layout-Vorlagen eBay-Listings individualisieren</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/listings/retouren">eBay-Retouren abwickeln und automatisieren</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ebay_plugins">4. eBay-Plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/ebay/plugins/analytics">Analysiere dein Geschäft auf eBay</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/plugins/marketing-aktionen">Verkaufsaktionen mit dem eBay Marketing Plugin</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/plugins/marketing-kampagnen">Kampagnen mit dem eBay Marketing Plugin</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/plugins/seo">Optimiere deine SEO-relevanten Listinginformationen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/ebay/plugins/feedback">Importiere und beantworte eBay Feedback in plentymarkets</a></p>
</div>
</div>
</div>
</main>