<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_einstieg"><span>1.</span><span> Einstieg</span></a></li>
<li><a href="#_benutzerkonten"><span>2.</span><span> Benutzerkonten</span></a></li>
<li><a href="#_e_mail_verkehr"><span>3.</span><span> E-Mail-Verkehr</span></a></li>
<li><a href="#_buchhaltung_und_rechnungsdokumente"><span>4.</span><span> Buchhaltung und Rechnungsdokumente</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Grundeinstellungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Wichtige Basiseinstellungen sorgen hinter den Kulissen für einen reibungslosen Ablauf. In diesem Modul lernst du alle wichtigen Akteure kennen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstieg">1. Einstieg</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/unternehmensdaten">Personalisiere dein System mit deinen Unternehmensdaten</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_benutzerkonten">2. Benutzerkonten</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/benutzerkonten/passwortsicherheitsstandard">Integriere deinen Passwort-Sicherheitsstandard in plentymarkets</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_e_mail_verkehr">3. E-Mail-Verkehr</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/e-mail-verkehr/mailbox-org">Lege ein neues mailbox.org E-Mail-Konto an</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/e-mail-verkehr/e-mail-konto-verknuepfen">Verknüpfe dein E-Mail-Konto mit plentymarkets</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/e-mail-verkehr/e-mail-vorlagen">Erstelle E-Mail-Vorlagen</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/e-mail-verkehr/template-variablen-if-konstrukte">Was sind Template-Variablen und if-Konstrukte?</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/e-mail-verkehr/automatischer-versand">Versende E-Mails automatisch über das System</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_buchhaltung_und_rechnungsdokumente">4. Buchhaltung und Rechnungsdokumente</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/buchhaltung-rechnungsdokumente/standorte">Standorte - Eine Einleitung</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/buchhaltung-rechnungsdokumente/buchhaltung-standorte">Arbeite mit der Buchhaltung deiner Standorte</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/buchhaltung-rechnungsdokumente/rechnung">Die Einrichtung deines Rechnungsdokumentes</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/buchhaltung-rechnungsdokumente/sepa-lastschriftmandat">Konfiguration des SEPA-Lastschriftmandats</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/grundeinstellungen/buchhaltung-rechnungsdokumente/nummernkreise">Was sind eigentlich Nummernkreise?</a></p>
</div>
</div>
</div>
</main>