<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins</h1><div class="paragraph">
<p>Mit Plugins passt du plentymarkets auf deine Bedürfnisse an und schaffst dir Wege durch den E-Commerce-Dschungel!</p>
</div><div class="paragraph">
<p><a href="/videos/plugins/marketplace-plugins">Entdecke den Marketplace und individualisiere dein System mit Plugins</a></p>
</div><div class="paragraph">
<p><a href="/videos/plugins/container-verknuepfungen">Inhalt und Container</a></p>
</div>
</main>