<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_einstieg"><span>1.</span><span> Einstieg</span></a></li>
<li><a href="#_pos_einrichtung"><span>2.</span><span> POS Einrichtung</span></a></li>
<li><a href="#_arbeiten_mit_pos"><span>3.</span><span> Arbeiten mit POS</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyPOS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In wenigen Minuten richtest du dein Kassensystem in plentymarkets ein und bist bereit, um mit deinem stationären Handel richtig durchzustarten!</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstieg">1. Einstieg</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/pos/einstieg">Einstieg</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_pos_einrichtung">2. POS Einrichtung</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/pos/pos-einrichtung/backend">Richte deine Kasse im plentymarkets Backend ein</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/pos/pos-einrichtung/app">Installiere die App und kopple diese mit deinem plentyPOS</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/pos/pos-einrichtung/ec-karten">Verbinde ein EC-Karten-Terminal mit deinem plentyPOS</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/pos/pos-einrichtung/diversartikel">Verkaufe Diversartikel mit Dummy-Datensätzen</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_arbeiten_mit_pos">3. Arbeiten mit POS</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/videos/pos/arbeiten-mit-pos/kassieren">Kunden mit der plentymarkets App kassieren</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/pos/arbeiten-mit-pos/einlagen-entnahmen">Verbuche schnell Einlagen und Entnahmen!</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/pos/arbeiten-mit-pos/kassensturz">Kassensturz mit deinem POS-System</a></p>
</div>
<div class="paragraph">
<p><a href="/videos/pos/arbeiten-mit-pos/tagesabschluss">Beende erfolgreich den Tag mit dem Tagesabschluss!</a></p>
</div>
</div>
</div>
</main>