<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#register-with-dhl"><span>1.</span><span> Registering with DHL</span></a></li>
<li><a href="#set-up-dhl-retoure-online"><span>2.</span><span> Setting up DHL Retoure Online in plentymarkets</span></a></li>
<li><a href="#options-generate-return-labels"><span>3.</span><span> Options for generating return labels</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DHL Retoure Online</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the DHL Retoure Online plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to DHL Retoure Online. Visit the <a href="https://marketplace.plentymarkets.com/en/dhlretoureonline_6714" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the DHL Retoure Online plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="register-with-dhl">1. Registering with DHL</h2>
<div class="sectionbody">
<div class="paragraph">
<p>DHL Retoure Online allows you to generate return labels for orders with various countries of delivery. You can generate the labels automatically with an event procedure or a process. As an alternative, you can generate the labels manually in the shipping centre and download the labels. Afterwards, you can set up an event procedure that sends the labels as email attachment to your customers in an automated way.</p>
</div>
<div class="paragraph">
<p>To set up and use the interface for DHL Retoure Online in your plentymarkets system, you have to register with <a href="https://www.dhl.de/en/geschaeftskunden/paket/versandsoftware/dhl-geschaeftskundenportal-anmeldung.html" target="_blank" rel="noopener">DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and your account has to be activated for DHL Retoure. You receive the data from DHL that you need for the settings in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-dhl-retoure-online">2. Setting up DHL Retoure Online in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to have a warehouse in order to save the information about returns that you receive from DHL. You also determine the duration that the labels are available for download to your customers in your online store.</p>
</div>
<h3 id="_completing_the_assistant" class="discrete">Completing the assistant</h3>
<div class="paragraph">
<p>Once you have <a href="/en/plugins/installing-added-plugins#installing-plugins">installed the plugin</a> and <a href="/en/plugins/installing-added-plugins#linking-plugin-sets">saved and deployed the plugin set</a>, the assistant is visible in the <strong>Setup » Assistants</strong> menu in the <strong>Integration</strong> area and you can start with the setup.</p>
</div>
<div class="paragraph">
<p>Complete the assistant <strong>DHL Retoure Online</strong> to set up the interface in plentymarkets step by step.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="options-generate-return-labels">3. Options for generating return labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have the following options to generate return labels and register the return with DHL Retoure Online:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Generate DHL Retoure Online label</strong><br>
Registers the return with DHL Retoure Online. One label per order is generated, regardless of the number of packages.</p>
</li>
<li>
<p><strong>Generate DHL Retoure Online label (1 label per package / 1 file)</strong><br>
Registers the return with DHL Retoure Online. One label per package is generated. If multiple packages are available, one PDF file with all return labels is generated.</p>
</li>
<li>
<p><strong>Generate DHL Retoure Online label (1 label per package / multiple files)</strong><br>
Registers the return with DHL Retoure Online. One label per package is generated. If multiple packages are available, one PDF file per return label is generated.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can select the options mentioned above in the following areas of the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the procedure group <strong>Plugins</strong> of the event procedures</p>
</li>
<li>
<p>as <strong>Return type</strong> in the procedure <strong>Return label</strong> in the processes</p>
</li>
<li>
<p>in the <strong>Return</strong> tab of the shipping centre</p>
</li>
</ul>
</div>
<h3 id="_international_returns" class="discrete">International returns</h3>
<div class="paragraph">
<p>It is possible to generate DHL Retoure Online labels not only for returns in Germany, but also for returns from Switzerland. The CN23 form is added as PDF file when the return is registered.</p>
</div>
<div class="paragraph">
<p>Furthermore, you can generate DHL enclosed return labels for international returns in the processes and in the event procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the processes, use the option <strong>DHL Retoure enclosed label international</strong>.</p>
</li>
<li>
<p>In the event procedures, select the procedure <strong>Generate DHL Retoure enclosed label international</strong>.</p>
</li>
</ul>
</div>
</div>
</div>
</main>