<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#register-with-dpd-uk"><span>1.</span><span> Registering with DPD UK</span></a></li>
<li><a href="#set-up-dpd-shipping-uk"><span>2.</span><span> Setting up DPD Shipping UK in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#preparatory-settings"><span>2.1.</span><span> Carrying out the preparatory settings</span></a></li>
<li><a href="#set-up-interface"><span>2.2.</span><span> Setting up the interface</span></a>
<ul class="sectlevel3">
<li><a href="#dpd-uk-basic-settings"><span>2.2.1.</span><span> Carrying out the basic settings</span></a></li>
<li><a href="#dpd-uk-shipper-information"><span>2.2.2.</span><span> Entering shipper information</span></a></li>
<li><a href="#dpd-uk-shipping-settings"><span>2.2.3.</span><span> Carrying out shipping settings</span></a></li>
</ul>
</li>
<li><a href="#dpd-uk-user-rights"><span>2.3.</span><span> Assigning rights for back end users</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DPD Shipping UK</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Installing the DPD Shipping UK plugin with the help of the Integrations assistant</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to DPD UK. Complete the <strong>Integrations</strong> assistant in the <strong>Setup » Assistants » First steps</strong> menu to easily and quickly install the <strong>DPD Shipping UK</strong> plugin.<br>
As an alternative, you can download the plugin from <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dpdshippinguk_5121" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="register-with-dpd-uk">1. Registering with DPD UK</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to set up the interface for DPD Shipping UK in your plentymarkets system and use the DPD services, you have to register with <a href="https://www.dpd.co.uk/content/products_services/uk_services.jsp" target="_blank" rel="noopener">DPD UK</a>. You receive the data from DPD UK that you need for the settings in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-dpd-shipping-uk">2. Setting up DPD Shipping UK in plentymarkets</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="preparatory-settings">2.1. Carrying out the preparatory settings</h3>
<div class="paragraph">
<p>First, you have to carry out some preparatory settings in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Go to <strong>Setup » Assistants » First steps</strong> and open the <strong>Integrations</strong> assistant. In the step <strong>Shipping services</strong>, select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the option <strong>Install DPD Shipping UK</strong> in the section <strong>DPD Shipping UK</strong>.</p>
<div class="ulist">
<ul>
<li>
<p>If you complete the <strong>Integrations</strong> assistant, the <strong>DPD Shipping UK</strong> plugin will be downloaded automatically in the background and installed in your plugin set. Once this process has been completed, the <strong>Setup » Orders » Shipping » DPD Shipping UK</strong> menu to set up the interface is available.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Activate the <a href="/en/fulfilment/preparing-the-shipment#100">countries of delivery</a>.</p>
</li>
<li>
<p>Create <a href="/en/fulfilment/preparing-the-shipment#400">regions</a>.</p>
</li>
<li>
<p>Create the <a href="/en/fulfilment/preparing-the-shipment#800">shipping service provider</a> <strong>DPD Shipping UK</strong>.</p>
</li>
<li>
<p>Create a <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profile</a> and the <a href="/en/fulfilment/preparing-the-shipment#1500">table of shipping charges</a> for <strong>DPD Shipping UK</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Afterwards, carry out shipping service provider-specific settings to set up the interface in the plentymarkets back end via the user interface of the plugin in the <strong>Setup » Orders » Shipping » DPD Shipping UK</strong> menu. These settings are described in the following sub-chapters.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#set-up-interface">Setting up the interface</a></p>
</li>
<li>
<p><a href="#dpd-uk-basic-settings">Carrying out the basic settings</a></p>
</li>
<li>
<p><a href="#dpd-uk-shipper-information]">Entering shipper information</a></p>
</li>
<li>
<p><a href="#dpd-uk-shipping-settings">Carrying out shipping settings</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="set-up-interface">2.2. Setting up the interface</h3>
<div class="paragraph">
<p>Set up the DPD Shipping UK interface in the <strong>Setup » Orders » Shipping » DPD Shipping UK</strong> menu.</p>
</div>
<div class="paragraph">
<p>Proceed as described in the following sub-chapters to set up the interface in plentymarkets.</p>
</div>
<div class="sect3">
<h4 id="dpd-uk-basic-settings">2.2.1. Carrying out the basic settings</h4>
<div class="paragraph">
<p>In the <strong>Basic settings</strong> menu, enter your login details.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » DPD Shipping UK » Basic settings</strong>.</p>
</li>
<li>
<p>Select the product from the drop-down list.</p>
</li>
<li>
<p>Enter the user name and the password that you received from DPD.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="dpd-uk-shipper-information">2.2.2. Entering shipper information</h4>
<div class="paragraph">
<p>In the <strong>Shipper information</strong> menu, enter the shipper address as well as information related to the contact person.</p>
</div>
<div class="paragraph instruction">
<p>Entering shipper information:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » DPD Shipping UK » Shipper information</strong>.</p>
</li>
<li>
<p>Click on <strong>New address</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-dpd-shipping-uk-shipper-information">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-dpd-shipping-uk-shipper-information" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Entering shipper information for DPD Shipping UK</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Company</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the company name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Shipper address</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Street</strong>, <strong>House number</strong>, <strong>Postcode</strong>, <strong>Town</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the data of the shipper.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the country from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Contact person</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>, <strong>Email address</strong>, <strong>Telephone number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the data of the contact person that should be contacted by DPD in case of questions.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="dpd-uk-shipping-settings">2.2.3. Carrying out shipping settings</h4>
<div class="paragraph">
<p>In the <strong>Shipping settings</strong> menu, you link the shipping profile, the shipping region, the shipper address and the DPD services.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the shipping settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » DPD Shipping UK » Shipping settings</strong>.</p>
</li>
<li>
<p>Click on <strong>Add shipping setting</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-dpd-shipping-uk-shipping-settings">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-dpd-shipping-uk-shipping-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Carrying out shipping settings for DPD Shipping UK</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Login details</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the login details from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>DPD Shipping UK</strong> from the drop-down list.<br>
<strong><em>Requirement:</em></strong> The shipping service provider has already been <a href="#preparatory-settings">created</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping profile from the drop-down list.<br>
<strong><em>Requirement:</em></strong> The shipping profile has already been <a href="#preparatory-settings">created</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping region</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping region from the drop-down list.<br>
<strong><em>Requirement:</em></strong> The region has already been <a href="#preparatory-settings">created</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipper address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the sender from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping services</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping service from the drop-down list. The services may vary depending on your DPD contract.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="dpd-uk-user-rights">2.3. Assigning rights for back end users</h3>
<div class="paragraph">
<p>In order to use the DPD Shipping UK plugin, an <strong>Admin</strong> user has to activate some rights for users with <strong>Back end</strong> access in their user account.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>In the <strong>Plugins</strong> area, activate the rights as listed in <a href="#table-user-rights-back-end-user">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-user-rights-back-end-user" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Assigning rights for back end users</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPDShippingUK &gt; Basic settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises back end users to edit the basic settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPDShippingUK &gt; Addresses</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises back end users to edit addresses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPDShippingUK &gt; Shipping settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises back end users to edit the shipping settings.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>