<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#general-information"><span>1.</span><span> General information</span></a></li>
<li><a href="#requirements"><span>2.</span><span> Requirements</span></a>
<ul class="sectlevel2">
<li><a href="#register-with-dhl"><span>2.1.</span><span> Registering with DHL</span></a></li>
<li><a href="#install-plugins"><span>2.2.</span><span> Installing the plugins</span></a></li>
<li><a href="#priorities-dhl-plugins"><span>2.3.</span><span> Observing the priorities of the DHL plugins</span></a></li>
<li><a href="#dhl-shipping-as-shipping-service-provider"><span>2.4.</span><span> Selecting DHL Shipping (Versenden) as shipping service provider</span></a></li>
</ul>
</li>
<li><a href="#complete-assistant"><span>3.</span><span> Completing the assistant</span></a></li>
<li><a href="#visibility-online-store"><span>4.</span><span> Setting the visibility of the DHL Wunschpaket services in the online store</span></a></li>
<li><a href="#dhl-wunschpaket-packstation-postfiliale-finder"><span>5.</span><span> DHL Packstation/Postfiliale finder</span></a></li>
<li><a href="#example-calculation"><span>6.</span><span> Examples of possible options of preferred days during the checkout</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DHL Wunschpaket</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the DHL Wunschpaket plugin</div>
<div class="paragraph">
<p>You need a plugin to integrate the DHL Wunschpaket services in plentymarkets. Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dhlwunschpaket_5435" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the DHL Wunschpaket plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="general-information">1. General information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This plugin allows you to show the DHL Wunschpaket services in your Ceres online store. Setting up the DHL Wunschpaket services themselves has to be carried out via the <strong>DHL Wunschpaket</strong> assistant. This assistant will be available in the <strong>Setup » Assistants</strong> menu in the <strong>Integration</strong> area once you have successfully installed the plugin. Afterwards, you have to activate the services in the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Tracking pixel for reporting purposes</div>
<div class="paragraph">
<p>Note that the DHL Wunschpaket plugin contains a tracking pixel. This is due to reporting purposes. The pixel returns the URL where the plugin is used as well as the total number of plugin calls. No person-related data or data that could be related to persons will be collected or processed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="requirements">2. Requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order that you can offer your customers the DHL Wunschpaket services in your online store, the following requirements have to be met.</p>
</div>
<div class="sect2">
<h3 id="register-with-dhl">2.1. Registering with DHL</h3>
<div class="paragraph">
<p>In order to set up the interface for DHL Shipping (Versenden) in your plentymarkets system and use the function <em>Versenden</em> (shipping) in the DHL business customer portal, you have to be registered with <a href="https://www.dhl.de/en/geschaeftskunden/paket/kunde-werden/angebot-dhl-geschaeftskunden-online.html" target="_blank" rel="noopener">DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You receive the data from DHL that you need for the settings in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Note that the DHL Wunschpaket services are only available for deliveries within Germany.</p>
</div>
</div>
<div class="sect2">
<h3 id="install-plugins">2.2. Installing the plugins</h3>
<div class="paragraph">
<p>The following plugins have to be installed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden)</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/integration/DHLWunschpaket_5435" target="_blank" rel="noopener">DHL Wunschpaket</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/templates/IO_4696" target="_blank" rel="noopener">IO</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="priorities-dhl-plugins">2.3. Observing the priorities of the DHL plugins</h3>
<div class="paragraph">
<p>Pay attention to priorities of the two DHL plugins in the <strong>Plugins » Plugin set overview</strong> menu.</p>
</div>
<div class="paragraph">
<p>In order that this plugin works correctly, it has to be loaded with a certain priority compared to other plugins. If you install the plugin with the help of the Integration assistant, the correct priority is already set. If not, you have to adjust the priority yourself. To do so, open your plugin set and click on <strong>Priority</strong>. Make sure that the DHL Wunschpaket plugin has a higher priority than DHL Shipping (Versenden) and a lower priority than Ceres and IO.</p>
</div>
</div>
<div class="sect2">
<h3 id="dhl-shipping-as-shipping-service-provider">2.4. Selecting DHL Shipping (Versenden) as shipping service provider</h3>
<div class="paragraph">
<p><strong>DHL Shipping (Versenden)</strong> has to be selected as shipping service provider in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Shipping service provider</strong> tab.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="complete-assistant">3. Completing the assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have <a href="/en/plugins/installing-added-plugins#installing-plugins">installed the plugin in a plugin set</a>, the <strong>DHL Wunschpaket</strong> assistant is available in the <strong>Setup » Assistants</strong> menu in the <strong>Integration</strong> area.</p>
</div>
<div class="paragraph">
<p>Complete the assistant to save a surcharge for the <strong>Preferred day</strong> service, determine the cut-off times that belong to the <strong>Preferred day</strong> service and set the days where no parcels are transferred to DHL. The cut-off time determines up to which time transfer of parcels to DHL is possible at the same day.</p>
</div>
<div class="paragraph">
<p>DHL offers the services <strong>Preferred neighbour</strong> and <strong>Preferred location</strong> without any additional charge. If your customer selects the <strong>Preferred day</strong> service in the online store, the price you determined for this service is displayed in the order process and added to the order’s total sum.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="visibility-online-store">4. Setting the visibility of the DHL Wunschpaket services in the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order that your customers can select the DHL Wunschpaket services during the order process in your online store, you have to activate some options in the <strong>CMS » Container links</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility of the DHL Wunschpaket services in the online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Container links</strong>.</p>
</li>
<li>
<p>In the <strong>DHL Wunschpaket CSS (DHL Wunschpaket)</strong> area, select the option <strong>Template: Style</strong>.</p>
</li>
<li>
<p>In the <strong>DHL Wunschpaket Scripts (DHL Wunschpaket)</strong> area, select the option <strong>Checkout: After shipping method</strong>.<br>
→ <strong><em>Important:</em></strong> If you would like that the services selected during the checkout process are also listed as additional shipping information in the order confirmation, you have to activate the option <strong>Order confirmation: Additional shipping information</strong> in the <strong>DHL Wunschpaket Order Confirmation (DHL Wunschpaket)</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The services can now be selected in the checkout and – if this option is activated – will also be listed as additional shipping information in the order confirmation.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-wunschpaket-packstation-postfiliale-finder">5. DHL Packstation/Postfiliale finder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your customers can use the DHL Packstation/Postfiliale finder during the order process in your Ceres online store to search for a packstation or post office nearby and select this address as delivery address. This way, your customers can pick up your parcels when it suits them best. To do so, they select an appropriate packstation or post office during the order process from the results list. This address is then saved as the delivery address.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Your customers can enter the street, postcode or town. If the street is entered, it is required for the search to display results that in addition at least the postcode or the town is entered.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Google Maps API key required</div>
<div class="paragraph">
<p>In order that the DHL Paketstation/Postfiliale finder is available for your customers in the Ceres checkout, you need a Google Maps API key.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h3 id="_setting_the_visibility_of_the_dhl_packstationpostfiliale_finder_in_the_online_store" class="discrete">Setting the visibility of the DHL Packstation/Postfiliale finder in the online store</h3>
<div class="paragraph">
<p>In order that your customers can use the DHL Packstation/Postfiliale finder during the order process in your online store, you have to activate some options in the <strong>CMS » Container links</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility of the DHL Packstation/Postfiliale finder in the online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Container links</strong>.</p>
</li>
<li>
<p>In the <strong>DHL Packstation/Postfiliale Checkout View (DHL Wunschpaket)</strong> area, select the option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p>In the <strong>DHL Packstation/Postfiliale Scripts (DHL Wunschpaket)</strong> area, select the option <strong>Checkout: After scripts loaded</strong>.</p>
</li>
<li>
<p>In the <strong>DHL Packstation/Postfiliale Styles (DHL Wunschpaket)</strong> area, select the option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> In addition to these settings, you have to activate the button in the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant with which you decide whether you offer the finder to your customers in the order process of your online store. In order that your customers can use the finder, the button has to be green (<span class="icon green"><i class="fa fa-toggle-off  "></i></span>).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="example-calculation">6. Examples of possible options of preferred days during the checkout</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following, you find examples of the settings of preferred days and cut-off times and how these settings affect the options your customers can choose from during the checkout.</p>
</div>
<div class="paragraph">
<p>Note that the time of registering the shipment in the following examples does not refer to the exact time when the customer completes the order process. The possible preferred days that can be selected by the customer is updated when the customer opens the checkout or updates the address.</p>
</div>
<h3 id="_example_1_time_of_registering_the_shipment_tuesday_06_march_2018_1200_noon_without_exclusion_of_transfer_days" class="discrete">Example 1: Time of registering the shipment: Tuesday, 06 March 2018, 12:00 noon, without exclusion of transfer days</h3>
<div class="ulist">
<ul>
<li>
<p>Setting for <strong>Cut-off times</strong>: 1:00pm</p>
</li>
<li>
<p>Setting for <strong>Exclusion of transfer days</strong>: none</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Days the customer can select in the checkout:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Thursday (08 March 2018)</p>
</li>
<li>
<p>Friday (09 March 2018)</p>
</li>
<li>
<p>Saturday (10 March 2018)</p>
</li>
<li>
<p>Monday (12 March 2018)</p>
</li>
<li>
<p>Tuesday (13 March 2018)</p>
</li>
<li>
<p>Wednesday (14 March 2018)</p>
</li>
</ul>
</div>
<h3 id="_example_2_time_of_registering_the_shipment_tuesday_06_march_2018_200pm_without_exclusion_of_transfer_days" class="discrete">Example 2: Time of registering the shipment: Tuesday, 06 March 2018, 2:00pm, without exclusion of transfer days</h3>
<div class="ulist">
<ul>
<li>
<p>Setting for <strong>Cut-off times</strong>: 1:00pm</p>
</li>
<li>
<p>Setting for <strong>Exclusion of transfer days</strong>: none</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Days the customer can select in the checkout:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Friday (09 March 2018)</p>
</li>
<li>
<p>Saturday (10 March 2018)</p>
</li>
<li>
<p>Monday (12 March 2018)</p>
</li>
<li>
<p>Tuesday (13 March 2018)</p>
</li>
<li>
<p>Wednesday (14 March 2018)</p>
</li>
<li>
<p>Thursday (15 March 2018)</p>
</li>
</ul>
</div>
<h3 id="_example_3_time_of_registering_the_shipment_tuesday_06_march_2018_200pm_with_exclusion_of_transfer_days" class="discrete">Example 3: Time of registering the shipment: Tuesday, 06 March 2018, 2:00pm, with exclusion of transfer days</h3>
<div class="ulist">
<ul>
<li>
<p>Setting for <strong>Cut-off times</strong>: 1:00pm</p>
</li>
<li>
<p>Setting for <strong>Exclusion of transfer days</strong>: Tuesday, Wednesday</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Days the customer can select in the checkout:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Saturday (10 March 2018)</p>
</li>
<li>
<p>Monday (12 March 2018)</p>
</li>
<li>
<p>Tuesday (13 March 2018)</p>
</li>
<li>
<p>Wednesday (14 March 2018)</p>
</li>
<li>
<p>Thursday (15 March 2018)</p>
</li>
<li>
<p>Friday (16 March 2018)</p>
</li>
</ul>
</div>
</div>
</div>
</main>