<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#register-with-dpd"><span>1.</span><span> Registering with DPD</span></a></li>
<li><a href="#set-up-dpd-shipping-services"><span>2.</span><span> Setting up DPD Shipping Services in plentymarkets</span></a></li>
<li><a href="#preparatory-settings"><span>3.</span><span> Carrying out the preparatory settings</span></a></li>
<li><a href="#complete-assistant"><span>4.</span><span> Completing the assistants</span></a>
<ul class="sectlevel2">
<li><a href="#assistant-shipping-settings"><span>4.1.</span><span> Completing the Shipping settings assistant</span></a></li>
<li><a href="#dpd-assistant-basic-settings"><span>4.2.</span><span> Completing the DPD Shipping Services: Basic settings assistant</span></a></li>
<li><a href="#dpd-assistant-settings-combination"><span>4.3.</span><span> Completing the DPD Shipping Services: Settings combination assistant</span></a></li>
</ul>
</li>
<li><a href="#available-shipping-methods-and-services"><span>5.</span><span> Currently available shipping methods and services</span></a></li>
<li><a href="#dpd-parcelshop-finder"><span>6.</span><span> DPD Parcelshop finder</span></a>
<ul class="sectlevel2">
<li><a href="#activate-dpd-parcelshop-finder-shipping-method"><span>6.1.</span><span> Activating the shipping method “DPD Parcelshop finder”</span></a></li>
<li><a href="#dpd-parcelshop-finder-checkout"><span>6.2.</span><span> Displaying the DPD Parcelshop Finder in the checkout</span></a></li>
</ul>
</li>
<li><a href="#parcel-life-cycle"><span>7.</span><span> Parcel Life Cycle</span></a></li>
<li><a href="#shipping-list"><span>8.</span><span> Shipping list</span></a></li>
<li><a href="#ident-check"><span>9.</span><span> Ident check</span></a></li>
<li><a href="#register-returns"><span>10.</span><span> Registering returns</span></a>
<ul class="sectlevel2">
<li><a href="#register-return-shipping-centre"><span>10.1.</span><span> Registering returns in the shipping centre</span></a></li>
<li><a href="#register-return-process"><span>10.2.</span><span> Registering returns via a process</span></a></li>
<li><a href="#register-return-event-procedure"><span>10.3.</span><span> Registering returns with an event procedure</span></a></li>
</ul>
</li>
<li><a href="#_tracking_url_for_dpd"><span>11.</span><span> Tracking URL for DPD</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DPD Shipping Services</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the DPD Shipping Services plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to DPD Shipping Services. Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dpdshippingservices_6320" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the DPD Shipping Services plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="register-with-dpd">1. Registering with DPD</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>DPD Shipping Services</strong> plugin allows shippers to create shipping labels quickly and easily and to use the shipment tracking in plentymarkets.</p>
</div>
<div class="paragraph">
<p>In order to set up and be able to use the interface for DPD Germany in your plentymarkets system, you have to be registered with <a href="https://www.dpd.com/de/en/" target="_blank" rel="noopener">DPD</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and your account has to be activated for the web service. Please contact your DPD sales contact person to obtain the login details that you need for the settings in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Delis ID</div>
<div class="paragraph">
<p>A Delis ID is required to set up and use the DPD Shipping Services plugin. You will receive the Delis ID from DPD. Note that DPD currently assigns the Delis ID only to sellers with a monthly volume starting from 500 parcels.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-dpd-shipping-services">2. Setting up DPD Shipping Services in plentymarkets</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Simply setting up DPD Shipping Services with the help of assistants</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to DPD Shipping Services. Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dpdshippingservices_6320" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the DPD Shipping Services plugin.<br>
Two DPD Shipping Services assistants that allow an easy setup are then available in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set.</p>
</div>
<div class="paragraph">
<p>Before completing the two DPD Shipping Services assistants, you need to complete the <strong>Shipping settings</strong> assistant. This assistant is available in your plentymarkets system by default. You can find it in the <strong>Setup » Assistants » Integration</strong> menu. With this assistant, carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>determine a name for the shipping setting (i.e. the shipping profile)</p>
</li>
<li>
<p>activate existing regions or create a new region</p>
</li>
<li>
<p>determine the shipping costs and select the calculation type</p>
</li>
<li>
<p><strong><em>Note:</em></strong> Afterwards, go to <strong>Setup » Orders » Shipping » Settings</strong> and click on the <strong>Shipping profiles</strong> tab to carry out further settings for the shipping profile. Further information on these settings are provided below on this manual page.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Afterwards, complete the two DPD Shipping Services assistants:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DPD Shipping Services: Basic settings</p>
<div class="ulist">
<ul>
<li>
<p>In this assistant, prepare all the data that you later need in the <strong>DPD Shipping Services: Settings combination</strong> assistant.</p>
</li>
</ul>
</div>
</li>
<li>
<p>DPD Shipping Services: Settings combination<br></p>
<div class="ulist">
<ul>
<li>
<p>In this assistant, link the settings that you saved in the <strong>Shipping settings</strong> and <strong>DPD Shipping Services: Basic settings</strong> assistants and select the product and the appropriate services.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="preparatory-settings">3. Carrying out the preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, you have to carry out some preparatory settings in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#100">Set up countries of delivery</a></p>
<div class="ulist">
<ul>
<li>
<p>You can set up the countries of delivery in the <strong>Shipping settings</strong> assistant or in the back end.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#400">Create regions</a></p>
<div class="ulist">
<ul>
<li>
<p>You can create regions in the <strong>Shipping settings</strong> assistant or in the back end.</p>
</li>
</ul>
</div>
</li>
<li>
<p>create the <a href="/en/fulfilment/preparing-the-shipment#800">shipping service provider</a> <strong>DPD Shipping Services</strong></p>
<div class="ulist">
<ul>
<li>
<p>Currently, you can create shipping service providers only in the back end and <em>not</em> in an assistant.</p>
</li>
</ul>
</div>
</li>
<li>
<p>create a <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profile</a> and the <a href="/en/fulfilment/preparing-the-shipment#1500">table of shipping charges</a> for <strong>DPD Shipping Services</strong><br></p>
<div class="ulist">
<ul>
<li>
<p>You can set up some of the shipping settings in the <strong>Shipping settings</strong> assistant. The remaining settings have to be carried out in the back end in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Shipping profiles</strong> tab.<br>
<span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> <strong><em>Important:</em></strong> Not all functions and settings have been transferred from the shipping profile to the <strong>Shipping settings</strong> assistant yet. Note the explanations in the <a href="#assistant-shipping-settings">Completing the <strong>Shipping settings</strong> assistant</a> chapter.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="complete-assistant">4. Completing the assistants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as you have <a href="/en/plugins/installing-added-plugins#installing-plugins">installed</a> the plugin in a plugin set, the <strong>DPD Shipping Services: Basic settings</strong> and the <strong>DPD Shipping Services: Settings combination</strong> assistants are available in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set. The <strong>Shipping settings</strong> assistant is available in your plentymarkets system by default. You can find it in the <strong>Setup » Assistants » Integration</strong> menu.</p>
</div>
<div class="paragraph">
<p>Now complete the assistants in the following order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Shipping settings</strong></p>
</li>
<li>
<p><strong>DPD Shipping Services: Basic settings</strong></p>
</li>
<li>
<p><strong>DPD Shipping Services: Settings combination</strong></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="assistant-shipping-settings">4.1. Completing the <strong>Shipping settings</strong> assistant</h3>
<div class="paragraph">
<p>You find the <strong>Shipping settings</strong> assistant in the <strong>Setup » Assistants » Integration</strong> menu. In this assistant, carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter a back end and a front end name for the shipping setting. These names can be selected per language.<br></p>
<div class="ulist">
<ul>
<li>
<p>Link this name later in the <strong>DPD Shipping Services: Settings combination</strong> assistant.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Select the plugin of the shipping service provider for which you want to set up shipping costs.<br></p>
<div class="ulist">
<ul>
<li>
<p>You have to download the DPD Shipping Services plugin in the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dpdshippingservices_6320" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> before you can see it here.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Select a region, enter the shipping costs and select the calculation type for the selected countries. Furthermore, you can determine the value of items from which no shipping costs will be calculated.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Carry out further settings for the shipping settings in the back end</div>
<div class="paragraph">
<p>If you have completed the <strong>Shipping settings</strong> assistant, the shipping profile also appears in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Shipping profile</strong> tab.<br>
The following settings are available once the assistant has been completed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>the name of the shipping profile is saved</p>
</li>
<li>
<p>the shipping service provider is saved</p>
</li>
<li>
<p>the option <strong>Activate for new items</strong> is activated</p>
</li>
<li>
<p>all clients (shops) are activated</p>
</li>
<li>
<p>all order referrers are activated</p>
</li>
<li>
<p>the shipping costs are saved</p>
</li>
<li>
<p>the region is saved</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you want to carry out further settings such as blocking customer classes or payment methods or activating the option for the agreement upon data transmission to shipping service providers, you have to go to <strong>Setup » Orders » Shipping » Settings</strong> and carry out these settings in the <strong>Shipping profiles</strong> tab in the corresponding shipping profile.</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> This workaround is still necessary because not all functions and settings have been transferred from the shipping profile to the assistant yet. We will implement the missing settings in the assistant step by step.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Which data is shown when the <strong>Shipping settings</strong> assistant has been completed?</div>
<div class="content">
<div class="paragraph">
<p>When you completed the <strong>Shipping settings</strong> assistant and open it again, the following information is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the tile view:</p>
<div class="ulist">
<ul>
<li>
<p>Back end name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Shipping service provider</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the table overview:</p>
<div class="ulist">
<ul>
<li>
<p>Back end name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Shipping service provider</p>
</li>
<li>
<p>Front end name</p>
</li>
<li>
<p>ID of the shipping profile</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="dpd-assistant-basic-settings">4.2. Completing the <strong>DPD Shipping Services: Basic settings</strong> assistant</h3>
<div class="paragraph">
<p>You find the <strong>DPD Shipping Services: Basic settings</strong> assistant in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set. This assistant has several steps to complete. These steps are explained in the following.</p>
</div>
<h5 id="_login_details" class="discrete">Login details</h5>
<div class="paragraph">
<p>In this step, enter your login details for DPD Germany. These are your Delis ID and the corresponding password.</p>
</div>
<div class="paragraph">
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to add further login details.</p>
</div>
<div class="paragraph">
<p>Furthermore, you decide whether the email address from the invoice address of your customers should be used when no email address is saved in the delivery address.</p>
</div>
<h5 id="_shipper_address" class="discrete">Shipper address</h5>
<div class="paragraph">
<p>In this step, enter your shipper address.</p>
</div>
<div class="paragraph">
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to add further shipper addresses. You can add up to 20 shipper addresses.</p>
</div>
<h5 id="_shipping_methods_and_services" class="discrete">Shipping methods and services</h5>
<div class="paragraph">
<p>In this step, select the products and services. It is important that you are activated for the shipping methods and services by DPD.</p>
</div>
<div class="paragraph">
<p>You make only a preselection of the services here that are then available in the <strong>DPD Shipping Services: Settings combination</strong> assistant.</p>
</div>
<h5 id="_reference" class="discrete">Reference</h5>
<div class="paragraph">
<p>In this step, select which values you want to display on the shipping label as <strong>Reference 1</strong> and <strong>Reference 2</strong>. You can also leave the reference fields empty.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> If you leave the <strong>Reference 1</strong> field empty, the order ID will always be shown as fallback on the shipping label. If you leave the <strong>Reference 2</strong> field empty, this field stays empty also on the shipping label.</p>
</div>
<div class="paragraph">
<p><strong><em>Important:</em></strong> The maximum number of characters (name plus value) is limited to 35. If the number of characters exceeds 35, the reference will be truncated accordingly.</p>
</div>
<h5 id="_activating_the_parcelshop_finder" class="discrete">Activating the Parcelshop finder</h5>
<div class="paragraph">
<p>Activate the button <strong>Use Parcelshop finder</strong> (<span class="icon skyBlue"><i class="material-toggle_on"></i></span>) if you want to offer your customers the Parcelshop finder in your plentyShop.</p>
</div>
<div class="paragraph">
<p><strong><em>Important:</em></strong> To be able to offer the Parcelshop finder, you have to activate the product <strong>DPD Parcelshop finder</strong> in the step <strong>Shipping methods and services</strong>.</p>
</div>
<div class="paragraph">
<p>In order that the Parcelshop finder works in your plentyShop, it is also required that you enter your Google Maps API key.</p>
</div>
<h5 id="_summary" class="discrete">Summary</h5>
<div class="paragraph">
<p>In this step, a summary of all entries that you made in the single steps is listed. You can check the settings, adjust them in the single steps, if needed, and complete the assistant afterwards.</p>
</div>
</div>
<div class="sect2">
<h3 id="dpd-assistant-settings-combination">4.3. Completing the <strong>DPD Shipping Services: Settings combination</strong> assistant</h3>
<div class="paragraph">
<p>You find the <strong>DPD Shipping Services: Settings combination</strong> assistant in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set.</p>
</div>
<div class="paragraph">
<p>In this assistant, link the settings that you saved in the <strong>Shipping settings</strong> and <strong>DPD Shipping Services: Basic settings</strong> assistants. Link the shipping setting with the login details, shipping methods and services and the shipper address.</p>
</div>
<div class="paragraph">
<p>If you ship internationally, activate the button (<span class="icon skyBlue"><i class="material-toggle_on"></i></span>). 3 more fields appear: Enter the content of the shipment, select one of the international commercial terms (Incoterms) from the drop-down list and determine which customs documents are to be sent.</p>
</div>
<div class="paragraph">
<p>If you ship hazardous goods, activate the button (<span class="icon skyBlue"><i class="material-toggle_on"></i></span>). 2 more fields appear: Enter the description of the hazardous good and select the type of packaging from the drop-down list.</p>
</div>
<div class="paragraph">
<p>Furthermore, you can determine that the phone numbers of your customers are neither transmitted to DPD nor displayed on the shipping label.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Which data is shown when the <strong>DPD Shipping services: Settings combination</strong> assistant has been completed?</div>
<div class="content">
<div class="paragraph">
<p>When you completed the <strong>DPD Shipping Services: Settings combination</strong> assistant and open it again, the following information is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the tile view:</p>
<div class="ulist">
<ul>
<li>
<p>Back end name</p>
</li>
<li>
<p>Login name</p>
</li>
<li>
<p>Shipping method</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the table overview:</p>
<div class="ulist">
<ul>
<li>
<p>Back end name</p>
</li>
<li>
<p>Login name</p>
</li>
<li>
<p>Shipping setting</p>
</li>
<li>
<p>Services</p>
</li>
<li>
<p>ID of the shipping profile</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="available-shipping-methods-and-services">5. Currently available shipping methods and services</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-available-shipping-methods-and-services">Table 1</a> lists all shipping methods and services that are currently available via the <strong>DPD Shipping Services</strong> plugin.</p>
</div>
<table id="table-available-shipping-methods-and-services" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Currently available shipping methods and services</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Shipping method</th>
<th class="tableblock halign-left valign-top">Service</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD CLASSIC</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Shipping method without any services</p>
</li>
<li>
<p>Ex works delivery/Freight forward</p>
</li>
<li>
<p>Predict SMS</p>
</li>
<li>
<p>Predict email</p>
</li>
<li>
<p>Tyres</p>
</li>
<li>
<p>Swap</p>
</li>
<li>
<p>Hazardous goods<br>
<strong><em>Important:</em></strong> When you use the <em>Hazardous goods</em> service, properties have to be linked for the item or the variation. Note the information in the yellow box below this table.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Parcelshop finder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping method without any services</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD 8:30</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Shipping method without any services</p>
</li>
<li>
<p>Ex works delivery/Freight forward</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD 10:00</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Swap</p>
</li>
<li>
<p>Ident check</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD 12:00</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Shipping method without any services</p>
</li>
<li>
<p>Saturday delivery</p>
</li>
<li>
<p>Ex works delivery</p>
</li>
<li>
<p>Swap</p>
</li>
<li>
<p>Ident check</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD 18:00</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Shipping method without any services</p>
</li>
<li>
<p>Warranty</p>
</li>
<li>
<p>Ex works delivery/Freight forward</p>
</li>
<li>
<p>Ident check</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD EXPRESS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping method without any services</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD ParcelLetter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping method without any services</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping method without any services</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note about the Hazardous goods service</div>
<div class="paragraph">
<p>When you use the <em>Hazardous goods</em> service, you have to link the following properties for the item or the variations in the <strong>Texts</strong> tab:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DPD Versand Services - IdentificationUnNo</p>
</li>
<li>
<p>DPD Versand Services - IdentificationClass</p>
</li>
<li>
<p>DPD Versand Services - ClassificationCode</p>
</li>
<li>
<p>DPD Versand Services - PackingGroup</p>
</li>
<li>
<p>DPD Versand Services - Factor</p>
</li>
<li>
<p>DPD Versand Services - NotOtherwiseSpecified</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="dpd-parcelshop-finder">6. DPD Parcelshop finder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order that your customers can use the DPD Parcelshop finder in the checkout of your plentyShop, you have to carry out the settings described in the following.</p>
</div>
<div class="sect2">
<h3 id="activate-dpd-parcelshop-finder-shipping-method">6.1. Activating the shipping method “DPD Parcelshop finder”</h3>
<div class="paragraph">
<p>The following settings have to be carried out in the assistants:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Go to the <strong>DPD Shipping Services: Basic settings</strong> assistant and select the shipping method <strong>DPD Parcelshop finder</strong> in the step <strong>Shipping methods and services</strong>.</p>
</li>
<li>
<p>Go to the <strong>DPD Shipping services: Settings combination</strong> assistant and select the shipping method <strong>DPD Parcelshop finder</strong> to link this shipping method with the shipping setting.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="dpd-parcelshop-finder-checkout">6.2. Displaying the DPD Parcelshop Finder in the checkout</h3>
<div class="paragraph">
<p>Go to the plugin’s <strong>Container links</strong> area and activate the following options to allow your customers to use the DPD Parcelshop Finder in the checkout of your plentyShop.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Google Maps API key required</div>
<div class="paragraph">
<p>In order that the DPD Parcelshop Finder is available for your customers in the checkout of your plentyShop, you need a Google Maps API key.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Displaying the DPD Parcelshop Finder in the checkout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the table row of the plugin set that contains the DPD Shipping Services plugin.</p>
</li>
<li>
<p>Click on the table row <strong>DPD Shipping Services</strong>.</p>
</li>
<li>
<p>Go to <strong>Container links</strong>.</p>
</li>
<li>
<p>Expand the area <strong>Container links</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Data provider</strong> the option <strong>DPD Parcelshop Finder Javascript</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Ceres</strong> on the right the option <strong>Script loader: After scripts loaded</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Data provider</strong> the option <strong>DPD Parcelshop Finder checkout container</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Ceres</strong> on the right the option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Data provider</strong> the option <strong>DPD Parcelshop Finder checkout styles</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Ceres</strong> on the right the option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="parcel-life-cycle">7. Parcel Life Cycle</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By entering your Delis ID, you can request the current status of the registered orders in the <strong>Data » DPD Parcel Life Cycle</strong> menu. You can use the following criteria:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Parcel label number (from DPD)</p>
</li>
<li>
<p>Web number (from DPD)</p>
</li>
<li>
<p>Order ID (from plentymarkets)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Enter the desired data in the fields and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</div>
<h3 id="_assigning_rights_for_back_end_users" class="discrete">Assigning rights for back end users</h3>
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If you want users of this type to work with the Parcel Life Cycle, an <strong>Admin</strong> user has to assign the right listed in the following for users of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>Expand the <strong>Plugins &gt; DPDShippingServices</strong> area.</p>
</li>
<li>
<p>Select the setting <strong>DPD Parcel Life Cycle</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="shipping-list">8. Shipping list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Data » DPD Shipping list</strong> menu, you can create a shipping list for all orders or for selected orders that were registered via the shipping service provider <strong>DPD Shipping Services</strong>. Click on <strong>Create PDF</strong> (<span class="icon "><i class="psicon-document"></i></span>) and save the file to your computer.</p>
</div>
<div class="paragraph">
<p>By clicking on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>), all orders registered with <strong>DPD Shipping Services</strong> are displayed. Via the date selection, you can determine which orders are contained in the shipping list.</p>
</div>
<div class="paragraph">
<p>It is possible to directly change the order status of registered orders via the drop-down list <strong>Change to order status</strong>.</p>
</div>
<h3 id="_assigning_rights_for_back_end_users_2" class="discrete">Assigning rights for back end users</h3>
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If you want users of this type to work with the shipping list, an <strong>Admin</strong> user has to assign the right listed in the following for users of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>Expand the <strong>Plugins &gt; DPDShippingServices</strong> area.</p>
</li>
<li>
<p>Select the setting <strong>DPD shipping list</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="ident-check">9. Ident check</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order that the <em>Ident check</em> service is available for your customers in your plentyShop, you have to activate the following options in the plugin’s <strong>Container links</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility of the <em>Ident check</em> service in the plentyShop:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the table row of the plugin set that contains the DPD Shipping Services plugin.</p>
</li>
<li>
<p>Click on the table row <strong>DPD Shipping Services</strong>.</p>
</li>
<li>
<p>Go to <strong>Container links</strong>.</p>
</li>
<li>
<p>Expand the area <strong>Container links</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Data provider</strong> the option*DPD IdentCheck container*.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Ceres</strong> on the right the option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Data provider</strong> the option <strong>DPD IdentCheck styles</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Ceres</strong> on the right the option <strong>Template: Styles</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Data provider</strong> the option <strong>DPD IdentCheck scripts</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Ceres</strong> on the right the option <strong>Script loader: After scripts loaded</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Important:</em></strong> Afterwards, link the <em>Ident check</em> service with the shipping profile for Ident check in order that the <em>Ident check</em> service is available for your customers in the checkout of your plentyShop.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="register-returns">10. Registering returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Note that returns can only be registered via DPD Shipping Services when also the main order of the return is linked with the same shipping profile for DPD Shipping Services. You can register returns with DPD in three different ways in your plentymarkets system. These are described in the following.</p>
</div>
<div class="sect2">
<h3 id="register-return-shipping-centre">10.1. Registering returns in the shipping centre</h3>
<div class="paragraph">
<p>Go to the <strong>Returns</strong> tab in the <strong>Orders » Shipping centre</strong> menu to register returns with DPD.</p>
</div>
<div class="paragraph">
<p>To do so, search <span class="icon blue"><i class="fa fa-search  "></i></span>) the order in the shipping centre in the <strong>Search</strong> tab and place a checkmark next to the order. Afterwards, click on the <strong>Returns</strong> tab and select the setting <strong>DPD Retoure</strong> from the <strong>Return service provider</strong> drop-down list. Click on <strong>Register</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to register the return with DPD.</p>
</div>
</div>
<div class="sect2">
<h3 id="register-return-process">10.2. Registering returns via a process</h3>
<div class="paragraph">
<p>You can also register returns via a process. To do so, select the procedure <strong>Return label</strong> and then select the setting <strong>DPD Retoure</strong> from the drop-down list <strong>Return type</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="register-return-event-procedure">10.3. Registering returns with an event procedure</h3>
<div class="paragraph">
<p>You can register your returns with an event procedure. To do so, select from the <strong>Plugins</strong> procedure group the procedure <strong>Register return with shipping service provider</strong>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_tracking_url_for_dpd">11. Tracking URL for DPD</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The currently valid, known tracking URL for DPD is:<br>
<strong>https://tracking.dpd.de/status/de_DE/parcel/[PaketNr]</strong>.</p>
</div>
</div>
</div>
</main>