<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#register-with-dhl"><span>1.</span><span> Registering with DHL</span></a></li>
<li><a href="#set-up-dhl-retoure-online"><span>2.</span><span> Setting up DHL Retoure Online in plentymarkets</span></a></li>
<li><a href="#preparatory-settings"><span>3.</span><span> Carrying out the preparatory settings</span></a></li>
<li><a href="#complete-assistant"><span>4.</span><span> Completing the assistant</span></a></li>
<li><a href="#options-generate-return-labels"><span>5.</span><span> Generating return labels</span></a></li>
<li><a href="#e-mail-qr-code"><span>6.</span><span> Adding a mobile return code to the email template</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DHL Retoure Online</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the DHL Retoure Online plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to DHL Retoure Online. Visit the <a href="https://marketplace.plentymarkets.com/en/dhlretoureonline_6714" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the DHL Retoure Online plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="register-with-dhl">1. Registering with DHL</h2>
<div class="sectionbody">
<div class="paragraph">
<p>DHL Retoure Online allows you to generate return labels for orders with various countries of delivery. You can generate the labels automatically with an event procedure or a process. As an alternative, you can generate and download the labels in the shipping centre. Afterwards, you can set up an event procedure that sends the labels as email attachment to your customers in an automated way.</p>
</div>
<div class="paragraph">
<p>To set up and use the interface for DHL Retoure Online in your plentymarkets system, you have to register with <a href="https://www.dhl.de/en/geschaeftskunden/paket/versandsoftware/dhl-geschaeftskundenportal-anmeldung.html" target="_blank" rel="noopener">DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and your account has to be activated for DHL Retoure. The new DHL Retoure Online interface is completely integrated in the DHL business customer portal. You receive the data from DHL that you need for the settings in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-dhl-retoure-online">2. Setting up DHL Retoure Online in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once your account is activated for DHL Retoure and DHL sent you the appropriate data, you can start with the setup. To do so, proceed as described below.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="preparatory-settings">3. Carrying out the preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, you have to carry out some preparatory settings in the plentymarkets back end:</p>
</div>
<h3 id="_setting_up_a_warehouse" class="discrete">Setting up a warehouse</h3>
<div class="paragraph">
<p>You need to have a warehouse in order to save the information about returns that you receive from DHL. The warehouse is then selected in the assistant.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Each item is assigned to a warehouse. It is important that you select this warehouse also in the assistant. Otherwise, an error message occurs saying that there no connection exists between the warehouse and the country: <code>No settings found for the warehouse x and the country y</code>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information about creating warehouses, refer to the <a href="/en/stock-management/setting-up-a-warehouse">Setting up a warehouse</a> page of the manual.</p>
</div>
<h3 id="_activating_countries_of_delivery" class="discrete">Activating countries of delivery</h3>
<div class="paragraph">
<p>Activate the countries of delivery for which you want to offer return shipments.</p>
</div>
<div class="paragraph">
<p>The countries of delivery have to have the setting <strong>Active</strong> or <strong>Backoffice is active</strong>. You can activate countries of delivery in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Countries of delivery</strong> tab.</p>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/fulfilment/preparing-the-shipment#100">Preparing the shipment</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="complete-assistant">4. Completing the assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have <a href="/en/plugins/installing-added-plugins#installing-plugins">installed the plugin in a plugin set</a>, the assistant is visible in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set and you can start with the setup.</p>
</div>
<div class="paragraph">
<p><strong><em>Important</em>:</strong> You have to complete the assistant for each warehouse that you want to use for DHL Retoure Online.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
If you have already used the “old” DHL Retoure Online integration in combination with processes, in event procedures or in the shipping centre, to-do lists are available in the assistant. Work through these lists to make sure that you can use the new interface smoothly and without any problems.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>This assistant has several steps to complete. These steps are explained in the following.</p>
</div>
<h3 id="_new_configuration_for_dhl_retoure_online" class="discrete">New configuration for DHL Retoure Online</h3>
<div class="paragraph">
<p>Open the <strong>DHL Retoure Online</strong> assistant and add a new configuration for DHL Retoure Online by clicking on <span class="icon green"><i class="fa fa-plus-square  "></i></span> and select an existing warehouse from the drop-down list.</p>
</div>
<h3 id="_login_details" class="discrete">Login details</h3>
<div class="paragraph">
<p>In this step, enter the login details of the user who is activated for returns in the DHL business customer portal.</p>
</div>
<div class="paragraph">
<p>Furthermore, determine whether the password should be changed for all warehouse configurations with the same user.</p>
</div>
<h3 id="_recipient_of_return" class="discrete">Recipient of return</h3>
<div class="paragraph">
<p>In this step, assign the recipients of return (receiver IDs) to the different countries of delivery. The countries of delivery that have the setting <strong>Active</strong> or <strong>Backoffice is active</strong> are shown here. You can activate missing countries of delivery in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Countries of delivery</strong> tab.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
You can find the receiver IDs in the DHL business customer portal in the area <strong>Returns &gt; Settings &gt; Recipient and country overview</strong>.
</td>
</tr>
</tbody></table>
</div>
<h3 id="_validity_of_labels" class="discrete">Validity of labels</h3>
<div class="paragraph">
<p>In this step, determine how long the labels are available for download to your customers in your online shop. <em>Assigned</em> labels are those that have already been assigned to a return.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
The settings that you carry out in this step are global and apply to each warehouse in your plentymarkets system.
</td>
</tr>
</tbody></table>
</div>
<h3 id="_to_do_list" class="discrete">To-do list</h3>
<div class="paragraph">
<p>If you have already used DHL Retoure Online and saved your data in the <strong>Setup » Orders » Shipping service provider » DHL Retoure Online</strong> menu, you have to carry out a few tasks to use the new interface.</p>
</div>
<div class="paragraph">
<p>In this step, select the areas in plentymarkets where you are using DHL Retoure Online. Based on this selection, further steps are shown that explain your to-dos in detail.</p>
</div>
<h3 id="_to_do_event_procedures" class="discrete">To-do event procedures</h3>
<div class="paragraph">
<p>In this step, we describe the required changes that you have to carry out in the event procedures.</p>
</div>
<h3 id="_to_do_processes" class="discrete">To-do processes</h3>
<div class="paragraph">
<p>In this step, we describe the required changes that you have to carry out in the processes.</p>
</div>
<h3 id="_to_do_shipping_centre" class="discrete">To-do shipping centre</h3>
<div class="paragraph">
<p>In this step, we describe the required changes that you have to carry out in the shipping centre.</p>
</div>
<h3 id="_summary" class="discrete">Summary</h3>
<div class="paragraph">
<p>In this step, a summary of all entries that you made in the single steps is listed. You can check the settings, adjust them in the single steps, if needed, and complete the assistant afterwards.</p>
</div>
<div class="paragraph">
<p>When you completed the <strong>DHL Retoure Online</strong> assistant and open it again, the following information is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the tile view:</p>
<div class="ulist">
<ul>
<li>
<p>Warehouse name</p>
</li>
<li>
<p>User name</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the table overview:</p>
<div class="ulist">
<ul>
<li>
<p>Warehouse name</p>
</li>
<li>
<p>User name</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="options-generate-return-labels">5. Generating return labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have the following options to generate return labels and register the return with DHL Retoure Online:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Generate DHL Retoure Online label</strong><br>
Registers the return with DHL Retoure Online. One label per order is generated, regardless of the number of packages.</p>
</li>
<li>
<p><strong>Generate DHL Retoure Online label (1 label per package / 1 file)</strong><br>
Registers the return with DHL Retoure Online. One label per package is generated. If multiple packages are available, one PDF file with all return labels is generated.</p>
</li>
<li>
<p><strong>Generate DHL Retoure Online label (1 label per package / multiple files)</strong><br>
Registers the return with DHL Retoure Online. One label per package is generated. If multiple packages are available, one PDF file per return label is generated.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can select the options mentioned above in the following areas of the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the procedure group <strong>Plugins</strong> of the event procedures</p>
</li>
<li>
<p>as <strong>Return type</strong> in the procedure <strong>Return label</strong> in the processes</p>
</li>
<li>
<p>in the <strong>Return</strong> tab of the shipping centre</p>
</li>
</ul>
</div>
<h3 id="_international_returns" class="discrete">International returns</h3>
<div class="paragraph">
<p>It is possible to generate DHL Retoure Online labels not only for returns from Germany, but also for returns from Switzerland. The CN23 form is added as PDF file when the return is registered.</p>
</div>
<div class="paragraph">
<p>Furthermore, you can generate DHL enclosed return labels for international returns in the processes and in the event procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the processes, use the option <strong>DHL Retoure enclosed label international</strong>.</p>
</li>
<li>
<p>In the event procedures, select the procedure <strong>Generate DHL Retoure enclosed label international</strong>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="e-mail-qr-code">6. Adding a mobile return code to the email template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Insert the template variable <code>$DHLRetoureOnlineQRCodeURL</code> in your email templates to send your customers a QR code within the email. If your customers want to send back an item, they have to show the QR code on their smartphone to one of the employees in the post office and they will print the return label and attach it to the parcel.</p>
</div>
<div class="paragraph">
<p>Thus, your customers do no longer need a printer at home and you do no longer have to send the return label attached as PDF.</p>
</div>
<div class="paragraph">
<p>Go to the <strong>Setup » Client » [Select client] » Email » Templates</strong> menu to create the email template. Note:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In an email template of the type <strong>Plain text</strong>, the link to the QR code is displayed that your customer can click. To do so, insert the template variable <code>$DHLRetoureOnlineQRCodeURL</code> directly in the text.</p>
</li>
<li>
<p>In an email template of the type <strong>HTML-formatted text</strong>, the QR code is displayed as an image. To do so, insert an image and enter the template variable <code>$DHLRetoureOnlineQRCodeURL</code> as an URL in the image properties in the tabs <strong>Image info</strong> and <strong>Link</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For further information about how to create email templates, refer to the <a href="/en/crm/sending-emails#1200">Emails</a> page.</p>
</div>
</div>
</div>
</main>