<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#register-with-postnl"><span>1.</span><span> Registering with PostNL</span></a></li>
<li><a href="#set-up-postnl"><span>2.</span><span> Setting up PostNL in plentymarkets</span></a></li>
<li><a href="#preparatory-settings"><span>3.</span><span> Carrying out the preparatory settings</span></a></li>
<li><a href="#complete-assistant"><span>4.</span><span> Completing the assistants</span></a>
<ul class="sectlevel2">
<li><a href="#assistant-shipping-settings"><span>4.1.</span><span> Completing the Shipping settings assistant</span></a></li>
<li><a href="#assistant-postnl"><span>4.2.</span><span> Completing the PostNL assistant</span></a></li>
</ul>
</li>
<li><a href="#products-services-product-codes"><span>5.</span><span> Products, services and product codes currently available</span></a></li>
<li><a href="#register-order"><span>6.</span><span> Registering an order</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>PostNL</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">.Download the PostNL plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to PostNL. Visit the <a href="https://marketplace.plentymarkets.com/en/postnl_7014" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the PostNL plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="register-with-postnl">1. Registering with PostNL</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>PostNL</strong> plugin allows shippers from the Netherlands to create shipping labels quickly and easily and to use the shipment tracking in plentymarkets.</p>
</div>
<div class="paragraph">
<p>In order to set up the interface for PostNL in your plentymarkets system and use the services, you have to register with <a href="https://www.postnl.be/en/log-in-business/" target="_blank" rel="noopener">PostNL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You receive the data from PostNL that you need for the settings in plentymarkets. Contact your PostNL account manager, if needed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-postnl">2. Setting up PostNL in plentymarkets</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Simply setting up PostNL with the help of an assistant</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to PostNL. Visit the <a href="https://marketplace.plentymarkets.com/en/postnl_7014" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the PostNL plugin.<br>
The PostNL assistant that allow an easy setup is then available in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set.</p>
</div>
<div class="paragraph">
<p>Before completing the PostNL assistant, you need to complete the <strong>Shipping settings</strong> assistant. This assistant is available in your plentymarkets system by default. You can find it in the <strong>Setup » Assistants » Integration</strong> menu. With this assistant, carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>determine a name for the shipping setting (i.e. the shipping profile)</p>
</li>
<li>
<p>activate existing regions or create a new region</p>
</li>
<li>
<p>determine the shipping costs and select the calculation type</p>
</li>
<li>
<p><strong><em>Note:</em></strong> Afterwards, go to <strong>Setup » Orders » Shipping » Settings</strong> and click on the <strong>Shipping profiles</strong> tab to carry out further settings for the shipping profile. Further information on these settings are provided below on this manual page.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Afterwards, complete the PostNL assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="preparatory-settings">3. Carrying out the preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, you have to carry out some preparatory settings in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#100">Set up countries of delivery</a></p>
<div class="ulist">
<ul>
<li>
<p>You can set up the countries of delivery in the <strong>Shipping settings</strong> assistant or in the back end.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#400">Create regions</a></p>
<div class="ulist">
<ul>
<li>
<p>You can create regions in the <strong>Shipping settings</strong> assistant or in the back end.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#800">Creating the shipping service provider</a> <strong>PostNL</strong></p>
<div class="ulist">
<ul>
<li>
<p>Currently, you can create shipping service providers only in the back end and <em>not</em> in an assistant.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Create a <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profile</a> and the <a href="/en/fulfilment/preparing-the-shipment#1500">table of shipping charges</a> for <strong>PostNL</strong><br></p>
<div class="ulist">
<ul>
<li>
<p>You can set up some of the shipping settings in the <strong>Shipping settings</strong> assistant. The remaining settings have to be carried out in the back end in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Shipping profiles</strong> tab.<br>
<span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> <strong><em>Important:</em></strong> Not all functions and settings have been transferred from the shipping profile to the <strong>Shipping settings</strong> assistant yet. Note the explanations in the <a href="#assistant-shipping-settings">Completing the <strong>Shipping settings</strong> assistant</a> chapter.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="complete-assistant">4. Completing the assistants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have <a href="/en/plugins/installing-added-plugins#installing-plugins">installed the plugin in a plugin set</a>, the PostNL assistant is visible in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set and you can start with the setup. The <strong>Shipping settings</strong> assistant is available in your plentymarkets system by default. You can find it in the <strong>Setup » Assistants » Integration</strong> menu.</p>
</div>
<div class="paragraph">
<p>Now complete the assistants in the following order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Shipping settings</strong></p>
</li>
<li>
<p><strong>PostNL</strong></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="assistant-shipping-settings">4.1. Completing the <strong>Shipping settings</strong> assistant</h3>
<div class="paragraph">
<p>You find the <strong>Shipping settings</strong> assistant in the <strong>Setup » Assistants » Integration</strong> menu. In this assistant, carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter a back end and a front end name for the shipping setting. These names can be selected per language.<br></p>
<div class="ulist">
<ul>
<li>
<p>Link this name later in the <strong>PostNL</strong> assistant.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Select the plugin of the shipping service provider for which you want to set up shipping costs.<br></p>
<div class="ulist">
<ul>
<li>
<p>You have to download the PostNL plugin in the <a href="https://marketplace.plentymarkets.com/en/postnl_7014" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> before you can see it here.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Select a region, enter the shipping costs and select the calculation type for the selected countries. Furthermore, you can determine the value of items from which no shipping costs will be calculated.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Carry out further settings for the shipping settings in the back end</div>
<div class="paragraph">
<p>If you have completed the <strong>Shipping settings</strong> assistant, the shipping profile also appears in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Shipping profile</strong> tab.<br>
The following settings are available once the assistant has been completed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>the name of the shipping profile is saved</p>
</li>
<li>
<p>the shipping service provider is saved</p>
</li>
<li>
<p>the option <strong>Activate for new items</strong> is activated</p>
</li>
<li>
<p>all clients (stores) are activated</p>
</li>
<li>
<p>all order referrers are activated</p>
</li>
<li>
<p>the shipping costs are saved</p>
</li>
<li>
<p>the region is saved</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you want to carry out further settings such as blocking customer classes or payment methods or activating the option for the agreement upon data transmission to shipping service providers, you have to go to <strong>Setup » Orders » Shipping » Settings</strong> and carry out these settings in the <strong>Shipping profiles</strong> tab in the corresponding shipping profile.</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> This workaround is still necessary because not all functions and settings have been transferred from the shipping profile to the assistant yet. We will implement the missing settings in the assistant step by step.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>When you completed the <strong>Shipping settings</strong> assistant and open it again, the following information is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the tile view:</p>
<div class="ulist">
<ul>
<li>
<p>Back end name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Shipping service provider</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the table overview:</p>
<div class="ulist">
<ul>
<li>
<p>Back end name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Shipping service provider</p>
</li>
<li>
<p>Front end name</p>
</li>
<li>
<p>ID of the shipping profile</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="assistant-postnl">4.2. Completing the <strong>PostNL</strong> assistant</h3>
<div class="paragraph">
<p>You find the <strong>PostNL</strong> assistant in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set. This assistant has several steps to complete. These steps are explained in the following.</p>
</div>
<h4 id="_global_settings" class="discrete">Global settings</h4>
<div class="paragraph">
<p>In this step, determine whether you want to change the global settings.</p>
</div>
<div class="paragraph">
<p>If the option is activated (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>), you can make changes to the steps <strong>Login details</strong>, <strong>Shipper data</strong> and <strong>Reference on label</strong> at any time. If the option is deactivated (<span class="icon red"><i class="fa fa-toggle-off  "></i></span>), only the step <strong>Settings combination</strong> is visible and can be changed.</p>
</div>
<h4 id="_login_details" class="discrete">Login details</h4>
<div class="paragraph">
<p>In this step, enter your login details by using your API key. Enter a name of your choice in the field <strong>Name of the API key</strong> for every API key that you use. Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> to add further login details.</p>
</div>
<h4 id="_shipper_data" class="discrete">Shipper data</h4>
<div class="paragraph">
<p>In this step, enter your shipper address. Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> to add further shipper addresses.</p>
</div>
<h4 id="_reference_on_label" class="discrete">Reference on label</h4>
<div class="paragraph">
<p>In this step, select which information should be shown on the shipping label. You can select the following values:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>No entry</p>
</li>
<li>
<p>Order ID</p>
</li>
<li>
<p>External order ID</p>
</li>
<li>
<p>Order ID + external order ID</p>
</li>
</ul>
</div>
<h4 id="_settings_combination" class="discrete">Settings combination</h4>
<div class="paragraph">
<p>In this step, link the settings that you saved in the <strong>Shipping settings</strong> and in the single steps of the <strong>PostNL</strong> assistant. Link the shipping setting with your login details, the products, services and product codes, the shipper address and the item description.</p>
</div>
<div class="paragraph">
<p>If you select a <a href="#product-services-product-code">product</a>, all <a href="#table-products-services-product-codes">corresponding services and product codes</a> are listed below and you can select them. Note that your PostNL account manager might activate certain products and services for you first.</p>
</div>
<div class="paragraph">
<p>The item description refers to the values that you saved in the <strong>Item » Edit item</strong> » <em>Open item</em> menu in the <strong>Texts</strong> tab in the fields <strong>Name1</strong>, <strong>Name2</strong>, <strong>Name3</strong> and <strong>Preview text</strong>. In this step, select one of the four fields.</p>
</div>
<div class="paragraph">
<p>Furthermore, select whether you want to activate the productive mode or the test mode.</p>
</div>
<div class="paragraph">
<p>If you ship internationally (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>), you have to enter also the declarations type and the default customs number.</p>
</div>
<h4 id="_summary" class="discrete">Summary</h4>
<div class="paragraph">
<p>In this step, a summary of all entries that you made in the single steps is listed. You can take a look at all the settings that you carried out, adjust setting within the steps, if needed and complete the assistant afterwards via the summary step.</p>
</div>
<div class="paragraph">
<p>When you completed the <strong>PostNL</strong> assistant and open it again, the following information is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the tile view:</p>
<div class="ulist">
<ul>
<li>
<p>Shipping setting</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Name of the API key</p>
</li>
<li>
<p>Service</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the table overview:</p>
<div class="ulist">
<ul>
<li>
<p>Shipping setting</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Name of the API key</p>
</li>
<li>
<p>Service</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="products-services-product-codes">5. Products, services and product codes currently available</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-products-services-product-codes">Table 1</a> lists all products, services and product codes that are currently available via the <strong>PostNL</strong> plugin. Note that your PostNL account manager might activate certain products and services for you first.</p>
</div>
<table id="table-products-services-product-codes" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Products, services and product codes currently available</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Product</th>
<th class="tableblock halign-left valign-top">Service</th>
<th class="tableblock halign-left valign-top">Product code</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dutch domestic products (destination Netherlands)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dutch domestic products</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>3085 - Standard shipment<br></p>
</li>
<li>
<p>3385 - Delivery to stated address only<br></p>
</li>
<li>
<p>3090 - Delivery to neighbour + Return when not at home<br></p>
</li>
<li>
<p>3390 - Delivery to stated address only + Return when not at home</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard pickup points <br>
These are e.g. selected supermarkets and bookstores.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>3533 - Pickup at PostNL location + Signature on delivery<br></p>
</li>
<li>
<p>3534 - Pickup at PostNL location \+ Extra cover<br></p>
</li>
<li>
<p>3543 - Pickup at PostNL location + Signature on delivery + Notification<br></p>
</li>
<li>
<p>3544 - Pickup at PostNL location \+ Extra cover + Notification</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mailbox parcel<br>
For smaller shipments that fit into the mailbox of your customers.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>2928 - Brievenbuspakje</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Smart returns<br>
Your customers can show a barcode on their smartphone and have the return label printed in a PostNL branch.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>2285 - Business reply number (Antwoordnummer)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Destination EU</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parcels EU<br>
Currently, shipment from the Netherlands to 27 countries is possible. Contact your PostNL account manager for further information.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>4590 - Parcels EU to Business (Delivery to neighbour + Signature on delivery + Standard cover)<br></p>
</li>
<li>
<p>4952 - Parcels EU to Consumer (Delivery to neighbour + Signature on delivery + Standard cover)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Destination Rest of World</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">GlobalPack products</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>4947 - GlobalPack</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">International Mail &amp; Packets</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">International Mail &amp; Packets</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>6405 - Priority Packet<br></p>
</li>
<li>
<p>6350 - Priority Packet Tracked<br></p>
</li>
<li>
<p>6906 - Priority Packet Extra<br></p>
</li>
<li>
<p>6408 - Registered Letter<br></p>
</li>
<li>
<p>6040 - Registered Book</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="register-order">6. Registering an order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre</strong> menu in the <strong>Register</strong> tab, you can register your orders with PostNL and simultaneously transmit the order data to the PostNL. To do so, proceed as follows.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the option <strong>open</strong> from the drop-down list <strong>Shipping status</strong>.</p>
</li>
<li>
<p>Select the option <strong>PostNL</strong> from the drop-down list <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ You see a list of open shipping orders for PostNL.</p>
</li>
<li>
<p>Click on the <strong>Register</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>PostNL</strong> from the drop-down list <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>Select the order status from the drop-down list <strong>Change order status</strong>. Select the status that you want the orders to receive after they are registered.<br>
<strong><em>Note:</em></strong> You can combine this function using an <a href="/en/automation/event-procedures">event procedure</a> which, for example, automatically books outgoing items.</p>
</li>
<li>
<p>Select the orders that you want to register with PostNL.</p>
</li>
<li>
<p>Click on <strong>Register</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to transfer the order data to PostNL.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about registering orders, refer to the <a href="/en/fulfilment/shipping-centre">Using the shipping centre</a> page of the manual.</p>
</div>
</div>
</div>
</main>