<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#eigenschaft-erstellen"><span>1.</span><span> Eigenschaft erstellen</span></a></li>
<li><a href="#eigenschaft-verknuepfen"><span>2.</span><span> Eigenschaft verknüpfen</span></a></li>
<li><a href="#eigenschaft-suchen"><span>3.</span><span> Eigenschaft suchen</span></a></li>
<li><a href="#eigenschaft-bearbeiten"><span>4.</span><span> Eigenschaft bearbeiten</span></a></li>
<li><a href="#eigenschaft-loeschen"><span>5.</span><span> Eigenschaft löschen</span></a>
<ul class="sectlevel2">
<li><a href="#eine-eigenschaft-loeschen"><span>5.1.</span><span> Eine Eigenschaft löschen</span></a></li>
<li><a href="#mehrere-eigenschaften-loeschen"><span>5.2.</span><span> Mehrere Eigenschaften löschen</span></a></li>
</ul>
</li>
<li><a href="#eigenschaften-gruppieren"><span>6.</span><span> Eigenschaften gruppieren</span></a>
<ul class="sectlevel2">
<li><a href="#eigenschaft-gruppe-zuordnen"><span>6.1.</span><span> Eigenschaft einer Gruppe zuordnen</span></a></li>
<li><a href="#mehrere-sprachen-eigenschaftsgruppe"><span>6.2.</span><span> Mehrere Sprachen zu einer Eigenschaftsgruppe hinzufügen</span></a></li>
</ul>
</li>
<li><a href="#eigenschaftsgruppen-loeschen"><span>7.</span><span> Eigenschaftsgruppen löschen</span></a>
<ul class="sectlevel2">
<li><a href="#eine-eigenschaftsgruppe-loeschen"><span>7.1.</span><span> Eine Eigenschaftsgruppe löschen</span></a></li>
<li><a href="#mehrere-eigenschaftsgruppen-loeschen"><span>7.2.</span><span> Mehrere Eigenschaftsgruppen löschen</span></a></li>
</ul>
</li>
<li><a href="#eigenschaften-importieren"><span>8.</span><span> Eigenschaften importieren</span></a></li>
<li><a href="#eigenschaften-exportieren"><span>9.</span><span> Eigenschaften exportieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Eigenschaften</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Eigenschaften werden für die nähere Charakterisierung von Varianten, Lagerorten und Kontakten verwendet. Mit Eigenschaften kannst du zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>technische Details einer Variante wie Bluetooth oder WLAN abbilden</p>
</li>
<li>
<p>bestimmen, welche Lagerorte für Kühlware oder andere Produktgruppen geeignet sind</p>
</li>
<li>
<p>erfassen, auf welchem Weg (per E-Mail, Telefon oder Post) der Kunde kontaktiert werden möchte</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eigenschaften werden zentral im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> verwaltet. Du kannst außerdem mehrere Eigenschaften zusammenfassen und Eigenschaftsgruppen erstellen.</p>
</div>
<div class="paragraph">
<p>Anschließend verknüpfst du die Eigenschaften des jeweiligen Bereichs mit Varianten, Lagerorten und Kontakten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#4900">Eigenschaften mit der Hauptvariante verknüpfen</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/lager-einrichten#1100">Eigenschaften mit Lagerorten verknüpfen</a></p>
</li>
<li>
<p><a href="/crm/kontakte-verwalten#970">Eigenschaften mit dem Kontakt verknüpfen</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="eigenschaft-erstellen">1. Eigenschaft erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> erstellst du Eigenschaften. Diese Eigenschaften verwendest du für die nähere Charakterisierung von Varianten, Lagerorten und Kontakten.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Eigenschaft zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.<br>
→ Die Übersicht der Eigenschaften wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaft hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Bereich</strong> den Bereich, für den du die Eigenschaft erstellen möchtest.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-eigenschaft-erstellen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Eigenschaft wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-eigenschaft-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Eigenschaften erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereich aus der Dropdown-Liste wählen, in dem die Eigenschaft verwendet werden soll.<br>
<strong>Artikel</strong> = Eigenschaft wird für Artikel verwendet.<br>
<strong>Lagerort</strong> = Eigenschaft wird für Lagerorte verwendet.<br>
<strong>Kontakt</strong> = Eigenschaft wird für Kontakte verwendet.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ der Eigenschaft aus der Dropdown-Liste wählen.<br>
<strong>Kein</strong> = Diese Option wählen, wenn Eigenschaften außerhalb der Bereiche <strong>Artikel</strong>, <strong>Lagerort</strong> und <strong>Kontakt</strong> verwendet werden sollen, wie z.B. für die Facettensuche.<br>
<strong>Ganze Zahl</strong> = Ganze Zahl eingeben.<br>
Zulässig sind 2.147.483.647 Ziffern.<br>
<strong>Kommazahl</strong> = Zahl mit Kommastellen eingeben. Zulässig sind 8 Vor- und 4 Nachkommastellen.<br>
<strong>Auswahl</strong> = Diese Option ermöglicht es, Werte einzugeben und anschließend einen dieser Werte aus einer Dropdown-Liste zu wählen.<br>
<strong>Mehrfachauswahl</strong> = Diese Option ermöglicht es, Werte einzugeben und anschließend eine oder mehrere Optionen zu wählen.<br>
<strong>Kurztext</strong> = Kurztext eingeben. Ermöglicht die Eingabe eines nicht formatierbaren Textes mit bis zu 65.535 Zeichen.<br>
<strong>Text</strong> = Text eingeben. Ermöglicht die Eingabe und Formatierung eines Textes mit bis zu 65.535 Zeichen.<br>
<strong>Datum</strong> = Diese Option wählen, um die Eingabe eines Datums oder die Wahl des Datums aus einem Kalender zu ermöglichen.<br>
<strong>Datei</strong> = Diese Option wählen, um das Hochladen einer Datei zu ermöglichen.<br>
<strong><em>Hinweis:</em></strong> Für den Bereich <strong>Lagerort</strong> stehen nur die Eigenschaftstypen <strong>Kein</strong> und <strong>Auswahl</strong> zur Verfügung.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Eigenschaft eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird der Name für die Systemsprache angezeigt. Nachdem die Eigenschaft erstellt wurde, kannst du den Namen in weiteren Sprachen speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung der Eigenschaft eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird die Beschreibung für die Systemsprache angezeigt. Nachdem die Eigenschaft erstellt wurde, kannst du die Beschreibung in weiteren Sprachen speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional eine Eigenschaftsgruppe aus der Dropdown-Liste wählen, um die Eigenschaft dieser Gruppe zuzuordnen.<br>
<strong><em>Tipp:</em></strong> Auf <strong>Eigenschaftsgruppe hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) rechts in der Zeile klicken, um eine Gruppe zu erstellen.<br>
Weitere Informationen zu Eigenschaftsgruppen findest du im Kapitel <a href="/willkommen/allgemeine-funktionen/eigenschaften#4700">Eigenschaften gruppieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer für die Eigenschaft eingeben. Standardmäßig wird aufsteigend nach Positionsnummer sortiert.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in 10er-Schritten vergeben, damit neue Eigenschaften dazwischen eingefügt werden können.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="eigenschaft-verknuepfen">2. Eigenschaft verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die Eigenschaft des jeweiligen Bereichs erstellt hast, musst du sie verknüpfen.</p>
</div>
<div class="paragraph">
<p>Wie du dazu vorgehst, ist auf den folgenden Seiten beschrieben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#4900">Eigenschaften mit der Hauptvariante verknüpfen</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/lager-einrichten#1100">Eigenschaften mit dem Lagerort verknüpfen</a></p>
</li>
<li>
<p><a href="/crm/kontakte-verwalten#970">Eigenschaften mit dem Kontakt verknüpfen</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="eigenschaft-suchen">3. Eigenschaft suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eigenschaften verwaltest du zentral im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>. Führe nach dem Öffnen des Menüs eine Suche aus, um Eigenschaften anzuzeigen. Um Eigenschaften nach bestimmten Kriterien zu suchen, gib die dir bekannten Suchbegriffe in die Filter ein. Die Dropdown-Listen helfen dir, Eigenschaften zu suchen, die bestimmte Kriterien gemeinsam haben. Du kannst beliebig viele Suchfilter miteinander kombinieren.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Filter</strong> Suchbegriffe in die Suchfelder ein bzw. stelle Filteroptionen in den Dropdown-Listen ein. Beachte dazu die Erläuterungen in <a href="#tabelle-filter-eigenschaften">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Eigenschaften, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Eigenschaft.<br>
→ Die Detailansicht der Eigenschaft wird geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-filter-eigenschaften" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Filter für die Eigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne gewählte Filtereinstellungen auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) klicken, um alle Eigenschaften anzuzeigen.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Die Suchergebnisse durch Filtereinstellungen eingrenzen und auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) klicken.<br>
→ Die gefundenen Eigenschaften werden in der Übersicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <span class="icon orange"><i class="fa fa-undo  "></i></span> werden die eingestellten Filterkriterien zurückgesetzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jede Eigenschaft erhält automatisch eine fortlaufende und einzigartige ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, um die Eigenschaft mit diesem Namen zu suchen. Es ist möglich, nur nach Teilen des Namens zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache wählen, um nur Eigenschaften anzuzeigen, für die ein Name in dieser Sprache gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppe wählen, um nur Eigenschaften anzuzeigen, die dieser Gruppe zugeordnet sind.<br>
<strong>Nicht gruppiert</strong> wählen, um nur Eigenschaften anzuzeigen, die keiner Gruppe zugeordnet sind.<br>
<strong>Gruppiert</strong> wählen, um nur Eigenschaften anzuzeigen, die einer Gruppe zugeordnet sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereich wählen, um nur Eigenschaften dieses Bereichs anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaftstyp wählen, um nur Eigenschaften dieses Typs anzuzeigen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="eigenschaft-bearbeiten">4. Eigenschaft bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> sind alle Eigenschaften, die du bisher erstellt hast, aufgelistet. Hier kannst du die in <a href="#tabelle-eigenschaft-erstellen">Tabelle 1</a> beschriebenen Einstellungen ändern.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>), um alle Eigenschaften anzuzeigen oder wähle Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Klicke auf die Eigenschaft, die du bearbeiten möchtest.<br>
→ Das Tab <strong>Allgemein</strong> wird geöffnet.</p>
</li>
<li>
<p>Bearbeite die Einstellungen. Beachte dazu die Erläuterungen in <a href="#tabelle-eigenschaft-bearbeiten">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-eigenschaft-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Eigenschaften bearbeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Allgemein</strong> &gt; Bereich <strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neue Position eingeben, um die Anzeigereihenfolge zu ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Allgemein</strong> &gt; Bereich <strong>Optionen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einheiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einheit aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Diese Option ist nur für den Bereich <strong>Artikel</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragseigenschaft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Eigenschaft im Bestellvorgang angezeigt wird.<br>
<strong><em>Hinweis:</em></strong> Diese Option ist nur für den Bereich <strong>Artikel</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>zusätzliche Kosten anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Aufpreis als zusätzliche Kosten angezeigt wird.<br>
<strong><em>Hinweis:</em></strong> Diese Option ist nur für den Bereich <strong>Artikel</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Eigenschaft zu einer Pflichteingabe wird. Pflichtfelder werden in der Detailansicht des Kontakts im Bereich <strong>Eigenschaften</strong> und im Bestellvorgang im Webshop fett markiert.<br>
<strong><em>Hinweis:</em></strong> Diese Option ist nur für den Bereich <strong>Kontakt</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellvorgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Eigenschaft im Bestellvorgang im Webshop angezeigt wird.<br>
<strong><em>Hinweis:</em></strong> Diese Option ist nur für den Bereich <strong>Kontakt</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenregistrierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Eigenschaft in der Kundenregistrierung im Webshop angezeigt wird.<br>
<strong><em>Hinweis:</em></strong> Diese Option ist nur für den Bereich <strong>Kontakt</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontaktsuche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist aktuell noch ohne Funktion. Es soll später möglich sein, nach Eigenschaften im Menü <strong>CRM » Kontakte</strong> filtern zu können.<br>
<strong><em>Hinweis:</em></strong> Diese Option ist nur für den Bereich <strong>Kontakt</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Allgemein</strong> &gt; Bereich <strong>Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>;<br>
<strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Mehrsprachigkeit Name und Beschreibung für weitere Sprachen eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Allgemein</strong> &gt; Bereich <strong>Gruppe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optionen aktivieren, um der Eigenschaft eine oder mehrere Gruppen zuzuordnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Sichtbarkeit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine, mehrere oder alle Herkünfte wählen, um die Eigenschaft für diese Herkünfte zu aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen, mehrere oder alle Mandanten wählen, um die Eigenschaft für diese Mandanten zu aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Überall anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wo die Eigenschaft angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Werte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar bei den Eigenschaftstypen <strong>Auswahl</strong> und <strong>Mehrfachauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Werte eingeben, die deinen Kunden in der Dropdown-Liste angezeigt werden sollen.<br>
Auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) klicken, um einen Wert zu erstellen.<br>
<strong>Name</strong> = Name für den Eigenschaftswert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Amazon</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verknüpfung hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaften können mit einer Amazon-Plattform, einer Amazon-Kategorie und einem Amazon-Feld verknüpft werden. Dazu muss vorab im Tab <strong>Sichtbarkeit</strong> eine Amazon-Herkunft aktiviert werden.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/maerkte/amazon/amazon-einrichten#1390">Amazon einrichten</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="eigenschaft-loeschen">5. Eigenschaft löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst entweder eine Eigenschaft oder mehrere Eigenschaften gleichzeitig löschen.</p>
</div>
<div class="sect2">
<h3 id="eine-eigenschaft-loeschen">5.1. Eine Eigenschaft löschen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Eigenschaft unwiderruflich zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Eine Eigenschaft löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>), um alle Eigenschaften anzuzeigen oder wähle Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Klicke auf die Eigenschaft, die du löschen möchtest.<br>
→ Die Eigenschaft wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaft löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die Eigenschaft wird gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="mehrere-eigenschaften-loeschen">5.2. Mehrere Eigenschaften löschen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um unwiderruflich mehrere Eigenschaften gleichzeitig zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Eigenschaften löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>), um alle Eigenschaften anzuzeigen oder wähle Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Aktiviere die Eigenschaften, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die gewählten Eigenschaften werden gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="eigenschaften-gruppieren">6. Eigenschaften gruppieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erstelle Eigenschaftsgruppen, um mehrere Eigenschaften zusammenzufassen. Gehe wie im Folgenden beschrieben vor, um eine Eigenschaftsgruppe zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaftsgruppe erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaftsgruppe hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-eigenschaftsgruppe-erstellen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Eigenschaftsgruppe wird erstellt.</p>
</li>
</ol>
</div>
<table id="tabelle-eigenschaftsgruppe-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Neue Eigenschaftsgruppe erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Eigenschaftsgruppe eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird der Name für die Systemsprache angezeigt. Nachdem die Eigenschaftsgruppe erstellt wurde, kannst du den Namen in weiteren Sprachen speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung für die Eigenschaftsgruppe eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird die Beschreibung für die Systemsprache angezeigt. Nachdem die Eigenschaftsgruppe erstellt wurde, kannst du die Beschreibung in weiteren Sprachen speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer für die Eigenschaftsgruppe eingeben. Standardmäßig wird aufsteigend nach Positionsnummer sortiert.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in 10er-Schritten vergeben, damit neue Eigenschaftsgruppen dazwischen eingefügt werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppentyp aus der Dropdown-Liste wählen.<br>
<strong>Keine</strong> = Eigenschaften werden standardmäßig nicht gruppiert.<br>
<strong>Select</strong> = Eine der gruppierten Eigenschaften ist per Dropdown-Liste wählbar.<br>
<strong>Multiselect</strong> = Mehrere Eigenschaften sind wählbar.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufpreistyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufpreistyp aus der Dropdown-Liste wählen.<br>
<strong>Pauschal</strong> = Aufpreis wird als pauschaler Betrag eingegeben.<br>
<strong>Prozent</strong> = Aufpreis wird als Prozentwert eingegeben.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="eigenschaft-gruppe-zuordnen">6.1. Eigenschaft einer Gruppe zuordnen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine oder mehrere Eigenschaften einer Eigenschaftsgruppe zuzuordnen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft einer Gruppe zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>), um alle Eigenschaften anzuzeigen oder wähle Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Aktiviere die Eigenschaften, die du der Gruppe zuordnen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaftsgruppe zuordnen</strong> (<span class="icon "><i class="psicon-settings_transfer"></i></span>).<br>
→ Eine Dropdown-Liste der verfügbaren Eigenschaftsgruppen wird angezeigt.</p>
</li>
<li>
<p>Wähle die Eigenschaftsgruppe aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong> (<span class="icon "><i class="psicon-excecute"></i></span>).<br>
→ Die Liste wird neu geladen und die gewählten Eigenschaften werden der Eigenschaftsgruppe zugeordnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="mehrere-sprachen-eigenschaftsgruppe">6.2. Mehrere Sprachen zu einer Eigenschaftsgruppe hinzufügen</h3>
<div class="paragraph">
<p>Zu Eigenschaftsgruppen können mehrere Sprachen hinzugefügt werden.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Sprachen zu einer Eigenschaftsgruppe hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle eine Eigenschaftsgruppe.<br>
→ Die Übersicht wird geöffnet und alle zur Auswahl vorhandenen Sprachen werden angezeigt.</p>
</li>
<li>
<p>Wähle eine Sprache.</p>
</li>
<li>
<p>Gib den Namen der Sprache ein.</p>
</li>
<li>
<p>Gib die Beschreibung für die Sprache ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Sprache wird zu der Eigenschaftsgruppe hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="eigenschaftsgruppen-loeschen">7. Eigenschaftsgruppen löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst entweder eine Eigenschaftsgruppe oder mehrere Eigenschaftsgruppen gleichzeitig löschen. Die Eigenschaften, die den Gruppen zugeordnet sind, bleiben beim Löschen von Eigenschaftsgruppen erhalten.</p>
</div>
<div class="sect2">
<h3 id="eine-eigenschaftsgruppe-loeschen">7.1. Eine Eigenschaftsgruppe löschen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Eigenschaftsgruppe unwiderruflich zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Eine Eigenschaftsgruppe löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>), um alle Eigenschaften anzuzeigen oder wähle Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Klicke auf die Eigenschaftsgruppe, die du löschen möchtest.<br>
→ Die Eigenschaftsgruppe wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppe löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die Eigenschaftsgruppe wird gelöscht und aus der Übersicht entfernt.<br>
<strong><em>Hinweis:</em></strong> Wenn du eine Eigenschaftsgruppe löschst, werden die Eigenschaften, die der Gruppe zugeordnet sind, nicht gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="mehrere-eigenschaftsgruppen-loeschen">7.2. Mehrere Eigenschaftsgruppen löschen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um mehrere Eigenschaftsgruppen gleichzeitig unwiderruflich zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Eigenschaftsgruppen löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>), um alle Eigenschaften anzuzeigen oder wähle Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Aktiviere die Eigenschaftsgruppen, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die gewählten Eigenschaftsgruppen werden gelöscht und aus der Übersicht entfernt.<br>
<strong><em>Hinweis:</em></strong> Wenn du eine Eigenschaftsgruppe löschst, werden die Eigenschaften, die der Gruppe zugeordnet sind, nicht gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="eigenschaften-importieren">8. Eigenschaften importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit ElasticSync und dem Sync-Typ <strong>Eigenschaften</strong> kannst du Eigenschaften in dein plentymarkets System importieren. Welche Felder du für den Abgleich und die Zuordnung verwenden kannst, ist auf der Handbuchseite des Sync-Typs <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">Eigenschaften</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Allgemeine Informationen zum Importieren von Daten in dein plentymarkets System findest du auf der Handbuchseite <a href="/daten/daten-importieren/ElasticSync">ElasticSync</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="eigenschaften-exportieren">9. Eigenschaften exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem FormatDesigner und dem Format-Typ <strong>Eigenschaften</strong> kannst du die Eigenschaften exportieren. Weitere Informationen findest du auf der Handbuchseite des Format-Typs <a href="/daten/daten-exportieren/FormatDesigner/format-typen/eigenschaften">Eigenschaften</a>.</p>
</div>
<div class="paragraph">
<p>Allgemeine Informationen zum Exportieren von Daten aus deinem plentymarkets System findest du auf der Handbuchseite <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a>.</p>
</div>
</div>
</div>
</main>