<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Voraussetzung: Nötige Benutzerrechte</span></a></li>
<li><a href="#100"><span>2.</span><span> Tags erstellen und bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>2.1.</span><span> Neue Tags erstellen</span></a></li>
<li><a href="#300"><span>2.2.</span><span> Bestehende Tags suchen und bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#400"><span>3.</span><span> Tags verknüpfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Tags sind Schlagworte, mit denen du Datensätze in plentymarkets hervorheben kannst.
Tags sind vielseitig einsetzbar. Beispielsweise helfen dir Tags:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>den Überblick über große Datenmengen im Backend zu behalten.
Das heißt, du markierst spezifische Kunden, Varianten, Kategorien, Nachrichten usw.</p>
</li>
<li>
<p>Produkte im Frontend hervorzuheben.
Das heißt, du versiehst spezifische Varianten mit Schlagworten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im Wesentlichen besteht der Ablauf aus nur zwei Schritten.
Erstens, <a href="/willkommen/allgemeine-funktionen/tags#100">erstelle die Tags</a>.
Zweitens, <a href="/willkommen/allgemeine-funktionen/tags#400">verknüpfe die Tags</a> mit den passenden Datensätzen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. Voraussetzung: Nötige Benutzerrechte</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Benutzer:innen vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs in plentymarkets. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit <strong>Backend</strong>-Zugang mit Tags arbeiten können, muss eine Person mit <strong>Admin</strong>-Zugang ihnen die nötigen Rechte vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerrechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Berechtigungen</strong> die Berechtigungen anhand von <a href="#table-tags-rights-back-end-user">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-tags-rights-back-end-user" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Benutzerrechte vergeben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, bestehende Tags zu bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, Tags im plentymarkets System zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, neue Tags zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, Tags zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Tag-Verknüpfung &gt; Aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, bestehende Tag-Verknüpfungen zu bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Tag-Verknüpfung &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, Tag-Verknüpfungen im plentymarkets System zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Tag-Verknüpfung &gt; Erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, neue Tag-Verknüpfungen zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Tag-Verknüpfung &gt; Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, Tag-Verknüpfungen zu löschen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">2. Tags erstellen und bearbeiten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="200">2.1. Neue Tags erstellen</h3>
<div class="paragraph">
<p>Erstelle zunächst die Tags, die du für deine Produkte, Kunden, Aufträge, Tickets usw. verwenden möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Neues Tag erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Tag erstellen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Rechts wird ein Fenster geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-tag-settings">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Tag wird erstellt und der Liste hinzugefügt.</p>
</li>
</ol>
</div>
<table id="table-tag-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Tag erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Tag-ID wird automatisch vergeben und ist nicht änderbar.
Sie dient zur eindeutigen Kennzeichnung deiner Tags.</p>
<p class="tableblock"><strong><em>Anwendungsfall</em></strong>: Tag-Verknüpfungen können importiert werden.
Während du also z.B. Artikel- und Variantendaten importierst, kannst du die passenden Tags auch direkt verknüpfen.
Dies geschieht z.B. durch Angabe der Tag-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name DE</strong><br>
<span class="red">(Pflichtfeld)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für das Tag ein.
Der Name ist das Schlagwort, das den Datensatz hervorhebt.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Der Name darf Leerzeichen enthalten, d.h. er kann aus mehreren Wörtern bestehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Hintergrundfarbe soll der Tag-Text haben?
Es gibt drei Möglichkeiten, die Farbe zu wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gib die Farbe als Hexadezimalwert ein.</p>
</li>
<li>
<p>Gib die englische Bezeichnung einer der 16 Grundfarben ein (black, red, silver, white etc.)<br></p>
</li>
<li>
<p>Klicke auf das Quadrat rechts und wähle die Farbe.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-bereich">Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Arten von Datensätzen wirst du mit diesem Tag verknüpfen?
Wähle alle zutreffenden Bereiche (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich</th>
<th class="tableblock halign-left valign-top">Anwendungsbeispiel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Board</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Aufgabenkarten auf Boards markieren?
Beispielsweise könntest du angeben, dass manche Aufgaben eine hohe oder niedrige Priorität haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Kategorien im Backend markieren?
Beispielsweise könntest du angeben, dass eine Kategorie nur für saisonale Angebote verwendet werden soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Kategorie-Tags sind für Kunden im Webshop <em>nicht sichtbar</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Tickets im Ticketsystem markieren?
Beispielsweise könntest du angeben, dass sich das Ticket auf einen bestimmten Verkaufskanal wie Amazon oder eBay bezieht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Kontakte markieren?
Beispielsweise könntest du die vom Kunden bevorzugte Kommunikationsmethode angeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Varianten markieren?
Wenn du z.B. Leitern verkaufst, könntest du angeben, dass einige Leitern TÜV-zertifiziert sind.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Varianten-Tags können für Kunden im Webshop <em>sichtbar</em> gemacht werden.
<a href="/willkommen/allgemeine-funktionen/tags#intable-mandant">Wähle dazu den entsprechenden Mandanten</a> weiter unten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags können derzeit für diesen Bereich erstellt werden, aber noch nicht mit Aufträgen verknüpft werden.
Diese Option ist daher zur Zeit ohne Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachrichten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Nachrichten im Messenger markieren?
Beispielsweise könntest du angeben, dass sich die Nachricht auf einen bestimmten Vertriebskanal wie Amazon oder eBay bezieht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachrichten (kostenpflichtig)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schreibst du manchmal auch kostenpflichtige Nachrichten im Messenger?
Sollen also die Minuten, die beim Schreiben der Nachricht verstrichen sind, in Rechnung gestellt werden?</p>
<p class="tableblock">Beim Schreiben einer kostenpflichtigen Nachricht musst du mindestens ein Tag dieses Bereichs auswählen.
Andernfalls wird die Nachricht nicht erstellt werden können.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-mandant">Mandant</strong><br>
(ab plentyShop LTS wirksam)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welchen Webshops soll das Tag für Kunden sichtbar sein?
Wähle alle zutreffenden Webshops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Option wird nur angezeigt, wenn du oben <a href="/willkommen/allgemeine-funktionen/tags#intable-bereich">den Bereich Variante ausgewählt</a> hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong><br>
<strong>Name FR</strong><br>
<strong>Name IT</strong><br>
usw.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Übersetze den Tag-Namen in weitere Sprachen.</p>
<p class="tableblock"><strong><em>Anwendungsbeispiel</em></strong>: Varianten-Tags können für Kunden im Webshop sichtbar gemacht werden.
Wenn dein Webshop in mehreren Sprachen verfügbar ist, dann sollten auch die Tag-Namen in diesen Sprachen erscheinen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">2.2. Bestehende Tags suchen und bearbeiten</h3>
<div class="paragraph">
<p>Du kannst jederzeit nach bestehenden Tags suchen und deren Einstellungen nochmals anpassen.</p>
</div>
<div class="paragraph instruction">
<p>Tags suchen und öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Wähle einen oder mehrere Filter links. Beachte dazu die Erläuterungen in <a href="#table-tag-filter">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die entsprechenden Tags werden mittig angezeigt.
Die Tags sind alphabetisch sortiert.</p>
</li>
<li>
<p>Klicke auf ein Tag, um es zu öffnen.<br>
→ <a href="/willkommen/allgemeine-funktionen/tags#200">Die Einstellungen</a> können rechts nochmals angepasst werden.</p>
</li>
</ol>
</div>
<table id="table-tag-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Tag-Filter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche nach dem Tag anhand seines Namens.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Tag-Namen können in mehreren Sprachen gespeichert werden.
Du kannst jedoch nur nach den Namen in der Hauptsprache deines plentymarkets Systems suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen oder mehrere Bereiche (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
Die Suchergebnisse enthalten nur Tags, die für diesen Bereich aktiviert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine oder mehrere Sprachen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
Die Suchergebnisse enthalten nur Tags, die einen Namen in dieser Sprache haben.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Tags verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du deine Tags erstellt hast, kannst du sie mit Datensätzen verknüpfen.</p>
</div>
<table id="table-link-tags" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Tags verknüpfen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tag-Bereich</th>
<th class="tableblock halign-left valign-top">Wie werden solche Tags verknüpft?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Board</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/willkommen/system-personalisieren#380">Tags werden manuell mit Aufgabenkarten auf Boards verknüpft</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/kategorien#700">Tags werden manuell mit Kategorien im Backend verknüpft</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ticket</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/crm/ticketsystem-nutzen#1800">Tags werden manuell mit Tickets im Ticketsystem verknüpft</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/crm/kontakte-verwalten#300">Tags werden manuell mit Kontakten verknüpft</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variante</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#268">Tags können manuell mit Varianten verknüpft werden</a>.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2290">Tag-Verknüpfungen können importiert werden</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachrichten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/crm/messenger#nachricht-erstellen">Tags werden manuell mit Nachrichten im Messenger verknüpft</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachricht (kostenpflichtig)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/crm/messenger#nachricht-erstellen">Tags werden manuell mit kostenpflichtigen Nachrichten im Messenger verknüpft</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>