<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> How do I link a characteristic to a Kaufland.de attribute?</span></a></li>
<li><a href="#200"><span>2.</span><span> How do I add an attribute to the product.csv?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best practice: Linking characteristics to attributes</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
14/4/2021: real.de becomes Kaufland.de
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In order to list items on Kaufland.de successfully, plentymarkets transfers two files. One file contains the product data (product.csv) and the other file contains the offer data (inventory.csv). The product.csv is used to list the item. The inventory.csv is used to create the offer. Therefore, this file only contains information about price, stock, and shipping.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. How do I link a characteristic to a Kaufland.de attribute?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For various reasons, it might be useful to add specific attributes to the product data file. One reason is to provide the buyer with additional information about the item (material, colour etc.). Another reason is to transfer mandatory information which is required by law for specific products (danger notices, nutrition declarations etc.).</p>
</div>
<div class="paragraph">
<p>You can add this information by adding characteristics to the product data file. A new column is added to the product.csv for each characteristic that is linked to <a href="https://www.Kaufland.de/" target="_blank" rel="noopener">Kaufland.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br>
<strong><em>Note:</em></strong> This procedure only works for the product.csv, but not for the inventory.csv.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. How do I add an attribute to the product.csv?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First of all, you have to find out the exact name of the column in the product data file. An overview of the attributes is provided on <a href="https://www.Kaufland.de/versandpartner/download-bereich/" target="_blank" rel="noopener">Kaufland.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p>For example, if you want to add the attribute "material composition" to the file, the corresponding characteristic must be named "material_composition".
Create the new characteristic in plentymarkets in the <strong>Setup » Item » Characteristics</strong> menu. The new characteristic will then appear in the CSV file. The characteristic must have the exact same name as the corresponding Kaufland.de attribute. In addition, you have to link the characteristic to Kaufland.de.</p>
</div>
<div id="attributename" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-real-linking-properties.png" alt="bp real linking properties">
</div>
<div class="title">Figure 1. Kaufland attribute name</div>
</div>
<div id="marketplacelink" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-real-marketlink.png" alt="bp real marketlink">
</div>
<div class="title">Figure 2. link to Kaufland</div>
</div>
<div class="paragraph">
<p>Add the characteristic to the item and enter the corresponding value. The information will then be displayed in the file.</p>
</div>
<div id="itemlink" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-real-item-link.png" alt="bp real item link">
</div>
<div class="title">Figure 3. Linking the characteristic to the item</div>
</div>
<div class="paragraph">
<p>A new column is added to the product.csv afterwards.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> If two characteristics have the same name, then the characteristic with the lower ID will be overwritten. This way you can overwrite attributes which already exist by default (EAN, name etc.).</p>
</div>
</div>
</div>
</main>