<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Kaufland.de</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Kaufland.de in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#225"><span>2.1.</span><span> Deemed Supplier Model</span></a></li>
</ul>
</li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Optional: Saving SKU</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#450"><span>7.</span><span> Defining the barcode</span></a></li>
<li><a href="#_preparing_variations"><span>8.</span><span> Preparing variations</span></a></li>
<li><a href="#500"><span>9.</span><span> Activating characteristics for the market</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>9.1.</span><span> Linking plentymarkets characteristics with Kaufland.de attributes</span></a></li>
</ul>
</li>
<li><a href="#600"><span>10.</span><span> Linking categories</span></a></li>
<li><a href="#800"><span>11.</span><span> Activating the payment method</span></a></li>
<li><a href="#850"><span>12.</span><span> Editing the invoice</span></a>
<ul class="sectlevel2">
<li><a href="#860"><span>12.1.</span><span> Entering a note for the payment method Kaufland.de Payment</span></a></li>
<li><a href="#870"><span>12.2.</span><span> Hiding bank details on Kaufland.de invoices</span></a></li>
</ul>
</li>
<li><a href="#890"><span>13.</span><span> Automatically creating invoices</span></a></li>
<li><a href="#895"><span>14.</span><span> Automatically uploading invoices</span></a></li>
<li><a href="#900"><span>15.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#1000"><span>16.</span><span> Viewing the log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up Kaufland.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.Kaufland.de/" target="_blank" rel="noopener">Kaufland.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is one of the largest fixed price markets in Germany. You can sell items from various product categories on Kaufland.de. Kaufland.de also processes payments for you. In other words, you are neither charged with payment costs nor do you have to worry about debt collection.<br></p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Kaufland.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use the Kaufland.de interface, you have to register your Kaufland.de user account as a seller account. To do so, go to the <a href="https://www.Kaufland.de/seller/new/" target="_blank" rel="noopener">Kaufland.de website</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and save your VAT number in the <strong>Mein Konto</strong> (My account) area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Kaufland.de in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up Kaufland.de in plentymarkets to offer items on Kaufland.de. In order to set up Kaufland.de in plentymarkets, you need your Kaufland.de interface access data. You can set up a Kaufland.de account for each plentyShop or client (store).</p>
</div>
<div class="paragraph instruction">
<p>Setting up the access to Kaufland.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kaufland.de » Settings</strong>.</p>
</li>
<li>
<p>Open the submenu of the plentyShop that you would like to set up access for.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#kaufland-de-settings">Table 1</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="kaufland-de-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the market Kaufland.de</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate interface to Kaufland.de</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Activate the interface to Kaufland.de.<br></p>
</li>
<li>
<p><strong>No</strong> = Do not activate the interface to Kaufland.de.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">API data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Key</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the client key that you received from Kaufland.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secret Key</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the secret key that you received from Kaufland.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This setting applies to the order import. Orders are imported either as paid or not paid. Regardless of this setting, items will immediately be cleared for shipping when they have sufficient stock. With the option <strong>open</strong>, you could also set the order to paid when the actual incoming payment from Kaufland.de is received. In this way, Kaufland.de can be tested.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match shipping service providers</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>After the shipment has been confirmed, this option allows Kaufland.de to use the package number in order to send the customer an email with the correct tracking link.<br>
<strong><em>Important:</em></strong> You have to assign each of your service providers to one of the service providers from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate item export</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the item export to Kaufland.de should be activated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export only items with flags</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>All items</strong> = All items are exported.</p>
</li>
<li>
<p><strong>All items with flag 1</strong> or <strong>2</strong> = Only items with this flag are exported.<br></p>
</li>
<li>
<p><strong>All items without flag 1</strong> or <strong>2</strong> = Only items without this flag are exported.<br></p>
</li>
<li>
<p>Select one particular flag = Only items with this flag are exported.<br>
This setting applies to item data and order data.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy efficiency label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the position of the energy efficiency label. Every image that should be transferred as an energy efficiency label must have this position.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add technical data to the item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the technical data saved in the <strong>Texts</strong> tab of an item should be added to the item description for Kaufland.de. <strong>Yes</strong> is selected by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate item file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option creates an item file. This file can be viewed via <strong>Item file preview</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item file preview</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Display the item file preview.<br>
<strong><em>Note:</em></strong> If you have not fully set up the interface to Kaufland.de but want to take a look at the item file preview, then you have to activate the interface temporarily. Otherwise, the item file preview will be empty. In order to view the item file preview when the interface is not active, activate the interface and click on <strong>Item file preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>). Deactivate the interface immediately afterwards by selecting the option <strong>No</strong> for the <strong>Activate interface to Kaufland.de</strong> setting and saving the setting. This way, you can prevent items from being transferred too soon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send item file to Kaufland.de</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Send the item file to Kaufland.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Offer settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate offer update</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> (default setting) = Offers are updated once per hour and once per day at Kaufland.de. Only if both this option and the option <strong>Activate interface to Kaufland.de</strong> are activated, the daily complete offer update and the hourly update for offers that were changed is executed.<br></p>
</li>
<li>
<p><strong>No</strong> = The offer update is deactivated.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file (Inventory)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Yes</strong> or <strong>No</strong>.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Stock is saved in the cache on a daily basis. <br></p>
</li>
<li>
<p><strong>No</strong> = Stock is not saved in the cache.<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> We recommend using the option <strong>Yes</strong> because bigger stock changes may result in errors.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item quantity for items that are not limited to stock</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Items for which <strong>no limitation</strong> has been selected in the <a href="/en/stock-management/managing-stocks">Stock tab</a> of an item are offered on Kaufland.de with the quantity entered here. As soon as an item has been sold, the quantity saved here is newly transmitted for sale at the next full hour.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a sales price for the minimum price to set up repricing (Tiefpreisautomatik) for Kaufland.de.<br>
If other sellers offer the same product, your price is automatically reduced. Your price plus shipping is then always once cent cheaper than the prices of your competitors. As such, the minimum price is the lowest price that can be used to undercut the competition.<br>
<strong><em>Note:</em></strong> For the minimum price, select a different price from the normal sales price that you <a href="#400">set for Kaufland.de</a>. The referrer Kaufland.de must be activated for the sales price that you select as the minimum price.<br>
Activate the repricing by linking the sales price that you selected as the minimum price with the variation and entering the lowest possible price.<br>
<strong><em>Important:</em></strong> The minimum price does not apply to item variations which have surcharges for attributes. In this case, <strong>deactivate</strong> this option. If you would like to use the minimum price, then create each variation as a separate item with a defined minimum price.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comments on items</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Set up <strong>free text fields</strong> for item comments here or assign this function to the <strong>Global item comment</strong> field.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Global item comment</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter text. The entered text is displayed with every offer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Linking shipping profiles</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option enables you to link the Kaufland.de shipping groups to the plentymarkets shipping profiles. If an item has more than one shipping profile, the shipping profile with the lowest category and the highest priority is exported. The category and the priority of a shipping profile are configured within <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong> in the <strong>Base</strong> tab of each shipping profile.<br>
<strong><em>Important:</em></strong> If the shipping groups are changed on Kaufland.de, you can update them by clicking on <strong>Update shipping groups</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-linking-warehouse">Linking warehouses</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Warehouses located outside the EU have to be linked with a Kaufland.de warehouse. Use the setting <strong>Linking warehouses</strong> for this. Here, all of your warehouses of the type <strong>Sales</strong> are listed. Select your warehouses and link each of them to the correspondent Kaufland.de warehouse. This way, the stock of your warehouses is linked to the Kaufland.de warehouses. This setting is not relevant if your warehouses are within the EU.<br>
<strong>–</strong> = The warehouse is linked to the Kaufland.de default warehouse.<br>
<strong>Do not export</strong> = The stock of this warehouse is not transmitted to Kaufland.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export item availabilities</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether item availabilities should be transferred to Kaufland.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match item availabilities</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Match plentymarkets item availabilities with a minimum and maximum delivery time in working days.<br>
Enter the minimum and maximum delivery time in working days into the <strong>Minimum delivery time (in working days)</strong> and <strong>Maximum delivery time (in working days)</strong> fields that match the plentymarkets item availability.<br>
<strong><em>Note:</em></strong> Kaufland specifies Monday to Friday as working days.<br>
The plentymarkets availability IDs 1-10 correspond to the item availabilities defined in the <strong>Setup » Item » Availability</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate offer file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option creates an offer file. This file can be viewed via <strong>Preview offer file</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview offer file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Display the offer file preview.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send offer file to Kaufland.de</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Send the offer file to Kaufland.de.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Setting up Kaufland.de in plentymarkets allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly stock and price synchronisation</p>
</li>
<li>
<p>daily item export (only for items which have been changed within the last 26 hours)</p>
</li>
<li>
<p>order import every 15 minutes</p>
</li>
<li>
<p>hourly transfer of the flag <strong>Sent</strong> to Kaufland.de<br>
→ <strong>Sent</strong> is transferred after the outgoing items have been booked.</p>
</li>
<li>
<p>export of surcharges for attribute values (item variations)</p>
</li>
<li>
<p>transfer of the description text saved in the <strong>Texts</strong> tab</p>
</li>
<li>
<p>transfer of the technical data selected in table 1</p>
</li>
<li>
<p>image export selected in the item’s <strong>Images</strong> tab</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="225">2.1. Deemed Supplier Model</h3>
<div class="paragraph">
<p>On 01/07/2021, the new EU Digital Package came into force. This package results in changes to the regulations regarding VAT in EU countries. Due to these legal changes, Kaufland.de becomes a deemed supplier and is thus partially liable for VAT. Kaufland.de has reacted to this by introducing the <strong>Deemed Supplier</strong> model. The model is based on the location of the company, the location of warehouses and the value of a delivery. As such, the model is relevant for the following types of deliveries:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Deliveries sent from a location in the EU to a customer in the EU, even if the seller is not located in the EU.</p>
</li>
<li>
<p>Deliveries sent from a location outside the EU to a customer in the EU if the value of the delivery does not exceed € 150.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Some special rules for order processing and invoice creation apply for orders covered by the Deemed Supplier model:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>During the import of Kaufland.de orders to your plentymarkets system, an automatic check determines if these orders are covered by the Deemed Supplier model. Information about these orders are provided to you by Kaufland.de via the seller portal, CSV reports and via the API.</p>
</li>
<li>
<p>In cases where not all order items of an order are subject to the model, the order is split. Both orders get an individual order ID and are simultaneously imported into your plentymarkets system. This ensures that the handling of individual orders and order items can proceed correctly.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Important</em></strong>: Kaufland.de is obliged to withhold and pay VAT for Deemed Supplier orders. As such, Kaufland.de issues invoices for these orders. As a result, you cannot create invoices for these orders.</p>
</div>
<div class="paragraph">
<p>Also note the required <a href="/en/markets/kaufland-de/kaufland-setup#intable-linking-warehouse">warehouse settings</a> for warehouses outside of the EU. If items are delivered from outside the EU, the corresponding warehouses have to be linked to Kaufland.de warehouses. You do this via the setting <strong>Linking warehouses</strong> in the <strong>Setup » Markets » Kaufland.de » Settings</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Pay attention to warehouse linking for Kaufland.de</div>
<div class="paragraph">
<p>When updating offers, pay attention to linked warehouses for Kaufland.de.<br>
It is not possible to assign more than one Kaufland.de warehouse to an offer on Kaufland.de. If the warehouses of a variation in plentymarkets are assigned to different warehouses on Kaufland.de, only the stock of one of those plentymarkets warehouses will be exported to Kaufland.de. Ideally, you should assign the warehouses of one variation in plentymarkets to the same warehouse on Kaufland.de. Then the sum of all plentymarkets warehouses will be shown on Kaufland.de.<br>
Warehouses can be linked with the <strong>Linking warehouses</strong> setting in the  <strong>Setup » Markets » Kaufland.de » Settings » [Select client]</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Kaufland.de. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Kaufland.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not group Kaufland.de orders</div>
<div class="paragraph">
<p>During the order import, Kaufland.de orders are synchronised by the external order number. However, because the external order number does not exist any longer in a grouped order, grouping orders might result in orders being created anew when they are retrieved again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on Kaufland.de. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for Kaufland.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The tab <strong>Settings</strong> of the variation is shown.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Kaufland.de, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The variation is available for Kaufland.de.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Kaufland.de using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Kaufland.de using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
<hr>
</div>
</div><div class="sect1">
<h2 id="350">5. <em>Optional:</em> Saving SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SKU are generated automatically when your variations are exported. However, you can also save market specific SKU for variations that you want to sell on this market instead.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-adding-an-sku-tab" data-toggle="tab" href="#manually-adding-an-sku" role="tab" aria-controls="manually-adding-an-sku" aria-selected="true">Manually adding an SKU</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="importing-sku-tab" data-toggle="tab" href="#importing-sku" role="tab" aria-controls="importing-sku" aria-selected="false">Importing SKU</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually-adding-an-sku" role="tabpanel" aria-labelledby="manually-adding-an-sku-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Kaufland.de</strong>.<br></p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="importing-sku" role="tabpanel" aria-labelledby="importing-sku-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Only the most important settings for the import are described here. Is this your first time working with the import tool? Then get familiar with <a href="/en/data/importing-data/ElasticSync">how data imports work in plentymarkets first</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a CSV file with at least the columns described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
<li>
<p>Create an import with the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Select the type <strong>Item</strong>.</p>
</li>
<li>
<p>Select the matching field <strong>Variation ID</strong>.</p>
</li>
<li>
<p>Map the plentymarkets data fields as described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Recommended columns of the import file</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column in CSV file</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">plentymarkets data field for mapping</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variation ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the variation ID in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Variation ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Market ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the referrer ID <strong>102</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Account ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the plenty ID of the client in this column.<br>
<strong><em>Tip:</em></strong> To find the plenty ID go to<br>
<strong>Setup » Client » [Select client] » Settings » Option: Plenty ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Account ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SKU</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the SKU that you want to save for the variation for this market in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>SKU</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
<hr>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on Kaufland.de, you need a sales price in which the order referrer Kaufland.de is activated. The price that you save for this sales price is the price that will be shown on Kaufland.de.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Kaufland.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Defining the barcode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a barcode for the order referrer Kaufland.de. This barcode is transferred to Kaufland.de for the variation.</p>
</div>
<div class="paragraph instruction">
<p>Defining a barcode for Kaufland.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Barcode</strong>.</p>
</li>
<li>
<p>Open the barcode.</p>
</li>
<li>
<p>Activate the referrer <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Afterwards, <a href="/en/item/settings/barcodes#300">link</a> the barcode with the desired variations if you have not done so.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_preparing_variations">8. Preparing variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kaufland.de specifies some mandatory information. That means that a variation only can be exported to the market if this mandatory information is saved for the variation. For a functioning export to Kaufland.de, the variation has to conform with the following requirements:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A <strong>EAN</strong> or an <strong>ISBN</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If the information listed above is not saved, the variation is not exported.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">9. Activating characteristics for the market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To use <a href="/en/item/edit-item#480">characteristics</a> for Kaufland.de, each characteristic must be activated for the market.</p>
</div>
<div class="paragraph instruction">
<p>Activating characteristic for the market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand the characteristic (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Activate the option <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
<li>
<p>Repeat this for all characteristics that you need for the market.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="550">9.1. Linking plentymarkets characteristics with Kaufland.de attributes</h3>
<div class="paragraph">
<p>It is possible to overwrite attributes with plentymarkets characteristics or to add Kaufland.de attributes.<br>
<strong><em>Important:</em></strong> In order for the plentymarkets characteristics to be correctly assigned during the Kaufland.de export, the internal name of the plentymarkets characteristic must be the same as the column header in the Kaufland.de Product.csv file.<br>
The Kaufland.de attributes EAN, title, description, manufacturer and picture are mandatory entries for the item export. These attributes are transferred by plentymarkets by default. These attributes can only be overwritten by an attribute. Other attributes, such as "material_composition", "clothing_size" or "weight" can be added if a corresponding characteristic is created in plentymarkets.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Mandatory entries for the item export</div>
<div class="paragraph">
<p>The Kaufland.de attributes <strong>ean</strong>, <strong>title</strong>, <strong>description</strong>, <strong>manufacturer</strong> and <strong>picture</strong> are mandatory entries for the item export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a characteristic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter the name of the Kaufland.de attribute into the <strong>Name (internal)</strong> field.<br>
→ The entered name is displayed in the item data record when linking characteristics.</p>
</li>
<li>
<p>Enter a name in the <strong>Webshop</strong> field. <br>
→ This name is used in the item overview of the plentyShop.</p>
</li>
<li>
<p>Select the <strong>Characteristic type</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Kaufland.de</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about linking characteristics with Kaufland.de, refer to the <a href="/en/markets/kaufland-de/best-practices-kaufland-linking-characteristics">Linking characteristics to attributes</a> best practice page.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">10. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your plentymarkets categories to the Kaufland.de categories in order to display your items in these categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kaufland.de » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The <strong>Select category</strong> window opens.</p>
</li>
<li>
<p>Select the Kaufland.de category that best matches your plentymarkets category.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The ID and category path of the Kaufland.de category are displayed.</p>
</li>
<li>
<p>If you already know the ID of the Kaufland.de category, enter it directly into the <strong>Market category field</strong> to link it to your plentymarkets category.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Subcategories do not have to be linked</div>
<div class="paragraph">
<p>In some cases, your subcategories may not match the Kaufland.de subcategories. In such cases, link your items with Kaufland.de’s corresponding main category. Kaufland.de automatically assigns your items to a subcategory. You should not transfer items to Kaufland.de that have not been assigned to a Kaufland.de category.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="800">11. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as an active account for Kaufland.de exists, the payment method <strong>Kaufland.de Payment</strong> is automatically available in your plentymarkets system. No separate configurations are needed for this. You just need to permit the payment method in one or more customer classes.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>For the setting <strong>Permitted payment methods</strong>, activate the option Kaufland.de Payment.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="850">12. Editing the invoice</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to modify the invoices for Kaufland.de. Two adjustments have to be made:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter a note for the payment method <a href="#800">Kaufland.de Payment</a>.</p>
</li>
<li>
<p>Your bank details must not appear on invoices for Kaufland.de.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How to carry out these adjustments is described below.</p>
</div>
<div class="sect2">
<h3 id="860">12.1. Entering a note for the payment method Kaufland.de Payment</h3>
<div class="paragraph">
<p>The following note must appear on Kaufland.de invoices:</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note for Kaufland.de invoices</div>
<div class="literalblock">
<div class="content">
<pre>Achtung! Bitte veranlassen Sie keine Zahlungen auf unser Konto. Die Bezahlung erfolgt an die real,- Digital Payment &amp; Technology Services GmbH. Sollten Sie per Klarna bezahlt haben, erhalten Sie eine separate Zahlungsanweisung von Klarna. Für weitere Informationen zu Klarna besuchen Sie link:https://www.klarna.com/de/[www.klarna.de^]{nbsp}icon:external-link[].</pre>
</div>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Entering a note for the payment method Kaufland.de Payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: Template</strong>.</p>
</li>
<li>
<p>In the <strong>Optional elements below stock unit table</strong> area, enter the note given above for the <strong>Payment instruction</strong> option for the payment method <strong>Kaufland.de Payment</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The note only appears on the invoices for orders with the payment method <strong>Kaufland.de Payment</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="870">12.2. Hiding bank details on Kaufland.de invoices</h3>
<div class="paragraph">
<p>The payment is processed by Kaufland.de. To prevent customers from paying money directly to you, do not enter bank details on invoices for Kaufland.de.<br></p>
</div>
<div class="paragraph">
<p>If you use a <a href="/en/orders/order-documents#1700">PDF template</a> to display your bank details on an invoice, then create another PDF template for Kaufland.de that does not contain bank details. You can also save the Kaufland.de logo for this PDF template. To save this PDF template for the payment method <strong>Kaufland.de Payment</strong>, go to <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: PDF template</strong>. Your bank details are not displayed on invoices for Kaufland.de.</p>
</div>
<div id="image-kaufland-logo" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/kaufland_logo.png" alt="kaufland logo">
</div>
<div class="title">Figure 1. Kaufland.de logo</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying bank details with payment instructions</div>
<div class="paragraph">
<p>If you entered your bank details in the <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: Template</strong> menu for the <strong>Payment instruction</strong> option, then you do not need to carry out any further settings. If you use this method, your bank details are not displayed on Kaufland.de invoices.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="890">13. Automatically creating invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically create invoices for Kaufland.de.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct <strong>Name</strong> for the event procedure.</p>
</li>
<li>
<p>Select the <strong>Event</strong> according to <a href="#event-procedure-invoices-kaufland">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the further settings according to <a href="#event-procedure-invoices-kaufland">Table 3</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to be processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Status and filters for the event procedure</div>
<div class="paragraph">
<p>The status and filters listed in <a href="#creating-invoices-kaufland">[creating-invoices-kaufland]</a> only serve as an example for creating an event procedure. Select filters and statuses for the event procedure which best suit your workflow.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="event-procedure-invoices-kaufland" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically creating invoices for Kaufland.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [7] Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kaufland.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents &gt; Generate invoice</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="895">14. Automatically uploading invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically upload invoices to Kaufland.de.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct <strong>Name</strong> for the event procedure.</p>
</li>
<li>
<p>Select the <strong>Event</strong> according to <a href="#event-procedure-invoice-upload-kaufland">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the further settings according to <a href="#event-procedure-invoice-upload-kaufland">Table 4</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to be processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Status and filters for the event procedure</div>
<div class="paragraph">
<p>The statuses and filters in <a href="#event-procedure-invoice-upload-kaufland">Table 4</a> only serve as an example for creating an event procedure. Select filters and statuses for the event procedure which best suit your workflow.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="event-procedure-invoice-upload-kaufland" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically uploading invoices to Kaufland.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, for example <strong>Order change: Status change</strong>.<br>
<strong><em>Note:</em></strong> Select an event that is triggered when the invoice already exists. The event <strong>Order: Invoice generated</strong> is not recommended. This is because the event is triggered before the invoice generation is completed.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kaufland.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Upload invoice to Kaufland.de</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">15. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform Kaufland.de of cancellations. Whenever you are dealing with cancellations, you need to send Kaufland.de a reason for the cancellation. Open the <strong>Setup » Orders » Status</strong> menu and create additional order statuses as needed. The following cancellation reasons can be transferred to Kaufland.de:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Exchange by customer</p>
</li>
<li>
<p>Cancellation by customer</p>
</li>
<li>
<p>Wrong delivery address</p>
</li>
<li>
<p>Wrong item description</p>
</li>
<li>
<p>Customer did not receive goods</p>
</li>
<li>
<p>Item out of stock</p>
</li>
<li>
<p>Wrong sales price</p>
</li>
<li>
<p>No delivery to this delivery address</p>
</li>
<li>
<p>Other reason</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct <strong>Name</strong> for the event procedure.</p>
</li>
<li>
<p>Select the <strong>Event</strong> according to <a href="#event-procedure-cancellations-kaufland">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the further settings according to <a href="#event-procedure-cancellations-kaufland">Table 5</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to be processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-kaufland" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for automatically sending cancellations to Kaufland.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: Status [8] Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kaufland.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send cancellation to Kaufland.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a reason.<br>
<strong><em>Note:</em></strong> You can cancel individual order items for Kaufland.de. However, you cannot adjust the cancellation amount. As such, you can only refund the full sales price of an order item. You cannot grant discounts or reduce the price of cancelled order items.</p></td>
</tr>
</tbody>
</table>
<h5 id="_returns_for_kaufland_de" class="discrete">Returns for Kaufland.de</h5>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Returns for Kaufland.de</div>
<div class="paragraph">
<p>Unlike other marketplaces, you cannot send returns to Kaufland.de with an event procedure via plentymarkets yet. Process returns for Kaufland.de directly in your Kaufland.de seller account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">16. Viewing the log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » Log</strong> menu contains a history of processes that run via the Kaufland.de interface. Note that integrations and identifiers are only shown in the drop-down lists as filters after the process has run at least once.</p>
</div>
<div class="paragraph">
<p>For Kaufland.de, the following filters are recommended:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Identifier</strong> » <strong>Kaufland.de</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Filtering and checking log entries</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>In the column to the left, select appropriate filters from the drop-down lists.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters for dates and/or times to only show entries from a specific period.<br>
<strong><em>Tip:</em></strong> For further information about the filters, refer to the <a href="/en/data/datalog">Data log</a> page of the manual.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown.</p>
</li>
<li>
<p>Check all entries for the levels <strong>warning</strong> and <strong>error</strong>.<br>
<strong><em>Tip:</em></strong> Click on the entry to see details.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>Use the reference types and reference values listed in <a href="#table-reference-types">Table 6</a> to limit the search results:</p>
</div>
<table id="table-reference-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Reference types and reference values for Kaufland.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Reference type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Reference value</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>action</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by events.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a reference type to filter for specific events.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CancelOrder</strong> = Log entries for the event procedure <strong>Send cancellation to Kaufland.de</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>orderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the order ID of the order in plentymarkets.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalOrderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the Kaufland.de order number of the order.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalOrderItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the ID of the Kaufland.de order item.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>