<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 01. April 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 26. März 2020 bis zum 01. April 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist nun auch für Händler die kein VCS (auch nicht LITE bzw. VCS plentymarkets) nutzen möglich, die Gutschriftsdokumente zu Amazon hochzuladen. Die erst als Pflichtfeld angenommene Transaktions-ID ist für diese Fälle kein Pflichtfeld. Betroffenene Händler können dann also ebenfalls über die Ereignisaktion <strong>Rechnung bei Amazon hochladen</strong> die Gutschriftsdokumente zu Amazon hochladen.</p>
</li>
<li>
<p>Du kannst ab jetzt auch Amazon NL in den ASINS an der Variante auswählen.</p>
</li>
</ul>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Für <strong>Amazon VCS Lite</strong> (VCS plentymarkets, d.h. Generierung der Dokumente durch den Händler) wurde nun implementiert, dass beim Abgleich der VIDR-Berichte von Amazon ebenfalls Gutschriften zugeordnet und auf Basis der Daten von Amazon korrigiert werden.
Bevor eine Korrektur durchgeführt wird, werden für bereits existierende Gutschriftendokumente Stornobelege erzeugt. Im Anschluss an die Korrektur wird ein neuer Beleg erzeugt. Dieser wird dann automatisch in die Warteschleife für den Upload zu Amazon eingereiht.</p>
<div class="paragraph">
<p>Ebenfalls angepasst wurde die Ereignisaktion <strong>Rechnung bei Amazon hochladen</strong>. Diese funktioniert nun auch für Gutschriften mit entsprechenden Dokumenten.
Wichtig ist hier, dass die Ereignisaktion erst nach dem Import des VIDR-Berichts der Gutschrift funktioniert, da dieser Bericht die Transaktions-ID enthält, die für den Upload der Gutschriftendokumente notwendig ist. Die Transaktions-ID wird als OrderProperty mit der ID 79 zur Gutschrift hinzugefügt. Ohne diese Transaktions-ID ist es nicht möglich, ein Gutschriftendokument zu Amazon hochzuladen.</p>
</div>
<div class="paragraph">
<p>Weil aktuell noch keine Möglichkeit gefunden wurde, die Transaktions-ID für Gutschriften zu erhalten, ohne den VIDR-Bericht zu importieren, können Händler, die weder VCS noch VCS Lite benutzen, weiterhin keine Gutschriftendokumente zu Amazon hochladen. Wir versuchen immer noch, eine Lösung für diese Händler zu finden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_elastischer_export" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort ist es möglich über den FormatDesigner einen Export der Eigenschaften vom Typ Kontakt mit Bezug zur Kontakt-ID zu konfigurieren:</p>
<div class="paragraph">
<p>ContactProperty wurde als Subtyp des Kontaktformats hinzugefügt und bietet als Filter die ID der Eigenschaft, den Wert der Eigenschaft, den Typ der Eigenschaft, die zur Eigenschaft verlinkte Kontakt-ID sowie die Option, alle zur Eigenschaft gespeicherten Daten zu exportieren.</p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort kann man Kataloge 1:1 kopieren.</p>
</li>
<li>
<p>Ab sofort kann man Kataloge für den Export deaktivieren und aktivieren.</p>
</li>
<li>
<p>Ab sofort kann man über einen Toggle die nicht obligatorischen Felder ein- und ausblenden. Standardmäßig werden immer nur die Pflichtfelder des jeweiligen Kataloges angezeigt.</p>
</li>
<li>
<p>Ab sofort kann man den Katalognamen ändern.</p>
</li>
<li>
<p>Ab sofort werden im Katalog bei den einzelnen Bereichen Überschriften ausgegeben.</p>
</li>
<li>
<p>Ab sofort können Datenquellen miteinander kombiniert werden. Des Weiteren könnt ihr das Trennzeichen, das zwischen den Quellen stehen soll, beliebig wählen.</p>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten#70">Kataloge verwalten</a>.</p>
</div>
</li>
<li>
<p>Ab sofort könnt ihr Eigene Werte exportieren.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/kataloge-eigene-werte-exportieren.png" alt="Eigene Werte exportieren." width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_mahnungsprozess" class="discrete">Mahnungsprozess</h3>
<div class="ulist">
<ul>
<li>
<p>Es gibt einen neuen Auftragsposition Typ <strong>dunning charge</strong> für die Mahngebühren (<code>typeId == 12</code>). Diese enthält keine Steuerinformationen (immer brutto).</p>
</li>
<li>
<p>Die neue Auftragsposition <strong>dunning charge</strong> hat eine Property (<code>typeId == 3</code>, Dokumentnummer) mit der Dokumentnummer der Mahnung, für die die Position hinzugefügt wurde.</p>
</li>
<li>
<p>Es gibt ein neues Dokument <strong>Mahnungstorno</strong> unter den Standortdokumenten (<strong>Einrichtung » Mandant » Standorte » Dokumente » Stornobeleg Mahnung</strong>), welches die letzte Mahnung storniert.</p>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente/mahnungen-erzeugen">Mahnungen</a>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_picklisten" class="discrete">Picklisten</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist nun möglich, Picklisten auch für Umbuchungen (<strong>Waren » Bestellungen</strong>) zu generieren. Diese kann z.B. über den Bereich <strong>Aufträge » Fulfillment</strong> in den Abschnitt <strong>Pickliste</strong> erstellt werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_elastischer_export_2" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Man konnte bislang nur seine ersten 50 Attribute im Attributs-Filter auswählen, dieses Limit wurde nun auf 350 hinauf gesetzt. Im Zuge der Änderung werden die Attribute nun auch alphabetisch sortiert.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben innerhalb der Status-UI, das Feld <strong>ID</strong> in <strong>Verarbeitungs-ID</strong> umbenannt.</p>
</li>
<li>
<p>Wir haben innerhalb der Status-UI im Datepicker <strong>Endzeit bis</strong> in <strong>Startzeit bis</strong> umbenannt.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben den Unterpunkt <strong>Bild</strong> in <strong>Alle verfügbaren Bilder</strong> umbenannt.</p>
</li>
</ul>
</div>
<h3 id="_mahnungsprozess_2" class="discrete">Mahnungsprozess</h3>
<div class="ulist">
<ul>
<li>
<p>Es können maximal 4 Mahnungen erzeugt werden.</p>
</li>
<li>
<p>Um eine Mahnung erzeugen zu können, muss eine nicht stornierte Rechnung existieren.</p>
</li>
<li>
<p>Solange eine nicht stornierte Mahnung existiert, kann kein Stornobeleg zur Rechnung erzeugt werden.
Die Anzeige der Mahngebühren am Auftrag erfolgt als steuerfreie Summe und nicht als Position in der Artikelliste.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Für die erfolgreiche Erzeugung eines Mahnungstornos muss zunächst die Dokument-Einstellung unter <strong>Einrichtung » Mandant » Standorte » Dokumente » Stornobeleg Mahnung</strong> konfiguriert werden</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/mahnauftrag.png" alt="Mahnauftrag." width="640"></span></p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/mahnstorno.png" alt="Mahnstorno." width="640"></span></p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente/mahnungen-erzeugen">Mahnungen</a>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort wird die Meldung <strong>Keine Aufträge gefunden</strong> nicht mehr als Fehlermeldung ausgegeben. Die Meldungen verschwinden nach kurzer Zeit wieder von allein.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::../_textblocks/otto-master-file.adoc[]</p>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_2" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Upload der Dokumente für Gutschriften von Amazon kam es zu einem Fehler, weil die Gesamtbeträge positiv statt negativ übermittelt wurden.</p>
<div class="paragraph">
<p>Betroffene Gutschriften werden automatisch erneut hochgeladen.</p>
</div>
</li>
</ul>
</div>
<h3 id="_amazon_vcs_2" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Bei VCS Amazon (also nicht VCS plentymarkets / VCS Lite) kam es beim Importieren und Zuordnen der Transaktionen des Amazon-Umsatzsteuer-Kalkulationsberichts zu Fehlern, wenn zu einer Transaktion mehr als ein Transaktionstyp in einem Bericht vorhanden waren, z.B. <em>SHIPMENT</em> und <em>REFUND</em>.
Dieses Problem entstand durch die Gruppierung der CSV-Zeilen auf Basis der Shipment ID statt der Transaction ID und der fehlenden Gruppierung nach Transaktions-Typen.
Dies wurde nun korrigiert.</p>
<div class="paragraph">
<p>Zusätzlich wird die Transaction ID nun ebenfalls zusätzlich an den Aufträgen an der OrderProperty mit der Typ-ID 79 gespeichert. Dadurch wird sichergestellt, dass mehrere Gutschriften mit den gleichen Artikeln und -mengen und gleicher Shipment ID, aber unterschiedlicher Transaction ID, aus unterschiedlichen Berichten nicht demselben Auftrag zugeordnet werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei eBay-Aufträgen mit der Zahlungsart eBay-Payments konnte es dazu kommen, dass Aufträge im Status 4 verbleiben, obwohl ausreichend Bestand verfügbar war. Zukünftig werden diese Aufträge korrekt in den Status 5 verschoben.</p>
</li>
<li>
<p>Nachdem einige nicht länger genutzte Datenbank-Tabellen für Payment entfernt wurden, ist die Bereinigung der Aufträge fehlerhaft gelaufen. Nun werden wieder Aufträge bereinigt.</p>
</li>
</ul>
</div>
<h3 id="_auftragsdokumente" class="discrete">Auftragsdokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Beim neuen AdressDesign, wenn das Rechnungsland dem Systemland entsprach und die Lieferadresse ein abweichendes Land hatte, wurde auf den Auftragsdokumenten in der Rechnungsadresse das Lieferland angezeigt. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_facetten" class="discrete">Facetten</h3>
<div class="ulist">
<ul>
<li>
<p>Durch einen Fehler wurden Facetten, die aus Mehrfachauswahleigenschaften bestehen, nicht im ES-Index gespeichert. Dadurch konnten diese Facetten auch nicht im Webshop dargestellt werden. Dieser Fehler konnte behoben werden.</p>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man bei Anlage einer neuen Zuordnung nicht auf <strong>Speichern</strong> klickte und das Fenster erneut öffnete, so konnte man nicht auf <strong>Speichern</strong> klicken. Diesen Fehler haben wir nun behoben.</p>
</li>
<li>
<p>In einigen Systemen konnte aufgrund eines Fehlers keine Dateien von SFTP-Servern importiert werden. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Dateien konnten nicht in das Archiv des SFTP-Servers verschoben werden. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_3" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Schaltfläche <strong>Quelle entfernen</strong> hatte keine Funktion. Dieses Fehlverhalten haben wir nun behoben.</p>
</li>
<li>
<p>Es gab einen Fehler bei der Paginierung. Wenn man z.B. auf Seite 2 klickte, gelangte man auf Seite 1 zurück. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>War der Sync-Name zu lang, so war kein Abstand zwischen den Buttons Status und Datei-Upload vorhanden. Diesen Fehler haben wir nun behoben.</p>
</li>
<li>
<p>Wurde in einem Sync nur eine Zuordnung angelegt und gespeichert, so erschien die Fehlermeldung <strong>Die Positionsnummer ist bereits vergeben</strong>. Diesen Fehler haben wir nun behoben.</p>
</li>
<li>
<p>Aufgrund eines Fehlers liefen in einigen Systemen die zeitgesteuerten Syncs nicht zur gewünschten Zeit. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_marktplatzverknüpfungen" class="discrete">Marktplatzverknüpfungen</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Import der Marktplatzattributverknüpfung kam es zu folgendem Fehler:</p>
<div class="paragraph">
<p><code>Argument 1 passed to Plenty\Modules\Item\Syncs\Variation\Actions\UpdateItemImage::linkAttributeImage() must be of the type int, null given</code></p>
</div>
<div class="paragraph">
<p>Dieser Fehler konnte behoben werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_merkmale" class="discrete">Merkmale</h3>
<div class="ulist">
<ul>
<li>
<p>Das Verknüpfen von Auswahlmerkmalen und das gleichzeitige Anlegen neuer Auswahlwerte der Merkmale funktioniert nun wieder wie gewohnt.</p>
</li>
</ul>
</div>
<h3 id="_otto_2" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Einrichtung » Märkte » OTTO » Modell » Tab: Artikelliste</strong> gab es zwei Fehler:</p>
<div class="ulist">
<ul>
<li>
<p>War es nicht mehr möglich die Artikelkatalog-Log-Datei herunterzuladen und</p>
</li>
<li>
<p>wenn mehrere Bestandsdateien innerhalb eines Prozesses generiert wurden, stand nur die erste Datei zur Verfügung.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Nachtrag: Neben der Artikelkatalog-Log-Datei werden alle anderen Dateien bis zum nächsten Export nicht zum Download zur Verfügung stehen, weil die Dateistruktur angepasst wurde.</p>
</div>
</li>
</ul>
</div>
<h3 id="_rewe_katalog" class="discrete">REWE-Katalog</h3>
<div class="ulist">
<ul>
<li>
<p>Innerhalb des REWE-Kataloges war nicht möglich hinzugefügte Quellen wieder zu entfernen. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_umbuchungen" class="discrete">Umbuchungen</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Erstellung einer Umbuchung konnte es zu dem Verhalten kommen, dass die Waren doppelt in der Umbuchung aufgeführt werden. Dies trat nur unter der Bedingung auf, dass direkt nach der Speicherung der Umbuchung über den Warenkorb, die Umbuchung über die Schaltfläche <strong>Bestellung auslösen</strong> bestellt wurde. Dieses Verhalten wurde behoben, so dass doppelte Waren nicht mehr angezeigt werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_gelöscht" class="discrete">Gelöscht</h2>
<div class="paragraph">
<p>Folgende Funktionalität wurde in den letzten 7 Tagen auf <strong>stable</strong> gelöscht.</p>
</div>
<h3 id="_facettensuche" class="discrete">Facettensuche</h3>
<div class="ulist">
<ul>
<li>
<p>Der Tab <strong>Such-Index</strong> in den Einstelungen der Facettensuche im Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong> wurde gelöscht, da er nicht mehr gebraucht wird. Einstellungen an der Facettensuche werden im Menü <strong>System » Artikel » Suche » Frontend » Sucheinstellungen</strong> vorgenommen.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_bestellungen" class="discrete">Bestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Umbuchungen und Nachbestellungen (<strong>Waren » Bestellung</strong>), wurde die Möglichkeit hinzugefügt, eigene Dateien hochzuladen.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/nachbestellung_umbuchung_dokumente_hochladen.png" alt="Andere Dokumente hochladen." width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_elastischer_export_3" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt im elastischen Export nach dem Land von Kontakten filtern.</p>
</li>
</ul>
</div>
<h3 id="_import_3" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Daten » Import</strong> haben wir unter Einstellungen, Abgleich und Zuordnung die Möglichkeit hinzugefügt, vor Ausführung eines Syncs zu prüfen, ob dieser einen Fehler enthält, wie z.B. keine aktiven Zuordnungen. Diesen Fehler könnt ihr außerdem kopieren und zum Beispiel direkt ins Forum einfügen.</p>
</li>
<li>
<p>Ab sofort findet ihr in der Detailansicht der Status-UI das komplette Protokoll eines durchgelaufenen Syncs. Sollten Fehler aufgetreten sein, könnt ihr das Protokoll direkt kopieren und z.B. im Forum einfügen. Dies reduziert den Supportaufwand erheblich.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_retourenlabels" class="discrete">Retourenlabels</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher wurden im Versand-Center zwar alle über einen Retourenauftrag angemeldeten Retourenlabels im Hauptauftrag angezeigt, jedoch im Retourenauftrag selbst nur das Retourenlabel, das als erstes angemeldet wurde.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde geändert, sodass im Versand-Center alle Retourenlabels, die über den Retourenauftrag erzeugt wurden, auch in diesem Retourenauftrag angezeigt werden und die Gesamtheit aller Retourenlabels (inklusive der Retourenlabels, die über den Hauptauftrag erzeugt wurden) am Hauptauftrag angezeigt werden.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_eigenschaften" class="discrete">Eigenschaften</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben den Bereich Eigenschaften an der Variante überarbeitet und verschiedene Fehler bzgl. der Verknüpfung, Vererbung und Speicherung behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_4" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Wollte man Werte kombinieren, so war es nicht möglich ein Leerzeichen als Trennzeichen zu verwenden. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexportcdiscountcom_4738" target="_blank" rel="noopener">Cdiscount.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.23</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourstorespecialswidget_6363" target="_blank" rel="noopener">Shopaktionen Widget</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/simplyletter_5104" target="_blank" rel="noopener">Simplyletter</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.5.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment/verifonezvt_5504" target="_blank" rel="noopener">VerifoneZVT</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>