<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#1000"><span>1.</span><span> Multipacks</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>1.1.</span><span> Creating a Multipack item</span></a></li>
<li><a href="#1300"><span>1.2.</span><span> Editing Multipack items</span></a></li>
<li><a href="#1400"><span>1.3.</span><span> Creating a multipack variation</span></a></li>
</ul>
</li>
<li><a href="#2000"><span>2.</span><span> Item bundles</span></a>
<ul class="sectlevel2">
<li><a href="#2100"><span>2.1.</span><span> Creating an item bundle</span></a></li>
<li><a href="#2200"><span>2.2.</span><span> Editing or deleting bundle components</span></a></li>
<li><a href="#2300"><span>2.3.</span><span> Creating multiple bundles in one item</span></a></li>
<li><a href="#2400"><span>2.4.</span><span> Setting the stock of item bundles</span></a></li>
<li><a href="#2500"><span>2.5.</span><span> Calculating the weight and purchase price</span></a></li>
</ul>
</li>
<li><a href="#3000"><span>3.</span><span> Sets</span></a>
<ul class="sectlevel2">
<li><a href="#3100"><span>3.1.</span><span> How do set prices work?</span></a></li>
<li><a href="#3300"><span>3.2.</span><span> Creating new sets</span></a></li>
<li><a href="#3500"><span>3.3.</span><span> Editing existing sets</span></a>
<ul class="sectlevel3">
<li><a href="#3600"><span>3.3.1.</span><span> Searching for sets</span></a></li>
<li><a href="#3700"><span>3.3.2.</span><span> Adding or removing components</span></a></li>
<li><a href="#3800"><span>3.3.3.</span><span> Managing the stock</span></a></li>
<li><a href="#3900"><span>3.3.4.</span><span> Optional: Manually updating the “from-price”</span></a></li>
<li><a href="#4000"><span>3.3.5.</span><span> Optional: Granting discounts</span></a></li>
<li><a href="#4100"><span>3.3.6.</span><span> Optional: Specifying the minimum or maximum order quantity</span></a></li>
<li><a href="#4200"><span>3.3.7.</span><span> Settings in the remaining tabs</span></a></li>
</ul>
</li>
<li><a href="#4400"><span>3.4.</span><span> Displaying sets in the plentyShop</span></a>
<ul class="sectlevel3">
<li><a href="#4410"><span>3.4.1.</span><span> Creating content of the type "Item set"</span></a></li>
<li><a href="#4420"><span>3.4.2.</span><span> Designing the content</span></a></li>
<li><a href="#4430"><span>3.4.3.</span><span> Activating the content</span></a></li>
<li><a href="#4440"><span>3.4.4.</span><span> Checking the result in the plentyShop</span></a></li>
</ul>
</li>
<li><a href="#4450"><span>3.5.</span><span> Frequently Asked Questions (FAQ)</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Multipacks, item bundles and sets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets offers a variety of ways to combine products and sell them as a single unit.
<a href="#table-combining-products">Table 1</a> compares the possibilities and uses examples to illustrate them.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Are you familiar with how to manage items?</div>
<div class="paragraph">
<p>This page assumes that you already have <a href="/en/item/introduction">basic knowledge of item management</a> in plentymarkets.
For example, it assumes that you:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>know the <a href="/en/item/introduction/structure">difference between items and variations</a>.</p>
</li>
<li>
<p>have already configured a few <a href="/en/item/settings">preparatory settings</a> in your system.
For example, that you’ve already created a <a href="/en/item/settings/categories">category structure</a>, set up <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a> for your items, etc.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-combining-products" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Combining products and selling them as a single unit</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 71.4285%;">
<col style="width: 14.2858%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Item type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#1000">Multipack</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Example</em></strong>: 1 bottle of water, a package containing 6 bottles and a package containing 12 bottles.</p>
</div>
<div class="paragraph">
<p><strong><em>Technical specifications</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Multipacks are different quantities of <em>the same variation</em>.</p>
</li>
<li>
<p>The main variation is the <em>smallest sales unit</em> of the product, e.g. 1 bottle.</p>
</li>
<li>
<p>All of the other variations are <em>combinations</em> of this smallest sales unit, e.g. 6 or 12 bottles.</p>
</li>
<li>
<p>Stock is managed for the main variation only.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multipack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#2000">Bundle</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Example</em></strong>: A beard care kit consisting of scissors, a brush, beard oil and beard wax.</p>
</div>
<div class="paragraph">
<p><strong><em>Technical specifications</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The components (e.g. scissors, brush, beard oil and beard wax) can:</p>
<div class="ulist">
<ul>
<li>
<p>be sold as individual items.</p>
</li>
<li>
<p>be sold together as a bundle. In this case, end customers buy the entire bundle. They can not decide which components should be included in the bundle. For example, they can not buy the beard care kit without the beard wax.</p>
</li>
</ul>
</div>
</li>
<li>
<p>It’s possible to make the bundle price cheaper than the sum of all the individual prices.</p>
</li>
<li>
<p>It’s possible to combine variations with <em>different tax rates</em> together in one bundle.</p>
</li>
<li>
<p>All of the components must be stored in the same warehouse.</p>
</li>
<li>
<p>The stock level is determined by the component with the lowest stock.
The bundle item itself does not have stock.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#3000">Set</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Example</em></strong>: A football uniform composed of a jersey, shorts and socks. End customers can put their own uniforms together by selecting the appropriate size and colour for each of the three components.</p>
</div>
<div class="paragraph">
<p><strong><em>Technical specifications</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sets consist of <em>multiple items</em> (jersey, shorts, socks).</p>
</li>
<li>
<p>While placing an order, the end customer chooses the appropriate variation (size, colour) for each item.</p>
</li>
<li>
<p>The main variation is virtual. This means that the main variation cannot be sold.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: It’s possible to sell item sets in the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plentyShop.
Lower versions of Ceres do not support the set function.
The set function is only intended for the plentyShop. It’s not possible to sell item sets on marketplaces like Amazon and eBay.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">1. Multipacks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For <strong>Multipack</strong> items, the main variation is the smallest sales unit of the product. All other variations of the item are combinations of this smallest sales unit. Stock is managed for the main variation only. All variations of the item have the same attributes. That means that customers cannot select between different colours or other characteristics of the product. In the online store, customers select the variation with the number of products they want to buy.</p>
</div>
<div class="sect2">
<h3 id="1100">1.1. Creating a Multipack item</h3>
<div class="paragraph">
<p>Just like when you create <strong>Default</strong> items, a main variation is always created when a new multipack item is created. This main variation is linked permanently to the <strong>Multipack</strong> item and can only be created or deleted at the same time as the item itself. This main variation itself is the smallest sales unit of the product.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Multipack item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>New item</strong> tab opens.</p>
</li>
<li>
<p>Select the type <strong>Multipack</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Note <a href="#table-create-multipack">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>Multipack</strong> item is created.<br>
→ The main variation opens in a new tab.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying new <strong>Multipack</strong> items in the item overview</div>
<div class="paragraph">
<p>The new <strong>Multipack</strong> item is not active. To display recently created items in the item overview in the <strong>Item » Edit item</strong> menu, select the <strong>ALL</strong> option for the <strong>Active</strong> filter in the search area. Then click on <strong>Search</strong>.<br>
<a href="/en/item/managing-items#200">Activate the variation</a> when you’re ready for it to be visible in your plentyShop.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-multipack" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a Multipack item</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the item type <strong>Multipack</strong>.<br>
<strong>Default</strong> = Creates a <strong>Default</strong> item with main variation.<br>
<strong>Set</strong> = Creates a <strong>Set</strong> item.<br>
<strong>Multipack</strong> = Creates a <strong>Multipack</strong> item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item ID is a unique, consecutive number that is used to identify each item in plentymarkets. If you leave this field empty, plentymarkets automatically assigns the next available ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the multipack. The name is a mandatory entry.
The name <a href="/en/item/managing-items#50">can be changed</a> at any time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Variation » Category link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category selection</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the category in which the multipack is to be published. Alternatively, click on <strong>New category</strong> to create a new category.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1300">1.2. Editing Multipack items</h3>
<div class="paragraph">
<p>Now that you have created the <strong>Multipack</strong> item, you can refine the settings for the multipack.
These settings are listed in a <a href="/en/item/managing-items">directory</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">1.3. Creating a multipack variation</h3>
<div class="paragraph">
<p>A main variation is always created when a new <strong>Multipack</strong> item is created. The main variation is linked to an item. The main variation cannot be deleted. This main variation is the smallest sales unit of the product. All other variations of the item are this smallest sales unit multiplied by x. The stock of all variations is managed in the main variation only. The <strong>Stock</strong> tab of all other variations of the item only shows the theoretical stock. When the stock level of the main variation changes, the stock for all other variations of the item is recalculated.</p>
</div>
<div class="paragraph instruction">
<p>Creating a multipack variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the <strong>Multipack</strong> item.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create new variations</strong> window opens.</p>
</li>
<li>
<p>As the content, enter a quantity for the main variation.<br>
<strong><em>Tip</em></strong>: The variation’s units and the attributes cannot be changed.</p>
</li>
<li>
<p>Click on <strong>Create variation</strong>.<br>
→ The variation is created.<br>
→ The variation is displayed in the variation overview.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The settings of the variations are edited in the same way as <a href="/en/item/managin-items#170">Default variations</a>. However, note the following limitations for multipack variations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Deactivate the inheritance function for the sales price and save a price.</p>
</li>
<li>
<p>The information shown in the <strong>Stock</strong> tab cannot be edited. Stock is managed for the main variation only.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">2. Item bundles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An item bundle consists of multiple products. The bundle price of an item bundle may be lower than the sum of the individual prices. Go to <strong>Item » Edit item</strong> and use the <strong>Bundle</strong> filter to search for bundles.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Components must be stored in the same warehouse</div>
<div class="paragraph">
<p>All components of item bundles must be stored in the same warehouse. Otherwise stock levels cannot be correctly calculated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="2100">2.1. Creating an item bundle</h3>
<div class="paragraph">
<p>In the <strong>Bundle</strong> tab of a <strong>Default</strong> item, you create an item bundle which consists of multiple components, the basic items. If you add further variations to the opened item, you create a bundle. The bundle’s components are displayed in the <strong>Bundle components</strong> tab where they can be edited or deleted.</p>
</div>
<div class="paragraph instruction">
<p>Creating an item bundle:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>New item</strong> tab opens.</p>
</li>
<li>
<p>Select the type <strong>Default</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Enter the content.</p>
</li>
<li>
<p>Select a category.</p>
</li>
<li>
<p>Carry out <a href="/en/item/managing-items">additional settings</a> as needed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is created.<br>
→ The main variation opens in a new tab.</p>
</li>
<li>
<p>Open the variation.</p>
</li>
<li>
<p>Open the <strong>Bundle » Add variation</strong> tab.</p>
</li>
<li>
<p>Place check marks next to the variations you want to add as bundle components.</p>
</li>
<li>
<p>Click on <strong>Add variation</strong>.<br>
→ The components are added to the item bundle and displayed in the <strong>Bundle components</strong> tab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/en/item/managing-items#240">Then link a sales price</a> with the item bundle and enter a price.
When processing the order, only the bundle price and the bundle components are shown. No individual prices are shown.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using an existing item as the bundle item</div>
<div class="paragraph">
<p>Instead of creating a new bundle item, you can also use an existing item and add bundle components to this item. Note that the bundle item to which bundle components are added must not have stock.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="2200">2.2. Editing or deleting bundle components</h3>
<div class="paragraph">
<p>In the <strong>Bundle components</strong> tab, you can change the quantity of the item bundle’s variations, view the variations' net stock and delete bundle components that are no longer required.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a bundle component:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select <strong>Yes</strong> for the <strong>Bundle</strong> filter.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All bundle items found are displayed in the overview.</p>
</li>
<li>
<p>Open the bundle item.</p>
</li>
<li>
<p>Open the variation.</p>
</li>
<li>
<p>Open the <strong>Bundle » Bundle components</strong> tab.</p>
</li>
<li>
<p>Place check marks next to the bundle components you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete bundle components</strong>.<br>
→ The bundle components are deleted and no longer available in the item bundle.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="2300">2.3. Creating multiple bundles in one item</h3>
<div class="paragraph">
<p>Item variations also can be bundles with multiple components. In this way, you can design very complex item bundles that meet your individual needs.</p>
</div>
<div class="paragraph">
<p><strong><em>Example of bundle variations</em></strong>: Let’s assume that you want to sell a bundle consisting of a hand towel and a larger bath towel. You also want to offer this bundle in different colours. To do so, the following steps are necessary:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/attributes#100">Create an attribute</a> with the colours you want to offer, for example red and blue.</p>
</li>
<li>
<p><a href="/en/item/import-export-create/create/new-item#200">Create an item</a> that will serve as the bundle item, for example towel bundle.</p>
</li>
<li>
<p><a href="/en/item/import-export-create/create/new-item#400">Create variations</a> of the bundle item and link the attribute values.</p>
</li>
<li>
<p>Create items for the bundle components, for example hand towel and bath towel.</p>
</li>
<li>
<p>Create variations of the bundle components, for example red hand towel, blue hand towel etc.</p>
</li>
<li>
<p>Add the <a href="#2100">bundle components</a> to the variations of the item bundle.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In doing so, you can sell the item <strong>towel bundle</strong> in your plentyShop and offer the bundle colours <strong>red</strong> and <strong>blue</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="2400">2.4. Setting the stock of item bundles</h3>
<div class="paragraph">
<p>The <a href="/en/stock-management">stock</a> of a bundle depends on the bundle component with the lowest stock. The stock of this bundle component is displayed in the <strong>Net stock</strong> column of the item overview in the <strong>Item » Edit item</strong> menu. The bundle item itself must not have stock. In the <strong>Stock</strong> tab of a bundle component, you manage the stock, book incoming items, make stock corrections and view supplies as well as item movements.</p>
</div>
</div>
<div class="sect2">
<h3 id="2500">2.5. Calculating the weight and purchase price</h3>
<div class="paragraph">
<p>An item bundle is made up of various components. Each component has its own key figures, such as a <a href="/en/item/managing-items#270">weight</a> and a <a href="/en/item/managing-items#280">purchase price</a>. But how do these key figures come together for the entire bundle?</p>
</div>
<div class="paragraph">
<p>You could enter a weight and purchase price for the entire bundle as a whole. But there’s also a way to have plentymarkets automatically calculate these figures for you. This method is described below.</p>
</div>
<div class="paragraph instruction">
<p>Automatically calculating the weight and purchase price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select <strong>Yes</strong> for the <strong>Bundle</strong> filter.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All item bundles found are displayed in the overview.</p>
</li>
<li>
<p>Open the item bundle.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Choose the appropriate settings in the <strong>Bundle</strong> area. Note <a href="#table-calculate-weight-purchase-price">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Reload the item bundle.<br>
→ The key figures will be calculated automatically. This calculation is based on the data entered for each individual component.</p>
</li>
</ol>
</div>
<table id="table-calculate-weight-purchase-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Automatically calculating the weight and purchase price</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically calculate from bundle components: Net purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The net purchase price will automatically be calculated. The calculation is based on the individual components.<br>
Once you have saved the changes and reloaded the menu, the field <a href="/en/item/managing-items#280"><strong>Net purchase price</strong></a> will be greyed out in the <strong>Costs</strong> area on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically calculate from bundle components: Moving average purchase price (net)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The moving average purchase price (net) will automatically be calculated. The calculation is based on the individual components.<br>
Once you have saved the changes and reloaded the menu, the field <a href="/en/item/managing-items#280"><strong>Moving average purchase price (net)</strong></a> will be greyed out in the <strong>Costs</strong> area on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically calculate from bundle components: Net weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The net weight will automatically be calculated. The calculation is based on the individual components.<br>
Once you have saved the changes and reloaded the menu, the field <a href="/en/item/managing-items#270"><strong>Net weight</strong></a> will be greyed out in the <strong>Dimensions</strong> area on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically calculate from bundle components: Gross weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The gross weight will automatically be calculated. The calculation is based on the individual components.<br>
Once you have saved the changes and reloaded the menu, the field <a href="/en/item/managing-items#270"><strong>Gross weight</strong></a> will be greyed out in the <strong>Dimensions</strong> area on the right.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Modifying several item bundles at once</div>
<div class="paragraph">
<p>Use the <a href="/en/item/import-export-create/create/mass-processing">variation group function or the batch processing function</a> to calculate the weight and purchase price for multiple item bundles at the same time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using automatic calculation by default</div>
<div class="paragraph">
<p>Do you normally want the weight and purchase price to be calculated automatically? Perhaps you only have a few items that should be excluded from the automatic calculation. No problem! Open the menu <strong>Setup » Item » Settings</strong> and specify which key figures should be calculated automatically. Use the options <strong>Bundle automatic for gross weight</strong>, <strong>Bundle automatic for net weight</strong>, <strong>Bundle automatic for purchase prices</strong> and <strong>Bundle automatic for moving average purchase prices</strong> to do so.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Prefer to enter key figures by hand?</div>
<div class="paragraph">
<p>Do you want to enter the weight and purchase price for item bundles yourself? Do not check any of the boxes in the <strong>Bundle</strong> area, if you’d prefer to enter the data manually. If none of the boxes are checked, then the key figures for individual components won’t have any influence on the key figures for the item bundle.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3000">3. Sets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Imagine you sell football uniforms, consisting of jerseys, shorts and socks.
Wouldn’t it be great if end customers could put together their own uniforms?
In other words, if they could choose the appropriate colour and size for each component?
Item sets make it possible!</p>
</div>
<div class="paragraph">
<p>A set consists of multiple items (jersey, shorts, socks).
While placing an order, the end customer chooses the appropriate variation (colour, size) for each item.
It might help you to sketch out the items and variations that will be included in your set.</p>
</div>
<table id="table-set-mind-map" class="tableblock frame-all grid-all stripes-none stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set</strong></p></td>
<td class="tableblock halign-center valign-top" colspan="3"><p class="tableblock">Football uniform</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items in the set</strong></p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">Jersey</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">Shorts</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">Socks</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variations per item</strong></p></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>S and red</p>
</li>
<li>
<p>L and red</p>
</li>
<li>
<p>S and blue</p>
</li>
<li>
<p>L and blue</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>S and white</p>
</li>
<li>
<p>L and white</p>
</li>
<li>
<p>S and black</p>
</li>
<li>
<p>L and black</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>S and blue</p>
</li>
<li>
<p>L and blue</p>
</li>
<li>
<p>S and white</p>
</li>
<li>
<p>L and white</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Set function is only intended for the Ceres 5 plentyShop</div>
<div class="paragraph">
<p>It’s possible to sell item sets in the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plentyShop.
Lower versions of Ceres do not support the set function.</p>
</div>
<div class="paragraph">
<p>The set function is only intended for the plentyShop.
It’s not possible to sell item sets on marketplaces like Amazon and eBay.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="3100">3.1. How do set prices work?</h3>
<div class="paragraph">
<p>The unique thing about sets is that you don’t know in advance exactly how end customers will combine the variations. Therefore, it wouldn’t make sense to save fixed prices for sets.
Instead, plentymarkets calculates the price of the <em>cheapest possible combination</em> and saves this information for the set.
This minimum price can be displayed in the plentyShop and in the back end. For example: "Available from € 99.99".</p>
</div>
<div class="paragraph">
<p>plentymarkets regularly checks the prices of all the variations in the set and calculates the cheapest possible combination.
plentymarkets checks the prices:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>when you <a href="#3700">add a component to a set</a></p>
</li>
<li>
<p>when you <a href="#3700">remove a component from a set</a></p>
</li>
<li>
<p>when you <a href="#3900">manually update the "from-price"</a></p>
</li>
<li>
<p>every night</p>
</li>
</ul>
</div>
<h4 id="3200" class="discrete">Preparing set prices</h4>
<div class="paragraph">
<p>First, <a href="/en/item/settings/prices#200">create a sales price</a> for sets.
While doing so, specify that the type is a <strong>Set price</strong>.</p>
</div>
<div class="paragraph">
<p>Then <a href="/en/item/settings/prices#900">link this sales price</a> to all of the set components and enter a monetary price for each component.
Note that the set components are normal variations.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Can items be cheaper if they’re purchased together as a set?</div>
<div class="paragraph">
<p>It’s possible to make a set cheaper than the sum of its components.
There are two ways to do this:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>On the one hand, you could save lower monetary prices for the set sales price than for the normal sales price.</p>
</li>
<li>
<p>On the other hand, you could <a href="#4000">enter a percentage of discount</a> that applies to the entire set.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="3300">3.2. Creating new sets</h3>
<div class="paragraph">
<p>Have you already decided <a href="#3000">which items and variations should be included in the set</a>?
Have you created a <a href="#3100">sales price especially for sets</a>?
Then you’re ready to start creating sets!</p>
</div>
<div class="paragraph instruction">
<p>Manually creating an item set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New</strong>.<br>
→ The <strong>New item</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings for the set. Note <a href="#table-create-set-items">Table 4</a>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Select the type <strong>Set</strong>.</p>
</li>
<li>
<p>Enter a name for the item set.</p>
</li>
<li>
<p>Which category should the set appear in? Choose the category.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.<br>
→ The item set is created.<br>
→ The main variation appears in a new tab and <a href="#3500">can be edited further</a>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s the main variation for?</div>
<div class="paragraph">
<p>A main variation is automatically created when you create a new set.
This main variation is linked to the set. It can only be created or deleted together with the set.
The main variation:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>is purely virtual and does not correspond to a physical product.</p>
</li>
<li>
<p>serves as a data container, which you add components to.</p>
</li>
<li>
<p>helps you manage settings for the entire set.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-set-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating an item set</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Area: Item data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <strong>Set</strong>. Lots of settings disappear when you choose this option. Now the menu only includes settings that are relevant to sets.</p>
</div>
<div class="paragraph">
<p>The other options in the drop-down list are intended for other situations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Default</strong> = Creates a “normal item” or an <a href="#2000">item bundle</a>.</p>
</li>
<li>
<p><strong>Set</strong> = Creates an item set.</p>
</li>
<li>
<p><strong>Multipack</strong> = Creates a <a href="#1000">multipack item</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the set. The name is a mandatory entry.
It will still be possible to change the name after you’ve created the set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Area: Variation » Category link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which <a href="/en/item/settings/categories">category</a> should the set appear in? Choose the category.
Alternatively, click on <strong>New category</strong> to simultaneously create a new category and sort the set into this category.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="3500">3.3. Editing existing sets</h3>
<div class="sect3">
<h4 id="3600">3.3.1. Searching for sets</h4>
<div class="paragraph">
<p><a href="#3300">While creating a new item set</a>, the main variation is automatically opened in a new tab.
But where do you find the sets that you already created a while ago?</p>
</div>
<div class="paragraph instruction">
<p>Searching for and opening existing sets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Look at the filters on the left.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Set the filter <strong>Type</strong> to <strong>Set</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Active</strong> to <strong>ALL</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The sets that are found will be displayed in an overview on the right.</p>
</li>
<li>
<p>Click on a set to open it.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="3700">3.3.2. Adding or removing components</h4>
<div class="paragraph">
<p>Have you already decided <a href="#3000">which items should be included in the set</a>?
The items that you add to the set are regular items. In other words, they are items of the type <strong>Default</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you add an <em>item with multiple variations</em> to the set, then your customers will be able to choose which variation they want to buy.</p>
</li>
<li>
<p>If you add an <em>item without any variations</em> to the set, i.e. an item that only consists of a main variation, then your customers won’t be able to select anything.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Adding components to the set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#3600">Search for and open the appropriate item set</a>.</p>
</li>
<li>
<p>Click on the tab <strong>Set » Add item(s)</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for the items</a> that you want to add to the set.<br>
→ The items are listed.</p>
</li>
<li>
<p>Select the items (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) you want to add to the set.</p>
</li>
<li>
<p>Click on <strong>Add item(s)</strong>.<br>
→ The items will be added to the set. They are now listed in the <strong>Settings</strong> tab.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Removing components again</div>
<div class="paragraph">
<p>Components that have already been added to the set are listed in the tab <strong>Set » Settings</strong>.
Here you can also remove the components that should no longer be part of the set.
Select the items (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to remove from the set and click on <span class="icon red"><i class="fa fa-minus-circle  "></i></span> <strong>Delete component</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="3800">3.3.3. Managing the stock</h4>
<div class="paragraph">
<p>The <a href="/en/stock-management">stock</a> of a set depends on the set’s variation with the lowest stock. The stock of this variation is displayed in the <strong>Net stock</strong> column of the item overview in the <strong>Item » Edit item</strong> menu. You cannot manage any stock information for the <strong>Set</strong> item itself. Instead, stock is managed in the <strong>Stock</strong> tab of the set components.</p>
</div>
</div>
<div class="sect3">
<h4 id="3900">3.3.4. Optional: Manually updating the “from-price”</h4>
<div class="paragraph">
<p>plentymarkets regularly checks the prices of all the variations in the set and calculates the cheapest possible combination.
plentymarkets checks the prices whenever a component is added to a set or removed from a set, as well as every night.
But you can also manually update the “from-price” at any time.</p>
</div>
<div class="paragraph instruction">
<p>Manually updating the “from-price”:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#3600">Search for and open the appropriate item set</a>.</p>
</li>
<li>
<p>Click on the tab <strong>Variation ID » Settings</strong>.</p>
</li>
<li>
<p>Click on the update symbol (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>) within the <strong>Sales prices</strong> area.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Updating the "from-price" for several items at once</div>
<div class="paragraph">
<p>Use the <a href="/en/item/import-export-create/create/mass-processing">item group function or batch processing</a> to update the "from-price" for multiple items at once.
Do so by selecting the option <strong>Update price from in sets</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>). This option is found in the area <strong>Procedures</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="4000">3.3.5. Optional: Granting discounts</h4>
<div class="paragraph">
<p>By default, the price of an item set is equivalent to the sum of the individual prices of all set components. However, you can offer a discount in % on the total price of the set.</p>
</div>
<div class="paragraph instruction">
<p>Saving a discount for an item set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#3600">Search for and open the appropriate item set</a>.</p>
</li>
<li>
<p>Click on the tab <strong>Set » Settings</strong>.</p>
</li>
<li>
<p>Enter a percentage into the <strong>Discount</strong> field. The total price will be discounted by this percent.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.<br>
→ The discount is applied.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="4100">3.3.6. Optional: Specifying the minimum or maximum order quantity</h4>
<div class="paragraph">
<p>Let’s stick with the <a href="#3000">example above</a> and assume that you sell football uniforms, consisting of a jersey, shorts and socks.
But now let’s assume that <em>you only want to sell the set to entire football teams</em>. In other words: you only want to sell the set to a team that is willing to buy at least 10 jerseys, shorts and socks at once.
In this case, you’re dealing with a <em>minimum order quantity</em>.</p>
</div>
<div class="paragraph instruction">
<p>Defining permissible quantities for set components:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#3600">Search for and open the appropriate item set</a>.</p>
</li>
<li>
<p>Click on the tab <strong>Set » Settings</strong>.<br>
→ The set components are listed.</p>
</li>
<li>
<p>In the column <strong>Activate quantity selection in shop</strong>, select all of the components (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should be limited to a certain quantity.<br>
→ The fields will no longer be greyed out.</p>
</li>
<li>
<p>Enter the maximum and minimum order quantities for each component.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="4200">3.3.7. Settings in the remaining tabs</h4>
<div class="paragraph">
<p>This page only describes the functions that apply specifically to item sets.
But there are lots of other settings and options that you can also configure in the data record.
For example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>save <a href="/en/item/managing-items#40">global information</a> in the data record</p>
</li>
<li>
<p><a href="/en/item/managing-items#300">link the item set to categories</a></p>
</li>
<li>
<p>save <a href="/en/item/online-store/cross-selling">cross-selling links</a> to other items</p>
</li>
<li>
<p>generate <a href="/en/item/settings/barcodes">labels and barcodes</a></p>
</li>
<li>
<p>save <a href="/en/item/managing-items#50">descriptive texts</a> or <a href="/en/item/managing-items#268">tags</a></p>
</li>
<li>
<p>etc.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>These settings correspond to the same ones available for regular items, e.g. items of the type <strong>Default</strong>.
You can find explanations of these settings in the <a href="/en/item/managing-items">directory of item data fields</a>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="4400">3.4. Displaying sets in the plentyShop</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Requirements</div>
<div class="paragraph">
<p>The set function is only intended for the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plentyShop.
Lower versions of Ceres do not support the set function.
Therefore, make sure you are using a compatible version and <a href="/en/plugins/updating-installed-plugins">update the plugin</a> if necessary.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="4410">3.4.1. Creating content of the type "Item set"</h4>
<div class="paragraph">
<p>You decide what your item sets should look like in the online store.
Do so by creating <a href="/en/online-store/shop-builder#30">content for the category</a>.</p>
</div>
<div class="paragraph instruction">
<p>Creating content for an item set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Click on a grey item category on the left.<br>
<strong><em>Note</em></strong>: Item sets are not compatible with the yellow content categories.</p>
</li>
<li>
<p>Click on the tile <strong>New</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The <strong>Create new content</strong> window opens.</p>
</li>
<li>
<p>Choose the type <strong>Item set</strong>.</p>
</li>
<li>
<p>Enter a name and choose a preset if desired.</p>
</li>
<li>
<p>Save the settings.<br>
→ The new content will be displayed as a tile.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/content-itemset.png" alt="content itemset">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Preset: pro and con</div>
<div class="paragraph">
<p>We provide a template, which you can modify and adapt to your product portfolio as needed.
Of course, you can also work without a template if you would prefer to design the view from scratch.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="4420">3.4.2. Designing the content</h4>
<div class="paragraph">
<p>Set components are displayed with the widget <strong>Item / Components for item sets</strong>.
This widget is special because you can place other item widgets inside it, e.g. for descriptions and images.</p>
</div>
<div class="paragraph">
<p>Depending on the placement - inside or outside the widget - item information such as name, image and description relate to the entire set or to a set component.
For example, you can display one image for the entire set and other images for each component.</p>
</div>
<div class="paragraph">
<p>How do you design the layout, add widgets and modify the widget settings?
You can find this information on the <a href="/en/online-store/shop-builder#55">ShopBuilder page of the manual</a>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/design.png" alt="design">
</div>
</div>
</div>
<div class="sect3">
<h4 id="4430">3.4.3. Activating the content</h4>
<div class="paragraph">
<p>In order for the content to be displayed in the plentyShop, it needs to be activated.
Active contents are highlighted in blue.</p>
</div>
<div class="paragraph instruction">
<p>Activating contents:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Click on the appropriate category.</p>
</li>
<li>
<p>Move your cursor over the content tile that should be activated.</p>
</li>
<li>
<p>Click on <strong>Activate</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ The content is activated and is now highlighted in blue.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Only activate one content of the same type</div>
<div class="paragraph">
<p>Within a grey item category, you can create many different contents of the type <strong>Item set</strong>.
The contents can be activated or deactivated as needed.
For example, this allows you to create different pages for each season of the year.
However, only one content of the type "Item set" can be activated simultaneously.
Activating one content automatically deactivates another content of the same type.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="4440">3.4.4. Checking the result in the plentyShop</h4>
<div class="paragraph">
<p>Your customer selects all of the preferred variations in the plentyShop and then places the entire set in the shopping cart.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/set-webshop.png" alt="set webshop">
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="4450">3.5. Frequently Asked Questions (FAQ)</h3>
<div class="openblock collapseBox">
<div class="title"><strong>I created a set but I can’t select a price. What should I do?</strong></div>
<div class="content">
<div class="paragraph">
<p>A set <em>does not have a fixed price</em> that you define yourself.
Rather, plentymarkets checks the price of each individual component and then calculates the cheapest possible price for the entire set.
Example: "Available from €99.99".</p>
</div>
<h5 id="_configuring_set_prices" class="discrete">Configuring set prices</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/item/settings/prices#200">Create a sales price for sets</a>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>While doing so, specify that the type is a <strong>Set price</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><a href="/en/item/settings/prices#900">Link this sales price</a> to all of the components and enter a monetary price for each component. Note that the set components are normal variations.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: It’s possible to make a set cheaper than the sum of its components. There are two ways to do this:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>On the one hand, you could save lower monetary prices for the set sales price than for the normal sales price.</p>
</li>
<li>
<p>On the other hand, you could enter a <a href="/en/item/use-cases/combining-products#4000">percentage of discount</a> that applies to the entire set.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I control the order in which the components are displayed in the plentyShop?</strong></div>
<div class="content">
<div class="paragraph">
<p>There is not currently a setting to control which component is displayed first, second, third, etc.
However, we’re planning to implement a position field in the future.</p>
</div>
<div class="paragraph">
<p><strong><em>Workaround</em></strong>:
Add the components in whichever order they should be displayed in the plentyShop.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>