<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#1000"><span>1.</span><span> Setting up a multipack</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>1.1.</span><span> Creating a Multipack item</span></a></li>
<li><a href="#1300"><span>1.2.</span><span> Editing Multipack items</span></a></li>
<li><a href="#1400"><span>1.3.</span><span> Creating a multipack variation</span></a></li>
</ul>
</li>
<li><a href="#2000"><span>2.</span><span> Setting up an item bundle</span></a>
<ul class="sectlevel2">
<li><a href="#2100"><span>2.1.</span><span> Creating an item bundle</span></a></li>
<li><a href="#2200"><span>2.2.</span><span> Editing or deleting bundle components</span></a></li>
<li><a href="#2300"><span>2.3.</span><span> Creating multiple bundles in one item</span></a></li>
<li><a href="#2400"><span>2.4.</span><span> Setting the stock of item bundles</span></a></li>
<li><a href="#2500"><span>2.5.</span><span> Calculating the weight and purchase price</span></a></li>
</ul>
</li>
<li><a href="#3000"><span>3.</span><span> Setting up a set (not sellable)</span></a>
<ul class="sectlevel2">
<li><a href="#3100"><span>3.1.</span><span> Creating a Set item</span></a></li>
<li><a href="#3200"><span>3.2.</span><span> Preparing the set components</span></a></li>
<li><a href="#3300"><span>3.3.</span><span> Creating a Set item</span></a></li>
<li><a href="#3400"><span>3.4.</span><span> Editing Set items</span></a></li>
<li><a href="#3500"><span>3.5.</span><span> Adding components to the set</span></a></li>
<li><a href="#3600"><span>3.6.</span><span> Changing the quantity for a set component</span></a></li>
<li><a href="#3700"><span>3.7.</span><span> Setting discounts for set items</span></a></li>
<li><a href="#3800"><span>3.8.</span><span> Stock of Set items</span></a></li>
<li><a href="#3900"><span>3.9.</span><span> Removing set components</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing multipacks, item bundles and sets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets offers a variety of ways to combine products and sell them as a single unit. This means that the customer can add more than one product to the shopping cart at the same time. <a href="#table-combining-products">Table 1</a> shows the different options for combining products.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Are you familiar with how to manage items?</div>
<div class="paragraph">
<p>The information presented on this page serves as reference for users who are familiar with managing items in plentymarkets. For basic information on creating and managing items and variations, refer to the <a href="/en/item/managing-items">Managing items</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-combining-products" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Selling multiple products at the same time</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 71.4285%;">
<col style="width: 14.2858%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Item type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#1000">Multipack</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Multipacks consist of the same variation in different quantities.</p>
</li>
<li>
<p>The main variation corresponds to a quantity of 1 of the other variations of the item.</p>
</li>
<li>
<p>Stock is managed for the main variation only.</p>
</li>
<li>
<p>The variations of the item are different quantities of the main variation.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multipack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#2000">Bundle</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Bundles consist of a specific variation of different items.</p>
</li>
<li>
<p>Customers can only purchase the entire bundle as a whole. They cannot choose the individual components within that bundle.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#3000">Set</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Note:</em></strong> While it’s technically possible to create sets, they cannot currently be displayed in the online store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sets consist of several items.</p>
</li>
<li>
<p>For each item of the set, customers select the variation they want to buy.</p>
</li>
<li>
<p>The main variation is virtual. This means that the main variation cannot be sold.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">1. Setting up a multipack</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For <strong>Multipack</strong> items, the main variation is the smallest sales unit of the product. All other variations of the item are combinations of this smallest sales unit. Stock is managed for the main variation only. All variations of the item have the same attributes. That means that customers cannot select between different colours or other characteristics of the product. In the online store, customers select the variation with the number of products they want to buy.</p>
</div>
<div class="sect2">
<h3 id="1100">1.1. Creating a Multipack item</h3>
<div class="paragraph">
<p>Just like when you create <strong>Default</strong> items, a main variation is always created when a new multipack item is created. This main variation is linked permanently to the <strong>Multipack</strong> item and can only be created or deleted at the same time as the item itself. This main variation itself is the smallest sales unit of the product.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Multipack item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>New item</strong> tab opens.</p>
</li>
<li>
<p>Select the type <strong>Multipack</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Note <a href="#table-create-multipack">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>Multipack</strong> item is created.<br>
→ The main variation opens in a new tab.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying new <strong>Multipack</strong> items in the item overview</div>
<div class="paragraph">
<p>The new <strong>Multipack</strong> item is not active. To display recently created items in the item overview in the <strong>Item » Edit item</strong> menu, select the <strong>ALL</strong> option for the <strong>Active</strong> filter in the search area. Then click on <strong>Search</strong>. Learn how to activate items and variations for the online store in the <a href="/en/item/managing-items#180">Setting the availability</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-multipack" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a Multipack item</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the item type <strong>Multipack</strong>.<br>
<strong>Default</strong> = Creates a <strong>Default</strong> item with main variation.<br>
<strong>Set</strong> = Creates a <strong>Set</strong> item.
<strong>Multipack</strong> = Creates a <strong>Multipack</strong> item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item ID is a unique, consecutive number that is used to identify each item in plentymarkets. If you leave this field empty, plentymarkets automatically assigns the next available ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the multipack. The name is a mandatory entry. Learn how to change the name in the <a href="/en/item/managing-items#50">Entering item texts</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Variation » Category link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category selection</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the category in which the multipack is to be published. Alternatively, click on <strong>New category</strong> to create a new category.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1300">1.2. Editing Multipack items</h3>
<div class="paragraph">
<p>Now that you have created the <strong>Multipack</strong> item, you can refine the settings for the multipack. These settings are identical to the settings for <a href="/en/item/managing-items#30">Default items</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">1.3. Creating a multipack variation</h3>
<div class="paragraph">
<p>A main variation is always created when a new <strong>Multipack</strong> item is created. The main variation is linked to an item. The main variation cannot be deleted. This main variation is the smallest sales unit of the product. All other variations of the item are this smallest sales unit multiplied by x. The stock of all variations is managed in the main variation only. The <strong>Stock</strong> tab of all other variations of the item only shows the theoretical stock. When the stock level of the main variation changes, the stock for all other variations of the item is recalculated.</p>
</div>
<div class="paragraph instruction">
<p>Creating a multipack variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the <strong>Multipack</strong> item.</p>
</li>
<li>
<p>Open the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create new variations</strong> window opens.</p>
</li>
<li>
<p>As the content, enter a quantity for the main variation.<br>
<strong><em>Tip:</em></strong> The variation’s units and the attributes cannot be changed.</p>
</li>
<li>
<p>Click on <strong>Create variation</strong>.<br>
→ The variation is created.<br>
→ The variation is displayed in the variation overview.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The settings of the variations are edited in the same way as <a href="/en/item/managin-items#170">Default variations</a>. However, note the following limitations for multipack variations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Deactivate the inheritance function for the sales price and save a price.</p>
</li>
<li>
<p>The information shown in the <strong>Stock</strong> tab cannot be edited. Stock is managed for the main variation only.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">2. Setting up an item bundle</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An item bundle consists of multiple products. The bundle price of an item bundle may be lower than the sum of the individual prices. Go to <strong>Item » Edit item</strong> and use the <strong>Bundle</strong> filter to search for bundles.</p>
</div>
<div class="sect2">
<h3 id="2100">2.1. Creating an item bundle</h3>
<div class="paragraph">
<p>In the <strong>Bundle</strong> tab of a <strong>Default</strong> item, you create an item bundle which consists of multiple components, the basic items. If you add further variations to the opened item, you create a bundle. The bundle’s components are displayed in the <strong>Bundle components</strong> tab where they can be edited or deleted.</p>
</div>
<div class="paragraph instruction">
<p>Creating an item bundle:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>New item</strong> tab opens.</p>
</li>
<li>
<p>Select the type <strong>Default</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Enter the content.</p>
</li>
<li>
<p>Select a category.</p>
</li>
<li>
<p>Carry out additional settings as necessary. Pay attention to the information given for <strong>Default</strong> items on the <a href="/en/item/managing-items#table-create-default-items">Managing items</a> page of the manual.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is created.<br>
→ The main variation opens in a new tab.</p>
</li>
<li>
<p>Open the variation.</p>
</li>
<li>
<p>Open the <strong>Bundle » Add variation</strong> tab.</p>
</li>
<li>
<p>Place check marks next to the variations you want to add as bundle components.</p>
</li>
<li>
<p>Click on <strong>Add variation</strong>.<br>
→ The components are added to the item bundle and displayed in the <strong>Bundle components</strong> tab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Then link a sales price with the item bundle and enter a price. Learn how to link sales prices in the <a href="/en/item/managing-items#240">Linking sales prices</a> chapter. When processing the order, only the bundle price and the bundle components are shown. No individual prices are shown.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Using an existing item as the bundle item</div>
<div class="paragraph">
<p>Instead of creating a new bundle item, you can also use an existing item and add bundle components to this item. Note that the bundle item to which bundle components are added must not have stock.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="2200">2.2. Editing or deleting bundle components</h3>
<div class="paragraph">
<p>In the <strong>Bundle components</strong> tab, you can change the quantity of the item bundle’s variations, view the variations' net stock and delete bundle components that are no longer required.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a bundle component:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select <strong>Yes</strong> for the <strong>Bundle</strong> filter.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All bundle items found are displayed in the overview.</p>
</li>
<li>
<p>Open the bundle item.</p>
</li>
<li>
<p>Open the variation.</p>
</li>
<li>
<p>Open the <strong>Bundle » Bundle components</strong> tab.</p>
</li>
<li>
<p>Place check marks next to the bundle components you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete bundle components</strong>.<br>
→ The bundle components are deleted and no longer available in the item bundle.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="2300">2.3. Creating multiple bundles in one item</h3>
<div class="paragraph">
<p>Item variations also can be bundles with multiple components. In this way, you can design very complex item bundles that meet your individual needs.</p>
</div>
<div class="paragraph subhead">
<p>Example of bundle variations: Let’s assume that you want to sell a bundle consisting of a hand towel and a larger bath towel. You also want to offer this bundle in different colours. To do so, the following steps are necessary:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#400">Create an attribute</a> with the colours you want to offer, for example red and blue.</p>
</li>
<li>
<p><a href="/en/item/managing-items#20">Create an item</a> that will serve as the bundle item, for example towel bundle.</p>
</li>
<li>
<p><a href="/en/item/managing-items#160">Create variations</a> of the bundle item and link the attribute values.</p>
</li>
<li>
<p>Create items for the bundle components, for example hand towel and bath towel.</p>
</li>
<li>
<p>Create variations of the bundle components, for example red hand towel, blue hand towel etc.</p>
</li>
<li>
<p>Add the <a href="#2100">bundle components</a> to the variations of the item bundle.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In doing so, you can sell the item <strong>towel bundle</strong> in your online store and offer the bundle colours <strong>red</strong> and <strong>blue</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="2400">2.4. Setting the stock of item bundles</h3>
<div class="paragraph">
<p>The stock of a bundle depends on the bundle component with the lowest stock. The stock of this bundle component is displayed in the <strong>Net stock</strong> column of the item overview in the <strong>Item » Edit item</strong> menu. The bundle item itself must not have stock. In the <strong>Stock</strong> tab of a bundle component, you manage the stock, book incoming items, make stock corrections and view supplies as well as item movements. For further information, refer to the <a href="/en/stock-management">Stock management</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="2500">2.5. Calculating the weight and purchase price</h3>
<div class="paragraph">
<p>An item bundle is made up of various components. Each component has its own key figures, such as a <a href="/en/item/managing-items#270">weight</a> and a <a href="/en/item/managing-items#280">purchase price</a>. But how do these key figures come together for the entire bundle?</p>
</div>
<div class="paragraph">
<p>You could enter a weight and purchase price for the entire bundle as a whole. But there’s also a way to have plentymarkets automatically calculate these figures for you. This method is described below.</p>
</div>
<div class="paragraph instruction">
<p>Automatically calculating the weight and purchase price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select <strong>Yes</strong> for the <strong>Bundle</strong> filter.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All item bundles found are displayed in the overview.</p>
</li>
<li>
<p>Open the item bundle.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Choose the appropriate settings in the <strong>Bundle</strong> area. Note <a href="#table-calculate-weight-purchase-price">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p><a href="/en/basics/working-with-plentymarkets/general-functions#70">Reload</a> the item bundle.<br>
→ The key figures will be calculated automatically. This calculation is based on the data entered for each individual component.</p>
</li>
</ol>
</div>
<table id="table-calculate-weight-purchase-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Automatically calculating the weight and purchase price</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically calculate from bundle components: Net purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The net purchase price will automatically be calculated. The calculation is based on the individual components.<br>
Once you have saved the changes and reloaded the menu, the field <a href="/en/item/managing-items#280"><strong>Net purchase price</strong></a> will be greyed out in the <strong>Costs</strong> area on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically calculate from bundle components: Moving average purchase price (net)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The moving average purchase price (net) will automatically be calculated. The calculation is based on the individual components.<br>
Once you have saved the changes and reloaded the menu, the field <a href="/en/item/managing-items#280"><strong>Moving average purchase price (net)</strong></a> will be greyed out in the <strong>Costs</strong> area on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically calculate from bundle components: Net weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The net weight will automatically be calculated. The calculation is based on the individual components.<br>
Once you have saved the changes and reloaded the menu, the field <a href="/en/item/managing-items#270"><strong>Net weight</strong></a> will be greyed out in the <strong>Dimensions</strong> area on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically calculate from bundle components: Gross weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The gross weight will automatically be calculated. The calculation is based on the individual components.<br>
Once you have saved the changes and reloaded the menu, the field <a href="/en/item/managing-items#270"><strong>Gross weight</strong></a> will be greyed out in the <strong>Dimensions</strong> area on the right.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Modifying several item bundles at once</div>
<div class="paragraph">
<p>Use the <a href="/en/item/managing-items#330">variation group function or the batch processing function</a> to calculate the weight and purchase price for multiple item bundles at the same time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using automatic calculation by default</div>
<div class="paragraph">
<p>Do you normally want the weight and purchase price to be calculated automatically? Perhaps you only have a few items that should be excluded from the automatic calculation. No problem! Open the menu <strong>Setup » Item » Settings</strong> and specify which key figures should be calculated automatically. Use the options <strong>Bundle automatic for gross weight</strong>, <strong>Bundle automatic for net weight</strong>, <strong>Bundle automatic for purchase prices</strong> and <strong>Bundle automatic for moving average purchase prices</strong> to do so.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Prefer to enter key figures by hand?</div>
<div class="paragraph">
<p>Do you want to enter the weight and purchase price for item bundles yourself? Do not check any of the boxes in the <strong>Bundle</strong> area, if you’d prefer to enter the data manually. If none of the boxes are checked, then the key figures for individual components won’t have any influence on the key figures for the item bundle.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3000">3. Setting up a set (not sellable)</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="3100">3.1. Creating a Set item</h3>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Set items can not be displayed in the online store</div>
<div class="paragraph">
<p>While it’s technically possible to create <strong>Set</strong> items, they cannot currently be displayed in the online store. As such, you cannot select the option <strong>Active</strong> for <strong>Set</strong> items.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>An item set consists of several items. When you offer <strong>Set</strong> items, your customers can choose one of the variations of the items to make an individual set. In contrast to item bundles, when you offer sets, customers can select one of several variations for each product added to the Set item. Go to <strong>Item » Edit item</strong> and use the <strong>Type</strong> filter to search for sets.</p>
</div>
</div>
<div class="sect2">
<h3 id="3200">3.2. Preparing the set components</h3>
<div class="paragraph">
<p>First, create a <a href="/en/item/managing-items#880">sales price</a> of the type <strong>Set price</strong>. Link this sales price to the variations of those <strong>Default</strong> items that you want to add to a set. Save a price for this sales price.</p>
</div>
</div>
<div class="sect2">
<h3 id="3300">3.3. Creating a Set item</h3>
<div class="paragraph">
<p>Just like when you create <strong>Default</strong> items, a main variation is always created when a new Set item is created. This main variation is linked permanently to the <strong>Set</strong> item and can only be created or deleted together with the item. However, unlike the main variations of <strong>Default</strong> items, the main variation of <strong>Set</strong> items is completely virtual. As such, the main variation of a set is not equivalent to a physical product. The main variation of a <strong>Set</strong> item only serves as a data container. This container allows you to add set components and manage the settings for the set that is created from the sum of the individual components.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Set item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>New item</strong> tab opens.</p>
</li>
<li>
<p>Select the type <strong>Set</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Note <a href="#table-create-set-items">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>Set</strong> item is created.<br>
→ The main variation opens in a new tab.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying new <strong>Set</strong> items in the item overview</div>
<div class="paragraph">
<p>The new <strong>Set</strong> item is still inactive. In order to display recently created items in the item overview in the <strong>Item » Edit item</strong> menu, select the <strong>ALL</strong> option for the <strong>Active</strong> filter in the search area. Then click on <strong>Search</strong>. Learn how to activate items and variations for the online store in the <a href="/en/item/managing-items#180">Setting the availability</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-set-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating a Set item</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the item type <strong>Set</strong>.<br>
<strong>Default</strong> = Creates a <strong>Default</strong> item with main variation.<br>
<strong>Set</strong> = Creates a <strong>Set</strong> item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item ID is a unique, consecutive number that is used to identify each item in plentymarkets. If you leave this field empty, plentymarkets automatically assigns the next available ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the set. The name is a mandatory entry. Learn how to change the name in the <a href="/en/item/managing-items#50">Entering item texts</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Variation » Category link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category selection</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the category in which the set is to be published. Alternatively, click on <strong>New category</strong> to create a new category.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="3400">3.4. Editing Set items</h3>
<div class="paragraph">
<p>Now that you have created the <strong>Set</strong> item, you can refine the settings for the set.</p>
</div>
<div class="paragraph instruction">
<p>Editing Set items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the <strong>Set</strong> item.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-edit-set-items">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-set-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Editing Set items</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Global</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the revenue account. For further information about the revenue account, refer to the <a href="/en/orders/accounting#90">Accounting</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Age rating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the age rating for the <strong>Set</strong> item. Select this age rating based on the variation of the set with the highest age rating. Items with an <strong>18+ age rating</strong> must be linked to a <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profile</a> for which the <strong>PostIdent</strong> option was activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether coupons should be <strong>permitted</strong> or <strong>not permitted</strong> for the set, or if the set is <strong>purchasable with coupons only</strong>. For further information about coupons, refer to the <a href="/en/orders/coupons">Coupons</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping package</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use a shipping package. Shipping packages have specific dimensions. If you enter the item’s dimensions in the <strong>Settings</strong> tab of the <strong>Set</strong> item, the correct shipping package will be assigned automatically. For further information about setting up shipping packages, refer to the <a href="/en/fulfilment/preparing-the-shipment#1900">Shipping packages</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Serial number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use serial numbers to uniquely identify every single set sold. Serial numbers ensure traceability of items in case of errors or problems. Learn how to set up serial numbers in the <a href="/en/item/managing-items#820">Using serial numbers</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a>. No shipping profile is selected by default. Activate at least one shipping profile. Otherwise the shipping costs may not be calculated correctly. If an order contains items for which no shipping profile was activated, then the items will be given the default shipping profile of the default online store. If no default shipping profile was specified, then the shipping profile with the highest priority will be used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store special</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a store special or select <strong>none</strong>. Sets can be displayed as store specials in the online store. Learn how to enable store specials in the <a href="/en/item/managing-items#1010">Setting up store specials</a> chapter of the manual.<br>
<strong>Special offer</strong> = Displays a list of special offers.<br>
<strong>New item</strong> = Displays a list of the latest items.<br>
<strong>Top item</strong> = Displays a list of the best selling items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item feedback</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number between <strong>1</strong> and <strong>5</strong> or <strong>1</strong> and <strong>10</strong> for the initial set feedback. When using the item feedback function, the entered number will be displayed as the initial feedback of a set. Every time new feedback is submitted, an average value will be calculated automatically from these numbers. Go to <strong>Setup » Client » Settings » Feedback » Tab: Item</strong> to change the <strong>Maximum rating</strong> for feedback.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on the image to open the <strong>Images</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Set</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tab Settings</strong><br>
<strong>Tab: Add items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#3500">Add</a>, <a href="#3600">edit</a> and <a href="#3900">delete</a> items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Variation ID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tab Settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Settings are equivalent to those for <strong>Default</strong> items, see <a href="/en/item/managing-items#230">Setting a variation’s availability</a> and <a href="/en/item/managing-items#250">Linking barcodes</a>. Click on the image to open the <strong>Images</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tab: Categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Settings are equivalent to those for <strong>Default</strong> items, see <a href="/en/item/managing-items#300">Linking additional categories</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tab: Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the <strong>Available</strong> column, place a check mark for those clients where you want to offer the set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Texts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Texts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Settings are equivalent to those for <strong>Default</strong> items, see <a href="/en/item/managing-items#50">Entering item texts</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Images</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Images</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Upload images of the set. In the online store, the images of the variations of the set are also displayed. Additional settings are equivalent to those for <strong>Default</strong> items, see <a href="/en/item/managing-items#90">Uploading item images</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Media</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Media</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Settings are equivalent to those for <strong>Default</strong> items, see <a href="/en/item/managing-items#110">Making files available to be downloaded</a>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="3500">3.5. Adding components to the set</h3>
<div class="paragraph">
<p>Now add the <strong>Default</strong> items to the Set item that you want to offer as a set. If you add an item with more than one variation, customers can select one of these variations as a set component in the online store. For items with a main variation only, i.e. items without additional variations, customers can not make a selection. Instead, they simply add the main variation to the set.</p>
</div>
<div class="paragraph instruction">
<p>Adding components to the Set item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the set item.</p>
</li>
<li>
<p>Click on the <strong>Set</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Add item(s)</strong> tab.<br>
→ The items are listed.</p>
</li>
<li>
<p>Select the items you want to add to the set.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The items are added to the Set item.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="3600">3.6. Changing the quantity for a set component</h3>
<div class="paragraph">
<p>The components of a set item are listed in the <strong>Set » Settings</strong> tab. In the <strong>Quantity</strong> column, you enter how many copies of the selected variation of an item are to be part of the set. The default quantity is <strong>1</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Changing the quantity for a set component:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the set item.</p>
</li>
<li>
<p>Click on the <strong>Set</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.<br>
→ The set components are listed.</p>
</li>
<li>
<p>Enter the quantity in the <strong>Quantity</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The quantity is updated.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="3700">3.7. Setting discounts for set items</h3>
<div class="paragraph">
<p>By default, the price of an item set is equivalent to the sum of the individual prices of all set components. However, you can offer a discount in % on the total price of the set.</p>
</div>
<div class="paragraph instruction">
<p>Setting discounts for set items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the set item.</p>
</li>
<li>
<p>Click on the <strong>Set</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.<br>
→ The set components are listed.</p>
</li>
<li>
<p>In the <strong>Discount</strong> field, enter the discount in percent you want to offer on the total set price.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The discount is applied.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="3800">3.8. Stock of Set items</h3>
<div class="paragraph">
<p>The stock of a set depends on the set’s variation with the lowest stock. The stock of this variation is displayed in the <strong>Net stock</strong> column of the item overview in the <strong>Item » Edit item</strong> menu. You cannot manage any stock information for the <strong>Set</strong> item itself. Instead, stock is managed in the <strong>Stock</strong> tab of the set components. For further information, refer to the <a href="/en/stock-management">Stock management</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="3900">3.9. Removing set components</h3>
<div class="paragraph">
<p>Proceed as described below to remove components from the set item.</p>
</div>
<div class="paragraph instruction">
<p>Removing set components:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the set item.</p>
</li>
<li>
<p>Click on the <strong>Set</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.<br>
→ The set components are listed.</p>
</li>
<li>
<p>Place check marks next to the items you want to remove from the set item.</p>
</li>
<li>
<p>Click on <strong>Delete set components</strong>.<br>
→ The items are removed from the set item.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>