<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Give-aways</h1><div class="paragraph">
<p>Use give-aways to generate more revenue in your online store by motivating your customers to buy more items and more frequently. The basic idea is simple: You offer customers a free, give-away item if they spend a certain amount of money in your store. Instead of adding these give-aways to each order manually, you can use an <a href="/en/automation/event-procedures">event procedure</a> to automate this process.</p>
</div><div class="paragraph">
<p>This video offers you an introduction to the topic:</p>
</div><div class="videoblock">
<div class="title">Adding give-aways to an order</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/124509345" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="paragraph">
<p>You can also add promotional items that aren’t sold in your online store. To do so, set the variation to <strong>invisible</strong> and then assign it to an invisible category, i.e. a category that is not activated for the online store.</p>
</div><div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-give-away">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-give-away">Table 1</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><table id="table-event-give-away" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Event procedure for give-aways</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation &gt; New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Value of items (gross)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select operator and enter value of items.<br>
<strong><em>Example:</em></strong> Operator <strong>&gt;=</strong>, Value of items <strong>50.00</strong> = The variation will be added if the total item value is 50 GBP or more</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item &gt; Add variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter variation ID.</p></td>
</tr>
</tbody>
</table><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Bonus item scale</div>
<div class="paragraph">
<p>Use more than one event procedure to offer a bonus item scale. This allows you to offer different variations depending on the value of items customers buy. In the first event procedure, for example set the item value filter to <strong>&gt;=  100.00 GBP</strong> and <strong>&lt; 200.00 GBP</strong>. In the second event procedure, set an item value filter of <strong>&gt;=  200 GBP</strong> and select a different, more attractive variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</main>