<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Deciding which prices and barcodes should appear in the item overview</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up the back end item search</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Setting up the default index</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Setting up the extended index</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Manually updating the item search index</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Manually updating the characteristics search index</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Back end search behaviour</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Item » Edit item</strong> menu provides an item search function and the associated item overview. In the following, you will learn how to use the item search effectively.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Deciding which prices and barcodes should appear in the item overview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can set which sales price and/or which barcode is displayed in the columns of the item overview. If you do not set a preference, the first sales price and/or barcode saved for the variation is displayed.</p>
</div>
<div class="paragraph instruction">
<p>Customising the item overview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Settings</strong>.</p>
</li>
<li>
<p>For the option <strong>Prioritised price in item overview</strong>, select the sales price to be displayed in the <strong>Sales price</strong> column of the item overview.<br>
→ For variations that are not linked to this sales price, one of the saved prices is displayed.</p>
</li>
<li>
<p>For the option <strong>Prioritised barcode in item overview</strong>, select the sales price to be displayed in the <strong>Barcode</strong> column of the item overview.<br>
→ For variations that are not linked to this barcode, one of the saved barcodes is displayed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up the back end item search</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Setup » Item » Search » Back end » Search index</strong> to set up searching for items in the <strong>Item » Editing items</strong>. To do so, you define those item parameters to be added to the search index. These parameters will then be searched during an item search in the back end.</p>
</div>
<div class="paragraph">
<p>The search index is set up automatically when a new item are created. The search index is updated the night after you imported the items. A maximum of 3000 items are added to the search index at a time. As such, if more than 3000 items are saved in the system, it can take several nights to update the search index.</p>
</div>
<div class="paragraph">
<p>In the <strong>Item catalogue</strong> tab, you can see how many items are included in the search index. In the <strong>Item characteristics</strong> tab, you can see how many items with characteristics are included in the search index.</p>
</div>
<div class="paragraph">
<p>In the <strong>Setup » Item » Search » Back end » Search index</strong> menu, you can start updating the search index manually.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Old online store Callisto with default search</div>
<div class="paragraph">
<p>If your online store is still based on the old design Callisto and the option <strong>Default search</strong> is activated in the <strong>Setup » Client » Select client » Online store » Item search</strong> menu, the index of the back end item search is also used for searching items in the front end.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="300">2.1. Setting up the default index</h3>
<div class="paragraph">
<p>With the default index, you define parameters that are indexed in the search index and taken into account when performing an item search in the back end. Proceed as described below to set up the default index.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Avoid changing the search index</div>
<div class="paragraph">
<p>Avoid changing the search index. After any change, the search index is rebuilt from scratch. If you have a lot of items, this may take a long time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up the default index:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Back end » Search index</strong>.</p>
</li>
<li>
<p>Click on the <strong>Default index</strong> tab.</p>
</li>
<li>
<p>Activate the parameters that are taken into account when performing an item search.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The selected parameters are used to search for items in the back end.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Setting up the extended index</h3>
<div class="paragraph">
<p>In addition to the default index, you use the extended index to activate parameters that are taken into account when performing an item search with the <strong>Browse description</strong> option in the search area of the <strong>Item » Edit item</strong> menu. Proceed as described below to set up the extended index.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the extended index:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Back end » Search index</strong>.</p>
</li>
<li>
<p>Open the <strong>Extended index</strong> tab.</p>
</li>
<li>
<p>Activate the parameters that are taken into account when performing an item search with the <strong>Browse description</strong> option in the search area of the <strong>Item » Edit item</strong> menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The selected parameters are used to search for items in the back end when the option <strong>Browse description</strong> is activated.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. Manually updating the item search index</h3>
<div class="paragraph">
<p>The <strong>Setup » Item » Search » Back end » Search index » Tab: Overview</strong> shows how many items are saved in the system and how many items are in the search index.</p>
</div>
<div class="paragraph">
<p>The search index is updated automatically when you create a new item. The search index is updated the night after you imported the items. If you want to index items faster, start the indexing process manually.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to manually build the item search index.</p>
</div>
<div class="paragraph instruction">
<p>Manually updating the item search index:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Back end » Search index</strong>.<br>
→ The <strong>Overview</strong> tab opens.<br>
→ <strong>Indexed items</strong> shows the number of items per language that are in the search index.<br>
→ <strong>Total number of items</strong> shows the number of items in the plentymarkets system. This number includes recently imported items and items that are not yet indexed.</p>
</li>
<li>
<p>Click <strong>Set up an item search index</strong> to update the search index immediately.<br>
→ The item search index is filled with the data of the first 3000 items.</p>
</li>
<li>
<p>To index more than 3000 items, click on <strong>Set up a property search index</strong> again once the option can be selected again.<br>
→ The item search index is filled with the data of the next 3000 items.</p>
</li>
<li>
<p>Repeat until all items are indexed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">2.4. Manually updating the characteristics search index</h3>
<div class="paragraph">
<p>The <strong>Setup » Item » Search » Back end » Search index » Tab: Item characteristics</strong> shows how many items with properties are saved in the system and how many items with properties are in the search index.</p>
</div>
<div class="paragraph">
<p>The search index is updated automatically when you create a new item with characteristics. The search index is updated the night after you imported the items. If you want to index items faster, start the indexing process manually.</p>
</div>
<div class="paragraph">
<p>During each run, a maximum of 3000 items are added to the search index. This is the case both when the indexing is started automatically and when you start the process manually. Only one cycle is carried out overnight. As such, if more than 3000 items are saved in the system, it can take several nights to update the search index. To add items to the search index more quickly, manually build the characteristics search index. Proceed as described below to manually build the property search index.</p>
</div>
<div class="paragraph instruction">
<p>Manually updating the characteristics search index:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Back end » Search index</strong>.</p>
</li>
<li>
<p>Click on the <strong>Item characteristics</strong> tab.<br>
→ <strong>Indexed items with characteristics</strong> shows the number of items with characteristics per language that are in the search index.<br>
→ <strong>Total number of items with characteristics</strong> shows the number of items with characteristics in the plentymarkets system. This number includes recently imported items and items that are not yet indexed.</p>
</li>
<li>
<p>Click <strong>Set up a characteristics search index</strong> to update the search index immediately.<br>
→ The characteristics search index is filled with the data of the first 3000 items with characteristics.</p>
</li>
<li>
<p>To index more than 3000 items with characteristics, click on <strong>Set up a characteristics search index</strong> again once the option can be selected again.<br>
→ The characteristics search index is filled with the data of the next 3000 items with characteristics.</p>
</li>
<li>
<p>Repeat until all items are indexed.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>