<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Abgleichfelder</span></a></li>
<li><a href="#20"><span>2.</span><span> Zuordnungsfelder</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Kategorie</span></a>
<ul class="sectlevel3">
<li><a href="#40"><span>2.1.1.</span><span> Elternkategorie ID</span></a></li>
<li><a href="#50"><span>2.1.2.</span><span> Elternkategorie Name</span></a></li>
<li><a href="#60"><span>2.1.3.</span><span> Typ</span></a></li>
<li><a href="#70"><span>2.1.4.</span><span> In Linkliste anzeigen</span></a></li>
<li><a href="#80"><span>2.1.5.</span><span> right</span></a></li>
<li><a href="#90"><span>2.1.6.</span><span> Sichtbar</span></a></li>
<li><a href="#100"><span>2.1.7.</span><span> Kategorie löschen</span></a></li>
<li><a href="#110"><span>2.1.8.</span><span> Elternkategorie anlegen wenn nicht vorhanden</span></a></li>
</ul>
</li>
<li><a href="#120"><span>2.2.</span><span> Details</span></a>
<ul class="sectlevel3">
<li><a href="#130"><span>2.2.1.</span><span> Name</span></a></li>
<li><a href="#140"><span>2.2.2.</span><span> Beschreibung 1</span></a></li>
<li><a href="#150"><span>2.2.3.</span><span> Beschreibung 2</span></a></li>
<li><a href="#160"><span>2.2.4.</span><span> Kurzbeschreibung</span></a></li>
<li><a href="#170"><span>2.2.5.</span><span> Meta-Keywords</span></a></li>
<li><a href="#180"><span>2.2.6.</span><span> Meta-Beschreibung</span></a></li>
<li><a href="#190"><span>2.2.7.</span><span> Meta-Titel</span></a></li>
<li><a href="#200"><span>2.2.8.</span><span> URL-Name</span></a></li>
<li><a href="#210"><span>2.2.9.</span><span> Position</span></a></li>
<li><a href="#220"><span>2.2.10.</span><span> Template-Liste</span></a></li>
<li><a href="#230"><span>2.2.11.</span><span> Template-Produkt</span></a></li>
<li><a href="#240"><span>2.2.12.</span><span> Template-Seite</span></a></li>
<li><a href="#250"><span>2.2.13.</span><span> Volltextsuche</span></a></li>
<li><a href="#260"><span>2.2.14.</span><span> Robots</span></a></li>
<li><a href="#270"><span>2.2.15.</span><span> Platzhalter übersetzen</span></a></li>
<li><a href="#280"><span>2.2.16.</span><span> Canonical</span></a></li>
</ul>
</li>
<li><a href="#290"><span>2.3.</span><span> Elmar</span></a>
<ul class="sectlevel3">
<li><a href="#300"><span>2.3.1.</span><span> Elmar-Kategorie</span></a></li>
<li><a href="#310"><span>2.3.2.</span><span> Verknüpfung löschen</span></a></li>
</ul>
</li>
<li><a href="#320"><span>2.4.</span><span> Mandant (Shop)</span></a>
<ul class="sectlevel3">
<li><a href="#330"><span>2.4.1.</span><span> Aktiv</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Abgleich- und Zuordnungsfelder, die dir beim Importieren von Kategorien zur Verfügung stehen.

Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Praxisbeispiel: Neue Kategorien importieren</div>
<div class="paragraph">
<p>Stell dir mal vor, du bist ganz neu bei plentymarkets und möchtest alle deine Kategoriedaten auf einmal importieren. Wie geht so etwas? Wirf einen Blick auf <a href="/daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-kategorien">dieses praktische Beispiel</a>, welches dich Schritt für Schritt durch den Prozess führt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-matching-fields-categories">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Kategoriedaten zur Verfügung stehen.
Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="table-matching-fields-categories" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Kategorieimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Kategorie-IDs aufgelistet? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>bestehende Kategorien aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jede neu angelegte Kategorie erhält automatisch eine ID, die nicht geändert werden kann.
Die ID dient zur eindeutigen Kennzeichnung der Kategorie.
Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategoriename Kombiniert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der vollständige Kategoriepfad aufgeführt? Wähle diese Spalte aus der ersten Dropdown-Liste und das Trennzeichen aus der zweiten Dropdown-Liste.
Diese Option ist sinnvoll, wenn du <em>neue Kategorien anlegen</em> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategoriename Ebene 1 - 6</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der Kategoriename für diese Ebene aufgeführt? Wähle diese Spalte hier.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Zuordnungsfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Kategoriedaten zur Verfügung stehen.
Mithilfe dieser Felder legst du fest, welche <em>Spalte deiner Datei</em> welchem <em>Datenfeld in deinem System</em> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In deiner CSV-Datei</em></strong>: Gib einen zulässigen Importwert in eine Spalte ein.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Ordne diese Spalte dem passenden Zuordnungsfeld zu.</p>
</li>
<li>
<p><strong><em>Nach dem Import</em></strong>: Prüfe das Ergebnis im Backend.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Zuordnungsfeld? Standardwert greift!</div>
<div class="paragraph">
<p>Wenn du eine bestimmte Information nicht in deine CSV-Datei aufnimmst, d.h. wenn du ein bestimmtes Zuordnungsfeld <em>nicht verwendest</em>, dann erhält deine Kategorie den Standardwert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">2.1. Kategorie</h3>
<div class="sect3">
<h4 id="40">2.1.1. Elternkategorie ID</h4>
<div class="paragraph">
<p>Gib die übergeordnete Kategorie-ID in deine CSV-Datei ein.
Dies teilt plentymarkets mit, wie die Kategorien zueinander in Beziehung stehen.
Zum Beispiel, ob eine Zeile der CSV-Datei als Unterkategorie zu verstehen ist und falls ja, welche Kategorie darüber liegt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch (interne Kategorie-ID)</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="50">2.1.2. Elternkategorie Name</h4>
<div class="paragraph">
<p>Gib den übergeordneten Kategorienamen in deine CSV-Datei ein.
Dies teilt plentymarkets mit, wie die Kategorien zueinander in Beziehung stehen.
Zum Beispiel, ob eine Zeile der CSV-Datei als Unterkategorie zu verstehen ist und falls ja, welche Kategorie darüber liegt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="60">2.1.3. Typ</h4>
<div class="paragraph">
<p>Wofür möchtest du die Kategorie verwenden? In plentymarkets können Kategorien sowohl im Sinne von Warengruppen als auch im Sinne von den Content-Seiten eines Webshops verstanden werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>item</code></p>
</div>
<table id="table-mapping-categories-type" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>item</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>container</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Container</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>content</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Content</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>blog</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blog</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-anwendungsfall">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Typ</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="70">2.1.4. In Linkliste anzeigen</h4>
<div class="paragraph">
<p>Entscheide, ob die Kategorie in der Webshop-Navigation angezeigt werden soll.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-linklist" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nicht anzeigen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzeigen</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-in-linkliste">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: In Linkliste</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="80">2.1.5. right</h4>
<div class="paragraph">
<p>Entscheide, ob die Kategorie nur für eingeloggte Benutzer sichtbar sein soll.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>all</code></p>
</div>
<table id="table-mapping-categories-right" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>all</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffentlich</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>customer</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach Login</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-login">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Sichtbar</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="90">2.1.6. Sichtbar</h4>
<div class="paragraph">
<p>Entscheide, ob die Kategorie in die Sitemap aufgenommen werden soll.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-visible" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nicht anzeigen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzeigen</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-sitemap">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Sitemap</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="100">2.1.7. Kategorie löschen</h4>
<div class="paragraph">
<p>Möchtest du die Kategorie löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-delete-category" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie wird gelöscht</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect3">
<h4 id="110">2.1.8. Elternkategorie anlegen wenn nicht vorhanden</h4>
<div class="paragraph">
<p>Möchtest du die übergeordnete Kategorie erstellen, falls sie noch nicht existiert?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-create-parent" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Elternkategorie wird <em>nicht</em> angelegt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Elternkategorie wird angelegt</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="120">2.2. Details</h3>
<div class="sect3">
<h4 id="130">2.2.1. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span></p>
</div>
<div class="paragraph">
<p>Gib den Namen der Kategorie in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-kategorie-name">Artikel » Kategorien » Tab: Einstellungen » Eingabefeld: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="140">2.2.2. Beschreibung 1</h4>
<div class="paragraph">
<p>Gib eine Beschreibung der Kategorie in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#800">Artikel » Kategorien » Tab: Beschreibung 1</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="150">2.2.3. Beschreibung 2</h4>
<div class="paragraph">
<p>Gib eine Beschreibung der Kategorie in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#800">Artikel » Kategorien » Tab: Beschreibung 2</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="160">2.2.4. Kurzbeschreibung</h4>
<div class="paragraph">
<p>Gib die Kurzbeschreibung in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-kurzbeschreibung">Artikel » Kategorien » Tab: Einstellungen » Eingabefeld: Kurzbeschreibung</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="170">2.2.5. Meta-Keywords</h4>
<div class="paragraph">
<p>Gib Keywords in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-meta-keywords">Artikel » Kategorien » Tab: Einstellungen » Eingabefeld: Meta-Keywords</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="180">2.2.6. Meta-Beschreibung</h4>
<div class="paragraph">
<p>Gib eine Meta-Beschreibung in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-meta-beschreibung">Artikel » Kategorien » Tab: Einstellungen » Eingabefeld: Meta-Beschreibung</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="190">2.2.7. Meta-Titel</h4>
<div class="paragraph">
<p>Gib einen Meta-Titel in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-metadaten">Artikel » Kategorien » Tab: Einstellungen » Eingabefeld: Meta-Titel</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="200">2.2.8. URL-Name</h4>
<div class="paragraph">
<p>Gib einen URL-Namen in die CSV-Datei ein.
Aus diesem Namen wird die URL der Kategorie gebildet.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: URL-Name = Kategoriename</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-url">Artikel » Kategorien » Tab: Einstellungen » Eingabefeld: URL-Name</a></p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Aus der URL-Name <code>neue-kategorie</code> wird zum Beispiel die URL <code>www.dein-domain.de/neue-kategorie</code></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="210">2.2.9. Position</h4>
<div class="paragraph">
<p>Gib eine Positionsnummer in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-position">Artikel » Kategorien » Tab: Einstellungen » Eingabefeld: Position</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="220">2.2.10. Template-Liste</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Nur für den alten Callisto-Webshop relevant</span></p>
</div>
<div class="paragraph">
<p>Gib den Namen der gewünschten Vorlage in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: ItemViewCategoriesList</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-template-liste">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Template-Liste</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="230">2.2.11. Template-Produkt</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Nur für den alten Callisto-Webshop relevant</span></p>
</div>
<div class="paragraph">
<p>Gib den Namen der gewünschten Vorlage in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: ItemViewSingleItem</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-template-produkt">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Template-Produkt</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="240">2.2.12. Template-Seite</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Nur für den alten Callisto-Webshop relevant</span></p>
</div>
<div class="paragraph">
<p>Gib den Namen der gewünschten Vorlage in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: PageDesignContent</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-template-seite">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Template-Seite</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="250">2.2.13. Volltextsuche</h4>
<div class="paragraph">
<p>Entscheide, ob die Kategorie zum Suchindex der Kategoriesuche im Webshop hinzugefügt werden soll.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-fulltext" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-volltextsuche">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Volltextsuche</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="260">2.2.14. Robots</h4>
<div class="paragraph">
<p>Bestimme, wie Suchmaschinen-Crawlern mit der Seite und den Links auf dieser Seite verfahren werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>all</code></p>
</div>
<table id="table-mapping-categories-robots" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>all</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>index</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">index</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>nofollow</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nofollow</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>noindex</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">noindex</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>nofollow_noindex</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nofollow, noindex</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-robots">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Robots</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="270">2.2.15. Platzhalter übersetzen</h4>
<div class="paragraph">
<p>Entscheide, ob Template-Variablen und -Funktionen übersetzt werden sollen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>Y</code></p>
</div>
<table id="table-mapping-categories-placeholder" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Y</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>N</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Link-Template-Variablen und -Funktionen</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-variablen-funktionen">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Template-Variablen und -Funktionen übersetzen</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="280">2.2.16. Canonical</h4>
<div class="paragraph">
<p>Gibt es eine andere Kategorie mit dem gleichen Inhalt? Falls ja, gib die URL für diese Kategorie in deine CSV-Datei ein.
Die URL ist auf max. 256 Zeichen begrenzt.
Dies verhindert sogenannte "Duplicate Content".</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Listen auch die Sprache und den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-canonical">Artikel » Kategorien » Tab: Einstellungen » Eingabefeld: Canonical</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="290">2.3. Elmar</h3>
<div class="sect3">
<h4 id="300">2.3.1. Elmar-Kategorie</h4>
<div class="paragraph">
<p>Gib den Namen der Elmar-Kategorie in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-elmar-kategorie">Artikel » Kategorien » Tab: Einstellungen » Dropdown-Liste: Elmar-Kategorie</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="310">2.3.2. Verknüpfung löschen</h4>
<div class="paragraph">
<p>Möchtest du die Verknüpfung der Elmar-Kategorie löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-delete-elmar-link" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfung wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfung wird gelöscht</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="320">2.4. Mandant (Shop)</h3>
<div class="sect3">
<h4 id="330">2.4.1. Aktiv</h4>
<div class="paragraph">
<p>Soll die Kategorie für einen bestimmten Webshop aktiviert werden?</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch den Webstore ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-client-active" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für den angegebenen Mandanten <em>nicht aktiviert</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für den angegebenen Mandanten <em>aktiviert</em>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/kategorien#intable-mandant">Artikel » Kategorien » Tab: Einstellungen » Checkbox: Mandant (Shop)</a></p>
</div>
</div>
</div>
</div>
</div>
</main>