<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#sync-facetten-abgleich"><span>1.</span><span> Felder für den Kategorieabgleich</span></a></li>
<li><a href="#sync-facetten-zuordnung"><span>2.</span><span> Felder für die Facettenzuordnung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Facetten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Facetten</strong> importierst du Facettendaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="sync-facetten-abgleich">1. Felder für den Kategorieabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Felder stehen für den Abgleich von Facettendaten zur Verfügung. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Facetten-ID</p>
</li>
<li>
<p>Facettenname</p>
</li>
<li>
<p>Facettenwertname</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="sync-facetten-zuordnung">2. Felder für die Facettenzuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Zuordnungsfelder-Facetten">Tabelle 1</a> werden Felder erläutert, die für die Zuordnung von Facettendaten zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-Zuordnungsfelder-Facetten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Zuordnungsfelder für Facettenimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Facette</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSS-Klasse</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSS-Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sortierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>rate</strong> = Trefferquote<br>
<strong>position</strong> = Position<br>
<strong>a_z</strong> = A-Z</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sortierung des Suchergebnisses</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>dynamic</strong> = Attribut/Merkmal<br>
<strong>producer</strong> = Hersteller<br>
<strong>price</strong> = Preis<br>
<strong>availability</strong> = Verfügbarkeit</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimale Trefferanzahl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximal angezeigte Facettenwerte</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahlart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>restrict</strong> = nur ein Wert wählbar<br>
<strong>multi</strong> = mehrere Werte wählbar</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facette löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Facettenname</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zuordnung erfolgt pro Sprache.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Facettenwert</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSS-Klasse</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Facettenwerts im Webshop</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facettenwert löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Facettenwertname</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zuordnung erfolgt pro Sprache.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Verknüpfung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">character = Merkmal<br>
 property = Eigenschaft<br>
 attribute = Attribut<br>
 availability = Verfügbarkeit<br>
 producer = Hersteller</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfung löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>