<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#3100"><span>1.</span><span> Felder für den Kategorieabgleich</span></a></li>
<li><a href="#3200"><span>2.</span><span> Felder für die Herstellerzuordnung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Hersteller</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Hersteller</strong> importieren Sie Herstellerdaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="3100">1. Felder für den Kategorieabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Abgleichfelder-Hersteller">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Herstellerdaten zur Verfügung stehen. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-Abgleichfelder-Hersteller" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Herstellerimport</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellername</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externer Herstellername</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="3200">2. Felder für die Herstellerzuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Zuordnungsfelder-Hersteller">Tabelle 2</a> werden Felder erläutert, die für die Zuordnung von Herstellerdaten zur Verfügung stehen. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-Zuordnungsfelder-Hersteller" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zuordnungsfelder für Herstellerimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externer Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Logo-URL</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Homepage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Haus-Nr.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PLZ</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Faxnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pixmania-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neckermann.at Enterprise-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">La Redoute-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kommentar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller löschen</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>