<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Felder für den Abgleich</span></a></li>
<li><a href="#20"><span>2.</span><span> Felder für die Notizzuordnung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Notizen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Notizen</strong> importierst du Notizen. Je nach Abgleichfeld werden die Notizen am Kontakt, an der Variante, am Auftrag oder an der Kategorie gespeichert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Felder für den Abgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-abgleichfelder-notizen">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Notizen zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist. Das Abgleichfeld, das du angibst, entscheidet auch darüber, an welchem Datensatz die Notiz beim Import gespeichert wird. Pro Notiztyp muss also ein eigener Sync erstellt werden.</p>
</div>
<table id="tabelle-abgleichfelder-notizen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Notizenimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Notizen des Syncs werden an dem Kontakt mit der im Abgleichfeld angegebenen ID gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Notizen des Syncs werden an der Variante mit der im Abgleichfeld angegebenen ID gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Notizen des Syncs werden an dem Auftrag mit der im Abgleichfeld angegebenen ID gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Notizen des Syncs werden an der Kategorie mit der im Abgleichfeld angegebenen ID gespeichert.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Felder für die Notizzuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-zuordnungsfelder-notizen">Tabelle 2</a> werden Felder erläutert, die für die Zuordnung von Notizen zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-zuordnungsfelder-notizen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zuordnungsfelder für Notizenimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzer-ID<br>
(Pflichtfeld)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID der Person, die als Verfasserin oder Verfasser der Notiz gespeichert wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text<br>
(Pflichtfeld)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Notiztext</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sichtbar für Kunden<br>
(Pflichtfeld)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gilt nur für Auftragsnotizen</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>