<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#2231"><span>1.</span><span> Felder für den Lagerortabgleich</span></a></li>
<li><a href="#2232"><span>2.</span><span> Felder für die Lagerortzuordnung</span></a></li>
<li><a href="#2240"><span>3.</span><span> Lagerort anpassen</span></a></li>
<li><a href="#2250"><span>4.</span><span> Lagerort erstellen</span></a></li>
<li><a href="#2250"><span>5.</span><span> Lagerort löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lager</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Syncs des Typs <strong>Lager</strong> importierst du neue Lagerorte oder aktualisierst bestehende.</p>
</div>
<div class="paragraph">
<p>Um Lagerorte per ElasticSync zu erstellen oder zu aktualisieren, musst du ein Lager angelegt haben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2231">1. Felder für den Lagerortabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Abgleichfelder-Lagerorte">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Lagerorten zur Verfügung stehen. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu den Begrifflichkeiten Dimensionen, Ebenen und Lagerorten findest du auf der Handbuchseite <a href="https://knowledge.plentymarkets.com/warenwirtschaft/lager-einrichten" target="_blank" rel="noopener">Lager einrichten</a>.</p>
</div>
<table id="tabelle-Abgleichfelder-Lagerorte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Lagerortimport</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Ebene, z.B. R01</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">WarehouseLocationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">WarehouseLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerorts ohne Pfad</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2232">2. Felder für die Lagerortzuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Zuordnungsfelder-Lagerorte">Tabelle 2</a> werden Felder erläutert, die für die Zuordnung von Lagerortdaten zur Verfügung stehen. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu den Begrifflichkeiten Dimensionen, Ebenen und Lagerorten findest du auf der Handbuchseite <a href="https://knowledge.plentymarkets.com/warenwirtschaft/lager-einrichten" target="_blank" rel="noopener">Lager einrichten</a>.</p>
</div>
<table id="tabelle-Zuordnungsfelder-Lagerorte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zuordnungsfelder für Lagerortimport</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Lagerorte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location Id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerorts ohne Pfad</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purpose</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwedungszweck des Lagerorts, z.B. Entnahme</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status des Lagerorts, z.B. aktiv, inaktiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Lagerorts (Laufweg)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Ebenen der Lagerorte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level Parent ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parent-ID der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dimension ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Dimension, z.B. Regal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Ebene, z.B. R01, R02 usw.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2240">3. Lagerort anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst mit ElasticSync Lagerorte anpassen und z.B. den Namen oder die Position des Lagerortes ändern.</p>
</div>
<div class="paragraph instruction">
<p>Lagerort anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.</p>
</li>
<li>
<p>Klicke auf <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Aktiviere die Felder <strong>WarehouseID</strong> und <strong>Storage location ID</strong>.</p>
</li>
<li>
<p>Wähle <strong>Überspringen</strong> als Importoption.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Öffne die Zuordnung aus der Übersicht.</p>
</li>
<li>
<p>Klappe auf der rechten Seite den Bereich <strong>Lagerorte</strong> auf.</p>
</li>
<li>
<p>Aktiviere die Felder <strong>Storage Location ID</strong>, <strong>Storage location name</strong> und <strong>Position</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2250">4. Lagerort erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst mit ElasticSync neue Lagerorte erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Lagerort erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.</p>
</li>
<li>
<p>Klicke auf <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Wähle die Felder <strong>WarehouseID</strong> und <strong>Storage location ID</strong>.</p>
</li>
<li>
<p>Wähle bei Importoption <strong>erstellen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Öffne die Zuordnung aus der Übersicht.</p>
</li>
<li>
<p>Klappe auf der rechten Seite den Bereich <strong>Lagerorte</strong> auf.</p>
</li>
<li>
<p>Aktiviere die Felder <strong>Level ID</strong>, <strong>Storage Location ID</strong>, <strong>Storage location name</strong>, <strong>Purpose</strong>, <strong>Status</strong> und <strong>Position</strong>.</p>
</li>
<li>
<p>Klappe auf der rechten Seite den Bereich <strong>Ebene der Lagerorte</strong> auf.</p>
</li>
<li>
<p>Aktiviere die Felder <strong>Dimension ID</strong>, <strong>Level Position</strong> und <strong>Level name</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2250">5. Lagerort löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst mit ElasticSync Lagerorte löschen.</p>
</div>
<div class="paragraph instruction">
<p>Lagerort löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.</p>
</li>
<li>
<p>Klicke auf <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Wähle das Feld <strong>Storage location ID</strong>.</p>
</li>
<li>
<p>Wähle die Importoption <strong>Nur vorhandene Daten aktualisieren</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Öffne die Zuordnung aus der Übersicht.</p>
</li>
<li>
<p>Klappe auf der rechten Seite den Bereich <strong>Lagerorte</strong> auf.</p>
</li>
<li>
<p>Aktiviere das Feld <strong>Lagerort löschen</strong>.</p>
</li>
<li>
<p>Es können alle oder nur bestimmte Lagerorte gelöscht werden. Nimm die entsprechenden Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-Lagerorte-loeschen">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-Lagerorte-loeschen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Alle oder nur bestimmte Lagerorte löschen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Lagerorte löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Lagerort-IDs, die in der CSV-Datei vorhanden sind, werden gelöscht.<br>
 Hier wird als Wert für Lagerort löschen <strong>Eigener Wert</strong> ausgewählt.<br>
 Anschließend wählt man <strong>Yes</strong> oder <strong>No</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur bestimmte Lagerorte löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier gibt es 2 Werte in der CSV-Datei: einmal die Lagerort-IDs und einmal die Werte <strong>Yes</strong> und <strong>No</strong>, durch die bestimmt werden kann, ob der Wert gelöscht werden soll oder nicht.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>