<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Felder für den Abgleich von Fahrzeugverwendungslisten</span></a></li>
<li><a href="#200"><span>2.</span><span> Felder für die Zuordnung von Fahrzeugverwendungslisten</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Fahrzeugverwendungsliste</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Fahrzeug</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Fahrzeugeigenschaft</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Fahrzeugverwendungsliste</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Syncs des Typs <strong>Fahrzeugverwendungsliste</strong> importierst oder aktualisierst du Fahrzeugverwendungslisten in plentymarkets. Einen neuen Sync erstellst du im Menü <strong>Daten » ElasticSync</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Best Practice zur Fahrzeugverwendungsliste</div>
<div class="paragraph">
<p>Beachte die Best Practice-Seite zum <a href="#daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-fahrzeugverwendungsliste">Sync-Typ Fahrzeugverwendungsliste</a>, wenn du mit ElasticSync eine Fahrzeugverwendungliste erstellst oder aktualisierst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Felder für den Abgleich von Fahrzeugverwendungslisten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Abgleich von Fahrzeugverwendunglisten steht dir das Abgleichfeld <strong>Fahrzeugverwendungslisten-ID</strong> zur Verfügung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Felder für die Zuordnung von Fahrzeugverwendungslisten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Fahrzeugverwendungslisten zur Verfügung stehen.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Fahrzeugverwendungsliste</h3>
<div class="paragraph">
<p>Für den Import von Fahrzeugverwendungslisten stehen die in <a href="#fahrzeugverwendungsliste-zuordnung">Tabelle 1</a> aufgelisteten Felder zur Verfügung. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="fahrzeugverwendungsliste-zuordnung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Zuordnungsfelder für den Import von Fahrzeugverwendungslisten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fahrzeugverwendungsliste-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID der Fahrzeugverwendungsliste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunfts-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1003 / 2.03 = Großbritannien<br>
1008 / 2.08 = Deutschland<br>
1009 / 2.09 = Motors</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID der Auftragsherkunft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name der Fahrzeugverwendungsliste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">61455 = Auto Deutschland + Großbritannien,<br>
179753 = Motorrad Deutschland + Großbritannien,<br>
65368 = Roller Großbritannien,<br>
25640 = Roller Deutschland + Motors,<br>
33565 = Auto Motors,<br>
10064 = Motorrad Motors</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID der Kategorie.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löschen</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fahrzeugverwendungsliste löschen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Fahrzeug</h3>
<div class="paragraph">
<p>Für den Import von Fahrzeugen stehen die in <a href="#fahrzeuge-zuordnung">Tabelle 2</a> aufgelisteten Felder zur Verfügung. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="fahrzeuge-zuordnung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zuordnungsfelder für den Import von Fahrzeugen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fahrzeugs-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID des Fahrzeugs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fahrzeugverwendungslisten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID der Fahrzeugverwendungliste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löschen</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fahrzeug löschen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Fahrzeugeigenschaft</h3>
<div class="paragraph">
<p>Für den Import von Listing-Eigenschaften stehen die in <a href="#fahrzeugeigenschaft-zuordnung">Tabelle 3</a> aufgelisteten Felder zur Verfügung. Wähle einen Wert für die Fahrzeugeigenschaft aus der Dropdown-Liste, die erscheint, wenn du das Zuordnungsfeld <strong>Wert</strong> wählst.<br></p>
</div>
<div class="paragraph">
<p>Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="fahrzeugeigenschaft-zuordnung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Zuordnungsfelder für den Import von Fahrzeugeigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Wert</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">K-Typ-Nummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die K-Typ-Nummer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marke</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Marke des Fahrzeuges.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modell</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Modell des Fahrzeuges.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plattform</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die eBay-Plattform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Fahrzeugtyp.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Baujahr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Baujahr des Fahrzeuges.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Motor</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hinweise</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DE Motorrad/Roller Marke</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DE Motorrad/Roller Modellbezeichnung 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DE Motorrad/Roller CCM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DE Motorrad/Roller Modellbezeichnung 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DE Motorrad/Roller Baujahr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DE Motorrad/Roller Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Auto Marke</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Auto Variante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Auto Karosserievariante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Auto Typ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Auto Jahr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Motorrad/Roller Marke</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Motorrad/Roller Modellbezeichnung 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Motorrad/Roller CCM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Motorrad/Roller Modellbezeichnung 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Motorrad/Roller Baujahr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GB Motorrad/Roller Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Motor</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modellbezeichnung 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>