<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Felder für den Abgleich von Kampagnendaten</span></a></li>
<li><a href="#200"><span>2.</span><span> Felder für die Zuordnung von Kampagnendaten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kampagnen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Kampagne</strong> importierst du Daten zu Gutscheinkampagnen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Felder für den Abgleich von Kampagnendaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Felder stehen für den Abgleich von Kampagnendaten zur Verfügung. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kampagnen-ID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Felder für die Zuordnung von Kampagnendaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-zuordnungsfelder-kampagnendaten">Tabelle 1</a> werden Felder erläutert, die für den Datenabgleich von Kampagnen zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-zuordnungsfelder-kampagnendaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Zuordnungsfelder für den Import von Kampagnendaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässiger Importwert</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kampagnen-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kampagne</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID der Kampagne</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Kampagne</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung der Kampagne</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enddatum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enddatum der Kampagne</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startdatum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startdatum der Kampagne</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellwert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellwert, der erreicht werden muss, damit der Gutschein eingelöst werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code-Gültigkeit in Wochen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Wochen, die die Gutschein-Codes gültig sein sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code-Länge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeichenlänge des Gutschein-Codes.<br>
<strong><em>Hinweis:</em></strong> Gutschein-Codes können 6, 16, 24 oder 32 Zeichen lang sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nutzung</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mögliche Werte:<br>
<strong>Einzelbestellungen und Abonnements</strong><br>
<strong>Nur Einzelbestellungen</strong><br>
<strong>Nur Abonnements</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Konzept: Code</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mögliche Werte: <strong>Ein Code</strong> und <strong>Mehrere Codes</strong>.<br>
<strong>Ein Code</strong> = Pro Kampagne wird ein Gutschein-Code erzeugt, der mehrmals einlösbar ist.<br>
<strong>Mehrere Codes</strong> = Einzelne Gutschein-Codes werden erzeugt, die nur einmal einlösbar sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Konzept: Einlösungen</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mögliche Werte:<br>
<strong>Mehrere Einlösungen pro Kunde</strong> = Ein Kunde kann den Gutscheinbetrag mehrmals abrufen.<br>
<strong>Eine Einlösung pro Kunde</strong> = Ein Gutschein kann nur einmal pro Kunde vollständig oder in Teilbeträgen abgerufen werden.<br>
<strong>Einlösung, bis Wert aufgebraucht ist</strong> = Der gesamte Betrag kann insgesamt nur einmal abgerufen werden. Der Gutschein kann nicht durch mehrere Kunden eingelöst werden.<br>
<strong>Eine einzige Einlösung</strong> = Nur ein Einlösungsvorgang ist möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutscheintyp</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mögliche Werte: <strong>Voucher</strong> und <strong>Gutschein</strong><br>
Gutscheine werden im Webshop eingelöst. Voucher werden nicht im Webshop, sondern bei Drittanbietern, z.B. in der Hotelbranche, eingelöst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code-Zuweisung</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Code-Zuweisung steht nur für den Gutscheintyp <strong>Voucher</strong> zur Verfügung.<br>
Mögliche Werte: <strong>Neu erzeugen</strong> und <strong>Vorhandene benutzen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutscheinart</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Gutscheinart steht nur für den Gutscheintyp <strong>Gutschein</strong> zur Verfügung.<br>
Mögliche Werte: <strong>Aktionsgutschein</strong> und <strong>Verkaufsgutschein</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattart</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattart des Gutscheins.<br>
Mögliche Werte, wenn die Gutscheinart <strong>Aktionsgutschein</strong> gewählt ist: <strong>Festbetrag</strong>, <strong>Prozentwert</strong>, <strong>Stück</strong>, <strong>Versand</strong>.<br>
Möglicher Wert, wenn die Gutscheinart <strong>Verkaufsgutschein</strong> gewählt ist: <strong>Festbetrag</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattwert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattwert des Gutscheins</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inkl. Versandkosten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten werden im Rabattwert eingeschlossen oder nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel über Preisportale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlauben, ob Gutscheine auch für Artikel über Preisportale, d.h. Artikel, die gleichzeitig auf anderen Marktplätzen angeboten werden, gelten sollen.<br>
<strong><em>Hinweis:</em></strong> Preisportale sind alle Herkünfte &gt; 1, d.h. neben Preisportalen sind auch Marktplätze und Plattformen inbegriffen. Die Herkünfte <strong>Manuelle Anlage (Herkunft 0)</strong> und <strong>Webshop (Herkunft 1)</strong> sind nicht betroffen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorien</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorien, für die der Gutschein einlösbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel, für die der Gutschein einlösbar ist.<br>
<strong><em>Hinweis:</em></strong> Es können bis zu 20 Artikel hinzugefügt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten (Shops)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten (Shops), für die der Gutschein einlösbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenklassen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenklassen, für die der Gutschein einlösbar sein soll.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>