<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#2010"><span>1.</span><span> Felder für den Auftragsabgleich</span></a></li>
<li><a href="#2020"><span>2.</span><span> Felder für die Auftragszuordnung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aufträge</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Aufträge</strong> importieren Sie Auftragsdaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2010">1. Felder für den Auftragsabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-abgleichfelder-auftrag">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Auftragsdaten zur Verfügung stehen. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-abgleichfelder-auftrag" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Auftragsimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong><br>
<strong>Externe Auftrags-ID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paket</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paket-ID</strong><br>
Hier ist die ID des Versandpakets gemeint.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsposition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragspositions-ID</strong><br>
<strong>Externe Artikel ID</strong><br>
<strong>Externe Token ID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong><br>
<strong>Marktplatz SKU</strong><br>
<strong>Externe Varianten ID</strong><br>
<strong>Variantennummer</strong><br>
<strong>Hersteller-Variantennummer</strong><br>
<strong>Barcode: EAN</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2020">2. Felder für die Auftragszuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-zuordnungsfelder-auftrag">Tabelle 2</a> werden Felder erläutert, die für die Zuordnung von Auftragsdaten zur Verfügung stehen. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.<br></p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Pflichtfelder für die Auftragszuordnung</div>
<div class="paragraph">
<p>Beachten Sie die mit <strong>Pflichtfeld</strong> gekennzeichneten Felder in <a href="#tabelle-zuordnungsfelder-auftrag">Tabelle 2</a>. Wenn Sie diese Pflichtfelder nicht aktivieren, wird die Auftragszuordnung nicht korrekt durchgeführt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-zuordnungsfelder-auftrag" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zuordnungsfelder für Auftragsimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Typs<br>
<strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Auftragstypen bilden verschiedene Geschäftsvorfälle ab. Folgende Typen stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrag = 1</p>
</li>
<li>
<p>Lieferauftrag = 2</p>
</li>
<li>
<p>Retoure = 3</p>
</li>
<li>
<p>Gutschrift = 4</p>
</li>
<li>
<p>Garantie = 5</p>
</li>
<li>
<p>Reparaturauftrag = 6</p>
</li>
<li>
<p>Angebot = 7</p>
</li>
<li>
<p>Vorbestellung = 8</p>
</li>
<li>
<p>Sammelauftrag = 9</p>
</li>
<li>
<p>Sammelgutschrift = 10</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Status. Die IDs vergeben Sie selbst im Bereich von 1,0000 bis 18,9999. Die Status finden Sie im Menü <strong>Einrichtung » Aufträge » Status</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eigners</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eigners. Ein Eigner ist ein Benutzer, der als Eigner zugeordnet wurde. Die ID des Eigners entspricht also der ID des Benutzers. Die Benutzer-ID finden Sie im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>. Aufträge können einem Eigner zugeordnet werden, müssen aber nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">PlentyID<br>
<strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Mandanten. Die PlentyID finden Sie im Menü <strong>Einrichtung » Mandant » Mandant wählen » Einstellungen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Standortes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Standorts. Standorte finden Sie im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Auftragsposition</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ<br>
<strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Auftragspositionstypen bilden verschiedene Kostenposten eines Auftrags ab. Die mit den Posten verbundenen Kosten können sowohl negativ als auch positiv sein. Standardmäßig wird hier die ID des Auftragspositionstyps erwartet. Die Typen, die zur Verfügung stehen, sind hier mit Typ-ID aufgelistet. Wenn Ihre Spalte nicht die IDs enthält, nehmen Sie eine eigene Zuordnung vor.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variante = 1</p>
</li>
<li>
<p>Artikelpaket = 2</p>
</li>
<li>
<p>Paketbestandteil = 3</p>
</li>
<li>
<p>Aktionsgutschein = 4</p>
</li>
<li>
<p>Geschenkgutschein = 5</p>
</li>
<li>
<p>Versandkosten = 6</p>
</li>
<li>
<p>Zahlungsaufschlag = 7</p>
</li>
<li>
<p>Geschenkverpackung = 8</p>
</li>
<li>
<p>Unzugeordnete Variante = 9</p>
</li>
<li>
<p>Pfand = 10</p>
</li>
<li>
<p>Auftrag = 11</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Der Typ <strong>Auftrag</strong> kommt z.B. in Sammelaufträgen vor.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunft</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig wird hier die ID der Herkunft erwartet. Die IDs finden Sie im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>. Wenn Ihre Spalte nicht die IDs enthält, nehmen Sie eine eigene Zuordnung vor.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name<br>
<strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Namen der Auftragsposition enthält. Standardmäßig wird davon ausgegangen, dass die Namen in der Systemsprache angegeben sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Namen des Attributwertes enthält. Der Name wird in Systemsprache erwartet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuersatz</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig wird hier der Prozentwert des Steuersatzes erwartet. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuerbetrag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Steuerbetrag enthält. Standardmäßig wird der Umsatzsteuerbetrag für die Menge 1 der Auftragsposition erwartet. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge<br>
<strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die die Anzahl einer Auftragsposition enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig wird hier die ID der Variante erwartet. Die IDs finden Sie im Menü <strong>Artikel » Artikel bearbeiten</strong>. Wenn Ihre Spalte nicht die IDs enthält, nehmen Sie eine eigene Zuordnung vor.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die die Position der Auftragspositionen enthält. Die Position dient der Sortierung innerhalb des Auftrages. Sie wird jedoch bisher noch nicht beachtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung<br>
<strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig wird der ISO-Code einer Währung erwartet, z.B. EUR für Euro.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselkurs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Wechselkurs enthält. Der Wechselkurs muss den Umrechnungskurs von der Auftragswährung in die Systemwährung enthalten. Ihre Systemwährung finden Sie im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong>. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Einkaufspreis enthält. Standardmäßig wird der Einkaufspreis für die Menge 1 der Auftragsposition erwartet. Der Einkaufspreis wird im Auftrag nicht direkt angezeigt. Er ermöglicht aber das Errechnen und Anzeigen der Gewinnspanne. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttopreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Bruttopreis enthält. Standardmäßig wird der Bruttopreis für die Menge 1 der Auftragsposition erwartet. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettopreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Nettopreis enthält. Standardmäßig wird der Nettopreis für die Menge 1 der Auftragsposition erwartet. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preisaufschlag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Preisaufschlag enthält. Standardmäßig wird der Preisaufschlag für die Menge 1 der Auftragsposition erwartet. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabatt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Rabatt enthält. Standardmäßig wird der Rabatt für die Menge 1 der Auftragsposition erwartet. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentualer Rabatt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spalte wählen, die den Prozentsatz für den Rabatt enthält. Ob die Zahl kommasepariert oder punktsepariert erwartet wird, hängt von Ihren Importoptionen ab. Die Importoptionen stellen Sie im Bereich <strong>Abgleich</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Auftragspositionseigenschaften</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eigenschaftstyp wählen und anschließend die Spalte wählen, in der die Eigenschaft enthalten ist. Standardmäßig stehen folgende Eigenschaften für Auftragspositionen zur Verfügung:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Lager</p>
</li>
<li>
<p>Gewicht</p>
</li>
<li>
<p>Breite</p>
</li>
<li>
<p>Länge</p>
</li>
<li>
<p>Höhe</p>
</li>
<li>
<p>Externe Token ID</p>
</li>
<li>
<p>Externe Artikel-ID</p>
</li>
<li>
<p>Gutscheincode</p>
</li>
<li>
<p>Gutscheintyp</p>
</li>
<li>
<p>Einheit</p>
</li>
<li>
<p>Externe Versandartikel-ID</p>
</li>
<li>
<p>Retourengrund</p>
</li>
<li>
<p>Artikelstatus</p>
</li>
<li>
<p>Externe Auftragspositions-ID</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eigene Eigenschaftstypen für Auftragspositionen können per <a href="https://developers.plentymarkets.com/api-doc/Order#element_113" target="_blank" rel="noopener">Interface</a> oder per <a href="https://developers.plentymarkets.com/rest-doc#/Order/post_rest_orders_properties_types" target="_blank" rel="noopener">REST</a> erstellt werden. Sie werden jedoch nicht in der UI angezeigt.<br>
Um die Eigenschaft Lager in der UI anzuzeigen, wählen Sie im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong> für das Feld Zuordnung des Lagers die Option b). Wählen Sie alternativ Option a) und klicken Sie an den Artikeln auf <strong>Bearbeiten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Auftragsnotiz</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>Text</strong> wählen, um den in der Auftragsnotiz enthaltenen Text zu importieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Adressrelation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adress-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Adresse die Rechnungsadresse oder die Lieferadresse des Auftrages ist. Anschließend Spalte wählen, die die ID der Adresse enthält. Die Adress-ID dient der Zuordnung zu bereits existierenden Adressen von Kontakten. Wenn es sich um eine neue Adresse handelt, nutzen Sie die Adresszuordnungsfelder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Auftragseigenschaft</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eigenschaftstyp wählen und anschließend die Spalte wählen, in der die Eigenschaft enthalten ist. Standardmäßig stehen folgende Eigenschaften für Aufträge zur Verfügung:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Lager</p>
</li>
<li>
<p>Versandprofil</p>
</li>
<li>
<p>Zahlungsart</p>
</li>
<li>
<p>Zahlungsstatus</p>
</li>
<li>
<p>Externes Versandprofil</p>
</li>
<li>
<p>Sprache in Dokumenten</p>
</li>
<li>
<p>Externe Auftrags-ID</p>
</li>
<li>
<p>Kundenzeichen</p>
</li>
<li>
<p>Mahnstufe</p>
</li>
<li>
<p>Verkäuferkonto</p>
</li>
<li>
<p>Markierung</p>
</li>
<li>
<p>Umsatzsteuer-Identifikationsnummer</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eigene Eigenschaftstypen für Aufträge können per <a href="https://developers.plentymarkets.com/api-doc/Order#element_113" target="_blank" rel="noopener">Interface</a> oder per <a href="https://developers.plentymarkets.com/rest-doc#/Order/post_rest_orders_properties_types" target="_blank" rel="noopener">REST</a> erstellt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Auftragsdatum</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datumstyp wählen und anschließend die Spalte wählen, in der das Datum enthalten ist. Das Datumsformat in der Spalte muss in dem Datumsformat angegeben sein, dass Sie in den Importoptionen definiert haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Auftragsrelation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referenz-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Auftragsrelation wählen und anschließend die Spalte wählen, in der die Referenz-ID enthalten ist. Folgende Relationen stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kontakt - Sender: Die Referenz-ID ist die ID eines bestehenden Kontakts und dieser Kontakt ist Sender des Auftrags</p>
</li>
<li>
<p>Kontakt - Empfänger: Die Referenz-ID ist die ID eines bestehenden Kontakts und dieser Kontakt ist Empfänger des Auftrags</p>
</li>
<li>
<p>Konto - Sender: Die Referenz-ID ist die ID eines bestehenden Kontos und dieses Konto ist Sender des Auftrags</p>
</li>
<li>
<p>Konto - Empfänger: Die Referenz-ID ist die ID eines bestehenden Kontos und dieser Kontos ist Empfänger des Auftrags</p>
</li>
<li>
<p>Lager - Sender: Die Referenz-ID ist die ID eines bestehenden Lagers und dieses Lager ist Sender des Auftrags</p>
</li>
<li>
<p>Lager - Empfänger: Die Referenz-ID ist die ID eines bestehenden Lagers und dieses Lager ist Empfänger des Auftrags</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Egal, welches Adressfeld gewählt wird, müssen Sie zunächst wählen, ob es zu einer Lieferadresse oder einer Rechnungsadresse gehört.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1 (Firma)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die den Firmennamen enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 2 (Vorname)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die den Vornamen enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 3 (Nachname)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die den Nachnamen enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 4 (Zusatz)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die den Namenszusatz enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresse 1 (Straße)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die den Straßennamen enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresse 2 (Hausnummer)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die die Hausnummer enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresse 3 (Zusatz)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die den Adresszusatz enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresse 4 (Frei)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die freie Adressinformationen enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die die Postleitzahl enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stadt</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die den Städtenamen enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Landes-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die die ID des Landes enthält. Standardmäßig werden hier die IDs der Lieferländer erwartet. Diese IDs finden Sie im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bundesland-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Liste aller Länder, für die Bundesländer verfügbar sind mit den IDs der Bundesländer: link:<a href="https://www.plentymarkets.eu/documents/category/3507/Bundeslaender.pdf">PDF-Datei mit einer Liste der Bundesländer</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">USt-IdNr.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteueridentifikationsnummer eines Kunden angeben</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die die Telefonnummer enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsadresse oder Lieferadresse wählen und anschließend die Spalte wählen, die die E-Mail-Adresse enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Versandpaket</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Egal, welche Paketinformationen gewählt werden, zunächst müssen Sie ein Versandpaket wählen, mit dem diese Informationen abgestimmt werden. Versandpakete richten Sie im Menü <strong>Einrichtung » Aufträge » Versand » Versandpakete</strong> ein.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandpaket wählen und anschließend die Spalte wählen, die das Gewicht des Paketes enthält.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketnummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandpaket wählen und anschließend die Spalte wählen, die die Paketnummer enthält. Mehrere Paketnummern können kommasepariert in einer Zeile oder über mehrere Zeilen mit je einer Paketnummer pro Zeile angegeben werden.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Packstückart</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>