<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#2520"><span>1.</span><span> Felder für den Merkmalabgleich</span></a></li>
<li><a href="#2530"><span>2.</span><span> Felder für die Merkmalzuordnung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Merkmale</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Merkmale</strong> importierst du Merkmale. Die importierten Daten werden im Menü <strong>Einrichtung » Artikel » Merkmale</strong> gespeichert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2520">1. Felder für den Merkmalabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Felder stehen für den Abgleich von Merkmalen zur Verfügung. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Merkmal-ID</p>
</li>
<li>
<p>ID der Merkmalgruppe</p>
</li>
<li>
<p>Merkmalname</p>
</li>
<li>
<p>Merkmalgruppenname</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="2530">2. Felder für die Merkmalzuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Zuordnungsfelder-merkmal">Tabelle 1</a> werden Felder erläutert, die für die Zuordnung von Merkmaldaten zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-Zuordnungsfelder-merkmal" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Zuordnungsfelder für Merkmalimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Merkmal</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmalgruppen-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einheit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code der Einheiten siehe <a href="/basics/interne-IDs#40">Einheiten-IDs</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchsuchbar</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestellmerkmal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzeige auf der Produktseite im Webshop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzeige in der Artikelauflistung im Webshop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzeige im Bestellvorgang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzeige in PDF-Dokumenten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Zusatzkosten darstellen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufpreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmaltyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">kein<br>
zahl<br>
kommazahl<br>
auswahl<br>
text<br>
datei</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmaltyp löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Merkmalname</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zuordnung erfolgt pro Sprache.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zuordnung erfolgt pro Sprache.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Merkmalgruppe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentualer Aufpreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Merkmalgruppe Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zuordnung erfolgt pro Sprache.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zuordnung erfolgt pro Sprache.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>