<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Felder für den Abgleich von Gutschein-Codes</span></a></li>
<li><a href="#200"><span>2.</span><span> Felder für die Zuordnung von Gutschein-Codes</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Gutschein-Codes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Gutschein-Code</strong> importierst du Daten zu Gutschein-Codes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Felder für den Abgleich von Gutschein-Codes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Felder stehen für den Abgleich von Gutschein-Codes zur Verfügung. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kampagnen-ID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Felder für die Zuordnung von Gutschein-Codes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-zuordnungsfelder-gutschein-codes">Tabelle 1</a> werden Felder erläutert, die für den Datenabgleich von Gutschein-Codes zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-zuordnungsfelder-gutschein-codes" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Zuordnungsfelder für den Import von Gutschein-Codes</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässiger Importwert</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kampagnen-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kampagne</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschein-Code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschein-Code</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattwert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattwert des Gutscheins</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>