<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#2110"><span>1.</span><span> Felder für den Kategorieabgleich</span></a></li>
<li><a href="#2120"><span>2.</span><span> Felder für die Kategoriezuordnung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Kategorien</strong> importierst du Kategoriedaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2110">1. Felder für den Kategorieabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Abgleichfelder-Kategorie">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Kategoriedaten zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-Abgleichfelder-Kategorie" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Kategorieimport</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">KategorieId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategoriename Kombiniert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der zweiten Dropdown-Liste das Trennzeichen wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategoriename Ebene 1 - 6</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2120">2. Felder für die Kategoriezuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Zuordnungsfelder-Kategorie">Tabelle 2</a> werden Felder erläutert, die für die Zuordnung von Kategoriedaten zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-Zuordnungsfelder-Kategorie" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zuordnungsfelder für Kategorieimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Kategorie</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Elternkategorie ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Elternkategorie Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">item = Artikel<br>
container = Container<br>
content = Content<br>
blog = Blog (nicht in Verwendung)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">In Linkliste anzeigen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">right</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">all = Kategorie und alle Unterkategorien sind öffentlich sichtbar<br>
customer = Kategorie und alle Unterkategorien sind nur für eingeloggte Webshop-Besucher sichtbar<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht Backend-Einstellung <strong>Sichtbar</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sichtbar (Sitemap)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht Backend-Einstellung <strong>Sitemap</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Details (Zuordnung pro Kombination aus Sprache und Mandant (Shop))</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pflichtwert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kurzbeschreibung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Keywords</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Beschreibung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Titel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Liste</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Produkt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Seite</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Volltextsuche</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Robots</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>all</strong> = Webseite der Kategorie in Suchmaschinenindex aufnehmen und Links auf Seite folgen.<br>
<strong>index</strong> = In Suchmaschinenindex aufnehmen.<br>
<strong>nofollow</strong> = Links auf der Seite nicht folgen.<br>
<strong>noindex</strong> = Nicht in den Suchmaschinenindex aufnehmen.<br>
<strong>nofollow_noindex</strong> = Links nicht folgen und Webseite der Kategorie nicht in Suchmaschinenindex aufnehmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Platzhalter übersetzen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Ja<br>
<strong>N</strong> = Nein<br>
<strong>L</strong> = Nur Link-Template-Variablen und -Funktionen werden übersetzt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">canonical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL einer Kategorie mit dem gleichen Inhalt, max. 256 Zeichen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock">Mandant (Shop) (Zuordnung pro Mandant)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>