<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#2231"><span>1.</span><span> Felder für den Lagerortabgleich</span></a></li>
<li><a href="#2232"><span>2.</span><span> Felder für die Lagerortzuordnung</span></a></li>
<li><a href="#2240"><span>3.</span><span> Lagerort anpassen</span></a></li>
<li><a href="#2250"><span>4.</span><span> Lagerort erstellen</span></a></li>
<li><a href="#2250"><span>5.</span><span> Lagerort löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lager</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Lager</strong> importierst du neue Lagerorte oder aktualisierst bestehende.</p>
</div>
<div class="paragraph">
<p>Um Lagerorte per ElasticSync zu erstellen oder zu aktualisieren, musst du ein Lager angelegt haben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2231">1. Felder für den Lagerortabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-abgleichfelder-lagerorte">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Lagerorten zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu den Begrifflichkeiten Dimensionen, Ebenen und Lagerorte findest du auf der Handbuchseite <a href="https://knowledge.plentymarkets.com/warenwirtschaft/lager-einrichten" target="_blank" rel="noopener">Lager einrichten</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="tabelle-abgleichfelder-lagerorte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Lagerortimport</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Ebene, z.B. R01</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">WarehouseLocationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">WarehouseLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerorts ohne Pfad</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2232">2. Felder für die Lagerortzuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-zuordnungsfelder-lagerorte">Tabelle 2</a> werden Felder erläutert, die für die Zuordnung von Lagerortdaten zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu den Begrifflichkeiten Dimensionen, Ebenen und Lagerorte findest du auf der Handbuchseite <a href="https://knowledge.plentymarkets.com/warenwirtschaft/lager-einrichten" target="_blank" rel="noopener">Lager einrichten</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="tabelle-zuordnungsfelder-lagerorte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zuordnungsfelder für Lagerortimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="3"><p class="tableblock"><strong>Lagerorte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort-ID<br>
(nur bei bestehenden Lagerorten)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ebenen-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerortname</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerorts ohne Pfad</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweck</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachschub<br>
 Entnahme<br>
 Wareneingang<br>
 Retoure<br>
 Ladenlokal<br>
 Umlagerung<br>
 Box</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwedungszweck des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiv<br>
 Inaktiv<br>
 Für die Bestandsaufnahme gesperrt<br>
 Gesperrt<br>
 Reserviert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Lagerorts (Laufweg)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notizen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notizen zum Lagerort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yes<br>
 No</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löschfunktion für den Lagerort</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="3"><p class="tableblock"><strong>Ebenen der Lagerorte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Elternebene</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Elternebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dimension ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Dimension, z.B. Regal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position der Ebene</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Ebene</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Ebene, z.B. R01, R02 usw.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ebenen-ID der kleinsten Dimension verwenden</div>
<div class="paragraph">
<p>Beim Import von Lagerorten muss die Ebenen-ID die der kleinsten Dimension sein. In der folgenden Tabelle ist dies beispielsweise die Ebenen-ID 309.<br>
Wählt man hingegen die ID einer höheren Dimension, sind die Lagerorte nicht mehr sichtbar und die vorhandene Struktur geht verloren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-ebenen-id" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ebenen-IDs und Ebenen-Namen</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Ebene 1</th>
<th class="tableblock halign-left valign-top">Ebene 2</th>
<th class="tableblock halign-left valign-top">Ebene 3</th>
<th class="tableblock halign-left valign-top">Lagerort</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name der Ebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Regal 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Boden 5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fach 17</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">102</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ebenen-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">22</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>309</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2240">3. Lagerort anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst mit ElasticSync Lagerorte anpassen und z.B. den Namen oder die Position des Lagerortes ändern.</p>
</div>
<div class="paragraph instruction">
<p>Lagerort anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Aktiviere das Feld <strong>Warehouse Location ID</strong>.</p>
</li>
<li>
<p>Wähle bei den <strong>Importoptionen</strong> die gewünschte Option.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Öffne die Zuordnung aus der Übersicht.</p>
</li>
<li>
<p>Klappe auf der rechten Seite den Bereich <strong>Lagerort</strong> auf.</p>
</li>
<li>
<p>Aktiviere die Felder <strong>Lagerortname</strong> und <strong>Position</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2250">4. Lagerort erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst mit ElasticSync neue Lagerorte erstellen. Beachte, dass die Struktur des Lagers dafür im Vorhinein definiert und somit bereits mindestens ein Lagerort vorhanden sein muss.</p>
</div>
<div class="paragraph instruction">
<p>Lagerort erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Wähle das Feld <strong>Level-ID</strong>.</p>
</li>
<li>
<p>Wähle bei den <strong>Importoptionen</strong> die gewünschte Option.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Öffne die Zuordnung aus der Übersicht.</p>
</li>
<li>
<p>Aktiviere die Zeilen, in denen die Werte <strong>Lagerortname</strong>, <strong>Verwendungszweck</strong>, <strong>Position</strong> und <strong>Status</strong> zu finden sind und wähle die entsprechende Quelle.</p>
</li>
<li>
<p>Klappe auf der rechten Seite den Bereich <strong>Lagerort</strong> auf und weise die Felder <strong>Lagerortname</strong>, <strong>Verwendungszweck</strong>, <strong>Position</strong> und <strong>Status</strong> zu. Die <strong>Lagerort-ID</strong> ist optional - wenn sie nicht gewählt wird, wird automatisch die nächsthöhere ID vergeben.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2250">5. Lagerort löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst mit ElasticSync Lagerorte löschen.</p>
</div>
<div class="paragraph instruction">
<p>Lagerort löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Wähle das Feld <strong>Warehouse Location ID</strong>.</p>
</li>
<li>
<p>Wähle bei den <strong>Importoptionen</strong> die gewünschte Option.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Öffne die Zuordnung aus der Übersicht.</p>
</li>
<li>
<p>Klappe auf der rechten Seite den Bereich <strong>Lagerort</strong> auf.</p>
</li>
<li>
<p>Aktiviere das Feld <strong>Lagerort löschen</strong>.</p>
</li>
<li>
<p>Es können alle oder nur bestimmte Lagerorte gelöscht werden. Nimm die entsprechenden Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-lagerorte-loeschen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-lagerorte-loeschen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Alle oder nur bestimmte Lagerorte löschen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Lagerorte löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Lagerort-IDs, die in der CSV-Datei vorhanden sind, werden gelöscht.<br>
 Hier wird als Wert für Lagerort löschen <strong>Eigener Wert</strong> ausgewählt.<br>
 Anschließend wählt man <strong>Yes</strong> oder <strong>No</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur bestimmte Lagerorte löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier gibt es 2 Werte in der CSV-Datei: einmal die Lagerort-IDs und einmal die Werte <strong>Yes</strong> und <strong>No</strong>, durch die bestimmt werden kann, ob der Wert gelöscht werden soll oder nicht.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>