<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#2490"><span>1.</span><span> Felder für den Attributabgleich</span></a></li>
<li><a href="#2500"><span>2.</span><span> Felder für die Attributzuordnung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Attribute</strong> importierst du Attribute und Attributwerte. Die importieren Daten werden im Menü <strong>Einrichtung » Artikel » Attribute</strong> gespeichert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2490">1. Felder für den Attributabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Felder stehen für den Abgleich von Attributen zur Verfügung. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Attribut-ID</p>
</li>
<li>
<p>ID des Attributwerts</p>
</li>
<li>
<p>Attributname</p>
</li>
<li>
<p>Name des Attributwertes</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="2500">2. Felder für die Attributzuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-Zuordnungsfelder-attribute">Tabelle 1</a> werden Felder erläutert, die für die Zuordnung von Attributdaten zur Verfügung stehen. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-Zuordnungsfelder-attribute" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Zuordnungsfelder für Attributimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässige Importwerte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Attribut</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Grundeinstellungen</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#400">Name (intern)</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Grundeinstellungen</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#400">Position</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bildverknüpfung möglich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Grundeinstellungen</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#400">Bildverknüpfung möglich</a>. Trage dazu eine 0 oder 1 in deine CSV-Datei ein.<br>
0 = Häkchen soll nicht gesetzt werden<br>
1 = Häkchen soll gesetzt werden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl im Webshop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">dropdown<br>
image<br>
box</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Grundeinstellungen</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#400">Attributauswahl im Webshop</a>. Trage dazu das Wort "dropdown", "image" oder "box" in deine CSV-Datei ein.<br>
dropdown = die Einstellung <strong>Per Dropdown</strong> wird gewählt<br>
image = die Einstellung <strong>Per Bild</strong> wird gewählt<br>
box = die Einstellung <strong>Per Box</strong> wird gewählt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppierbar in Artikellisten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Grundeinstellungen</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#400">Gruppierbar in Artikellisten</a>. Trage dazu eine 0 oder 1 in deine CSV-Datei ein.<br>
0 = Häkchen soll nicht gesetzt werden<br>
1 = Häkchen soll gesetzt werden</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Wert</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Werte</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#410">Name (intern)</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Werte</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#410">Position</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bemerkung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Werte</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#410">Bemerkung</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentualer Anteil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Werte</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#410">Prozentualer Anteil</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert löschen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Nein<br>
1 = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Attributname</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei die Inhalte vom <a href="/artikel/artikel-verwalten#400">Tab: Name</a>.<br>
Die Zuordnung erfolgt pro Sprache.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Attributwertname</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanummerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dieses Datenfeld mit einer Spalte deiner CSV-Datei. Beim Import werden die Daten deiner CSV-Datei verwendet, um neue Attribute im Menü <strong>Einrichtung » Artikel » Attribute</strong> anzulegen. Die Daten dieser Spalte bilden dabei im <strong>Tab: Werte</strong> die Inhalte vom Feld <a href="/artikel/artikel-verwalten#410">Name</a>.<br>
Die Zuordnung erfolgt pro Sprache.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>