<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Datenimport mit ElasticSync</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Video zeigt dir die Grundlagen von ElasticSync. Das Video bietet einen umfassenden Überblick über das Tool und bietet dir die Möglichkeit zu lernen, wie du mit ElasticSync Daten in plentymarkets importieren kannst. Du erfährst, wie du eine CSV-Datei hochlädst, deine Daten abgleichst und zuordnest und den Import startest.<br>
<strong><em>Hinweis:</em></strong> Der Begriff <strong>ElasticSync</strong> ist veraltet und wurde durch <strong>Import</strong> ersetzt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/datenuebernahme/grundlagen/datenimport-mit-elasticsync-csv-datei-hochladen#video">Lade deine CSV-Datei hoch (1:12)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/grundlagen/datenimport-mit-elasticsync-daten-abgleichen-und-zuordnen#video">Gleiche deine Daten ab und ordne sie zu (3:39)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/grundlagen/datenimport-mit-elasticsync-import-starten#video">Starte den Import (7:22)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/322201964#at=219" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Auf einige Dinge im Online-Handel hast du als Händler leider keinen Einfluss.
Beispielsweise auf die Inflation. Hin und wieder erhöhen deine Lieferanten deshalb die Preise um das ein oder andere Prozent.</p>
</div>
<div class="paragraph">
<p>Und dann ist es eben deine Aufgabe, die Einkaufspreise anzupassen um dieser Preiserhöhung gerecht zu werden.
Genau jetzt wirst du es wahrscheinlich mit einer Tabelle zu tun bekommen, die du entweder selber erstellt oder von deinem Lieferanten gesendet bekommen hast.</p>
</div>
<div class="paragraph">
<p>In jedem Fall enthält die Datei deines Lieferanten so wichtige Informationen wie die Artikel-ID, den Artikelnamen und den neuen Einkaufspreis.
Die Daten selber kannst du ganz einfach mit einem Sync in dein System importieren, in dem du das ElasticSync-Menü öffnest und diesen Button klickst.</p>
</div>
<div class="paragraph">
<p>In diesem Video teilen wir die Konfiguration eines Syncs in drei einfache Schritte auf: Zunächst werden grundlegende Einstellungen zur Verarbeitung der CSV-Datei hinterlegt.
Danach legen wir fest, welche Elemente in das System importiert und welche Informationen aktualisiert werden. Abschließend wird der Import gestartet.</p>
</div>
<div class="paragraph">
<p>Soweit so gut. Zuerst legen wir den Sync selber an und geben ihm einen sinnvollen Namen. Anschließend gibst du an, welcher Datentyp importiert werden soll.</p>
</div>
<div class="paragraph">
<p>Wir wollen ja den Einkaufspreis aktualisieren. Dafür wählen wir den Typ Artikel. Als nächstes stellst du hier auf der rechten Seite ein, wie die Datei aufgebaut ist, die du in dein System importieren willst.
Du gibst zum Beispiel an, ob deine Tabelle eine Kopfzeile hat oder nicht. Mit dieser Option kannst du festlegen, ab welcher Zeile die für den Import relevanten Daten in der Datei hinterlegt sind.</p>
</div>
<div class="paragraph">
<p>Und weiter gehts. Hier legst du dann fest, um welchen Datentypen es sich bei deiner Tabelle handelt.
Aktuell ist es nur möglich CSV-Dateien ins System zu importieren. In Zukunft wird es aber auch möglich sein, XML-Dateien zu importieren.</p>
</div>
<div class="paragraph">
<p>Jetzt legst du noch fest, welcher Zeichensatz in der Datei verwendet wird. Alternativ kannst du diesen aber auch vom System erkennen lassen.
Abschließend legst du hier das Feldtrennzeichen sowie das Texttrennzeichen der Datei fest.
Deine Datei kann jetzt in dein System geladen werden. Den Upload kannst du entweder über einen FTP-Server, einen sicheren FTP-Server oder über einen HTTP-Server, also mit einem externen Link abwickeln.</p>
</div>
<div class="paragraph">
<p>Wählst du hier die Option FTP oder SFTP-Server, musst du für die Kommunikation natürlich auch die Zugangsdaten zu dem jeweiligen Server hinterlegen. Dann gibst du an, wo sich die Datei befindet und wie sie benannt ist.
Andererseits kannst du auch den HTTP-Server nutzen, wenn deine Dateien beispielsweise bei einem Cloudspeicherdienst wie Googledrive oder Dropbox gespeichert sind und du die URL der Datei kennst.
Natürlich ist es auch möglich, die Datei selber in dein System zu laden, wenn du sie auf deinem Rechner gespeichert hast.</p>
</div>
<div class="paragraph">
<p>Sobald du alle grundlegenden Einstellungen hinterlegt hast, wirst du zu einem anderen Menü weitergeleitet und siehst dich mit der Frage konfrontiert, was eigentlich der Unterschied zwischen Abgleich und Zuordnung ist.</p>
</div>
<div class="paragraph">
<p>Gut, nehmen wir uns doch einen Moment Zeit und überlegen, wie wir vorgehen würden, wenn wir die Preise von Hand aktualisieren müssten.</p>
</div>
<div class="paragraph">
<p>Wahrscheinlich nimmst du dir die Artikel-ID, suchst nach dem Artikel und öffnest ihn, um dann den Einkaufspreis anzupassen.
Weißt du was? Mit ElasticSync ist der Ablauf genau gleich! Der Abgleich wird benutzt, um den richtigen Artikel im System zu finden.</p>
</div>
<div class="paragraph">
<p>Den Bereich Zuordnung nutzt du dann, um den Einkaufspreis zu aktualisieren.
Du entscheidest, welches Feld du nutzen willst. Anschließend wählst du die Spalte der CSV-Datei aus, die den entsprechenden Wert enthält.
Bei Bedarf kannst du hier die Vorschau-Funktion nutzen, welche dir die Entscheidung erleichtert.</p>
</div>
<div class="paragraph">
<p>Okay, wir denken nochmal an die händische Änderung der Einkaufspreise.
Wie würdest du vorgehen, wenn du einen Artikel im System nicht finden kannst? Oder mit anderen Worten, wenn dein Lieferant einen neuen Artikel anbietet, es aber noch keinen Datensatz dazu in deinem System gibt?</p>
</div>
<div class="paragraph">
<p>Ich könnte mir vorstellen, dass du den Artikel entweder überspringst oder einen neuen Datensatz in plentymarkets anlegst.
Und genau dafür ist diese Option da. Sag plentymarkets einfach, ob vorhandene Datensätze aktualisiert oder neue Daten importiert werden sollen. Alternativ kann auch beides passieren.
Super, plentymarkets hat jetzt genug Informationen, um deine Artikel zu finden.</p>
</div>
<div class="paragraph">
<p>Die Frage ist: Was willst du nun mit deinen Artikeln machen? In unserem Beispiel wollen wir den Einkaufspreis aktualisieren. Name und Position spielen erstmal nur eine untergeordnete Rolle.
Du solltest hier deinen Fokus auf diesen Bereich legen. Hier sagst du deinem System nämlich, was es mit den gefundenen Artikeln machen soll.</p>
</div>
<div class="paragraph">
<p>Für unser Beispiel nehmen wir also die Spalte mit dem Einkaufspreis und speichern diesen Einkaufspreis am Artikel.
Und auch hier macht der ElasticSync genau das selbe. Du wählst die Spalte mit dem entsprechenden Wert aus und speicherst den neuen Wert.</p>
</div>
<div class="paragraph">
<p>Natürlich gibt es in plentymarkets unzählige Datenfelder. Diese kannst du hier im Menü auswählen. Bist du dir mal nicht sicher, welches das richtige Feld ist, kann es hilfreich sein, wenn du in das entsprechende plentymarkets-Menü navigierst und schaust, welche Datenfelder dort zu finden sind.
Oder du hilfst dir mit einem Blick in unser Handbuch, in dem alle wesentlichen Datenfelder mit einer Erklärung und möglichen verpflichtenden anzugebenden Werten aufgeführt sind.
Du kannst hier natürlich auch mehrere Felder hinterlegen und sie, für den Fall, dass du nur einige für den speziellen Import benötigst, deaktivieren und aktivieren.</p>
</div>
<div class="paragraph">
<p>Sind dir eigentlich die Optionen im Bereich der Quelle aufgefallen? Du hast wahrscheinlich bemerkt, dass dies keine Spalten aus der CSV-Datei sein können. Aber wofür kannst du diese Optionen dann nutzen?
Mit den Optionen hier hast du die Möglichkeit, weitere Daten hinzuzufügen oder Daten aus deiner CSV-Datei händisch zu ändern. Aber keine Sorge, diese Funktionen werden in einem separaten Video Schritt für Schritt erklärt.</p>
</div>
<div class="paragraph">
<p>Zu guter Letzt kannst du hier noch Filter hinzufügen. So kannst du beispielsweise nur Informationen zu Artikeln importieren, die über eine bestimmte ID verfügen.
Sobald du bereit bist, den Import zu starten, navigierst du zurück in dieses Menü und legst fest, wie häufig der Sync automatisch gestartet werden soll.</p>
</div>
<div class="paragraph">
<p>Anschließend empfehlen wir dir, dieses Icon zu klicken und so den Import selber zu testen. Dadurch werden nur die ersten zehn Zeilen importiert und du kannst sicherstellen, ob der Import korrekt läuft.
Wenn sich irgendwo ein Fehler eingeschlichen haben sollte, musst du eben nicht hunderte Artikel nachbearbeiten.
Wenn du mit dem Ergebnis des Tests zufrieden bist, kannst du mit diesem Button den eigentlichen Import starten.</p>
</div>
<div class="paragraph">
<p>Bevor wir zum Ende kommen noch ein kleiner Hinweis. Wir haben uns angeschaut, wie du die Preise eines Lieferanten anpassen kannst.
Aber vielleicht hast du ja mehr als einen Lieferanten. Und jeder Lieferant stellt dir eine andere CSV-Datei zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Es wäre natürlich ziemlich aufwendig, für jeden Lieferanten einen eigenen Sync anzulegen. Die Zeit kannst du dir natürlich sparen, indem du deine Syncs kopierst und nach Bedarf bearbeitest.
Gleiches gilt natürlich auch für die Zuordnung. Einfach kopieren, Einstellungen bearbeiten und nach Bedarf aktivieren und deaktivieren.</p>
</div>
<div class="paragraph">
<p>Glückwunsch! Der erste Schritt im Bereich ElasticSync ist gegangen. Nachdem du dich mit dem Tool vertraut gemacht hast, schaue dir doch auch die übrigen Videos zum Thema ElasticSync an.
Hier findest du viele praktische Beispiele für deine tägliche Arbeit, genauso wie Videos mit zusätzlichen Features!</p>
</div>
</div>
</div>
</main>