 {% FindologicHeader() %}
			$FormOpenOrder
<table style="width: 100%; border: none;{% if $RowCountModulo2 %} background-color:#fff;{% else %} background-color:#FDE4C8{% endif %}">
<tbody>
  <tr>
    <td rowspan="2" style="width: 120px; text-align: center; vertical-align: middle;"><a href="{% Link_Item($ID) %}"><img alt="" class="pmManScreenshot" src="$PreviewImageURL[1]" /> </a></td>
    <td style="width: 70%; text-align: left; vertical-align: top;"><a href="{% Link_Item($ID) %}" style="color:#000000; text-decoration:none;"><strong>$Name[1]</strong> </a>
      <p>$DescriptionShort</p></td>
  </tr>
  <tr>
    <td style="text-align: left; vertical-align: top;"><table style="width: 100%; border: none;">
        <tbody>
          <tr>
            <td colspan="3" style="text-align: right;">$AttributeSelect</td>
          </tr>
          <tr>
            <td style="text-align: left;"><span class="Price">$Price</span> <span class="smallText"> $VATHint $VAT% <a class="aSmall" href="{% Link_ShippingCosts() %}"> zzgl. $DefaultShippingCost Versand </a> {% if $Weight &gt; 0 %} Versandgewicht: $Weight g {% endif %} </span></td>
            <td style="text-align: center;">Menge:
              <input maxlength="3" name="ArticleQuantity" size="3" type="text" value="1" /></td>
            <td style="text-align: center;"><input alt="Kaufen" class="formblanc" src="" title="Kaufen" type="image" /></td>
          </tr>
        </tbody>
      </table>
      		$FormCloseOrder