<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_kaufverhalten"><span>1.</span><span> Kaufverhalten</span></a></li>
<li><a href="#_statistik_details"><span>2.</span><span> Statistik-Details</span></a></li>
<li><a href="#_einstellungen"><span>3.</span><span> Einstellungen</span></a></li>
<li><a href="#_daten_export"><span>4.</span><span> Daten-Export</span></a>
<ul class="sectlevel2">
<li><a href="#_export_der_diagrammdaten"><span>4.1.</span><span> Export der Diagrammdaten</span></a></li>
<li><a href="#_export_der_rohdaten"><span>4.2.</span><span> Export der Rohdaten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Kaufverhalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistik → Statistik-Typ: Kaufverhalten</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_kaufverhalten">1. Kaufverhalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Statistik zeigt nach <strong>Auftragsmengen</strong> gestaffelt wie viele <strong>Kunden</strong> für wie viel <strong>Umsatz</strong> in einer gewählten <strong>Zeitspanne</strong> gesorgt haben. Sie sehen also, ob die Kunden die nur selten z.B. weniger als 3 mal bei Ihnen gekauft haben oder jene, die sehr häufig kaufen den meisten Umsatz generieren. Standardeinstellung der Zeitspanne: Umsatz der <strong>letzten 10 Tage</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Diese Statistik ist verfügbar <strong>ab plentymarkets-Version 4.501</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_statistik_details">2. Statistik-Details</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Entsprechend der gewählten <strong>Zeitspanne</strong>, <strong>Datumsgrundlage</strong> und der <strong>Aufteilung der Aufträge</strong> in Auftragsspannen sehen Sie ungefähr wie viele Aufträge von einem Kunden jeweils in der gewählten Zeitspanne eingegangen sind. Je nach Datumsgrundlage handelt es sich bei diesen Aufträgen, um alle innerhalb des gewählten Zeitraums eingegangen, bezahlten oder versendeten Aufträge. Weiterhin wird die <strong>Gesamtanzahl der Kunden</strong> und der genaue <strong>Umsatzwert</strong>für jede Auftragsspanne als Tooltip angezeigt (siehe Bild 1). Sie können mit dieser Statistik z.B. erkennen, wie viele Kunden wie häufig bei Ihnen gekauft haben und wie viel Umsatz diese generiert haben. Diese Angaben können Sie dann mit denen der anderen Auftragsspannen vergleichen und so sehen, ob z.B. viele Ihrer Kunden häufig oder sehr häufig bei Ihnen kaufen und welchen Umsatz diese Kunden generieren im Vergleich zu Kunden, die neu sind oder selten bei Ihnen kaufen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title"><strong>Details anzeigen (Tooltip)</strong></div>
<div class="paragraph">
<p>Zeigen Sie mit dem <strong>Mauszeiger</strong> auf ein Element der Statistik, um die jeweiligen <strong>Details</strong> anzuzeigen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>In Bild 1 sehen Sie z.B., dass von <strong>816 Kunden</strong> je <strong>4-8 Aufträge</strong> eingegangen sind und dass diese 816 Kunden einen Umsatz von <strong>829.418,51 €</strong> generiert haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Anzahl der Aufträge</strong></div>
<div class="paragraph">
<p>Bei der <strong>Anzahl der Aufträge</strong> werden <strong>Retouren</strong> und <strong>Gutschriften</strong> nicht berücksichtigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/kunden/assets/DE-Statistik-Kaufverhalten-01-SI.png" alt="DE Statistik Kaufverhalten 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Statistik <strong>Kaufverhalten</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen">3. Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die nachfolgend beschriebenen <strong>Einstellungen</strong> stehen für diese Statistik zur Verfügung.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/kunden/assets/DE-Statistik-Kaufverhalten-02-SI.png" alt="DE Statistik Kaufverhalten 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Statistik <strong>Kaufverhalten</strong>; <strong>Einstellungen</strong></em></p>
</div>
<div class="paragraph">
<p>Beachten Sie die Erläuterungen in der folgenden Tabelle:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagramm-Anzeige</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Diagrammtyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In diesem Dropdown-Menü wählen Sie die Art der Darstellung aus.<br>
<strong>Verbunddiagramm</strong> = Darstellung der Werte als Linie bzw. Säule<br>
<strong>Daten-Tabelle</strong> = Datenübersicht in Tabellenform<br>
<strong>Netto</strong> = Beträge abzüglich UsSt<strong>.<br>
Umsatz bereinigt</strong> = Umsatz abzüglich Gutschriften<br>
<strong>Deckungsbeitrag I</strong> = Umsatz abzüglich EK, Steuern und Versandkosten</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Daten des Diagramms werden in eine <strong>CSV-Datei</strong> exportiert. Dabei werden die Parameter wie angezeigt verwendet, sie entsprechen denen des Diagrammtyps <strong>Daten-Tabelle</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rohdaten-Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beim Rohdaten-Export wird ebenfalls eine <strong>CSV-Datei</strong> erzeugt. Dabei werden die Daten aber detaillierter exportiert. So wird anstelle der Anzahl der Aufträge für jeden Auftrag die relevanten Datenfelder, wie <strong>Auftrags-ID</strong>, <strong>Preis</strong> etc. in die CSV-Datei eingefügt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anzeige der Werte</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klicken Sie links unten auf die Werte, um die <strong>Anzeige</strong> jeweils im Diagramm zu <strong>deaktivieren</strong> bzw. zu <strong>aktivieren</strong>. So können Sie nur jeweils die Daten separat anzeigen, die Sie sehen möchten und andere ausblenden. Dies kann bei komplizierten Daten eine Hilfe sein, die einzelnen Werte besser zu erkennen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird der <strong>Name</strong> bzw. die <strong>Bezeichnung</strong> der Statistik angezeigt, die beim Erstellen einer neuen Statistik gewählt wurde. Sie können diesen Namen hier ändern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeitspanne</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <strong>Zeitspanne</strong> ist für die Statistiktypen jeweils voreingestellt, die Standardwerte können Sie Tabelle 1 der Handbuchseite <a href="/basics/statistik"><strong>Statistik</strong></a> entnehmen. Es stehen feste Werte zur Verfügung, die per Dropdown-Menü auswählbar sind. Darüber hinaus bieten manche Statistiktypen die Möglichkeit, eine Zeitspanne in Form eines <strong>Datumbereichs</strong> einzutragen.<br>
<strong>Verändern</strong> Sie die <strong>Zeitspanne</strong>, wenn keine Daten angezeigt werden oder nur wenige Daten und klicken Sie auf das Speichern-Symbol, um das Ergebnis zu sehen. Sie können durch Wahl eines <strong>längeren Zeitraums</strong> mehr Informationen anzeigen. Wenn viele Daten vorhanden sind, bewirkt die <strong>Verringerung der Zeitspanne</strong> ggf. eine aussagekräftigere Auswertung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Startdatum …​ Enddatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier können Sie optional einen bestimmten <strong>Datumsbereich</strong> alternativ zur Option <strong>Zeitspanne</strong> eingrenzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datumsgrundlage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie welches <strong>Datum</strong>, z.B. das des Auftragseingangs, die <strong>Grundlage</strong> für den <strong>Auswertungszeitraum</strong> bilden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status-Optionen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Je nach Statistiktyp stehen zur Eingrenzung des <strong>Status</strong> verschiedene Optionen zur Verfügung. Es sind jeweils <strong>Standardwerte</strong> voreingestellt.<br>
Für die Auswertung der Statistik werden <strong>alle Auftragsarten</strong> berücksichtigt, außer <strong>Stornierungen</strong>. Somit werden die <strong>Status 8</strong> und <strong>8.1</strong> nicht in die Auswertung einbezogen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie die <strong>Webshops</strong> bzw. <strong>Mandanten</strong>, deren Daten für die Statistik verwendet werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsherkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sie können hier eine oder mehrere <strong>Auftragsherkünfte</strong> oder mit der Option <strong>Alle</strong> sämtliche verfügbaren auswählen.<br>
Die <strong>Auftragsherkünfte</strong> beziehen sich auf den <strong>Auftrag</strong>, nicht auf die Auftragspositionen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie die <strong>Zahlungsart</strong>, die für die Statistik berücksichtigt werden soll oder aktivieren Sie die Option <strong>Alle</strong>, um alle Zahlungsarten einzubeziehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandprofil</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie das <strong>Versandprofil</strong>, das für die Statistik berücksichtigt werden soll oder aktivieren Sie die Option <strong>Alle</strong>, um alle Versandprofile einzubeziehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aufteilung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Teilen Sie hier die Mengenkategorien der Aufträge ein, indem Sie die gewünschten Werte eintragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nur bezahlte Aufträge</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Markieren Sie die Option, um <strong>nur bezahlte Aufträge</strong> in die Statistik einzubeziehen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Statistik bearbeiten</strong>; <strong>Einstellungen</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_daten_export">4. Daten-Export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie in Tabelle 1 erläutert können Sie zwischen einem einfachen und einem detaillierten Exportergebnis wählen. Nachfolgend entsprechende Beispiele.</p>
</div>
<div class="sect2">
<h3 id="_export_der_diagrammdaten">4.1. Export der Diagrammdaten</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Datenfelder</strong></div>
<div class="paragraph">
<p><strong>Division</strong> = Aufteilungsnummer, <strong>DivisionDefinition</strong> = Aufteilungsbereich, <strong>Sales</strong> = Umsatz, <strong>ShippingCosts</strong> = Versandkosten, <strong>QuantityOfCustomers</strong> = Anzahl der Kunden, <strong>SoldItems</strong> = Verkaufte Artikel,<strong>SalesNet</strong> = Netto-Umsatz, <strong>ShippingCostsNet</strong> = Netto-Versandkosten, <strong>ContributionMarginOne</strong> = Deckungsbeitrag I</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/kunden/assets/DE-Statistik-Kaufverhalten-03-SI.png" alt="DE Statistik Kaufverhalten 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Statistik <strong>Kaufverhalten</strong>; Einfacher Export</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_export_der_rohdaten">4.2. Export der Rohdaten</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Datenfelder</strong></div>
<div class="paragraph">
<p><strong>OrderID</strong> = Auftrags-ID, <strong>Timestamp</strong> = Auftragseingang, <strong>TimestampPaid</strong> = Datum Zahlungseingang, <strong>CustomerID</strong>= Kunden-ID, <strong>CustomerName</strong>= Name des Kunden, <strong>Sales</strong>= Umsatz<strong>, ShippingCosts</strong> = Versandkosten, <strong>SalesNet</strong>= Netto-Umsatz, <strong>ShippingCostsNet</strong> = Netto-Versandkosten</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/kunden/assets/DE-Statistik-Kaufverhalten-04-SI.png" alt="DE Statistik Kaufverhalten 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: Statistik <strong>Kaufverhalten</strong>; Rohdaten-Export</em></p>
</div>
</div>
</div>
</div>
</main>