<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Deine Versandkonfigurationen am Beispiel von DHL</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wer Artikel online verkauft muss diese auch versenden. In diesem Video zeigen wir dir am Beispiel von DHL Versenden, welche Einstellungen du für den Versand deiner Artikel vornehmen musst. Dabei zeigen wir dir nicht nur wie du Regionen, Versanddienstleister und Portotabellen konfigurierst, wir zeigen dir auch, wie du die Versandeinstellungen mit deinen Artikeln verknüpfst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/auftragsabwicklung/versand/versandkonfiguration-beispiel-dhl-pakete-wohin#video">Wohin du Pakete sendest (0:59)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/versand/versandkonfiguration-beispiel-dhl-dienstleister#video">Welche Dienstleister du nutzt (1:36)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/versand/versandkonfiguration-beispiel-dhl-versandkosten#video">Wie viel der Versand kostet (3:07)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/293932519" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Um deine Kunden zufrieden zustellen bedarf es mehr als nur den niedrigsten Preis.
Kunden möchten, dass ihre Pakete schnell, zuverlässig und mit einem namhaften Paketdienst,
dem sie vertrauen, versendet werden.</p>
</div>
<div class="paragraph">
<p>Dieses Video erklärt dir, wie du dein plentymarkets-System mit einem Versanddienstleister
deiner Wahl verknüpfst. Wir nutzen als Beispiel DHL, aber unabhängig davon, welchen
Paketdienst du verwendest, musst du zunächst ein paar Kleinigkeiten vorbereiten.</p>
</div>
<div class="paragraph">
<p>Zunächst müssen wir plentymarkets klarmachen, wohin deine Pakete versenden werden
dürfen, welche Anbieter du dafür verwendest und wie hoch die Versandkosten sind. Und genau dafür sind vier dieser fünf Tabs.
Unsere Aufgabe? Wir benötigen ein Versandprofil, das diese Informationen beinhaltet und mit allen Artikel verknüpft ist, die mit diesen Bedingungen versendet werden sollen. Gehen wir die einzelnen Schritte gemeinsam durch.</p>
</div>
<div class="paragraph">
<p>Als erstes legen wir fest, in welche Länder versendet werden soll. Alles, was du dafür tun
musst, ist das Lieferland zu aktivieren und einzustellen, in welcher Sprachversion Rechnungen und andere Dokumenten für Pakete
erstellt werden sollen, die in das entsprechende Land versendet werden sollen. Sobald die Lieferländer konfiguriert sind, können wir diese in Regionen gruppieren.</p>
</div>
<div class="paragraph">
<p>In einer Region sind also ein oder mehrere Länder zusammengefasst, die über identische Versandkosten verfügen. Angenommen du versendest aus Deutschland und hast zum Beispiel gleiche
Versandbedingungen für die BeNeLux-Staaten.</p>
</div>
<div class="paragraph">
<p>Als nächstes stellen wir in plentymarkets ein, welchen Versanddienstleister du nutzen
möchtest. Wir wählen für unser Beispiel hier einfach DHL Versenden.</p>
</div>
<div class="paragraph">
<p>Über die Namensfelder kannst du bestimmen, was deinen Kunden auf Dokumenten und im Frontend und was dir und deinen Mitarbeitern im Backend angezeigt werden soll.
Hier kannst du dann noch die Adresse eingeben, von der aus du deine Pakete versendest. Zuletzt gibst du die Tracking-URL ein, damit deine Kunden ihre Pakete verfolgen können.</p>
</div>
<div class="paragraph">
<p>Natürlich wäre es unglaublich aufwendig, diese Einstellungen für jeden Artikel einzeln zu
speichern. Und da kommen die Versandprofile ins Spiel. Hier stellst du dann alles ein, was du für den Versand deiner Artikel benötigst.
Beispielsweise den Versanddienstleister und für welche Mandanten, Verkaufsplattformen, Zahlungsmethoden und Kundenklassen das Versandprofil gelten soll.
Vergiss auch hier nicht, einen Namen einzugeben, der dem Kunden und deinen Mitarbeitern intern angezeigt werden soll.
Wenn du hier diese Option anhakst dann sehen deine Kunden die Adresse des Versandanbieters, wenn sie etwas in deinem Online-Shop kaufen.
Darüber hinaus können Kunden in der Kaufabwicklung entscheiden, ob ihre eigene
Telefonnummer und E-Mail-Adresse an den Versanddienstleister weitergeleitet werden soll.</p>
</div>
<div class="paragraph">
<p>Sobald du das Versandprofil speicherst erscheint der Tab Portotabelle, in dem du die Versandkosten für jede deiner Regionen
hinterlegen kannst.
Gib nun ganz einfach Versandkosten für diese Region ein und speichere deine Änderungen. Sobald du das Versandprofil angepasst hast öffne deinen Artikel, den du mit diesem Versandprofil versenden möchtest klicke den Tab Global und hake das gewünscht Versandprofil an.</p>
</div>
<div class="paragraph">
<p>In den meisten Fällen hast du aber mehr als einen Artikel, der versendet werden muss dafür kannst du die Artikelgruppenfunktion nutzen und mit dieser unzählige Artikel
gleichzeitig bearbeiten.</p>
</div>
<div class="paragraph">
<p>Glückwunsch, die gesamte Vorarbeit ist abgeschlossen, du kannst jetzt dein
plentymarkets-System mit DHL verbinden.
Das DHL Versenden Plugin hast du bereist runtergeladen, du kannst dich jetzt direkt an die
Schnittstellenkonfiguration machen. Kleiner Tip: Solltest du das Menü in diesem Bereich nicht finden können, überprüfe, ob du das
korrekte Backend-PluginSet gewählt hast!</p>
</div>
<div class="paragraph">
<p>Zunächst hinterlegst du im Bereich Grundeinstellungen die Zugangsdaten für DHL Versenden.
Auch kannst du hier abweichende Daten zu deinen Firmenstammdaten hinterlegen.
Anschließend hinterlegst du hier deine Abrechnungsnummern indem du auf das grüne Plus klickst.
Auch die Absenderdaten musst du hier noch eintragen und speichern.</p>
</div>
<div class="paragraph">
<p>Zum Abschluss hinterlegst du hier noch die gewünschten Versandeinstellungen. Hier kannst
du dann auch alle Services von DHL zu deinem Versand auswählen. Und das war das schon alles, plentymarkets ist jetzt mit DHL-Versenden verbunden und du kannst
damit beginnen deine Sendungsdaten an DHL zu übermitteln.</p>
</div>
</div>
</div>
</main>