<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Email</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Template-Funktionen und –Variablen können ausschließlich zur Gestaltung von E-Mail-Vorlagen verwendet werden. Erfahre <a href="/crm/e-mails-versenden#1200">hier</a> mehr über E-Mail-Vorlagen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_funktionen">Globale Template-Funktionen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#e-mail-email-link-basket">Link_Basket</a> — Diese Funktion gibt die URL zum Warenkorb aus.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#e-mail-email-link-checkout">Link_Checkout</a> — Diese Funktion gibt eine URL zur Verkaufsabwicklung aus.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#e-mail-email-link-item">Link_Item</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#e-mail-email-link-newpassword">Link_NewPassword</a> — Diese Funktion gibt eine URL zum Formular zum Anlegen eines neuen Passworts aus.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#e-mail-email-link-termsconditions">Link_TermsConditions</a> — Diese Funktion gibt die URL zu den AGB aus.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#e-mail-email-link-webstore">Link_Webstore</a> — Diese Funktion gibt die URL zum Webshop aus.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_variablen">Globale Template-Variablen</h2>
<div class="sectionbody">
<table id="tabelle-globale-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Globale Template-Variablen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Variablen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$BankAccount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet deine im Menü <strong>Einrichtung » Einstellungen » Bank</strong> eingetragene Kontonummer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$BankCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet deine im Menü <strong>Einrichtung » Einstellungen » Bank</strong> eingetragene Bankleitzahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$BankIBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet deine im Menü <strong>Einrichtung » Einstellungen » Bank</strong> eingetragene IBAN.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$BankName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den im Menü <strong>Einrichtung » Einstellungen » Bank</strong> eingetragenen Namen der Bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$BankOwner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den im Menü <strong>Einrichtung » Einstellungen » Bank</strong> eingetragenen Kontoinhaber.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$BankSwift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet deinen im Menü <strong>Einrichtung » Einstellungen » Bank</strong> eingetragenen BIC.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$BarcodeOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRightsHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Widerrrufsrecht  im HTML-Format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRightsText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Widerrrufsrecht im reinen Textformat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode1</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode2</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode3</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode4</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode5</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode6</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode7</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode8</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode9</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponCode10</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CouponValue</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Währung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerAccountOwner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Kontoinhaber des Kundenkontos.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerAdditionalAddress</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet zusätzliche Adressinformationen zur Adresse des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerBIC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den BIC oder SWIFT-Code des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerBankName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Namen der Bank des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Stadt des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerCityWithZip</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Postleitzahl und die Stadt des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerClass</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Kundenklasse des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Namen der Firma des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerCountry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Land des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerCountryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID des Landes des Kunden. Die ID wird vom System vergeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerCountryIsoCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den ISO-Code für das Land des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerEbayName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den eBay-Namen des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die E-Mail-Adresse des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Faxnummer des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerFirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Vornamen des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerFullName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den vollständigen Namen, Vor- und Zunamen, des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerIBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die IBAN des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Kunden-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Sprache des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Nachnamen des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerLeadID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerMobilePhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Mobilfunknummer des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Kundennummer des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerPassword</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Passwort des Kunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Telefonnummer des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerSalutationKey</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerSalutationLabel</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerSign</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerSpecialWishes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Kundenwunsch. Ein Kunde kann bei der Bestellung über den Webshop einen Wunsch angeben. Dieser Wunsch wird als Auftragsnotiz in den Auftragsdaten gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerState</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Region/Provinz des Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Straße des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerTitle</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CustomerZip</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Postleitzahl des Kunden/Rechnungsempfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressAdditionalAddress</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Adresszusatz-Informationen des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Stadt des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressCityWithZip</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Postleitzahl und die Stadt des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Firmennamen des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressCountry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Land des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressCountryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID des Landes des Empfängers. Die ID wird vom System vergeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressCountryIsoCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den ISO-Code des Landes des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressFirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Vornamen des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressFullName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den vollständigen Namen, Vor- und Zuname, des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Nachnamen des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Telefonnummer des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressState</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Region/Provinz des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Straße des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DeliveryAddressZip</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Postleitzahl des Empfängers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$Domain</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DomainCSR</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DomainCertType</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DomainDNS</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DomainFQDN</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DomainID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$DomainIP</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EbaySellerAccount</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EbayUniquePaymentID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EmailFrom</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Absender einer E-Mail.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EmailMessage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die E-Mail-Nachricht einer tell-a-friend email.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EmailSubject</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Kundentitel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventBillable</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventBilled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventBilledRequiringPayment</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventDuration</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventInfo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventNotBilled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventNotBilledRequiringPayment</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventStaffer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$EventType</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ExternalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die externe Auftrags-ID für Aufträge, die nicht über externe Plattformen generiert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ForumSubscription</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsConditionsHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die AGB  im HTML-Format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsConditionsText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die AGB  im reinen Textformat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$InvoiceTotal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Gesamtrechnungsbetrag in brutto und durch Komma getrennt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$InvoiceTotalDecimalSeparatorDot</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Gesamtrechnungsbetrag in brutto und durch Punkt getrennt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$InvoiceTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Gesamtrechnungsbetrag in netto und durch Komma getrennt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$InvoiceTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Gesamtrechnungsbetrag in netto und durch Komma getrennt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$IsNewsletterActive</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ItemCategoryLevel1List</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ItemListHTML</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ItemListPlain</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ItemURLTellAFriend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet eine Artikel-URL zum Versand per E-Mail an Freunde oder Bekannte, um so den Artikel zu empfehlen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosureHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Impressum im HTML-Format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosureText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Impressum im reinen Textformat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$MethodOfPaymentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID der Zahlungsart. Die ID wird vom System vergeben. Im Menü Einrichtung » Aufträge » Zahlung » Zahlungsarten sind die IDs aufgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$MethodOfPaymentName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den im Menü Einrichtung » Aufträge » Zahlung » Zahlungsarten eingetragenen Namen der Zahlungsart.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$NewCustomerEmail</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$NewsletterConfirmURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die URL zur Bestätigung des Newsletter-Abonnements.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OpenAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den ausstehenden Betrag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderAccessKey</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderCount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Auftragsanzahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Auftragsdatum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderEarliestDeliveryDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das früheste Lieferdatum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderEstimatedDeliveryDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das voraussichtliche Lieferdatum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderEstimatedShipmentDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das voraussichtliche Versanddatum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet eine Auftrags-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderReturnDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Datum des Retoureneingangs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderStatusID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variable beinhaltet die Status-ID des Auftrags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderStatusLabel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Statustext des Auftrags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Auftragswert in netto.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OrderType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Auftragstyp.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OverpaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Betrag der Überbezahlung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PackageCount</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den bereits bezahlten Betrag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PartialPaymentAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Teilzahlungsbetrag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PartialPaymentOpenAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den ausstehenden Teilzahlungsbetrag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PaymentDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Datum des Zahlungseingangs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PlentyID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicyHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Datenschutzrichtlinie  im HTML-Format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicyText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Datenschutzrichtlinie  im reinen Textformat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$RebateAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet einen Rabattbetrag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID der Herkunft. Die ID wird vom System vergeben. Im Menü Einrichtung » Aufträge » Auftragsherkunft sind die IDs aufgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den im Menü Einrichtung » Aufträge » Auftragsherkunft eingetragenen Namen der Auftragsherkunft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ReorderDeliveryDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Lieferdatum der Nachbestellung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ReorderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID der Nachbestellung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ReturnReasonID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ReturnReasonLabel</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerEndDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Enddatum des Abo-Auftrags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerExecutionCount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Anzahl der Aufträge, die der Abo-Auftrag umfasst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID des Abo-Auftrags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerInterval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Abo-Intervall.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerStartDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Startdatum des Abo-Auftrags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerTotalAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Gesamtrechnungsbetrag für alle Aufträge des Abo-Auftrags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Bruttoversandkosten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ShippingProfileID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID des Versandprofils. Die ID wird vom System vergeben. Im Menü Einrichtung » Aufträge » Versand » Optionen im Tab Versandprofile sind die IDs aufgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ShippingProfileName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Namen des Versandprofils.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ShippingServiceProviderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID des Versanddienstleisters. Die ID wird vom System vergeben. Im Menü Einrichtung » Aufträge » Versand » Optionen im Tab Versanddienstleister sind die IDs aufgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ShippingServiceProviderName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Namen des Versanddienstleisters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SignatureHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Signatur des Mandanten im HTML-Format. Im Menü Einrichtung » Mandant » Mandant wählen » E-Mail » Signatur wird diese Signatur hinterlegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SignatureText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Signatur des Mandanten im reinen Textformat. Im Menü Einrichtung » Mandant » Mandant wählen » E-Mail » Signatur wird diese Signatur hinterlegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SystemPassword</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SystemURL</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SystemUsername</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketBackendURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet eine Ticket-URL für das Backend von plentymarkets. Damit diese Variable befüllt wird, muss eine E-Mail-Vorlage eingerichtet sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketHistory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den letzten Vorgang im Ticket. Hierbei kann es sich um einen Kommentar oder um eine Nachricht handeln. Damit diese Variable befüllt wird, muüssen eine E-Mail-Vorlage und Ereignis-Aktionen eingerichtet sein. Die Ereignis-Aktionen müssen auf dem Ereignis Neuer Kommentar, Neue Nachricht vom Mitarbeiter oder Neue Nachricht vom Kunden beruhen. Die Variable wird dann je nach Ereignis befüllt. Bei allen anderen Ereignissen wird die Variable nicht befüllt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Ticket-ID. Damit diese Variable befüllt wird, muss eine E-Mail-Vorlage eingerichtet sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketLastComment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den letzten im Ticket angelegten Kommentar. Damit diese Variable befüllt wird, müssen eine E-Mail-Vorlage und eine Ereignis-Aktion eingerichtet sein. Die Ereignis-Aktion muss auf dem Ereignis Neuer Kommentar beruhen. Bei allen anderen Ereignissen wird die Variable nicht befüllt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketLastMessage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die letzte im Ticket hinzugefügte Nachricht. Damit diese Variable befüllt wird, müssen eine E-Mail-Vorlage und eine Ereignis-Aktion eingerichtet sein. Die Ereignis-Aktion muss auf einem der beiden Ereignisse Neue Nachricht vom Mitarbeiter oder Neue Nachricht vom Kunden beruhen. Am besten richtest du eine Ereignis-Aktion für beide Ereignisse ein und erhältst so eine E-Mail, egal ob einer deiner Mitarbeiter oder eine deine Kund*innen schreibt. Bei allen anderen Ereignissen wird die Variable nicht befüllt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketPriority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Priorität des Tickets. Damit diese Variable befüllt wird, muss eine E-Mail-Vorlage eingerichtet sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Ticketstatus. Damit diese Variable befüllt wird, muss eine E-Mail-Vorlage eingerichtet sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketTags</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketTitle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet den Tickettitel. Damit diese Variable befüllt wird, muss eine E-Mail-Vorlage eingerichtet sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TicketURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet eine Ticket-URL für den Mein-Konto-Bereich des Webshops. Damit diese Variable befüllt wird, muss eine E-Mail-Vorlage eingerichtet sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TodaysDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das aktuelle Datum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TotalVAT</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TrackingURL</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TrustedShopsRating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Bewertungsergebnis der bei Trusted Shops abgegebenen Bewertungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TrustedShopsRatingEmailButton</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Schaltfläche für eine Trusted Shops-Bewertung zur Verwendung in E-Mails.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TrustedShopsRatingShopButton</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Schaltfläche für eine Trusted Shops-Bewertung zur Verwendung im Layout.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TrustedShopsSeal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet das Trusted Shop-Gütesiegel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$ValueOfItems</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die Lager-ID. Die ID wird vom System vergeben. Im Untermenü Einstellungen eines Lagers unter Einrichtung » Waren » Lager ist die ID aufgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$WebstoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Variable beinhaltet die ID des Mandanten. Die ID wird vom System vergeben. Im Menü Einrichtung » Mandant » Mandant wählen » Einstellungen unter Webstore ID ist die ID aufgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$WithdrawalFormHTML</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$WithdrawalFormText</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>