<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Requirement: Necessary user rights</span></a></li>
<li><a href="#100"><span>2.</span><span> Creating and editing tags</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>2.1.</span><span> Creating new tags</span></a></li>
<li><a href="#300"><span>2.2.</span><span> Searching for and editing existing tags</span></a></li>
</ul>
</li>
<li><a href="#400"><span>3.</span><span> Linking tags</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Tags are keywords that you can use to highlight data records in plentymarkets.
Tags are very versatile. For example, tags help you:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>keep track of large amounts of data in the back end.
That means, you highlight specific customers, variations, categories, messages, etc.</p>
</li>
<li>
<p>highlight products in the front end.
That means, you assign keywords to specific variations.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Essentially, the process consists of just two steps.
First, <a href="/en/welcome/general-functions/tags#100">create the tags</a>.
Second, <a href="/en/welcome/general-functions/tags#400">link the tags</a> with the appropriate data records.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. Requirement: Necessary user rights</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If you want users with <strong>Back end</strong> access to work with tags, then someone with <strong>Admin</strong> access will need to give them the necessary rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning user rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>In the <strong>Authorisations</strong> area, activate the rights as listed in <a href="#table-tags-required-rights-back-end-user">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-tags-required-rights-back-end-user" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Granting user rights</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setup &gt; Tag &gt; Update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The right to edit existing tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setup &gt; Tag &gt; Show</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The right to see tags in the plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setup &gt; Tag &gt; Create</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The right to create new tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setup &gt; Tag &gt; Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The right to delete tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setup &gt; Tag &gt; Tag relationship &gt; Update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The right to edit existing tag links.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setup &gt; Tag &gt; Tag relationship &gt; Show</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The right to see tag links in the plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setup &gt; Tag &gt; Tag relationship &gt; Create</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The right to create new tag links.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setup &gt; Tag &gt; Tag relationship &gt; Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The right to delete tag links.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">2. Creating and editing tags</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="200">2.1. Creating new tags</h3>
<div class="paragraph">
<p>First, create the tags that you want to use for your products, customers, orders, tickets, etc.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new tag:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new tag</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Carry out the settings. Note the explanations in <a href="#table-tag-settings">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The tag is created and added to the list.</p>
</li>
</ol>
</div>
<table id="table-tag-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a tag</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The tag ID is automatically assigned and cannot be changed.
It is used to uniquely identify your tags.</p>
<p class="tableblock"><strong><em>Use case</em></strong>: Tag links can be imported.
For example, while you import item and variation data, you can also directly link the appropriate tags.
This is done, e.g. by specifying the tag ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the tag.
The name is the keyword that highlights the data record.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: The name can include spaces, i.e. it can be multiple words.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What background colour should the tag text have?
There are three ways to choose the colour.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter the colour’s hexadecimal value.</p>
</li>
<li>
<p>Enter the English name for one of the 16 basic colours (black, red, silver, white, etc.)<br></p>
</li>
<li>
<p>Click on the square on the right and choose the colour.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-availability">Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What types of data records will you link to this tag?
Select all of the appropriate availabilities (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Availability</th>
<th class="tableblock halign-left valign-top">Example of use</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Board</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific task cards on boards?
For example, you could specify that some tasks have a high or low priority.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific categories in the back end?
For example, you could specify that a category should only be used for seasonal offers.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Category tags are <em>not visible</em> to customers in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific tickets within the ticket system?
For example, you could specify that the ticket relates to a specific sales channel like Amazon or eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific contacts?
For example, you could specify the customer’s preferred method of communication.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific variations?
For example, if you sell ladders, you could specify that some ladders were awarded a seal of approval for their safety features.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Variation tags can be made <em>visible</em> to customers in the online store.
Do so by <a href="/en/welcome/general-functions/tags#intable-client">selecting the appropriate client</a> further below.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags can currently be created for orders, but they cannot be linked to orders yet.
Therefore, this option is currently not in use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Messages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific messages within the messenger tool?
For example, you could specify that the message relates to a specific sales channel like Amazon or eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Message (billable)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you occasionally write fee-based messages in the messenger tool?
In other words, should the customer be charged for the minutes that elapsed while writing the message?</p>
<p class="tableblock">While writing a fee-based message, you’ll need to select at least one tag with this availability.
Otherwise, the message cannot be created.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-client">Client</strong><br>
(functional for plentyShop LTS)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In which webshops should the tag be visible to customers?
Select all of the appropriate webshops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Note</em></strong>: This option only appears if you <a href="/en/welcome/general-functions/tags#intable-availability">selected the availability Variation</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name DE</strong><br>
<strong>Name FR</strong><br>
<strong>Name IT</strong><br>
etc.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Translate the tag names into other languages.</p>
<p class="tableblock"><strong><em>Example of use</em></strong>: Variation tags can be made visible to customers in the online store.
If your online store is available in multiple languages, then the tag names should also appear in these languages.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">2.2. Searching for and editing existing tags</h3>
<div class="paragraph">
<p>You can search for existing tags and modify their settings again at any time.</p>
</div>
<div class="paragraph instruction">
<p>Searching for and opening tags:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Select one or more filters on the left. Note the explanations in <a href="#table-tag-filter">Table 3</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The corresponding tags will be displayed in the middle.
The tags are sorted alphabetically.</p>
</li>
<li>
<p>Click on a tag to open it.<br>
→ <a href="/en/welcome/general-functions/tags#200">The settings</a> can be modified again on the right.</p>
</li>
</ol>
</div>
<table id="table-tag-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Tag filters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Search for the tag by its name.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Tag names can be saved in multiple languages.
However, you can only search for names in the main language of your plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more availabilities (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
The search results only include tags that were activated for this availability.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more languages (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
The search results only include tags that have a name saved in this language.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Linking tags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve created your tags, you can link them with data records.</p>
</div>
<table id="table-link-tags" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Linking tags</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tag availability</th>
<th class="tableblock halign-left valign-top">How are such tags linked?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Board</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/welcome/customise-system#380">Tags are manually linked to task cards on boards</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/categories#700">Tags are manually linked to categories in the back end</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ticket</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/crm/using-the-ticket-system#1800">Tags are manually linked to tickets in the ticket system</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/crm/managing-contacts#300">Tags are manually linked to contacts</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#268">Tags can manually be linked to variations</a>.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item#2290">Tag links can be imported</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Messages</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/crm/messenger#create-message">Tags are manually linked to messages within the messenger tool</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Message (billable)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/crm/messenger#create-message">Tags are manually linked to fee-based messages within the messenger tool</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>