<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_sold_quantities_returns"><span>1.</span><span> General information about sold quantities / returns</span></a></li>
<li><a href="#_details_about_the_statistic"><span>2.</span><span> Details about the statistic</span></a></li>
<li><a href="#_settings"><span>3.</span><span> Settings</span></a></li>
<li><a href="#_data_export"><span>4.</span><span> Data export</span></a>
<ul class="sectlevel2">
<li><a href="#_exporting_the_diagram_data"><span>4.1.</span><span> Exporting the diagram data</span></a></li>
<li><a href="#_exporting_the_raw_data"><span>4.2.</span><span> Exporting the raw data</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Sold quantities / returns</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Start » Statistics → Type of statistic: Item / Sold quantities / returns</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_sold_quantities_returns">1. General information about sold quantities / returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This statistic shows you how many copies of your items were <em><strong>sold</strong></em> or <em><strong>returned</strong></em> during a specific time period. It also shows you the <em><strong>relationship</strong></em> between sales and returns displayed as a percentage. You can also see the total <em><strong>revenue generated from sales and returns</strong></em>. Default settings for the time span: <strong>The last 6 months</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_details_about_the_statistic">2. Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <em><strong>number of sold items</strong></em>, the <em><strong>number of returns</strong></em> and corresponding information about the <em><strong>revenue in Euro</strong></em> will be displayed for the selected time span. The <em><strong>return rate</strong></em> shows you the relationship between how many times an item was sold and how many times it was returned. All of the items will be displayed if you do not select any filters. In other words, you will also see items that were not returned at all.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>A <strong>gear-wheel icon</strong> is displayed as a tooltip when you move your cursor to the column headings. Click on it to select which data is relevant for your statistic and should be displayed. Remove the check mark next to any unnecessary data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/item/assets/EN-Start-Statistics-General-Item-Quantities-Returns01-SI.png" alt="EN Start Statistics General Item Quantities Returns01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>Sold quantities / returns</strong> statistic</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_settings">3. Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create a new statistic as described on the <strong><a href="/basics/statistics">Statistics  </a></strong> page of the manual. The <strong>Sold quantities / returns</strong> statistic includes the settings described in table 1.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/item/assets/EN-Start-Statistics-General-Item-Quantities-Returns02-SI.png" alt="EN Start Statistics General Item Quantities Returns02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>Sold quantities / returns</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Start » Statistics → Type of statistic: Item / Sold quantities / returns</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <em><strong>CSV file</strong></em>. The parameters are used as displayed. They are the same parameters as shown in the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Raw data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This also generates a <em><strong>CSV file</strong></em>. However, more detailed data is exported. Every item is listed individually.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <em><strong>name</strong></em> of the statistic that was entered when the statistic was created. The name can be changed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Time span</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a time span for the statistic from the drop-down menu. Default value<strong>: The last 6 months</strong>.<br>
Select a different time span if you do not see any data or if you do not see enough data. Then click on the <strong>save icon</strong> to display the result.<br>
Choosing a <em><strong>larger time span</strong></em> will give you more information. If there is a lot of data, then a <em><strong>shorter time span</strong></em> may make more sense in order to be able to actually interpret the graphic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Starting date / Ending date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can enter a specific <em><strong>starting and ending date</strong></em> here instead of selecting a <strong>time span</strong> (optional).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Date based on</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which event should be used for analyzing the data: <strong>Order received</strong>, <strong>Incoming payment</strong> or <strong>Outgoing items</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>From status / To status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Depending on the type of statistic there are different options available to narrow down the <strong>status</strong>. There are <em><strong>standard values</strong></em> set by default.<br>
<em><strong>All types of orders</strong></em> are included in the statistical analysis except for <em><strong>cancellations</strong></em>. This means that <em><strong>status 8</strong></em> and <em><strong>8.1</strong></em> are excluded from the statistic. <em><strong>Returns</strong></em> and <em><strong>credit notes</strong></em> will only be included if they were specifically selected with the option <strong>Include returns/credit notes</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client (store)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <em><strong>stores</strong></em> that you would like to include into the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one or more <strong>order referrers</strong>. Use the option <strong>All</strong> to select all of the available order referrers at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Display subcategories of</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If needed, select which item categories should be displayed along with their subcategories.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Marking 1 and 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether <strong>all items</strong> should be included in the statistic, only those items with a <strong>specific marking</strong> or only those items <strong>without a marking</strong>. <strong>All items</strong> are included by default. You can select up to two markings at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Show item bundle</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark to display the item bundles in addition to the individual items.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>;</em><em><strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_data_export">4. Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described in table 1, you can choose between a simple and a detailed export. Examples are displayed below.</p>
</div>
<div class="sect2">
<h3 id="_exporting_the_diagram_data">4.1. Exporting the diagram data</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Data fields</div>
<div class="paragraph">
<p><strong>ItemID</strong> = Item ID, <strong>PriceID</strong> = Price ID,<strong>VariantID</strong> = Item variant ID, <strong>VariantName</strong> = Name of the item variant,<strong>ItemNo</strong> = Item number, <strong>ItemName</strong> = Item name, <strong>ItemWeight</strong> = Item weight, <strong>SoldItems</strong> = Number of sold items, <strong>Returned Items</strong> = Number of returned items, <strong>Sales</strong> = Revenue, <strong>SalesNet</strong> = Net revenue, <strong>Returns</strong> = Returns, <strong>ReturnsNet</strong> = Net returns, <strong>AdjustedItems</strong> = Adjusted items, <strong>AdjustedSales</strong> = Adjusted revenue, <strong>Adjusted SalesNet</strong> = Adjusted net revenue, <strong>ReturnRate</strong> = Return rate</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/item/assets/EN-Start-Statistics-General-Item-Quantities-Returns03-SI.png" alt="EN Start Statistics General Item Quantities Returns03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3:</em><em><strong>Sold quantities / returns</strong></em><em>statistic; simple export</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_exporting_the_raw_data">4.2. Exporting the raw data</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Data fields</div>
<div class="paragraph">
<p><strong>ItemID</strong> = Item ID, <strong>PriceID</strong> = Price ID, <strong>VariantID</strong> = Item variant ID, <strong>VariantName</strong> = Name of the item variant, <strong>ItemNo</strong> = Item number, <strong>ItemName</strong> = Item name, <strong>ItemWeight</strong> = Item weight, <strong>Items</strong> = Number of items, <strong>Sales</strong> = Revenue, <strong>SalesNet</strong> = Net revenue, <strong>Type</strong> = Order type</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/item/assets/EN-Start-Statistics-General-Item-Quantities-Returns04-SI.png" alt="EN Start Statistics General Item Quantities Returns04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4:</em><em><strong>Sold quantities / returns</strong></em><em>statistic; raw data export</em></p>
</div>
</div>
</div>
</div>
</main>