<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay-Rahmenbedingungen festlegen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das nächste Teil des Puzzles: Die Rahmenbedingungen! Lerne in diesem Video wie du Zahlung, Versand und Rücknahme bei eBay regelst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/einstellungen/rahmenbedingungen-zahlungsbedingungen#video">Zahlungsbedingungen (1:35)</a></p>
<p class="tableblock"><a href="/videos/ebay/einstellungen/rahmenbedingungen-versandbedingungen#video">Versandbedingungen (2:20)</a></p>
<p class="tableblock"><a href="/videos/ebay/einstellungen/rahmenbedingungen-ruecknahme#video">Rücknahmebedingungen (3:01)</a></p>
<p class="tableblock"><a href="/videos/ebay/einstellungen/rahmenbedingungen-versandprofile#video">Versandprofil erstellen (3:24)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/198651148#at=204" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Damit du das große Motiv "eBay" weiter zusammenlegen kannst, musst du nun Versandprofile erstellen, die deinen Kunden mitteilen, unter welchen Bedingungen bezahlt, verschickt und zurückgegeben wird …​ aka Rahmenbedingungen!</p>
</div>
<div class="paragraph">
<p>Deine Schnittstelle ist live - deine eBay-Konten sind verknüpft.</p>
</div>
<div class="paragraph">
<p>In der Navigation ist der Bereich für die Rahmenbedingungen schnell gefunden. Hier hinterlegst du diese wichtigen Daten und fügst alles zusammen in ein Versandprofil ein.</p>
</div>
<div class="paragraph">
<p>Was genau ist denn ein Versandprofil? Tatsächlich ist das nicht zu verwechseln mit deinen plenty-Versandeinstellungen.</p>
</div>
<div class="paragraph">
<p>Du definierst als erstes für eBay, wie deine Ware bezahlt werden darf, auf welchem Weg sie schließlich an den Kunden verschickt wird und ob und wie dein Kunde im worst case die Ware zurückgeben kann. Wähle also beispielsweise PayPal für die Zahlung oder DHL für den Versand und bilde mit diesen und ein paar anderen Einstellungen dein Versandprofil, das am Listing hinterlegt und deinen Kunden am Artikel auf eBay angezeigt wird. Je nachdem, ob du pro Artikel andere Bedingungen hast, kannst du natürlich auch dementsprechend viele Profile anlegen.</p>
</div>
<div class="paragraph">
<p>Du kannst oben zwischen deinen verknüpften Konten wählen und deine gewünschte Plattform einstellen. Die Einstellungen hier sind von eBay gespiegelt. Das heißt, wenn du bei eBay schon mal deine Bedingungen hinterlegt hast, kannst du sie auch bequem über den Download-Pfeil hier importieren. Oder: Du legst sie direkt in plenty an. So oder so beachte bitte, dass du Änderungen immer nur in plenty durchführst. Das sorgt 1. für einen reibungslosen Abgleich und 2. für den Komfort, alle Einstellungen über plenty steuern zu können.</p>
</div>
<div class="paragraph">
<p>Am einfachsten machst du es dir, wenn du von links nach rechts durchgehst. Beginnen wir also mit den Zahlungsbedingungen.</p>
</div>
<div class="paragraph">
<p>Über den Reiter "Neu" gibst du zuerst einen eindeutigen Namen ein, z.B. Zahlung per Überweisung/PayPal.</p>
</div>
<div class="paragraph">
<p>Unter Zahlungsarten markierst du dann, wie dein Kunde den Artikel bezahlen soll.</p>
</div>
<div class="paragraph">
<p>Wenn du PayPal anbieten möchtest, musst du etwas weiter unten dein angelegtes PayPal-Konto verknüpfen.</p>
</div>
<div class="paragraph">
<p>Wenn du die Funktion "Sofortige Bezahlung" nutzen willst, kannst du nur noch PayPal anbieten. Das liegt ganz einfach an der Art, wie eBay die Kaufabwicklung gestaltet hat. Du hast noch die Möglichkeit, Zahlungshinweise hinzuzufügen. Was du einträgst, bleibt ganz dir überlassen.</p>
</div>
<div class="paragraph">
<p>Sobald du abspeicherst, wird die erstellte Zahlungsbedingung angelegt - und zwar auch direkt auf eBay!</p>
</div>
<div class="paragraph">
<p>Du siehst, das Puzzle ist recht einfach zusammengesetzt! Bei Versand- und Rücknahmebedingungen ist das Vorgehen nahezu analog.</p>
</div>
<div class="paragraph">
<p>Du klickst auf "Neu", gibst wieder einen eindeutigen Namen ein, dann gibst du im Dropdown die Zeit an, die du benötigst, um den Artikel in den Versand zu geben. Bitte nicht verwechseln: Die Lieferzeit ist hier noch nicht mit drin und diese kannst du an dieser Stelle auch nicht angeben!</p>
</div>
<div class="paragraph">
<p>Schließlich kannst du Angaben zum nationalen Versand und, wenn du den internationalen Versand bei eBay freigeschaltet hast, auch für ebendiesen machen.</p>
</div>
<div class="paragraph">
<p>Soll dein Kunde zwischen mehreren Versandarten wählen können, gibst du hier ganz einfach schon alle an. Oder du erstellst dir für unterschiedliche Versandarten auch unterschiedliche Versandbedingungen und -profile.</p>
</div>
<div class="paragraph">
<p>Bei deinen Rücknahmebedingungen hast du die Möglichkeit deine Bedingungen nochmals zu beschreiben und gibst unten in den Dropdowns an, ob der Artikel zurückgegeben werden darf, welche Frist dann für den Kunden gilt und wer die Kosten trägt.</p>
</div>
<div class="paragraph">
<p>Mit dem Klick auf Speichern hast du schon mal drei wichtige Teile zusammengesetzt und führst nun alles zusammen in ein Versandprofil.</p>
</div>
<div class="paragraph">
<p>Vor allem, wenn du mehrere unterschiedliche Profile erstellen willst, ist ein eindeutiger Name hier sehr wichtig.</p>
</div>
<div class="paragraph">
<p>Postleitzahl und Standort beziehen sich hier auf deinen Standort.</p>
</div>
<div class="paragraph">
<p>Jetzt wählst du im Dropdown die passenden Bedingungen aus, die du dir gerade angelegt hast und bist eigentlich auch schon fertig!</p>
</div>
<div class="paragraph">
<p>Schau dir aber noch den eingeschränkten Käuferkreis an, falls die Funktion für dich in Frage kommt. Hier hast du die Möglichkeit, bestimmte Käufer nicht zuzulassen.</p>
</div>
<div class="paragraph">
<p>Vielleicht möchtest du keine Käufer ohne PayPal-Konto zulassen oder wenn du nicht in alle Länder liefern kannst: Käufer mit bevorzugter Lieferadresse in Ländern, in die du keine Ware verschickst.</p>
</div>
<div class="paragraph">
<p>Perfekt, das war doch gar nicht so kniffelig!</p>
</div>
<div class="paragraph">
<p>Du kannst es sicher gar nicht abwarten, weiter zu puzzlen und neue Teile anzulegen. Dann schau dir doch direkt weitere Videos an und lerne unter anderem, wie du deine Versandprofile am Listing verknüpfst und deine Artikel für den Verkauf auf eBay freischaltest.</p>
</div>
</div>
</div>
</main>