<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay-Schnittstelle einrichten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit wenigen Klicks kannst du dein eBay-Konto mit plentymarkets verknüpfen. Dieses Video zeigt dir, wie es geht und erläutert die wichtigsten Einstellungen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/einstellungen/schnittstelle-neues-konto#video">Neues Konto verknüpfen (0:46)</a></p>
<p class="tableblock"><a href="/videos/ebay/einstellungen/schnittstelle-konten-einstellen#video">Konten individuell einstellen (1:40)</a></p>
<p class="tableblock"><a href="/videos/ebay/einstellungen/schnittstelle-basiseinstellungen#video">Basiseinstellungen (2:48)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/197395365#at=46" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>ebay - kurzer Name, großes Thema. Auch in plentymarkets sind deine Einstellungsmöglichkeiten umfassend. Einen kühlen Kopf bewahrst du, wenn du das große Thema "ebay" in kleinere Teile zerlegst. Und keine Sorge: Es benötigt keine 1000 Teile, um ein perfektes Gesamtbild zusammenzusetzen!</p>
</div>
<div class="paragraph">
<p>Wie wird plenty spielend leicht zum One-For-All-System? Mittelstück ist die Schnittstelle zu deinem ebay-Konto, damit die Kommunikation zwischen plentymarkets und ebay überhaupt stattfinden kann.</p>
</div>
<div class="paragraph">
<p>Los geht’s im Systemmenü! Unter Märkte » ebay » Konten bekommst du einen Überblick, welche Konten du schon verknüpft hast und kannst weitere hinzufügen. Denn One-for-all heißt hier auch, ein plentymarkets für all deine ebay-Konten!</p>
</div>
<div class="paragraph">
<p>…​..ein neues Konto fügst du über das Plus hinzu, gibst also deinen ebay-Namen ein, und wählst deine gewünschte Plattform. Damit jetzt nicht direkt Aufträge ins System kommen, hast du die Möglichkeit über eine Checkbox den Auftragsimport vorerst zu deaktivieren. Das ist super praktisch, denn so kannst du erstmal alles fertig machen und bekommst auch keine Aufträge importiert, die vielleicht schon abgearbeitet wurden. Durch einen Klick auf das Zahnrad wirst du kurz zu ebay weitergeleitet. Damit plenty mit ebay sprechen darf, stimmst du der Nutzung zu und generierst dir damit eine eindeutige ID, den Token.</p>
</div>
<div class="paragraph">
<p>Denk dran, dass du den Token vor Ablaufdatum erneuerst.</p>
</div>
<div class="paragraph">
<p>Das erste Teil des Puzzles ist komplett! Du könntest jetzt sofort mit Listings auf ebay starten. Allerdings kannst du deine Schnittstelle ebenfalls als EIN Motiv sehen, das aus mehreren, feineren Teilen besteht.</p>
</div>
<div class="paragraph">
<p>Den Feinschliff verpasst du deinen verknüpften Konten unter dem Punkt "Einstellungen" und "Kontoeinstellungen".</p>
</div>
<div class="paragraph">
<p>Jedes Konto kannst du einzeln aufrufen und verfeinern.</p>
</div>
<div class="paragraph">
<p>Hier siehst du zum Beispiel auch die Auswirkung der Checkbox von vorhin. Hast du sie aktiviert, werden noch keine Verkäufe abgerufen. Wenn du später soweit bist, stellst du dann hier ein, dass ebay und plenty sich austauschen, wenn ein Kunde etwas gekauft hat! Bequem bearbeitest du den Auftrag dann über plenty!</p>
</div>
<div class="paragraph">
<p>Alles klar! Bei einem Puzzle hängt alles zusammen. Wahrscheinlich möchtest oder musst du ein paar Einstellungen ändern, je nachdem wie dein Listing später eingestellt wird und wie du deinen Bestand handhabst.</p>
</div>
<div class="paragraph">
<p>Definitiv nice-to-have ist der Preisabgleich, der stündlich laufen kann. Wenn du bei deinen Listings eine Preisbindung an den Artikel aktivierst, änderst du den Preis am Artikel und der wird automatisch innerhalb einer Stunde auf ebay übernommen.</p>
</div>
<div class="paragraph">
<p>In Verbindung mit dem Ticketsystem von plenty kannst du sogar die ebay-Nachrichten deiner Kunden abrufen und musst dafür nicht mehr auf ebay direkt wechseln. Praktisch!</p>
</div>
<div class="paragraph">
<p>Stichwort One-for-all: Du kannst hier noch viel mehr Teile zusammensetzen, vor allem wenn es um Auftragsabwicklung geht.</p>
</div>
<div class="paragraph">
<p>Wechsle nun mit mir in den Tab Basiseinstellungen: Bei einem Puzzle beginnst du meistens mit den Rändern.</p>
</div>
<div class="paragraph">
<p>Die Ränder deiner Schnittstelle sind hier die Basiseinstellungen, denn sie gelten für alle Konten.</p>
</div>
<div class="paragraph">
<p>Sehr wichtig ist hier die Einstellung zur SKU, oder Lagerhaltungsnummer. Über die wird alles Wichtige zu deinen Artikeln im Hintergrund abgeglichen. Da die SKU schon durch Varianten- und Market-Listing-ID gesetzt ist, ist automatisch eingestellt, dass diese für den Abgleich benutzt wird und nicht deine Variantennummer. Lass diese Einstellung am besten auf "Nein", damit beim Abgleich nichts schief laufen kann.</p>
</div>
<div class="paragraph">
<p>Nach Warenausgang gibt plenty Bescheid, dass der Artikel verschickt wurde PLUS die Paketnummer wird übermittelt. Achte also darauf, dass bei ebay-Aufträgen die Paketnummer bereits hinterlegt ist, wenn du den Warenausgang buchst. Wie du dafür sorgst, lernst du im Modul Auftragsabwicklung.</p>
</div>
<div class="paragraph">
<p>Du erinnerst dich daran, dass bei einem Puzzle alles zusammenhängt?</p>
</div>
<div class="paragraph">
<p>Die Bestandsautomatik ist ein gutes Beispiel für die Verknüpfung mit anderen Teilen, sie kommt zum Tragen, wenn du bestimmte Bestandsabhängigkeiten am Listing einstellst.</p>
</div>
<div class="paragraph">
<p>Die Schnittstelle ist wie gesagt nur das Mittelstück. Für das Gesamtbild "ebay" legst du nun weitere Teile daran an. Weiter geht’s mit Rahmenbedingungen, Artikeleinstellungen und Listings!</p>
</div>
</div>
</div>
</main>