<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Warum Kataloge?</span></a></li>
<li><a href="#200"><span>2.</span><span> Hinweise zu Amazon-Katalogen</span></a></li>
<li><a href="#300"><span>3.</span><span> Wichtige Vorbereitungen</span></a></li>
<li><a href="#400"><span>4.</span><span> Katalog für Variantenexport erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>4.1.</span><span> Katalog mit dem Assistenten erstellen</span></a></li>
<li><a href="#600"><span>4.2.</span><span> Optionale Datenfelder verknüpfen (nicht im Assistenten)</span></a></li>
</ul>
</li>
<li><a href="#700"><span>5.</span><span> Im Assistenten erstellte Quellen mit Varianten verknüpfen</span></a></li>
<li><a href="#800"><span>6.</span><span> Variantenexport aktivieren</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>6.1.</span><span> Katalog für vorhandenen Export aktivieren</span></a></li>
<li><a href="#1000"><span>6.2.</span><span> Katalog für neuen Export aktivieren</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>7.</span><span> Amazon-Katalog als CSV-Datei exportieren</span></a></li>
<li><a href="#1200"><span>8.</span><span> Fehlerbehebung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon-Variantenexport per Katalog einrichten (BETA)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Es ist so weit: Der Amazon-Katalog ist da! Mit Amazon ziehen wir den ersten großen Marktplatz auf die Kataloge um. Bis auf weiteres kannst du aber auch weiterhin den alten Export nutzen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Warum Kataloge?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Deine Kataloge werden zur Schaltzentrale für alle Einstellungen zum Artikelexport.</p>
</li>
<li>
<p>Der Katalog gibt die Datenstruktur des Flatfiles vor. Du weißt also genau, welche Variantendaten nötig sind, um deine Produkte über Amazon anzubieten.</p>
</li>
<li>
<p>Du bestimmst für jede Flatfile und jede Plattform ganz individuell, welche Variantendaten übertragen werden. Gleichzeitig reduziert eine Vorschlagsfunktion deinen Aufwand: Denn sobald du ein Feld einer Datenquelle einmal zugeordnet hast, wird dir diese Zuordnung auch beim nächsten Mal vorgeschlagen.</p>
</li>
<li>
<p>Daten können flexibler übertragen werden, da Datenfelder frei ausgewählt und verknüpft werden können.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Amazon-Kataloge sind neu!</div>
<div class="paragraph">
<p>Kataloge für den Export von Variantendaten an Amazon befinden sich noch in der Pilotphase.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Hinweise zu Amazon-Katalogen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Pro Kombination aus Amazon-Konto, Amazon-Plattform und Flatfile wird ein eigener Katalog erstellt.<br>
<strong><em>Hinweis:</em></strong> Wenn Amazon eine neue Version der Flatfile veröffentlicht, muss auch ein neuer Katalog erstellt werden. Die gute Nachricht ist: Du kannst den Katalog mit der alten Flatfile-Version einfach und schnell <a href="/daten/daten-exportieren/kataloge-verwalten#80">kopieren und anpassen</a>.</p>
</li>
<li>
<p>Merkmale und Freitextfelder können nicht über Kataloge an Amazon übertragen werden. Für Pflichtfelder einer Flatfile kannst du direkt im Assistenten des Amazon-Katalogs Eigenschaften erstellen. Weitere Eigenschaften kannst du später erstellen und verknüpfen.</p>
</li>
<li>
<p>Für Amazon Business (B2B) gibt es eine eigene Flatfile. Daher muss auch ein eigener Katalog für Amazon Business erstellt werden.</p>
</li>
<li>
<p>BMVD-Export-Kategorien werden in den Katalogen ignoriert.</p>
</li>
<li>
<p>Die Pflichtfelder der Flatfile werden schon im Assistenten verknüpft. Weitere Datenfelder werden im Menü <strong>Daten » Kataloge</strong> verknüpft, nachdem der Katalog erstellt wurde.</p>
</li>
<li>
<p>Du übermittelst schon Variantendaten an Amazon? Wenn du für eine Kombination aus Amazon-Konto, Amazon-Plattform und Flatfile einen Amazon-Katalog aktivierst, wird der alte Variantenexport für diese Kombination automatisch deaktiviert.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Wichtige Vorbereitungen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Richte die Amazon-Konten ein, die du benötigst. Wie das geht, ist auf der Handbuchseite <a href="/maerkte/amazon/amazon-einrichten">Amazon einrichten</a> beschrieben.</p>
</li>
<li>
<p>Bereite deine Varianten für den Export zu Amazon vor. Die nötigen Informationen dazu findest du auf der Seite <a href="/maerkte/amazon/varianten-vorbereiten">Varianten vorbereiten</a>.</p>
</li>
<li>
<p>Bevor du deinen ersten Amazon-Katalog erstellst, mache dich damit vertraut, <a href="/daten/daten-exportieren/kataloge-verwalten">wie Kataloge in plentymarkets funktionieren</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Katalog für Variantenexport erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon-Kataloge erstellst du mit dem Assistenten <strong>Amazon Kataloge erstellen</strong> im Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Pro Kombination aus Amazon-Konto, Amazon-Plattform und Flatfile wird ein eigener Katalog erstellt.</p>
</li>
<li>
<p>Die Pflichtfelder der Flatfile werden schon im Assistenten verknüpft.</p>
</li>
<li>
<p>Optionale Felder werden im erstellten Katalog im Menü <strong>Daten » Kataloge</strong> verknüpft.</p>
</li>
<li>
<p>Amazon-Kataloge können nur über den Assistenten und nicht direkt im Menü <strong>Daten » Kataloge</strong> erstellt werden.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Freitextfelder und Merkmale werden nicht unterstützt</div>
<div class="paragraph">
<p>Freitextfelder und Merkmale werden von Katalogen nicht unterstützt. Nur Eigenschaften können per Katalog an Amazon übertragen werden. Für die Pflichtfelder einer Flatfile kannst du direkt im Assistenten Eigenschaften erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="500">4.1. Katalog mit dem Assistenten erstellen</h3>
<div class="paragraph">
<p>Mit dem Assistenten <strong>Kataloge erstellen - Amazon</strong> erstellst du auf einfache Weise einen Katalog für den Export deiner Variantendaten an Amazon. Du gibst dem Katalog einen eindeutigen Namen und entscheidest, für welche Flatfiles und Amazon-Plattformen der Katalog gelten soll. Außerdem verknüpfst du im Assistenten alle Pflichtfelder.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ein Katalog pro Konto, Plattform und Flatfile</div>
<div class="paragraph">
<p>Für jede Kombination aus einem Amazon-Konto, einer Amazon-Plattform und einer Flatfile benötigst du einen eigenen Katalog. Mit der Vorschlagsfunktion ist das aber kein Problem: Denn sobald du ein Feld einer Datenquelle einmal zugeordnet hast, wird dir diese Zuordnung auch beim nächsten Mal vorgeschlagen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Katalog mit dem Assistenten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Kataloge erstellen - Amazon</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unten auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Überprüfe die Zusammenfassung auf mögliche Fehler und klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Katalog wird erstellt.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Öffne den Katalog im Menü <strong>Daten » Kataloge</strong>, um weitere <a href="#600">optionale Felder</a> zu verknüpfen.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Informationen zu den Optionen des Assistenten</div>
<div class="content">
<table id="table-amazon-catalogue-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: <strong>Benutzerkonto</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzerkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Amazon-Benutzerkonto aus der Dropdown-Liste wählen. Pro Kombination aus einem Amazon-Konto, einer Amazon-Plattform und einer Flatfile wird ein eigener Katalog erstellt. Du kannst nur Benutzerkonten auswählen, die bereits in deinem plentymarkets System gespeichert sind. Wenn das Benutzerkonto, für das du einen Katalog erstellen möchtest, nicht aufgeführt ist, wechsele in das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong> und erstelle ein <a href="/maerkte/amazon/amazon-einrichten#300">neues Konto</a> oder durchlaufe den Assistenten <strong>Grundeinstellungen - Amazon</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> <a href="/crm/kontakte-verwalten#15">Erstelle die nötigen Kundenklassen</a> im Voraus, falls sie nicht bereits in deinem plentymarkets System vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: <strong>Name, Flatfile und Plattform</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für den Katalog eingeben. Wenn kein Name angegeben wurde, wird automatisch ein Name für den Katalog generiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelexport aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviert den Export. Der Export ist standardmäßig deaktiviert.<br>
<strong><em>Hinweis:</em></strong> Den Export erst aktivieren, nachdem alle Verknüpfungen vorgenommen und geprüft wurden. Der Katalog kann auch später im Menü <strong>Daten » Kataloge</strong> aktiviert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fulfillment-Methode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob nur MFN-Varianten, nur FBA-Varianten oder beide zusammen in diesem Katalog übertragen werden sollen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>MFN- und FBA-Varianten übertragen</strong> (Standardeinstellung) = MFN-Varianten und FBA-Varianten werden übertragen (empfohlen).<br></p>
</li>
<li>
<p><strong>Nur MFN-Varianten übertragen</strong> = Nur Varianten mit eigenem Versand werden übertragen. Für FBA-Varianten muss also ein zusätzlicher Katalog erstellt werden.<br></p>
</li>
<li>
<p><strong>Nur FBA-Varianten übertragen</strong> = Nur Varianten werden übertragen, die Amazon versendet. Für Varianten mit eigenem Versand muss also ein zusätzlicher Katalog erstellt werden.<br>
<strong><em>Tipp:</em></strong> Wir empfehlen, beide Fulfillment-Methoden in nur einem Katalog zu pflegen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Flatfile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Flatfile für den Katalog verwendet werden soll.<br>
Eine Flatfile ist eine Dateivorlage von Amazon für eine bestimmte Produktkategorie. Diese Dateivorlage gibt vor, welche Variantendaten und Lagerbestände an Amazon übertragen werden müssen.<br>
<strong><em>Hinweis:</em></strong> Nur Flatfiles für die Plattformen werden angezeigt, die für das Amazon-Benutzerkonto aktiviert sind, das du in Schritt 1 gewählt hast. Aktiviere bei Bedarf <a href="/maerkte/amazon/amazon-einrichten#300">weitere Plattformen für das Amazon-Benutzerkonto</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Plattform</strong><br>
(wird nach Wählen einer Flatfile eingeblendet)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Plattform aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Nur Amazon-Plattformen werden angezeigt, die für das Amazon-Benutzerkonto aktiviert sind, das du in Schritt 1 gewählt hast. Aktiviere bei Bedarf <a href="/maerkte/amazon/amazon-einrichten#300">weitere Plattformen für das Amazon-Benutzerkonto</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flatfile-Version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, welche Version der Flatfile genutzt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: <strong>Katalog einrichten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Katalog einrichten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>plentymarkets Datenfelder mit den Datenfeldern der gewählten Amazon-Flatfile verknüpfen. Alle Datenfelder in diesem Schritt sind Pflichtfelder und müssen verknüpft werden. Im Menü <strong>Daten » Kataloge</strong> können weitere Felder verknüpft werden, nachdem der Assistent abgeschlossen wurde.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Eigenschaft anlegen</strong> = Erstellt eine neue Eigenschaft und verknüpft diese Eigenschaft mit dem Datenfeld. Die automatisch erstellten Eigenschaften werden im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong> in der Gruppe <strong>Amazon Catalog</strong> zusammengefasst dargestellt. Als Name für die Eigenschaft wird das Feld der Flatfile vergeben.<br></p>
</li>
<li>
<p><strong>Preis anlegen</strong> = Erstellt einen neuen Verkaufspreis und verknüpft diesen Verkaufspreis mit dem Datenfeld. Die automatisch erstellten Verkaufspreise können im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> geprüft und bearbeitet werden. Der Name des Verkaufspreises hat das Präfix "Amazon Katalog".<br></p>
</li>
<li>
<p><strong>Barcode anlegen</strong> = Erstellt einen neuen Barcode und verknüpft diesen Barcode mit dem Datenfeld. Die automatisch erstellten Barcodes können im Menü <strong>Einrichtung » Artikel » Barcodes</strong> geprüft und bearbeitet werden.<br></p>
</li>
<li>
<p><strong>Datenquelle wählen</strong> = Ein Datenfeld in plentymarkets wird an Amazon übertragen. Das Datenfeld aus der Dropdown-Liste <strong>Quelle wählen</strong> wählen.<br>
<strong><em>Hinweis:</em></strong> Felder mit der Option <strong>Datenquelle manuell verknüpfen</strong> können nicht automatisch im Assistenten verknüpft werden. Diese Felder müssen also manuell im Katalog verknüpfen werden, nachdem der Katalog erstellt wurde.</p>
</li>
<li>
<p><strong>Datenquelle manuell verknüpfen</strong> = Diese Felder werden nicht automatisch im Assistenten verknüpft und müssen manuell im Katalog verknüpfen werden, nachdem der Katalog erstellt wurde.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wenn du schon einmal einen Katalog erstellt hast, werden beim nächsten Katalog Quellen als Vorschläge eingeblendet. Für jedes Feld wird die Quelle vorgeschlagen, die du bisher am häufigsten mit dem Feld verknüpft hast.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: <strong>Zusammenfassung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zusammenfassung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt eine Zusammenfassung der Katalog-Einstellungen. Einstellungen ausklappen (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) und prüfen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">4.2. Optionale Datenfelder verknüpfen (nicht im Assistenten)</h3>
<div class="paragraph">
<p>Mit dem Assistenten verknüpfst du alle Pflichtfelder für die gewählte Flatfile. Du kannst aber auch zusätzliche Felder verknüpfen, um noch mehr Informationen zu deinen Produkten an Amazon zu übermitteln.</p>
</div>
<div class="paragraph instruction">
<p>Optionale Datenfelder verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den Amazon-Katalog.<br>
→ Der Katalog wird geöffnet.<br>
<strong><em>Hinweis:</em></strong> Der Katalog wird zunächst leer angezeigt. Je nach Größe der Flatfile kann es mehrere Minuten dauern, bis die Datenfelder einer Flatfile geladen und im Katalog angezeigt werden.<br>
→ Links werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen gekennzeichnet. Diese Pflichtfelder hast du bereits im Assistenten <strong>Kataloge erstellen - Amazon</strong> verknüpft.</p>
</li>
<li>
<p>Wähle für die gewünschten Datenfelder des Marktplatzes eine plentymarkets Datenquelle aus der Dropdown-Liste.</p>
</li>
<li>
<p>Um einem Datenfeld eine weitere plentmarkets Datenquelle zuzuordnen, klicke auf <strong>Quelle hinzufügen</strong>.<br>
→ Eine neue Zeile wird eingeblendet.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du einem Datenfeld mehr als eine Datenquelle zuordnest, wird nur ein Wert übertragen. Die Daten werden in der Reihenfolge der Zuordnung geprüft. Wenn also das erste Datenfeld keinen Wert liefert, wird das zweite Datenfeld übertragen usw.</p>
</li>
<li>
<p>Nimm alle gewünschten Zuordnungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">5. Im Assistenten erstellte Quellen mit Varianten verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du im Assistenten die Optionen <strong>Preis anlegen</strong>, <strong>Barcode anlegen</strong> und/oder <strong>Eigenschaft anlegen</strong> gewählt hast, erstellt der Assistent diese Eigenschaften, Verkaufspreise und/oder Barcodes automatisch. Zu erkennen sind sie an dem Präfix <strong>Amazon Catalogue</strong>. Diese neu erstellten Quellen musst du nun noch mit den Varianten verknüpfen, die zu Amazon exportiert werden sollen. Wie das geht, ist im Bereich <strong>Artikel</strong> des Handbuchs beschrieben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wie du Verkaufspreise mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#240">Verkaufspreise verknüpfen</a>.</p>
</li>
<li>
<p>Wie du Barcodes mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#250">Barcodes verknüpfen</a>.</p>
</li>
<li>
<p>Wie du Eigenschaften mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#4900">Eigenschaft verknüpfen und Wert speichern</a>.<br>
<strong><em>Tipp:</em></strong> Eigenschaften, die du über den Assistenten erstellst, werden automatisch im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong> zu der Gruppe <strong>Amazon Catalog</strong> hinzugefügt. Anhand dieser Gruppe kannst du sehen, welche neuen Eigenschaften du verknüpfen musst.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="800">6. Variantenexport aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast alle Verknüpfungen geprüft und möchtest nun den Export deiner Variantendaten an Amazon starten?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Katalog für vorhandenen Export aktivieren (<a href="#900">So geht’s</a>)</p>
</li>
<li>
<p>Katalog für neuen Export aktivieren (<a href="#1000">So geht’s</a>)</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="900">6.1. Katalog für vorhandenen Export aktivieren</h3>
<div class="paragraph">
<p>Wenn du einen Katalog für eine Kombination aus einem Amazon-Benutzerkonto, einer Flatfile und einer Amazon-Plattform erstellt hast, die du bereits produktiv im Einsatz hast, wird der Export automatisch auf den Katalog umgestellt, sobald du den Katalog aktivierst.</p>
</div>
<div class="paragraph instruction">
<p>Katalog für vorhandenen Export aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Schiebe in der Zeile des Katalogs in der Spalte <strong>Aktiv/Inaktiv</strong> die Toggle-Schaltfläche (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) nach rechts.<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten werden einmal täglich nachts an Amazon übertragen.<br>
<strong><em>Tipp:</em></strong> Wenn beim automatischen Export falsche Daten an Amazon übertragen wurden, kannst du die Verknüpfung im Katalog korrigieren, eine <a href="#2800">CSV-Datei des Katalogs exportieren</a> und manuell bei Amazon hochladen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">6.2. Katalog für neuen Export aktivieren</h3>
<div class="paragraph">
<p>Wenn du einen Katalog für eine Kombination aus einem Amazon-Benutzerkonto, einer Flatfile und einer Amazon-Plattform erstellt hast, die du aktuell noch nicht produktiv im Einsatz hast, sind einige weitere Einstellungen nötig.</p>
</div>
<div class="paragraph instruction">
<p>Katalog für neuen Export aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Schiebe in der Zeile des Katalogs in der Spalte <strong>Aktiv/Inaktiv</strong> die Toggle-Schaltfläche (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) nach rechts.<br>
→ Der Katalog wird aktiviert.<br>
<strong><em>Tipp:</em></strong> Wenn beim automatischen Export falsche Daten an Amazon übertragen wurden, kannst du die Verknüpfung im Katalog korrigieren, eine <a href="#1100">CSV-Datei des Katalogs exportieren</a> und manuell bei Amazon hochladen.</p>
</li>
<li>
<p>Prüfe außerdem die unten aufgeführten Einstellungen:</p>
</li>
</ol>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="im-assistenten--strong-grundeinstellungen---amazon--strong--tab" data-toggle="tab" href="#im-assistenten--strong-grundeinstellungen---amazon--strong-" role="tab" aria-controls="im-assistenten--strong-grundeinstellungen---amazon--strong-" aria-selected="true">Im Assistenten <strong>Grundeinstellungen - Amazon</strong></a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="im-men---strong-einrichtung---m-rkte---amazon--strong--tab" data-toggle="tab" href="#im-men---strong-einrichtung---m-rkte---amazon--strong-" role="tab" aria-controls="im-men---strong-einrichtung---m-rkte---amazon--strong-" aria-selected="false">Im Menü <strong>Einrichtung » Märkte » Amazon</strong></a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="im-assistenten--strong-grundeinstellungen---amazon--strong-" role="tabpanel" aria-labelledby="im-assistenten--strong-grundeinstellungen---amazon--strong--tab">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen im Assistenten <strong>Grundeinstellungen - Amazon</strong> vor, bevor du den Export eines neuen Katalogs aktivierst.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen für neuen Katalog im Assistenten Grundeinstellungen - Amazon:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Grundeinstellungen - Amazon</strong>.</p>
</li>
<li>
<p>Öffne den Assistenten für das Amazon-Konto.<br>
→ Der Assistent wird geöffnet.</p>
</li>
<li>
<p>Nimm die in <a href="#assistent-grundeinstellungen">Tabelle 1</a> beschriebenen Einstellungen vor.</p>
</li>
<li>
<p>Schließe den Assistenten wie gewohnt ab.</p>
</li>
</ol>
</div>
<table id="assistent-grundeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für neuen Katalog im Assistenten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: <strong>Grundeinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf welchen Amazon-Plattformen möchtest du deine Artikel verkaufen?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Plattformen, für die der Katalog übertragen werden sollen, müssen aktiviert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: <strong>Amazon-Benutzerkonto aktivieren</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzerkonto aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Amazon-Benutzerkonto muss aktiv sein, für das der Katalog erstellt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: <strong>Automatische Datenübertragung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>An welche Amazon-Plattformen möchtest du deine Artikeldaten übertragen?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Variantenexport für die Amazon-Plattformen muss aktiviert sein.<br>
<strong><em>Hinweis:</em></strong> Der Schritt <strong>Automatische Datenübertragung</strong> ist nur sichtbar, wenn im Schritt <strong>Marktplatz einrichten</strong> die Option <strong>Erweiterte Einstellungen anzeigen</strong> aktiviert ist.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="im-men---strong-einrichtung---m-rkte---amazon--strong-" role="tabpanel" aria-labelledby="im-men---strong-einrichtung---m-rkte---amazon--strong--tab">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen vor, bevor du den Export eines neuen Katalogs aktivierst.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Einrichtungsmenü:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Amazon-Konto.</p>
</li>
<li>
<p>Nimm die in <a href="#assistent-menue">Tabelle 2</a> beschriebenen Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="assistent-menue" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für neuen Katalog im Menü</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setze im Bereich <strong>Zugangsdaten</strong> ein Häkchen bei der Option <strong>Aktiv</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Artikeleinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelexport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste die Option <strong>Täglich</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export-Kategorien</strong>;<br>
<strong>BMVD-Export-Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Flatfiles, für die du Kataloge erstellt hast.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">7. Amazon-Katalog als CSV-Datei exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst den Katalog herunterladen, zum Beispiel um die Verknüpfungen zu prüfen, bevor du sie an Amazon exportierst. Du kannst bis zu 30.000 Varianten exportieren. Wenn du mehr Varianten hast, reduziere die Anzahl der Varianten über die Filter für Artikel-IDs, Tag-IDs und/oder Hersteller.</p>
</div>
<div class="paragraph instruction">
<p>Amazon-Katalog als CSV-Datei exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Katalog exportieren</strong> den Katalog aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib Artikel-IDs und/oder Tag-IDs kommagetrennt ein, um die exportieren Daten zu filtern.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle einen Hersteller aus der Dropdown-Liste, um die exportieren Daten zu filtern.</p>
</li>
<li>
<p>Klicke auf <strong>Exportieren</strong> (<span class="icon "><i class="psicon-box_plus"></i></span>).<br>
→ Der Export wird gestartet.<br>
<strong><em>Hinweis:</em></strong> Das Browser-Fenster muss geöffnet bleiben, während die Exportdatei generiert wird. Einige Flatfiles enthalten sehr viele Daten. Deshalb kann der Export mehrere Minuten dauern.</p>
</li>
<li>
<p>Scrolle zum Bereich <strong>CSV des Katalog-Exports herunterladen</strong>.</p>
</li>
<li>
<p>Klicke in der Spalte rechts des Exports auf <strong>Herunterladen</strong>.</p>
</li>
<li>
<p>Speichere die Datei auf deinem Rechner.<br>
<strong><em>Hinweis:</em></strong> Die CSV-Datei kann nicht in plentymarkets importiert werden. Nimm Änderungen an den Verknüpfungen also direkt im Katalog vor.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">8. Fehlerbehebung</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>Ich habe Felder falsch verknüpft und deshalb falsche Daten an Amazon übertragen. Was kann ich tun?</em></p>
<p>Korrigiere als erstes die falschen Verknüpfungen im Katalog. Die Daten werden einmal täglich nachts an Amazon übertragen. Wenn die Änderung dringend ist und vor diesem automatischen Export Änderungen bei Amazon vornehmen musst, kannst du den korrigierten Katalog in eine <a href="#1100">CSV-Datei exportieren</a> und diese CSV-Datei manuell im Amazon Seller Central hochladen.</p>
</li>
</ol>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>Ich habe meinen alten, zuverlässigen Export auf Kataloge umgestellt und jetzt kommt es zu Fehlern. Was kann ich tun?</em></p>
<p>Keine Panik. Stelle den Katalog im Menü <strong>Daten » Kataloge</strong> auf inaktiv. Deine Variantendaten werden dann automatisch wieder über den alten Export an Amazon übertragen und du kannst ganz in Ruhe deine Einstellungen prüfen und korrigieren. Unser Support-Team hilft dir bei Fragen oder Problemen gern weiter.</p>
</li>
</ol>
</div>
</div>
</div>
</main>