<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Warum Kataloge?</span></a></li>
<li><a href="#200"><span>2.</span><span> Hinweise zu Amazon-Katalogen</span></a></li>
<li><a href="#300"><span>3.</span><span> Wichtige Vorbereitungen</span></a></li>
<li><a href="#400"><span>4.</span><span> Katalog für Variantenexport erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>4.1.</span><span> Katalog mit dem Assistenten erstellen</span></a></li>
<li><a href="#600"><span>4.2.</span><span> Weitere Datenfelder zuordnen (nicht im Assistenten)</span></a></li>
</ul>
</li>
<li><a href="#700"><span>5.</span><span> Im Assistenten erstellte Datenfelder mit Varianten verknüpfen</span></a></li>
<li><a href="#800"><span>6.</span><span> Variantenexport aktivieren</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>6.1.</span><span> Katalog für vorhandenen Export aktivieren</span></a></li>
<li><a href="#1000"><span>6.2.</span><span> Katalog für neuen Export aktivieren</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>7.</span><span> Fehlerbehebung</span></a></li>
<li><a href="#next-steps"><span>8.</span><span> Nächste Schritte</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon-Variantenexport per Katalog einrichten (BETA)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/amazon/varianten-vorbereiten"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Varianten vorbereiten</a>
<a href="/maerkte/amazon/amazon-fulfillment/fulfillment">Fulfillment einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Es ist so weit: Der Amazon-Katalog ist da! Mit Amazon ziehen wir den ersten großen Marktplatz auf die Kataloge um. Bis auf weiteres kannst du aber auch weiterhin den alten Export nutzen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Warum Kataloge?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Deine Kataloge werden zur Schaltzentrale für alle Einstellungen zum Artikelexport.</p>
</li>
<li>
<p>Der Katalog gibt die Datenstruktur des Flatfiles vor. Du weißt also genau, welche Variantendaten nötig sind, um deine Produkte über Amazon anzubieten.</p>
</li>
<li>
<p>Du bestimmst für jede Flatfile und jede Plattform ganz individuell, welche Variantendaten übertragen werden. Gleichzeitig reduziert eine Vorschlagsfunktion deinen Aufwand: Denn sobald du ein Marktplatz-Datenfeld einem plentymarkets Datenfeld einmal zugeordnet hast, wird dir diese Zuordnung auch beim nächsten Mal vorgeschlagen.</p>
</li>
<li>
<p>Daten können flexibler übertragen werden, da Datenfelder frei ausgewählt und verknüpft werden können.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Amazon-Kataloge sind neu!</div>
<div class="paragraph">
<p>Kataloge für den Export von Variantendaten an Amazon befinden sich noch in der Pilotphase.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Hinweise zu Amazon-Katalogen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Pro Kombination aus Amazon-Konto, Amazon-Plattform und Flatfile wird ein eigener Katalog erstellt.<br>
<strong><em>Hinweis:</em></strong> Wenn Amazon eine neue Version der Flatfile veröffentlicht, muss auch ein neuer Katalog erstellt werden. Die gute Nachricht ist: Du kannst den Katalog mit der alten Flatfile-Version einfach und schnell <a href="/daten/daten-exportieren/kataloge-verwalten#80">kopieren und anpassen</a>.</p>
</li>
<li>
<p>Merkmale und Freitextfelder können nicht über Kataloge an Amazon übertragen werden. Für Pflichtfelder einer Flatfile kannst du direkt im Assistenten des Amazon-Katalogs Eigenschaften erstellen. Weitere Eigenschaften kannst du später erstellen und verknüpfen.</p>
</li>
<li>
<p>Für Amazon Business (B2B) gibt es eine eigene Flatfile. Daher muss auch ein eigener Katalog für Amazon Business erstellt werden.</p>
</li>
<li>
<p>BMVD-Export-Kategorien werden in den Katalogen ignoriert.</p>
</li>
<li>
<p>Die Pflichtfelder der Flatfile werden schon im Assistenten verknüpft. Weitere Datenfelder werden im Menü <strong>Daten » Kataloge</strong> verknüpft, nachdem der Katalog erstellt wurde.</p>
</li>
<li>
<p>Du übermittelst schon Variantendaten an Amazon? Wenn du für eine Kombination aus Amazon-Konto, Amazon-Plattform und Flatfile einen Amazon-Katalog aktivierst, wird der alte Variantenexport für diese Kombination automatisch deaktiviert.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Wichtige Vorbereitungen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Richte die Amazon-Konten ein, die du benötigst. Wie das geht, ist auf der Handbuchseite <a href="/maerkte/amazon/amazon-einrichten">Amazon einrichten</a> beschrieben.</p>
</li>
<li>
<p>Bereite deine Varianten für den Export zu Amazon vor. Die nötigen Informationen dazu findest du auf der Seite <a href="/maerkte/amazon/varianten-vorbereiten">Varianten vorbereiten</a>.</p>
</li>
<li>
<p>Bevor du deinen ersten Amazon-Katalog erstellst, mache dich damit vertraut, <a href="/daten/daten-exportieren/kataloge-verwalten">wie Kataloge in plentymarkets funktionieren</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Katalog für Variantenexport erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon-Kataloge erstellst du mit dem Assistenten <strong>Amazon Kataloge erstellen</strong> im Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Pro Kombination aus Amazon-Konto, Amazon-Plattform und Flatfile wird ein eigener Katalog erstellt.</p>
</li>
<li>
<p>Die Pflichtfelder der Flatfile werden schon im Assistenten verknüpft.</p>
</li>
<li>
<p>Optionale Felder werden im erstellten Katalog im Menü <strong>Daten » Kataloge</strong> verknüpft.</p>
</li>
<li>
<p>Amazon-Kataloge können nur über den Assistenten und nicht direkt im Menü <strong>Daten » Kataloge</strong> erstellt werden.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Freitextfelder und Merkmale werden nicht unterstützt</div>
<div class="paragraph">
<p>Freitextfelder und Merkmale werden von Katalogen nicht unterstützt. Nur Eigenschaften können per Katalog an Amazon übertragen werden. Für die Pflichtfelder einer Flatfile kannst du direkt im Assistenten Eigenschaften erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="500">4.1. Katalog mit dem Assistenten erstellen</h3>
<div class="paragraph">
<p>Mit dem Assistenten <strong>Kataloge erstellen - Amazon</strong> erstellst du auf einfache Weise einen Katalog für den Export deiner Variantendaten an Amazon. Du gibst dem Katalog einen eindeutigen Namen und entscheidest, für welche Flatfiles und Amazon-Plattformen der Katalog gelten soll. Außerdem verknüpfst du im Assistenten alle Pflichtfelder.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ein Katalog pro Konto, Plattform und Flatfile</div>
<div class="paragraph">
<p>Für jede Kombination aus einem Amazon-Konto, einer Amazon-Plattform und einer Flatfile benötigst du einen eigenen Katalog. Mit der Vorschlagsfunktion ist das aber kein Problem: Denn sobald du ein Marktplatz-Datenfeld einem plentymarkets Datenfeld einmal zugeordnet hast, wird dir diese Zuordnung auch beim nächsten Mal vorgeschlagen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Katalog mit dem Assistenten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Kataloge erstellen - Amazon</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Boxen unter dieser Beschreibung auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke im Schritt <strong>Zusammenfassung</strong> auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Katalog wird erstellt.</p>
</li>
<li>
<p>Öffne den Katalog im Menü <strong>Daten » Kataloge</strong>, um weitere Felder zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Für jede Kombination aus einem Amazon-Konto, einer Amazon-Plattform und einer Flatfile benötigst du einen eigenen Katalog.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Schritt <strong>Benutzerkonto</strong></div>
<div class="content">
<div class="paragraph">
<p>Wähle ein Amazon-Benutzerkonto aus der Dropdown-Liste. Pro Kombination aus einem Amazon-Konto, einer Amazon-Plattform und einer Flatfile muss ein eigener Katalog erstellt werden. Du kannst nur Benutzerkonten auswählen, die schon in deinem plentymarkets System gespeichert sind. Wenn das Benutzerkonto, für das du einen Katalog erstellen möchtest, nicht aufgeführt ist, wechsele in das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong> und erstelle ein <a href="/maerkte/amazon/amazon-einrichten#300">neues Konto</a> oder durchlaufe den Assistenten <strong>Grundeinstellungen - Amazon</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Erstelle <a href="/crm/kontakte-verwalten#15">die nötigen Kundenklassen</a> im Voraus, falls sie nicht schon in deinem plentymarkets System vorhanden sind.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Schritt <strong>Name, Flatfile und Plattform</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name für den Katalog eingeben. Wenn kein Name angegeben wurde, wird automatisch ein Name für den Katalog generiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelexport aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviert den Export. Der Export ist standardmäßig deaktiviert.<br>
<strong><em>Hinweis:</em></strong> Den Export erst aktivieren, nachdem alle Verknüpfungen vorgenommen und geprüft wurden. Der Katalog kann auch später im Menü <strong>Daten » Kataloge</strong> aktiviert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fulfillment-Methode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob nur MFN-Varianten, nur FBA-Varianten oder beide zusammen in diesem Katalog übertragen werden sollen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>MFN- und FBA-Varianten übertragen</strong> (Standardeinstellung) = MFN-Varianten und FBA-Varianten werden übertragen (empfohlen).<br></p>
</li>
<li>
<p><strong>Nur MFN-Varianten übertragen</strong> = Nur Varianten mit eigenem Versand werden übertragen. Für FBA-Varianten muss also ein zusätzlicher Katalog erstellt werden.<br></p>
</li>
<li>
<p><strong>Nur FBA-Varianten übertragen</strong> = Nur Varianten werden übertragen, die Amazon versendet. Für Varianten mit eigenem Versand muss also ein zusätzlicher Katalog erstellt werden.<br>
<strong><em>Tipp:</em></strong> Wir empfehlen, beide Fulfillment-Methoden in einem einzigen Katalog zu pflegen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Flatfile</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Flatfile für den Katalog verwendet werden soll.<br>
Eine Flatfile ist eine Dateivorlage von Amazon für eine bestimmte Produktkategorie. Diese Dateivorlage gibt vor, welche Variantendaten und Lagerbestände an Amazon übertragen werden müssen.<br>
<strong><em>Hinweis:</em></strong> Nur Flatfiles für die Plattformen werden angezeigt, die für das Amazon-Benutzerkonto aktiviert sind, das du in Schritt 1 gewählt hast. Aktiviere bei Bedarf <a href="/maerkte/amazon/amazon-einrichten#300">weitere Plattformen für das Amazon-Benutzerkonto</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Plattform</strong><br>
(wird nach Wählen einer Flatfile eingeblendet)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Amazon-Plattform aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Nur Amazon-Plattformen werden angezeigt, die für das Amazon-Benutzerkonto aktiviert sind, das du in Schritt 1 gewählt hast. Aktiviere bei Bedarf <a href="/maerkte/amazon/amazon-einrichten#300">weitere Plattformen für das Amazon-Benutzerkonto</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flatfile-Version</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zeigt an, welche Version der Flatfile genutzt wird.<br>
<strong><em>Hinweis:</em></strong> Wenn Amazon eine neue Version der Flatfile veröffentlicht, musst du einen neuen Katalog erstellen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Schritt <strong>Katalog einrichten</strong></div>
<div class="content">
<div class="paragraph">
<p>In diesem Schritt verknüpfst du plentymarkets Datenfelder mit den Datenfeldern der gewählten Amazon-Flatfile. Alle Datenfelder in diesem Schritt sind Pflichtfelder und müssen verknüpft werden. Im Menü <strong>Daten » Kataloge</strong> kannst du weitere Felder verknüpfen, nachdem du den Assistenten abgeschlossen hast.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Wenn du schon einmal einen Katalog für Amazon erstellt hast, werden beim nächsten Katalog Datenfelder als Vorschläge eingeblendet. Für jedes Marktplatz-Datenfeld wird das plentymarkets Datenfeld vorgeschlagen, die du bisher am häufigsten mit diesem Feld verknüpft hast.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Eigenschaft anlegen</strong> = Erstellt eine neue Eigenschaft und verknüpft diese Eigenschaft mit dem Datenfeld. Die automatisch erstellten Eigenschaften werden im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong> in der Gruppe <strong>Amazon Catalog</strong> zusammengefasst dargestellt. Als Name für die Eigenschaft wird das Feld der Flatfile vergeben.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Preis anlegen</strong> = Erstellt einen neuen Verkaufspreis und verknüpft diesen Verkaufspreis mit dem Datenfeld. Die automatisch erstellten Verkaufspreise können im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> geprüft und bearbeitet werden. Der Name des Verkaufspreises hat das Präfix "Amazon Katalog".</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Barcode anlegen</strong> = Erstellt einen neuen Barcode und verknüpft diesen Barcode mit dem Datenfeld. Die automatisch erstellten Barcodes können im Menü <strong>Einrichtung » Artikel » Barcodes</strong> geprüft und bearbeitet werden.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Datenquelle wählen</strong> = Ein Datenfeld in plentymarkets wird an Amazon übertragen. Das Datenfeld aus der Dropdown-Liste <strong>Quelle wählen</strong> wählen.<br>
<strong><em>Hinweis:</em></strong> Felder mit der Option <strong>Datenquelle manuell verknüpfen</strong> können nicht automatisch im Assistenten verknüpft werden. Diese Felder musst du also manuell im Katalog verknüpfen, nachdem der Katalog erstellt wurde.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Datenquelle manuell verknüpfen</strong> = Diese Felder werden nicht automatisch im Assistenten verknüpft. Du musst diese Datenfelder manuell im Katalog verknüpfen, nachdem der Katalog erstellt wurde.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">4.2. Weitere Datenfelder zuordnen (nicht im Assistenten)</h3>
<div class="paragraph">
<p>Mit dem Assistenten hast du bereits wichtige Pflichtfelder für die gewählte Flatfile zugeordnet. Nachdem du den Assistenten abgeschlossen hast, musst du aber noch einige Datenfelder manuell zuordnen. Außerdem kannst du noch zusätzliche Felder zuordnen, um noch mehr Informationen zu deinen Produkten an Amazon zu übermitteln.</p>
</div>
<div class="paragraph instruction">
<p>Weitere Datenfelder im Katalog zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> mit den Marktplatz-Datenfeldern wird geöffnet.<br>
<strong><em>Hinweis:</em></strong> Der Katalog wird zunächst leer angezeigt. Je nach Größe der Flatfile kann es mehrere Minuten dauern, bis die Datenfelder geladen und angezeigt werden.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (*) gekennzeichnet.</p>
</li>
<li>
<p>Klicke neben dem ersten Marktplatz-Datenfeld auf <strong>Datenfeld hinzufügen</strong>.<br>
→ Links werden die plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die Datenfelder anzuzeigen.<br>
→ Die Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten Datenfeld auf das Plus.<br>
→ Das Datenfeld wird in der Ansicht hinzugefügt.<br>
<strong><em>Tipp:</em></strong> Du möchtest für ein Marktplatz-Datenfeld immer denselben festen Wert übergeben? Dann klicke neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.</p>
</li>
<li>
<p>Klicke auf das X, um den Bearbeitungsmodus zu schließen.<br>
→ Das Datenfeld wird zugeordnet.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Du möchtest für ein Marktplatz-Datenfeld zwei oder mehr plentymarkets Felder übertragen?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke rechts neben dem zugeordneten Datenfeld auf die Schaltfläche <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein weiteres plentymarkets Datenfeld zu.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Das zusätzliche Datenfeld wird zugeordnet. Beim Export wird der Inhalt der beiden plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Klicke auf <strong>Ausweich-Datenfeld hinzufügen</strong>, um ein Datenfeld zu wählen, das exportiert wird, falls dieses Datenfeld nicht vorhanden oder leer ist. Du kannst auch mehrere Ausweich-Datenfelder angeben.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du einem Marktplatz-Datenfeld Ausweich-Datenfelder zuordnest, wird nur ein Wert übertragen. Die Felder werden in der Reihenfolge geprüft, in der sie zugeordnet werden. Wenn also das erste Datenfeld keinen Wert liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Wiederhole die Zuordnung für alle Datenfelder des Marktplatzes, für die du Produktinformationen übertragen möchtest.<br>
<strong><em>Hinweis:</em></strong> Alle mit Sternchen (*) gekennzeichneten Felder sind Pflichtfelder und müssen einem plentymarkets Datenfeld zugeordnet werden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">5. Im Assistenten erstellte Datenfelder mit Varianten verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Katalog mit dem Assistenten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Kataloge erstellen - Amazon</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Boxen unter dieser Beschreibung auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke im Schritt <strong>Zusammenfassung</strong> auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Katalog wird erstellt.</p>
</li>
<li>
<p>Öffne den Katalog im Menü <strong>Daten » Kataloge</strong>, um weitere Felder zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Für jede Kombination aus einem Amazon-Konto, einer Amazon-Plattform und einer Flatfile benötigst du einen eigenen Katalog.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">6. Variantenexport aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast alle Verknüpfungen geprüft und möchtest nun den Export deiner Variantendaten an Amazon starten?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Katalog für vorhandenen Export aktivieren (<a href="#900">So geht’s</a>)</p>
</li>
<li>
<p>Katalog für neuen Export aktivieren (<a href="#1000">So geht’s</a>)</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="900">6.1. Katalog für vorhandenen Export aktivieren</h3>
<div class="paragraph">
<p>Wenn du einen Katalog für eine Kombination aus einem Amazon-Benutzerkonto, einer Flatfile und einer Amazon-Plattform erstellt hast, die du bereits produktiv im Einsatz hast, wird der Export automatisch auf den Katalog umgestellt, sobald du den Katalog aktivierst.</p>
</div>
<div class="paragraph instruction">
<p>Katalog für vorhandenen Export aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Schiebe in der Zeile des Katalogs in der Spalte <strong>Aktiv/Inaktiv</strong> die Toggle-Schaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten werden einmal täglich nachts an Amazon übertragen.<br>
<strong><em>Tipp:</em></strong> Wenn beim automatischen Export falsche Daten an Amazon übertragen wurden, kannst du die Verknüpfung im Katalog korrigieren, eine <a href="#2800">CSV-Datei des Katalogs exportieren</a> und manuell bei Amazon hochladen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">6.2. Katalog für neuen Export aktivieren</h3>
<div class="paragraph">
<p>Wenn du einen Katalog für eine Kombination aus einem Amazon-Benutzerkonto, einer Flatfile und einer Amazon-Plattform erstellt hast, die du aktuell noch nicht produktiv im Einsatz hast, sind einige weitere Einstellungen nötig.</p>
</div>
<div class="paragraph instruction">
<p>Katalog für neuen Export aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Schiebe in der Zeile des Katalogs in der Spalte <strong>Aktiv/Inaktiv</strong> die Toggle-Schaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br></p>
</li>
</ol>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Prüfe außerdem die unten aufgeführten Einstellungen:</p>
</li>
</ol>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="im-assistenten-tab" data-toggle="tab" href="#im-assistenten" role="tab" aria-controls="im-assistenten" aria-selected="true">Im Assistenten</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="im-einrichtungsmen--tab" data-toggle="tab" href="#im-einrichtungsmen-" role="tab" aria-controls="im-einrichtungsmen-" aria-selected="false">Im Einrichtungsmenü</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="im-assistenten" role="tabpanel" aria-labelledby="im-assistenten-tab">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen im Assistenten <strong>Grundeinstellungen - Amazon</strong> vor, bevor du den Export eines neuen Katalogs aktivierst.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen für neuen Katalog im Assistenten Grundeinstellungen - Amazon:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Grundeinstellungen - Amazon</strong>.</p>
</li>
<li>
<p>Öffne den Assistenten für das Amazon-Konto.<br>
→ Der Assistent wird geöffnet.</p>
</li>
<li>
<p>Nimm die in <a href="#assistent-grundeinstellungen">Tabelle 1</a> beschriebenen Einstellungen vor.</p>
</li>
<li>
<p>Schließe den Assistenten wie gewohnt ab.</p>
</li>
</ol>
</div>
<table id="assistent-grundeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für neuen Katalog im Assistenten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Grundeinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf welchen Amazon-Plattformen möchtest du deine Artikel verkaufen?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Plattformen, für die der Katalog übertragen werden sollen, müssen aktiviert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Amazon-Benutzerkonto aktivieren</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzerkonto aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Amazon-Benutzerkonto muss aktiv sein, für das der Katalog erstellt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Automatische Datenübertragung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>An welche Amazon-Plattformen möchtest du deine Artikeldaten übertragen?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Variantenexport für die Amazon-Plattformen muss aktiviert sein.<br>
<strong><em>Hinweis:</em></strong> Der Schritt <strong>Automatische Datenübertragung</strong> ist nur sichtbar, wenn im Schritt <strong>Marktplatz einrichten</strong> die Option <strong>Erweiterte Einstellungen anzeigen</strong> aktiviert ist.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="im-einrichtungsmen-" role="tabpanel" aria-labelledby="im-einrichtungsmen--tab">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen vor, bevor du den Export eines neuen Katalogs aktivierst.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Einrichtungsmenü:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Amazon-Konto.</p>
</li>
<li>
<p>Nimm die in <a href="#assistent-menue">Tabelle 2</a> beschriebenen Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="assistent-menue" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für neuen Katalog im Menü</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setze im Bereich <strong>Zugangsdaten</strong> ein Häkchen bei der Option <strong>Aktiv</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Artikeleinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelexport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste die Option <strong>Täglich</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export-Kategorien</strong>;<br>
<strong>BMVD-Export-Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Flatfiles, für die du Kataloge erstellt hast.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">7. Fehlerbehebung</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title">Ich habe Felder falsch verknüpft und deshalb falsche Daten an Amazon übertragen. Was kann ich tun?</div>
<div class="content">
<div class="paragraph">
<p>Korrigiere als erstes die falschen Verknüpfungen im Katalog. Die Daten werden einmal täglich nachts an Amazon übertragen.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Ich habe meinen alten, zuverlässigen Export auf Kataloge umgestellt und jetzt kommt es zu Fehlern. Was kann ich tun?</div>
<div class="content">
<div class="paragraph">
<p>Keine Panik. Stelle den Katalog im Menü <strong>Daten » Kataloge</strong> auf inaktiv. Deine Variantendaten werden dann automatisch wieder über den alten Export an Amazon übertragen und du kannst ganz in Ruhe deine Einstellungen prüfen und korrigieren. Unser Support-Team hilft dir bei Fragen oder Problemen gern weiter.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="next-steps">8. Nächste Schritte</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast die Schnittstelle zu Amazon eingerichtet und deine Varianten und den Export vorbereitet. Wie es jetzt weitergeht kommt darauf an, ob du weitere Amazon-Services nutzen möchtest:</p>
</div>
<div class="paragraph">
<p>Wenn du den FBA-Service von Amazon nutzen möchtest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen">FBA-Service von Amazon nutzen</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du weitere Amazon-Services nutzen möchtest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/maerkte/amazon/amazon-geschenkservice-nutzen">Amazon-Geschenkservice nutzen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-business-einrichten">Amazon Business einrichten</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-pay-einrichten">Amazon Pay einrichten</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/AmazonVCSDashboard">Plugin AmazonVCSDashboard nutzen</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn was schiefgegangen ist:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/faq/faq-sammlung">Liste der FAQs und Lösungen</a></p>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/amazon/varianten-vorbereiten"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Varianten vorbereiten</a>
<a href="/maerkte/amazon/amazon-fulfillment/fulfillment">Fulfillment einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>