<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#1000"><span>1.</span><span> Export aktivieren</span></a></li>
<li><a href="#1600"><span>2.</span><span> Variantendaten manuell exportieren</span></a>
<ul class="sectlevel2">
<li><a href="#1700"><span>2.1.</span><span> Daten für Seller Central exportieren</span></a></li>
<li><a href="#1800"><span>2.2.</span><span> Daten für Marketplace exportieren</span></a></li>
</ul>
</li>
<li><a href="#_faq"><span>3.</span><span> FAQ</span></a></li>
<li><a href="#next-steps"><span>4.</span><span> Nächste Schritte</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon: Alten Variantenexport einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/amazon/varianten-vorbereiten"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Varianten vorbereiten</a>
<a href="/maerkte/amazon/amazon-fulfillment/fulfillment">Fulfillment einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Auf dieser Seite erfährst du, wie du den Export von Varianten einrichtest und startest, wenn du noch nicht mit den neuen Katalogen arbeiten möchtest.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Hast du Amazon in plentymarkets eingerichtet? (<a href="/maerkte/amazon/amazon-einrichten">Wie?</a>)</p>
</li>
<li>
<p>Hast du deine Variantendaten vorbereitet? (<a href="/maerkte/amazon/varianten-vorbereiten">Wie?</a>)</p>
</li>
<li>
<p>Hast du dich gegen den <a href="/maerkte/amazon/variantendaten-exportieren">Export per Katalog</a> entschieden?</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Dann kannst du jetzt wie unten beschrieben den Export deiner Varianten zu Amazon aktivieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">1. Export aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere den Export entweder im Assistenten <strong>Grundeinstellungen - Amazon</strong> oder über das Einrichtungsmenü.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="im-assistenten-tab" data-toggle="tab" href="#im-assistenten" role="tab" aria-controls="im-assistenten" aria-selected="true">Im Assistenten</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="im-einrichtungsmen--tab" data-toggle="tab" href="#im-einrichtungsmen-" role="tab" aria-controls="im-einrichtungsmen-" aria-selected="false">Im Einrichtungsmenü</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="im-assistenten" role="tabpanel" aria-labelledby="im-assistenten-tab">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen im Assistenten <strong>Grundeinstellungen - Amazon</strong> vor, um den Export zu aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Export im Assistenten Grundeinstellungen - Amazon aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Grundeinstellungen - Amazon</strong>.</p>
</li>
<li>
<p>Öffne den Assistenten für das Amazon-Konto.<br>
→ Der Assistent wird geöffnet.</p>
</li>
<li>
<p>Nimm die in <a href="#assistent-grundeinstellungen">Tabelle 1</a> beschriebenen Einstellungen vor.</p>
</li>
<li>
<p>Schließe den Assistenten wie gewohnt ab.</p>
</li>
</ol>
</div>
<table id="assistent-grundeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für Artikelexport im Assistenten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Grundeinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf welchen Amazon-Plattformen möchtest du deine Artikel verkaufen?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die gewünschten Plattformen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Amazon-Benutzerkonto aktivieren</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzerkonto aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere das Amazon-Benutzerkonto.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Automatische Datenübertragung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>An welche Amazon-Plattformen möchtest du deine Artikeldaten übertragen?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere den Variantenexport für die Amazon-Plattformen.<br>
<strong><em>Hinweis:</em></strong> Der Schritt <strong>Automatische Datenübertragung</strong> ist nur sichtbar, wenn im Schritt <strong>Marktplatz einrichten</strong> die Option <strong>Erweiterte Einstellungen anzeigen</strong> aktiviert ist.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="im-einrichtungsmen-" role="tabpanel" aria-labelledby="im-einrichtungsmen--tab">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen im Menü <strong>Einrichtung » Märkte » Amazon</strong> vor, um den Export zu aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Einrichtungsmenü:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Amazon-Konto.</p>
</li>
<li>
<p>Nimm die in <a href="#export-menue">Tabelle 2</a> beschriebenen Einstellungen vor.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="export-menue" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für Export im Menü</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setze im Bereich <strong>Zugangsdaten</strong> ein Häkchen bei der Option <strong>Aktiv</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Artikeleinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelexport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste die Option <strong>Täglich</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export-Kategorien</strong>;<br>
<strong>BMVD-Export-Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die gewünschten Flatfiles.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="1600">2. Variantendaten manuell exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong> können zwei Datenexporte erzeugt werden. Zum einen der Datenexport Seller Central, der alle relevanten Informationen über Artikel und Warenbestände enthält und anschließend direkt im Seller Central hochgeladen wird. Zum Anderen der Datenexport Marketplace, mit dem du Artikeldaten der BMVD-Kategorien für Amazon exportierst.</p>
</div>
<div class="sect2">
<h3 id="1700">2.1. Daten für Seller Central exportieren</h3>
<div class="paragraph">
<p>Im Bereich <strong>Seller Central</strong> des Menüs <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong> erstellst du manuell einen Datenexport, der alle relevanten Informationen über Artikel und Warenbestände enthält und anschließend direkt im Amazon Seller Central hochgeladen wird. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Artikel in mehreren Kategorien anbieten</div>
<div class="paragraph">
<p>Wenn du Artikel in mehreren Kategorien anbietest, musst du nacheinander für die einzelnen Kataloge Exportdateien erzeugen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Daten für Seller Central exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Seller Central</strong> vor. Beachte dazu die Erläuterungen in <a href="#datenexport-seller-central">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Datei laden</strong>, um die Daten zu exportieren.<br>
→ Der Datenexport wird im CSV-Format ausgegeben.</p>
</li>
<li>
<p><strong>Speichere</strong> die CSV-Datei zur weiteren Verwendung auf deinem Rechner.</p>
</li>
</ol>
</div>
<table id="datenexport-seller-central" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Datenexport Seller Central</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Amazon-Konto wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export des Artikelkatalogs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikelkatalog für den Export wählen. Beim Artikelkatalogexport zu Amazon werden nur noch Artikel berücksichtigt, die jeweils in den vergangenen 24 Stunden geändert wurden. Bestände und Preise werden weiterhin wie gewohnt automatisiert abgeglichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tag-IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine oder mehrere Tag-IDs durch Komma getrennt eingeben. Nur Artikel werden exportiert, die mit mindestens einem der gewählten Tags verknüpft sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Artikel mit Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob <strong>alle Artikel</strong>, <strong>alle Artikel mit Markierung</strong>, <strong>alle Artikel ohne Markierung</strong> oder Artikel mit einer bestimmten Markierung exportiert werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl Varianten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Anzahl der Varianten eingeben, die exportiert werden sollen. Je mehr Varianten exportiert werden sollen, desto länger dauert der Export. Es können maximal 5.000 Varianten auf einmal exportiert werden.<br>
<strong><em>Beispiel:</em></strong> Wenn du 20.000 Varianten für Amazon hast und alle Varianten exportieren willst, gib zunächst 1-5000 (ohne Punkt oder Komma) in die Felder <strong>von</strong> und <strong>bis</strong> ein. Dann werden die ersten 5.000 Varianten für Amazon exportiert. Für den nächsten Export gibst du 5000-10000, danach 10000-15000 ein usw.<br>
<strong><em>Hinweis:</em></strong> Auch wenn maximal 5.000 Varianten auf einmal exportiert werden, kann es sein, dass mehr als 5.000 Datensätze in einer Exportdatei enthalten sind, da auch die Parents der Varianten in der Exportdatei erscheinen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum (ab)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Datum eingeben.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Neu:</strong> = Nur ab diesem Datum neu eingestellte Artikel werden exportiert.<br></p>
</li>
<li>
<p><strong>Geändert:</strong> = Geänderte oder aktualisierte Artikel werden exportiert.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>ALLE</strong> oder einen bestimmten Hersteller wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1800">2.2. Daten für Marketplace exportieren</h3>
<div class="paragraph">
<p>Im Bereich <strong>Marketplace</strong> des Menüs <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong> exportierst du Artikeldaten der BMVD-Kategorien zum Austausch mit Amazon. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Daten für Marketplace exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Marketplace</strong> gemäß <a href="#datenexport-marketplace">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Klicke auf <strong>Datei laden</strong>, um die Daten zu exportieren.<br>
→ Der Datenexport wird im CSV-Format ausgegeben.</p>
</li>
<li>
<p><strong>Speichere</strong> die CSV-Datei zur weiteren Verwendung auf deinem Rechner.</p>
</li>
</ol>
</div>
<table id="datenexport-marketplace" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Datenexport Marketplace</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Amazon-Konto wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Genre</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine der folgenden BMVD-Kategorien wählen: <strong>Bücher</strong>, <strong>Musik</strong>, <strong>Video</strong> oder <strong>DVD</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Artikel mit Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob <strong>alle Artikel</strong>, <strong>alle Artikel mit Markierung</strong>, <strong>alle Artikel ohne Markierung</strong> oder Artikel mit einer bestimmten Markierung exportiert werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktion für den Export wählen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel aktualisieren/hinzufügen</strong> = Die in der CSV-Datei übermittelten Daten werden von Amazon hinzugefügt/aktualisiert.<br></p>
</li>
<li>
<p><strong>Angebote entfernen</strong> = Die in der CSV-Datei übermittelten Angebote werden von Amazon entfernt.<br></p>
</li>
<li>
<p><strong>Daten vollständig aus dem System löschen</strong> = Die in der CSV-Datei übermittelten Daten werden von Amazon vollständig gelöscht.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Versandart wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Lagerbestandsdatei im Seller Central hochladen</div>
<div class="paragraph">
<p>Beim Hochladen von BMVD-Produktdaten im Seller Central wählst du statt der Option <strong>Textdateivorlagen für alle Kategorien außer BMVD</strong> die Option <strong>Lagerbestands-Assistent</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq">3. FAQ</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title">Ein oder mehrere Artikel wurden nicht exportiert. Was kann ich tun?</div>
<div class="content">
<div class="paragraph">
<p>In unserem <a href="/maerkte/amazon/best-practices-amazon-artikeldatenexport">Best Practice zum Artikeldatenexport</a> findest du eine Checkliste, die dir hilft, wenn ein Artikel nicht zu Amazon exportiert wird.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="next-steps">4. Nächste Schritte</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast die Schnittstelle zu Amazon eingerichtet und deine Varianten und den Export vorbereitet. Wie es jetzt weitergeht kommt darauf an, ob du weitere Amazon-Services nutzen möchtest:</p>
</div>
<div class="paragraph">
<p>Wenn du den FBA-Service von Amazon nutzen möchtest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen">FBA-Service von Amazon nutzen</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du weitere Amazon-Services nutzen möchtest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/maerkte/amazon/amazon-geschenkservice-nutzen">Amazon-Geschenkservice nutzen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-business-einrichten">Amazon Business einrichten</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-pay-einrichten">Amazon Pay einrichten</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/AmazonVCSDashboard">Plugin AmazonVCSDashboard nutzen</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn was schiefgegangen ist:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/faq/faq-sammlung">Liste der FAQs und Lösungen</a></p>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/amazon/varianten-vorbereiten"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Varianten vorbereiten</a>
<a href="/maerkte/amazon/amazon-fba-nutzen">FBA-Service von Amazon nutzen <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>