<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Introduction</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how plentymarkets helps you simplify your processes. Be a hero and save your employees' precious time.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/198165819" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Running a successful online business is a formidable task. But what if I told you, that we can make you faster…​. better…​.. more efficient…​…​ We can give you powers other sellers only dream of. We can make you a legend.</p>
</div>
<div class="paragraph">
<p>Sure, you want your products to sell on as many different platforms as possible. But when a flood of new orders starts rushing in, you may find yourself battling a mountain of paperwork and struggling just to stay afloat. Your employees are rushing to check off orders and payments, print invoices, packing lists and shipping labels, and still find time to send hundreds of e-mails to keep your customers up-to-date. Without the time and manpower to manage it all, you’ll quickly find yourself losing track of orders and losing your customers' trust.nWhy waste time doing day-to-day tasks manually? Instead, team up with a league of everyday heroes and turn your business' routine tasks into automatic processes.</p>
</div>
<div class="paragraph">
<p>Every day you’re faced with the same problem. You’ve got a stack of orders waiting for payment. And now it’s on you to email dozens of customers and remind them to pay. Sounds like a job for the procedure manager! Our first hero emerges from the shadows at a set time each day to conquer recurring tasks. For example, the procedure manager can check which orders are still waiting for payment and then notify all of these customers via e-mail.</p>
</div>
<div class="paragraph">
<p>With the right tools, even the largest task can be crushed without effort. Processes are powerful enough to fulfill your orders in the blink of an eye. With this hero at your side, you can automatically print all of the documents that you’ll need for shipping your items. Well thought out processes allow you to swoop in at just the right moment, bringing the necessary invoices, packing lists and shipping labels to your assembly line. This hero uses logic and efficiency to make quick work of the fulfillment process. With just one click, our hero is brought to life and helps you ship your orders at the speed of light.</p>
</div>
<div class="paragraph">
<p>Do you have a long line of customers who are starting to lose patience and want to know what’s going on with their order? Event procedures can put your customers' minds at ease! This every day hero keeps your customers in the loop by automatically informing them about their order. Event procedures are called into action whenever specific events occur. For example, as soon as you ship an order and have its package number you can automatically send your customers an e-mail that includes the tracking URL, so that your customers can follow the package on its journey.</p>
</div>
<div class="paragraph">
<p>Our motto is work smart, not unnecessarily hard. Team up with the league of every day heroes to turn your day-to-day tasks into well-oiled processes. Automation not only saves your business valuable time, but also helps reduce the risk of human error. In short: your business becomes faster and more reliable. See our heroes in action as they battle routine tasks in the rest of our videos. Follow their lead and learn how to make your business a legend.</p>
</div>
</div>
</div>
</main>