<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_what_are_categories_in_plentymarkets"><span>1.</span><span> What are categories in plentymarkets?</span></a></li>
<li><a href="#_video_tutorials"><span>2.</span><span> Video tutorials</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Categories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Item » Categories</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_what_are_categories_in_plentymarkets">1. What are categories in plentymarkets?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are different types of categories in plentymarkets. On the one hand, categories are what other systems may refer to as product groups or item categories. On the other hand, categories are also content pages for your <strong>CMS</strong>. The different types of categories have many settings in common. For example, all types of categories are managed within a folder structure. This is done by creating <strong>main categories</strong> and <strong>subcategories</strong>. All types of categories also typically include texts such as a description, short description, meta description and graphic elements. This is why all types of categories are managed together in plentymarkets.</p>
</div>
<div class="paragraph">
<p>You can tell the categories apart in plentymarkets by their type. The types <a href="/en/item/categories/item-categories"><strong>Item</strong></a>, <a href="/en/item/categories/editing-content-categories"><strong>Content</strong></a> and <a href="/en/item/categories/editing-container-categories"><strong>Container</strong></a> are available. By managing all types of categories together, each type has access to a few additional settings that would otherwise only be applicable to one of them. In some cases, these settings are also useful for the other types. For example, you can use a template variable to insert a short description for the type <strong>Content</strong>. You can use tags for the type <strong>Item</strong>.</p>
</div>
<div class="paragraph">
<p>Use the type <strong>Item</strong> for your item categories, i.e. for the categories that are used to group your items together in the online store. Use the type <strong>Content</strong> for all of the information in your store, i.e. for your terms and conditions, payment information and shipping information. Categories of the type <strong>Container</strong> are used for designing the order steps of the <a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design-order-process-individual-order-process"><strong>individual order process</strong></a>. Create the category structure with main categories that each contain up to 5 subcategories. You can edit the content with an integrated HTML editor.</p>
</div>
<div class="paragraph">
<p>For further information about creating a category, refer to the <a href="/en/item/categories/editing-categories"><strong>Editing categories</strong></a> page of the manual. For specific information about the different category types, refer to the corresponding pages of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_video_tutorials">2. Video tutorials</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Learn more about categories in the following video tutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.co.uk/a-3409/" target="_blank" rel="noopener">Categories</a></p>
</div>
</div>
</div>
</main>