<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_technical_background_of_item_data_status"><span>1.</span><span> Technical background of item data status</span></a></li>
<li><a href="#_checking_status_of_item_data"><span>2.</span><span> Checking status of item data</span></a></li>
<li><a href="#_previewing_an_item_or_a_variation"><span>3.</span><span> Previewing an item or a variation</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Checking status of item data</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>When you edit a substantial amount of item data or create a lot of items in one go, it takes a while for such changes to become available in the following areas of plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item display in Ceres</p>
</li>
<li>
<p>Item search in Ceres</p>
</li>
<li>
<p>Item data in the elastic export</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How long it takes for the data to become available depends on how many items were created and/or changed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you manually create one or a few items in the plentymarkets back end, it takes about 15 minutes for the changes to be visible in the online store and can be exported using the Elastic Export.</p>
</li>
<li>
<p>If you create or update many items, for example using batch processing or imports, it can take a long time for the changes to be visible in the online store and can be exported using the Elastic Export. How long it takes depends on the types of changes you have made and how many variations are affected by this change.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_technical_background_of_item_data_status">1. Technical background of item data status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is saved in a database. However, because it would take too long to retrieve this data from the database, this data is cached in ElasticSearch. The item view and item search in Ceres and the Elastic Export do not get item data from the database, but from ElasticSearch instead. This means it is much quicker to browse for items and open individual item views in the online store. The speed of the Elastic Export is also increased by relying on ElasticSearch. How long it takes for the changes to be updated in ElasticSearch depends on the number of items that were changed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_checking_status_of_item_data">2. Checking status of item data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to check the status of item data. The view shows the status of the following item data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item data in the elastic export</p>
</li>
<li>
<p>Item search in Ceres</p>
</li>
<li>
<p>Item display in Ceres</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Checking status of item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Status</strong>.<br>
→ The menu <strong>Status</strong> opens.<br>
→ In the <strong>Item data in ElasticSearch</strong> row, you can see what percentage of the variation data is current. <a href="#table-freshness-status">[table-freshness-status]</a> shows the available statuses.<br></p>
</li>
<li>
<p>The progress bar is not updated in real time. Click on <strong>Reload</strong> to check progress.<br>
<strong><em>Note:</em></strong> The plentymarkets Support cannot speed up the time it takes to update item data.</p>
</li>
</ol>
</div>
<table id="table-data-status" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Possible statuses of item data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Status</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Up to date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item data is up to date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Changed</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Existing items have been changed.<br>
→ The changes are not yet available in the Ceres online store or the Elastic Export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">New items have been created.<br>
→ The new items are not yet available in the Ceres online store or the Elastic Export.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_previewing_an_item_or_a_variation">3. Previewing an item or a variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the preview button to view items or variations straight after you created or edited them.</p>
</div>
<div class="paragraph instruction">
<p>Previewing an item or a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.<br>
→ The <strong>Settings</strong> tab of the main variation opens.</p>
</li>
<li>
<p>To preview the item, click on the preview icon in the save bar of the item.</p>
</li>
<li>
<p>To preview the variation, open the tab of the variation and click on the preview icon in the save bar of the variation.<br>
→ The <strong>Client (store)</strong> window is displayed.<br></p>
</li>
<li>
<p>From the drop-down list <strong>Plugin set</strong>, select the plugin set in which you want to preview the item or variation.</p>
</li>
<li>
<p>From the drop-down list <strong>Client (Store)</strong>, select the client in which you want to preview the item or variation.<br>
<strong><em>Tip:</em></strong> These settings are preselected next time you click on the preview icon.</p>
</li>
<li>
<p>Click on <strong>Execute</strong>.<br>
→ A preview of the item or the variation is shown.</p>
</li>
</ol>
</div>
</div>
</div>
</main>