<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#90"><span>1.</span><span> Setting up the facetted search</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>1.1.</span><span> Creating a facet</span></a></li>
<li><a href="#110"><span>1.2.</span><span> Editing the facet</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>1.2.1.</span><span> Carrying out the facet settings</span></a></li>
<li><a href="#130"><span>1.2.2.</span><span> Saving the facet name in an additional language</span></a></li>
</ul>
</li>
<li><a href="#140"><span>1.3.</span><span> Linking a facet to a value</span></a>
<ul class="sectlevel3">
<li><a href="#150"><span>1.3.1.</span><span> Creating a value</span></a></li>
<li><a href="#160"><span>1.3.2.</span><span> Linking a value</span></a></li>
</ul>
</li>
<li><a href="#170"><span>1.4.</span><span> Linking facets to images</span></a>
<ul class="sectlevel3">
<li><a href="#180"><span>1.4.1.</span><span> Uploading an image</span></a></li>
<li><a href="#190"><span>1.4.2.</span><span> Linking an image</span></a></li>
</ul>
</li>
<li><a href="#200"><span>1.5.</span><span> Linking facets to a client</span></a></li>
</ul>
</li>
<li><a href="#210"><span>2.</span><span> Using the faceted search in Callisto</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>2.1.</span><span> Using Callisto with the old faceted search</span></a>
<ul class="sectlevel3">
<li><a href="#230"><span>2.1.1.</span><span> Callisto + old faceted search: Defining the search index</span></a></li>
<li><a href="#240"><span>2.1.2.</span><span> Callisto + old faceted search: Adding fields to the search index</span></a></li>
<li><a href="#250"><span>2.1.3.</span><span> Callisto + old faceted search: Adjusting the fuzzy search</span></a></li>
<li><a href="#260"><span>2.1.4.</span><span> Callisto + old faceted search: Activating fields for the full text search</span></a></li>
</ul>
</li>
<li><a href="#270"><span>2.2.</span><span> Using Callisto with the faceted search (Elastic Search - BETA)</span></a>
<ul class="sectlevel3">
<li><a href="#280"><span>2.2.1.</span><span> Callisto + Faceted search (Elastic Search- BETA): Activating fields for the search</span></a></li>
<li><a href="#_callisto_faceted_search_elastic_search_beta_changing_languages"><span>2.2.2.</span><span> Callisto + Faceted search (Elastic Search- BETA): Changing languages</span></a></li>
</ul>
</li>
<li><a href="#290"><span>2.3.</span><span> Adding the faceted search to Callisto</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Using the faceted search in Ceres</span></a>
<ul class="sectlevel2">
<li><a href="#310"><span>3.1.</span><span> Ceres: Activating fields for the search</span></a></li>
<li><a href="#320"><span>3.2.</span><span> Ceres: Changing languages</span></a></li>
<li><a href="#330"><span>3.3.</span><span> Ceres: Adding the facetted search</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing the front end item search</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The front end item search allows your customers to search your product portfolio in the online store. In the template plugin Ceres the faceted search is activated by default for the online store item search. In the old design Callisto, the faceted search is activated in the <strong>System » Client » Select client » Online store » Item search</strong> menu.</p>
</div>
<div class="paragraph">
<p>Find out how to create facets and facet values and how to use these facets in Callisto and Ceres.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Callisto with default search</div>
<div class="paragraph">
<p>If your online store is still based on the old design Callisto and the option <strong>Default search</strong> is activated in the <strong>System » Client » Select client » Online store » Item search</strong> menu, the index of the back end item search is also used for searching items in the front end.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="90">1. Setting up the facetted search</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Facets are filter options that are used to make search results in the online store more precise based on specific criteria, i.e. facets. The faceted search has the advantage that search results are not necessarily limited by the selected criteria. Rather, the criteria are always searched for in the entire database. In other words, users are led through the search process intuitively and search results do not have to be faked if customers select criteria that are not helpful.</p>
</div>
<div class="paragraph">
<p>The filter navigation is very flexible. Facets are not only used to find which items in a category have a specific property. Rather, they are also used to narrow down the item search by the following criteria:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>By attributes and properties</p>
</li>
<li>
<p>By the manufacturer</p>
</li>
<li>
<p>By the item availability</p>
</li>
<li>
<p>By price segments</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In plentymarkets, these four facet types are combined with other values to determine the filter results. The more facets and values that you use, the more comprehensive the filters shown in the online store will be.</p>
</div>
<div class="paragraph">
<p>This function is configured in several different steps. First, facets are created. Then the settings of these facets are customized. Finally, the facets are linked to the desired values. Furthermore, you need to go to <strong>System » Client » Open client » Online store » Item search</strong> and select the option <strong>Faceted search</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking items to facets</div>
<div class="paragraph">
<p>You do not have to directly link items to the individual facets. Rather, items are automatically assigned to facets. This is done by <a href="#linking facets with facets values">[linking facets with facets values]</a> that are then saved in the item data record.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="100">1.1. Creating a facet</h3>
<div class="paragraph">
<p>First, you need to create facets for the search, e.g. the facet "Colour" with the type <strong>Attribute/property</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a facet:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the facet in the system’s language. This name is shown in the online store.</p>
</li>
<li>
<p>Select a <strong>type</strong> from the drop-down list. Pay attention to the information given in <a href="#table-available-facet-types">Table 1</a>.</p>
</li>
<li>
<p>Enter the <strong>position</strong> where the facet should be shown in the online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet is created.</p>
</li>
</ol>
</div>
<table id="table-available-facet-types" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Available facet types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Facet type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets of the type <strong>Price</strong> do not have to be linked to values. Rather, customers can filter from the smallest to the largest price within a category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute/property</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets of the type <strong>Attribute/property</strong> are linked to the attributes and properties in your system. They are used to create diverse filters, e.g. colours, sizes etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets of the type <strong>Availability</strong>, e.g. "ships within 24 hours", need to be linked to the availabilities found under <a href="#Settings » Item » Item availability">[Settings » Item » Item availability]</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets of the type <strong>Manufacturer</strong>, e.g. "Adidas", are linked to the manufacturers found under <a href="/en/item/managing-items#560">Settings » Item » Manufacturers</a>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="110">1.2. Editing the facet</h3>
<div class="paragraph">
<p>After you created the facet, the facet opens for editing. There are four tabs for carrying out additional settings and linking values.</p>
</div>
<div class="sect3">
<h4 id="120">1.2.1. Carrying out the facet settings</h4>
<div class="paragraph">
<p>Carry out the settings in the <strong>Settings</strong> tab as described below.</p>
</div>
<div class="paragraph instruction">
<p>Editing the facet</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-edit-facets">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-facets" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Editing facets; tab <strong>Settings</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the type that was selected when the facet was created. The type cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determines how the search results should be sorted. Depending on which option is selected, items will either be sorted by <strong>relevance</strong>, <strong>position number</strong> or alphabetically from <strong>A-Z</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates which position was selected when the facet was created. The position can be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CSS class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a CSS name. This name will be made available as a template variable in the CMS menu so that every facet can be saved as an individual class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose the selection type.<br>
<strong>Restricting</strong> = Further limits the filter with the selected value. All items will be displayed that have this value and that fulfil the criteria of any previously selected filters.<br>
<strong>Multiple</strong> = Makes it possible for multiple search results to be displayed together. For example, this option makes it possible for customers to select multiple manufacturers. The manufacturers' items will all be displayed together.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum number of hits</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specifies the minimum number of results that a facet value needs to have in order to be displayed in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum number of facet values shown</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specifies the maximum number of facet values that will be displayed for each facet. Up to 250 facet values can be shown.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="130">1.2.2. Saving the facet name in an additional language</h4>
<div class="paragraph">
<p>When you create a facet, enter a name in the default language of the system. This name is shown in the online store. If you offer additional languages, enter the names of the facet in these languages in the <strong>Name</strong> tab. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Saving the facet name in an additional language:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter a name in the language.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">1.3. Linking a facet to a value</h3>
<div class="paragraph">
<p>Use the <strong>Values</strong> tab to link facets to different values. For example, if you have a colour facet of the type <strong>Attribute/property</strong>, then create the values e.g. white, black, red, blue, etc. and link these values with the existing item attributes and properties in your system. To do so, proceed as described below.</p>
</div>
<div class="sect3">
<h4 id="150">1.3.1. Creating a value</h4>
<div class="paragraph instruction">
<p>Creating a value:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Open the <strong>Values</strong> tab.</p>
</li>
<li>
<p>At the bottom left, click on the <strong>green plus sign</strong>.<br>
→ The <strong>Creating a value</strong> window opens.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the value in the system’s language.</p>
</li>
<li>
<p>Enter a <strong>position</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The value is created.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> In the <strong>Name</strong> tab, enter translations for the name of the value.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> In the <strong>Settings</strong> tab, enter a CSS class.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="160">1.3.2. Linking a value</h4>
<div class="paragraph">
<p>Now, link the value with the data in the system. You can link more than one back end value to each facet value. For example, if you create facets of the type <strong>Attribute/property</strong>, you can group together attributes and properties in one filter and thus display them together in the search result.</p>
</div>
<div class="paragraph instruction">
<p>Linking the facet value to the back end value:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Open the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on the value.</p>
</li>
<li>
<p>Click on the <strong>Link</strong> tab.</p>
</li>
<li>
<p>Click on the back end value.</p>
</li>
<li>
<p>In the lower left-hand corner, click on <strong>Link</strong>.<br>
→ The back end value is linked to the facet’s value.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Link additional values.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="170">1.4. Linking facets to images</h3>
<div class="paragraph">
<p>In the <strong>Images</strong> tab, you link facets and facet values with images. For example, link the manufacturers with images if you want to show manufacturer logos rather than names to list manufacturers in the online store.</p>
</div>
<div class="sect3">
<h4 id="180">1.4.1. Uploading an image</h4>
<div class="paragraph instruction">
<p>Uploading an image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Images</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Upload files</strong>.</p>
</li>
<li>
<p>Navigate to the storage location of the images.</p>
</li>
<li>
<p>Select the image file.<br>
→ The image file is uploaded.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="190">1.4.2. Linking an image</h4>
<div class="paragraph">
<p>Now, link the image with the data saved in the system. Each image can be linked to one value.</p>
</div>
<div class="paragraph instruction">
<p>Linking an image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Images</strong> tab.</p>
</li>
<li>
<p>Move your cursor over the image.<br>
→ At the bottom of the image, a drop-down list with values is shown.</p>
</li>
<li>
<p>In the drop-down list, click on the value.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The image is linked with this value.<br>
→ The image is shown with a red border.<br>
→ The name of the value is shown on the image.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">1.5. Linking facets to a client</h3>
<div class="paragraph">
<p>After you have created facets, go to <strong>System » Client » Open client » Services » Facet links</strong> to link these facets to a client. Decide which facets are relevant for each client and which ones are not. Changes that you make will go into effect in real time. Proceed as described below to link facets to a client.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Facets of the type Price</div>
<div class="paragraph">
<p>Only one facet of the type Price can be linked for each client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking facets in the online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Facet links</strong>.</p>
</li>
<li>
<p>In the list to the left, click on the facet you want to link to this store.</p>
</li>
<li>
<p>Click on <strong>Link facet</strong> in the lower left-hand corner.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Activate the option <strong>Make images available</strong>, to show the images linked to the facet available in the online store.</p>
</li>
<li>
<p>Repeat this process for all remaining facets that should be linked.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet is linked in the online store.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="210">2. Using the faceted search in Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the old design Callisto, different search methods can be used for the front end search. Which search is used depends on the setting in the <strong>System » Client » Select client » Online store » Item search</strong> menu. The following options are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Default search</strong><br>
If the option <strong>Default search</strong> is activated, the <a href="/en/item/managing-items#385">index of the back end item search</a> is used for searching items in the front end.</p>
</li>
<li>
<p><strong>Findologic</strong><br>
For further information about setting up the item search using Findologic, refer to the <a href="/en/omni-channel/online-store/extras/findologic">Findologic</a> page of the manual.</p>
</li>
<li>
<p><strong>Faceted search</strong><br>
→ Find out how to set up the old faceted search in the <a href="/en/xxxx#220">Using Callisto with the old faceted search</a> chapter.</p>
</li>
<li>
<p><strong>Faceted search (Elastic Search - BETA)</strong><br>
→ Find out how to use the new faceted search (Elastic Search - BETA) in the <a href="/en/xxx#270">Using Callisto with the faceted search (Elastic Search - BETA)</a> chapter.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="220">2.1. Using Callisto with the old faceted search</h3>
<div class="paragraph">
<p>Activate the old faceted search by going to <strong>System » Client » Open client » Online store » Item search</strong> and activating the option <strong>Faceted search</strong>. Set up the faceted search as described in the <a href="#xxx">Setting up the faceted search</a> chapter. Then proceed as described below to use the old faceted search in Callisto.</p>
</div>
<div class="sect3">
<h4 id="230">2.1.1. Callisto + old faceted search: Defining the search index</h4>
<div class="paragraph">
<p>Use the <strong>Search index</strong> tab to specify criteria that improve the search in the online store. A facet based search offers a high level of fault tolerance. This means that search terms are found even if misspelled. Item names or manufacturer names do not have to be entered exactly to yield a result. For example, customers would still find the manufacturer "adidas" even if they incorrectly entered "addidas" or "adids". Configure the following 3 tabs for this:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the <strong>Fields</strong> tab, you activate the fields to be searched when a fuzzy search is run, set the boost for these fields and specify the fields to be considered during fuzzy searches.</p>
</li>
<li>
<p>In the <strong>Settings</strong> tab, you can carry out settings related to the fuzzy search.</p>
</li>
<li>
<p>In the <strong>Full text</strong> tab, you specify the item data to be searched during a full text search.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="240">2.1.2. Callisto + old faceted search: Adding fields to the search index</h4>
<div class="paragraph">
<p>Proceed as described below to add fields to the search index. When a customer starts a search in the online store, only activated fields are searched.</p>
</div>
<div class="paragraph instruction">
<p>Defining search fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on the <strong>Search index</strong> tab.<br>
→ The <strong>Fields</strong> tab opens.</p>
</li>
<li>
<p>In the column <strong>Active</strong>, activate those fields to be considered during a search.</p>
</li>
<li>
<p>For the activated fields, enter a boost between 1 and 1000. The higher the number, the more this area will be prioritized in the search results. Results will be displayed first for the field with the highest number.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> For the activated fields, activate the option <strong>Fuzzy search</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Activate the option <strong>Full text</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="250">2.1.3. Callisto + old faceted search: Adjusting the fuzzy search</h4>
<div class="paragraph">
<p>Now adjust the settings for fuzzy searches.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the fuzzy search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on the <strong>Search index</strong> tab.<br>
→ The <strong>Fields</strong> tab opens.</p>
</li>
<li>
<p>Go to the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-fuzzy-search">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-fuzzy-search" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Settings for fuzzy searching</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character length</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of characters after which a fuzzy search is carried out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fuzzy search from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If the search returns less than this number of search results, a fuzzy search is run.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Full text search from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If the search returns less than this number of search results, a full text search is run.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="260">2.1.4. Callisto + old faceted search: Activating fields for the full text search</h4>
<div class="paragraph">
<p>In the <strong>Full text</strong> tab, activate which item data is searched when the option <strong>Full text</strong> is activated in the <strong>Fields</strong> tab.</p>
</div>
<div class="paragraph instruction">
<p>Activating fields for the full text search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Global » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on the <strong>Search index</strong> tab.<br>
→ The <strong>Fields</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Full text</strong> tab.</p>
</li>
<li>
<p>Activate the fields to be searched when the option <strong>Full text</strong> is activated in the <strong>Fields</strong> tab.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="270">2.2. Using Callisto with the faceted search (Elastic Search - BETA)</h3>
<div class="paragraph">
<p>Activate the new faceted search by going to <strong>System » Client » Open client » Online store » Item search</strong> and activating the option <strong>Faceted search (Elastic Search - BETA)</strong>. Set up the faceted search as described in the <a href="#xxx">Setting up the faceted search</a> chapter. Then proceed as described below to use the new faceted search in Callisto.</p>
</div>
<div class="sect3">
<h4 id="280">2.2.1. Callisto + Faceted search (Elastic Search- BETA): Activating fields for the search</h4>
<div class="paragraph">
<p>Activate those fields to be searched during a search.</p>
</div>
<div class="paragraph instruction">
<p>Activating fields for the search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Search » Front end » Search settings</strong>.</p>
</li>
<li>
<p>In the column <strong>Active</strong>, activate those fields to be considered during a search.</p>
</li>
<li>
<p>For the activated fields, enter the weight you want to give the information stored in this field into the column <strong>Boost</strong>. The higher the number, the more this area will be prioritized in the search results. Results will be displayed first for the field with the highest number.<br>
<strong><em>Tip:</em></strong> You can enter any number.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_callisto_faceted_search_elastic_search_beta_changing_languages">2.2.2. Callisto + Faceted search (Elastic Search- BETA): Changing languages</h4>
<div class="paragraph">
<p>You can activate the faceted search for up to three languages. The languages <strong>German</strong>, <strong>English</strong> and <strong>French</strong> are activated by default. If you operate online stores in other languages, you can select different languages. To do so, proceed as described below.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Search index is completely rebuilt after any changes</div>
<div class="paragraph">
<p>If you change the language settings, the search index is completely rebuilt. That means that all items are added to the index again from scratch. Depending on how many items you have, this process can take several days.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Changing the languages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Search » Front end » Languages</strong>.</p>
</li>
<li>
<p>Deactivate a language you do not need.</p>
</li>
<li>
<p>Activate a language.<br>
<strong><em>Note:</em></strong> Only three languages can be activated per system.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The items are added to the search index for the activated languages.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="290">2.3. Adding the faceted search to Callisto</h3>
<div class="paragraph">
<p>In the old design Callisto, the faceted search is activated in the <strong>NavigationFacetsList</strong> template. The template <strong>NavigationFacetsList</strong> is part of the design Callisto Light. This template includes code that you can use to create a faceted search. Of course, this code can be modified as needed. Use the template function <a href="/en/omni-channel/online-store/cms-syntax#web-design-navigation-container-navigationfacetslist#">Container_NavigationFacetsList</a> to insert the template <strong>NavigationFacetsList</strong> into the desired area of the online store. To do so, proceed as described below.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Recommended templates</div>
<div class="paragraph">
<p>We recommend using the template function <strong>Container_NavigationFacetsList</strong> in <strong>ItemViewCategoriesList</strong> and <strong>ItemViewSearchResultsList</strong>. These templates are found in the menu <strong>CMS » Web design » Folder: Layout » Folder: ItemView</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding the faceted search to Callisto:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="#CMS » Web design">[CMS » Web design]</a>.</p>
</li>
<li>
<p>Open the desired template.</p>
</li>
<li>
<p>Insert the template function <strong>Container_NavigationFacetsList</strong> into the template to display the faceted search.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Repeat the steps above if you want to insert the template function into additional templates.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Using the faceted search in Ceres</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ceres, the faceted search is used by default. Set up the faceted search as described in the <a href="#xxx">Setting up the faceted search</a> chapter. Then proceed as described below to use the faceted search in Ceres.</p>
</div>
<div class="sect2">
<h3 id="310">3.1. Ceres: Activating fields for the search</h3>
<div class="paragraph">
<p>Activate those fields to be searched during a search.</p>
</div>
<div class="paragraph instruction">
<p>Activating fields for the search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Search » Front end » Search settings</strong>.</p>
</li>
<li>
<p>In the column <strong>Active</strong>, activate those fields to be considered during a search.</p>
</li>
<li>
<p>For the activated fields, enter the weight you want to give the information stored in this field into the column <strong>Boost</strong>. The higher the number, the more this area will be prioritized in the search results. Results will be displayed first for the field with the highest number.<br>
<strong><em>Tip:</em></strong> You can enter any number.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="320">3.2. Ceres: Changing languages</h3>
<div class="paragraph">
<p>You can activate the faceted search for up to three languages. The languages <strong>German</strong>, <strong>English</strong> and <strong>French</strong> are activated by default. If you operate online stores in other languages, you can select different languages. To do so, proceed as described below.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Search index is completely rebuilt after any changes</div>
<div class="paragraph">
<p>If you change the language settings, the search index is completely rebuilt. That means that all items are added to the index again from scratch. Depending on how many items you have, this process can take several days.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Design language</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Search » Front end » Languages</strong>.</p>
</li>
<li>
<p>Deactivate a language you do not need.</p>
</li>
<li>
<p>Activate a language.<br>
<strong><em>Note:</em></strong> Only three languages can be activated per system.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The items are added to the search index for the activated languages.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="330">3.3. Ceres: Adding the facetted search</h3>
<div class="paragraph">
<p>For further information about setting up the faceted search in Ceres, refer to the <a href="/en/omni-channel/online-store/setting-up-ceres#330">Setting up Ceres</a> page of the manual.</p>
</div>
</div>
</div>
</div>
</main>