<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_the_gift_service"><span>1.</span><span> General information about the gift service</span></a></li>
<li><a href="#_creating_items"><span>2.</span><span> Creating items</span></a></li>
<li><a href="#_linking_items_and_activating_the_function"><span>3.</span><span> Linking items and activating the function</span></a></li>
<li><a href="#_appearance_in_the_shopping_cart"><span>4.</span><span> Appearance in the shopping cart</span></a></li>
<li><a href="#_faqs"><span>5.</span><span> FAQs</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Gift service</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Global settings » Gift service</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_the_gift_service">1. General information about the gift service</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up a gift service in your online store, e.g. if you want to allow your customers to have their items gift wrapped. This page contains information about setting up the gift service in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_items">2. Creating items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create items for each of the services that you would like to offer in the order process. For example, create the items <strong>Wrapping paper</strong> and <strong>Gift wrap</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/EN-Settings-Client-Global-Gift-Service-01.png" alt="EN Settings Client Global Gift Service 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: gift service items</em></p>
</div>
<div class="paragraph instruction">
<p>Creating items for the gift service:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on the <strong>New</strong> button to create a new item.</p>
</li>
<li>
<p>Enter a <strong>name</strong>, e.g. cellophane wrap.</p>
</li>
<li>
<p>Enter a <strong>price</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
<li>
<p>If needed, create additional items for the rest of your gift service offers.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Offering different colors</div>
<div class="paragraph">
<p>If you would like to offer wrapping paper in various <strong>colors</strong>, then create <strong>variations</strong> that correspond to the gift service items. For further information, refer to the <strong><a href="/en/omni-channel/online-store/extras/faceted-search#390">Attributes</a></strong> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>Enter a large enough amount of <strong>stock</strong> to ensure that the service will always be available.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_linking_items_and_activating_the_function">3. Linking items and activating the function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the next step, link the gift service to all of the gift items that you want to offer your customers in the order process. Then activate the function. To do so, proceed as follows.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/EN-Settings-Client-Global-Gift-Service-02.png" alt="EN Settings Client Global Gift Service 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: linking gift service items</em></p>
</div>
<div class="paragraph instruction">
<p>Linking items and activating the gift service:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Global settings » Gift service</strong>.</p>
</li>
<li>
<p>Enter the <strong>name</strong> and the <strong>item ID</strong> of the gift service item.</p>
</li>
<li>
<p>Set the <strong>Active</strong> option to <strong>Yes</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.<br>
→ The gift service is now activated in the order process. Customers will be offered the gift items that were entered.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_appearance_in_the_shopping_cart">4. Appearance in the shopping cart</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The linked items will be listed in the order process after clicking on the <strong>Select gift service</strong> link (image 3, red arrows). The customer can then click on the link and select one of the gift wraps that are offered.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/EN-Settings-Client-Global-Gift-Service-03.png" alt="EN Settings Client Global Gift Service 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: gift service; display in the shopping cart</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Appearance in the order overview and on the invoice</div>
<div class="paragraph">
<p>When looking at the order overview or the invoice, the stock unit for the gift wrap is displayed directly below the stock unit for the item that is gift wrapped.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_faqs">5. FAQs</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Q1</strong>: The <strong>price</strong> of a gift service item is displayed as <strong>0.00</strong> in the sales order process even though a price has been saved for it.</p>
</div>
<div class="paragraph">
<p><strong>A1</strong>: Go to <strong>Settings » Client (store) » Global settings » Gift service</strong> and make sure that an item ID was saved for this item. This error can be due to the wrong item ID.</p>
</div>
</div>
</div>
</main>