<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_give_aways_free_gifts"><span>1.</span><span> Give-aways / free gifts</span></a></li>
<li><a href="#_creating_an_event_procedure"><span>2.</span><span> Creating an event procedure</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Give-aways / free gifts</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Orders » Event procedures</strong></p>
</div>
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Standard » E-mail » Templates</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_give_aways_free_gifts">1. Give-aways / free gifts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Offering <strong>give-aways</strong> or <strong>free gifts</strong> to your customers can help to increase your sales as it encourages your customers to buy more and more frequently. The basic idea is: You promise your customers that you will add a certain item from your portfolio free of charge if their purchase reaches a certain value. Instead of adding these give-aways manually to each order, you can use an <strong><a href="/en/basics/automation/event-procedures">event procedure</a></strong> to automatize this process.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_an_event_procedure">2. Creating an event procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following section explains how you can automatically add certain items to your orders with the help of an event procedure.</p>
</div>
<div class="paragraph instruction">
<p>Creating an event procedure for give-aways:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to create a <strong>new event procedure</strong>.</p>
</li>
<li>
<p>Enter a <strong>name</strong> into the editing window, e.g. <strong>Add free item</strong>, and then select <strong>Order generation » New order</strong> as the <strong>event</strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to create a <strong>filter</strong> of the filter type <strong>Order » Order type</strong>. Within this filter, place a check mark for <strong>Order</strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to create a <strong>filter</strong> of the filter type <strong>Order » Value of items (gross)</strong>. Within this filter, enter the desired <strong>value of items</strong> above which you want the customer to receive the free item.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to add a <strong>procedure</strong> of the procedure type <strong>Item » Add item(s)</strong>. Within the procedure, enter the <strong>item ID</strong> of the desired item.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to add a <strong>procedure</strong> of the procedure type <strong>Customer » Send Email</strong>. Within the procedure select your <strong>desired template</strong> and select <strong>Customer</strong> as the recipient. If you have not set up the necessary <strong>E-mail template</strong> yet, go to <strong>Settings » Client (store) » Standard » E-mail » Templates</strong> to do so.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/EN-Marketing-Gratis-Artikel-01-SI.png" alt="EN Marketing Gratis Artikel 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: configuration of the event procedure for <strong>adding a free item</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Event: Incoming payment</div>
<div class="paragraph">
<p>As an alternative, you can also use <strong>Incoming payment: complete</strong> as the event. However, if you offer <strong>purchase on invoice</strong> or <strong>cash on delivery</strong> as the payment method, then the payment would be received after the outgoing items have been booked and therefore it would no longer be possible to add an item to the shipment. This is why we recommend using <strong>Order received</strong> as the event and already adding the free item to the order at this point.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Promotional free gifts</div>
<div class="paragraph">
<p>You should still create an item data set even if the free gift is just a promotional item that you do not actually sell. Set the item to <strong>invisible</strong> and then assign it to an invisible category, meaning a category that you do not activate for the online store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Bonus item scale</div>
<div class="paragraph">
<p>You can set up a <strong>bonus item scale</strong> to add different items for different purchase values with the help of <strong>event procedures</strong> if you wish to go even further with give-aways. Set e.g. the filters <strong>&gt;= 100,00 EUR</strong><span class="underline">and</span><strong>&lt; 200,00 EUR</strong> for the first procedure. In the second procedure set the value of items to <strong>&gt;= 200 EUR</strong> and add another item as the free gift.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>