<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Import, export, manual processing</h1><div class="paragraph">
<p>Ready to start entering item data into plentymarkets?
Or do you want to send product information back and forth between your own plentymarkets system and other external systems?
There are several different tools available to you.
For example, item data records can be:</p>
</div><div class="ulist">
<ul>
<li>
<p><a href="/en/item/import-export-create/create/new-item">manually created</a> in plentymarkets.</p>
</li>
<li>
<p>managed in CSV files and then <a href="/en/item/import-export-create/import">imported</a>.</p>
</li>
<li>
<p>imported from existing <a href="/en/markets/ebay/ebay-setup#11000">eBay listings</a>.</p>
</li>
<li>
<p>imported from other systems with the <a href="/en/data/rest-api">REST-API</a>.</p>
</li>
<li>
<p><a href="/en/item/import-export-create/export">exported</a> out of your plentymarkets system.</p>
</li>
</ul>
</div><div class="paragraph">
<p>This video gives you a playful overview of your possibilities:</p>
</div><div class="videoblock">
<div class="title">Adding item data to plentymarkets</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/257103395#t=2m48s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</main>