<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Introducing the item structure</h1><div class="paragraph">
<p>Are you new to plentymarkets?
Before you start entering data, learn how items are structured!
The introduction teaches you about the topic and answers your basic questions:</p>
</div><div class="ulist">
<ul>
<li>
<p>What’s the difference between <a href="/en/item/introduction/structure">items and variations</a>?</p>
</li>
<li>
<p>How does <a href="/en/item/introduction/inheritance">inheritance</a> work?</p>
</li>
<li>
<p>Where do I find my <a href="/en/item/introduction/search#100">items in the back end</a>?</p>
</li>
<li>
<p>Can I also see a few <a href="/en/item/introduction/search#900">example items</a>?</p>
</li>
</ul>
</div>
</main>