<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Introducing the item structure</span></a></li>
<li><a href="#200"><span>2.</span><span> Preparatory settings</span></a></li>
<li><a href="#300"><span>3.</span><span> Importing, exporting and manually creating items</span></a></li>
<li><a href="#400"><span>4.</span><span> Displaying items in your online store</span></a></li>
<li><a href="#500"><span>5.</span><span> Use cases</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Introducing the item structure</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Items are managed centrally in plentymarkets. In other words, you’ll enter your product information into plentymarkets and then you’ll be able to sell your items on various <a href="/en/markets">markets</a>, in your own <a href="/en/online-store">online store</a> and in your <a href="/en/pos">brick and mortar store</a>.</p>
</div>
<div class="paragraph">
<p>If you need to make any changes in the future, e.g. edit an item’s price or description, then you’ll only have to modify this data centrally in plentymarkets. The data will automatically be changed on all of your sales channels.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Introducing the item structure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Are you new to plentymarkets? Before you start entering data, learn how items are structured! The introduction teaches you about the topic and answers your basic questions:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>What’s the difference between <a href="/en/item/introduction/structure">items and variations</a>?</p>
</li>
<li>
<p>How does <a href="/en/item/introduction/inheritance">inheritance</a> work?</p>
</li>
<li>
<p>How do I <a href="/en/item/introduction/search#100">search for items</a>?</p>
</li>
<li>
<p>Can I also see a few <a href="/en/item/introduction/search#900">example items</a>?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items are made up of lots of information, e.g. categories, prices, manufacturers, descriptive texts and images. But sometimes a little preliminary work is necessary.</p>
</div>
<div class="paragraph">
<p>Before you can sort an item into a specific category, the category first needs to exist in plentymarkets. Before you can select an item’s manufacturer, the manufacturer data needs to exist in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once you’ve saved such <a href="/en/item/settings">preparatory settings</a> in plentymarkets, you’ll be able to apply them to all of the relevant items and variations.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Importing, exporting and manually creating items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ready to start entering item data into plentymarkets? There are several different tools for doing so. The easiest way is to import item and variation data with an <a href="/en/welcome/assistants">assistant</a>.</p>
</div>
<div class="paragraph">
<p>But it’s also possible to <a href="/en/item/import-export-create/create/new-item">manually create items in plentymarkets</a> or to send product information back and forth between your own plentymarkets system and other external systems. For example, item data records can be:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>imported from existing <a href="/en/markets/ebay/ebay-setup#11000">eBay listings</a>.</p>
</li>
<li>
<p>managed in CSV files and then <a href="/en/item/import-export-create/import">imported</a>.</p>
</li>
<li>
<p>imported from other systems with the <a href="/en/data/rest-api">REST-API</a>.</p>
</li>
<li>
<p><a href="/en/item/import-export-create/export">exported</a> out of your plentymarkets system.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Displaying items in your online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve saved your items in plentymarkets, you’re ready to start selling them. plentymarkets comes with a free <a href="/en/online-store">online store</a>, which you can use to sell your products.</p>
</div>
<div class="paragraph">
<p>Turn to this chapter for help if your <a href="/en/item/online-store/checklist-items-visibility">items</a> or <a href="/en/item/online-store/checklist-categories-visibility">categories aren’t showing up in the online store</a>. This chapter also shows you how to set up additional functions for displaying your items exactly how you want:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/frontend-item-search">Faceted search</a></p>
</li>
<li>
<p><a href="/en/item/online-store/cross-selling">Cross-selling</a></p>
</li>
<li>
<p><a href="/en/item/online-store/store-specials">Store specials</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Use cases</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Do you have a particular scenario in mind? In this chapter, you’ll learn how to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Manage item data in multiple languages</p>
</li>
<li>
<p><a href="/en/item/use-cases/combining-products">Combine products</a> and sell them as a unit</p>
</li>
<li>
<p><a href="/en/item/use-cases/give-aways">Add give-aways or promotional gifts</a> to an order</p>
</li>
<li>
<p>Work with items that have <a href="/en/item/use-cases/serial-numbers">serial numbers or license keys</a></p>
</li>
<li>
<p>Modify the <a href="/en/item/use-cases/search-behaviour">default item search behaviour</a> in the plentymarkets backend</p>
</li>
</ul>
</div>
</div>
</div>
</main>