<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_preparation"><span>1.</span><span> Preparation</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_the_category_levels"><span>1.1.</span><span> Setting the category levels</span></a></li>
<li><a href="#_planning_the_structure_of_item_categories"><span>1.2.</span><span> Planning the structure of item categories</span></a></li>
</ul>
</li>
<li><a href="#_creating_a_category"><span>2.</span><span> Creating a category</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_main_category"><span>2.1.</span><span> Creating a main category</span></a></li>
<li><a href="#_creating_a_subcategory"><span>2.2.</span><span> Creating a subcategory</span></a></li>
</ul>
</li>
<li><a href="#_editing_a_category"><span>3.</span><span> Editing a category</span></a>
<ul class="sectlevel2">
<li><a href="#_carrying_out_the_category_settings"><span>3.1.</span><span> Carrying out the category settings</span></a></li>
<li><a href="#_saving_a_description"><span>3.2.</span><span> Saving a description</span></a></li>
<li><a href="#10"><span>3.3.</span><span> Uploading documents</span></a></li>
<li><a href="#_saving_a_note"><span>3.4.</span><span> Saving a note</span></a></li>
</ul>
</li>
<li><a href="#_creating_multilingual_category_pages"><span>4.</span><span> Creating multilingual category pages</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_multilingual_categories_in_the_monolingual_editor"><span>4.1.</span><span> Creating multilingual categories in the monolingual editor</span></a></li>
<li><a href="#_creating_a_multilingual_category_in_the_multilingual_view"><span>4.2.</span><span> Creating a multilingual category in the multilingual view</span></a></li>
</ul>
</li>
<li><a href="#_activating_a_category"><span>5.</span><span> Activating a category</span></a>
<ul class="sectlevel2">
<li><a href="#_activating_a_category_2"><span>5.1.</span><span> Activating a category</span></a></li>
<li><a href="#_activating_several_categories"><span>5.2.</span><span> Activating several categories</span></a></li>
</ul>
</li>
<li><a href="#_managing_categories"><span>6.</span><span> Managing categories</span></a>
<ul class="sectlevel2">
<li><a href="#_filtering_categories"><span>6.1.</span><span> Filtering categories</span></a></li>
<li><a href="#_searching_for_a_category"><span>6.2.</span><span> Searching for a category</span></a></li>
<li><a href="#_copy_category"><span>6.3.</span><span> Copy category</span></a></li>
<li><a href="#_move_category"><span>6.4.</span><span> Move category</span></a></li>
<li><a href="#_deleting_a_category"><span>6.5.</span><span> Deleting a category</span></a>
<ul class="sectlevel3">
<li><a href="#_deleting_a_category_completely"><span>6.5.1.</span><span> Deleting a category completely</span></a></li>
<li><a href="#_deleting_a_specific_language_and_client_store_combination"><span>6.5.2.</span><span> Deleting a specific language and client (store) combination</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_inserting_a_category_into_the_online_store_s_design"><span>7.</span><span> Inserting a category into the online store’s design</span></a>
<ul class="sectlevel2">
<li><a href="#_inserting_a_category_of_the_type_content"><span>7.1.</span><span> Inserting a category of the type Content</span></a>
<ul class="sectlevel3">
<li><a href="#_inserting_an_individual_category"><span>7.1.1.</span><span> Inserting an individual category</span></a></li>
<li><a href="#_showing_a_category_in_a_different_category"><span>7.1.2.</span><span> Showing a category in a different category</span></a></li>
<li><a href="#_inserting_all_categories_of_the_type_content"><span>7.1.3.</span><span> Inserting all categories of the type Content</span></a></li>
</ul>
</li>
<li><a href="#_inserting_a_category_of_the_type_container_into_the_online_store_s_design"><span>7.2.</span><span> Inserting a category of the type Container into the online store’s design</span></a>
<ul class="sectlevel3">
<li><a href="#_displaying_the_category"><span>7.2.1.</span><span> Displaying the category</span></a></li>
<li><a href="#_link_category"><span>7.2.2.</span><span> Link category</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_saving_category_discounts"><span>8.</span><span> Saving category discounts</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing categories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>There are different types of categories in plentymarkets. On the one hand, categories are what other systems may refer to as product groups or item categories. On the other hand, categories are also content pages for your On the other hand, categories are also content pages for your <strong>CMS</strong>. Both types of categories have many settings in common. For example, all types of categories are managed within a folder structure. This can be achieved by creating main categories and up to 5 levels of subcategories. All types of categories also typically include texts such as a description, short description, meta description and graphic elements. This is why all types of categories are managed together in plentymarkets.</p>
</div>
<div class="paragraph">
<p>The categories in plentymarkets can be categorised by their type. The types <strong>Item</strong>, <strong>Content</strong> and <strong>Container</strong> are available. By managing all types of categories together, each type has access to a few additional settings that would otherwise only be applicable to one of them. In some cases, these settings are also useful for the other types. For example, you can use a template variable to insert a short description for the type <strong>Content</strong>. You can use tags for the type <strong>Item</strong>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Category types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 50%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Folder colour in back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Categorisation of items in the online store, e.g. <strong>Men » Tops » T-shirts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Content pages for the <strong>CMS</strong> are, e.g. information pages such as terms and conditions, payment information and shipping information.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yellow</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Container</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Similar to free text field, the content of a category of the type <strong>Container</strong> can be displayed on a different page, e.g. on a different category. In addition, the order steps of the <a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design-order-process-individual-order-process">individual order process</a> are categories of this type.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Red</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Blog</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currently not in use</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yellow</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_preparation">1. Preparation</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_setting_the_category_levels">1.1. Setting the category levels</h3>
<div class="paragraph">
<p>First decide how many category levels should be displayed in the online store. Carry out these settings for each client. For example, if you select 4 levels, no categories can be created on the 5th level. This setting applies to the complete category tree, i.e. to all category types.</p>
</div>
<div class="paragraph instruction">
<p>Setting the category levels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Categories » Basic settings</strong>.</p>
</li>
<li>
<p>Select the maximum number of levels in the category navigation.</p>
</li>
<li>
<p><strong>Save</strong> the setting.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_planning_the_structure_of_item_categories">1.2. Planning the structure of item categories</h3>
<div class="paragraph">
<p>Set up a logical category structure before you begin creating categories. Before you start creating item categories, consider the products of your portfolio and divide these products into possible groups of categories and subcategories. Table 2 shows two simplified examples of different item structures.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Examples of different item category structures</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Example structure 1</th>
<th class="tableblock halign-left valign-top">Example structure 2</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="ulist">
<ul>
<li>
<p>Women</p>
<div class="ulist">
<ul>
<li>
<p>Footwear</p>
</li>
<li>
<p>Accessories</p>
</li>
<li>
<p>…​</p>
</li>
</ul>
</div>
</li>
<li>
<p>Men</p>
<div class="ulist">
<ul>
<li>
<p>Footwear</p>
</li>
<li>
<p>Accessories</p>
</li>
<li>
<p>…​</p>
</li>
</ul>
</div>
</li>
<li>
<p>Kids</p>
<div class="ulist">
<ul>
<li>
<p>Footwear</p>
</li>
<li>
<p>Accessories</p>
</li>
<li>
<p>…​</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="ulist">
<ul>
<li>
<p>Footwear</p>
<div class="ulist">
<ul>
<li>
<p>Women</p>
</li>
<li>
<p>Men</p>
</li>
<li>
<p>Kids</p>
</li>
</ul>
</div>
</li>
<li>
<p>Accessories</p>
<div class="ulist">
<ul>
<li>
<p>Women</p>
</li>
<li>
<p>Men</p>
</li>
<li>
<p>Kids</p>
</li>
</ul>
</div>
</li>
<li>
<p>…​</p>
<div class="ulist">
<ul>
<li>
<p>Women</p>
</li>
<li>
<p>Men</p>
</li>
<li>
<p>Kids</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_a_category">2. Creating a category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create new categories either as main categories or as subcategories. Main categories are those categories at the top level. Subcategories are those categories on all the other, lower levels of the category tree. Find out how to create main categories and subcategories in the separate descriptions below.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Default category "Content"</div>
<div class="paragraph">
<p>Each system contains a category named <strong>Content</strong> by default. You cannot create additional categories called <strong>Content</strong>. You cannot change the name or the URL name of the category <strong>Content</strong>. You can change settings of this category that do not relate to the name, e.g. the position.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_a_main_category">2.1. Creating a main category</h3>
<div class="paragraph">
<p>Proceed as described below to create a main category.</p>
</div>
<div class="paragraph instruction">
<p>Creating a main category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on <strong>New category</strong> to the left.<br>
→ The <strong>Create new category</strong> window will open.</p>
</li>
<li>
<p>Enter a name for the category.</p>
</li>
<li>
<p>Select <strong>Main category</strong> as the category level.</p>
</li>
<li>
<p>Click on <strong>Create</strong>.<br>
→ The category will be created and displayed in the directory tree on the left.<br>
<strong><em>Tip:</em></strong> New categories are assigned the category type <strong>Item</strong> by default. If necessary, change the category type.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_subcategory">2.2. Creating a subcategory</h3>
<div class="paragraph">
<p>You only can create subcategories for existing main categories. Proceed as described below to create a second level subcategory. If you want to create a subcategory on the 3rd or 4th level, click on the subcategories until you have reached the category that should include the new subcategory. There are two ways of creating subcategories:</p>
</div>
<div class="paragraph instruction">
<p>Creating a subcategory using the "New category" button:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on <strong>New category</strong> to the left.<br>
→ The <strong>Create new category</strong> window will open.</p>
</li>
<li>
<p>Enter a name for the category.</p>
</li>
<li>
<p>Select <strong>Subcategory</strong> as the category level.<br>
→ The category levels can now be selected.</p>
</li>
<li>
<p>Select which category this new subcategory should be listed under.</p>
</li>
<li>
<p>Click on <strong>Create</strong>.<br>
→ The category will be created and displayed as a subcategory in the directory tree on the left.<br>
<strong><em>Tip:</em></strong> New categories are assigned the category type <strong>Item</strong> by default. If necessary, change the category type.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating a new subcategory with the context menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category to which you want to add a subcategory.</p>
</li>
<li>
<p>Use your mouse to right-click on the category.<br>
→ The context menu will open.</p>
</li>
<li>
<p>Click on <strong>Create subcategory</strong>.<br>
→ The <strong>Create new subcategory</strong> window will open.</p>
</li>
<li>
<p>Enter a name for the subcategory.</p>
</li>
<li>
<p>Click on <strong>Create</strong>.<br>
→ The category will be created and displayed as a subcategory in the directory tree on the left.<br>
<strong><em>Tip:</em></strong> New categories are assigned the category type <strong>Item</strong> by default. If necessary, change the category type.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_editing_a_category">3. Editing a category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>New categories are shown in the navigation tree on the left. Open a category by either clicking on it or by right-clicking on it to open the context menu. The context menu gives you quick access to certain functions, e.g. to edit, move, copy or delete a category. You can also create a new item or a subcategory.</p>
</div>
<div class="paragraph">
<p>The editing window of a category provides the following elements:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Toolbar</p>
</li>
<li>
<p><strong>Settings</strong> tab</p>
</li>
<li>
<p><strong>Description 1</strong> tab</p>
</li>
<li>
<p><strong>Description 2</strong> tab</p>
</li>
<li>
<p><strong>Documents</strong> tab</p>
</li>
<li>
<p><strong>Note</strong> tab</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_carrying_out_the_category_settings">3.1. Carrying out the category settings</h3>
<div class="paragraph">
<p>The <strong>Settings</strong> tab is automatically opened when a category is opened.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the category settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the category in the directory tree on the left.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 3.<br>
<strong><em>Tip:</em></strong> The available settings vary depending on the category type.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Category settings</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Toolbar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category path/ breadcrumb navigation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the path of the category. Click on one of the parent categories to open it.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Save changes you made to the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Category ID is assigned automatically and cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a preview of the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inline edit preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a preview that can also be edited.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image gallery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong><a href="/en/omni-channel/online-store/cms#image-gallery">image gallery</a></strong> in a new tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template variables and template functions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens an overview of all<a href="/en/omni-channel/online-store/cms-syntax#basics-template-variables">template variables</a> and <a href="/en/omni-channel/online-store/cms-syntax#basics-template-functions">template functions</a> that can be inserted into the description.<br>
Example functions:<br>
<strong>&#123;&#37; Link(CategoryID) &#37;&#125;</strong> = Links to a different category page<br>
<strong>&#123;&#37; Link_ShippingCosts() &#37;&#125;</strong> = Links to shipping cost information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Multilingualism</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens a bilingual editor to edit the category. Select the languages you want to display from the drop-down lists.<br>
<strong><em>Tip:</em></strong> You can also show languages in the bilingual editor for which no content has been saved yet. You do not necessarily have to open the default language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Apply category settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the settings that you want to copy from this category to another category with the same category ID of a different client and/or language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The template function for inserting this category. This function always includes the category ID so that it can be uniquely identified.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Timestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the time when changes were last made and the person who made these changes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: <strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Item</strong>, <strong>Content</strong> or <strong>Container</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the category.<br>
<em><strong>Note:</strong></em> You can re-use category names as long as they are used in different categories or on different levels. Within one category, however, the names may only be used once per level.<br>
<em><strong>SEO tip:</strong></em> Enter different meta titles and meta descriptions for categories of the same name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <a href="/en/basics/working-with-plentymarkets/tags">tags</a> to assign topics to the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL name</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If necessary, change the name to be used for the URL. When a category is created, the category name is prefilled as the URL name automatically. You can re-use URL names as long as they are used in different categories or on different levels. Within one category, however, the URL names may only be used once per level.<br>
<strong><em>SEO tip:</em></strong> Because no client (store) is selected when the category is created, the automatically created URL is not indexed by search engines. However, in terms of SEO it is best not to change the URL name after the category has been activated for a client (store).</p>
</div>
<div class="paragraph">
<p><em><strong>Important:</strong></em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>URL names cannot contain special characters. As such, only enter ASCII code.</p>
</li>
<li>
<p>Do not enter the following characters at the beginning of a URL name:<br>
a-, b-, c-, f-, fa-, p-, t-<br>
These prefixes will be deleted automatically. For instance, "a-class" will be changed to "class" automatically. For example, for a category named "a-class", you should enter the URL name "aclass".</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The URL of the category. The URL is generated automatically based on the complete path of the category, i.e. domain plus category levels plus URL name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Canonical</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If necessary, enter the URL of a category with the same content to prevent <strong><a href="/en/omni-channel/online-shop/cms-syntax#110">duplicate content</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a short description of the category. Template variables are used to insert the short description into the store’s design.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number to specify which order the categories and subcategories should be displayed in on the same level. Go to <strong><a href="/en/omni-channel/online-store/setting-up-clients/item-layouts">System » Client » Select client » Item layouts » Settings</a></strong> to specify the pages' sorting order. Pages are sorted in ascending position order by default.<br>
<strong><em>Tip:</em></strong> Count by tens when creating position numbers. This will allow you to easily add new categories in between.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one, several or all clients to make the category available for these clients.<br>
If a client is activated for a subcategory but it was not yet activated for the category above it, then the parent category automatically will be activated as well. If other clients are already activated for parent categories, then the new client will be activated as well. The selection of other clients remains unchanged.<br>
<strong>Apply visibility to subcategory</strong><br>
This option is only shown if subcategories exist.<br>
 Place a check mark to apply the category’s client visibility to all of its subcategories. This function is only activated until the next time you save the category. This means that you have to place the check mark again every time you want to apply a category’s visibility to its subcategories.<br>
If a visibility is removed (i.e. a check mark is removed from any of the clients and the category is saved), then this will be applied to the subcategories even if the function is not activated.<br>
If a visibility is added, then this visibility automatically will be set for any parent categories as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the meta title. The meta title is displayed both in the tab title of the browser and in search engine results. If you leave this field blank, the category name will be used as the title.<br>
<em><strong>SEO tip:</strong></em> Pay attention to the length of the title. Longer titles are cut off in the tabs. Currently recommended: max. 50 characters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a meta description (max. 350 characters). The meta description will be analysed by search engines. As such, it is especially important for the homepage.<br>
<em><strong>SEO tip:</strong></em> The meta description should contain the most important content in one sentence.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta keywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter key words that potential clients are likely to enter into search engines and that relate to the content of the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sitemap</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>Display</strong> and <strong>Do not display</strong>.<br>
<strong>Display</strong> = Category will be included in the sitemap.<br>
<strong>Do not display</strong> = Category will not be included in the sitemap.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Robots</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>all</strong>, <strong>index</strong>, <strong>nofollow</strong>, <strong>noindex</strong> and <strong>nofollow, noindex</strong>. Values of the meta element Robots are analysed by search engine crawlers. These values tell the crawler how to deal with the page and any links on that page.<br>
<strong>all</strong> = Include the website of the category in the search engine index and follow links on the page.<br>
<strong>index</strong> = Include in the search engine index.<br>
<strong>nofollow</strong> = Do not follow links on the page.<br>
<strong>noindex</strong> = Do not include in the search engine index.<br>
<strong>nofollow, noindex</strong> = Do not follow links and do not include webpage in the search index.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a template. The template that is selected here provides the framework for the category. This option is not available for categories of the type <strong>Container</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a template. The template determines what the category overview will look like for the current category. Option is available for categories of the type <strong>Item</strong> only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template product</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a template. The template determines the appearance of the single item design for this category. Option is available for categories of the type <strong>Item</strong> only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Full text search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>Yes</strong> and <strong>No</strong>.<br>
<strong>Yes</strong> = Complete text will be searched.<br>
<strong>No</strong> = Text will not be completely searched.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In link list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>Display</strong> and <strong>Do not display</strong>.<br>
<strong>Display</strong> = Category will be displayed in the store’s navigation.<br>
<strong>Do not display</strong> = Category will not be displayed in the store’s navigation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>Public</strong> and <strong>After login</strong>.<br>
<strong>Public</strong> = Category is visible to all visitors of the online store.<br>
<strong>After login</strong> = Category and all of its subcategories are only visible to visitors of the online store that have logged in. Visitors that are not logged in will be redirected to the login page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Elmar category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an Elmar category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Translate template variables and template functions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>Yes</strong>, <strong>No</strong> and <strong>Template variables and template functions for links only</strong>.<br>
<strong>Yes</strong> = All template variables and template functions will be translated.<br>
<strong>Template variables and template functions for links only</strong> = Only template variables and template functions for links will be translated.<br>
<strong>No</strong> = No template variables and template functions will be translated.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_saving_a_description">3.2. Saving a description</h3>
<div class="paragraph">
<p>Enter and format text in the tabs <strong>Description 1</strong> and <strong>2</strong>. Use <a href="/en/omni-channel/online-store/cms-syntax#basics-template-variables">template variables</a> and <a href="/en/omni-channel/online-store/cms-syntax#basics-template-functions">template functions</a> to insert this description into your store’s web design or other areas. <strong>Description 1</strong> and <strong>2</strong> allow you to write two texts per category and display them in different areas within a website. For example, you could display <strong>Description 1</strong> above and <strong>Description 2</strong> below an overview of items.</p>
</div>
<div class="paragraph">
<p>In the drop-down list above the entry field to the right, you can select which editor you want to use for editing the template. You can use the <strong><a href="/en/omni-channel/online-store/cms#_editor">Editor</a></strong>, the HTML editor <strong>Text field</strong> or the <a href="/en/omni-channel/online-store/cms#_syntax_editor">Syntax editor</a>. Categories of the type <strong>Container</strong> can only be edited with the HTML editor <strong>Text field</strong> and the <strong>Syntax editor</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="10">3.3. Uploading documents</h3>
<div class="paragraph">
<p>Use the <strong>Documents</strong> tab to upload documents for this category.</p>
</div>
<div class="paragraph">
<p>You can upload the data formats JPEG, PNG, GIF, TIFF, PDF, DOC, ODC, OTH, XLS, XML, HTML, HTM, CSS, JavaScript, ZIP, JSON and GZIP.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Uploading documents</div>
<div class="paragraph">
<p>Click on the <strong>Upload file</strong> button or simply add documents with the drag and drop function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can define <strong>two</strong> category images for categories of the type Item. You can upload other documents and images as well. This allows you to regularly change the category image without having to delete the old image. Proceed as described below to define category images.</p>
</div>
<div class="paragraph instruction">
<p>Defining category images for a category of the type item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>category</strong>.</p>
</li>
<li>
<p>Click on the <strong>Documents</strong> tab.</p>
</li>
<li>
<p>Point your cursor over the desired image.</p>
</li>
<li>
<p>Select the image with a <strong>check mark</strong>.</p>
</li>
<li>
<p>Click on <strong>Image 1</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The image will be outlined in red and designated with the number <strong>1</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Proceed the same way for image 2. Click on the <strong>Image 2</strong> button in step 5. Deselect a category image by placing a check mark for the image and clicking on the <strong>Image 1</strong> or <strong>Image 2</strong> button a second time.</p>
</div>
<div class="paragraph">
<p>You can click on the buttons that are greyed out in the toolbar once you have selected one or more images with a check mark. By selecting images with check marks, you can see a preview, download or delete several images at the same time.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying category images in the online store</div>
<div class="paragraph">
<p>Only category image 1 is displayed in the online store by default. An <a href="/en/omni-channel/online-store/cms-syntax#basics-if"><strong>if-query</strong></a> was inserted to the <strong>ItemViewCategoriesList</strong> template with the template variable <a href="/en/omni-channel/online-store/cms-syntax#web-design-navigation">$CurrentCategoryImageUrl</a>. You have to insert a second if-query to the template in order for category image 2 to be displayed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_saving_a_note">3.4. Saving a note</h3>
<div class="paragraph">
<p>Save helpful information about a category in the <strong>Note</strong> tab. For example, you can specify which sources your information comes from or let colleagues know that changes should not be made to specific paragraphs. The information saved in this tab is only visible in plentymarkets and will not be displayed in the online store. Notes cannot be deleted.</p>
</div>
<div class="paragraph instruction">
<p>Saving a note:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category.</p>
</li>
<li>
<p>Enter the note in the editor.</p>
</li>
<li>
<p><strong>Save</strong> the note.<br>
→ The note will be saved and shown in a yellow speech bubble.<br>
→ Notes cannot be deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_multilingual_category_pages">4. Creating multilingual category pages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to make your online store available in several different languages, then you will also need to create categories in these languages. This chapter explains how to create multilingual categories of the type <strong>Content</strong>, the type <strong>Item</strong> and the type <strong>Container</strong>. Of course, this is assuming that you have already created categories in the online store’s default language. For further information about the requirements of a multilingual online store, refer to the <strong><a href="/en/omni-channel/online-store/setting-up-clients/multilingual-online-store">Multilingualism</a></strong> page of the manual.</p>
</div>
<div class="paragraph">
<p>There are two ways to create multilingual categories. You can choose between a multilingual or a monolingual editor. Use the monolingual editor to edit one language version after another. Use the multilingual editor to edit two languages at a time. Both procedures are described below.</p>
</div>
<div class="sect2">
<h3 id="_creating_multilingual_categories_in_the_monolingual_editor">4.1. Creating multilingual categories in the monolingual editor</h3>
<div class="paragraph">
<p>Proceed as described below to create a language version of an existing category.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Visibility of categories in the Item » Categories menu</div>
<div class="paragraph">
<p>In order for a category to be displayed within the directory tree in the <strong>Item » Categories</strong> menu, you must have already created this category in the system’s default language. In other words, you must have at least entered a page name in the default language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating language versions of a category (monolingual):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category that you want to create a language version for.</p>
</li>
<li>
<p>Select the desired language from the <strong>Language</strong> drop-down menu, e.g. <strong>English</strong>.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the category.</p>
</li>
<li>
<p>Select the desired settings under <strong>Template page</strong>, <strong>Template list</strong>, <strong>Template product</strong> and <strong>Full text search</strong>. Pay attention to the settings that were saved for the category in the default language.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The entry will be saved.<br>
→ The page’s path will be created and shown in the <strong>URL</strong> field.</p>
</li>
<li>
<p>Insert content in the selected language.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_multilingual_category_in_the_multilingual_view">4.2. Creating a multilingual category in the multilingual view</h3>
<div class="paragraph">
<p>Proceed as described below to create a language version of a category in the multilingual editor.</p>
</div>
<div class="paragraph instruction">
<p>Creating language versions of a category (multilingual):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on the desired category in the directory tree.<br>
→ The category will open.</p>
</li>
<li>
<p>Click on the <strong>Multilingualism</strong> icon.<br>
→ The multilingual view of the category will open in a new tab.<br>
<strong><em>Tip:</em></strong> The default language of the online store will be shown on the left side by default.</p>
</li>
<li>
<p>Select the desired <strong>language</strong> on the right.</p>
</li>
<li>
<p>Enter the <strong>Name</strong>, <strong>URL name</strong> and <strong>Meta title</strong>.</p>
</li>
<li>
<p>Enter the foreign-language text and content into the <strong>Description 1</strong> text field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The category is saved in the selected language.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Opening two completely new languages in the bilingual editor</div>
<div class="paragraph">
<p>You also can open new languages in the bilingual editor, i.e. languages for which no content has been saved yet. You do not necessarily have to open the default language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_a_category">5. Activating a category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate categories to make them visible in a client’s online store. You can activate individual categories or several categories at once.</p>
</div>
<div class="paragraph">
<p>Categories are only visible in the online store if the following requirements are met:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>The category must be activated for the client.</p>
</li>
<li>
<p>At least one variation must be linked to the category for the client.</p>
</li>
<li>
<p>Open the variation and click on the <strong>Categories</strong> tab. Make sure that the category was set to <strong>Available</strong> for the desired clients.</p>
</li>
<li>
<p>The variation also has to be available, i.e. the stock has to be positive and the <strong>Store visibility</strong> option must have been set to <strong>Visible</strong> within the <strong>Available</strong> tab.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_activating_a_category_2">5.1. Activating a category</h3>
<div class="paragraph">
<p>Proceed as described below to activate a category.</p>
</div>
<div class="paragraph instruction">
<p>Activating a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category.<br>
→ The <strong>Settings</strong> tab of the category will open.</p>
</li>
<li>
<p>In the <strong>Client (store)</strong> area, select the clients in which the category is to be active.</p>
</li>
<li>
<p><strong>Save</strong> the setting.<br>
→ The category is made visible for the selected clients (stores).</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_activating_several_categories">5.2. Activating several categories</h3>
<div class="paragraph">
<p>You can activate and/or deactivate several or all categories of a client (store) centrally in the <strong>System » Client » Select client » Categories » Activate</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating several categories of a client (store):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Categories » Activate</strong>.</p>
</li>
<li>
<p>Check the category that you want to activate.<br>
<strong><em>Tip:</em></strong> Click on <strong>Select all</strong> to place check marks next to all of the categories. Click on <strong>Deselect all</strong> to remove the check marks from all of the selected categories.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Check whether categories and items are displayed correctly in the online store.<br>
<strong><em>Tip:</em></strong> It might take some time until an activated category is visible in the online store. If problems occur, check the settings and reload the page of your store.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_managing_categories">6. Managing categories</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_filtering_categories">6.1. Filtering categories</h3>
<div class="paragraph">
<p>Categories can be filtered by client, language and type. The filters are located above the directory tree. The font indicates if a category is available in the selected combination. Categories that are displayed in normal font are available in the selected combination. Categories displayed in italic font are not available in the selected filter combination of client, language and type.</p>
</div>
</div>
<div class="sect2">
<h3 id="_searching_for_a_category">6.2. Searching for a category</h3>
<div class="paragraph">
<p>The search function helps you find categories quickly. Enter the name of the category into the text field. Search results will appear while you are entering the name.</p>
</div>
</div>
<div class="sect2">
<h3 id="_copy_category">6.3. Copy category</h3>
<div class="paragraph">
<p>The <strong>Copy category</strong> function allows you to create the same subcategory in several different parent categories. For example, this is useful if you want to have categories for women’s, men’s and children’s clothing, and all three categories should include trousers as a subcategory. Copy the category with all of its settings and then make changes to the name and the description as needed.</p>
</div>
<div class="paragraph instruction">
<p>Copying a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Point your cursor over a category.</p>
</li>
<li>
<p>Click on the triangle to the right of a category.<br>
→ A <strong>context menu</strong> will open.</p>
</li>
<li>
<p>Click on <strong>Copy category</strong>.<br>
→ The menu view <strong>Copy category</strong> will be displayed.</p>
</li>
<li>
<p>Select <strong>Main category</strong> to copy the category to the main category level. Select <strong>Subcategory</strong> to copy the category to a subcategory level.</p>
</li>
<li>
<p>Select which category the copy should be sorted under.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
→ The category will be displayed under the selected category in the directory tree.</p>
</li>
<li>
<p>If necessary, change the category’s position to sort it correctly.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_move_category">6.4. Move category</h3>
<div class="paragraph">
<p>Categories are displayed in the selected structure under <strong>Item » Categories</strong>. The category structure and category names form the basis for the navigation menu displayed in the online store. On the one hand, the structure is determined by the main and subcategories and by the relationship of the categories one another. These are the so-called levels. On the other hand, the structure is determined by the position numbers. Use the category positions to specify the order within a category level. Use the <strong>Move category</strong> function to move a category to a different level after it was created.</p>
</div>
<div class="paragraph instruction">
<p>Moving a category to the main category level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Point your cursor over a category.</p>
</li>
<li>
<p>Click on the triangle to the right of a category.<br>
→ A <strong>context menu</strong> will open.</p>
</li>
<li>
<p>Click on <strong>Move category</strong>.<br>
→ The <strong>Move category</strong> window will open.</p>
</li>
<li>
<p>Select <strong>Main category</strong>.</p>
</li>
<li>
<p>Click on <strong>Move</strong>.<br>
→ The category will be displayed in the top level of the directory tree.</p>
</li>
<li>
<p>If necessary, change the category’s position to sort it correctly.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Moving a category to a subcategory level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Point your cursor over a category.</p>
</li>
<li>
<p>Click on the triangle to the right of a category.<br>
→ A <strong>context menu</strong> will open.</p>
</li>
<li>
<p>Click on <strong>Move category</strong>.<br>
→ The <strong>Move category</strong> window will open.</p>
</li>
<li>
<p>Select <strong>Subcategory</strong>.</p>
</li>
<li>
<p>Select which category it should be sorted under.</p>
</li>
<li>
<p>Click on <strong>Move</strong>.<br>
→ The category will be displayed under the selected category in the directory tree.</p>
</li>
<li>
<p>If necessary, change the category’s position to sort it correctly.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_deleting_a_category">6.5. Deleting a category</h3>
<div class="paragraph">
<p>You either can delete a category completely or only delete the combination of client (store) and language that is shown. Both procedures are described below.</p>
</div>
<div class="sect3">
<h4 id="_deleting_a_category_completely">6.5.1. Deleting a category completely</h4>
<div class="paragraph">
<p>Categories can be deleted by either opening the context menu or via the toolbar of the category. In both cases, the category is deleted from the system completely. In other words, all client and language versions of this category are deleted.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a category via the context menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Point your cursor over a category.</p>
</li>
<li>
<p>Click on the triangle to the right of a category.<br>
→ The <strong>context menu</strong> will open.</p>
</li>
<li>
<p>Click on <strong>Delete category</strong>.<br>
→ A window will open and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The category will be deleted.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Deleting a category via the toolbar:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>In the filter settings, select the client and the language.<br>
→ The categories with this filter combination will be displayed.</p>
</li>
<li>
<p>Open the category.</p>
</li>
<li>
<p>In the category’s toolbar, click on <strong>Delete</strong>.<br>
→ The <strong>Delete</strong> window will be displayed.</p>
</li>
<li>
<p>Click on <strong>Delete category</strong> to delete the category completely.<br>
→ The complete category will be deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_deleting_a_specific_language_and_client_store_combination">6.5.2. Deleting a specific language and client (store) combination</h4>
<div class="paragraph">
<p>Instead of deleting a category completely, you can also opt to delete the description and settings of a category’s specific language and client combination. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a specific language and client (store) combination:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>In the filter settings, select the client and the language.<br>
→ The categories with this filter combination will be displayed.</p>
</li>
<li>
<p>Open the category.</p>
</li>
<li>
<p>In the category’s toolbar, click on <strong>Delete</strong>.<br>
→ The <strong>Delete</strong> window will be displayed.</p>
</li>
<li>
<p>Click on <strong>Delete language for client</strong> to delete the combination of language and client currently shown.<br>
→ The combination of this language and client will be deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_inserting_a_category_into_the_online_store_s_design">7. Inserting a category into the online store’s design</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_inserting_a_category_of_the_type_content">7.1. Inserting a category of the type Content</h3>
<div class="paragraph">
<p>There are several different ways to insert categories of the type <strong>Content</strong> into the online store. The following examples illustrate two different possibilities.</p>
</div>
<div class="sect3">
<h4 id="_inserting_an_individual_category">7.1.1. Inserting an individual category</h4>
<div class="paragraph">
<p>You will first learn how to insert an individual category.</p>
</div>
<div class="paragraph instruction">
<p>Inserting individual categories into the design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout</strong>.</p>
</li>
<li>
<p>Select which template you want to insert the category into.</p>
</li>
<li>
<p>Click on the <strong>PageDesignContentMainFrame</strong> tab.</p>
</li>
<li>
<p>Insert the template function <strong>{Link() &#37;&#125;</strong> at the desired position of the layout.</p>
</li>
<li>
<p>Replace <strong>ID</strong> with the ID of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_showing_a_category_in_a_different_category">7.1.2. Showing a category in a different category</h4>
<div class="paragraph">
<p>Template functions can be used to display the content of a category in another category. Simply insert the template function <strong>&#123;&#37; CategoryContentBody(ID) &#37;&#125;</strong> at the desired position in the category and replace <strong>ID</strong> with the ID of the category that is to be displayed. For instance, you can insert the terms and conditions into another category.</p>
</div>
</div>
<div class="sect3">
<h4 id="_inserting_all_categories_of_the_type_content">7.1.3. Inserting all categories of the type Content</h4>
<div class="paragraph instruction">
<p>Inserting all categories of the type content into the design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout</strong>.</p>
</li>
<li>
<p>Select the template into which you want to insert the categories.</p>
</li>
<li>
<p>Click on the <strong>PageDesignContentMainFrame</strong> tab.</p>
</li>
<li>
<p>Insert the template function <strong>{Container_NavigationCategories() &#37;&#125;</strong> at the desired position of the layout.</p>
</li>
<li>
<p>Insert the template function of the navigation that you have selected for categories of the type <strong>Content</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Specify the category type for the navigation</div>
<div class="paragraph">
<p>Go to <strong>CMS » Web design » Layout » Navigation</strong> to access the various designs for the category navigation. Open the design that you use for categories of the type <strong>content</strong> and click on the <strong>Settings</strong> tab. Make sure that the type <strong>Content</strong> was also selected here.<br>
If you use a plentymarkets default design, <strong>NavigationCategories4</strong> is intended for categories of the type <strong>Content</strong>. You can change these settings at any time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_inserting_a_category_of_the_type_container_into_the_online_store_s_design">7.2. Inserting a category of the type Container into the online store’s design</h3>
<div class="paragraph">
<p>Categories of the type <strong>Container</strong> are inserted into the online store using template functions.</p>
</div>
<div class="sect3">
<h4 id="_displaying_the_category">7.2.1. Displaying the category</h4>
<div class="paragraph">
<p>Template functions can be used to display the content of a category of the type <strong>Container</strong>, e.g. in another category. Simply insert the template function <strong>&#123;&#37; CategoryContentBody(ID) &#37;&#125;</strong> at the desired position in the category and replace <strong>ID</strong> with the ID of the category of the type <strong>Container</strong> that is to be displayed.</p>
</div>
</div>
<div class="sect3">
<h4 id="_link_category">7.2.2. Link category</h4>
<div class="paragraph">
<p>Categories of the type <strong>Container</strong> are linked to order steps of the <strong><a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design-order-process-individual-order-process">individual order process</a></strong>. This is done in the <strong>Order process</strong> tab within the <strong>Design settings</strong>.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_saving_category_discounts">8. Saving category discounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>System » Client » Select client » Categories » Activate</strong> to save volume discounts for individual item categories. You can save up to three volume discounts per category. The discounts are applied automatically when customers place at least the specified number of products of this category. The specified discounts will be calculated for a variation’s default category only.</p>
</div>
<div class="paragraph instruction">
<p>Saving category discounts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Categories » Discounts</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The discount is applied automatically when a customer orders the required number of variations in the online store.<br>
<strong><em>Note:</em></strong> These discounts are only applied for the default category of a variation.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Saving category discounts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount 1 (%)</strong>;<br>
<strong>Discount 2 (%)</strong>;<br>
<strong>Discount 3 (%)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the discount in percent that is to be applied when the required number of variations is reached.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>minimum quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of variations customers need to order from this category for the discount to take effect.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>