<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>New item UI (closed beta)</h1><div class="paragraph">
<p>This chapter describes the new item UI, which was released as a closed beta phase in September, 2021.
Closed beta means that the new item UI will initially be tested by a small group of participants.
Once the new item UI is sufficiently developed, the open beta phase will begin.</p>
</div><div class="paragraph">
<p>The menu <strong>Item » Item UI</strong> is structured as follows:</p>
</div><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/menu-overview.png" alt="menu overview">
</div>
</div><div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong>:
Here you can navigate through different parts of the menu.
The currently selected area (blue font) is displayed in the main window on the right.
If you open several items or variations at once, then they will be displayed underneath each other.
Click on <span class="icon darkGrey"><i class="fa fa-bars  "></i></span> to expand or collapse the <a href="/en/item/new-ui/detail-view#100">navigation bar</a>.</p>
</li>
<li>
<p><strong>Toolbar</strong>:
Here you can perform relevant actions. For example:</p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/new-ui/search#100">search for items and variations</a>.</p>
</li>
<li>
<p><a href="/en/item/new-ui/detail-view#1000">save your changes to items or variations</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Main window</strong>:
Here you can see whichever area is currently open.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Overview</strong>:
When you start a search, you’ll see the <a href="/en/item/new-ui/search#500">results in an overview</a>.
The overview provides information about the items at a glance.
For example, you can see an image of the item, whether the item is active or inactive, its IDs, prices, tags and timestamps.</p>
</li>
<li>
<p><strong>Detail view</strong>:
When you open an item, its details are displayed in the main window on the right.
But what if the main window is empty?
Or what if you’re not happy with how the item details are arranged?
You can <a href="/en/item/new-ui/detail-view#200">create a new detail view</a> and customise it to meet your needs.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</main>