<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_menu_structure"><span>1.</span><span> Menu structure</span></a></li>
<li><a href="#_faq"><span>2.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#_general_questions"><span>2.1.</span><span> General questions</span></a></li>
<li><a href="#_next_steps"><span>2.2.</span><span> Next steps</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>New item UI (open beta)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This chapter describes the new item UI, which entered the open beta phase in March, 2022.
Open beta means that you can see and test the new item UI.
However, the new item UI does not yet include every function.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_menu_structure">1. Menu structure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Item » Item UI</strong> is structured as follows:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/menu-overview.png" alt="menu overview">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong>:
Here you can navigate through different parts of the menu.
The currently selected area (blue font) is displayed in the main window on the right.
If you open several items or variations at once, then they will be displayed underneath each other.
Click on <span class="icon darkGrey"><i class="fa fa-bars  "></i></span> to expand or collapse the navigation bar.</p>
</li>
<li>
<p><strong>Toolbar</strong>:
Here you can perform relevant actions. For example:</p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/new-ui/search#100">search for items and variations</a>.</p>
</li>
<li>
<p><a href="/en/item/new-ui/detail-view#1000">save your changes to items or variations</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Main window</strong>:
Here you can see whichever area is currently open.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Overview</strong>:
When you start a search, you’ll see the <a href="/en/item/new-ui/search#500">results in an overview</a>.
The overview provides information about the items at a glance.
For example, you can see an image of the item, whether the item is active or inactive, its IDs, prices, tags and timestamps.</p>
</li>
<li>
<p><strong>Detail view</strong>:
When you open an item, its details are displayed in the main window on the right.
But what if the main window is empty?
Or what if you’re not happy with how the item details are arranged?
You can <a href="/en/item/new-ui/detail-view#200">create a new detail view</a> and customise it to meet your needs.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq">2. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_general_questions">2.1. General questions</h3>
<div class="openblock collapseBox">
<div class="title"><strong>How can I give feedback?</strong></div>
<div class="content">
<div class="paragraph">
<p>If you want to give feedback about the new item UI, then please use <a href="https://forum.plentymarkets.com/c/item/18">this forum category</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Will the old item UI be removed soon?</strong></div>
<div class="content">
<div class="paragraph">
<p>No.
The old item UI will not be removed in the near future.
For now, both the old and new item UI can be used in parallel.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Which functions are still missing?</strong></div>
<div class="content">
<div class="paragraph">
<p>The following functions are missing and are planned for the future:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Create new items</p>
</li>
<li>
<p>Generate variations</p>
</li>
<li>
<p>Delete items</p>
</li>
<li>
<p>Delete variations</p>
</li>
<li>
<p>Item sets</p>
</li>
<li>
<p>Multipacks</p>
</li>
<li>
<p>Generate labels</p>
</li>
<li>
<p>Item preview / Variation preview</p>
</li>
<li>
<p>Serial numbers</p>
</li>
<li>
<p>Item group function and variation group function</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following functions are missing and are not planned for the future:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Characteristics</p>
</li>
<li>
<p>Free text fields</p>
</li>
<li>
<p>Item tab: Media</p>
</li>
<li>
<p>Item tab: Statistics</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_next_steps">2.2. Next steps</h3>
<div class="openblock collapseBox">
<div class="title"><strong>How do I search for items and variations?</strong></div>
<div class="content">
<div class="paragraph">
<p>The new item UI includes a wide range of search filters, which help you find the right product.
<a href="/en/item/new-ui/search#100">Further information</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I save my frequently used search settings?</strong></div>
<div class="content">
<div class="paragraph">
<p>Yes.
You can save your search settings to apply them again more quickly and easily in the future.
<a href="/en/item/new-ui/search#200">Further information</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>How do I customise a view?</strong></div>
<div class="content">
<div class="paragraph">
<p>You can customise the item view and variation view to meet your needs.
<a href="/en/item/new-ui/detail-view">Further information</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>How do I save changes to a product?</strong></div>
<div class="content">
<div class="paragraph">
<p>When you make changes to an item or variation, an asterisk appears in the left navigation bar.
<a href="/en/item/new-ui/detail-view#1000">Further information</a>.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>