<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Neue Attribute erstellen</span></a></li>
<li><a href="#200"><span>2.</span><span> Werte festlegen</span></a></li>
<li><a href="#300"><span>3.</span><span> Varianten mit den Attributen erzeugen</span></a></li>
<li><a href="#400"><span>4.</span><span> Optionale Funktionen</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>4.1.</span><span> Attributwerte mit Marktplätzen verknüpfen</span></a></li>
<li><a href="#600"><span>4.2.</span><span> Attribute grafisch darstellen</span></a>
<ul class="sectlevel3">
<li><a href="#700"><span>4.2.1.</span><span> Attributwerte als Bilder darstellen</span></a></li>
<li><a href="#800"><span>4.2.2.</span><span> Individuelles Bild für jede Variante speichern</span></a>
<ul class="sectlevel4">
<li><a href="#900"><span>Variantenbilder mit Marktplatzattributen verknüpfen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1000"><span>4.3.</span><span> Namen in mehreren Sprachen speichern</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>5.</span><span> Attribute löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Manche Artikel, wie Schuhe und T-Shirts, werden in verschiedenen Größen und Farben verkauft. Solche Charakteristiken werden in plentymarkets als Attribute bezeichnet. Mit Hilfe von Attributen kannst du deine Produkte charakterisieren und gleichzeitig auch <a href="/artikel/einleitung/struktur">verkaufbare Varianten</a> erzeugen, wie z.B. das T-Shirt in der Farbe rot und in Größe S.</p>
</div>
<div class="paragraph">
<p>Der Ablauf ist wie folgt. Lege zunächst <a href="/artikel/einstellungen/attribute#100">Attribute</a>, wie Farbe sowie die entsprechenden <a href="/artikel/einstellungen/attribute#200">Werte</a>, wie rot, blau und grün an. <a href="/artikel/einstellungen/attribute#300">Erzeuge danach Varianten</a>, indem du Attributwerte miteinander kombinierst. Zum Beispiel ergeben sich 9 verschiedene Varianten, wenn du die Größen S, M, L mit den Farben rot, blau und grün kombinierst. Dieses Video bietet dir eine spielerische Einführung in das Thema:</p>
</div>
<div class="videoblock">
<div class="title">Lerne Attribute spielerisch kennen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/265389643#t=0m54s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Verkaufst du deine Produkte auf Märkten wie Amazon und eBay? Einige Märkte erfordern, dass du <a href="/artikel/einstellungen/attribute#500">deine eigenen Attributwerte mit ihren Attributwerten</a> verknüpfst.</p>
</div>
<div class="paragraph">
<p>Optional kannst du auch <a href="/artikel/einstellungen/attribute#600">Bilder hinzufügen</a>, um deine Attributwerte grafisch darzustellen. Oder du kannst die Namen von Attributen und Werten <a href="/artikel/einstellungen/attribute#1000">in mehreren Sprachen</a> speichern.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Andere Möglichkeiten der Produktcharakterisierung</div>
<div class="paragraph">
<p>Möchtest du deine Produkte charakterisieren, <em>ohne</em> dabei Varianten zu erzeugen? Möchtest du beispielsweise nur die technischen Features eines Produkts in deinem Shop hervorheben? Dies ist mit Hilfe von <a href="/artikel/einstellungen/eigenschaften-merkmale">Eigenschaften und Merkmalen</a> möglich! Der Unterschied besteht darin, dass Eigenschaften <em>spezifische Varianten</em> charakterisieren, während Merkmale <em>ganze Artikel</em> charakterisieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Neue Attribute erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege zunächst Attribute wie Farbe oder Größe an.</p>
</div>
<div class="paragraph instruction">
<p>Neues Attribut erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Attribut</strong> (<span class="icon"><i class="fa fa-plus" style="color:green"></i></span>).</p>
</li>
<li>
<p>Gib den internen Namen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Attribut wird erstellt und das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm weitere Einstellungen vor. Beachte <a href="#tabelle-attribut-erstellen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-attribut-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Neues Attribut erstellen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (intern)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eindeutiger Name für das Attribut. Der interne Name wird nur im plentymarkets Backend geführt und ist nicht im Webshop sichtbar. Der interne Name darf nur einmal pro System vergeben werden. Folgende Zeichen dürfen nicht für den internen Namen verwendet werden, da sonst Fehler beim Datenaustausch auftreten:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma</p>
</li>
<li>
<p>Doppelpunkt</p>
</li>
<li>
<p>Semikolon</p>
</li>
<li>
<p>Anführungszeichen</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Attribut soll als erstes, zweites, drittes, usw. angezeigt werden? Gib eine Positionsnummer in dieses Feld ein. Wenn ein Artikel mehrere Attribute hat, werden die Attribute aufsteigend nach Positionsnummern in deinem Webshop dargestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="bild-link-erlauben">Bildverknüpfung möglich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>), wenn sich das Artikelbild z.B. auf eBay ändern soll, je nachdem, welche Größe oder Farbe dein Kunde gewählt hat. Es werden also automatisch die passenden Bilder auf eBay eingeblendet.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Obwohl eine Variante mit mehreren Attributen verknüpft werden kann, ist die Bildverknüpfung nur für ein Attribut pro Variante möglich.<br>
<strong><em>Zusätzliche Einstellungen</em></strong>: Verknüpfe deine Varianten mit den passenden Bildern. Stelle sicher, dass du diese Bilder für den Marktplatz verfügbar gemacht hast. Verknüpfe außerdem die Variantenbilder mit Marktplatzattributen. Diese Schritte werden <a href="/artikel/einstellungen/attribute#900">in einem separaten Kapitel</a> näher beschrieben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="attribut-auswahl">Attribut-Auswahl im Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie sollen Kunden Größen oder Farben in deinem Webshop wählen? Sollen sie den Namen aus einer Dropdown-Liste wählen oder auf eine Bildkachel klicken?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Per Dropdown</strong> = Attributnamen werden in einer Dropdown-Liste angezeigt.</p>
</li>
<li>
<p><strong>Per Bild</strong> = Attribute werden als <a href="/artikel/einstellungen/attribute#700">Bildkacheln im Webshop</a> angezeigt.</p>
</li>
<li>
<p><strong>Per Box</strong> = Attribute werden als Boxen mit Attributwerten im Webshop angezeigt. Diese Einstellung betrifft nur Callisto-Nutzer und ist nur bei der <a href="/webshop/webshop-einrichten/artikelansichten">Attributverfügbarkeit mit Client-Prüfung</a> möglich.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppierbar in Artikellisten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen Varianten, die dieses Attribut haben, einzeln oder kumuliert im Webshop dargestellt werden?<br>
<strong>Häkchen</strong> = Jede Variante wird als einzelnes Produkt im Webshop dargestellt.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> du verkaufst ein Schuh mit 2 Attributen, Farbe und Größe. Du möchtest jede Farbe des Schuhs als einzelnes Produkt im Webshop darstellen, aber nicht jede Größe. In diesem Fall setzt du ein Häkchen beim Attribut "Farbe" und kein Häkchen beim Attribut "Größe".<br>
In der Kategorieansicht deines Webshops sehen Kunden nun jede Farbvariante als einzelnes Produkt. Klickt ein Kunde auf eine dieser Farbvarianten, gelangt er in die Artikelansicht. Hier sieht der Kunde eine Dropdown-Liste, aus der er die gewünschte Schuhgröße wählen kann.</p>
</div>
<div class="paragraph">
<p><strong><em>Wechselwirkungen:</em></strong> Prüfe deine Einstellungen zur <a href="/webshop/ceres-einrichten#90">Artikel- und Kategorieansicht des Ceres Plugins</a>. Die Option <strong>Varianten nach Typ anzeigen</strong> steht in Wechselwirkung mit der Option <strong>Gruppierbar in Artikellisten</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Callisto-Nutzer:</em></strong> Arbeitest du mit dem alten Callisto Webshop, werden verfügbare Artikelvarianten mit dem Template <a href="/webshop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist">ItemViewCategoriesList</a> dargestellt. In den Einstellungen des Callisto-Templates unter <strong>$ItemViewCategoriesList_GroupByVariation</strong> ist wählbar, ob eine Gruppierung nach Attributen oder nach Varianten erfolgt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Werte festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege Attributwerte wie Rot, Blau, Grün oder S, M, L, XL an.</p>
</div>
<div class="paragraph instruction">
<p>Attributwerte festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf das Attribut.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Wert</strong> (<span class="icon"><i class="fa fa-plus" style="color:green"></i></span>).</p>
</li>
<li>
<p>Gib den internen Namen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Attributwert erhält eine ID und wird im Tab <strong>Werte</strong> angezeigt.</p>
</li>
<li>
<p>Nimm weitere Einstellungen vor. Beachte <a href="#tabelle-attributwerte-festlegen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-attributwerte-festlegen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Attributwerte festlegen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID wird automatisch vergeben und kann nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie sollen Kunden Größen oder Farben in deinem Webshop wählen? Sollen sie den Namen aus einer Dropdown-Liste wählen oder auf eine Bildkachel klicken? Lade hier ein Bild hoch, wenn du den Attributwert grafisch darstellen möchtest.<br>
<strong><em>Zusätzliche Einstellungen</em></strong>: Lege auch in den Grundeinstellungen fest, dass dieses Attribut mit Bildern ausgewählt werden soll. Optional auch die maximale Bildgröße angeben. Diese Schritte werden <a href="/artikel/einstellungen/attribute#700">in einem separaten Kapitel</a> näher beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welcher Attributwert soll als erster, zweiter, dritter, usw. angezeigt werden? Gib eine Positionsnummer in dieses Feld ein. Die Attributwerte werden aufsteigend nach Positionsnummern in deinem Webshop dargestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (intern)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eindeutiger Name für den Attributwert. Der interne Name wird nur im plentymarkets Backend geführt und ist nicht im Webshop sichtbar. Der interne Name darf nur einmal pro Attribut vergeben werden. Folgende Zeichen dürfen nicht für den internen Namen verwendet werden, da sonst Fehler beim Datenaustausch auftreten:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma</p>
</li>
<li>
<p>Doppelpunkt</p>
</li>
<li>
<p>Semikolon</p>
</li>
<li>
<p>Anführungszeichen</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bemerkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional Bemerkung zu dem Attributwert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozentualer Anteil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentwerte für die automatische Mengenverteilung von Attributwerten eingeben. Bei Nachbestellungen werden die Mengen der Attributwerte automatisch auf die Gesamtmenge verteilt.<br>
<strong><em>Hinweis:</em></strong> Die automatische Mengenverteilung funktioniert nur, wenn der Artikel genau 2 Attributwerte hat.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Varianten mit den Attributen erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es ist technisch möglich, Attribute beim <a href="/artikel/artikel-verwalten#20">manuellen Anlegen eines neuen Artikels</a> auszuwählen. Wir empfehlen diese Vorgehensweise jedoch nicht.</p>
</div>
<div class="paragraph">
<p>Vielmehr empfehlen wir dir, zuerst einen neuen Artikel, d.h. eine Hauptvariante, ohne Attribute anzulegen. Anschließend empfehlen wir dir, Attribute auszuwählen, während du <a href="/artikel/artikel-verwalten#160">zusätzliche Varianten erstellst</a>.</p>
</div>
<div class="paragraph">
<p>Warum? Verknüpfst du Attribute bereits bei der Artikelanlage, müssen <em>alle folgenden Varianten</em> zwangsläufig aus den gleichen Attributen erzeugt werden. Dies ist nicht der Fall, wenn du Attribute erst bei der Variantenanlage verknüpfst. Im Nachhinein bist du also viel flexibler.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Optionale Funktionen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="500">4.1. Attributwerte mit Marktplätzen verknüpfen</h3>
<div class="paragraph">
<p>Einige Märkte, wie z.B. <a href="/maerkte/amazon/amazon-einrichten#1350">Amazon</a> und <a href="/maerkte/ebay/ebay-einrichten#6100">eBay</a>, verlangen, dass du <em>deine eigenen</em> Attributwerte mit <em>ihren Attributwerten</em> verknüpfst.
Stell dir zum Beispiel vor, du verkaufst ein türkisfarbenes T-Shirt. Der Markt, auf dem du es verkaufen willst, akzeptiert jedoch nur grün und blau. Verknüpfe deine eigenen Attributwerte mit denen auf dem anderen Markt, um sicherzustellen, dass deine Artikel korrekt angezeigt werden.</p>
</div>
<div class="paragraph">
<p>Dieses Video zeigt die Idee mit einem spielerischen Beispiel:</p>
</div>
<div class="videoblock">
<div class="title">Verknüpfe deine Attribute mit denen auf Amazon</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/199993489#t=5m27s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Attributwerte auch mit Variantenbildern verknüpfen</div>
<div class="paragraph">
<p>Soll sich das Artikelbild zusätzlich auch ändern, je nachdem, welche Größe oder Farbe ein Kunde wählt?
Einige Märkte, wie z.B. eBay, verlangen, dass du dafür zusätzlich deine <a href="/artikel/einstellungen/attribute#900">Variantenbilder mit den passenden Attributwerten verknüpfst</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="600">4.2. Attribute grafisch darstellen</h3>
<div class="sect3">
<h4 id="700">4.2.1. Attributwerte als Bilder darstellen</h4>
<div class="paragraph">
<p>Wie sollen Kunden Größen oder Farben in deinem Webshop wählen? Sollen sie den Namen aus einer Dropdown-Liste wählen oder auf eine Bildkachel klicken?</p>
</div>
<div class="paragraph">
<p>Führe die folgenden drei Schritte aus, wenn deine Attributwerte als Bilder angezeigt werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Bilder für Attributwerte hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf das Attribut.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke in der Spalte <strong>Bild</strong> auf <strong>Bild hochladen</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).</p>
</li>
<li>
<p>Wähle das Bild für den Attributwert.</p>
</li>
<li>
<p>Klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Bild wird hochgeladen und eine Vorschau wird in der Spalte <strong>Bild</strong> angezeigt.</p>
</li>
<li>
<p>Führe die gleichen Schritte aus, um Bilder für andere Attributwerte hochzuladen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Aussehen im Webshop von Text zu Bild ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf das Attribut.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Grundeinstellung</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Attributauswahl im Webshop</strong> die Option <strong>Per Bild</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Größe der Attributbilder ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Bilder » Einstellungen</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Attributbilder</strong> die maximale Höhe und Breite für die Bilder ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="800">4.2.2. Individuelles Bild für jede Variante speichern</h4>
<div class="paragraph">
<p>Soll sich das Artikelbild im Webshop ändern, je nachdem, welche Größe oder Farbe dein Kunde wählt?
Gehe wie folgt vor, wenn die passenden Bilder automatisch eingeblendet werden sollen.</p>
</div>
<div id="variante-bilder-link" class="paragraph instruction">
<p>Varianten mit den passenden Bilder verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#90">Lade die benötigten Bilder hoch</a>.</p>
</li>
<li>
<p>Wähle die Bilder (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>), die du verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Variantenverknüpfung</strong> (<span class="icon"><i class="fa fa-plus" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Variantenverknüpfung</strong> wird angezeigt.</p>
</li>
<li>
<p>Verwende bei Bedarf die Filter links.</p>
</li>
<li>
<p>Wähle die Varianten (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>), die du mit den gewählten Bildern verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Verknüpfen</strong> (<span class="icon"><i class="fa fa-check" style="color:green"></i></span>).<br>
→ Die Bilder werden mit den gewählten Varianten verknüpft.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Wählt ein Kunde die Variante im Webshop, sieht er das passende Artikelbild.</p>
</li>
</ol>
</div>
<div class="sect4">
<h5 id="900">Variantenbilder mit Marktplatzattributen verknüpfen</h5>
<div class="paragraph">
<p>Soll sich das Artikelbild z.B. auch auf eBay ändern, je nachdem, welche Größe oder Farbe dein Kunde gewählt hat?</p>
</div>
<div class="paragraph">
<p>Einige Märkte, wie z.B. eBay, verlangen nicht nur, dass du deine <a href="/artikel/einstellungen/attribute#500">Attribute mit dem Marktplatz verknüpfst</a>, sondern auch, dass du deine Variantenbilder mit den passenden Attributwerten verknüpfst.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sind alle Voraussetzungen erfüllt?</div>
<div class="paragraph">
<p>Stelle sicher, dass du deine <a href="/artikel/einstellungen/attribute#variante-bilder-link">Varianten bereits mit den entsprechenden Bildern verknüpft</a> hast und dass du diese <a href="/artikel/artikel-verwalten#90">Bilder für den Marktplatz verfügbar gemacht</a> hast. Stelle außerdem sicher, dass du <a href="/artikel/einstellungen/attribute#bild-link-erlauben">Bildverknüpfungen in den Grundeinstellungen zugelassen</a> hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Variantenbilder mit Marktplatzattributen verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Marktplatzattributverknüpfung</strong> den passenden Attributwert für das Artikelbild.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Wählt ein Kunde die Variante auf eBay, sieht er das passende Artikelbild.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wo finde ich das Feld "Marktplatzattributverknüpfung"?</div>
<div class="paragraph">
<p>Diese Option wird nur angezeigt, wenn das Bild bereits <a href="/artikel/einstellungen/attribute#variante-bilder-link">mit mindestens einer Variante verknüpft</a> ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1000">4.3. Namen in mehreren Sprachen speichern</h3>
<div class="paragraph">
<p>Ist dein Shop in mehreren Sprachen verfügbar? Dann musst du die Namen deiner Attribute und Attributwerte ebenfalls übersetzen.</p>
</div>
<div class="paragraph instruction">
<p>Attributnamen übersetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf das Attribut.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Name</strong>.</p>
</li>
<li>
<p>Gib den Namen in beliebig vielen Sprachen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Darstellung des Attributnamens im Webshop</div>
<div class="paragraph">
<p>Gib eine möglichst kurze Bezeichnung ein, da der Attributname im Webshop neben einer Auswahlbox erscheint.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Attributwerte übersetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf das Attribut.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Wähle im Kopfbereich eine Sprache aus der Dropdown-Liste <strong>Sprache anzeigen</strong>.<br>
→ Es ändert sich ausschließlich der in der Spalte <strong>Name</strong> eingegebene Text.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Name</strong> die Attributwerte in der Fremdsprache ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Name in einer Sprache anzeigen und in einer anderen speichern</div>
<div class="paragraph">
<p>Die Dropdown-Liste <strong>Sprache speichern</strong> gibt an, in welcher Sprache der Name gespeichert wird, wenn du auf das Speichern-Symbol klickst.
In der Regel wirst du <em>nicht</em> mit dieser Dropdown-Liste arbeiten, da die Sprache <em>automatisch</em> hier gewählt wird, sobald du eine Sprache aus der Dropdown-Liste <strong>Sprache anzeigen</strong> wählst.</p>
</div>
<div class="paragraph">
<p>Du kannst aber eine abweichende Sprache aus der Dropdown-Liste <strong>Sprache speichern</strong> wählen, wenn du den Namen in einer Sprache anzeigen und in einer anderen speichern möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">5. Attribute löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor ein Attribut gelöscht werden kann, müssen alle mit dem Attribut verknüpften Varianten gelöscht werden.
Die <a href="/artikel/artikel-verwalten#330">Varianten-Gruppenfunktion</a> ist ein nützliches Werkzeug dafür.</p>
</div>
<div class="paragraph instruction">
<p>Mit einem Attribut verknüpfte Varianten löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle im Filter <strong>ALLE</strong> das Attribut aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle im Filter <strong>Aktiv</strong> die Option <strong>ALLE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Alle Artikel mit dem Attribut werden angezeigt.</p>
</li>
<li>
<p>Wähle alle Artikel (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Aktionen</strong> die Option <strong>Varianten löschen</strong> (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong> (<span class="fa-stack fa-lg"><i class="fa fa-cog fa-stack-2x" style="color:darkGrey"></i><i class="fa fa-arrow-right fa-stack-1x lr" "=""></i></span>).<br>
→ Die Varianten werden gelöscht.<br>
→ Das Attribut kann nun gelöscht werden.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Attribut löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Attributs auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-circle" style="color:red"></i></span>).<br>
→ Ein neues Fenster wird geöffnet.</p>
</li>
<li>
<p>Klicke erneut auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-circle" style="color:red"></i></span>), um deine Entscheidung zu bestätigen.<br>
→ Das Attribut wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</main>