<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Barcode-Typen konfigurieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Barcodes erwerben und Nummernkreis speichern</span></a></li>
<li><a href="#300"><span>3.</span><span> Barcodes zu Artikeln zuordnen</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Barcodes manuell zu Artikeln zuordnen</span></a></li>
<li><a href="#500"><span>3.2.</span><span> Barcodes mit ElasticSync importieren</span></a></li>
<li><a href="#600"><span>3.3.</span><span> Barcodes automatisch aus dem Nummernkreis zuordnen</span></a></li>
<li><a href="#700"><span>3.4.</span><span> Fehlerbehebung: Doppelte Barcodes ermitteln</span></a></li>
</ul>
</li>
<li><a href="#800"><span>4.</span><span> Etiketten</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>4.1.</span><span> Etiketten gestalten</span></a></li>
<li><a href="#1000"><span>4.2.</span><span> Etiketten erzeugen und drucken</span></a>
<ul class="sectlevel3">
<li><a href="#1050"><span>4.2.1.</span><span> Etikett für einen bestimmten Lagerort generieren</span></a></li>
<li><a href="#1100"><span>4.2.2.</span><span> Etikett für eine bestimmte Variante generieren</span></a></li>
<li><a href="#1200"><span>4.2.3.</span><span> Etiketten für alle Artikel eines Auftrags generieren</span></a></li>
<li><a href="#1300"><span>4.2.4.</span><span> Etiketten über die plentymarkets App drucken</span></a></li>
<li><a href="#1400"><span>4.2.5.</span><span> Etiketten automatisch beim Wareneingang</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Barcodes und Etiketten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Barcodes dienen zur eindeutigen Kennzeichnung von Artikeln. Sie werden häufig z.B. auf Artikeletiketten oder auf Dokumenten wie Rechnungen und Lieferscheinen dargestellt. Diese Seite hilft dir, Barcodes Schritt für Schritt in plentymarkets einzurichten.</p>
</div>
<div class="paragraph">
<p>Zuerst <a href="/artikel/einstellungen/barcodes#100">konfigurierst du Barcode-Typen</a>. Mit anderen Worten, legst du fest, ob du GTIN, ISBN, UPC oder QR Barcodes brauchst und für welche Verkaufsplattformen du die Barcodes brauchst.</p>
</div>
<div class="paragraph">
<p>Falls du Barcodes nicht direkt von deinem Hersteller erhältst, d.h. falls du eine Eigenmarke vertreibst, dann musst du <a href="/artikel/einstellungen/barcodes#200">die eigentlichen Barcodes von einer Organisation wie GS1 erwerben</a>. Beispielsweise kaufst du hierfür ein Nummernkreis bestehend aus 1000 Barcodes. Du teilst plentymarkets mit, welche Barcodes du gekauft hast, indem du Informationen über den Nummernkreis speicherst.</p>
</div>
<div class="paragraph">
<p>Danach <a href="/artikel/einstellungen/barcodes#300">ordnest du die Barcodes deinen Artikeln zu</a>. Mit anderen Worten verknüpfst du deine Barcodes mit deinen Artikelvarianten.</p>
</div>
<div class="paragraph">
<p>Schließlich entscheidest du, wo du die Barcodes darstellen möchtest. Willst du beispielsweise Barcodes auf deinen Artikeletiketten darstellen, dann <a href="/artikel/einstellungen/barcodes#900">gestaltest du die Etiketten</a> und <a href="/artikel/einstellungen/barcodes#1000">druckst sie aus</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Barcode-Typen konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Welche Barcode-Typen benötigst du? Auf welchen Verkaufsplattformen wirst du die einzelnen Barcode-Typen verwenden? Speichere zunächst einige grundlegende Einstellungen für deine Barcodes.</p>
</div>
<div class="paragraph instruction">
<p>Barcodes konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Barcode</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon"><i class="fa fa-plus" style="color:green"></i></span> <strong>Neuer Barcode</strong>.<br>
→ Das Fenster <strong>Neuer Barcode</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Namen ein.</p>
</li>
<li>
<p>Wähle den Typ. Beachte <a href="#tabelle-barcode-typen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Barcode-Konfiguration erhält automatisch eine ID und die Einstellungen werden in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Wähle (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>) eine oder mehrere Herkünfte.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-barcode-typen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Barcode-Typen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN 8</strong>;<br>
<strong>GTIN 13</strong>;<br>
<strong>GTIN 14</strong>;<br>
<strong>GTIN 128</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Global Trade Item Number (früher European Article Number, EAN) ist eine Produktkennzeichnung für Handelsartikel. Die GTIN besteht aus 8, 13, 14 oder maximal 128 Ziffern, die zentral verwaltet und an Hersteller auf Antrag vergeben wird.</p>
<p class="tableblock">13-stellige GTINs setzen sich zusammen aus Basisnummer, Artikelnummer und Prüfziffer. Die Basisnummer hat 7 bis 9 Stellen und besteht aus dem Länderpräfix der GS1-Mitgliedsgesellschaft, zum Beispiel 400 bis 440 für Deutschland, und der Unternehmensnummer. Die Artikelnummer des Herstellers hat 3 bis 5 Stellen (je nach Länge der Basisnummer). Die Prüfziffer nimmt die letzte Stelle ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ISBN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">International Standard Book Number (Internationale Standardbuchnummer) ist eine eindeutige 10- oder 13-stellige Nummer zur Kennzeichnung von Büchern und anderen selbstständigen, nicht fortlaufenden Veröffentlichungen, zum Beispiel Multimedia-Produkten und Software.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quick Response Code. Im Code sind Version, Datenformat und Informationen enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CODE 128</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerischer Strichcode. Der Code128 setzt sich zusammen aus Startzeichen, Nutzinformation, Prüfziffer und Stoppzeichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UPC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Universal Product Code ist eine Produktkennzeichnung für Handelsartikel. Der UPC ist eine 12-stellige Nummer. Durch Voranstellung einer <strong>0</strong> kann die Zahlenkette als 13-stellige GTIN verwendet werden.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: FNSKU-Barcodes</div>
<div class="paragraph">
<p>Auch wenn es für FNSKU keinen bestimmten Barcodetyp gibt, kannst du trotzdem FNSKU-Barcodes in plentymarkets konfigurieren. Gib einen aussagekräftigen Namen ein und wähle den gewünschten Typ, z.B. Code 128.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Barcodes erwerben und Nummernkreis speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Viele Händler haben für ihre Artikel keine GTINs (Barcodes), da sie die Artikel direkt importieren und die Hersteller keine GTINs vergeben. In diesem Fall können Händler GTINs von einer Organisation wie <a href="https://www.gs1-germany.de/" target="_blank" rel="noopener">GS1</a> erwerben. Beispielsweise können Händler ein Nummernkreis bestehend aus 1000 Barcodes kaufen.</p>
</div>
<div class="paragraph">
<p>Aber wie kriegt man diese Barcodes dann in plentymarkets rein? Du musst sie nicht extra importieren! Teile plentymarkets einfach mit, wie viele GTINs du besitzt und mit welcher Nummer diese beginnen. Wenn du dann <a href="/artikel/einstellungen/barcodes#300">einem Artikel einen Barcode zuweist</a>, wird automatisch der nächste verfügbare Barcode verwendet.</p>
</div>
<div class="paragraph instruction">
<p>GTIN-Nummernkreis speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » GTIN</strong>.</p>
</li>
<li>
<p>Gib den Startwert ein.<br>
→ Bei 13-stelligen GTINs wird ein 12-stelliger Wert eingegeben. Die Prüfziffer wird automatisch angehängt.</p>
</li>
<li>
<p>Gib die Anzahl der GTINs ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum sieht der Nummernkreis nicht fortlaufend aus?</div>
<div class="paragraph">
<p>Auf den ersten Blick sieht es vielleicht nicht so aus, als ob der Nummernkreis immer um 1 erhöht wird. Aber vergesse nicht, dass die letzte Ziffer eine Prüfziffer ist. Die 12 Stellen davon sind fortlaufend. Lasse die Prüfziffer weg, wenn du den Startwert eingibst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Barcodes zu Artikeln zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie viele Produkte möchtest du mit Barcodes versehen? Wenn du nur wenige Produkte hast, dann ist es wahrscheinlich am schnellsten, die <a href="/artikel/einstellungen/barcodes#400">Barcodes manuell zu verknüpfen</a>. Hast du dagegen viele Produkte, dann ist es wahrscheinlich schneller, die <a href="/artikel/einstellungen/barcodes#500">Barcodes zu importieren</a>.</p>
</div>
<div class="paragraph">
<p>Aber was ist, wenn du deine eigenen Barcodes gekauft und einen Nummernkreis gespeichert hast? In diesem Fall lässt du plentymarkets deine Produkte <a href="/artikel/einstellungen/barcodes#600">automatisch den nächsten verfügbaren Barcode</a> zuordnen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Barcodes werden auf Varianten-Ebene gespeichert</div>
<div class="paragraph">
<p>Technisch gesehen wird ein Barcode mit <a href="/artikel/einleitung/struktur">einer einzelnen Variante</a> verknüpft und nicht mit dem Artikel als Ganzes. Wenn du zum Beispiel ein T-Shirt in den Farben Rot oder Blau verkaufst, dann haben das rote und das blaue T-Shirt jeweils einen eigenen Barcode.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="400">3.1. Barcodes manuell zu Artikeln zuordnen</h3>
<div class="paragraph instruction">
<p>Barcodes manuell zu Artikeln zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.<br>
→ Das Tab <strong>Einstellungen</strong> der Hauptvariante wird geöffnet.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Barcode</strong> die <a href="/artikel/einstellungen/barcodes#100">zuvor gespeicherte Barcode-Konfiguration</a> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus" style="color:green"></i></span>).<br>
→ Der Barcode-Typ wird hinzugefügt und in der Liste angezeigt.</p>
</li>
<li>
<p>Gib den Code in das Feld <strong>Code</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. Barcodes mit ElasticSync importieren</h3>
<div class="paragraph">
<p><a href="/daten/daten-importieren/ElasticSync">ElasticSync</a> ist ein nützliches Werkzeug, um viele Barcodes gleichzeitig zu importieren. Die Idee ist ganz einfach. Anstatt Barcodes manuell zu Artikeln zuzuordnen, trägst du die gleiche Informationen in eine CSV-Datei ein und importierst diese Datei dann in dein System.</p>
</div>
<div class="paragraph">
<p>Anstatt den Barcode-Typ im Artikeldatensatz auszuwählen, <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#1910">stellst du den Barcode-Typ als Abgleichfeld ein</a>. Und anstatt den Barcode manuell im Artikeldatensatz einzutragen, <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2320">trägst du den Barcode in ein Zuordnungsfeld ein</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">3.3. Barcodes automatisch aus dem Nummernkreis zuordnen</h3>
<div class="paragraph">
<p>Hast du einen <a href="/artikel/einstellungen/barcodes#200">Nummernkreis bestehend aus GTIN 13 Barcodes</a> gekauft, dann kann plentymarkets deinem Artikel automatisch den nächsten verfügbaren Barcode zuordnen.</p>
</div>
<div class="paragraph instruction">
<p>Barcodes automatisch aus dem Nummernkreis zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.<br>
→ Das Tab <strong>Einstellungen</strong> der Hauptvariante wird geöffnet.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Barcode</strong> die <a href="/artikel/einstellungen/barcodes#100">zuvor gespeicherte GTIN 13 Barcode-Konfiguration</a> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus" style="color:green"></i></span>).<br>
→ Der Barcode-Typ wird hinzugefügt und in der Liste angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>GTIN generieren</strong> (<span class="fa-stack fa-lg"><i class="fa fa-cog fa-stack-2x" style="color:darkGrey"></i><i class="fa fa-arrow-right fa-stack-1x lr" "=""></i></span>), um automatisch den nächsten verfügbaren Barcode einzufügen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Varianten gleichzeitig bearbeiten</div>
<div class="paragraph">
<p>Um GTINs mehrere Varianten gleichzeitig zuzuordnen, nutze die <a href="/artikel/artikel-verwalten#330">Varianten-Gruppenfunktion</a> oder die <a href="/artikel/artikel-verwalten#330">Varianten-Stapelverarbeitung</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="700">3.4. Fehlerbehebung: Doppelte Barcodes ermitteln</h3>
<div class="paragraph">
<p>Es ist technisch möglich, den selben Barcode für mehrere Varianten zu speichern. Wenn doppelte Barcodes nicht gewünscht sind, kannst du mehrmals vergebene Codes ermitteln und korrigieren. Dabei wird nach identischen Codes mit demselben Barcode-Typ gesucht, die verschiedenen Varianten zugeordnet sind.</p>
</div>
<div class="paragraph instruction">
<p>Doppelte Barcodes ermitteln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Barcode</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Das Tab <strong>Doppelte Barcodes</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke in den Filteroptionen auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um alle doppelten Barcodes aufzulisten.<br>
<strong><em>Tipp:</em></strong> Gib in die Suchfelder eine <strong>Varianten-ID</strong> oder einen <strong>Barcode</strong> ein, um die Suche einzugrenzen.<br>
→ Die doppelten Codes werden angezeigt.</p>
</li>
<li>
<p>Klicke auf die Variante, deren Code du ändern möchtest.<br>
→ Die Variante wird geöffnet.</p>
</li>
<li>
<p>Bearbeite den Code der Variante.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="800">4. Etiketten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeletiketten sind Hinweisschildchen auf einem Artikel oder der Artikelverpackung. Sie enthalten Informationen wie Preis, Inhalt, Barcode etc. Zuerst <a href="/artikel/einstellungen/barcodes#900">gestaltest du deine Etiketten</a> mit Hilfe von Vorlagen. Dann <a href="/artikel/einstellungen/barcodes#1000">generierst du die Etiketten</a> und druckst sie aus.</p>
</div>
<div class="sect2">
<h3 id="900">4.1. Etiketten gestalten</h3>
<div class="paragraph">
<p>Etiketten gestaltest du mit Hilfe von Vorlagen. Jede Vorlage enthält Informationen über die Größe des Etiketts, die Daten, die auf dem Etikett erscheinen sollen, und wo die einzelnen Daten auf dem Etikett positioniert werden sollen. Du kannst bis zu 10 Etikettenvorlagen speichern.</p>
</div>
<div class="paragraph instruction">
<p>Etikettenvorlage erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Etiketten</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Neue Vorlage</strong> auf (<span class="icon"><i class="fa fa-plus-square-o" style="color:darkGrey"></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#tabelle-etikettenvorlage-erstellen">Tabelle 2</a>.<br>
<strong><em>Tipp:</em></strong> Auf den Etiketten werden nur Werte ausgegeben, für die X- und Y-Koordinaten gespeichert wurden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Etikettenvorlage wird erstellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mit dem X-Y-Koordinatensystem arbeiten</div>
<div class="paragraph">
<p>Gib mit Hilfe der X-Y-Koordinaten an, <em>welche Informationen</em> auf dem Etikett erscheinen sollen und <em>wo jede Information</em> positioniert werden soll.</p>
</div>
<div class="paragraph">
<p><strong><em>Welche Info</em></strong>: Auf den Etiketten werden nur Werte ausgegeben, für die X- und Y-Koordinaten gespeichert wurden. Gib also Koordinaten für jede Information ein, die auf dem Etikett erscheinen soll.</p>
</div>
<div class="paragraph">
<p><strong><em>Position der Info</em></strong>: Gib Koordinaten ein, um Artikeldaten auf dem Etikett zu positionieren. Die Werte orientieren sich am Koordinatensystem mit X- und Y-Achse. Die X-Achse verläuft von links nach rechts und die Y-Achse von oben nach unten. Nullwerte liegen also links und oben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Erscheinungsbild des Etiketts bestimmen</div>
<div class="paragraph">
<p>Möchtest du die Artikeldaten in normaler oder fetter Schrift darstellen? Sollen die Daten klein oder groß sein? Verwende die Dropdown-Listen, um die Schriftgröße und Schriftschnitt festzulegen.</p>
</div>
<div class="paragraph">
<p>Möchtest du den Titel von bestimmten Artikelparametern anzeigen? Soll der Text umgebrochen werden, wenn er die Breite des Etiketts überschreitet? Setze dazu Häkchen (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>) neben den Optionen <strong>Titel verbergen</strong> und <strong>Zeilenumbruch erlauben</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-etikettenvorlage-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Etikettenvorlage erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für das Etikett eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="sprache">Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache für das Etikett wählen. Standardmäßig ist die Systemsprache voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeichensatz wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seitenbreite und -höhe in Millimeter eingeben. Bei Verwendung von <a href="/automatisierung/prozesse/drucker#50">Etikettendruckern</a> kann die Seitengröße gleich der Etikettengröße sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenrand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seitenränder links und oben in Millimeter eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Etikett</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite und Höhe des Etiketts in Millimeter eingeben. Die Größe des Etiketts muss zu den Werten der Seitengröße und der Zeilen- und Spaltenanzahl passen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilen pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Zeilen pro Seite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spalten pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Spalten pro Seite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten eintragen, um <a href="/artikel/einstellungen/barcodes#sprache">die ausgewählte Sprache</a> auf dem Etikett anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong>;<br>
<strong>Varianten-ID</strong>;<br>
<strong>Variantenname</strong>;<br>
<strong>Externe Varianten-ID</strong>;<br>
<strong>Modell</strong>;<br>
<strong>Nummer der Hauptvariante</strong>;<br>
<strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten eintragen, um die Artikeldaten auf dem Etikett anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong>;<br>
<strong>GTIN-Barcode</strong>;<br>
<strong>ISBN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten eintragen, um den Barcode auf dem Etikett anzuzeigen. Setze ein Häkchen neben der Option <strong>GTIN darstellen</strong>, um die GTIN unter dem Barcode anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1. Preis</strong>;<br>
<strong>2. Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Preis der Variante anzuzeigen. Wählen, ob der Preistyp <strong>Verkaufspreis</strong> oder der Preistyp <strong>UVP</strong> angezeigt werden soll. Außerdem wählen, welcher Verkaufspreis angezeigt werden soll.<br>
<strong><em>Hinweis:</em></strong> Wird der Preistyp <strong>UVP</strong> gewählt, wird unabhängig vom gewählten Verkaufspreis immer der UVP der Variante ausgegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grundpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Grundpreis der Variante anzuzeigen. Wählen, ob der Grundpreis des Preistyps <strong>Verkaufspreis</strong> oder der Grundpreis des Preistyps <strong>UVP</strong> angezeigt werden soll. Außerdem wählen, welcher Verkaufspreis angezeigt werden soll.<br>
<strong><em>Hinweis:</em></strong> Wird der Preistyp <strong>UVP</strong> gewählt, wird unabhängig vom gewählten Verkaufspreis immer der UVP der Variante ausgegeben.<br>
<strong><em>Hinweis:</em></strong> Wenn <strong>Preis</strong> und <strong>Grundpreis</strong> angezeigt werden sollen sicherstellen, dass für beide Optionen derselbe Preistyp und/oder Verkaufspreis gewählt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setze ein Häkchen neben der Option <strong>Attributnamen ausblenden</strong>, um nur den Attributwert anzuzeigen. Der Attributname wird ausgeblendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten eintragen, um den <a href="/warenwirtschaft/wareneingaenge-verwalten#200">vorgeschlagenen Lagerort der Variante</a> auf dem Etikett anzuzeigen.<br>
Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Lager</strong> und stelle sicher, dass du einen Lagerort im Feld <strong>Lagerortvorschlag</strong> eingestellt hast. Wurde kein Lagerort für eine Variante gewählt, wird der Standard-Lagerort stattdessen automatisch als Platzhalter-Lagerort verwendet.<br>
<a href="/artikel/einstellungen/barcodes#1050">Erzeuge danach ein Etikett</a> für den Lagerortvorschlag, indem du auf das Etikettensymbol (<span class="icon"><i class="fa fa-barcode" style="color:blue"></i></span>) weiter rechts klickst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand</strong>;<br>
<strong>Einheit</strong>;<br>
<strong>Währung</strong>;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten eintragen, um die Artikeldaten auf dem Etikett anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten für die Positionierung des Artikelbildes eingeben. Maximalwerte für Höhe und Breite des Bildes eingeben. Wenn das Bild größer als die eingegebenen Werte ist, wird das Bild proportional eingepasst, damit das Bild nicht verzerrt angezeigt wird.<br>
Position des Artikelbildes wählen, um das Bild für Etiketten zu verwenden. Standardmäßig ist <strong>Position 0</strong> voreingestellt. Die Artikelbildpositionen werden im Tab <strong>Bilder</strong> eines Artikels festgelegt. Wenn eine Position gewählt wurde, zu der kein Bild verfügbar ist, wird das erste verfügbare Bild, mit Position 0 beginnend, verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-Freitextfeld 1 bis 4</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/artikel-verwalten#70">Freitextfeld</a> wählen, damit der Text auf dem Etikett angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfeld 1 bis 4</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zusätzliche Freitextfelder einrichten. Text in Feld eingeben. Der eingegebene Text wird auf dem Etikett angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grafik</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Koordinaten für die Positionierung der Grafik eingeben. Maximalwerte für Höhe und Breite des Bildes eingeben. Wenn die Grafik größer als die eingegebenen Werte ist, wird die Grafik proportional eingepasst, damit die Grafik nicht verzerrt angezeigt wird.<br>
Grafiken im Menü <strong>CMS » Webspace</strong> hochladen. Die URL der Grafik aus dem Webspace kopieren und in das Feld <strong>URL</strong> einfügen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Auftragsbezogene Daten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong>;<br>
<strong>Externe Auftrags-ID</strong>;<br>
<strong>Lieferland</strong>;<br>
<strong>Artikelanzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsbezogene Parameter einrichten, um diese Parameter auf dem Etikett anzuzeigen.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testseite drucken</div>
<div class="paragraph">
<p>Je nach Drucker weichen einige Ausdrucke auch bei einer korrekt eingerichteten Vorlage von den Einstellungen ab. Drucke daher beim Einrichten der Vorlage Probedrucke auf Normalpapier. Korrigiere die Positionen, bis du mit dem Ergebnis zufrieden bist, bevor du Etikettenpapier verwendest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1000">4.2. Etiketten erzeugen und drucken</h3>
<div class="paragraph">
<p>Möchtest du das Etikett für eine <em>bestimmte Variante</em> oder für alle <em>Artikel eines bestimmten Auftrags</em> generieren? Möchtest du das Artikeletikett <em>manuell</em> oder <em>automatisch</em> generieren? Es gibt viele verschiedene Möglichkeiten, Etiketten zu erstellen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du erzeugst manuell ein <a href="/artikel/einstellungen/barcodes#1050">Etikett für einen bestimmten Lagerort</a>.</p>
</li>
<li>
<p>Du erzeugst manuell ein <a href="/artikel/einstellungen/barcodes#1100">Etikett für eine bestimmte Variante</a>.</p>
</li>
<li>
<p>Du erzeugst manuell <a href="/artikel/einstellungen/barcodes#1200">Etiketten für alle Artikel eines bestimmten Auftrags</a>.</p>
</li>
<li>
<p>Du druckst Artikeletiketten manuell <a href="/artikel/einstellungen/barcodes#1300">über die plentymarkets App</a> aus.</p>
</li>
<li>
<p>Du druckst <a href="/artikel/einstellungen/barcodes#1400">Etiketten automatisch beim Wareneingang</a> aus.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="1050">4.2.1. Etikett für einen bestimmten Lagerort generieren</h4>
<div class="paragraph instruction">
<p>Etikett für einen Lagerort generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Öffne die Variante.</p>
</li>
<li>
<p>Klicke auf den Tab <strong>Lager</strong>.</p>
</li>
<li>
<p>Stelle sicher, dass du im Feld <strong>Lagerortvorschlag</strong> einen Lagerort ausgewählt hast.</p>
</li>
<li>
<p>Klicke auf das Etikettensymbol (<span class="icon"><i class="fa fa-barcode" style="color:blue"></i></span>) weiter rechts.<br>
→ Das Fenster <strong>Etiketten generieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib ein, wie viele Etiketten generiert werden sollen.</p>
</li>
<li>
<p>Wähle die Etikettenvorlage aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Etiketten generieren</strong> (<span class="fa-stack fa-lg"><i class="fa fa-cog fa-stack-2x" style="color:darkGrey"></i><i class="fa fa-arrow-right fa-stack-1x lr" "=""></i></span>).<br>
→ Eine PDF-Datei mit der gewählten Anzahl der Etiketten wird generiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum sehe ich auf meinen Etiketten immer nur den Standard-Lagerort?</div>
<div class="paragraph">
<p>Hast du einen Lagerortvorschlag für die Variante gespeichert? Öffne die Variante und klicke auf den Tab <strong>Lager</strong>. Stelle sicher, dass du im Feld <strong>Lagerortvorschlag</strong> einen Lagerort ausgewählt hast. Wurde kein Lagerort für eine Variante gewählt, wird der Standard-Lagerort stattdessen automatisch als Platzhalter-Lagerort verwendet.</p>
</div>
<div class="paragraph">
<p>Hast du auf das richtige Etikettensymbol geklickt? Klicke auf das Etikettensymbol (<span class="icon"><i class="fa fa-barcode" style="color:blue"></i></span>) weiter rechts im Tab <strong>Lager</strong>. Klickst du stattdessen auf das Etikettensymbol in der obere Artikel-Symbolleiste, wird der Standard-Lagerort auf deinem Etikett fälschlicherweise angezeigt. Denk daran, dass jede Variante an einem anderen Ort gelagert werden kann. Mit anderen Worten, kann ein Artikel mehrere Lagerorte haben. Wenn du also ein Etikett für den gesamten Artikel generierst, weiß plentymarkets nicht, welcher Lagerort vorgesehen ist, und verwendet stattdessen den Standard-Lagerort.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="1100">4.2.2. Etikett für eine bestimmte Variante generieren</h4>
<div class="paragraph instruction">
<p>Etikett für eine Variante generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Öffne die Variante.</p>
</li>
<li>
<p>Klicke in der <em>untere Symbolleiste</em> auf das Etikettensymbol (<span class="icon"><i class="fa fa-barcode" style="color:blue"></i></span>).<br>
→ Das Fenster <strong>Etiketten generieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib ein, wie viele Etiketten generiert werden sollen.</p>
</li>
<li>
<p>Wähle die Etikettenvorlage aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Etiketten generieren</strong> (<span class="fa-stack fa-lg"><i class="fa fa-cog fa-stack-2x" style="color:darkGrey"></i><i class="fa fa-arrow-right fa-stack-1x lr" "=""></i></span>).<br>
→ Eine PDF-Datei mit der gewählten Anzahl der Etiketten wird generiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Etiketten für alle Varianten eines Artikels generieren</div>
<div class="paragraph">
<p>Klicke in der <em>obere Symbolleiste</em> auf das Etikettensymbol (<span class="icon"><i class="fa fa-barcode" style="color:blue"></i></span>), um Etiketten für alle Varianten eines Artikels zu generieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="1200">4.2.3. Etiketten für alle Artikel eines Auftrags generieren</h4>
<div class="paragraph">
<p>Sobald du eine Etikettenvorlage fertig erstellt hast, erscheint eine neue Option. Verwende diese Option, um Etiketten für alle Artikel eines bestimmten Auftrags zu generieren.</p>
</div>
<div class="paragraph instruction">
<p>Etiketten für alle Artikel eines Auftrags generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Etiketten</strong>.</p>
</li>
<li>
<p>Klappe die Vorlage auf (<span class="icon"><i class="fa fa-plus-square-o" style="color:darkGrey"></i></span>).</p>
</li>
<li>
<p>Gib die Auftrags-ID ein.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).<br>
→ Eine PDF-Datei mit Etiketten für die im Auftrag enthaltenen Artikel wird generiert.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1300">4.2.4. Etiketten über die plentymarkets App drucken</h4>
<div class="paragraph">
<p>Benutzt du die plentymarkets App? Dann kannst du mit deinem mobilen Gerät nach <a href="/app/funktionen/artikelsuche#400">Artikeln suchen und Etiketten drucken</a>.</p>
</div>
</div>
<div class="sect3">
<h4 id="1400">4.2.5. Etiketten automatisch beim Wareneingang</h4>
<div class="paragraph">
<p>Möchtest du Etiketten beim Wareneingang automatisch drucken? Dann erstelle <a href="/automatisierung/prozesse/prozesse-einrichten">einen plentymarkets-Prozess</a> und füge <a href="/automatisierung/prozesse/aktionen#150">die Aktion Artikeletikett</a> hinzu.</p>
</div>
</div>
</div>
</div>
</div>
</main>