<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Barcode-Typen konfigurieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Barcodes erwerben und Nummernkreis speichern</span></a></li>
<li><a href="#300"><span>3.</span><span> Barcodes zu Produkten zuordnen</span></a></li>
<li><a href="#700"><span>4.</span><span> Fehlerbehebung: Doppelte Barcodes ermitteln</span></a></li>
<li><a href="#800"><span>5.</span><span> Etiketten</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>5.1.</span><span> Etiketten gestalten</span></a></li>
<li><a href="#1000"><span>5.2.</span><span> Etiketten erzeugen und drucken</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Barcodes und Etiketten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Barcodes dienen zur eindeutigen Kennzeichnung von Artikeln.
Sie werden häufig z.B. auf Artikel-Etiketten oder auf Dokumenten wie Rechnungen und Lieferscheinen dargestellt.
Diese Seite hilft dir, Barcodes Schritt für Schritt in plentymarkets einzurichten.</p>
</div>
<h3 id="_ablauf" class="discrete">Ablauf</h3>
<div class="paragraph">
<p>Die Konfiguration in plentymarkets besteht aus mehreren Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/barcodes#100">Konfiguriere die Barcode-Typen</a>:<br>
Lege fest, ob du GTIN, ISBN, UPC oder QR Barcodes brauchst und für welche Verkaufsplattformen du die Barcodes brauchst.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#200">Erwerbe ggf. einen Pool an Barcodes</a>:<br>
Falls du Barcodes nicht direkt von deinem Hersteller erhältst, d.h. falls du eine Eigenmarke vertreibst, dann musst du die eigentlichen Barcodes von einer Organisation wie GS1 erwerben.
Beispielsweise kaufst du hierfür ein Nummernkreis bestehend aus 1000 Barcodes.
Du teilst plentymarkets mit, welche Barcodes du gekauft hast, indem du Informationen über den Nummernkreis speicherst.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#300">Ordne die Barcodes deinen Artikeln zu</a>:<br>
Mit anderen Worten verknüpfst du deine Barcodes mit deinen Artikelvarianten.</p>
</li>
<li>
<p>Entscheide, wo du die Barcodes darstellen möchtest:<br>
Willst du zum Beispiel Barcodes auf deinen Artikel-Etiketten darstellen, dann <a href="/artikel/einstellungen/barcodes#900">gestaltest du die Etiketten</a> und <a href="/artikel/einstellungen/barcodes#1000">druckst sie aus</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Barcode-Typen konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Welche Barcode-Typen benötigst du?
Auf welchen Verkaufsplattformen wirst du die einzelnen Barcode-Typen verwenden?
Speichere zunächst einige grundlegende Einstellungen für deine Barcodes.</p>
</div>
<div class="paragraph instruction">
<p>Barcodes konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Barcode</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neuer Barcode</strong>.<br>
→ Das Fenster <strong>Neuer Barcode</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Namen ein.</p>
</li>
<li>
<p>Wähle den Typ. Beachte <a href="#table-barcode-types">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Barcode-Konfiguration erhält automatisch eine ID und die Einstellungen werden in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) eine oder mehrere Herkünfte.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-barcode-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Barcode-Typen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN 8</strong>;<br>
<strong>GTIN 13</strong>;<br>
<strong>GTIN 14</strong>;<br>
<strong>GTIN 128</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Global Trade Item Number (früher European Article Number, EAN) ist eine Produktkennzeichnung für Handelsartikel.
Die GTIN besteht aus 8, 13, 14 oder maximal 128 Ziffern, die zentral verwaltet und an Hersteller auf Antrag vergeben wird.</p>
<p class="tableblock">13-stellige GTINs setzen sich zusammen aus Basisnummer, Artikelnummer und Prüfziffer.
Die Basisnummer hat 7 bis 9 Stellen und besteht aus dem Länderpräfix der GS1-Mitgliedsgesellschaft, zum Beispiel 400 bis 440 für Deutschland, und der Unternehmensnummer.
Die Artikelnummer des Herstellers hat 3 bis 5 Stellen (je nach Länge der Basisnummer).
Die Prüfziffer nimmt die letzte Stelle ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ISBN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">International Standard Book Number (Internationale Standardbuchnummer) ist eine eindeutige 10- oder 13-stellige Nummer zur Kennzeichnung von Büchern und anderen selbstständigen, nicht fortlaufenden Veröffentlichungen, zum Beispiel Multimedia-Produkten und Software.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quick Response Code.
Im Code sind Version, Datenformat und Informationen enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CODE 128</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerischer Strichcode.
Der Code128 setzt sich zusammen aus Startzeichen, Nutzinformation, Prüfziffer und Stoppzeichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UPC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Universal Product Code ist eine Produktkennzeichnung für Handelsartikel.
Der UPC ist eine 12-stellige Nummer.
Durch Voranstellung einer <strong>0</strong> kann die Zahlenkette als 13-stellige GTIN verwendet werden.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: FNSKU-Barcodes</div>
<div class="paragraph">
<p>Auch wenn es für FNSKU keinen bestimmten Barcodetyp gibt, kannst du trotzdem FNSKU-Barcodes in plentymarkets konfigurieren.
Gib einen aussagekräftigen Namen ein und wähle den gewünschten Typ, z.B. Code 128.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Barcodes erwerben und Nummernkreis speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du bereits GTINs (Barcodes) für deine Artikel?
Möglicherweise nicht, wenn du die Artikel direkt importierst und deine Hersteller keine GTINs vergeben.
In diesem Fall kannst du GTINs von einer Organisation wie <a href="https://www.gs1-germany.de/" target="_blank" rel="noopener">GS1</a> erwerben.
Beispielsweise kannst du ein Nummernkreis bestehend aus 1000 Barcodes kaufen.</p>
</div>
<div class="paragraph">
<p>Aber wie kriegst du diesen Pool an Barcodes in plentymarkets rein?
Du musst sie nicht extra importieren!
Teile plentymarkets einfach mit, wie viele GTINs du besitzt und mit welcher Nummer diese beginnen.
Wenn du dann <a href="/artikel/einstellungen/barcodes#300">einem Artikel einen Barcode zuweist</a>, wird automatisch der nächste verfügbare Barcode verwendet.</p>
</div>
<div class="paragraph instruction">
<p>GTIN-Nummernkreis speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » GTIN</strong>.</p>
</li>
<li>
<p>Gib den Startwert ein.<br>
→ Bei 13-stelligen GTINs wird ein 12-stelliger Wert eingegeben.
Die Prüfziffer wird automatisch angehängt.</p>
</li>
<li>
<p>Gib die Anzahl der GTINs ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum sieht der Nummernkreis nicht fortlaufend aus?</div>
<div class="paragraph">
<p>Auf den ersten Blick sieht es vielleicht nicht so aus, als ob der Nummernkreis immer um 1 erhöht wird.
Aber vergesse nicht, dass die letzte Ziffer eine Prüfziffer ist.
Die 12 Stellen davor sind fortlaufend.
Lasse die Prüfziffer weg, wenn du den Startwert eingibst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Barcodes zu Produkten zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Barcode wird mit <a href="/artikel/einleitung/struktur">einer einzelnen Variante</a> verknüpft und nicht mit dem Artikel als Ganzes.
Wenn du zum Beispiel ein T-Shirt in den Farben Rot oder Blau verkaufst, dann haben das rote und das blaue T-Shirt jeweils einen eigenen Barcode.</p>
</div>
<div class="paragraph">
<p>Du hast verschiedene Möglichkeiten, deine Produkte mit Barcodes zu versehen:</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manuell-tab" data-toggle="tab" href="#manuell" role="tab" aria-controls="manuell" aria-selected="true">Manuell</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-import-tab" data-toggle="tab" href="#per-import" role="tab" aria-controls="per-import" aria-selected="false">Per Import</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="automatisch-aus-dem-nummernkreis-tab" data-toggle="tab" href="#automatisch-aus-dem-nummernkreis" role="tab" aria-controls="automatisch-aus-dem-nummernkreis" aria-selected="false">Automatisch aus dem Nummernkreis</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manuell" role="tabpanel" aria-labelledby="manuell-tab">
<div class="paragraph">
<p>Wenn du nur wenige Produkte hast, dann ist es wahrscheinlich am schnellsten, die Barcodes manuell zu verknüpfen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche</a> und öffne die Variante.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Einstellungen</strong> in der unteren Leiste.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Barcode</strong> die <a href="/artikel/einstellungen/barcodes#100">zuvor gespeicherte Barcode-Konfiguration</a> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Der Barcode-Typ wird hinzugefügt und in der Liste angezeigt.</p>
</li>
<li>
<p>Gib den Code in das Feld <strong>Code</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-import" role="tabpanel" aria-labelledby="per-import-tab">
<div class="paragraph">
<p>Wenn du viele Produkte hast, dann ist es wahrscheinlich am schnellsten, die Barcodes zu importieren.</p>
</div>
<div class="paragraph">
<p>plentymarkets verfügt über ein <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a>, mit dem du mehrere Barcodes gleichzeitig importieren kannst.
Die Idee ist ganz einfach.
Anstatt Barcodes manuell zu Artikeln zuzuordnen, trägst du die gleiche Informationen in eine CSV-Datei ein und importierst diese Datei dann in dein System.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Anstatt den Barcode-Typ im Artikeldatensatz auszuwählen, <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#1910">stellst du den Barcode-Typ als Abgleichfeld ein</a>.</p>
</li>
<li>
<p>Anstatt den Barcode manuell im Artikeldatensatz einzutragen, <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2320">trägst du den Barcode in ein Zuordnungsfeld ein</a>.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="automatisch-aus-dem-nummernkreis" role="tabpanel" aria-labelledby="automatisch-aus-dem-nummernkreis-tab">
<div class="paragraph">
<p>Hast du einen <a href="/artikel/einstellungen/barcodes#200">Nummernkreis bestehend aus GTIN 13 Barcodes</a> gekauft, dann kann plentymarkets deinem Artikel automatisch den nächsten verfügbaren Barcode zuordnen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche</a> und öffne die Variante.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Einstellungen</strong> in der unteren Leiste.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Barcode</strong> die <a href="/artikel/einstellungen/barcodes#100">zuvor gespeicherte GTIN 13 Barcode-Konfiguration</a> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Der Barcode-Typ wird hinzugefügt und in der Liste angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>GTIN generieren</strong> (<span class="icon "><i class="psicon-execute"></i></span>), um automatisch den nächsten verfügbaren Barcode einzufügen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Um GTINs für mehrere Varianten gleichzeitig zu generieren, nutze die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#300">Varianten-Gruppenfunktion</a> oder die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#600">Varianten-Stapelverarbeitung</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Diese Funktion ist nur für den Typ <strong>GTIN 13</strong> verfügbar. Bei allen anderen Typen ist die Schaltfläche deaktiviert.
</td>
</tr>
</tbody></table>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="700">4. Fehlerbehebung: Doppelte Barcodes ermitteln</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es ist technisch möglich, den selben Barcode für mehrere Varianten zu speichern.
Wenn doppelte Barcodes nicht gewünscht sind, kannst du mehrmals vergebene Codes ermitteln und korrigieren.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Barcode</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Das Tab <strong>Doppelte Barcodes</strong> wird geöffnet und zeigt eine Liste der doppelten Barcodes an.</p>
</li>
<li>
<p>Nutze die Filteroptionen <strong>Varianten-ID</strong> und <strong>Barcode</strong>, um die Suchergebnisse bei Bedarf einzugrenzen.</p>
</li>
<li>
<p>Klicke auf die Variante, deren Code du ändern möchtest.<br>
→ Die Variante wird geöffnet.</p>
</li>
<li>
<p>Bearbeite den Code der Variante.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h3 id="_standard_einstellungen_anpassen" class="discrete">Standard-Einstellungen anpassen</h3>
<div class="paragraph">
<p>Wie genau soll die Prüfung für doppelte Barcodes sein?
Willst du doppelte Barcodes gänzlich unterbinden?
Du kannst die Einstellungen an die individuellen Bedürfnisse deines Unternehmens anpassen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle die Einstellungen für doppelte Barcodes. Beachte <a href="#table-duplicate-barcodes">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Die Prüfung wird nur über die UI vollzogen</div>
<div class="paragraph">
<p>Wie legst du die Barcodes an?
Über die UI, Import oder REST?
Die Prüfung für doppelte Barcodes wird nur über die UI vollzogen.
Das Verknüpfen doppelter Barcodes kann per Import oder REST unabhängig von den Einstellungen erfolgen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-duplicate-barcodes" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für doppelte Barcodes</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Genauigkeit doppelte Barcode-Prüfung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie genau soll die Suche sein?
Diese Einstellung bestimmt die Prüfgenauigkeit für doppelte Barcodes.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode Definition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird pro numerischem Code geprüft.
Es wird also geprüft, ob ein bestimmter Code bereits bei einer bestimmten Definition hinterlegt ist.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>:
Wenn du den Barcode 1234 bei der Definition "GTIN 13_1" hinterlegt hast, dann könntest du den selben Code auch bei der Definition "GTIN 13_2" hinterlegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird pro Barcode-Typ geprüft.
Zum Beispiel: doppelte Barcodes vom Typ GTIN.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Global</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird über alle Barcodes hinweg geprüft.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verhalten bei doppeltem Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie soll plentymarkets reagieren, wenn du versuchst, einen bereits vergebenen Barcode zu einem Produkt zuzuordnen?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zulassen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es ist möglich, doppelte Barcodes zu speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es ist möglich, doppelte Barcodes zu speichern.
Du siehst jedoch eine gelbe Warnmeldung, die dir mitteilt, dass der Barcode bereits für eine andere Variante hinterlegt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verhindern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es ist nicht möglich, doppelte Barcodes zu speichern.
Du siehst eine rote Warnmeldung, die dir mitteilt, dass der Barcode nicht gespeichert wurde, da er bereits für eine andere Variante hinterlegt ist.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">5. Etiketten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeletiketten sind Hinweisschildchen auf einem Artikel oder der Artikelverpackung.
Sie enthalten Informationen wie Preis, Inhalt, Barcode etc.
Zuerst <a href="/artikel/einstellungen/barcodes#900">gestaltest</a> du deine Etiketten mit Hilfe von Vorlagen.
Dann <a href="/artikel/einstellungen/barcodes#1000">generierst</a> du die Etiketten und druckst sie aus.</p>
</div>
<div class="sect2">
<h3 id="900">5.1. Etiketten gestalten</h3>
<div class="paragraph">
<p>Etiketten gestaltest du mit Hilfe von Vorlagen.
Jede Vorlage enthält Informationen über die Größe des Etiketts, die Daten, die auf dem Etikett erscheinen sollen, und wo die einzelnen Daten auf dem Etikett positioniert werden sollen.
Du kannst bis zu 10 Etikettenvorlagen speichern.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Etiketten</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Neue Vorlage</strong> auf (<span class="icon darkGrey"><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Passe die Einstellungen an deine Bedürfnisse an:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><a href="/artikel/einstellungen/barcodes#930">Gib Eckdaten und die Größe des Etiketts ein</a>.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#960">Entscheide, welche Daten auf dem Etikett erscheinen sollen</a>.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild des Etiketts</a>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h4 id="930" class="discrete">Eckdaten und Größe des Etiketts</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen internen Namen für das Etikett ein.
Der Name ist für Kunden nicht sichtbar.
Wenn du mehrere Etikettenvorlagen erstellst, dann dient der Name zur Unterscheidung deiner Etiketten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welcher Sprache soll das Etikett sein?
Wähle die passende Sprache aus der Dropdown-Liste aus.
Standardmäßig ist die Systemsprache voreingestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welchen Zeichensatz soll das Etikett verwenden?
Wähle den Zeichensatz aus der Dropdown-Liste aus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Seitenbreite und -höhe in Millimeter ein.
Wenn du einen <a href="/automatisierung/prozesse/drucker#50">Etikettendrucker</a> verwendest, dann können die Seitengröße und Etikettengröße identisch sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenrand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Seitenränder links und oben in Millimeter ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Etikett</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Breite und Höhe des Etiketts in Millimeter ein.
Die Größe des Etiketts muss zu den Werten der Seitengröße und der Zeilen- und Spaltenanzahl passen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilen pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Anzahl der Zeilen pro Seite ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spalten pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Anzahl der Spalten pro Seite ein.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="960" class="discrete">Welche Daten sollen auf dem Etikett erscheinen?</h4>
<div class="paragraph">
<p>Gib mit Hilfe der X-Y-Koordinaten an, welche Informationen auf dem Etikett erscheinen sollen und wo jede Information positioniert werden soll.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Welche Info</em></strong>:
Auf den Etiketten werden nur Werte ausgegeben, für die X- und Y-Koordinaten gespeichert wurden.
Gib also Koordinaten für jede Information ein, die auf dem Etikett erscheinen soll.</p>
</li>
<li>
<p><strong><em>Position der Info</em></strong>:
Gib Koordinaten ein, um Artikeldaten auf dem Etikett zu positionieren.
Die Werte orientieren sich am Koordinatensystem mit X- und Y-Achse.
Die X-Achse verläuft von links nach rechts und die Y-Achse von oben nach unten.
Nullwerte liegen also links und oben.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um <a href="/artikel/einstellungen/barcodes#930">die ausgewählte Sprache</a> auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID;<br>
Varianten-ID;<br>
Varianten-Nr.;<br>
Variantenname;<br>
Externe Varianten-ID;<br>
Modell;<br>
Nummer der Hauptvariante</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um die Artikeldaten auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um den Artikelnamen auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob du Name 1, 2 oder 3 als Artikelname verwenden willst.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode;<br>
GTIN-Barcode;<br>
ISBN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um den Barcode auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN darstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die GTIN unter dem Barcode anzuzeigen.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1. Preis;<br>
2. Preis;<br>
Grundpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um den Preis/Grundpreis der Variante anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preistyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entscheide, ob der Verkaufspreis oder die UVP angezeigt werden soll.<br>
<strong><em>Hinweis</em></strong>: Wird der UVP gewählt, wird unabhängig vom gewählten Verkaufspreis immer der UVP der Variante ausgegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entscheide, welcher Verkaufspreis angezeigt werden soll.<br></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Wenn du den Preis und Grundpreis angezeigen willst, dann stelle sicher, dass für beide Optionen derselbe Preistyp und/oder Verkaufspreis ausgewählt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um den Attributnamen und Attributwert der Variante anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributnamen ausblenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um nur den Attributwert anzuzeigen. Der Attributname wird ausgeblendet.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um den <a href="/warenwirtschaft/wareneingaenge-verwalten#200">vorgeschlagenen Lagerort der Variante</a> auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand;<br>
Einheit;<br>
Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um die Artikeldaten auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib X-Y-Koordinaten ein, um das Artikelbild auf dem Etikett anzuzeigen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Höhe/Breite (mm)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib Maximalwerte für die Höhe und Breite des Bildes ein.
Wenn das Bild größer als die eingegebenen Werte ist, wird das Bild proportional eingepasst, damit das Bild nicht verzerrt angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbild-Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Viele Artikel haben mehr als nur ein Bild.
Indem du hier eine Positionsnummer wählst, gibst du an, welches Artikelbild auf dem Etikett angezeigt werden soll.</p>
<p class="tableblock">Standardmäßig ist <strong>Position 0</strong> voreingestellt.
Die Artikelbildpositionen werden im Tab <strong>Bilder</strong> eines Artikels festgelegt.
Wenn eine Position gewählt wurde, zu der kein Bild verfügbar ist, wird das erste verfügbare Bild, mit Position 0 beginnend, verwendet.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-Freitextfeld 1 bis 4</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um das Freitextfeld auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle das <a href="/artikel/artikel-verwalten#70">Freitextfeld</a>, dessen Text auf dem Etikett angezeigt werden soll.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfeld 1 bis 4</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um das Freitextfeld auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eingabefeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In diesem Bereich kannst du zusätzliche Freitextfelder einrichten.
Gib Text in das Eingabefeld ein.
Der eingegebene Text wird auf dem Etikett angezeigt.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grafik</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib X-Y-Koordinaten ein, um eine Grafik auf dem Etikett anzuzeigen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Höhe/Breite (mm)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib Maximalwerte für die Höhe und Breite des Bildes ein.
Wenn das Bild größer als die eingegebenen Werte ist, wird das Bild proportional eingepasst, damit das Bild nicht verzerrt angezeigt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade deine Grafiken im Menü <strong>CMS » Webspace</strong> hoch.</p>
</li>
<li>
<p>Kopiere die URL der Grafik aus dem Webspace.</p>
</li>
<li>
<p>Füge die URL in dieses Feld ein.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Auftragsbezogene Daten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID;<br>
Externe Auftrags-ID;<br>
Artikelanzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um die auftragsbezogene Parameter auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferland</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib X-Y-Koordinaten ein, um das Lieferland auf dem Etikett anzuzeigen.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes#980">Konfiguriere das Erscheinungsbild</a>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entscheide, ob der Name oder ISO-Code des Landes auf dem Etikett angezeigt werden soll.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<h4 id="980" class="discrete">Erscheinungsbild des Etiketts</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>X/Y</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib mit Hilfe der X-Y-Koordinaten an, welche Informationen auf dem Etikett erscheinen sollen und wo jede Information positioniert werden soll.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Welche Info</em></strong>:
Auf den Etiketten werden nur Werte ausgegeben, für die X- und Y-Koordinaten gespeichert wurden.
Gib also Koordinaten für jede Information ein, die auf dem Etikett erscheinen soll.</p>
</li>
<li>
<p><strong><em>Position der Info</em></strong>:
Gib Koordinaten ein, um Artikeldaten auf dem Etikett zu positionieren.
Die Werte orientieren sich am Koordinatensystem mit X- und Y-Achse.
Die X-Achse verläuft von links nach rechts und die Y-Achse von oben nach unten.
Nullwerte liegen also links und oben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>5px</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen die Artikeldaten eher klein oder groß dargestellt werden?
Wähle die passende Schriftgröße aus der Dropdown-Liste aus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Normal</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen die Artikeldaten in normaler oder fetter Schrift dargestellt werden?
Wähle den passenden Schriftschnitt aus der Dropdown-Liste aus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel verbergen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Titel des Artikelparameters wird standardmäßig auf dem Etikett angezeigt.
Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn der Titel nicht angezeigt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilenumbruch erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn der Text in die nächste Zeile umbrechen soll, wenn er die Breite des Etiketts überschreitet.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testseite drucken</div>
<div class="paragraph">
<p>Je nach Drucker weichen einige Ausdrucke auch bei einer korrekt eingerichteten Vorlage von den Einstellungen ab. Drucke daher beim Einrichten der Vorlage Probedrucke auf Normalpapier. Korrigiere die Positionen, bis du mit dem Ergebnis zufrieden bist, bevor du Etikettenpapier verwendest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1000">5.2. Etiketten erzeugen und drucken</h3>
<div class="paragraph">
<p>Du hast verschiedene Möglichkeiten, Etiketten zu erzeugen und auszudrucken.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="ein-lagerort-tab" data-toggle="tab" href="#ein-lagerort" role="tab" aria-controls="ein-lagerort" aria-selected="true">Ein Lagerort</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="eine-variante-tab" data-toggle="tab" href="#eine-variante" role="tab" aria-controls="eine-variante" aria-selected="false">Eine Variante</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="alle-artikel-eines-auftrags-tab" data-toggle="tab" href="#alle-artikel-eines-auftrags" role="tab" aria-controls="alle-artikel-eines-auftrags" aria-selected="false">Alle Artikel eines Auftrags</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="-ber-die-app-tab" data-toggle="tab" href="#-ber-die-app" role="tab" aria-controls="-ber-die-app" aria-selected="false">Über die App</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="beim-wareneingang-tab" data-toggle="tab" href="#beim-wareneingang" role="tab" aria-controls="beim-wareneingang" aria-selected="false">Beim Wareneingang</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="ein-lagerort" role="tabpanel" aria-labelledby="ein-lagerort-tab">
<div class="paragraph">
<p>Gehe wie folgt vor, um Etiketten manuell für einen bestimmten Lagerort zu generieren und auszudrucken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche</a> und öffne die Variante.</p>
</li>
<li>
<p>Klicke auf den Tab <strong>Lager</strong>.</p>
</li>
<li>
<p>Stelle sicher, dass du im Feld <strong>Lagerortvorschlag</strong> einen Lagerort ausgewählt hast.
Wurde kein Lagerort für eine Variante gewählt, wird der Standard-Lagerort stattdessen automatisch als Platzhalter-Lagerort verwendet.</p>
</li>
<li>
<p>Klicke auf das Etikettensymbol (<span class="icon blue"><i class="fa fa-barcode  "></i></span>) weiter rechts.<br>
→ Das Fenster <strong>Etiketten generieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib ein, wie viele Etiketten generiert werden sollen.</p>
</li>
<li>
<p>Wähle die Etikettenvorlage aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Etiketten generieren</strong>.<br>
→ Eine PDF-Datei mit der gewählten Anzahl der Etiketten wird generiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Wird auf deinen Etiketten immer nur den Standard-Lagerort angezeigt?<br>
<br>
<strong><em>Tipp 1</em></strong>: Möglicherweise hast du keinen Lagerort-Vorschlag für die Variante gespeichert.
Öffne die Variante und klicke auf den Tab <strong>Lager</strong>.
Stelle sicher, dass du im Feld <strong>Lagerortvorschlag</strong> einen Lagerort ausgewählt hast.
Wurde kein Lagerort für eine Variante gewählt, wird der Standard-Lagerort stattdessen automatisch als Platzhalter-Lagerort verwendet.<br>
<br>
<strong><em>Tipp 2</em></strong>: Möglicherweise hast du auf das falsche Etikettensymbol geklickt.
Klicke auf das Etikettensymbol <span class="icon blue"><i class="fa fa-barcode  "></i></span> weiter rechts im Tab <strong>Lager</strong>.
Klickst du stattdessen auf das Etikettensymbol in der obere Artikel-Symbolleiste, wird der Standard-Lagerort auf deinem Etikett fälschlicherweise angezeigt.
Denk daran, dass jede Variante an einem anderen Ort gelagert werden kann.
Mit anderen Worten, kann ein Artikel mehrere Lagerorte haben.
Wenn du also ein Etikett für den gesamten Artikel generierst, weiß plentymarkets nicht, welcher Lagerort vorgesehen ist, und verwendet stattdessen den Standard-Lagerort.
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="eine-variante" role="tabpanel" aria-labelledby="eine-variante-tab">
<div class="paragraph">
<p>Gehe wie folgt vor, um Etiketten manuell für eine bestimmte Variante zu generieren und auszudrucken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche</a> und öffne die Variante.</p>
</li>
<li>
<p>Klicke in der untere Symbolleiste auf das Etikettensymbol (<span class="icon blue"><i class="fa fa-barcode  "></i></span>).<br>
→ Das Fenster <strong>Etiketten generieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib ein, wie viele Etiketten generiert werden sollen.</p>
</li>
<li>
<p>Wähle die Etikettenvorlage aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Etiketten generieren</strong> (<span class="icon "><i class="psicon-execute"></i></span>).<br>
→ Eine PDF-Datei mit der gewählten Anzahl der Etiketten wird generiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Es ist auch möglich, Etiketten für alle Varianten eines Artikels zu generieren.
Klicke dazu in der obere Symbolleiste auf das Etikettensymbol <span class="icon blue"><i class="fa fa-barcode  "></i></span>.
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="alle-artikel-eines-auftrags" role="tabpanel" aria-labelledby="alle-artikel-eines-auftrags-tab">
<div class="paragraph">
<p>Sobald du eine <a href="/artikel/einstellungen/barcodes#900">Etikettenvorlage</a> fertig erstellt hast, wird eine weitere Option eingeblendet.
Verwende diese Option, um Etiketten für alle Artikel eines bestimmten Auftrags manuell zu generieren.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Etiketten</strong>.</p>
</li>
<li>
<p>Klappe eine existierende Vorlage auf (<span class="icon darkGrey"><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Gib die Auftrags-ID ein.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ Eine PDF-Datei mit Etiketten für die im Auftrag enthaltenen Artikel wird generiert.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="-ber-die-app" role="tabpanel" aria-labelledby="-ber-die-app-tab">
<div class="paragraph">
<p>Benutzt du die plentymarkets App?
Dann kannst du mit deinem mobilen Gerät nach <a href="/app/funktionen/artikelsuche#400">Artikeln suchen und Etiketten ausdrucken</a>.</p>
</div>
</div><div class="tab-pane fade" id="beim-wareneingang" role="tabpanel" aria-labelledby="beim-wareneingang-tab">
<div class="paragraph">
<p>Möchtest du Etiketten beim Wareneingang automatisch ausdrucken?
Dann erstelle <a href="/automatisierung/prozesse/prozesse-einrichten">einen plentymarkets-Prozess</a> und füge <a href="/automatisierung/prozesse/aktionen#150">die Aktion Artikeletikett</a> hinzu.</p>
</div>
</div></div>
</div>
</div>
</div>
</main>