<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Allgemeine Einstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> Einstellungen</span></a></li>
<li><a href="#120"><span>1.2.</span><span> Platzhalter</span></a></li>
<li><a href="#130"><span>1.3.</span><span> Attributbilder</span></a></li>
<li><a href="#140"><span>1.4.</span><span> Name</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Bild-Größen definieren</span></a></li>
<li><a href="#200"><span>3.</span><span> Bild-URLs personalisieren</span></a>
<ul class="sectlevel2">
<li><a href="#_eigene_cdn_domain_einrichten"><span>3.1.</span><span> Eigene CDN-Domain einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#300"><span>3.1.1.</span><span> Eine von plentymarkets gehostete Domain</span></a></li>
<li><a href="#400"><span>3.1.2.</span><span> Eine von einem externen Provider gehostete Domain</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#600"><span>4.</span><span> Bilder per FTP-Server hochladen</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>4.1.</span><span> Dateien richtig benennen</span></a></li>
<li><a href="#800"><span>4.2.</span><span> Bilder importieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelbilder</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Artikelbilder werden auf S3 gespeichert und über den CDN-Service CloudFront von AWS ausgeliefert.
CDN steht für Content Delivery Network und ermöglicht eine komplett skalierbare Auslieferung der Artikelbilder.
Dank CDN wird nur das Originalbild gespeichert.
Erst wenn ein Bild aufgerufen wird, wird das Bild in den definierten Dimensionen erstellt und im CDN-Cache von CloudFront gespeichert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Allgemeine Einstellungen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Bilder » Einstellungen</strong>.<br>
→ Das Menü ist in mehrere Bereiche unterteilt.</p>
</li>
<li>
<p>Nimm die Einstellungen in jedem Bereich vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="110">1.1. Einstellungen</h3>
<div class="paragraph">
<p>Dieser Bereich bezieht sich auf den Import und Export von Artikelbildern.</p>
</div>
<table id="table-image-settings-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für den Import und Export von Artikelbildern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbild-Position exportieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Positionsnummer aus der Dropdown-Liste.
Dies ist die Positionsnummer des Artikelbildes für den Bildexport, zum Beispiel für den Export zu einem Marktplatz.<br>
Die Position wird im Tab <a href="/artikel/artikel-verwalten#90">Bilder</a> des Artikels eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import von Bildern per FTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen bestehende Bilder gelöscht werden, bevor neue Bilder importiert werden?
Wähle deine Präferenz aus der Dropdown-Liste.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Importierte Bilder ergänzen</strong> = Neue Bilder werden importiert.
Vorhandene Bilder bleiben erhalten.</p>
</li>
<li>
<p><strong>Vorhandene Bilder vor Import löschen</strong> = Als erstes werden vorhandene Bilder gelöscht.
Als zweites werden neue Bilder importiert.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildernamen des FTP-Imports</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wirst du <a href="/artikel/einstellungen/bilder#600">Bilder mit einem FTP-Server hochladen</a>?
Dann müssen deine Bilddateinamen entweder die Artikel-ID oder die Varianten-Nummer enthalten.
Gib mit Hilfe der Dropdown-Liste an, welche Kennzeichnung die Bilddateinamen enthalten.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="120">1.2. Platzhalter</h3>
<div class="paragraph">
<p>Dieser Bereich bezieht sich auf Platzhalterbilder. Hat ein Artikel kein eigenes Bild, wird stattdessen das Platzhalterbild angezeigt.</p>
</div>
<table id="table-image-settings-placeholder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für Platzhalterbilder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platzhalterbild-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieses Platzhalterbild erscheint, wenn <em>Artikelbilder</em> nicht angezeigt werden können.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade dein gewünschtes Platzhalterbild im Menü <strong>CMS » Webspace</strong> hoch.</p>
</li>
<li>
<p>Gib dann die URL für das Platzhalterbild hier ein.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platzhaltervorschaubild-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieses Platzhalterbild erscheint, wenn <em>Vorschaubilder</em> nicht angezeigt werden können.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade dein gewünschtes Platzhalterbild im Menü <strong>CMS » Webspace</strong> hoch.</p>
</li>
<li>
<p>Gib dann die URL für das Platzhalterbild hier ein.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="130">1.3. Attributbilder</h3>
<div class="paragraph">
<p>Dieser Bereich bezieht sich auf <a href="/artikel/einstellungen/attribute#700">grafisch dargestellte Attributwerte</a>.
Zum Beispiel, wenn Kunden auf eine rote Bildkachel klicken sollen, um die Farbe Rot zu wählen.</p>
</div>
<table id="table-image-settings-attributeimages" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Einstellungen für Attributbilder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Max. Höhe in Pixeln</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die maximale Höhe der Bildkachel in Pixeln ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Max. Breite in Pixeln</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die maximale Breite der Bildkachel in Pixeln ein.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zusätzliche Einstellungen</div>
<div class="paragraph">
<p>Lade die benötigten Bilder hoch und gib an, dass die Attribute im Webshop grafisch dargestellt werden sollen.
Diese Einstellungen werden <a href="/artikel/einstellungen/attribute#700">hier</a> näher erläutert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">1.4. Name</h3>
<div class="paragraph">
<p>Dieser Bereich bezieht sich auf Bildnamen.
Konkret entscheidest du hier, welche Informationen die Bildnamen enthalten sollen.</p>
</div>
<table id="table-image-settings-name" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Einstellungen für Bildnamen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Originalname</strong>;<br>
<strong>Artikel-ID</strong>;<br>
<strong>Artikel-Nr.</strong>;<br>
<strong>Name 1</strong> - <strong>Name 3</strong>;<br>
<strong>Keywords</strong>;<br>
<strong>Model</strong>;<br>
<strong>Freitextfeld 1</strong> - <strong>Freitextfeld 20</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine Positionsnummer für jeden gewünschten Parameter.
Damit wird gleichzeitig festgelegt, welche Parameter der Bildname enthalten soll und welche dieser Parameter als erstes, zweites, drittes usw. angezeigt werden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Technische Spezifikationen</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Parameter werden im Bildnamen durch Bindestriche getrennt.</p>
</li>
<li>
<p>Die Angabe der <strong>Artikel-ID</strong> oder der <strong>Artikelnummer</strong> ist Pflicht.</p>
</li>
<li>
<p>Der Bildname ist auf eine Länge von 32 Zeichen beschränkt.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenes Präfix</strong>;<br>
<strong>Präfix</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Du bist nicht auf die oben aufgeführten Artikelparameter beschränkt.
Es ist auch möglich, ein eigenes Präfix einzugeben, das im Bildnamen eingefügt werden soll.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib dein eigenes Präfix in das Textfeld <strong>Präfix</strong> ein.</p>
</li>
<li>
<p>Wähle eine Positionsnummer aus der <strong>Eigenes Präfix</strong> Dropdown-Liste.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Bild-Größen definieren</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Bilder » Größen</strong>.
Das Menü ist in Bereiche für vier verschiedene Bildgrößen unterteilt:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>preview</strong> = Vorschaubild</p>
</li>
<li>
<p><strong>secondPreview</strong> = Zweites Vorschaubild</p>
</li>
<li>
<p><strong>middle</strong> = Bild in mittlerer Größe</p>
</li>
<li>
<p><strong>full</strong> = Bild in voller Größe</p>
</li>
</ol>
</div>
</li>
<li>
<p>Nimm die Einstellungen für jede Bildgröße vor. Beachte <a href="#table-image-sizes">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-image-sizes" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Bildgrößen festlegen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine interne Bezeichnung für diese Bildgröße ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ordnername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Ordnername für diese Bildgröße.
Der Ordnername ist nicht änderbar und ist Bestandteil der URL des Artikelbilds.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Höhe in Pixeln</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die maximale Höhe in Pixeln ein, in der Bilder dieser Größe ausgeliefert werden.
Überschreitet dein hinterlegtes Artikelbild diese Größe, wird das angezeigte Artikelbild nach unten skaliert.
Dabei wird das Seitenverhältnis beibehalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Breite in Pixeln</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die maximale Breite in Pixeln ein, in der Bilder dieser Größe ausgeliefert werden.
Überschreitet dein hinterlegtes Artikelbild diese Größe, wird das angezeigte Artikelbild nach unten skaliert.
Dabei wird das Seitenverhältnis beibehalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Max. Cache-Lebensdauer in Tagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lange sollen die erstellte Bilder im CloudFront-Cache gespeichert werden?
Gib eine Anzahl von Tagen ein.
Der Zeitpunkt gilt ab dem ersten Aufruf des Bildes in dieser Größe.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Drehen basierend auf dem EXIF Orientation Tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn du die Orientierung des Originalbildes (Bilddrehung um 90, 180, 270°) beibehalten möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Metadaten (EXIF, XMP, IPTC) vom Orginalbild übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn du die Metadaten des Originalbilds beibehalten möchtest.
Metadaten sind zum Beispiel Beschreibungstexte, Geodaten (GPS), Datum und Uhrzeit.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Besonders für Vorschaubilder kann es sinnvoll sein, die Metadaten nicht mit auszuliefern, um Ladezeit und Datenvolumen zu optimieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nicht vergrößern</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen Originalbilder vergrößert werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-square-o  "></i></span> = Wenn das Originalbild kleiner ist als die für diese Größe definierten maximale Dimensionen, wird das Bild auf diese Größe skaliert.</p>
</li>
<li>
<p><span class="icon blue"><i class="fa fa-check-square  "></i></span> = Das Originalbild wird nicht vergrößert.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>JPG</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Qualität in Prozent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Grad der JPG-Komprimierung als Prozent ein.
Eine Komprimierung verringert die Ladezeiten und trägt zu besseren Pagespeed-Werten bei.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Eine Komprimierung von 80&nbsp;% führt in der Regel zu keinem sichtbaren Qualitätsverlust.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progressiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen Bilder in dieser Größe sofort beim Aufrufen der Seite angezeigt werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon blue"><i class="fa fa-check-square  "></i></span> = Beim Aufrufen der Seite ist das Bild sofort in geringer Auflösung verfügbar. Die Qualität des Bildes wird während des Seitenaufbaus nach und nach verbessert.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>PNG</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Komprimierungslevel (0-9)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zahl zwischen 0 und 9 ein. Dies ist die Komprimierungsstufe, die für PNG-Dateien verwendet wird.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>0</strong> = Geringste Komprimierung</p>
</li>
<li>
<p><strong>9</strong> = Höchste Komprimierung</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>PNG ist ein verlustfreies Format. Deshalb werden Bilder im PNG-Format immer in derselben Qualität dargestellt. Bei einem höheren Komprimierungslevel benötigt der Browser aber mehr Zeit, um die Komprimierung des Bildes wiederherzustellen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progressiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen Bilder in dieser Größe sofort beim Aufrufen der Seite angezeigt werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon blue"><i class="fa fa-check-square  "></i></span> = Beim Aufrufen der Seite ist das Bild sofort in geringer Auflösung verfügbar. Die Qualität des Bildes wird während des Seitenaufbaus nach und nach verbessert.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">CDN-Cache invalidieren</div>
<div class="paragraph">
<p>Wenn du im Menü <strong>Einrichtung » Artikel » Bilder » Größen</strong> Änderungen vornimmst, kann es sein, dass die Bilder noch immer mit den alten Einstellungen angezeigt werden, da sich die Änderungen im Cache befinden.
Klicke in diesem Fall auf <span class="icon orange"><i class="fa fa-undo  "></i></span> <strong>CDN-Cache invalidieren</strong>, um die Änderungen schneller anzuzeigen.
Die Cache-Invalidierung erfolgt durch CloudFront.
Nachdem du den Cache invalidierst wird jede Bildgröße neu erstellt, wenn das Bild zum ersten Mal wieder aufgerufen wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Bild-URLs personalisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bild-URLs enthalten standardmäßig den Domain-Namen <code>plentymarkets.com</code>.
Es ist aber möglich, stattdessen eine eigene Domain und Subdomain zu verwenden.
<a href="#table-domain-image-URLs">Tabelle 6</a> vergleicht die Standard-CDN-Domain und eine eigene CDN-Domain.</p>
</div>
<table id="table-domain-image-URLs" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Standard-Domain vs. eigene Domain</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Bild-URL mit Standard-Domain</th>
<th class="tableblock halign-left valign-top">Bild-URL mit eigener Domain</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL-Muster</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die URL von Artikelbildern setzt sich wie folgt zusammen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Subdomain <code>CDN1</code>, <code>CDN2</code> oder <code>CDN3</code></p>
</li>
<li>
<p>Domain <code>plentymarkets.com</code></p>
</li>
<li>
<p>Kunden-Hash</p>
</li>
<li>
<p>Dateipfad <code>item/images</code></p>
</li>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Ordnername der Bildgröße</p>
</li>
<li>
<p>Name der Bilddatei mit Dateierweiterung</p>
</li>
</ol>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Statt der Standard-Domain wird die eigene Domain angegeben. Der Kunden-Hash wird nicht in der URL angezeigt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Eigene Subdomain</p>
</li>
<li>
<p>Domain des Mandanten</p>
</li>
<li>
<p>Dateipfad <code>item/images</code></p>
</li>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Ordnername der Bildgröße</p>
</li>
<li>
<p>Name der Bilddatei mit Dateierweiterung</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beispiel-URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>https://<strong>cdn01.plentymarkets.com/1abcd2e3fghi</strong>/item/images/118/full/118-Relaxsessel-Rio.jpg</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>https://<strong>deinesubdomain.deinshop.de</strong>/item/images/118/full/118-Relaxsessel-Rio.jpg</code></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einschränkungen</div>
<div class="ulist">
<ul>
<li>
<p>Eine eigene Subdomain kann nur für die Hauptdomain gespeichert werden.</p>
</li>
<li>
<p>Pro Mandant kann nur eine eigene Subdomain gespeichert werden.</p>
</li>
<li>
<p>Die Subdomain darf nicht www enthalten.</p>
</li>
<li>
<p>Die Subdomain darf nicht im Domain-Assistenten vorhanden sein.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_eigene_cdn_domain_einrichten">3.1. Eigene CDN-Domain einrichten</h3>
<div class="paragraph">
<p>Wer hostet deine Domain? Wie du vorgehst, hängt davon ab, ob deine Domain von <a href="/artikel/einstellungen/bilder#300">plentymarkets</a> oder von einem <a href="/artikel/einstellungen/bilder#400">externen Provider</a> gehostet wird.</p>
</div>
<div class="sect3">
<h4 id="300">3.1.1. Eine von plentymarkets gehostete Domain</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant öffnen » CDN-Domains</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Das Fenster <strong>Neue Domain</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-plenty-domain">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Subdomain wird erstellt.<br>
→ Für die Subdomain wird ein eigenes SSL-Zertifikat erstellt.<br>
→ Für die Subdomain wird ein DNS-Eintrag erstellt.<br>
→ Eine CloudFront-Instanz wird erstellt.<br>
<strong><em>Hinweis</em></strong>: Dieser Vorgang kann mehrere Stunden dauern. Erst wenn in den Spalten <strong>SSL</strong>, <strong>DNS</strong> und <strong>Cloud-Status</strong> grüne Häkchen angezeigt werden, ist der Vorgang abgeschlossen.</p>
</li>
<li>
<p>Wenn alle drei Häkchen angezeigt werden, klicke in der Spalte <strong>Status</strong> auf <strong>Aktivieren</strong>.<br>
→ Die Domain wird aktiviert.</p>
</li>
</ol>
</div>
<table id="table-plenty-domain" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Subdomain für Bilder-URLs festlegen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Typ der Subdomain aus der Dropdown-Liste.
Aktuell ist nur der Typ <strong>CDN1</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subdomain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die eigene Subdomain ein.
Gültige Zeichen sind Buchstaben (a-z, A-Z), Ziffern (0-9), Unterstrich (_) und Bindestrich (-).
Das erste Zeichen der Subdomain muss entweder ein Buchstabe oder eine Ziffer sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Domain aus der Dropdown-Liste.
Aktuell ist nur die Hauptdomain des Mandanten wählbar.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nach Erstellen der Subdomain die Domain aktivieren</div>
<div class="paragraph">
<p>Das Erstellen der Subdomain kann mehrere Stunden dauern.
Erst wenn in allen drei Spalten <strong>SSL</strong>, <strong>DNS</strong> und <strong>Cloud-Status</strong> Häkchen angezeigt werden, ist der Vorgang abgeschlossen und die Domain kann aktiviert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="400">3.1.2. Eine von einem externen Provider gehostete Domain</h4>
<div class="paragraph">
<p>Wenn deine Domain von einem externen Provider gehostet wird, dann erzeugst du zuerst DNS-Einträge in plentymarkets.
Danach speicherst du diese DNS-Einträge innerhalb von 72 Stunden bei deinem Domain-Provider.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DNS-Einträge müssen innerhalb von 72 Stunden beim Provider hinterlegt werden</div>
<div class="paragraph">
<p>Die in plentymarkets erstellten DNS-Einträge müssen innerhalb von 72 Stunden beim Domain-Provider hinterlegt werden.
Andernfalls werden die DNS-Einträge nach Ablauf der Frist ungültig.</p>
</div>
<div class="paragraph">
<p>Wenn du eine CDN-Domain erstellst, aber die DNS-Angaben nicht rechtzeitig beim Provider speicherst, dann fehlt im Backend eines der drei Häkchen und die Domain kann somit nicht aktiviert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist DNS?</div>
<div class="paragraph">
<p>DNS steht für Domain Name System. Dieses System sorgt dafür, dass nicht die numerische IP-Adresse deines Webshops eingegeben werden muss, sondern auch der Domain-Name der richtigen IP-Adresse zugeordnet wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Eigene Domain für Bild-URLs speichern bei externer Domain:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant öffnen » CDN-Domains</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Das Fenster <strong>Neue Domain</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-external-domain">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Für die Subdomain wird ein DNS-Eintrag erstellt.</p>
</li>
<li>
<p>Klicke in der Zeile des Domain-Eintrags auf <strong>DNS-Infos</strong>.<br>
→ Das Fenster <strong>DNS-Infos</strong> wird geöffnet.<br>
→ Die DNS-Einstellungen werden angezeigt.</p>
</li>
<li>
<p>Log dich in den Service-Bereich deines Domain-Providers ein.</p>
</li>
<li>
<p>Kopiere die in plentymarkets angezeigten DNS-Einstellungen in die dafür vorgesehenen Felder des Domain-Providers.<br>
→ Informationen zur Vorgehensweise findest du in der Dokumentation des Domain-Providers.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Für die Subdomain wird ein eigenes SSL-Zertifikat erstellt.<br>
→ Eine CloudFront-Instanz wird erstellt.<br>
→ Die DNS-Einstellungen werden aktualisiert.</p>
</li>
<li>
<p>Werden im Menü <strong>Einrichtung » Mandant » Mandant öffnen » CDN-Domains</strong> grüne Häkchen in den Spalten <strong>SSL</strong>, <strong>DNS</strong> und <strong>Cloud-Status</strong> angezeigt? Dann ist der Vorgang abgeschlossen.
Wenn alle drei Häkchen angezeigt werden, klicke in der Spalte <strong>Status</strong> auf <strong>Aktivieren</strong>.<br>
→ Die Domain wird aktiviert.</p>
</li>
</ol>
</div>
<table id="table-external-domain" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Subdomain für Bilder-URLs festlegen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Typ der Subdomain aus der Dropdown-Liste.
Aktuell ist nur der Typ <strong>CDN1</strong> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subdomain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die eigene Subdomain ein.
Gültige Zeichen sind Buchstaben (a-z, A-Z), Ziffern (0-9), Unterstrich (_) und Bindestrich (-).
Das erste Zeichen der Subdomain muss entweder ein Buchstabe oder eine Ziffer sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Domain aus der Dropdown-Liste.
Aktuell ist nur die Hauptdomain des Mandanten wählbar.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. Bilder per FTP-Server hochladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jedes plentymarkets System hat einen eigenen <a href="/daten/ftpz-zugang">FTP-Server</a>.
Auf diesem FTP-Server liegt der Ordner <code>upload_article_image_XXXX</code> (XXXX = plentyID), in den du Artikelbilder laden kannst.
Der Ordner wird alle 60 Minuten auf Änderungen geprüft.
Neue, korrekt benannte Bilder werden automatisch den richtigen Artikeln zugeordnet.
Zum Hochladen von Dateien benötigst du ein FTP-Programm und deine FTP-Zugangsdaten.</p>
</div>
<div class="sect2">
<h3 id="700">4.1. Dateien richtig benennen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Bilder » Einstellungen</strong>.</p>
</li>
<li>
<p>Lege mit der Option <a href="/artikel/einstellungen/bilder#110">Bildernamen des FTP-Imports</a> fest, ob die Dateinamen die Artikel-ID oder die Varianten-Nummer enthalten.</p>
</li>
<li>
<p>Benenne die Dateien, abhängig von dieser Einstellung, entweder mit der Artikel-ID oder mit der Varianten-Nummer.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zulässige Zeichen für Dateinamen</div>
<div class="paragraph">
<p>Die Dateinamen von Bildern dürfen folgende Zeichen enthalten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Buchstaben (a-z, A-Z) ohne Umlaute</p>
</li>
<li>
<p>Zahlen (0-9)</p>
</li>
<li>
<p>Unterstriche (_)</p>
</li>
<li>
<p>Bindestriche (-)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Leerzeichen und andere Sonderzeichen sind nicht zulässig. Beim Hochladen der Bilddatei werden Leerzeichen und Sonderzeichen durch Bindestriche (-) ersetzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Bilder pro Artikel</div>
<div class="paragraph">
<p>Du kannst bis zu 100 Bilder pro Artikel hochladen.
Nummeriere deine Bilddateien wie folgt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Artikel-ID oder Varianten-Nummer</p>
</li>
<li>
<p>Drei Bindestriche <strong>---</strong></p>
</li>
<li>
<p>Nummerierung von 0 bis 99</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_beispiele" class="discrete">Beispiele</h4>
<div class="paragraph">
<p>Du möchtest Bilder für einen Artikel mit der Artikel-ID 4562 und der Variantennummer AQ3957 hochladen.</p>
</div>
<table id="table-ftp-compliant-naming" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Beispiele für FTP-konforme Benennung von Artikelbildern</caption>
<colgroup>
<col style="width: 42.8571%;">
<col style="width: 28.5714%;">
<col style="width: 28.5715%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Benennung 1 Bild pro Artikel</th>
<th class="tableblock halign-left valign-top">Benennung mehr als 1 Bild pro Artikel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildernamen des FTP-Imports</strong> = <strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>4562.jpg</p>
</li>
<li>
<p>4562.png</p>
</li>
<li>
<p>4562.gif</p>
</li>
<li>
<p>4562.svg</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>4652---0.jpg</p>
</li>
<li>
<p>4652---1.jpg</p>
</li>
<li>
<p>4652---2.gif</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildernamen des FTP-Imports</strong> = <strong>Varianten-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>AQ3957.jpg</p>
</li>
<li>
<p>AQ3957.png</p>
</li>
<li>
<p>AQ3957.gif</p>
</li>
<li>
<p>AQ3957.svg</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>AQ3957---0.png</p>
</li>
<li>
<p>AQ3957---19.png</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">4.2. Bilder importieren</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Kopiere die Artikelbilder, die du hochladen möchtest, in einen Ordner auf deiner Festplatte.</p>
</li>
<li>
<p>Prüfe die <a href="/artikel/einstellungen/bilder#700">Namen der Bildateien</a> und passe diese Namen wenn nötig an.</p>
</li>
<li>
<p>Wähle in deinem FTP-Programm den Zielordner <code>upload_article_image_XXXX</code> (XXXX = plentyID).</p>
</li>
<li>
<p>Wähle im Upload-Bereich des FTP-Programms die Dateien.</p>
</li>
<li>
<p>Starte den Upload.<br>
→ Die Bilder werden den Artikeln zugeordnet und nach maximal 60 Minuten im Webshop angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Upload-Zeit berücksichtigen</div>
<div class="paragraph">
<p>Pro Durchlauf werden 200 Bilder oder bei eigenem Server 2000 Bilder verarbeitet. Daher kann der Upload je nach Datenmenge bis zu mehrere Stunden dauern, auch wenn du einen leistungsfähigen Rechner und eine schnelle Datenverbindung hast. Plane daher den Dateien-Upload so, dass du dadurch nicht in deinem Tagesgeschäft eingeschränkt wirst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>