<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Merkmale</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Merkmalgruppen erstellen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Merkmale erstellen</span></a></li>
<li><a href="#350"><span>1.3.</span><span> Merkmale mit Artikeln verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Eigenschaften</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Eigenschaft erstellen</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Eigenschaft bearbeiten</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Eigenschaft suchen</span></a></li>
<li><a href="#900"><span>2.4.</span><span> Eigenschaft löschen</span></a>
<ul class="sectlevel3">
<li><a href="#1000"><span>2.4.1.</span><span> Eine Eigenschaft löschen</span></a></li>
<li><a href="#1100"><span>2.4.2.</span><span> Mehrere Eigenschaften löschen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>2.5.</span><span> Eigenschaften gruppieren</span></a>
<ul class="sectlevel3">
<li><a href="#1300"><span>2.5.1.</span><span> Eigenschaft einer Gruppe zuordnen</span></a></li>
<li><a href="#1400"><span>2.5.2.</span><span> Eigenschaftsgruppen löschen</span></a>
<ul class="sectlevel4">
<li><a href="#1500"><span>Eine Eigenschaftsgruppe löschen</span></a></li>
<li><a href="#1600"><span>Mehrere Eigenschaftsgruppen löschen</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Merkmale und Eigenschaften</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Manche Artikel stechen aus der Masse heraus. Sei es eine Uhr, die wasserdicht ist, oder ein Lautsprecher, der mit Bluetooth ausgestattet ist.</p>
</div>
<div class="paragraph">
<p>Solche Charakteristiken werden in plentymarkets als Merkmale und Eigenschaften bezeichnet. Der Unterschied besteht darin, dass <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a> <em>spezifische Varianten</em> charakterisieren, während <a href="/artikel/einstellungen/eigenschaften#100">Merkmale</a> <em>ganze Artikel</em> charakterisieren.</p>
</div>
<div class="paragraph">
<p>Mit Hilfe von Merkmalen und Eigenschaften kannst du z.B.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die technischen Features eines Produkts hervorheben.</p>
</li>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten#80">Webshop-Filter einrichten</a>, die Kunden helfen, ihre Suchergebnisse einzugrenzen.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel">personalisierte Artikel</a> zum Verkauf anbieten.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Andere Möglichkeiten der Produktcharakterisierung</div>
<div class="paragraph">
<p>Möchtest du deine Produkte charakterisieren und gleichzeitig auch <a href="/artikel/einleitung/struktur">verkaufbare Varianten</a> erzeugen, wie z.B. ein T-Shirt in der Farbe rot und in Größe S? Dies ist mit Hilfe von <a href="/artikel/einstellungen/attribute">Attributen</a> möglich!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Merkmale</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Merkmale sind <em>passive Charakteristiken</em> eines Artikels. Das heißt, dass sie nicht an den Warenbestand gekoppelt sind.
Über Merkmale lassen sich Features des Artikels abbilden, zum Beispiel technische Details wie Bluetooth oder WLAN.
Solche Details können auch wiederum <a href="/artikel/frontend-artikelsuche-verwalten#80">in Filter umgewandelt werden</a>, damit Kunden ihre Suchergebnisse im Webshop eingrenzen können.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/filter.png" alt="filter">
</div>
</div>
<div class="paragraph">
<p>Mit Hilfe von sogenannten <em>Bestellmerkmalen</em> kannst du <a href="/artikel/anwendungsfaelle/personalisierte-artikel">personalisierte Artikel</a> auch zum Verkauf anbieten.
Beispielsweise Serviceleistungen gegen Aufpreis oder Zusatzwünsche bei der Bestellung.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist der Unterschied zwischen Merkmalen und Eigenschaften?</div>
<div class="paragraph">
<p>Merkmale werden mit Artikeln verknüpft. Daher gelten Merkmale für alle Varianten des Artikels. Merkmale sind veraltet und werden schrittweise durch <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a> ersetzt. Eigenschaften werden mit Varianten verknüpft und bieten daher mehr Flexibilität.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Merkmalgruppen erstellen</h3>
<div class="paragraph">
<p>Es gibt zwei typische Anwendungsfälle für Merkmalgruppen. Einerseits, wenn du viele Merkmale hast, dann kannst du sie gruppieren und somit leichter den Überblick in deinem plentymarkets-Backend behalten.</p>
</div>
<div class="paragraph">
<p>Andererseits kommen Merkmalgruppen zum Einsatz, wenn du <a href="/artikel/anwendungsfaelle/personalisierte-artikel">personalisierte Artikel</a> in deinem Webshop verkaufst.
Mithilfe von Merkmalgruppen kannst du angebotene Optionen oder Dienstleistungen unter einer Rubrik zusammenfassen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: Mögliche Verzierungen gruppieren</div>
<div class="paragraph">
<p>Stell dir zum Beispiel vor, du verkaufst Trauringe. Deine Kunden können gegen Aufpreis einen optionalen Gold- oder Diamantbesatz wählen.
Um diese Optionen übersichtlich darzustellen, legst du eine Merkmalgruppe namens "Verzierungen" an.
Innerhalb dieser Gruppe können Kunden die Optionen "Goldrand" oder "Diamantenrand" wählen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Neue Merkmalgruppe erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neue Merkmalgruppe</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-create-characteristic-groups">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-characteristic-groups" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Neue Merkmalgruppe erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (intern)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen internen Namen für die Merkmalgruppe ein. Dieser Name ist nur im plentymarkets Backend sichtbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in der Übersicht im Tab <strong>Merkmalgruppen</strong> in diesem Menü</p>
</li>
<li>
<p>im <a href="/artikel/artikel-verwalten#80">Tab <strong>Merkmale</strong> eines Artikels</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ist dein Webshop in mehreren Sprachen verfügbar? Dann wähle eine Sprachversion aus der Dropdown-Liste.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für die Merkmalgruppe in der gewählten Sprache ein. Der Name wird für Kunden im Webshop sichtbar sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Beschreibung für die Merkmalgruppe in der gewählten Sprache ein.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufpreise</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hast du vor, Zusatzoptionen oder Dienstleistungen gegen Aufpreis anzubieten?
Falls ja, dann wähle, ob der Aufpreis als Prozentsatz oder als Festbetrag behandelt werden soll, z.B. 5% oder 5 EUR.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppierung von Bestellmerkmalen (Typ: "Kein")</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie viele Zusatzoptionen oder Dienstleistungen sollen Kunden aus der Gruppe wählen können?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Einfachauswahl</strong> = Kunden sehen eine Dropdown-Liste. Sie können <em>nur eine Option</em> auswählen.</p>
</li>
<li>
<p><strong>Mehrfachauswahl</strong> = Kunden sehen Checkboxen. Sie können <em>mehrere Optionen</em> ankreuzen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Option gilt nur für <a href="/artikel/einstellungen/eigenschaften#300">Bestellmerkmale vom Merkmaltyp <strong>Kein</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO-Merkmalgruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Verknüpfe bei Bedarf eine Merkmalgruppe mit OTTO, um alle Merkmale dieser Gruppe an OTTO zu übertragen. Alle Merkmale werden in einen <a href="https://forum.plentymarkets.com/t/otto-handbuchseite/7555">SellingPoint</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> gruppiert.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Keine</strong> = Keine Verknüpfung mit OTTO.</p>
</li>
<li>
<p><strong>SellingPoint mit Gruppennamen</strong> = Verknüpfung mit OTTO. Der Name der Gruppe wird übertragen.</p>
</li>
<li>
<p><strong>SellingPoint ohne Gruppennamen</strong> = Verknüpfung mit OTTO. Der Name der Gruppe wird nicht übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Merkmale erstellen</h3>
<div class="paragraph">
<p>Erstelle zunächst Merkmale, um deine Produkte zu charakterisieren.
Zum Beispiel, um technische Details wie Bluetooth oder WLAN anzugeben. Oder um Zusatzoptionen und Dienstleistungen gegen Aufpreis anzubieten.</p>
</div>
<div class="paragraph instruction">
<p>Neues Merkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-create-characteristic">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-characteristic" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Neues Merkmal erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (intern)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen internen Namen für das Merkmal ein. Dieser Name ist nur im plentymarkets Backend sichtbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in der Übersicht im Tab <strong>Merkmale</strong> in diesem Menü</p>
</li>
<li>
<p>im <a href="/artikel/artikel-verwalten#80">Tab <strong>Merkmale</strong> eines Artikels</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist dein Webshop in mehreren Sprachen verfügbar? Dann wähle eine Sprachversion aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für das Merkmal in der gewählten Sprache ein. Der Name wird für Kunden im Webshop sichtbar sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Beschreibung für das Merkmal in der gewählten Sprache ein.
Die Beschreibung wird angezeigt, wenn du mit dem Mauszeiger auf das Merkmal zeigst.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einheit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Handelt es sich bei dem Merkmal um etwas wie ein Gewicht oder eine Länge, z.B. HDMI-Kabeln, die über 10 m lang sind? Falls ja, dann wähle die passende <a href="/artikel/einstellungen/einheiten">Einheit</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merkmalgruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll dieses Merkmal in eine bestimmte <a href="/artikel/einstellungen/eigenschaften#200">Gruppe</a> eingeordnet werden? Falls ja, dann wähle die Gruppe hier aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste enthält nur <a href="/artikel/einstellungen/eigenschaften#200">Merkmalgruppen, die bereits angelegt wurden</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="merkmaltyp">Merkmaltyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Merkmal möchtest du anlegen? Wähle diesen Merkmaltyp aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Sobald du das <a href="/artikel/einstellungen/eigenschaften#350">Merkmal mit einem Artikel verknüpfst</a>, kannst du den Typ nicht mehr ändern.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Wofür ist der Typ geeignet?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kein</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kunden sehen nur den Namen des Merkmals im Webshop.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eignet sich, z.B. um die technischen Besonderheiten eines Artikels hervorzuheben.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/eigenschaften#bestellmerkmal">Als Bestellmerkmal</a>: Eignet sich, z.B. um Kunden <a href="/artikel/anwendungsfaelle/personalisierte-artikel#200">zusätzliche Optionen und Dienstleistungen</a> während des Bestellvorgangs anzubieten.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ganze Zahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ermöglicht die Eingabe einer ganzen Zahl zwischen -2.147.483.648 und 2.147.483.647.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eignet sich, z.B. um ein Gewicht oder eine Länge anzugeben. Beispielsweise HDMI-Kabeln, die über 10 m lang sind.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommazahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ermöglicht die Eingabe einer Zahl mit Kommastellen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigent sich, z.B. um Maßangaben im Webshop anzuzeigen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/artikel/einstellungen/eigenschaften#bestellmerkmal">Als Bestellmerkmal</a>: Ermöglicht es Kunden, z.B. <a href="/artikel/anwendungsfaelle/personalisierte-artikel#100">einen persönlichen Text einzugeben</a>, der auf ein T-Shirt gedruckt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/artikel/einstellungen/eigenschaften#bestellmerkmal">Als Bestellmerkmal</a>: Ermöglicht es Kunden zu wählen, z.B. ob ihr persönlicher Text in roter, blauer oder schwarzer Schriftfarbe gedruckt werden soll.</p>
</div>
<div class="paragraph">
<p>Wenn du diesen Typ wählst, öffnen sich weitere Optionen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib einen Namen und eine Beschreibung für die erste Auswahlmöglichkeit ein, z.B. rote Schrift.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) das Merkmal.</p>
</li>
<li>
<p>Scrolle im Fenster nach unten und gib einen Namen und eine Beschreibung für die zweite Auswahlmöglichkeit ein, z.B. blaue Schrift.</p>
</li>
<li>
<p>Wiederhole den Vorgang, bis du alle möglichen Optionen erstellt hast.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/artikel/einstellungen/eigenschaften#bestellmerkmal">Als Bestellmerkmal</a>: Ermöglicht es Kunden, z.B. <a href="/artikel/anwendungsfaelle/personalisierte-artikel#100">ein eigenes Bild hochzuladen</a>, das auf ein T-Shirt gedruckt werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Willst du dieses Merkmal gegen einen Aufpreis anbieten?
Aufpreise werden zum Beispiel erhoben für:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>zusätzliche Optionen oder Dienstleistungen, die Kunden bei der Bestellung wählen können.</p>
</li>
<li>
<p>Pfandbeträge auf Glasflaschen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn für das Merkmal ein Aufpreis berechnet werden soll, dann gib den Wert hier ein. Aufpreise werden im Webshop in der Artikelansicht und im Bestellvorgang automatisch zum Artikelpreis hinzu addiert. Standardmäßig ist 0,00 eingestellt und kein Aufpreis wird berechnet.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Als Zusatzkosten darstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviere diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn <em>keine Mehrwertsteuer</em> auf den eingegebenen Aufpreis berechnet werden soll.</p>
</div>
<div class="paragraph">
<p>Eine mögliche Anwendung ist z.B. die Darstellung von Pfandbeträgen, bei denen keine Mehrwertsteuer angewendet wird. In Rechnungen etc. erscheinen Merkmale, bei denen diese Option gewählt wurde, als eigene Position mit der ID -2.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Merkmal soll als erstes, zweites, drittes, usw. angezeigt werden? Gib eine Positionsnummer in dieses Feld ein. Wenn ein Artikel mehrere Merkmale hat, werden die Merkmale aufsteigend nach Positionsnummern in deinem Webshop dargestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchsuchbar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option bezieht sich auf den alten Shopware-Connector und ist in den meisten Fällen nicht mehr relevant. Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn das Merkmal durch den alten Shopware-Connector gefunden werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wo soll das Merkmal angezeigt werden? Wähle die Bereiche (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wo deine Kunden das Merkmal und (sofern vorhanden) seinen Aufpreis sehen sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="bestellmerkmal">Bestellmerkmal</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Markiere dieses Feld (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn Kunden die Möglichkeit haben sollen, <a href="/artikel/anwendungsfaelle/personalisierte-artikel">ihre Bestellung zu personalisieren</a>. Zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>durch die Eingabe eines persönlichen Gravurtextes.</p>
</li>
<li>
<p>durch die Auswahl zusätzlicher Serviceleistungen gegen Aufpreis.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wie Kunden ihre Bestellungen genau personalisieren können, hängt davon ab, welchen <a href="/artikel/einstellungen/eigenschaften#merkmaltyp">Merkmaltyp</a> du gewählt hast.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notiz</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Notiz eingeben, um zum Beispiel besondere Hinweise zum Merkmal anzuzeigen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmalverknüpfung zu Marktplätzen und Preisportalen</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Marktplatz-Merkmal aus der Dropdown-Liste wählen, um das Merkmal mit einem <a href="/maerkte/amazon/amazon-einrichten#1400">Merkmal auf einem Marktplatz wie Amazon</a> zu verknüpfen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="350">1.3. Merkmale mit Artikeln verknüpfen</h3>
<div class="paragraph">
<p>Hast du deine <a href="/artikel/einstellungen/eigenschaften#300">Merkmale erstellt</a> und sie <a href="/artikel/einstellungen/eigenschaften#200">in Gruppen einsortiert</a>? Dann bist du jetzt bereit, deine Merkmale mit Artikeln zu verknüpfen.</p>
</div>
<div class="paragraph">
<p>Wenn du zum Beispiel ein Merkmal namens "Bluetooth" erstellt hast, dann würdest du als nächstes angeben, welche deiner Produkte mit Bluetooth ausgestattet sind.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal mit einem Artikel verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>. Der Bildschirm ist in zwei Bereiche unterteilt:</p>
<div class="ulist">
<ul>
<li>
<p>Merkmale, die bereits mit dem Artikel verknüpft sind, werden im oberen Bereich <strong>Merkmale</strong> aufgelistet.</p>
</li>
<li>
<p>Merkmale, die noch nicht verknüpft sind, werden im unteren Bereich <strong>Weitere Merkmale aktivieren</strong> aufgelistet. Die Merkmale sind hier in ihre Gruppen sortiert.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klappe ggf. die Merkmalgruppe im unteren Bereich auf (<span class="icon grey"><i class="fa fa-plus-square-o  "></i></span>) und wähle das Merkmal aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Merkmal ist nun mit dem Artikel verknüpft und im oberen Bereich angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Merkmal mit mehreren Artikeln verknüpfen</div>
<div class="paragraph">
<p>Verwende die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#200">Artikel-Gruppenfunktion</a>, wenn du mehrere Artikel gleichzeitig verknüpfen möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_zusätzliche_informationen_speichern" class="discrete">Zusätzliche Informationen speichern</h4>
<div class="paragraph">
<p>Je nach Anwendungsfall kann es nötig sein, zusätzliche Informationen zu speichern. Handelt es sich bei dem Merkmal z.B. um ein Gewicht oder eine Länge, dann muss der numerische Wert noch eingegeben werden.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Nimm die weitere Einstellungen im Tab <strong>Merkmale</strong> vor. Beachte <a href="#table-link-characteristic">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-link-characteristic" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Informationen zum Merkmal</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier siehst du den Namen des Merkmals und ggf. die Gruppe, in die das Merkmal einsortiert wurde.
Dies ist rein informativ und kann hier nicht geändert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier siehst du den Merkmaltyp.
Dies ist rein informativ und kann hier nicht geändert werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Je nach Merkmaltyp wirst du unterschiedlich mit der Spalte <strong>Standardsprache</strong> und der Dropdown-Liste der Sprachkürzel interagieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardsprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie du mit dieser Spalte interagierst, hängt vom Merkmaltyp ab.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Interaktion</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Leer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Keine weitere Bearbeitung nötig.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer<br>
Kommazahl</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den numerischen Wert hier ein, z.B. das Gewicht oder die Länge.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle die passende Sprache aus der Dropdown-Liste in der nächsten Spalte aus. Gib den Text in dieser Sprache ein. Speichere die Änderungen und wiederhole den Vorgang ggf. für weitere Sprachen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahl</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle die passende Option.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datei</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lade die passende Datei hoch.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">(Bestellmerkmal)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mit Bestellmerkmalen können deine Kunden ihre Artikel personalisieren, z.B. einen Text oder eine Nummer eingeben, eine Option wählen, eine Datei hochladen.
Daher musst du, als Verkäufer, dieses Feld nicht weiter bearbeiten. Stattdessen werden deine Kunden beim Kauf des Artikels in deinem Webshop eine Angabe machen.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-Selling</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um <a href="/artikel/webshop/cross-selling">Cross-Selling</a> zwischen diesem Artikel und anderen Artikeln mit dem gleichen Merkmal und Merkmalwert zu ermöglichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möglicherweise hast du bereits <a href="/artikel/einstellungen/eigenschaften#300">beim Erstellen des Merkmals</a> einen Aufpreis gespeichert.
Was aber tun, wenn nicht für jeden Artikel derselbe Zuschlag angemessen ist?
Gib hier einen anderen Aufpreis ein, um den für das Merkmal gespeicherten Aufpreis zu überschreiben.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Das Eingabefeld erscheint <em>nur bei Bestellmerkmalen</em>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zusätzliche Informationen für mehrere Artikel ändern</div>
<div class="paragraph">
<p>Verwende die Gruppenfunktion im Menü <strong>Einrichtung » Artikel » Merkmale » Tab: Gruppen-Funktion</strong>, wenn du diese Informationen für mehrere Artikel gleichzeitig bearbeiten möchtest.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle die Sprache des Merkmals.</p>
</li>
<li>
<p><strong>Auswahl des Merkmals</strong>: Wähle das Merkmal, das du bearbeiten willst.</p>
</li>
<li>
<p><strong>Zu ändernder Wert</strong>: Gib den alten Merkmalwert ein.</p>
</li>
<li>
<p><strong>Neuen Wert</strong>: Gib den neuen Merkmalwert ein.</p>
</li>
<li>
<p>Beim Speichern wird der Merkmalwert für alle Artikel mit diesem Wert geändert.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Eigenschaften</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eigenschaften werden für die nähere Charakterisierung von Varianten, Kontakte oder Lagerorte genutzt. Mit Eigenschaften kannst du zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>technische Details einer Variante wie Bluetooth oder WLAN abbilden</p>
</li>
<li>
<p>bestimmen, welche Lagerorte für <a href="#550">Kühlware oder andere Produktgruppen</a> geeignet sind</p>
</li>
<li>
<p>Felder einbinden, in die Kunden bei der Bestellung Zusatzwünsche eingeben können</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eigenschaften werden zentral im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> <a href="#600">erstellt</a> und anschließend mit <a href="/artikel/artikel-verwalten#4800">Varianten</a>, <a href="/crm/kontakte-verwalten">Kontakte</a> oder <a href="/warenwirtschaft/lager-einrichten#500">Lagerorte</a> verknüpft.</p>
</div>
<div class="paragraph">
<p>Eigenschaften des Bereichs <strong>Artikel</strong> werden mit Varianten verknüpft. Eigenschaften unterscheiden sich also von den <a href="#100">Merkmalen</a>, die auf der Artikelebene verknüpft werden. Du kannst bis zu 500 Varianteneigenschaften erstellen und mit Varianten verknüpfen.</p>
</div>
<div class="paragraph">
<p>Im Gegensatz zu <a href="/artikel/einstellungen/attribute">Attributen</a> sind die Eigenschaften passiv. Eigenschaften dienen also nicht dazu, Varianten zu erstellen. Eigenschaften sind nicht an den Warenbestand gekoppelt und in der Artikelansicht im Webshop nicht wählbar.</p>
</div>
<div class="paragraph">
<p>Über Eigenschaften verknüpfst du außerdem deine Varianten mit den <a href="/maerkte/amazon/amazon-einrichten#1390">Varianteneigenschaften auf einem Marktplatz wie Amazon</a>. Über die <a href="/artikel/frontend-artikelsuche-verwalten">Eigenschaftssuche im Webshop</a> finden deine Kunden Artikel, die mit der gesuchten Eigenschaft verknüpft sind.</p>
</div>
<div id="550" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Praxisbeispiel: Artikel am richtigen Platz einräumen</div>
<div class="paragraph">
<p>Hast du Artikel, die an einem bestimmten Platz gelagert werden müssen? Beispielsweise darf Kühlware <em>nur</em> im Kühlregal eingeräumt werden. Charakterisiere deine Lagerorte und sorge dafür, dass deine Artikel immer am passenden Ort landen.</p>
</div>
<div class="paragraph">
<p>So gehst du vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#600">Erstelle eine Eigenschaft</a> des Bereichs <strong>Lagerort</strong>.</p>
</li>
<li>
<p>Verknüpfe die Eigenschaft mit allen <a href="/artikel/artikel-verwalten#4900">zutreffenden Artikeln</a>, z.B mit Kühlware.</p>
</li>
<li>
<p>Verknüpfe die Eigenschaft mit allen <a href="/warenwirtschaft/lager-einrichten#500">zutreffenden Lagerorten</a>, z.B. mit Kühlregalen.</p>
</li>
<li>
<p><a href="/warenwirtschaft/wareneingaenge-verwalten#450">Beim Wareneingang</a> werden dir nun automatisch die passenden Lagerorte für den Artikel vorgeschlagen.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="600">2.1. Eigenschaft erstellen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> erstellst du Eigenschaften. Diese Eigenschaften nutzt du für die nähere Charakterisierung deiner Artikel. Gehe wie unten beschrieben vor, um eine Eigenschaft zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.<br>
→ Die Übersicht der Eigenschaften wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaft hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Bereich</strong> die Option <strong>Artikel</strong>.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen vor. Beachte die Erläuterungen in <a href="#table-create-variation-property">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Eigenschaft wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<table id="table-create-variation-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Eigenschaften erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bereich aus der Dropdown-Liste wählen, in dem die Eigenschaft genutzt werden soll.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel</strong> = Eigenschaft wird für Artikel verwendet.</p>
</li>
<li>
<p><strong>Kontakt</strong> = Eigenschaft wird für Kontakte verwendet.</p>
</li>
<li>
<p><strong>Lagerort</strong> = Eigenschaft wird für Lagerorte verwendet.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Typ der Eigenschaft aus der Dropdown-Liste wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Kein</strong> = Kein Eigenschaftstyp</p>
</li>
<li>
<p><strong>Ganze Zahl</strong> = Ermöglicht die Eingabe einer ganzen Zahl zwischen -2.147.483.648 und 2.147.483.647.</p>
</li>
<li>
<p><strong>Kommazahl</strong> = Ermöglicht die Eingabe einer Zahl mit Kommastellen.</p>
</li>
<li>
<p><strong>Auswahl</strong> = Ermöglicht es, aus mehreren Optionen zu wählen. Pro Option und Wert können bis zu 65.535 Zeichen eingegeben werden.</p>
</li>
<li>
<p><strong>Kurztext</strong> = Ermöglicht die Eingabe eines nicht formatierbaren Texts mit einer Länge von bis zu 65.535 Zeichen.</p>
</li>
<li>
<p><strong>Text</strong> = Ermöglicht die Eingabe und Formatierung eines Texts mit einer Länge von bis zu 65.535 Zeichen.</p>
</li>
<li>
<p><strong>Datum</strong> = Ermöglicht die Eingabe eines Datums.</p>
</li>
<li>
<p><strong>Datei</strong> = Ermöglicht das Hochladen einer Datei.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Eigenschaft eingeben. Dieser Name wird zum Beispiel im Bestellvorgang angezeigt.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird der Name für die Systemsprache angezeigt. Nachdem die Eigenschaft erstellt wurde, kann der Name in englischer Sprache gespeichert werden. Weitere Sprachen sind in Planung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung der Eigenschaft eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird die Beschreibung für die Systemsprache angezeigt. Nachdem die Eigenschaft erstellt wurde, kann die Beschreibung in englischer Sprache gespeichert werden. Weitere Sprachen sind in Planung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional eine Eigenschaftsgruppe aus der Dropdown-Liste wählen, um die Eigenschaft dieser Gruppe zuzuordnen.<br>
<strong><em>Tipp:</em></strong> Auf <strong>Eigenschaftsgruppe hinzufügen</strong> klicken, um eine Gruppe zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer für die Eigenschaft eingeben. Standardmäßig wird aufsteigend nach Positionsnummer sortiert.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in Zehnerschritten vergeben, damit neue Eigenschaften dazwischen eingefügt werden können.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">2.2. Eigenschaft bearbeiten</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> findest du alle Eigenschaften. Hier änderst du die in <a href="#table-create-variation-property">Tabelle 4</a> beschriebenen Einstellungen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>, um alle Eigenschaften anzuzeigen.<br>
<strong><em>Tipp:</em></strong> Wähle Filter, um die Ergebnisse einzugrenzen.</p>
</li>
<li>
<p>Klicke auf die Eigenschaft.<br>
→ Das Tab <strong>Allgemein</strong> wird geöffnet.</p>
</li>
<li>
<p>Bearbeite die Einstellungen. Beachte die Erläuterungen in <a href="#table-edit-variation-property">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-edit-variation-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Eigenschaften bearbeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Ansicht <strong>Allgemein</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neue Position eingeben, um die Anzeigereihenfolge zu ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einheiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Einstellung ist aktuell noch ohne Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragseigenschaft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Eigenschaft im Bestellvorgang angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>zusätzliche Kosten anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Aufpreis als zusätzliche Kosten angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>;<br>
<strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Mehrsprachigkeit Name und Beschreibung für weitere Sprachen eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Ansicht <strong>Sichtbarkeit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen oder mehrere Mandanten (Shops) wählen, um die Eigenschaft für diese Mandanten zu aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen oder mehrere Typen wählen, für die die Eigenschaft sichtbar sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Werte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur bei Eigenschaftstyp <strong>Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Werte eingeben, die in der Dropdown-Liste dargestellt werden sollen.<br>
Auf <strong>Wert hinzufügen</strong> klicken, um einen Wert zu erstellen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Name für den Eigenschaftswert eingeben.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.3. Eigenschaft suchen</h3>
<div class="paragraph">
<p>Eigenschaften verwaltest du zentral im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>. Führe nach dem Öffnen des Menüs eine Suche aus, um Eigenschaften anzuzeigen. Um Eigenschaften nach bestimmten Kriterien zu suchen, gib die dir bekannten Suchbegriffe in die Filter ein. Die Dropdown-Listen hilft dir, Eigenschaften zu suchen, die bestimmte Kriterien gemeinsam haben. Du kannst beliebig viele Suchfilter miteinander kombinieren.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Gib in der Ansicht <strong>Filter</strong> Suchbegriffe in die Suchfelder ein und stelle Filteroptionen in den Dropdown-Listen ein. Beachte <a href="#table-filter-variation-properties">Tabelle 6</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Eigenschaften, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Eigenschaft.<br>
→ Die Detailansicht der Eigenschaft wird geöffnet.</p>
</li>
</ol>
</div>
<table id="table-filter-variation-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Filter für die Eigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne gewählte Filtereinstellungen auf <strong>Suchen</strong> klicken, um alle Eigenschaften anzuzeigen.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Die Suchergebnisse durch Filtereinstellungen eingrenzen und auf <strong>Suchen</strong> klicken.<br>
→ Die gefundenen Eigenschaften werden in der Übersicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eingestellte Filterkriterien zurücksetzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jede Eigenschaft erhält automatisch eine fortlaufende und einzigartige ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, um die Eigenschaft mit diesem Namen zu suchen. Eine Suche nach Teilen des Namens ist möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache wählen, um nur Eigenschaften anzuzeigen, für die ein Name in dieser Sprache gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gruppe wählen, um nur Eigenschaften anzuzeigen, die dieser Gruppe zugeordnet sind.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Nicht gruppiert</strong> wählen, um nur Eigenschaften anzuzeigen, die keiner Gruppe zugeordnet sind.</p>
</li>
<li>
<p><strong>Gruppiert</strong> wählen, um nur Eigenschaften anzuzeigen, die einer Gruppe zugeordnet sind.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereich wählen, um nur Eigenschaften dieses Bereichs anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaftstyp wählen, um nur Eigenschaften dieses Typs anzuzeigen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.4. Eigenschaft löschen</h3>
<div class="paragraph">
<p>Du kannst entweder eine Eigenschaft oder mehrere Eigenschaften gleichzeitig löschen.</p>
</div>
<div class="sect3">
<h4 id="1000">2.4.1. Eine Eigenschaft löschen</h4>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Eigenschaft unwiderruflich zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Eine Eigenschaft löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter, um die Suchergebnisse einzugrenzen.</p>
</li>
<li>
<p>Führe die Suche aus.</p>
</li>
<li>
<p>Klicke auf die Eigenschaft.<br>
→ Die Eigenschaft wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaft löschen</strong>.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die Eigenschaft wird gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1100">2.4.2. Mehrere Eigenschaften löschen</h4>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um mehrere Eigenschaft gleichzeitig unwiderruflich zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Eigenschaften löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter, um die Suchergebnisse einzugrenzen.</p>
</li>
<li>
<p>Führe die Suche aus.</p>
</li>
<li>
<p>Aktiviere die Eigenschaften, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die gewählten Eigenschaften werden gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1200">2.5. Eigenschaften gruppieren</h3>
<div class="paragraph">
<p>Erstelle Eigenschaftsgruppen, um mehrere Eigenschaften zusammenzufassen. Gehe wie im Folgenden beschrieben vor, um eine Eigenschaftsgruppe zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaftsgruppe erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaftsgruppe hinzufügen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte die Erläuterungen in <a href="#table-create-variation-property-group">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Eigenschaftsgruppe wird erstellt.</p>
</li>
</ol>
</div>
<table id="table-create-variation-property-group" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Neue Eigenschaftsgruppe erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Eigenschaftsgruppe eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird der Name für die Systemsprache angezeigt. Nachdem die Eigenschaftsgruppe erstellt wurde, kann der Name in englischer Sprache gespeichert werden. Weitere Sprachen sind in Planung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung für die Eigenschaftsgruppe eingeben.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig wird die Beschreibung für die Systemsprache angezeigt. Nachdem die Eigenschaftsgruppe erstellt wurde, kann die Beschreibung in englischer Sprache gespeichert werden. Weitere Sprachen sind in Planung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer für die Eigenschaftsgruppe eingeben. Standardmäßig wird aufsteigend nach Positionsnummer sortiert.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in Zehnerschritten vergeben, damit neue Eigenschaftsgruppen dazwischen eingefügt werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gruppentyp aus der Dropdown-Liste wählen. Die Option steuert, wie Eigenschaften des Typs <strong>Empty</strong> im Bestellvorgang angezeigt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Keine</strong> = Eigenschaften werden standardmäßig nicht gruppiert.</p>
</li>
<li>
<p><strong>Select</strong> = Eine der gruppierten Eigenschaften ist per Dropdown-Liste wählbar.</p>
</li>
<li>
<p><strong>Multiselect</strong> = Mehrere Eigenschaften sind wählbar.
<strong><em>Hinweis:</em></strong> Die Option greift nur für Eigenschaften des Typs <strong>Kein</strong>, für die die Option <strong>Bestellvorgang</strong> aktiviert ist.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufpreistyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aufpreistyp aus der Dropdown-Liste wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Pauschal</strong> = Aufpreis wird als pauschaler Betrag eingegeben.</p>
</li>
<li>
<p><strong>Prozent</strong> = Aufpreis wird als Prozentwert eingegeben.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="1300">2.5.1. Eigenschaft einer Gruppe zuordnen</h4>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine oder mehrere Eigenschaft einer Eigenschaftsgruppe zuzuordnen.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft einer Gruppe zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter, um die Suchergebnisse einzugrenzen.</p>
</li>
<li>
<p>Führe die Suche aus.</p>
</li>
<li>
<p>Aktiviere die Eigenschaften, die du der Gruppe zuordnen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaftsgruppe zuordnen</strong>.<br>
→ Eine Dropdown-Liste der Eigenschaftsgruppen wird angezeigt.</p>
</li>
<li>
<p>Wähle die Eigenschaftsgruppe aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong>.<br>
→ Die gewählten Eigenschaften werden der Eigenschaftsgruppe zugeordnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1400">2.5.2. Eigenschaftsgruppen löschen</h4>
<div class="paragraph">
<p>Du kannst entweder eine Eigenschaftsgruppe oder mehrere Eigenschaftsgruppen gleichzeitig löschen. Die Eigenschaften, die den Gruppen zugeordnet sind, bleiben beim Löschen von Eigenschaftsgruppen erhalten.</p>
</div>
<div class="sect4">
<h5 id="1500">Eine Eigenschaftsgruppe löschen</h5>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Eigenschaftsgruppe unwiderruflich zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Eine Eigenschaftsgruppe löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter, um die Suchergebnisse einzugrenzen.</p>
</li>
<li>
<p>Führe die Suche aus.</p>
</li>
<li>
<p>Klicke auf die Eigenschaftsgruppe.<br>
→ Die Eigenschaftsgruppe wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppe löschen</strong>.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die Eigenschaftsgruppe wird gelöscht und aus der Übersicht entfernt.<br>
<strong><em>Hinweis:</em></strong> Wenn du eine Eigenschaftsgruppe löschst, werden die Eigenschaften, die der Gruppe zugeordnet sind, nicht gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect4">
<h5 id="1600">Mehrere Eigenschaftsgruppen löschen</h5>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um mehrere Eigenschaftsgruppen gleichzeitig unwiderruflich zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Eigenschaftsgruppen löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter, um die Suchergebnisse einzugrenzen.</p>
</li>
<li>
<p>Führe die Suche aus.</p>
</li>
<li>
<p>Aktiviere die Eigenschaftsgruppen, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die gewählten Eigenschaftsgruppen werden gelöscht und aus der Übersicht entfernt.<br>
<strong><em>Hinweis:</em></strong> Wenn du eine Eigenschaftsgruppe löschst, werden die Eigenschaften, die der Gruppe zugeordnet sind, nicht gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div>
</main>