<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Neue Einheiten erstellen und bestehende anpassen</span></a></li>
<li><a href="#150"><span>2.</span><span> Inhalt deiner Varianten angeben</span></a></li>
<li><a href="#200"><span>3.</span><span> Einheiten kombinieren und Varianten erzeugen</span></a></li>
<li><a href="#300"><span>4.</span><span> Grundpreis auf Vertriebskanälen und Etiketten anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einheiten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Einheiten wie Kilogramm, Liter und Zentimeter helfen dir, die Größe oder Maße deiner Produkte zu definieren.
Standardmäßig sind 52 Einheiten nach ISO-Code in plentymarkets gespeichert.
Du kannst jedoch <a href="/artikel/einstellungen/einheiten#100">weitere Maßeinheiten bei Bedarf erstellen</a> oder die bestehenden Einheiten anpassen.</p>
</div>
<div class="paragraph">
<p>Darüber hinaus kannst du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>den <a href="/artikel/einstellungen/einheiten#150">Inhalt</a> deiner Varianten angeben, z.B. 1 Stück, 500 Gramm, 2,4 Liter, usw.</p>
</li>
<li>
<p>Einheiten mit unterschiedlichen Mengen kombinieren und somit <a href="/artikel/einstellungen/einheiten#200">Varianten erzeugen</a>.
Beispielsweise verkaufst du eine Flasche Seife, die in 50ml, 100ml oder 150ml erhältlich ist.</p>
</li>
<li>
<p>den <a href="/artikel/einstellungen/einheiten#300">Grundpreis</a> deiner Varianten angeben, d.h. die Kosten pro Pfund, Liter oder einer anderen Maßeinheit.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Neue Einheiten erstellen und bestehende anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig sind 52 Einheiten nach ISO-Code in plentymarkets gespeichert.
Wirf dir einen Blick auf die bereits vorhandenen Einheiten.
Erstelle bei Bedarf weitere Einheiten oder passe die bestehende Einheiten an.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="neue-einheit-erstellen-tab" data-toggle="tab" href="#neue-einheit-erstellen" role="tab" aria-controls="neue-einheit-erstellen" aria-selected="true">Neue Einheit erstellen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="bestehende-einheiten-anpassen-tab" data-toggle="tab" href="#bestehende-einheiten-anpassen" role="tab" aria-controls="bestehende-einheiten-anpassen" aria-selected="false">Bestehende Einheiten anpassen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="neue-einheit-erstellen" role="tabpanel" aria-labelledby="neue-einheit-erstellen-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Einheiten</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neue Einheit anlegen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für die Einheit ein.
Wähle einen geeigneten Namen, da der Text für Kunden im Webshop sichtbar ist.</p>
</li>
<li>
<p>Gib optional eine Positionsnummer ein.
Wenn du keine Nummer eingibst, wird automatisch die Positionsnummer 0 vergeben.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="psicon-save"></i></span> <strong>Speichern</strong>.<br>
→ Die neue Einheit wird erstellt und öffnet sich automatisch in einem neuen Tab.</p>
</li>
<li>
<p>Passe die Einstellungen bei Bedarf weiter an.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="bestehende-einheiten-anpassen" role="tabpanel" aria-labelledby="bestehende-einheiten-anpassen-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Einheiten</strong>.</p>
</li>
<li>
<p>Klicke auf eine Einheit.<br>
→ Die Einheit öffnet sich in einem neuen Tab.</p>
</li>
<li>
<p>Passe die Einstellungen bei Bedarf an.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div></div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Positionsnummer für die Einheit ein.
Die Einheiten werden im Backend nach ihrer Positionsnummer sortiert dargestellt.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Hast du beim Anlegen der Einheit keine Positionsnummer eingegeben, wird automatisch die Positionsnummer 0 vergeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maßeinheit (ISO)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Maßeinheit anhand des ISO-Codes.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Du kannst nur aus den vorhandenen ISO-Codes wählen.
Die ISO-Codes selber lassen sich nicht manuell erweitern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dezimalzahlen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sind Dezimalzahlen für diese Maßeinheit zulässig?
Zum Beispiel macht ein halber Liter Sinn.
Aber ein halber Kanister wäre dagegen nicht sinnvoll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inhalt und Einheit der Variante werden im Webshop angezeigt, z.B. 1 Stück, 500 Gramm, 2,4 Liter, usw.
Gib daher einen geeigneten Namen für die Einheit in allen von dir verwendeten Sprachen ein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">2. Inhalt deiner Varianten angeben</h2>
<div class="sectionbody">
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manuell-tab" data-toggle="tab" href="#manuell" role="tab" aria-controls="manuell" aria-selected="true">Manuell</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">Import</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manuell" role="tabpanel" aria-labelledby="manuell-tab">
<div class="paragraph">
<p>Wenn du den Inhalt für nur wenige Varianten angeben möchtest, dann empfiehlt es sich, dies manuell zu tun.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Maße » Option: Inhalt</strong>.</p>
</li>
<li>
<p>Gib eine Zahl in das linke Feld ein.</p>
</li>
<li>
<p>Wähle eine Einheit aus der rechten Dropdown-Liste aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
<div class="paragraph">
<p>Wenn du den Inhalt für viele Varianten angeben möchtest, dann empfiehlt es sich, dies <a href="/daten/daten-importieren/ElasticSync">per Import</a> zu tun.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Erstelle einen <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel">Import vom Typ Artikel</a>.</p>
</li>
<li>
<p>Verwende den Zuordnungsfeldern:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#1810">Inhalt Menge</a> und <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#1800">Inhalt Einheit</a>.<br></p>
<div class="paragraph">
<p>oder</p>
</div>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#1810">Inhalt Menge</a> und <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#1820">Inhalt Maßeinheit (ISO)</a>.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="200">3. Einheiten kombinieren und Varianten erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Einheiten kannst du mit unterschiedlichen Mengen kombinieren und somit Varianten erzeugen. Beispielsweise verkaufst du eine Flasche Seife, die in 50ml, 100ml oder 150ml erhältlich ist.</p>
</div>
<div class="paragraph">
<p><a href="/artikel/import-export-anlage/anlage/neue-artikel#200">Beim Erstellen eines Artikels</a> kannst du die Einheit und den Inhalt des Artikels direkt eingeben. Wenn du <a href="/artikel/import-export-anlage/anlage/neue-artikel#400">zusätzliche Varianten erstellst</a>, kannst du auch die Einheit und den Inhalt jeder Variante eingeben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Grundpreis auf Vertriebskanälen und Etiketten anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sicherlich hast du schon den Grundpreis gesehen, der in den Regalen der Lebensmittelgeschäfte aufgeführt ist.
Der Grundpreis gibt die Kosten pro Pfund, Liter oder andere Maßeinheit an.</p>
</div>
<div class="paragraph">
<p>Berechnet wird er auf Grundlage von <a href="/artikel/artikel-verwalten#270">Einheit, Inhalt</a> und <a href="/artikel/artikel-verwalten#240">Preis</a> des Artikels.
Dargestellt werden kann er <a href="/artikel/artikel-verwalten#270">im plentyShop</a>, auf Vertriebskanälen wie <a href="/maerkte/amazon/varianten-vorbereiten#860">Amazon</a>, <a href="/maerkte/ebay/ebay-einrichten#4000">eBay</a>, <a href="/maerkte/otto/otto-market#1302">OTTO</a> oder <a href="/maerkte/plus-gartenxxl#365">Netto</a> und <a href="/artikel/einstellungen/barcodes#900">auf Artikeletiketten</a>.</p>
</div>
</div>
</div>
</main>