<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Herstellerdatensätze erstellen</span></a></li>
<li><a href="#300"><span>2.</span><span> Provisionen ergänzen</span></a></li>
<li><a href="#400"><span>3.</span><span> Hersteller mit Artikeln verknüpfen</span></a></li>
<li><a href="#450"><span>4.</span><span> plentyShop-Einstellungen prüfen</span></a></li>
<li><a href="#500"><span>5.</span><span> Hersteller löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Hersteller</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Wer stellt deine Produkte her?
Welche Marken verkaufst du?
plentymarkets unterstützt dich bei der Verwaltung deiner Herstellerdaten.</p>
</div>
<h3 id="_ablauf" class="discrete">Ablauf</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/hersteller#100">Erstelle zuerst die nötigen Herstellerdatensätze</a> manuell oder per Import.</p>
</li>
<li>
<p>Füge dann <a href="/artikel/einstellungen/hersteller#300">Provisionsmodelle</a> bei Bedarf hinzu.</p>
</li>
<li>
<p>Gib schließlich an, wer jedes deiner Artikel herstellt. Dies geschieht indem du deine <a href="/artikel/einstellungen/hersteller#400">Artikel mit Hersteller verknüpfst</a>.</p>
</li>
<li>
<p>Sollen deine Kunden im plentyShop gezielt nach Produkten des Herstellers suchen können?
Passe die <a href="/artikel/einstellungen/hersteller#450">plentyShop-Einstellungen</a> bei Bedarf an.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Herstellerdatensätze erstellen</h2>
<div class="sectionbody">
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manuelle-erstellung-tab" data-toggle="tab" href="#manuelle-erstellung" role="tab" aria-controls="manuelle-erstellung" aria-selected="true">Manuelle Erstellung</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="daten-import-tab" data-toggle="tab" href="#daten-import" role="tab" aria-controls="daten-import" aria-selected="false">Daten-Import</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manuelle-erstellung" role="tabpanel" aria-labelledby="manuelle-erstellung-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Hersteller</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Herstellerdaten ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Der Hersteller wird hinzugefügt.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="daten-import" role="tabpanel" aria-labelledby="daten-import-tab">
<div class="paragraph">
<p>plentymarkets verfügt über ein <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a>.
Die Idee ist ganz einfach. Anstatt Herstellerinformationen in plentymarkets manuell zu speichern, <a href="/daten/daten-importieren/sync-typen/elasticSync-hersteller">trägst du die gleiche Informationen in eine CSV-Datei ein</a> und importierst diese Datei dann in dein System.</p>
</div>
</div></div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kann ich meine Herstellerdaten stattdessen im CRM-Bereich speichern?</div>
<div class="paragraph">
<p>Vielleicht hast du schon mal bemerkt, dass du <a href="/crm/kontakte-verwalten#90">Herstellerdatensätze im CRM-Bereich erstellen</a> kannst.
Sei aber vorsichtig.
Diese Daten werden nämlich <em>nicht</em> im Menü <strong>Einrichtung » Artikel » Hersteller</strong> übernommen.
Daher empfehlen wir dir, die Herstellerdaten im CRM-Bereich vorerst zu ignorieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die eindeutige ID des Herstellers.</p>
</div>
<div class="paragraph">
<p><strong><em>Empfehlung</em></strong>: Lass dieses Feld leer während du neue Herstellerdatensätze erstellst.
Wenn du das Feld leer lässt, wird dem Hersteller automatisch die nächste verfügbare ID zugewiesen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den internen Namen des Herstellers ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die URL zum Logo des Herstellers ein.
Die URL darf bis zu 2.000 Zeichen umfassen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Homepage</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die URL zur Homepage des Herstellers ein.
Die URL darf bis zu 2.000 Zeichen umfassen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Straße</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Straßennamen des Herstellers ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Haus-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Hausnummer des Herstellers ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PLZ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Postleitzahl des Herstellers ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Stadt des Herstellers ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle das Land des Herstellers aus der Dropdown-Liste aus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telefonnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Telefonnummer des Herstellers ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Faxnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Faxnummer des Herstellers ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die E-Mail-Adresse des Herstellers ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neckermann.de Enterprise-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neckermann.at Enterprise-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>La Redoute-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto eStores-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cdiscount.com-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den externen Namen des Herstellers ein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der externe Name ist für Kunden im plentyShop sichtbar.
Er ist auch <a href="/artikel/einstellungen/hersteller#450">für die Suchfunktion im plentyShop relevant</a>.</p>
</li>
<li>
<p>Wenn du deine Artikeldaten an Marktplätze überträgst, wird der externe Herstellername mitgeliefert.
Falls kein externer Herstellername existiert, wird stattdessen der interne Name verwendet.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Positionsnummer für den Hersteller ein.
Lässt du dieses Feld leer, dann wird automatisch die Positionsnummer 0 vergeben.</p>
</div>
<div class="paragraph">
<p>Herstellerdatensätze können nach der Positionsnummer im Menü <strong>Einrichtung » Artikel » Hersteller</strong> sortiert werden.
Führe deinen Mauszeiger über die Spaltenüberschrift <strong>Position</strong>.
Klicke auf das kleine Dreieck (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>), um die Hersteller in aufsteigender oder absteigender Reihenfolge nach Positionsnummer darzustellen.
Bei gleicher Position wird innerhalb der Position nach dem Namen sortiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen optionalen Kommentar über den Hersteller ein.
Dies ist ein interner Kommentar, d.h. er ist nur in deinem plentymarkets System sichtbar.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">2. Provisionen ergänzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die <a href="/artikel/einstellungen/hersteller#100">Basisdaten deiner Hersteller gespeichert</a> hast, bist du bereit, Provisionsmodelle bei Bedarf hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Herstellerprovisionen ergänzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Bearbeiten</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).<br>
→ Der Herstellerdatensatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Provisionen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Eine neue Zeile für Provisionen wird der Tabelle hinzugefügt.</p>
</li>
<li>
<p>Gib Informationen über die Provision ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Der Provision wird automatisch eine ID zugewiesen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für welches Unternehmen gilt die Provision? Wähle den Mandanten aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für welchen Markt oder für welche Verkaufsplattform gilt die Provision? Wähle die Auftragsherkunft aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provision</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Provision in Prozent ein.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Provisionen auf andere Hersteller übertragen</div>
<div class="paragraph">
<p>Gelten für mehrere deiner Hersteller die gleichen Provisionsmodelle? Du musst nicht jede Provision manuell erstellen! Kopiere ganz einfach eine Provision und übertrage sie auf andere Hersteller.</p>
</div>
<div class="paragraph">
<p>Klicke zunächst auf <strong>Provisionen auf andere Hersteller übertragen</strong> (<span class="icon yellow"><i class="psicon-copy"></i></span>). Verwende dann Häkchen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um zu bestimmen, welche Provision du kopieren möchtest und auf welchen Hersteller du sie übertragen möchtest.
Klicke anschließend auf <span class="icon green"><i class="psicon-save"></i></span> <strong>Provisionen übertragen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Hersteller mit Artikeln verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du deine Herstellerdaten in plentymarkets gespeichert hast, gibst du an, wer die einzelnen Artikel hergestellt hat. Dies geschieht indem du jeden Artikel mit einem Hersteller verknüpfst.</p>
</div>
<div class="paragraph">
<p>Es gibt mehrere Möglichkeiten, Artikel mit Herstellern zu verknüpfen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gib den Hersteller an, <a href="/artikel/import-export-anlage/anlage/neue-artikel#200">während du manuell einen neuen Artikel erstellst</a>.</p>
</li>
<li>
<p>Gib den Hersteller <a href="/artikel/artikel-verwalten#40">im Tab Global eines bestehenden Artikels</a> an.</p>
</li>
<li>
<p><a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Verwende die Gruppenfunktion</a>, um den Hersteller manuell für mehrere bestehende Artikel gleichzeitig anzugeben.</p>
</li>
<li>
<p>Möchtest du deine Artikel importieren? Dann <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2260">gib den Hersteller jedes Artikels in der zu importierenden CSV-Datei an</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="450">4. plentyShop-Einstellungen prüfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sollen deine Kunden im plentyShop gezielt nach Produkten eines bestimmten Herstellers suchen können?
Dann stelle sicher, dass du die folgenden Einstellungen konfiguriert hast:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/hersteller#100">Externer Name</a>: Hast du einen externen Namen für den Hersteller gespeichert?</p>
</li>
<li>
<p><a href="/artikel/webshop/suchleiste#70">Suchleiste</a>: Wird der Hersteller bei den Suchergebnissen berücksichtigt?</p>
</li>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten">Suchfilter</a>: Hast du die Anleitung zum Einrichten der sogenannten Facettensuche gelesen?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Hersteller löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor ein Hersteller gelöscht werden kann, müssen alle Verknüpfungen zum Hersteller gelöscht werden.
Die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#200">Artikel-Gruppenfunktion</a> ist ein nützliches Werkzeug dafür.</p>
</div>
<div class="paragraph instruction">
<p>Verknüpfungen zum Hersteller löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Stelle die Filter links wie folgt ein:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Setze links den Filter <a href="/artikel/einleitung/suche#intable-tabellentyp">Tabellentyp</a> auf <strong>Artikel</strong>.</p>
</li>
<li>
<p>Setze links den Filter <a href="/artikel/einleitung/suche#intable-aktiv">Aktiv</a> auf <strong>ALLE</strong>.</p>
</li>
<li>
<p>Wähle im Filter <a href="/artikel/einleitung/suche#intable-hersteller">Hersteller</a> den Hersteller aus der Dropdown-Liste.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Alle Artikel des Herstellers werden angezeigt.</p>
</li>
<li>
<p>Wähle alle Artikel (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Artikel-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Global</strong> die Option <strong>Hersteller</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Wähle die leere Option aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>.<br>
→ Die Herstellerverknüpfungen werden gelöscht.<br>
→ Die Hersteller können nun gelöscht werden.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Hersteller löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Herstellers auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>).<br>
→ Ein neues Fenster wird geöffnet.</p>
</li>
<li>
<p>Klicke erneut auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>), um deine Entscheidung zu bestätigen.<br>
→ Der Hersteller wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</main>