<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Herstellerdaten manuell anlegen</span></a></li>
<li><a href="#200"><span>2.</span><span> Herstellerdaten importieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Provisionen ergänzen</span></a></li>
<li><a href="#400"><span>4.</span><span> Hersteller mit Artikeln verknüpfen</span></a></li>
<li><a href="#500"><span>5.</span><span> Hersteller löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Hersteller</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Wer stellt deine Produkte her? Erhalten deine Hersteller auch eine Provision? plentymarkets unterstützt dich bei der Verwaltung deiner Hersteller.</p>
</div>
<div class="paragraph">
<p>Du kannst Herstellerdaten entweder <a href="/artikel/einstellungen/hersteller#100">manuell in plentymarkets speichern</a> oder mit einem <a href="/artikel/einstellungen/hersteller#200">Tool namens ElasticSync importieren</a>. Außerdem kannst du <a href="/artikel/einstellungen/hersteller#300">Provisionen für deine Hersteller speichern</a> und angeben, <a href="/artikel/einstellungen/hersteller#400">wer jedes deiner Artikel herstellt</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Herstellerdaten manuell anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege zunächst einen Datensatz für jeden deiner Hersteller an. Wenn du nur wenige Herstellerdatensätze anlegen möchtest, empfiehlt sich die manuelle Erstellung. Hast du aber dagegen viele verschiedene Hersteller, dann ist es wahrscheinlich schneller, deine <a href="/artikel/einstellungen/hersteller#200">Herstellerdaten zu importieren</a>.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Hersteller manuell hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon"><i class="fa fa-plus" style="color:green"></i></span> <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Hersteller</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Herstellerdaten ein. Beachte <a href="#tabelle-hersteller-hinzufuegen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Hersteller wird hinzugefügt.</p>
</li>
</ol>
</div>
<table id="tabelle-hersteller-hinzufuegen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Hersteller hinzufügen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID für den Hersteller eingeben oder Feld leer lassen. Wenn keine ID eingeben wird, wird dem Hersteller automatisch die nächste freie ID zugeordnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internen Namen des Herstellers eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL zum Logo des Herstellers eingeben. Die URL darf bis zu 2.000 Zeichen umfassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Homepage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL zur Homepage des Herstellers eingeben. Die URL darf bis zu 2.000 Zeichen umfassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Straße</strong>;<br>
<strong>Haus-Nr.</strong>;<br>
<strong>PLZ</strong>;<br>
<strong>Ort</strong>;<br>
<strong>Land</strong>;<br>
<strong>Telefonnummer</strong>;<br>
<strong>Faxnummer</strong>;<br>
<strong>E-Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adressdaten des Herstellers eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania-ID</strong>;<br>
<strong>Neckermann.de Enterprise-ID</strong>;<br>
<strong>Neckermann.at Enterprise-ID</strong>;<br>
<strong>Neckermann.at Cross-Docking-ID</strong>;<br>
<strong>La Redoute-ID</strong>;<br>
<strong>Netto eStores-ID</strong>;<br>
<strong>Cdiscount.com-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID des Marktplatzes eingeben. Die Hersteller-IDs eines Marktplatzes erhältst du beim Einrichten des <a href="/maerkte">Marktplatzes</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externen Namen für den Hersteller eingeben, um eine alternative Bezeichnung für den Export zu speichern. Beim Artikelexport zu externen Marktplätzen, zum Beispiel über das Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong>, wird der hier eingegebene Name des Herstellers verwendet. Wenn kein externer Name eingegeben wurde, wird die Eingabe unter <strong>Name</strong> verwendet. Der externe Name wird auch zu <a href="/webshop/webshop-einrichten/extras/findologic">FINDOLOGIC</a> übertragen und für die Suche indexiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position für den Hersteller eingeben. Standardmäßig wird die Position <strong>0</strong> vergeben. Bei gleicher Position wird innerhalb der Position nach dem Namen sortiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional einen internen Kommentar über den Hersteller eingeben.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kann ich meine Herstellerdaten stattdessen im CRM-Bereich speichern?</div>
<div class="paragraph">
<p>Vielleicht hast du schon mal bemerkt, dass du <a href="/crm/kontakte-verwalten#90">Herstellerdatensätze im CRM-Bereich anlegen</a> kannst. Sei aber vorsichtig. Diese Daten werden nämlich <em>nicht</em> hier im Menü <strong>Einrichtung » Artikel » Hersteller</strong> übernommen. Daher empfehlen wir dir, die Herstellerdaten im CRM-Bereich vorerst zu ignorieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Herstellerdaten importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege zunächst einen Datensatz für jeden deiner Hersteller an. Wenn du nur wenige Herstellerdatensätze anlegen möchtest, empfiehlt sich die <a href="/artikel/einstellungen/hersteller#100">manuelle Erstellung</a>. Hast du aber dagegen viele verschiedene Hersteller, dann ist es wahrscheinlich schneller, deine Herstellerdaten zu importieren.</p>
</div>
<div class="paragraph">
<p>Herstellerdatensätze werden mit einem <a href="/daten/daten-importieren/ElasticSync">Tool namens ElasticSync</a> importiert. Die Idee ist ganz einfach. Anstatt Herstellerinformationen in plentymarkets manuell zu speichern, <a href="/daten/daten-importieren/sync-typen/elasticSync-hersteller">trägst du die gleiche Informationen in eine CSV-Datei ein</a> und importierst diese Datei dann in dein System.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Provisionen ergänzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du die <a href="/artikel/einstellungen/hersteller#100">Basisdaten deiner Hersteller bereits gespeichert</a>? Dann bist du jetzt bereit, Provisionsmodelle bei Bedarf hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Herstellerprovisionen ergänzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
<li>
<p>Klicke auf den Stift (<span class="icon"><i class="fa fa-pencil" style="background-color:yellow"></i></span>).<br>
→ Der Herstellerdatensatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Provisionen</strong>.</p>
</li>
<li>
<p>Klicke auf das Plus (<span class="icon"><i class="fa fa-plus" style="color:green"></i></span>).<br>
→ Eine neue Zeile für Provisionen wird der Tabelle hinzugefügt.</p>
</li>
<li>
<p>Gib Informationen über die Provision ein. Beachte <a href="#tabelle-herstellerprovision-hinzufuegen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Provision wird automatisch eine ID zugewiesen.</p>
</li>
</ol>
</div>
<table id="tabelle-herstellerprovision-hinzufuegen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Provisionen für Hersteller hinzufügen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für welches Unternehmen gilt die Provision? Wähle den Mandanten aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für welchen Markt oder für welche Verkaufsplattform gilt die Provision? Wähle die Auftragsherkunft aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provision</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Provision in Prozent ein.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Provisionen auf andere Hersteller übertragen</div>
<div class="paragraph">
<p>Gelten für mehrere deiner Hersteller die gleichen Provisionsmodelle? Du musst nicht jede Provision manuell anlegen! Kopiere ganz einfach eine Provision und übertrage sie auf andere Hersteller.</p>
</div>
<div class="paragraph">
<p>Klicke zunächst auf <strong>Provisionen auf andere Hersteller übertragen</strong> (<span class="icon"><i class="fa fa-files-o" style="background-color:yellow"></i></span>). Verwende dann Häkchen (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>), um zu bestimmen, welche Provision du kopieren möchtest und auf welchen Hersteller du sie übertragen möchtest.
Klicke anschließend auf <span class="icon"><i class="fa fa-save" style="color:green"></i></span> <strong>Provisionen übertragen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Hersteller mit Artikeln verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du deine Herstellerdaten in plentymarkets gespeichert hast, gibst du an, wer die einzelnen Artikel hergestellt hat. Dies geschieht indem du jeden Artikel mit einem Hersteller verknüpfst.</p>
</div>
<div class="paragraph">
<p>Es gibt mehrere Möglichkeiten, Artikel mit Herstellern zu verknüpfen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gib den Hersteller an, <a href="/artikel/artikel-verwalten#20">während du manuell einen neuen Artikel erstellst</a>.</p>
</li>
<li>
<p>Gib den Hersteller <a href="/artikel/artikel-verwalten#610">im Tab Global eines bestehenden Artikels</a> an.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#155">Verwende die Gruppenfunktion</a>, um den Hersteller manuell für mehrere bestehende Artikel gleichzeitig anzugeben.</p>
</li>
<li>
<p>Möchtest du deine Artikel mit ElasticSync importieren? Dann <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2260">gib den Hersteller jedes Artikels in der zu importierenden CSV-Datei an</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Hersteller löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor ein Hersteller gelöscht werden kann, müssen alle Verknüpfungen zum Hersteller gelöscht werden.
Die <a href="/artikel/artikel-verwalten#155">Artikel-Gruppenfunktion</a> ist ein nützliches Werkzeug dafür.</p>
</div>
<div class="paragraph instruction">
<p>Verknüpfungen zum Hersteller löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle im Filter <strong>Hersteller</strong> den Hersteller aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle im Filter <strong>Aktiv</strong> die Option <strong>ALLE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Alle Artikel des Herstellers werden angezeigt.</p>
</li>
<li>
<p>Wähle alle Artikel (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Artikel-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Global</strong> die Option <strong>Hersteller</strong> (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Wähle die leere Option aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong> (<span class="fa-stack fa-lg"><i class="fa fa-cog fa-stack-2x" style="color:darkGrey"></i><i class="fa fa-arrow-right fa-stack-1x lr" "=""></i></span>).<br>
→ Die Herstellerverknüpfungen werden gelöscht.<br>
→ Die Hersteller können nun gelöscht werden.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Hersteller löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Herstellers auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-circle" style="color:red"></i></span>).<br>
→ Ein neues Fenster wird geöffnet.</p>
</li>
<li>
<p>Klicke erneut auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-circle" style="color:red"></i></span>), um deine Entscheidung zu bestätigen.<br>
→ Der Hersteller wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</main>