<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Kategoriebaum erarbeiten</span></a></li>
<li><a href="#110"><span>2.</span><span> Kategorietiefe bedenken</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>2.1.</span><span> Grundsätzliche Kategorietiefe festlegen</span></a></li>
<li><a href="#130"><span>2.2.</span><span> Kategorietiefe im Ceres-Webshop festlegen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>3.</span><span> Kategorien manuell anlegen und bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Neue Kategorien erstellen</span></a></li>
<li><a href="#400"><span>3.2.</span><span> Bestehende Kategorien suchen und filtern</span></a></li>
<li><a href="#500"><span>3.3.</span><span> Bestehende Kategorien bearbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#600"><span>3.3.1.</span><span> Symbolleiste</span></a></li>
<li><a href="#700"><span>3.3.2.</span><span> Einstellungen</span></a></li>
<li><a href="#800"><span>3.3.3.</span><span> Beschreibung 1 und 2</span></a></li>
<li><a href="#900"><span>3.3.4.</span><span> Dokumente</span></a></li>
<li><a href="#1000"><span>3.3.5.</span><span> Notiz</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>3.4.</span><span> Kopieren, verschieben, löschen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>4.</span><span> Kategoriedaten importieren</span></a></li>
<li><a href="#1300"><span>5.</span><span> Artikel in Kategorien einsortieren</span></a></li>
<li><a href="#1400"><span>6.</span><span> Kategorien im Webshop anzeigen</span></a>
<ul class="sectlevel2">
<li><a href="#1410"><span>6.1.</span><span> Artikel-Kategorien anzeigen</span></a></li>
<li><a href="#1420"><span>6.2.</span><span> Content-Kategorien anzeigen</span></a>
<ul class="sectlevel3">
<li><a href="#1430"><span>6.2.1.</span><span> Einzelne Kategorie einbinden</span></a></li>
<li><a href="#1440"><span>6.2.2.</span><span> Kategorie in anderer Kategorie anzeigen</span></a></li>
<li><a href="#1450"><span>6.2.3.</span><span> Alle Kategorien des Typs Content einbinden</span></a></li>
</ul>
</li>
<li><a href="#1460"><span>6.3.</span><span> Container-Kategorien anzeigen</span></a>
<ul class="sectlevel3">
<li><a href="#1470"><span>6.3.1.</span><span> Kategorie anzeigen</span></a></li>
<li><a href="#1480"><span>6.3.2.</span><span> Kategorie verknüpfen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1490"><span>7.</span><span> Weitere Anwendungsfälle</span></a>
<ul class="sectlevel2">
<li><a href="#1500"><span>7.1.</span><span> Mehrsprachige Kategorieseiten erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#1510"><span>7.1.1.</span><span> Mehrsprachige Kategorie über einsprachige Ansicht erstellen</span></a></li>
<li><a href="#1520"><span>7.1.2.</span><span> Mehrsprachige Kategorie über mehrsprachige Ansicht erstellen</span></a></li>
</ul>
</li>
<li><a href="#1530"><span>7.2.</span><span> Kategorierabatte speichern</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Kategorien helfen dir Produkte übersichtlich zu gruppieren. Wie sollen deine Artikel im Webshop strukturiert werden? Welche Warengruppen passen zu deinem Produktkatalog?</p>
</div>
<div class="paragraph">
<p>Diese Seite hilft dir bei der <a href="/artikel/einstellungen/kategorien#100">Erarbeitung eines Kategoriebaums</a> und bei der Erstellung von Kategorien.
Sobald du deine Kategorien erstellt hast, bist du bereit, deine <a href="/artikel/einstellungen/kategorien#1300">Produkte in Kategorien einzusortieren</a> und deine <a href="/artikel/einstellungen/kategorien#1400">Kategorien im Webshop zu veröffentlichen</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Erstellst du einen "Ceres" Webshop?</div>
<div class="paragraph">
<p>Neue plentymarkets-Systeme werden mit einem sogenannten "Ceres" Webshop ausgestattet. Das Tolle an Ceres ist, dass du auch ohne HTML- und CSS-Kenntnisse einen attraktiven Shop erstellen kannst. Wie? Mit ShopBuilder! Mit ShopBuilder kannst du nicht nur <em>Seiten deiner Website</em> erstellen, sondern auch <em>Kategorien</em> erstellen.</p>
</div>
<div class="paragraph">
<p>Wenn du also das Tool ShopBuilder für die Erstellung deiner Ceres Webshop verwenden möchtest, dann ist es auch sinnvoll, <a href="/webshop/shop-builder#20">ShopBuilder gleichzeitig für die Erstellung deiner Kategorien</a> zu verwenden.</p>
</div>
<div class="paragraph">
<p>Diese Seite richtet sich in erster Linie an Verkäufer, die <em>keine</em> Ceres-Webshop haben. Mit anderen Worten, richtet sich diese Seite an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verkäufer, die noch den älteren Callisto-Webshop nutzen</p>
</li>
<li>
<p>Verkäufer, die gar keinen plentymarkets Webshop nutzen</p>
</li>
<li>
<p>Verkäufer, die ihre Kategorien nicht mit ShopBuilder erstellen möchten</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Kategoriebaum erarbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Überlege dir, welche Kategorien und Unterkategorien für deine Produkte sinnvoll sind. Mit welcher Sortierung findet man sich am besten in deinem Shop zurecht? Trage diese Informationen am besten zusammen, bevor du mit dem Erstellen der Kategorien beginnst. Eine Baumstruktur zu skizzieren kann dir helfen, deine Produkte sinnvoll zu gruppieren.</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-kategoriestrukturen-beispiele">Tabelle 1</a> zeigt zwei stark vereinfachte Beispiele für verschiedene Artikelstrukturen.</p>
</div>
<table id="tabelle-kategoriestrukturen-beispiele" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Beispiele für verschiedene Artikelkategoriestrukturen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beispielstruktur 1</th>
<th class="tableblock halign-left valign-top">Beispielstruktur 2</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Damen</p>
<div class="ulist">
<ul>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Bekleidung</p>
</li>
</ul>
</div>
</li>
<li>
<p>Herren</p>
<div class="ulist">
<ul>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Bekleidung</p>
</li>
</ul>
</div>
</li>
<li>
<p>Kinder</p>
<div class="ulist">
<ul>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Bekleidung</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Schuhe</p>
<div class="ulist">
<ul>
<li>
<p>Damen</p>
</li>
<li>
<p>Herren</p>
</li>
<li>
<p>Kinder</p>
</li>
</ul>
</div>
</li>
<li>
<p>Accessoires</p>
<div class="ulist">
<ul>
<li>
<p>Damen</p>
</li>
<li>
<p>Herren</p>
</li>
<li>
<p>Kinder</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bekleidung</p>
<div class="ulist">
<ul>
<li>
<p>Damen</p>
</li>
<li>
<p>Herren</p>
</li>
<li>
<p>Kinder</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">2. Kategorietiefe bedenken</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie viele Kategorien können auf der ersten Ebene sein, ohne deine Kunden zu überfordern? Ab welcher Tiefe nehmen Kunden deine Kategorien nicht mehr wahr? Entscheide zunächst, wie viele Kategorieebenen du in deinem Webshop haben möchtest.</p>
</div>
<div class="sect2">
<h3 id="120">2.1. Grundsätzliche Kategorietiefe festlegen</h3>
<div class="paragraph">
<p>Lege zunächst fest, wie viele Kategorieebenen grundsätzlich funktionieren sollen. Wenn du z.B. 4 Ebenen wählst, können keine Kategorien auf der 5. Ebene erstellt werden. Speichere diese Einstellung für jeden deiner Mandanten (Shops). Diese Einstellung gilt für den gesamten Kategoriebaum, also für alle Kategorietypen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorieebenen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Kategorien » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle die maximal mögliche Ebenentiefe in der Kategorienavigation.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">2.2. Kategorietiefe im Ceres-Webshop festlegen</h3>
<div class="paragraph">
<p>Wie viele Kategorienebenen sollen in der Kopfleiste deines Ceres-Webshops angezeigt werden? Als Teil der Webshop-Einrichtung, wirst du diese <a href="/webshop/shop-builder#_kategorie_navigation">Kategorietiefe in plentymarkets speichern</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Kategorien manuell anlegen und bearbeiten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">3.1. Neue Kategorien erstellen</h3>
<div class="paragraph">
<p>Hast du dir schon einen <a href="/artikel/einstellungen/kategorien#100">sinnvollen Kategoriestruktur</a> überlegt? Dann bist du jetzt bereit, die Haupt- und Unterkategorien zu erstellen, die deine Produkte gruppieren werden.</p>
</div>
<div class="paragraph">
<p>Wenn du <em>nur wenige Kategorien</em> anlegen willst, empfiehlt sich die manuelle Erstellung. Hast du aber dagegen <em>eine Vielzahl an Kategorien</em>, dann ist es wahrscheinlich schneller, deine <a href="/artikel/einstellungen/kategorien#1200">Kategoriedaten zu importieren</a>.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie manuell erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Neue Kategorie</strong> (<span class="icon"><i class="fa fa-plus" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für die Kategorie ein.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>).<br>
→ Die neue Kategorie wird erstellt und im Kategoriebaum angezeigt.</p>
</li>
</ol>
</div>
<div id="unterkategorie" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Unterkategorie erstellen</div>
<div class="paragraph">
<p>Klicke im Einstellungsfenster auf <strong>Unterkategorie</strong> (<span class="icon"><i class="fa fa-dot-circle-o" style="color:blue"></i></span>) und wähle die Kategorie, unter der die neue Kategorie erscheinen soll. Klicke ganz links auf das Ordner-Symbol (<span class="icon"><i class="fa fa-folder" style="color:darkGrey"></i></span>) einer Kategorie, um die darin enthaltenen Unterkategorien zu sehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Neue Kategorie beim Erstellen eines Artikels</div>
<div class="paragraph">
<p>Es ist technisch auch möglich, Artikeln und Kategorien gleichzeitig zu erstellen. Eine neue Kategorie kann also direkt bei der <a href="/artikel/artikel-verwalten#20">manuellen Artikelerstellung</a> mit angelegt werden. Diese Methode kann dir viel Zeit sparen, aber sie kann auch dazu führen, dass du den Überblick über deine Kategoriestruktur verlierst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">3.2. Bestehende Kategorien suchen und filtern</h3>
<div class="paragraph">
<p>Deine bereits erstellte Kategorien sind im Menü <strong>Artikel » Kategorien</strong> zu finden. Sie werden im Verzeichnisbaum links angezeigt.</p>
</div>
<div class="paragraph">
<p>Suchst du eine bestimmte Kategorie? Gib den Namen der gesuchten Kategorie in das Suchfeld oben links ein. Bereits während der Eingabe werden die Suchergebnisse angezeigt.</p>
</div>
<div class="paragraph">
<p>Bist du für mehrere Webshops zuständig? Oder wird dein Webshop in mehrere Sprachen ausgegeben? Verwendest du vielleicht sogar Kategorien, um die einzelne <a href="/artikel/einstellungen/kategorien#anwendungsfall">Content-Seiten deines Webshops</a> abzubilden? Dann filtere deine Kategorien mit den die drei Dropdown-Listen ganz oben. Grenze somit ein, welche Kategorien dir im Verzeichnisbaum links angezeigt werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kategorienamen in kursive Schrift</div>
<div class="paragraph">
<p>Ob eine Kategorie in der gewählten Kombination aus Webshop, Sprache und Anwendungsfall verfügbar ist, erkennst du am Schriftschnitt. Wird der Kategoriename in kursive Schrift dargestellt, ist die Kategorie nicht für die gewählte Filterkombination verfügbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kategorienamen in rot, gelb und grau</div>
<div class="paragraph">
<p>Werden im Verzeichnisbaum deine Kategorienamen in verschiedene Farben dargestellt? Keine Sorge! Die Farbe gibt dir lediglich Auskunft über die unterschiedliche <a href="/artikel/einstellungen/kategorien#anwendungsfall">Anwendungsbereiche von Kategorien</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">3.3. Bestehende Kategorien bearbeiten</h3>
<div class="paragraph">
<p>Klicke auf eine Kategorie im Menü <strong>Artikel » Kategorien</strong>, um sie zu öffnen und weiterzubearbieten.</p>
</div>
<div class="paragraph">
<p>Das Bearbeitungsfenster besteht aus einer <a href="/artikel/einstellungen/kategorien#600">Symbolleiste</a> und aus den folgenden Tabs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/kategorien#700">Einstellungen</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#800">Beschreibung 1 und 2</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#900">Dokumente</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#1000">Notiz</a></p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="600">3.3.1. Symbolleiste</h4>
<div class="ulist">
<ul>
<li>
<p>Ganz oben siehst du den Pfad der geöffneten Kategorie. Du kannst auf eine der übergeordneten Kategorien klicken, um diese Kategorie ebenfalls zu öffnen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>), um deine Änderungen an der Kategorie beizubehalten. Hast du noch nichts an der Kategorie geändert, ist das Symbol ausgegraut. <a href="/basics/arbeiten-mit-plentymarkets/allgemeine-funktionen#110">Ungesicherte Änderungen</a> an einer Kategorie erkennst du auch anhand der rote Markierung (<span class="icon"><i class="fa fa-caret-left" style="color:red"></i></span>) am Tab.</p>
</li>
<li>
<p>Die Kategorie-ID wird automatisch vergeben und ist nicht änderbar. Sie dient zur eindeutigen Kennzeichnung deiner Kategorien. Pflegst du die gleiche Kategorie in mehrere Sprachen oder in mehrere Webshops? Jede Mandant- und Sprachversion der Kategorie hat die selbe ID.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>), um das Aussehen deiner Kategorie im Webshop zu prüfen.</p>
</li>
<li>
<p>Klicke auf <strong>Inline-Edit-Vorschau</strong> (<span class="fa-stack fa-lg"><i class="fa fa-pencil fa-stack-2x" style="background-color:yellow"></i><i class="fa fa-eye fa-stack-1x lr" style="color: darkGrey"></i></span>), um das Aussehen deiner Kategorie im Webshop gleichzeitig zu prüfen und zu bearbeiten.</p>
</li>
<li>
<p>Die <strong>Bilder-Galerie</strong> (<span class="fa-stack fa-lg"><i class="fa fa-picture-o fa-stack-2x" style="color:blue"></i><i class="fa fa-pencil fa-stack-1x tl" style="color: darkGrey"></i></span>) ist nicht mehr verfügbar.</p>
</li>
<li>
<p>Klicke auf <strong>Template-Variablen und -Funktionen</strong> (<span class="icon"><i class="fa fa-code" style="color:blue"></i></span>), um eine Übersicht der <a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-template-variablen">Template-Variablen</a> und <a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-template-funktionen">Template-Funktionen</a> zu öffnen. Wenn du den alten Callisto-Webshop verwendest, kannst du Template-Variablen und -Funktionen in deine <a href="/artikel/einstellungen/kategorien#800">Kategoriebeschreibung</a> eingefügen.<br>
Beispiele für Funktionen:<br>
<strong>&#123;&#37; Link(Kategorie-ID) &#37;&#125;</strong> = Verlinkt auf eine andere Kategorieseite<br>
<strong>&#123;&#37; Link_ShippingCosts() &#37;&#125;</strong> = Verlinkt auf die Informationen zu den Versandkosten</p>
</li>
<li>
<p>Klicke auf <strong>Multilingualität</strong> (<span class="icon"><i class="fa fa-comments-o" style="color:darkGrey"></i></span>), um eine <a href="/artikel/einstellungen/kategorien#1500">zweisprachige Ansicht der Kategorie</a> zu öffnen. Welche zwei Sprachen willst du sehen? Wähle sie aus der Dropdown-Liste oben. Du kannst auch Sprachen anzeigen, für die noch keine Inhalte gespeichert wurden. Die Standard-Sprache muss nicht zwingend geöffnet sein.</p>
</li>
<li>
<p>Pflegst du die gleiche Kategorie in mehrere Sprachen oder in mehrere Webshops? Klicke auf <strong>Kategorie-Einstellungen übertragen</strong> (<span class="fa-stack fa-lg"><i class="fa fa-gears fa-stack-2x" style="color:darkGrey"></i><i class="fa fa-arrow-right fa-stack-1x ll" style="color: darkGrey"></i></span>), um die Einstellungen dieser Kategorie auf eine andere Mandant- oder Sprachversion zu übertragen. Wähle die Optionen (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>), die übertragen werden sollen. Wähle die Mandant- und Sprachversionen (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>), die diese Optionen erhalten sollen.</p>
</li>
<li>
<p>Wenn du den alten Callisto-Webshop verwendest, kannst du <a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-template-variablen">Template-Variablen</a> und <a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-template-funktionen">Template-Funktionen</a> in deine <a href="/artikel/einstellungen/kategorien#800">Kategoriebeschreibungen</a> eingefügen. Möchtest du <em>diese Kategorie</em> an anderer Stelle einfügen, siehst du die entsprechende Template-Funktion oben in die Symbolleiste. Die Funktion enthält immer die Kategorie-ID zur eindeutigen Zuordnung.</p>
</li>
<li>
<p>Der Zeitstempel zeigt den Zeitpunkt der letzten Bearbeitung und den Bearbeiter an.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-circle" style="color:red"></i></span>), um die Kategorie zu entfernen. Du wirst gefragt, ob du die ganze Kategorie oder nur die gewählte Kombination aus Sprache und Mandant löschen möchtest.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="700">3.3.2. Einstellungen</h4>
<div class="paragraph">
<p>Speichere zunächst einige grundlegende Informationen über deine Kategorie, z.B.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/kategorien#anwendungsfall">wofür möchtest du die Kategorie verwenden</a>?</p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#url">wie soll die URL lauten</a>?</p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#metadaten">hat die Kategorie SEO-relevante Metadaten</a>?</p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#login">soll die Kategorie nur für eingeloggte Nutzer sichtbar sein</a>?</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum sehe ich manche Einstellungen nicht?</div>
<div class="paragraph">
<p>Welche Einstellungen angezeigt werden hängt vom <a href="/artikel/einstellungen/kategorien#anwendungsfall">Anwendungsbereich der Kategorie ab</a>.
Die meisten Einstellungen treffen auf alle Kategorietypen zu. Einzelne Einstellungen sind aber für bestimmte Kategoriesorten irrelevant und werden deshalb ausgeblendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-kategorieeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Kategorieeinstellungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="anwendungsfall">Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wofür möchtest du die Kategorie verwenden? In plentymarkets können Kategorien sowohl im Sinne von <em>Warengruppen</em> als auch im Sinne von den <em>Content-Seiten</em> eines Webshops verstanden werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel</strong> (<span class="icon"><i class="fa fa-file" style="color:darkGrey"></i></span>) = Warengruppen, die dazu dienen, Produkte übersichtlich zu gruppieren. <a href="/artikel/einstellungen/kategorien#300">Neu angelegte Kategorien</a> haben standardmäßig den Typ <strong>Artikel</strong>.<br>
Hast du <a href="/artikel/einstellungen/kategorien#1300">eine Kategorie bereits mit Artikeln verknüpft</a> und änderst du den Typ von <strong>Artikel</strong> zu <strong>Content</strong>, werden die Artikelverknüpfungen nicht automatisch gelöscht. Allerdings ist die Kategorie am Artikeldatensatz nicht mehr sichtbar.</p>
</li>
<li>
<p><strong>Content</strong> (<span class="icon"><i class="fa fa-file" style="color:yellow"></i></span>) = Content-Seiten für den Webshop, z.B. Informationsseiten wie AGBs, Zahlungs- und Versandinformationen.</p>
</li>
<li>
<p><strong>Container</strong> (<span class="icon"><i class="fa fa-file" style="color:red"></i></span>) = Dieser Kategorietyp ist nur für ältere Callisto-Webshops relevant. Der Inhalt einer Kategorie des Typs Container kann ähnlich wie der von Freitextfeldern über Template-Funktionen auf anderen Seiten angezeigt werden, z.B. in einer anderen Kategorie. Außerdem werden damit die Bestellschritte des <a href="/webshop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-bestellvorgang-individueller-bestellvorgang">Individuellen Bestellvorgangs</a> realisiert.</p>
</li>
<li>
<p><strong>Blog</strong> (<span class="icon"><i class="fa fa-file" style="color:yellow"></i></span>) = Schreibst du ein Blog für dein Callisto-Webshop? Mit Blogkategorien kannst du deine Beiträge unter bestimmten Themen einordnen, beispielsweise "Neuigkeiten" oder "Über uns".<br>
Es ist auch möglich, einen <a href="/webshop/ceres-einrichten#970">Blog für deinen Ceres-Webshop</a> zu schreiben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Namen für die Kategorie eingeben.<br>
<strong><em>Hinweis:</em></strong> Der gleiche Kategoriename kann in unterschiedlichen Kategorien auf derselben Ebene verwendet werden. Innerhalb einer Kategorie darf der Name jedoch pro Ebene nur einmal verwendet werden.<br>
<strong><em>SEO-Tipp:</em></strong> Für Kategorien des gleichen Namens unterschiedliche Meta-Titel und Meta-Beschreibungen speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/basics/arbeiten-mit-plentymarkets/tags">Tags</a> wählen, um der Kategorie Themengebiete zuzuordnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="url">URL-Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ggf. den Namen ändern, der für die URL verwendet werden soll. Beim Erstellen einer Kategorie wird als URL-Name automatisch der Kategoriename verwendet. Der gleiche URL-Name darf in unterschiedlichen Kategorien auch auf derselben Ebene verwendet werden. Innerhalb einer Kategorie darf der URL-Name jedoch nur einmal pro Ebene verwendet werden.<br>
<strong><em>SEO-Tipp:</em></strong> Da beim Erstellen der Kategorie kein Mandant gewählt ist, wird die automatisch erstellte URL nicht von Suchmaschinen indiziert. SEO-technisch ist es ratsam, den URL-Namen nicht mehr zu ändern, nachdem die Kategorie für einen Mandanten aktiviert wurde.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der URL-Name darf keine Sonderzeichen enthalten. Daher ausschließlich ASCII-Code verwenden.</p>
</li>
<li>
<p>Folgende Zeichenfolgen dürfen zu Beginn eines URL-Namens nicht verwendet werden:<br>
a-, b-, c-, f-, fa-, p-, t-<br>
Diese Anfangszeichen werden automatisch entfernt. Aus "a-klasse" wird z.B. automatisch "klasse". Für eine Kategorie mit dem Namen A-Klasse also z.B. den URL-Namen "aklasse" eingeben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die URL der Kategorie. Die URL wird automatisch aus dem vollständigen Pfad der Kategorie erstellt, also aus Domain, Kategorieebenen und URL-Namen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Canonical</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ggf. die URL einer Kategorie eingeben, die den gleichen Inhalt enthält, um <a href="/webshop/webshop-einrichten/cms-syntax#110">Duplicate Content</a> zu verhindern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kurzbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Kurzbeschreibung der Kategorie eingeben. Die Kurzbeschreibung wird über Template-Variablen in das Design des Webshops eingebunden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="position">Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Zahl ein, um die Reihenfolge der Kategorien auf dieser Ebene festzulegen. Die <a href="/webshop/webshop-einrichten/artikelansichten">Sortierreihenfolge</a> wird im Menü <strong>Einrichtung » Mandant » Mandant wählen » Artikelansichten » Einstellungen</strong> festgelegt. Standardmäßig wird nach aufsteigender Positionsnummer sortiert.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in Zehnerschritten vergeben, damit neue Kategorien dazwischen eingefügt werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welche Webshops soll die Kategorie sichtbar sein? Wähle einen, mehrere oder alle Mandanten aus der Liste (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>).</p>
</div>
<div class="paragraph">
<p>Hast du für diese Kategorie auch <em>Unterkategorien</em> gespeichert? Dann gilt noch folgendes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aktiviere die Option <strong>Sichtbarkeit auf Unterkategorien übertragen</strong> (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>), wenn du die Unterkategorien ebenfalls für den gewählten Mandanten sichtbar machen willst.</p>
</li>
<li>
<p>Die Option <strong>Sichtbarkeit auf Unterkategorien übertragen</strong> bezieht sich nur auf den aktuellen Speichervorgang. Das Häkchen verschwindet also nach dem Speichern und muss für jeden Vorgang neu gesetzt werden.</p>
</li>
<li>
<p>Ist eine Unterkategorie sichtbar, <em>muss</em> die übergeordnete Kategorie auch sichtbar sein. Das heißt:</p>
<div class="ulist">
<ul>
<li>
<p>Wenn du eine Unterkategorie sichtbar stellst, werden die übergeordneten Kategorien ebenfalls sichtbar gestellt.</p>
</li>
<li>
<p>Wenn du eine übergeordnete Kategorie unsichtbar stellst, werden die Unterkategorien ebenfalls unsichtbar gestellt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="metadaten">Meta-Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Titel eintragen. Der Meta-Titel wird als Tab-Titel im Webbrowser und als Suchergebnis in Suchmaschinen angezeigt. Wird das Feld leer gelassen, wird der Kategoriename als Titel verwendet.<br>
<strong><em>SEO-Tipp:</em></strong> Auf die Länge des Titels achten. Längere Titel werden in Tabs abgekürzt. Aktueller Richtwert: max. 50 Zeichen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta-Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Meta-Beschreibung mit maximal 350 Zeichen eingeben. Die Meta-Beschreibung wird von Suchmaschinen ausgewertet und ist daher besonders für die Startseite wichtig.<br>
<strong><em>SEO-Tipp:</em></strong> Die Meta-Beschreibung soll den wesentlichen Inhalt in einem Satz enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta-Keywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stichwörter eingeben, die potentielle Kunden in Suchmaschinen eingeben und die den Inhalt der Kategorie widerspiegeln.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sitemap</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll die Kategorie in die Sitemap aufgenommen werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Anzeigen</strong> = Kategorie wird in die Sitemap aufgenommen.</p>
</li>
<li>
<p><strong>Nicht anzeigen</strong> = Kategorie wird nicht in die Sitemap aufgenommen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Robots</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Suchmaschinen-Crawlern werden mit diesen Werten mitgeteilt, wie sie mit der Seite und den Links auf dieser Seite verfahren sollen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>all</strong> = Webseite der Kategorie in den Suchmaschinenindex aufnehmen und Links auf der Seite folgen.</p>
</li>
<li>
<p><strong>index</strong> = In Suchmaschinenindex aufnehmen.</p>
</li>
<li>
<p><strong>nofollow</strong> = Links auf der Seite nicht folgen.</p>
</li>
<li>
<p><strong>noindex</strong> = Nicht in den Suchmaschinenindex aufnehmen.</p>
</li>
<li>
<p><strong>nofollow, noindex</strong> = Den Links nicht folgen und die Webseite der Kategorie nicht in den Suchmaschinenindex aufnehmen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Seite</strong><br>
(nur für den alten Callisto-Webshop relevant)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Template wählen. Das hier gewählte Template bildet den Rahmen für die Kategorie. Option steht für Kategorien des Typs <strong>Container</strong> nicht zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Liste</strong><br>
(nur für den alten Callisto-Webshop relevant)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Template wählen. Das Template bestimmt, wie die Kategorieübersicht der aktuellen Kategorie aussieht. Option steht nur für Kategorien des Typs <strong>Artikel</strong> zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Produkt</strong><br>
(nur für den alten Callisto-Webshop relevant)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Template wählen. Das Template bestimmt die Einzelansicht der Artikel dieser Kategorie. Option steht nur für Kategorien des Typs <strong>Artikel</strong> zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Volltextsuche</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll die Kategorie zum Suchindex der Kategoriesuche im Webshop hinzugefügt werden?<br>
<strong><em>Hinweis:</em></strong> Das Template-Plugin Ceres und die Suche FINDOLOGIC berücksichtigen diese Einstellung nicht.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Wenn im Menü <strong>Einrichtung » Mandant » Mandant öffnen » Webshop » Weiterleitung</strong> die Option <strong>Umleitung bei Kategorie</strong> auf <strong>Content-Suche ausführen</strong> eingestellt ist, werden die Kategoriedaten durchsucht, wenn versucht wird, eine nicht mehr gültige Kategorie-URL zu öffnen.<br>
Die Kategoriedaten werden außerdem zum Suchindex der Kategoriesuche im Webshop hinzugefügt. Wenn im Webshop ein Suchbegriff eingegeben wird, werden der Kategoriename, Beschreibung 1, Beschreibung 2 und der Meta-Titel der Kategorie nach diesem Suchbegriff durchsucht.<br>
<strong><em>Hinweis:</em></strong> Um eine Kategoriesuche zu ermöglichen, sind Code-Anpassungen im Template <strong>CategoryViewContentSearchResultsList</strong> erforderlich.<br></p>
</li>
<li>
<p><strong>Nein</strong> = Die Kategorie wird nicht zum Suchindex der Kategoriesuche hinzugefügt.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In Linkliste</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll die Kategorie in der Navigation im Webshop angezeigt werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Anzeigen</strong> = Kategorie wird in der Navigation im Webshop angezeigt.</p>
</li>
<li>
<p><strong>Nicht anzeigen</strong> = Kategorie wird nicht in der Navigation im Webshop angezeigt.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="login">Sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll die Kategorie nur für eingeloggte Besucher sichtbar sein?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Öffentlich</strong> = Kategorie ist für alle Besucher des Webshops sichtbar.</p>
</li>
<li>
<p><strong>Nach Login</strong> = Kategorie samt aller Unterkategorien ist nur für eingeloggte Besucher des Webshops sichtbar. Nicht eingeloggte Besucher werden auf die Login-Seite umgeleitet.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Elmar-Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Elmar-Kategorie wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Variablen und -Funktionen übersetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen Template-Variablen und -Funktionen übersetzt werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Alle Template-Variablen und -Funktionen werden übersetzt.</p>
</li>
<li>
<p><strong>Nur Link-Template-Variablen und -Funktionen</strong> = Nur Link-Template-Variablen und -Funktionen werden übersetzt.</p>
</li>
<li>
<p><strong>Nein</strong> = Keine Template-Variablen und -Funktionen werden übersetzt.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="800">3.3.3. Beschreibung 1 und 2</h4>
<div class="paragraph">
<p>In den Tabs <strong>Beschreibung 1</strong> und <strong>Beschreibung 2</strong> fügst du Text ein und formatierst diesen Text. In das Webdesign deines Shops sowie an anderen Stellen fügst du diese Beschreibung über <a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-template-variablen">Template-Variablen</a> und <a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-template-funktionen">Template-Funktionen</a> ein. Mit <strong>Beschreibung 1</strong> und <strong>2</strong> hast du die Möglichkeit, zwei Texte zu einer Kategorie zu verfassen und an unterschiedlichen Stellen einer Webseite anzuzeigen. So kannst du <strong>Beschreibung 1</strong> z.B. oberhalb einer Artikelübersicht und <strong>Beschreibung 2</strong> darunter anzeigen.</p>
</div>
<div class="paragraph">
<p>Über die Dropdown-Liste rechts über dem Eingabefeld wähle den Editor, mit dem du die Beschreibung bearbeiten möchtest. Zur Verfügung stehen der <a href="/webshop/webshop-einrichten/cms#webdesign-werkzeuge-editor">Editor</a>, der HTML-Editor <strong>Textfeld</strong> und der <a href="/webshop/webshop-einrichten/cms#webdesign-werkzeuge-syntax-editor">Syntax-Editor</a>. Für den Typ <strong>Container</strong> stehen nur der HTML-Editor <strong>Textfeld</strong> und der <strong>Syntax-Editor</strong> zur Verfügung.</p>
</div>
</div>
<div class="sect3">
<h4 id="900">3.3.4. Dokumente</h4>
<div class="paragraph">
<p>Füge Bilder und Dateien zu deinen Kategorien hinzu. Zulässig sind Datenformate wie JPEG, PNG, GIF, TIFF, PDF, DOC, ODC, OTH, XLS, XML, HTML, HTM, CSS, JavaScript, ZIP, JSON und GZIP.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Dokumente hochladen</div>
<div class="paragraph">
<p>Dokumente fügst du entweder über <span class="icon"><i class="fa fa-upload" style="color:purple"></i></span> <strong>Dateien hochladen</strong> oder per Drag-and-Drop-Funktion zum Tab hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bei einer Kategorie vom Typ <strong>Artikel</strong> können bis zu zwei Kategoriebilder gleichzeitig in Verwendung sein. Es ist aber möglich mehr als nur zwei Dateien hochladen. Änderst du also regelmäßig deine Kategoriebilder, ist es nicht notwendig, die Bilder zu löschen, die du gerade nicht verwendest.</p>
</div>
<div class="paragraph instruction">
<p>Kategoriebilder festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Lade die Bilder ggf. hoch.</p>
</li>
<li>
<p>Fahre mit dem Mauszeiger über das gewünschte Bild.</p>
</li>
<li>
<p>Wähle (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>) das Bild.</p>
</li>
<li>
<p>Klicke auf <strong>Bild 1</strong>.<br>
→ Das Bild erhält einen roten Rahmen mit einer <strong>1</strong>.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: verfahre für das zweite Kategoriebild genauso und klicke auf <strong>Bild 2</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Auswahl eines Kategoriebilds hebst du auf, indem du das Bild erneut wählst (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>) und auf <strong>Bild 1</strong> oder <strong>Bild 2</strong> klickst.</p>
</div>
<div class="paragraph">
<p>Die ausgegrauten Schaltflächen der Symbolleiste werden wählbar, sobald ein oder mehrere Bilder durch Setzen eines Häkchens gewählt wurden. Dies ermöglicht es, die Vorschau für mehrere Bilder gleichzeitig zu öffnen, Bilder gleichzeitig herunterzuladen oder gemeinsam zu löschen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Anzeige der Kategoriebilder im Webshop</div>
<div class="paragraph">
<p>Standardmäßig wird nur Kategoriebild 1 im Webshop angezeigt. Hierfür wurde eine <a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-if">if-Abfrage</a> mit der Template-Variable <a href="/webshop/webshop-einrichten/cms-syntax#webdesign-navigation">$CurrentCategoryImageUrl</a> in das Template <strong>ItemViewCategoriesList</strong> eingefügt. Damit auch Kategoriebild 2 angezeigt wird, füge eine zweite if-Abfrage in das Template ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="1000">3.3.5. Notiz</h4>
<div class="paragraph">
<p>Im Tab <strong>Notiz</strong> speicherst du Anmerkungen zu einer Kategorie. Hier kannst du z.B. festhalten, woher eine Information stammt, oder vermerken, dass bestimmte Abschnitte nicht geändert werden dürfen. Die in diesem Tab gespeicherten Informationen sind nur in plentymarkets sichtbar und werden nicht im Webshop ausgegeben.</p>
</div>
<div class="paragraph instruction">
<p>Notiz speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Notiz</strong>.</p>
</li>
<li>
<p>Gib die Notiz in das Bearbeitungsfeld ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Notiz.<br>
→ Die Notiz wird gespeichert und in einer gelben Sprechblase angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1100">3.4. Kopieren, verschieben, löschen</h3>
<div class="paragraph">
<p>Das sogenannte <em>Kontextmenü</em> hilft dir bei der Verwaltung deiner Kategorien. Willst du eine Kategorie verschieben, kopieren oder löschen? Kein Problem! Du kannst auch das Kontextmenü aufrufen, wenn du neue Artikel oder Unterkategorien anlegen möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Kontextmenü aufrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Fahre mit dem Mauszeiger über einen Kategorienamen.</p>
</li>
<li>
<p>Klicke auf das kleine Dreieck (<span class="icon"><i class="fa fa-caret-down" style="color:darkGrey"></i></span>).<br>
→ Das Kontextmenü erscheint.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/assets/Kategorie-Kontextmenue.png" alt="Kategorie Kontextmenue">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon"><i class="fa fa-pencil" style="color:darkGrey"></i></span> <strong>Kategorie bearbeiten</strong> = öffnet die Kategorie, um sie <a href="/artikel/einstellungen/kategorien#500">weiterzubearbieten</a>.</p>
</li>
<li>
<p><span class="fa-stack fa-lg"><i class="fa fa-folder-open fa-stack-2x" style="color:darkGrey"></i><i class="fa fa-arrow-right fa-stack-1x lr" style="color: darkGrey"></i></span> <strong>Kategorie verschieben</strong> = verschiebt die Kategorie, z.B. <a href="/artikel/einstellungen/kategorien#unterkategorie">von einer Hauptkategorie in eine Unterkategorie</a>. Willst du auch bestimmen, welche Kategorie als erstes, zweites, drittes usw angezeigt wird? Ändere dazu die <a href="/artikel/einstellungen/kategorien#position">Positionsnummer</a>.</p>
</li>
<li>
<p><span class="icon"><i class="fa fa-copy" style="color:darkGrey"></i></span> <strong>Kategorie kopieren</strong> = erstellt eine Kopie der Kategorie. Verwende diese Funktion, z.B. wenn du eine ähnliche Kategorie an anderer Stelle benötigst. Dazu die Kategorie mit sämtlichen Einstellungen kopieren und anschließend einzelne Optionen wie Namen, Beschreibung und Position anpassen.</p>
</li>
<li>
<p><span class="fa-stack fa-lg"><i class="fa fa-cubes fa-stack-2x" style="color:darkGrey"></i><i class="fa fa-plus fa-stack-1x tl" style="color: darkGrey"></i></span> <strong>Neuen Artikel erstellen</strong> = öffnet die <a href="/artikel/artikel-verwalten#20">Eingabemaske zum manuellen Anlegen eines neuen Artikels</a>.</p>
</li>
<li>
<p><span class="icon"><i class="fa fa-minus-circle" style="color:darkGrey"></i></span> <strong>Kategorie löschen</strong> = löscht die Kategorie, nach Bestätigung deiner Entscheidung. Die Kategorie wird vollständig gelöscht, d.h. wenn du die gleiche Kategorie in mehrere Sprachen oder in mehrere Webshops pflegst, werden <em>alle</em> Mandant- und Sprachversionen gelöscht. Möchtest du <a href="/artikel/einstellungen/kategorien#600">nur eine bestimmte Kombination aus Sprache und Mandant löschen</a>, klicke stattdessen auf das Löschen-Symbol in die obere Symbolleiste.</p>
</li>
<li>
<p><span class="icon"><i class="fa fa-plus" style="color:darkGrey"></i></span> <strong>Unterkategorie erstellen</strong> = legt eine neue Kategorie unterhalb dieser Kategorie an.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">4. Kategoriedaten importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du dir schon einen <a href="/artikel/einstellungen/kategorien#100">sinnvollen Kategoriestruktur</a> überlegt? Dann bist du jetzt bereit, die Haupt- und Unterkategorien zu erstellen, die deine Produkte gruppieren werden.</p>
</div>
<div class="paragraph">
<p>Wenn du <em>nur wenige Kategorien</em> anlegen willst, empfiehlt sich die <a href="/artikel/einstellungen/kategorien#300">manuelle Erstellung</a>. Hast du aber dagegen <em>eine Vielzahl an Kategorien</em>, dann ist es wahrscheinlich schneller, deine Kategoriedaten zu importieren.</p>
</div>
<div class="paragraph">
<p>Kategorien werden mit einem <a href="/daten/daten-importieren/ElasticSync">Tool namens ElasticSync</a> importiert. Die Idee ist ganz einfach. Anstatt Kategorieinformationen in plentymarkets manuell zu speichern, <a href="/daten/daten-importieren/sync-typen/elasticSync-kategorien">trägst du die gleiche Informationen in eine CSV-Datei ein</a> und importierst diese Datei dann in dein System.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">5. Artikel in Kategorien einsortieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jeder Artikel <em>muss</em> einer Kategorie angehören. Es ist technisch nicht möglich, ein Artikel ohne Kategorie anzulegen. Daher werden Artikel bereits während der Erstellung in Kategorien eingeteilt. Dabei spielt es keine Rolle, ob du den Artikel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#20">manuell erstellst</a></p>
</li>
<li>
<p><a href="/basics/assistenten">mit Hilfe eines Assistenten erstellst</a></p>
</li>
<li>
<p><a href="/daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-variantenanlage">mit ElasticSync importierst</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Treffen mehrere Kategorien zu?</div>
<div class="paragraph">
<p>Manchmal ist es sinnvoll Artikel in mehrere Webshop-Kategorien zu führen. Zusätzliche Kategorien können <a href="/artikel/artikel-verwalten#300">manuell am Artikeldatensatz verknüpft</a> oder <a href="/daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-variantenanlage#_kategorieverknüpfungen">kommasepariert in Import-Dateien</a> angegeben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">6. Kategorien im Webshop anzeigen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1410">6.1. Artikel-Kategorien anzeigen</h3>
<div class="paragraph">
<p>Du hast deine Kategorien erstellt und möchtest jetzt prüfen, wie sie in deinem Shop aussehen. Aber wo sind sie? Warum sind sie nicht sichtbar?</p>
</div>
<div class="paragraph">
<p><a href="/artikel/best-practices/best-practices_kategorien">Arbeite diese Checkliste durch</a> und vergewissere dich, dass deine Kategorie alle Voraussetzungen erfüllt, um im Online-Shop sichtbar zu sein.</p>
</div>
</div>
<div class="sect2">
<h3 id="1420">6.2. Content-Kategorien anzeigen</h3>
<div class="paragraph">
<p>Es gibt mehrere Möglichkeiten, Kategorien des Typs <strong>Content</strong> in den Callisto-Webshop einzubinden. Unten werden beispielhaft zwei dieser Möglichkeiten beschrieben.</p>
</div>
<div class="sect3">
<h4 id="1430">6.2.1. Einzelne Kategorie einbinden</h4>
<div class="paragraph">
<p>Zunächst wird beschrieben, wie du eine einzelne Kategorie einbindest.</p>
</div>
<div class="paragraph instruction">
<p>Einzelne Kategorie in Design einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout</strong>.</p>
</li>
<li>
<p>Wähle das Layout, in das die Kategorie eingebunden werden soll.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PageDesignContentMainFrame</strong>.</p>
</li>
<li>
<p>Füge die Template-Funktion <strong>{Link(ID) &#37;&#125;</strong> an der gewünschten Stelle im Layout ein.</p>
</li>
<li>
<p>Ersetze <strong>ID</strong> durch die ID der Kategorie.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1440">6.2.2. Kategorie in anderer Kategorie anzeigen</h4>
<div class="paragraph">
<p>Um den Inhalt einer Kategorie über eine Template-Funktion in einer anderen Kategorie anzuzeigen, füge die Template-Funktion <strong>{CategoryContentBody(ID) &#37;&#125;</strong> an der gewünschten Stelle der Seite ein und ersetze <strong>ID</strong> durch die ID der Content-Kategorie, die angezeigt werden soll. So kannst du z.B. die AGBs in einer anderen Kategorie anzeigen.</p>
</div>
</div>
<div class="sect3">
<h4 id="1450">6.2.3. Alle Kategorien des Typs Content einbinden</h4>
<div class="paragraph instruction">
<p>Alle Kategorien des Typs Content in Design einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout</strong>.</p>
</li>
<li>
<p>Wähle die Vorlage, in die die Kategorien eingebunden werden sollen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PageDesignContentMainFrame</strong>.</p>
</li>
<li>
<p>Füge die Template-Funktion <strong>{Container_NavigationCategories() &#37;&#125;</strong> an der gewünschten Stelle im Layout ein.</p>
</li>
<li>
<p>Füge die Template-Funktion der Navigation ein, die du für Kategorien des Typs <strong>Content</strong> eingestellt hast.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kategorietyp für die Navigation einstellen</div>
<div class="paragraph">
<p>Im Menü <strong>CMS » Webdesign » Layout » Navigation</strong> stehen verschiedene Designs für die Kategorienavigation zur Verfügung. Stelle bei dem Design, das du für die Kategorien des Typs <strong>Content</strong> verwendest, unbedingt im Tab <strong>Einstellungen</strong> auch den Typ <strong>Content</strong> ein.<br>
Wenn du ein plentymarkets Standard-Design verwendest, ist <strong>NavigationCategories4</strong> für Kategorien des Typs <strong>Content</strong> vorgesehen. Diese Einstellung kannst du jederzeit ändern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1460">6.3. Container-Kategorien anzeigen</h3>
<div class="paragraph">
<p>Kategorien des Typs <strong>Container</strong> werden über Template-Funktionen in den Callisto-Webshop eingebunden.</p>
</div>
<div class="sect3">
<h4 id="1470">6.3.1. Kategorie anzeigen</h4>
<div class="paragraph">
<p>Um den Inhalt einer Kategorie des Typs <strong>Container</strong> über Template-Funktionen anzuzeigen, z.B. in einer anderen Kategorie, fügst du die Template-Funktion <strong>{CategoryContentBody(ID) &#37;&#125;</strong> an der gewünschten Stelle der Seite ein und ersetzt <strong>ID</strong> durch die ID der Kategorie des Typs <strong>Container</strong>, die angezeigt werden soll.</p>
</div>
</div>
<div class="sect3">
<h4 id="1480">6.3.2. Kategorie verknüpfen</h4>
<div class="paragraph">
<p>Für die Bestellschritte des <a href="/webshop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-bestellvorgang-individueller-bestellvorgang">Individuellen Bestellvorgangs</a> werden die Kategorien des Typs <strong>Container</strong> in den <strong>Design-Einstellungen</strong> im Tab <strong>Bestellvorgang</strong> verknüpft.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1490">7. Weitere Anwendungsfälle</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lerne auch weitere Anwendungen von Kategorien kennen! Willst du deine Kategorien in mehreren Sprachen speichern? Möchtest du Rabatte auf einzelne Artikelkategorien gewähren? Diese Fälle werden auch mit Kategorien gelöst.</p>
</div>
<div class="sect2">
<h3 id="1500">7.1. Mehrsprachige Kategorieseiten erstellen</h3>
<div class="paragraph">
<p>Um dein Webshop in mehreren Sprachen verfügbar zu machen, erstellst du die Kategorien in diesen Sprachen. In diesem Kapitel wird daher erläutert, wie du mehrsprachige Kategorien des Typs <strong>Content</strong>, des Typs <strong>Artikel</strong> und des Typs <strong>Container</strong> erstellst. Dabei wird davon ausgegangen, dass diese Kategorien bereits in der Standardsprache des Shops vorliegen und dass du einige <a href="/webshop/webshop-einrichten/mehrsprachiger-webshop">Voraussetzungen</a> bereits erfüllt hast.</p>
</div>
<div class="paragraph">
<p>Es gibt zwei Vorgehensweisen zum Erstellen von mehrsprachigen Kategorien. Du wählst zwischen einer mehrsprachigen und einer einsprachigen Bearbeitungsansicht. In der einsprachigen Ansicht bearbeitest du eine Sprachversion nach der anderen. In der mehrsprachigen Ansicht bearbeitest du zwei Sprachen parallel. Beide Vorgehensweisen werden unten beschrieben.</p>
</div>
<div class="sect3">
<h4 id="1510">7.1.1. Mehrsprachige Kategorie über einsprachige Ansicht erstellen</h4>
<div class="paragraph">
<p>Eine Sprachvariante einer bestehenden Kategorie erstellst du wie im Folgenden beschrieben.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit der Kategorien im Menü "Artikel » Kategorien"</div>
<div class="paragraph">
<p>Damit die Kategorien im Verzeichnisbaum des Menüs <strong>Artikel » Kategorien</strong> angezeigt werden, müssen die Kategorien in der Standardsprache des Systems erstellt werden. Das heißt, die Kategorie muss in der Standardsprache zumindest einen Seitennamen haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer Kategorie erstellen (einsprachig):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie, für die du eine Sprachvariante erstellen möchtest.</p>
</li>
<li>
<p>Stelle in der Kopfzeile die Option <strong>Sprache</strong> auf die gewünschte Sprache ein, z. B. <strong>Englisch</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Name</strong> eine Bezeichnung für die Seite ein.</p>
</li>
<li>
<p>Wähle eine <strong>Template-Seite</strong>, eine <strong>Template-Liste</strong>, ein <strong>Template-Produkt</strong> und eine Option zur <strong>Volltextsuche</strong>. Beachte dabei die Einstellungen der Kategorie in der Standardsprache.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Eintrag wird gespeichert.<br>
→ Der Pfad der Seite wird erstellt und wird in der Zeile <strong>URL</strong> angezeigt.</p>
</li>
<li>
<p>Füge die Inhalte in der gewählten Sprache ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1520">7.1.2. Mehrsprachige Kategorie über mehrsprachige Ansicht erstellen</h4>
<div class="paragraph">
<p>Um eine Sprachvariante einer Kategorie in der mehrsprachigen Ansicht hinzuzufügen, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer Kategorie erstellen (mehrsprachig):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf die gewünschte Kategorie.<br>
→ Die Kategorie wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Symbol <strong>Multilingualität</strong>.<br>
→ Die mehrsprachige Ansicht der Kategorie wird in einem neuen Tab geöffnet.<br>
<strong><em>Tipp:</em></strong> Standardmäßig wird links die Standardsprache des Webshops und rechts Englisch angezeigt.</p>
</li>
<li>
<p>Wähle rechts die gewünschte <strong>Sprache</strong>.</p>
</li>
<li>
<p>Gib in die Felder <strong>Name</strong>, <strong>URL-Name</strong> und <strong>Meta-Titel</strong> die gewünschten Bezeichnungen ein.</p>
</li>
<li>
<p>Trage die fremdsprachigen Texte und Inhalte in das Feld <strong>Beschreibung 1</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Kategorie wird in der gewählten Sprache erstellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Zwei neue Sprachen in der zweisprachigen Ansicht öffnen</div>
<div class="paragraph">
<p>Du kannst in der zweisprachigen Ansicht auch neue Sprachen öffnen, für die noch keine Inhalte gespeichert wurden. Die Standardsprache muss nicht geöffnet sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1530">7.2. Kategorierabatte speichern</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Kategorien » Rabatte</strong> hinterlegst du Mengenrabatte für einzelne Artikelkategorien. Pro Kategorie sind bis zu drei Mengenrabatte möglich. Die gespeicherten Rabatte werden automatisch angewendet, wenn bei einer Bestellung die rabattfähige Menge an Produkten aus einer Kategorie erreicht oder überschritten wird. Die eingegebenen Rabatte gelten jedoch nur für die Standardkategorie einer Variante.</p>
</div>
<div class="paragraph instruction">
<p>Kategorierabatte speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Kategorien » Rabatte</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#tabelle-kategorierabatte-speichern">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Rabatt wird automatisch im Webshop angewendet, wenn die rabattfähige Menge bestellt wird.<br>
<strong><em>Hinweis:</em></strong> Die Rabatte gelten nur für die Standardkategorie einer Variante.</p>
</li>
</ol>
</div>
<table id="tabelle-kategorierabatte-speichern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Kategorierabatte speichern</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabatt 1 (%)</strong>;<br>
<strong>Rabatt 2 (%)</strong>;<br>
<strong>Rabatt 3 (%)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabatt in Prozent eingeben, der angewendet werden soll, wenn die eingegebene Menge an Varianten erreicht wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ab Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der Varianten eingeben, die aus dieser Kategorie bestellt werden müssen, damit der Rabatt angewendet wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>