<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Markierungen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Markierungen umbenennen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Artikel mit Markierungen versehen</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.</span><span> Tags</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>2.1.</span><span> Tags erstellen</span></a></li>
<li><a href="#600"><span>2.2.</span><span> Varianten mit Tags versehen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Tags und Markierungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Es ist leicht, den Überblick zu verlieren, wenn du mit vielen verschiedenen Artikeln arbeitest. Tags und Markierungen sind gute Möglichkeiten, Artikel übersichtlicher zu gestalten und besser zu sortieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist der Unterschied zwischen Tags und Markierungen?</div>
<div class="paragraph">
<p><a href="/artikel/einstellungen/markierungen#100">Markierungen</a> können nur mit ganzen Artikeldatensätzen verknüpft werden. Im Gegensatz dazu können <a href="/artikel/einstellungen/markierungen#400">Tags</a> mit individuellen Varianten verknüpft werden. Daher bieten Tags mehr Flexibilität.</p>
</div>
<div class="paragraph">
<p>Tags können auch verwendet werden, um andere Arten von Datensätzen hervorzuheben. Mit anderen Worten können Tags auch verwendet werden, um spezifische Kunden, Aufträge, Tickets usw. hervorzuheben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Markierungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Idee ist ganz einfach. Weise jedem deiner Artikel eine oder zwei Markierungen zu. Diese Markierungen siehst du, wenn du deine <a href="/artikel/einleitung/suche#100">Artikel in der Übersicht</a> betrachtest. Solche visuellen Unterstützungen helfen dir, die richtigen Artikel auf den ersten Blick zu finden. Du kannst auch <a href="/artikel/einleitung/suche#100">gezielt nach Artikeln suchen</a>, die eine bestimmte Markierung oder Kombination von Markierungen haben.</p>
</div>
<div class="paragraph">
<p>Wirf zunächst einen Blick auf die verschiedenen Markierungen, die in plentymarkets enthalten sind. Die Markierungen sind standardmäßig nach der ID benannt. Du kannst sie aber <a href="/artikel/einstellungen/markierungen#200">bei Bedarf umbenennen</a>. Sobald du mit den Namen zufrieden bist, kannst du die <a href="/artikel/einstellungen/markierungen#300">Markierungen mit Artikeln verknüpfen</a>.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Markierungen umbenennen</h3>
<div class="paragraph">
<p>Wirf zunächst einen Blick auf die verschiedenen Markierungen, die in plentymarkets enthalten sind. Es gibt 31 Symbole, die du als "Markierung 1" verwenden kannst und 11 Symbole, die du als "Markierung 2" verwenden kannst. Die Markierungen sind standardmäßig nach der ID benannt. Du kannst sie aber bei Bedarf umbenennen.</p>
</div>
<div class="paragraph instruction">
<p>Markierung umbenennen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Markierungen</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Name</strong> einen Namen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Artikel mit Markierungen versehen</h3>
<div class="paragraph">
<p>Sobald du mit den Namen zufrieden bist, kannst du die <a href="/artikel/artikel-verwalten#810">Markierungen mit Artikeln verknüpfen</a>. Diese Markierungen wirst du sehen, wenn du deine <a href="/artikel/einleitung/suche#100">Artikel in der Übersicht</a> betrachtest. Solche visuellen Unterstützungen helfen dir, die richtigen Artikel auf den ersten Blick zu finden. Du kannst auch <a href="/artikel/einleitung/suche#100">gezielt nach Artikeln suchen</a>, die eine bestimmte Markierung oder Kombination von Markierungen haben.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Tags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Gegensatz zu <a href="/artikel/einstellungen/markierungen#100">Markierungen</a> können Tags mit individuellen Varianten verknüpft werden. Daher bieten Tags mehr Flexibilität.</p>
</div>
<div class="paragraph">
<p>Tags können auch verwendet werden, um andere Arten von Datensätzen hervorzuheben. Mit anderen Worten können Tags auch verwendet werden, um spezifische Kunden, Aufträge, Tickets usw. hervorzuheben.</p>
</div>
<div class="sect2">
<h3 id="500">2.1. Tags erstellen</h3>
<div class="paragraph">
<p><a href="/basics/arbeiten-mit-plentymarkets/tags">Erstelle zunächst die Tags</a>, die du für deine Artikel verwenden möchtest.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">2.2. Varianten mit Tags versehen</h3>
<div class="paragraph">
<p><a href="/artikel/artikel-verwalten#150">Verknüpfe dann deine Varianten mit einer beliebigen Anzahl von Tags</a>. Tags, die du mit der Hauptvariate verknüpfst, werden an die anderen Varianten des Artikels vererbt. Wenn du pro Variante eigene Tags speichern möchtest, deaktiviere die Vererbung und speichere eigene Tags an den Varianten.</p>
</div>
</div>
</div>
</div>
</main>