<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Verkaufspreise</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Verkaufspreise erstellen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Die Namen in mehreren Sprachen speichern</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Verkaufspreise suchen</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Preiskalkulationen</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Preiskalkulationen erstellen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verkaufspreise und Preiskalkulation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Preise sind ein wichtiges Thema für jedes Geschäft. In plentymarkets werden Verkaufspreise zentral verwaltet, was große Vorteile und sehr viel mehr Flexibilität mit sich bringt. Außerdem kannst du deine Preise auch automatisch kalkulieren lassen.</p>
</div>
<div class="paragraph">
<p>Dieses Video bietet dir eine spielerische Einführung in Verkaufspreise, Preiskalkulationen, deren Einstellungen und deine Möglichkeiten:</p>
</div>
<div class="videoblock">
<div class="title">Lerne Verkaufspreise spielerisch kennen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/265406117" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Verkaufspreise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verkaufspreise verwaltest du zentral. Passe Verkaufspreise an deine Bedürfnisse an. Vergebe eindeutige Namen und verknüpfe Währungen, Mandanten, Marktplätze, etc. individuell mit dem Verkaufspreis. Die Verkaufspreise verknüpfst du anschließend mit deinen Varianten.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Verkaufspreise erstellen</h3>
<div class="paragraph">
<p>Erstelle beliebig viele Verkaufspreise, um die gesamte Breite deiner benötigten Preise in plentymarkets abzubilden.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neu</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-verkaufspreis-erstellen">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-verkaufspreis-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verkaufspreis erstellen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abo-Interv.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option wurde vorbereitend für eine spätere Verwendung im Ceres-Webshop integriert und hat aktuell noch keine Funktion.<br>
<strong><em>Hinweis:</em></strong> Das Intervall wird für aktuelle Aboaufträge über den Scheduler nicht berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer eingeben. Verkaufspreise werden im Bereich <strong>Verkaufspreise</strong> von Artikelvarianten aufsteigend sortiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interner Name DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internen Namen eingeben. Der interne Name wird nur im plentymarkets Backend geführt und ist nicht im Webshop sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externen Namen eingeben. Der externe Name wird in deinem Webshop angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ab Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mengenwert eingeben. Über Verkaufspreise mit verschiedenen Mengenwerten bildest du mengenbezogene Preisstaffelungen in plentymarkets ab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine, mehrere oder <strong>ALLE</strong> Währungen aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung: Live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Standardpreis wird per Live-Umrechnung in die <a href="/payment/waehrungen#20">Währung</a> umgerechnet und im Webshop angezeigt. Bei Wahl dieser Option werden die Preise der verwendeten Währungen vom System ermittelt. Die Umrechnungsfaktoren basieren auf den Einstellungen im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preistyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Optional einen Preistyp für den Verkaufspreis aktivieren.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>UVP</strong> = Aktivieren, wenn der Verkaufspreis der unverbindliche Verkaufspreis (UVP) ist. Wird der UVP und ein weiterer Verkaufspreis an der Variante verknüpft, dann wird der UVP im Webshop in rot und durchgestrichen neben dem Verkaufspreis dargestellt.<br>
<strong><em>Hinweis:</em></strong> Preise des Typs <strong>UVP</strong> dienen nur dazu, den Preisvergleich zwischen dem UVP und einem Verkaufspreis darzustellen. Varianten können nicht zu diesem UVP-Preis verkauft werden.<br></p>
</li>
<li>
<p><strong>Aktionspreis</strong> = Aktivieren, um einen Verkaufspreis als Aktionspreis zu kennzeichnen. Aktionspreise werden zum Beispiel für Marktplätze wie <a href="/maerkte/amazon/amazon-einrichten">Amazon</a> und <a href="/maerkte/real-de/real-de-einrichten">real.de</a> verwendet.<br></p>
</li>
<li>
<p><strong>Setpreis</strong> = Aktivieren, um einen Verkaufspreis als Preis für Setbestandteile zu kennzeichnen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Verkaufspreis beim Erstellen von Artikeln automatisch im Bereich <strong>Verkaufspreise</strong> anzuzeigen. Wenn diese Einstellung deaktiviert ist, kann der Verkaufspreis manuell beim Erstellen von Artikeln hinzugefügt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen, mehrere oder <strong>ALLE</strong> Mandanten (Shops) aktivieren, mit denen der Verkaufspreis verknüpft wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine, mehrere oder <strong>ALLE</strong> Klassen aktivieren, mit denen der Verkaufspreis verknüpft wird. Der Verkaufspreis gilt nur für Kontakte der gewählten Klassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein, mehrere oder <strong>ALLE</strong> Lieferländer aktivieren, mit denen der Verkaufspreis verknüpft wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine, mehrere oder <strong>ALLE</strong> Auftragsherkünfte aktivieren, mit denen der Verkaufspreis verknüpft wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein, mehrere oder <strong>ALLE</strong> Amazon-Konten aktivieren, mit denen der Verkaufspreis verknüpft wird. Amazon-Konten sind verfügbar, nachdem die passende Amazon-Plattform unter <strong>Herkunft</strong> verknüpft wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein, mehrere oder <strong>ALLE</strong> eBay-Konten aktivieren, mit denen der Verkaufspreis verknüpft wird. eBay-Konten sind verfügbar, nachdem die passende eBay-Plattform unter <strong>Herkunft</strong> verknüpft wurde.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Die Namen in mehreren Sprachen speichern</h3>
<div class="paragraph">
<p>Nachdem du einen Verkaufspreis erstellt hast, übersetze nach Bedarf den Namen des Verkaufspreises in die von dir verwendeten Sprachen.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis übersetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Öffne den Verkaufspreis im Tab <strong>Preise</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Sprache</strong>.</p>
</li>
<li>
<p>Gib den <strong>internen Namen</strong> in den benötigten Sprachen ein.</p>
</li>
<li>
<p>Gib den <strong>externen Namen</strong> in den benötigten Sprachen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Verkaufspreise suchen</h3>
<div class="paragraph">
<p>Nutze Filter, um nach Verkaufspreisen zu suchen.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreise filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong>. Beachte dazu die Erläuterungen in <a href="#tabelle-verkaufspreise-filtern">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die gefilterten Verkaufspreise werden in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-verkaufspreise-filtern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verkaufspreise filtern</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Suchfelder</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Verkaufspreis mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, um nach dem Verkaufspreis mit diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ab Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mengenwert eingeben, um nach dem Verkaufspreis mit dieser Mengenstaffelung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Filter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diesen Mandanten (Shop) zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klasse oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Kundenklasse zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunft oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Auftragsherkunft zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Konto oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses Amazon-Konto zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Konto oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses eBay-Konto zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Währung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen in dieser Sprache zu suchen. Standardmäßig ist <strong>Deutsch</strong> voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses Lieferland zu suchen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Preiskalkulationen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Preiskalkulationen ermöglichen dir das gezielte Zuschneiden und Staffeln von Preisen für Kundenklassen und Herkünfte. Zuerst <a href="/artikel/einstellungen/preise#600">erstellst</a> du individuelle Preisvarianten im Menü <strong>Einrichtung » Artikel » Preiskalkulation</strong>. Danach <a href="/artikel/artikel-verwalten#240">verknüpfst</a> du die Preiskalkulationen mit Varianten.</p>
</div>
<div class="paragraph">
<p>Preiskalkulationen werden automatisch auf die hinterlegten Preise angerechnet. Du kannst Preiskalkulationen auch per <a href="/artikel/artikel-verwalten#330">Varianten-Gruppenfunktion</a> für mehrere Artikelvarianten gleichzeitig einstellen.</p>
</div>
<div class="sect2">
<h3 id="600">2.1. Preiskalkulationen erstellen</h3>
<div class="paragraph instruction">
<p>Preiskalkulation erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Preiskalkulation</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Preiskalkulation</strong>.<br>
→ Das Fenster <strong>Neue Preiskalkulation</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Die neue Preiskalkulation wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-preiskalkulation-erstellen">Tabelle 3</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-preiskalkulation-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Preiskalkulation erstellen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Preiskalkulation eingeben. Der Name wird im Bereich <strong>Verkaufspreise</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisquelle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis wählen, der als Grundlage für die Preiskalkulation dient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transportkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Transportkosten zur Preisquelle zu addieren. Die Transportkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Lagerkosten zur Preisquelle zu addieren. Die Lagerkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zoll</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Zollkosten zur Preisquelle zu addieren. Die Zollkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben. Die Zollkosten werden in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebskosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Betriebskosten zur Preisquelle zu addieren. Die Betriebskosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben. Die Betriebskosten werden in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um die Umsatzsteuer zur Preisquelle zu addieren. Der Umsatzsteuersatz wird im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante gewählt. Die Umsatzsteuer wird in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Verknüpfungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Hinzufügen</strong> klicken, um eine neue Verknüpfung zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis wählen, der als Zielpreis für die Preiskalkulation dient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen. <strong>Plus</strong>, <strong>Minus</strong>, <strong>Plus Prozentwert</strong>, <strong>Minus Prozentwert</strong>, <strong>Mal</strong> und <strong>Geteilt</strong> stehen zur Auswahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerischen Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop) wählen, der mit der Preiskalkulation verknüpft wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunft wählen, die mit der Preiskalkulation verknüpft wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>