<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Verkaufspreise</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Neue Verkaufspreise erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#300"><span>1.1.1.</span><span> Mit dem Assistenten</span></a></li>
<li><a href="#400"><span>1.1.2.</span><span> Im Einrichtungsmenü</span></a></li>
</ul>
</li>
<li><a href="#500"><span>1.2.</span><span> Bestehende Verkaufspreise bearbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#600"><span>1.2.1.</span><span> Verkaufspreise suchen</span></a></li>
<li><a href="#700"><span>1.2.2.</span><span> Die Namen in mehreren Sprachen speichern</span></a></li>
<li><a href="#800"><span>1.2.3.</span><span> Erweiterte Einstellungen (nicht im Assistenten enthalten)</span></a></li>
</ul>
</li>
<li><a href="#900"><span>1.3.</span><span> Verkaufspreis mit einer Variante verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>2.</span><span> Preiskalkulationen</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>2.1.</span><span> Preiskalkulationen erstellen</span></a></li>
<li><a href="#1200"><span>2.2.</span><span> Preiskalkulationen verknüpfen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verkaufspreise und Preiskalkulation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Preise sind ein wichtiges Thema für jedes Geschäft.
Dank plentymarkets bist du bei der Gestaltung deiner Preise sehr flexibel.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Erstens kannst du die <a href="/artikel/einstellungen/preise#100">Bedingungen definieren</a>, unter denen deine Produkte zu einem bestimmten Preis verkauft werden.
Zum Beispiel kannst du deine Produkte im Webshop günstiger anbieten als auf Amazon.
Oder du kannst deine Produkte günstiger an B2B-Kunden verkaufen als an B2C-Kunden. In plentymarkets bezeichnen wir solche Bedingungen als <em>Verkaufspreise</em>.</p>
</li>
<li>
<p>Zweitens kannst du <a href="/artikel/einstellungen/preise#900">Preise für jede Variante einzeln</a> speichern.
Wenn du also ein T-Shirt in S, M, L und XL verkaufst, kannst du entscheiden, ob die XL-Variante etwas teurer als die anderen sein soll.</p>
</li>
<li>
<p>Drittens kannst du plentymarkets deine <a href="/artikel/einstellungen/preise#1000">monetären Preise automatisch berechnen lassen</a>.
Beispielsweise startest du mit dem Einkaufspreis des Artikels und fügst dann die Transportkosten, Lagerkosten und Steuern hinzu. Schließlich legst du eine Gewinnspanne von 20% oben drauf.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Dieses Video bietet dir eine spielerische Einführung in Verkaufspreise, Preiskalkulationen, deren Einstellungen und deine Möglichkeiten:</p>
</div>
<div class="videoblock">
<div class="title">Lerne Verkaufspreise spielerisch kennen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/265406117" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Verkaufspreise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verkaufspreise definieren die <em>Bedingungen</em>, unter denen eine Variante zu einem bestimmten Preis verkauft wird.
Zum Beispiel kannst du deine Produkte im Webshop günstiger anbieten als auf Amazon. Oder du kannst deine Produkte günstiger an B2B-Kunden verkaufen als an B2C-Kunden.</p>
</div>
<div class="paragraph">
<p>Neue plentymarkets Systeme sind mit <em>zwei Standard-Verkaufspreisen</em> ausgestattet.
Wirf bei Bedarf einen Blick auf diese Standard-Verkaufspreise und nutze sie, um dich mit dem Thema vertraut zu machen.
Es steht dir frei, die Standard-Verkaufspreise zu ändern und/oder völlig neue Verkaufspreise zu erstellen.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Neue Verkaufspreise erstellen</h3>
<div class="paragraph">
<p>In plentymarkets werden Verkaufspreise zentral angelegt und verwaltet.
Entweder kannst du neue <a href="/artikel/einstellungen/preise#300">Verkaufspreise mit Hilfe eines Assistenten anlegen</a> oder du kannst neue <a href="/artikel/einstellungen/preise#400">Verkaufspreise manuell im Einrichtungsmenü anlegen</a>.
Beide Verfahren werden im Folgenden beschrieben.</p>
</div>
<div class="paragraph">
<p>So oder so, wirst du die Verkaufspreise an deine Bedürfnisse anpassen.
Du vergibst den Verkaufspreisen eindeutige Namen und entscheidest, für welche Währungen, Kundenklassen, Marktplätze, oder andere Bedingungen sie gelten sollen.
Anschließend werden die fertige <a href="/artikel/einstellungen/preise#900">Verkaufspreise mit einzelnen Varianten verknüpft</a>.</p>
</div>
<div class="sect3">
<h4 id="300">1.1.1. Mit dem Assistenten</h4>
<div class="paragraph">
<p>Mit Hilfe des Assistenten kannst du auf einfache Weise neue Verkaufspreise erstellen.
Der Assistent führt dich durch die <em>gängigsten Einstellungen</em>.
Während des Prozesses vergibst du den Verkaufspreisen eindeutige Namen und entscheidest, für welche Währungen, Kundenklassen, Marktplätze, oder andere Bedingungen sie gelten sollen.
Es gibt auch <a href="/artikel/einstellungen/preise#800">einige erweiterte Einstellungen</a>, die optional auch im Anschluß konfiguriert werden können.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Grundeinrichtung</strong>.</p>
</li>
<li>
<p>Klicke auf den Verkaufspreise-Assistenten.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Konfiguration</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Klappe die Info-Box unten auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), wenn du zusätzliche Informationen zu einer der Optionen benötigst.</p>
</li>
<li>
<p>Überprüfe die Zusammenfassung auf mögliche Fehler und klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Assistent ist fertig. Wiederhole diese Schritte, bis du alle von deinem Unternehmen benötigten Verkaufspreise erstellt hast.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Der Assistent führt dich durch die <em>gängigsten Einstellungen</em> für Verkaufspreise. Es gibt jedoch <a href="/artikel/einstellungen/preise#800">einige erweiterte Einstellungen</a>, die optional auch konfiguriert werden können.</p>
</div>
<div class="paragraph">
<p>Sobald du alle für dein Unternehmen benötigten Verkaufspreise konfiguriert hast, bist du bereit, diese <a href="/artikel/einstellungen/preise#900">Verkaufspreise mit Artikeldatensätzen zu verknüpfen</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Weitere Informationen über die einzelne Optionen</strong></div>
<div class="content">
<table id="table-sales-price-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Verkaufspreis möchtest du konfigurieren? In den meisten Fällen wirst du einen <em>Standard-Verkaufspreis</em> anlegen.</p>
</div>
<div class="paragraph">
<p>Aber in manchen Situationen willst du vielleicht stattdessen ein "UVP", "Setpreis" oder "Aktionspreis" erstellen.
Falls ja, dann aktiviere diese Option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
Es erscheint ein zusätzlicher Konfigurationsschritt, in dem du die Art des zu erstellenden Verkaufspreises festlegen kannst.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>UVP</strong> = Eine unverbindliche Preisempfehlung, die nur dazu dient, den Preisvergleich zwischen dem UVP und einem Standard-Verkaufspreis darzustellen. Der UVP wird im Webshop in rot und durchgestrichen neben dem Verkaufspreis dargestellt. Produkte können nicht zu dem UVP-Preis verkauft werden.</p>
</li>
<li>
<p><strong>Aktionspreis</strong> = Ein Angebotspreis, der z.B. bei Amazon nur für eine begrenzte Zeit gilt.</p>
</li>
<li>
<p><strong>Setpreis</strong> = Sets sind eine Möglichkeit, <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Produkte zu kombinieren</a> und als eine Verkaufseinheit anzubieten. Wenn du dich entscheidest, Produkte zu einem Set zu kombinieren, dann musst du den einzelnen Set-Bestandteilen einen Setpreis geben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklassen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Kundenklassen gelten? Willst du z.B. deine Produkte günstiger an B2B-Kunden verkaufen als an B2C-Kunden?
Falls ja, dann aktiviere diese Option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
Es erscheint ein zusätzlicher Konfigurationsschritt, in dem du die Kundenklasse angeben kannst, für die dieser Verkaufspreis gilt.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: <a href="/crm/kontakte-verwalten#15">Erstelle die nötigen Kundenklassen</a> im Voraus, falls sie nicht bereits in deinem plentymarkets System vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mengenabhängigkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollte der Verkaufspreis nur gelten, wenn ein Kunde <em>mehrere Exemplare des Artikels</em> kauft?
Nehmen wir zum Beispiel an, du verkaufst Socken für 6 EUR pro Paar. Möchtest du, dass der Preis auf 5 EUR pro Paar reduziert wird, wenn ein Kunde 3 oder mehr Paar Socken kauft?
Falls ja, dann aktiviere diese Option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
Es erscheint ein zusätzlicher Konfigurationsschritt, in dem du die Menge angeben kannst, für die dieser Verkaufspreis gilt.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Füge <em>noch weitere</em> mengenabhängige Verkaufspreise hinzu, um eine Preisstaffel nach Mengen zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interner Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für den Verkaufspreis ein.
Dieser Name erscheint an verschiedenen Stellen innerhalb deines plentymarkets Backends. Du wählst z.B. den Verkaufspreis anhand seines Namens, wenn du <a href="/artikel/einstellungen/preise#900">ihn mit einzelnen Artikeln verknüpfst</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen externen Namen für den Verkaufspreis ein.
Dieser Name erscheint derzeit weder im Ceres noch im Callisto-Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt: Verfügbarkeiten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welche Währungen soll der Preis automatisch umgerechnet werden?
Wähle sie aus der Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Während du dein Webshop konfigurierst, kannst du entscheiden, in welchen <a href="/webshop/ceres-einrichten#220">Sprachen</a> und <a href="/webshop/ceres-einrichten#201">Währungen</a> dein Shop zugänglich sein soll.
Nehmen wir zum Beispiel an, dass Kunden die Währungen EUR, PLN, CHF und GBP aus der Kopfzeile wählen können.
Dann wäre es sinnvoll, deine Preise automatisch von der <a href="/payment/waehrungen#30">Standardwährung</a>, z.B. EUR, in die anderen Währungen, z.B. PLN, CHF und GBP, umrechnen zu lassen.</p>
<p class="tableblock">Vergewissere dich, dass du mit den im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong> gespeicherten <a href="/payment/waehrungen#20">Umrechnungsfaktoren</a> einverstanden bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufskanäle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Verkaufskanäle gelten? Möchtest du zum Beispiel den Artikel zu einem niedrigeren Preis in deinem Webshop verkaufen als auf Amazon?
Wähle alle Plattformen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Wenn du eBay oder Amazon wählst, erscheint ein zusätzlicher Konfigurationsschritt. In diesem Schritt teilst du plentymarkets mit, für welches eBay- oder Amazon-Konto der Verkaufspreis gelten soll.
<a href="/maerkte/ebay/ebay-einrichten">Verknüpfe also im Voraus dein eBay- oder Amazon-Konto mit plentymarkets</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Lieferländer gelten?
Beispielsweise zahlst du wahrscheinlich unterschiedliche Steuersätze in unterschiedlichen Ländern. Aus diesem Grund willst du vielleicht einen Artikel in einigen Ländern zu einem etwas höheren Preis verkaufen, damit du die Differenz nicht selbst bezahlen musst.
Wähle alle Länder (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Mandanten (Shops) gelten? Falls ja, dann wähle alle Shops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Diese Einstellung erscheint nur, wenn du plentymarkets verwendest, um mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, zu verwalten.
Da es möglich ist, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren, musst du plentymarkets immer mitteilen, für welchen Webshop der Verkaufspreis gilt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect3">
<h4 id="400">1.1.2. Im Einrichtungsmenü</h4>
<div class="paragraph">
<p>Erstelle beliebig viele Verkaufspreise, um die gesamte Breite deiner benötigten Preise in plentymarkets abzubilden.
Während des Prozesses vergibst du den Verkaufspreisen eindeutige Namen und entscheidest, für welche Währungen, Kundenklassen, Marktplätze, oder andere Bedingungen sie gelten sollen.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neu</strong>.<br>
→ Das Tab <strong>Neu</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-create-sales-price">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-sales-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verkaufspreis erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abo-Interv.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option wurde vorbereitend für eine spätere Verwendung im Ceres-Webshop integriert und hat aktuell noch keine Funktion.<br>
<strong><em>Hinweis:</em></strong> Das Intervall wird für aktuelle Aboaufträge über den Scheduler nicht berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer eingeben.
Wenn du mehrere <a href="/artikel/einstellungen/preise#900">Verkaufspreise mit einer Variante verknüpfst</a>, dann werden die Verkaufspreise anhand ihrer Positionsnummer im Artikeldatensatz sortiert angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interner Name DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für den Verkaufspreis ein.
Dieser Name erscheint an verschiedenen Stellen innerhalb deines plentymarkets Backends. Du wählst z.B. den Verkaufspreis anhand seines Namens, wenn du <a href="/artikel/einstellungen/preise#900">ihn mit einzelnen Artikeln verknüpfst</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen externen Namen für den Verkaufspreis ein.
Dieser Name erscheint derzeit weder im Ceres noch im Callisto-Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ab Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollte der Verkaufspreis nur gelten, wenn ein Kunde <em>mehrere Exemplare des Artikels</em> kauft?
Nehmen wir zum Beispiel an, du verkaufst Socken für 6 EUR pro Paar. Möchtest du, dass der Preis auf 5 EUR pro Paar reduziert wird, wenn ein Kunde 3 oder mehr Paar Socken kauft?
Falls ja, dann gib die Menge an, für die dieser Verkaufspreis gilt.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Füge <em>noch weitere</em> mengenabhängige Verkaufspreise hinzu, um eine Preisstaffel nach Mengen zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für welche Währungen soll der Verkaufspreis gelten?
Wähle sie aus der Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Während du dein Webshop konfigurierst, kannst du entscheiden, in welchen <a href="/webshop/ceres-einrichten#220">Sprachen</a> und <a href="/webshop/ceres-einrichten#201">Währungen</a> dein Shop zugänglich sein soll.
Nehmen wir zum Beispiel an, dass Kunden die Währungen EUR, PLN, CHF und GBP aus der Kopfzeile wählen können.
Dann wäre es sinnvoll, Preise auch für diese Währungen zu speichern.</p>
<p class="tableblock"><strong><em>Automatisch umrechnen lassen</em></strong>: Aktiviere die Option <strong>Live umrechnen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um deine Preise automatisch von der <a href="/payment/waehrungen#30">Standardwährung</a>, z.B. EUR, in die anderen Währungen, z.B. PLN, CHF und GBP, umrechnen zu lassen.<br>
Wenn du diese Option <em>nicht</em> aktivierst, werden deine Preise alle die gleiche Zahl, aber unterschiedliche Währungen haben, z.B. 19 EUR und 19 PLN. Daher ist es meistens sinnvoll, die Preise automatisch umrechnen zu lassen.</p>
<p class="tableblock">Vergewissere dich, dass du mit den im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong> gespeicherten <a href="/payment/waehrungen#20">Umrechnungsfaktoren</a> einverstanden bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preistyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Verkaufspreis möchtest du konfigurieren? In den meisten Fällen wirst du einen <em>Standard-Verkaufspreis</em> anlegen.</p>
</div>
<div class="paragraph">
<p>Aber in manchen Situationen willst du vielleicht stattdessen ein "UVP", "Setpreis" oder "Aktionspreis" erstellen.
Falls ja, dann wähle den entsprechenden Preistyp (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>UVP</strong> = Eine unverbindliche Preisempfehlung, die nur dazu dient, den Preisvergleich zwischen dem UVP und einem Standard-Verkaufspreis darzustellen. Der UVP wird im Webshop in rot und durchgestrichen neben dem Verkaufspreis dargestellt. Produkte können nicht zu dem UVP-Preis verkauft werden.</p>
</li>
<li>
<p><strong>Aktionspreis</strong> = Ein Angebotspreis, der z.B. bei Amazon nur für eine begrenzte Zeit gilt.</p>
</li>
<li>
<p><strong>Setpreis</strong> = Sets sind eine Möglichkeit, <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Produkte zu kombinieren</a> und als eine Verkaufseinheit anzubieten. Wenn du dich entscheidest, Produkte zu einem Set zu kombinieren, dann musst du den einzelnen Set-Bestandteilen einen Setpreis geben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll dieser Verkaufspreis <em>automatisch</em> mit neuen Artikeldatensätzen verknüpft werden?
Falls ja, dann aktiviere die Option <strong>Bei neuem Artikel immer anzeigen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">Wenn diese Einstellung deaktiviert ist, kannst du den <a href="/artikel/einstellungen/preise#900">Verkaufspreis trotzdem manuell zu Artikeln hinzufügen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Mandanten (Shops) gelten? Falls ja, dann wähle alle Shops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Mit plentymarkets kannst du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit nur einer Software verwalten. Somit ist es möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren.
Das ist ein großer Vorteil. Aber es bedeutet auch, dass du plentymarkets immer mitteilen musst, für welchen Webshop der Verkaufspreis gilt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Kundenklassen gelten? Willst du z.B. deine Produkte günstiger an B2B-Kunden verkaufen als an B2C-Kunden?
Falls ja, dann wähle alle Kundenklassen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gilt.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: <a href="/crm/kontakte-verwalten#15">Erstelle die nötigen Kundenklassen</a> im Voraus, falls sie nicht bereits in deinem plentymarkets System vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Lieferländer gelten? Beispielsweise zahlst du wahrscheinlich unterschiedliche Steuersätze in unterschiedlichen Ländern. Aus diesem Grund willst du vielleicht einen Artikel in einigen Ländern zu einem etwas höheren Preis verkaufen, damit du die Differenz nicht selbst bezahlen musst.
Wähle alle Länder (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Verkaufskanäle gelten? Möchtest du zum Beispiel den Artikel zu einem niedrigeren Preis in deinem Webshop verkaufen als auf Amazon?
Wähle alle Plattformen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Wenn du eBay oder Amazon wählst, wird die entsprechende Kontoeinstellung weiter unten eingeblendet. Hier teilst du plentymarkets mit, für welches eBay- oder Amazon-Konto der Verkaufspreis gelten soll.
<a href="/maerkte/ebay/ebay-einrichten">Verknüpfe also im Voraus dein eBay- oder Amazon-Konto mit plentymarkets</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Teile plentymarkets mit, für welches Amazon-Konto der Verkaufspreis gelten soll.
<a href="/maerkte/amazon/amazon-einrichten">Verknüpfe also im Voraus dein Amazon-Konto mit plentymarkets</a>.</p>
<p class="tableblock">Diese Einstellung ist ausgegraut, bis du eine Amazon-Plattform aus der Liste weiter oben auswählst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Teile plentymarkets mit, für welches eBay-Konto der Verkaufspreis gelten soll.
<a href="/maerkte/ebay/ebay-einrichten">Verknüpfe also im Voraus dein eBay-Konto mit plentymarkets</a>.</p>
<p class="tableblock">Diese Einstellung ist ausgegraut, bis du eine eBay-Plattform aus der Liste weiter oben auswählst.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="500">1.2. Bestehende Verkaufspreise bearbeiten</h3>
<div class="paragraph">
<p>Sobald du einen <a href="/artikel/einstellungen/preise#200">neuen Verkaufspreis erstellt</a> hast, wird er automatisch zur Übersicht im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> hinzugefügt.</p>
</div>
<div class="sect3">
<h4 id="600">1.2.1. Verkaufspreise suchen</h4>
<div class="paragraph">
<p>Verwende die Filter links, um die in der Übersicht rechts angezeigten Verkaufspreise einzugrenzen.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreise filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Wähle die Filter links. Beachte <a href="#table-filter-sales-prices">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die gefilterten Verkaufspreise werden in der Übersicht rechts angezeigt.</p>
</li>
</ol>
</div>
<table id="table-filter-sales-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verkaufspreise filtern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Verkaufspreis mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, um nach dem Verkaufspreis mit diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ab Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mengenwert eingeben, um nach dem Verkaufspreis mit dieser Mengenstaffelung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diesen Mandanten (Shop) zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klasse oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Kundenklasse zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunft oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Auftragsherkunft zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Konto oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses Amazon-Konto zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Konto oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses eBay-Konto zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Währung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen in dieser Sprache zu suchen. Standardmäßig ist <strong>Deutsch</strong> voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses Lieferland zu suchen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="700">1.2.2. Die Namen in mehreren Sprachen speichern</h4>
<div class="paragraph">
<p>Nachdem du einen <a href="/artikel/einstellungen/preise#200">neuen Verkaufspreis erstellt</a> hast, übersetze nach Bedarf den Namen des Verkaufspreises in die von dir verwendeten Sprachen.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis übersetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise#600">Suche</a> und öffne den Verkaufspreis.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Sprache</strong>.</p>
</li>
<li>
<p>Gib den <strong>internen Namen</strong> in den benötigten Sprachen ein.</p>
</li>
<li>
<p>Gib den <strong>externen Namen</strong> in den benötigten Sprachen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="800">1.2.3. Erweiterte Einstellungen (nicht im Assistenten enthalten)</h4>
<div class="paragraph">
<p><a href="/artikel/einstellungen/preise#300">Der Assistent</a> führt dich durch die <em>gängigsten Einstellungen</em> für Verkaufspreise. Es gibt jedoch einige erweiterte Einstellungen, die optional auch konfiguriert werden können.</p>
</div>
<div class="paragraph instruction">
<p>Erweiterte Einstellungen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise#600">Suche</a> und öffne den Verkaufspreis.</p>
</li>
<li>
<p>Konfiguriere die erweiterten Einstellungen falls benötigt. Beachte <a href="#table-sales-price-advanced-settings">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-sales-price-advanced-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Folgende Einstellungen sind im Assistenten nicht enthalten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abo-Interv.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option wurde vorbereitend für eine spätere Verwendung im Ceres-Webshop integriert und hat aktuell noch keine Funktion.<br>
<strong><em>Hinweis:</em></strong> Das Intervall wird für aktuelle Aboaufträge über den Scheduler nicht berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer eingeben.
Wenn du mehrere <a href="/artikel/einstellungen/preise#900">Verkaufspreise mit einer Variante verknüpfst</a>, dann werden die Verkaufspreise anhand ihrer Positionsnummer im Artikeldatensatz sortiert angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll dieser Verkaufspreis <em>automatisch</em> mit neuen Artikeldatensätzen verknüpft werden?
Falls ja, dann aktiviere die Option <strong>Bei neuem Artikel immer anzeigen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">Wenn diese Einstellung deaktiviert ist, kannst du den <a href="/artikel/einstellungen/preise#900">Verkaufspreis trotzdem manuell zu Artikeln hinzufügen</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="900">1.3. Verkaufspreis mit einer Variante verknüpfen</h3>
<div class="paragraph">
<p>Verkaufspreise werden mit <a href="/artikel/einleitung/struktur">einzelnen Varianten</a> verknüpft, nicht mit dem Artikel als Ganzes.
Wenn du also ein T-Shirt in S, M, L und XL verkaufst, kannst du entscheiden, ob die XL-Variante etwas teurer als die anderen sein soll.</p>
</div>
<div class="paragraph">
<p>Es gibt verschiedene Möglichkeiten, Verkaufspreise mit Varianten zu verknüpfen und die eigentlichen Geldpreise einzugeben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn du Preise für <em>nur wenige Artikel</em> speichern möchtest, dann empfiehlt es sich, die <a href="/artikel/artikel-verwalten#240">Verkaufspreise manuell zu verknüpfen und Geldbeträge einzugeben</a>.</p>
</li>
<li>
<p>Wenn du Preise für <em>viele Artikel</em> speichern möchtest, dann empfiehlt es sich, ElasticSync zu verwenden, um die <a href="/daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-variantenanlage#800">Verkaufspreise und Geldbeträge zu importieren</a>.
Alternativ könntest du diese Daten mit Hilfe eines <a href="/willkommen/assistenten">Assistenten</a> importieren.</p>
</li>
<li>
<p>Anstatt die Geldbeträge manuell einzugeben, willst du vielleicht, dass plentymarkets sie <a href="/artikel/einstellungen/preise#1000">automatisch für dich berechnet</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">2. Preiskalkulationen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst plentymarkets deine monetären Preise automatisch berechnen lassen.
Beispielsweise startest du mit dem Einkaufspreis des Artikels und fügst dann die Transportkosten, Lagerkosten und Steuern hinzu. Schließlich legst du eine Gewinnspanne von 20% oben drauf.</p>
</div>
<div class="paragraph">
<p>Dies geschieht mit Hilfe der so genannten <em>Preiskalkulationen</em>.
Zuerst <a href="/artikel/einstellungen/preise#1100">erstellst</a> du individuelle Preiskalkulationen.
Danach <a href="/artikel/einstellungen/preise#1200">verknüpfst</a> du die Preiskalkulationen mit Varianten.</p>
</div>
<div class="sect2">
<h3 id="1100">2.1. Preiskalkulationen erstellen</h3>
<div class="paragraph instruction">
<p>Preiskalkulation erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Preiskalkulation</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neue Preiskalkulation</strong>.<br>
→ Das Fenster <strong>Neue Preiskalkulation</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Hinzufügen</strong>.<br>
→ Die neue Preiskalkulation wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-create-price-calculation">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-price-calculation" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Preiskalkulation erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Preiskalkulation eingeben. Der Name wird im Bereich <strong>Verkaufspreise</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisquelle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis wählen, der als Grundlage für die Preiskalkulation dient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transportkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Transportkosten zur Preisquelle zu addieren. Die Transportkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Lagerkosten zur Preisquelle zu addieren. Die Lagerkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zoll</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Zollkosten zur Preisquelle zu addieren. Die Zollkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben. Die Zollkosten werden in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebskosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Betriebskosten zur Preisquelle zu addieren. Die Betriebskosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben. Die Betriebskosten werden in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um die Umsatzsteuer zur Preisquelle zu addieren. Der Umsatzsteuersatz wird im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante gewählt. Die Umsatzsteuer wird in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Verknüpfungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Hinzufügen</strong> klicken, um eine neue Verknüpfung zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis wählen, der als Zielpreis für die Preiskalkulation dient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen. <strong>Plus</strong>, <strong>Minus</strong>, <strong>Plus Prozentwert</strong>, <strong>Minus Prozentwert</strong>, <strong>Mal</strong> und <strong>Geteilt</strong> stehen zur Auswahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerischen Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option bezieht sich <em>nur</em> auf die <a href="/artikel/einstellungen/hersteller#300">Herstellerprovisionen</a>. Mandant (Shop) wählen, der mit der Preiskalkulation verknüpft wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option bezieht sich <em>nur</em> auf die <a href="/artikel/einstellungen/hersteller#300">Herstellerprovisionen</a>. Herkunft wählen, die mit der Preiskalkulation verknüpft wird.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1200">2.2. Preiskalkulationen verknüpfen</h3>
<div class="paragraph">
<p>Es gibt verschiedene Möglichkeiten, Preiskalkulationen mit Varianten zu verknüpfen und damit die Geldpreise berechnen zu lassen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn du Preiskalkulationen für <em>nur wenige Artikel</em> speichern möchtest, dann empfiehlt es sich, die <a href="/artikel/artikel-verwalten#240">Preiskalkulationen manuell zu verknüpfen</a>.</p>
</li>
<li>
<p>Wenn du Preise für <em>viele Artikel</em> speichern möchtest, dann empfiehlt es sich, ElasticSync zu verwenden, um die <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2300">Preiskalkulationen zu importieren</a>.
Alternativ kannst du Preiskalkulationen auch per <a href="/artikel/artikel-verwalten#330">Varianten-Gruppenfunktion</a> für mehrere Artikelvarianten gleichzeitig einstellen.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>