<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Verkaufspreise</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Neue Verkaufspreise erstellen</span></a></li>
<li><a href="#500"><span>1.2.</span><span> Mit bestehenden Verkaufspreisen arbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#600"><span>1.2.1.</span><span> Verkaufspreise suchen</span></a></li>
<li><a href="#700"><span>1.2.2.</span><span> Die Namen in mehreren Sprachen speichern</span></a></li>
</ul>
</li>
<li><a href="#900"><span>1.3.</span><span> Verkaufspreis auf Produkte anwenden</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>2.</span><span> Neue Preiskalkulation (Beta)</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>2.1.</span><span> Neue Preiskalkulation erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#1200"><span>2.1.1.</span><span> Einstellungen</span></a></li>
<li><a href="#1300"><span>2.1.2.</span><span> Formel</span></a></li>
<li><a href="#1400"><span>2.1.3.</span><span> Zielpreis</span></a></li>
<li><a href="#1500"><span>2.1.4.</span><span> Weitere Kalkulation hinzufügen</span></a></li>
</ul>
</li>
<li><a href="#1600"><span>2.2.</span><span> Mit bestehenden Kalkulationen arbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#1700"><span>2.2.1.</span><span> Symbolleiste in der Übersicht</span></a></li>
<li><a href="#1800"><span>2.2.2.</span><span> Spalten in der Tabelle</span></a></li>
<li><a href="#1900"><span>2.2.3.</span><span> Metadaten</span></a></li>
<li><a href="#2000"><span>2.2.4.</span><span> Fehlerberichte</span></a></li>
</ul>
</li>
<li><a href="#2100"><span>2.3.</span><span> Kalkulation auf Produkte anwenden</span></a></li>
<li><a href="#2200"><span>2.4.</span><span> Fragen und Antworten</span></a></li>
</ul>
</li>
<li><a href="#2300"><span>3.</span><span> Alte Preiskalkulation (wird zukünftig eingestellt)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verkaufspreise und Preiskalkulation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Preise sind ein wichtiges Thema für jedes Geschäft.
Dank plentymarkets bist du bei der Gestaltung deiner Preise sehr flexibel.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Erstens kannst du die <a href="/artikel/einstellungen/preise#100">Bedingungen definieren</a>, unter denen deine Produkte zu einem bestimmten Preis verkauft werden.
Zum Beispiel kannst du deine Produkte im Webshop günstiger anbieten als auf Amazon.
Oder du kannst deine Produkte günstiger an B2B-Kunden verkaufen als an B2C-Kunden. In plentymarkets bezeichnen wir solche Bedingungen als <em>Verkaufspreise</em>.</p>
</li>
<li>
<p>Zweitens kannst du <a href="/artikel/einstellungen/preise#900">Preise für jede Variante einzeln</a> speichern.
Wenn du also ein T-Shirt in S, M, L und XL verkaufst, kannst du entscheiden, ob die XL-Variante etwas teurer als die anderen sein soll.</p>
</li>
<li>
<p>Drittens kannst du plentymarkets deine <a href="/artikel/einstellungen/preise#1000">Geldpreise automatisch berechnen lassen</a>.
Beispielsweise startest du mit dem Einkaufspreis des Artikels und fügst dann die Transportkosten, Lagerkosten und Steuern hinzu. Schließlich legst du eine Gewinnspanne von 7% oben drauf.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Verkaufspreise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verkaufspreise definieren die <em>Bedingungen</em>, unter denen eine Variante zu einem bestimmten Preis verkauft wird.
Zum Beispiel kannst du deine Produkte im Webshop günstiger anbieten als auf Amazon. Oder du kannst deine Produkte günstiger an B2B-Kunden verkaufen als an B2C-Kunden.</p>
</div>
<div class="paragraph">
<p>Neue plentymarkets Systeme sind mit <em>zwei Standard-Verkaufspreisen</em> ausgestattet.
Wirf bei Bedarf einen Blick auf diese Standard-Verkaufspreise und nutze sie, um dich mit dem Thema vertraut zu machen.
Es steht dir frei, die Standard-Verkaufspreise zu ändern und/oder völlig neue Verkaufspreise zu erstellen.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/265406117" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="200">1.1. Neue Verkaufspreise erstellen</h3>
<div class="paragraph">
<p>In plentymarkets werden Verkaufspreise zentral angelegt und verwaltet.
Entweder kannst du neue Verkaufspreise mit Hilfe eines <em>Assistenten</em> erstellen oder du kannst neue Verkaufspreise manuell im <em>Einrichtungsmenü</em> erstellen.</p>
</div>
<div class="paragraph">
<p>So oder so, wirst du die Verkaufspreise an deine Bedürfnisse anpassen.
Du vergibst den Verkaufspreisen eindeutige Namen und entscheidest, für welche Währungen, Kundenklassen, Marktplätze, oder andere Bedingungen sie gelten sollen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="im-einrichtungsmen--tab" data-toggle="tab" href="#im-einrichtungsmen-" role="tab" aria-controls="im-einrichtungsmen-" aria-selected="true">Im Einrichtungsmenü</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mit-dem-assistenten-tab" data-toggle="tab" href="#mit-dem-assistenten" role="tab" aria-controls="mit-dem-assistenten" aria-selected="false">Mit dem Assistenten</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="im-einrichtungsmen-" role="tabpanel" aria-labelledby="im-einrichtungsmen--tab">
<div class="paragraph">
<p>Erstelle beliebig viele Verkaufspreise, um die gesamte Breite deiner benötigten Preise in plentymarkets abzubilden.
Während des Prozesses vergibst du den Verkaufspreisen eindeutige Namen und entscheidest, für welche Währungen, Kundenklassen, Marktplätze, oder andere Bedingungen sie gelten sollen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neu</strong>.<br>
→ Das Tab <strong>Neu</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-create-sales-price">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Anschließend werden die fertige <a href="/artikel/einstellungen/preise#900">Verkaufspreise mit einzelnen Varianten verknüpft</a>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Um Fehler zu vermeiden, sollst du nicht mehrere Verkaufspreise mit denselben Bedingungen konfigurieren.
Beispiel: Legst du zwei verschiedene Verkaufspreise an, die beide für Amazon gültig sind, dann weiß plentymarkets nicht, welcher davon verwendet werden soll.
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-sales-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verkaufspreis erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abo-Interv.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist relevant, wenn du Plugins auf dem plentyMarketplace auf Abonnementbasis anbietest.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Option hat aktuell weder eine Funktion für den Ceres-Webshop noch für das Scheduler oder Abonnement Modul.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer eingeben.
Wenn du mehrere <a href="/artikel/einstellungen/preise#900">Verkaufspreise mit einer Variante verknüpfst</a>, dann werden die Verkaufspreise anhand ihrer Positionsnummer im Artikeldatensatz sortiert angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interner Name DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für den Verkaufspreis ein.
Dieser Name wird an verschiedenen Stellen innerhalb deines plentymarkets Backends angezeigt. Du wählst z.B. den Verkaufspreis anhand seines Namens, wenn du <a href="/artikel/einstellungen/preise#900">ihn mit einzelnen Artikeln verknüpfst</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen externen Namen für den Verkaufspreis ein.
Dieser Name wird derzeit weder im Ceres noch im Callisto-Webshop angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ab Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollte der Verkaufspreis nur gelten, wenn ein Kunde <em>mehrere Exemplare des Artikels</em> kauft?
Nehmen wir zum Beispiel an, du verkaufst Socken für 6 EUR pro Paar. Möchtest du, dass der Preis auf 5 EUR pro Paar reduziert wird, wenn ein Kunde 3 oder mehr Paar Socken kauft?
Falls ja, dann gib die Menge an, für die dieser Verkaufspreis gilt.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Füge <em>noch weitere</em> mengenabhängige Verkaufspreise hinzu, um eine Preisstaffel nach Mengen zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für welche Währungen soll der Verkaufspreis gelten?
Wähle sie aus der Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Während du dein Webshop konfigurierst, kannst du entscheiden, in welchen <a href="/webshop/ceres-einrichten#220">Sprachen</a> und <a href="/webshop/ceres-einrichten#201">Währungen</a> dein Shop zugänglich sein soll.
Nehmen wir zum Beispiel an, dass Kunden die Währungen EUR, PLN, CHF und GBP aus der Kopfzeile wählen können.
Dann wäre es sinnvoll, Preise auch für diese Währungen zu speichern.</p>
<p class="tableblock"><strong><em>Automatisch umrechnen lassen</em></strong>: Aktiviere die Option <strong>Live umrechnen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um deine Preise automatisch von der <a href="/payment/waehrungen#30">Standardwährung</a>, z.B. EUR, in die anderen Währungen, z.B. PLN, CHF und GBP, umrechnen zu lassen.<br>
Wenn du diese Option <em>nicht</em> aktivierst, werden deine Preise alle die gleiche Zahl, aber unterschiedliche Währungen haben, z.B. 19 EUR und 19 PLN. Daher ist es meistens sinnvoll, die Preise automatisch umrechnen zu lassen.</p>
<p class="tableblock">Vergewissere dich, dass du mit den im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong> gespeicherten <a href="/payment/waehrungen#20">Umrechnungsfaktoren</a> einverstanden bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preistyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche Art von Verkaufspreis möchtest du konfigurieren? In den meisten Fällen wirst du einen <em>Standard-Verkaufspreis</em> anlegen.</p>
<p class="tableblock">Aber in manchen Situationen willst du vielleicht stattdessen ein "UVP", "Setpreis" oder "Aktionspreis" erstellen.
Falls ja, dann wähle den entsprechenden Preistyp (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong>UVP</strong> = Eine unverbindliche Preisempfehlung, die nur dazu dient, den Preisvergleich zwischen dem UVP und einem Standard-Verkaufspreis darzustellen. Der UVP wird im Webshop in rot und durchgestrichen neben dem Verkaufspreis dargestellt. Produkte können nicht zu dem UVP-Preis verkauft werden.</p>
<p class="tableblock"><strong>Aktionspreis</strong> = Ein Angebotspreis, der z.B. bei Amazon nur für eine begrenzte Zeit gilt.</p>
<p class="tableblock"><strong>Setpreis</strong> = <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#3000">Sets</a> sind eine Möglichkeit, Produkte zu kombinieren und als eine Verkaufseinheit anzubieten. Wenn du dich entscheidest, Produkte zu einem Set zu kombinieren, dann musst du den einzelnen Set-Bestandteilen einen Setpreis geben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll dieser Verkaufspreis <em>automatisch</em> mit neuen Artikeldatensätzen verknüpft werden?
Falls ja, dann aktiviere die Option <strong>Bei neuem Artikel immer anzeigen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">Wenn diese Einstellung deaktiviert ist, kannst du den <a href="/artikel/einstellungen/preise#900">Verkaufspreis trotzdem manuell zu Artikeln hinzufügen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Mandanten (Shops) gelten? Falls ja, dann wähle alle Shops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Mit plentymarkets kannst du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit nur einer Software verwalten. Somit ist es möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren.
Das ist ein großer Vorteil. Aber es bedeutet auch, dass du plentymarkets immer mitteilen musst, für welchen Webshop der Verkaufspreis gilt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Kundenklassen gelten? Willst du z.B. deine Produkte günstiger an B2B-Kunden verkaufen als an B2C-Kunden?
Falls ja, dann wähle alle Kundenklassen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gilt.</p>
<p class="tableblock"><strong><em>Häufige Fehlerquelle</em></strong>: Um Fehler zu vermeiden, sollst du nicht mehrere Verkaufspreise für dieselbe Kundenklasse konfigurieren.
Beispiel: Legst du zwei verschiedene Verkaufspreise an, die beide für B2B-Kunden gültig sind, dann weiß plentymarkets nicht, welcher davon verwendet werden soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: <a href="/crm/kontakte-verwalten#15">Erstelle die nötigen Kundenklassen</a> im Voraus, falls sie nicht bereits in deinem plentymarkets System vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Lieferländer gelten? Beispielsweise zahlst du wahrscheinlich unterschiedliche Steuersätze in unterschiedlichen Ländern. Aus diesem Grund willst du vielleicht einen Artikel in einigen Ländern zu einem etwas höheren Preis verkaufen, damit du die Differenz nicht selbst bezahlen musst.
Wähle alle Länder (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Verkaufskanäle gelten? Möchtest du zum Beispiel den Artikel zu einem niedrigeren Preis in deinem Webshop verkaufen als auf Amazon?
Wähle alle Plattformen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p>
<p class="tableblock"><strong><em>Häufige Fehlerquelle</em></strong>: Um Fehler zu vermeiden, sollst du nicht mehrere Verkaufspreise für denselben Verkaufskanal konfigurieren.
Beispiel: Legst du zwei verschiedene Verkaufspreise an, die beide für Amazon gültig sind, dann weiß plentymarkets nicht, welcher davon verwendet werden soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Wenn du eBay oder Amazon wählst, wird die entsprechende Kontoeinstellung weiter unten eingeblendet. Hier teilst du plentymarkets mit, für welches eBay- oder Amazon-Konto der Verkaufspreis gelten soll.
<a href="/maerkte/ebay/ebay-einrichten">Verknüpfe also im Voraus dein eBay- oder Amazon-Konto mit plentymarkets</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Teile plentymarkets mit, für welches Amazon-Konto der Verkaufspreis gelten soll.
<a href="/maerkte/amazon/amazon-einrichten">Verknüpfe also im Voraus dein Amazon-Konto mit plentymarkets</a>.</p>
<p class="tableblock">Diese Einstellung ist ausgegraut, bis du eine Amazon-Plattform aus der Liste weiter oben auswählst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Teile plentymarkets mit, für welches eBay-Konto der Verkaufspreis gelten soll.
<a href="/maerkte/ebay/ebay-einrichten">Verknüpfe also im Voraus dein eBay-Konto mit plentymarkets</a>.</p>
<p class="tableblock">Diese Einstellung ist ausgegraut, bis du eine eBay-Plattform aus der Liste weiter oben auswählst.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="mit-dem-assistenten" role="tabpanel" aria-labelledby="mit-dem-assistenten-tab">
<div class="paragraph">
<p>Mit Hilfe des Assistenten kannst du auf einfache Weise neue Verkaufspreise erstellen.
Der Assistent führt dich durch die gängigsten Einstellungen.
Während des Prozesses vergibst du den Verkaufspreisen eindeutige Namen und entscheidest, für welche Währungen, Kundenklassen, Marktplätze, oder andere Bedingungen sie gelten sollen.
Es gibt auch einige erweiterte Einstellungen, die optional auch im Anschluß konfiguriert werden können.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Grundeinrichtung</strong>.</p>
</li>
<li>
<p>Klicke auf den Verkaufspreise-Assistenten.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Konfiguration</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Beachte <a href="#table-sales-price-assistant">Tabelle 2</a>, wenn du zusätzliche Informationen zu einer der Optionen benötigst.</p>
</li>
<li>
<p>Überprüfe die Zusammenfassung auf mögliche Fehler und klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Assistent ist fertig. Wiederhole diese Schritte, bis du alle von deinem Unternehmen benötigten Verkaufspreise erstellt hast.</p>
</li>
<li>
<p>Anschließend werden die fertige <a href="/artikel/einstellungen/preise#900">Verkaufspreise mit einzelnen Varianten verknüpft</a>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Um Fehler zu vermeiden, sollst du nicht mehrere Verkaufspreise mit denselben Bedingungen konfigurieren.
Beispiel: Legst du zwei verschiedene Verkaufspreise an, die beide für Amazon gültig sind, dann weiß plentymarkets nicht, welcher davon verwendet werden soll.
</td>
</tr>
</tbody></table>
</div>
<table id="table-sales-price-assistant" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verkaufspreis erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Schritt: Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche Art von Verkaufspreis möchtest du konfigurieren? In den meisten Fällen wirst du einen <em>Standard-Verkaufspreis</em> anlegen.</p>
<p class="tableblock">Aber in manchen Situationen willst du vielleicht stattdessen ein "UVP", "Setpreis" oder "Aktionspreis" erstellen.
Falls ja, dann aktiviere diese Option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
Ein zusätzlicher Konfigurationsschritt wird eingeblendet. In diesem Schritt legst du die Art des zu erstellenden Verkaufspreises fest.</p>
<p class="tableblock"><strong>UVP</strong> = Eine unverbindliche Preisempfehlung, die nur dazu dient, den Preisvergleich zwischen dem UVP und einem Standard-Verkaufspreis darzustellen. Der UVP wird im Webshop in rot und durchgestrichen neben dem Verkaufspreis dargestellt. Produkte können nicht zu dem UVP-Preis verkauft werden.</p>
<p class="tableblock"><strong>Aktionspreis</strong> = Ein Angebotspreis, der z.B. bei Amazon nur für eine begrenzte Zeit gilt.</p>
<p class="tableblock"><strong>Setpreis</strong> = <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#3000">Sets</a> sind eine Möglichkeit, Produkte zu kombinieren und als eine Verkaufseinheit anzubieten. Wenn du dich entscheidest, Produkte zu einem Set zu kombinieren, dann musst du den einzelnen Set-Bestandteilen einen Setpreis geben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklassen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Kundenklassen gelten? Willst du z.B. deine Produkte günstiger an B2B-Kunden verkaufen als an B2C-Kunden?
Falls ja, dann aktiviere diese Option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
Ein zusätzlicher Konfigurationsschritt wird eingeblendet. In diesem Schritt gibst du die Kundenklasse an, für die dieser Verkaufspreis gilt.</p>
<p class="tableblock"><strong><em>Häufige Fehlerquelle</em></strong>: Um Fehler zu vermeiden, sollst du nicht mehrere Verkaufspreise für dieselbe Kundenklasse konfigurieren.
Beispiel: Legst du zwei verschiedene Verkaufspreise an, die beide für B2B-Kunden gültig sind, dann weiß plentymarkets nicht, welcher davon verwendet werden soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: <a href="/crm/kontakte-verwalten#15">Erstelle die nötigen Kundenklassen</a> im Voraus, falls sie nicht bereits in deinem plentymarkets System vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mengenabhängigkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollte der Verkaufspreis nur gelten, wenn ein Kunde <em>mehrere Exemplare des Artikels</em> kauft?
Nehmen wir zum Beispiel an, du verkaufst Socken für 6 EUR pro Paar. Möchtest du, dass der Preis auf 5 EUR pro Paar reduziert wird, wenn ein Kunde 3 oder mehr Paar Socken kauft?
Falls ja, dann aktiviere diese Option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
Ein zusätzlicher Konfigurationsschritt wird eingeblendet. In diesem Schritt gibst du die Menge an, für die dieser Verkaufspreis gilt.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Füge <em>noch weitere</em> mengenabhängige Verkaufspreise hinzu, um eine Preisstaffel nach Mengen zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Schritt: Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interner Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für den Verkaufspreis ein.
Dieser Name wird an verschiedenen Stellen innerhalb deines plentymarkets Backends angezeigt. Du wählst z.B. den Verkaufspreis anhand seines Namens, wenn du <a href="/artikel/einstellungen/preise#900">ihn mit einzelnen Artikeln verknüpfst</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen externen Namen für den Verkaufspreis ein.
Dieser Name wird derzeit weder im Ceres noch im Callisto-Webshop angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Schritt: Verfügbarkeiten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welche Währungen soll der Preis automatisch umgerechnet werden?
Wähle sie aus der Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Während du dein Webshop konfigurierst, kannst du entscheiden, in welchen <a href="/webshop/ceres-einrichten#220">Sprachen</a> und <a href="/webshop/ceres-einrichten#201">Währungen</a> dein Shop zugänglich sein soll.
Nehmen wir zum Beispiel an, dass Kunden die Währungen EUR, PLN, CHF und GBP aus der Kopfzeile wählen können.
Dann wäre es sinnvoll, deine Preise automatisch von der <a href="/payment/waehrungen#30">Standardwährung</a>, z.B. EUR, in die anderen Währungen, z.B. PLN, CHF und GBP, umrechnen zu lassen.</p>
<p class="tableblock">Vergewissere dich, dass du mit den im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong> gespeicherten <a href="/payment/waehrungen#20">Umrechnungsfaktoren</a> einverstanden bist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufskanäle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Verkaufskanäle gelten? Möchtest du zum Beispiel den Artikel zu einem niedrigeren Preis in deinem Webshop verkaufen als auf Amazon?
Wähle alle Plattformen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p>
<p class="tableblock"><strong><em>Häufige Fehlerquelle</em></strong>: Um Fehler zu vermeiden, sollst du nicht mehrere Verkaufspreise für denselben Verkaufskanal konfigurieren.
Beispiel: Legst du zwei verschiedene Verkaufspreise an, die beide für Amazon gültig sind, dann weiß plentymarkets nicht, welcher davon verwendet werden soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Wenn du eBay oder Amazon wählst, wird ein zusätzlicher Konfigurationsschritt eingeblendet. In diesem Schritt teilst du plentymarkets mit, für welches eBay- oder Amazon-Konto der Verkaufspreis gelten soll.
<a href="/maerkte/ebay/ebay-einrichten">Verknüpfe also im Voraus dein eBay- oder Amazon-Konto mit plentymarkets</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Lieferländer gelten?
Beispielsweise zahlst du wahrscheinlich unterschiedliche Steuersätze in unterschiedlichen Ländern. Aus diesem Grund willst du vielleicht einen Artikel in einigen Ländern zu einem etwas höheren Preis verkaufen, damit du die Differenz nicht selbst bezahlen musst.
Wähle alle Länder (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll der Verkaufspreis nur für bestimmte Mandanten (Shops) gelten? Falls ja, dann wähle alle Shops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die dieser Verkaufspreis gelten soll.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Diese Einstellung wird nur eingeblendet, wenn du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit plentymarkets verwaltest.
Da es möglich ist, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren, musst du plentymarkets immer mitteilen, für welchen Webshop der Verkaufspreis gilt.</p></td>
</tr>
</tbody>
</table>
<h5 id="_erweiterte_einstellungen_nicht_im_assistenten_enthalten" class="discrete">Erweiterte Einstellungen (nicht im Assistenten enthalten)</h5>
<div class="paragraph">
<p>Der Assistent führt dich durch die gängigsten Einstellungen für Verkaufspreise. Es gibt jedoch einige erweiterte Einstellungen, die optional auch konfiguriert werden können.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise#600">Suche</a> und öffne den Verkaufspreis.</p>
</li>
<li>
<p>Konfiguriere die erweiterten Einstellungen falls benötigt. Beachte <a href="#table-sales-price-advanced-settings">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-sales-price-advanced-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Folgende Einstellungen sind im Assistenten nicht enthalten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abo-Interv.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist relevant, wenn du Plugins auf dem plentyMarketplace auf Abonnementbasis anbietest.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Option hat aktuell weder eine Funktion für den Ceres-Webshop noch für das Scheduler oder Abonnement Modul.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer eingeben.
Wenn du mehrere <a href="/artikel/einstellungen/preise#900">Verkaufspreise mit einer Variante verknüpfst</a>, dann werden die Verkaufspreise anhand ihrer Positionsnummer im Artikeldatensatz sortiert angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll dieser Verkaufspreis <em>automatisch</em> mit neuen Artikeldatensätzen verknüpft werden?
Falls ja, dann aktiviere die Option <strong>Bei neuem Artikel immer anzeigen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">Wenn diese Einstellung deaktiviert ist, kannst du den <a href="/artikel/einstellungen/preise#900">Verkaufspreis trotzdem manuell zu Artikeln hinzufügen</a>.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
<div class="sect2">
<h3 id="500">1.2. Mit bestehenden Verkaufspreisen arbeiten</h3>
<div class="paragraph">
<p>Sobald du einen <a href="/artikel/einstellungen/preise#200">neuen Verkaufspreis erstellt</a> hast, wird er automatisch zur Übersicht im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> hinzugefügt.</p>
</div>
<div class="sect3">
<h4 id="600">1.2.1. Verkaufspreise suchen</h4>
<div class="paragraph">
<p>Verwende die Filter links, um die in der Übersicht rechts angezeigten Verkaufspreise einzugrenzen.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreise filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Wähle die Filter links. Beachte <a href="#table-filter-sales-prices">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die gefilterten Verkaufspreise werden in der Übersicht rechts angezeigt.</p>
</li>
</ol>
</div>
<table id="table-filter-sales-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Verkaufspreise filtern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Verkaufspreis mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, um nach dem Verkaufspreis mit diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ab Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mengenwert eingeben, um nach dem Verkaufspreis mit dieser Mengenstaffelung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diesen Mandanten (Shop) zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klasse oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Kundenklasse zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunft oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Auftragsherkunft zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Konto oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses Amazon-Konto zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Konten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Konto oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses eBay-Konto zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für diese Währung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen in dieser Sprache zu suchen. Standardmäßig ist <strong>Deutsch</strong> voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land oder <strong>ALLE</strong> wählen, um nach Verkaufspreisen für dieses Lieferland zu suchen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="700">1.2.2. Die Namen in mehreren Sprachen speichern</h4>
<div class="paragraph">
<p>Nachdem du einen <a href="/artikel/einstellungen/preise#200">neuen Verkaufspreis erstellt</a> hast, übersetze nach Bedarf den Namen des Verkaufspreises in die von dir verwendeten Sprachen.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis übersetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise#600">Suche</a> und öffne den Verkaufspreis.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Sprache</strong>.</p>
</li>
<li>
<p>Gib den <strong>internen Namen</strong> in den benötigten Sprachen ein.</p>
</li>
<li>
<p>Gib den <strong>externen Namen</strong> in den benötigten Sprachen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">1.3. Verkaufspreis auf Produkte anwenden</h3>
<div class="paragraph">
<p>Verkaufspreise werden mit <a href="/artikel/einleitung/struktur">einzelnen Varianten</a> verknüpft, nicht mit dem Artikel als Ganzes.
Wenn du also ein T-Shirt in S, M, L und XL verkaufst, kannst du entscheiden, ob die XL-Variante etwas teurer als die anderen sein soll.</p>
</div>
<div class="paragraph">
<p>Es gibt verschiedene Möglichkeiten, Verkaufspreise mit Varianten zu verknüpfen und die eigentlichen Geldpreise einzugeben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn du Preise für <em>nur wenige Artikel</em> speichern möchtest, dann empfiehlt es sich, die <a href="/artikel/artikel-verwalten#240">Verkaufspreise manuell zu verknüpfen und Geldbeträge einzugeben</a>.</p>
</li>
<li>
<p>Wenn du Preise für <em>viele Artikel</em> speichern möchtest, dann empfiehlt es sich, die <a href="/artikel/import-export-anlage/import#800">Verkaufspreise und Geldbeträge zu importieren</a>.
Alternativ könntest du diese Daten mit Hilfe eines <a href="/willkommen/assistenten">Assistenten</a> importieren.</p>
</li>
<li>
<p>Anstatt die Geldbeträge manuell einzugeben, willst du vielleicht, dass plentymarkets sie <a href="/artikel/einstellungen/preise#1000">automatisch für dich berechnet</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">2. Neue Preiskalkulation (Beta)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lass plentymarkets deine Preise für dich berechnen.
Starte zum Beispiel mit dem Einkaufspreis und füge dann die Transportkosten, Lagerkosten und Steuern hinzu.
Lege schließlich noch einen Aufschlag von 7% oben drauf.
Mit plentymarkets entscheidest du, wie deine Preise berechnet werden sollen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wann wird die Funktion verfügbar sein?</div>
<div class="paragraph">
<p>Dieses Kapitel beschreibt die neue Preiskalkulation, die Anfang 2021 eingeführt wurde.
Wann die Funktion verfügbar sein wird, hängt davon ab, ob du ein Beta-, Early- oder Stable-System hast.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Beta</strong> = 31.3.2021</p>
</li>
<li>
<p><strong>Early</strong> = 7.4.2021</p>
</li>
<li>
<p><strong>Stable</strong> = 14.4.2021</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Es gibt auch eine alte Preiskalkulation, die nicht weiter entwickelt wird und in Zukunft ausläuft.
Das alte Tool ist <a href="/artikel/einstellungen/preise#2300">hier beschrieben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h3 id="_ablauf" class="discrete">Ablauf</h3>
<div class="paragraph">
<p>Die Konfiguration in plentymarkets besteht aus mehreren Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/preise#1100">Erstelle die nötigen Preiskalkulationen</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise#2100">Wende die Kalkulation auf deine Produkte an</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise#2000">Prüfe den Fehlerbericht und löse etwaige Probleme</a></p>
</li>
</ul>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/527266670" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.1. Neue Preiskalkulation erstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Preiskalkulation</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Preiskalkulation</strong>.</p>
</li>
<li>
<p>Passe die Einstellungen an deine Bedürfnisse an:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Gib einen eindeutigen Namen für die Kalkulation ein.</p>
</li>
<li>
<p>Erstelle deine eigenen Formeln.</p>
</li>
<li>
<p>Wähle Nachkommastellen und Rundungsverhalten pro Zielpreis.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="1200">2.1.1. Einstellungen</h4>
<table id="table-pricecalculation-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen eindeutigen Namen für die Kalkulation ein.
Der Name dient nur internen Zwecken und ist <em>nicht</em> für Kunden sichtbar.
Du wirst die Preiskalkulation z.B. anhand ihres Namens wählen, wenn du sie auf bestimmte Varianten anwendest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-toggle-on  "></i></span> <strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Preiskalkulation wird erst dann auf Produkte angewendet, wenn sie aktiviert wurde.
Das heißt, du kannst neue Formeln und Rundungsverhalten ausprobieren, ohne eine Neuberechnung der Artikelpreise anzustoßen.
Aktiviere die Preiskalkulation, sobald sie in Kraft treten soll.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span> = Das Speichern löst keine Neuberechnung aus.</p>
</li>
<li>
<p><span class="icon blue"><i class="fa fa-toggle-on  "></i></span> = Beim Speichern öffnet sich ein Pop-up-Fenster.
Du wirst aufgefordert, deine Entscheidung zu bestätigen, denn das Speichern löst eine Neuberechnung aus.
Du siehst, wie viele Varianten betroffen werden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Preise werden nicht sofort neu berechnet.
Stattdessen beginnt die Neuberechnung nach einer kurzen Verzögerung (ca. 3 Minuten).</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1300">2.1.2. Formel</h4>
<div class="paragraph">
<p>Wie soll der Preis berechnet werden?
Beispielsweise startest du mit dem Einkaufspreis und fügst dann die Transportkosten, Lagerkosten und Steuern hinzu.
Schließlich legst du noch einen Aufschlag von 7% oben drauf.
In diesem Fall könnte die Formel etwa so aussehen:<br>
<code>(EK + Transport + Lager + Steuer) * 1.07</code></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/formel.gif" alt="formel">
</div>
</div>
<div class="paragraph instruction">
<p>Formel schreiben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib bei Bedarf einen Namen für die Formel ein, z.B. Grundformel.</p>
</li>
<li>
<p>Klicke in das Eingabefeld.<br>
→ Ein Taschenrechner wird geöffnet.</p>
</li>
<li>
<p>Gib die Formel ein:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Gib Zahlen und mathematische Symbole mit dem Taschenrechner oder über die Tastatur ein.</p>
</li>
<li>
<p>Suche nach verfügbaren Variablen und füge sie zu deiner Berechnung hinzu (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <strong>Übernehmen</strong>.</p>
</li>
</ol>
</div>
<h5 id="1350" class="discrete">Verfügbare Variablen</h5>
<div class="openblock collapseBox">
<div class="title"><strong>Variante</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht dem Netto-Einkaufspreis unter:<br>
<a href="/artikel/artikel-verwalten#280">Tab: Einstellungen » Bereich: Kosten » Option: EK netto</a></p>
<p class="tableblock">Abhängig von den Einstellungen im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> wird der Einkaufspreis berechnet oder manuell gepflegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gld. Einkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht dem gleitenden Durchschnitts-Einkaufspreis unter:<br>
<a href="/artikel/artikel-verwalten#280">Tab: Einstellungen » Bereich: Kosten » Option: GLD EK netto</a></p>
<p class="tableblock">Der GLD EK netto wird bei jedem Wareneingang neu aus den Einkaufspreisen aller im Lager verfügbaren Bestände einer Variante berechnet.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Bei der Berechung wird nur Wareneingang in die <strong>Lager für gleitenden Durchschnittspreis</strong> berücksichtigt, die im Menü <strong>Einrichtung » Waren » Warenbestand » Wareneingang</strong> aktiviert wurden. Wenn keine Lager aktiviert sind, erfolgt keine Berechnung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transportkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht den Netto-Transportkosten unter:<br>
<a href="/artikel/artikel-verwalten#280">Tab: Einstellungen » Bereich: Kosten » Option: Transport netto</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mehrwertsteuer<br>
(Standardmandant)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht dem prozentualen Umsatzsteuersatz unter:<br>
<a href="/artikel/artikel-verwalten#280">Tab: Einstellungen » Bereich: Kosten » Option: Umsatzsteuer</a></p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
In der Variante wird der Steuersatz als Prozentzahl gespeichert.
In der Formel musst du die Prozentzahl in eine Dezimalzahl umwandeln.
Beispiel: <code>7%</code> wird zu <code>1,07</code> durch <code>(1 + Steuersatz / 100)</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zoll</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht dem Zoll-Prozentsatz unter:<br>
<a href="/artikel/artikel-verwalten#280">Tab: Einstellungen » Bereich: Kosten » Option: Zoll</a></p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
In der Variante wird der Zollaufschlag als Prozentzahl gespeichert.
In der Formel musst du die Prozentzahl in eine Dezimalzahl umwandeln.
Beispiel: <code>11,2%</code> wird zu <code>1,112</code> durch <code>(1 + Zollaufschlag / 100)</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebskosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht dem Prozentsatz der Betriebskosten unter:<br>
<a href="/artikel/artikel-verwalten#280">Tab: Einstellungen » Bereich: Kosten » Option: Betriebskosten</a></p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
In der Variante werden die Betriebskosten als Prozentzahl gespeichert.
In der Formel musst du die Prozentzahl in eine Dezimalzahl umwandeln.
Beispiel: <code>7%</code> wird zu <code>1,07</code> durch <code>(1 + Betriebskosten / 100)</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht den Netto-Lagerkosten unter:<br>
<a href="/artikel/artikel-verwalten#280">Tab: Einstellungen » Bereich: Kosten » Option: Lager netto</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Portoaufschlag 1</strong>;<br>
<strong>Portoaufschlag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entspricht dem Portoaufschlag unter:<br>
<a href="/artikel/artikel-verwalten#290">Tab: Einstellungen » Bereich: Versand » Option: Portoaufschlag 1 und 2</a></p>
</div>
<div class="paragraph">
<p>Dies ist eine Gebühr, die <em>zusätzlich</em> zu den normalen Versandkosten erhoben werden soll. Solche Portoaufschläge bieten sich für größere oder sperrige Artikel an, deren Versand teurer ist.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Portoaufschlag 1 gilt für den ersten Artikel.</p>
</li>
<li>
<p>Portoaufschlag 2 gilt für jeden weiteren Artikel.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>: Gib in jedem deiner <a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a> an, ob die Aufschläge zum Grundporto hinzugefügt werden sollen.</p>
</div>
<div class="paragraph">
<p>Das Handbuch enthält auch einige <a href="/fulfillment/versand-vorbereiten#1100">Rechenbeispiele für Portoaufschläge</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Verkaufspreise</strong></div>
<div class="content">
<div class="paragraph">
<p>Füge Verkaufspreise zu deiner Formel hinzu.
Diese Liste enthält nur Verkaufspreise, die du <a href="/artikel/einstellungen/preise#200">bereits im System angelegt</a> hast.</p>
</div>
<div class="paragraph">
<p><strong><em>Anwendungsbeispiel</em></strong><br>
Stell dir vor, du verkaufst Artikel im Webshop und auf Amazon.
Du willst, dass der Amazon-Preis immer 10% über dem Webshop-Preis liegt.
In diesem Fall könntest du den Amazon-Preis wie folgt berechnen:<br>
<code>Amazon = Webshop * 1.10</code></p>
</div>
<div class="paragraph">
<p><strong><em>Warum stehen manche Verkaufspreise nicht zur Auswahl?</em></strong><br>
Um Fehler zu vermeiden, stehen manche Verkaufspreise nicht zur Auswahl.
Es ist nicht möglich, einen Verkaufspreis als Variable zu verwenden, wenn dieser bereits als Zielpreis festgelegt wurde.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Eigenschaften</strong></div>
<div class="content">
<div class="paragraph">
<p>Füge Eigenschaften vom Typ "Ganze Zahl" oder "Kommazahl" zu deiner Formel hinzu.
Diese Liste enthält nur Eigenschaften, die du <a href="/artikel/einstellungen/eigenschaften#500">bereits im System angelegt</a> hast und die ein Häkchen neben der Option <a href="/artikel/einstellungen/eigenschaften#intable-preiskalk">Preiskalkulationseigenschaft</a> haben.</p>
</div>
<div class="paragraph">
<p><strong><em>Hast du auch einen Wert für die Eigenschaft gespeichert?</em></strong><br>
Stelle sicher, dass du die Eigenschaft mit den entsprechenden Varianten <a href="/artikel/einstellungen/eigenschaften#1400">verknüpft</a> hast und dass du eine ganze Zahl oder eine Dezimalzahl als Wert gespeichert hast.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Formeln</strong></div>
<div class="content">
<div class="paragraph">
<p>Es ist möglich, Formeln aufeinander aufzubauen.
Beispielsweise könntest du zuerst eine Grundformel erstellen.
Danach könntest du <a href="/artikel/einstellungen/preise#1500">weitere Kalkulationen hinzufügen</a>, um die Formel weiter anzupassen.
Bereits erstellte Formeln werden dabei zu Variablen, die hier ausgewählt werden können.</p>
</div>
<div class="paragraph">
<p><strong><em>Warum sehe ich diesen Bereich nicht?</em></strong><br>
Dieser Bereich wird nur angezeigt, wenn deine Preiskalkulation mehr als nur einen Kalkulations-Baustein enthält.</p>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="1400">2.1.3. Zielpreis</h4>
<div class="paragraph">
<p>Welche Verkaufspreise soll die Formel berechnen?
Vielleicht willst du z.B. die Preise im Webshop mit dieser Formel berechnen und die Preise auf Amazon mit einer anderen.
Wie viele Nachkommastellen soll der Verkaufspreis haben?
Soll er auf- oder abgerundet werden?
Wähle deine Präferenzen aus den Dropdown-Listen aus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/zielpreis.gif" alt="zielpreis">
</div>
</div>
<div class="paragraph instruction">
<p>Zielpreise wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Zielpreis</strong>.<br>
→ Eine neue Zeile wird hinzugefügt.</p>
</li>
<li>
<p>Wähle den passenden Verkaufspreis, das Rundungsverhalten und die Anzahl an Nachkommastellen. Beachte <a href="#table-pricecalculation-targetprices">Tabelle 5</a>.</p>
</li>
<li>
<p>Wiederhole den Vorgang, um weitere Zielpreise bei Bedarf hinzuzufügen.</p>
</li>
</ol>
</div>
<table id="table-pricecalculation-targetprices" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Zielpreise, Rundungsverhalten und Nachkommastellen</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle den passenden Verkaufspreis aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Warum stehen manche Verkaufspreise nicht zur Auswahl?</em></strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Um doppelte Zielpreise zu vermeiden.
Hast du z.B. den Webshop als Zielpreis in die erste Zeile gewählt, kannst du den Webshop nicht erneut als Zielpreis in die zweite Zeile wählen.</p>
</li>
<li>
<p>Um Fehler zu vermeiden.
Es ist nicht möglich, einen Verkaufspreis als Zielpreis festzulegen, wenn dieser gerade als Variable verwendet wird.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="openblock collapseBox">
<div class="title"><strong>Rundungsverhalten</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 66.6666%;">
<col style="width: 16.6668%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Verhalten</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Beispiele</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nicht runden, sondern Nachkommastellen begrenzen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden nicht gerundet.
Gib stattdessen eine Anzahl an Nachkommastellen ein.
Ab dieser Stelle werden weitere Nachkommastellen abgeschnitten.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4,3275<br>
4,327<br>
4,32</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf vollen Euro</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer auf den nächsten vollen Euro, Pfund, Franken usw. gerundet.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,00<br>
11,00<br>
12,00</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf vollen Cent</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer auf den nächsten Cent, Penny, Centime usw. gerundet.
Das heißt, Preise werden auf maximal zwei Nachkommastellen gerundet.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4,32<br>
4,33<br>
4,34</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf x,99</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer auf einen Cent vor dem vollen Euro gerundet (bzw. ein Penny vor dem vollen Pfund, usw.).</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,99<br>
11,99<br>
12,99</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf x,95</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer auf fünf Cents vor dem vollen Euro gerundet (bzw. fünf Pence vor dem vollen Pfund, usw.).</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,95<br>
11,95<br>
12,95</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf x,45 oder x,95</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer auf fünf Cents vor dem vollen oder halben Euro gerundet (bzw. fünf Pence vor dem vollen oder halben Pfund, usw.).</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,45<br>
10,95<br>
11,45</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In 50 Cent Schritten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer in Schritten von 50 Cents, Pence, Centimes usw. gerundet.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,50<br>
11,00<br>
11,50</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In 25 Cent Schritten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer in Schritten von 25 Cents, Pence, Centimes usw. gerundet.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,25<br>
10,50<br>
10,75</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In 10 Cent Schritten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer in Schritten von 10 Cents, Pence, Centimes usw. gerundet.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,10<br>
10,20<br>
10,30</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf x,x9</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise haben immer eine 9 als zweite Dezimalstelle.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,19<br>
10,29<br>
10,39</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In 5 Cent Schritten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Preise werden immer in Schritten von 5 Cents, Pence, Centimes usw. gerundet.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,05<br>
10,10<br>
10,15</p></td>
</tr>
</tbody>
</table>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rundungsrichtung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welche Richtung sollen die Preise gerundet werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Kaufmännisch</strong> = Die berechneten Preise werden entweder auf- oder abgerundet.
Die Richtung hängt davon ab, ob der Preis über oder unter einem bestimmten Schwellenwert liegt.
Für das Rundungsverhalten <strong>Auf x,99</strong> liegt der Grenzwert beispielsweise bei 49 Cent.
Endet also ein berechneter Preis mit x,48, dann wird abgerundet.
Endet ein berechneter Preis mit x,49, dann wird aufgerundet.</p>
</li>
<li>
<p><strong>Aufrunden</strong> = Die berechneten Preise werden immer aufgerundet.</p>
</li>
<li>
<p><strong>Abrunden</strong> = Die berechneten Preise werden immer abgerundet.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachkommastellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib die passende Anzahl an Nachkommastellen ein.
Der berechnete Preis wird an dieser Stelle abgeschnitten.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiele</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Berechneter Preis: 199,123456</p>
</li>
<li>
<p>4 Nachkommastellen: 199,1234</p>
</li>
<li>
<p>2 Nachkommastellen: 199,12</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Warum kann ich keine Nachkommastellen eingeben?</em></strong><br>
Die meisten Rundungsverhalten sind definitionsgemäß auf 2 Nachkommastellen begrenzt.
Wählst du eines dieser Rundungsverhalten, dann wirst du keine Nachkommastellen eingeben können.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1500">2.1.4. Weitere Kalkulation hinzufügen</h4>
<div class="paragraph">
<p>Eine Preiskalkulation besteht aus einem oder mehreren <em>Kalkulations-Bausteinen</em>.
Innerhalb jedes Bausteins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/preise#1300">erstellst du eine Formel</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise#1400">wählst du Zielpreise und Rundungsverhalten</a></p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/weitere-kalkulation.gif" alt="weitere kalkulation">
</div>
</div>
<div class="paragraph">
<p>Der erste Baustein erscheint automatisch, wenn du die Preiskalkulation erstellst.
Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Kalkulation</strong>, um noch weitere Bausteine hinzuzufügen und deine Formeln somit aufeinander aufzubauen.
Beispielsweise könntest du die erste Kalkulation verwenden, um eine Grundformel zu erstellen.
Und du könntest zusätzliche Kalkulationen verwenden, um diese Formel weiter anzupassen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Bisherige Formeln werden zu Variablen</div>
<div class="paragraph">
<p>Das Schöne an diesem Bausteinformat ist, dass du bereits erstellte Formeln wiederverwenden kannst.
Sie werden nämlich zu <a href="/artikel/einstellungen/preise#1350">Variablen</a>, die du im Taschenrechner auswählen kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1600">2.2. Mit bestehenden Kalkulationen arbeiten</h3>
<div class="paragraph">
<p>Sobald du eine neue Preiskalkulation erstellt hast, wird sie automatisch zur Übersicht im Menü <strong>Artikel » Preiskalkulation</strong> hinzugefügt.
Klicke auf eine Preiskalkulation, um sie zu öffnen und weiter zu bearbeiten.</p>
</div>
<div class="sect3">
<h4 id="1700">2.2.1. Symbolleiste in der Übersicht</h4>
<table id="table-pricecalculation-overview-symbols" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-undo  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt das Menü neu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Eingabemaske zum Erstellen einer <a href="/artikel/einstellungen/preise#1100">neuen Preiskalkulation</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-pencil  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es ist möglich, mehrere Preiskalkulationen gleichzeitig zu öffnen.
Wähle dazu die gewünschten Kalkulationen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und klicke auf <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>.
Die Preiskalkulationen werden untereinander auf der linken Seite des Bildschirms angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-copy"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es ist möglich, bestehende Preiskalkulationen zu kopieren.
Wähle dazu die gewünschten Kalkulationen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und klicke auf <span class="icon "><i class="psicon-copy"></i></span>.
Die neuen Kalkulationen werden zur Übersicht hinzugefügt.
Sie werden automatisch inaktiv geschaltet und als <strong>Copy of "ursprünglicher Name"</strong> bezeichnet.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
Verknüpfungen zu Varianten werden <em>nicht mitkopiert</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-trash  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es ist möglich, mehrere Preiskalkulationen gleichzeitig zu löschen.
Wähle dazu die gewünschten Kalkulationen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und klicke auf <span class="icon darkGrey"><i class="fa fa-trash  "></i></span>.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Eine Preiskalkulation kann nur gelöscht werden, wenn sie <em>nicht</em> mit einer Variante verknüpft ist.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1800">2.2.2. Spalten in der Tabelle</h4>
<table id="table-pricecalculation-overview-columns" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenkopf</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-square-o  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es ist möglich, mehrere Preiskalkulationen gleichzeitig zu öffnen oder zu löschen.
Wähle die gewünschten Kalkulationen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und klicke auf eines der Symbole in der Leiste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/preise#1200">Aktive Preiskalkulationen</a> werden mit einem blauen Punkt gekennzeichnet (<span class="icon blue"><i class="fa fa-circle  "></i></span>).
So erkennst du die aktiven und inaktiven Kalkulationen auf einen Blick.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">UUID der Preiskalkulation.
Beim Erstellen der Kalkulation wird die ID automatisch vergeben.
Die ID kann nicht geändert werden.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Willst du die UUID kopieren?
Öffne dazu die Preiskalkulation und klicke auf die UUID unten links.
Die UUID wird in die Zwischenablage kopiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <a href="/artikel/einstellungen/preise#1200">Name</a>, der beim Erstellen der Preiskalkulation eingegeben wurde.
Die Preiskalkulationen sind in der Übersicht alphabetisch nach Namen sortiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Berechnete Verkaufspreise</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <a href="/artikel/einstellungen/preise#1400">Zielpreise</a>, die beim Erstellen der Preiskalkulation gewählt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verknüpfte Varianten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Anzahl an Varianten, die mit der Preiskalkulation verknüpft sind.
Diese Zahl gibt an, wie viele Varianten von einer Neuberechnung betroffen sein werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl Varianten mit Fehlern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Anzahl an Varianten, die zwar mit der Preiskalkulation verknüpft sind, aber deren Preise noch nicht korrekt berechnet werden können.
<a href="/artikel/einstellungen/preise#2000">Öffne den Fehlerbericht</a>, um die Ursache des Problems zu ermitteln.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1900">2.2.3. Metadaten</h4>
<div class="paragraph">
<p>Nachdem du eine Preiskalkulation geöffnet hast, siehst du unten links ein kleines Kärtchen mit Metainformationen.
Hier werden folgende Daten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name</p>
</li>
<li>
<p>UUID</p>
</li>
<li>
<p>Erstellungsdatum</p>
</li>
<li>
<p>Datum der letzten Änderung</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">UUID kann kopiert werden</div>
<div class="paragraph">
<p>Bewege deinen Mauszeiger über die UUID.
Der Mauszeiger ändert seine Form (<span class="icon green"><i class="fa fa-plus-circle  "></i></span>).
Klicke auf die UUID, um sie in die Zwischenablage zu kopieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="2000">2.2.4. Fehlerberichte</h4>
<div class="paragraph">
<p>Jede Preiskalkulation enthält einen Fehlerbericht.
Der Bericht zeigt an, bei welchen Varianten die Preise nicht automatisch berechnet werden können und warum.</p>
</div>
<div class="paragraph instruction">
<p>Fehler einsehen und beheben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Preiskalkulation</strong>.</p>
</li>
<li>
<p>Öffne die Preiskalkulation und klicke links auf <span class="icon darkGrey"><i class="fa fa-exclamation-circle  "></i></span> <strong>Fehlerbericht</strong>.</p>
</li>
<li>
<p>Klappe eine Zeile auf (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>), um weitere Informationen zu den Fehlern zu sehen.</p>
</li>
<li>
<p>Klicke auf eine Varianten-ID, um die Variante zu öffnen und die Fehler zu beheben.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/fehlerbericht.gif" alt="fehlerbericht">
</div>
</div>
<table id="table-pricecalculation-errors" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Fehlerberichte</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenkopf</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Liste aller Varianten, die zwar mit der Preiskalkulation verknüpft sind, aber deren Preise noch nicht korrekt berechnet werden können.
Klicke auf eine Varianten-ID, um die Variante zu öffnen und den Fehler zu beheben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fehler</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Anzahl an Fehlern, die für die Variante aufgetreten sind.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="2100">2.3. Kalkulation auf Produkte anwenden</h3>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manuell-tab" data-toggle="tab" href="#manuell" role="tab" aria-controls="manuell" aria-selected="true">Manuell</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">Import</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="gruppenfunktion-oder-stapelverarbeitung-tab" data-toggle="tab" href="#gruppenfunktion-oder-stapelverarbeitung" role="tab" aria-controls="gruppenfunktion-oder-stapelverarbeitung" aria-selected="false">Gruppenfunktion oder Stapelverarbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manuell" role="tabpanel" aria-labelledby="manuell-tab">
<div class="paragraph">
<p>Wenn du die Preiskalkulation für <em>nur wenige Artikel</em> speichern möchtest, dann empfiehlt es sich, die Preiskalkulation manuell zu verknüpfen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Verkaufspreise</strong>.</p>
</li>
<li>
<p>Wähle eine zuvor erstellte <a href="/artikel/einstellungen/preise#1000">Preiskalkulation</a> aus der rechten Dropdown-Liste aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Lade bei Bedarf den Artikeldatensatz neu. Klicke dazu mit der rechten Maustaste auf den Artikel-Tab und dann auf <span class="icon darkGrey"><i class="fa fa-undo  "></i></span> <strong>Neu laden</strong>.<br>
→ Der Verkaufspreis und der automatisch berechnete Geldbetrag werden in der Liste angezeigt.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
<div class="paragraph">
<p>Wenn du die Preiskalkulation für <em>viele Artikel</em> speichern möchtest, dann empfiehlt es sich, die Preiskalkulation per Import zu verknüpfen.
Verwende dazu das Zuordnungsfeld <strong>Varianten / Preiskalkulation UUID</strong>.</p>
</div>
<h5 id="_weiterführende_informationen" class="discrete">Weiterführende Informationen</h5>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-importieren/ElasticSync">Import-Tool nutzen</a></p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2300">Informationen zum Zuordnungsfeld</a></p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="gruppenfunktion-oder-stapelverarbeitung" role="tabpanel" aria-labelledby="gruppenfunktion-oder-stapelverarbeitung-tab">
<div class="paragraph">
<p>Wenn du die Preiskalkulation für <em>viele Artikel</em> speichern möchtest, dann empfiehlt es sich, die Preiskalkulation per Varianten-Gruppenfunktion oder Stapelverarbeitung zu verknüpfen.</p>
</div>
<h5 id="_varianten_gruppenfunktion" class="discrete">Varianten-Gruppenfunktion</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Preiskalkulation</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und wähle eine bereits erstellte Kalkulation aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
<h5 id="_stapelverarbeitung" class="discrete">Stapelverarbeitung</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Aktiviere <em>rechts</em> die Option <strong>Preiskalkulation</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und wähle eine bereits erstellte Kalkulation aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="2200">2.4. Fragen und Antworten</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Welche Aktionen lösen eine Neuberechnung der Preise aus?</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><em>Preiskalkulation ändern</em></strong>: Das Speichern von Änderungen an einer aktiven Preiskalkulation (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>) führt zu einer Neuberechnung der Preise.
Genauer gesagt, wird die Neuberechnung angestoßen, wenn ein Wert im Kalkulations-Baustein geändert wurde (Formel, Zielpreis, Rundungsverhalten).
Das Speichern ohne Änderungen oder das Ändern eines Namens löst keine Neuberechnung aus.
Beim Speichern öffnet sich ein Pop-up-Fenster.
Du wirst aufgefordert, deine Entscheidung zu bestätigen.
Du siehst, wie viele Varianten betroffen werden.</p>
</li>
<li>
<p><strong><em>Wert einer Variable ändern</em></strong>: Stell dir vor, deine Preise werden nach der folgenden Formel berechnet:
<code>(EK + Transport + Lager + Steuer) * 1.07</code>.
Änderst du den Einkaufspreis, Transportkosten, Lagerkosten oder Steuern eines Produkts, fließen die neuen Daten in die Formel ein und der Preis wird neu berechnet.
<a href="/artikel/einstellungen/preise#1350">Die Variablen</a>, die du zu einer Formel hinzufügen kannst, werden ständig auf Änderungen überwacht.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Preise werden nicht sofort neu berechnet.
Stattdessen beginnt die Neuberechnung nach einer kurzen Verzögerung (ca. 3 Minuten).</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wann werden meine Preise neu berechnet?</strong></div>
<div class="content">
<div class="paragraph">
<p>Preise werden nicht sofort neu berechnet.
Stattdessen beginnt die Neuberechnung nach einer kurzen Verzögerung (ca. 3 Minuten nach Auslösung).
Änderst du zum Beispiel den Einkaufspreis eines Produkts, dann beginnt die Neuberechnung etwa 3 Minuten später.</p>
</div>
<div class="paragraph">
<p>Warum nicht sofort?
Oftmals wird mehr als nur eine Änderung am Produkt vorgenommen.
Vielleicht musst du zum Beispiel den Einkaufspreis und die Transportkosten eines Produkts ändern.
Würden die Preise sofort neu berechnet, wäre die erste Neuberechnung vielleicht noch nicht abgeschlossen, bevor die zweite beginnt.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was passiert, wenn ein Wert aus der Formel fehlt?</strong></div>
<div class="content">
<div class="paragraph">
<p>Der Preis wird nicht berechnet.
Stell dir vor, deine Preise werden nach der folgenden Formel berechnet:
<code>(EK + Transport + Lager + Steuer) * 1.07</code>.
Hast du in diesem Fall keinen Einkaufspreis gespeichert, dann wird der Preis nicht berechnet.
<a href="/artikel/einstellungen/preise#2000">Öffne den Fehlerbericht</a>, um zu prüfen, ob Werte für deine Produkte fehlen.
Der Fehlerbericht zeigt an, welche Varianten nicht berechnet werden können und warum.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was passiert, wenn der berechnete Preis 0 ist?</strong></div>
<div class="content">
<div class="paragraph">
<p>plentymarkets verhindert, dass Preise versehentlich mit dem Wert 0,00 gespeichert werden.
Sowohl vor als auch nach der Rundung wird geprüft, ob der berechnete Preis 0 ist.
Ist dies der Fall, dann wird der Preis nicht gespeichert und der <a href="/artikel/einstellungen/preise#2000">Fehlerbericht</a> enthält Informationen über das Problem.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was passiert, wenn ich einen Zielpreis wähle, der noch nicht mit der Variante verknüpft wurde?</strong></div>
<div class="content">
<div class="paragraph">
<p>Kein Problem.
Beim Auslösen der Preiskalkulation wird der Verkaufspreis mit der Variante verknüpft und der Geldpreis berechnet.</p>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2300">3. Alte Preiskalkulation (wird zukünftig eingestellt)</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Preiskalkulation</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neue Preiskalkulation</strong>.<br>
→ Das Fenster <strong>Neue Preiskalkulation</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Hinzufügen</strong>.<br>
→ Die neue Preiskalkulation wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-create-price-calculation">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-price-calculation" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Preiskalkulation erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Preiskalkulation eingeben. Der Name wird im Bereich <strong>Verkaufspreise</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisquelle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis wählen, der als Grundlage für die Preiskalkulation dient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transportkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Transportkosten zur Preisquelle zu addieren. Die Transportkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Lagerkosten zur Preisquelle zu addieren. Die Lagerkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zoll</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Zollkosten zur Preisquelle zu addieren. Die Zollkosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben. Die Zollkosten werden in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebskosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Betriebskosten zur Preisquelle zu addieren. Die Betriebskosten werden im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante eingegeben. Die Betriebskosten werden in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um die Umsatzsteuer zur Preisquelle zu addieren. Der Umsatzsteuersatz wird im Bereich <strong>Kosten</strong> im Tab <strong>Einstellungen</strong> einer Artikelvariante gewählt. Die Umsatzsteuer wird in Prozent angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Verknüpfungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Hinzufügen</strong> klicken, um eine neue Verknüpfung zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis wählen, der als Zielpreis für die Preiskalkulation dient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen. <strong>Plus</strong>, <strong>Minus</strong>, <strong>Plus Prozentwert</strong>, <strong>Minus Prozentwert</strong>, <strong>Mal</strong> und <strong>Geteilt</strong> stehen zur Auswahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerischen Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option bezieht sich <em>nur</em> auf die <a href="/artikel/einstellungen/hersteller#300">Herstellerprovisionen</a>. Mandant (Shop) wählen, der mit der Preiskalkulation verknüpft wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option bezieht sich <em>nur</em> auf die <a href="/artikel/einstellungen/hersteller#300">Herstellerprovisionen</a>. Herkunft wählen, die mit der Preiskalkulation verknüpft wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>