<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Available data fields</span></a></li>
<li><a href="#20"><span>2.</span><span> Adding filters</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Available filters</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Stock movements</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This manual page contains information on the export format <strong>Stock movements</strong>, which you can use in order to export stock movement data from your plentymarkets system by using catalogues.
If you are not familiar with the usage of catalogues yet, refer to the manual page <a href="/en/data/exporting-data/managing-catalogues">Managing catalogues</a> first. There you will find out how to create and manage catalogues.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No export to marketplaces</div>
<div class="paragraph">
<p>The export format <strong>Stock movements</strong> is a so-called standard format, which you can use to export data, but not to transfer data to a marketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Available data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following table lists all available data fields of the export format <strong>Stock movements</strong> as well as an explanation on the meaning of these fields.</p>
</div>
<table id="table-stock-movements" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields for stock movements</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Data field</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Stock movements</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock movement ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the stock movement<br>
<strong><em>Tip:</em></strong> You can see the ID in the preview of the item movement tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reason</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reason of the stock movement</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute values</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Process ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Process ID of the stock movement.<br>
<strong><em>Tip:</em></strong> You can see the process ID in the data set of a variation in the Item movement tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amount of the moved quantity. The leading sign shows if stock was booked in or out.<br>
-: Stock was booked out<br>
+: Stock was booked in</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reason ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the stock movement reason</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Created on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Timestamp of the stock movement as displayed in the variation’s Item movement tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Process type ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the process type of a stock movement<br>
Incoming stock = 1; Outgoing items = 2; Correction = 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BBD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Best before date</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Batch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Batch</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>User</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The user’s ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The user’s name</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Variation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price calculation UUID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The price calculation’s UUID. The ID is automatically generated when the calculation is created. This ID cannot be changed.<br>
<strong><em>Tip:</em></strong> Do you want to copy the UUID? To do so, open the price calculation and click on the UUID in the lower left corner. The UUID is copied to the clipboard.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs tariff number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customs tariff number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has calculated bundle weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the weight is <a href="/en/item/use-cases/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has calculated bundle net weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the net weight is <a href="/en/item/use-cases/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has calculated bundle purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the purchase price is <a href="/en/item/use-cases/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has calculated bundle moving average price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the moving average price is <a href="/en/item/use-cases/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags specified on the variations</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Adding filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to only export specific stock movement data, you can select filters and thus narrow down the data. How to add filters is described in <a href="/en/data/exporting-data/managing-catalogues#257">this chapter</a>.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Available filters</h3>
<div class="paragraph">
<p>The following table lists all available filters for the export format <strong>Stock movements</strong> and gives an explanation on the usage of the respective filter.</p>
</div>
<table id="table-filter-stock-movements" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Filters for stock movements</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Filter</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the item ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the warehouse ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reason ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the reason ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the variation ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date range</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">With this filter you are able to export stock movements from a specific date range (max. range 3 months). To do so, select a start and end date from the calendar.<br>
<strong><em>Note:</em></strong> In case you don’t select any date, the last three months starting from the current day will be considered. If you only select a start date, you will get the results for that specific day only.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>