<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Available data fields</span></a></li>
<li><a href="#20"><span>2.</span><span> Adding filters</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Available filters</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Exporting warehouse data</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This manual page contains information on the export format <strong>Warehouses</strong>, which you can use in order to export warehouse data from your plentymarkets system by using catalogues.
If you are not familiar with the usage of catalogues yet, refer to the manual page <a href="/en/data/exporting-data/managing-catalogues">Managing catalogues</a> first. There you will find out how to create and manage catalogues.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No export to marketplaces</div>
<div class="paragraph">
<p>The export format <strong>Warehouses</strong> is a so-called standard format, which you can use to export data, but not to transfer data to a marketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Available data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following table lists all available data fields of the export format <strong>Warehouses</strong> as well as an explanation on the meaning of these fields.</p>
</div>
<table id="table-warehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields for warehouse data</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Data field</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Warehouse</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notes on the warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse type ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>On stock availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability of the variations with stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Out of stock availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability of the variations without stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split by shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Split up according to the shipping profile</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repair warehouse ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the repair warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inventory mode is active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows whether the stocktaking mode is active</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logistics type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Logistics type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Updated on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of the last update</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Created on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creation date</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Dimension</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name of parent dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the parent dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dimension prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prefix of the dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Separator</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display in name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Show in storage location name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active for pick path</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Include in pick path</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Storage location</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the storage location without path</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purpose</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purpose of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Full storage location name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Full storage location name (including path)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notes on the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability of the storage location: if a storage location is empty, it is displayed as available when booking in items. In case there is already an item on a storage location, it is not displayed as available anymore. However, you can still book in items.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Level</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Level ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the level or rather of the smallest dimension of the storage location. If you use a filter, this is the ID of the filtered dimension.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Parent level ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the parent level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Level position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Level name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Level path name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Path name</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Adding filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to only export specific warehouse data, you can select filters and thus narrow down the data. How to add filters is described in <a href="/en/data/exporting-data/managing-catalogues#257">this chapter</a>.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Available filters</h3>
<div class="paragraph">
<p>The following table lists all available filters for the export format <strong>Warehouses</strong> and gives an explanation on the usage of the respective filter.</p>
</div>
<table id="table-filter-warehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Filters for warehouse data</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Filter</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or several warehouses from the drop-down list from which you want to export data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dimension level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This filter allows you to export data from a specific warehouse level.
If you select a level, e.g. level 3, only the dimensions of this level will be exported.<br>
In a warehouse with the structure <strong>Storage building &gt; Rack &gt; Shelf &gt; Box &gt; Storage location</strong>, all shelves would be exported, as they make level 3.<br>
<strong><em>Tip:</em></strong> Click on <strong>Preview</strong> in order to check which data has been selected for the export.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>