<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Business Intelligence</h1><p>Welcome to the topic Business Intelligence. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/business-decisions/business-intelligence/statistics">Statistics</a></li><li><a href="/en/business-decisions/business-intelligence/reports">Reports</a></li></ul>
</main>