<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Legal requirements</h1><p>Welcome to the topic Legal requirements. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/business-decisions/legal-requirements/procedural-documentation">Procedural documentation</a></li><li><a href="/en/business-decisions/legal-requirements/gdpr">GDPR</a></li></ul>
</main>