<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyBI</h1><p>Welcome to the topic plentyBI. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/business-decisions/plenty-bi/myview-dashboard">Dashboard (Beta)</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures">Key figures</a></li><li><a href="/en/business-decisions/plenty-bi/statistics">Old: Statistics</a></li><li><a href="/en/business-decisions/plenty-bi/reports">Reports</a></li></ul>
</main>