<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> What is plentyBI?</span></a></li>
<li><a href="#200"><span>2.</span><span> How do you set it up?</span></a></li>
<li><a href="#300"><span>3.</span><span> Which functions are available?</span></a></li>
<li><a href="#400"><span>4.</span><span> Stay up to date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyBI</h1><div class="sect1">
<h2 id="100">1. What is plentyBI?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyBI is a business intelligence tool that is directly integrated in your plentymarkets system. You can use plentyBI to keep track of important key figures and data of your business at any time. The high number of available settings allows you to provide transparency and make clever business decisions whenever you want.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. How do you set it up?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Setting up plentyBI requires two essential steps. First, you create a data basis by setting up key figures. Then, you display and analyse this data on your individual dashboard.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/business-decisions/plenty-bi/myview-dashboard#200">Creating key figures</a></p>
</li>
<li>
<p><a href="/en/business-decisions/plenty-bi/myview-dashboard#400">Setting up the dashboard</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Which functions are available?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyBI offers you a big variety of features. For each key figure, you can make flexible decisions on how detailed the calculation is and what criteria are applied. Likewise, you have numerous options when setting up your dashboard. This allows you to display data according to your wishes and easily trace all important developments.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/business-decisions/plenty-bi/key-figures">List of available key figures</a></p>
</li>
<li>
<p><a href="/en/business-decisions/plenty-bi/myview-dashboard#408">Assigning user rights for the dashboard</a></p>
</li>
<li>
<p><a href="/en/business-decisions/plenty-bi/myview-dashboard#405">Functions in the dashboard editing mode</a></p>
</li>
<li>
<p><a href="/en/business-entscheidungen/plenty-bi/myview-dashboard#410">Using different diagram types, tiles and tables on the dashboard</a></p>
</li>
<li>
<p><a href="/en/business-decisions/plenty-bi/myview-dashboard#900">Displaying notifications on the dashboard</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Stay up to date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Are you looking forward to an upcoming feature for plentyBI? We’re happy to keep you in the loop about changes to the software! You can see a record of changes <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">in our changelog</a>. Subscribe to the changelog and always stay up to date.</p>
</div>
</div>
</div>
</main>