<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Requirements</span></a></li>
<li><a href="#20"><span>2.</span><span> Downloading and installing the plugin</span></a></li>
<li><a href="#30"><span>3.</span><span> Completing the assistant</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Connection</span></a></li>
<li><a href="#50"><span>3.2.</span><span> Mapping of stock-keeping stores</span></a></li>
<li><a href="#60"><span>3.3.</span><span> Mapping of sales stores</span></a></li>
<li><a href="#70"><span>3.4.</span><span> Options for the item import</span></a></li>
<li><a href="#80"><span>3.5.</span><span> Mapping of item data fields</span></a></li>
<li><a href="#90"><span>3.6.</span><span> Mapping of sales prices</span></a></li>
<li><a href="#100"><span>3.7.</span><span> Mapping of categories</span></a></li>
<li><a href="#110"><span>3.8.</span><span> Cron settings</span></a></li>
</ul>
</li>
<li><a href="#120"><span>4.</span><span> Opening and modifying newly imported item data</span></a>
<ul class="sectlevel2">
<li><a href="#130"><span>4.1.</span><span> Opening newly imported items</span></a></li>
<li><a href="#140"><span>4.2.</span><span> Modifying item data</span></a></li>
</ul>
</li>
<li><a href="#150"><span>5.</span><span> Orders and event procedures</span></a>
<ul class="sectlevel2">
<li><a href="#160"><span>5.1.</span><span> Setting up event procedures</span></a>
<ul class="sectlevel3">
<li><a href="#170"><span>5.1.1.</span><span> Notifying Prohandel of new orders</span></a></li>
<li><a href="#180"><span>5.1.2.</span><span> Notifying Prohandel of payment and shipment</span></a></li>
<li><a href="#190"><span>5.1.3.</span><span> Notifying Prohandel of cancellations</span></a></li>
<li><a href="#200"><span>5.1.4.</span><span> Notifying Prohandel of returns</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Prohandel connector</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Prohandel and plentymarkets – a winning combination.
Do you already use Prohandel as an inventory management tool for retail fashion?
And are you ready to get started in e-commerce with plentymarkets?
The Prohandel plugin connects your Prohandel system with plentymarkets.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Continue using Prohandel for your offline sales.</p>
</li>
<li>
<p>Transmit your item data from Prohandel to plentymarkets.</p>
</li>
<li>
<p>Modify the item data in plentymarkets as needed and then sell your items on various marketplaces, sales channels and online shops.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This page assumes that you’re already a customer of <a href="https://www.prohandel.de/">Prohandel</a> and <a href="https://www.plentymarkets.com/">plentymarkets</a>.
Have your access data for both systems at hand.
While setting up the interface, you will need to enter your access data to make the connection.</p>
</div>
<div class="paragraph">
<p>Furthermore, you will map your Prohandel barcodes, sales prices, categories, etc. to those in plentymarkets.
If you have not set up your plentymarkets system yet, then you should create the following data before you continue:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/stock-management/setting-up-a-warehouse">Warehouses</a></p>
</li>
<li>
<p><a href="/en/orders/order-referrer">Order referrers</a></p>
</li>
<li>
<p><a href="/en/item/settings/flags#400">Tags</a></p>
</li>
<li>
<p><a href="/en/item/settings/barcodes">Barcodes</a></p>
</li>
<li>
<p><a href="/en/item/settings/attributes">Attributes</a></p>
</li>
<li>
<p><a href="/en/item/settings/properties">Properties</a></p>
</li>
<li>
<p><a href="/en/item/settings/prices">Sales prices</a></p>
</li>
<li>
<p><a href="/en/item/settings/categories">Categories</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Downloading and installing the plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <a href="https://marketplace.plentymarkets.com/en/prohandel_54913">Prohandel plugin</a> is available for a fee on plentyMarketplace.
It connects your Prohandel system with plentymarkets.</p>
</div>
<div class="paragraph">
<p>The Prohandel plugin can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Import items</em></strong>:
Item data is transmitted from Prohandel to plentymarkets.
You decide which item data should be sent to plentymarkets and how the items should be structured there.</p>
</li>
<li>
<p><strong><em>Export orders</em></strong>:
Order data is transmitted from plentymarkets to Prohandel.
plentymarkets notifies Prohandel of the sale and automatically books the revenue into the correct Prohandel sales store.</p>
</li>
<li>
<p><strong><em>Update stock levels and prices</em></strong>:
Whenever stock levels or prices are updated in Prohandel, this information is transmitted to plentymarkets.</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Step-by-step instructions</strong></div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Download the <a href="https://marketplace.plentymarkets.com/en/prohandel_54913">Prohandel plugin</a> from plentyMarketplace.<br>
→ If prompted, sign into plentyMarketplace.
Use the same access data as for the “My account” area.</p>
</li>
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.
Plugins can only be used as part of a plugin set. Therefore:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option A</em></strong>: Create a completely new plugin set.
To do so, click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Add plugin set</strong> and enter a name.</p>
</li>
<li>
<p><strong><em>Option B</em></strong>: Create a copy of an existing plugin set.
To do so, click on <strong>Copy plugin set</strong> (<span class="icon "><i class="psicon-copy"></i></span>) in the <strong>Actions</strong> column.</p>
</li>
<li>
<p><strong><em>Option C</em></strong>: Decide which existing plugin set is suitable for the Prohandel plugin.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Open the plugin set by clicking on the line in the table.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Add plugin</strong>.</p>
</li>
<li>
<p>Select the Prohandel plugin from the list.<br>
→ Information about the plugin is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list.
The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.</p>
</li>
<li>
<p>Switch the plugin to active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Save (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Are you new to plugins?
The <a href="/en/plugins">plugins chapter</a> of the manual teaches you more about plugins and how they work in plentymarkets.</p>
</div>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Configuration takes place in the assistant</div>
<div class="paragraph">
<p>You do not need to configure any settings directly in the plugin.
Instead, open the assistant.
It guides you through the setup process.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Completing the assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The assistant helps you specify how plentymarkets and Prohandel should communicate with each other.
For example, you’ll decide which item data should be sent to plentymarkets and how the items should be structured there.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Plugins » [Open plugin set]</strong>.</p>
</li>
<li>
<p>Click on <strong>Prohandel Assistant</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen.
Information about the individual steps can be found further below on this page.</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.</p>
</li>
<li>
<p>Once all of the settings are correct, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="40">3.1. Connection</h3>
<div class="paragraph">
<p>In this step, you’ll connect plentymarkets and Prohandel.
In other words, you’ll enter your access data so that plentymarkets and Prohandel can communicate with each other.</p>
</div>
<table id="table-connection-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Connection</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the URL that you received from Prohandel.
Example: <code>your-shop.prohandel.de</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name for your Prohandel account.
The user name is an email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the password for your Prohandel account.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">3.2. Mapping of stock-keeping stores</h3>
<div class="paragraph">
<p>In this step, you’ll map your stock-keeping Prohandel stores with your plentymarkets warehouses.
In doing so, your stock levels in Prohandel can be synchronised with plentymarkets and kept up-to-date.
For example, if the stock level sinks in Prohandel, then plentymarkets will also be informed of the change.</p>
</div>
<table id="table-stock-branch-matching" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mapping of stock-keeping stores</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel store</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These are the stock-keeping stores in Prohandel.
Select the appropriate store from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These are the warehouses that you’ve set up in plentymarkets.
Select the appropriate warehouse from the drop-down list.</p>
<p class="tableblock"><strong><em>Requirement</em></strong>:
Have you already <a href="/en/stock-management/setting-up-a-warehouse">created warehouses in plentymarkets</a>?
This drop-down list only includes warehouses that already exist in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adds another line.
This allows you to map multiple stores and warehouses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes a line.
This allows you to remove mappings that are no longer needed.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">1:1 mapping is recommended</div>
<div class="ulist">
<ul>
<li>
<p>Ideally, you should create a 1:1 mapping.</p>
</li>
<li>
<p>It doesn’t make sense to link multiple plentymarkets warehouses with the same Prohandel store.
In this case, your data would repeatedly be transmitted from Prohandel to plentymarkets.
The data would not be split.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="60">3.3. Mapping of sales stores</h3>
<div class="paragraph">
<p>In this step, you’ll map your plentymarkets sales channels with the appropriate Prohandel sales stores.
Imagine you’ve just sold a product on a market like eBay, Amazon or Check24.
Which sales store should the revenue be booked into and the order data transmitted to?</p>
</div>
<table id="table-sales-branch-matching" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Mapping of sales stores</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel store</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These are the sales stores in Prohandel.
Select the appropriate store from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These are the clients that you operate with plentymarkets.
Select the appropriate client from the drop-down list.</p>
<p class="tableblock">When an order is transmitted to Prohandel, it includes information about the client that it relates to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These are the order referrers that you use in plentymarkets.
Select the appropriate referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">When an order is transmitted to Prohandel, it includes information about the sales channel that it relates to.
This allows you to keep a statistical record in Prohandel of which sales channels are particularly profitable or which ones cause the most returns.</p>
<p class="tableblock"><strong><em>Requirement</em></strong>:
Have you already <a href="/en/orders/order-referrer">activated the appropriate referrers in plentymarkets</a>?
The drop-down list only includes active referrers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adds another line.
This allows you to map multiple stores and sales channels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes a line.
This allows you to remove mappings that are no longer needed.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="70">3.4. Options for the item import</h3>
<div class="paragraph">
<p>In this step, you’ll decide which item data should be transmitted from Prohandel to plentymarkets and how the items should be structured there.</p>
</div>
<table id="table-item-import-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Options for the item import</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Item filter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter basis</strong>;<br>
<strong>From date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which items should be imported into plentymarkets?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a basis from the drop-down list.</p>
</li>
<li>
<p>Enter a date into the field.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Basis</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming goods - first date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This is a timestamp for items in Prohandel.
The timestamp is generated when the item is initially created in Prohandel.
This timestamp never changes.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
Don’t confuse this timestamp with the <em>second date</em> for incoming goods.
It’s updated every time new goods are received for the item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sale - second date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This is a timestamp for items in Prohandel.
The timestamp indicates when the item was last sold.
This timestamp is updated in Prohandel every time the item is sold.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Example</em></strong>:
Imagine you use the first incoming goods date as the filter basis and you enter the date 01.01.2020.
In this case, only those items that were first procured on or after January 1st, 2020 will be imported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Grouping scheme</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grouping scheme</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Items are structured differently in Prohandel and in plentymarkets.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Prohandel</em></strong>: In Prohandel, an item can be thought of as a colour variation.
For example, an item is a t-shirt in the colour blue.
A second item is the t-shirt in the colour red.
Both items have size variations.
For example, Blue S, Blue M, Blue L and Red S, Red M, Red L.</p>
</li>
<li>
<p><strong><em>plentymarkets</em></strong>: In plentymarkets, an item can be thought of as a data container.
An item always includes one or more variations, i.e. one or more saleable versions of the product.
For example, if a t-shirt is available in the colours blue and red and the sizes S, M, L, then all of the colours and sizes together make up the item.
Each individual combination (Blue S, Blue M, Blue L, Red S, Red M, Red L) is a variation of this item.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In this step, you’ll specify a grouping scheme so that your Prohandel items will be structured correctly when they are imported into plentymarkets.
This is a text field, i.e. you can enter any grouping scheme.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>:
If you enter the grouping scheme <code>supplierNumber-categoryNumber-supplierArticleNumber</code>, then all of the Prohandel items that have the same supplier number, category number and supplier item number, will be grouped together into one plentymarkets item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Tag for imported items</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets tag</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to assign a specific tag to all of your newly imported items?
If so, then select the appropriate tag from the drop-down list.
By assigning a tag to your items, you can easily tell which items were recently imported, open their data records and refine the item data saved in plentymarkets.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>:
Have you already <a href="/en/welcome/general-functions/tags">created the necessary tags in plentymarkets</a>?
This drop-down list only includes tags that have already been created and made available for variations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Behaviour of items with a specific value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field name</strong>;<br>
<strong>Field value</strong>;<br>
<strong>Import behaviour</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you only want to import specific items?
Or do you want to exclude specific items from the import?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Which items are we talking about?
Select the field name and field value.</p>
</li>
<li>
<p>Decide what should happen to these items.
Select the import behaviour.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Behaviour</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Only import those items with specified value</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><em>Only</em> those items with the specified field value and field name will be imported.
All other items will be ignored.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skip items with specified value</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The items with the specified field value and field name will be skipped.
In other words, they <em>will not be imported</em>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Example</em></strong>:
Imagine you sell clothing that is available in various patterns.
In Prohandel, each pattern is identified by a unique ID.
You only want the products with pattern number 5 to be imported into plentymarkets.
To do so, you’ll choose the field name <strong>patternNumber</strong>, the field value <strong>5</strong> and the import behaviour <strong>Only import those items with specified value</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
It’s currently only possible to select <strong>patternNumber</strong> as the field name.
Should another field also be taken into consideration for the import?
Get in contact with us!
We’d be happy to discuss your needs and give you an estimate for the costs of implementation.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="80">3.5. Mapping of item data fields</h3>
<div class="paragraph">
<p>In this step, you’ll decide what the data that comes from Prohandel should look like in plentymarkets.
In other words, where the data should be saved in plentymarkets.</p>
</div>
<table id="table-item-import-field-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Mapping of item data fields</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Barcode mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which plentymarkets barcode type matches your Prohandel EAN?
Select the barcode type from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/barcodes#100">configured barcode types in plentymarkets</a>?
This drop-down list only includes the barcode types that already exist in plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which plentymarkets barcode type matches your internal number for identifying the size in Prohandel?
Select the barcode type from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/barcodes#100">configured barcode types in plentymarkets</a>?
This drop-down list only includes the barcode types that already exist in plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Article number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which plentymarkets barcode type matches your Prohandel article number?
Select the barcode type from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/barcodes#100">configured barcode types in plentymarkets</a>?
This drop-down list only includes the barcode types that already exist in plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Attributes mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier colour</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which plentymarkets attribute matches your Prohandel supplier colour?
Select the attribute from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/attributes">configured attributes in plentymarkets</a>?
This drop-down list only includes the attributes that already exist in plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Size</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which plentymarkets attribute matches your Prohandel size?
Select the attribute from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/attributes">configured attributes in plentymarkets</a>?
This drop-down list only includes the attributes that already exist in plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Properties mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Individual item number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which plentymarkets data field matches your individual item number in Prohandel?
Select the appropriate option from the drop-down list.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>None</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The individual item number will not be transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The individual item number will be saved under: <a href="/en/item/managing-items#50">Item » Edit item » [Open item] » Tab: Texts » Entry field: Name 1</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation property</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A second drop-down list opens.
It includes a list of properties that exist in plentymarkets.
Select a property from this list if you want the Prohandel individual item number to be saved as this property in plentymarkets.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/properties">configured properties in plentymarkets</a>?
This drop-down list only includes the properties that already exist in plentymarkets.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier item number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which plentymarkets data field matches your supplier item number in Prohandel?
Select the appropriate option from the drop-down list.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>None</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The supplier item number will not be transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The supplier item number will be saved under: <a href="/en/item/managing-items#190">Item » Edit item » [Open variation] » Tab: Settings » Area: Basic settings » Entry field: External variation ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation property</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A second drop-down list opens.
It includes a list of properties that exist in plentymarkets.
Select a property from this list if you want the Prohandel supplier item number to be saved as this property in plentymarkets.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/properties">configured properties in plentymarkets</a>?
This drop-down list only includes the properties that already exist in plentymarkets.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Season number</strong>;<br>
<strong>Incoming goods - First date</strong>;<br>
<strong>Incoming goods - Second date</strong>;<br>
<strong>NOS</strong>;<br>
<strong>Identification number</strong>;<br>
<strong>Sale - First date</strong>;<br>
<strong>Sale - Second date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which plentymarkets property matches the Prohandel data field?
Select the appropriate option from the drop-down list.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>None</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The Prohandel data field will not be transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation property</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A second drop-down list opens.
It includes a list of properties that exist in plentymarkets.
Select a property from this list if you want the Prohandel data field to be saved as this property in plentymarkets.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/properties">configured properties in plentymarkets</a>?
This drop-down list only includes the properties that already exist in plentymarkets.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Features</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import Prohandel suppliers as plentymarkets manufacturers</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the Prohandel supplier be saved as a manufacturer in plentymarkets?
In plentymarkets, you can find an item’s manufacturer in the menu <strong>Item » Edit item » [Open item] » Tab: Global » Drop-down list: Manufacturer</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import Prohandel patterns as plentymarkets tags</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the Prohandel pattern be saved as a tag in plentymarkets?
In plentymarkets, you can find an item’s tag in the menu <strong>Item » Edit item » [Open variation] » Tab: Settings » Area: Tags</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="90">3.6. Mapping of sales prices</h3>
<div class="paragraph">
<p>In this step, you map the sales prices used in Prohandel to the sales prices in plentymarkets.</p>
</div>
<table id="table-sales-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Mapping of sales prices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel sale price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which plentymarkets sales price do you want to use for the sale price in Prohandel?
Select the appropriate plentymarkets sales price from the drop-down list.</p>
<p class="tableblock"><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/prices">configured sales prices in plentymarkets</a>?
This drop-down list only includes the sales prices that already exist in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel label price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which plentymarkets sales price do you want to use for the label price in Prohandel?
Select the appropriate plentymarkets sales price from the drop-down list.</p>
<p class="tableblock"><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/prices">configured sales prices in plentymarkets</a>?
This drop-down list only includes the sales prices that already exist in plentymarkets.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No need to map the purchase price</div>
<div class="paragraph">
<p>The Prohandel purchase price is mapped statically to the plentymarkets net purchase price.
In other words, you do not need to link the Prohandel purchase price to the plentymarkets purchase price.
It is already mapped.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="100">3.7. Mapping of categories</h3>
<div class="paragraph">
<p>In this step, you map the categories used in Prohandel to the categories in plentymarkets.
This way, your items are directly sorted into the correct plentymarkets categories when they are imported from Prohandel.</p>
</div>
<table id="table-category-mapping" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Mapping of categories</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default item category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Imagine you created a new category in Prohandel.
But you forgot to map it with a corresponding plentymarkets category.
If you import items from the non-mapped Prohandel category, they will land in the default plentymarkets category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These are your categories in Prohandel.
Select the appropriate category from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These are the categories that you’ve set up in plentymarkets.
Select the appropriate category from the drop-down list.</p>
<p class="tableblock"><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/categories">created categories in plentymarkets</a>?
This drop-down list only includes the categories that already exist in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adds another line.
This allows you to map multiple categories.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes a line.
This allows you to remove mappings that are no longer needed.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Alternative procedure without assigning categories</div>
<div class="paragraph">
<p>Technically speaking, you could just select a default category and then skip the rest of the category assignment.
As a result, your items would always land in the default category when they are imported.
If needed, you would then manually have to move the items into different plentymarkets categories.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="110">3.8. Cron settings</h3>
<div class="paragraph">
<p>Data is transmitted between Prohandel and plentymarkets with the help of so-called "Crons".
In this step, you’ll activate the cron jobs that should run automatically (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table id="table-cron-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. When do the crons run?</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Cron</th>
<th class="tableblock halign-left valign-top">Interval</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Daily</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Once you have completed the assistant, <em>all</em> of your items will initially be transmitted from Prohandel to plentymarkets.
This initial, full import can take a few days to finish, depending on the number of products.</p>
</li>
<li>
<p>Afterwards, only a sub-set of items will be imported, based on the previously selected <a href="/en/business-decisions/prohandel#70">import settings</a>.</p>
</li>
<li>
<p>Only new items are imported and new variations on existing items.
Existing items are not updated with this cron.</p>
</li>
<li>
<p>The item import starts at the end of the day, or rather during the night.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hourly</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Existing items and variations are updated.
This cron updates the following data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Linked variation properties</p>
</li>
<li>
<p>Tags (assuming that the Prohandel pattern is imported as a tag)</p>
</li>
<li>
<p>Manufacturers (assuming that the manufacturer is imported)</p>
</li>
<li>
<p>EAN</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hourly</p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Every 15 minutes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="120">4. Opening and modifying newly imported item data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The next time the cron job runs, your item data will be transmitted from Prohandel to plentymarkets.
This assumes that you’ve:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>activated the <strong>Item import</strong> cron (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>completed the assistant.</p>
</li>
<li>
<p>activated the plugin within the set.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="130">4.1. Opening newly imported items</h3>
<div class="paragraph">
<p>Open a few item data records and make sure that your item data was correctly imported.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Use the <a href="/en/item/introduction/search">search filters</a> on the left to specify which items you want to access.
For example:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Set the <strong>Active</strong> filter to <strong>ALL</strong> or <strong>No</strong>, since items are inactive when they are imported.</p>
</li>
<li>
<p>Set the <strong>Tag</strong> filter to whichever <a href="/en/business-decisions/prohandel#70">tag for newly imported items</a> you chose in the assistant.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The search results are displayed in an overview on the right.</p>
</li>
<li>
<p>Click on an item in the overview to open the item data record.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Main variation vs. Sub-variation</div>
<div class="paragraph">
<p>Check the data that was transmitted for the main variation and for the sub-variations.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>An item’s first variation is called its <em>main variation</em>.
It is not for sale, but rather is purely virtual and helps you manage the sub-variations via <a href="/en/item/introduction/inheritance">inheritance</a>.
When you open an item data record, the main variation automatically opens too.</p>
</li>
<li>
<p>The <em>sub-variations</em> are the saleable versions of the product.
For example, if a t-shirt is sold in the colours blue and red and the sizes S, M, L, then every single combination (Blue S, Blue M, Blue L, Red S, Red M, Red L) is a sub-variation.
To open a sub-variation, click on the tab <strong>Variations</strong> and then on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).
Finally, click on a sub-variation in the overview.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">4.2. Modifying item data</h3>
<div class="paragraph">
<p>Once you’re happy with the item data that was transmitted, you can start preparing your items to be sold online.
For example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>add <a href="/en/item/managing-items#50">descriptive texts</a>, <a href="/en/item/managing-items#90">product images</a> and relevant <a href="/en/item/managing-items#50">meta data</a>.</p>
</li>
<li>
<p>specify where your products should be sold, i.e. select <a href="/en/item/managing-items#340">order referrers</a> and <a href="/en/item/managing-items#340">clients</a>.</p>
</li>
<li>
<p><a href="/en/item/managing-items#200">activate</a> your variations when you are ready for them to go live.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For a complete list of all the item data fields in plentymarkets, refer to the page <a href="/en/item/managing-items">Directory of data fields</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="150">5. Orders and event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When a product is sold, the order data lands in the plentymarkets menu <strong>Orders » Edit orders</strong>.
The order can be processed here and its progress can be tracked with the help of a status.</p>
</div>
<div class="paragraph">
<p>Further information about processing orders in plentymarkets can be found on the <a href="/en/orders/managing-orders">Managing orders</a> page of the manual.</p>
</div>
<div class="sect2">
<h3 id="160">5.1. Setting up event procedures</h3>
<div class="paragraph">
<p>Of course, the order data shouldn’t just stay in plentymarkets. Rather, it should also be transmitted to Prohandel.
You’ll set up <em>four so-called event procedures</em> to do this.
They only need to be set up once, in order for the export to work correctly.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the event as listed in the following tables.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-save  "></i></span> <strong>Save</strong>.<br>
→ The event procedure is created and can be edited further.</p>
</li>
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>) and select the procedure as listed in the following tables.</p>
</li>
<li>
<p>Optional: Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>) and select filters if you only want the event procedure to apply in certain situations.
For example, the event procedure could only apply to specific sales channels or clients.</p>
</li>
<li>
<p>Activate the event procedure (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) once it should go into effect.
From the point of activation onwards, the event procedure applies your settings to the selected orders.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/automation/event-procedures">Event procedures</a> page of the manual.</p>
</div>
<div class="sect3">
<h4 id="170">5.1.1. Notifying Prohandel of new orders</h4>
<div class="paragraph">
<p>When a new order lands in plentymarkets, Prohandel should be informed of the order.
This allows Prohandel to reserve the necessary stock and avoid overselling.</p>
</div>
<table id="table-event-procedure-one" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Event</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">New order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Referrer<br>
Order &gt; Client (store)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Procedure</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins &gt; Prohandel: Reserve stock</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="180">5.1.2. Notifying Prohandel of payment and shipment</h4>
<div class="paragraph">
<p>Fully processed orders are in status 7.
This status means that payment has been received and items have been booked as outgoing.
At this point, Prohandel should also be informed of the changes to the order.</p>
</div>
<table id="table-event-procedure-two" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Event</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Outgoing items booked</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Referrer<br>
Order &gt; Client (store)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Procedure</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins &gt; Prohandel: Send shipping and payment notification to Prohandel</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="190">5.1.3. Notifying Prohandel of cancellations</h4>
<div class="paragraph">
<p>A cancellation:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>means that the customer changed his or her mind and no longer wants the item that was purchased.</p>
</li>
<li>
<p>happens <em>before</em> you receive payment and ship the items.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can cancel an order by changing its status to 8.
At this point, Prohandel should be informed of the cancellation so that stock stops being reserved.</p>
</div>
<table id="table-event-procedure-three" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Event</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status change to 8</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Referrer<br>
Order &gt; Client (store)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Procedure</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins &gt; Prohandel: Send order cancellation to Prohandel</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="200">5.1.4. Notifying Prohandel of returns</h4>
<div class="paragraph">
<p>A return:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>means that the customer changed his or her mind and no longer wants the item that was purchased.</p>
</li>
<li>
<p>happens <em>after</em> you receive payment and ship the items.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Since payment has already been received, you need to refund the customer.
In other words, you need to inform Prohandel of the return so that the revenue can be booked back out of the sales store.</p>
</div>
<table id="table-event-procedure-four" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Event</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">New return</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Referrer<br>
Order &gt; Client (store)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Procedure</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins &gt; Prohandel: Send return notification to Prohandel</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</main>