<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>System administration</h1><p>Welcome to the topic System administration. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/business-decisions/system-administration/domains">Domains</a></li><li><a href="/en/business-decisions/system-administration/plentymarkets-status">plentymarkets status</a></li><li><a href="/en/business-decisions/system-administration/version-cycle">Changing state of development</a></li><li><a href="/en/business-decisions/system-administration/eol">EOL: End of software maintenance and provisioning</a></li></ul>
</main>