<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#35"><span>1.</span><span> Setting the password strength</span></a></li>
<li><a href="#10"><span>2.</span><span> Creating a user account</span></a></li>
<li><a href="#20"><span>3.</span><span> Editing a user account</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>3.1.</span><span> Entering the master data</span></a></li>
<li><a href="#40"><span>3.2.</span><span> Activating owners</span></a></li>
<li><a href="#42"><span>3.3.</span><span> Managing mailboxes</span></a>
<ul class="sectlevel3">
<li><a href="#44"><span>3.3.1.</span><span> Create mailbox</span></a></li>
<li><a href="#_saving_the_mailbox_org_servers_access_data_in_plentymarkets"><span>3.3.2.</span><span> Saving the mailbox.org server’s access data in plentymarkets</span></a></li>
<li><a href="#46"><span>3.3.3.</span><span> Creating an additional email address (alias) for a mailbox</span></a></li>
<li><a href="#46a"><span>3.3.4.</span><span> Change basic fee</span></a></li>
<li><a href="#47"><span>3.3.5.</span><span> Deleting a mailbox</span></a></li>
</ul>
</li>
<li><a href="#50"><span>3.4.</span><span> Additional user settings</span></a></li>
</ul>
</li>
<li><a href="#85"><span>4.</span><span> Editing multiple user accounts</span></a></li>
<li><a href="#100"><span>5.</span><span> Determining visibilities</span></a></li>
<li><a href="#105"><span>6.</span><span> Managing rights</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>6.1.</span><span> Assigning rights</span></a></li>
<li><a href="#115"><span>6.2.</span><span> Assigning rights for roles</span></a></li>
<li><a href="#120"><span>6.3.</span><span> Managing menu and REST API rights</span></a></li>
<li><a href="#125"><span>6.4.</span><span> Activating app rights</span></a></li>
<li><a href="#145"><span>6.5.</span><span> Unblocking a user account</span></a></li>
</ul>
</li>
<li><a href="#70"><span>7.</span><span> Creating roles</span></a></li>
<li><a href="#80"><span>8.</span><span> Editing roles</span></a></li>
<li><a href="#_copying_roles"><span>9.</span><span> Copying roles</span></a></li>
<li><a href="#_sending_an_email_to_all_user_accounts_of_a_role"><span>10.</span><span> Sending an email to all user accounts of a role</span></a></li>
<li><a href="#60"><span>11.</span><span> Searching user accounts</span></a></li>
<li><a href="#150"><span>12.</span><span> Linking roles and processes</span></a></li>
<li><a href="#_creating_an_account_for_the_plentymarkets_forum"><span>13.</span><span> Creating an account for the plentymarkets forum</span></a></li>
<li><a href="#160"><span>14.</span><span> Managing the number of logged in user accounts</span></a>
<ul class="sectlevel2">
<li><a href="#170"><span>14.1.</span><span> Logging out users in the session management menu</span></a></li>
<li><a href="#180"><span>14.2.</span><span> Logging out users when user limit is exceeded</span></a></li>
<li><a href="#190"><span>14.3.</span><span> Booking additional user licenses</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>User accounts and access</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Create accounts for new users and edit existing user accounts in the user menu. Furthermore, assign roles and accesses to users.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Roles are used for grouping users and assigning the same rights to multiple user accounts in a very convenient way.</p>
</li>
<li>
<p>Accesses allow you to assign rights to specific users and interfaces. For example, assign API calls to users of the API access individually.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Five free CUL user licences are included in every plentymarkets system. If you need additional user accounts, book them in the <a href="http://www.plentymarkets.co.uk/prices/">configurator</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">What is a CUL user licence?</div>
<div class="paragraph">
<p>CUL stands for concurrent user licencing. The licence determines how many user accounts can have access to the plentymarkets back end, the REST API and the plentymarkets app. As such, we limit simultaneous use and not the number of user accounts you can create.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="35">1. Setting the password strength</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the menu <strong>System » Settings » User » Security</strong>, you manage the criteria for new passwords entered by users. Proceed as follows to activate the criteria.</p>
</div>
<div class="paragraph instruction">
<p>Setting the password strength:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Security</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-password-security">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ New passwords need to comply with the criteria to be valid.</p>
</li>
</ol>
</div>
<table id="table-password-security" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting the password strength</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate password security</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If this option is active, new passwords must meet the criteria set for password security.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum length</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the minimum number of characters for new passwords.<br>
<strong><em>Note:</em></strong> For security reasons, the minimum length is 8 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password criteria</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the criteria for new passwords.<br>
<strong><em>Note:</em></strong> For security reasons, at least 3 criteria must be activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum amount of fulfilled criteria</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the minimum number of criteria that new passwords need to meet.<br>
<strong><em>Note:</em></strong> For security reasons, at least 3 criteria must be activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of latest passwords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of previously used passwords that users cannot use again. If the user tries to enter a previously used password, the user is asked to enter a different password. If you do not want to use this function, enter 0 or leave blank.<br>
<strong><em>Note:</em></strong> The number of passwords to be saved must be 20 or less.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password validity period (in days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The user account is locked at the end of this period. If you do not want to use this function, enter 0 or leave blank.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="10">2. Creating a user account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When using your plentymarkets system for the first time, a default user account of the access type <strong>Admin</strong> with administrative rights is already set up in the system. You need at least one admin user account. As such, either create a new user account of the <strong>Admin</strong> access and delete the default user account afterwards or edit the existing user account. Proceed as described below to create a new user of any access type.</p>
</div>
<div class="paragraph instruction">
<p>Creating a user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create new user</strong> window opens.</p>
</li>
<li>
<p>Enter the <strong>User name</strong>.</p>
</li>
<li>
<p>Enter the <strong>Real name</strong>.</p>
</li>
<li>
<p>Enter the <strong>Password</strong>.</p>
</li>
<li>
<p>Repeat the password.</p>
</li>
<li>
<p>Enter the user’s email address. This allows the user to receive messages from the system.</p>
</li>
<li>
<p>Select a <strong>user access</strong>. Pay attention to the information given in <a href="#table-user-accesses">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The user name must not contain any spaces and must have at least 5 characters.</p>
</div>
<div class="paragraph">
<p>Click on <strong>My account</strong> to open your own user account.</p>
</div>
<div class="paragraph">
<p>The user accesses are preset and the accesses' settings cannot be changed. The following table includes detailed information about preset rights and rights that you can assign individually:</p>
</div>
<table id="table-user-accesses" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Overview of available user accesses</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Access</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Access with all rights and no restrictions. Must be assigned to at least one user account because only an admin can create, edit and manage user accounts without any restrictions. When using multiple admin accounts, these accounts all have equal rights.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Back end</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Access with individual rights for <a href="#100">menus</a> and <a href="#110">functions</a> that can be assigned in the <strong>Rights</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>REST API</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Access for <a href="#120">REST calls</a> that can be assigned in the user account. REST calls are activated individually. REST calls are not assigned to user accounts by default.<br></p>
<p class="tableblock"><strong>Attention</strong>: Users with this user access are not allowed to access the back end.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
The access types <strong>Call centre</strong>, <strong>Logistics</strong>, <strong>Blog</strong> and <strong>Newsletter2Go</strong> do not exist anymore and have been migrated to a back end user.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Editing a user account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After creating a user account, the new account is displayed in the user account overview. User accounts are listed alphabetically. Select a user account to edit the account settings. You may not be able to see all of the settings. The settings that are visible depend on your own user access and on the user access of the user account that is being edited. Edit multiple user accounts with the <strong>Group function</strong> in the user menu.</p>
</div>
<div class="paragraph instruction">
<p>Editing a user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>Open user</strong>.<br>
→ The user account opens in a new tab.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-master-data">Table 3</a> and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Password is saved</div>
<div class="paragraph">
<p>The password you entered when creating your user account will not be visible in editing mode later on, but it is saved. You do not have to re-enter the password when editing the user account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">3.1. Entering the master data</h3>
<div class="paragraph">
<p>Enter information and change the settings of a user account in the <strong>Master data</strong> tab. Only users with administrative rights can edit the <strong>user name</strong>, <strong>IP restriction</strong>, <strong>user access</strong> and <strong>roles</strong>. All other master data can also be changed by a user in their own account. In this tab, it is also possible to block a user account.</p>
</div>
<table id="table-master-data" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. A user account’s master data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title bar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The title bar displays the <strong>user ID</strong> and <strong>user name</strong> as well as the <strong>date</strong> and <strong>time</strong> when changes were last made to the user account.<br>
The user ID is a unique identification number. It is assigned by the system and cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User blocked</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to block the user account. The user will no longer be able to log into the system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name without spaces. The user name is a mandatory entry and is needed for the login. The user name must not contain any spaces and must have at least 5 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Actual name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Actual name of the user displayed in the title bar of the plentymarkets back end.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user account’s email address. The email address is important for system notifications, notifications from event procedures and group communication within the system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Google Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If using Gmail, enter the user’s Gmail address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skype name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If using Skype, enter the user’s Skype name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Define a colour in the editing window by selecting a colour, entering a hexadecimal colour code or the RGB value. The colour makes it easier to identify the user account in other menus, for example the <a href="/en/welcome/general-functions/tasks-and-calendars#600">Calendar</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Time zone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the user’s time zone.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an image URL here, for example to insert a thumbnail image used for blog entries.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UI language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language for the admin area. This is the default language that is used when logging in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP restriction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user’s IP address. The user will only be allowed to log into plentymarkets with this IP address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User access</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the user access for the user account. The user accesses <strong>Admin</strong>, <strong>Back end</strong> and <strong>REST API</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Roles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select roles for the user account. <a href="/en/business-decisions/user-accounts-access#70">Roles</a> must already have been created before they can be selected here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a new password to give the user account this password.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repeat password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the password again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New app PIN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You can enter a 4 to 12 digit PIN for employees who work with the plentymarkets app. If you save a PIN, it will be possible to quickly switch from one user account to another in the plentymarkets app. However, users can also log into the plentymarkets app with their password.<br>
<strong><em>Tip:</em></strong> Once the PIN has been saved, this field will contain 4 dots. These dots show that an app PIN has been saved for the user account. The actual PIN might consist of more numbers.<br>
When switching from one user account to another, it will be possible to select any user account that has a PIN. To remove the PIN, for example because the user no longer works with the app, delete the 4 dots and save the user account.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repeat app PIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Re-enter the PIN.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="40">3.2. Activating owners</h3>
<div class="paragraph">
<p>In the <strong>Owner</strong> tab, determine the areas in which the user should be available as an owner. For example, if you create a calendar, then you have to set up users as owners of the calendar. Activate the <strong>Calendar</strong> menu in the <strong>Owner</strong> tab.</p>
</div>
<div class="paragraph instruction">
<p>Setting a user as owner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open a user account.</p>
</li>
<li>
<p>Click on the <strong>Owner</strong> tab.</p>
</li>
<li>
<p>Activate the areas in which the user should be available as an owner.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="42">3.3. Managing mailboxes</h3>
<div class="paragraph">
<p>If plentymarkets manages your domains, then you can go to <strong>Settings » System settings » Basic settings » User » Accounts » Open account » Tab: Email</strong> to create and manage mailboxes for system users. You need admin rights to manage mailboxes. These mailboxes are created and hosted by the third party email provider <a href="https://mailbox.org/business/" target="_blank" rel="noopener">mailbox.org</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You will learn how to create mailboxes and additional email addresses (aliases) for these mailboxes.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Mailboxes with other provider</div>
<div class="paragraph">
<p>The configuration described is only relevant for plentymarkets customers with domains managed by plentymarkets who want to use the external provider <a href="https://mailbox.org/business/" target="_blank" rel="noopener">mailbox.org</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. If you manage your email account with a different provider and want the plentymarkets system to send emails from this provider too, you do not need to set up mailbox.org. However, you still need to refer to chapter <a href="/en/crm/sending-emails#100">Saving the email server’s access data</a> on the <a href="/en/crm/sending-emails">Emails</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="44">3.3.1. Create mailbox</h4>
<div class="paragraph">
<p>Proceed as described below to create mailbox.org mailboxes for system users. You need admin rights to create mailboxes and aliases.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new mailbox:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.</p>
</li>
<li>
<p>Click on the <strong>Email</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create mailbox</strong> window opens.</p>
</li>
<li>
<p>Select the email address type <strong>Mailbox</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Pay attention to the explanations given in <a href="#table-mailbox">Table 4</a>.</p>
</li>
<li>
<p>Click on <strong>Create mailbox</strong>.<br>
→ The mailbox is created on the servers of the external provider mailbox.org.</p>
</li>
</ol>
</div>
<table id="table-mailbox" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Create mailbox</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the email address type <strong>Mailbox</strong>.<br>
<strong>Mailbox</strong> = A new mailbox is created.<br>
<strong>Alias</strong> = An additional email address for an existing mailbox is created. Select the mailbox for this alias by selecting the option <strong>Target mailbox</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the email address that you want to assign to this mailbox. Enter the local part of the email address left of the @ sign. Select the domain part of the email address from the dropdown list.<br>
<strong><em>Note:</em></strong> You cannot create mailboxes for test domains (for example @plenty-test-drive) or for external domains that are not hosted by plentymarkets.<br>
<strong><em>Note:</em></strong> After an email address is deleted, this address is locked for 48 hours. You need to wait until the end of this period before you can create an email address with this name again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>First name</strong><br>
<strong>Last name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the first name and last name of the person with this user account. This name will be displayed with the email address as part of the sender information.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System user</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the user account you want to assign the mailbox to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Forwarding</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one or more email addresses if you want to forward emails sent to this address to a different mailbox. Separate multiple email addresses by commas, for example <a href="mailto:customer@your-plentystore.co.uk">customer@your-plentystore.co.uk</a>,<a href="mailto:consultant@your-plentystore.co.uk">consultant@your-plentystore.co.uk</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save emails in mailbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option becomes selectable once a forwarding address is entered.<br>
Activated = Emails are forwarded to the target email addresses. Copies of the forwarded emails will be saved in this mailbox.<br>
Not activated = Emails are directly forwarded to the target email addresses. No emails are saved in this mailbox.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong>;<br>
<strong>Repeat password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a password and re-enter it for confirmation.<br>
<strong><em>Note:</em></strong> The password must contain at least 8 characters and a combination of upper case letters, lower case letters and numbers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fee</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a fee model. All prices shown are subject to VAT. Your plentymarkets contract will be updated after the mailbox is created.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_saving_the_mailbox_org_servers_access_data_in_plentymarkets">3.3.2. Saving the mailbox.org server’s access data in plentymarkets</h4>
<div class="paragraph">
<p>For plentymarkets to send emails such as order confirmations on your behalf, you need to save the access data of the mailbox.org mailbox from which you want to send these emails in the <a href="/en/crm/sending-emails#100">Settings » System settings » Client (store) » Standard » Email » Access data</a> menu.</p>
</div>
</div>
<div class="sect3">
<h4 id="46">3.3.3. Creating an additional email address (alias) for a mailbox</h4>
<div class="paragraph">
<p>Create an alias for the mailbox if you want the mailbox to be linked to more than one email address. The number of email addresses you can create per mailbox depends on the fee you select. Proceed as described below to create an additional email address for a mailbox.</p>
</div>
<div class="paragraph instruction">
<p>Creating an additional email address for a mailbox:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.</p>
</li>
<li>
<p>Click on the <strong>Email</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create mailbox</strong> window opens.</p>
</li>
<li>
<p>Select the email address type <strong>Alias</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Pay attention to the explanations given in <a href="#table-email-addresses">Table 5</a>.</p>
</li>
<li>
<p>Click on <strong>Create mailbox</strong>.<br>
→ The additional email address is created.</p>
</li>
</ol>
</div>
<table id="table-email-addresses" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Creating an additional email address for a mailbox</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the email address type <strong>Alias</strong>.<br>
<strong>Mailbox</strong> = A new mailbox is created.<br>
<strong>Alias</strong> = An additional email address for an existing mailbox is created. Select the mailbox for this alias by selecting the option <strong>Target mailbox</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the email address that you want to assign to this mailbox. Enter the local part of the email address left of the @ sign. Select the domain part of the email address from the dropdown list.<br>
<strong><em>Note:</em></strong> After an email address is deleted, this address is locked for 48 hours. You need to wait until the end of this period before you can create an email address with this name again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target mailbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the mailbox that emails to this alias address are to be sent to.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="46a">3.3.4. Change basic fee</h4>
<div class="paragraph">
<p>By default, the basic fee <strong>Business Reseller</strong> applies to the hosting of mailboxes by mailbox.org through plentymarkets. This basic fee is free. However, it does not include support by mailbox.org. You can change your basic fee at any time. Change your basic fee model if you want to receive support from mailbox.org or want to extend the services you receive from mailbox.org. The selected basic fee applies to all mailboxes in your plentymarkets system including all clients.</p>
</div>
<div class="paragraph instruction">
<p>Changing your basic fee model:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.</p>
</li>
<li>
<p>Click on the <strong>Email</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Change basic fee</strong>.<br>
→ The <strong>Select basic fee</strong> window opens.</p>
</li>
<li>
<p>Check the specifications of the different basic fee models.</p>
</li>
<li>
<p>Select the basic fee you want to book.</p>
</li>
<li>
<p>Click on <strong>Change basic fee</strong>.<br>
→ The fee is saved and your plentymarkets contract is updated. mailbox.org will send you an email with additional information.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="47">3.3.5. Deleting a mailbox</h4>
<div class="paragraph">
<p>Proceed as described below to delete a mailbox. You need admin rights to delete mailboxes/aliases. After deleting a mailbox/alias, you need to wait 48 hours before you can create a new mailbox/alias with the email address that you just deleted.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Emails can no longer be accessed after deleting a mailbox</div>
<div class="paragraph">
<p>After deleting a mailbox, you can no longer access the emails saved in the mailbox via mailbox.org. Make sure that you have saved local copies of any emails you still need access to before deleting the mailbox.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Deleting a mailbox:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.</p>
</li>
<li>
<p>Click on the <strong>Email</strong> tab.<br>
→ A list of the mailboxes is displayed.</p>
</li>
<li>
<p>Click on the mailbox in this list that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ The mailbox and all associated aliases are deleted on the mailbox.org server.<br>
→ Your plentymarkets contract is updated.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="50">3.4. Additional user settings</h3>
<div class="paragraph">
<p>In addition to the tabs described above, you find other tabs in the editing window of a user account. These tabs and the corresponding settings are described on other pages of the manual. Further information about the tabs can be found by following the links in the right column.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Other tabs in the editing window of a user account</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complimentary close</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In this tab, enter a text that you want to add automatically at the end of your messages and comments in the ticket system. This text is added as a <a href="/en/welcome/customise-system#40">complimentary close</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Signature</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In this tab, enter a text that you want to add automatically at the end of your messages and comments in the ticket system. This text is added as a <a href="/en/welcome/customise-system#50">signature</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Right</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For further information about this tab, refer to the <a href="/en/business-decisions/user-accounts-access#105">Managing rights</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Personal settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In this area, you can change the settings of the user account currently logged into the system. Therefore, you can only see this tab in your own user account. The tab is divided into the <a href="/en/welcome/customise-system#60">General</a>, <a href="/en/welcome/customise-system#80">Shortcuts</a> and <a href="/en/welcome/customise-system#90">Favourites</a> tabs with settings that only apply to you personally.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Calendar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Make changes to the <a href="/en/welcome/general-functions/tasks-and-calendars#600">Calendar</a> settings in this tab.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="85">4. Editing multiple user accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Edit multiple user accounts with the <strong>Group function</strong> in the <strong>User</strong> menu. The group function edits previously selected user accounts.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Select the users that you want to edit.</p>
</li>
<li>
<p>Click on <strong>Group function</strong>.<br>
→ The <strong>Group function</strong> window opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-group-function">Table 7</a>.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The user accounts are updated.</p>
</li>
</ol>
</div>
<table id="table-group-function" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Editing user accounts using the <strong>Group function</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to delete the selected user accounts.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to send an email to the selected user accounts. The email programme will open. The email addresses of the user accounts are entered in the recipient field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skype</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select <strong>Instant message</strong>, <strong>Call</strong> or <strong>Video call</strong> to contact users via Skype.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Roles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select one, several or <strong>ALL</strong> roles to link the selected users with these roles.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">5. Determining visibilities</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Setup » Settings » User » Rights » User</strong> menu, you define which areas and settings are visible to the user with this user account when opening a menu. Without visibility rights, a warehouse or orders of a certain status, for example, are invisible to the user.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. *Rights*tab of a back end user account</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales warehouse</strong>;<br>
<strong>Repair warehouse</strong>;<br>
<strong>Storage warehouse</strong>;<br>
<strong>Transit warehouse</strong>;<br>
<strong>Distribution warehouse</strong>;<br>
<strong>Special warehouse</strong> (type <strong>Other</strong>)<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Give rights for warehouses to the user. Only previously created <a href="/en/stock-management/setting-up-a-warehouse#300">warehouse types</a> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible order statuses</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which order statuses should be <strong>visible</strong> to the user. The user will see orders that are in this status only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selectable order statuses</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which order statuses the user should be allowed to apply.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Clients (stores)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one, several or all clients visible to the user. Users will only be able to see those areas that they were given access to in the Rights tab. If no client is selected, then specific rights such as the right to access certain menus will not go into effect. This is because the user will not have access to any of the clients.<br>
<strong>All</strong> = The user has access to all clients.<br>
<strong>Default</strong> = The user has access to the default store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select ticket statuses. Users will be able to view and edit tickets that are in these statuses.<br>
<strong>Invisible</strong> = The user will not see tickets with this status.<br>
<strong>Visible</strong> = The user will see all tickets that are in this status.<br>
<strong>Own only</strong> = The user will only see tickets that are in this status and that they own.<br>
All tickets are listed in the ticket overview, including those tickets that are not visible to the user account. However, the user is unable to open invisible tickets.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="105">6. Managing rights</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With rights you define which areas and settings are visible to the user and what they may edit. You can assign rights to every user account individually or to multiple user accounts via roles.
In the <strong>Setup » Settings » User » Rights » User</strong> menu, you can assign rights to individual users. This contains the REST API authorisations, the menu visibilities and the plugin menu visibilities.
Likewise, it is possible to assign rights for roles. This does not apply to the plugin menu visibilities. In case a role is assigned to a user that already has further rights, all of the rights are  effective.
In the <strong>Resources</strong> menu item, order referrers that should be visible to the user can be released.<br>
Assign every user account only those rights required for their field of work. This way, security is increased and errors can be prevented in your system.</p>
</div>
<div class="sect2">
<h3 id="110">6.1. Assigning rights</h3>
<div class="paragraph">
<p>The user rights in the <strong>Setup » Settings » User » Rights » User</strong> menu are divided into the 3 areas listed below.</p>
</div>
<table id="table-user-rights" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. User rights</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Authorisations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">REST rights required for specific actions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menu visibilities</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display of menu and system settings. Select the areas that should be visible to the user. The REST rights for the menu items are set automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you can release menu visibilities for plugins. First, only the plugins and their single entries are shown. The correct routes, however, are not displayed.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::./system-administration/_textblocks/instructions/rechte-vergeben-en_gb.adoc[]</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The areas <strong>Authorisations</strong> and <strong>Menu visibilities</strong> are linked, which is why the selected rights are automatically activated for both areas.
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
If further rights are required, an error message appears. Example: The <strong>Blog</strong> menu item requires rights for “Show blog” and “Show tag”.
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="115">6.2. Assigning rights for roles</h3>
<div class="paragraph">
<p>Roles can be assigned to several users. These will all have the same rights.
If you want to carry out settings for roles, you can only do so for authorisations and menu visibilities, but not for plugins.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights for roles:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » Roles</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Select a role.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Tick the check boxes in the respective area to assign the role rights. Activate entire areas or expand areas to activate individual rights that the user account should have access to.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="120">6.3. Managing menu and REST API rights</h3>
<div class="paragraph">
<p>In the <strong>Authorisations</strong> tab, you specify which rights for the REST API are granted to a user account of the <strong>Back end</strong> access. No REST API rights are activated by default. User accounts of the <strong>Admin</strong> access have all rights.</p>
</div>
<div class="paragraph instruction">
<p>Managing menu and REST API rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open a user account.</p>
</li>
<li>
<p>Click on the <strong>Rights</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Managing menu and REST API rights</strong>.<br>
→ The <strong>Rights</strong> menu item opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes. Activate entire areas or expand areas to activate individual rights that the user account should have access to.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="125">6.4. Activating app rights</h3>
<div class="paragraph">
<p>In the <strong>Mobile</strong> tab, you define which functions and key figures are visible to user accounts in the plentymarkets app.</p>
</div>
<div class="paragraph instruction">
<p>Activating app rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open a user account.</p>
</li>
<li>
<p>Open the <strong>Mobile</strong> tab.</p>
</li>
<li>
<p>Activate the functions and key figures that the user account should have access to in the app.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="145">6.5. Unblocking a user account</h3>
<div class="paragraph">
<p>The maximum number of login attempts is 5 per user account or 25 per IP address. If the maximum number of login attempts is exceeded, the account is blocked for 24 hours. Users with admin rights can unblock a user account manually before this 24 hour period has passed.</p>
</div>
<div class="paragraph instruction">
<p>Unblocking a user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.<br>
→ The user accounts are displayed.</p>
</li>
<li>
<p>Double click on the blocked user account.<br>
→ The user account opens.</p>
</li>
<li>
<p>Click on <strong>Unblock login</strong>.<br>
→ The user account is unblocked.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Creating roles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Roles are used for grouping user accounts and assigning the same rights to multiple user accounts without making changes to every single user account.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new role:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Roles</strong>.</p>
</li>
<li>
<p>Click on <strong>New role</strong>.<br>
→ The <strong>New Role</strong> window opens.</p>
</li>
<li>
<p>Enter a <strong>Name</strong> for the role.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The role opens in a new tab and can be edited.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>A role must be edited in order to define rights that are assigned to user accounts with this role. Therefore, edit the role after creating it.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Editing roles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After creating a role, it will open in a new tab for editing. The role is also added to the role overview so that you can open and edit it easier. Roles are listed alphabetically in the overview. Every role is divided into 3 tabs. In the <strong>Settings</strong> tab, you can change the role’s name. In the <strong>User</strong> tab, you link user accounts to this role. In the <strong>Rights</strong> tab, you assign rights to the role. The same settings used for user accounts of the <strong>Back end</strong> access are also available for roles. For further information about rights, refer to the <a href="/en/business-decisions/user-accounts-access#105">Managing rights</a> chapter.</p>
</div>
<div class="paragraph">
<p>Users of the <strong>Admin</strong> or <strong>Back end</strong> access can create roles. User accounts of the <strong>Back end</strong> access must have the corresponding rights to do so.</p>
</div>
<div class="paragraph instruction">
<p>Linking user accounts to roles:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Roles</strong>.</p>
</li>
<li>
<p>Select a role.</p>
</li>
<li>
<p>Click on the <strong>User</strong> tab.</p>
</li>
<li>
<p>Select user accounts from the <strong>Available users</strong> column.</p>
</li>
<li>
<p>Click on the <strong>single arrow pointed to the right</strong> to transfer the selected user accounts to the <strong>Assigned users</strong> column.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Drag and drop a user account to the <strong>Assigned users</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Moving several user accounts at once</div>
<div class="paragraph">
<p>Press and hold <strong>Ctrl</strong> or <strong>cmd</strong>, then select multiple users by left clicking on them to assign them at the same time. The lower arrow buttons will transfer all users.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The role is assigned to the user accounts in the <strong>Assigned users</strong> column. The <strong>roles</strong> in the <strong>Master data</strong> tab of a user account automatically match the settings made here. Assigned roles can be changed in both places of the system.</p>
</div>
<div class="paragraph instruction">
<p>Linking roles to a user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open a user account.</p>
</li>
<li>
<p>Select one, several or all of the roles in the <strong>Roles</strong> setting.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking user roles to users of the Admin access</div>
<div class="paragraph">
<p>Administrators have all rights. However, it is important that roles are assigned to administrators for some processes. For example, administrators only receive role-specific emails when linked to the corresponding role.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Example of use</p>
</div>
<div class="paragraph">
<p>The administrator of the company MyStore creates multiple roles. All the rights to be assigned to every user account are included in the Employee role. With this role, it is no longer necessary to assign these rights to every single user. Also, changes to rights concerning all user accounts can be made in the Employee role. In addition to this role, the administrator creates the Warehouse technician and Accounting roles - specific roles for a small group of users only.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Example for roles</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Role</th>
<th class="tableblock halign-left valign-top">Rights</th>
<th class="tableblock halign-left valign-top">Menu visibilities</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Employees</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Clients (stores) » Standard</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start » Webmail<br>
Start » Forum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse technician</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Settings » System settings » Stock » Warehouse<br>
Stock<br>
Orders » Fulfilment</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Accounting</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start » Vacation<br>
Setup » Client » Select client » Accounting</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Mr. Doe is a logistics specialist at MyStore and receives the Employee and Warehouse technician roles. If a user account has several roles, the user rights are added up. Therefore, Mr. Doe receives the rights <strong>Clients (stores)</strong>, <strong>Webmail</strong> and <strong>Forum</strong> from the Employee role as well as the rights <strong>Warehouse</strong>, <strong>Stock</strong> and <strong>Fulfilment</strong> from the Warehouse technician role. However, he doesn’t have the <strong>Vacation</strong> and <strong>Accounting</strong> rights because the Accounting role wasn’t assigned to his user account.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_copying_roles">9. Copying roles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you need an additional role which slightly differs from an existing role, copy the existing role and make changes in the <strong>Rights</strong> tab of the copy.</p>
</div>
<div class="paragraph instruction">
<p>Copying a role:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Roles</strong>.</p>
</li>
<li>
<p>Select a role.</p>
</li>
<li>
<p>Click on <strong>Copy</strong> in the toolbar.<br>
→ The <strong>Copy role</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The role is copied and the new role opens.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_sending_an_email_to_all_user_accounts_of_a_role">10. Sending an email to all user accounts of a role</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Roles allow you to send emails to all user accounts of a specific role. For this purpose, an email address must be saved in the user account.</p>
</div>
<div class="paragraph instruction">
<p>Sending an email to all user accounts of a role:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Roles</strong>.</p>
</li>
<li>
<p>Select a role.</p>
</li>
<li>
<p>Click on <strong>Send email</strong> in the toolbar.<br>
→ The email programme opens. The email addresses of all user accounts of this role are entered in the recipient field.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">11. Searching user accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filters help you to search for user accounts. Use the <strong>Access</strong> filter to display only user accounts of a certain access, e.g. <strong>Back end</strong>. If no filters are used, all user accounts are displayed in the overview. The following elements and functions are available in the <strong>User</strong> menu.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 11. Filter options for users</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Perform a search. Select appropriate filter options for the search beforehand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reset the filters to their original settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an ID to search for the user account that has this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name to search for the user accounts with this name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Access</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an access to search for user accounts with this specific access.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Roles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one, several or all roles to search for user accounts with these roles.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">12. Linking roles and processes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can also use roles for <a href="/en/automation/processes/setting-up-processes">processes</a>.</p>
</div>
<div class="paragraph instruction">
<p>Linking roles and processes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Processes » Per role</strong>.</p>
</li>
<li>
<p>Click on the <strong>arrow</strong> in the line of a particular <strong>role</strong>. Then click on <strong>New process</strong> (image 1).</p>
</li>
<li>
<p>Enter a <strong>Name</strong> for the role.</p>
</li>
<li>
<p>Select the setting <strong>Role</strong> from the <strong>Visibility</strong> drop-down list.<br>
→ The option <strong>Role</strong> is displayed.</p>
</li>
<li>
<p>Select a <strong>Role</strong> from the drop-down list.</p>
</li>
<li>
<p>Select whether you want users of this role to be able to <strong>change</strong> the settings.</p>
</li>
<li>
<p>Select the <strong>warehouse</strong> for the process and a <strong>colour</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The processes are displayed for the selected role. Due to the visibility setting, the process will be available to user accounts with the corresponding role only.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_an_account_for_the_plentymarkets_forum">13. Creating an account for the plentymarkets forum</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The plentymarkets forum is a knowledge base that keeps on growing. It already contains many solved support queries. Our developers and other plentymarkets customers will help you solve technical queries you might have. In addition, you will find tips for working with plentymarkets and can exchange ideas with other plentymarkets customers. Proceed as described below to create an account for the plentymarkets forum. <strong>Admin</strong> access user accounts can also create forum accounts for other user accounts using this method.</p>
</div>
<div class="paragraph instruction">
<p>Creating an account for the plentymarkets forum:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>Open user</strong>.<br>
→ The user account opens in a new tab.</p>
</li>
<li>
<p>In the <strong>plentymarkets Forum</strong> area, click on <strong>Create account</strong>.<br>
→ The forum account is created.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="160">14. Managing the number of logged in user accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Depending on your plentymarkets contract, the user accounts that can be logged into plentymarkets at the same time may be limited. This limit applies to the plentymarkets back end, the REST API and the plentymarkets app.</p>
</div>
<div class="paragraph">
<p>You can do the following if you reach the user limit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ask users to log out manually</p>
</li>
<li>
<p><a href="#170">Log out users in the session management menu</a></p>
</li>
<li>
<p><a href="#190">Increase the user limit of your plentymarkets contract</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="170">14.1. Logging out users in the session management menu</h3>
<div class="paragraph">
<p>Proceed as described below to use the session management to log out users.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Admin rights required</div>
<div class="paragraph">
<p>You need admin rights to log out users in the session management.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Logging out users in the session management menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Point your cursor over the user icon at the top right corner.</p>
</li>
<li>
<p>Click on <strong>Session management</strong>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Go to <strong>Setup » Settings » User » Session management</strong>.<br>
→ The <strong>Session management</strong> menu opens.<br>
→ The logged in users are shown.</p>
</li>
<li>
<p>Activate the check boxes of the users that you want to log out.</p>
</li>
<li>
<p>Click on <strong>Terminate selected sessions</strong>.<br>
→ The selected users are logged out.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="180">14.2. Logging out users when user limit is exceeded</h3>
<div class="paragraph">
<p>If the number of users has been reached or exceeded, admin users can access the session management menu by clicking on the error message that is shown when they attempt to log in.</p>
</div>
<div class="paragraph instruction">
<p>Logging out users when user limit is exceeded:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets back end.<br>
→ An error message is displayed.</p>
</li>
<li>
<p>Click on the link in the error message.<br>
→ The <strong>Session management</strong> menu opens.<br>
→ The logged in users are shown.</p>
</li>
<li>
<p>Activate the check boxes of the users that you want to log out.</p>
</li>
<li>
<p>Click on <strong>Terminate selected sessions</strong>.<br>
→ The selected users are logged out.<br>
<strong><em>Note:</em></strong> The login via the error message is valid for 10 minutes. You are automatically logged out after this time.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">14.3. Booking additional user licenses</h3>
<div class="paragraph">
<p>Book additional user licenses in the plentymarkets configurator.</p>
</div>
<div class="paragraph instruction">
<p>Booking additional user licenses:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » Service centre</strong>.<br>
→ The Service centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>contract</strong> tab.</p>
</li>
<li>
<p>Click on one of the buttons for changing your contract.<br>
→ The plentymarkets configurator opens.</p>
</li>
<li>
<p>In the progress bar at the bottom of the configurator, click on <strong>Features</strong>.</p>
</li>
<li>
<p>Scroll to the <strong>User licenses (CUL)</strong> area.</p>
</li>
<li>
<p>Click on the plus icon underneath the heading <strong>Additional concurrent user license (CUL)</strong> to add additional user licenses.</p>
</li>
<li>
<p>In the progress bar at the bottom of the configurator, click on <strong>Your system</strong>.<br>
→ A summary of the new contract details is shown.</p>
</li>
<li>
<p>Check the information carefully.</p>
</li>
<li>
<p>Click on <strong>Order system change</strong>.<br>
→ The system is changed.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>