<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> Your contract with plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>1.1.</span><span> Changing your contract</span></a></li>
<li><a href="#40"><span>1.2.</span><span> Viewing services and cancelling them as needed</span></a></li>
<li><a href="#370"><span>1.3.</span><span> Practical example: Booking an additional store</span></a></li>
</ul>
</li>
<li><a href="#440"><span>2.</span><span> Granting certified agencies access to the system</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Your contract with plentymarkets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Open the menu <strong>plentymarkets Logo (Start) » My account</strong> to see information about your plentymarkets system. You can make changes to the information saved here.
For example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>view and edit your contract with plentymarkets.</p>
</li>
<li>
<p>book an additional client (store).</p>
</li>
<li>
<p>modify your contact information.</p>
</li>
<li>
<p>grant partner agencies access to your system.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. Your contract with plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the menu <strong>plentymarkets Logo (Start) » My account » Contracts</strong> to see and edit information about your contract with plentymarkets.
For example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#30">switch to a different rate</a></p>
</li>
<li>
<p><a href="#40">view your booked services and cancel them as needed</a></p>
</li>
<li>
<p><a href="/en/business-decisions/legal-requirements/gdpr#500">view documents that are relevant to GDPR</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Service Centre is being phased out</div>
<div class="paragraph">
<p>Perhaps you can remember previously looking at your contract information in the menu <strong>plentymarkets Logo (Start) » Service centre</strong>. The Service Centre is being phased out.
Therefore, we recommend that you get acquainted with the “My account” area before the Service Centre is completely removed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">1.1. Changing your contract</h3>
<div class="paragraph">
<p>plentymarkets grows along with your needs.
You can decide, e.g. which modules your company needs and approximately how many orders you’ll process with plentymarkets each month.
We will provide you with the necessary system performance.</p>
</div>
<div class="paragraph">
<p>You can use the “My account” area to make changes to your plentymarkets contract any time, i.e. even while the system is up and running.
It makes sense to change your contract e.g. if you generate more orders than are included in your current rate. It is possible to book a higher rate at any time. If you book a lower rate, the change will go into effect once the regular duration of your current contract has ended.</p>
</div>
<div class="paragraph instruction">
<p>Changing the contract:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Contracts</strong>.<br>
→ You will see information about your current contracts.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Edit contract</strong>.<br>
→ The configurator appears.</p>
</li>
<li>
<p>Make changes to the contract information as desired.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">1.2. Viewing services and cancelling them as needed</h3>
<div class="paragraph">
<p>You can see all of your billed services in the “My account” area. If needed, you can cancel individual modules or your entire contract with plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Viewing and cancelling services:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Contracts</strong>.<br>
→ You will see information about your current contracts.</p>
</li>
<li>
<p>Expand the contract information (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).<br>
→ Click on <span class="icon red"><i class="fa fa-ban  "></i></span> <span class="red">Cancel contract</span> in the upper right corner to request that your entire contract be cancelled.<br>
→ Click on <span class="icon darkGrey"><i class="fa fa-trash  "></i></span> <strong>Cancel now</strong> next to a specific module to only cancel this one specific service.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="370">1.3. Practical example: Booking an additional store</h3>
<div class="paragraph">
<p>In plentymarkets, the term <a href="/en/online-store">client (store)</a> refers to an additional online store, which is managed with the same plentymarkets system as the default store.
Existing online stores are displayed in the “My account” area. You can book additional stores as needed.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Domain settings for clients (stores)</div>
<div class="paragraph">
<p>You need to have a <a href="/en/business-decisions/system-administration/domains">domain</a> before you can order a client (store). You have to create this domain for the main system beforehand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Ordering a client (store):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Contracts</strong>.<br>
→ You will see information about your current contracts.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Edit contract</strong>.<br>
→ The configurator appears.</p>
</li>
<li>
<p>Make changes to the contract information as desired.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="440">2. Granting certified agencies access to the system</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the menu <strong>plentymarkets Logo (Start) » My account » Agencies</strong> to grant certified service providers access to your system.
It makes sense to grant a service provider access to your system, e.g. if you hired a design agency to create your website or if you work with a consultant.
The service provider will be given unlimited access to your system, i.e. admin access.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Decide which functions and menus should be accessible!</div>
<div class="paragraph">
<p>When giving an agency access to your system, you grant it unlimited, admin access.</p>
</div>
<div class="paragraph">
<p>If you would prefer to only give the agency access to specific functions or menus, then <a href="/en/business-decisions/user-accounts-access">create a new user account</a>, e.g. a back end account, and customise its access rights.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_granting_access" class="discrete">Granting access</h4>
<div class="paragraph">
<p>Proceed as described below to grant an agency and/or consultant access to your system:</p>
</div>
<div class="paragraph instruction">
<p>Assigning service providers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-handshake-o  "></i></span> <strong>Agencies</strong>.<br>
→ You will see information about the agencies that you already work with.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Add agency</strong>.<br>
→ You will see a list of certified service providers.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Add</strong> next to whichever agency should be given access to your system.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: You can revoke this access at any time.</p>
</div>
</div>
</div>
</main>