<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> Your contract with plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>1.1.</span><span> Changing your contract</span></a></li>
<li><a href="#40"><span>1.2.</span><span> Viewing services</span></a></li>
<li><a href="#50"><span>1.3.</span><span> Viewing transactions in the clearing account</span></a></li>
<li><a href="#370"><span>1.4.</span><span> Practical example: Booking an additional online store</span></a></li>
</ul>
</li>
<li><a href="#440"><span>2.</span><span> Granting certified agencies access to the system</span></a>
<ul class="sectlevel2">
<li><a href="#450"><span>2.1.</span><span> Granting access</span></a></li>
<li><a href="#460"><span>2.2.</span><span> Withdrawing access</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Your contract with plentymarkets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Open the menu <strong>plentymarkets Logo (Start) » My account</strong> to see information about your plentymarkets system. You can make changes to the information saved here.
For example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>view and edit your contract with plentymarkets.</p>
</li>
<li>
<p>book an additional client (store).</p>
</li>
<li>
<p>modify your contact information.</p>
</li>
<li>
<p>grant partner agencies access to your system.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. Your contract with plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the menu <strong>plentymarkets Logo (Start) » My account » Contracts</strong> to see and edit information about your contract with plentymarkets.
For example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#30">switch to a different rate</a></p>
</li>
<li>
<p><a href="#40">view the services that you have booked</a></p>
</li>
<li>
<p><a href="#50">view transactions in the clearing account</a></p>
</li>
<li>
<p><a href="/en/business-decisions/legal-requirements/gdpr#500">view documents that are relevant to GDPR</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Service centre has been removed</div>
<div class="paragraph">
<p>Perhaps you can remember previously looking at your contract information in the menu <strong>plentymarkets Logo (Start) » Service centre</strong>. The Service centre is now deprecated.
Contract information is now managed in the “My account” area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">1.1. Changing your contract</h3>
<div class="paragraph">
<p>plentymarkets grows along with your needs.
You can decide, e.g. which modules your company needs and approximately how many orders you’ll process with plentymarkets each month.
We will provide you with the necessary system performance.</p>
</div>
<div class="paragraph">
<p>You can use the “My account” area to make changes to your plentymarkets contract any time, i.e. even while the system is up and running.
It makes sense to change your contract e.g. if you generate more orders than are included in your current rate. It is possible to book a higher rate at any time. If you book a lower rate, the change will go into effect once the regular duration of your current contract has ended.</p>
</div>
<div class="paragraph instruction">
<p>Changing the contract:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The "My account" area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Contracts</strong>.<br>
→ You will see information about your current contracts.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Edit contract</strong>.<br>
→ The configurator appears.</p>
</li>
<li>
<p>Make changes to the contract information as desired.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">1.2. Viewing services</h3>
<div class="paragraph">
<p>You can see all of your billed services in the “My account” area.</p>
</div>
<div class="paragraph instruction">
<p>Viewing services:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Contracts</strong>.<br>
→ You will see information about your current contracts.</p>
</li>
</ol>
</div>
<h4 id="_cancelling_services" class="discrete">Cancelling services</h4>
<div class="paragraph">
<p>Proceed as described below to cancel services. If needed, you can cancel individual modules or your entire contract with plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling services:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Contracts</strong>.<br></p>
</li>
<li>
<p>Expand the contract information (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).<br>
→ Click on <span class="icon red"><i class="fa fa-ban  "></i></span> <span class="red">Cancel contract</span> in the upper right corner to request that your entire contract be cancelled.<br>
→ Click on <span class="icon darkGrey"><i class="fa fa-trash  "></i></span> <strong>Cancel now</strong> next to a specific module to only cancel this specific service.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="50">1.3. Viewing transactions in the clearing account</h3>
<div class="paragraph">
<p>Have you bought a <a href="https://marketplace.plentymarkets.com/en/services/setup" target="_blank" rel="noopener">setup package</a> offered by plentysystems on plentyMarketplace? Or does your current plentymarkets tariff include a certain number of free support minutes?
In these cases, the clearing account provides an overview of the amounts and transactions that you will be billed for when plentymarkets issues the next monthly invoice. This way, you can view all transactions and your current balance resulting from the services you bought any time and without complications.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to view the transactions in the clearing account.</p>
</div>
<div class="paragraph instruction">
<p>Viewing transactions in the clearing account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Clearing account</strong>.<br>
→ The clearing account opens.<br>
<strong><em>Note:</em></strong> The clearing account is only displayed if <a href="#50">conditions described above</a> apply to you. If not, a message telling you that no clearing account is available is displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The clearing account consists of two areas. The <strong>Postings</strong> area displays the transactions of the current invoicing period. In the <strong>Cleared postings</strong> area, you can find transactions that took place at an earlier pointn in time and that have already been set off against your balance.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What do the transactions in the clearing account mean in detail?</strong></div>
<div class="content">
<table id="table-transactions-clearing-account" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Information</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Postings</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date of the transaction.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sub-account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currently, the sub-account of the type <strong>Support</strong> is available. In the future, more types of sub-accounts will be added so that other billable services can be represented as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reference</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field provides information on the service and the date for which an amount is either credited to or debited from the clearing account. In some plentymarkets tariffs, a certain contingent of support services is included per month. For these kinds of credit, the date range displayed represents the regular monthly invoicing period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The amount of the transaction. Credited amounts are displayed in green while debited amounts are displayed in red.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Cleared postings</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">This area contains information on individual transactions that have already been cleared at past dates. The balance calculated in the course of this clearing process is displayed as a separate entry of the type “Amount carried over” in the <strong>Postings</strong> area. Basically, the <strong>Cleared postings</strong> area provides you with an overview of older transactions and the respective details. The detailed information regarding the individual transactions are listed in the same way as in the <strong>Postings</strong> area.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Additional functions planned</div>
<div class="paragraph">
<p>Our goal is to provide you with an up-to-date and transparent overview of your transactions in the clearing account. To achieve this goal, we will add further functions and display even more precise information in the near future. For example, debits will be displayed on the same date that the corresponding service has been provided to you, instead of only shortly before the current invoicing period ends. Subscribe to our <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">changelog</a> to keep track of the upcoming changes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="370">1.4. Practical example: Booking an additional online store</h3>
<div class="paragraph">
<p>In plentymarkets, the term <a href="/en/online-store">client (store)</a> refers to an additional online store, which is managed with the same plentymarkets system as the default store.
Existing online stores are displayed in the “My account” area. You can book additional stores as needed.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Domain settings for clients (stores)</div>
<div class="paragraph">
<p>You need to have a <a href="/en/business-decisions/system-administration/domains">domain</a> before you can order a client (store). You have to create this domain for the main system beforehand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Ordering a client (store):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Contracts</strong>.<br>
→ You will see information about your current contracts.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Edit contract</strong>.<br>
→ The configurator appears.</p>
</li>
<li>
<p>Make changes to the contract information as desired.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="440">2. Granting certified agencies access to the system</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the menu <strong>plentymarkets Logo (Start) » My account » Agencies</strong> to grant certified service providers access to your system.
It makes sense to grant a service provider access to your system, e.g. if you hired a design agency to create your website or if you work with a consultant.
The service provider will be given unlimited access to your system, i.e. admin access.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Decide which functions and menus should be accessible!</div>
<div class="paragraph">
<p>When giving an agency access to your system, you grant it unlimited, admin access.</p>
</div>
<div class="paragraph">
<p>If you would prefer to only give the agency access to specific functions or menus, <a href="/en/business-decisions/user-accounts-access">create a new user account</a>, e.g. a back end account, and customise its access rights.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="450">2.1. Granting access</h3>
<div class="paragraph">
<p>Proceed as described below to grant an agency and/or consultant access to your system:</p>
</div>
<div class="paragraph instruction">
<p>Assigning service providers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-handshake-o  "></i></span> <strong>Agencies</strong>.<br>
→ You will see information about the agencies that you already work with.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Add agency</strong>.<br>
→ You will see a list of certified service providers.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Add</strong> next to whichever agency should be given access to your system.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: You can revoke this access at any time.</p>
</div>
</div>
<div class="sect2">
<h3 id="460">2.2. Withdrawing access</h3>
<div class="paragraph">
<p>Would you like to permanently withdraw access for an agency? Then proceed as described below.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » My account</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The “My account” area opens in a new browser tab.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-handshake-o  "></i></span> <strong>Agencies</strong>.<br>
→ You will see information about the agencies that you already work with.</p>
</li>
<li>
<p>In the area of the agency that should be removed, click on <strong>Remove</strong>.<br>
→ A confirmation window opens.</p>
</li>
<li>
<p>Click on <strong>Remove now</strong> to confirm your decision.<br>
→ System access for the selected agency is permanently withdrawn.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Effective withdrawal of agency access</div>
<div class="paragraph">
<p>Always follow the steps described above to safely and permanently withdraw agency access to your system. It is <strong>not</strong> sufficient to simply <a href="/en/business-decisions/user-accounts-access#85">delete the user account</a> created by the agency in your plentymarkets back end.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>