<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Requirements</span></a></li>
<li><a href="#200"><span>2.</span><span> Creating a new item</span></a></li>
<li><a href="#300"><span>3.</span><span> Accessing the item data record in the back end</span></a></li>
<li><a href="#400"><span>4.</span><span> Creating the necessary variations</span></a></li>
<li><a href="#500"><span>5.</span><span> Adding further product data</span></a></li>
<li><a href="#600"><span>6.</span><span> Looking at the item in the front end</span></a></li>
<li><a href="#700"><span>7.</span><span> Putting the item up for sale</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating new items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Have you already configured the <a href="/en/item/settings">preparatory settings</a>?
For example, have you create a category structure, sales prices and attributes?
Then you’re ready to start entering item data into plentymarkets.
This page teaches you how to <em>manually</em> create items and variations.</p>
</div>
<div class="paragraph">
<p>The procedure is as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>First you’ll create the <a href="/en/item/import-export-create/create/new-item#200">item data record</a>.</p>
</li>
<li>
<p>If the item is available e.g. in various sizes or colours, then you’ll create <a href="/en/item/import-export-create/create/new-item#400">all of the necessary variations</a> in a second step.</p>
</li>
<li>
<p>Then you’ll add <a href="/en/item/import-export-create/create/new-item#500">further product data</a> like images, texts and stock information.</p>
</li>
<li>
<p>Regularly <a href="/en/item/import-export-create/create/new-item#600">preview the item</a> in the online store and see where you need to add more product data or adjust the settings.</p>
</li>
<li>
<p><a href="/en/item/import-export-create/create/new-item#700">Activate the item</a> once it’s ready to be sold.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Other ways to create items</div>
<div class="paragraph">
<p>This page teaches you how to <em>manually create</em> items and variations.
This is useful, e.g. if you only want to add a few new products to your assortment.</p>
</div>
<div class="paragraph">
<p>But what if you want to add several hundred item data records? It would take far too long to do this manually.
Take a look at the <a href="/en/item/import-export-create">various tools for importing item information</a>.  Choose the tool that is most appropriate for your situation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This page assumes that you already have basic knowledge of the item structure in plentymarkets.
For example, you should know the <a href="/en/item/introduction/structure">difference between items and variations</a>. You should also know that item data can be <a href="/en/item/introduction/inheritance">inherited</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">A quick refresher on these topics:</div>
<div class="paragraph">
<p>While creating an item, the first variation is automatically created along with it.
This variation is the <a href="/en/item/introduction/structure#600">main variation</a> and it is closely tied to the item.
The neat thing about the main variation is that its data can be passed on to other variations, i.e. they can inherit its data. As such, the main variation is a parent variation that passes on certain settings to its children.</p>
</div>
<div class="paragraph">
<p>The <a href="/en/item/introduction/inheritance">inheritance function</a> is activated by default. When a new variation is created, this variation inherits settings from the main variation, as long as no other data is saved.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_the_following_data_should_be_in_the_system" class="discrete">The following data should be in the system</h4>
<div class="paragraph">
<p>Furthermore, make sure you’ve saved the following data in your system before you start manually creating items and variations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/attributes">Attributes and attribute values</a></p>
</li>
<li>
<p><a href="/en/item/settings/categories">Categories</a></p>
</li>
<li>
<p><a href="/en/item/settings/prices">Sales prices</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Creating a new item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create the item data record by entering some basic information about the product.
Don’t worry, you can still modify most of this information after it has been created.</p>
</div>
<div class="paragraph">
<p>The item will not be available for sale immediately.
In other words, your customers will not be able to buy an item that has just been created and is not yet ready to be sold.</p>
</div>
<div class="paragraph">
<p>This video gives you a playful demonstration of how items are created manually:</p>
</div>
<div class="videoblock">
<div class="title">Creating a new item</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/263298729#t=0m48s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph instruction">
<p>Creating a new item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New</strong>.<br>
→ The <strong>New item</strong> tab opens. This tab is divided into several areas.</p>
</li>
<li>
<p>Carry out the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The item will be created along with the main variation and displayed in a new tab.</p>
</li>
</ol>
</div>
<h5 id="210" class="discrete">Area: Item data</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-type">Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What sort of item do you want to create? In most cases, you’ll probably create a “normal item”, i.e. an item of the type <strong>Default</strong>.</p>
</div>
<div class="paragraph">
<p>The other options in the drop-down list are intended for other situations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Default</strong> = Creates a normal item or an <a href="/en/item/use-cases/combining-products#2000">item bundle</a>.</p>
</li>
<li>
<p><strong>Set</strong> = Creates an <a href="/en/item/use-cases/combining-products#3000">item set</a>.</p>
</li>
<li>
<p><strong>Multipack</strong> = Creates a <a href="/en/item/use-cases/combining-products#1000">multipack item</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This setting can no longer be changed once the item has been created.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-id">ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item ID is a unique, consecutive number that is used to identify each item in plentymarkets.</p>
<p class="tableblock"><strong><em>Recommendation</em></strong>: We recommend leaving this field blank. This will cause plentymarkets to automatically assign the next free ID.
We also recommend that you do not change the ID once the item has been created.
Since the ID is linked to many parameters, changing the ID can cause errors.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Who makes this item? Choose the appropriate manufacturer from the drop-down list.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This list only includes the <a href="/en/item/settings/manufacturers">manufacturer data records</a> that you’ve already saved in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the item.<br>
Once you’ve created the item, you’ll be able to save additional names, e.g. if you want the item to have a different name on marketplaces.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-flag">Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assign one or two flags to the item.</p>
<p class="tableblock"><strong><em>Use case</em></strong>: You’ll see the flags when you look at your <a href="/en/item/introduction/search#100">items in the overview</a>. Such visual aids help you find the right items at a glance. You can also <a href="/en/item/introduction/search#100">search for items</a> that have a specific flag or combination of flags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose <strong>Stocked item</strong> (default setting), <strong>Production item</strong>, <strong>Colli</strong> or <strong>Special order item</strong>.<br>
<strong>Coli</strong> = Select if the item is to be shipped in several packages. For additional packages, individual items with the stock type Colli must be created in plentymarkets, but these items should not be activated for the online store.</p></td>
</tr>
</tbody>
</table>
<h5 id="220" class="discrete">Area: Variation » Basic settings</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the main variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number for the main variation.</p>
<p class="tableblock"><strong><em>Recommendation</em></strong>: If you leave this field blank, then plentymarkets will automatically assign the <a href="/en/item/settings/variation-numbers">next available variation number</a>.
The number will be assigned according to the pattern saved in the menu <strong>Setup » Item » Settings</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an external variation ID for the main variation.</p>
<p class="tableblock"><strong><em>Use case</em></strong>: The external variation number facilitates importing items and variations from an external system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Model</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a model name for the main variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a numerical value and choose a <a href="/en/item/settings/units">unit</a> from the drop-down list, e.g. 500ml or 150g.</p></td>
</tr>
</tbody>
</table>
<h5 id="230" class="discrete">Area: Variation » Category link</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which category should the item be sorted into? Click on a category to choose it.</p>
<p class="tableblock">If the item should appear in multiple categories, just choose one of them for now. Once you’ve created the item, you can <a href="/en/item/managing-items#300">add the other categories too</a>.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Click on a category’s folder icon (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) on the far left. This displays the subcategories within.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This list only includes the <a href="/en/item/settings/categories">categories</a> that you’ve already saved in plentymarkets.<br>
Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New category</strong> if you want to save a new category while creating the item.
This method can save you time but it might also cause you to lose track of your category structure.</p></td>
</tr>
</tbody>
</table>
<h5 id="240" class="discrete">Area: Variation » Attributes</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you’ll see a list of the <a href="/en/item/settings/attributes">attributes</a> that you’ve already created in plentymarkets.</p>
<p class="tableblock"><strong><em>Recommendation</em></strong>: It’s technically possible to select attributes here. However, we don’t recommend this.
Rather, we recommend that you first create the new item <em>without any attributes</em>. Afterwards, we recommend that you select attributes while you <a href="/en/item/import-export-create/create/new-item#400">create the necessary variations</a>.</p>
<p class="tableblock">Why? If you link attributes while creating a new item, then <em>all of the following variations</em> will have to be created from the same attributes too. This is not the case if you wait to link attributes while creating variations.
In other words, it makes you much more flexible in the future.</p></td>
</tr>
</tbody>
</table>
<h5 id="250" class="discrete">Area: Variation » Sales prices</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see a list of the <a href="/en/item/settings/prices">sales prices</a> that you’ve already created in plentymarkets.
Here you can save a <em>gross price</em> for the main variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Choose a sales price from the drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ This moves the sales price down to the list below.</p>
</li>
<li>
<p>Enter the gross price in the field.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Alternative</em></strong>: Leave this area empty for now and instead, save the price once you’ve created the item. Why?
Once you’ve created the item, you can decide whether you want to enter gross or net prices. You can also have the prices be calculated automatically.
In other words, it makes you much more flexible in the future.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Accessing the item data record in the back end</h2>
<div class="sectionbody">
<div class="paragraph">
<p>New items are <em>inactive</em> by default. This prevents customers from buying an item that has just been created and is not yet ready to be sold.</p>
</div>
<div class="paragraph">
<p>So if you search for a new item data record in the plentymarkets back end, then you will need to change the pre-set search filters so that they include inactive items.</p>
</div>
<div class="paragraph instruction">
<p>Displaying inactive items in the overview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Active</strong> to <strong>ALL</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Creating the necessary variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some items like shoes and t-shirts are sold in various sizes and colours.
In other words: your customer doesn’t simply buy your t-shirt, but rather <em>a specific variation</em> of your t-shirt, e.g. in the colour red and the size S.</p>
</div>
<div class="paragraph">
<p>First, create all of the necessary variations.</p>
</div>
<div class="paragraph instruction">
<p>Creating variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/item/import-export-create/create/new-item#300">Access the item data record</a> if it isn’t already open.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New</strong>.<br>
→ The <strong>Create new variations</strong> window opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-variations">Table 1</a>.<br></p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Create variations</strong>.<br>
→ The variations will be created and displayed in the overview.</p>
</li>
</ol>
</div>
<table id="table-create-variations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating the necessary variations</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variations differ from each other in terms of quantity and/or unit.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: A bottle of soap that’s available in 100ml, 250ml and 500ml.</p>
</div>
<div class="paragraph">
<p><strong><em>Instructions</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Enter the quantity and unit for the first variation, e.g. 100ml.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Create variations</strong>.</p>
</li>
<li>
<p>Repeat the procedure for 250ml and for 500ml.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributes</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variations differ from each other in terms of their attribute values.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: A t-shirt that’s available in the colours green or blue and in the sizes S, M or L.</p>
</div>
<div class="paragraph">
<p><strong><em>Instructions</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the colours and sizes (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Look at the lower right corner and make sure the number of <strong>combinations</strong> seems to be correct. For example, if you combine the colours green and blue with the sizes S, M, L, then you will have 6 variations.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Create variations</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Adding further product data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>At this point, you’ve created the item data record and saved some basic information about it.
But you can still add <a href="/en/item/managing-items">lots of other product information</a> to the data record, e.g.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#90">Images</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#50">Texts</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#240">Prices</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#314">Stock information</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Looking at the item in the front end</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Are you curious what the new product looks like in your online store?
See a preview of the item and find out where you need to add further product data or adjust the settings.</p>
</div>
<div class="paragraph instruction">
<p>Viewing a preview of the item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) in the toolbar.<br>
→ The <strong>Client (store)</strong> window opens.</p>
</li>
<li>
<p>Decide which <strong>plugin set</strong> and <strong>client</strong> you want to use when viewing a preview of the item.<br>
<strong><em>Tip:</em></strong> These settings are preselected next time you click on the preview icon.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong>.<br>
→ A preview of the item is shown.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Putting the item up for sale</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Variations are not visible to customers in the online store until they have been activated.
In other words, you can work on inactive variations without your customers noticing.
You activate the variation when you’re ready for it to be visible in your store.</p>
</div>
<div class="paragraph instruction">
<p>Activating a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for and open the variation</a>.</p>
</li>
<li>
<p>Find the <strong>Availability</strong> area within the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Select the <strong>Active</strong> option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Complete checklist for item visibility</div>
<div class="paragraph">
<p>Not only do items need to be activated, but they also need to have a price, a category and positive net stock.
Otherwise customers wouldn’t be able to buy the item.</p>
</div>
<div class="paragraph">
<p>Work through <a href="/en/item/online-store/checklist-items-visibility">this checklist</a> and make sure your item meets all of the requirements for being visible in the online store.
This checklist helps you find any possible errors that are preventing your items from being displayed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>