<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_technical_specifications"><span>1.</span><span> Technical specifications</span></a></li>
<li><a href="#_data_columns"><span>2.</span><span> Data columns</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>marketplaceStockMovement</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>marketplaceStockMovement</strong> data format creator to export stock information that was exported to specific markets, and save this data in the cloud.
The raw data file is stored in the cloud for a maximum of 6 months.
Therefore, the data must be processed before this date.
The following tables contain further information about the format.</p>
</div>
<div class="paragraph">
<p>At the moment, stock information is saved that was sent to the following markets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Amazon</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_technical_specifications">1. Technical specifications</h2>
<div class="sectionbody">
<div class="paragraph">
<p>See <a href="#table-specifications-marketplacestockmovement">Table 1</a> for further information on the available properties and their corresponding values.</p>
</div>
<table id="table-specifications-marketplacestockmovement" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Technical specifications of the format <strong>marketplaceStockMovement</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dataName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketplaceStockMovement</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the creator process and prefix of the created file.<br>
File name: <strong>marketplaceStockMovement-xxx.csv.gz</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fileFormat</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">File format</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSV, GZIP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data is provided as a GZIP-compressed CSV file (RFC 1952).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">limitPage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lines per request</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 500</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of data rows that is written into a single file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">limitDay</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lines per day</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 10,000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of data rows that is written on one day in total.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">earliestPossibleDataDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Earliest point in time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2020-01-01</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Point in time as of which the raw data can be collected. The data is filtered by the date saved in the <strong>dataUpdatedAtColumnName</strong> column.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">filterType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastUpdate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data are filtered based on the last update.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dataUpdatedAtColumnName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Column header</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the column that contains the time stamp of the last data update.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">defaultActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activated by default</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data is only exported automatically in the background after you have activated the creator in the <strong>Setup » plentyBI » Raw data</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">interval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">With this setting, all data that has been changed since the last run is exported once a day, usually during the night.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storableFromPlan</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage starting from tariff</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyBI S</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum fee plan required for saving the data in cloud storage and making it available via REST.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">processableFromPlan</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Usage starting from tariff</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyBI L</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum fee plan required for making the data available in plentyBI Data Warehouse, i.e. for using, filtering and processing key figures.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_data_columns">2. Data columns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>See <a href="#table-data-columns-marketplacestockmovement">Table 2</a> for further information on the <strong>marketplaceStockMovement</strong> data columns included in the CSV file during raw data export.</p>
</div>
<table id="table-data-columns-marketplacestockmovement" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data columns of the format <strong>marketplaceStockMovement</strong></caption>
<colgroup>
<col style="width: 10%;">
<col style="width: 30%;">
<col style="width: 30%;">
<col style="width: 30%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column name</th>
<th class="tableblock halign-left valign-top">Data type</th>
<th class="tableblock halign-left valign-top">Full name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">INTEGER NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plenty ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the plentymarkets system</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>id (primary key)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The unique ID of the stock information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">identifierType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">identifier type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The record can be identified based on the identifier type. For example, the identifier type may be the <strong>ASIN</strong>.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">identifierValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">identifier value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identifier value of the record<br>
The value of the identifier type that identifies the record. For example, if the identifier type is <strong>ASIN</strong>, the column <strong>identifierValue</strong> will contain the ASIN of the variation.<br>
Stock information can be filtered in the plentyBI tool based on this identifier value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">NUMERIC(5,2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referrer ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the market’s order referrer<br>
*_Note: At the moment, only stock information that is sent to the market Amazon is saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">INTEGER NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The unique ID of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">INTEGER NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock quantity that was exported to the market. This quantity of the variation can be bought on the market.<br>
<strong><em>Tip:</em></strong> How the stock is calculated depends on the stock settings and any stock buffers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Status of exporting the stock information. Possible values:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>SENT = The stock was exported to the market.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">meta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">JSON NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This column is currently empty.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>createdAt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TIMESTAMP NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Created on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date and time when the stock was exported to the market.<br>
Format of the timestamp: <code>MM/DD/YYYY HH:MI:SS TZ</code></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>