<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_protected_shops"><span>1.</span><span> General information about Protected Shops</span></a></li>
<li><a href="#_settings_in_plentymarkets"><span>2.</span><span> Settings in plentymarkets</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Protected Shops</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » System settings » Client » Select client » Online store » Legal information</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Old: CMS &amp; online store</div>
<div class="paragraph">
<p>This manual page describes functions that pertain to the old plentymarkets online shop <strong>Callisto</strong>. For information regarding the online store template <strong>Ceres</strong>, please refer to the <a href="/en/omni-channel/online-store/setting-up-ceres">Setting up Ceres page</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_protected_shops">1. General information about Protected Shops</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Protected Shops GmbH</strong> is a leading <strong>provider of legal texts</strong> for online businesses. Please note that their services are only available in German. Protected Shops provides online sellers with <a href="/en/omni-channel/online-store/setting-up-clients/online-store#legal-information">legal texts</a> that are individually customized to meet the seller’s personal needs. Protected Shops offers a variety of different service packages that contain all of the necessary legal texts and guarantees the assumption of liability. Whenever changes are made to current legislation, Protected Shops automatically updates its texts and informs its customers about the changes via Protect Mail.</p>
</div>
<div class="paragraph">
<p>As a plentymarkets customer, you can benefit from the AGB Connect interface, which Protected Shops offers especially for the system. This interface makes it possible to transfer all of the legal texts into your plentymarkets online shop at any time and with a minimum amount of effort. This ensures that the legal texts are always up to date.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_settings_in_plentymarkets">2. Settings in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Our SOAP API interface is used to make a connection. The following settings need to be carried out as well:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Configuration of the <strong>shop data</strong> in your Protected Shops account.</p>
</li>
<li>
<p>Configuration of a <a href="/en/basics/admin-tasks/manage-users">user</a> who was given the necessary <strong>SOAP rights</strong>.</p>
</li>
<li>
<p>Check the <a href="/en/basics/data-exchange/api-data">SOAP WSDL</a> and the <strong>names</strong> and <strong>IDs</strong> of the <a href="/en/item/managing-categories">category pages</a>.</p>
</li>
<li>
<p>You may need to create additional content pages, e.g. <strong>battery ordinance</strong> and <strong>sale or return policy</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>This <a href="https://www.plentymarkets.co.uk/tpl/download/KK_DE_Domain.pdf" target="_blank" rel="noopener">document</a> contains detailed information about carrying out the steps listed above. Please note that the document is currently only available in German.</p>
</div>
</div>
</div>
</main>