<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Putting it all together with an example: DPD UK</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">This video teaches you how to link your plentymarkets system with the shipping service provider of your choice. We’ll use DPD UK as an example and show you how to configure your shipping settings and allow plentymarkets to transmit shipping information to DPD on your behalf.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/shipping/example-dpd-where#video">Where do you ship packages? (0:47)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/shipping/example-dpd-service-providers#video">Which service providers do you use? (1:29)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/shipping/example-dpd-costs#video">How much does delivery cost? (2:48)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/293931439#at=89" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>There’s more to making a sale than just offering the lowest price. Customers want their packages to be shipped quickly and reliably with a big-name parcel service they can trust.</p>
</div>
<div class="paragraph">
<p>This video teaches you how to link your plentymarkets system with the shipping service provider of your choice. We’ll use DPD UK as an example, but regardless which parcel service you use, there’s a bit of prep work that needs to be done first.
In other words, you’ll need to tell plentymarkets where you ship packages, which service providers you use, and how much the delivery costs.
And that’s exactly what these tabs are for here.
The end goal is to create a so-called "shipping profile", which includes all of this information and which is linked to all of the items that you ship under these conditions.
Let’s run through the process together.</p>
</div>
<div class="paragraph">
<p>Start out by telling plentymarkets which countries you ship to. All you have to do is select "Active" and then tell plentymarkets which language-version of invoices and other documents it should create for packages shipped to this country.
Once you’ve finished configuring countries of delivery you’re ready to group these countries into regions.
Here, a region is simply a group of one or more countries that have the same shipping costs.
For example, if you ship from London, then you may pay one rate for deliveries within the UK and another rate for deliveries to continental Europe.</p>
</div>
<div class="paragraph">
<p>Next, tell plentymarkets which parcel services you use to ship packages. We’ll use DPD UK in this example.
Enter a name for the parcel service, as it should be displayed to customers on documents and as it should be displayed internally to you and your staff members.
Then enter an address for the shipping service and enter a tracking URL so that your customers can track their packages.</p>
</div>
<div class="paragraph">
<p>Now, it would be incredibly time-consuming to save all of this date for every single item that you sell. And that’s where shipping profiles come into play.
They stipulate all of the conditions, under which an item is shipped.</p>
</div>
<div class="paragraph">
<p>For example, the shipping service provider and which stores, sales platforms, payment methods and customer classes the shipping profile applies to.
Don’t forget to enter a name, as it should be displayed to customers and as it should appear internally to you and your staff.
If you check this option here then your customers will see the shipping provider’s address when they buy something from your online store.
Furthermore, customers will be able to decide whether their own telephone number and email address should be forwarded on to the shipping provider.
As soon as you save the profile you’ll see a new tab where you can save shipping costs for each of your regions.
Simply enter shipping costs for every region that you want to deliver to and save your changes.</p>
</div>
<div class="paragraph">
<p>Once you’ve finished customising the shipping profile open any items that should be shipped under these conditions.
Navigate to the global tab and place a check mark to select the profile.
This allows the item to be shipped at whatever price and conditions were specified in the profile.
But in most cases you’ll have more than just one item that you want to ship with these conditions.
Simply use the item group function to apply a particular shipping configuration to several items at once.</p>
</div>
<div class="paragraph">
<p>Congratulations! You’ve finished all of the initial leg work and now you’re ready to link your plentymarkets system with DPD UK.
Once you’ve downloaded and installed the plugin from plentyMarketplace, a new "DPD Shipping UK" menu will be added to your plentymarkets system.
If you don’t see this menu in your own system then navigate to the "Backend plugin set" menu and make sure you’ve activated the correct plugin set.</p>
</div>
<div class="paragraph">
<p>OK, back in the DPD Shipping UK menu, start out by entering the user name and password that you use for this service provider.
And then enter the sender’s address - or in other words the return address - and contact information for your deliveries.
Last but not least, select the appropriate shipping settings in this menu here.</p>
</div>
<div class="paragraph">
<p>That’s all there is to it! plentymarkets can start transmitting information to DPD and having them deliver packages on your behalf!</p>
</div>
</div>
</div>
</main>