<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating and editing shipping profiles</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profiles are a way to specify which shipping methods will be offered to customers later on.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/78421037" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learing. This video teaches you how to create shipping profiles, which you can think of as the different types of delivery that you offer. Now what exactly do I mean by different types of delivery?
Well, for example, let’s say that you ship your packages with DHL.</p>
</div>
<div class="paragraph">
<p>Even though DHL is able to ship small, medium and large items, of course, they won’t treat small items like books or clothing the same as bulky items like furniture.
Now let’s imagine that you only sell books that come in small packages. Well, you may still want to allow your customers to choose between a cheap standard delivery and a more expensive express delivery.
Or perhaps you sell video games and game consoles. Well, you may have some video games that you’re allowed to ship normally and other games that can only be delivered recipients who show an ID proving they are over 18. Take a look at your own product portfolio and figure out which scenarios you’re likely to run into when shipping items. You can think of these scenarios as the shipping profiles that you’ll set up in plentymarkets.</p>
</div>
<div class="paragraph">
<p>First, you’ll need to navigate to the menu "Settings » Orders » Shipping » Shipping options" and click on the "Shipping profiles" tab.
If you’ve already created shipping profiles, then you’ll see them listed in the overview here and you can click on a profile to open it and edit it further.
Or you can click on the "New" button to create a new profile. Here you’ll also notice that the shipping profiles always open in a new tab. So you can have several different shipping profiles open at the same time.</p>
</div>
<div class="paragraph">
<p>OK, so setting up a shipping profile is pretty easy. At very minimum, you just need to choose one of the shipping service providers that you created previously in this tab here.
And then you’ll need to enter text into both of the name fields. This first name here is going to be visible to customers whereas this second name here will only appear in your plentymarkets system and it will not be displayed in your online store.
And one last little thing about the top name. Since this name will be visible in your online store, make sure that you use this drop-down here to translate the name into all of the languages that your store is available in.</p>
</div>
<div class="paragraph">
<p>At this point, you’ve theoretically finished entering all of the information necessary for creating a shipping profile. You could now technically save your shipping profile enter shipping costs for every region that you’ve set up and then open any items that should use this shipping profile.
Simply navigate to the global tab and place a check mark to select the profile. Doing so links the shipping profile to the item. In other words, this allows the item to be shipped at whatever price and conditions were specified in the shipping profile.</p>
</div>
<div class="paragraph">
<p>OK, but let’s back up for just a moment. Even though you chould now technically go ahead and save your shipping profile, in reality, you’ll probably want to keep customizing it a bit more first. That’s what the rest of the options in this menu are for. So here, for example, you can select a flag that helps you easily visualize your shipping profiles here in the overview.
And here, you can use these options to choose exactly which stores, sales platforms, payment methods and customer classes the shipping profile should apply to.</p>
</div>
<div class="paragraph">
<p>So for example, you may have a few shipping profiles where the mail carrier is unable to accept cash on delivery payments or you may want to set up a separate shipping profile that’s only used for items sold on eBay.</p>
</div>
<div class="paragraph">
<p>And just as a little side note if you create a shipping profile that’s just for eBay. In this case, you’ll also want to scroll down a little bit farther and look at these eBay settings here.
You’ll want to select the appropriate eBay account decide whether the shipping profile should be used for auctions or fixed price items whether you want to use the shipping profile for normal or express delivery and whether you want to use the shipping profile for a specific loyalty program like eBay Plus.</p>
</div>
<div class="paragraph">
<p>Up here, you’ve got the priority and category, which are both ways to prioritize shipping profiles - so to tell plentymarkets which profiles it should think of first, second, third, etc.
The difference here is that the category sort of first groups profiles that should be displayed together. And then the priority controls which profile within this group should be displayed first, second, third and so on.</p>
</div>
<div class="paragraph">
<p>OK, that all probably sounds pretty theoretical right now, so let me show you what I mean. Lets say I have an item that can be shipped with any of the profiles I’ve created here. If a customer buys this item in my online store, then plentymarkets will first ask, ok, can the item be shipped with any category 1 profiles?
The answer of course, is yes, it can be shipped with this one or this one.
Since the item can be shipped with category 1 profiles, these are the only profiles that the customer will be able to choose from in the online store. Even though there are also category 2 and 3 profiles linked to this item, only the category 1 profiles are displayed here because they’re given top priority.</p>
</div>
<div class="paragraph">
<p>OK, so now my customer can choose either of these profiles. Here you’ll notice that within this group of category 1 profiles, I’ve got "DHL standard shipping" displayed first and "express shipping" displayed second.
This is because of the "Priority" setting here. Within each category, the priority determines which profile is shown first, second, third, and so on.</p>
</div>
<div class="paragraph">
<p>These last couple of options are all pretty easy to understand. First, place a check mark here if you want these two extra fees saved for the item to be added on top of the regular shipping costs saved in this tab here. It’s useful to add such extra shipping charges to bulky or fragile items that are particularly expensive to ship.</p>
</div>
<div class="paragraph">
<p>This option down here is another extra charge that you can add on top of your regular shipping costs. This one is just a fee that you may want to add when delivering to island regions.
Next place a check mark here to indicate that the item should only be delivered to someone who can show ID to prove that they are over 18. So like I mentioned earlier, if you sell something like video games, DVDs or tobacco products, then make sure that you’ve created a shipping profile that uses this option. And make sure that you’ve linked all of your 18+ items to this profile.</p>
</div>
<div class="paragraph">
<p>And last but certainly not least, check this box here if you want this shipping profile to automatically be linked to any new items that you create in the future.</p>
</div>
<div class="paragraph">
<p>Alright, so to recap. In this video, you learned how to create shipping profiles and how to link shipping profiles with your items. Once you’ve got a basic understanding of both these concepts, you’re ready to continue on to the next video and learn how to save the actual shipping costs for each of your regions.</p>
</div>
</div>
</div>
</main>