<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Using tables of shipping charges</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">This tutorial teaches you how to save shipping costs for every shipping profile and region that you work with and to calculate shipping costs based on weight, price, quantity and other factors.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/180302214" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. In this video tutorial, I’ll teach you how to save shipping costs for each of your shipping profiles and each of the regions that you deliver items to. So please note that this video assumes that you already have a basic understanding of both regions and shipping profiles. If you’re still new to either of these topics, then you’ll want to check out our other videos that deal with these subjects first.</p>
</div>
<div class="paragraph">
<p>OK, so this video focuses on shipping costs and introduces you to a few different ways that plentymarkets can calculate the shipping costs for your items.
For example, you may want to charge your customers more for shipping heavy or bulky items, than you do for shipping small or light-weight items.
Or you may want to encourage customers to buy more by reducing the shipping costs or dopping them altogether when customers spend a certain amount of money or buy a certain number of items.
These are just a few examples of how you can customize your shipping costs with plentymarkets.</p>
</div>
<div class="paragraph">
<p>Now let’s take a look at how to configure these options in your own system.
I’ve already opened plentymarkets to the menu "Settings » Orders » Shipping » Shipping options" and I’ve clicked on the "Shipping profiles" tab.
Simply open an existing shipping profile and you’ll find an area for saving shipping costs right here.</p>
</div>
<div class="paragraph">
<p>The first thing you’ll want to note is that the shipping charges saved here only apply to the one shipping profile that I currently have open. So in other words, you can save different shipping costs for each of your shipping profiles. This makes sense, for example, because you’ll probably want an express shipping profile to cost a bit more than a regular shipping profile.
The next thing you’ll want to note is that this tab here is only visible for already existing shipping profiles.
When you initially create a new shipping profile, you won’t see this tab until you’ve clicked on the save icon here.
OK, and the last thing that you’ll note straight away, is that you’ll be able to save shipping costs separately for every region you’ve set up. This makes sense because you’ll probably want to save lower shipping costs for deliveries within your own country and higher shipping costs for deliveries to other parts of the world.</p>
</div>
<div class="paragraph">
<p>The most important setting to understand in this menu is the calculation type.
The area here for entering actual shipping costs changes slightly depending on which calculation type you’ve chosen up here.
If you decide to use a flat rate, then your shipments will all be charged at the same rate.
Simply enter the flat rate shipping charge into this field here.</p>
</div>
<div class="paragraph">
<p>If you select weight, volume, quantity or price-dependent, then the area for saving shipping charges will look a little bit different.
Here you’ll be able to set up a sliding scale of shipping costs. For example, items that weigh up to 1 kilo may cost 3.80 items that weigh up to 2 kilos may cost 4.30 items up to 5 kilos may cost 6.10 and so on.</p>
</div>
<div class="paragraph">
<p>Just note that if you set up a sliding scale based on the item’s weight or volume then you’ll want to make sure that you’ve saved dimensions for all of your items. plentymarkets will use the dimensions saved here to decide which price bracket an item fallls into.
This last option -  "Item shipping charge" - is useful if you want your customers to pay one fixed shipping price for the first item, plus a surcharge for each additional item that’s ordered.</p>
</div>
<div class="paragraph">
<p>These next three options here are incentives for your customers to spend a bit more in your store.
This first line here allows you to offer customers free shipping if they spend a certain amount of money. So in this case here, I’m offering free shipping if customers spend 40 euros or more in my store.
These next two lines are similar. They allow you to offer customers a reduced shipping price if they spend a certain amount of money. So here you just say how much a customer has to spend and here you say what the reduced shipping price should be.</p>
</div>
<div class="paragraph">
<p>OK, so taken all together, I’ve got the following settings. Normally my customers pay 5 euros in shipping plus 50 cents more for each additional item.
If a customer spends 25 euros or more, the shipping price drops to 3.50 and if a customer spends 40 euros or more, the shipping is completely free. So these are really just incentives for my customers to spend a little bit more and get free or reduced shipping for their order.</p>
</div>
<div class="paragraph">
<p>These last 3 options here allow you to limit which situations a shipping profile should be used in. So for example, I may not be able to ship especially heavy items with this profile. So I can just use this option here to limit the profile to a specific weight.
Then I use these two options here to specify the minimum and maximum weights that I want to allow. So here, for example, since I’ve limited this profile to shipments with a maximum weight of 7,500 grams, I could now create a second shipping profile that I use specifically for heavier packages that exceed this maximum value.</p>
</div>
<div class="paragraph">
<p>OK, so to recap, these limitation settings here allow you to specify when the shipping profile should or should not be valid.
Next, select whichever shipping package you want to use for this shipping profile.
If you’re not familiar with shipping packages, they’re configured in this menu here, and they can be thought of essentially as the different sizes of cardboard boxes that you use when packaging your items.</p>
</div>
<div class="paragraph">
<p>OK, and lastly when saving shipping charges, you may see a few additional services that are offered by whichever shipping service provider you selected in the shipping profile. So here, for example, I see a few additional options for UPS because I selected UPS as the shipping provider for this profile.
And here for example, I see a lot of additional services provided by DHL. I’m not going to explain all of the different service options that are available for each shipping provider, because doing so would exceed the scope of this video. But take a look at our other online reference materials for further information about the specific shipping providers that you work with and the various services that they offer.</p>
</div>
<div class="paragraph">
<p>And one last helpful trick before I say goodbye. You may already be thinking that it’s going to be really time-consuming to save shipping costs separately for each region. Well, that’s why plentymarkets includes this little "copy" icon here. Once you’ve finished saving shipping costs for a region, just click on this icon and then select another region that you want to give these exact same settings to as well.
So here, for example, I could apply the exact same settings to my UK region and then just make any little changes for this new region as needed.</p>
</div>
<div class="paragraph">
<p>Thanks for watching and I hope you enjoyed learning how to set up tables of shipping charges in plentymarkets.</p>
</div>
</div>
</div>
</main>