<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Export</h1><div class="paragraph">
<p>Es gibt viele Gründe, Artikel- und Variantendaten zu exportieren.
Zum Beispiel, vielleicht willst du:</p>
</div><div class="ulist">
<ul>
<li>
<p>deine Artikel- und Variantendaten an Marktplätze übertragen.</p>
</li>
<li>
<p>eine mit Produktdaten gefüllte CSV-Datei exportieren. Dann die Datei überarbeiten und wieder importieren.</p>
</li>
</ul>
</div><div class="paragraph">
<p>Diese Seite stellt die Tools dafür kurz vor. Klicke auf die Links, um ausführlichere Informationen über die Tools zu lesen.</p>
</div><h3 id="_kataloge" class="discrete">Kataloge</h3><div class="paragraph">
<p>Verwende <a href="/daten/daten-exportieren/marktplatzexport">Kataloge</a>, um den Export von Variantendaten an Marktplätze und andere Verkaufskanäle durchzuführen. Aktuell kannst du Kataloge nutzen, um Daten an die Marktplätze REWE, Etsy, Metro, OTTO Market und Amazon zu übertragen.</p>
</div><div class="paragraph">
<p>Kataloge dienen dazu, Variantendaten für den Export an einen Verkaufskanal vorzubereiten.</p>
</div><h3 id="_elastischer_export" class="discrete">Elastischer Export</h3><div class="paragraph">
<p>Willst du eine mit Produktdaten gefüllte CSV-Datei exportieren? Danach kannst du z.B. die Datei überarbeiten und wieder importieren.
Die Artikeldaten werden in zwei Schritten exportiert:</p>
</div><div class="paragraph">
<p>Verwende zuerst den <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a>, um sogenannte Datenformate zu erstellen. Mit anderen Worten entscheidest du, welche Daten exportiert werden sollen.</p>
</div><div class="paragraph">
<p>In einem zweiten Schritt verwendest du dann den <a href="/daten/daten-exportieren/elastischer-export">Elastischen Export</a>, um die soeben erstellten Datenformate zu exportieren.</p>
</div>
</main>