<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Gruppenfunktion</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Artikel bearbeiten</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Varianten bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.</span><span> Stapelverarbeitung</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>2.1.</span><span> Artikel bearbeiten</span></a></li>
<li><a href="#600"><span>2.2.</span><span> Varianten bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#650"><span>3.</span><span> Import &amp; Export</span></a></li>
<li><a href="#700"><span>4.</span><span> Suchen &amp; Ersetzen</span></a></li>
<li><a href="#800"><span>5.</span><span> Artikel und Varianten kopieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Massenbearbeitung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Dein Business läuft und du hast bereits ein solides Produktportfolio aufgebaut.
Aber wie gehst du am besten mit den Artikeldaten im Arbeitsalltag um?
plentymarkets beinhaltet verschiedene Funktionen zur Verarbeitung von Artikeln.
<a href="#table-batch-processing-item-filter">Tabelle 1</a> vergleicht die Möglichkeiten und erläutert sie beispielhaft.</p>
</div>
<table id="table-batch-processing-item-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Funktionen zur Artikelverwaltung</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Funktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Gruppenfunktion</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Beispiele</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>du willst die Artikel auswählen, die in einem Sonderverkauf angeboten werden sollen.</p>
</li>
<li>
<p>du willst die Artikel auswählen, deren Preise erhöht werden sollen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Technische Angaben</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>bearbeitet mehrere Artikel oder Varianten gleichzeitig.</p>
</li>
<li>
<p>du wählst die zu bearbeitenden Artikel oder Varianten direkt aus.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Beispiele</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>du willst alle Artikel einer bestimmten Kategorie in einem Sonderverkauf anbieten.</p>
</li>
<li>
<p>du willst den Preis aller Artikel eines bestimmten Herstellers erhöhen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Technische Angaben</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>bearbeitet mehrere Artikel oder Varianten gleichzeitig.</p>
</li>
<li>
<p>du verwendest Filter, um die zu bearbeitenden Artikel oder Varianten einzuschränken.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/import-export-anlage/anlage/massenbearbeitung#650">Import &amp; Export</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nutze den Import &amp; Export, wenn du z.B. viele Artikel und Varianten gleichzeitig anpassen willst.
Exportiere eine CSV-Datei, die mit Produktdaten gefüllt ist.
Dann überarbeite die Datei und importiere sie wieder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/import-export-anlage/anlage/massenbearbeitung#700">Suchen &amp; Ersetzen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stell dir vor, du hast gerade erfahren, dass dein Hersteller ein Zubehörteil umbenannt hat.
Jetzt ist es an dir, den Namen in allen Artikeltexten zu ändern.
Verwende die Suchen &amp; Ersetzen-Funktion, um ein Wort oder eine Formulierung global in allen Artikeltexten anzupassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/import-export-anlage/anlage/massenbearbeitung#800">Kopieren</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stell dir vor, du willst einen neuen Artikel zu deinem Sortiment hinzufügen.
Er ist einem bestehenden Produkt recht ähnlich.
Kopiere in diesem Fall das bestehende Produkt.
Ändere danach die abweichenden Einstellungen für den neuen Artikel.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">1. Gruppenfunktion</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verwende die Gruppenfunktion, um <em>mehrere Artikel oder Varianten gleichzeitig zu bearbeiten</em>.
Wähle dabei die zu bearbeitenden Artikel oder Varianten direkt aus.
Mit der Gruppenfunktion kannst du, zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die Artikel auswählen, die in einem Sonderverkauf angeboten werden sollen.</p>
</li>
<li>
<p>die Artikel auswählen, deren Preise erhöht werden sollen.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="200">1.1. Artikel bearbeiten</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/assets/gruppenfunktion-artikel.png" alt="gruppenfunktion artikel">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Artikel</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Artikel in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Artikel-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Wende eine oder mehrere der <em>Bearbeitungsoptionen</em> an. Dazu:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Wählst du (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) mit den Checkboxen links alle Optionen, die du bearbeiten möchtest.</p>
</li>
<li>
<p>Konfigurierst du dann die Einstellungen rechts.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen an den Artikeln vorzunehmen.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Bearbeitungsoptionen</strong></div>
<div class="content">
<h5 id="_multi_channel" class="discrete">Multi-Channel</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop-Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollen die ausgewählten Artikel mit einer <a href="/artikel/webshop/shop-aktionen">Shop-Aktion</a> hervorgehoben werden?
Falls ja, dann gib hier an, ob du die Artikel als Sonderangebot, Neuheit oder Top-Artikel kennzeichnen willst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht den Optionen in:<br>
<a href="/artikel/artikel-verwalten#45">Obere Tab-Leiste » Tab: Multi-Channel</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_merkmale" class="discrete">Merkmale</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verknüpfung erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>aktiviert</strong> = Das Merkmal wird mit den Artikeln verknüpft.</p>
</li>
<li>
<p><strong>deaktiviert</strong> = Die Verknüpfung wird entfernt, d.h. das Merkmal wird nicht mehr mit den Artikeln verknüpft.</p>
</li>
<li>
<p><strong>--</strong> = Es wird keine Änderung vorgenommen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wird der interne Name des Merkmals angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-Selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um <a href="/artikel/webshop/cross-selling">Cross-Selling</a> zwischen diesem Artikel und anderen Artikeln mit dem gleichen Merkmal und Merkmalwert zu ermöglichen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_aktionen" class="discrete">Aktionen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die gewählten Artikel samt Varianten zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbilder löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um alle Artikelbilder der gewählten Artikel zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zweites Artikelbild löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um das zweite Artikelbild der gewählten Artikel zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing anlegen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um für die gewählten Artikel Listings auf eBay, Hood oder Ricardo zu erstellen.</p>
<p class="tableblock"><strong><em>Zusätzliche Einstellungen</em></strong>: Hast du eine <a href="/artikel/artikel-verwalten#_listing_voreinstellungen">Listing-Vorlage am Artikel hinterlegt</a>?
Die Listing-Vorlage bestimmt z.B., ob die Listings für eBay, Hood oder Ricardo gelten.
Hat der Artikel keine Listing-Vorlage, wird standardmäßig versucht, ein eBay-Angebot zu erstellen, da dies der häufigste Fall ist.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Stell dir vor, du möchtest ein Hood-Listing anlegen. In diesem Fall musst du eine Listing-Vorlage am Artikel hinterlegen.
plentymarkets weiß, dass es Hood Listings erstellen soll, weil das Hood-Konto in der Vorlage gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitstempel für Marktplatzexporte aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt den Zeitstempel <strong>Letzte Änderung</strong> auf das aktuelle Datum und die aktuelle Uhrzeit.</p>
<p class="tableblock"><strong><em>Hintergrund</em></strong>: Manchmal ist es notwendig, den Zeitstempel zu aktualisieren, z.B. <a href="/maerkte/amazon/best-practices-amazon-artikeldatenexport#200">wenn du die Artikel bei Amazon verkaufen willst</a>.
Der Grund dafür ist, dass Artikel nur dann nach Amazon exportiert werden, wenn sie innerhalb der letzten 24 Stunden bearbeitet wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ab Preis in Sets aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#3900">Artikelsets</a> relevant. Mit dieser Option kannst du den sogenannten "Ab-Preis" für mehrere Artikel gleichzeitig aktualisieren.</p></td>
</tr>
</tbody>
</table>
<h5 id="_versand" class="discrete">Versand</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alte Versandprofile löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um alte Versandprofile zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herstellungsland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Land wählen, in dem die Artikel hergestellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkonfiguration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und ein, mehrere oder <strong>ALLE</strong> Versandprofile aktivieren. Bereits aktivierte Profile mit der Einstellung <strong>Alte Versandprofile löschen</strong> entfernen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zustand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Zustand der Artikel wählen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_global" class="discrete">Global</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seriennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für Artikel mit Seriennummern relevant.
Mit dieser Option <a href="/artikel/anwendungsfaelle/seriennummern#900">ermöglichst du das Scannen</a> für mehrere Artikel gleichzeitig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelvorlage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für <a href="/artikel/webshop/callisto-vorlagen">Artikelvorlagen</a> relevant.
Mit dieser Option kannst du die Vorlage mit mehreren Artikeln gleichzeitig verknüpfen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Option gibst du den <a href="/artikel/einstellungen/hersteller">Hersteller</a> für mehrere Artikel gleichzeitig an.
Du verknüpfst also einen bestehenden Herstellerdatensatz mit mehreren Artikeln.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1;<br>
Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weist mehreren Artikeln gleichzeitig eine oder zwei Markierungen zu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlöskonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib bis zu 11 Ziffern für das <a href="/auftraege/buchhaltung#800">Erlöskonto</a> ein.</p></td>
</tr>
</tbody>
</table>
<h5 id="_freitextfelder" class="discrete">Freitextfelder</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Wert eingeben, um diesen Wert für die gewählten Artikel zu speichern.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Varianten bearbeiten</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/assets/gruppenfunktion-varianten.png" alt="gruppenfunktion varianten">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Wende eine oder mehrere der <em>Bearbeitungsoptionen</em> an. Dazu:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Wählst du (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) mit den Checkboxen links alle Optionen, die du bearbeiten möchtest.</p>
</li>
<li>
<p>Konfigurierst du dann die Einstellungen rechts.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Bearbeitungsoptionen</strong></div>
<div class="content">
<h5 id="_marktplatz_verfügbarkeit" class="discrete">Marktplatz-Verfügbarkeit</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf welchen Marktplätzen möchtest du die Variante verkaufen?
Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) alle zutreffenden Märkte.</p>
<p class="tableblock">Entspricht den Optionen in:<br>
<a href="/artikel/artikel-verwalten#350">Untere Tab-Leiste » Tab: Verfügbarkeit » Bereich: Märkte</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_aktionen_2" class="discrete">Aktionen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die gewählte Varianten zu löschen.<br>
<strong><em>Hinweis</em></strong>: Wenn Hauptvarianten gewählt wurden, werden diese Hauptvarianten nicht gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitstempel für Marktplatzexporte aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt den Zeitstempel <strong>Letzte Änderung</strong> auf das aktuelle Datum und die aktuelle Uhrzeit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trotz negativem Nettowarenbestand für Mandanten verfügbar machen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht dem Schlosssymbol im <a href="/artikel/artikel-verwalten#360">Tab: Verfügbarkeit » Bereich: Mandant (Shop)</a>.</p>
<p class="tableblock"><strong><em>Hintergund-Info</em></strong>: plentymarkets kann Varianten automatisch aus dem plentyShop entfernen, wenn sie nicht mehr vorrätig sind. Dieser Automatismus wird durch die Einstellungen im <a href="/artikel/artikel-verwalten#360">Tab: Einstellungen » Bereich: Verfügbarkeit</a> gesteuert.</p>
<p class="tableblock">Verwende diese Gruppen-Funktion, wenn du die Variante manuell im plentyShop sichtbar machen möchtest, trotz fehlender Lagerbestände.</p>
<p class="tableblock">Diese Einstellung gilt, bis neuer Wareneingang für die Variante gebucht wird. Danach greifen die Einstellungen zur Nettowarenbestandsabhängigkeit erneut.</p></td>
</tr>
</tbody>
</table>
<h5 id="_tags" class="discrete">Tags</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um Tags mit den gewählten Varianten zu verknüpfen. Klicke in das Feld und wähle die Tags, die mit den Varianten verknüpft werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags entfernen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um Tag-Verknüpfungen für die gewählten Varianten zu entfernen. Klicke in das Feld und wähle die Tags, die von den Varianten entfernt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle Tags entfernen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um für die gewählten Varianten alle Tag-Verknüpfungen zu entfernen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_mandant_shop_zuordnen" class="discrete">Mandant (Shop) zuordnen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welchen plentyShops möchtest du die Variante verkaufen?
Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) alle zutreffenden Mandanten.</p>
<p class="tableblock">Entspricht den Optionen in:<br>
<a href="/artikel/artikel-verwalten#360">Untere Tab-Leiste » Tab: Verfügbarkeit » Bereich: Mandant (Shop)</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_preise" class="discrete">Preise</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preiskalkulation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine bereits erstellte <a href="/artikel/einstellungen/preise#1000">Preiskalkulation</a>.
Dadurch wird die Preiskalkulation mit den gewählten Varianten verknüpft. Die Preise der Varianten werden entsprechend berechnet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisänderung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bearbeitet die Preise aller gewählten Varianten. Wie genau die Preise bearbeitet werden, hängt davon ab, wie du die Einstellungen konfigurierst.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle einen Quell- und Zielpreis.</p>
</li>
<li>
<p>Wähle einen Operator und gib einen absoluten oder prozentualen Wert ein.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Du kannst auch nur die Operatoren auf einen Preis anzuwenden. Wähle dazu für Quelle und Ziel denselben Verkaufspreis.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Absolut</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator und gib einen absoluten Wert ein.<br>
= Der eingegebene Wert wird als neuer Preis gespeichert.<br>
+ Der bisherige Preis wird um den eingegebenen Betrag erhöht.<br>
- Der bisherige Preis wird um den eingegebenen Betrag gesenkt.<br>
/ Der bisherige Preis wird durch den eingegebenen Wert geteilt.<br>
* Der bisherige Preis wird mit dem eingegebenen Wert multipliziert.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator und gib einen Prozentwert ein.<br>
+ Der bisherige Preis wird um den eingegebenen Prozentwert erhöht.<br>
- Der bisherige Preis wird um den eingegebenen Prozentwert gesenkt.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quellpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Verkaufspreis aus der Dropdown-Liste, dessen Preis übernommen werden soll.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Verkaufspreis aus der Dropdown-Liste, der aktualisiert werden soll.<br></p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Wenn für den Zielverkaufspreis noch kein Preis an der Variante gespeichert ist, wird der Verkaufspreis verknüpft und der neue Preis gespeichert.<br></p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Bei aktivierter Vererbung wird die Vererbung aller Preise für die gewählten Varianten deaktiviert und alle Preise werden direkt an der Variante gespeichert.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<h5 id="_versand_2" class="discrete">Versand</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Portoaufschlag 1;<br>
Portoaufschlag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Wert eingeben, um den Portoaufschlag für die gewählten Varianten zu speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zolltarifnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren und <a href="/auftraege/buchhaltung#620">Zolltarifnummer</a> eingeben.
In plentymarkets ist es möglich, für jede Variante eine unterschiedliche Zolltarifnummer zu speichern.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: In manchen Ländern wird Kinderkleidung je nach Größe unterschiedlich besteuert.
In diesem Fall macht es Sinn, die Zolltarifnummer für jede einzelne Variante zu speichern.</p>
</div>
<div class="paragraph">
<p><strong><em>Vererbung</em></strong>: Die Zolltarifnummer wird automatisch von der Hauptvariante an die Untervarianten <a href="/artikel/einleitung/vererbung">vererbt</a>. Das heißt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>du brauchst keine Zolltarifnummern für deine Untervarianten einzugeben, wenn sie dieselbe Zolltarifnummer wie die Hauptvariante haben sollen.</p>
</li>
<li>
<p>gib eine abweichende Zolltarifnummer für alle Untervarianten ein, die sich von der Hauptvariante unterscheiden sollen.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h5 id="_sonstiges" class="discrete">Sonstiges</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und GTIN-Typ wählen, um für die gewählten Varianten GTINs dieses Typs <a href="/artikel/einstellungen/barcodes#600">aus Nummernkreis zu generieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht brutto;<br>
Gewicht netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Wert eingeben, um dieses Gewicht für die gewählten Varianten zu speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grundpreisanzeige</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn der Grundpreis im plentyShop angezeigt werden soll.</p></td>
</tr>
</tbody>
</table>
<h5 id="_verfügbarkeit" class="discrete">Verfügbarkeit</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten werden erst im plentyShop oder auf Marktplätzen sichtbar, wenn sie aktiviert wurden. Mit anderen Worten, kannst du an inaktiven Varianten arbeiten, ohne dass deine Kunden es merken.
Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die gewählten Varianten zu veröffentlichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Symbole 1-10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die passende Verfügbarkeitsstufe für die Varianten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unsichtbar: Immer unsichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der Option <strong>Artikelauflistung</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-artikelauflistung">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelauflistung: sichtbar wenn Netto-WB positiv</strong>;
<strong>Artikelauflistung: unsichtbar wenn kein Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der Option <strong>Artikelauflistung</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-artikelauflistung">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_bestand" class="discrete">Bestand</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der Option <strong>Beschränkung</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-beschraenkung">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hauptlager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Hauptlager für die gewählten Varianten wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldebestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Wert eingeben, bei dem eine Nachbestellung für die gewählten Varianten erfolgen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximalbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Wert eingeben, um den Bestand der gewählten Varianten zu begrenzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerreichweite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Zeitraum in Tagen eingeben, den der Warenbestand der gewählten Varianten bis zur nächsten Nachbestellung reichen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerorttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Lagerorttyp je nach Größe der gewählten Varianten wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Zone für die gewählten Varianten wählen, wenn das Lager in Zonen eingeteilt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbar bei positivem Netto-WB</strong>;<br>
<strong>Nicht verfügbar bei keinem Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht den Optionen <strong>Anzeige im Webshop: Automatisch verfügbar, wenn Netto-WB positiv</strong> und <strong>Anzeige im Webshop: Automatisch nicht verfügbar, wenn kein Netto-WB</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-webshop-verfuegbar">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop: sichtbar bei positivem Netto-WB</strong>;<br>
<strong>Webshop: unsichtbar bei keinem Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht den Optionen <strong>Mandant: Automatisch sichtbar, wenn Netto-WB positiv</strong> und <strong>Mandant: Automatisch unsichtbar, wenn kein Netto-WB</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-webshop-verfuegbar">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_kategorie" class="discrete">Kategorie</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Kategorie wählen. Die gewählten Varianten werden mit der Kategorie verknüpft. Bereits vorhandene Kategorieverknüpfungen bleiben bestehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alte Kategorieverknüpfung löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um alte Kategorieverknüpfungen der gewählten Varianten zu löschen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_automatisch_aus_paketbestandteilen_berechnen" class="discrete">Automatisch aus Paketbestandteilen berechnen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EK netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettoeinkaufspreis automatisch berechnen.<br>
Diese Einstellung ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">Artikelpakete</a> relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GLD EK netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gleitenden Nettoeinkaufspreis automatisch berechnen.<br>
Diese Einstellung ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">Artikelpakete</a> relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht brutto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttogewicht automatisch berechnen.<br>
Diese Einstellung ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">Artikelpakete</a> relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogewicht automatisch berechnen.<br>
Diese Einstellung ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">Artikelpakete</a> relevant.</p></td>
</tr>
</tbody>
</table>
<h5 id="_vererbung" class="discrete">Vererbung</h5>
<div class="paragraph">
<p>Ändert das <a href="/artikel/einleitung/vererbung">Vererbungsverhalten</a> für Preise, Verfügbarkeitsstufen, Kategorien, usw.
Bestimmt also, ob die Daten von der Hauptvariante an die in der Artikelübersicht markierten Untervarianten vererbt werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Häkchen rechts</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-check-square  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Daten (Preise, Verfügbarkeiten, Kategorien, usw.) werden von der Hauptvariante an die in der Artikelübersicht markierten Untervarianten weitergegeben.
Bisher an der Variante gespeicherte Daten werden überschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-square-o  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deaktiviert die Vererbung.
Die Daten der Hauptvariante werden an der Untervariante gespeichert.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Gruppenfunktion steuert die Vererbung aller an der Hauptvariante gespeicherte Preise, Kategorien, Lieferanten usw.
Eine Vererbung einzelner Preise, Kategorien, Lieferanten usw. ist nicht möglich.</p>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Stapelverarbeitung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verwende die Stapelverarbeitung, um <em>mehrere Artikel oder Varianten gleichzeitig zu bearbeiten</em>.
Setze dabei Filter, um die zu bearbeitenden Artikel oder Varianten einzuschränken.
Mit der Stapelverarbeitung kannst du, zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>alle Artikel einer bestimmten Kategorie in einem Sonderverkauf anbieten.</p>
</li>
<li>
<p>den Preis aller Artikel eines bestimmten Herstellers erhöhen.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Stapelverarbeitung bricht bei großen Mengen ab</div>
<div class="paragraph">
<p>Es kann zu einem Timeout kommen, wenn du versuchst, zu viele Artikel oder Varianten gleichzeitig zu bearbeiten.
Wenn du eine sehr große Menge bearbeiten musst, empfehlen wir dir:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stattdessen das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> zu verwenden.</p>
</li>
<li>
<p>die Stapelverarbeitung in kleineren Schritten durchzuführen.
Du könntest zum Beispiel mit Markierungen arbeiten und nur eine Teilmenge deiner Artikel oder Varianten gleichzeitig bearbeiten.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="500">2.1. Artikel bearbeiten</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/assets/stapelverarbeitung-artikel.png" alt="stapelverarbeitung artikel">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Artikel</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Artikel verarbeitet werden sollen.</p>
</li>
<li>
<p>Wende eine oder mehrere der <em>Bearbeitungsoptionen rechts</em> an.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Artikeln vorzunehmen.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Filter links</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator und gib eine <a href="/artikel/import-export-anlage/anlage/neue-artikel#intable-id">Artikel-ID</a> ein.
Nur die Artikel mit einer zutreffenden ID werden verarbeitet.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Gibst du &gt;= 205 ein, werden die Artikel 205, 206, 207 usw. verarbeitet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine <a href="/artikel/artikel-verwalten#intable-variantennummer">Variantennummer</a> ein.
Artikel werden nur verarbeitet, wenn sie eine Variante mit dieser Nummer haben.
Ein %-Zeichen kann für jedes beliebige Zeichen stehen.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Gibst du new-% ein, werden die Artikel verarbeitet, die eine Variante beginnend mit new- haben, z.B. new-45, new-107, new-212.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Namen eines <a href="/artikel/artikel-verwalten#intable-hersteller">Herstellers</a> ein.
Es werden nur die Artikel verarbeitet, die von dieser Firma hergestellt werden.
Ein %-Zeichen kann für jedes beliebige Zeichen stehen.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Gibst du Eichmann% ein, werden alle Artikel verarbeitet, die von einer Firma beginnend mit Eichmann hergestellt werden, z.B. Eichmann-Block und Eichmann &amp; Block AG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1</strong>;<br>
<strong>Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine oder zwei <a href="/artikel/import-export-anlage/anlage/neue-artikel#intable-markierung">Markierungen</a>.
Artikel werden nur verarbeitet, wenn sie diese Markierung oder Kombination von Markierungen haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zustand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen <a href="/artikel/artikel-verwalten#intable-zustand">Zustand</a>.
Artikel werden nur verarbeitet, wenn sie diesen Zustand haben.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste entspricht nur den Zuständen [0] Neu und [1] Gebraucht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ohne Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn du nur die Artikel verarbeiten möchtest, die in keiner Kategorie sortiert sind.</p>
<p class="tableblock"><strong><em>Betrifft nur ältere Systeme</em></strong>: In früheren plentymarkets Versionen konnten Artikel ohne Kategorieverknüpfung erstellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicke auf eine Kategorie, um nur Artikel dieser Kategorie zu verarbeiten.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Liste enthält nur die <a href="/artikel/einstellungen/kategorien">Kategorien</a>, die du bereits in plentymarkets gespeichert hast.<br></p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Klicke ganz links auf das Ordner-Symbol (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) einer Kategorie, um die darin enthaltenen Unterkategorien zu sehen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Bearbeitungsoptionen rechts</strong></div>
<div class="content">
<h5 id="_multi_channel_2" class="discrete">Multi-Channel</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop-Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollen die ausgewählten Artikel mit einer <a href="/artikel/webshop/shop-aktionen">Shop-Aktion</a> hervorgehoben werden?
Falls ja, dann gib hier an, ob du die Artikel als Sonderangebot, Neuheit oder Top-Artikel kennzeichnen willst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht den Optionen in:<br>
<a href="/artikel/artikel-verwalten#45">Obere Tab-Leiste » Tab: Multi-Channel</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_merkmale_2" class="discrete">Merkmale</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verknüpfung erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>aktiviert</strong> = Das Merkmal wird mit den Artikeln verknüpft.</p>
</li>
<li>
<p><strong>deaktiviert</strong> = Die Verknüpfung wird entfernt, d.h. das Merkmal wird nicht mehr mit den Artikeln verknüpft.</p>
</li>
<li>
<p><strong>--</strong> = Es wird keine Änderung vorgenommen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wird der interne Name des Merkmals angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-Selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um <a href="/artikel/webshop/cross-selling">Cross-Selling</a> zwischen diesem Artikel und anderen Artikeln mit dem gleichen Merkmal und Merkmalwert zu ermöglichen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_aktionen_3" class="discrete">Aktionen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die gewählten Artikel samt Varianten zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbilder löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um alle Artikelbilder der gewählten Artikel zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zweites Artikelbild löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um das zweite Artikelbild der gewählten Artikel zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing anlegen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um für die gewählten Artikel Listings auf eBay, Hood oder Ricardo zu erstellen.</p>
<p class="tableblock"><strong><em>Zusätzliche Einstellungen</em></strong>: Hast du eine <a href="/artikel/artikel-verwalten#_listing_voreinstellungen">Listing-Vorlage am Artikel hinterlegt</a>?
Die Listing-Vorlage bestimmt z.B., ob die Listings für eBay, Hood oder Ricardo gelten.
Hat der Artikel keine Listing-Vorlage, wird standardmäßig versucht, ein eBay-Angebot zu erstellen, da dies der häufigste Fall ist.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Stell dir vor, du möchtest ein Hood-Listing anlegen. In diesem Fall musst du eine Listing-Vorlage am Artikel hinterlegen.
plentymarkets weiß, dass es Hood Listings erstellen soll, weil das Hood-Konto in der Vorlage gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitstempel für Marktplatzexporte aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt den Zeitstempel <strong>Letzte Änderung</strong> auf das aktuelle Datum und die aktuelle Uhrzeit.</p>
<p class="tableblock"><strong><em>Hintergrund</em></strong>: Manchmal ist es notwendig, den Zeitstempel zu aktualisieren, z.B. <a href="/maerkte/amazon/best-practices-amazon-artikeldatenexport#200">wenn du die Artikel bei Amazon verkaufen willst</a>.
Der Grund dafür ist, dass Artikel nur dann nach Amazon exportiert werden, wenn sie innerhalb der letzten 24 Stunden bearbeitet wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ab Preis in Sets aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#3900">Artikelsets</a> relevant. Mit dieser Option kannst du den sogenannten "Ab-Preis" für mehrere Artikel gleichzeitig aktualisieren.</p></td>
</tr>
</tbody>
</table>
<h5 id="_versand_3" class="discrete">Versand</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alte Versandprofile löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um alte Versandprofile zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herstellungsland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Land wählen, in dem die Artikel hergestellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkonfiguration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und ein, mehrere oder <strong>ALLE</strong> Versandprofile aktivieren. Bereits aktivierte Profile mit der Einstellung <strong>Alte Versandprofile löschen</strong> entfernen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zustand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Zustand der Artikel wählen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_global_2" class="discrete">Global</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seriennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für Artikel mit Seriennummern relevant.
Mit dieser Option <a href="/artikel/anwendungsfaelle/seriennummern#900">ermöglichst du das Scannen</a> für mehrere Artikel gleichzeitig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelvorlage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für <a href="/artikel/webshop/callisto-vorlagen">Artikelvorlagen</a> relevant.
Mit dieser Option kannst du die Vorlage mit mehreren Artikeln gleichzeitig verknüpfen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Option gibst du den <a href="/artikel/einstellungen/hersteller">Hersteller</a> für mehrere Artikel gleichzeitig an.
Du verknüpfst also einen bestehenden Herstellerdatensatz mit mehreren Artikeln.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1;<br>
Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weist mehreren Artikeln gleichzeitig eine oder zwei Markierungen zu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlöskonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib bis zu 11 Ziffern für das <a href="/auftraege/buchhaltung#800">Erlöskonto</a> ein.</p></td>
</tr>
</tbody>
</table>
<h5 id="_freitextfelder_2" class="discrete">Freitextfelder</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Wert eingeben, um diesen Wert für die gewählten Artikel zu speichern.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">2.2. Varianten bearbeiten</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/assets/stapelverarbeitung-varianten.png" alt="stapelverarbeitung varianten">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Wende eine oder mehrere der <em>Bearbeitungsoptionen rechts</em> an.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Filter links</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen und eine ID eingeben, um nach der Variante mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator und gib eine <a href="/artikel/import-export-anlage/anlage/neue-artikel#intable-id">Artikel-ID</a> ein.
Alle Varianten der zutreffenden Artikel werden verarbeitet.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Gibst du &gt;= 205 ein, werden alle Varianten der Artikel 205, 206, 207 usw. verarbeitet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine <a href="/artikel/artikel-verwalten#intable-variantennummer">Variantennummer</a> ein.
Nur die Varianten mit einer zutreffenden Nummer werden verarbeitet.
Ein %-Zeichen kann für jedes beliebige Zeichen stehen.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Gibst du new-% ein, werden die Varianten verarbeitet, die eine Nummer beginnend mit new- haben, z.B. new-45, new-107, new-212.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Namen eines <a href="/artikel/artikel-verwalten#intable-hersteller">Herstellers</a> ein.
Es werden nur die Artikel verarbeitet, die von dieser Firma hergestellt werden.
Ein %-Zeichen kann für jedes beliebige Zeichen stehen.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Gibst du Eichmann% ein, werden alle Artikel verarbeitet, die von einer Firma beginnend mit Eichmann hergestellt werden, z.B. Eichmann-Block und Eichmann &amp; Block AG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1</strong>;<br>
<strong>Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine oder zwei <a href="/artikel/import-export-anlage/anlage/neue-artikel#intable-markierung">Markierungen</a>.
Artikel werden nur verarbeitet, wenn sie diese Markierung oder Kombination von Markierungen haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zustand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen <a href="/artikel/artikel-verwalten#intable-zustand">Zustand</a>.
Artikel werden nur verarbeitet, wenn sie diesen Zustand haben.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste entspricht nur den Zuständen [0] Neu und [1] Gebraucht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hauptvarianten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um nur Hauptvarianten zu bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ohne Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn du nur die Varianten verarbeiten möchtest, die in keiner Kategorie sortiert sind.</p>
<p class="tableblock"><strong><em>Betrifft nur ältere Systeme</em></strong>: In früheren plentymarkets Versionen konnten Artikel ohne Kategorieverknüpfung erstellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags wählen, um nur Varianten zu bearbeiten, die mit diesen Tags verknüpft sind.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicke auf eine Kategorie, um nur Varianten dieser Kategorie zu verarbeiten.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Liste enthält nur die <a href="/artikel/einstellungen/kategorien">Kategorien</a>, die du bereits in plentymarkets gespeichert hast.<br></p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Klicke ganz links auf das Ordner-Symbol (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) einer Kategorie, um die darin enthaltenen Unterkategorien zu sehen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Bearbeitungsoptionen rechts</strong></div>
<div class="content">
<h5 id="_marktplatz_verfügbarkeit_2" class="discrete">Marktplatz-Verfügbarkeit</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf welchen Marktplätzen möchtest du die Variante verkaufen?
Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) alle zutreffenden Märkte.</p>
<p class="tableblock">Entspricht den Optionen in:<br>
<a href="/artikel/artikel-verwalten#350">Untere Tab-Leiste » Tab: Verfügbarkeit » Bereich: Märkte</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_aktionen_4" class="discrete">Aktionen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die gewählte Varianten zu löschen.<br>
<strong><em>Hinweis</em></strong>: Wenn Hauptvarianten gewählt wurden, werden diese Hauptvarianten nicht gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitstempel für Marktplatzexporte aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt den Zeitstempel <strong>Letzte Änderung</strong> auf das aktuelle Datum und die aktuelle Uhrzeit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trotz negativem Nettowarenbestand für Mandanten verfügbar machen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht dem Schlosssymbol im <a href="/artikel/artikel-verwalten#360">Tab: Verfügbarkeit » Bereich: Mandant (Shop)</a>.</p>
<p class="tableblock"><strong><em>Hintergund-Info</em></strong>: plentymarkets kann Varianten automatisch aus dem plentyShop entfernen, wenn sie nicht mehr vorrätig sind. Dieser Automatismus wird durch die Einstellungen im <a href="/artikel/artikel-verwalten#360">Tab: Einstellungen » Bereich: Verfügbarkeit</a> gesteuert.</p>
<p class="tableblock">Verwende diese Gruppen-Funktion, wenn du die Variante manuell im plentyShop sichtbar machen möchtest, trotz fehlender Lagerbestände.</p>
<p class="tableblock">Diese Einstellung gilt, bis neuer Wareneingang für die Variante gebucht wird. Danach greifen die Einstellungen zur Nettowarenbestandsabhängigkeit erneut.</p></td>
</tr>
</tbody>
</table>
<h5 id="_tags_2" class="discrete">Tags</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um Tags mit den gewählten Varianten zu verknüpfen. Klicke in das Feld und wähle die Tags, die mit den Varianten verknüpft werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags entfernen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um Tag-Verknüpfungen für die gewählten Varianten zu entfernen. Klicke in das Feld und wähle die Tags, die von den Varianten entfernt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle Tags entfernen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um für die gewählten Varianten alle Tag-Verknüpfungen zu entfernen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_mandant_shop_zuordnen_2" class="discrete">Mandant (Shop) zuordnen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welchen plentyShops möchtest du die Variante verkaufen?
Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) alle zutreffenden Mandanten.</p>
<p class="tableblock">Entspricht den Optionen in:<br>
<a href="/artikel/artikel-verwalten#360">Untere Tab-Leiste » Tab: Verfügbarkeit » Bereich: Mandant (Shop)</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_preise_2" class="discrete">Preise</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preiskalkulation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine bereits erstellte <a href="/artikel/einstellungen/preise#1000">Preiskalkulation</a>.
Dadurch wird die Preiskalkulation mit den gewählten Varianten verknüpft. Die Preise der Varianten werden entsprechend berechnet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisänderung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bearbeitet die Preise aller gewählten Varianten. Wie genau die Preise bearbeitet werden, hängt davon ab, wie du die Einstellungen konfigurierst.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle einen Quell- und Zielpreis.</p>
</li>
<li>
<p>Wähle einen Operator und gib einen absoluten oder prozentualen Wert ein.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Du kannst auch nur die Operatoren auf einen Preis anzuwenden. Wähle dazu für Quelle und Ziel denselben Verkaufspreis.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Absolut</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator und gib einen absoluten Wert ein.<br>
= Der eingegebene Wert wird als neuer Preis gespeichert.<br>
+ Der bisherige Preis wird um den eingegebenen Betrag erhöht.<br>
- Der bisherige Preis wird um den eingegebenen Betrag gesenkt.<br>
/ Der bisherige Preis wird durch den eingegebenen Wert geteilt.<br>
* Der bisherige Preis wird mit dem eingegebenen Wert multipliziert.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator und gib einen Prozentwert ein.<br>
+ Der bisherige Preis wird um den eingegebenen Prozentwert erhöht.<br>
- Der bisherige Preis wird um den eingegebenen Prozentwert gesenkt.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quellpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Verkaufspreis aus der Dropdown-Liste, dessen Preis übernommen werden soll.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Verkaufspreis aus der Dropdown-Liste, der aktualisiert werden soll.<br></p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Wenn für den Zielverkaufspreis noch kein Preis an der Variante gespeichert ist, wird der Verkaufspreis verknüpft und der neue Preis gespeichert.<br></p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Bei aktivierter Vererbung wird die Vererbung aller Preise für die gewählten Varianten deaktiviert und alle Preise werden direkt an der Variante gespeichert.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<h5 id="_versand_4" class="discrete">Versand</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Portoaufschlag 1;<br>
Portoaufschlag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Wert eingeben, um den Portoaufschlag für die gewählten Varianten zu speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zolltarifnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren und <a href="/auftraege/buchhaltung#620">Zolltarifnummer</a> eingeben.
In plentymarkets ist es möglich, für jede Variante eine unterschiedliche Zolltarifnummer zu speichern.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: In manchen Ländern wird Kinderkleidung je nach Größe unterschiedlich besteuert.
In diesem Fall macht es Sinn, die Zolltarifnummer für jede einzelne Variante zu speichern.</p>
</div>
<div class="paragraph">
<p><strong><em>Vererbung</em></strong>: Die Zolltarifnummer wird automatisch von der Hauptvariante an die Untervarianten <a href="/artikel/einleitung/vererbung">vererbt</a>. Das heißt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>du brauchst keine Zolltarifnummern für deine Untervarianten einzugeben, wenn sie dieselbe Zolltarifnummer wie die Hauptvariante haben sollen.</p>
</li>
<li>
<p>gib eine abweichende Zolltarifnummer für alle Untervarianten ein, die sich von der Hauptvariante unterscheiden sollen.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h5 id="_sonstiges_2" class="discrete">Sonstiges</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und GTIN-Typ wählen, um für die gewählten Varianten GTINs dieses Typs <a href="/artikel/einstellungen/barcodes#600">aus Nummernkreis zu generieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht brutto;<br>
Gewicht netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Wert eingeben, um dieses Gewicht für die gewählten Varianten zu speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grundpreisanzeige</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn der Grundpreis im plentyShop angezeigt werden soll.</p></td>
</tr>
</tbody>
</table>
<h5 id="_verfügbarkeit_2" class="discrete">Verfügbarkeit</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten werden erst im plentyShop oder auf Marktplätzen sichtbar, wenn sie aktiviert wurden. Mit anderen Worten, kannst du an inaktiven Varianten arbeiten, ohne dass deine Kunden es merken.
Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die gewählten Varianten zu veröffentlichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Symbole 1-10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die passende Verfügbarkeitsstufe für die Varianten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unsichtbar: Immer unsichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der Option <strong>Artikelauflistung</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-artikelauflistung">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelauflistung: sichtbar wenn Netto-WB positiv</strong>;
<strong>Artikelauflistung: unsichtbar wenn kein Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der Option <strong>Artikelauflistung</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-artikelauflistung">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_bestand_2" class="discrete">Bestand</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der Option <strong>Beschränkung</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-beschraenkung">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hauptlager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Hauptlager für die gewählten Varianten wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldebestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Wert eingeben, bei dem eine Nachbestellung für die gewählten Varianten erfolgen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximalbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Wert eingeben, um den Bestand der gewählten Varianten zu begrenzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerreichweite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Zeitraum in Tagen eingeben, den der Warenbestand der gewählten Varianten bis zur nächsten Nachbestellung reichen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerorttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Lagerorttyp je nach Größe der gewählten Varianten wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, Lager wählen und Zone für die gewählten Varianten wählen, wenn das Lager in Zonen eingeteilt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbar bei positivem Netto-WB</strong>;<br>
<strong>Nicht verfügbar bei keinem Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht den Optionen <strong>Anzeige im Webshop: Automatisch verfügbar, wenn Netto-WB positiv</strong> und <strong>Anzeige im Webshop: Automatisch nicht verfügbar, wenn kein Netto-WB</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-webshop-verfuegbar">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop: sichtbar bei positivem Netto-WB</strong>;<br>
<strong>Webshop: unsichtbar bei keinem Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht den Optionen <strong>Mandant: Automatisch sichtbar, wenn Netto-WB positiv</strong> und <strong>Mandant: Automatisch unsichtbar, wenn kein Netto-WB</strong> in:<br>
<a href="/artikel/artikel-verwalten#intable-webshop-verfuegbar">Untere Tab-Leiste » Tab: Einstellungen » Bereich: Verfügbarkeit</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_kategorie_2" class="discrete">Kategorie</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und Kategorie wählen. Die gewählten Varianten werden mit der Kategorie verknüpft. Bereits vorhandene Kategorieverknüpfungen bleiben bestehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alte Kategorieverknüpfung löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um alte Kategorieverknüpfungen der gewählten Varianten zu löschen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_automatisch_aus_paketbestandteilen_berechnen_2" class="discrete">Automatisch aus Paketbestandteilen berechnen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EK netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettoeinkaufspreis automatisch berechnen.<br>
Diese Einstellung ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">Artikelpakete</a> relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GLD EK netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gleitenden Nettoeinkaufspreis automatisch berechnen.<br>
Diese Einstellung ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">Artikelpakete</a> relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht brutto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttogewicht automatisch berechnen.<br>
Diese Einstellung ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">Artikelpakete</a> relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogewicht automatisch berechnen.<br>
Diese Einstellung ist nur für <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2500">Artikelpakete</a> relevant.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="650">3. Import &amp; Export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutze den Import &amp; Export, wenn du z.B. viele Artikel und Varianten gleichzeitig anpassen willst.
Exportiere eine CSV-Datei, die mit Produktdaten gefüllt ist.
Dann überarbeite die Datei und importiere sie wieder.</p>
</div>
<h3 id="_ablauf" class="discrete">Ablauf</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die nötigen Plugins herunter:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Elastischer Export</p>
</li>
<li>
<p>FormatDesigner</p>
</li>
</ol>
</div>
</li>
<li>
<p>Erstelle sogenannte Datenformate mit Hilfe des FormatDesigners.</p>
</li>
<li>
<p>Richte den elastischen Export ein. Wähle dabei das soeben erstellte Datenformat aus.</p>
</li>
<li>
<p>Exportiere die CSV-Datei, überarbeite diese und importiere sie wieder in plentymarkets.</p>
</li>
</ol>
</div>
<h3 id="_weiterführende_informationen" class="discrete">Weiterführende Informationen</h3>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Elastischer Export</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Plugin: Elastischer Export</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/elastischer-export">Einrichung und Verwendung</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/best-practices-elastischer-export">Fehlerbehebung</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/dropshipping-elasticexport-bp">Praxisbeispiel</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">FormatDesigner</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/formatdesigner_6483" target="_blank" rel="noopener">Plugin: FormatDesigner</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/FormatDesigner">Eigene Datenformate erstellen</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/FormatDesigner/format-typen">Liste der verfügbaren Formattypen</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Import-Tool</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-importieren/ElasticSync">Import-Tool nutzen</a></p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen">Liste der verfügbaren Importtypen</a></p>
</li>
<li>
<p><a href="/daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-variantenanlage">Praxisbeispiel: Neue Artikel und Varianten importieren</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Suchen &amp; Ersetzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stell dir vor, du hast gerade erfahren, dass dein Hersteller ein Zubehörteil umbenannt hat.
Jetzt ist es an dir, den Namen in allen Artikeltexten zu ändern.</p>
</div>
<div class="paragraph">
<p>Verwende die Suchen &amp; Ersetzen-Funktion, um ein Wort oder eine Formulierung global in allen Artikeltexten anzupassen.
Mit anderen Worten, suche nach einem bestimmten Artikeltext in der Datenbank und ersetze die Ergebnisse mit neuen Texten.</p>
</div>
<div class="paragraph instruction">
<p>Artikeltexte suchen und ersetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Suchen &amp; Ersetzen</strong>.</p>
</li>
<li>
<p>Wähle das Datenbankfeld.</p>
</li>
<li>
<p>Gib einen Suchbegriff in das erste Feld ein. Beachte die Groß-/Kleinschreibung.</p>
</li>
<li>
<p>Gib einen neuen Text in das zweite Feld ein.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Anzahl der gefundenen Artikel wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Alle ersetzen</strong>.<br>
→ Alle Texte werden durch die neuen Texte ersetzt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">5. Artikel und Varianten kopieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stell dir vor, du willst einen neuen Artikel zu deinem Sortiment hinzufügen.
Er ist einem bestehenden Produkt recht ähnlich.
Kopiere in diesem Fall das bestehende Produkt.
Ändere danach die abweichenden Einstellungen für den neuen Artikel.</p>
</div>
<div class="paragraph instruction">
<p>Artikel kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel.</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong> (<span class="icon yellow"><i class="psicon-copy"></i></span>) in der oberen Symbolleiste.<br>
→ Das Fenster <strong>Kopieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="psicon-save"></i></span> <strong>Kopieren</strong>.<br>
→ Der Artikel wird kopiert und in einem neuen Tab geöffnet.</p>
</li>
</ol>
</div>
<h5 id="_was_wird_genau_kopiert" class="discrete">Was wird genau kopiert?</h5>
<div class="paragraph">
<p>Es wird eine Kopie des Artikels und seiner Varianten erstellt.
Du kannst den neuen Artikel <a href="/artikel/artikel-verwalten">weiter bearbeiten</a>.
Prüfe z.B. die <a href="/artikel/artikel-verwalten#240">Verkaufspreise</a>, <a href="/artikel/artikel-verwalten#250">Barcodes</a> und <a href="/artikel/artikel-verwalten#200">Verfügbarkeiten</a> besonders sorgfältig und passe sie bei Bedarf an.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Wird kopiert</th>
<th class="tableblock halign-left valign-top">Wird nicht kopiert</th>
<th class="tableblock halign-left valign-top">Wird automatisch vergeben</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Artikeldaten, die du im Tab <strong>Global</strong> eingibst</p>
</li>
<li>
<p>Artikeltexte</p>
</li>
<li>
<p>Freitextfelder</p>
</li>
<li>
<p>Merkmale</p>
</li>
<li>
<p>Bilder</p>
</li>
<li>
<p>Cross-Selling-Einstellungen</p>
</li>
<li>
<p>Verkaufspreise samt hinterlegter Werte</p>
</li>
<li>
<p>Barcodes samt hinterlegter Werte</p>
</li>
<li>
<p>Artikelpakete</p>
</li>
<li>
<p>Eigenschaften</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Listings</p>
</li>
<li>
<p>Media-Dateien</p>
</li>
<li>
<p>Verfügbarkeit der Hauptvariante, d.h. der Artikel wird deaktiviert</p>
</li>
<li>
<p>Maße</p>
</li>
<li>
<p>Kosten</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Eine neue Artikel-ID wird vergeben.</p>
</li>
<li>
<p>Neue Varianten-IDs werden vergeben.</p>
</li>
<li>
<p>Neue Variantennummern werden vergeben.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Varianten können auch kopiert werden!</div>
<div class="paragraph">
<p>Kopiere eine Variante, um sie in verschiedenen Mengen anzubieten. Sämtliche Variantendaten werden beim Kopieren übernommen. Hauptvarianten können nicht kopiert werden.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/artikel/einleitung/suche#400">Suche</a> und öffne eine Variante (Ausnahme: die Hauptvariante).</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong> <span class="icon yellow"><i class="psicon-copy"></i></span> in der unteren Symbolleiste.<br>
→ Das Fenster <strong>Kopieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Inhalt ein und wähle die Einheit.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="psicon-save"></i></span> <strong>Kopieren</strong>.<br>
→ Die Variante wird kopiert und in einem neuen Tab geöffnet.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>