<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_introduction"><span>1.</span><span> Introduction</span></a></li>
<li><a href="#_event_procedures"><span>2.</span><span> Event procedures</span></a></li>
<li><a href="#_processes"><span>3.</span><span> Processes</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Automate your routine tasks! plentymarkets gives you the power to knock out day-to-day tasks at the speed of light.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_introduction">1. Introduction</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/automation/introduction">Introduction</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_event_procedures">2. Event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/automation/event-procedures/introduction">Introduction to event procedures</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/event-procedures/fulfill-orders">Using event procedures to automatically fulfill orders</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/event-procedures/tracking-url">Event procedure for sending tracking URLs</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/event-procedures/free-gift">Event procedure for adding free gifts</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_processes">3. Processes</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/automation/processes/plentybase">Installing plentyBase</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/printer">Linking your printer to plentymarkets</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/creating-starting">Creating and starting processes</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/work-steps">What are work steps?</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/procedures">What are procedures and sub-procedures?</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/import-export">Importing and exporting processes</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/control-elements">Introduction to control elements in processes</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/loop">Loop - The cyclical control element</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/split">Split - Sending processes down two different paths</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/filter">Filter - Sift through input in a process</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/dialogue">Dialog - Letting employees decide how a process continues</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/example-multi">Example process - Multi-order picking</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation/processes/example-single">Example process - Single order picking</a></p>
</div>
</div>
</div>
</main>