<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_introduction"><span>1.</span><span> Introduction</span></a></li>
<li><a href="#_basics"><span>2.</span><span> Basics</span></a></li>
<li><a href="#_extra_features"><span>3.</span><span> Extra features</span></a></li>
<li><a href="#_case_examples"><span>4.</span><span> Case examples</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Data transfer</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Whether you want to import new items into your system or keep existing information up to date – plentymarkets provides you with the proper tools!</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_introduction">1. Introduction</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/data-transfer/introducing-elasticsync">Introducing ElasticSync!</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_basics">2. Basics</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/data-transfer/basics/importing-data-with-elasticsync">Using ElasticSync to import data</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/data-transfer/basics/manually-importing-files">Manually importing a file one time</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/data-transfer/basics/automatically-importing-files">Automatically importing files</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_extra_features">3. Extra features</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/data-transfer/extra-features/extra-information-sync">Adding extra information to your sync</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/data-transfer/extra-features/trading-information">Trading one piece of information for another</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/data-transfer/extra-features/modifying-information">Modifying the information in your sync</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_case_examples">4. Case examples</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/data-transfer/case-examples/import-export">Importing and exporting syncs</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/data-transfer/case-examples/creating-items-with-variations">Creating items with variations</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/data-transfer/case-examples/importing-order-information">Importing order information</a></p>
</div>
</div>
</div>
</main>