<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Items</h1><div class="paragraph">
<p>See just how easy it is to save items in plentymarkets and get your online business started! Learn about the many options for structuring items.</p>
</div><h4 id="_introducing_the_item_structure" class="discrete">Introducing the item structure</h4><div class="ulist">
<ul>
<li>
<p><a href="/en/videos/items/structure">Item structure and import options</a></p>
</li>
<li>
<p><a href="/en/videos/items/inheritance">Inheritance</a></p>
</li>
</ul>
</div><h4 id="_preparatory_settings" class="discrete">Preparatory settings</h4><div class="ulist">
<ul>
<li>
<p><a href="/en/videos/items/attributes">Attributes</a></p>
</li>
<li>
<p><a href="/en/videos/items/sales-prices">Sales prices</a></p>
</li>
<li>
<p><a href="/en/videos/items/create-categories">Categories</a></p>
</li>
</ul>
</div><h4 id="_import_export_and_manual_processing" class="discrete">Import, export and manual processing</h4><div class="ulist">
<ul>
<li>
<p><a href="/en/videos/items/mandatory-settings">Mandatory settings and important item data</a></p>
</li>
<li>
<p><a href="/en/videos/items/create-item">Manually creating an item</a></p>
</li>
<li>
<p><a href="/en/videos/items/main-variation">Item - Tab: Main variation</a></p>
</li>
<li>
<p><a href="/en/videos/items/global">Item - Tab: Global</a></p>
</li>
<li>
<p><a href="/en/videos/data-transfer/case-examples/creating-items-with-variations">Practical example: Creating items and variations</a></p>
</li>
</ul>
</div>
</main>