<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_introduction"><span>1.</span><span> Introduction</span></a></li>
<li><a href="#_user_accounts"><span>2.</span><span> User accounts</span></a></li>
<li><a href="#_sending_and_receiving_emails"><span>3.</span><span> Sending and receiving emails</span></a></li>
<li><a href="#_accounting_and_invoicing"><span>4.</span><span> Accounting and invoicing</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Personalisation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Make plentymarkets yours! Save your company information, create user accounts for staff members, and link your email account with plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_introduction">1. Introduction</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/personalisation/company-data">Company data made easy</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_user_accounts">2. User accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/personalisation/user-accounts/password-rules">Defining custom password rules for your staff members</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_sending_and_receiving_emails">3. Sending and receiving emails</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/personalisation/emails/mailboxorg">Creating mailbox.org email accounts</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation/emails/link-email-acount">Linking your email account with plentymarkets</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation/emails/email-templates">Creating email templates</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation/emails/template-variables-if-queries">Template variables and if queries for emails</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation/emails/automatic-despatch">Automatically sending email templates</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_accounting_and_invoicing">4. Accounting and invoicing</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/personalisation/accounting-invoicing/locations">Locations - An introduction</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation/accounting-invoicing/locations-accounting">Locations - Accounting</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation/accounting-invoicing/invoice">Set up your invoice</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation/accouting-invoicing/sepa-direct-debit-mandate">SEPA direct debit mandate</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation/accounting-invoicing/numbers">Managing numbers</a></p>
</div>
</div>
</div>
</main>