<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_introduction"><span>1.</span><span> Introduction</span></a></li>
<li><a href="#_setting_up_pos"><span>2.</span><span> Setting up POS</span></a></li>
<li><a href="#_working_with_the_app"><span>3.</span><span> Working with the app</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>POS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>It only takes a few minutes to set up a point of sale system in plentymarkets and get started with your brick and mortar store!</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_introduction">1. Introduction</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/pos/introduction">Introduction</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_pos">2. Setting up POS</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/pos/setting-up-pos/backend">Setting up your point of sale system</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/pos/setting-up-pos/app">Installing the plentymarkets app and linking it to your POS system</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/pos/setting-up-pos/card-terminals">Linking credit and debit card terminals to your POS system</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/pos/setting-up-pos/miscellaneous">Selling miscellaneous items that aren’t in your system</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_working_with_the_app">3. Working with the app</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/pos/working-with-app/ringing-up-customers">Ringing up customers with the plentymarkets app</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/pos/working-with-app/deposits-withdrawals">Booking cash deposits and withdrawals</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/pos/working-with-app/cash-on-hand">Documenting your cash on hand</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/pos/working-with-app/z-report">Creating Z reports</a></p>
</div>
</div>
</div>
</main>