<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Key figures</h1><p>Welcome to the topic Key figures. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/business-decisions/plenty-bi/key-figures/sales-volume">Sales volume</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/orders">Orders</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/orders-live">Orders (Live)</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/marketplacestockinformation">Marketplace stock information</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/messages">Messages</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/return-rate">Return rate</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/gross-revenue">Gross revenue</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/revenue">Revenue</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/VAT-total">VAT total</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/marketplacevariationvalidations">Marketplace Variation Validation</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/shipping-revenue">Shipping revenue</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/average-number-of-order-items">Average number of order items</a></li><li><a href="/en/business-decisions/plenty-bi/key-figures/average-order-value">Average order value</a></li></ul>
</main>