<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Raw data</h1><p>Welcome to the topic Raw data. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/business-decisions/plenty-bi/reports/manage-reports">Managing reports</a></li><li><a href="/en/business-decisions/plenty-bi/reports/data-formats">Data formats</a></li></ul>
</main>