<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_erläuterungen_zu_den_daten"><span>1.</span><span> Erläuterungen zu den Daten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>API-Daten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Die API-Daten werden vom System automatisch hinterlegt und können, mit Ausnahme von SOAP Namespace, nicht bearbeitet werden. Hier finden Sie Ihren System-Host, alle offenen Schnittstellen, über die Daten aus dem System ausgelesen oder in das System importiert werden können sowie interne System- und Kundendaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_erläuterungen_zu_den_daten">1. Erläuterungen zu den Daten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der folgenden Tabelle werden die Felder des Menüs <strong>Einstellungen » Grundeinstellungen » API-Daten</strong> erläutert.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Host</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die System-URL</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SOAP WSDL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Dieser Endpunkt der <strong><a href="/datenaustausch/soap-api">SOAP API</a></strong> wird immer entsprechend der aktuellen Version angezeigt, auch wenn noch ältere Versionen unterstützt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SOAP WSDL C#</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Dieser Endpunkt der <strong><a href="/datenaustausch/soap-api">SOAP API</a></strong> wird immer entsprechend der aktuellen Version angezeigt, auch wenn noch ältere Versionen unterstützt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SOAP Namespace</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Pro plentymarkets-System kann ein individueller SOAP-Namespace eingetragen werden. Der Standard-Namespace ist weiterhin die System-URL der API-Version, die oben unter <strong>SOAP-WSDL</strong> hinterlegt ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PlentyToken</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der PlentyToken wird zur Verknüpfung von plentymarkets mit den Tools, plentymarkets Shipping und plentyConnect, verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WebToken</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der WebToken wird von externen Dienstleistern verwendet, die mit der alten plentymarkets Schnittstelle verbunden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PlentyID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die interne plentymarkets System-ID</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ihre Kunden-ID bei plentymarkets.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Das Menü <strong>API-Daten</strong></em></p>
</div>
</div>
</div>
</main>