<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_erläuterungen_zu_den_daten"><span>1.</span><span> Erläuterungen zu den Daten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>API-Daten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Die API-Daten werden vom System automatisch hinterlegt und können, mit Ausnahme von SOAP Namespace, nicht bearbeitet werden. Hier finden Sie Ihren System-Host, alle offenen Schnittstellen, über die Daten aus dem System ausgelesen oder in das System importiert werden können sowie interne System- und Kundendaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_erläuterungen_zu_den_daten">1. Erläuterungen zu den Daten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der folgenden Tabelle werden die Felder des Menüs <strong>System » Einstellungen » API » Daten</strong> erläutert.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Host</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die System-URL</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP WSDL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Endpunkt der SOAP API wird immer entsprechend der aktuellen Version angezeigt, auch wenn noch ältere Versionen unterstützt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP WSDL C#</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Endpunkt der SOAP API wird immer entsprechend der aktuellen Version angezeigt, auch wenn noch ältere Versionen unterstützt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP Namespace</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pro plentymarkets-System kann ein individueller SOAP-Namespace eingetragen werden. Der Standard-Namespace ist weiterhin die System-URL der API-Version, die oben unter <strong>SOAP-WSDL</strong> hinterlegt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PlentyToken</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der PlentyToken wird zur Verknüpfung von plentymarkets mit den Tools, plentymarkets Shipping und plentyConnect, verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WebToken</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der WebToken wird von externen Dienstleistern verwendet, die mit der alten plentymarkets Schnittstelle verbunden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PlentyID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die interne plentymarkets System-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ihre Kunden-ID bei plentymarkets.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Das Menü <strong>API-Daten</strong></em></p>
</div>
</div>
</div>
</main>