<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Datenformat erstellen</span></a></li>
<li><a href="#20"><span>2.</span><span> Dynamischen Import nutzen</span></a></li>
<li><a href="#130"><span>3.</span><span> Amazon-Herstellerartikeldaten importieren</span></a></li>
<li><a href="#210"><span>4.</span><span> eBay-Listings importieren</span></a></li>
<li><a href="#_anwendungsbeispiel_artikel_erstellen_und_artikeldaten_anpassen"><span>5.</span><span> Anwendungsbeispiel: Artikel erstellen und Artikeldaten anpassen</span></a></li>
<li><a href="#60"><span>6.</span><span> Anwendungsbeispiel: Varianten importieren</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>6.1.</span><span> Artikel importieren</span></a></li>
<li><a href="#80"><span>6.2.</span><span> Attribute und Attributwerte importieren</span></a></li>
<li><a href="#90"><span>6.3.</span><span> Attribute mit dem Artikel verknüpfen</span></a></li>
<li><a href="#100"><span>6.4.</span><span> Varianten erstellen</span></a></li>
</ul>
</li>
<li><a href="#120"><span>7.</span><span> Anwendungsbeispiel: Warenbestand importieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Daten importieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite befasst sich mit dem manuellen Datenimport im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>. Ein Import von Daten ist ratsam, wenn Sie z.B. neue Artikel, Kundendaten oder Lagerbestände in Ihr plentymarkets System einpflegen möchten und die Daten bereits digital vorliegen. Beachten Sie, dass pro Import maximal 6000 Datensätze möglich sind.<br>
In den letzten Kapiteln auf dieser Handbuchseite werden Anwendungsbeispiele beschrieben.</p>
</div>
<div class="paragraph">
<p>Eine Einführung zum dynamischen Import erhalten Sie im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/119849465" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Datenformat erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat, das Sie importieren, muss der Konfiguration des Datenformats in plentymarkets entsprechen, damit die Daten zugeordnet werden. Hierzu gehört auch, dass die Schreibweise der Datenfelder der Schreibweise in plentymarkets entspricht. Auf der Handbuchseite eines <strong><a href="/basics/datenaustausch/datenformate">Datenformats  </a></strong> finden Sie die Namen der Datenfelder aufgelistet. Beachten Sie auch die Hinweise zur Angabe von Pflichtfeldern und Abgleichfeldern. Sie haben die Möglichkeit, mit Hilfe eines Tabellenkalkulationsprogramms selbst eine Datei für den Import zu erstellen.</p>
</div>
<div class="paragraph">
<p>Sie können sich diese Arbeit erheblich erleichtern, indem Sie das Datenformat vorab in eine Datei exportieren, Ihre Daten in der Datei bearbeiten und diese dann wieder importieren. Diese Vorgehensweise ist nur bei Datenformaten möglich, die sowohl einen Import als auch einen Export erlauben. Weitere Informationen zum Umgang mit Export- und Importdateien finden Sie im Kapitel <strong><a href="/basics/datenaustausch/daten-exportieren#05">Datei für den Datenaustausch anpassen </a></strong> auf der Handbuchseite <strong>Daten exportieren</strong>. Gehen Sie wie im Folgenden beschrieben vor, um Ihre Daten in eine Datei zu exportieren:</p>
</div>
<div class="paragraph instruction">
<p>Datenformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Datenaustausch » Export » Dynamischer Export</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Neues Datenformat</strong>.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Datenformat-Typ</strong> aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Ändern Sie ggf. den automatisch vergebenen <strong>Datenformatsname</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Datenfelder, die in der Exportdatei vorhanden sein sollen.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Importaktion</strong> pro Datenfeld.<br>
→ Beachten Sie die Hinweise zu Abgleichfeldern auf den Unterseiten der Handbuchseite <strong><a href="/basics/datenaustausch/datenformate">Datenformate  </a></strong>.</p>
</li>
<li>
<p>Wählen Sie ggf. <strong>Filter</strong> oder <strong>Aktionen</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie das Datenformat.<br>
→ Die Reihenfolge der Datenfelder wird anhand der Werte in der Spalte <strong>Position</strong> gespeichert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Importaktionen für Datenfelder wählen[#25]</div>
<div class="paragraph">
<p>Bei einem Datenformat stehen für die Datenfelder die Importaktionen <strong>Abgleich</strong> und <strong>Import</strong> zur Verfügung.<br>
Mit der Einstellung <strong>Import</strong> werden die Daten, importiert - unabhängig davon, ob bereits Daten vorhanden sind oder nicht. Das bedeutet, dass die Daten bei einem Import eventuell überschrieben werden. Mit der Einstellung <strong>Abgleich</strong> wird das Datenfeld vor einem Import mit bereits im System vorhandenen Daten abgeglichen. Die Daten werden nur importiert, wenn noch keine Daten vorhanden sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Dynamischen Import nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der dynamische Datenimport erfolgt im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>. Sie können hier selbst erstellte Dateien oder die Datenformate, die Sie im Menü <strong>Datenaustausch » Export » Dynamischer Export</strong> erstellt haben (sog. Kundenformate), wieder importieren. Im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong> stehen Ihnen neben den Kundenformaten im Dropdown-Menü <strong>Format</strong> drei Spezialformate zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>das Spezialformat <strong>IncomingItems</strong>, mit dem sie Wareneingangsdaten importieren</p>
</li>
<li>
<p>das Spezialformat <strong>ItemAttribute</strong>, mit dem Sie Artikel und Attribute verknüpfen</p>
</li>
<li>
<p>das Spezialformat <strong>ItemParcelServicePreset</strong>, mit dem Sie Versandprofile importieren</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Spezialformate sind reine Importformate und stehen daher nur im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong> zur Verfügung. Der Import der Spezialformate funktioniert auf die gleiche Weise, wie Sie auch die anderen Datenformate importieren. Die Vorgehensweise wird im Folgenden beschrieben.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Spaltenkopfbezeichnungen prüfen und anpassen</div>
<div class="paragraph">
<p>Wenn Daten aus einem externen System importiert werden sollen oder Sie Datei selbst erstellt haben, müssen die Spaltenkopfbezeichnungen in der Datei mit der von plentymarkets vorgegebenen Schreibweise der Datenfelder (Feldnamen) exakt übereinstimmen.<br>
Kann plentymarkets beim Import keine Zuordnung zu einer gewählten Exportvariante herstellen, wird der Import mit einer Fehlermeldung abgebrochen. Die Fehlermeldung finden Sie im Bereich <strong>Bearbeitungsstatus</strong>. Prüfen Sie die Spaltenkopfbezeichnungen der zu importierenden Datei und passen Sie diese bei Bedarf an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Daten per dynamischen Import importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Import</strong>.</p>
</li>
<li>
<p>Prüfen Sie, ob die importierten Daten im System angelegt wurden.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bearbeitungsstatus</div>
<div class="paragraph">
<p>Nachdem Sie die Datei importiert haben, erhalten Sie eine Meldung im Bereich <strong>Bearbeitungsstatus</strong>. Wenn Datenzeilen erfolgreich importiert wurden, wird die Anzahl der importierten Zeilen angegeben. Im Fehlerfall steht dort der Eintrag <strong>0</strong> und eine Fehlermeldung wird angezeigt. Prüfen Sie das Feldtrennzeichen oder die Codierung der Datei. Die Datei sollte immer UTF-8-codiert sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beachten Sie, dass die Einstellungen, die Ihnen angezeigt werden, abhängig sind von dem Datenformat, das Sie für den Import gewählt haben. Für das Datenformat <strong>Stock</strong> z.B. wählen Sie statt einer Abgleichoption das <strong>Lager</strong> und den <strong>Barcode</strong>. Die Einstellungen, die in Tabelle 1 beschrieben sind, gelten für die Mehrheit der Datenformate.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einstellungen im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Feldtrennzeichen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Feldtrennzeichen wählen, das in der Importdatei eingestellt ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datenformat wählen, das Sie für den Datenimport vorbereitet haben.<br>
<strong><em>Hinweis</em></strong>: Je nachdem, welches Datenformat Sie hier wählen, ändern sich die folgenden Einstellungen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wenn beim Abgleich keine Übereinstimmung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine der folgenden Optionen wählen: <br>
<strong>Neuen Datensatz anlegen</strong> = Wenn die zu importierenden Daten noch nicht im System vorhanden sind.<br>
<strong>Vorhandenen Datensatz überspringen</strong> = Wenn beim Abgleich vorhandene Daten nicht überschrieben werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datei</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Importdatei vom Speicherort wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Erfahren Sie mehr über die Informationen im Bereich <strong>Bearbeitungsstatus</strong>, mögliche Fehlermeldungen und deren Ursachen im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/141644702" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="130">3. Amazon-Herstellerartikeldaten importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong> im Bereich <strong>Amazon-Herstellerartikeldaten-Import</strong> importieren Sie Ihre Artikel im Amazon-Datenformat in Ihr plentymarkets System. Wie Sie dazu vorgehen, ist auf der Handbuchseite von <strong><a href="/omni-channel/multi-channel/amazon">Amazon  </a></strong> im Kapitel <strong><a href="/omni-channel/multi-channel/amazon#310">Herstellerartikeldaten von Amazon importieren </a></strong> beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="210">4. eBay-Listings importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Datenaustausch » Import » eBay-Listings</strong> importieren Sie eBay-Listings. Es wird sowohl ein Artikelstammdatensatz als auch ein Listing in plentymarkets erstellt. Im Bereich <strong>Bearbeitungsstatus</strong> haben Sie während des Importprozesses Einsicht in den aktuellen Verlauf des Imports. Wie Sie die Listings importieren, ist auf der Handbuchseite von <strong><a href="/omni-channel/multi-channel/ebay">eBay  </a></strong> im Kapitel <strong><a href="/omni-channel/multi-channel/ebay#11000">eBay-Listings importieren </a></strong> beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_anwendungsbeispiel_artikel_erstellen_und_artikeldaten_anpassen">5. Anwendungsbeispiel: Artikel erstellen und Artikeldaten anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Datenaustausch</strong> erstellen Sie Artikel oder ändern bestehende Artikeldaten. Diese Funktion bietet sich an, wenn Sie z.B. Artikellisten von Ihrem Lieferanten in plentymarkets importieren möchten oder den Preis Ihrer Artikeln anpassen möchten. Erstellen Sie zunächst das Datenformat <strong>Item</strong> im Menü <strong>Datenaustausch » Export » Dynamischer Export</strong>. Exportieren Sie dann die Daten in eine Datei und bearbeiten Sie die Daten in der Datei. Abschließend importieren Sie diese Datei im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr über das Erstellen und Aktualisieren von Artikeldaten im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/140275175" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Anwendungsbeispiel: Varianten importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Variantenimport erfolgt nicht automatisch mit dem Import Ihrer Artikel. Die folgenden Voraussetzungen müssen erfüllt sein, damit Sie Varianten erstellen und diese dann in Ihr plentymarkets System importieren können:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel müssen erstellt sein</p>
</li>
<li>
<p>Attribute und Attributwerte müssen erstellt sein</p>
</li>
<li>
<p>Attribute müssen mit dem Artikel verknüpft sein</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn die drei oben genannten Voraussetzungen erfüllt sind und Sie bereits Artikel, Attribute und Attributwerte erstellt haben und diese miteinander verknüpft haben, fahren Sie fort mit dem Kapitel <a href="/basics/datenaustausch/daten-importieren#100"><strong>Varianten erstellen</strong> </a>.</p>
</div>
<div class="paragraph">
<p>Wie Sie die genannten Voraussetzungen mit Hilfe von Importen realisieren und welche Datenformate Sie dafür nutzen, erfahren Sie in den folgenden Kapiteln. Im Folgenden finden Sie eine Schnellübersicht der notwendigen Datenformate:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Datenformat <strong>Item</strong> zum <a href="/basics/datenaustausch/daten-importieren#70"><strong>Import von Artikeln</strong> </a></p>
</li>
<li>
<p>Datenformat <strong>Attribute</strong> zum <a href="/basics/datenaustausch/daten-importieren#80"><strong>Import von Attributen und Attributwerten</strong> </a></p>
</li>
<li>
<p>Datenformat <strong>ItemAttribute</strong> zur <a href="/basics/datenaustausch/daten-importieren#90"><strong>Verknüpfung von Artikeln mit Attributen</strong> </a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="70">6.1. Artikel importieren</h3>
<div class="paragraph">
<p>Artikel werden mit dem Datenformat <strong>Item</strong> erstellt. Erstellen Sie das Datenformat im Menü <strong>Datenaustausch » Export » Dynamischer Export</strong>. Beachten Sie die Hinweise zu den Pflichtfeldern auf der Handbuchseite <strong><a href="/basics/datenaustausch/datenformate/item">Item  </a></strong>.</p>
</div>
<div class="paragraph">
<p>Importieren Sie nun die Artikel. Die Artikel stehen im Menü <strong>Artikel » Artikel bearbeiten</strong> zur weiteren Bearbeitung zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Artikel importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Wählen Sie das Trennzeichen, das Sie bei der Erstellung der Datei eingestellt haben.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Format</strong> das Datenformat, das Sie für den Artikel angelegt haben.</p>
</li>
<li>
<p>Wählen Sie eine Option unter <strong>Wenn beim Abgleich keine Übereinstimmung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wählen Sie die Datei, die importiert werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Import</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="80">6.2. Attribute und Attributwerte importieren</h3>
<div class="paragraph">
<p>Attribute und Attributwerte werden mit dem Datenformat <strong>Attribute</strong> erstellt. Erstellen Sie das Datenformat im Menü <strong>Datenaustausch » Export » Dynamischer Export</strong>. Beachten Sie die Hinweise zu den Pflichtfeldern auf der Handbuchseite <strong><a href="/basics/datenaustausch/datenformate/attribute">Attribute  </a></strong>.</p>
</div>
<div class="paragraph">
<p>Importieren Sie nun die Attribute sowie die Attributwerte. Die Attribute und die Attributwerte stehen im Menü <strong><a href="/artikel/artikel-verwalten#390">Einstellungen » Artikel » Attribute </a></strong> zur weiteren Bearbeitung zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Attribute und Attributwerte importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Wählen Sie das Trennzeichen, das Sie bei der Erstellung der Datei eingestellt haben.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Format</strong> das Datenformat, das Sie für das Attribut angelegt haben.</p>
</li>
<li>
<p>Wählen Sie eine Option unter <strong>Wenn beim Abgleich keine Übereinstimmung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wählen Sie die Datei, die importiert werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Import</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">6.3. Attribute mit dem Artikel verknüpfen</h3>
<div class="paragraph">
<p>Das Spezialformat <strong>ItemAttribute</strong> dient ausschließlich zum Import von Verknüpfungen zwischen Attributen und Artikeln. Ein Exportformat ist daher nicht vorhanden. Sie müssen dieses Datenformat nicht erstellen. Es steht als Spezialformat im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong> zur Verfügung. Beachten Sie die Erläuterungen zu den Datenfeldern in Tabelle 2.</p>
</div>
<div class="paragraph">
<p>Die Verknüpfung erfolgt anhand der Pflichtfelder <strong>item_id</strong> und <strong>attribute_list</strong>. Bei der Verknüpfung werden dem Artikel die Attribute zugewiesen und gleichzeitig für den Artikel aktiviert.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Datenfelder des Datenformats <strong>ItemAttribute</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Datenfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>attribute_list</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Attributwerte.<br>
Hash-Aufbau: Attribut1:Wert1:Aufpreis;Attribut2:Wert2:Aufpreis<br>
<strong>Attribut1</strong> = Name des Attributs.<br>
<strong>Wert1</strong> = Name des Wertes des Attributs.<br>
(Optional) <strong>Aufpreis</strong> = Betrag des Aufpreises des Wertes in Euro (Euro und Cent getrennt durch einen Punkt).<br>
<em><strong>Beispiel</strong></em>: <strong>Hutgröße:54:2.00</strong> (Backend-Attributname:Backend-Wertname:Aufpreis). Im Attributnamen oder im Namen des Wertes darf kein Doppelpunkt verwendet werden, da dies zu einem fehlerhaften Datenimport führen würde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>external_item_id</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Externe Artikel-ID</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ean</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>EAN des Artikels zur Artikelbestimmung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>item_id</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Artikel-ID</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>item_no</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Artikelnummer</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Pflichtfelder</div>
<div class="paragraph">
<p>Pflichtfelder für den Datenimport: <strong>attribute_list</strong> und <strong>item_id</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Attribute verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Wählen Sie das Trennzeichen, das Sie bei der Erstellung der Datei eingestellt haben.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Format</strong> das Spezialformat <strong>ItemAttribute</strong>.</p>
</li>
<li>
<p>Wählen Sie eine Option unter <strong>Wenn beim Abgleich keine Übereinstimmung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wählen Sie die Datei, die importiert werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Import</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="100">6.4. Varianten erstellen</h3>
<div class="paragraph">
<p>Um Varianten zu erstellen, benötigen Sie das Datenformat <strong><a href="/basics/datenaustausch/datenformate/_attributeitemvariation">AttributeItemVariation  </a></strong>. Die Datenfelder <strong>ItemID</strong>, <strong>PriceID</strong>, <strong>VariationString</strong> und <strong>EAN</strong> müssen mindestens aktiviert sein.</p>
</div>
<div class="paragraph">
<p>Die folgenden Voraussetzungen müssen erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Artikel ist erstellt.</p>
</li>
<li>
<p>Die Attribute und Attributwerte sind erstellt.</p>
</li>
<li>
<p>Die Attribute sind mit dem Artikel verknüpft und Werte sind am Artikel verknüpft, um eine Variante daraus erzeugen zu können.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Varianten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Wählen Sie das Feldtrennzeichen, das Sie bei der Erstellung der Datei eingestellt haben.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Format</strong> das Datenformat <strong>AttributeItemVariation</strong>.</p>
</li>
<li>
<p>Wählen Sie eine Option unter <strong>Wenn beim Abgleich keine Übereinstimmung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wählen Sie die Datei, die importiert werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Import</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das folgende Videotutorial veranschaulicht den Umgang mit dem Datenformat <strong>AttributeItemVariation</strong>:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/139685582" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="120">7. Anwendungsbeispiel: Warenbestand importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie haben auch die Möglichkeit, den kompletten Warenbestand zu importieren, bei dem aktuelle physische Warenbestände in Ihrem plentymarkets System überschrieben werden. Nutzen Sie dazu das Datenformat <strong><a href="/basics/datenaustausch/datenformate/stock">Stock  </a></strong>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Warenbestand wird gelöscht</div>
<div class="paragraph">
<p>Bei diesem Vorgang werden die aktuellen physischen Warenbestände durch den Import ersetzt, d.h. Ihr gesamter Warenbestand wird gelöscht. Reservierte Warenbestände bleiben dabei erhalten.</p>
</div>
<div class="paragraph">
<p>Wenn Sie nicht den kompletten Warenbestand importieren möchten, sondern nur Wareneingänge per Datenimport hinzufügen möchten, verwenden Sie das Spezialformat <strong>IncomingItems</strong> (siehe Kapitel <a href="/basics/datenaustausch/daten-importieren#50"><strong>Wareneingangsdaten importieren</strong> </a>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn Sie die Importdatei vor dem Import bearbeiten möchten, beachten Sie die folgenden Erläuterungen zu den Datenfeldern. Tabelle 3 erläutert eine Auswahl der in der exportierten Datei enthaltenen Datenfelder.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Dynamischer Import; Datenfelder des Datenformats <strong>Stock</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Artikel-ID</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationEAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>EAN-Code der Variante</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PurchasePrice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einkaufspreis</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationNo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Variantennummer</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>LocationID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lagerort-ID<br>
Jeweils die Ziffer 0 eingeben, wenn kein Lagerort vorhanden ist oder keine Zuordnung erfolgen soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warenbestand</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WarehouseID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID des Lagers</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationString</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Systemnamen-Hash der Attribute und Werte.<br>
<em><strong>Beispiel</strong></em>: "Farbe:Blau;Größe:XXL"<br>
Die Namen bzw. Bezeichnungen der Attribute und Werte werden verwendet.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Datenimport durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 4.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Import</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Dynamischer Import; Importoptionen des Datenformats <strong>Stock</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Feldtrennzeichen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Trennzeichen wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datenformat <strong>Stock</strong> für den Import wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lager für den Import wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Barcode für den Import wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datei</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datei für den Import wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Sie erhalten im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong> im Bereich <strong>Bearbeitungsstatus</strong> eine detaillierte Meldung des Datenimports. Unter anderem werden das Format, der Dateiname, der Benutzer und das Datum des Imports in diesem Bereich angezeigt.</p>
</div>
</div>
</div>
</main>