<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_funktionen_in_plentymarkets"><span>1.</span><span> Funktionen in plentymarkets</span></a></li>
<li><a href="#_plentymarkets_mit_dropbox_konto_verknüpfen"><span>2.</span><span> plentymarkets mit Dropbox-Konto verknüpfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Dropbox</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.dropbox.com/de/" target="_blank" rel="noopener">Dropbox</a> ist ein Cloud-Dienst und ermöglicht Ihnen, Daten zu speichern, mit anderen zu teilen oder gemeinsam in der Cloud zu bearbeiten. Auf in der Dropbox gespeicherte Dateien können Sie von jedem beliebigen Computer oder von mobilen Endgeräten aus zugreifen. Das Menü <strong>System » Mandant » Global » Dienste » Dropbox</strong> schafft durch die Verknüpfung mit Ihrem Dropbox-Konto die technischen Voraussetzungen dafür, Dateien zwischen plentymarkets und Ihrer Dropbox auszutauschen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionen_in_plentymarkets">1. Funktionen in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im ersten Schritt bietet Ihnen die Verknüpfung mit der Dropbox die Möglichkeit, Designs im Menü <strong><a href="/omni-channel/online-shop/cms#webdesign-webdesign-bearbeiten">CMS » Webdesign</a></strong> zu exportieren und zu importieren. Beim Export werden die Dateien strukturiert in der Dropbox abgelegt und können dort komfortabel bearbeitet werden. Da es sich um Dateien im Textformat handelt, ist auch eine Bearbeitung über mobile Endgeräte möglich. Nach der Bearbeitung werden die Änderungen jedoch erst nach einem Import des Designs in Ihr plentymarkets-System wirksam. Die Voraussetzung dazu ist die Verknüpfung mit dem Dropbox-Konto. Gehen Sie dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph">
<p>Damit haben Sie auch die Möglichkeit, einem Dienstleister über die Dropbox Zugriff auf die Dateien Ihres Designs zu geben, ohne dass dieser Zugriff auf Ihr System erhält. In den Einstellungen Ihres Dropbox-Accounts können Sie Zugriffsrechte vergeben und finden Sie eine Dateihistorie, um bei Bedarf Dateien auf einen früheren Zustand zurückzusetzen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_plentymarkets_mit_dropbox_konto_verknüpfen">2. plentymarkets mit Dropbox-Konto verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie benötigen ein Dropbox-Konto, mit dem Sie plentymarkets verknüpfen. Sie können ein bestehendes Dropbox-Konto nutzen oder bei der Verknüpfung ein neues Konto anlegen. Gehen Sie wie unten beschrieben vor, um plentymarkets mit einem Dropbox-Konto zu verknüpfen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Popups in den Browser-Einstellungen zulassen</div>
<div class="paragraph">
<p>Bei der Verknüpfung von plentymarkets mit Ihrem Dropbox-Konto wird eine neue Browser-Seite als Popup geöffnet. Wenn Sie einen Popup-Blocker nutzen, wird das Öffnen dieser Seite möglicherweise verhindert. Beachten Sie daher die Browser-Einstellungen und lassen Sie Popups für Ihr plentymarkets-Backend temporär zu, um die Verknüpfung herzustellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>plentymarkets mit einem Dropbox-Konto verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Global » Dienste » Dropbox</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Code abrufen</strong>.<br>
→ Ein neues Browser-Tab wird geöffnet.</p>
</li>
<li>
<p>Geben Sie in diesem Browser-Tab die Zugangsdaten für Ihr bestehendes Dropbox-Konto ein oder klicken Sie auf <strong>Neu bei Dropbox? Konto erstellen</strong>, wenn Sie noch kein Konto bei Dropbox haben.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Zulassen</strong>, um zu bestätigen, dass plentymarkets auf die Daten und Ordner in Ihrer Dropbox zugreifen darf.<br>
→ Ein Code wird angezeigt.</p>
</li>
<li>
<p>Kopieren Sie den Code in die Zwischenablage.</p>
</li>
<li>
<p>Wechseln Sie zurück in Ihr plentymarkets-Backend.</p>
</li>
<li>
<p>Fügen Sie den Code im Popup-Fenster <strong>Code speichern</strong> in das Feld <strong>Code</strong> ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.<br>
→ Das Popup-Fenster wird geschlossen.</p>
</li>
<li>
<p>Ändern Sie bei Bedarf den Namen des <strong>Basis-Ordners</strong>, der in Ihrer Dropbox angelegt wird. Dieser Ordner wird später für Exporte/Importe verwendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.<br>
→ plentymarkets wird mit Ihrem Dropbox-Konto verknüpft. Ihr Dropbox-Konto wird im Feld <strong>Verknüpftes Konto</strong> angezeigt, wenn Sie das Menü erneut öffnen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verknüpftes Konto noch nicht sichtbar</div>
<div class="paragraph">
<p>Wenn Sie die Verknüpfung gespeichert haben, aber neben der Option <strong>Verknüpftes Konto</strong> die E-Mail-Adresse des Dropbox-Accounts noch nicht angezeigt wird, laden Sie das Menü neu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Verknüpfung mit Dropbox aufheben</div>
<div class="paragraph">
<p>Die Verknüpfung von plentymarkets mit Ihrer Dropbox heben Sie auf, indem Sie erneut auf <strong>Code abrufen</strong> klicken und im folgenden Fenster das Feld neben <strong>Code</strong> leer lassen und speichern. Laden Sie dann das Menü neu. Die Einstellungen unter <strong>Verknüpftes Konto</strong> und <strong>Basis-Ordner</strong> sind nun leer, die Verknüpfung ist aufgehoben. Wenn gewünscht können Sie nun eine neue Verknüpfung konfigurieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>