<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ElasticSync und FormatDesigner</h1><p>Willkommen im Themenbereich ElasticSync und FormatDesigner. Hier finden Sie folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/basics/datenaustausch/ElasticSync/ElasticSync">Daten mit ElasticSync importieren</a></li><li><a href="/basics/datenaustausch/ElasticSync/ElasticSync-plugin-(veraltet)">Daten mit ElasticSync importieren (Plugin) (veraltet)</a></li><li><a href="/basics/datenaustausch/ElasticSync/FormatDesigner">Datenformate mit FormatDesigner erstellen</a></li><li><a href="/basics/datenaustausch/ElasticSync/dropshipping-elasticexport-bp">Best Practices: Dropshipping und ElasticExport</a></li><li><a href="/basics/datenaustausch/ElasticSync/best-practices">Best Practices: ElasticSync</a></li></ul>
</main>