<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ftp_programme"><span>1.</span><span> FTP-Programme</span></a></li>
<li><a href="#_ftp_zugang_einrichten"><span>2.</span><span> FTP-Zugang einrichten</span></a></li>
<li><a href="#_über_ftp_programm_verbindung_zum_ftp_server_herstellen"><span>3.</span><span> Über FTP-Programm Verbindung zum FTP-Server herstellen</span></a></li>
<li><a href="#_über_webspace_tool_auf_daten_zugreifen"><span>4.</span><span> Über Webspace-Tool auf Daten zugreifen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>FTP-Zugang</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Um Bilder, PDF-Dokumente und andere Dateien für Besucher Ihres Online-Shops verfügbar zu machen, müssen diese Dateien in Ihrem plentymarkets System gespeichert werden. Größere Datenmengen laden Sie über das File Transfer Protocol (FTP) hoch. Sie benötigen dazu ein FTP-Programm, auch FTP-Client genannt, und die FTP-Zugangsdaten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zugriff auf Artikelbilder bei AWS-Systemen</div>
<div class="paragraph">
<p>Bei auf AWS gehosteten plentymarkets Systemen werden die Artikelbilder vom FTP-Server in den Amazon-Speicher S3 verschoben. Daher können Sie nicht mehr über den FTP-Server auf gespeicherte Artikelbilder zugreifen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ausführen eigener PHP- und CGI-Skripte</div>
<div class="paragraph">
<p>Das Ausführen von eigenen PHP- und CGI-Skripten ist aus Sicherheitsgründen nicht gestattet. Soll Fremdsoftware installiert werden, kann diese Installation von uns vorgenommen werden. Alternativ greifen Sie auf einen klassischen Webhoster zurück.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_ftp_programme">1. FTP-Programme</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Programme zum Übertragen von Dateien per FTP erhalten Sie kostenlos oder gegen geringes Entgelt im Internet. Wir haben hier eine kleine Auswahl für Windows und Mac OS X zusammengestellt:</p>
</div>
<div class="paragraph">
<p><strong>FTP-Programme für Windows</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="http://www.filezilla.de/" target="_blank" rel="noopener">FileZilla</a></p>
</li>
<li>
<p><a href="http://www.smartftp.com/" target="_blank" rel="noopener">SmartFTP</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>FTP-Programme für Mac OS X</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="http://cyberduck.ch/" target="_blank" rel="noopener">Cyberduck</a></p>
</li>
<li>
<p><a href="https://filezilla-project.org/download.php/" target="_blank" rel="noopener">FileZilla</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Statt mit einem FTP-Programm zu arbeiten, können Sie auch folgende Optionen nutzen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Den integrierten Dateibrowser verwenden</p>
</li>
<li>
<p>Eine FTP-Verbindung als Netzwerkressource unter Windows einrichten.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_ftp_zugang_einrichten">2. FTP-Zugang einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um mit einem FTP-Programm eine Verbindung zu Ihrem plentymarkets System aufzubauen und Dateien zu übertragen, benötigen Sie folgende Daten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Host/Server</p>
</li>
<li>
<p>Benutzername</p>
</li>
<li>
<p>Passwort</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Server und Benutzername sind in Ihrem System bereits hinterlegt. Das Passwort wählen Sie selbst.</p>
</div>
<div class="paragraph instruction">
<p>FTP-Zugang einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Global » FTP-Zugang</strong>.</p>
</li>
<li>
<p>Notieren Sie sich den Eintrag unter Host (z. B. ftp01.plentymarkets.com).</p>
</li>
<li>
<p>Notieren Sie sich den Eintrag in der Zeile <strong>Benutzername</strong>.</p>
</li>
<li>
<p>Geben Sie ein Passwort ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Das Passwort wird aktiviert. Nach ca. 60 Minuten erhalten Sie Zugang zum FTP-Server.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Statt den Namen des Hosts zu übernehmen, können Sie einen alternativen Hostnamen aus Ihrer Domain ableiten. Beachten Sie dabei die Schreibweise mit dem Punkt:<br>
URL: <a href="http://www.meinshop.de" class="bare">http://www.meinshop.de</a><br>
FTP: ftp.meinshop.de</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_über_ftp_programm_verbindung_zum_ftp_server_herstellen">3. Über FTP-Programm Verbindung zum FTP-Server herstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Speichern Sie nun die notierten Zugangsdaten in Ihrem FTP-Programm. Wenn Sie beim Einrichten der Verbindung im FTP-Programm nach einem Port gefragt werden, geben Sie den Standardwert <strong>21</strong> ein oder lassen Sie das Feld leer. Nachdem Sie die Zugangsdaten gespeichert haben, bauen Sie eine Verbindung zum Server auf und erhalten Zugriff auf das Dateisystem des Servers. Per FTP können Sie nun Dateien auf den Server hochladen oder vom Server auf Ihren Computer herunterladen. Sie können darüber hinaus Verzeichnisse anlegen und öffnen sowie Verzeichnisse und Dateien umbenennen oder löschen. Nach dem Übertragen von Daten ist es aus Sicherheitsgründen sinnvoll, die FTP-Verbindung zu beenden. Weitere Informationen finden Sie in der Dokumentation des verwendeten FTP-Programms.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Verbindungsprobleme?</div>
<div class="paragraph">
<p>Wenn keine Verbindung möglich, sind die Ursachen in der Regel spezielle Netzwerkeinstellungen (z. B. Proxy Server, Firewalls) oder Besonderheiten Ihres Online-Dienstes. Wenden Sie sich bei Problemen zuerst an Ihren Netzwerkadministrator und/oder an die Hotline Ihres Online-Dienstes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_über_webspace_tool_auf_daten_zugreifen">4. Über Webspace-Tool auf Daten zugreifen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alternativ zur Arbeitsweise mit einem FTP-Programm können Sie Daten auch über unser Webspace-Tool austaschen, das Sie über den Bereich <strong>CMS » Webspace</strong> öffnen. Eine Anleitung zur Bedienung des ajaxplorer finden Sie in unserem <a href="https://www.plentymarkets.eu/-plentymarkets-4-120-Nun-mit-komfortablem-Dateibrowser/b-138/">Blog</a> zum Thema.</p>
</div>
</div>
</div>
</main>