<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Informationen in Syncs ändern</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du eine Datei in plentymarkets importieren, aber die Datei verwendet andere Informationen als plentymarkets? Du musst die Datei nicht manuell anpassen! Nutze stattdessen die Eigene Zuordnung-Funktion in ElasticSync, um Informationen auszutauschen.<br>
<strong><em>Hinweis:</em></strong> Der Begriff <strong>ElasticSync</strong> ist veraltet und wurde durch <strong>Import</strong> ersetzt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/329090839" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Du hast eine neue Datei mit umfangreichen Daten!
Aber moment mal. Irgendwas stimmt hier nicht. Die Daten müssen im Vorfeld noch angepasst werden. Ich zeige dir mal, was ich meine.</p>
</div>
<div class="paragraph">
<p>Stellen wir uns vor, dass du ein Tabellendokument mit deinen Kundendaten hast. Eine Spalte deiner Tabelle enthält dabei die Namen deiner Kunden, die als Nachname-Komma-Vorname gespeichert sind.
Bevor du diese Daten aber in dein plentymarkets importieren kannst, willst du vielleicht die Namen so ändern, dass zuerst Vor- und dann der Nachname gespeichert ist.</p>
</div>
<div class="paragraph">
<p>Aber kein Problem! Mit dem ElasticSync kannst du dieses Vorhaben ganz einfach umsetzen.
Auch dieses Video nimmt Bezug auf unser Basic-Tutorial und bringt dir die Option näher, mit der du nach Daten suchen und diese manipulieren kannst.</p>
</div>
<div class="paragraph">
<p>An dieser Stelle eine kurze Warnung: Regular Expressions oder reguläre Ausdrücke können ziemlich kompliziert sein. Viel einfacher zu verstehen sind sie, wenn du bereits über Grundkenntnisse in Programmiersprachen verfügst.
Wenn du über keine Vorkenntnisse verfügst, oder nicht die nötige Zeit hast, dich mit dem Thema auseinander zu setzen, sind Reguläre Ausdrücke wahrscheinlich keine Option für dich. Aber wenn du bereit für eine kleine Challenge bist, zeige ich dir die Grundidee und wie du mit aufkommenden Fragen zu diesem Thema umgehen kannst.</p>
</div>
<div class="paragraph">
<p>Alles klar, zuerst legst du fest, welche Spalte die Daten enthält, die du bearbeiten möchtest und welchem plentymarkets Datenfeld diese entsprechen.
Als nächstes geben wir an, wie die Daten in deiner Datei aussehen und wie du sie ändern möchtest. Die beiden Felder "Suchen" und "Ersetzen" sind dabei wirklich der einzige knifflige Teil.</p>
</div>
<div class="paragraph">
<p>Du gibst hier einfach diese Codes ein, die bestimmen, nach welchen Daten gesucht werden soll und wie die gefundenen Daten geändert werden sollen.
Schauen wir uns zunächst das Suchfeld an und zerlegen es Stück für Stück.</p>
</div>
<div class="paragraph">
<p>Okay, so sucht plentymarkets nach einem Namen wie Mustermann Komma Max. Oder mit anderen Worten, es wird nach zwei Worten gesucht, die von einem Komma getrennt werden. Und das ist eigentlich schon alles, was der Code hier sagt.
Suche nach einem Wort, dann nach einem Komma, einem Leerzeichen und einem weiteren Wort. Wie es sich für echten Code gehört, gibt es auch ein Attribut, das den Code einleitet, und eines, das ihn abschließt.
Das Ersetzen-Feld ist auch nicht sonderlich schwer zu verstehen. Schauen wir uns doch mal den Suchbefehl an…​und wir vergeben für jedes Klammernpaar eine Zahl. Also eins…​und zwei. Das "Ersetzen" -Feld weist plentymarkets an, zunächst den zweiten Begriff anzuzeigen, ein Leerzeichen zu lassen und dann den ersten Begriff anzuzeigen.</p>
</div>
<div class="paragraph">
<p>Bereit für die nächste Aufgabe? Dann versuchen wir doch, die Schreibweise des Datums von dieser Formatierung zu dieser Formatierung zu ändern.
Okay, in plentymarkets wird nach einem Datum gesucht, das durch Punkte getrennt ist. Mit anderen Worten drei Zahlen, die jeweils von einem Punkt getrennt sind. Das klassische Datumsformat also.
Beginnen wir mit der Eingabe des Codes, der den Anfang des Suchbegriffs darstellt. Dieses Mal suchen wir nicht nach einem Wort, sondern nach einer Zahl - oder digit, wie es auf Englisch heißt, bzw. einer Ziffer.</p>
</div>
<div class="paragraph">
<p>Also könnte man logischerweise meinen, dass man jetzt plentymarkets ganz einfach die Aufgabe gibt, nach einer Zahl, einem Punkt, einer weiteren Zahl, einem weiteren Punkt und einer letzten Zahl zu suchen.
Und dann würde man den Suchabschnitt beenden. Aber Achtung, es gibt Zeichen, die eine besondere Bedeutung haben. Du hast ja bereits gelernt, dass der Schrägstrich und das Zirkumflex den Beginn eines Suchbegriffs, und die Klammern die einzelnen Teile des Suchbegriffs selber anzeigen.</p>
</div>
<div class="paragraph">
<p>Leider hat aber eben auch der Punkt eine besondere Bedeutung. Das ist ein Problem, denn wir benötigen hier den stinknormalen Punkt! Diesen stinknormalen Punkt können wir nutzen, wenn wir ihm einen Schrägstrich voranstellen.
Das Ersetzen-Feld funktioniert hier, wie bei dem ersten Beispiel. Jedes Klammernpaar enthält eine Zahl und im Ersetzen-Feld wird dann die gewünschte Reihenfolge dieser festgelegt.
Dies sind natürlich nur zwei Beispiele, wie reguläre Ausdrücke für dein Unternehmen verwendet werden können. Es gibt jedoch eine Unmenge an weiterem Referenzmaterial, mit dem du den Code entschlüsseln und deine Suchbegriffe testen kannst.</p>
</div>
<div class="paragraph">
<p>Und wie immer: Zögere nicht, unser Support-Team zu kontaktieren oder Fragen im Forum zu stellen, wenn du Hilfe benötigst.
Gut gemacht! Du hast gelernt, wie du Informationen in deiner Datei suchen und ändern kannst. Jetzt kannst du all diese Daten in plentymarkets importieren!</p>
</div>
</div>
</div>
</main>