<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Informationen austauschen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du eine Datei in plentymarkets importieren, musst aber zuerst noch einige Informationen ändern? Du musst die Datei nicht manuell anpassen! Nutze stattdessen die Reguläre Ausdrücke-Funktion in ElasticSync, um Informationen zu ändern.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/328394174" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Du hast eine neue Datei mit unzähligen Informationen erhalten!
Aber Moment, die Daten sind noch nicht so, dass du sie sofort verarbeiten kannst. Einige Informationen in deiner Datei müssen also noch geändert werden.</p>
</div>
<div class="paragraph">
<p>Ich zeige dir, was ich meine. Stelle dir eine Datei mit verschiedensten Kundendaten vor. In einer Spalte ist das Land hinterlegt, in dem dein Kunde wohnt.
Es gibt aber ein kleines Problem. Deine Datei enthält nämlich Ländernamen wie beispielsweise Deutschland. plentymarkets hat aber für jedes Lieferland eine eindeutige ID.
Wenn du jetzt die Länderbezeichnungen importierst, weiß dein plentymarkets System natürlich nicht, um welche Länder es sich handelt.</p>
</div>
<div class="paragraph">
<p>Aber keine Sorge! Der ElasticSync bietet dir hier die Möglichkeit, Licht ins Dunkel zu bringen. Dieses Video baut auf unser Basic-Tutorial auf und stellt diese eine Funktion, mit der du deine Informationen ändern kannst, in den Mittelpunkt.</p>
</div>
<div class="paragraph">
<p>In unserem Beispiel kannst du also zuordnen, welches Land mit welchem Länderkürzel ins System importiert wurde. Zuerst benutzen wir hier das Feld Typ, damit wir festlegen können, in welcher Zeile sich deine Lieferländer befinden.
Hier benutzt du ganz einfach das Feld <strong>Von</strong>, um die Ländernamen so einzugeben, wie sie in deiner CSV-Datei gespeichert sind.</p>
</div>
<div class="paragraph">
<p>Das Feld <strong>Zu</strong> benutzt du dann, um anzugeben, welche Werte aus deinem plentymarkets System verknüpft werden sollen. So gehst du dann also vor, um auch alle weiteren Länder aus deiner CSV-Datei mit den LänderIDs in deinem plentymarkets System zu verknüpfen.</p>
</div>
<div class="paragraph">
<p>Abschließend musst du noch dieses Feld nutzen, um einzustellen, wie fortgefahren werden soll, wenn eine Zeile nicht gefüllt wurde. Für diesen Fall musst du nämlich festlegen, welches Land als Standardwert hinterlegt werden soll. So sieht es dann aus. Hier legst du nur noch fest, welches Land plentymarkets als Standard verwenden soll.</p>
</div>
<div class="paragraph">
<p>Gut gemacht! Du hast Informationen in deiner Datei ausgetauscht und kannst nun alle Daten in plentymarkets importieren!</p>
</div>
</div>
</div>
</main>