<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Zusätzliche Informationen zu Syncs hinzufügen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du eine Datei in plentymarkets importieren, aber es fehlen einige wichtige Informationen? Du musst die Datei nicht manuell anpassen! Nutze stattdessen die Eigener Wert-Funktion in ElasticSync, um die fehlenden Informationen hinzuzufügen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/328394037" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Dein Lieferant hat dir eine neue Datei mit umfangreichen Produktdaten geschickt!
Aber Moment mal. Irgendwas stimmt hier nicht. Hier fehlt ganz klar eine wichtige Information.</p>
</div>
<div class="paragraph">
<p>Hier zeige ich dir, was ich meine. Stellen wir uns vor, du hättest eine Datei, in der eine ganze Menge Artikel-IDs und der Warenbestand des entsprechenden Artikels hinterlegt ist.
Aber ArtikelID und der Lagerbestand sind nicht das einzige, was hier an Informationen benötigt wird.</p>
</div>
<div class="paragraph">
<p>Vielmehr müssen wir auch die Lagerorte angeben.
Also in welchem Lager und genauer noch, an welchem Lagerort sich die Artikel befinden.</p>
</div>
<div class="paragraph">
<p>Schaue doch einfach auch mal in unser Handbuch. Dort zeigen wir, welche Daten in plentymarkets im Zusammenhang stehen müssen.</p>
</div>
<div class="paragraph">
<p>Genau wie du in einer CSV-Datei eine neue Spalte hinzufügen kannst, ist es auch möglich, weitere Werte innerhalb des ElasticSync hinzuzufügen!</p>
</div>
<div class="paragraph">
<p>Mit den Informationen aus unserem Basic-Tutorial im Hinterkopf schauen wir uns die Option an, mit der du benutzerdefinierte Werte in deinem Sync einfügen kannst.
Alles, was du tun musst, ist plentymarkets mitzuteilen, dass du eigene Werte hinzufügen möchtest, oder um bei unserem Beispiel zu bleiben: dass du deiner Datei eine neue Spalte hinzufügen möchtest.</p>
</div>
<div class="paragraph">
<p>Anschließend legst du fest, für was diese neue Spalte verwendet wird.
Abschließend sagen wir plentymarkets noch, welche Informationen sich in der Spalte befinden sollen. Hier wählst du den Lagernamen aus dem Dropdown-Menü aus.</p>
</div>
<div class="paragraph">
<p>Genau dasselbe kannst du dann nochmal machen, um einen eigenen Wert für deinen Lagerort zu hinterlegen.
Außerdem legen wir noch die Lagerort-ID fest. Zum Beispiel 0 für den Standard-Lagerort.</p>
</div>
<div class="paragraph">
<p>Eine wichtige Info am Rande: Du musst in jedem Fall IDs vergeben, damit plentymarkets weiß, an welchen Lagerorten deine Artikel gelagert werden.
Öffne dir einfach das System-Menü und schaue nach den Lagerort-IDs.</p>
</div>
<div class="paragraph">
<p>Alternativ kannst du aber auch als Standardwert 0 hinterlegen.
Fertig! Du hast die fehlenden Informationen zu deiner Datei hinzugefügt, und kannst jetzt all diese Produktdaten in plentymarkets importieren!</p>
</div>
</div>
</div>
</main>