<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Checking stock</span></a></li>
<li><a href="#200"><span>2.</span><span> Carrying out settings for stocktaking</span></a></li>
<li><a href="#250"><span>3.</span><span> Assigning rights for stocktaking</span></a></li>
<li><a href="#300"><span>4.</span><span> Taking stock</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>4.1.</span><span> Scanning each piece of an item individually</span></a></li>
<li><a href="#500"><span>4.2.</span><span> Entering the counted quantity</span></a></li>
</ul>
</li>
<li><a href="#600"><span>5.</span><span> Documenting stocktaking</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>5.1.</span><span> Exporting the inventory log</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Taking stock</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Pay attention to the requirements</div>
<div class="paragraph">
<p>This page requires that you have installed the plentyWarehouse app on an appropriate device. Note the hardware requirements described on the <a href="/en/welcome/quick-start/quick-start-system-requirements#450">System requirements</a> page of the manual. In addition, make sure that you are logged into the plentyWarehouse app and that you have carried out <a href="/en/stock-management/installation-and-initial-setup">all necessary steps for initial setup</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Current state of the plentyWarehouse app</div>
<div class="paragraph">
<p>At the moment, plentyWarehouse is available as part of an open beta phase. This means that the app is adjusted regularly due to improvements and bug fixes. During this phase, you are welcome to ask your questions and share feedback in the <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">forum</a> .</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In addition to using the functionality in the <a href="/en/stock-management/taking-stock">plentymarkets back end</a>, you can also take stock with the plentyWarehouse app. This manual page contains all information on the necessary preparatory settings and the process of taking stock with plentyWarehouse.</p>
</div>
<div class="paragraph">
<p>In addition, you can create and export inventory log exports in the plentymarkets back end after taking stock with plentyWarehouse. For further information on this, refer to the <a href="#600">documenting stocktaking</a> chapter.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Use labels for storage locations</div>
<div class="paragraph">
<p>To carry out stocktaking in plentyWarehouse, you need to generate a label for every storage location and place it at the respective storage location. During stocktaking, you use your device to scan the label to select the storage location for stocktaking.
Have you not created labels for storage locations yet? Refer to the <a href="/en/stock-management/setting-up-a-warehouse#800">Setting up a warehouse</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Checking stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Do you want to check all stock changes at once after completing stocktaking? Then start by using the export format <a href="/en/stock-management/taking-stock#200\. catalogue format <strong>Stocks</strong>">/en/stock-management/taking-stock</a> to export your current stock.</p>
</div>
<div class="paragraph">
<p>After you have finished stocktaking with the plentyWarehouse app, use the <a href="/en/stock-management/taking-stock#400">import tool to create a data import</a>.  Once you have created the import, you can view the stock changes for each item in the <strong>Tab: Stock » Tab: Stock movement</strong> area of the item. In addition, the import will be displayed as a separate entry in the <strong>Stock » Incoming items</strong> menu. Open this entry to view the stock changes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Carrying out settings for stocktaking</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With the help of a few basic settings, you can customise the stocktaking function in plentyWarehouse so that it fits your needs and workflows.</p>
</div>
<div class="paragraph">
<p>For example, you can determine how the storage location search works and which possibilities should be available for saving the stock.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings for stocktaking:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/stock-management/plentywarehouse/installation-and-initial-setup#300">Log into plentyWarehouse</a>.</p>
</li>
<li>
<p>Tap on the menu icon (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) in the top left corner.</p>
</li>
<li>
<p>Scroll down and tap on <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Tap on <strong>Stocktaking</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/stock-management/plentywarehouse/assets/icon_stocktaking.png" alt="icon stocktaking" width="14" height="14"></span>).</p>
</li>
<li>
<p>Carry out the settings for stocktaking. Pay attention to the explanations given in <a href="#table-pw-stocktaking-settings">Table 1</a>.</p>
</li>
</ol>
</div>
<table id="table-pw-stocktaking-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for stocktaking in plentyWarehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>General settings</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandatory storage location scan</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this option to determine which rules should apply when selecting storage locations during stocktaking.<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = All target storage locations <em>must</em> be scanned via their label to be selected for stocktaking. It is not possible to select storage locations manually via the search results.<br>
<strong>Deactivated</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = Storage locations can either be selected by scanning them or by selecting them manually.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Storage location</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location search fields</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the toggle buttons to determine which criteria can be used for the storage location search while using the stocktaking function. This setting only takes effect if the <strong>Mandatory storage location scan</strong> setting is <em>not</em> activated.<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = You will be able to use this criterion when searching for storage locations.<br>
<strong><em>Tip:</em></strong> Tap on (<span class="icon "><i class="material-drag_handle"></i></span>) for each activated search criterion and drag it to the desired position to determine the order of the search fields.<br>
<strong><em>Note:</em></strong> This setting only takes effect if the <strong>Mandatory storage location scan</strong> setting is <em>not</em> activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Focus on storage location search field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Will you typically select the storage location for stocktaking by scanning its barcode or by searching for the storage location name and selecting the storage location from a list? If you want to scan the barcode, then this setting can speed up the job.<br>
<strong>None</strong> = There will be no focus on any field. Of course, you can still place the cursor in another search field manually.<br>
<strong>Barcode</strong> = The cursor will automatically start out in the barcode field when you reshelve items. You can scan the source storage location right away.<br>
<strong>Storage location name</strong> = The cursor is automatically placed in the storage location name field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item search</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item search fields</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the toggle buttons to determine which criteria can be used for the item search while using the stocktaking function.<br>
<strong><em>Note:</em></strong> This setting only takes effect if the <strong>Mandatory storage location scan</strong> setting is <em>not</em> activated.
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = You will be able to use this criterion when searching for items.<br>
<strong><em>Tip:</em></strong> Tap on (<span class="icon "><i class="material-drag_handle"></i></span>) for each activated search criterion and drag it to the desired position to determine the order of the search fields.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Focus on item search field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you typically search for items using a specific criterion? Tap on the criterion that you use most frequently. When you search for items later during stocktaking, the cursor will automatically be placed in this field at the beginning. Of course, you can still place the cursor in another search field manually.<br>
<strong><em>Note:</em></strong> This setting only takes effect if the <strong>Mandatory storage location scan</strong> setting is <em>not</em> activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Save stock</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enable saving by button</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">How do you wish to save the stock after finishing the counting process for a storage location?
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = As soon as all items of a storage location have been counted, a button that allows you to save the stock is displayed.<br>
<strong>Deactivated</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = The counted stock for a storage location is saved automatically if you scan the <a href="/en/stock-management/setting-up-a-warehouse#800">storage location label</a> once again after counting all items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display confirmation dialogue for completing stocktaking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to display a confirmation dialogue before saving the counted stock for the storage location.<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Users must confirm before the stock details are saved.<br>
<strong>Deactivated</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = Stock details are saved immediately.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display warning if counted stock differs from target stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to display a message if the counted stock is higher or lower than the target stock after stocktaking has been completed?<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Users have to confirm that the counted stock differs from the target stock before they can finish stocktaking.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item registration</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="option-itemscan">Mandatory item scan</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this option to determine which rules should apply when registering items during stocktaking.<br>
<strong>No limitations</strong> = Items can either be registered by scanning their barcode or by selecting them manually.<br>
<strong>Limit item search</strong> = Items without barcodes can be registered via the item search. Items with barcodes <em>must</em> be registered by scanning the barcode on the item label.<br>
<strong>Mandatory item scan</strong> = All items <em>must</em> be registered by scanning the barcode on the item label. It is not possible to select items manually via the search results.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Assigning rights for stocktaking</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before stocktaking is carried out in plentyWarehouse, make sure that all users have been assigned the appropriate rights. Otherwise, the counted stock cannot be registered and saved correctly both in the plentyWarehouse app and in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to carry out stocktaking in plentyWarehouse, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock &gt; Warehouses &gt; Warehouse location &gt; Show</strong></p>
</li>
<li>
<p><strong>Stock &gt; Warehouses &gt; Warehouse location &gt; Warehouse location level &gt; Create</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Taking stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When taking stock with the plentyWarehouse app, you can either scan each copy of an item individually or enter the counted quantity using the keypad. Use the <strong id="option-itemscan">Mandatory item scan</strong> option described above to determine which method you want to use.</p>
</div>
<div class="sect2">
<h3 id="400">4.1. Scanning each piece of an item individually</h3>
<div class="paragraph">
<p>Users do not have to physically count the stock. Instead, they can scan the labels of each piece of an item repeatedly until they have scanned all pieces of an item present at the storage location. The quantity is updated incrementally in the background. For this counting method, the <a href="#option-itemscan"><strong>Mandatory item scan</strong></a> setting in the <strong>Settings » Stocktaking</strong> menu has to be activated.</p>
</div>
<div class="paragraph instruction">
<p>Scanning each piece of an item individually:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/stock-management/plentywarehouse/installation-and-initial-setup#300">Log into plentyWarehouse</a>.</p>
</li>
<li>
<p>Tap on the menu icon (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) in the top left corner.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Find the <strong>Stocktaking</strong> tile in the <strong>Functions</strong> area on the dashboard.</p>
</li>
<li>
<p>Tap on <strong>Stocktaking</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/stock-management/plentywarehouse/assets/icon_stocktaking.png" alt="icon stocktaking" width="14" height="14"></span>).</p>
</li>
<li>
<p>Scan the storage location label.<br>
→ The storage location is selected. The quantity of scanned items is booked to this storage location.</p>
</li>
<li>
<p>Scan the label of each piece until you have scanned all items present at the storage location.<br>
<strong><em>Tip:</em></strong> If the storage location contains more than one type of item, the quantity of the correct item is increased automatically during scanning.<br>
<strong><em>Note:</em></strong> To correct the scanned quantity manually, tap on the item and enter the correct quantity.<br>
→ If best before dates, batches or both are managed for the variation in the selected warehouse, you are asked to enter a date, a batch or both.<br>
<strong><em>Optional:</em></strong> Select the best before date and/or enter the batch and tap on <strong>Add item</strong>.<br>
→ The stock is booked in.</p>
</li>
<li>
<p>To finish the count, scan the storage location label again or tap on <strong>Save stock</strong> if the button is shown.<br>
→ The counted quantity is saved.<br>
→ The counted stock is imported to the <strong>Stock » Storage location management</strong> menu of the plentymarkets back end.<br>
→ The stock information is saved in the <strong>Item » Managing items</strong> menu of the variation.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">4.2. Entering the counted quantity</h3>
<div class="paragraph">
<p>Instead of scanning the label of each copy of the item stored at the storage location individually, warehouse staff can also count how many copies of an item are available at the storage location. After the counting process, the result is entered manually. For this counting method, the <a href="#option-itemscan"><strong>Mandatory item scan</strong></a> setting in the <strong>Settings » Stocktaking</strong> menu has to be deactivated.</p>
</div>
<div class="paragraph instruction">
<p>Entering the counted quantity:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/stock-management/plentywarehouse/installation-and-initial-setup#300">Log into plentyWarehouse</a>.</p>
</li>
<li>
<p>Tap on the menu icon (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) in the top left corner.<br>
(<span class="icon "><i class="fa fa-map-signs  "></i></span>) <strong><em>Or:</em></strong> Find the <strong>Stocktaking</strong> tile in the <strong>Functions</strong> area on the dashboard.</p>
</li>
<li>
<p>Tap on <strong>Stocktaking</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/stock-management/plentywarehouse/assets/icon_stocktaking.png" alt="icon stocktaking" width="14" height="14"></span>).</p>
</li>
<li>
<p>Scan the storage location label.<br>
→ The storage location is selected. The quantity of scanned items is booked to this storage location.</p>
</li>
<li>
<p>Scan the label of an item or search for the item manually.<br>
→ If best before dates, batches or both are managed for the variation in the selected warehouse, you are asked to enter a date, a batch or both.<br>
<strong><em>Optional:</em></strong> Select the best before date and/or enter the batch and tap on <strong>Add item</strong>.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity that you counted for the item.</p>
</li>
<li>
<p>To finish the count, scan the storage location label again or tap on <strong>Save stock</strong> if the button is shown.<br>
→ The counted quantity is saved.<br>
→ The counted stock is imported to the <strong>Stock » Storage location management</strong> menu of the plentymarkets back end.<br>
→ The stock information is saved in the <strong>Item » Managing items</strong> menu of the variation.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">5. Documenting stocktaking</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After <a href="#100">importing and importing the stock</a> and the actual <a href="#300">stocktaking with the plentyWarehouse app</a>, the third important step is to create a legally compliant protocol of the results. For this purpose, the <strong>Inventory log export</strong> menu is available in the <strong>Stock » Stocktaking</strong> area. Depending on the selected filters, you can sort the contents of the inventory log export according to your requirements.</p>
</div>
<div class="paragraph">
<p>If necessary, start by assigning the appropriate user rights to employees that should be able to create inventory log exports but do not have an <strong>Admin</strong> account.</p>
</div>
<h3 id="_assigning_rights_for_back_end_users" class="discrete">Assigning rights for back end users</h3>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to can create inventory log exports, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock &gt; Stocktaking &gt; Inventory log export</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="700">5.1. Exporting the inventory log</h3>
<div class="paragraph instruction">
<p>Exporting the inventory log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Stocktaking » Inventory log export</strong>.</p>
</li>
<li>
<p>Carry out the desired filter settings. Pay attention to the information provided in <a href="#table-inventory-log-filters">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Generate PDF</strong> or <strong>Generate CSV</strong>.<br>
<strong><em>Tip:</em></strong> <a href="#900">Read on below to get advice on selecting the appropriate file format</a>.<br>
→ The inventory log is created and downloaded automatically.</p>
</li>
</ol>
</div>
<table id="table-inventory-log-filters" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Available filters for exporting the inventory log</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the user who carried out the stocktaking for which the inventory log should be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the warehouse in which the stocktaking for which the inventory log should be exported was carried out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the desired <a href="/en/stock-management/setting-up-a-warehouse#400">dimension</a> in this field to export an inventory log that contains the storage locations included in this dimension.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the start date for the period of time in which the stocktaking for which the inventory log should be exported was carried out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the end date for the period of time in which the stocktaking for which the inventory log should be exported was carried out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sort by</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">How should the entries in the inventory log export be sorted? Select one of the options <strong>Storage location</strong>, <strong>Date</strong> or <strong>User</strong> to sort the entries accordingly.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Include purchase prices</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the purchase prices for the counted variations be included in the inventory log export?<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Two columns containing the purchase price and the moving average purchase price for the variation will be added to the inventory log export. For more background information on these two types of purchase prices, refer to the <a href="/en/stock-management/stock-management/new-incoming-items#250">Managing incoming items</a> page of the manual.<br>
<strong>Deactivated</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = The purchase prices for variations are not included in the inventory log export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Only consider latest counting results</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which counting results should be included in the inventory log export in case e.g. stocktaking has been carried out twice for a storage location within the selected period of time?<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Only the latest counting result is included.<br>
<strong>Deactivated</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = If multiple counting result exist, every result is displayed individually. In other words, multiple entries can be created for the same storage location. Use this setting carefully, as it can lead to unclear data in the inventory log export.</p></td>
</tr>
</tbody>
</table>
<h3 id="800" class="discrete">Using the different formats for inventory log exports</h3>
<div class="paragraph">
<p>You can download the inventory log export in CSV and PDF format. Choose the file format that is appropriate for your use case.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="csv-file-tab" data-toggle="tab" href="#csv-file" role="tab" aria-controls="csv-file" aria-selected="true">CSV file</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="pdf-file-tab" data-toggle="tab" href="#pdf-file" role="tab" aria-controls="pdf-file" aria-selected="false">PDF file</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="csv-file" role="tabpanel" aria-labelledby="csv-file-tab">
<div class="ulist">
<ul>
<li>
<p>The CSV file can be edited after it has been created. It is especially useful if you want to add further information manually. In addition, you should choose this file format if you wish to import the data into your accounting software or other tools for further processing.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="pdf-file" role="tabpanel" aria-labelledby="pdf-file-tab">
<div class="ulist">
<ul>
<li>
<p>The PDF file cannot be edited after it has been created. Thus, it can serve as a receipt that you can use for your tax advisor and store for your own accounting purposes.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Delay when generating PDF files</div>
<div class="paragraph">
<p>Depending on the filters you have selected for the inventory log export, generating the PDF files can take some time due to the quantity of data that has to be processed. For example, this is the case if you have selected filters for a high number of storage locations at once. Try using different filter settings to generate multiple smaller exports. We are already working on fixing this behaviour so that a quicker generation of PDF files will be possible.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
</div></div>
</div>
</div>
</div>
</main>