<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Connecting plentyWarehouse to plentyBase</span></a></li>
<li><a href="#200"><span>2.</span><span> Preparations for printing labels</span></a></li>
<li><a href="#300"><span>3.</span><span> Printing labels</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Printing labels</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Pay attention to the requirements</div>
<div class="paragraph">
<p>This page requires that you have installed the plentyWarehouse app on an appropriate device. Note the hardware requirements described on the <a href="/en/welcome/quick-start/quick-start-system-requirements#450">System requirements</a> page of the manual. In addition, make sure that you are logged into the plentyWarehouse app and that you have carried out <a href="/en/stock-management/installation-and-initial-setup">all necessary steps for initial setup</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Current state of the plentyWarehouse app</div>
<div class="paragraph">
<p>At the moment, plentyWarehouse is available as part of an open beta phase. This means that the app is adjusted regularly due to improvements and bug fixes. During this phase, you are welcome to ask your questions and share feedback in the <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">forum</a> .</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For successful completion of some stock management tasks, your items and storage locations should be labelled. The labels contain a barcode containing all important information. Using the scan function of the scanning device or the built-in camera of the Android device, warehouse staff can identify items and storage locations in a time-saving and efficient way when <a href="/en/stock-management/plentywarehouse/carrying-out-stocktaking">taking stock</a>, <a href="/en/stock-management/plentywarehouse/redistributing-items">redistributing items</a> and <a href="/en/stock-management/plentywarehouse/reshelving-items">reshelving items</a>.</p>
</div>
<div class="paragraph">
<p>plentyWarehouse makes it easy for you to provide labels for all items and storage locations in your warehouse. You can conveniently print these labels any time from the app.</p>
</div>
<div class="paragraph">
<p>This page contains all information on the relevant preparatory settings and for printing labels via plentyWarehouse.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Requirement: plentyBase</div>
<div class="paragraph">
<p>To print labels via plentyWarehouse, plentyBase needs to be installed on the computer you are working with. plentyBase is required to establish the communication between plentyWarehouse and your label printer. Refer to the <a href="/en/automation/processes/installing-plentybase">Installing plentyBase</a> page of the manual for further information and instructions on how to set up the tool.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Connecting plentyWarehouse to plentyBase</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyWarehouse has to communicate with the printer that you want to use for printing labels. To establish this communication, you need to connect plentyWarehouse to the plentyBase tool once.</p>
</div>
<div class="paragraph instruction">
<p>Connecting plentyWarehouse to plentyBase:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/stock-management/plentywarehouse/installation-and-initial-setup#300">Log into plentyWarehouse</a>.</p>
</li>
<li>
<p>Tap on the menu icon (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) in the top left corner.</p>
</li>
<li>
<p>Scroll down and tap on <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Tap on <strong>plentyBase</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/stock-management/plentywarehouse/assets/icon_plentybase.png" alt="icon plentybase" width="14" height="14"></span>).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now, you have two possibilities to connect plentyWarehouse to plentyBase. You can either scan a QR code in the plentymarkets back end to establish the connection automatically or enter the required data manually.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="scanning-the-qr-code-tab" data-toggle="tab" href="#scanning-the-qr-code" role="tab" aria-controls="scanning-the-qr-code" aria-selected="true">Scanning the QR code</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="entering-the-connection-data-manually-tab" data-toggle="tab" href="#entering-the-connection-data-manually" role="tab" aria-controls="entering-the-connection-data-manually" aria-selected="false">Entering the connection data manually</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="scanning-the-qr-code" role="tabpanel" aria-labelledby="scanning-the-qr-code-tab">
<div class="paragraph">
<p>We recommend that you use the following method to save the required connection data comfortably and without error in plentyWarehouse.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Establish the connection to plentyBase automatically by tapping on <strong>Import</strong> and following the instructions displayed on the screen.</p>
</li>
<li>
<p>Scan the QR code in the <strong>Import settings into plentyWarehouse</strong> area in the <strong>plentymarkets logo (Start) » plentyBase » Settings</strong> menu in the plentymarkets back end.<br>
→ The connection to plentyBase is established.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="entering-the-connection-data-manually" role="tabpanel" aria-labelledby="entering-the-connection-data-manually-tab">
<div class="paragraph">
<p>Tap on the fields and enter the required data. Pay attention to the information provided in <a href="#table-pw-plentybase-connection">Table 1</a>.</p>
</div>
<table id="table-pw-plentybase-connection" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Required connection data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The IP address of the computer on which plentyBase is installed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the HTTP port that was assigned to plentyBase on the computer.
 Port <strong>7331</strong> is selected by default. Click on the plentyBase icon in the computer’s task bar and then on <strong>Open configuration</strong> to see which HTTP port is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the access token that is saved in plentyBase for this computer.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="200">2. Preparations for printing labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In addition to <a href="#100">connecting the plentyWarehouse app with plentyBase</a>, make sure that you have carried out all necessary settings in your plentymarkets back end before printing labels with plentyWarehouse for the first time.</p>
</div>
<div class="paragraph">
<p>The following check list helps you to keep an overview of the individual work steps. Use the links to other manual pages to access further information and instructions if necessary.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Have you connected an appropriate <a href="/en/automation/processes/printer#50">label printer</a> to plentyBase?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Have you created an appropriate <a href="/en/automation/processes/printer#10">configuration</a> for this label printer?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Have you assigned <a href="/en/item/settings/barcodes#300">barcodes</a> to your items?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Have you created a <a href="/en/item/settings/barcodes#800">template for item labels</a>?</p>
</li>
<li>
<p>[&nbsp;] Have you created a <a href="/en/stock-management/setting-up-a-warehouse#800">template for storage location labels</a>?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Printing labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Have you connected plentyWarehouse to your printer via plentyBase and used the check list above to carry out all necessary <a href="#200">preparatory settings in your plentymarkets system</a>?</p>
</div>
<div class="paragraph">
<p>All you have to do now is search for the desired item or storage location in plentyWarehouse to print the respective label.</p>
</div>
<div class="paragraph instruction">
<p>Printing labels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/stock-management/plentywarehouse/installation-and-initial-setup#300">Log into plentyWarehouse</a>.</p>
</li>
<li>
<p>Search for an <a href="/en/stock-management/plentywarehouse/items-and-storage-locations#300">item</a> or a <a href="/en/stock-management/plentywarehouse/items-and-storage-locations#600">storage location</a>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Scan the label of the item or storage location in front of you. This is the fastest way to print additional labels in case you need more.</p>
</li>
<li>
<p>Tap on the desired item or storage location in the list of search results.<br>
→ A view containing details on the item or the storage location opens.</p>
</li>
<li>
<p>Tap on <span class="icon "><i class="material-print"></i></span>.<br>
→ The <strong>Print</strong> view opens.</p>
</li>
<li>
<p>Enter the number of labels that should be printed in the <strong>Quantity</strong> field.</p>
</li>
<li>
<p>Select the appropriate template for the label from the upper drop-down list.</p>
</li>
<li>
<p>Tap on <strong>Print</strong>.<br>
→ The labels are printed.</p>
</li>
</ol>
</div>
</div>
</div>
</main>