<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei real.de registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> real.de in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#400"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>7.</span><span> Merkmale verknüpfen</span></a></li>
<li><a href="#600"><span>8.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#700"><span>9.</span><span> real.de-Attribute als Merkmale verknüpfen</span></a></li>
<li><a href="#800"><span>10.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#900"><span>11.</span><span> Stornierungen automatisch senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>real.de einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.real.de" target="_blank" rel="noopener"><strong>real.de</strong></a> gehört zu den größten Festpreismarktplätzen Deutschlands. Auf real.de können Sie Artikel aus zahlreichen Produktkategorien verkaufen. Die Zahlungsabwicklung übernimmt real.de für Sie, d.h. Sie tragen weder Paymentkosten noch Inkassorisiko.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei real.de registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu real.de nutzen zu können, müssen Sie Ihr real.de-Benutzerkonto als Händlerkonto registrieren. Rufen Sie dazu auf der <strong><a href="https://www.real.de/seller/new/" target="_blank" rel="noopener">real.de-Website</a></strong> den Bereich <strong>Mein Konto</strong> auf und geben Sie dort Ihre Umsatzsteuer-Identifikationsnummer ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. real.de in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Artikel bei real.de anzubieten, richten Sie real.de in plentymarkets ein. Sie benötigen dazu Ihre Zugangsdaten für die real.de-Schnittstelle. Sie können pro Webshop bzw. Mandant (Shop) ein Konto für real.de einrichten.</p>
</div>
<div class="paragraph instruction">
<p>Zugang zu real.de einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Märkte » real.de » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Untermenü des Mandanten, bei dem Sie den Zugang einrichten möchten.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dabei die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einstellungen des Marktplatzes real.de</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiv</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ja</strong> = Die Schnittstelle zu real.de ist aktiviert.<br>
<strong>Nein</strong> = Die Schnittstelle ist nicht aktiviert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Client Key eingeben, wie von real.de erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Secret Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Secret Key eingeben, wie von real.de erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verfügbarkeit der Artikel übertragen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ja</strong> oder <strong>Nein</strong> wählen.<br>
<strong>Ja</strong> = Die Eigenschaft <strong>Verfügbarkeit</strong> des Artikels wird übertragen.<br>
<strong>Nein</strong> = Die Eigenschaft <strong>Verfügbarkeit</strong> des Artikels wird nicht übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungseingang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Einstellung greift für den Auftragsimport. Aufträge werden als bezahlt oder nicht bezahlt importiert. Unabhängig von dieser Einstellung werden Artikel bei ausreichend Bestand sofort für den Versand freigegeben. Mit der Einstellung <strong>offen</strong> könnte man bei tatsächlichem Zahlungseingang von real.de den Auftrag auf bezahlt setzen und somit eine Kontrolle von real.de durchführen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelkommentar</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier <strong>Freitextfelder</strong> für Artikelkommentare einrichten oder das Feld <strong>Globaler Artikelkommentar</strong> für diese Funktion einstellen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Globaler Artikelkommentar</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier kann beliebiger Text eingegeben werden, der dann bei jedem Angebot angezeigt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelmenge für Artikel ohne Bestandsbeschränkung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Artikel mit der Einstellung <strong>Keine Beschränkung</strong> im Tab <strong><a href="/warenwirtschaft/warenbestaende-verwalten">Bestand</a></strong> werden in der hier definierten Anzahl auf real.de angeboten. Sobald ein Verkauf stattgefunden hat, wird zur nächsten Stunde die hier hinterlegte Anzahl wieder neu zum Verkauf eingestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Preisspalte Tiefstpreis-Automatik</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Preisspalte für Tiefstpreis-Automatik wählen, d.h. den niedrigsten Preis, zu dem der Artikel angeboten werden soll.<br>
Für die gewählte Preisspalte muss bei den Artikeln jeweils ein Tiefstpreis eingegeben sein.<br>
<strong>Wichtig</strong>: Die Tiefstpreisautomatik greift nicht bei Variantenartikeln mit Aufpreisen für Attribute. In diesem Fall diese Automatik auf <strong>deaktiviert</strong> einstellen oder jede Variante als separaten Artikel mit definierter Preisspalte für die Tiefstpreisautomatik erstellen, wenn diese genutzt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versanddienstleister-Mapping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Einstellung ist ausschließlich dafür bestimmt, dass real.de nach Bestätigung des Versands mit Hilfe der richtigen Paketnummer den korrekten Tracking-Link an den Kunden per E-Mail versenden kann.<br>
<strong>Wichtig</strong>: Sie müssen jedem Ihrer Dienstleister einen Dienstleister aus dem Dropdown-Menü zuordnen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandprofil-Mapping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Einstellung ist ausschließlich dafür bestimmt, die real.de Versandgruppen mit den plentymarkets Versandprofilen zu verknüpfen. Sind an einem Artikel mehrere Versandprofile hinterlegt, wird das Versandprofil mit der niedrigsten Kategorie und der höchsten Priorität exportiert. Die Kategorie und Priorität des Versandprofils werden unter <strong>System » Aufträge » Versand » Optionen » Tab: Versandprofile</strong> im jeweiligen Versandprofil im Tab <strong>Base</strong> konfiguriert.<br>
<strong>Wichtig</strong>: Wenn die Versandgruppen auf real.de geändert werden, können diese über <strong>Versandgruppen aktualisieren</strong> aktualisiert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nur Artikel mit Markierung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Alle Artikel</strong> = Alle Artikel werden exportiert.<br>
<strong>Alle Artikel mit Markierung 1</strong> bzw. <strong>2</strong> = Alle Artikel mit dieser Markierung werden exportiert.<br>
<strong>Alle Artikel ohne Markierung 1</strong>bzw. <strong>2 =</strong>Alle Artikel ohne diese Markierung werden exportiert.<br>
Auswahl einer bestimmten Markierung = Nur Artikel mit dieser bestimmten Markierung werden exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Cache-Datei generieren (Inventory)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ja</strong> oder <strong>Nein</strong> wählen.<br>
<strong>Ja</strong> = Bestand wird täglich im Cache gespeichert. <br>
<strong>Nein</strong> = Bestand wird nicht im Cache gespeichert.<br>
<strong>Hinweis</strong>: Wir empfehlen die Option <strong>Ja</strong> zu verwenden, da es bei großen Bestandsänderungen sonst zu Fehlern kommen kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Technische Daten zur Artikelbeschreibung hinzufügen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob die technischen Daten, die im Tab <strong>Texte</strong> des Artikels eingegeben sind, zur Artikelbeschreibung bei real.de hinzugefügt werden sollen. Standardmäßig ist die Option auf <strong>Ja</strong> gestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorschau aller Artikel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erstellt eine Vorschau Ihrer Artikel für real.de.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorschau Produktdatei</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erstellt eine Vorschau der Produktdatei.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Bestands- und Preisabgleich</p>
</li>
<li>
<p>täglicher Artikelexport (nur Artikel, bei denen die letzte Änderung innerhalb der letzten 26 Stunden getätigt wurde)</p>
</li>
<li>
<p>stündlicher Auftragsimport</p>
</li>
<li>
<p>stündliche Übermittlung der Markierung <strong>Storniert</strong> oder <strong>Versendet</strong> an real.de<br>
→ <strong>Versendet</strong> wird nach Buchung des Warenausgangs übermittelt, <strong>Storniert</strong> wird bei Setzen der Status 8 bis 8.x übermittelt</p>
</li>
<li>
<p>Export von Aufpreisen für Attributwerte (Variantenartikel)</p>
</li>
<li>
<p>Übertragung des Beschreibungstexts, wie im Tab <strong>Texte</strong> eingegeben</p>
</li>
<li>
<p>Übertragung der technischen Daten, wie in Tabelle 1 gewählt</p>
</li>
<li>
<p>Bilderexport, wie im Tab <strong>Bilder</strong> des Artikels eingestellt</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Sie Artikel, Merkmale etc. mit real.de verknüpfen können, muss im Menü <strong>System » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft real.de aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für real.de aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setzen Sie bei <strong>real.de</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die Sie auf real.de verkaufen möchten, müssen im Menü <a href="/artikel/artikel-verwalten#170"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für real.de einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>real.de</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Artikel ist auf real.de verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> individuell angepasst werden.</p>
</div>
<div class="paragraph subhead">
<p>Weitere Voraussetzungen für die Artikelverfügbarkeit
Damit Ihre Artikel auf dem Marktplatz real.de verfügbar sind, müssen außerdem die folgenden Voraussetzungen erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Für Varianten darf die Beschränkung nicht auf <strong>Keine Beschränkung</strong> eingestellt sein.</p>
</li>
<li>
<p>Die Angabe einer EAN oder ISBN ist zwingend erforderlich. Ansonsten wird der Artikel nicht an real.de übertragen.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <a href="/artikel/artikel-verwalten#170"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> fügen Sie, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie die Herkunft <strong>real.de</strong>.</p>
</li>
<li>
<p>Wählen Sie das dazugehörige Marktplatzkonto.</p>
</li>
<li>
<p>Geben Sie die SKU ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um für die Auftragsherkunft real.de einen Verkaufspreis festzulegen. Dieser Preis wird auf real.de angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für real.de festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Herkunft <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Merkmale verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um <a href="/artikel/artikel-verwalten#480"><strong>Merkmale</strong></a> für den Marktplatz real.de zu nutzen, verknüpfen Sie diese mit real.de.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Merkmal.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verknüpfen Sie Ihre Webshop-Kategorien mit den Kategorien von real.de, damit Ihre Artikel in diesen Kategorien angezeigt werden. Weitere Artikel der verknüpften Kategorien werden dann automatisch zugewiesen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Märkte » real.de » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.<br>
→ Das Fenster <strong>Kategorie wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie die real.de-Kategorie, die am besten zu Ihrer Webshop-Kategorien passt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Übernehmen</strong>.<br>
→ Die ID der real.de-Kategorie und der Kategoriepfad werden angezeigt.</p>
</li>
<li>
<p>Wenn Sie die ID der real.de-Kategorie bereits kennen, geben Sie die ID in das Feld <strong>Marktplatzkategorie</strong> ein, um sie mit Ihrer Webshop-Kategorie zu verknüpfen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Unterkategorien müssen nicht verknüpft werden</div>
<div class="paragraph">
<p>Es kann vorkommen, dass Ihre Unterkategorien nicht mit denen von real.de übereinstimmen. Verknüpfen Sie Ihre Artikel in diesem Fall mit der passenden Hauptkategorie von real.de. real.de ordnet Ihre Artikel automatisch einer Unterkategorie zu. Artikel, die keiner real.de-Kategorie zugeordnet wurden, sollten Sie nicht an real.de übertragen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. real.de-Attribute als Merkmale verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei real.de ist es möglich, Attribute durch plenty-Merkmale zu überschreiben oder real-Attribute hinzuzufügen. Damit diese im real.de-Export erscheinen, müssen diese denselben Namen haben wie in der Dokumentation von real.de vorgegeben. Die real.de-Attribute ean (EAN), title (Titel), description (Beschreibung), manufacturer (Hersteller) und picture (Bild) sind für den Artikelexport Pflichtangaben und werden standardmäßig von plenty übertragen. Diese könnten nur durch ein Merkmal überschrieben werden, andere Attribute wie z.B. "material_compostion", "clothing_size" oder "weight" können entsprechend hinzugefügt werden, wenn ein entsprechendes Merkmal mit Namen in plentymarkets angelegt wird.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Pflichtangaben für den Artikelexport</div>
<div class="paragraph">
<p>Die real.de-Attribute <strong>ean</strong> (EAN), <strong>title</strong> (Titel), <strong>description</strong> (Beschreibung), <strong>manufacturer</strong> (Hersteller) und <strong>picture</strong> (Bild) sind für den Artikelexport Pflichtangaben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Merkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Geben Sie <strong>ean</strong> unter <strong>Backendname</strong> ein. <br>
→ Diese Bezeichnung wird in der Artikelbearbeitung in der Merkmalverknüpfung angezeigt.</p>
</li>
<li>
<p>Geben Sie einen Namen unter <strong>Webshop</strong> ein. <br>
→ Dieser Name wird in der Artikelübersicht im Webshop angezeigt.</p>
</li>
<li>
<p>Wählen Sie den <strong>Merkmaltyp</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktivieren Sie die <a href="/auftragsabwicklung/payment/zahlungsarten-verwalten"><strong>Zahlungsart</strong></a><strong>real.de Payment</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart real.de Payment aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den Ordner <strong>DE &gt; real.de Payment</strong>.<br>
→ Die Einstellungen für die real.de-Zahlungsart werden angezeigt.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit ist es möglich, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite (Extern)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferländer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kein Lieferland wählen.<br>
Sie können die Zahlungsart nicht in Ihrem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig konfiguriert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standard-Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logoansicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo hochladen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priorität</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kosten: Pauschal oder Prozentual</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen finden Sie auf den Handbuchseiten <strong><a href="/basics/statistik">Statistik</a></strong> und <strong><a href="/basics/statistik/allgemeine-statistiken/artikel/renner-und-penner">Renner und Penner</a></strong>. Ein Beispiel für pauschale und prozentuale Kosten finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#20">Grundeinstellungen</a></strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>System » CRM » Kundenklassen</strong> aktivieren oder deaktivieren Sie <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen finden Sie im Kapitel <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#30">Zahlungsarten und Kundenklassen</a></strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten">Zahlungsarten</a></strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Keine Prozesse zur Rechnungsabwicklung über Ereignisaktionen</div>
<div class="paragraph">
<p>Rechnungen werden von real.de in Ihr plentymarkets System übertragen. Es ist somit nicht möglich, über Ihr System eigene Rechnungen zu generieren. Das bedeutet, dass Sie - im Gegensatz zu anderen Marktplätzen - keine Prozesse zur Rechnungabwicklung über <a href="/basics/automatisierung/ereignisaktionen"><strong>Ereignisaktionen</strong></a> steuern können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um real.de automatisch über Stornierungen zu informieren. Bei Stornierungen muss ein Grund für die Stornierung an real.de übertragen werden. Erstellen Sie im Menü <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten">System » Aufträge » Auftragsstatus</a></strong> ggf. zusätzliche Auftragsstatus. Folgende Stornierungsgründe können an real.de übertragen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Umtausch durch Kunde</p>
</li>
<li>
<p>Stornierung durch Kunden</p>
</li>
<li>
<p>Falsche Leiferadresse</p>
</li>
<li>
<p>Falsche Artikelbeschreibung</p>
</li>
<li>
<p>Kunde hat Ware nicht erhalten</p>
</li>
<li>
<p>Artikel ausverkauft</p>
</li>
<li>
<p>Falscher Verkaufspreis</p>
</li>
<li>
<p>Lieferadresse wird nicht beliefert</p>
</li>
<li>
<p>Sonstiger Grund</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle X.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle X vor.
.</p>
</li>
<li>
<p>Wählen Sie einen Grund.<br>
Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Stornierungen an real.de</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Statuswechsel: [8.] Storniert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>real.de</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Stornierung an real.de senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Grund wählen</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>