<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Rakuten</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Rakuten.de in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating an order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining SKU manually</span></a></li>
<li><a href="#400"><span>6.</span><span> Linking categories</span></a></li>
<li><a href="#500"><span>7.</span><span> Linking shipping groups to items</span></a></li>
<li><a href="#600"><span>8.</span><span> Providing information on the energy efficiency</span></a></li>
<li><a href="#700"><span>9.</span><span> Setting up the item export</span></a>
<ul class="sectlevel3">
<li><a href="#_overwriting_delivery_periods"><span>9.1.</span><span> Overwriting delivery periods</span></a></li>
<li><a href="#_adding_prefixes_and_suffixes_to_a_parent_sku"><span>9.2.</span><span> Adding prefixes and suffixes to a parent SKU</span></a></li>
</ul>
</li>
<li><a href="#800"><span>10.</span><span> Setting up the price synchronisation</span></a></li>
<li><a href="#900"><span>11.</span><span> Setting up the stock synchronisation</span></a></li>
<li><a href="#1400"><span>12.</span><span> Defining a sales price</span></a></li>
<li><a href="#1500"><span>13.</span><span> Activating payment methods</span></a></li>
<li><a href="#1600"><span>14.</span><span> Assigning delivery periods</span></a></li>
<li><a href="#170"><span>15.</span><span> Automatically sending preparation for shipping</span></a></li>
<li><a href="#170"><span>16.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#1800"><span>17.</span><span> Automatically sending returns</span></a></li>
<li><a href="#1900"><span>18.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#2000"><span>19.</span><span> Viewing the log and the API log</span></a>
<ul class="sectlevel2">
<li><a href="#_viewing_the_log"><span>19.1.</span><span> Viewing the log</span></a></li>
<li><a href="#_viewing_the_api_log"><span>19.2.</span><span> Viewing the API log</span></a></li>
</ul>
</li>
<li><a href="#2100"><span>20.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up Rakuten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With plentymarkets, you can sell items on the platform Rakuten.de.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Rakuten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with Rakuten before setting up Rakuten in plentymarkets. Use the registration forms for the platform <a href="https://leadgen.rakuten.de/form?leadsource=marketplace_header" target="_blank" rel="noopener">rakuten.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Rakuten.de in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following settings in plentymarkets in order to set up the interface to Rakuten.de.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Rakuten.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Rakuten.de</strong>.<br>
→ The <strong>New account</strong> tab is displayed.</p>
</li>
<li>
<p>Expand the <strong>Rakuten settings</strong> (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>). <br>
→ The platform <strong>rakuten.de</strong> is pre-selected.</p>
</li>
<li>
<p>Enter the <strong>Authentication key</strong>.<br>
→ You can find the key in the back end of your Rakuten.de account.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the explanations given in <a href="#settings-rakuten">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Reload the menu. <br>
→ The account is created and the platform’s settings are loaded.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you use multiple accounts for Rakuten.de, you need an authentication key for each account.</p>
</div>
<table id="settings-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting up Rakuten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deactivate</strong> = The interface is inactive.<br>
<strong>Activate</strong> = The interface is active. New orders are automatically retrieved once an hour. Sent orders are automatically transferred to Rakuten every hour.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment pending</strong> = Import orders as unpaid.<br>
<strong>Incoming payment booked</strong> = Import orders as paid. In this way, Rakuten can be tested. The order is set to paid when the incoming payment from Rakuten is received.<br>
 Regardless of the chosen setting, items are immediately cleared for shipping when they have sufficient stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send order confirmation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deactivate</strong> = Order confirmations are not transferred.<br>
<strong>Activate</strong> = Order confirmations are transferred to the customer. The email template saved under <strong>Setup » Client » Select client » Email » Automatic</strong> is sent to the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>View API log</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>View API log</strong> to display the API log.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly order synchronisation</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following processes are carried out by the <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexportrakutende_4721" target="_blank" rel="noopener">ElasticExportRakutenDE plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly stock synchronisation</p>
</li>
<li>
<p>hourly price synchronisation</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>After you have installed the <strong>ElasticExportRakutenDE plugin</strong>, you can use the data format <strong>RakutenDE plugin</strong> for the elastic export. The plugin can be downloaded from the <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marketplaces" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. For further information about setting up the plugin in plentymarkets, refer to the plugin’s user guide.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Rakuten, you have to activate the order referrer Rakuten in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Rakuten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>Rakuten.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Rakuten. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on Rakuten</div>
<div class="paragraph">
<p>If you want to sell all variations of an item on Rakuten, carry out the settings below for the item’s main variation. All other variations of the item then inherit the settings of the main variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for Rakuten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Rakuten.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, active the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field. <br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Rakuten</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Rakuten.de</strong>.</p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you made the item available, link your store categories to the categories on Rakuten.</p>
</div>
<div class="paragraph instruction">
<p>Linking a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p>Select the main category for the item from the <strong>Rakuten.de</strong> drop-down list within the <strong>Category link</strong> area.<br>
→ A window for selecting further categories opens.</p>
</li>
<li>
<p>Select the subcategories until you have reached the lowest possible category level.<br>
→ A category number is displayed.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The category link is displayed by the category number and the Rakuten category.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Linking shipping groups to items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Shipping profiles are set up directly on Rakuten. The shipping profiles that are saved for items are not transferred to Rakuten. On Rakuten.de, the shipping profiles are called shipping groups (Versandgruppen). These shipping groups are linked to your items with a <strong>free text field</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a free text field for a shipping group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Free text fields</strong>.</p>
</li>
<li>
<p>Enter a name for one of the free text fields, e.g. <strong>Rakuten shipping group</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ Note: Free text fields are activated at night and will be available the next morning.</p>
</li>
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open each of the items that you want to transfer and enter the <strong>shipping group number</strong> in the item’s <strong>Fields</strong> tab.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Let Rakuten know which free text field is used.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No free text field</div>
<div class="paragraph">
<p>If no free text field is transferred to Rakuten, then a link to shipping group 1 is created automatically.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Set up further countries of delivery on Rakuten, too.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Providing information on the energy efficiency</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To comply with EU regulations on energy efficiency that came into force on 1 January 2015, you have to provide information on the energy efficiency of certain items. In addition, you have to make product data sheets available to potential buyers of these items. This information also has to be transferred to Rakuten. Create the following <a href="/en/item/managing-items#480">properties</a>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Energy efficiency class</strong><br>
Property type: <strong>No</strong></p>
</li>
<li>
<p><strong>Energy efficiency class up to</strong><br>
Property type: <strong>No</strong><br></p>
</li>
<li>
<p><strong>Device group - energy efficiency class</strong><br>
Property type: <strong>No</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You have to create a separate property for each energy efficiency class from A+++ to G.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter a name for the property under <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the option <strong>No</strong> from the <strong>Property type</strong> drop-down list.</p>
</li>
<li>
<p>Select the Rakuten property from the <strong>Rakuten.de property</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Link the properties in the <a href="/en/item/managing-items#480">Properties</a> tab of an item.</p>
</div>
<div class="paragraph">
<p>Make the product data sheet available for Rakuten in electronic form. This is done by inserting a link in the item description. The link to the product data sheet is saved in an item’s <a href="/en/item/managing-items#50">Texts</a> tab. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Saving the product data sheet in the item description:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Upload the product data sheet in the item’s <strong>Images</strong> tab.</p>
</li>
<li>
<p>Copy the image URL.</p>
</li>
<li>
<p>Insert the link to the product data sheet in the item’s <strong>Texts</strong> tab.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains how to transfer your items to Rakuten.de. The item export for Rakuten is carried out by the elastic export. The data format RakutenDE is used for this. Therefore, the plugins <strong>ElasticExport</strong> and <strong>ElasticExportRakutenDE</strong> have to be installed in your plentymarkets system. First, create the data format RakutenDE. Then transfer the URL to Rakuten.de.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Contact Rakuten for the setup</div>
<div class="paragraph">
<p>It is mandatory to contact Rakuten for setting up the export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up the item export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-item-export">Table 2</a>.</p>
</li>
<li>
<p>Carry out further settings for item filters and format settings. Pay attention to the explanations given in table 2 on the <a href="/en/data/exporting-data/elastic-export">Elastic export</a> page of the manual.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format is given an ID and it appears in the overview within the <strong>Exports</strong> tab.</p>
</li>
</ol>
</div>
<table id="settings-item-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for the item export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the format <strong>RakutenDE</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 10,000 data records to rakuten.de, then the output file is not generated again for another 24 hours. This is to save resources.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if you want to transfer more than 9,999 data records to the price search engine. We recommend that you do not activate this setting for more than 20 export formats. This is to ensure a high performance of the elastic export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>URL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The file name must have the ending <strong>.csv</strong> for Rakuten.de to be able to import the file successfully.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong>,<br>
<strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token was generated under <strong>Token</strong>. Give this URL to Rakuten.de in order to export the items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Format settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client. This setting is used for the URL structure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a suffix for the product URL if this is required for the export. If you activated the <strong>transfer</strong> option for the product URL further up, then this character string is added to the product URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Rakuten.de</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Market account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you export item data for the first time, the account selected here is considered when generating an SKU.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select Name 1, Name 2 or Name 3. These names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. Text)</strong> field if desired. This specifies how many characters are exported for the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect Rakuten.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as description.<br>
Enter a number into the <strong>Maximum number of characters (def. Text)</strong> field if desired. This specifies how many characters are exported for the description.<br>
Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the <strong>Permitted HTML tags, separated by comma (def. Text)</strong> field. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the target country from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the ISBN or an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. If the barcode is not linked to the order referrer, it will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.<br>
<strong>Position 0</strong> = An image with position 0 is transferred.<br>
<strong>First image</strong> = The first image is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position of the energy label. Every image that should be transferred as an energy label must have this position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock buffer for variations with limitation to the net stock. Enter a number. The stock is reduced by the value of this number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variation without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations that are not limited to stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock administration.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select gross price or net price from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the offer price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the RRP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, then you are able to select the configuration and the payment method from the drop-down lists.<br>
Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a fixed shipping charge. If this option is activated, a value has to be entered in the line underneath.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter text. This amount includes the VAT but does not include shipping.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the <strong>Setup » Item » Availability</strong> menu.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Export information</div>
<div class="paragraph">
<p>If you change one or more settings, then you have to transfer the new link to Rakuten.</p>
</div>
<div class="paragraph">
<p>A maximum of 4000 items is exported at once. If you export more items, then a second export is automatically carried out. To display the second export process, set the parameter <strong>&amp;Page</strong> = in the export link to <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technical data is transferred to Rakuten in the last column of the export file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_overwriting_delivery_periods">9.1. Overwriting delivery periods</h4>
<div class="paragraph">
<p>Rakuten requires pre-defined values for the delivery period. For example, you cannot transfer the values 1 or 2 as delivery period. In this case, the export will be rejected with an error.
Therefore, you have to overwrite the delivery period in the elastic export for Rakuten. The following list contains an overview of Rakuten delivery periods with the corresponding item availabilities. If your item availability ID 1 means that the items are in stock and will be delivered within the next 1-3 business days, then use the elastic export to overwrite the item availability ID 1 with the delivery period 0.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Available from stock (= delivery period 1 to 3 business days)</p>
</li>
<li>
<p>3 = Ready for shipping within 3 business days (= delivery period approx. 3 to 6 business days)</p>
</li>
<li>
<p>5 = Ready for shipping within 5 business days (= delivery period approx. 6 - 8 business days)</p>
</li>
<li>
<p>7 = Ready for shipping within 7 business days (= delivery period approx. 8 - 10 business days)</p>
</li>
<li>
<p>10 = Ready for shipping within 10 business days (= delivery period approx. 10 - 15 business days)</p>
</li>
<li>
<p>15 = Ready for shipping within 15 business days (= delivery period approx. 15 - 20 business days)</p>
</li>
<li>
<p>20 = Ready for shipping within 20 business days (= delivery period approx. 20 - 30 business days)</p>
</li>
<li>
<p>30 = Ready for shipping within 30 business days (= delivery period approx. 30 - 40 business days)</p>
</li>
<li>
<p>40 = Ready for shipping within 40 business days (= delivery period approx. 40 - 50 business days)</p>
</li>
<li>
<p>50 = Ready for shipping within 50 business days (= delivery period approx. 50 - 60 business days)</p>
</li>
<li>
<p>60 = Ready for shipping within 60 business days (= delivery period more than 3 months)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The values for the delivery periods are also available in Rakuten’s <a href="https://infos.rakuten.de/academy/das-haendlerkonto-1/produkte/csv-import" target="_blank" rel="noopener">interface documentation</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Please note that this documentation is currently only available in German.</p>
</div>
</div>
<div class="sect3">
<h4 id="_adding_prefixes_and_suffixes_to_a_parent_sku">9.2. Adding prefixes and suffixes to a parent SKU</h4>
<div class="paragraph">
<p>If you have installed the <a href="https://marketplace.plentymarkets.com/plugins/markets/ElasticExportRakutenDE_4721" target="_blank" rel="noopener">ElasticExportRakutenDE plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> in your plentymarkets system, then you can add prefixes and suffixes to parent SKUs. This way you avoid identical parent and child SKUs which will be treated as the same item on Rakuten.</p>
</div>
<div class="paragraph">
<p>Prefixes and suffixes are added within the <strong>Plugins » Plugin overview » ElasticExportRakutenDE » Configuration » Parent SKU</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Adding prefixes and suffixes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the <strong>ElasticExportRakutenDE</strong> plugin.</p>
</li>
<li>
<p>Go to <strong>Configuration » Parent SKU</strong>.</p>
</li>
<li>
<p>Enter a prefix and suffix into the <strong>Prefix</strong> and <strong>Suffix</strong> fields as desired.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The entered prefixes and suffixes are added to parent SKUs which you generate afterwards.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use alphanumeric characters</div>
<div class="paragraph">
<p>We recommend to use only letters and numbers for the prefixes and suffixes. You should avoid using umlauts. Using umlauts for the prefix and suffix might cause problems during the data exchange.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Changes only apply to SKUs which you generate afterwards</div>
<div class="paragraph">
<p>Please note that the prefixes and suffixes are only added to those SKUs which you generate for Rakuten.de after you have saved this setting. Parent SKUs which already exist are not considered for this setting. Add prefixes and suffixes manually to those SKUs if desired.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Setting up the price synchronisation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, you will learn how to activate the price synchronisation for Rakuten. The price synchronisation for Rakuten is carried out by the elastic export. The data format RakutenDE is used for this. Therefore, the plugins <strong>ElasticExport</strong> and <strong>ElasticExportRakutenDE</strong> have to be installed in your plentymarkets system.<br>
Prices are synchronised every hour.</p>
</div>
<div class="paragraph instruction">
<p>Activating the price synchronisation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the <strong>ElasticExportRakutenDE</strong> plugin.</p>
</li>
<li>
<p>Go to <strong>Configuration » Update settings</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Price update</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Query for price and stock synchronisation</div>
<div class="paragraph">
<p>If the queries for price and stock synchronisation fail 5 times in a row, then the price and stock synchronisation will be aborted.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Setting up the stock synchronisation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, you will learn how to activate the stock synchronisation for Rakuten. The stock synchronisation for Rakuten is carried out by the elastic export. The data format RakutenDE is used for this. Therefore, the plugins <strong>ElasticExport</strong> and <strong>ElasticExportRakutenDE</strong> have to be installed in your plentymarkets system.<br>
Stock is synchronised every hour.</p>
</div>
<div class="paragraph instruction">
<p>Activating the stock synchronisation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the <strong>ElasticExportRakutenDE</strong> plugin.</p>
</li>
<li>
<p>Go to <strong>Configuration » Update settings</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Stock update</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Query for price and stock synchronisation</div>
<div class="paragraph">
<p>If the queries for price and stock synchronisation fail 5 times in a row, then the price and stock synchronisation will be aborted.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">12. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer {referrer}. This price is displayed on {referrer}.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for {referrer}:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices »</strong> <em>Open sales price</em> <strong>» Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>{referrer}</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Original currency is not the default currency</div>
<div class="paragraph">
<p>Additional information is saved for orders that are imported with a different currency than the standard currency saved in plentymarkets. In this case, both the original currency and the original gross and net amounts are saved for every item included in the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">13. Activating payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the payment methods <strong>Rakuten payment</strong>, <strong>Rakuten Rechnung</strong> and <strong>Klarna</strong>. This allows payments to be made for orders on Rakuten and displayed in your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Activating Rakuten payment methods:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE</strong> &gt; <strong>Rakuten</strong>.</p>
</li>
<li>
<p>Select the Rakuten payment method.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-payment-method-rakuten">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="settings-payment-method-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/business-decisions/business-intelligence/statistics">Managing statistics</a> page. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Payment instruction on the invoice document for the payment method Rakuten Rechnung</div>
<div class="paragraph">
<p>Rakuten sends the invoice directly to the customer when Rakuten Rechnung is selected as the payment method. If you also issue an invoice, enter a <strong>payment instruction</strong> in the <strong>Optional elements in the stock unit table</strong> area. This payment instruction informs the customer that they have to pay Rakuten.</p>
</div>
<div class="paragraph">
<p><strong>Example text:</strong><br>
Payments are processed by Rakuten GmbH, Geisfelder Str. 16 in 96050 Bamberg. Because of this, the amount listed on this invoice is owed directly to Rakuten. It is not possible to make a payment to any other entity. Please pay the amount listed on this invoice within 10 days after receiving the goods. Transfer the amount to the Rakuten bank account listed below:<br>
Account holder Rakuten GmbH<br>
IBAN: DE86770200700021511501 <br>
BIC-/SWIFT-Code: HYVEDEMM411 (HypoVereinsbank)<br>
Designated use 1: Order number<br>
Designated use 2: First name &amp; surname</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">14. Assigning delivery periods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Rakuten uses standard delivery periods. However, the market indicates deadlines rather than a time period spanning several days. These deadlines are always the last day in each timespan. Shipping and delivery periods for Rakuten are assigned automatically according to the <strong>average period of delivery</strong>. For example, if the <strong>item availability</strong> lists an average delivery time of 2 days, then there wouldn’t be an exact equivalent for Rakuten. Therefore, the next longer shipping and delivery period is used for Rakuten.</p>
</div>
<table id="rakuten-delivery-periods" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Rakuten delivery periods</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Rakuten delivery period</th>
<th class="tableblock halign-left valign-top">Period</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Available from stock (= delivery period 1 to 3 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 3 business days (= delivery period approx. 3 to 6 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>5</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 5 business days (= delivery period approx. 6 to 8 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>7</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 7 business days (= delivery period approx. 8 to 10 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 10 business days (= delivery period approx. 10 to 15 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>15</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 15 business days (= delivery period approx. 15 to 20 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>20</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 20 business days (= delivery period approx. 20 to 30 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>30</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 30 business days (= delivery period approx. 30 to 40 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>40</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 40 business days (= delivery period approx. 40 to 50 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>50</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 50 business days (= delivery period approx. 50 to 60 business days)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>60</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ready for shipping within 60 business days (= delivery period more than 3 months)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="170">15. Automatically sending preparation for shipping</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically flag orders as in preparation for shipping.  If you do so, customers and the Rakuten customer service cannot cancel orders for 48 hours. Use this time span to process the order and update the status to shipped afterwards.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-shipping-preparation-rakuten">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-shipping-preparation-rakuten">Table 5</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-shipping-preparation-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for automatically sending preparation for shipping to Rakuten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: Preparing for shipment</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send preparation for shipping to Rakuten</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="170">16. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send shipping confirmations to Rakuten when the outgoing items are booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-shipping-confirmation-rakuten">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-shipping-confirmation-rakuten">Table 6</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-shipping-confirmation-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure for automatically sending shipping confirmations to Rakuten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to Rakuten</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1800">17. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send returns to Rakuten.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-returns-rakuten">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-returns-rakuten">Table 7</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-returns-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Event procedure for automatically sending returns to Rakuten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to Rakuten</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">18. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send cancellations to Rakuten.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-cancellations-rakuten">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-cancellations-rakuten">Table 8</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Event procedure for automatically sending cancellations to Rakuten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change &gt; Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send cancellation to Rakuten</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2000">19. Viewing the log and the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menus <strong>Data » Log</strong> and <strong>Data » API log</strong> contain a history of processes that run via the Rakuten interface.<br>
The <strong>log</strong> contains an overview of event procedures and the <strong>API log</strong> contains an overview of order imports.</p>
</div>
<div class="sect2">
<h3 id="_viewing_the_log">19.1. Viewing the log</h3>
<div class="paragraph">
<p>Open the <strong>Data » Log</strong> menu to retrieve an overview of event procedures that run via the Rakuten interface.</p>
</div>
<div class="paragraph instruction">
<p>Viewing log entries for Rakuten.de</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Select the identifier <strong>Rakuten.de</strong> from the <strong>Identifier</strong> drop-down list.</p>
</li>
<li>
<p>Select a filter from the <strong>Reference type</strong> drop-down list if you only want to see entries for a specific reference type. Pay attention to the explanations given in <a href="#table-reference-types">Table 9</a>.</p>
</li>
<li>
<p>Select a filter from the <strong>Reference value</strong> drop-down list if you only want to see entries for a specific reference value. Pay attention to the explanations given in <a href="#table-reference-types">Table 9</a>.</p>
</li>
<li>
<p>Select a <strong>date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select a time if you only want to see entries for a specific time of day.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Use the following reference types and reference values to filter the search results.</p>
</div>
<table id="table-reference-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Reference types and reference values for Rakuten.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Reference type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Reference value</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>action</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters the search results for event procedures.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a reference value to search for event procedures of a specific type.<br>
<strong>SendOrderStatusInLogistics</strong> = Filters for event procedures of the <strong>Send preparation for shipping to Rakuten</strong> type.<br>
<strong>SendOrderStatusShipped</strong> = Filters for event procedures of the <strong>Send shipping confirmation to Rakuten</strong> type.<br>
<strong>SendOrderTrackingData</strong> = Filters for event procedures of the <strong>Send tracking information to Rakuten</strong> type.<br>
<strong>SendOrderStatusCanceled</strong> = Filters for event procedures of the <strong>Send cancellation to Rakuten</strong> type.<br>
<strong>SendOrderStatusReturned</strong> = Filters for event procedures of the <strong>Send return to Rakuten</strong> type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters the search results for entries of a specific external order ID.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>orderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters the search results for entries of a specific order ID.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_viewing_the_api_log">19.2. Viewing the API log</h3>
<div class="paragraph">
<p>Open the <strong>Data » API log</strong> menu to retrieve an overview of order imports that run via the Rakuten interface. The <strong>Rakuten</strong> format is available for Rakuten.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select the <strong>Rakuten</strong> format from the <strong>Process</strong> drop-down list.</p>
</li>
<li>
<p>Select a <strong>date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2100">20. FAQ</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>How is the stock synchronised in plentymarkets with Rakuten.de?</p>
</div>
<div class="paragraph indented">
<p>If the automatic CSV import is set up for Rakuten.de, then the new stock is synchronised by importing the CSV file again. In the Rakuten.de back end, you can define how often the synchronisation should take place.</p>
</div>
</div>
</div>
</main>