<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_client_mit_plentymarkets_verbinden"><span>1.</span><span> Client mit plentymarkets verbinden</span></a></li>
<li><a href="#_updates"><span>2.</span><span> Updates</span></a></li>
<li><a href="#_cache_löschen"><span>3.</span><span> Cache löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Alt: plentymarkets Client</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">plentyBase löst den plentymarkets Client ab</div>
<div class="paragraph">
<p>Der plentymarkets Client ist veraltet und wird nicht mehr weiterentwickelt. Steigen Sie auf plentyBase um, um Prozesse im plentymarkets Backend zu erstellen und auszuführen. Die Installationsdateien für plentyBase finden Sie im <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Der plentymarkets Client wird nicht mehr weiterentwickelt. Die hier beschriebenen Vorgänge im plentymarkets Client richten sich daher an Bestandskunden, die den plentymarkets Client noch verwenden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_client_mit_plentymarkets_verbinden">1. Client mit plentymarkets verbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem der Client installiert und gestartet wurde, verbinden Sie den Client mit dem gewünschten plentymarkets System.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Tools-Client-03.png" alt="Client verbinden">
</div>
<div class="title">Bild 1. Client verbinden</div>
</div>
<div class="paragraph instruction">
<p>Client mit plentymarkets verbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie im Login-Fenster in das Dropdown-Menü <strong>URL</strong>.</p>
</li>
<li>
<p>Wählen Sie dort das gewünschte System oder klicken Sie auf den Eintrag <strong>neue URL eingeben</strong> und tragen Sie die <strong>URL</strong> dann in die Zeile ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.</p>
</li>
<li>
<p>Tragen Sie den <strong>Benutzernamen</strong> und das <strong>Passwort</strong> zum System ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Login</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">URL</div>
<div class="paragraph">
<p>Geben Sie eine verschlüsselte URL (https) ein, damit der Client verschlüsselt kommuniziert. Geben Sie eine unverschlüsselte URL (http) ein, damit der Client unverschlüsselt kommuniziert.</p>
</div>
<div class="paragraph">
<p>Der Client unterstützt nur verbundene Netzlaufwerke, keine UNC-Pfade.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_updates">2. Updates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Updates werden automatisch zur Verfügung gestellt. Wenn Sie den Client starten, erfolgt eine automatische Prüfung auf Updates. Der Update-Vorgang erfolgt menügeführt und ist selbsterklärend.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Update nicht unterbrechen</div>
<div class="paragraph">
<p>Trennen Sie während des Updates nicht die Verbindung zum plentymarkets System, da das Update sonst nicht korrekt installiert werden kann.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_cache_löschen">3. Cache löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Cache werden bestimmte Daten zwischengespeichert, um Inhalte schneller anzuzeigen. Teilweise sehen Sie dann aber nicht die aktuellen Inhalte. Wenn Sie sichergehen möchten, dass Ihnen die aktuellsten Inhalte angezeigt werden, löschen Sie den Cache.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Tools-Client-04.png" alt="Cache löschen im Menü Extras">
</div>
<div class="title">Bild 2. Cache löschen im Menü Extras</div>
</div>
<div class="paragraph instruction">
<p>Cache löschen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>plentymarkets Client » Extras » Clear cache</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Clear cache</strong><br>
→ Der Cache wird gelöscht.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Falls Sie Probleme beim Login in den Client haben, löschen Sie ebenfalls zunächst den Cache.</p>
</div>
</div>
</div>
</main>