<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> plentyBase Systemvoraussetzungen</span></a></li>
<li><a href="#20"><span>2.</span><span> plentyBase Installationsdateien herunterladen</span></a></li>
<li><a href="#30"><span>3.</span><span> plentyBase installieren</span></a></li>
<li><a href="#40"><span>4.</span><span> plentyBase Verbindungsdaten in plentymarkets speichern</span></a></li>
<li><a href="#50"><span>5.</span><span> plentyBase in einem Netzwerk zugänglich machen</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>5.1.</span><span> plentyBase auf Netzwerkrechner installieren</span></a></li>
<li><a href="#70"><span>5.2.</span><span> IP-Daten in HOSTS-Datei der anderen Rechner im Netzwerk speichern</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>5.2.1.</span><span> HOSTS-Datei in Windows bearbeiten</span></a></li>
<li><a href="#90"><span>5.2.2.</span><span> HOSTS-Datei in Mac OSX bearbeiten</span></a></li>
<li><a href="#100"><span>5.2.3.</span><span> HOSTS-Datei in Linux bearbeiten</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>plentyBase installieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Für die folgenden Abläufe in plentymarkets muss das Tool plentyBase auf dem Rechner installiert und gestartet sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Drucker konfigurieren</p>
</li>
<li>
<p>Dokumente speichern</p>
</li>
<li>
<p>Dokumente drucken</p>
</li>
<li>
<p>Prozesse im Browser erstellen</p>
</li>
<li>
<p>Prozesse im Browser ausführen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn plentyBase auf dem Rechner installiert ist, können diese Abläufe über die Terra-Version des plentymarkets Backend ausgeführt werden. Alternativ zu plentyBase steht der <a href="/basics/automatisierung/plentymarkets-client"><strong>plentymarkets Client</strong></a> zur Verfügung. Auf dieser Handbuchseite erfahren Sie, wie Sie plentyBase installieren und nutzen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">plentyBase ist neu!</div>
<div class="paragraph">
<p>plentyBase befindet sich zurzeit noch in der Beta-Phase. Bitte haben Sie daher Verständnis, falls noch nicht alles ganz rund läuft. Sie haben Feedback zu plentyBase? Dann freuen wir uns über eine Nachricht im plentymarkets Forum.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. plentyBase Systemvoraussetzungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beachten Sie
die allgemeinen <a href="/basics/erste-schritte/systemvoraussetzungen"><strong>Systemvoraussetzungen</strong></a> von plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. plentyBase Installationsdateien herunterladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Klicken Sie auf den Link zum Betriebssystem Ihres Rechners, um die Installationsdatei herunterzuladen. Speichern Sie die Installationsdatei auf dem Rechner.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="http://download.plentybase.de/beta/plentyBase_windows_0_2_3b.exe"><strong>Windows</strong></a></p>
</li>
<li>
<p><a href="http://download.plentybase.de/beta/plentyBase_macos_0_2_3b.dmg"><strong>Mac OSX</strong></a></p>
</li>
<li>
<p><a href="http://download.plentybase.de/beta/plentyBase_unix_0_2_3b.sh"><strong>Unix</strong></a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. plentyBase installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyBase installieren Sie wie jedes andere Programm auf dem Rechner. Da der Installationsvorgang je nach Betriebssystem abweicht, werden hier nur für plentyBase spezifische Einstellungen beschrieben.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Führen Sie die Installationsdatei aus.</p>
</li>
<li>
<p>Wählen Sie im Installationsprozess den Port, über den der Rechner mit plentyBase kommunizieren soll. Beachten Sie Tabelle 1.</p>
</li>
<li>
<p>Schließen Sie die Installation ab.<br>
→ plentyBase wird auf dem Rechner installiert.<br>
→ plentyBase wird zu den Autostart-Programmen des Betriebssystems hinzugefügt.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. plentyBase installieren</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Geben Sie einen Port über 1023 ein</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Port, über den der Rechner mit plentyBase kommunizieren soll. Standardmäßig ist der Port 7331 angegeben. Diesen Standardwert nur ändern, wenn der Port 7331 auf dem Rechner belegt ist.<br>
<strong><em>Tipp:</em></strong> Der Port 7331 wurde als Standard-Port gewählt, da er auf den meisten Rechnern frei ist. Mit den folgenden Befehlen kann über die Befehlszeile geprüft werden, welche Ports des Rechners belegt sind:
* Windows: __netstat -ano</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>find /i „Abhören“<em>
* Mac OSX: </em>sudo lsof -i -P</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>grep -i LISTEN__</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. plentyBase Verbindungsdaten in plentymarkets speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach der Installation speichern Sie die Verbindungsdaten in plentymarkets, damit plentymarkets mit plentyBase kommunizieren kann.</p>
</div>
<div class="paragraph instruction">
<p>plentyBase Verbindungsdaten in plentymarkets speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Loggen Sie sich in die Terra-Version des plentymarkets Systems ein.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Mein Konto</strong>.<br>
→ Das Konto des eingeloggten Benutzers wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>plentyBase</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ plentyBase ist auf diesem Rechner aktiviert und stellt die Funktionalität für alle plentymarkets Benutzer bereit.<br>
→ In der Taskleiste des Rechners wird ein Icon angezeigt, das zeigt, dass das Tool ausgeführt wird.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. plentyBase Verbindungsdaten speichern</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Serveradresse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die hinterlegte Adresse <a href="https://local.plentybase.de" class="bare">https://local.plentybase.de</a> nicht ändern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Port</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Port, der plentyBase bei der Installation zugeordnet wurde. Standardwert ist 7331. Wenn bei der Installation ein anderer Port angegeben wurde, die Nummer des angegebenen Ports eingeben.<br>
<strong><em>Hinweis:</em></strong> Die Ports 0 bis 1023 sind System-Ports und können nicht verwendet werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verbindung testen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Prüft, ob eine Verbindung von plentymarkets zu plentyBase besteht.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. plentyBase in einem Netzwerk zugänglich machen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyBase kann auf einem Rechner innerhalb eines Netzwerks installiert und für die anderen Rechner des Netzwerks zugänglich gemacht werden. Um plentyBase innerhalb eines Netzwerks zu nutzen, müssen die IP-Adresse und der Host-Name des Rechners, auf dem plentyBase installiert ist, in die HOSTS-Datei der anderen Rechner eingetragen werden, die auf das Netzwerk zugreifen.</p>
</div>
<div class="sect2">
<h3 id="60">5.1. plentyBase auf Netzwerkrechner installieren</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/basics/automatisierung/plentybase-installieren#30"><strong>Installieren Sie plentyBase</strong></a> auf einem Rechner des Netzwerks.</p>
</li>
<li>
<p>Notieren Sie sich die IP-Adresse des Host-Rechners, auf dem plentyBase installiert wurde.<br>
<strong><em>Hinweis:</em></strong> Es wird empfohlen, dem Host-Rechner eine statische IP-Adresse zuzuweisen.</p>
</li>
<li>
<p>Wenn Sie nicht den Standard-Port 7331 verwendet haben, notieren Sie sich außerdem den Port, den Sie bei der Installation angegeben haben.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="70">5.2. IP-Daten in HOSTS-Datei der anderen Rechner im Netzwerk speichern</h3>
<div class="paragraph">
<p>Die HOSTS-Datei ist eine lokale Textdatei des Betriebssystems, in der Hostnamen bestimmten IP-Adressen zugeordnet werden. In die HOSTS-Datei des Client-Rechners tragen Sie die IP-Adresse und den Host-Namen des Rechners im Netzwerk ein, auf dem plentyBase installiert ist. Nur so kann der Client-Rechner auf plentyBase zugreifen. Zur Bearbeitung der HOSTS-Datei benötigen Sie Administratorrechte auf dem Client-Rechner.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Bearbeiten der HOSTS-Datei auf eigene Gefahr</div>
<div class="paragraph">
<p>Die HOSTS-Datei ist eine wichtige Systemdatei. Die Bearbeitung dieser Datei erfolgt auf eigene Gefahr. plentymarkets übernimmt keine Gewährleistung oder Haftung für etwaige Schäden, die durch die Bearbeitung der HOSTS-Datei direkt oder mittelbar entstehen können. Beachten Sie auch folgende Hinweise:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Erstellen Sie eine Sicherungskopie der Hosts-Datei, bevor Sie die Datei bearbeiten.</p>
</li>
<li>
<p>Löschen oder bearbeiten Sie bereits in der Datei vorhandenen Einträge nicht.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="80">5.2.1. HOSTS-Datei in Windows bearbeiten</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die IP-Adresse und den Host-Namen des Rechners, auf dem plentyBase installiert ist, in die HOSTS-Datei eines Windows-Rechners einzutragen. Sie benötigen die IP-Adresse des Rechners, auf dem plentyBase installiert ist. Erstellen Sie eine Sicherungskopie der Hosts-Datei, bevor Sie die Datei bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>HOSTS-Datei in Windows bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie links unten auf das Windows-Symbol.</p>
</li>
<li>
<p>Nur Windows 8: Navigieren Sie zur Kacheloberfläche.</p>
</li>
<li>
<p>Geben Sie <strong>Editor</strong> in die Suche ein.<br>
→ Der Editor wird in der Liste der Programme aufgeführt.</p>
</li>
<li>
<p>Klicken Sie mit der rechten Maustaste auf die Editor-Verknüpfung und wählen Sie <strong>Als Administrator ausführen</strong>.</p>
</li>
<li>
<p>Bestätigen Sie die Meldung mit <strong>Ja</strong>.<br>
→ Der Editor wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Datei » Öffnen</strong>.</p>
</li>
<li>
<p>Navigieren Sie zum Pfad C:\Windows\System32\Drivers\etc.<br>
<em><strong>Tipp:</strong></em> Wählen Sie im Dropdown-Menü rechts unten <strong>Alle Dateien</strong>.<br>
→ Die Hosts-Datei wird geöffnet und kann bearbeitet werden.</p>
</li>
<li>
<p>Fügen Sie am Ende der Datei die IP-Adresse des Rechners hinzu, auf dem plentyBase installiert ist, gefolgt von der Host-Adresse local.plentybase.de. Daraus ergibt sich das folgende Muster:<br>
<strong>[IP-Adresse des Host-Rechners] local.plentybase.de</strong><br>
<strong><em>Beispiel:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Hinweis:</em></strong> Mit # beginnende Zeilen sind Kommentare und werden nicht ausgelesen. Ihr Eintrag darf daher nicht mit # beginnen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Datei.</p>
</li>
<li>
<p><em><strong>Tipp:</strong></em> Wenn auf dem Rechner plentymarkets im Browser geöffnet ist, laden Sie den Browser-Tab neu.</p>
</li>
<li>
<p>Wenn Sie bei der Installation auf dem Host-Rechner einen anderen Port als den Standard-Port gewählt haben, geben Sie <a href="/basics/automatisierung/plentybase-installieren#40"><strong>den Port des Host-Rechners</strong></a> im plentymarkets Backend ein.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="90">5.2.2. HOSTS-Datei in Mac OSX bearbeiten</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die IP-Adresse und den Host-Namen des Rechners, auf dem plentyBase installiert ist, in die HOSTS-Datei eines Mac OS-Rechners einzutragen. Sie benötigen die IP-Adresse des Rechners, auf dem plentyBase installiert ist. Erstellen Sie eine Sicherungskopie der Hosts-Datei, bevor Sie die Datei bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>HOSTS-Datei in Mac OSX bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den Finder.</p>
</li>
<li>
<p>Klicken Sie in der Task-Leiste auf <strong>Gehe zu &gt; Gehe zum Ordner …​</strong>.<br>
→ Das Fenster <strong>Den folgenden Order öffnen:</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie <strong>/private/etc</strong> in das Feld ein.<br>
→ Der Ordner etc wird geöffnet.</p>
</li>
<li>
<p>Kopieren Sie die Datei <strong>hosts</strong>.</p>
</li>
<li>
<p>Legen Sie die Kopie in einem anderen Ordner oder auf dem Desktop ab.</p>
</li>
<li>
<p>Öffnen Sie die Kopie der Datei <strong>hosts</strong> mit TextEdit oder einem anderen Editor.</p>
</li>
<li>
<p>Fügen Sie am Ende der Datei die IP-Adresse des Rechners hinzu, auf dem plentyBase installiert ist, gefolgt von der Host-Adresse local.plentybase.de. Daraus ergibt sich das folgende Muster:<br>
<strong>[IP-Adresse des Host-Rechners] local.plentybase.de</strong><br>
<strong><em>Beispiel:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Hinweis:</em></strong> Mit # beginnende Zeilen sind Kommentare und werden nicht ausgelesen. Ihr Eintrag darf daher nicht mit # beginnen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Datei.</p>
</li>
<li>
<p>Ziehen Sie die bearbeitete Kopie der Datei per Drag-and-Drop in den Ursprungsordner <strong>/private/etc</strong>.<br>
→ Eine Warnung wird angezeigt.</p>
</li>
<li>
<p>Bestätigen Sie, dass Sie die nicht bearbeitete Datei ersetzen möchten.</p>
</li>
<li>
<p>Geben Sie Ihr Benutzerkennwort ein, um den Ersetzungsvorgang zu bestätigen.<br>
→ Die Datei wird gespeichert.</p>
</li>
<li>
<p><em><strong>Tipp:</strong></em> Wenn auf dem Rechner plentymarkets im Browser geöffnet ist, laden Sie den Browser-Tab neu.</p>
</li>
<li>
<p>Wenn Sie bei der Installation auf dem Host-Rechner einen anderen Port als den Standard-Port gewählt haben, geben Sie <a href="/basics/automatisierung/plentybase-installieren#40"><strong>den Port des Host-Rechners</strong></a> im plentymarkets Backend ein.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="100">5.2.3. HOSTS-Datei in Linux bearbeiten</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die IP-Adresse und den Host-Namen des Rechners, auf dem plentyBase installiert ist, in die HOSTS-Datei eines Linux-Rechners einzutragen. Sie benötigen die IP-Adresse des Rechners, auf dem plentyBase installiert ist. Erstellen Sie eine Sicherungskopie der Hosts-Datei, bevor Sie die Datei bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>HOSTS-Datei in Linux bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den Dateimanager.</p>
</li>
<li>
<p>Navigieren Sie zum Pfad /etc.<br>
→ Der Ordner etc wird geöffnet.</p>
</li>
<li>
<p>Öffnen Sie die Datei <strong>hosts</strong> mit einem Texteditor und Administratorrechten.</p>
</li>
<li>
<p>Fügen Sie am Ende der Datei die IP-Adresse des Rechners hinzu, auf dem plentyBase installiert ist, gefolgt von der Host-Adresse local.plentybase.de. Daraus ergibt sich das folgende Muster:<br>
<strong>[IP-Adresse des Host-Rechners] local.plentybase.de</strong><br>
<strong><em>Beispiel:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Hinweis:</em></strong> Mit # beginnende Zeilen sind Kommentare und werden nicht ausgelesen. Ihr Eintrag darf daher nicht mit # beginnen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Datei.</p>
</li>
<li>
<p><em><strong>Tipp:</strong></em> Wenn auf dem Rechner plentymarkets im Browser geöffnet ist, laden Sie den Browser-Tab neu.</p>
</li>
<li>
<p>Wenn Sie bei der Installation auf dem Host-Rechner einen anderen Port als den Standard-Port gewählt haben, geben Sie <a href="/basics/automatisierung/plentybase-installieren#40"><strong>den Port des Host-Rechners</strong></a> im plentymarkets Backend ein.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>