<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_inhalt_dieses_kapitels"><span>1.</span><span> Inhalt dieses Kapitels</span></a></li>
<li><a href="#_videotutorials"><span>2.</span><span> Videotutorials</span></a></li>
<li><a href="#_anwendung_und_konfiguration"><span>3.</span><span> Anwendung und Konfiguration</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Prozesse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Prozesse</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhalt_dieses_kapitels">1. Inhalt dieses Kapitels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Kapitel befasst sich mit Prozessen in plentymarkets, die Sie mit dem plentymarkets Client konfigurieren.<br>
Der plentymarkets Client ist ab plentymarkets Version 5.000 verfügbar.</p>
</div>
<div class="paragraph">
<p>Details dazu sowie den Download finden Sie auf unserer Webseite zum <strong><a href="https://www.plentymarkets.eu/produkt/prozesse/plentymarkets-client/">plentymarkets Client</a>.</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_videotutorials">2. Videotutorials</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sehen Sie sich für einen ersten Einblick in die plentymarkets-Prozesse das folgende Einleitungsvideo an:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/84490622" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Weitere Videotutorials zur Einführung und Fallbeispiele zu den Prozessen finden Sie <strong><a href="http://www.plentymarkets.eu/knowledge/video-archiv/prozesse/">hier</a>.</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_anwendung_und_konfiguration">3. Anwendung und Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Detaillierte Informationen zur Anwendung und Konfiguration der hier gelisteten Bestandteile eines Prozesses und weitere hilfreiche Videotutorials finden Sie auf der jeweiligen Handbuchseite:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="/basics/automatisierung/prozesse/arbeitsschritte">Arbeitsschritte</a></strong></p>
</li>
<li>
<p><strong><a href="/basics/automatisierung/prozesse/aktionen">Aktionen/Steuerelemente</a></strong></p>
</li>
<li>
<p><strong><a href="/basics/automatisierung/prozesse/subaktionen">Subaktionen</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
</main>