<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Ware einbuchen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Berechtigungen für Einbuchen erteilen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Einbuchen über die plentymarkets App personalisieren</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Ware über die plentymarkets App einbuchen</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Ware umbuchen</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Berechtigungen für Umbuchen erteilen</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Umbuchungsvorlage erstellen</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Umbuchen über die plentymarkets App personalisieren</span></a></li>
<li><a href="#900"><span>2.4.</span><span> Ware über die plentymarkets App umbuchen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Ware einbuchen und umbuchen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ware kann nicht nur im plentymarkets Backend, sondern auch über die plentymarkets App ein- und umgebucht werden.</p>
</div>
<div class="paragraph">
<p>Auf dieser Seite wird Schritt für Schritt beschrieben, wie du die Funktionen jeweils einrichtest und nutzt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Ware einbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ware kann nicht nur <a href="/warenwirtschaft/wareneingaenge-verwalten">im plentymarkets Backend</a>, sondern auch über die plentymarkets App eingebucht werden. Voraussetzung ist, dass der Anwender die Berechtigung zum Einbuchen von Ware hat. Zusätzlich kann der Anwender auch die Berechtigung erhalten, beim Einbuchen den Einkaufspreis anzupassen. Alternativ kann automatisch entweder der im Tab <strong>Einstellungen</strong> der Variante gespeicherte Einkaufspreis (<strong>EK netto</strong>) oder der durchschnittliche Nettoeinkaufspreis eingefügt werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hardware für plentymarkets App</div>
<div class="paragraph">
<p>Hardware-Empfehlungen für das Einbuchen von Ware über die plentymarkets App findest du auf der Handbuchseite <a href="/schnelleinstieg/systemvoraussetzungen#40">Systemvoraussetzungen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Berechtigungen für Einbuchen erteilen</h3>
<div class="paragraph">
<p>Benutzerkonten mit Admin-Rechten haben standardmäßig die Berechtigungen, um Einbuchungen über die App vorzunehmen. Personen mit den <strong>Backend</strong> Zugang musst du diese Berechtigungen erteilen.</p>
</div>
<div class="paragraph instruction">
<p>Berechtigungen für das Einbuchen erteilen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer</strong>.</p>
</li>
<li>
<p>Öffne das Konto.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Mobile</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Sichtbare Funktionen</strong> die Berechtigung <strong>Einbuchung</strong>.<br>
→ Die Einzelberechtigungen für das Einbuchen werden eingeblendet.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Erteile zusätzliche Einzelberechtigungen. Beachte dazu die Erläuterungen in <a href="#tabelle-Berechtigung-Bestandseinbuchung-App">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-Berechtigung-Bestandseinbuchung-App" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einbuchen über App; Einzelberechtigungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis (EK) anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob der Person mit diesem Konto beim Einbuchen über die App der Einkaufspreis angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis (EK) bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob die Person mit diesem Konto beim Einbuchen über die App den Einkaufspreis bearbeiten darf.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Einbuchen über die plentymarkets App personalisieren</h3>
<div class="paragraph">
<p>In der plentymarkets App können Benutzer weitere Einstellungen vornehmen, um den Einbuchungsvorgang zu personalisieren.</p>
</div>
<div class="paragraph instruction">
<p>Einbuchen über die plentymarkets App personalisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melde dich bei der plentymarkets App an.</p>
</li>
<li>
<p>Tippe in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Einbuchung</strong>.<br>
→ Das Einstellungsmenü <strong>Einbuchung</strong> wird angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-Einstellungen-Bestandseinbuchung-App">Tabelle 2</a>.<br>
<strong><em>Tipp:</em></strong> Die Einstellungen werden gespeichert, wenn du das Menü verlässt.</p>
</li>
</ol>
</div>
<table id="tabelle-Einstellungen-Bestandseinbuchung-App" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einbuchung; App-Einstellungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelsuchfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchfelder aktivieren, die im Menü <strong>Einbuchung</strong> angezeigt werden.<br>
<strong><em>Tipp:</em></strong> Reihenfolge, in der die Suchfelder angezeigt werden, über die Pfeile links neben Suchfeldname festlegen. Auf Pfeil nach oben tippen, um Suchfeld eine Ebene höher zu schieben. Auf Pfeil nach unten tippen, um Suchfeld eine Ebene tiefer zu schieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Suchfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf das Suchfeld tippen, in das der Cursor beim Öffnen des Menüs automatisch springt. Wenn kein Suchfeld gewählt wird, muss  bei der Suche jedes Mal in ein Feld getippt werden, bevor der Suchwert eingegeben werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortvorschlagsliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Lagerorte als Ziellagerorte vorgeschlagen werden.<br>
<strong><em>Tipp:</em></strong> Reihenfolge, in der die Lagerortvorschläge angezeigt werden, über die Pfeile links neben Lagerortvorschlag festlegen. Auf Pfeil nach oben tippen, um Lagerortvorschlag eine Ebene höher zu schieben. Auf Pfeil nach unten tippen, um Lagerortvorschlag eine Ebene tiefer zu schieben.<br>
<strong>Lagerortvorschlag</strong> = Zeigt die Lagerorte an, die mit der Variante verknüpft sind.<br>
<strong>Verwendete Lagerorte</strong> = Zeigt die Lagerorte an, in denen die Variante bereits lagert.<br>
<strong>Leere Lagerorte</strong> = Zeigt alle vorhandenen Lagerorte an.<br>
<strong><em>Hinweis:</em></strong> Je nach Anzahl der Lagerorte kann die Einstellung <strong>Leere Lagerorte</strong> das Einbuchen stark verlangsamen. Daher Varianten mit Lagerorten verknüpfen und <strong>Leere Lagerorte</strong> nur im Ausnahmefall aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Fokus auf Ziel-Lagerort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Ziel-Lagerort setzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um nach Auswahl des Artikels automatisch in das Eingabefeld <strong>Lagerort</strong> zu springen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der an der Variante gespeicherte Einkaufspreis übernommen wird.<br>
Nicht aktiviert = Für die Variante wird der durchschnittliche Netto-EK eingefügt.<br>
Aktiviert = Der im Tab <strong>Einstellungen</strong> der Variante gespeicherte Einkaufspreis (<strong>EK netto</strong>) wird eingefügt.<br>
<strong><em>Tipp:</em></strong> Wenn <strong>Einkaufspreis anzeigen</strong> aktiviert ist, können Benutzer mit der Berechtigung <strong>Einkaufspreis bearbeiten</strong> den automatisch eingefügten Einkaufspreis ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einkaufspreis anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der im Tab <strong>Einstellungen</strong> der Variante gespeicherte Einkaufspreis (<strong>EK netto</strong>) bei der Einbuchung angezeigt wird.<br>
Nicht aktiviert = Der Einkaufspreis wird unabhängig von den Benutzerrechten nicht angezeigt, sondern automatisch gemäß der Einstellung <strong>Einkaufspreis übernehmen</strong> eingefügt.<br>
Aktiviert = Der Einkaufspreis wird angezeigt, wenn der Benutzer über die nötigen Berechtigungen verfügt.<br>
<strong><em>Tipp:</em></strong> Option wird nur angezeigt, wenn der Benutzer berechtigt ist, den Einkaufspreis zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto-WB anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um beim Einbuchen in der App den Netto-Warenbestand am Lagerort anzuzeigen.<br>
Deaktiviert = Beim Einbuchen in der App wird nur die physikalische Menge des Artikels am Lagerort angezeigt.<br>
Aktiviert = Beim Einbuchen in der App wird die physikalische Menge und der Netto-Warenbestand des Artikels am Lagerort angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Ware über die plentymarkets App einbuchen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Ware über die plentymarkets App einzubuchen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Lagerorte labeln</div>
<div class="paragraph">
<p>Noch schneller buchst du Ware ein, wenn du deine <a href="/warenwirtschaft/lager-einrichten#800">Lagerorte labelst</a>. Beim Einbuchen kannst du dann die Labels des Ziellagerorts scannen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Ware über die plentymarkets App einbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die plentymarkets App.</p>
</li>
<li>
<p>Tippe in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Einbuchung</strong>.<br>
→ Die Variantensuche wird angezeigt.</p>
</li>
<li>
<p>Gib ein Suchkriterium ein.</p>
</li>
<li>
<p>Tippe auf <strong>Suchen</strong>.<br>
→ Die gefundenen Varianten werden angezeigt.</p>
</li>
<li>
<p>Tippe auf die Variante.<br>
<strong><em>Tipp:</em></strong> Bei eindeutigem Suchergebnis wird die Variante automatisch geöffnet.</p>
</li>
<li>
<p>Gib die Menge ein, die eingebucht werden soll.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib den Einkaufspreis ein.</p>
</li>
<li>
<p>Tippe auf den grünen Balken des Lagerorts, in den der Bestand gebucht werden soll.<br>
<strong><em>Tipp:</em></strong> Wenn du gelabelte Lagerorte habst, scanne stattdessen das Label des Lagerortes. Dazu bei Bluetooth-Scannern vorher in das Feld <strong>Barcode</strong> tippen.<br>
→ Wenn für die Variante in dem gewählten Lager Mindesthaltbarkeitsdaten und/oder Chargeninformationen gepflegt werden, wirst du aufgefordert, diese Daten einzugeben.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle das Mindesthaltbarkeitsdatum und/oder gib die Charge ein und tippe auf <strong>Wareneingang buchen</strong>.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig kann Ware mit verschiedenen MHD/Chargen nicht auf denselben Lagerort eingebucht werden.<br>
→ Der Bestand wird eingebucht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Ware umbuchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ware kann nicht nur im plentymarkets Backend, sondern auch über die plentymarkets App umgebucht werden. Erteile dazu Benutzern mit einem <strong>Backend</strong> Zugang die nötigen Berechtigungen. Mit Umbuchungsvorlagen und App-Einstellungen passt du den Umbuchungsvorgang an deine Lagergegebenheiten an.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hardware für plentymarkets App</div>
<div class="paragraph">
<p>Hardware-Empfehlungen für das Umbuchen von Ware über die plentymarkets App findest du auf der Handbuchseite <a href="/schnelleinstieg/systemvoraussetzungen#400">Systemvoraussetzungen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="600">2.1. Berechtigungen für Umbuchen erteilen</h3>
<div class="paragraph">
<p>Benutzerkonten mit Admin-Rechten haben standardmäßig die Berechtigung, Umbuchungen über die App vorzunehmen. Personen mit <strong>Backend</strong> Zugang musst du diese Berechtigungen erteilen.</p>
</div>
<div class="paragraph instruction">
<p>Berechtigungen für das Umbuchen erteilen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer</strong>.</p>
</li>
<li>
<p>Öffne das Konto.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Mobile</strong>.<br>
<strong><em>Tipp:</em></strong> Wenn dieses Tab nicht sichtbar ist, hat das Konto Admin-Rechte.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Sichtbare Funktionen</strong> die Berechtigung <strong>Umbuchung</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">2.2. Umbuchungsvorlage erstellen</h3>
<div class="paragraph">
<p>Im plentymarkets Backend erstellst du beliebig viele Vorlagen für das Umbuchen über die plentymarkets App. Über diese Vorlagen definierst du die Felder und Feldanordnung, die Benutzern beim Umbuchen in der App angezeigt werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Standardvorlage</div>
<div class="paragraph">
<p>Wenn du keine Vorlage erstellst, wird automatisch die Standardvorlage gewählt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Vorlage für Umbuchen über App erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » plenty App » Umbuchung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Vorlage</strong>.<br>
→ Das Fenster <strong>Neue Vorlage</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib einen Namen für die Vorlage ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Vorlage wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
<li>
<p>Wähle, wie Variantendaten in der <strong>Artikelansicht</strong> dargestellt werden. Beachte dazu die Erläuterungen in <a href="#tabelle-umbuchen-vorlage">Tabelle 3</a>.</p>
</li>
<li>
<p>Wähle, wie Variantendaten in der <strong>Artikellistenansicht</strong>, also in der Liste der Suchergebnisse, dargestellt werden. Beachte dazu die Erläuterungen in <a href="#tabelle-umbuchen-vorlage">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-umbuchen-vorlage" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Vorlage für Umbuchen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung des Felds eingeben. Diese Beschreibung wird Benutzern als Name des Felds angezeigt. Wenn keine Beschreibung eingegeben wird, wird keine Beschreibung angezeigt.<br>
<strong><em>Beispiel:</em></strong> Wenn für <strong>Barcode</strong> die Beschreibung <strong>Barcode</strong> eingegeben wird, wird beim Umbuchen in der App <strong>Barcode: 12345</strong> angezeigt. Wenn die Beschreibung leer bleibt, wird nur <strong>12345</strong> angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, in welcher Zeile die Variantendaten angezeigt werden oder <strong>Nicht anzeigen</strong> wählen, um die Daten nicht anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilenpriorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, in welcher Reihenfolge die Variantendaten angezeigt werden. Variantendaten mit Priorität <strong>1</strong> werden ganz oben angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spalte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie die Variantendaten innerhalb des Suchergebnisses angezeigt werden.<br>
<strong>Links</strong> = Die Daten werden in der linken Spalte angezeigt.<br>
<strong>Rechts</strong> = Die Daten werden in der rechten Spalte angezeigt.<br>
<strong>Ganze Zeile</strong> = Die Daten werden über die gesamte Breite angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schriftgröße</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schriftgröße aus der Dropdown-Liste wählen, in der die Variantendaten angezeigt werden. Verfügbare Größen sind <strong>XS</strong> bis <strong>XXL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schriftstil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In das Feld klicken und in der Auswahlliste die Formatierung aktivieren, in der die Variantendaten angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spezifische Einstellungen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpreis » Preisauswahl</strong> = Verkaufspreis aus der Dropdown-Liste wählen.<br>
<strong>Barcode » Barcode-Auswahl</strong> = Barcode-Typ aus der Dropdown-Liste wählen.<br>
<strong>Artikelbild » Bildgröße</strong> = Größe wählen, in der das Artikelbild angezeigt wird. Verfügbare Größen sind <strong>XS</strong> bis <strong>L</strong>.<br></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.3. Umbuchen über die plentymarkets App personalisieren</h3>
<div class="paragraph">
<p>In der plentymarkets App können Benutzer weitere Einstellungen vornehmen, um den Umbuchungsvorgang zu personalisieren.</p>
</div>
<div class="paragraph instruction">
<p>Umbuchen über die plentymarkets App personalisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melde dich bei der plentymarkets App an.</p>
</li>
<li>
<p>Tippe in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Umbuchung</strong>.<br>
→ Das Einstellungsmenü <strong>Umbuchung</strong> wird angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-umbuchung-app-einstellungen">Tabelle 4</a>.<br>
<strong><em>Tipp:</em></strong> Die Einstellungen werden gespeichert, wenn du das Menü verlässt.</p>
</li>
</ol>
</div>
<table id="tabelle-umbuchung-app-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Umbuchung; App-Einstellungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelsuchfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchfelder aktivieren, die im Menü <strong>Umbuchung</strong> angezeigt werden.<br>
<strong><em>Tipp:</em></strong> Reihenfolge, in der die Suchfelder angezeigt werden, über die Pfeile links neben Suchfeldname festlegen. Auf Pfeil nach oben tippen, um Suchfeld eine Ebene höher zu schieben. Auf Pfeil nach unten tippen, um Suchfeld eine Ebene tiefer zu schieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Suchfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf das Suchfeld tippen, in das der Cursor beim Öffnen des Menüs automatisch springt. Wenn kein Suchfeld gewählt wird, muss  bei der Suche jedes Mal in ein Feld getippt werden, bevor der Suchwert eingegeben werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortvorschlagsliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Lagerorte als Ziellagerorte vorgeschlagen werden.<br>
<strong><em>Tipp:</em></strong> Reihenfolge, in der die Lagerortvorschläge angezeigt werden, über die Pfeile links neben Lagerortvorschlag festlegen. Auf Pfeil nach oben tippen, um Lagerortvorschlag eine Ebene höher zu schieben. Auf Pfeil nach unten tippen, um Lagerortvorschlag eine Ebene tiefer zu schieben.<br>
<strong>Lagerortvorschlag</strong> = Zeigt die Lagerorte an, die mit der Variante verknüpft sind.<br>
<strong>Verwendete Lagerorte</strong> = Zeigt die Lagerorte an, in denen die Variante bereits lagert.<br>
<strong>Leere Lagerorte</strong> = Zeigt alle vorhandenen leeren Lagerorte an.<br>
<strong><em>Hinweis:</em></strong> Je nach Anzahl der Lagerorte kann die Einstellung <strong>Leere Lagerorte</strong> das Umbuchen stark verlangsamen. Daher Varianten mit Lagerorten verknüpfen und <strong>Leere Lagerorte</strong> nur im Ausnahmefall aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Von Lagerort umzubuchende Menge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtmenge vorschlagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Gesamtmenge der Variante für die Umbuchung vorgeschlagen wird.<br>
Nicht aktiviert = Keine Menge wird vorgeschlagen. Die Menge muss manuell eingegeben werden.<br>
Aktiviert = Der gesamte Bestand am Lagerort wird automatisch eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fokus auf Ziel-Lagerort setzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um nach Auswahl der Variante automatisch in das Eingabefeld <strong>Lagerort</strong> zu springen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schnelles Umbuchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um die Auswahl des Quelllagerorts zu überspringen.<br>
<strong><em>Tipp:</em></strong> Option nur aktivieren, wenn es nur einen möglichen Quelllagerort gibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto-WB anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um beim Umbuchen in der App den Netto-Warenbestand am Quelllagerort anzuzeigen.<br>
Deaktiviert = Beim Umbuchen in der App wird nur die physikalische Menge des Artikels am Quelllagerort angezeigt.<br>
Aktiviert = Beim Umbuchen in der App wird die physikalische Menge und der Netto-Warenbestand des Artikels am Quelllagerort angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorlage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf die Vorlage tippen, die verwendet werden soll.<br>
Vorlagen werden im plentymarkets Backend im Menü <strong>Einrichtung » plentymarkets-App » Umbuchung</strong> erstellt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.4. Ware über die plentymarkets App umbuchen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Ware über die plentymarkets App umzubuchen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Lagerorte labeln</div>
<div class="paragraph">
<p>Noch schneller buchst du Ware um, wenn du deine <a href="/warenwirtschaft/lager-einrichten#800">Lagerorte labelst</a>. Beim Umbuchen kannst du dann die Labels der Quell- und Ziellagerorte scannen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Ware über die plentymarkets App umbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die plentymarkets App.</p>
</li>
<li>
<p>Tippe in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Umbuchung</strong>.<br>
→ Die Variantensuche wird angezeigt.</p>
</li>
<li>
<p>Gib ein Suchkriterium ein.</p>
</li>
<li>
<p>Tippe auf <strong>Suchen</strong>.<br>
→ Die gefundenen Varianten werden angezeigt.</p>
</li>
<li>
<p>Tippe auf die Variante.<br>
<strong><em>Tipp:</em></strong> Bei eindeutigem Suchergebnis wird die Variante automatisch geöffnet.<br>
→ In der Ansicht <strong>Artikel zum Umbuchen</strong> wird die Bestandsmenge der Variante pro Lagerort angezeigt.</p>
</li>
<li>
<p>Tippe auf den grünen Balken des Lagerorts, aus dem der Bestand entfernt werden soll.<br>
<strong><em>Tipp:</em></strong> Wenn du gelabelte Lagerorte hast, scanne stattdessen das Label des Lagerorts. Dazu bei Bluetooth-Scannern vorher in das Feld <strong>Barcode</strong> tippen.<br>
→ Im Bereich <strong>Umbuchen von</strong> werden Lagerort und Bestandsmenge angezeigt.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Bearbeite die Menge, die umgebucht werden soll.</p>
</li>
<li>
<p>Tippe auf den grünen Balken des Lagerorts, in den der Bestand gebucht werden soll.<br>
<strong><em>Tipp:</em></strong> Wenn du gelabelte Lagerorte hast, scanne stattdessen das Label des Lagerorts. Dazu bei Bluetooth-Scannern vorher in das Feld <strong>Barcode</strong> tippen.<br>
→ Wenn für die Variante im neuen Lager Mindesthaltbarkeitsdaten und/oder Chargeninformationen gepflegt werden, diese Daten jedoch im alten Lager nicht erfasst wurden, wirst du aufgefordert, diese Daten einzugeben.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle das Mindesthaltbarkeitsdatum und/oder gib die Charge ein und tippe auf <strong>Umbuchen</strong>.<br>
→ Der Bestand wird umgebucht.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>