<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wie werden Artikel verräumt?</span></a></li>
<li><a href="#200"><span>2.</span><span> Einstellungen einmalig konfigurieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Mit der plentymarkets App verräumen</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Quelllagerort angeben</span></a></li>
<li><a href="#500"><span>3.2.</span><span> Artikel aussuchen</span></a></li>
<li><a href="#600"><span>3.3.</span><span> Artikel verräumen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Ware verräumen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hast du Artikel, die so schnell wie möglich ins Regal sollen? Vielleicht wurden einige Artikel retourniert und jetzt willst du sie zügig wieder verkaufen können. Oder vielleicht hast du eine Lieferung vom Hersteller bekommen und jetzt müssen die Artikel eingeräumt werden. Nutze die Funktion Verräumen, um sicherzustellen, dass deine Artikel wieder am richtigen Platz landen!</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/app/assets/Reshelving.gif" alt="Reshelving">
</div>
</div>
<div class="paragraph">
<p>Die plentymarkets App beinhaltet die Funktion Verräumen. Einzelheiten dazu findest du auf dieser Seite. Zunächst folgt eine kurze Beschreibung der Funktion zum besseren Verständnis. Danach werden die <a href="/app/funktionen/lagerverwaltung/verräumen#200">Einstellungen</a> beschrieben, die einmalig im Voraus konfiguriert werden müssen. Diese Einstellungen greifen dann später, wenn du die <a href="/app/funktionen/lagerverwaltung/verräumen#300">Funktion nutzt</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen</div>
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du die plentymarkets App bereits <a href="/app/installation">heruntergeladen</a> und auf der passenden Hardware installiert hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wie werden Artikel verräumt?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Anfangs befinden sich alle Artikel am gleichen Platz. Beispielsweise können Kassenkräfte retournierte Artikel in eine Kiste hinter der Theke ablegen. Oder vielleicht werden Lieferungen alle an einem bestimmten Platz im Lager abgeladen.</p>
</div>
<div class="paragraph">
<p>Sobald ein Mitarbeiter bereit ist, die Artikel ins Regal zu räumen, öffnet er die plentymarkets App und gibt an, wo die Artikel sich befinden. Mit anderen Worten gibt er an, welchen Lagerort er verräumen möchte.</p>
</div>
<div class="paragraph">
<p>Daraufhin erscheint eine Übersicht aller Artikel, die sich an diesem Lagerort befinden. Der Mitarbeiter wählt den ersten Artikel. Dann sagt er die App, an welchem neuen Lagerort er den Artikel platzieren möchte.</p>
</div>
<div class="paragraph">
<p>Die plentymarkets App wechselt automatisch zurück zur Übersicht aller noch ausstehenden Artikel. Der Mitarbeiter durchläuft den Prozess so lange bis er alle Artikel verräumt hat oder den Prozess manuell abbricht.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Einstellungen einmalig konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du <a href="/app/funktionen/lagerverwaltung/verräumen#300">das Tool nutzen kannst</a>, musst du einmalig ein paar Einstellungen in der plentymarkets App vornehmen. Diese Einstellungen bestimmen, welche Lagerorte für die Verräumung in Frage kommen und wie deine Artikel in die App dargestellt werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/app/installation#1200">Melde dich bei der plentymarkets App an</a>.</p>
</li>
<li>
<p>Tippe oben links auf das <strong>Menüsymbol</strong> (<span class="icon"><i class="fa fa-bars" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe auf <strong>Einstellungen » Verräumen</strong>.<br>
→ Die Einstellungen zum Verräumen werden geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dabei die Erläuterungen in <a href="#tabelle-einstellungen-verraeumen">Tabelle 1</a>.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-verraeumen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen in der plentymarkets App vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quelllagerortvorschlagsliste nach Zweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wo befinden sich deine Artikel, bevor sie verräumt werden? Wähle das passende <a href="/warenwirtschaft/lager-einrichten#200">Lager</a> aus der Dropdown-Liste. Verwende die Umschaltflächen, um <a href="/warenwirtschaft/lager-einrichten#500">Lagerort-Zwecke</a> ein- oder auszuschließen.<br>
<strong><em>Beispiel:</em></strong> Wähle die Lagerort-Zwecke <strong>Wareneingang</strong> und <strong>Retoure</strong>, wenn du sowohl Lieferungen vom Hersteller als auch retournierte Artikel schnell verräumen möchtest.<br>
<strong><em>Nutzung:</em></strong> Wenn du das Tool später nutzt, werden dir nur die Lagerorte als Quelllagerort vorgeschlagen, die diese Kriterien erfüllen. Willst du einen Lagerort verwenden, der <em>nicht vorgeschlagen</em> wird, musst du den Lagerort scannen anstatt ihn aus der Vorschlagsliste in der App zu wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziellagerortvorschlagsliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wohin möchtest du deine Artikel verräumen? Verwende die Umschaltflächen, um bestimmte Sorten von Lagerorten ein- oder auszuschließen.<br>
<strong>Lagerortvorschlag</strong> = Lagerorte, die <a href="/warenwirtschaft/wareneingaenge-verwalten#200">mit einer Variante verknüpft</a> sind.<br>
<strong>Verwendete Lagerorte</strong> = Lagerorte, in denen eine Variante bereits gelagert ist.<br>
<strong>Leere Lagerorte</strong> = Alle vorhandenen Lagerorte.<br>
<strong><em>Hinweis:</em></strong> Je nach Anzahl der Lagerorte kann die Einstellung <strong>Leere Lagerorte</strong> das Verräumen stark verlangsamen. Verknüpfe daher Varianten mit Lagerorten und aktiviere leere Lagerorte nur im Ausnahmefall.<br>
<strong><em>Nutzung:</em></strong> Wenn du das Tool später nutzt, werden dir nur die Lagerorte als Ziellagerort vorgeschlagen, die diese Kriterien erfüllen. Willst du einen Lagerort verwenden, der <em>nicht vorgeschlagen</em> wird, musst du den Lagerort scannen anstatt ihn aus der Vorschlagsliste in der App zu wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorlage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie soll deine <a href="/app/funktionen/lagerverwaltung/verräumen#500">Artikelliste</a> aussehen? Die plentymarkets App verfügt bereits über eine Standard-Vorlage, die für die meisten Verräumungsprozesse geeignet ist. Du kannst allerdings auch weitere Vorlagen im Menü <strong>Einrichtung » plenty App » Mobile Pickliste</strong> erstellen und dann hier aus dieser Dropdown-Liste auswählen.<br>
<strong><em>Tipp:</em></strong> Mit Vorlagen kannst du z.B. bestimmen, in welcher Reihenfolge und in welcher Schriftgröße einzelne Informationen später auf der Artikelliste dargestellt werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Mit der plentymarkets App verräumen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du alle <a href="/app/funktionen/lagerverwaltung/verräumen#200">Einstellungen vorgenommen</a> hast, kannst du die plentymarkets App nutzen, um Artikel schnell zu verräumen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Stehen Artikel bereit?</div>
<div class="paragraph">
<p>Artikel werden nur mit der App verräumt, wenn sie sich am richtigen Lagerort befinden. Sind zur Zeit keine Artikel am ausgewählten Lagerort, stehen auch keine Artikel zum Verräumen bereit.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="400">3.1. Quelllagerort angeben</h3>
<div class="paragraph">
<p>Wo befinden sich aktuell die Artikel, die ins Regal müssen? Lege zuerst fest, welchen Lagerort du verräumen möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Quelllagerort angeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/app/installation#1200">Melde dich bei der plentymarkets App an</a>.</p>
</li>
<li>
<p>Tippe oben links auf das <strong>Menüsymbol</strong> (<span class="icon"><i class="fa fa-bars" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe auf <strong>Lagerverwaltung » Verräumen</strong>.<br>
→ Eine Auflistung aller <a href="/app/funktionen/lagerverwaltung/verräumen#200">vorgeschlagenen Lagerorte</a> erscheint.</p>
</li>
<li>
<p>Scanne den Barcode des Lagerorts oder tippe in der App auf den Lagerort.<br>
→ Eine Auflistung aller hier gelagerten Artikel erscheint.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. Artikel aussuchen</h3>
<div class="paragraph">
<p>plentymarkets erstellt automatisch eine Auflistung aller Artikel, die sich aktuell an diesem Lagerort befinden. Dabei werden gleiche Artikel gruppiert. Müssen beispielsweise zwei Exemplare eines Artikels zurück ins Regal, kann der Mitarbeiter die Artikelmenge direkt beim Verräumen angeben.</p>
</div>
<div class="paragraph">
<p>Die Liste enthält wichtige Informationen zu den Artikeln, die verräumt werden sollen. Der Mitarbeiter sieht zum Beispiel die Artikel-ID und wie der Artikel heißt. Du kannst im Voraus selbst bestimmen, welche Informationen in der Liste angezeigt werden sollen. Richte dazu eine <a href="/app/funktionen/lagerverwaltung/verräumen#200">Vorlage</a> ein.</p>
</div>
<div class="paragraph instruction">
<p>Mit der Artikelliste arbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Schaue auf die Liste, um herauszufinden, welche Artikel verräumt werden müssen.</p>
</li>
<li>
<p>Entscheide welchen Artikel du als erstes verräumen möchtest.</p>
</li>
<li>
<p>Scanne den Barcode des Artikels oder tippe in der App auf den Artikel.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">3.3. Artikel verräumen</h3>
<div class="paragraph">
<p>Wohin willst du diesen Artikel verräumen? Die App zeigt dir eine Auflistung aller <a href="/app/funktionen/lagerverwaltung/verräumen#200">vorgeschlagenen Ziellagerorte</a>. Scanne ganz einfach den Barcode eines Lagerorts oder tippe auf einen Lagerort in der App.</p>
</div>
<div class="paragraph instruction">
<p>Artikel verräumen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Stelle den Artikel am passenden Ort ins Regal.</p>
</li>
<li>
<p>Scanne den Barcode dieses Lagerorts oder tippe in der App auf diesen Lagerort.<br>
→ Im Hintergrund ändert plentymarkets den Lagerort des Artikels. Im plentymarkets System ist eine <a href="/warenwirtschaft/warenbestaende-verwalten#1100">Warenbewegung</a> zu sehen.<br>
→ Müssen noch weitere Artikel vom Quelllagerort verräumt werden, wechselt der Bildschirm zurück zur <a href="/app/funktionen/lagerverwaltung/verräumen#500">Artikelliste</a> und du kannst mit dem nächsten Artikel fortfahren.<br>
→ Wurden alle Artikel fertig verräumt, erscheint eine Erfolgsmeldung.</p>
</li>
<li>
<p>Klicke auf <strong>Abschließen</strong>, um die Erfolgsmeldung zu schließen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Exemplare eines Artikels</div>
<div class="paragraph">
<p>Gleiche Artikel werden in der App gruppiert. Müssen beispielsweise zwei Exemplare eines Artikels zurück ins Regal, kannst du die Artikelmenge direkt beim Verräumen angeben. Scanne dazu den Artikel mehrmals. Beim Scannen erhöht sich die Anzahl automatisch um eins.<br>
<strong><em>Hinweis</em></strong>: Tippe alternativ auf <strong>Menge</strong> und gib die Anzahl mit dem Tastenfeld ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>