<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#3300"><span>1.</span><span> FBA-Service von Amazon einrichten</span></a></li>
<li><a href="#3400"><span>2.</span><span> Lager für Amazon FBA anlegen</span></a></li>
<li><a href="#3500"><span>3.</span><span> FBA-Auftragsimport</span></a></li>
<li><a href="#3600"><span>4.</span><span> FBA-Retouren automatisch importieren</span></a></li>
<li><a href="#3650"><span>5.</span><span> FBA-Gutschriften automatisch importieren</span></a></li>
<li><a href="#3700"><span>6.</span><span> Amazon Multi-Channel einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#3800"><span>6.1.</span><span> Lager für Amazon Multi-Channel anlegen</span></a></li>
<li><a href="#3900"><span>6.2.</span><span> Variantenverfügbarkeit für Amazon Multi-Channel einstellen</span></a></li>
<li><a href="#4000"><span>6.3.</span><span> Einstellungen für Amazon Multi-Channel vornehmen</span></a></li>
<li><a href="#4100"><span>6.4.</span><span> FBA-Versandfreigabe automatisch erteilen</span></a></li>
<li><a href="#2400"><span>6.5.</span><span> Bestand für Amazon Multi-Channel abgleichen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FBA-Service von Amazon nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Kürzel FBA steht für Fulfillment by Amazon. Statt die Aufträge selbst zu bearbeiten, die Ware zu verpacken und zu versenden, überlässt du beim FBA-Programm Amazon diese Aufgabe. Natürlich musst du zumindest einen Teil deiner Waren dann auch bei Amazon einlagern.<br></p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu Amazon FBA und zur Einrichtung des Services in plentymarkets findest du in diesem Video-Tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Amazon FBA</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/314732668" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3300">1. FBA-Service von Amazon einrichten</h2>
<div class="sectionbody">

</div>
</div><div class="sect1">
<h2 id="3400">2. Lager für Amazon FBA anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong> im Tab <strong>Auftragseinstellungen</strong> stellst du unter <strong>Lager</strong> u.a. ein, welches Lager für Amazon Fulfillment-Aufträge verwendet werden soll, damit die komplette Funktionalität der Warenwirtschaft auch beim FBA-Programm erhalten bleibt und du die Lagerbestände bei Amazon über dein plentymarkets System im Blick behältst.</p>
</div>
<div class="paragraph instruction">
<p>Lager anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Lager</strong>.</p>
</li>
<li>
<p>Gib einen Namen für das Lager ein.</p>
</li>
<li>
<p>Wähle einen <strong>Lagertyp</strong>.<br>
<strong><em>Hinweis:</em></strong> Wenn du dieses Lager nur für FBA-Bestände verwenden möchtest, d.h. wenn du den Bestand dieses Lagers nur für Amazon FBA und nicht in deinem Webshop oder auf anderen Marktplätzen anbieten möchtest, wähle den Lagertyp <strong>Reparatur</strong>.</p>
</li>
<li>
<p>Wähle als <strong>Logistiktyp</strong> die Option <strong>Amazon</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen, um das Lager anzulegen.<br>
→ Das Lager wird alphabetisch sortiert unter Lager angezeigt und geöffnet.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß der Erläuterungen auf der Handbuchseite <a href="/warenwirtschaft/lager-einrichten">Lager einrichten</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="3500">3. FBA-Auftragsimport</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einzustellen, dass deine FBA-Aufträge täglich automatisch in dein plentymarkets System importiert werden.</p>
</div>
<div class="paragraph instruction">
<p>FBA-Aufträge automatisch importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle das Konto.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Auftragseinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Amazon FBA</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Auftragsbearbeitung hat folgenden Ablauf:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Kunde kauft bei Amazon.</p>
</li>
<li>
<p>Amazon verschickt die Ware.</p>
</li>
<li>
<p>Das plentymarkets System fordert einen Bericht an.</p>
</li>
<li>
<p>Amazon erstellt den Bericht.</p>
</li>
<li>
<p>Am nächsten Tag prüft plentymarkets automatisch, ob Berichte bei Amazon vorliegen. Wenn ja, werden die Berichte importiert.</p>
</li>
<li>
<p>Aus den Berichten werden in plentymarkets Aufträge erzeugt.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis zum Auftragsimport</div>
<div class="paragraph">
<p>Amazon generiert die Berichte nur einmal täglich. Da Artikel nach bis zu 2 Tagen versendet werden, sind die FBA-Aufträge erst mit einer zeitlichen Verzögerung in deinem System verfügbar. Die von Amazon generierte Auftragsbestätigung ist in der Regel zwei Tage nach Versand der Ware, also insgesamt bis zu 4 Tage nach Bestellung der Ware durch den Käufer, in deinem System verfügbar. Die Lieferpünktlichkeit wird davon jedoch nicht berührt und erfolgt in der von Amazon gewohnten Schnelligkeit.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Amazon FBA-Aufträge werden mit den Parametern <strong>Status</strong> und <strong>Herkunft</strong> importiert. Für die Option <strong>Status</strong> legst du den für deinen Prozess passenden Status fest, also zum Beispiel <strong>[7] Warenausgang gebucht</strong>. Die Herkunft wird automatisch auf Amazon FBA oder eine Amazon FBA-Unterherkunft, wie z.B. Amazon FBA USA, gesetzt. Der Warenausgang wird hier in plentymarkets direkt gebucht, so dass keine Reservierung des Bestands der enthaltenen Artikelpositionen stattfindet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ereignisaktionen für Fulfillment</div>
<div class="paragraph">
<p>Lege die für den Fulfillment-Prozess nötigen Ereignisaktionen an, um eine Rechnung zu erzeugen und per E-Mail automatisch an den Käufer zu senden sowie den Auftrag dann in einen weiteren Status zu setzen.<br>
Beachte dazu die Handbuchseiten <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> sowie <a href="/fulfillment">Standard-Fulfillment im Detail</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h5 id="_fba_teillieferungen" class="discrete">FBA-Teillieferungen</h5>
<div class="paragraph">
<p>Amazon FBA-Teillieferungen werden von Amazon veranlasst, wenn sich die von Amazon im Kundenauftrag versendete Ware in unterschiedlichen Amazon-Lagern befindet.
Bei den Kund*innen kommen nach Bestellung demzufolge mehrere Pakete zu einem getätigten Auftrag an.<br>
In plentymarkets wird jede FBA-Teillieferung anhand des versendenden FBA-Lagers als separater Auftrag im System angelegt. Pro Teillieferung kann eine Sendungsnummer von Amazon importiert und der jeweiligen Teillieferung zugeordnet werden. Pro Teillieferung kann eine separate Rechnung erzeugt werden, was aufgrund der unterschiedlichen zu berechnenden Steuern erforderlich ist, wenn die Amazon-Lager in unterschiedlichen Ländern liegen.</p>
</div>
<h5 id="_europäisches_versandnetzwerk" class="discrete">Europäisches Versandnetzwerk</h5>
<div class="paragraph">
<p>Amazon erweitert kontinuierlich das europäische Versandnetzwerk für Händler, die Versand durch Amazon nutzen. Eine Voraussetzung ist, dass du in allen Ländern, in denen du FBA-Logistikzentren nutzt, steuerrechtlich registriert sind. Damit für diese neuen Logistikzentren deine Rechnungen auch steuerlich korrekt erstellt werden, kannst du neben deinem Firmensitz im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong> den Lagerstandort als Basis für den Standard-Umsatzsteuersatz wählen und das individuell für jeden deiner Mandanten (Shops). Im gleichen Menü im Tab <strong>Umsatzsteuersätze</strong> erfässt du auch die notwendigen Steuersätze für die Länder.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: Logistikzentrum in Polen mit Versand nach Deutschland</div>
<div class="paragraph">
<p>Damit für Aufträge, die von einem Logistikzentrum in Polen nach Deutschland verschickt werden, nicht der polnische Steuersatz verwendet wird, muss für den Standort Polen zusätzlich das Land Deutschland mit dem deutschen Steuersatz eingetragen werden. Wähle dafür im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Polen » Buchhaltung » Tab: Umsatzsteuersätze</strong> das Land <strong>Deutschland</strong> und trage den deutschen Steuersatz sowie die gültige USt-IdNr. ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="3600">4. FBA-Retouren automatisch importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Retourenfall sendet der Käufer die Ware zurück an Amazon. Die Retoure wird in dein plentymarkets System importiert und mit dem Retourenstatus, den du im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong> gewählt hast, im Auftragsmenü angelegt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Auftrag nicht ändern</div>
<div class="paragraph">
<p>Retouren werden nur importiert, wenn der Auftrag mit unveränderter externer Auftragsnummer in plentymarkets vorliegt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Aktiviere wie im Folgenden beschrieben die Importfunktion, um FBA-Retouren automatisch in dein plentymarkets System zu importieren.</p>
</div>
<div class="paragraph instruction">
<p>Importfunktion für FBA-Retouren aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Amazon-Konto.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Auftragseinstellungen</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Versand durch Amazon (FBA)</strong> für die Einstellung <strong>Retourenimport</strong> die Option <strong>Täglich</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="3650">5. FBA-Gutschriften automatisch importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutze den Gutschriftenimport, um FBA-Gutschriften automatisch in dein plentymarkets System zu importieren. Die Gutschriften werden mit dem Status importiert, der unter <strong>Einrichtung » Aufträge » Einstellungen</strong> für die Einstellung <strong>Standard-Status Gutschrift</strong> gewählt wurde. Wenn der Gutschriftenimport aktiviert ist, werden FBA-Gutschriften alle 4 Stunden importiert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">FBA-Retouren nicht per Ereignisaktion als Gutschriften anlegen</div>
<div class="paragraph">
<p>Wenn du den Gutschriftenimport aktivierst, werden FBA-Gutschriften automatisch alle 4 Stunden in dein plentymarkets System importiert. Verwende deshalb in diesem Fall keine Ereignisaktion, um FBA-Retouren als Auftragstyp <strong>Gutschrift</strong> anzulegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Automatischen Gutschriftenimport aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Amazon-Konto.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Auftragseinstellungen</strong>.</p>
</li>
<li>
<p>Wähle <strong>Ja</strong> für die Option <strong>Gutschriftenimport</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="3700">6. Amazon Multi-Channel einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon Multi-Channel bedeutet, dass "Lieferungen im Auftrag des Verkäufers durch Amazon verschickt werden, für Bestellungen, die nicht bei Amazon.de aufgegeben wurden, sondern z.B. auf eBay oder auf der persönlichen Website eines Verkäufers." (Quelle: Amazon)</p>
</div>
<div class="paragraph">
<p>Die Multi-Channel-Funktion ermöglicht dir also, Artikel bei Amazon zu lagern und von Amazon verschicken zu lassen, die du nicht bei Amazon, sondern auf anderen externen Marktplätzen verkaufst. Du erfährst in diesem Kapitel, welche Einstellungen du in deinem plentymarkets System vornehmen musst, damit diese Aufträge über Amazon abgewickelt werden können.</p>
</div>
<div class="paragraph">
<p>Die folgenden Schritte sind nötig, um deine Bestandsverwaltung und Artikeldaten für Amazon Multi-Channel einzurichten.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu Amazon Multi-Channel und zur Einrichtung des Services in deinem plentymarkets System findest du in diesem Video-Tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Amazon FBA</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/314735384" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="3800">6.1. Lager für Amazon Multi-Channel anlegen</h3>
<div class="paragraph">
<p>Lege ein Lager an, falls du noch kein Lager wie im Kapitel <a href="#FBA-Service von Amazon nutzen">FBA-Service von Amazon nutzen</a> beschrieben angelegt hast. Wichtig beim Multi-Channel-Versand ist, dass du für jeden landesspezifischen Amazon-Markt ein eigenes Lager mit dem Logistiktyp <strong>Amazon</strong> und das Land als Standort in plentymarkets eingerichtet hast.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Beispiel für die Übereinstimmung von Amazon-Plattform und Lagerstandort</div>
<div class="paragraph">
<p>Beim Multi-Channel-Versand über amazon.co.uk muss ein eigenes Lager Amazon UK mit dem Logistiktyp <strong>Amazon</strong> und dem Standort Großbritannien angelegt werden. Die Ware muss also auch tatsächlich vor Ort bei Amazon z.B. in Großbritannien gelagert sein, da sonst keine Versandabwicklung über amazon.co.uk stattfinden kann.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="3900">6.2. Variantenverfügbarkeit für Amazon Multi-Channel einstellen</h3>
<div class="paragraph">
<p>Nimm die im Folgenden beschriebenen Einstellungen an den Artikeln vor, die du für Amazon Multi-Channel verfügbar machen möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Variantenverfügbarkeit für Amazon Multi-Channel einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Multi-Channel</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Amazon</strong> vor. Beachte dazu die Erläuterungen in <a href="#artikelverfügbarkeit-amazon">[artikelverfügbarkeit-amazon]</a> im Kapitel <a href="/maerkte/amazon/amazon-einrichten#700">Variantenverfügbarkeit einstellen</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="4000">6.3. Einstellungen für Amazon Multi-Channel vornehmen</h3>
<div class="paragraph">
<p>Nimm die im Folgenden beschriebenen Einstellungen im Menü für Amazon vor.</p>
</div>
<div class="paragraph instruction">
<p>Amazon Multi-Channel einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Auftragseinstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Versand durch Amazon (FBA)</strong> vor. Beachte dazu die Erläuterungen in <a href="#amazon-multi-channel">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="amazon-multi-channel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Amazon Multi-Channel einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um den täglichen Auftragsimport zu aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Nur für Aufträge von Amazon verwenden</strong> = Nur Aufträge von Amazon mit FBA abwickeln.<br></p>
</li>
<li>
<p><strong>Für alle Aufträge verwendbar</strong> = Alle Aufträge mit FBA abwickeln.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/auftraege/auftraege-verwalten#1200">Status</a> der Aufträge wählen, die von Amazon importiert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welches <a href="#3400">Lager</a> für den Versand durch Amazon verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Warenausgang als gebucht markiert werden soll oder nicht. Die Option <strong>Als gebucht markieren</strong> erzeugt keine Warenbewegung. Um eine Warenbewegung zu erzeugen, muss die Option <strong>Nicht als gebucht markieren</strong> eingestellt sein und eine Ereignisaktion eingerichtet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retourenimport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Retouren <strong>Nie</strong> oder <strong>Täglich</strong> importiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein bei Retouren berücksichtigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Gutscheine bei FBA-Retouren berücksichtigt werden sollen oder nicht. Wurde der FBA-Auftrag komplett oder teilweise mit einem Gutschein beglichen, wird der Gutschein bei der Retoure hinzugefügt und verrechnet. Dabei wird kein Mindestbestellwert für den Gutschein berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsimport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>Stündlich</strong> wählen, damit der Bestand importiert wird.<br>
Dabei werden nur Änderungen der Bestandsdaten berücksichtigt. Weitere Möglichkeiten zum Bestandsimport sind in Kapitel <a href="#Bestand abgleichen">Bestand abgleichen</a> beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status für übertragene Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestimmt den Auftragsstatus für Multi-Channel FBA Aufträge, die erfolgreich an FBA übertragen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpakete Multichannel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Positionen an Amazon übertragen werden sollen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Alle Auftragspositionen übertragen</strong> = Alle Positionen, die sich im Auftrag befinden, an Amazon übertragen. Wenn diese Option gewählt wird, werden die Paketposition und die Paketbestandteile an Amazon übertragen.<br></p>
</li>
<li>
<p><strong>Nur Paketposition übertragen</strong> = Nur die Paketposition wird an Amazon übertragen.<br></p>
</li>
<li>
<p><strong>Ohne Paketposition übertragen</strong> = Nur die Paketbestandteile werden an Amazon übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Versandkategorie wählen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard</strong> = Normaler Versand<br></p>
</li>
<li>
<p><strong>Expedited</strong> = Schnellversand<br></p>
</li>
<li>
<p><strong>Priority</strong> = Bevorzugt (schnellster Versand)</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="4100">6.4. FBA-Versandfreigabe automatisch erteilen</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, damit Amazon automatisch eine Meldung über den Auftrag erhält und den Auftrag bearbeiten sowie den Versand veranlassen kann.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-fba-versandfreigabe">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#ereignisaktion-fba-versandfreigabe">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-fba-versandfreigabe" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Erteilen von FBA-Versandfreigaben an Amazon</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel &gt; [5] Freigabe Versand</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragslager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Multi-Channel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versand ausschließlich durch FBA</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Wichtig:</em></strong> Keine Amazon-Herkunft wählen, da es sonst zu Doppelungen bei FBA-Aufträgen kommen kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; FBA-Versandfreigabe erteilen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Bei Wechsel in Status 5 wird Amazon mit der Ereignisaktion darüber informiert, dass die Ware zum Versand freigegeben ist. Amazon verschickt die Ware und das plentymarkets System erhält intern eine Bestätigung von Amazon. Der Auftrag wechselt in Status 5.1, wie in den <a href="#Auftragseinstellungen vornehmen">Auftragseinstellungen</a> festgelegt. Die Paketnummer wird in dein plentymarkets System importiert.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Import von Paketnummern</div>
<div class="paragraph">
<p>Paketnummern werden einmal täglich importiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="2400">6.5. Bestand für Amazon Multi-Channel abgleichen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » FBA-Warenbestand</strong> hast du die Möglichkeit, neben dem stündlichen automatischen Bestandsabgleich mit Amazon deinen Bestand mit einer automatischen Aktion oder per CSV-Datei abzugleichen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nur für Amazon Multi-Channel</div>
<div class="paragraph">
<p>Dieses Feature ist nur für <a href="#3700">Amazon Multi-Channel</a> vorgesehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In plentymarkets wird zwischen einem automatischen Bestandsabgleich und einem manuellen Bestandsabgleich unterschieden. Beide Verfahren werden folgend beschrieben.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="bestand-automatisch-abgleichen-tab" data-toggle="tab" href="#bestand-automatisch-abgleichen" role="tab" aria-controls="bestand-automatisch-abgleichen" aria-selected="true">Bestand automatisch abgleichen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="bestand-manuell-abgleichen-tab" data-toggle="tab" href="#bestand-manuell-abgleichen" role="tab" aria-controls="bestand-manuell-abgleichen" aria-selected="false">Bestand manuell abgleichen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="bestand-automatisch-abgleichen" role="tabpanel" aria-labelledby="bestand-automatisch-abgleichen-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen automatischen Bestandsabgleich durchzuführen.</p>
</div>
<div class="paragraph instruction">
<p>Bestand automatisch abgleichen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » FBA-Warenbestand</strong>.</p>
</li>
<li>
<p>Wähle im Tab <strong>Automatisch</strong> das Amazon-Konto.</p>
</li>
<li>
<p>Klicke auf <strong>Amazon FBA-Bestand synchronisieren</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für den Prozess ist eine Zeitspanne von 4 Minuten vorgesehen. Werden die Daten nicht innerhalb dieser Zeitspanne von Amazon zur Verfügung gestellt, dann werden die Bestände nicht abgeglichen. Bei der nächsten Anforderung werden dann die vorher nicht übertragenen Daten verwendet, was zu Fehlern führen kann. Daher ist ein manueller Abgleich per CSV-Datei zu empfehlen wie im folgenden Kapitel beschrieben.</p>
</div>
<div class="paragraph">
<p>Es werden nur Bestände von Artikeln übernommen, die in den letzten 30 Tagen eine Bestandsänderung auf Amazon erfahren haben. Für den Erstimport empfehlen wir dir den manuellen Abgleich. Die Warenbestände werden gemäß der <a href="#Basiseinstellungen vornehmen">Grundeinstellungen</a> abgeglichen.</p>
</div>
</div><div class="tab-pane fade" id="bestand-manuell-abgleichen" role="tabpanel" aria-labelledby="bestand-manuell-abgleichen-tab">
<div class="paragraph">
<p>Bestände werden manuell per CSV-Datei abgeglichen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">SKU-Zuordnung</div>
<div class="paragraph">
<p>Für den manuellen Bestandsabgleich muss die SKU-Zuordnung in den <a href="/maerkte/amazon/amazon-einrichten#400">Grundeinstellungen</a> eingetragen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bevor du diesen Abgleich durchführst, musst du bei Amazon in der Seller Central die entsprechende Berichtsdatei anfordern, herunterladen und die CSV-Datei auf deinem Rechner speichern.</p>
</div>
<div class="paragraph instruction">
<p>Bestand manuell abgleichen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » FBA Warenbestand</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Manuell</strong>.</p>
</li>
<li>
<p>Wähle das Amazon-Konto.</p>
</li>
<li>
<p>Klicke auf <strong>Datei auswählen</strong>, um die soeben gespeicherte CSV-Datei zu wählen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen, um den Abgleich durchzuführen.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div>
</div>
</main>