<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_die_wichtigsten_amazon_fba_begriffe"><span>1.</span><span> Die wichtigsten Amazon-FBA-Begriffe</span></a>
<ul class="sectlevel2">
<li><a href="#_inbound"><span>1.1.</span><span> Inbound</span></a></li>
<li><a href="#_outbound"><span>1.2.</span><span> Outbound</span></a></li>
<li><a href="#_amazon_multi_channel"><span>1.3.</span><span> Amazon Multi-Channel</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Amazon FBA einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>2.1.</span><span> Europäisches Versandnetzwerk</span></a></li>
<li><a href="#60"><span>2.2.</span><span> Lager für Amazon FBA erstellen</span></a></li>
<li><a href="#90"><span>2.3.</span><span> Einstellungen für FBA-Inbound-Sendungen vornehmen</span></a>
<ul class="sectlevel3">
<li><a href="#_etikettentyp_für_fba_inbound_sendungen_wählen"><span>2.3.1.</span><span> Etikettentyp für FBA-Inbound-Sendungen wählen</span></a></li>
<li><a href="#110"><span>2.3.2.</span><span> Kontaktdaten für FBA-Inbound-Sendungen speichern</span></a></li>
</ul>
</li>
<li><a href="#70"><span>2.4.</span><span> Einstellungen für FBA-Outbound-Aufträge vornehmen</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>2.4.1.</span><span> FBA-Gutschriften automatisch importieren</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#3700"><span>3.</span><span> Amazon Multi-Channel einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#3800"><span>3.1.</span><span> Lager für Amazon Multi-Channel erstellen</span></a></li>
<li><a href="#3900"><span>3.2.</span><span> Variantenverfügbarkeit für Amazon Multi-Channel einstellen</span></a></li>
<li><a href="#4000"><span>3.3.</span><span> Einstellungen für Amazon Multi-Channel vornehmen</span></a></li>
<li><a href="#4100"><span>3.4.</span><span> FBA-Versandfreigabe automatisch erteilen</span></a></li>
<li><a href="#2400"><span>3.5.</span><span> Bestand für Amazon Multi-Channel abgleichen</span></a></li>
</ul>
</li>
<li><a href="#120"><span>4.</span><span> FBA Inbound-Aufträge verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#_ablauf_von_fba_inbound"><span>4.1.</span><span> Ablauf von FBA Inbound</span></a></li>
<li><a href="#130"><span>4.2.</span><span> FBA-Sendung in Amazon Seller Central erstellen</span></a></li>
<li><a href="#125"><span>4.3.</span><span> FBA-Inbound-Sendungen in plentymarkets anzeigen</span></a></li>
<li><a href="#140"><span>4.4.</span><span> Umbuchung für Sendung erstellen</span></a></li>
<li><a href="#150"><span>4.5.</span><span> FBA-Inbound-Aufträge anzeigen</span></a></li>
<li><a href="#160"><span>4.6.</span><span> FBA-Inbound-Aufträge im Lager bearbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#200"><span>4.6.1.</span><span> Pickliste drucken</span></a></li>
<li><a href="#170"><span>4.6.2.</span><span> Paketinhaltsliste öffnen</span></a></li>
<li><a href="#180"><span>4.6.3.</span><span> FBA-Inbound-Auftrag bei Amazon anmelden</span></a></li>
<li><a href="#180"><span>4.6.4.</span><span> FBA-Inbound-Auftrag bei Amazon stornieren</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#20"><span>5.</span><span> FBA-Outbound-Aufträge verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#_ablauf_von_outbound_aufträgen"><span>5.1.</span><span> Ablauf von Outbound-Aufträgen</span></a></li>
<li><a href="#30"><span>5.2.</span><span> FBA-Outbound-Teillieferungen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FBA-Service von Amazon nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Kürzel FBA steht für Fulfillment by Amazon. Statt die Aufträge selbst zu bearbeiten, die Ware zu verpacken und zu versenden, überlässt du beim FBA-Programm Amazon diese Aufgabe. Natürlich musst du zumindest einen Teil deiner Waren dann auch bei Amazon einlagern.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu Amazon FBA und zur Einrichtung des Services in plentymarkets findest du in diesem Video-Tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Amazon FBA</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/314732668" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_die_wichtigsten_amazon_fba_begriffe">1. Die wichtigsten Amazon-FBA-Begriffe</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du eine kurze Erläuterung der Begriffe, die auf dieser Handbuchseite und bei Amazon im Zusammenhang mit Amazon FBA verwendet werden.</p>
</div>
<div class="sect2">
<h3 id="_inbound">1.1. Inbound</h3>
<div class="paragraph">
<p>Inbound bedeutet, dass du Amazon mit Waren versorgst, die Amazon an deine Kundschaft liefert.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Inbound-Sendungen sind deine Sendungen an ein Amazon FBA-Logistikzentrum.</p>
</li>
<li>
<p>Inbound-Aufträge sind die Aufträge, die in plentymarkets für deine Inbound-Sendungen erstellt werden.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_outbound">1.2. Outbound</h3>
<div class="paragraph">
<p>Outbound beschreibt den Prozess des Vertriebs und Versands, den Amazon für dich übernimmt: Amazon lagert die Artikel. Geht eine Bestellung ein, verpackt und versendet Amazon die Artikel dann an deine Kund:innen.</p>
</div>
</div>
<div class="sect2">
<h3 id="_amazon_multi_channel">1.3. Amazon Multi-Channel</h3>
<div class="ulist">
<ul>
<li>
<p><strong>Amazon Multi-Channel</strong> ermöglicht es dir, Artikel bei Amazon zu lagern und von Amazon verschicken zu lassen, die du auf anderen externen Marktplätzen verkaufst.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Amazon FBA einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Amazon FBA in deinem plentymarkets System einzurichten.</p>
</div>
<div class="sect2">
<h3 id="40">2.1. Europäisches Versandnetzwerk</h3>
<div class="paragraph">
<p>Amazon erweitert kontinuierlich das europäische Versandnetzwerk für Händler:innen, die Versand durch Amazon nutzen. Eine Voraussetzung ist, dass du in allen Ländern, in denen du FBA-Logistikzentren nutzt, steuerrechtlich registriert bist. Damit für diese neuen Logistikzentren deine Rechnungen auch steuerlich korrekt erstellt werden, kannst du neben deinem Firmensitz im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong> den Lagerstandort als Basis für den Standard-Umsatzsteuersatz wählen und das individuell für jeden deiner Mandanten (Shops). Im gleichen Menü im Tab <strong>Umsatzsteuersätze</strong> erfasst du auch die notwendigen Steuersätze für die Länder.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Beispiel:</em></strong> Logistikzentrum in Polen mit Versand nach Deutschland</div>
<div class="content">
<div class="paragraph">
<p>Damit für Aufträge, die von einem Logistikzentrum in Polen nach Deutschland verschickt werden, nicht der polnische Steuersatz verwendet wird, muss für den Standort Polen zusätzlich das Land Deutschland mit dem deutschen Steuersatz eingetragen werden. Wähle dafür im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Polen » Buchhaltung » Tab: Umsatzsteuersätze</strong> das Land <strong>Deutschland</strong> und trage den deutschen Steuersatz sowie die gültige USt-IdNr. ein.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="60">2.2. Lager für Amazon FBA erstellen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong> im Tab <strong>Auftragseinstellungen</strong> stellst du zunächst ein, welches Lager für Amazon Fulfillment-Aufträge verwendet werden soll. So bleibt die komplette Funktionalität der Warenwirtschaft auch beim FBA-Programm erhalten und du behältst die Lagerbestände bei Amazon über dein plentymarkets System im Blick.</p>
</div>
<div class="paragraph instruction">
<p>Lager erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Lager</strong>.</p>
</li>
<li>
<p>Gib einen Namen für das Lager ein.</p>
</li>
<li>
<p>Wähle einen <strong>Lagertyp</strong>.<br>
<strong><em>Hinweis:</em></strong> Wenn du dieses Lager nur für FBA-Bestände verwenden möchtest, du den Bestand dieses Lagers also nicht in deinem Webshop oder auf anderen Marktplätzen anbieten möchtest, wähle den Lagertyp <strong>Reparatur</strong>.</p>
</li>
<li>
<p>Wähle als <strong>Logistiktyp</strong> die Option <strong>Amazon</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Lager wird alphabetisch sortiert unter Lager angezeigt und geöffnet.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß der Erläuterungen auf der Handbuchseite <a href="/warenwirtschaft/lager-einrichten">Lager einrichten</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Lager wird erstellt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">2.3. Einstellungen für FBA-Inbound-Sendungen vornehmen</h3>
<div class="paragraph">
<p>Damit Amazon deine Artikel versenden kann, musst du ausreichend Bestand in einem oder mehreren FBA-Logistikzentren vorrätig halten. Nimm dazu zunächst die unten beschriebenen Einstellungen für Sendungen an FBA-Logistikzentrum vor.</p>
</div>
<div class="sect3">
<h4 id="_etikettentyp_für_fba_inbound_sendungen_wählen">2.3.1. Etikettentyp für FBA-Inbound-Sendungen wählen</h4>
<div class="paragraph">
<p>Wähle den Etikettentyp, den du für Paketsendungen, die mit einem Amazon-Transportpartner versendet werden, verwenden möchtest. Das Etikett kannst du nach erfolgreicher Anmeldung des Auftrags später in der von dir hier gewählten Größe herunterladen und drucken.</p>
</div>
<div class="paragraph instruction">
<p>Etikettentyp für FBA-Inbound-Sendungen wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Amazon FBA » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wähle ein <strong>Druckerprofil für Etiketten</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="110">2.3.2. Kontaktdaten für FBA-Inbound-Sendungen speichern</h4>
<div class="paragraph">
<p>Gib die Kontaktdaten der Person in deinem Unternehmen ein, an die sich Amazon bei Rückfragen wenden kann.</p>
</div>
<div class="paragraph instruction">
<p>Kontaktdaten für FBA-Inbound-Sendungen speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Amazon FBA » Kontakt</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#fba-kontakt">Tabelle 1</a>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Kontaktdaten werden gespeichert.</p>
</li>
</ol>
</div>
<table id="fba-kontakt" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Kontaktdaten für FBA-Inbound-Sendungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>;<br>
<strong>E-Mail-Adresse</strong>;<br>
<strong>Telefonnummer</strong>;<br>
<strong>Faxnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontaktdaten der Person eingeben, die Amazon bei Rückfragen kontaktieren soll.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="70">2.4. Einstellungen für FBA-Outbound-Aufträge vornehmen</h3>
<div class="paragraph">
<p>Lege nun fest, wie Aufträge, die über Amazon eingehen, behandelt werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen für Outbound-Aufträge vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle das Amazon-Konto, für das du FBA aktivieren möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Auftragseinstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#fba-auftragseinstellungen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="fba-auftragseinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen im Tab <strong>Auftragseinstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Versand durch Amazon (FBA)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um den Versand durch Amazon zu aktivieren. Deine FBA-Aufträge werden täglich automatisch in dein plentymarkets System importiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob nur Aufträge von Amazon mit FBA abgewickelt werden oder ob auch Aufträge von anderen <a href="/auftraege/auftragsherkunft">Herkünften</a> mit FBA abgewickelt werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/auftraege/auftraege-verwalten#1200">Status</a> wählen, der Aufträgen zugewiesen werden soll, die von Amazon importiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welches <a href="#60">Amazon FBA-Lager</a> für den Bestandsabgleich des Kontos verwendet werden soll. Dieses Lager wird auch für die FBA-Auftragszuordnung des Kontos verwendet, falls kein FBA-Auftrag zugeordnet werden kann, weil für das Auftragsland kein Lager eingerichtet wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Warenausgang als gebucht markiert werden soll oder nicht. Die Option <strong>Als gebucht markieren</strong> erzeugt keine Warenbewegung. Um eine Warenbewegung zu erzeugen, muss die Option <strong>Nicht als gebucht markieren</strong> eingestellt sein und eine Ereignisaktion eingerichtet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retourenimport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>täglichen</strong> wählen, damit FBA-Retouren automatisch einmal täglich in dein plentymarkets System importiert werden.<br>
<strong><em>Tipp:</em></strong> Im Retourenfall senden Käufer:innen die Ware zurück an Amazon. Die Retoure wird in dein plentymarkets System importiert und mit dem Retourenstatus im Auftragsmenü erstellt, den du im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong> gewählt hast.<br>
<strong><em>Wichtig:</em></strong> Retouren werden nur importiert, wenn der Auftrag mit unveränderter externer Auftragsnummer in plentymarkets vorliegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein bei Retouren berücksichtigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Gutscheine bei Retouren berücksichtigt werden sollen oder nicht. Wurde der FBA-Auftrag komplett oder teilweise mit einem Gutschein beglichen, wird der Gutschein bei der Retoure hinzugefügt und verrechnet. Dabei wird kein Mindestbestellwert für den Gutschein berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsimport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Bestandsimport <strong>stündlich</strong> oder nie ausgeführt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status für übertragene Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> für Aufträge wählen, die erfolgreich an FBA übertragen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpakete Multichannel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Positionen an Amazon übertragen werden sollen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Alle Auftragspositionen übertragen</strong> = Alle Positionen, die sich im Auftrag befinden, an Amazon übertragen. Wenn diese Option gewählt wird, werden die Paketposition und die Paketbestandteile an Amazon übertragen.</p>
</li>
<li>
<p><strong>Nur Paketposition übertragen</strong> = Nur die Paketposition wird an Amazon übertragen.</p>
</li>
<li>
<p><strong>Ohne Paketposition übertragen</strong> = Nur die Paketbestandteile werden an Amazon übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Versandpriorität wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard</strong> = normaler Versand<br></p>
</li>
<li>
<p><strong>Expedited</strong> = Schnellversand<br></p>
</li>
<li>
<p><strong>Priority</strong> = bevorzugt (schnellster Versand)</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="80">2.4.1. FBA-Gutschriften automatisch importieren</h4>
<div class="paragraph">
<p>Nutze den Gutschriftenimport, um FBA-Gutschriften automatisch in dein plentymarkets System zu importieren. Die Gutschriften werden mit dem Status importiert, der unter <strong>Einrichtung » Aufträge » Einstellungen</strong> für die Einstellung <strong>Standard-Status Gutschrift</strong> gewählt wurde. Wenn der Gutschriftenimport aktiviert ist, werden FBA-Gutschriften alle 4 Stunden importiert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">FBA-Retouren nicht per Ereignisaktion als Gutschriften erstellen</div>
<div class="paragraph">
<p>Wenn du den Gutschriftenimport aktivierst, werden FBA-Gutschriften automatisch alle 4 Stunden in dein plentymarkets System importiert. Verwende deshalb in diesem Fall keine Ereignisaktion, um FBA-Retouren als Auftragstyp <strong>Gutschrift</strong> anzulegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Automatischen Gutschriftenimport aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Amazon-Konto.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Auftragseinstellungen</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Gutschriftenimport</strong> die Option <strong>Ja</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3700">3. Amazon Multi-Channel einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon Multi-Channel bedeutet, dass "Lieferungen im Auftrag des Verkäufers durch Amazon verschickt werden, für Bestellungen, die nicht bei Amazon.de aufgegeben wurden, sondern z.B. auf eBay oder auf der persönlichen Website eines Verkäufers." (Quelle: Amazon)</p>
</div>
<div class="paragraph">
<p>Die Multi-Channel-Funktion ermöglicht dir also, Artikel bei Amazon zu lagern und von Amazon verschicken zu lassen, die du nicht bei Amazon, sondern auf anderen externen Marktplätzen verkaufst. Du erfährst in diesem Kapitel, welche Einstellungen du in deinem plentymarkets System vornehmen musst, damit diese Aufträge über Amazon abgewickelt werden können.</p>
</div>
<div class="paragraph">
<p>Die folgenden Schritte sind nötig, um deine Bestandsverwaltung und Artikeldaten für Amazon Multi-Channel einzurichten.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu Amazon Multi-Channel und zur Einrichtung des Services in deinem plentymarkets System findest du in diesem Video-Tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Amazon FBA</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/314735384" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="3800">3.1. Lager für Amazon Multi-Channel erstellen</h3>
<div class="paragraph">
<p>Lege ein Lager an, falls du noch kein Lager wie im Kapitel <a href="#FBA-Service von Amazon nutzen">FBA-Service von Amazon nutzen</a> beschrieben erstellt hast. Wichtig beim Multi-Channel-Versand ist, dass du für jeden landesspezifischen Amazon-Markt ein eigenes Lager mit dem Logistiktyp <strong>Amazon</strong> und das Land als Standort in plentymarkets eingerichtet hast.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Beispiel für die Übereinstimmung von Amazon-Plattform und Lagerstandort</div>
<div class="paragraph">
<p>Beim Multi-Channel-Versand über amazon.co.uk muss ein eigenes Lager Amazon UK mit dem Logistiktyp <strong>Amazon</strong> und dem Standort Großbritannien erstellt werden. Die Ware muss also auch tatsächlich vor Ort bei Amazon z.B. in Großbritannien gelagert sein, da sonst keine Versandabwicklung über amazon.co.uk stattfinden kann.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="3900">3.2. Variantenverfügbarkeit für Amazon Multi-Channel einstellen</h3>
<div class="paragraph">
<p>Nimm die im Folgenden beschriebenen Einstellungen an den Artikeln vor, die du für Amazon Multi-Channel verfügbar machen möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Variantenverfügbarkeit für Amazon Multi-Channel einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Multi-Channel</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Amazon</strong> vor. Beachte dazu die Erläuterungen in <a href="#artikelverfügbarkeit-amazon">[artikelverfügbarkeit-amazon]</a> im Kapitel <a href="/maerkte/amazon/amazon-einrichten#700">Variantenverfügbarkeit einstellen</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="4000">3.3. Einstellungen für Amazon Multi-Channel vornehmen</h3>
<div class="paragraph">
<p>Nimm die im Folgenden beschriebenen Einstellungen im Menü für Amazon vor.</p>
</div>
<div class="paragraph instruction">
<p>Amazon Multi-Channel einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Auftragseinstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Versand durch Amazon (FBA)</strong> vor. Beachte dazu die Erläuterungen in <a href="#amazon-multi-channel">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="amazon-multi-channel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Amazon Multi-Channel einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um den täglichen Auftragsimport zu aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur für Aufträge von Amazon verwenden</strong> = Nur Aufträge von Amazon mit FBA abwickeln.<br>
<strong>Für alle Aufträge verwendbar</strong> = Alle Aufträge mit FBA abwickeln.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/auftraege/auftraege-verwalten#1200">Status</a> der Aufträge wählen, die von Amazon importiert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welches <a href="#60">Lager</a> für den Versand durch Amazon verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Warenausgang als gebucht markiert werden soll oder nicht. Die Option <strong>Als gebucht markieren</strong> erzeugt keine Warenbewegung. Um eine Warenbewegung zu erzeugen, muss die Option <strong>Nicht als gebucht markieren</strong> eingestellt sein und eine Ereignisaktion eingerichtet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retourenimport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Retouren <strong>Nie</strong> oder <strong>Täglich</strong> importiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein bei Retouren berücksichtigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Gutscheine bei FBA-Retouren berücksichtigt werden sollen oder nicht. Wurde der FBA-Auftrag komplett oder teilweise mit einem Gutschein beglichen, wird der Gutschein bei der Retoure hinzugefügt und verrechnet. Dabei wird kein Mindestbestellwert für den Gutschein berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsimport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>Stündlich</strong> wählen, damit der Bestand importiert wird.<br>
Dabei werden nur Änderungen der Bestandsdaten berücksichtigt. Weitere Möglichkeiten zum Bestandsimport sind in Kapitel <a href="#Bestand abgleichen">Bestand abgleichen</a> beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status für übertragene Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestimmt den Auftragsstatus für Multi-Channel FBA Aufträge, die erfolgreich an FBA übertragen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpakete Multichannel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Positionen an Amazon übertragen werden sollen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Alle Auftragspositionen übertragen</strong> = Alle Positionen, die sich im Auftrag befinden, an Amazon übertragen. Wenn diese Option gewählt wird, werden die Paketposition und die Paketbestandteile an Amazon übertragen.</p>
</li>
<li>
<p><strong>Nur Paketposition übertragen</strong> = Nur die Paketposition wird an Amazon übertragen.</p>
</li>
<li>
<p><strong>Ohne Paketposition übertragen</strong> = Nur die Paketbestandteile werden an Amazon übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Versandkategorie wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard</strong> = Normaler Versand</p>
</li>
<li>
<p><strong>Expedited</strong> = Schnellversand</p>
</li>
<li>
<p><strong>Priority</strong> = Bevorzugt (schnellster Versand)</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="4100">3.4. FBA-Versandfreigabe automatisch erteilen</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, damit Amazon automatisch eine Meldung über den Auftrag erhält und den Auftrag bearbeiten sowie den Versand veranlassen kann.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-fba-versandfreigabe">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#ereignisaktion-fba-versandfreigabe">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-fba-versandfreigabe" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Erteilen von FBA-Versandfreigaben an Amazon</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel &gt; [5] Freigabe Versand</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragslager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Multi-Channel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versand ausschließlich durch FBA</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Wichtig:</em></strong> Keine Amazon-Herkunft wählen, da es sonst zu Doppelungen bei FBA-Aufträgen kommen kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; FBA-Versandfreigabe erteilen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Bei Wechsel in Status 5 wird Amazon mit der Ereignisaktion darüber informiert, dass die Ware zum Versand freigegeben ist. Amazon verschickt die Ware und das plentymarkets System erhält intern eine Bestätigung von Amazon. Der Auftrag wechselt in Status 5.1, wie in den <a href="#Auftragseinstellungen vornehmen">Auftragseinstellungen</a> festgelegt. Die Paketnummer wird in dein plentymarkets System importiert.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Import von Paketnummern</div>
<div class="paragraph">
<p>Paketnummern werden einmal täglich importiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="2400">3.5. Bestand für Amazon Multi-Channel abgleichen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » FBA-Warenbestand</strong> hast du die Möglichkeit, neben dem stündlichen automatischen Bestandsabgleich mit Amazon deinen Bestand mit einer automatischen Aktion oder per CSV-Datei abzugleichen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nur für Amazon Multi-Channel</div>
<div class="paragraph">
<p>Dieses Feature ist nur für <a href="#3700">Amazon Multi-Channel</a> vorgesehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In plentymarkets wird zwischen einem automatischen Bestandsabgleich und einem manuellen Bestandsabgleich unterschieden. Beide Verfahren werden folgend beschrieben.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="bestand-automatisch-abgleichen-tab" data-toggle="tab" href="#bestand-automatisch-abgleichen" role="tab" aria-controls="bestand-automatisch-abgleichen" aria-selected="true">Bestand automatisch abgleichen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="bestand-manuell-abgleichen-tab" data-toggle="tab" href="#bestand-manuell-abgleichen" role="tab" aria-controls="bestand-manuell-abgleichen" aria-selected="false">Bestand manuell abgleichen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="bestand-automatisch-abgleichen" role="tabpanel" aria-labelledby="bestand-automatisch-abgleichen-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen automatischen Bestandsabgleich durchzuführen.</p>
</div>
<div class="paragraph instruction">
<p>Bestand automatisch abgleichen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » FBA-Warenbestand</strong>.</p>
</li>
<li>
<p>Wähle im Tab <strong>Automatisch</strong> das Amazon-Konto.</p>
</li>
<li>
<p>Klicke auf <strong>Amazon FBA-Bestand synchronisieren</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für den Prozess ist eine Zeitspanne von 4 Minuten vorgesehen. Werden die Daten nicht innerhalb dieser Zeitspanne von Amazon zur Verfügung gestellt, dann werden die Bestände nicht abgeglichen. Bei der nächsten Anforderung werden dann die vorher nicht übertragenen Daten verwendet, was zu Fehlern führen kann. Daher ist ein manueller Abgleich per CSV-Datei zu empfehlen wie im folgenden Kapitel beschrieben.</p>
</div>
<div class="paragraph">
<p>Es werden nur Bestände von Artikeln übernommen, die in den letzten 30 Tagen eine Bestandsänderung auf Amazon erfahren haben. Für den Erstimport empfehlen wir dir den manuellen Abgleich. Die Warenbestände werden gemäß der <a href="#Basiseinstellungen vornehmen">Grundeinstellungen</a> abgeglichen.</p>
</div>
</div><div class="tab-pane fade" id="bestand-manuell-abgleichen" role="tabpanel" aria-labelledby="bestand-manuell-abgleichen-tab">
<div class="paragraph">
<p>Bestände werden manuell per CSV-Datei abgeglichen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">SKU-Zuordnung</div>
<div class="paragraph">
<p>Für den manuellen Bestandsabgleich muss die SKU-Zuordnung in den <a href="/maerkte/amazon/amazon-einrichten#400">Grundeinstellungen</a> eingegeben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bevor du diesen Abgleich durchführst, musst du bei Amazon in der Seller Central die entsprechende Berichtsdatei anfordern, herunterladen und die CSV-Datei auf deinem Rechner speichern.</p>
</div>
<div class="paragraph instruction">
<p>Bestand manuell abgleichen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » FBA Warenbestand</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Manuell</strong>.</p>
</li>
<li>
<p>Wähle das Amazon-Konto.</p>
</li>
<li>
<p>Klicke auf <strong>Datei auswählen</strong>, um die soeben gespeicherte CSV-Datei zu wählen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen, um den Abgleich durchzuführen.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div>
</div><div class="sect1">
<h2 id="120">4. FBA Inbound-Aufträge verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier erfährst du, wie du FBA-Inbound-Aufträge erstellst, verwaltest und versendest.</p>
</div>
<div class="sect2">
<h3 id="_ablauf_von_fba_inbound">4.1. Ablauf von FBA Inbound</h3>
<div class="paragraph">
<p>FBA-Inbound-Sendungen haben den folgenden Ablauf:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Du erstellst im Amazon Seller Central eine FBA-Inbound-Sendung.<br>
→ Die Sendung wird in plentymarkets importiert.<br>
→ Die Sendung wird im Menü <strong>Waren » Amazon: Shipments</strong> angezeigt.</p>
</li>
<li>
<p>Du erstellst eine Umbuchung für die Sendung.<br>
→ In plentymarkets wird ein FBA-Inbound-Auftrag im Menü <strong>Waren » Amazon FBA Inbound</strong> erstellt.</p>
</li>
<li>
<p>Der Auftrag kann im Lager weiter bearbeitet werden.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Aktuell können über FBA Inbound keine Artikelpakete (Bundles) verarbeitet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="130">4.2. FBA-Sendung in Amazon Seller Central erstellen</h3>
<div class="paragraph">
<p>Zunächst erstellst du eine FBA-Inbound-Sendung im Amazon Seller Central. Logge dich dafür im Amazon Seller Central ein und öffne den Bereich <strong>Artikel an Amazon senden/ergänzen</strong>. Nachdem du die Sendung im Amazon Seller Central erstellt hast, wird die Sendung mit der Sendungs-ID und dem Ziel-Logistikzentrum in plentymarkets importiert und kann im Menü <strong>Waren » Amazon: Shipments</strong> weiter bearbeitet werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="125">4.3. FBA-Inbound-Sendungen in plentymarkets anzeigen</h3>
<div class="paragraph">
<p>Das Menü <strong>Waren » Amazon: Shipments</strong> bietet eine Übersicht der FBA-Inbound-Sendungen, die du im Amazon Seller Central erstellt hast.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">SKU muss vorhanden sein</div>
<div class="paragraph">
<p>In diesem Menü werden nur Sendungen angezeigt, bei denen alle in der Sendung enthaltenen Artikel über die SKU mit einer Variante in plentymarkets abgeglichen werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>FBA-Inbound-Sendungen in plentymarkets anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Amazon: Shipments</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter in der Spalte links. Beachte <a href="#fba-inbound-sendungen">Tabelle 5</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die gefilterten Sendungen werden in der Übersicht rechts angezeigt. <a href="#fba-inbound-sendungen">Tabelle 5</a> erläutert die angezeigten Informationen.</p>
</li>
</ol>
</div>
<table id="fba-inbound-sendungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. FBA-Inbound-Sendungen in plentymarkets anzeigen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spalte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Verfügbare Filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sendungs-IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendungs-ID eingeben, um nach der Sendung mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Konto aus der Dropdown-Liste wählen, um nach Sendungen für dieses Konto zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte Änderung von</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum im Kalender wählen, um nach Sendungen zu suchen, die ab diesem Datum geändert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte Änderung bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum im Kalender wählen, um nach Sendungen zu suchen, die bis zu diesem Datum geändert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Angezeigte Informationen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sendungs-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID, die Amazon der Sendung beim Erstellen im Amazon Seller Central gegeben hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Status, den Amazon der Sendung gegeben hat.<br>
<strong><em>Hinweis:</em></strong> Hier werden nur Sendungen angezeigt, die den Status "Erstellt" haben und die im Amazon Seller Central erstellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name, den Amazon der Sendung gegeben hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel-Logistikzentrum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Amazon-FBA-Logistikzentrum, an das die Sendung gesendet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Umbuchung erstellen</strong> klicken, um für diese Sendung eine Umbuchung zu erstellen. Wenn bereits eine Umbuchung erstellt wurde, wird das Datum angezeigt.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Vorab keine Warenbewegungsumbuchung durchführen</div>
<div class="paragraph">
<p>Das Amazon FBA-Lager verfügt <em>nicht</em> über verschiedene Lagerorte, sondern verwendet immer nur den Standardlagerort. Führe als vor dem Erstellen der Pickliste und dem Verwenden der Paketinhaltsliste <em>keine Warenbewegungsbuchung in der Umbuchung</em> durch. Andernfalls werden auf der Pickliste die Lagerorte falsch angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">4.4. Umbuchung für Sendung erstellen</h3>
<div class="paragraph">
<p>Erstelle nun eine Umbuchung für die Sendung. In plentymarkets wird dann ein FBA-Inbound-Auftrag im Menü <strong>Waren » Amazon FBA Inbound</strong> erstellt.</p>
</div>
<div class="paragraph instruction">
<p>Umbuchung für Sendung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Amazon: Shipments</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter in der Spalte links, um nur bestimmte FBA-Inbound-Sendungen anzuzeigen. Beachte <a href="#fba-inbound-redistribution">Tabelle 6</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Sendungen werden in der Übersicht rechts angezeigt.</p>
</li>
<li>
<p>Klicke für die gewünschte Sendung in der Spalte <strong>Bestellung</strong> auf <strong>Umbuchung erstellen</strong> (<span class="icon "><i class="psicon-stock"></i></span>).<br>
→ Das Menü <strong>Umbuchung erstellen</strong> wird angezeigt.</p>
</li>
<li>
<p>Beachte die Erläuterungen in <a href="#fba-inbound-redistribution">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Für diese Sendung wird eine Umbuchung erstellt, die alle Varianten der Sendung enthält.<br>
→ Für die Umbuchung wird ein FBA-Inbound-Auftrag im Menü <strong>Waren » Amazon FBA Inbound</strong> erstellt.<br>
→ Der FBA-Inbound-Auftrag kann weiter bearbeitet werden.</p>
</li>
</ol>
</div>
<table id="fba-inbound-redistribution" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Umbuchung für Sendung erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Verfügbare Filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sendungs-IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendungs-ID eingeben, um nach der Sendung mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Konto aus der Dropdown-Liste wählen, um nach Sendungen für dieses Konto zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte Änderung von</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum im Kalender wählen, um nach Sendungen zu suchen, die ab diesem Datum geändert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte Änderung bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum im Kalender wählen, um nach Sendungen zu suchen, die bis zu diesem Datum geändert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Menü <strong>Umbuchung erstellen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quelllager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager wählen, aus dem die Varianten an das Amazon-FBA-Logistikzentrum gesendet werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status aus der Dropdown-Liste wählen, der dem FBA-Inbound-Auftrag zugewiesen werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID einer Referenzbestellung</strong><br>
(optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn die Umbuchung als Kindauftrag eines existierenden Auftrags erstellt werden soll, die ID dieses Auftrags eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="150">4.5. FBA-Inbound-Aufträge anzeigen</h3>
<div class="paragraph">
<p>Im Menü <strong>Waren » Amazon FBA Inbound</strong> werden die FBA-Inbound-Aufträge angezeigt. Beachte, dass erst ein FBA-Inbound-Auftrag erstellt wird, nachdem du für die Sendung eine Umbuchung erstellt hast.</p>
</div>
<div class="paragraph instruction">
<p>FBA-Inbound-Aufträge anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter in der Spalte links. Beachte <a href="#fba-inbound-orders">Tabelle 7</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die gefilterten FBA-Inbound-Aufträge werden in der Übersicht rechts angezeigt.<br>
<strong><em>Tipp:</em></strong> Klicke auf den FBA-Inbound-Auftrag, um Optionen für die Auftragsbearbeitung anzuzeigen.</p>
</li>
</ol>
</div>
<table id="fba-inbound-orders" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. FBA-Inbound-Aufträge anzeigen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spalte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Verfügbare Filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner aus der Dropdown-Liste wählen, um nach FBA-Inbound-Aufträgen zu suchen, die diese Person erstellt hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager aus der Dropdown-Liste wählen, um nach FBA-Inbound-Aufträgen zu suchen, die in dieses Lager umgebucht wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des FBA-Inbound-Auftrags eingeben, um nach dem Auftrag mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Angezeigte Informationen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Person, die die Umbuchung erstellt hat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausgangslager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das plentymarkets FBA-Lager</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentymarkets ID des FBA-Inbound-Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sendungs-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID, die Amazon der Sendung beim Erstellen im Amazon Seller Central zugewiesen hat</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="160">4.6. FBA-Inbound-Aufträge im Lager bearbeiten</h3>
<div class="paragraph">
<p>Die weitere Bearbeitung der FBA-Inbound-Aufträge findet im Lager statt. Im Lager wird der Auftrag gepackt und bei Amazon angemeldet. Wie das Lagerpersonal dabei vorgeht, hängt natürlich von deinen Fulfillment-Abläufen ab. Hier wird beschrieben, wie du für den FBA-Inbound-Auftrag eine Pickliste druckst, die Paketinhaltsliste aufrufst und das Paket bei Amazon anmeldest.</p>
</div>
<div class="sect3">
<h4 id="200">4.6.1. Pickliste drucken</h4>
<div class="paragraph">
<p>Über das Menü <strong>Waren » Amazon FBA Inbound</strong> kannst du eine <a href="/auftraege/auftragsdokumente/pickliste">Pickliste</a> für den FBA-Inbound-Auftrag drucken.</p>
</div>
<div class="paragraph instruction">
<p>Pickliste drucken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter in der Spalte links. Beachte <a href="#fba-inbound-orders">Tabelle 7</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die gefilterten FBA-Inbound-Aufträge werden in der Übersicht rechts angezeigt.</p>
</li>
<li>
<p>Klicke auf den Auftrag.<br>
→ Die Optionen für die Auftragsbearbeitung werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>FBA-Inbound-Pickliste drucken</strong>.<br>
→ Die Pickliste wird als PDF-Datei heruntergeladen und du kannst sie anschließend drucken.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="170">4.6.2. Paketinhaltsliste öffnen</h4>
<div class="paragraph">
<p>Eine <a href="/auftraege/paketinhaltsliste">Paketinhaltsliste</a> gibt Auskunft über den Inhalt von Paletten, Paketen und Artikeln. Die Paketinhaltsliste sorgt dafür, dass Amazon weiß, welche Artikel sich in den Paketen befinden, die Amazon für dich lagert und versendet.</p>
</div>
<div class="paragraph">
<p>Die Paketinhaltsliste bereitet die Pakete anhand der Einstellungen an der Variante vor. Du kannst diese Einstellungen ändern. Öffne dazu das Menü <strong>Artikel » Artikel bearbeiten</strong> » <em>Artikel öffnen</em> » <strong>Tab: Einstellungen » Bereich: Versand</strong> und ändere die Option in der Dropdown-Liste <strong>Packstücke</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Menü <strong>Aufträge » Paketinhaltsliste</strong></div>
<div class="paragraph">
<p>Du kannst die Paketinhaltsliste auch über das Menü <strong>Aufträge » Paketinhaltsliste</strong> öffnen und abarbeiten. Die Schaltfläche <strong>Anmelden</strong> wird aber nur angezeigt, wenn du die Paketinhaltsliste über das Menü <strong>Waren » Amazon FBA Inbound</strong> öffnest und du alle Pakete und Paletten geschlossen hast. Die Schaltfläche <strong>Anmelden</strong> benötigst du, wenn du die gepackten Pakete bei Amazon anmelden möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Paketinhaltsliste öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter in der Spalte links. Beachte <a href="#fba-inbound-orders">Tabelle 7</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die gefilterten FBA-Inbound-Aufträge werden in der Übersicht rechts angezeigt.</p>
</li>
<li>
<p>Klicke auf den Auftrag.<br>
→ Die Optionen für die Auftragsbearbeitung werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Paketinhaltsliste</strong>.<br>
→ Der Auftrag wird im Menü <strong>Aufträge » Paketinhaltsliste</strong> angezeigt.</p>
</li>
<li>
<p>Packe den Auftrag anhand der <a href="/auftraege/paketinhaltsliste">Paketinhaltsliste</a>.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="180">4.6.3. FBA-Inbound-Auftrag bei Amazon anmelden</h4>
<div class="paragraph">
<p>Nachdem der FBA-Inbound-Auftrag mithilfe der Paketinhaltsliste im Lager fertig gepackt ist, meldest du den Auftrag bei Amazon an. Bei der Anmeldung wird gleichzeitig die Paketinhaltsliste an Amazon gesendet. Wenn du einen eigenen Versanddienstleister nutzt, benötigst du die Paketnummer, um den FBA-Inbound-Auftrag bei Amazon anzumelden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erst packen, dann anmelden</div>
<div class="paragraph">
<p>Sobald der Auftrag bei Amazon angemeldet wurde, darf der Inhalt der Pakete und Paletten nicht mehr geändert werden. Melde deshalb den Auftrag erst bei Amazon an, wenn alles fertig gepackt ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="versand-mit-eigenem-versanddienstleister-tab" data-toggle="tab" href="#versand-mit-eigenem-versanddienstleister" role="tab" aria-controls="versand-mit-eigenem-versanddienstleister" aria-selected="true">Versand mit eigenem Versanddienstleister</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="versand-mit-amazon-transportpartner-tab" data-toggle="tab" href="#versand-mit-amazon-transportpartner" role="tab" aria-controls="versand-mit-amazon-transportpartner" aria-selected="false">Versand mit Amazon-Transportpartner</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="versand-mit-eigenem-versanddienstleister" role="tabpanel" aria-labelledby="versand-mit-eigenem-versanddienstleister-tab">
<div class="paragraph instruction">
<p>FBA-Inbound-Auftrag bei Amazon anmelden (eigener Versanddienstleister):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p>Klicke auf den Auftrag.<br>
→ Die Optionen für die Auftragsbearbeitung werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Paketinhaltsliste</strong>.<br>
→ Der Auftrag wird im Menü <strong>Aufträge » Paketinhaltsliste</strong> angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong>.<br>
<strong><em>Hinweis:</em></strong> Die Schaltfläche <strong>Anmelden</strong> wird nur angezeigt, wenn du die Paketinhaltsliste über das Menü <strong>Waren » Amazon FBA Inbound</strong> öffnest.<br>
→ Das Fenster <strong>Auftrag anmelden</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die <strong>Versandart für eigene Versanddienstleister</strong> aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Die Versandarten <strong>Paketsendung</strong> und <strong>LKW-Teilladung/LKW-Ladung</strong> stehen zur Verfügung.</p>
</li>
<li>
<p>Gib die Paketverfolgungsnummer für alle Pakete ein.<br>
<strong><em>Hinweis:</em></strong> Wenn du die Versandart <strong>LKW-Teilladung/LKW-Ladung</strong> gewählt hast, musst du die Pro-Nummer eingeben. Die Pro-Nummer ordnet der Versanddienstleister der Sendung zu.</p>
</li>
<li>
<p>Klicke auf <strong>Ja</strong>.<br>
→ Der Auftrag wird bei Amazon angemeldet.</p>
</li>
<li>
<p>Sende das Paket an das Amazon FBA-Lager.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ausgegraute Felder beim Versand ohne Amazon-Transportpartner</div>
<div class="paragraph">
<p>Wenn du die Pakete selbst versendest und der Versand nicht von Amazon übernommen wird, sind die Schaltflächen <strong>Versandkosten einholen</strong>, <strong>Versandkosten annehmen</strong>, <strong>Bestätigung stornieren</strong> und <strong>Labels drucken</strong> nicht verfügbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="versand-mit-amazon-transportpartner" role="tabpanel" aria-labelledby="versand-mit-amazon-transportpartner-tab">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Versanddienstleister wird durch Amazon bestimmt</div>
<div class="paragraph">
<p>Wenn du die Sendung mit einem Amazon-Transportpartner versendest entscheidet Amazon, mit welchem Versanddienstleister die Artikel versendet werden.<br>
Im Amazon Seller Central musst du deshalb die Geschäftsbedingungen für das Amazon-Transportpartner-Programm sowie die Geschäftsbedingungen aller zur Verfügung stehenden Versanddienstleister akzeptieren. Sonst kann es zu Fehlermeldungen kommen, wenn Amazon einen Versanddienstleister wählt, den du normalerweise nicht einsetzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>FBA-Inbound-Auftrag bei Amazon anmelden (Amazon-Transportpartner):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p>Klicke auf den Auftrag.<br>
→ Die Optionen für die Auftragsbearbeitung werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Paketinhaltsliste</strong>.<br>
→ Der Auftrag wird im Menü <strong>Aufträge » Paketinhaltsliste</strong> angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong>.<br>
<strong><em>Hinweis:</em></strong> Die Schaltfläche <strong>Anmelden</strong> wird nur angezeigt, wenn du die Paketinhaltsliste über das Menü <strong>Waren » Amazon FBA Inbound</strong> öffnest und du alle Pakete und Paletten geschlossen hast.
→ Das Fenster <strong>Auftrag anmelden</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die <strong>Versandart</strong> aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Wenn du mit einem Amazon-Transportpartner versendest, steht dir nur die Versandart <strong>Paketsendung</strong> zur Verfügung.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Amazon-Transportpartner</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ja</strong>.<br>
→ Eine neue Ansicht öffnet sich.</p>
</li>
<li>
<p>Klicke auf <strong>Versandkosten einholen</strong>, um eine Anfrage zu den geschätzten Versandkosten an Amazon zu senden.<br>
→ Die geschätzten Versandkosten werden in plentymarkets importiert.</p>
</li>
<li>
<p>Um die Versandkosten zu akzeptieren, klicke auf <strong>Versandkosten annehmen</strong>.<br>
→ Der Auftrag wird bei Amazon angemeldet.<br>
→ Der Status ändert sich in <em>Bestätigt</em>.<br>
→ Die Versandetiketten werden generiert.</p>
</li>
<li>
<p>Klicke auf <strong>Labels drucken</strong>.<br>
→ Das Versandetikett wird heruntergeladen und du kannst es anschließend drucken.</p>
</li>
<li>
<p>Bringe das Versandetikett an dem Paket an.</p>
</li>
<li>
<p>Sende das Paket an das Amazon FBA-Lager.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect3">
<h4 id="180">4.6.4. FBA-Inbound-Auftrag bei Amazon stornieren</h4>
<div class="paragraph">
<p>Wenn du den FBA-Inbound-Auftrag fälschlicherweise angemeldet hast, kannst du die Anmeldung bei Amazon wieder rückgängig machen, indem du die Sendung stornierst.</p>
</div>
<div class="paragraph">
<p>Klicke dazu auf die Schaltfläche <strong>Bestätigung stornieren</strong>. Der Auftrag erhält nach der erfolgreichen Stornierung wieder den Status <em>In Arbeit</em>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Fristen für die Stornierung beachten</div>
<div class="paragraph">
<p>Beachte die Fristen, die Amazon für die Stornierung vorgibt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Paketsendungen kannst du innerhalb von 24 Stunden stornieren.</p>
</li>
<li>
<p>LKW-Teilladungen/LKW-Ladungen kannst du innerhalb von 1 Stunde stornieren.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>FBA-Inbound-Auftrag bei Amazon stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Waren » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p>Klicke auf den Auftrag.<br>
→ Die Optionen für die Auftragsbearbeitung werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigung stornieren</strong>.<br>
→ Die Stornierung wird an Amazon gesendet.<br>
→ Der Status ändert sich in <em>In Arbeit</em>.<br>
<strong><em>Tipp:</em></strong> Du kannst die Sendung jederzeit wieder anmelden, indem du die Versandkosten anforderst und akzeptierst.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Wenn du eine Sendung löschen möchtest, musst du die Sendung im Amazon Seller Central löschen. Sendung können über plentymarkets nicht gelöscht werden.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="20">5. FBA-Outbound-Aufträge verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Informationen zur Abwicklung von FBA-Outbound-Aufträgen. Zur Erinnerung: Outbound bedeutet, dass Amazon für dich Vertrieb und Versand übernimmt.</p>
</div>
<div class="sect2">
<h3 id="_ablauf_von_outbound_aufträgen">5.1. Ablauf von Outbound-Aufträgen</h3>
<div class="paragraph">
<p>Die Auftragsbearbeitung von Outbound-Aufträgen hat folgenden Ablauf:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kund:innen kaufen bei Amazon.</p>
</li>
<li>
<p>Amazon verschickt die Ware.</p>
</li>
<li>
<p>plentymarkets fordert einen Bericht an.</p>
</li>
<li>
<p>Amazon erstellt den Bericht.</p>
</li>
<li>
<p>Am nächsten Tag prüft plentymarkets automatisch, ob Berichte bei Amazon vorliegen. Wenn ja, werden die Berichte importiert.</p>
</li>
<li>
<p>Aus den Berichten werden in plentymarkets Aufträge erzeugt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Amazon FBA-Outbound-Aufträge werden mit den Parametern <strong>Status</strong> und <strong>Herkunft</strong> importiert. Für die Option <strong>Status</strong> legst du den für deinen Prozess passenden Status fest, also zum Beispiel <strong>[7] Warenausgang gebucht</strong>. Die Herkunft wird automatisch auf Amazon FBA oder eine Amazon FBA-Unterherkunft, wie z.B. Amazon FBA USA, gesetzt. Der Warenausgang wird hier in plentymarkets direkt gebucht, so dass keine Reservierung des Bestands der enthaltenen Artikelpositionen stattfindet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ereignisaktionen für Fulfillment</div>
<div class="paragraph">
<p>Lege die für den Fulfillment-Prozess nötigen Ereignisaktionen an, um eine Rechnung zu erzeugen und per E-Mail automatisch an Käufer:innen zu senden sowie den Auftrag dann in einen weiteren Status zu setzen.<br>
Beachte dazu die Handbuchseiten <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> und <a href="/fulfillment">Standard-Fulfillment im Detail</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis zum Auftragsimport</div>
<div class="paragraph">
<p>Amazon generiert Berichte nur einmal täglich. Da Artikel nach bis zu 2 Tagen versendet werden, sind FBA-Aufträge erst mit einer zeitlichen Verzögerung in deinem System verfügbar. Die von Amazon generierte Auftragsbestätigung ist in der Regel zwei Tage nach Versand der Ware in deinem System verfügbar, also insgesamt bis zu 4 Tage nach Bestellung der Ware durch Käufer:innen. Die Lieferpünktlichkeit wird davon jedoch nicht berührt und erfolgt in der von Amazon gewohnten Schnelligkeit.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="30">5.2. FBA-Outbound-Teillieferungen</h3>
<div class="paragraph">
<p>Amazon FBA-Teillieferungen werden von Amazon veranlasst, wenn sich die von Amazon Outbound-Auftrag versendete Ware in unterschiedlichen Amazon-Lagern befindet. Bei den Kund:innen kommen nach Bestellung also mehrere Pakete zu einem getätigten Auftrag an.
In plentymarkets wird jede FBA-Outbound-Teillieferung anhand des versendenden FBA-Lagers als separater Auftrag im System erstellt. Pro Teillieferung kann eine Sendungsnummer von Amazon importiert und der jeweiligen Teillieferung zugeordnet werden. Pro Teillieferung kann eine separate Rechnung erzeugt werden, was aufgrund der unterschiedlichen zu berechnenden Steuern erforderlich ist, wenn die Amazon-Lager in unterschiedlichen Ländern liegen.</p>
</div>
</div>
</div>
</div>
</main>