<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>stripos</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Finds the first occurrence of a string ignoring case.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">stripos( string $_haystack  , string $_needle  , int $_offset  ) : int</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples">Examples</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_array = {"Id":"100","Name":"Couch Red","Price":"400 €"};

	if (array_key_exists("Price", $_array))
	{
		print("Der Artikel ".$_array["Name"]." kostet ".$_array["Price"]);
	}
&#37;&#125;

{# Outputs: Der Artikel Couch Red kostet 400 €  #}</code></pre>
</div>
</div>
</div>
</div>
</main>