<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_listings_exportieren"><span>1.</span><span> Listings exportieren</span></a></li>
<li><a href="#_ebay_merkmale_mit_elasticsync_in_plentymarkets_importieren"><span>2.</span><span> eBay-Merkmale mit ElasticSync in plentymarkets importieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay-Merkmale anlegen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Seite erklären wir dir, wie du mit ElasticSync eBay-Merkmale zu deinen Listings hinzufügen kannst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_listings_exportieren">1. Listings exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Exportiere zunächst die Listings, zu denen du das Merkmal hinzufügen möchtest. Du benötigst eine CSV-Datei mit deinen Listings, um dort die gewünschten Merkmale einzupflegen. Dazu erstellst du mit dem dynamischen Export im Menü <strong>Daten » Dynamischer Export</strong> ein Datenformat des Typs <strong>ItemListingMarketEbay</strong>, mit dem du die Merkmale exportierst.<br></p>
</div>
<div class="paragraph">
<p>Für die eBay-Merkmale benötigst du die Felder <strong>EbayItemSpecificsName</strong> und <strong>EbayItemSpecificsValue</strong>.</p>
</div>
<div class="paragraph">
<p>Datenformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Datenformat</strong>.<br>
→ Eine Ansicht zum Bearbeiten des Datenformats öffnet sich.</p>
</li>
<li>
<p>Wähle <strong>ItemListingMarketEbay</strong> aus der Dropdown-Liste <strong>Datenformat-Typ</strong>.</p>
</li>
<li>
<p>Gib einen <strong>Datenformatsnamen</strong> ein.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>EbayItemSpecificsName</strong>, <strong>EbayItemSpecificsValue</strong> und <strong>MLID</strong>. Diese Felder werden für den Export von Listing-Merkmalen benötigt.</p>
</li>
<li>
<p><strong>Speichere</strong> das Datenformat, nachdem du ggf. weitere Einstellungen vorgenommen hast.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem du das Datenformat <strong>ItemListingMarketEbay</strong> erstellt hast, klicke auf <strong>Daten exportieren</strong>, um die CSV-Datei zu generieren.<br></p>
</div>
<div class="paragraph">
<p>Speichere die eben generierte CSV-Datei lokal auf deinem Rechner und passe sie an.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Formatierung der CSV-Datei beachten</div>
<div class="paragraph">
<p>Achte bei der CSV-Datei, die du importieren möchtest, auf die Formatierung der Einträge für die eBay-Merkmale.<br>
Mehrere Einträge müssen durch Komma getrennt eingegeben werden.<br>
<em>Beispiel:</em> In der Spalte <strong>Name</strong> die Werte "Farbe", "Größe" kommagetrennt eingeben und in der Spalte <strong>Wert</strong> die passenden Werte "Grün", "XXL" kommagetrennt eingeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_ebay_merkmale_mit_elasticsync_in_plentymarkets_importieren">2. eBay-Merkmale mit ElasticSync in plentymarkets importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit ElasticSync im Menü <strong>Daten » ElasticSync</strong> kannst du nun die CSV-Datei mit den neuen Merkmalen in dein plentymarkets System importieren. Dazu erstellst du einen Sync des Typs <strong>Market-Listing</strong>.</p>
</div>
<div class="paragraph">
<p>Sync erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Sync hinzufügen</strong>.<br>
→ Eine Ansicht zum Bearbeiten des Syncs wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für den Sync ein.</p>
</li>
<li>
<p>Wähle <strong>Market-Listing</strong> aus der Dropdown-Liste <strong>Typ</strong>.</p>
</li>
<li>
<p>Im Bereich <strong>Import</strong> lässt du die voreingestellten Optionen so, wie sie sind.</p>
</li>
<li>
<p>Im Bereich <strong>Trennzeichen</strong> wählst du statt des voreingestellten Semikolons die Option <strong>Tabulator</strong>.</p>
</li>
<li>
<p>Im Bereich <strong>Quelle</strong> wählst du die Option <strong>HTTP</strong>.<br>
→ Das Eingabefeld <strong>URL</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib eine <strong>URL</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du hast nun die CSV-Datei erfolgreich hochgeladen. Als nächstes nimmst du die Einstellungen für den Abgleich und die Zuordnungen vor.</p>
</div>
<div class="paragraph">
<p>Abgleich einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Abgleich</strong> in der linken Seite des Fensters.</p>
</li>
<li>
<p>Wähle <strong>MLID</strong> für das Abgleichfeld <strong>Market-Listing-ID</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Im Bereich <strong>Importoptionen</strong> wählst du die Option <strong>Nur neue Daten importieren</strong>.</p>
</li>
<li>
<p>Wähle ggf. die Dezimalzahl und das Datumsformat.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nimm als nächstes die Einstellungen für die Zuordnung vor.</p>
</div>
<div class="paragraph">
<p>Zuordnung einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Zuordnung</strong> in der linken Seite des Fensters.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung hinzufügen</strong>.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Ein Bereich für die Zuordnung öffnet sich.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In diesem Bereich ordnest du die Felder aus deiner CSV-Datei den plentymarkets Datenfeldern zu.<br></p>
</div>
<div class="paragraph">
<p>Auf der linken Seite im Bereich <strong>Importdaten</strong> siehst du die Bezeichnungen in der Kopfzeile aus deiner CSV-Datei. Diese Bezeichnungen hat plentymarkets bereits automatisch aus deiner CSV-Datei übernommen. Auf der rechten Seite im Bereich <strong>plentymarkets Datenfelder</strong> ordnest du nun das entsprechende Gegenstück zu.</p>
</div>
<div class="paragraph">
<p>Beispiel: Quellen für eBay-Merkmale dem passenden plentymarkets Datenfeld zuordnen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Auf der linken Seite siehst du die Quelle <strong>MLID</strong>. Klicke auf der rechten Seite in dieselbe Zeile und ordne das Datenfeld <strong>MLID</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Ordne der Quelle <strong>EbayItemSpecificsName</strong> das Datenfeld <strong>Market-Listing-Merkmal / Name</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Ordne der Quelle <strong>EbayItemSpecificsValue</strong> das Datenfeld <strong>Market-Listing-Merkmal / Wert</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Aktiviere alle Zeilen über den Toggle-Button <strong>Zeile aktivieren</strong> auf der linken Seite.<br>
→ <em>Wichtig:</em> Die zu importierenden Datenfelder müssen alle aktiviert sein, damit die Zuordnung korrekt erfolgen kann.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Mit einem Klick auf <strong>Vorschau</strong> kannst du dir eine Vorschau der Datei anzeigen lassen und die Inhalte prüfen.</p>
</li>
<li>
<p>Klicke auf <strong>Sync starten</strong>, um die eBay-Merkmale in plentymarkets zu importieren.</p>
</li>
</ol>
</div>
</div>
</div>
</main>