<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Fahrzeugverwendungsliste erstellen</span></a></li>
<li><a href="#200"><span>2.</span><span> Fahrzeugverwendungsliste aktualisieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Fahrzeugverwendungsliste erstellen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Sync-Typ <strong>Fahrzeugverwendungsliste</strong> erstellst, aktualisierst, oder löschst du im Menü <strong>Daten » ElasticSync</strong> vollständige Fahrzeugverwendungslisten oder einzelne Datensätze aus den Fahrzeugverwendungslisten.<br></p>
</div>
<div class="paragraph">
<p>In diesem Best Practice erfährst du, worauf du achten musst, wenn du mit dem Sync-Typ <strong>Fahrzeugverwendungsliste</strong> mit ElasticSync eine Fahrzeugverwendungliste erstellen oder aktualisieren möchtest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Fahrzeugverwendungsliste erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beachte folgende Hinweise, wenn du eine neue Fahrzeugverwendungsliste erstellen möchtest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Pflichtfelder</strong> für die Erstellung einer Fahrzeugverwendungsliste mit ElasticSync:</p>
<div class="ulist">
<ul>
<li>
<p>Name</p>
</li>
<li>
<p>Herkunfts-ID</p>
</li>
<li>
<p>Kategorie-ID</p>
</li>
</ul>
</div>
</li>
<li>
<p>Damit alle Datensätze/Listeneinträge in einer Fahrzeugverwendungsliste angelegt werden, müssen Name, Herkunfts-ID und Kategorie-ID bei jedem Datensatz/Listeneintrag identisch sein.</p>
</li>
<li>
<p>Wenn die Datensätze/Listeneinträge für Name, Herkunfts-ID und Kategorie-ID bereits in dieser Kombination existieren, wird keine neue Fahrzeugverwendungsliste erstellt und auch nicht aktualisiert.</p>
</li>
<li>
<p>Wenn eine Fahrzeugverwendungsliste erstellt werden soll und keine Fahrzeug-ID angegeben ist, wird nicht geprüft, ob das Fahrzeug bereits existiert. Das Fahrzeug wird stattdessen neu erstellt. Beachte deshalb, dass es hierbei zu Doppelungen kommen kann.</p>
</li>
<li>
<p>Wenn keine Fahrzeug-ID angegeben ist, wird ein neues Fahrzeug erstellt.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fahrzeugverwendungsliste aktualisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beachte folgende Hinweise, wenn du eine bereits existierende Fahrzeugverwendungsliste aktualisieren möchtest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Pflichtfeld</strong>, um eine bereits existierende Fahrzeugverwendungsliste zu aktualisieren:</p>
<div class="ulist">
<ul>
<li>
<p>Fahrzeugverwendungsliste-ID</p>
</li>
</ul>
</div>
</li>
<li>
<p>Alle anderen Werte können wie gewünscht angegeben werden.</p>
</li>
<li>
<p>Immer wenn eine Listen-ID angegeben ist, wird die Fahrzeugverwendungsliste aktualisiert.</p>
</li>
<li>
<p>Wenn nur Listen-ID und Fahrzeugeigenschaften angegeben sind, dann werden die Fahrzeugeigenschaften als ein neues Fahrzeug zu dieser Liste hinzugefügt.</p>
</li>
<li>
<p>Wenn Fahrzeugeigenschaften aktualisiert werden sollen, dann werden zunächst alle Fahrzeugeigenschaften gelöscht und nur die Fahrzeugeigenschaften aus der CSV-Datei übernommen.</p>
</li>
<li>
<p>Wenn eine Fahrzeug-ID angegeben ist, wird die Liste immer aktualisiert. Bitte prüfe deshalb, dass die Fahrzeug-ID und die Fahrzeugverwendungslisten-ID korrekt sind, da ansonsten die falsche Liste aktualisiert wird.</p>
</li>
</ul>
</div>
</div>
</div>
</main>