<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#kontaktdaten"><span>1.</span><span> Kontaktdaten importieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kontaktdaten</h1><div class="sect1">
<h2 id="kontaktdaten">1. Kontaktdaten importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel beschreiben wir, wie du Kontaktdaten in plentymarkets importierst. Dazu benötigst du eine CSV-Datei mit den Daten, die du importieren möchtest. Speichere diese Datei auf deinem Computer. Gehe dann wie im Folgenden beschrieben vor.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Aufbau der Datei: Beispieldatei mit Musterdaten</div>
<div class="paragraph">
<p>Unter diesem <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/ElasticSync_BestPractice/BP_Musterdaten_Kontaktdaten.csv.zip" target="_blank" rel="noopener">Link</a> findest du eine Beispieldatei mit Musterdaten, die du als Test für den Import von Kontaktdaten nutzen kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastic Sync NEW</strong>.</p>
</li>
<li>
<p>Klicke auf das Plus-Zeichen (<strong>Sync hinzufügen</strong>).</p>
</li>
<li>
<p>Gib im Bereich <strong>Grunddaten</strong> einen Namen ein.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Typ</strong> die Option <strong>Kontakte, Firmen, Adressen</strong>.</p>
</li>
<li>
<p>Im Bereich <strong>Import</strong> lässt du die voreingestellten Optionen so wie sie sind.</p>
</li>
<li>
<p>Im Bereich <strong>Trennzeichen</strong> wählst du statt des voreingestellten Semikolons die Option <strong>Tabulator</strong>.</p>
</li>
<li>
<p>Im Bereich <strong>Quelle</strong> wählst du die Option <strong>HTTP</strong>.<br>
→ Drei weitere Zeilen werden angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>HTTP-Optionen</strong> die Option <strong>Datei-Upload</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>URL</strong> auf die Schaltfläche mit den drei Punkten (<strong>Datei wählen</strong>).<br>
→ Ein Fenster öffnet sich.</p>
</li>
<li>
<p>Klicke auf <strong>Datei hochladen</strong>, wähle die CSV-Datei mit den Kontaktdaten, die du importieren möchtest, und klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen in der Zeile der Datei und klicke einmal in die Zeile der Datei.<br>
→ <strong><em>Wichtig:</em></strong> Die Zeile muss noch einmal geklickt werden. Erst wenn die Zeile blau gefärbt ist, kannst du sie mit einem Klick auf <strong>Wählen</strong> hochladen.<br>
→ Die URL – also der Pfad, von wo aus du die CSV-Datei hochgeladen hast – ist nun im Feld <strong>URL</strong> grau hinterlegt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du hast die CSV-Datei nun erfolgreich hochgeladen. Im Folgenden nimmst du die Einstellungen für den Abgleich und die Zuordnung vor.</p>
</div>
<div class="paragraph instruction">
<p>Abgleich einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke ganz links auf <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Im Bereich <strong>Abgleich</strong> musst du mindestens eine der vier vorhandenen Optionen einem deiner Felder aus der CSV-Datei zuordnen.<br>
<strong><em>Hinweis:</em></strong> Wenn du noch keine Kontakt-IDs hast, ist es sinnvoll den Abgleich über die E-Mail-Adresse durchzuführen.</p>
</li>
<li>
<p>Im Bereich <strong>Importoptionen</strong> wählst du die Option <strong>Nur neue Daten importieren</strong>.</p>
</li>
<li>
<p>Wähle ggf. die Dezimalzahl und das Datumsformat.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nimm nun die Einstellungen für die Zuordnung vor.</p>
</div>
<div class="paragraph instruction">
<p>Zuordnung einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke ganz links auf <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf das Plus-Zeichen (<strong>Zuordnung hinzufügen</strong>).</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Der Bereich <strong>Importdaten / plentymarkets Datenfelder</strong> öffnet sich.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In diesem Bereich ordnest du die Felder aus deiner CSV-Datei den Feldern in plentymarkets zu. Auf der linken Seite im Bereich <strong>Importdaten</strong> siehst du die Bezeichnungen in der Kopfzeile aus deiner CSV-Datei. Diese Bezeichnungen hat plentymarkets bereits automatisch aus deiner CSV-Datei übernommen.</p>
</div>
<div class="paragraph">
<p>Auf der rechten Seite im Bereich <strong>plentymarkets Datenfelder</strong> musst du nun das entsprechende Gegenstück aus der Liste wählen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Pflichtfelder für Kontaktdaten</div>
<div class="paragraph">
<p>Beim Import von Kontaktoptionen sind die Felder <strong>Typ</strong> und <strong>Herkunft</strong> Pflichtfelder. Diese beiden Felder sind mit einem Sternchen (<strong>*</strong>) gekennzeichnet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Beispiel: Quelle <strong>Vorname</strong> dem passenden plentymarkets Datenfeld zuordnen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Auf der linken Seite siehst du die Quelle <strong>Vorname</strong>. Klicke auf der rechten Seite in dieselbe Zeile und gib <strong>Vorname</strong> in der Suche ein.</p>
</li>
<li>
<p>Klicke auf <strong>Vorname</strong>.</p>
</li>
<li>
<p>Klicke unterhalb der Liste auf den grünen Haken (<strong>Auswählen</strong>).</p>
</li>
<li>
<p>Aktiviere in dieser Zeile ganz links die Umschaltfläche (<strong>Zeile aktivieren</strong>).<br>
<strong><em>Wichtig:</em></strong> Die zu importierenden Datenfelder müssen alle aktiviert sein, damit die Zuordnung korrekt erfolgen kann.</p>
</li>
<li>
<p>Klicke ganz unten links auf die Schaltfläche <strong>Feld</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Eigener Wert</strong>.</p>
</li>
<li>
<p>Gib als Wert 0 oder 1 ein.<br>
→ 0 steht für die Herkunft <strong>Manuelle Anlage</strong> und die 1 steht für die Herkunft <strong>Webshop</strong>.</p>
</li>
<li>
<p>Gib auf der rechten Seite <strong>Herkunft</strong> in der Suche ein.</p>
</li>
<li>
<p>Klicke auf <strong>Herkunft</strong>*.</p>
</li>
<li>
<p>Klicke unterhalb der Liste auf den grünen Haken (<strong>Auswählen</strong>).</p>
</li>
<li>
<p>Aktiviere auch in dieser Zeile ganz links die Umschaltfläche (<strong>Zeile aktivieren</strong>).<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Klicke auf <strong>Vorschau</strong>, um dir eine Vorschau der Datei anzeigen zu lassen und die Inhalte zu prüfen.</p>
</div>
<div class="paragraph">
<p>Zu guter Letzt klickst du auf die Abspielschaltfläche (<strong>Sync ausführen</strong>). Je nach der zu importierenden Datenmenge kann dies einige Zeit dauern. Wenn der Sync durchgelaufen ist, erscheint die Meldung <strong>Sync beendet</strong>.</p>
</div>
<div class="paragraph">
<p>Nun kannst du im Menü <strong>CRM » Kontakte</strong> prüfen, ob der Import der Kontaktdaten erfolgreich war.</p>
</div>
</div>
</div>
</main>